﻿<style>
    .error {
        color: red;
    }
    td.k-state-selected{
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    td.k-state-selected:hover{
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    .k-list>.k-state-focused.k-state-selected
    {
        border-color: transparent !important;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13);
    }
    div > form.k-filter-menu > div > label
    {
        padding-left: 5px;
    }
</style>

<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li class="activelead1" rel="tab7">
                <a href="#!/listNews">
                    <h3><i class="fal fa-newspaper fa_icon"></i><br />News & Updates</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns" ng-if="Permission.AddNews">
            <div class="plus_but tooltip-bottom" style="text-align:center;" data-tooltip="Add News Updates" ng-click="addNews()"><i class="far fa-plus-square"></i></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-7 col-md-8 col-xl-9 no-right-padding">
                <div class="h3 h3-sm-margin">

                </div>
            </div>
        </div>
        
    </div>

    <div class="tab_container tpsearch_content">
        <div class="error error_msg" ng-show="!Permission.ViewNews" style="padding-top:30px;padding-left:20px;">
            You don't have permission to this page.
        </div>
        <div class="p-3" ng-if="Permission.ViewNews">
            <form id="crm-form-detail" name="formquote" unsaved-warning-form>
                <!--<button type="button" ng-click="toggleView()">
                    {{ViewButtonDisplayName}}
                </button>-->
                <h5 class="mb-3">Listed Sequence is Display Sequence on Dashboard</h5>

                <!--<div ng-hide="companyView == true" >My Appointments</div>
                <div ng-show="companyView == true">All Appointments</div>-->
                <div>
                    <kendo-grid id="NewsGrid"
                                options="NewsGridOptions"
                                style="margin-bottom:40px !important;">
                    </kendo-grid>
                </div>
                <!---end inner tab-->
            </form>

            <!--<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
        </div>
    </div>

</div>