﻿<style>
    .error {
        color: red;
    }
</style>

<div class="lead_stab">
    <ul class="tabs1 landing_tab">
        <li class="activelead1" rel="tab7">
            <a href="#!/listNews">
                <h3><i class="fal fa-newspaper fa_icon"></i><br />News & Updates</h3>
            </a>
        </li>
    </ul>
    <div class="leaddetail_butns">
        <ul class="tp_btnlist">
            <li>
            <button ng-if="Permission.AddNews" type="button" class="tooltip-bottom cancel_tpbut" data-tooltip="New News" ng-click="addNews()">
                <i class="far fa-user-plus fa_icon"></i>
                </button>
            </li>
            <li>
            <button ng-if="Permission.EditNews" type="button" class="tooltip-bottom save_tpbut"  data-tooltip="Edit News" ng-click="redirecttoEditNews()">
                <i class="far fa-pen fa_icon"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="tab_container tpsearch_content">
    <div class="error error_msg" ng-show="!Permission.ViewNews" style="padding-top:30px;padding-left:20px;">
        You don't have permission to this page.
    </div>
  <div class="col-xs-12 col-sm-12 col-lg-10 col-xl-10 col_1">
    <div class="p-3" ng-show="Permission.ViewNews">
        <form id="crm-form-detail" name="formnews" unsaved-warning-form>
            <div class="form-group row ml-0 mr-0">
                <label class="col-sm-3 col-xs-3 text_detlabel">Headline (title)</label>
                <div class="col-sm-9 col-xs-9">
                    {{News.Headline}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 col-xs-3"></div>
                <div class="col-sm-9 col-xs-9 row no-margin">
                    <div class="col-xl-2">
                        <div ng-class="{true: 'has-error'}">
                            <div class="radio-group">
                                <label class="news_field">Active</label>
                                    <input type="checkbox" disabled class="option-input checkbox ml-1" 
                                           ng-model="News.IsActive"> 
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="row no-margin" ng-class="{true: 'has-error'}[submitted && formnews.fromDate.$invalid]">
                            <label class="col-sm-6 col-xs-6 text_detlabel">Display From</label>
                            <div class="col-sm-6 col-xs-6 pr-0">
                                <label class="ldet_label">{{News.StartDate|GlobalTime:'shortDate'}}</label>
                                <!--<input kendo-date-picker
                                       k-format = "HFCService.StaticKendoDateFormat()"
                                       id="fromDate"
                                       type="text" name="fromDate"
                                       data-date-format="MM/dd/yyyy"
                                       ng-change="DispalyFromChange1()"
                                       ng-model="News.StartDate" style="height:26px !important; width:100%;"
                                       class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                       data-autoclose="true">-->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="row no-margin" ng-class="{true: 'has-error'}[submitted && formnews.endDate.$invalid]">
                            <label class="col-sm-6 col-xs-6 text_detlabel">Display Through</label>
                            <div class="col-sm-6 col-xs-6 pr-0">
                                <label class="ldet_label">{{News.EndDate|GlobalTime:'shortDate'}}</label>
                                <!--<input kendo-date-picker
                                       k-format = "HFCService.StaticKendoDateFormat()"
                                       id="toDate"
                                       type="text" name="endDate"
                                       data-date-format="MM/dd/yyyy"
                                       ng-change="DispalytoChange1()"
                                       ng-model="News.EndDate" style="height:26px !important; width:100%;"
                                       class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                       data-autoclose="true">-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 col-xs-3"></div>
                <div class="col-sm-9 col-xs-9 row no-margin">
                    <div class="col-xl-4">
                        <div class="radio-group">
                            <label class="news_field">Budget Blinds</label><input type="checkbox" disabled class="option-input checkbox ml-2" 
                                                                                  ng-model="News.appliesToBB">
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="radio-group">
                            <label class="news_field">Tailored Living</label><input type="checkbox" disabled class="option-input checkbox ml-2" 
                                                                                    ng-model="News.appliesToTL">
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="radio-group">
                            <label class="news_field">Concrete Craft</label><input type="checkbox" disabled class="option-input checkbox ml-2" 
                                                                                   ng-model="News.appliesToCC">
                        </div>
                    </div>
                </div>
            </div>

                <!--<div class="form-radio_group row ml-0 mr-0">
            <label class="col-sm-3 col-xs-3"></label>
            <div class="col-sm-9 col-xs-9" ng-class="{true: 'has-error'}">
                <div class="radio-group">
                    <input type="checkbox" disabled class="option-input checkbox"
                           ng-model="News.IsActive"> <label>Active</label>
                </div>
            </div>
        </div>-->
                <!-- Brand specific implementation -->
                <!--<div class="form-radio_group row ml-0 mr-0">
                    <label class="col-sm-3 col-xs-3">Budget Blinds</label>
                    <div class="col-sm-9 col-xs-9">
                        <div class="radio-group">
                            <input type="checkbox" disabled class="option-input checkbox"
                                   ng-model="News.appliesToBB">
                        </div>
                    </div>
                </div>
                <div class="form-radio_group row ml-0 mr-0">
                    <label class="col-sm-3 col-xs-3">Tailored Living</label>
                    <div class="col-sm-9 col-xs-9">
                        <div class="radio-group">
                            <input type="checkbox" disabled class="option-input checkbox"
                                   ng-model="News.appliesToTL">
                        </div>
                    </div>
                </div>
                <div class="form-radio_group row ml-0 mr-0">
                    <label class="col-sm-3 col-xs-3">Concrete Craft</label>
                    <div class="col-sm-9 col-xs-9">
                        <div class="radio-group">
                            <input type="checkbox" disabled class="option-input checkbox"
                                   ng-model="News.appliesToCC">
                        </div>
                    </div>
                </div>-->

                <div class="form-group row"
                     ng-class="{true: 'has-error'}[submitted && formnews.message.$invalid]">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Short Content</label>
                    <div class="col-sm-9 col-xs-9">
                        <p ng-bind="News.trustedShortMessage"></p>
                    </div>
                </div>
                <div class="form-group row"
                     ng-class="{true: 'has-error'}[submitted && formnews.message.$invalid]">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Content</label>
                    <div class="col-sm-9 col-xs-9">
                        <p ng-bind-html="News.trustedMessage"></p>
                    </div>
                </div>
        </form>
      </div>
    </div>
    <div class="col-lg-2 col-xl-2 col_1"></div>
</div>

