﻿<style>
    td.k-editable-area {
        height: 450px !important;
    }
  
    .error {
        color: red;
    }

</style>
<div class="lead_stab">
    <ul class="tabs1 landing_tab">
        <li class="activelead1" rel="tab7">
            <a href="#!/listNews">
                <h3><i class="fal fa-newspaper fa_icon"></i><br />News & Updates</h3>
            </a>
        </li>
    </ul>
    <div class="leaddetail_butns">
        <ul class="orderlist_box">
            <li>
                <button ng-if="Permission.AddNews || Permission.EditNews" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-click="cancel()">
                    <i class="far fa-times-circle fa_icon"></i>
                </button>
            </li>
            <li>
                <button ng-if="Permission.EditNews || Permission.AddNews" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="saveNews()">
                    <i class="far fa-check-circle fa_icon"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="tab_container tpsearch_content">
    <div class="error" ng-show="!Permission.EditNews || !Permission.AddNews">
        You don't have permission to this page.
    </div>
    <div class="p-3" ng-show="Permission.EditNews || Permission.AddNews">
        <form id="crm-form-detail" name="formnews" unsaved-warning-form>
            <div class="row no-margin">
                <div class="col-xs-12 col-sm-12 col-md-10 col-xl-10 col_1">
                    <div class="source-group row"
                         ng-class="{true: 'has-error'}[submitted && formnews.headline.$invalid]">
                        <label class="col-sm-3 col-xs-3 required_label">Headline (title)</label>
                        <div class="col-sm-9 col-xs-9">
                            <input type="text" class="form-control frm_controllead1 required_field"
                                   name="headline"
                                   ng-model="News.Headline" required placeholder="Required"
                                   maxlength="50" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9 row no-margin">
                            <div class="col-xl-2">
                                <div ng-class="{true: 'has-error'}">
                                    <div class="radio-group">
                                        <label class="news_field">Active</label> <input type="checkbox" class="option-input checkbox ml-2"
                                                                                        ng-model="News.IsActive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 form-group">
                                <div class="row no-margin" ng-class="{true: 'has-error'}[submitted && formnews.fromDate.$invalid]">
                                    <label class="col-sm-6 col-xs-6 required_label">Display From</label>
                                    <div class="col-sm-6 col-xs-6 pr-0">
                                        <input kendo-date-picker
                                               k-format = "HFCService.StaticKendoDateFormat()"
                                               type="text" name="fromDate"
                                               data-date-format="MM/dd/yyyy"
                                               id="NewsFromDate"
                                               ng-model="News.StartDate"
                                               ng-change="DispalyFromChange()"
                                               class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date"
                                               data-autoclose="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 form-group">
                                <div class="row no-margin" ng-class="{true: 'has-error'}[submitted && formnews.endDate.$invalid]">
                                    <label class="col-sm-6 col-xs-6 required_label">Display Through</label>
                                    <div class="col-sm-6 col-xs-6 pr-0">
                                        <input kendo-date-picker
                                               k-format = "HFCService.StaticKendoDateFormat()"
                                               type="text" name="endDate"
                                               data-date-format="MM/dd/yyyy"
                                               id="NewsThroughDate"
                                               ng-change="DispalytoChange()"
                                               ng-model="News.EndDate"
                                               class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date"
                                               data-autoclose="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3 col-xs-3"></div>
                        <div class="col-sm-9 col-xs-9 row no-margin">
                            <div class="col-sm-4">
                                <div class="radio-group">
                                    <label class="news_field">Budget Blinds</label><input type="checkbox" class="option-input checkbox ml-2" 
                                                                                          ng-model="News.appliesToBB">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="radio-group">
                                    <label class="news_field">Tailored Living</label><input type="checkbox" class="option-input checkbox ml-2" 
                                                                                            ng-model="News.appliesToTL">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="radio-group">
                                    <label class="news_field">Concrete Craft</label><input type="checkbox" class="option-input checkbox ml-2" 
                                                                                           ng-model="News.appliesToCC">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row no-margin"
                         ng-class="{true: 'has-error'}[submitted && formnews.message.$invalid]">
                        <label class="col-sm-3 col-xs-3 text_detlabel">Short Content</label>
                        <div class="col-sm-9 col-xs-9">
                            <textarea id="shortMessageEditor" style="width:100%;" rows="4" cols="90" maxlength="250" ng-model="News.ShortMessage"></textarea>
                        </div>
                    </div>
                    <div class="form-group row no-margin"
                         ng-class="{true: 'has-error'}[submitted && formnews.message.$invalid]">
                        <label class="col-sm-3 col-xs-3 text_detlabel">Content</label>
                        <div class="col-sm-9 col-xs-9">
                            <!--<input type="text" class="form-control frm_controllead1 required_field"
                            name="message"
                            ng-model="News.Message"
                            maxlength="50" />-->

                            <textarea kendo-editor k-ng-model="News.Message"
                                      k-tools="[
                                    'bold',
                                    'italic',
                                    'underline',
                                    'strikethrough',
                                    'justifyLeft',
                                    'justifyCenter',
                                    'justifyRight',
                                    'justifyFull',
                                    'insertUnorderedList',
                                    'insertOrderedList',
                                    'indent',
                                    'outdent',
                                    'createLink',
                                    'unlink',
                                    'insertImage',
                                    'insertFile',
                                    'subscript',
                                    'superscript',
                                    'tableWizard',
                                    'createTable',
                                    'addRowAbove',
                                    'addRowBelow',
                                    'addColumnLeft',
                                    'addColumnRight',
                                    'deleteRow',
                                    'deleteColumn',
                                    'formatting',
                                    'cleanFormatting',
                                    'fontName',
                                    'fontSize',
                                    'print',
                                    'viewHtml'
                                ]"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-xl-2 col_1"></div>
            </div>
        </form>
    </div>
</div>


