﻿<style>
    ul.nofitications-dropdown {
        display:none !important;
    }
</style>
  <div class="row" style="margin:50px 0 0 !important;">
    <div class="col-sm-6 col-lg-6">
        <div class="p-3">
            <form id="crm-form-detail" name="formnews" unsaved-warning-form>
                <div class="source-group row">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Headline (title)</label>
                    <div class="col-sm-9 col-xs-9">
                        {{News.Headline}}
                    </div>
                </div>

                <!-- 
                    I also would like to make one additional request to the full page view of the 
                    article when a user clicks on the headline. 
                    Please only display the Headline and Content - 
                    no need to display the active flag -- by David.
                -->

                <!--<div class="source-group row">
                    <label class="col-sm-3 col-xs-3"></label>
                    <div class="col-sm-9 col-xs-9" ng-class="{true: 'has-error'}">
                        <div class="radio-group">
                            <input type="checkbox" disabled class="option-input checkbox"
                                   ng-model="News.IsActive"> <label>Active</label>
                        </div>
                    </div>
                </div>-->

                <div class="source-group row"
                     ng-class="{true: 'has-error'}[submitted && formnews.message.$invalid]">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Short Content</label>
                    <div class="col-sm-9 col-xs-9"  ng-bind="News.trustedShortMessage">

                    </div>
                </div>

                <div class="source-group row"
                     ng-class="{true: 'has-error'}[submitted && formnews.message.$invalid]">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Content</label>
                    <div class="col-sm-9 col-xs-9" ng-bind-html="News.trustedMessage">

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-6 col-lg-6"></div>
</div>
