﻿<!DOCTYPE html>
<html>
<head> <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        body {
            font-family:HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            background: #fff;
        }

        html {
            width: 100%;
        }

        table td, table td * {
            font-family:HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
        }
         table td a, table td a:hover, table td a:visited {
            color:#fff;
        }
            #customers {
    
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f0f0f0;
  
}
    </style>
</head>
<body style="width: 100%; text-align: center; font-family:HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;">
    <table width="100%" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td>
                    <table width="640" bgcolor="#f0f1f1" cellpadding="0" cellspacing="0" border="0" align="center" style="padding:30px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="640" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td width="640">
                                        <tbody>
                                            <tr>
                                                <td>
                                        <tbody>
                                            <tr>
                                                <td style="padding:25px 0 0; font-size: 11pt; text-align: left; font-family:HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; color: #434343;" valign="top" align="center">
                                           {{MailContent}}

                                                    <table width="640" border="0" align="center" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="640">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:25px 0 0; font-size: 11pt; text-align: left; font-family:HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; color: #434343;" valign="top" align="center">

                                                                    <table id="customers">
                                                                        {{TableData}}                                                                       

                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    
                                                    {{EndContent}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                </td>
                            </tr>
                         </tbody>
                    </table>
                </td>
            </tr>
         </tbody>
    </table>
   
</body>
</html>