﻿<!DOCTYPE html>
<html>
<head>
    <title>Touchpanel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Touchpanel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/new_style.css" rel='stylesheet' type='text/css' />
</head>
<body>
    <div style="page-break-inside: avoid">
        <div class="container-fluid">
            <section>
                <div class="print-detailbox">
                    <div style="border: 1px solid #555;">
                        <div style="padding:20px;">
                            <p style="width:50px; margin-top:-32px; padding-left: 5px; background:#fff;">Notes</p>
                            <div class="sub_expand">
                                <div class="table-responsive">
                                    <table class="table table-expand">
                                        <thead class="expand_lhead">
                                            <tr>
                                                <!--<th>Id</th>-->
                                                <th>Title</th>
                                                <th>Category</th>
                                                <th>Note</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{notes}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
