﻿<style>
    .k-grid tbody .k-button {
        min-width: 45px;
        font-size: 11px;
        margin: 0;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    #VendorGrid .k-grid-content.k-auto-scrollable, #gridEditMeasurements .k-grid-content.k-auto-scrollable {
        height:300px !important;
    }
    #QuotelinesGrid .k-grid-content.k-auto-scrollable {
        height:100% !important;
    }
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
    #prdDownloadlist-list .k-list-optionlabel {
        cursor: default;
        background-color: #fff !important;
        color: gray !important;
        border: none;
    }
    #modelDownloadlist-list .k-list-optionlabel {
        cursor: default;
        background-color: #fff !important;
        color: gray !important;
        border: none;
    }
    #prdDownloadlistrequired span span.prdrequired {
        color: red !important;
    }
    #modelDownloadlistrequired span span.modelrequired {
        color: red !important;
    }
    a.k-button.k-button-icontext.k-primary.k-grid-update {
        margin-bottom: 0 !important;
        margin-right: 2px;
    }
   .select2-container {
       width: 100%;
   }
   .k-grid-edit, .k-grid-fake {
       margin:2px!important;
       width:100px;
   }
   .k-grid-fake:hover,.k-grid-fake:focus{
       color:#fff!important;
   }
   .k-grid-fake.k-button[disabled]{
       font-size:11px!important;
       margin:2px!important;
       width:100px;
       margin-top:4px!important;
   }
   .k-grid-cancel,.k-grid-update
   {
       margin-top:4px!important;
   }
   .select2-container {
       border: 1px solid #ccc;
       border-radius: 5px;
       outline: none;
   }
   .select2-container .select2-chosen {
       color: #000 !important;
   }
   .select2-container .select2-choice {
       border: none !important;
   }
   .errorTP .select2-chosen {
       color: red !important;
   }
	.form-submitted .errorTP.select2-container {
       border-color: red !important;
   }
    label.configure_tooltip:after {
        width: 316px !important;
        margin-left: 2px;
    }

    .select2-drop.select2-with-searchbox.select2-drop-active {
        font-size: 14px !important;
    }

</style>

<div class="outter-wp" ng-controller="batchBBCoreProductConfigurator">
    <section class="my_sub_header_1"></section>
    <div class="lead_stab">
        <div class="leaddetail_butns">
            <button type="reset" ng-click="onCancel()" data-tooltip="{{returnToMpoOrxVpo}}" class="tooltip-bottom cancel_tpbut" ng-disabled="IsBusy"> <i class="far fa-chevron-circle-left fa_icon"></i></button>
            <button type="submit" class="tooltip-bottom cancel_tpbut" data-tooltip="Validate Product - Does NOT create quote line" ng-click="onSaveConfigurator()"><i class="far fa-clipboard-check fa_icon"></i></button>
            <button type="submit" ng-hide="EditconfigFromMPO" class="tooltip-bottom cancel_tpbut" data-tooltip="Validate & Create / Update Quote Line" ng-click="ValidateAndSaveConfigurator()"><i class="fa fa-sort-amount-asc fa_icon"></i></button>
            <button type="submit" ng-hide="EditconfigFromMPO" class="tooltip-bottom cancel_tpbut" data-tooltip="Validate Create / Update Quote Line and Return to Quote" ng-click="ValidateSaveConfiguratorAndReturn()"><i class="fa fa-share-square-o fa_icon"></i></button>
            <button type="button" ng-click="bringConfiguratorFeedback()" class="tooltip-bottom cancel_tpbut" data-tooltip="Configurator Feedback"><i class="fa fa-exclamation-circle fa_icon"></i></button>
            <div class="franchisenew_icon" style="margin:-1px 0 0 0; text-align:left;" hfc-statuses-overlay>
                <button type="button" ng-click="bringTooltipPopup()" class="plus_but tooltip-bottom" style="position:relative;"><i class="far fa-question-circle fa_icon"></i></button>
                <div class="statusCanvas" style="margin-right:30px; height:auto; width:700px !important; max-height:400px !important;
    overflow-y:scroll !important;"></div>
            </div>
            <!--MPO Buttons-->
            <button type="submit" ng-show="EditconfigFromMPO" class="tooltip-bottom cancel_tpbut" data-tooltip="Update Product" ng-click="ValidateAndSaveConfigurator()"><i class="fas fa-arrow-circle-up fa_icon"></i></button>
            <button type="submit" ng-show="EditconfigFromMPO" class="tooltip-bottom cancel_tpbut" data-tooltip="Update Product & Return MPO" ng-click="ValidateSaveConfiguratorAndReturn()"><i class="fas fa-bars fa_icon"></i></button>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tp_content">
        <div class="source-group row mx-0 my-2">
            <div class="col-lg-2 configurator_grid">
                <label class="text_detlabel">Account Name:</label>
                <label class="text_detlabel"><a class="hquote_hover" style="font-weight:100;" href="#!/Accounts/{{QuoteData.AccountId}}">{{QuoteData.AccountName}}</a></label>
            </div>

            <div class="col-lg-2 configurator_grid">
                <label class="text_detlabel">Opportunity Name:</label>
                <label class="text_detlabel"><a class="hquote_hover" style="font-weight:100;" href="#!/OpportunityDetail/{{QuoteData.OpportunityId}}">{{QuoteData.OpportunityName}}</a></label>
            </div>

            <div class="col-lg-2 configurator_grid">
                <label class="text_detlabel">Quote Name:</label>
                <label class="text_detlabel"><a class="hquote_hover" style="font-weight:100;" href="#!/quote/{{QuoteData.OpportunityId}}/{{QuoteData.QuoteKey}}">{{QuoteData.QuoteName}}</a></label>
            </div>
            <div class="col-lg-2 configurator_grid">
                <label class="text_detlabel">Sidemark:</label>
                <label ng-if="QuoteData.SideMark!=null" class="text_detlabel" style="font-weight:100;">{{QuoteData.SideMark}}</label>
                <label ng-if="QuoteData.SideMark==null" class="text_detlabel" style="font-weight:100;">{{QuoteData.QuoteName}}</label>
            </div>
            <div class="col-lg-2 configurator_grid">
                <label ng-show="EditconfigFromMPO" class="text_detlabel" style="font-weight:100;">MPO:</label>
                <label ng-show="EditconfigFromMPO" class="text_detlabel"><a class="hquote_hover" style="font-weight:100;" href="#!/purchasemasterview/{{mpoHeader.PurchaseOrderId}}">{{mpoHeader.MasterPONumber}}</a></label>
            </div>
        </div>

        <div class="table-responsive">
            <div class="p-3">
                <div class="row">
                    <div class="col-lg-5">
                        <kendo-grid id="VendorGrid" options="ProductGroup"></kendo-grid>
                    </div>
                    <div class="col-lg-7">
                        <kendo-grid id="gridEditMeasurements" options="viewMeasurements"></kendo-grid>
                        <span style="font-style:italic; font-size:13px;" ng-show="Measurements.length > 0">* Manually Entered Measurements</span>
                    </div>
                </div>
                <!--<div class="leadgrid_box">-->
                <ul kendo-panel-bar id="panelbar" style="padding-top:1% !important">
                    <li id="ConfigPanel" style="padding-bottom:10px;">

                        <span style="font-weight:bold; width:100%;"><label style="float:left; margin:0 30px 0 0 !important;">Configuration</label>                          
                        <label ng-show="selectedquoteLine" style="color: black;background: yellow;padding: 0px 5px;">
                            Editing Quote line # {{selectedquoteLine.QuoteLineNumber}} &nbsp;  with Window Name: {{selectedquoteLine.RoomName}}

                        </label>
                        </span>
                        <div class="table-responsive">
                            <!--<kendo-tooltip options="kendotooltipOptions">-->

                            <div id="picProductddl" class="source-group row state_field" style="display: none;padding-top: 1% !important;">
                                <label class="col-sm-3 text_label">Product</label>
                                <div class="col-sm-6">
                                    <span class="custom-dropdown custom-dropdown--white" id="prdDownloadlistrequired">
                                        <input id="prdDownloadlist" class="custom-dropdown__select custom-dropdown__select--white" style="width:100% !important;border: 1px solid #b2bfca;" />
                                    </span>
                                </div>
                            </div>
                            <div id="picModelGroup" class="source-group row state_field" style="display: none;">
                                <label class="col-sm-3 text_label">Model</label>
                                <div class="col-sm-6">
                                    <span class="custom-dropdown custom-dropdown--white" id="modelDownloadlistrequired">
                                        <input id="modelDownloadlist" class="custom-dropdown__select custom-dropdown__select--white" style="width:100% !important;border: 1px solid #b2bfca;" />
                                    </span>
                                </div>
                            </div>
                            <div id="ModelGrpError" class="source-group row state_field" style="display: none;text-align: center">
                                <i class="far fa-exclamation-triangle">
                                    <span id="modelWarning" style="color:orangered">
                                    </span>
                                </i>
                            </div>
                            <div class="leadgrid_box">
                                <div id="promptsOuter" style="margin:10px 15%; padding: 30px 0px 0px 10px; display: none; border: 1px solid rgb(204, 204, 204);">

                                    <p style="width: 130px; margin-top: -50px !important; margin-left: 15px; background-color: #F7F7F7; font-weight: bold; padding: 10px; margin: 10px;">Product Details</p>

                                    <div id="response" style="display: none; color: red !important; border: 1px solid red !important; margin: 20px; padding: 10px;"></div>

                                    <div class="state_field" style="font-size:13px">
                                        <table style="width: 100%">
                                            <tr style="display: table-row;">

                                                <th class="textbox-lmargin" style="width: 20%; text-align: right">Quantity</th>
                                                <td class="col-sm-12">
                                                    <!--<input ng-disabled="EditconfigFromMPO" class="prompt form-control frm_controllead" type="text"  ng-model="Quantity" style="display: inline !important;">-->

                                                    <input id="kenqty" kendo-numeric-text-box k-min="0" k-spinners="false" ng-disabled="EditconfigFromMPO" k-max="100" data-decimals="0" k-step="1" k-ng-model="Quantity" style="width: 50% !important;display: inline !important;" data-format="'n0'" />
                                                </td>
                                            </tr>
                                        </table>
                                        <table id="Prompts" style="width: 100%"></table>
                                    </div>
                                </div>
                            </div>
                            <!--</kendo-tooltip>-->
                        </div>
                    </li>
                    <li id="quotelistPanel">
                        <!--<span style="font-weight:bold; width:100%;"><label style="float:left; margin:0 30px 0 0 !important;">Quote Lines</label></span>-->
                        <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 30px 0 0 !important;">Quote Lines<label style="background:#fff; margin-left:10px; padding: 0px 6px; line-height: 20px; text-align: center; color:#000;">{{QuoteData.QuoteLinesVM.length }}</label></p><p style="float:left; margin:0 !important;">Product Subtotal:<label style="background:#fff; margin-left:10px; padding: 0px 6px; line-height: 20px; text-align: center; color:#000;">{{QuoteData.ProductSubTotal| currency:"$"}}</label></p></span>
                        <div class="leadgrid_box">
                            <!--<div style="margin-top:60px !important">
                                <b>Product Subtotal:</b> &nbsp;
                                <label class="ldet_label">{{QuoteData.ProductSubTotal| currency:"$"}}</label>
                            </div>-->
                            <kendo-grid id="QuotelinesGrid" options="quoteLinesOptions" k-save="saveFunction" k-cancel="cancelEditGrid" style="margin-top:10px !important;">
                            </kendo-grid>
                        </div>
                    </li>
                </ul>

                <!--<div class="row">
                    <div class="col-sm-12 col-xs-12 col-lg-12">
                        <div class="row" style="margin-top:40px !important;">
                            <div ng-show="EditconfigFromMPO" hfc-statuses-overlay1="" style="text-align: right;" class="ng-isolate-scope">
                                <button type="button" class="plus_but tooltip-bottom"><i class="far fa-question-circle"></i></button>
                                <div class="statusCanvas" style="margin-right: 50px; height: auto; width: 700px !important; right: 0px; display: none;">
                                    <div class="modal-content">
                                        <div class="modal-header popup_head" style="padding:5px 10px 25px 0;">
                                            <button type="button" class="close popup_close">×</button>
                                        </div>
                                        <div class="popup_procurement">
                                            <div class="modal-body_pricing" style="padding:10px 10px 0; text-align:center;">
                                                <p>
                                                    Quote line(s) displaying a <label class="ng-binding ldet_label error ng-scope" style="text-align:center;"><i class="fa fa-exclamation-triangle"></i></label> contain a VPO error.
                                                </p>
                                                <p>
                                                    When correcting the VPO error product options can be updated.
                                                </p>
                                                <p>
                                                    Vendor, Product Category, Product and model are not editable.
                                                </p>
                                                <p>
                                                    Cost and Margin will automatically be updated
                                                </p>
                                                <p>
                                                    If the Base Resale Price has changed, the customers quoted price is no longer valid. Touchpoint  will require a new quote to be created.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="text-align:center; border-top:0 !important;">
                                            <button type="submit" class="btn btn-primary tery_sm1">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>-->

                <!--</div>-->
            </div>
        </div>
    </div>
    <hfc-configurator-feedback></hfc-configurator-feedback>
</div>
<div class="modal fade" id="_statusModal_" style="height:auto;">
    <!--<div class="modal-dialog aditional_adrespopup">-->

    <div class="quotemodal-content">
        <div class="modal-header popup_head" style="padding:5px 10px 5px 0;">
            <h4 class="mx-auto modal-title">Configurator Tips</h4>
            <button type="button" class="close popup_close" data-dismiss="modal" aria-label="Close" onclick="$('.statusCanvas').hide()" id="ipadtooltipclosebutton"><span aria-hidden="true">×</span></button>
            
        </div>
       
            <div class="modal-body_pricing quoteconfig_tooltip">
                <h3 class="my-2">4 Basic Steps to Configuring Products</h3>
                <p><strong>Step 1:</strong> Select Measurement <span>(skip if you do not have pre-loaded measurements)</span></p>
                <p><strong>Step 2:</strong> Select Vendor and Product Category <span>(search field to find vendor/product at top)</span></p>
                <p><strong>Step 3:</strong> Configure Product <span>(if not pre-selected, enter room & measurements)</span></p>
                <p><strong>Step 4:</strong> Use down arrow <span>(top right icon)</span> <i class="fa fa-sort-amount-asc fa_icon"></i></p>
                <h3>To repeat configuration</h3>
                <p><strong>Step 5:</strong> Select the next measurement and click the down arrow, top right </p>
                <p><strong>Step 6:</strong> Enter new room name and measurement and click the down arrow, top right <span> (Use this step if measurements are not pre-loaded)</span></p>
                <h3 class="my-2">Advanced Configurator Tips</h3>
                <h4 class="my-2">Editing a Quote Line – Product Details change only </h4>
                <p><strong>Step 1:</strong> In configurator, click on desired quote line at bottom of configurator, details will load</p>
                <p><strong>Step 2:</strong> Make changes desired</p>
                <p><strong>Step 3:</strong> Click down arrow, top right</p>
                <h3>Editing a Quote Line – Changing Product</h3>
                <p><strong>Step 1:</strong> Click on desired quote line at bottom of configurator</p>
                <p><strong>Step 2:</strong> Select new vendor/product category</p>
                <p><strong>Step 3:</strong> Click on desired window name/measurement, top right box</p>
                <p><strong>Step 4:</strong> Select product options</p>
                <p><strong>Step 5:</strong> Click down arrow, top right </p>
             </div>
        </div>
    </div>
<!--<label id="ConfigSaveStatuss"style="color:#fff; font-size:20px; padding-top:600px;">{{ConfigSaveStatus}}</label>-->

<style type="text/css">
   
    .k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b9e !important;
        border-color: #3d7d8b9e !important;
    }

    table {
        border-collapse: collapse;
    }
    /*.k-grid-edit-row, .k-grid tr.k-alt.k-grid-edit-row {
         color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }*/
    tr + tr {
        /*border-top: 1px solid #aaa;*/
    }

    tr {
        vertical-align: middle !important;
    }

    td {
        padding-bottom: 10px !important;
    }

    #Prompts label {
        display: block;
        white-space: pre;
        float: left;
        margin: 0.1em;
        padding: 0.1em;
    }

        #Prompts label:hover {
            cursor: pointer;
            background-color: #eef;
        }

        #Prompts label input {
            vertical-align: baseline;
        }

    #SubmitButton {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.25em;
        margin-top: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    fractions {
        width: 15% !important;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $(".kendodrp").kendoDropDownList();
    });
</script>