﻿<div>

    <div class="modal fade" id="__configuratorFeedbackModal__" data-keyboard="false" data-backdrop="static">
        <div class="backDrop">

        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Configurator Feedback</h4>
                    <div>
                        <button type="reset" class="tooltip-bottom cancel_tpbut" style="color:#fff;" data-tooltip="Cancel" ng-click="ConfiguratorFeedback.CancelPopup('__configuratorFeedbackModal__')"><i class="far fa-times-circle fa_icon"></i></button>
                        <button type="submit" class="tooltip-bottom save_tpbut" style="color:#fff;" data-tooltip="Save" ng-click="ConfiguratorFeedback.SaveConfiguratorFeedback('__configuratorFeedbackModal__')"><i class="far fa-check-circle fa_icon"></i></button>
                    </div>
                </div>
                <form name="Configurator_addint" role="form">
                    <div class="modal-body">
                        <!--<div class="leaddetail_butns1">
                            <button type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-click="ConfiguratorFeedback.CancelPopup('__configuratorFeedbackModal__')"><i class="far fa-times-circle fa_icon"></i></button>
                            <button type="submit" class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="ConfiguratorFeedback.SaveConfiguratorFeedback('__configuratorFeedbackModal__')"><i class="far fa-check-circle fa_icon"></i></button>
                        </div>-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row-group row">
                                    <label class="text_detlabel">Select Error Type</label>
                                </div>
                                <div class="source-group row">
                                    <div class="w-100" ng-repeat="errorType in ConfiguratorFeedback.ErrorTypes">
                                        <div for="rbError_{{errorType.Id}}">
                                            <input id="rbError_{{errorType.Id}}" type="radio" class="option-input radio radio_space"
                                                   value="{{errorType.Id}}" ng-model="ConfiguratorFeedback.Configurator.RecordTypeId" name="ErrorType" ng-change="ErrorTypeChanged(ConfiguratorFeedback.Configurator.RecordTypeId)" />
                                            <label class="ldet_label"> {{errorType.Name}}</label>
                                        </div>
                                    </div>
                                </div>
                                <label style="color:red" ng-if="ConfiguratorFeedback.Configurator.RecordTypeId==0 && ConfiguratorFeedback.SaveClicked">Please select any one option.</label>
                            </div>
                            <div class="col-md-6">
                                <div class="row-group row">
                                    <label class="text_detlabel">Vendor</label>
                                </div>
                                <div class="source-group row">
                                    <label class="ldet_label">{{ConfiguratorFeedback.Configurator.Vendor}}</label>
                                </div>
                                <div class="row-group row">
                                    <label class="text_detlabel">Product Category</label>
                                </div>
                                <div class="source-group row">
                                    <label class="ldet_label">{{ConfiguratorFeedback.Configurator.ProductCategory}}</label>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row-group row">
                                    <label class="text_detlabel">Provide Error Details</label>
                                </div><div class="source-group">
                                    <textarea class="required_field" ng-model="ConfiguratorFeedback.Configurator.Details" ng-required="true"
                                              name="Details" rows="10" ng-keyup="RemoveRequiredClass($event)"></textarea>
                                </div>
                            </div>
                        </div><div class="clearfix"> </div>
                        <div class="divider"></div>
                        <div class="leadgrid_box">
                            <div class="lead_rtop row">
                                <div class="col-xs-12 col-sm-12">
                                    <!--<h6 class="mb-3 font-weight-bold">System Information</h6>-->
                                    <label class="text_detlabel">System Information</label>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="row-group row">
                                        <label class="col-sm-3 col-xs-3 pl-0 ldet_label">Current User :</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <label class="ldet_label">{{ConfiguratorFeedback.Configurator.CurrentUser}}</label>
                                        </div>
                                    </div>
                                    <div class="row-group row">
                                        <label class="col-sm-3 col-xs-3 pl-0 ldet_label">Current Time :</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <label class="ldet_label">{{ConfiguratorFeedback.Configurator.CurrentDateTime}}</label>
                                        </div>
                                    </div>
                                    <div class="row-group row">
                                        <label class="col-sm-3 col-xs-3 pl-0 ldet_label">URL :</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <label class="ldet_label">{{ConfiguratorFeedback.Configurator.TouchpointURL}}</label>
                                        </div>
                                    </div>
                                    <div class="row-group row">
                                        <label class="col-sm-3 col-xs-3 pl-0 ldet_label">Version :</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <label class="ldet_label">{{ConfiguratorFeedback.Configurator.TouchpointVersion}}</label>
                                        </div>
                                    </div>
                                    <div class="row-group row">
                                        <label class="col-sm-3 col-xs-3 pl-0 ldet_label">Browser :</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <label class="ldet_label">{{ConfiguratorFeedback.Configurator.BrowserDetails}}</label>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- <div class="modal-footer">
                                       <div class="popup_butns">
                                <button type="reset" data-dismiss="modal" class="btn btn-cancel">Cancel</button>
                                <button type="submit" class="btn btn-cancel" ng-click="SaveCalendar(this)">Save</button>
                            </div>
                                    </div>-->
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="configuratorFeedbackConfirmModal" data-keyboard="false" data-backdrop="static">
        <div class="backDrop">

        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Configurator Feedback</h4>
                </div>
                <form name="Configurator_addint" role="form">
                    <div class="modal-body">
                        <div class="config-response">
                            <label class="text_detlabel">Report ID {{ConfiguratorFeedback.Configurator.CaseNumber}} successfully submitted.</label><label class="ldet_label"></label>
                            <!--<button type="submit" class="tooltip-bottom save_tpbut" data-tooltip="Close"><i class="far fa-check-circle fa_icon" ng-click="ConfiguratorFeedback.CancelPopup('configuratorFeedbackConfirmModal')"></i></button>-->
                        </div>
                        <!-- <div class="leaddetail_butns">

                            <button type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="CancelPopup('configuratorFeedbackModal')"><i class="far fa-times-circle fa_icon"></i></button>
                            <button type="submit" class="tooltip-bottom save_tpbut" data-tooltip="Save"><i class="far fa-check-circle fa_icon" ng-click="ConfiguratorFeedback.CancelPopup('configuratorFeedbackConfirmModal')"></i></button>
                        </div>-->

                        <div class="clearfix"> </div>
                        <div class="divider"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row-group row">
                                    <label class="text_detlabel">Problem Type</label>
                                </div>
                                <div>
                                    <label class="ldet_label">{{ConfiguratorFeedback.ErrorName}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="text_detlabel">Vendor</label>
                                </div>
                                <div class="row form-group">
                                    <label class="ldet_label">{{ConfiguratorFeedback.Configurator.Vendor}}</label>
                                </div>
                                <div class="row">
                                    <label class="text_detlabel">Product Category</label>
                                </div>
                                <div class="row form-group">
                                    <label class="ldet_label">{{ConfiguratorFeedback.Configurator.ProductCategory}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row-group row">
                                    <label class="text_detlabel">Problem Details</label>
                                    <div class="form-group w-100">
                                        <p class="pErrorDetails">{{ConfiguratorFeedback.Configurator.Details}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-cancel" ng-click="ConfiguratorFeedback.CancelPopup('configuratorFeedbackConfirmModal')">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
        .backDrop {
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            top: 0px;
            z-index: 11;
            opacity: 0.5;
            overflow: hidden;
        }

        .divider {
            width: 100%;
            border-bottom: 1px solid #343333;
            margin-bottom: 5px;
        }

        .leaddetail_butns1 {
            float: right;
            margin: 7px 20px 0 0;
        }

        .row-group {
            margin: 0;
        }

        .config-response {
            margin: 0 auto;
            text-align: center;
        }

        .pErrorDetails {
            width: 100%;
            height: 150px;
            overflow-y: auto;
        }

        .modal-body {
            max-height: 600px !important;
        }

        .spanLabelTop {
            padding-top: 8px;
        }

        .modal-dialog {
            max-width: 70%;
            width: 70%;
        }

        .modal-body {
            max-height: unset !important;
        }

            .modal-body.adres_popup {
                overflow-x: hidden;
            }

        .text-center {
            text-align: center !important;
        }

        .text-right {
            text-align: right !important;
        }

        .required-error {
            border: 1px solid #de3e3a !important;
            /*color: #de3e3a !important;*/
        }
    </style>
</div>
