﻿<style>
    .console div {
        height: 3.3em;
    }
    input#autocomplete {
       height: 25px !important;
    }
    .k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox > input {
        font-size: 12px !important;
    }
    span.k-icon.k-i-arrow-60-up {
       display: none;
    }
     .k-grid-content {
        height:300px !important;
    }
    .k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .k-numerictextbox .k-tooltip-validation.k-invalid-msg {
         margin-top: 32px;
         width: 140px;
         padding-left: 25px !important;
    }

    
    .k-numerictextbox .k-tooltip-validation.k-invalid-msg .k-i-warning {
         left: 0px;
    }

</style>
<!--<script src="https://hfc.picbusiness.com/Maintenance/Products/JS/ConfigEngine.obf.js"></script>-->
<div class="outter-wp">
    <section class="my_sub_header_1">
        <nav class="navbar navbar-expand-md navbar-light bg-light my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand float-left"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-1 custom_nav">
                        <li><a href="#!/leadsSearch/">Leads</a></li>
                        <li><a href="#!/accountSearch/">Accounts</a></li>
                        <li class="active"><a href="#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="#!/orderSearch/">Orders</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <div class="lead_stab">
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button type="button" ng-click="onCancel()" data-tooltip="Cancel" class="tooltip-bottom hfc_bgbut" ng-disabled="IsBusy"> <i class="far fa-times-circle fa_icon"></i></button></li>
                <li><button type="button" class="tooltip-bottom hfc_bgbut" ng-click="SaveMyProductConfiguration()" data-tooltip="Save"><i class="far fa-check-circle fa_icon"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="source-group row mx-0 my-2">
            <div class="col-lg-2 configurator_grid">
                <label class="text_detlabel">Account Name:</label>
                <label class="ldet_label"><a class="hquote_hover" href="#!/Accounts/{{QuoteData.AccountId}}">{{QuoteData.AccountName}}</a></label>
            </div>
            <div class="col-lg-2 configurator_grid">
                <label class="text_detlabel">Opportunity Name:</label>
                <label class="ldet_label"><a class="hquote_hover" href="#!/OpportunityDetail/{{QuoteData.OpportunityId}}">{{QuoteData.OpportunityName}}</a></label>
            </div>
            <div class="col-lg-2 configurator_grid">
                <label class="text_detlabel">Quote Name:</label>
                <label class="ldet_label"><a class="hquote_hover" href="#!/quote/{{QuoteData.OpportunityId}}/{{QuoteData.QuoteKey}}">{{QuoteData.QuoteName}}</a></label>
            </div>
            <div class="col-lg-2 configurator_grid">
                <label class="text_detlabel">Sidemark:</label>
                <label ng-if="QuoteData.SideMark != null && QuoteData.SideMark != '' " class="text_detlabel" style="font-weight: 400;">{{QuoteData.SideMark}}</label>
                <label ng-if="QuoteData.SideMark == null || QuoteData.SideMark == '' " class="text_detlabel" style="font-weight: 400;">{{QuoteData.QuoteName}}</label>
            </div>
        </div>
        <!--<div class="table-responsive">
            <div class="source-group row">
                <div class="col-sm-12 col-xs-12 col-lg-12">
                    <kendo-grid id="gridEditMeasurements" options="viewMeasurements"></kendo-grid>
                </div>
            </div>
        </div>-->

            <div class="p-3">
                <h6 class="mb-2 font-weight-bold">My Products </h6>
                        <kendo-tooltip options="tooltipOptions">
                            <kendo-grid id="ProductGrid" options="ConfigureMyProduct" k-on-change="AddProductList(data)" style="margin-bottom: 40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                        </kendo-tooltip>
                        <div ng-show="ProductList">
                            <h6 class="mb-2 font-weight-bold">Adding To Quote Line </h6>
                            <kendo-tooltip options="tooltipOptions">
                                <kendo-grid id="ProductListGrid" options="AddAndConfigureProductList" style="margin-bottom: 40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                            </kendo-tooltip>
                        </div>

                            <div class="leadgrid_box">
                                <div class="product_check mb-4">
                                    <input ng-click="oneTimeProductCheck()" class="option-input checkbox" type="checkbox" ng-model="OneTimeProduct" />
                                    <label class="ldet_label">Configure One Time Product</label>
                                </div>

                                <div id="promptsOuter" style="display: none; margin: 30px; padding: 30px; border: 1px solid rgb(204, 204, 204);">
                                    <p style="width: 130px; margin-top: -50px !important; margin-left: 15px; background-color: #F7F7F7; font-weight: bold; font-size:1em; padding: 10px; margin: 10px;">Product Details</p>

                                    <form id="OneTimeProductfrm" name="OneTimeProductsection">
                                        <div class="source-group row state_field">
                                            <label class="col-sm-3 required_label" title="Quantity">Description/Summary</label>
                                            <div class="col-sm-9">
                                                <input disabled class="form-control frm_controllead1 prdDetails required_field " type="text" placeholder="Required" required" ng-model="ProductDetails.Description">
                                            </div>
                                        </div>
                                        <div class="source-group row state_field">
                                            <label class="col-sm-3 required_label" title="Quantity">Quantity</label>
                                            <div class="col-sm-9">
                                                <input id="oneTimeProductQuantity" class="form-control frm_controllead1 required_field" type="number" data-format="'n0'" data-decimals="0" min="1" max="1000" step="1" ng-blur="onOTPQuantityChange()" ng-keyup="onOTPQuantityChange()" required placeholder="Required" ng-model="ProductDetails.Quantity">
                                            </div>
                                        </div>

                                        <div style="display: none" class="source-group row state_field onetimeProduct">
                                            <label class="col-sm-3 required_label" title="Quantity">Vendor Name</label>
                                            <div class="col-sm-9">
                                                <!--<input disabled class="form-control frm_controllead1 prdDetails required_field " placeholder="Required" required type="text" ng-model="ProductDetails.Vendor">-->
                                             
                                                    <input id="autocomplete" class="form-control frm_controllead1 required_field " placeholder="Required" required ng-click="autocompleteClick()"  ng-model="ProductDetails.Vendor" style="width:100%; height:28px !important; padding:0 !important;"/>
                                              
                                            </div>
                                        </div>

                                        <div style="display: none" class="source-group row state_field onetimeProduct">
                                            <label class="col-sm-3 required_label" title="Quantity">Product Name</label>
                                            <div class="col-sm-9">
                                                <input disabled class="form-control frm_controllead1 prdDetails required_field " required placeholder="Required" type="text" ng-model="ProductDetails.ProductName">
                                            </div>
                                        </div>


                                       
                                        
                                        <div class="source-group row state_field">
                                            <label class="col-sm-3 required_label" title="Quantity">Cost</label>
                                            <div class="col-sm-9">
                                                <input disabled class="prdDetails required_field " kendo-numeric-text-box k-spinners="false" id="prdcost" required ng-model="ProductDetails.Cost" />

                                            </div>
                                        </div>
                                        <div class="source-group row state_field">
                                            <label class="col-sm-3 required_label" title="Quantity">Unit Price</label>
                                            <div class="col-sm-9">
                                                <input disabled class="prdDetails required_field " kendo-numeric-text-box k-spinners="false" id="prdunitPrice" required ng-model="ProductDetails.UnitPrice" />

                                            </div>
                                        </div>
                                    </form>


                                </div>

                            </div>


                        
                        <div id="loading" style="display: none;">
                            <!--<img src="/content/images/ajax-loader.gif" style="position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; background-color: white; opacity: .6; z-index: 1100;" width="100" alt="Loading">-->
                            <div class="loader" style="position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; background-color: white; opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
                        </div>

                        <hfc-Quote-Onetime-Product-Form-Go modal-id="oneTimeProductModel"></hfc-Quote-Onetime-Product-Form-Go>

                 
               

            </div>
           
        </div>
</div>
