﻿<style>
    .console div {
        height: 3.3em;
    }
     .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    } 
</style>
<div class="outter-wp">
    <section class="my_sub_header_1">
        <nav class="navbar navbar-expand-md navbar-light bg-light my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-1 custom_nav">
                        <li><a href="#!/leadsSearch/">Leads</a></li>
                        <li><a href="#!/accountSearch/">Accounts</a></li>
                        <li class="active"><a href="#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="#!/orderSearch/">Orders</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <div class="lead_stab">
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
              <li><button type="button" ng-click="onCancel()" data-tooltip="Cancel" class="tooltip-bottom hfc_bgbut" ng-disabled="IsBusy"> <i class="far fa-times-circle fa_icon"></i></button></li>
              <li><button type="button" class="tooltip-bottom hfc_bgbut" ng-click="SaveMyProductConfiguration()" data-tooltip="Save"><i class="far fa-check-circle fa_icon"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="p-3">
            <h6 class="mb-2 font-weight-bold">My Services </h6>
            <kendo-tooltip options="tooltipOptions">
                <kendo-grid id="ProductGrid" class="ipadspace_grid" options="ConfigureMyProduct"  style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
            </kendo-tooltip>
            <div ng-show="ProductList">
                <h6 class="mb-2 font-weight-bold">Adding To Quote Line </h6>
                <kendo-tooltip options="tooltipOptions">
                   <kendo-grid class="ipadspace_grid" id="ProductListGrid" options="AddAndConfigureProductList"  style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                </kendo-tooltip>
             </div>
        <div id="loading" style="display: none;">
            <!--<img src="/content/images/ajax-loader.gif" style="position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; background-color: white; opacity: .6; z-index: 1100;" width="100" alt="Loading">-->
            <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
        </div>
        <hfc-Quote-Onetime-Product-Form-Go modal-id="oneTimeProductModel"></hfc-Quote-Onetime-Product-Form-Go>
    </div>
</div>
</div>
<style type="text/css">
    .k-grid-content {
        /*max-height: 200px !important;*/
    }

    .k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
</style>