﻿<style>
    input#autocomplete {
       height: 25px !important;
    }
    .k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox > input {
        font-size: 12px !important;
    }
     input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

      .required-error {
        border: 1px solid red !important;
        color: red !important;
    }
</style>
<div class="outter-wp">

    <div class="lead_stab">
        <div class="leaddetail_butns">
            <button type="button" ng-click="onCancel()" data-tooltip="Cancel" class="tooltip-bottom cancel_tpbut" ng-disabled="IsBusy"> <i class="far fa-times-circle fa_icon"></i></button>
            <button type="button" class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="onSaveConfigurator()"><i class="far fa-check-circle fa_icon"></i></button>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tpsearch_content">
    
        <div class="table-responsive" style="margin: 2%">
            <div class="container" style="margin-bottom: 1% !important;">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="text_detlabel">Account Name </label>
                        <label class="ldet_label ng-binding">{{AccountName}}</label>
                    </div>
                    <div class="col-lg-6">
                        <label class="text_detlabel">Quote Name </label>
                        <label class="ldet_label ng-binding">{{QuoteName}}</label>
                    </div>
                </div>
            
            </div>
           
            <kendo-tooltip options="tooltipOptions">
                <kendo-grid id="VendorGrid" options="ProductGroupDatasource1" k-on-change="onChange(data)" style="margin-bottom: 40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
            </kendo-tooltip>

            <div class="leadgrid_box" style="margin-top: 100px !important">
                <input ng-click="oneTimeProductCheck()" style="margin-left: 30px;" class="option-input checkbox" type="checkbox" ng-model="OneTimeProduct"/>
                <label style="margin-left: 5px;" title="oneTimeProduct">Configure One Time Product</label>

                <div id="promptsOuter" style="display: none; margin: 30px; padding: 30px; border: 1px solid rgb(204, 204, 204);">

                    <p style="width: 130px; margin-top: -50px !important; margin-left: 15px; background-color: #F7F7F7; font-weight: bold; padding: 10px; margin: 10px;">Product Details</p>



                    <div class="source-group row state_field">
                        <label class="col-sm-3 required_label" title="Quantity">Description/Summary</label>
                        <div class="col-sm-9">
                            <input disabled class="form-control frm_controllead1 prdDetails" type="text" ng-model="ProductDetails.Description">
                        </div>
                    </div>


                    <div class="source-group row state_field">
                        <label class="col-sm-3 required_label" title="Quantity">Quantity</label>
                        <div class="col-sm-9">
                            <!--<input class="form-control frm_controllead1" type="number" ng-required="required" ng-model="Quantity">-->
                            <input id="oneTimeProductQuantity" class="form-control frm_controllead1" ng-required="required" type="number" data-decimals="0" min="1" max="1000" step="1" ng-blur="onOTPQuantityChange()" ng-keyup="onOTPQuantityChange()" required ng-model="Quantity">
                        </div>
                    </div>



                    <div style="display: none" class="source-group row state_field onetimeProduct">
                        <label class="col-sm-3 required_label" title="Quantity">Vendor Name</label>
                        <div class="col-sm-9">

                            <!--<input disabled class="form-control frm_controllead1 prdDetails" type="text" ng-model="ProductDetails.Vendor">-->

                            <!--<span class="custom-dropdown custom-dropdown--white">
                                <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                        ng-model="ProductDetails.Vendor"                                        
                                        ng-options='opt for opt in allianceVendorArray'>
                                    <option value="">Select</option>
                                </select>
                            </span>-->

                           
                                <input id="autocomplete" class="form-control frm_controllead1 required_field " ng-model="ProductDetails.Vendor" ng-click="autocompleteClick()" style="width:100%; height:28px !important; padding:0 !important;" />
                                                    



                        </div>
                    </div>

                    <div style="display: none" class="source-group row state_field onetimeProduct">
                        <label class="col-sm-3 required_label" title="Quantity">Product Name</label>
                        <div class="col-sm-9">
                            <input disabled class="form-control frm_controllead1 prdDetails" type="text" ng-model="ProductDetails.ProductName">
                        </div>
                    </div>


                    <div class="source-group row state_field">
                        <label class="col-sm-3 required_label" title="Quantity">Cost</label>
                        <div class="col-sm-9">
                            <input disabled class="prdDetails" kendo-numeric-text-box id="prdcost" ng-model="ProductDetails.Cost"/>
                        </div>
                    </div>
                    <div class="source-group row state_field">
                        <label class="col-sm-3 required_label" title="Quantity">Unit Price</label>
                        <div class="col-sm-9">
                            <input disabled class="prdDetails" kendo-numeric-text-box id="prdunitPrice" ng-model="ProductDetails.UnitPrice"/>

                        </div>
                    </div>

                </div>

            </div>
            <div style="margin-top: 5%;" class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                <div class="source-group row state_field">
                </div>
            </div>


        </div>
        <div id="loading" style="display: none;">
            <div class="loader" style="position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; background-color: white; opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
        </div>

        <hfc-Quote-Onetime-Product-Form-Go modal-id="oneTimeProductModel"></hfc-Quote-Onetime-Product-Form-Go>

    </div>
</div>


<style type="text/css">
    .k-grid-content {
        height: 250px !important;
    }

        .k-grid-content k-auto-scrollable {
            height: 250px !important;
        }

    .k-virtual-scrollable-wrap {
        height: 250px !important;
    }

    .k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
</style>