﻿<style>
    .k-grid td {
        height: 40px !important;
    }

    tr.k-footer-template td {
        border: 0 !important;
    }
</style>

<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab" style="width:60%;">
            <li rel="tab6"><a href="#!/OpportunityDetail/{{OpportunityId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a></li>
            <!--<li rel="tab7"><h3><i class="fa fa-thumbs-o-up user_icon" aria-hidden="true"></i>Qualify</h3></li>-->
            <li rel="tab7">
                <!--<a href="/#!/measurementDetail/{{OpportunityId}}/{{InstallationAddressId}}">-->
                <a href="#!/measurementDetail/{{OpportunityId}}/{{InstallationAddressId}}">
                    <h3><i class="measurement_icon"></i><br />Measurements</h3>
                </a>
            </li>
            <li rel="tab7" class="activelead1">
                <a href="#!/quoteSearch/{{OpportunityId}}">
                    <h3><i class="quotes_icon"></i><br />Quotes</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/opportunityAppointments/{{OpportunityId}}">
                    <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/opportunityCommunication/{{OpportunityId}}">
                    <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                </a>
            </li>
            <!--<li rel="tab8"><h3><i class="appointment_icon"></i><br />Appointment</h3></li>-->
        </ul>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button type="button" ng-click="onCancel()" data-tooltip="Return to Quote Document" class="tooltip-bottom cancel_tpbut"> <i class="far fa-chevron-circle-left fa_icon"></i></button></li>
                <li><button type="button" class="tooltip-bottom cancel_tpbut" data-tooltip="Save" ng-click="pushJobEstimator()"><i class="far fa-check-circle"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <form id="crm-form-detail" name="formsurfacingJobEstimator">
        <!--unsaved-warning-form-->

        <div class="tab_container tp_content">
            <div class="p-3">
                <div class="col-xs-12 col-sm-12">
                    <div class="source-group row state_field">
                        <div class="col-sm-4 col-xs-4">
                            <span class="custom-dropdown custom-dropdown--white">
                                <select class="form-control custom-dropdown__select custom-dropdown__select--white" style="text-transform:initial !important;"
                                        ng-model="Measurement"
                                        ng-change="MeasurementChange(Measurement)"
                                        ng-options="measurement.Item1 for measurement in measurementList">
                                    <option value="">Select a Measurement</option>
                                </select>
                            </span>
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <label ng-show="Measurement"> Area : </label>
                            <label ng-show="Measurement">{{Measurement.Item3}}</label>
                        </div>

                        <div class="col-sm-6 col-xs-6">
                            <div class="radio-group">
                                <input type="checkbox" class="option-input checkbox"
                                       ng-model="JobEstimator.SummariziedQuoteLine"> <label>Create summarized quote line</label>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-0 mr-0" ng-show="Measurement">
                        <div class="col-sm-10"><label class="text_detlabel">Materials</label></div>
                        <div class="col-sm-2 no-padding">
                            <div class="tp-measurementsearch">
                                <button type="button" class="plus_but vendoradd_button tooltip-bottom" data-tooltip="Add New Row" id="btnAddrow" ng-click="AddRow('materials')" onclick="return false;" style="margin-right:0"><i class="far fa-plus-square"></i></button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="row ml-0 mr-0" ng-show="Measurement">
                        
                        <div>
                            <kendo-grid id="materials" class="noscroll-grid FixedCalculatorGridHeight" options="MaterialsGrid" style="font-size: 13px !important;"></kendo-grid>
                            <!--<kendo-grid id="materials"
                                        k-data-source="CalculationGridForMaterials"
                                        k-on-change="materialOnSelection(kendoEvent)"
                                        options="MaterialsGrid"
                                       >
                            </kendo-grid>-->
                        </div>
                    </div>
                    <div class="row ml-0 mr-0" ng-show="Measurement">
                        <div class="col-sm-10"><label class="text_detlabel">Labor</label></div>
                        <div class="col-sm-2 no-padding">
                            <div class="tp-measurementsearch">
                                <button type="button" class="plus_but vendoradd_button tooltip-bottom" data-tooltip="Add New Row" id="btnAddrow" ng-click="AddLaborRow()" onclick="return false;" style="margin-right:0"><i class="far fa-plus-square"></i></button>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="row ml-0 mr-0" ng-show="Measurement">
                        
                        <div>
                            <kendo-grid id="labor"
                                        options="laborGrid"
                                        style="font-size: 13px !important;">
                            </kendo-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>