﻿/*.crm-sidebar {
    width:145px;
}

.crm-sidebar .nav > .active > a, 
.crm-sidebar .nav > .active:hover > a, 
.crm-sidebar .nav > .active:focus > a {
    background-color: rgba(0, 0, 0, 0);
    border-right: 1px solid #563D7C;
    color: #563D7C;
    font-weight: bold;
}
.crm-sidebar .nav > li > a {
    color: #716B7A;
    display: block;
    padding: 5px 20px;
}
.crm-sidebar .nav .nav {
    display: none;
    margin-bottom: 8px;
}
.crm-sidebar .nav > .active > ul {
    display: block;
}
.crm-sidebar .nav .nav > li > a {
    font-size: 90%;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-top: 3px;
}
.crm-sidenav{
    background-color: #F7F5FA;
    border-radius: 5px;
    margin-bottom: 30px;
    
    padding-bottom: 10px;
    padding-top: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}*/
@media (max-width: 767px){
    .form-horizontal .control-label{
        text-align:right
    }
}
