﻿<div class="inline-relative">
    <div class="media-heading accout_popup">
        <small ng-bind="heading"></small>
        <!--<button class="btn btn-link btn-sm" ng-disabled="PersonService.AttendeeService.IsBusy" ng-click="PersonService.AttendeeService.ShowEditor('leadSourceModal',leadId,this,$event)"> Add Source</button>-->
        <!--<button type="button"  class="acc_but" ng-disabled="IsBusy" ng-click="PersonService.AttendeeService.ShowEditor('attendee')"><i class="fa fa-ellipsis-h popupdot_icon" aria-hidden="true"></i></button>-->
        </div>

        <ul class="list-unstyled">
            <li ng-repeat="src in PersonService.AttendeeService.Attendees">
                <button type="button" class="acc_but" ng-disabled="PersonService.AttendeeService.IsBusy" ng-click="PersonService.AttendeeService.Delete(src)"><i class="glyphicon glyphicon-trash"></i></button>
                <span class="text-muted text-sm" ng-bind="PersonService.AttendeeService.GetLabel(src.SourceId).path">test</span><span ng-bind="PersonService.AttendeeService.GetLabel(src.SourceId).Name"></span>
            </li>
        </ul>
    </div>