﻿<div class="outter-wp">
       <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab7">
                        <a href="#!/alliancevendor">
                            <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Vendors</h3>
                        </a>
                    </li>
                    <li class="activelead1" rel="tab7">
                        <a href="#!/VendorSetup">
                            <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Vendor Management</h3>
                        </a>
                    </li>
                    <!--<li rel="tab7">
                        <a href="#!/VendorCaseList">
                            <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Vendor-Case Management</h3>
                        </a>
                    </li>-->
                </ul>
                <div class="clearfix"></div>
        </div>
        <div class="tab_container tpsearch_content">
            <div class="error error_msg" ng-if="!Permission.ViewCase" style="padding-top:30px;padding-left:20px;">
                You don't have permission to this page.
            </div>
           <div class="table-responsive" ng-show="Permission.ViewCase">
                    <!--<kendo grid code-->
                    <kendo-tooltip options="tooltipOptions">
                        <kendo-grid id="gridVendorCaseConfig" options="VendorCase" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                    </kendo-tooltip>
           </div>
       </div>
</div>
<!--Code for add,search button-->
<script id="headToolbarTemplate" type="text/x-kendo-template">
     <div class="tp-measurementsearch row no-margin">
         <div class="leadsearch_topleft row no-margin col-sm-12 col-md-12 col-xs-12 no-padding">
             <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                 <input ng-keyup="vendorCaseGridSearch()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
             </div>
             <div class="col-xs-2 col-sm-2 measurement_search no-padding">
                 <input type="button" id="btnReset" ng-click="vendorCaseGridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
             </div>
             <div class="col-xs-8 col-sm-8"></div>
         </div>
    </div>
</script>

