﻿<style>
    div > form > div > div > div.k-widget {
        width: auto !important;
    }


    .k-widget.k-tooltip-validation {
        display: none !important;
    }

    ul.hfc_tabs {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #d8d8d8;
    }

        ul.hfc_tabs li {
            margin: 0;
            cursor: pointer;
            padding: 5px 21px;
            color: #000;
            overflow: inherit;
            position: relative;
            width: 50%;
            float: left;
            font-size: 14px;
            text-transform: uppercase;
        }

            ul.hfc_tabs li.active {
                border-bottom: 1px solid #3e7d8a;
            }

    .name_desc {
        display: block;
        font-size: 14px;
        font-weight: 100;
    }

    .post-comments {
        padding-bottom: 9px;
        margin: 5px 0 5px;
    }

    .comments-nav {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .comment-meta {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .media {
        border-left: 1px dotted #000;
        border-bottom: 1px dotted #000;
        margin-bottom: 5px;
        padding-left: 10px;
    }

    .post-comments .media-heading {
        font-size: 12px;
        color: grey;
    }

    .post-comments .comment-meta a {
        font-size: 12px;
        color: grey;
        font-weight: bolder;
        margin-right: 5px;
    }

    .k-grid td, .k-grid th {
        padding: 4px;
        font-size: 13px;
    }

    .operation_casemangement-grid ul {
        text-align: center;
    }

    .operation_casemangement-grid .btn {
        padding: 0px 7px !important;
    }

    .operation_casemangement-grid .dropdown-menu {
        min-width: 80px !important;
    }


    .caseview_tooltiphover p {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        box-sizing: border-box;
        font-weight: 100;
    }

    /*---kendo table style---*/
    .k-grid-content {
        overflow-y: scroll !important;
    }

    .k-pager-wrap {
        width: 100%;
        /*bottom: 30px;*/
        /*position: fixed;*/
        /*overflow: hidden !important;*/
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    #MyCaseHistoryGrid1 .k-grid-content.k-auto-scrollable {
        height: 350px !important;
    }


    .sub-grid {
        float: right;
        width: 75%;
    }

        .sub-grid .k-grid-header {
            padding-right: 0px !important;
        }

        .sub-grid .k-grid-content {
            overflow-y: hidden !important;
        }

    /*---end kendo table style---*/
</style>
<div class="outter-wp ">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li class="activelead1" rel="tab6"><h3><i class="far fa-user fa_icon"></i><br />Vendor Info</h3></li>
        </ul>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li>
                    <button type="button" ng-show="Permission.EditCase" ng-click="EditVendorCase()" class="tooltip-bottom hfc_bgbut ng-scope" data-tooltip="Edit Case">
                        <i class="far fa-pen vendor_icon"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="tab_container tp_content" style="margin-top:107px;">
        <div class="error error_msg" ng-if="!Permission.ViewCase" style="padding-top:30px;padding-left:20px;">
            You don't have permission to this page.
        </div>
        <div class="p-3" ng-show="Permission.ViewCase">
            <div class="row">
                <div class="col-xl-4 operation_casemangement-grid" style="border-right: 1px solid #d8d8d8; right:-1px;">
                    <div class="tab_container">

                        <ul class="hfc_tabs row">
                            <li class="active" rel="tab1">Updates</li>
                            <li rel="tab2">Related</li>
                        </ul>


                        <div id="tab1" class="tab_content" style="margin-top: 25px;">
                            <label>Post</label>
                            <comments-Component info="forComments"></comments-Component>

                        </div>

                        <div id="tab2" class="tab_content" rel="tab2" style="margin-top: 25px;">
                            <!--<h4 style="font-size:16px; font-weight:600;">Open Activities</h4>
                            <div style="font-size:16px;"  ng-hide="true"> Events <a href="#!/Calendar/VendorcaseView/{{VendorCaseView.VendorCaseId}}" ng-hide="true" class="pull-right" style="color:#000;"><i class="far fa-plus-square"></i></a>  </div>


                            <kendo-grid id="MyAppointmentsGrid11"  ng-hide="true"
                                        options="VendorRelatedEventsGridOptionss"
                                        style="margin-bottom:20px !important;">
                            </kendo-grid>-->
                            <!--<div style="font-size:16px;"  ng-hide="true"> Tasks <a href="javascript:void(0)"  ng-hide="true" ng-click="AddTasksForVendorCase()" class="pull-right" style="color:#000;"><i class="far fa-plus-square"></i></a>  </div>
                             <kendo-grid id="MyTasksGrid11" ng-hide="true"
                                         options="VendorRelatedTasksGridOptionss"
                                         style="margin-bottom:20px !important;">
                             </kendo-grid>-->
                            <div style="margin:0 15px;">
                                <h4 style="font-size:16px; margin-left:-15px;">Attachment </h4>
                                <div file-upload></div>
                            </div>

                            <div class="table-responsive;" style="margin-top: 20px;">
                                <h4 style="font-size:16px;">
                                    Case History
                                </h4>

                                <kendo-grid id="MyCaseHistoryGrid1"
                                            options="RelatedCaseHistoryGridOptionss"
                                            style="margin-bottom:20px !important;">
                                </kendo-grid>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-8" style="border-left: 1px solid #d8d8d8;">

                    <div id="loading" style="display: none;">
                        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
                    </div>



                    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
                        <!--<button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span></span>-->
                    </div>

                    <div class="tab_container">
                        <form id="crm-lead-detail" name="formCaseManage">
                            <div class="p-3">
                                <div class="leadgrid_box">
                                    <h1 style="margin-left:-15px; margin-top:0;">Case Information</h1>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Case No</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label" ng-bind="VendorCaseView.VendorCaseNumber"></label>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Franchise Case No</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label" ng-bind="VendorCaseView.CaseNumber"></label>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Case Owner</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <!--<label ng-bind="VendorCaseView.LastUPdatedName"></label>-->
                                                    <label class="ldet_label" ng-bind="VendorCaseView.OwnerName"></label>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Status</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label" ng-bind="VendorCaseView.StatusValue"></label>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Date time Opened</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label" ng-bind="VendorCaseView.CreatedOn|GlobalTime: 'short' "></label> <label ng-show="VendorCaseView.CreatedOn" class="ldet_label" ng-bind="TimeZone"></label>
                                                </div>
                                            </div>
                                            <!--<div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Description</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label" ng-bind="VendorCaseView.Description"></label>
                                                </div>
                                            </div>-->
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Incident Date</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label style="margin-right:5px;" class="ldet_label" ng-bind="VendorCaseView.IncidentDate|GlobalTime:'shortDate' "></label><label ng-show="VendorCaseView.IncidentDate" class="ldet_label" ng-bind="TimeZone"></label>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Franchise Name</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label" ng-bind="VendorCaseView.FranchiseName"></label>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Franchise Phone</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <!--<label class="ldet_label" ng-bind="VendorCaseView.LocalPhoneNumber"></label>-->

                                                    <input type="text" ng-show="VendorCaseView.LocalPhoneNumber" ng-model="VendorCaseView.LocalPhoneNumber" ui-mask="(999) 999-9999" readonly style="border:none;background-color:none;" />
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Date time Closed</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label" ng-bind="VendorCaseView.DateTimeClosed|GlobalTime: 'short' "></label> <label ng-show="VendorCaseView.DateTimeClosed" class="ldet_label" ng-bind="TimeZone"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-sm-2 col-xs-2 text_detlabel case_field">Description</label>
                                        <div class="col-sm-10 col-xs-10 pr-0">
                                            <label class="ldet_label" ng-bind="VendorCaseView.Description"></label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="leadgrid_box vendorcaseview_grid" style="margin-left:-15px;">
                                    <h2>Customer Information</h2>
                                    <!--<div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5"></div>
                                        <div class="col-sm-2"></div>
                                        </div>-->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                            <div class="row no-margin">
                                            <div class="col-sm-6 no-padding">
                                                <label class="text_detlabel case_field">MPO</label>
                                                <label class="ldet_label" ng-bind="VendorCaseView.MPOID" style="margin-bottom:10px;"></label>
                                                <label class="text_detlabel case_field">Sales Order Number</label>
                                                <label class="ldet_label" ng-bind="VendorCaseView.SalesorderNumber" style="margin-bottom:10px;"></label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="text_detlabel case_field">VPO</label>
                                                <label class="ldet_label" ng-bind="VendorCaseView.POID" style="margin-bottom:10px;"></label>
                                                <label class="text_detlabel case_field">Side Mark</label>
                                                <label class="ldet_label" ng-bind="VendorCaseView.SideMark"></label>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                            <div class="row no-margin">
                                                <div class="col-sm-6 no-padding">
                                                    <label class="text_detlabel case_field">Account Name</label>
                                                    <label class="ldet_label" ng-bind="VendorCaseView.AccountName"></label>
                                                </div>
                                                <div class="col-sm-6">
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                            </div>
                                        </div>
                                </div>

                                <!--<div class="leadgrid_box">
                                    <h2 style="margin-left:-15px;">Customer Information</h2>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 required_label" style="text-align:left; font-weight:100;">MPO</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label ng-bind="VendorCaseView.MPOID"></label>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 required_label" style="text-align:left; font-weight:100;">Sales Order Number</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label ng-bind="VendorCaseView.SalesorderNumber"></label>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 required_label" style="text-align:left; font-weight:100;">Account Name</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label ng-bind="VendorCaseView.AccountName"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">

                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 required_label" style="text-align:left; font-weight:100;">Side Mark</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label ng-bind="VendorCaseView.SideMark"></label>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 required_label" style="text-align:left; font-weight:100;">VPO</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label ng-bind="VendorCaseView.POID"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>

                                </div>-->
                                <hr />

                                <div class="leadgrid_box caseview_tooltiphover">
                                    <h2 style="margin-left:-15px;">Lines</h2>
                                    <kendo-grid id="caseGrid01" options="CaseinfoGridViewOptions" style="margin-bottom:40px !important; overflow:auto; margin-left:-15px;"></kendo-grid>

                                </div>

                                <hr />

                                <div class="leadgrid_box">
                                    <h3 style="margin-left:-15px;">System Information </h3>
                                    <div class="row form-group">
                                        <div class="col-sm-4">
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Created By</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label" ng-bind="VendorCaseView.OwnerName" style="display:block !important;"></label>
                                                    <label class="ldet_label" ng-bind="VendorCaseView.CreatedOn|GlobalTime: 'short' "></label> <label ng-show="VendorCaseView.CreatedOn" class="ldet_label" ng-bind="TimeZone"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                            <div class="row form-group">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Last Modified By</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label" ng-bind="VendorCaseView.LastUPdatedName" style="display:block !important;"></label>
                                                    <label class="ldet_label" ng-bind="VendorCaseView.LastUpdatedOn|GlobalTime: 'short' "></label> <label ng-show="VendorCaseView.LastUpdatedOn" class="ldet_label" ng-bind="TimeZone"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>

                                </div>
                            </div>


                        </form>
                    </div>



                </div>


            </div>
        </div>
    </div>
</div>
<!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
<!--<script>
    $("#MyAppointmentsGrid1 .k-grid-footer").css('display', 'none');
</script>-->









<script>
        // tabbed content
        // http://www.entheosweb.com/tutorials/css/tabs.asp
        $(".tab_content").hide();
        $(".tab_content:first").show();

        /* if in tab mode */
        $("ul.hfc_tabs li").click(function () {

            $(".tab_content").hide();
            var activeTab = $(this).attr("rel");
            $("#" + activeTab).fadeIn();

            $("ul.hfc_tabs li").removeClass("active");
            $(this).addClass("active");

            $(".tab_drawer_heading").removeClass("d_active");
            $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

        });
        /* if in drawer mode */
        $(".tab_drawer_heading").click(function () {

            $(".tab_content").hide();
            var d_activeTab = $(this).attr("rel");
            $("#" + d_activeTab).fadeIn();

            $(".tab_drawer_heading").removeClass("d_active");
            $(this).addClass("d_active");

            $("ul.hfc_tabs li").removeClass("active");
            $("ul.hfc_tabs li[rel^='" + d_activeTab + "']").addClass("active");
        });


        /* Extra class "tab_last"
           to add border to right side
           of last tab */
        $('ul.hfc_tabs li').last().addClass("tab_last");
</script>


<script>
        $('[data-toggle="collapse"]').on('click', function () {
            var $this = $(this),
                    $parent = typeof $this.data('parent') !== 'undefined' ? $($this.data('parent')) : undefined;
            if ($parent === undefined) { /* Just toggle my  */
                $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
                return true;
            }

            /* Open element will be close if parent !== undefined */
            var currentIcon = $this.find('.glyphicon');
            currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
            $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

        });

</script>
