﻿<style>
    .k-widget.k-tooltip-validation {
        display: none !important;
    }
    /*---kendo table style---*/
    .k-grid-content {
        overflow-y: scroll !important;
    }

    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .sub-grid {
        float: right;
        width: 45%;
    }

        .sub-grid .k-grid-header {
            padding-right: 0px !important;
        }

        .sub-grid .k-grid-content {
            overflow-y: hidden !important;
        }

    .error {
        border: 1px solid red !important;
    }

    .k-numerictextbox {
        padding: 0px !important;
    }
    /*---end kendo table style---*/
</style>

<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>

    <div class="tab_container">
        <!---inner tab--->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li class="activelead1" rel="tab6"><h3><i class="far fa-user fa_icon"></i><br />Vendor Info</h3></li>
            </ul>
            <div class="leaddetail_butns" ng-show="Permission.AddCase || Permission.EditCase">
                <ul class="orderlist_box">
                  <li>
                     <button type="reset" class="tooltip-bottom hfc_bgbut"
                    data-tooltip="Cancel" ng-click="CancelEditMode()">
                        <i class="far fa-times-circle fa_icon"></i>
                     </button>
                 </li>
                 <li>
                   <button type="submit" class="tooltip-bottom hfc_bgbut"
                 ng-disabled="IsBusy" data-tooltip="Save" ng-click="SaveDataValue()">
                   <i class="far fa-check-circle fa_icon"></i>
                 </button>
              </li>
             </ul>
            </div>
            <div class="clearfix"> </div>
        </div>

        <form id="crm-lead-detail" name="formCaseManage" ng-submit="">
            <div class="tab_container tp_content">
                <div class="error_msg" ng-if="!Permission.ViewCase" style="padding-top:30px;padding-left:20px;">
                    You don't have permission to this page.
                </div>
                <div class="p-3" ng-show="Permission.ViewCase">
                    <div class="leadgrid_box">
                        <h1>Case Information</h1>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="row no-margin">
                                <div class="col-sm-6 vendoredit_grid pl-0">
                                    <div class="form-group">
                                        <label class="text_detlabel case_field">Case Owner</label>
                                        <!--<label ng-bind="VendorCaseListValue.Name"></label>-->
                                        <label class="ldet_label" ng-bind="VendorCaseListValue.OwnerName"></label>
                                    </div>
                                    <label class="text_detlabel case_field">Status</label>
                                    <label class="ldet_label" ng-bind="VendorCaseListValue.StatusValue"></label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="text_detlabel case_field">Incident Date </label>
                                        <label style="margin-right:5px" class="ldet_label" ng-bind="VendorCaseListValue.IncidentDate|GlobalTime:'shortDate' "></label><label ng-show="VendorCaseListValue.IncidentDate" class="ldet_label" ng-bind="TimeZone"></label>
                                    </div>
                                    <label class="text_detlabel case_field">Franchise Name</label>
                                    <label class="ldet_label" ng-bind="VendorCaseListValue.FranchiseName" style="margin-bottom:10px;"></label>
                                </div>
                               </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="row no-margin">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text_detlabel case_field">Franchise Phone</label>
                                        <!--<label class="ldet_label" ng-bind="VendorCaseListValue.LocalPhoneNumber"></label>-->
                                        <input type="text" ng-show="VendorCaseListValue.LocalPhoneNumber" ng-model="VendorCaseListValue.LocalPhoneNumber" ui-mask="(999) 999-9999" readonly style="border:none;background-color:none;" />
                                    </div>
                                </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="row no-margin">
                                    <div class="col-sm-6 vendoredit_grid pl-0">
                                        <label class="text_detlabel case_field">Date time Opened</label>
                                        <label class="ldet_label" style="margin-right:5px;" ng-bind="VendorCaseListValue.CreatedOn|GlobalTime: 'short' "></label><label ng-show="VendorCaseListValue.CreatedOn" class="ldet_label" ng-bind="TimeZone"></label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text_detlabel case_field" style="margin-top:10px;">Date time Closed</label>
                                        <label class="ldet_label" style="margin-right:5px;" ng-bind="VendorCaseListValue.DateTimeClosed|GlobalTime: 'short' "></label><label ng-show="VendorCaseListValue.DateTimeClosed" class="ldet_label" ng-bind="TimeZone"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col_1">
                                <div class="vendoredit_grid pl-0">
                                    <label class="text_detlabel case_field">Description</label>
                                    <div>
                                        <label class="ldet_label" ng-bind="VendorCaseListValue.Description"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                            </div>
                        </div>
                        <div class="customer_info mb-3">
                            <h1>Customer Information</h1>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                    <div class="row no-margin">
                                    <div class="col-sm-6 vendoredit_grid pl-0">
                                        <label class="text_detlabel case_field">MPO</label>
                                        <label class="ldet_label" ng-bind="VendorCaseListValue.MPOID" style="margin-bottom:10px;"></label>
                                        <label class="text_detlabel case_field">Sales Order Number</label>
                                        <label class="ldet_label" ng-bind="VendorCaseListValue.SalesorderNumber"></label>
                                    </div>
                                    <div class="col-sm-6 pl-0">
                                        <label class="text_detlabel case_field">VPO</label>
                                        <label class="ldet_label" ng-bind="VendorCaseListValue.POID" style="margin-bottom:10px;"></label>
                                        <label class="text_detlabel case_field">Side Mark</label>
                                        <label class="ldet_label" ng-bind="VendorCaseListValue.SideMark"></label>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                    <div class="row no-margin">
                                    <div class="col-sm-6 vendoredit_grid pl-0">
                                        <label class="text_detlabel case_field" style="margin-top:10px;">Account Name</label>
                                        <label class="ldet_label" ng-bind="VendorCaseListValue.AccountName"></label>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                </div>
                            </div>
                        </div>
                        <div class="customer_info">
                            <h1>Additional Information by Line</h1>
                            <div>
                                <kendo-grid id="caseGrid01" options="CaseinfoGridOptions" style="margin-bottom:40px !important; overflow:auto; margin-left:-15px;"></kendo-grid>
                                <ul id="dropforGrid" class="dropdown-menu pull-right" style="right:33px; position:absolute;">
                                    <li><a href="javascript: void (0) " ng-click="EditRowDetailsData() ">Edit</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="customer_info mt-3">
                            <h1>Attachment </h1>
                            <div file-upload></div>
                        </div>
                        <div class="customer_info mt-3">
                            <h1>System Information </h1>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                    <div class="row">
                                    <div class="col-sm-6">
                                        <label class="text_detlabel case_field">Created By</label>
                                        <label class="ldet_label" ng-bind="VendorCaseListValue.OwnerName" style="display:block !important;"></label>
                                        <label class="ldet_label" style="margin-right:5px;" ng-bind="VendorCaseListValue.CreatedOn|GlobalTime: 'short' "></label><label ng-show="VendorCaseListValue.CreatedOn" class="ldet_label" ng-bind="TimeZone"></label>

                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text_detlabel case_field">Last Modified By</label>
                                        <label class="ldet_label" ng-bind="VendorCaseListValue.LastUPdatedName" style="display:block !important;"></label>
                                        <label class="ldet_label" style="margin-right:5px;" ng-bind="VendorCaseListValue.LastUpdatedOn|GlobalTime: 'short' "></label><label ng-show="VendorCaseListValue.LastUpdatedOn" class="ldet_label" ng-bind="TimeZone"></label>

                                    </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.onclick = function () {
        if ($('#dropforGrid').hasClass("openDrop")) {
            $('#dropforGrid').removeClass("openDrop");
            $('#dropforGrid').css({
                'display': 'none'
            });
        }
    };
</script>

