﻿<style>
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        /*overflow: hidden;*/
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    .k-pager-info {
        padding: 0 2.333em !important;
    }

    td.k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }

        td.k-state-selected:hover {
            color: #fff !important;
            background-color: #3d7d8b !important;
            border-color: #3d7d8b !important;
        }

    .k-list > .k-state-focused.k-state-selected {
        border-color: transparent !important;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13);
    }
</style>

<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <!--<li rel="tab7">
                <a href="#!/alliancevendor">
                    <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Vendors</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/VendorSetup">
                    <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Case Management</h3>
                </a>
            </li>-->
            <li class="activelead1" rel="tab7">
                <a href="#!/VendorCaseList">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/ChangeRequest">
                    <h3><i class="fal fa-copy fa_icon fa-flip-horizontal"></i><br />Change Requests</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/Feedback">
                    <h3><i class="fas fa-microphone fa_icon"></i><br />Feedback</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/Overview">
                    <h3><i class="fas fa-th-list fa_icon"></i><br />Overview</h3>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error error_msg" ng-if="!Permission.ViewCase" style="padding-top:30px;padding-left:20px;">
            You don't have permission to this page.
        </div>
        <div ng-show="Permission.ViewCase">
            <div class="row state_field" id="MenuDiv" style="margin: 10px 0 10px 10px;">
                <div class="col-sm-3 no-padding" style="margin-right:10px;">
                    <span class="custom-dropdown custom-dropdown--white">
                        <select class="custom-dropdown__select custom-dropdown__select--white"
                                id="FLCaseTypes"
                                ng-change="Change_CheckCaseList()"
                                ng-model="SelectedType"
                                ng-options="opt.Id as opt.Name for opt in VLCaseTypes"></select>
                   
                                                                                       </span>
                </div>
                <div class="col-sm-3 no-padding">
                    <span class="custom-dropdown custom-dropdown--white">
                        <select class="custom-dropdown__select custom-dropdown__select--white"
                                id="FLCaseTypes"
                                ng-change="Change_CheckCaseList()"
                                ng-model="FranchiseSelected"
                                ng-options="itm.FranchiseId as itm.FranchiseName for itm in FranchiseDetails">
                            <option value="">All Franchise</option>
                        </select>
                    </span>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <!--Kendo Grid-->
            <div class="table-responsive">
                <kendo-grid id="CasegridLists" class="noscroll-grid" options="CasegridList" style="margin-bottom:40px;"></kendo-grid>
            </div>
        </div>
    </div>
</div>
