 <!-- <iframe -->
<!-- width="1000" -->
<!-- height="450" -->
<!-- frameborder="0" style="border:0" -->
<!-- src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDfsot6QpaUS36_TiWl_AXObEVsIClTLxE&origin={{fromaddress}}&destination={{toaddress}}&avoid=tolls|highways" allowfullscreen> -->
<!-- </iframe> -->
<!-- <iframe -->
<!-- width="1000" -->
<!-- height="450" -->
<!-- frameborder="0" style="border:0" -->
<!-- src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDfsot6QpaUS36_TiWl_AXObEVsIClTLxE&origin=Los angels, CA 90001&destination=118 N Montana Ave,Absarokee,MT,59001&avoid=tolls|highways" allowfullscreen> -->
<!-- </iframe> -->

<style type="text/css">
    .dir-tt {
        overflow: hidden;
        position: absolute;
        width: 16px;
        height: 16px;
    }

    .dir-tt-ferry > img {
        top: -614px;
    }

    .dir-tt-ferry-train > img {
        top: -566px;
    }

    .dir-tt-merge > img {
        top: -143px;
    }

    .dir-tt-straight > img {
        top: -534px;
    }

    .dir-tt-fork-left > img {
        top: -550px;
    }

    .dir-tt-ramp-left > img {
        top: -598px;
    }

    .dir-tt-roundabout-left > img {
        top: -197px;
    }

    .dir-tt-turn-left > img {
        top: -413px;
    }

    .dir-tt-turn-sharp-left > img {
        top: 0;
    }

    .dir-tt-turn-slight-left > img {
        top: -378px;
    }

    .dir-tt-uturn-left > img {
        top: -305px;
    }

    .dir-tt-fork-right > img {
        top: -499px;
    }

    .dir-tt-ramp-right > img {
        top: -429px;
    }

    .dir-tt-roundabout-right > img {
        top: -232px;
    }

    .dir-tt-turn-right > img {
        top: -483px;
    }

    .dir-tt-turn-sharp-right > img {
        top: -582px;
    }

    .dir-tt-turn-slight-right > img {
        top: -51px;
    }

    .dir-tt-uturn-right > img {
        top: -35px;
    }

    .dir-tt > img {
        position: absolute;
        left: 0;
    }
</style>

<img class="print-tboxright" style="float: left;margin-right: 15px;" width="150" height="30" src="images/Google_Maps_logo.png" alt="" /> <p style="padding: 5px 0;"><b>{{LeadAddress}}   Drive {{distance}}  {{duration}}</b></p>
{{Imagepath}}
<!--<img class="print-tboxright" src="images/{{Imagepath}}" alt="" />-->

<p>{{startaddress}}</p>
<p>{{startcityzip}}</p>

<div>
    {{direction}}
</div>

<p>{{endaddress}}</p>
<p>{{endcityzip}}</p>
