﻿<td class="text-center"><span ng-if="item.IsTaxable">Yes</span><span ng-if="!item.IsTaxable">No</span></td>
<td class="text-left">    
    {{item.CategoryName}} <small class="text-muted">{{item.ProductType}}</small>    
</td>
<td class="text-center">{{item.Quantity}}</td>
<td>{{item.SalePrice | currency}}</td>
<td class="text-danger">{{-1 * item.DiscountAmount | currency}}</td>
<td>{{item.Subtotal | currency}}</td>