﻿<div>
    <div class="modal fade" id="paymentEditModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="mx-auto modal-title">{{PaymentService.payment.PaymentId ? 'Edit Payment' : 'New Payment'}}</h4>
                    <button type="button" class="close" data-dismiss="modal" ng-disabled="PaymentService.IsBusy" aria-hidden="true" ng-click="PaymentService.ResetPayment()">&times;</button>
               </div>
                <form role="form" ng-submit="PaymentService.SavePayment(Invoice)">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Method:</label>
                                    <select class="form-control" ng-model="PaymentService.payment.PaymentMethod">
                                        <option>Cash</option>
                                        <option>Check</option>
                                        <option>American Express</option>
                                        <option>Discover</option>
                                        <option>MasterCard</option>
                                        <option>Visa</option>
                                        <option>Debit Card</option>
                                        <option>Gift Card</option>
                                        <option>E-Check</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6" ng-if="PaymentService.payment.PaymentMethod != 'Cash'">
                                <div class="form-group">
                                    <label class="control-label">{{PaymentService.payment.PaymentMethod == 'Check' ? 'Check Number' : 'Authorization Code'}}:</label>
                                    <input type="text" class="form-control" ng-model="PaymentService.payment.ReferenceNum" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Payment Date:</label>
                                    <input type="text" class="form-control" required ng-model="PaymentService.payment.PaymentDate" data-date-format="MM/dd/yyyy" bs-datepicker data-autoclose="true" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Amount:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                        <input type="number" min="0" step="0.01" required class="form-control" ng-model="PaymentService.payment.Amount" placeholder="Amount" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Memo:</label>
                                    <input type="text" class="form-control" ng-model="PaymentService.payment.Memo" maxlength="256" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-disabled="PaymentService.IsBusy" data-dismiss="modal" ng-click="PaymentService.ResetPayment()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="PaymentService.IsBusy"><i class="glyphicon glyphicon-save"></i> {{PaymentService.payment.PaymentId ? 'Save changes' : 'Add payment'}}</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="row" ng-repeat="payment in PaymentService.Payments">
        <div class="col-xs-12 col-sm-6">
            <h3>Payment #{{$index + 1}}</h3>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <h3 ng-if="payment.CreatedOn"><small><span class="text-sm">Created on</span> {{payment.CreatedOn.toFriendlyString(true, true)}}</small></h3>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group">
                                <div class="text-muted">Method:</div>
                                <b ng-bind="payment.PaymentMethod"></b>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3" ng-if="payment.PaymentMethod != 'Cash'">
                            <div class="form-group">
                                <div class="text-muted">{{payment.PaymentMethod == 'Check' || payment.PaymentMethod == 'E-Check' ? 'Check Number' : 'Authorization Code'}}:</div>
                                <b ng-bind="payment.ReferenceNum"></b>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group">
                                <div class="text-muted">Payment Date:</div>
                                <b ng-bind="payment.PaymentDate"></b>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group">
                                <div class="text-muted">Amount:</div>
                                <b ng-bind="payment.Amount | currency">$</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <span class="text-muted">Memo:</span>
                                <b ng-bind="payment.Memo"></b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <button type="button" class="btn btn-primary" ng-disabled="PaymentService.IsBusy" ng-if="Invoice.BasePermission.CanUpdate" ng-click="PaymentService.EditPayment(payment, $index)"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
                            <button type="button" class="btn btn-danger pull-right" ng-disabled="PaymentService.IsBusy" ng-if="Invoice.BasePermission.CanDelete" ng-click="PaymentService.DeletePayment(payment, Invoice)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                        </div>
                    </div>

                </div>
            </div> <!-- end panel -->
        </div>
    </div>

</div>