﻿<td class="text-center"><span ng-if="item.IsTaxable">Yes</span><span ng-if="!item.IsTaxable">No</span></td>
<td class="text-left">{{item.Category}}</td>
<td colspan="3"><span ng-show="item.Memo"><b>Memo:</b> {{item.Memo}}</span></td>
<td><span ng-if="item.TypeEnum == SaleAdjTypes.Tax">{{item.Percent}} %</span><span ng-if="item.TypeEnum != SaleAdjTypes.Tax"><span ng-if="item.Amount > 0 && item.Percent == 0"> {{item.Amount | currency}}</span><span ng-if="item.Amount == 0 && item.Percent > 0"> {{item.Percent}} %</span></span></td>