﻿<style>
    .required-error {
        border: 1px solid red !important;
        color: red !important;
    }

    .k-grid-content {
        height: 100% !important;
    }

    #gridMultipartSurface > .k-grid-content.k-auto-scrollable {
        height: 200px !important;
    }

    #gridMultipartSurface > .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    #gridMultipartSurface > .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
</style>


<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li>
                <a href="#!/productCategory">
                    <h3><i class="fal fa-clipboard-list fa_icon"></i><br />Category Management</h3>
                </a>
            </li>
            <li style="display:none">
                <a href="#!/CoreProductModel">
                    <h3><i class="fal fa-clipboard-list fa_icon"></i><br />Core Product Management</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab8">
                <a href="#!/productSearch">
                    <h3><i class="far fa-dolly-flatbed-alt fa_icon vendor_icon"></i><br />Product Management</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns" ng-show="Permission.AddProduct">
            <ul class="orderlist_box">
                <li><button type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="cancel(Product.ProductKey)"><i class="far fa-times-circle fa_icon"></i></button></li>
                <li><button type="submit" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="setAction()"><i class="far fa-check-circle fa_icon"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tp_content">
        <form id="crm-lead-detail" name="productadd" ng-submit="SaveProduct()" unsaved-warning-form>
            <!-- Access error message div -->
            <div class="error" ng-show="!Permission.AddProduct">
                You don't have permission to this page.
            </div>
            <div class="p-3" ng-show="Permission.AddProduct">
                <div class="lead_rtop row">
                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                        <div class="producttype_box">
                            <div class="source-group row mb-5" ng-if="Product.ProductType == 1">
                                <div class="col-sm-5">
                                    <label class="text_detlabel">Product Type</label>
                                    <input type="text" ng-model="Product.ProductTypeCore" class="frm_controllead1 required_field" placeholder="" maxlength="50" readonly>
                                </div>
                            </div>
                            <div class="source-group row state_field" ng-if="Product.ProductType != 1"
                                 ng-class="{true: 'has-error'}[ProductSubmitted && ( productadd.Pdt_type.$modelValue==null
                                             || productadd.Pdt_type.$modelValue=='' )]">
                                <label class="text_detlabel">Product Type</label>
                                <span class="custom-dropdown custom-dropdown--white">
                                    <!--value:--{{Product.ProductType}}-->
                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                            name="Pdt_type"
                                            ng-class="{true: 'errorTP'}[productadd.Pdt_type.$invalid]"
                                            ng-model="Product.ProductType"
                                            ng-options="option.Id  as option.ProductType for option in ProductTypeList"
                                            ng-disabled="Product.ProductKey!=''?true:false" ng-required="true"
                                            ng-change="VendorTypeChange(Product.ProductType)">
                                        <option value="" disabled selected>Select</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lead_rtop row">
                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                        <div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">Primary Information</label>
                        </div>
                        <div ng-if="Product.ProductType != 1">
                            <div class="source-group row">
                                <label class="col-sm-3 col-3 required_label">Product ID</label>
                                <div class="col-sm-9 col-9">
                                    <input type="text" ng-model="Product.ProductID" class="frm_controllead1 required_field" maxlength="50" readonly>
                                </div>
                            </div>
                        </div>
                        <div ng-if="Product.ProductType == 1">
                            <div class="source-group row">
                                <label class="col-sm-3 col-3 required_label">PIC Product ID</label>
                                <div class="col-sm-9 col-9">
                                    <input type="text" ng-model="Product.PICProductID" class="frm_controllead1 required_field" maxlength="50" readonly>
                                </div>
                            </div>
                        </div>
                        <div ng-if="Product.ProductType == 1">
                            <div class="source-group row">
                                <label class="col-sm-3 col-3 required_label">Product Group</label>
                                <div class="col-sm-9 col-9">
                                    <input type="text" ng-model="Product.ProductGroupDesc" class="frm_controllead1 required_field" maxlength="50" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="source-group row" ng-class="{true: 'has-error'}[ProductSubmitted && productadd.Pdt_fname.$invalid]">
                            <!--<div ng-switch="Product.ProductType">
                                <div ng-switch-when="4">
                                    <label class="col-sm-3 col-3 required_label">Discount Name</label>
                                </div>
                                <div ng-switch-when="1">
                                    <label class="col-sm-3 col-3 required_label">Product</label>
                                </div>
                                <div ng-switch-default>
                                    <label class="col-sm-3 col-3 required_label">Product Name</label>
                                </div>
                            </div>-->
                            <div class="col-sm-3 col-3 required_label" ng-switch="Product.ProductType">
                                <div ng-switch-when="4">
                                    <label>Discount Name</label>
                                </div>
                                <div ng-switch-when="1">
                                    <label>Product</label>
                                </div>
                                <div ng-switch-default>
                                    <label>Product Name</label>
                                </div>
                            </div>
                            <div class="col-sm-9 col-9">
                                <input type="text" ng-model="Product.ProductName" class="form-control frm_controllead1 required_field"
                                       name="Pdt_fname" placeholder="Required" required maxlength="70" ng-disabled="Product.ProductType ? false:true"
                                       ng-required="true"
                                       ng-readonly="Product.ProductType==1">
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-3 required_label">Description</label>
                            <div class="col-sm-9 col-9">
                                <input type="text" ng-model="Product.Description" class="frm_controllead1" placeholder=""
                                       maxlength="250" ng-disabled="Product.ProductType ? false:true"
                                       ng-readonly="Product.ProductType==1">
                            </div>
                        </div>
                        <fieldset ng-disabled="Product.ProductType == 1">
                            <div class="source-group row state_field" ng-class="{true: 'has-error'}[ProductSubmitted && ( productadd.Pdt_status.$modelValue==null
                                             || productadd.Pdt_status.$modelValue=='' )]">
                                <!--<div ng-switch="Product.ProductType">
                                    <div ng-switch-when="1">
                                        <label class="col-sm-3 col-3 required_label">Product Status</label>
                                    </div>
                                    <div ng-switch-default>
                                        <label class="col-sm-3 col-3 required_label">Product/Service Status</label>
                                    </div>
                                </div>-->
                                <div class="col-sm-3 col-3 required_label" ng-switch="Product.ProductType">
                                    <div ng-switch-when="1">
                                        <label>Product Status</label>
                                    </div>
                                    <div ng-switch-default>
                                        <label>Product/Service Status</label>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                name="Pdt_status"
                                                ng-model="Product.ProductStatus"
                                                ng-class="{true: 'errorTP'}[productadd.Pdt_status.$invalid]"
                                                ng-options="option.ProductStatusId  as option.ProductStatus for option in ProductstatusList"
                                                ng-disabled="Product.ProductType ? false:true"
                                                ng-required="true">

                                            <option value="" disabled selected>Select</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                        <div ng-if="Product.ProductType==3" style="color: red;">
                            <div class="row11">
                                <input type="checkbox" name="isTaxable" class="option-input checkbox" ng-model="Product.Taxable" ng-checked='!Product.Taxable' ng-click="Changetaxable()">
                                Mark Service as non-taxable
                            </div>
                            <p>Marking a service as non-taxable may not be in compliance with your local,<br />county or state tax laws. Please consult your accountant/bookkeeper for guidance on tax settings.<br /></p>
                            <p>Please refer to <a href="https://www.avalara.com/taxrates/en/download-tax-tables.html?referrer=&lastReferrer=www.avalara.com&sessionId=1541636968893" target="_blank">[Avalara Tax Table]</a> for current tax rates.</p>
                        </div>
                        <div ng-if="Product.ProductType ==2">
                            <div class="row11" style="padding-left: 15px;">
                                <input type="checkbox" name="MultipartSurfacing" class="option-input checkbox" ng-model="Product.MultipartSurfacing" ng-checked='Product.MultipartSurfacing' ng-click="ChangeSurfacing()">
                                Multi-Part Surfacing Product
                            </div>
                        </div>
                    </div>
                </div>
                <!--for other-->
                <div class="vendor_streetgrid">
                    <div ng-if="Product.ProductType != 3 && Product.ProductType != 4 && Product.ProductType != 1">
                        <h3 ng-if="Product.ProductType != 4 && Product.ProductType !=1" style="font-weight:bold;">Classification</h3>
                        <div class="kendo_panelproduct">
                            <div class="row" ng-if="Product.ProductType != 4 && Product.ProductType !=1">
                                <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1 mt-4">
                                    <div class="source-group row state_field" ng-class="{true: 'has-error'}[ProductSubmitted && ( productadd.Brand_Name.$modelValue==null
                                             || productadd.Brand_Name.$modelValue=='' )]">
                                        <label class="col-sm-3 col-3 required_label">Concept</label>
                                        <div class="col-sm-9 col-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                        name="Brand_Name"
                                                        ng-model="Product.BrandID"
                                                        ng-class="{true: 'errorTP'}[productadd.Brand_Name.$invalid]"
                                                        ng-change="BrandSelect()"
                                                        ng-disabled="Product.ProductType ? false:true" ng-required="true">
                                                    <option value="" disabled selected>Select</option>
                                                    <option ng-value=2>Tailored Living (TL)</option>
                                                    <option ng-value=3>Concrete Craft (CC)</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="source-group row state_field" ng-class="{true: 'has-error'}[ProductSubmitted && ( productadd.Pdt_categ.$modelValue==null
                                             || productadd.Pdt_categ.$modelValue=='' )]">
                                        <label class="col-sm-3 col-3 required_label">Product Category</label>
                                        <div class="col-sm-9 col-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                        name="Pdt_categ"
                                                        ng-model="Product.ProductCategory"
                                                        ng-class="{true: 'errorTP'}[productadd.Pdt_categ.$invalid]"
                                                        ng-change="Subcategory(Product.ProductCategory)"
                                                        ng-options="option.ProductCategoryId  as (option.ProductCategory) for option in ProductCategoryList"
                                                        ng-disabled="Product.ProductType ? false:true" ng-required="true">
                                                    <option value="" disabled selected>Select</option>
                                                    <!--<option ng-repeat="option in ProductCategoryList" ng-value="option.ProductCategoryId">{{option.ProductCategory}}</option>-->
                                                </select>
                                            </span>
                                        </div>
                                    </div>

                                    <div ng-if="Product.VendorType == 1">
                                        <div class="source-group row state_field" ng-class="{true: 'has-error'}[ProductSubmitted && ( productadd.Pdt_subcateg.$modelValue==null
                                             || productadd.Pdt_subcateg.$modelValue=='' )]">
                                            <label class="col-sm-3 col-3 required_label">Product Sub Category</label>
                                            <div class="col-sm-9 col-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                            name="Pdt_subcateg"
                                                            ng-model="Product.ProductSubCategory"
                                                            ng-class="{true: 'errorTP'}[productadd.Pdt_subcateg.$invalid]"
                                                            ng-options="option.ProductCategoryId  as option.ProductCategory for option in ProductSubCategoryList"
                                                            ng-disabled="Product.ProductType ? false:true" ng-required="true">
                                                        <option value="" disabled selected>select</option>

                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="Product.ProductType !=3 && Product.VendorType != 1">
                                        <div class="source-group row state_field">
                                            <label class="col-sm-3 col-3 required_label">Product Sub Category</label>
                                            <div class="col-sm-9 col-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                                            ng-model="Product.ProductSubCategory"
                                                            ng-disabled="Product.ProductType ? false:true">
                                                        <option value="">select</option>
                                                        <option ng-repeat="option in ProductSubCategoryList" ng-value="option.ProductCategoryId">{{option.ProductCategory}}</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="Product.VendorType == 1">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 required_label">Model</label>
                                            <div class="col-sm-9 col-9">
                                                <input type="text" ng-model="Product.Model" class="frm_controllead1 required_field" maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="Product.VendorType == 1">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 required_label">Collection</label>
                                            <div class="col-sm-9 col-9">
                                                <input type="text" ng-model="Product.Collection" class="frm_controllead1 required_field" maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="Product.VendorType == 1">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 required_label">Color</label>
                                            <div class="col-sm-9 col-9">
                                                <input type="text" ng-model="Product.Color" class="frm_controllead1 required_field" maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <h3 ng-if="Product.ProductType != 3 && Product.ProductType != 4 && Product.MultipartSurfacing == false" style="font-weight:bold;">Vendor Information</h3>
                        <div class="kendo_panel" ng-if="Product.ProductType != 3 && Product.ProductType != 4 && Product.MultipartSurfacing == false">
                            <div ng-if="Product.ProductType != 3 && Product.ProductType != 4">
                                <div class="row" ng-show="Permission.DisplayVendor">
                                    <div class="col-6 col-sm-6 productgrid_left">
                                        <fieldset ng-disabled="Product.ProductType == 1">
                                            <div class="source-group row state_field" ng-class="{true: 'has-error'}[ProductSubmitted && ( productadd.Vendor_Name.$modelValue==null
                                             || productadd.Vendor_Name.$modelValue=='' )]">
                                                <label class="col-sm-3 col-3 required_label">Vendor Name</label>
                                                <div class="col-sm-9 col-9">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                name="Vendor_Name"
                                                                ng-model="Product.VendorID"
                                                                ng-class="{true: 'errorTP'}[productadd.Vendor_Name.$invalid]"
                                                                ng-change="ProductVendorId(Product.VendorID);VendorTypeValue(Product.VendorID)"
                                                                ng-options="option.VendorID as option.Name for option in ProductVendorName"
                                                                ng-disabled="Product.ProductType ? false:true"
                                                                ng-required="true">
                                                            <option value="" disabled selected>select</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 required_label">Vendor ID</label>
                                            <div class="col-sm-9 col-9">
                                                <input type="text" ng-model="Product.VendorID" class="frm_controllead1" placeholder="" maxlength="50" readonly>
                                            </div>
                                        </div>

                                        <div ng-if="Product.ProductType == 1">
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-3 required_label">Phase Out Date</label>
                                                <div class="col-sm-9 col-9">
                                                    <input type="text" ng-model="Product.PhasedoutDate" class="frm_controllead1" placeholder="" maxlength="50" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="Product.ProductType == 1">
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-3 required_label">Discontinue Date</label>
                                                <div class="col-sm-9 col-9">
                                                    <input type="text" ng-model="Product.DiscontinuedDate" class="frm_controllead1" placeholder="" maxlength="50" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="Product.ProductType != 1">
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-3 required_label">Vendor Product SKU</label>
                                                <div class="col-sm-9 col-9">
                                                    <input type="text" ng-model="Product.VendorProductSKU" class="frm_controllead1" placeholder="" maxlength="50" ng-disabled="Product.ProductType ? false:true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 productgrid_right">
                                        <div ng-hide="Product.ProductType ? false:true" style="display:none;">
                                            <button type="button" class="plus_but middle_pbut tooltip-bottom" data-tooltip="New Vendor" ng-click="AddNewVendor()">
                                                <i class="far fa-plus-square"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 ng-if="Product.ProductType != 4 && Product.ProductType !=1 && Product.MultipartSurfacing == false" style="font-weight:bold;">Sales Information</h3>
                        <div class="kendo_panelproduct" ng-show="Product.MultipartSurfacing==false">
                            <div ng-if="Product.ProductType != 4 && Product.ProductType !=1">
                                <div class="row my-3">
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <div class="row drop_group state_field">
                                            <div class="col-sm-6 col-6 row ml-0 mr-0">
                                                <label id="Cost" class="col-sm-4 col-4 required_label">Cost</label>
                                                <div class="col-sm-8 col-8 dropdown_rmargin">
                                                    <input type="text" id="CostValue" blur-to-currency amount="Product.Cost" control="CostCurrencyControl" placeholder="$0.00" class="frm_controllead1" maxlength="12" ng-disabled="Product.ProductType==''">
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-6 row ml-0 mr-0" ng-class="{true: 'has-error'}[ProductSubmitted && productadd.Unit_cost.$invalid]">
                                                <label id="Cost" class="col-sm-4 col-4 required_label">Unit Price</label>
                                                <div class="col-sm-8 col-8 dropdown_rmargin">
                                                    <input type="text" id="CostValue" name="Unit_cost" blur-to-currency control="SalePriceCurrencyControl" amount="Product.SalePrice" placeholder="$0.00" class="form-control frm_controllead1 required_field" required maxlength="13" ng-disabled="Product.ProductType==''">
                                                    <!--<input type="text" id="CostValue" class="form-control frm_controllead1 required_field" name="Unit_cost" ng-model="Product.SalePrice" format="currency" required placeholder=""  ng-disabled="Product.ProductType==''" maxlength="13"/>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--for service-->
                    <div ng-if="Product.ProductType == 3 && Product.ProductType != 4 && Product.ProductType != 1">

                        <h3 ng-if="Product.ProductType != 4 && Product.ProductType !=1" style="font-weight:bold;">Classification</h3>
                        <div class="kendo_panelproduct">
                            <div class="row mt-3" ng-if="Product.ProductType != 4 && Product.ProductType !=1">
                                <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                    <div class="source-group row state_field" ng-class="{true: 'has-error'}[ProductSubmitted && ( productadd.Pdt_categ.$modelValue==null
                                             || productadd.Pdt_categ.$modelValue=='' )]">
                                        <label class="col-sm-3 col-3 required_label">Product Category</label>
                                        <div class="col-sm-9 col-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                        name="Pdt_categ"
                                                        ng-model="Product.ProductCategory"
                                                        ng-class="{true: 'errorTP'}[productadd.Pdt_categ.$invalid]"
                                                        ng-change="Subcategory(Product.ProductCategory)"
                                                        ng-options="option.ProductCategoryId  as (option.ProductCategory) for option in ProductCategoryList"
                                                        ng-disabled="Product.ProductType ? false:true" ng-required="true">
                                                    <option value="" disabled selected>Select</option>
                                                    <!--<option ng-repeat="option in ProductCategoryList" ng-value="option.ProductCategoryId">{{option.ProductCategory}}</option>-->
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div ng-if="Product.VendorType == 4">
                                        <div class="source-group row state_field" ng-class="{true: 'has-error'}[ProductSubmitted && ( productadd.Pdt_subcateg.$modelValue==null
                                             || productadd.Pdt_subcateg.$modelValue=='' )]">
                                            <label class="col-sm-3 col-3 required_label">Product Sub Category</label>
                                            <div class="col-sm-9 col-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                            name="Pdt_subcateg"
                                                            ng-model="Product.ProductSubCategory"
                                                            ng-class="{true: 'errorTP'}[productadd.Pdt_subcateg.$invalid]"
                                                            ng-options="option.ProductCategoryId  as option.ProductCategory for option in ProductSubCategoryList"
                                                            ng-disabled="Product.ProductType ? false:true" ng-required="true">
                                                        <option value="" disabled selected>select</option>
                                                        <!--<option ng-repeat="option in ProductSubCategoryList" ng-value="option.ProductCategoryId">{{option.ProductCategory}}</option>-->
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="Product.VendorType != 4">
                                        <div class="source-group row state_field">
                                            <label class="col-sm-3 col-3 required_label">Product Sub Category</label>
                                            <div class="col-sm-9 col-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                                            ng-model="Product.ProductSubCategory"
                                                            ng-disabled="Product.ProductType ? false:true"
                                                            ng-change="ProductSubCategoryChanged(Product.ProductSubCategory)">
                                                        <option value="">select</option>
                                                        <option ng-repeat="option in ProductSubCategoryList" ng-value="option.ProductCategoryId">{{option.ProductCategory}}</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="Product.VendorType == 1">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 required_label">Model</label>
                                            <div class="col-sm-9 col-9">
                                                <input type="text" ng-model="Product.Model" class="frm_controllead1 required_field" maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="Product.VendorType == 1">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 required_label">Collection</label>
                                            <div class="col-sm-9 col-9">
                                                <input type="text" ng-model="Product.Collection" class="frm_controllead1 required_field" maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="Product.VendorType == 1">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 required_label">Color</label>
                                            <div class="col-sm-9 col-9">
                                                <input type="text" ng-model="Product.Color" class="frm_controllead1 required_field" maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <h3 ng-if="Product.ProductType != 4 && Product.ProductType !=1" style="font-weight:bold;">Sales Information</h3>
                        <div class="kendo_panelproduct" ng-show="Product.MultipartSurfacing==false">
                            <div ng-if="Product.ProductType != 4 && Product.ProductType !=1">
                                <div class="row my-3">
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <div class="row drop_group state_field">
                                            <div class="col-sm-6 col-6 row ml-0 mr-0">
                                                <label id="Cost" class="col-sm-4 col-4 status_label">Cost</label>
                                                <div class="col-sm-8 col-8 dropdown_rmargin">
                                                    <input type="text" id="CostValue" blur-to-currency amount="Product.Cost" control="CostCurrencyControl" class="frm_controllead1" placeholder="$0.00" maxlength="13" ng-disabled="Product.ProductType==''">
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-6 row ml-0 mr-0" ng-class="{true: 'has-error'}[ProductSubmitted && productadd.Unit_cost.$invalid]">
                                                <label id="Cost" class="col-sm-4 col-4 status_label">Unit Price</label>
                                                <div class="col-sm-8 col-8 dropdown_rmargin">
                                                    <input type="text" id="CostValue" name="Unit_cost" blur-to-currency control="SalePriceCurrencyControl" amount="Product.SalePrice" class="form-control frm_controllead1 required_field" required placeholder="$0.00" maxlength="13" ng-disabled="Product.ProductType==''">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div ng-show="isSurfacingLabour">
                            <div class="kendo_panelproduct" ng-if="BrandId == 3">
                                <div class="row my-3">
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <div class="row drop_group state_field">
                                            <div class="col-sm-6 col-6 row ml-0 mr-0">
                                                <label id="Cost" class="col-sm-4 col-4 required_label">Minimum Job Size</label>
                                                <div class="col-sm-8 col-8 dropdown_rmargin">
                                                    <input type="number" ng-model="Product.ProductSurfaceSetup.MinimumJobSize" id="MinJobSize" placeholder="Enter Minimum job size" class="form-control frm_controllead1 required_field" ng-disabled="Product.ProductType==''">
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-6 row ml-0 mr-0">
                                                <label id="Cost" class="col-sm-4 col-4 required_label">Maximum Job Size</label>
                                                <div class="col-sm-8 col-8 dropdown_rmargin">
                                                    <input type="number" id="MaxJobSize" name="Max-job-size" ng-model="Product.ProductSurfaceSetup.MaximumJobSize" placeholder="Enter Maximum job size" class="form-control frm_controllead1 required_field" ng-disabled="Product.ProductType==''">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--</div>-->
                            </div>

                            <div class="kendo_panelproduct row">
                                <div ng-if="Permission.ListLaborSetup">
                                    <div class="table-responsive">
                                        <!--<kendo-tooltip options="kendotooltipOptions">-->
                                        <kendo-grid id="gridSurfaceLaborSetup" options="EditLaborSetup"></kendo-grid>
                                        <!--</kendo-tooltip>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--for core product-->
                        <div ng-if="Product.ProductType != 3 && Product.ProductType != 4 && Product.ProductType == 1">

                            <h3 ng-if="Product.ProductType != 3 && Product.ProductType != 4" style="font-weight:bold;">Vendor Information</h3>
                            <div class="kendo_panel">
                                <div ng-if="Product.ProductType != 3 && Product.ProductType != 4">
                                    <div class="row" ng-show="Permission.DisplayVendor">
                                        <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                            <fieldset ng-disabled="Product.ProductType == 1">
                                                <div class="source-group row state_field" ng-class="{true: 'has-error'}[ProductSubmitted && ( productadd.Vendor_Name.$modelValue==null
                                             || productadd.Vendor_Name.$modelValue=='' )]">
                                                    <label class="col-sm-3 col-3 required_label">Vendor Name</label>
                                                    <div class="col-sm-9 col-9">
                                                        <span class="custom-dropdown custom-dropdown--white">
                                                            <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                    name="Vendor_Name"
                                                                    ng-model="Product.VendorID"
                                                                    ng-class="{true: 'errorTP'}[productadd.Vendor_Name.$invalid]"
                                                                    ng-change="ProductVendorId(Product.VendorID);VendorTypeValue(Product.VendorID)"
                                                                    ng-options="option.VendorID as option.Name for option in ProductVendorName"
                                                                    ng-disabled="Product.ProductType ? false:true"
                                                                    ng-required="true">
                                                                <option value="" disabled selected>select</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <div class="source-group row">
                                                <label class="col-sm-3 col-3 required_label">Vendor ID</label>
                                                <div class="col-sm-9 col-9">
                                                    <input type="text" ng-model="Product.VendorID" class="frm_controllead1" placeholder="" maxlength="50" readonly>
                                                </div>
                                            </div>

                                            <div ng-if="Product.ProductType == 1">
                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-3 required_label">Phase Out Date</label>
                                                    <div class="col-sm-9 col-9">
                                                        <input type="text" ng-model="Product.PhasedoutDate" class="frm_controllead1" placeholder="" maxlength="50" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="Product.ProductType == 1">
                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-3 required_label">Discontinue Date</label>
                                                    <div class="col-sm-9 col-9">
                                                        <input type="text" ng-model="Product.DiscontinuedDate" class="frm_controllead1" placeholder="" maxlength="50" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="Product.ProductType != 1">
                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-3 required_label">Vendor Product SKU</label>
                                                    <div class="col-sm-9 col-9">
                                                        <input type="text" ng-model="Product.VendorProductSKU" class="frm_controllead1" placeholder="" maxlength="50" ng-disabled="Product.ProductType ? false:true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!--Code for discount-->
                    <div ng-if="Product.ProductType == 4 && Product.ProductType != 3 && Product.ProductType != 1">
                        <!---->
                        <h3 ng-if="Product.ProductType == 4 &&Product.ProductType != 3 && Product.ProductType !=1">Sales Information</h3>
                        <div ng-show="Product.MultipartSurfacing==false">
                            <div class="row" ng-if="Product.ProductType == 4 && Product.ProductType !=1 && Product.ProductType != 3 ">
                                <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                    <div class="row leadterritory_group state_field">
                                        <div class="col-sm-6 col-6 row ml-0 mr-0" ng-class="{true: 'has-error'}[ProductSubmitted && productadd.Discount_Value.$invalid]">
                                            <label id="Cost" class="col-sm-5 required_label">Discount Value</label>
                                            <div class="col-sm-7 col-7 dropdown_rmargin">
                                                <input type="text" id="DiscountValue" name="Discount_Value" ng-model="Product.Discount" class="form-control frm_controllead1 required_field" required placeholder="0.00" maxlength="12" ng-disabled="Product.ProductType==''">

                                            </div>
                                        </div>


                                        <!--<div class="col-sm-8 dropdown_rmargin" ng-disabled="Product.ProductType==''">
                                            <input type="text" id="DiscountPercent" name="Discount_Percent" ng-model="Product.DiscountType" class="frm_controllead1"  readonly ng-disabled="Product.ProductType==''">

                                        </div>-->
                                        <div class="col-sm-6 col-6 row ml-0 mr-0">
                                            <div class="col-sm-8 col-8 dropdown_rmargin" ng-disabled="Product.ProductType==''">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <!--<input type="text" id="DiscountPercent" name="Discount_Percent" ng-model="Product.DiscountType" class="frm_controllead1"  placeholder="$0.00" maxlength="13" ng-disabled="Product.ProductType==''">-->
                                                    <select class="custom-dropdown__select custom-dropdown__select--white" id="ProductDrop" ng-model="Product.DiscountType">
                                                        <option selected value="1">%</option>
                                                        <option value="2">$</option>

                                                    </select>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                    <div ng-show="Product.MultipartSurfacing==true">
                        <h3 ng-if="Product.ProductType != 4 && Product.ProductType !=1 && Product.MultipartSurfacing == true" style="font-weight:bold;">Attributes</h3>
                        <div class="row source-group ">
                            <div class="col-1 col-sm-1 required_label">
                                <label class="required_label">Colors</label>
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c1" ng-model="Product.Attributes.color1" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c2" ng-model="Product.Attributes.color2" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c3" ng-model="Product.Attributes.color3" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c4" ng-model="Product.Attributes.color4" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c5" ng-model="Product.Attributes.color5" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c6" ng-model="Product.Attributes.color6" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c7" ng-model="Product.Attributes.color7" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c8" ng-model="Product.Attributes.color8" />
                            </div>
                        </div>
                        <div class="row source-group ">
                            <div class="col-1 col-sm-1 required_label">
                                <input type="checkbox" name="ColorEnable" class="option-input checkbox" ng-model="Product.Attributes.colorEnabled"><label class="required_label">Enabled</label>
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c9" ng-model="Product.Attributes.color9" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c10" ng-model="Product.Attributes.color10" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c11" ng-model="Product.Attributes.color11" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c12" ng-model="Product.Attributes.color12" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c13" ng-model="Product.Attributes.color13" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c14" ng-model="Product.Attributes.color14" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c15" ng-model="Product.Attributes.color15" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="c16" ng-model="Product.Attributes.color16" />
                            </div>
                        </div>
                        <div class="row source-group ">
                            <div class="col-1 col-sm-1 required_label">
                                <label class="required_label">Finishes</label>
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f1" ng-model="Product.Attributes.finishes1" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f2" ng-model="Product.Attributes.finishes2" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f3" ng-model="Product.Attributes.finishes3" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f4" ng-model="Product.Attributes.finishes4" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f5" ng-model="Product.Attributes.finishes5" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f6" ng-model="Product.Attributes.finishes6" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f7" ng-model="Product.Attributes.finishes7" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f8" ng-model="Product.Attributes.finishes8" />
                            </div>
                        </div>
                        <div class="row source-group ">
                            <div class="col-1 col-sm-1 required_label">
                                <input type="checkbox" name="ColorEnable" class="option-input checkbox" ng-model="Product.Attributes.finishesEnabled"><label class="required_label">Enabled</label>
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f9" ng-model="Product.Attributes.finishes9" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f10" ng-model="Product.Attributes.finishes10" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f11" ng-model="Product.Attributes.finishes11" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f12" ng-model="Product.Attributes.finishes12" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f13" ng-model="Product.Attributes.finishes13" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f14" ng-model="Product.Attributes.finishes14" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f15" ng-model="Product.Attributes.finishes15" />
                            </div>
                            <div class="col-1 col-sm-1">
                                <input type="text" class="frm_controllead1" name="f16" ng-model="Product.Attributes.finishes16" />
                            </div>
                        </div>
                        <div class="kendo_panelproduct row">
                            <div ng-if="Permission.ListProducts">
                                <div class="table-responsive px-3 py-0">
                                    <kendo-grid id="gridMultipartSurface" options="EditMultipartSurface"></kendo-grid>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <!-- End of Right Column -->

    </div>
</div>
<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="tp-measurementsearch row no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-12 col-lg-12 col-12 no-padding">
            <div class="col-4 col-sm-4 newrow_search float-right">
                <input ng-if="Permission.AddLaborSetup" type="button" class="k-button btn cancel_but" id="btnReset" ng-click="AddRow()" onclick="return false;" value="Add New Row" ng-disabled="rowNumberr>=3" />
                <!--<span ng-show="rowNumberr > 0"> Window Count: {{rowNumberr}}</span>-->
            </div>
        </div>
    </div>
</script>
<script id="MultipartToolbar" type="text/x-kendo-template">
    <div class="tp-measurementsearch row no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-12 col-lg-12 col-12">
            <div class="col-4 col-sm-4 newrow_search float-right" style="margin-right:15px;">
                <input ng-if="Permission.EditProduct" type="button" class="k-button btn cancel_but" id="btnReset" ng-click="AddMultipartRow()" onclick="return false;" value="Add New Row" />
            </div>
            <div class="col-4 col-sm-4 newrow_search float-left pl-0" style="padding-top:8px;">
                <label>Components</label>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    //$('input#CostValue').keyup(function (event) {

    //    // skip for arrow keys
    //    if (event.which >= 37 && event.which <= 40) return;

    //    // format number
    //    $(this).val(function (index, value) {
    //        return value
    //        .replace(/\D/g, "")
    //        .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    //        ;
    //    });
    //});


    $('input.number').keyup(function (event) {

        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) {
            event.preventDefault();
        }

        $(this).val(function (index, value) {
            value = value.replace(/,/g, '');
            return numberWithCommas(value);
        });
    });

    function numberWithCommas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }
</script>






<!---Script for dropdown-->
<!--<script>
    var addClass = function (el, className) {
        if (el.classList) {
            el.classList.add(className);
        } else {
            el.className += ' ' + className;
        }
    },
     hasClass = function (el, className) {
         return el.classList ?
             el.classList.contains(className) :
             new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);
     },
     removeClass = function (el, className) {
         if (el.classList) {
             el.classList.remove(className);
         } else {
             el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
         }
     },
     updateSelectPlaceholderClass = function (el) {
         var opt = el.options[el.selectedIndex];
         if (hasClass(opt, "placeholder")) {
             addClass(el, "placeholder");
         } else {
             removeClass(el, "placeholder");
         }
     },
     selectList = document.querySelectorAll("select");
    //Simulate placeholder text for Select box

    for (var i = 0; i < selectList.length; i++) {
        var el = selectList[i];
        updateSelectPlaceholderClass(el);
        el.addEventListener("change", function () {
            updateSelectPlaceholderClass(this);
        });
    }


</script>-->
