﻿
<div class="container-fluid">
    <div class="row">
        <div class="landing-wrap">
            <div class="sales"><h3><img class="sale_icon" src="../../../Content/images/setting.png">Settings</h3></div>
            <ul class="tabs landing_tab top_tab">
                <li rel="tab1"><a href="#!/Sources"><h3>Campaigns</h3></a></li>
                <li rel="tab2"><h3>QB Setup</h3></li>
                <li class="tab3"><h3>Users</h3></li>
                <li class="tab4"><h3>Roles</h3></li>
                <li rel="tab6"><a href="#!/vendor"><h3>Vendors</h3></a></li>
                <li class="activelead" rel="tab7"><h3>Products</h3></li>
            </ul>
            <ul class="lead_ricons pull-right">
                <li><button type="button" class="plus_but tooltip-bottom" data-tooltip="New Note" ng-disabled="IsBusy"><div class="sw_icon"></div></button></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="lead_stab">
    <div class="lead_butns" ng-show="Permission.EditProduct">
        <button type="reset" class="btn btn-primary cancel_but" ng-disabled="IsBusy" ng-click="cancel()"> Cancel</button>
        <button type="button" class="btn btn-primary cancel_but" ng-disabled="IsBusy" ng-mousedown="onMouseDown()" ng-click="setAction()">Save</button>
    </div>
    <div class="clearfix"> </div>
</div>

<div class="tab_container">
    <h3 class="d_active tab_drawer_heading" rel="tab6">Tab 6</h3>
    <div id="tab6" class="tab_content1">
        <div class="p-3">
            <form id="crm-lead-detail" name="productadd" ng-submit="saveproduct()">
                <!-- Access error message div -->
                <div class="error" ng-show="!Permission.EditProduct">
                    You don't have permission to this page.
                </div>
                <div class="leadgrid_box" ng-show="Permission.EditProduct">
                    <div class="lead_rtop row">

                        <div class="vendor-grid">
                            <div class="pull-left vendor-item">
                                <label>
                                    <input type="checkbox" class="option-input checkbox" checked="checked">
                                    Activate Product
                                </label>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="vendor-grid">
                            <div class="pull-left vendor-item">
                                <label>01 November 2017 10:10</label>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <!-- Adding blank space -->
                        <div class="vendor-grid">
                            <hr style="clear:both;">
                            <div class="clearfix"> </div>
                        </div>
                        <!-- Adding blank space -->
                        <!-- Left Column -->
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">

                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Product ID<span class="asteriskField">*</span></label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <input type="text" class="form-control frm_controllead" placeholder="" required="" maxlength="50" value="11111">
                                </div>
                            </div>
                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Product Name<span class="asteriskField">*</span></label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <input type="text" class="form-control frm_controllead" placeholder="" required="" maxlength="50" value="Bracket">
                                </div>
                            </div>
                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Description<span class="asteriskField"></span></label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <input type="text" class="form-control frm_controllead" placeholder="" required="" maxlength="50" value="Mouting Bracket">
                                </div>
                            </div>

                        </div>
                        <!-- End of Left Column -->
                        <!-- Right Column -->
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">PIC ID<span class="asteriskField">*</span></label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <input type="text" class="form-control frm_controllead" placeholder="" required="" maxlength="50" value="2020-3030">
                                </div>
                            </div>
                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Category<span class="asteriskField">*</span></label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <input type="text" class="form-control frm_controllead" placeholder="" required="" maxlength="50" value="Hardware">
                                </div>
                            </div>
                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Sub Category</label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <input type="text" class="form-control frm_controllead" placeholder="" required="" maxlength="50" value="Brocket">
                                </div>
                            </div>

                        </div>
                        <!-- End of Right Column -->
                        <!-- Adding blank space -->
                        <div class="vendor-grid">
                            <hr style="clear:both;">
                            <hr style="clear:both;">
                        </div>
                        <!-- End of Adding blank space -->
                        <!-- Left Column -->
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">

                            <div class="form-group row state_field">
                                <label class="col-sm-3 required_label">Vendor Name<span class="asteriskField">*</span></label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="custom-dropdown__select custom-dropdown__select--white">
                                            <option selected>Home Department</option>
                                            <option>World wide</option>
                                            <option>Springs</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Vendor ID</label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <input type="text" class="form-control frm_controllead" placeholder="" required="" maxlength="50" value="555-66-777">
                                </div>
                            </div>

                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Vendor SKU</label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <input type="text" class="form-control frm_controllead" placeholder="" required="" maxlength="50" value="5050-6060">
                                </div>
                            </div>

                        </div>
                        <!-- End of Left Column -->
                        <!-- Right Column -->
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label id="Cost" class="col-sm-6 popup_label">Cost</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control frm_controllead" placeholder="$0.00" maxlength="10" value="69.50">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label id="MarkUp" class="col-sm-6 popup_label">Mark Up</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control frm_controllead" maxlength="50" value="Mark up text entered">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Sale Price</label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <input type="text" class="form-control frm_controllead" placeholder="" required="" maxlength="50" value="101.59">
                                </div>
                            </div>

                        </div>
                        <!-- End of Right Column -->
                        <!-- Adding blank space -->
                        <div class="vendor-grid">
                            <hr style="clear:both;">
                            <hr style="clear:both;">
                        </div>
                        <!-- End of Adding blank space -->
                        <!-- Left Column -->
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Product Image</label>
                                <div class="col-sm-9 textbox-lmargin">
                                    <input ng-model='file' type="file" />
                                </div>
                            </div>
                        </div>
                        <!-- End of Left Column -->
                        <!-- Right Column -->
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">

                            <div class="sub_expand4">
                                <div style="margin-top: 15px;margin-bottom: 15px; height: 2px; background-color: gray; text-align: left">
                                    <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -9px;" ng-click="DisplayMore3 = !DisplayMore3">
                                        &nbsp;Notes &nbsp;
                                    </span>
                                </div>
                                <div class="sub_expandlead" ng-show="DisplayMore3">
                                    <div class="table-responsive">
                                        <table class="table table-expand">
                                            <thead class="expand_lhead">
                                                <tr>
                                                    <th></th>
                                                    <th>Index</th>
                                                    <th>Title</th>
                                                    <th>Category</th>
                                                    <th>Notes</th>
                                                    <th>Created On</th>
                                                    <th><button type="submit" onclick="return false;" class="plus_but tooltip-bottom" data-tooltip="New Note"><i class="far fa-comments"></i></button></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><i class="far fa-pen edit_icon"></i></td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>DD Mon YYYY HH:MM</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- End of Right Column -->

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>