﻿<style>
    /*input.ng-invalid {
       border-color: pink;
    }*/
    .error, .required_lable {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
    .errortext {
        color: red !important;
    }
    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }
    .k-grid-content.k-auto-scrollable {
        height: 100% !important;
    }
    .franchise_radiobut {
        color: green;
    }
</style>

<div class="outter-wp">
    <!--<div id="preloader">
        <img src="/images/preloader.gif" />
    </div>-->
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>

    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>

    <div class="tab_container">
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li class="activelead1" rel="tab6"><h3><i class="far fa-user fa_icon"></i><br />Franchise Info</h3></li>
                </ul>
                <div class="leaddetail_butns" style="margin-top:10px;">
                    <ul class="nofitications-dropdown impersonate_ddown">
                       <li class="dropdown franchise_user" ng-if="Permission.Impersonatepermission">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-secret plus_but"> </i></a>
                            <ul class="dropdown-menu impersonate_subddown">
                                <li><a ng-click="impersonate(this.Franchise.FranchiseOwners[0].User.UserId )">{{Franchise.FranchiseOwners[0].User.Person.FullName}} / {{Franchise.FranchiseOwners[0].User.Person.PrimaryEmail.split("@")[0]}}</a></li>
                                <li ng-repeat="users in Franchise.Users">
                                  <a ng-click="impersonate(this.users.UserId)">{{users.UserName}}</a>
                                </li>
                           </ul>
                        </li>
                        <li ng-if="Permission.EditFe">
                            <button type="button" class="tooltip-bottom" style="background:none;
                               border:none; padding:0; outline:none; color: #69696d; vertical-align: text-top;"
                                    data-tooltip="Edit" ng-click="EditFranchise()">
                                <i class="far fa-pen plus_but"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>

            <form id="crm-lead-detail" name="formFranchise" ng-submit="SaveFranchise()">
                <div class="tab_container tp_content">
                    <div class="error error_msg" ng-show="!Permission.ViewFe" style="padding-top:30px;padding-left:20px;">
                        You don't have permission to this page.
                    </div>
                    <div class="p-3" ng-show="Permission.ViewFe">
                        <button type="button" class="float-right dashboard_btn" ng-disabled="Franchise.IsQBEnabled" ng-click="addToQB()">
                            {{qbbtntext}}
                        </button>
                        <div class="leadgrid_box franchisetpt_grid">
                            <h1>Basic Franchise Info</h1>
                            <div class="row">
                                <div class="col-xl-9">
                                    <div class="row territory_group">
                                        <div class="col-md-6">
                                            <div class="row no-margin">
                                                <label class="col-sm-5 col-5 text_detlabel">Concept</label>
                                                <div class="col-sm-6 col-6">
                                                    <span ng-show="FrachiseId>0"><label class="ldet_label">{{GetFranchiseName(Franchise.BrandId)}}</label></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-6 col-md-6">

                                        </div>
                                    </div>





                                    <!--<div class="col-sm-6 col-6 col-md-6">
                    <div class="row territory_group">
                        <label class="col-sm-5 col-5 text_detlabel">Concept</label>
                        <div class="col-sm-6 col-6">
                            <span ng-show="FrachiseId>0"><label class="ldet_label">{{GetFranchiseName(Franchise.BrandId)}}</label></span>
                        </div>
                    </div>
                </div>-->
                                    <div class="row territory_group">
                                        <div class="col-sm-6 col-6 col-md-6">
                                            <div class="row no-margin">
                                                <label class="col-sm-5 col-5 text_detlabel">Account Code</label>
                                                <div class="col-sm-6 col-6">
                                                    <label class="ldet_label">{{Franchise.Code}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row no-margin">
                                                <label class="col-sm-3 col-3 text_detlabel">Start Date</label>
                                                <div class="col-sm-5 col-5 pr-0">
                                                    <label class="ldet_label">{{Franchise.CreatedOnUtc|GlobalTime: 'short' }} </label>
                                                </div>
                                                <div class="col-sm-4 col-4"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row territory_group">
                                        <div class="col-sm-6 col-6 col-md-6">
                                            <div class="row no-margin">
                                                <label class="col-sm-5 col-5 text_detlabel">Franchise Name</label>
                                                <div class="col-sm-6 col-6">
                                                    <label class="ldet_label">{{Franchise.Name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-6 col-md-6">
                                            <div class="row no-margin">
                                                <label class="col-sm-3 col-3 text_detlabel">TPT Go Live Date</label>
                                                <div class="col-sm-5 col-5 pr-0">
                                                    <label class="ldet_label">{{Franchise.TPTGoLiveDate|GlobalTime:'shortDate'}} </label>
                                                </div>
                                                <div class="col-sm-4 col-4"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="source-group row">
                    <label class="col-sm-3 col-3 text_detlabel">Franchise Name</label>
                    <div class="col-sm-9 col-9">
                        <label class="ldet_label">{{Franchise.Name}} </label>
                    </div>
                </div>-->
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Franchise DBA Name</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{Franchise.DBAName}} </label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Time Zone</label>
                                        <div class="col-sm-9 col-9 no-padding">
                                            <div class="row no-margin">
                                                <div class="col-sm-4 col-4" style="max-width:32.3%;">
                                                    <label class="ldet_label">{{TimezoneValue}} </label>
                                                </div>
                                                <div class="col-sm-3 col-3 row no-margin">
                                                    <label class="col-sm-3 col-3 text_detlabel">DMA</label>
                                                    <div class="col-sm-9 col-9 pr-0">
                                                        <label class="ldet_label">{{Franchise.DMA}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 col-5 pr-0 row no-margin" style="max-width: 42.666667%;">
                                                    <label class="col-sm-3 col-3 text_detlabel">Region</label>
                                                    <div class="col-sm-9 col-9">
                                                        <label class="ldet_label">{{Franchise.Region}} </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Web Site</label>
                                        <div class="col-sm-3 col-3">
                                            <label class="ldet_label">{{Franchise.Website}} </label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Business Coach</label>
                                        <div class="col-sm-3 col-3">
                                            <label class="ldet_label">{{Franchise.CoachName}} </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 mt-5">
                                    <div class="suspend_text mb-2">
                                        <input disabled="disabled" ng-model="Franchise.IsSuspended" type="checkbox" class="option-input checkbox " value="">
                                        <label class="ldet_label">Suspended</label>
                                    </div>
                                    <div class="suspend_text mb-2">
                                        <input disabled="disabled" ng-model="Franchise.EnableTexting" type="checkbox" class="option-input checkbox " value="">
                                        <label class="ldet_label">Enable SMS Customer Texting</label>
                                    </div>
                                    <div class="suspend_text mb-2">
                                        <input disabled="disabled" ng-model="Franchise.EnableCase" type="checkbox" class="option-input checkbox " value="">
                                        <label class="ldet_label">Enable Case Management</label>
                                    </div>
                                    <div class="suspend_text mb-2">
                                        <input disabled="disabled" ng-model="Franchise.EnableVendorManagement" type="checkbox" class="option-input checkbox " value="">
                                        <label class="ldet_label">Enable Vendor Management</label>
                                    </div>
                                    <div class="suspend_text mb-2">
                                        <input disabled="disabled" ng-model="Franchise.EnableElectronicSignAdmin" type="checkbox" class="option-input checkbox " value="">
                                        <label class="ldet_label">Enable Capture of Electronic Signature</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="leadgrid_box" ng-if="FrachiseId>0">
                            <h2>Territory Information</h2>
                            <div class="marketing_border">
                                <kendo-tooltip options="tooltipOptions" class="kendo_fraltertable">
                                    <kendo-grid id="gridFranchiseSetupTerritory" options="FranchiseViewTerritory" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                                </kendo-tooltip>
                            </div>
                        </div>
                        <div class="leadgrid_box">
                            <h2>Owner Information</h2>
                            <div class="marketing_border">
                                <div class="lead_rtop row">
                                    <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Owner ID</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{Franchise.OwnerId}} </label>
                                            </div>
                                        </div>

                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Email</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{Franchise.OwnerEmail}} </label>
                                            </div>
                                        </div>

                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Primary Phone</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{Franchise.LocalPhoneNumber}} </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <h3>Owner Name(s)</h3>
                                <kendo-tooltip options="tooltipOptions">
                                    <kendo-grid id="gridFranchiseOwner" options="FranchiseViewOwner" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                                </kendo-tooltip>
                            </div>
                        </div>
                        <div class="leadgrid_box">
                            <h4>Business Information</h4>
                            <div class="marketing_border">
                                <div class="lead_rtop row">
                                    <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                        <!--<div class="source-group row" ng-show="HomeAddress.ZipCode">
                        <div class="col-sm-4 col-4 text_detlabel">
                            <input ng-model="Franchise.IsAddressSame" type="checkbox" class="option-input checkbox" ng-click="IsSameAddress()">
                            Same as Home Address
                        </div>
                        <div class="col-sm-8 col-8"></div>
                    </div>-->
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Admin Name</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{Franchise.AdminName}} </label>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Business Phone</label>
                                            <div class="col-sm-9 col-9 row no-margin">
                                                <div class="col-sm-7 col-7 no-padding">
                                                    <label class="ldet_label">{{Franchise.BusinessPhone}} </label>
                                                </div>
                                                <div class="col-sm-5 col-5 no-padding"> </div>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Admin Email</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{Franchise.AdminEmail}} </label>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Currency</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label"> {{Franchise.Currency}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_2">
                                        <!-- address component -->
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3"></label>
                                            <div class="col-sm-9 col-9">
                                                <h4 class="mb-0">Business Address:</h4>
                                            </div>
                                        </div>


                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">ZipCode</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{BusinessAddress.ZipCode}}</label>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Address1</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{BusinessAddress.Address1}}</label>
                                                <label ng-show="BusinessAddress.IsValidated==false" data-tooltip="Invalid Address" class="ldet_label error text-center">
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                </label>
                                                <label ng-show="BusinessAddress.IsValidated==true" data-tooltip="Address Validated" class="ldet_label error text-center">
                                                    <i class="fas fa-check-circle franchise_radiobut"></i>
                                                </label>
                                            </div>                                          
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Address2</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{BusinessAddress.Address2}}</label>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">City</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{BusinessAddress.City}}</label>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">State</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{BusinessAddress.State}}</label>
                                            </div>
                                        </div>

                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Country</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{BusinessAddress.CountryCode2Digits}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
              </form>
         </div>
</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>
<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs li").removeClass("activelead");
        $(this).addClass("activelead");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("activelead");
        $("ul.tabs li[rel^='" + d_activeTab + "']").addClass("activelead");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content1").hide();
    $(".tab_content2").hide();
    $(".tab_content1:first").show();

    /* if in tab mode */
    $("ul.tabs1 li").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs1 li").removeClass("activelead1");
        $(this).addClass("activelead1");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs1 li").removeClass("activelead1");
        $("ul.tabs1 li[rel^='" + d_activeTab + "']").addClass("activelead1");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");

</script>