﻿<style>
    /*input.ng-invalid {
       border-color: pink;
    }*/
    .errorTP, .errortext {
        color: red !important;
    }
    .error, .required_lable {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }
    .k-combobox.required {
        border: 1px solid #a94442 !important;
    }
    span.k-widget.k-datetimepicker.k-header, span.k-widget.k-datepicker.k-header {
        border: 0 !important;
    }
    .kendo_fraedittable .k-header.k-grid-toolbar {
       padding: 5px 10px !important;
       text-align: right;
    }
    .kendo_fraedittable a.k-button.k-button-icontext.k-grid-cancel {
       margin-top:-4px;
   }
   span.k-icon.k-i-close,  a.k-button.k-button-icontext.k-grid-delete:hover {
       color: #fff !important;
    }
    .BrandSelection {
        float: left;
        width: 25%;
    }
    /*datepicker ui fix*/ 
    .k-picker-wrap.k-state-default {
       height: 28px !important;
    }
</style>

<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>

    <div class="tab_container">
        <!---inner tab--->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li class="activelead1" rel="tab6"><h3><i class="far fa-user fa_icon"></i><br />Franchise Info</h3></li>
            </ul>
            <div class="leaddetail_butns">
                <ul class="nofitications-dropdown impersonate_ddown">
                    <li ng-if="Permission.AddFe || Permission.EditFe">
                        <button type="reset" class="tooltip-bottom save_tpbut"
                                data-tooltip="Cancel" ng-click="CancelChanges()">
                            <i class="far fa-times-circle fa_icon"></i>
                        </button>
                    </li>
                    <li ng-if="Permission.AddFe || Permission.EditFe">
                        <button type="submit" class="tooltip-bottom save_tpbut"
                                ng-disabled="IsBusy" data-tooltip="Save" ng-click="SaveFranchise()">
                            <i class="far fa-check-circle fa_icon"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <form id="crm-lead-detail" name="formFranchise" ng-submit="SaveFranchise()">
            <div class="tab_container tp_content">
                <div class="error error_msg" ng-show="!Permission.AddFe || !Permission.EditFe" style="padding-top:30px;padding-left:20px;">
                    You don't have permission to this page.
                </div>
                <div class="p-3" ng-show="Permission.AddFe || Permission.EditFe">
                    <div class="leadgrid_box franchisetpt_grid">
                        <h1>Basic Franchise Info</h1>
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="source-group row" ng-show="FrachiseId==0">
                                    <label class="col-sm-3 col-3 required_label">Concept</label>
                                    <div class="col-sm-3 col-3" style="max-width:23.7%;">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white" id="cbBrand" ng-model="BrandId" ng-change="BrandSelect()">
                                                <option ng-value="1">Budget Blind(BB)</option>
                                                <option ng-value="3">Concrete Craft(CC)</option>
                                                <option ng-value="2">Tailored Living(TL)</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="source-group row" ng-show="FrachiseId>0">
                                    <label class="col-sm-3 col-3 text_detlabel">Concept</label>
                                    <div class="col-sm-3 col-3" style="max-width:23.7%">
                                        <label class="ldet_label">{{GetFranchiseName(Franchise.BrandId)}}</label>
                                    </div>
                                </div>
                                <div class="row territory_group">
                                    <div class="col-sm-6 col-6 row no-margin"
                                         ng-class="{true: 'has-error'}[submitted && formFranchise.accountCode.$invalid]">
                                        <label class="col-sm-5 col-5 required_label">Account Code</label>
                                        <div class="col-sm-6 col-6 pr-0">
                                            <input type="text" class="form-control frm_controllead1 required_field" name="accountCode"
                                                   ng-model="Franchise.Code" required placeholder="Required" ng-disabled="IsSuspendedValue"
                                                   maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-6 row no-margin">
                                        <label class="col-sm-6 col-6 required_label">Start Date</label>
                                        <div class="col-sm-6 col-6 pr-0">
                                            <input kendo-date-picker
                                                   k-format="HFCService.StaticKendoDateFormat()"
                                                   ng-class="{true: 'k-combobox required'}[submitted && formFranchise.startDate.$invalid]"
                                                   class="form-control frm_controllead1 required_field no-padding ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date" style="height:28px !important;"
                                                   ng-required="true"
                                                   id="FeStartDate"
                                                   type="text" name="startDate"
                                                   placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                                                   ng-model="Franchise.CreatedOnUtc"
                                                   ng-disabled="isDisabled"
                                                   data-autoclose="true"
                                                   ng-change="ValidateDate(Franchise.CreatedOnUtc, 'FeStartDate')"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row territory_group">
                                    <div class="col-sm-6 col-6 row no-margin"
                                         ng-class="{true: 'has-error'}[submitted && formFranchise.franchiseName.$invalid]">
                                        <label class="col-sm-5 col-5 required_label">Franchise Name</label>
                                        <div class="col-sm-6 col-6 pr-0">
                                            <input type="text" name="franchiseName" ng-model="Franchise.Name"
                                                   class="form-control frm_controllead1 required_field" required
                                                   placeholder="Required" maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-6 row no-margin">
                                        <label class="col-sm-6 col-6 required_label">TPT Go Live Date</label>
                                        <div class="col-sm-6 col-6 pr-0">
                                            <input kendo-date-picker
                                                   k-format="HFCService.StaticKendoDateFormat()"
                                                   class="form-control frm_controllead1 no-padding ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date" style="height:28px !important;"
                                                   type="text" name="GoLiveDate"
                                                   id="FeLiveDate"
                                                   placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                                                   ng-model="Franchise.TPTGoLiveDate"
                                                   ng-disabled="isDisabled"
                                                   data-autoclose="true"
                                                   ng-change="ValidateDate(Franchise.TPTGoLiveDate, 'FeLiveDate')">
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="source-group row"
                     ng-class="{true: 'has-error'}[submitted && formFranchise.franchiseName.$invalid]">
                    <label class="col-sm-3 col-3 required_label">Franchise Name</label>
                    <div class="col-sm-9 col-9">
                        <input type="text" name="franchiseName" ng-model="Franchise.Name"
                               class="form-control frm_controllead1 required_field" required
                               placeholder="Required" maxlength="50" />
                    </div>
                </div>-->
                                <div class="source-group row">
                                    <label class="col-sm-3 col-3 required_label">Franchise DBA Name</label>
                                    <div class="col-sm-9 col-9">
                                        <input type="text" ng-model="Franchise.DBAName"
                                               class="form-control frm_controllead1 required_field"
                                               maxlength="50" />
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 col-3 required_label">Time Zone</label>
                                    <div class="col-sm-9 col-9 no-padding row no-margin">
                                        <div class="col-sm-3 col-3" style="max-width:32.3%;"
                                             ng-class="{true: 'has-error'}[submitted && formFranchise.timezone.$invalid]">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="custom-dropdown__select custom-dropdown__select--white form-control frm_controllead1"
                                                        id="countryBox" ng-model="Franchise.TimezoneCode"
                                                        name="timezone"
                                                        ng-class="{true: 'errorTP'}[formFranchise.timezone.$invalid]"
                                                        required
                                                        ng-options='opt.id as (opt.name) for opt in TimeZoneCodeList'>
                                                    <option value="" disabled selected>Select</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="col-sm-3 col-3 row no-margin">
                                            <label class="col-sm-3 col-3 required_label">DMA</label>
                                            <div class="col-sm-9 col-9 pr-0">
                                                <input type="text" ng-model="Franchise.DMA"
                                                       class="form-control frm_controllead1 required_field"
                                                       maxlength="50" />
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-5 row no-margin pr-0" style="max-width:42.666667%;">
                                            <label class="col-sm-3 col-3 required_label">Region</label>
                                            <div class="col-sm-9 col-9">
                                                <input type="text"
                                                       name="region"
                                                       ng-model="Franchise.Region"
                                                       class="form-control frm_controllead1 required_field"
                                                       maxlength="50">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 col-3 required_label">Web Site</label>
                                    <div class="col-sm-3 col-3" style="max-width:23.7%;">
                                        <input type="text" name="website" ng-model="Franchise.Website"
                                               class="form-control frm_controllead1 required_field" />
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 col-3 required_label">Business Coach</label>
                                    <div class="col-sm-3 col-3" style="max-width:23.7%;">
                                        <input type="text" name="businesscoach" ng-model="Franchise.CoachName"
                                               class="form-control frm_controllead1 required_field" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 mt-5">
                                <div class="suspend_text mb-2">
                                    <input ng-model="Franchise.IsSuspended" type="checkbox" class="option-input checkbox " value="">
                                    <label class="ldet_label">Suspended</label>
                                </div>
                                <div class="suspend_text mb-2">
                                    <input ng-model="Franchise.EnableTexting" type="checkbox" class="option-input checkbox " value="">
                                    <label class="ldet_label">Enable SMS Customer Texting</label>
                                </div>
                                <div class="suspend_text mb-2">
                                    <input ng-model="Franchise.EnableCase" type="checkbox" class="option-input checkbox " value="">
                                    <label class="ldet_label">Enable Case Management</label>
                                </div>
                                <div class="suspend_text mb-2">
                                    <input ng-model="Franchise.EnableVendorManagement" type="checkbox" class="option-input checkbox " value="">
                                    <label class="ldet_label">Enable Vendor Management</label>
                                </div>
                                <div class="suspend_text mb-2">
                                    <input ng-model="Franchise.EnableElectronicSignAdmin" type="checkbox" class="option-input checkbox " value="">
                                    <label class="ldet_label">Enable Capture of Electronic Signature</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leadgrid_box" ng-if="FrachiseId>0">
                        <h2>Territory Information</h2>
                        <div class="marketing_border">
                            <kendo-tooltip options="tooltipOptions" class="kendo_fraedittable">
                                <kendo-grid id="gridFranchiseSetupTerritory" options="FranchiseSetupTerritory" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                            </kendo-tooltip>
                        </div>
                    </div>
                    <div class="leadgrid_box">
                        <h2>Owner Information</h2>
                        <div class="marketing_border">
                            <div class="lead_rtop row">
                                <div class="col-12 col-sm-12 col-xl-6">
                                    <div class="source-group row"
                                         ng-class="{true: 'has-error'}[submitted && formFranchise.ownerId.$invalid]">
                                        <label class="col-sm-3 col-3 required_label">Owner ID</label>
                                        <div class="col-sm-9 col-9">
                                            <input type="text" class="form-control frm_controllead1 required_field" name="ownerId"
                                                   ng-model="Franchise.OwnerId" required placeholder="Required"
                                                   maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="source-group row"
                                         ng-class="{true: 'has-error'}[submitted && formFranchise.user_email.$invalid]">
                                        <label class="col-sm-3 col-3 required_label">Email</label>
                                        <div class="col-sm-9 col-9">
                                            <input class="form-control frm_controllead1 required_field"
                                                   ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/"
                                                   type="email" name="user_email"
                                                   id="FranchiseEmail" ng-model="Franchise.OwnerEmail"
                                                   placeholder="Required" maxlength="256" required />
                                            <!--<input class="form-control frm_controllead1 required_field" valid-domain-name valid-email-regx
                                   type="email" name="user_email"
                                   id="FranchiseEmail" ng-model="Franchise.OwnerEmail"
                                   placeholder="Required" maxlength="256" required />-->
                                            <div ng-messages="formFranchise.user_email.$error" style="color:red">
                                                <div ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</div>
                                                <!--<span ng-show="formFranchise.user_email.$error.validEmailRegx">
                                    Please enter a valid email address!
                                </span>
                                <span ng-show="formFranchise.user_email.$error.validDomainName">
                                    Please enter a valid email address. An invalid character appears after the @ sign.
                                </span>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="source-group row"
                                         ng-class="{true: 'has-error'}[submitted && formFranchise.primaryPhone.$invalid]">
                                        <label class="col-sm-3 col-3 required_label">Primary Phone</label>
                                        <div class="col-sm-9 col-9">
                                            <input type="text" class="form-control frm_controllead1 required_field" name="primaryPhone"
                                                   ng-model="Franchise.LocalPhoneNumber"
                                                   ui-options="{clearOnBlur:false}"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_"
                                                   ui-mask="(999) 999-9999"
                                                   required />
                                            <div ng-if="formFranchise.primaryPhone.$dirty" ng-messages="formFranchise.primaryPhone.$error" style="color:red">
                                                <p class="no-margin" ng-message="mask" style="font-size: 13px;">Primary Phone number should be 10 digits.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Owner Name(s)</h3>
                                    <kendo-tooltip options="tooltipOptions" class="kendo_fraedittable">
                                        <kendo-grid id="gridFranchiseOwner" options="FranchiseSetupOwner" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                                    </kendo-tooltip>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leadgrid_box">
                        <h4>Business Information</h4>
                        <div class="marketing_border">
                            <div class="lead_rtop row">
                                <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 required_label">Admin Name</label>
                                        <div class="col-sm-9 col-9">
                                            <input type="text" class="form-control frm_controllead1 required_field" name="adminName"
                                                   ng-model="Franchise.AdminName"
                                                   maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="source-group row"
                                         ng-class="{true: 'has-error'}[submitted && formFranchise.businessPhone.$invalid]">
                                        <label class="col-sm-3 col-3 required_label">Business Phone</label>
                                        <div class="col-sm-9 col-9">
                                            <input class="form-control frm_controllead1 required_field"
                                                   type="text"
                                                   name="businessPhone"
                                                   ng-model="Franchise.BusinessPhone"
                                                   ui-options="{clearOnBlur:false}"
                                                   ui-mask-placeholder
                                                   ng-class="{true: 'has-error'}[formFranchise.businessPhone.$invalid]"
                                                   ui-mask-placeholder-char="_"
                                                   ui-mask="(999) 999-9999"
                                                   required />
                                            <div ng-if="formFranchise.businessPhone.$dirty" ng-messages="formFranchise.businessPhone.$error" style="color:red">
                                                <p class="no-margin" ng-message="mask" style="font-size: 13px;">Business Phone number should be 10 digits.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 required_label">Admin Email</label>
                                        <div class="col-sm-9 col-9">
                                            <input class="form-control frm_controllead1 required_field"
                                                   type="email"
                                                   name="adminemail"
                                                   ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/"
                                                   id="FranchiseEmail" ng-model="Franchise.AdminEmail"
                                                   maxlength="256" />
                                            <!--<input class="form-control frm_controllead1 required_field"
                                   type="email"
                                   name="adminemail" valid-domain-name valid-email-regx
                                   id="FranchiseEmail" ng-model="Franchise.AdminEmail"
                                   maxlength="256" />-->
                                            <div ng-messages="formFranchise.adminemail.$error" style="color:red">
                                                <div ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</div>
                                                <!--<span ng-show="formFranchise.adminemail.$error.validEmailRegx">
                                    Please enter a valid email address!
                                </span>
                                <span ng-show="formFranchise.adminemail.$error.validDomainName">
                                    Please enter a valid email address. An invalid character appears after the @ sign.
                                </span>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Currency</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{Franchise.Currency}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_2">
                                    <!-- address component -->
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3"></label>
                                        <div class="col-sm-9 col-9">
                                            <h4 class="mb-0">Business Address:</h4>
                                        </div>
                                    </div>
                                    <div class="source-group row state_field">
                                        <label class="col-sm-3 col-3 required_label">Country</label>
                                        <div class="col-sm-9 col-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="custom-dropdown__select custom-dropdown__select--white"
                                                        id="countryBox" ng-model="BusinessAddress.CountryCode2Digits"
                                                        ngchange1="AdditionalAddressServiceTP.CountryChanged()"
                                                        ng-change="CountryChanged()"
                                                        ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                    <!--<option value="">select</option>-->
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <hfc-addresstp address-model="BusinessAddress" parent-form-submit-status="submitted"></hfc-addresstp>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </form>
      </div>
</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>
<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs li").removeClass("activelead");
        $(this).addClass("activelead");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("activelead");
        $("ul.tabs li[rel^='" + d_activeTab + "']").addClass("activelead");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content1").hide();
    $(".tab_content2").hide();
    $(".tab_content1:first").show();

    /* if in tab mode */
    $("ul.tabs1 li").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs1 li").removeClass("activelead1");
        $(this).addClass("activelead1");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs1 li").removeClass("activelead1");
        $("ul.tabs1 li[rel^='" + d_activeTab + "']").addClass("activelead1");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");

</script>