﻿<style>
.LightGray {
    background-color: lightgray;
}
 .error {
        color: red;
}
 .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
 .k-grid-footer {
       padding-right: 17px !important;
}
 div > form.k-filter-menu > div > label
    {
        padding-left: 5px;
    }
</style>

<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <!---inner tab--->
    <div class="tp_leadsearch">
        <div class="row no-margin">
            <div class="leadsearch_topleft col-10 no-padding">
               <div class="row no-margin">
                <div class="col-2 no-padding hfc_txtbox">
                    <input ng-keyup="FranchisegridSearch()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
                </div>
                <div class="col-2 no-padding hfc_leadbut">
                    <input type="button" id="btnReset" ng-click="FranchisegridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
                </div>
                <div class="col-8 hfc_leadchkbox">
                    <input class="option-input checkbox" type="checkbox" value="" id="chkSuspend" ng-model="filters.ShowInActive" ng-click="IsSuspendSelect()">
                    <label class="ldet_label">Show Inactive</label>
                </div>
               </div>
            </div>
            <div class="col-2 no-padding">
                <div class="leadsearch_icon" ng-if="Permission.AddFe">
                    <button type="button" class="plus_but tooltip-bottom" data-tooltip="New Franchise" ng-click="NewFranchisepage()"><i class="far fa-plus-square"></i></button>
                </div>
           </div>
        </div>
     </div>
          <div class="tpadmin-content">
              <div class="error error_msg" ng-show="!Permission.ListFe" style="padding-top:30px;padding-left:20px;">
                  You don't have permission to this page.
              </div>
             
                   <div class="franchise_grid">
                       <div ng-if="Permission.ListFe">
                           <kendo-tooltip options="tooltipOptions">
                               <kendo-grid id="gridFranchise" class="ipadspace_grid" options="FranchiseList" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                           </kendo-tooltip>
                       </div>
                      <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
                          <div class="modal-wrapper-container"></div>
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                  <h4></h4>
                                  <button type="button" class="close franchise_popup" data-dismiss="modal" aria-hidden="true">×</button> <h3>Reason for Deactivation</h3> </div> <div class="modal-body" data-bind="template: bodyTemplate">
                                      <form role="form" name="DeacReson">
                                          <div class="row">
                                              <div class="form-group col-sm-4 state_field"
                                                   ng-class="{true: 'has-error'}[Deacsubmit && ( DeacReson.Reason.$modelValue==null
                                             || DeacReson.Reason.$modelValue=='' )]">
                                                  <label for="cbodeactivate">Reason</label>
                                                  <span class="custom-dropdown custom-dropdown--white">
                                                      <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                              id="cbodeactivate"
                                                              name="Reason"
                                                              ng-model="Deactivatefran.cbodeactivate"
                                                              ng-options="option.Reason for option in DeactivateReasons
                                                    track by option.DeactivationReasonId"
                                                              ng-required="true">
                                                          <option value="" class="placeholder">Please Select</option>

                                                      </select>
                                                  </span>
                                              </div>
                                              <div class="text_area col-sm-8"
                                                   ng-class="{true: 'has-error'}[Deacsubmit && ( DeacReson.Message.$invalid)]">
                                                  <label for="Message">Comment</label>
                                                  <textarea name="Message" ng-model="Deactivatefran.Message" id="txtDeactivateMessage"
                                                            class="form-control required_field"
                                                            placeholder="Message..." required></textarea>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                                  <div class="modal-footer">
                                      <a href="javascript:void(0)" class="btn btn-primary tery_sm1" data-dismiss="modal" ng-click="ClearDeactiveValues()" aria-hidden="true">Cancel</a>
                                      <a href="javascript:void(0)" class="btn btn-primary tery_sm1 deactivateLink" ng-click="DeactivateFranchise(this)">Apply</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="modal fade" id="myModalRenew" role="dialog">
                          <div class="modal-wrapper-container"></div>
                          <div class="modal-dialog">
                              <div role="form" name="form_RenewFranchisee">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h4 class="mx-auto model-title">Reason for Renew Franchise</h4>
                                          <button type="button" class="close franchise_popup" data-dismiss="modal">×</button>
                                      </div>
                                      <div class="modal-body" data-bind="template: bodyTemplate">
                                          <div id="tab3" class="tab_content">
                                              <div id="royalty" data-bind="visible: ShouldShow()" class="tab-pane" style="color:#999">
                                                  <div class="table-responsive">
                                                      <table class="table table-hover table-striped">
                                                          <thead class="tab_head">
                                                              <tr>
                                                                  <th style="width:50px" hidden></th>
                                                                  <th>Name</th>
                                                                  <th>Amount</th>
                                                                  <th>Ends On</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody ng-repeat="Royalty in RoyaltiesCollection1">
                                                              <tr>
                                                                  <td colspan="5"><p ng-bind="Royalty.Name"></p></td>
                                                              </tr>
                                                              <tr ng-repeat="fr in Royalty.FranchiseRoyalties">
                                                                  <td hidden><input type="text" ng-model="fr.TerritoryId" hidden /></td>
                                                                  <td>
                                                                      <input class="form-control" type="text" ng-model="fr.Name" readonly />
                                                                  </td>
                                                                  <td>
                                                                      <input class="form-control" type="text" ng-model="fr.Amount" readonly />
                                                                  </td>
                                                                  <td>
                                                                      <div ng-class="{true: 'has-error'}[RenewSubmitted && (form_RenewFranchisee.{{Royalty.Name}}_Renew_EndDate{{ $index + 1 }}.$invalid)]">
                                                                          <input class="form-control required_field" type="text" name="{{Royalty.Name}}_Renew_EndDate{{ $index + 1 }}" required placeholder="Required" ng-model="fr.EndDate" value="{{fr.EndDate}}" datepicker />
                                                                      </div>
                                                                  </td>
                                                              </tr>
                                                          </tbody>
                                                      </table>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                          <a href="#" class="btn btn-primary tery_sm1" data-dismiss="modal" ng-click="CancelRenew()">Cancel</a>
                                          <a href="javascript:void(0)" class="btn btn-primary tery_sm1 deactivateLink" ng-click="ReactivateFranchise(this.RoyaltiesCollection1, this)">Apply</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal fade" id="helppopup" data-keyboard="false" data-backdrop="static">
                  <div class="modal-wrapper-container"></div>
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header popup_head">
                              <h4 id="helppopuph4" class="mx-auto modal-title">Help</h4>
                          </div>
                          <form role="form" novalidate>
                              <div class="modal-footer">
                                  <a href="#" class="btn btn-cancel" id="helppopupAnc" style="background: #3d7d8b !important; color: #fff;" data-dismiss="modal">OK</a>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
        </div>
<script>
    $(document).on("shown.bs.dropdown", ".dropdown", function () {
        // calculate the required sizes, spaces
        var $ul = $(this).children(".dropdown-menu");
        var $button = $(this).children(".dropdown-toggle");
        var ulOffset = $ul.offset();
        // how much space would be left on the top if the dropdown opened that direction
        var spaceUp = (ulOffset.top - $button.height() - $ul.height()) - $(window).scrollTop();
        // how much space is left at the bottom
        var spaceDown = $(window).scrollTop() + $(window).height() - (ulOffset.top + $ul.height());
        // switch to dropup only if there is no space at the bottom AND there is space at the top, or there isn't either but it would be still better fit
        if (spaceDown < 0 && (spaceUp >= 0 || spaceUp > spaceDown))
            $(this).addClass("dropup");
    }).on("hidden.bs.dropdown", ".dropdown", function () {
        // always reset after close
        $(this).removeClass("dropup");
    });
</script>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

