﻿<style>
    /*input.ng-invalid {
       border-color: pink;
    }*/
    .error {
        color: red;
    }

    .errormob {
        margin-left: 179px;
    }

    .errortext {
        color: red !important;
    }

    .has-error .readiocheck {
        border-color: #a94442;
    }

    .has-error .radio {
        border-color: #a94442;
    }

    .required_lable {
        color: red;
    }

    
</style>

<div class="outter-wp">
    <!--<div id="preloader">
        <img src="/images/preloader.gif" />
    </div>-->
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>

    <section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Franchises</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li class="active"><a href="#">Setup</a></li>
                        <li><a href="#">Royalties</a></li>
                        <li><a href="#">Operation Settings</a></li>
                        <li><a href="#">HFC Sales Info</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <div class="franchisealter_grid">
        <!-- Admin Side Menu-starts -->
        <section class="admin_sidebarmenu">
            <ul id="menu">
                <li>

                    <a href="" data-title="Dashboard"><img src="/Content/images/dashboard.png" /></a>
                </li>
                <li class="selected">
                    <a href="/controlpanel/#!/franchises" data-title="Franchises"><img src="/Content/images/franchise.png" /></a>
                </li>

                <li>
                    <a href="" data-title="Reports"><img src="/Content/images/reports.png" /></a>
                </li>
                <li>
                    <a href="" data-title="Settings"><img src="/Content/images/settings.png"></a>
                </li>
            </ul>
        </section>
        <!-- Admin Side Menu - End -->


        <div class="clearfix"></div>
    </div>

    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>

    <div class="tab_container">
        <h3 class="d_active tab_drawer_heading" rel="tab2">Tab 2</h3>
        <div id="tab2" class="tab_content">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li class="activelead1" rel="tab6"><h3><i class="fa fa-user-o fa_icon"></i><br />Franchise Info</h3></li>
                    <li rel="tab6"><h3><i class="far fa-users fa_icon"></i><br />Users</h3></li>
                    <li rel="tab6"><h3><i class="fa fa-user-o fa_icon far fa-check-circle fa_icon"></i><br />Roles And Persmissions</h3></li>
                </ul>
                <div class="leaddetail_butns">
                    <ul class="nofitications-dropdown impersonate_ddown">
                        <!--<li class="dropdown note fran_adm">
            <a  class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="user_icon1"> </i></a>
            <ul class="dropdown-menu adminuser_ddown header_dropdown">

                <li>Admin1</li>
                <li>Admin2</li>
                <li>Admin3</li>
                <li>Admin4</li>

            </ul>
        </li>-->
                        <li class="dropdown franchise_user">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-secret fa_icon"> </i></a>
                            <ul class="dropdown-menu impersonate_subddown">

                                <li><a href="#">Admin1</a></li>
                                <li><a href="#">Admin1</a></li>
                                <li><a href="#">Admin1</a></li>
                                <li><a href="#">Admin1</a></li>

                            </ul>
                        </li>



                        <li>
                            <button type="button" class="tooltip-bottom
                            cancel_tpbut"
                                    data-tooltip="Edit" ng-click="">
                                <i class="far fa-pen vendor_icon"></i>
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="tooltip-bottom save_tpbut"
                                    ng-disabled="IsBusy" data-tooltip="Save" ng-click="SaveFranchise ()">
                                <i class="far fa-check-circle fa_icon"></i>
                            </button>
                        </li>
                        <li>
                            <button type="reset" class="tooltip-bottom save_tpbut"
                                    data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="CancelChanges()">
                                <i class="far fa-times-circle fa_icon"></i>
                            </button>
                        </li>
                    </ul>

                </div>
                <div class="clearfix"> </div>
            </div>

            <form id="crm-lead-detail" name="formFranchise" ng-submit="SaveFranchise()">
                <div class="tab_container tp_content">
                   


                    <div id="tab6" class="tab_content1">
                        <div class="panel-body">

                            <div class="leadgrid_box">
                                <h1>Basic Franchise Info</h1>
                                <div class="marketing_border">
                                    <div class="lead_rtop row">

                                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col_1">
                                            <div class="row territory_group">
                                                <div class="col-sm-6 col-xs-6"
                                                     ng-class="{true: 'has-error'}[submitted && formFranchise.accountCode.$invalid]">
                                                    <label class="col-sm-5 col-xs-5 required_label">Account Code</label>
                                                    <div class="col-sm-6 col-xs-6 textbox-rmargin">
                                                        <input type="text" class="form-control frm_controllead1 required_field" name="accountCode"
														ng-model="Franchise.Code" required placeholder="Required"
                                                               maxlength="50" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-xs-6">
                                                    <label class="col-sm-6 col-xs-6 required_label">Start Date</label>
                                                    <div class="col-sm-6 col-xs-6 textbox-rmargin">
                                                        <input kendo-date-picker
                                                               class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched" style="padding:0 !important;"
                                                               ng-required="true"
                                                               type="text" name="endDate"
                                                               placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                                                               
                                                               ng-model="Franchise.CreatedOnUtc"
                                                               ng-disabled="isDisabled"
                                                               data-autoclose="true"
                                                               required>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="form-group row lt-rt_margin"  
                                                 ng-class="{true: 'has-error'}[submitted && formFranchise.franchiseName.$invalid]">
                                                <label class="col-sm-3 col-xs-3 required_label">Franchise Name</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <input type="text" name="franchiseName" ng-model="Franchise.Name"
                                                           class="form-control frm_controllead1 required_field" required
                                                           placeholder="Required" maxlength="50" />
                                                </div>
                                            </div>
                                            <div class="form-group row lt-rt_margin"
                                                 ng-class="{true: 'has-error'}[submitted && formFranchise.franchiseDBAName.$invalid]">
                                                <label class="col-sm-3 col-xs-3 required_label">Franchise DBA Name</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <input type="text" name="franchiseDBAName" ng-model="Franchise.DBAName"
                                                           class="form-control frm_controllead1 required_field" required
                                                           placeholder="Required"
                                                           maxlength="50" />
                                                </div>
                                            </div>
                                            <div class="form-group row lt-rt_margin" style="margin-bottom:12px !important;">
                                                <label class="col-sm-3 col-xs-3 required_label">Time Zone</label>
                                                <div class="col-sm-9 col-xs-9" style="padding:0 !important;" ng-class="{true: 'has-error'}[submitted && formFranchise.TimeZone.$invalid]">
                                                    <div class="col-sm-4 col-xs-4" style="width:32.3% !important;">
                                                        <input class="pno_textbox col-sm-12 col-xs-12 required_field"
                                                               type="text"
                                                               id="TimeZone"
                                                               name="TimeZone"
                                                               ng-model="Franchise.TimezoneCode"
                                                               placeholder="Required" required />

                                                    </div>
                                                    <div class="col-sm-3 col-xs-3"
                                                         ng-class="{true: 'has-error'}[submitted && formFranchise.dma.$invalid]">
                                                        <label class="col-sm-3 col-xs-3 required_label">DMA</label>
                                                        <div class="col-sm-9 col-xs-9" style="padding-right:0 !important;">
                                                            <input type="text"
                                                                   name="dma"
                                                                   ng-model="Franchise.DMA"
                                                                   class="frm_controllead1 required_field"
                                                                   maxlength="50"
                                                                   placeholder="Required" required/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5 col-xs-5" style="width: 42.666667% !important; padding-right: 0 !important;"
                                                          ng-class="{true: 'has-error'}[submitted && formFranchise.region.$invalid]">
                                                        <label class="col-sm-3 col-xs-3 required_label">Region</label>
                                                        <div class="col-sm-9 col-xs-9">
                                                            <input type="text"
                                                                   name="region"
                                                                   ng-model="Franchise.Region"
                                                                   class="frm_controllead1 required_field"
                                                                   maxlength="50"
                                                                   placeholder="Required"
                                                                   required />
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="clearfix"> </div>

                                                </div>
                                            </div>
                                            <div class="form-group row lt-rt_margin"
                                                 ng-class="{true: 'has-error'}[submitted && formFranchise.website.$invalid]">
                                                <label class="col-sm-3 col-xs-3 required_label">Web Site</label>
                                                <div class="col-sm-3 col-xs-3" style="width:24.2% !important;">
                                                    <input type="text" name="website" ng-model="Franchise.Website"
                                                           class="form-control frm_controllead1 required_field"
                                                           placeholder="Required" maxlength="50" required />
                                                </div>
                                            </div>
                                            <div class="form-group row lt-rt_margin"
                                                 ng-class="{true: 'has-error'}[submitted && formFranchise.businesscoach.$invalid]">
                                                <label class="col-sm-3 col-xs-3 required_label">Business Coach</label>
                                                <div class="col-sm-3 col-xs-3" style="width:24.2% !important;">
                                                    <input type="text" name="businesscoach" ng-model="Franchise.BusinessCoach"
                                                           class="form-control frm_controllead1 required_field"
                                                           placeholder="Required" maxlength="50" required />
                                                </div>
                                            </div>
                                            <!--<div class="source-group row state_field">
                                                <label class="col-sm-3 col-xs-3 required_label">Business Coach</label>
                                                <div class="col-sm-3 col-xs-3" style="width:24.2% !important;">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white">
                                                            <option ng-value="0">select</option>
                                                            <option ng-value="1">Coach1</option>
                                                            <option ng-value="2">Coach2</option>
                                                            <option ng-value="3">Coach3</option>
                                                            <option ng-value="4">Coach4</option>
                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="col-sm-6 col-xs-6"></div>
                                            </div>-->




                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col_1">
                                            <div>
                                                <input ng-model="Franchise.IsSuspended" type="checkbox" class="option-input checkbox " value="">
                                                Suspended

                                            </div>

                                        </div>
                                    </div>

                                </div>



                            </div>
                            <div class="leadgrid_box" ng-if="FrachiseId>0">
                                <h1>Territory Information</h1>
                                <div class="marketing_border">
                                    <kendo-tooltip options="tooltipOptions" class="kendo_fraltertable">
                                        <kendo-grid id="gridFranchiseSetupTerritory" options="FranchiseSetupTerritory" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                                    </kendo-tooltip>
                                </div>
                            </div>
                            <div class="leadgrid_box">
                                <h1>Owner Information</h1>
                                <div class="marketing_border">
                                    <div class="lead_rtop row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                            <div class="source-group row" 
                                                 ng-class="{true: 'has-error'}[submitted && formFranchise.ownerId.$invalid]">
                                                <label class="col-sm-3 col-xs-3 required_label">Owner ID</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <input type="text" class="form-control frm_controllead1 required_field" name="ownerId"
                                                           ng-model="Franchise.OwnerId" required placeholder="Required"
                                                           maxlength="50" />
                                                </div>
                                            </div>

                                            <div class="source-group row"
                                                  ng-class="{true: 'has-error'}[submitted && formFranchise.ownerId.$invalid]">
                                                <label class="col-sm-3 col-xs-3 required_label">Email</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <input class="form-control frm_controllead1 required_field" type="email" name="user_email" 
                                                           id="FranchiseEmail" ng-model="Franchise.OwnerEmail"
                                                           placeholder="Required" maxlength="256" required />

                                                </div>
                                            </div>
                                          
                                            <div class="source-group row"
                                                 ng-class="{true: 'has-error'}[submitted && formFranchise.primaryPhone.$invalid]">
                                                <label class="col-sm-3 col-xs-3 required_label">Primary Phone</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <input type="text" class="form-control frm_controllead1" name="primaryPhone"
                                                           ng-model="Franchise.LocalPhoneNumber"
                                                    
                                                           ui-options="{clearOnBlur:false}"
                                                           ui-mask-placeholder
                                                           ui-mask-placeholder-char="_"
                                                           ui-mask="(999) 999-9999" 
                                                           required/>
                                                </div>
                                            </div>
                                            <h1>Owner Name(s)</h1>
                                            <div>
                                                <kendo-tooltip options="tooltipOptions">
                                                    <kendo-grid id="gridFranchiseOwner" options="FranchiseSetupOwner" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                                                </kendo-tooltip>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_2">
                                            <!-- address component -->
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-xs-3"></label>
                                                <div class="col-sm-9 col-xs-9 adres_box">
                                                    <h2>Home Address:</h2>
                                                </div>
                                            </div>
                                                <div class="form-group row lt-rt_margin">
                                                    <hfc-addresstp address-model="HomeAddress" parent-form-submit-status="submitted"></hfc-addresstp>
                                                </div>
                                                <div class="form-group row state_field lt-rt_margin">
                                                    <label class="col-sm-3 col-xs-3 required_label">Country</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <span class="custom-dropdown custom-dropdown--white">
                                                            <select class="custom-dropdown__select custom-dropdown__select--white"
                                                                    id="countryBox" ng-model="HomeAddress.CountryCode2Digits"
                                                                    ngchange1="AdditionalAddressServiceTP.CountryChanged()"
                                                                    ng-change="CountryChanged()"
                                                                    ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                                <option value="">select</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>



                            </div>
                            <div class="leadgrid_box">
                                <h1>Business Information</h1>
                                <div class="marketing_border">
                                    <div class="lead_rtop row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                            <div class="source-group row" ng-show="HomeAddress.ZipCode">
                                                <div class="col-sm-4 col-xs-4 required_label">
                                                    <input ng-model="Franchise.IsAddressSame" type="checkbox" class="option-input checkbox" ng-click="IsSameAddress()">
                                                    Same as Home Address
                                                </div>
                                                <div class="col-sm-8 col-xs-8"></div>
                                            </div>
                                            <div class="form-group row lt-rt_margin" 
                                                 ng-class="{true: 'has-error'}[submitted && formFranchise.adminName.$invalid]">
                                                <label class="col-sm-3 col-xs-3 required_label">Admin Name</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <input type="text" class="form-control frm_controllead1 required_field" name="adminName"
                                                           ng-model="Franchise.AdminName" required placeholder="Required"
                                                           maxlength="50" />
                                                </div>
                                            </div>
                                            <div class="form-phone_group row lt-rt_margin"
                                                  ng-class="{true: 'has-error'}[submitted && formFranchise.businessPhone.$invalid]">
                                                <label class="col-sm-3 col-xs-3 required_label">Business Phone</label>
                                                <div class="col-sm-9 col-xs-9 row phone_field">
                                                    <div class="col-sm-7 col-xs-7" style="padding:0 !important;">
                                                        <input class="col-sm-7 col-xs-7 pno_textbox"
                                                               type="text"
                                                               name="businessPhone"
                                                               ng-model="Franchise.BusinessPhone"
                                                               
                                                               ui-options="{clearOnBlur:false}"
                                                               ui-mask-placeholder
                                                               ui-mask-placeholder-char="_"
                                                               ui-mask="(999) 999-9999" 
                                                               required/>



                                                    </div>
                                                    <div class="col-sm-5 col-xs-5" style="padding:0 !important;"> </div>
                                                </div>
                                            </div>
                                            <div class="form-phone_group row lt-rt_margin"
                                                 ng-class="{true: 'has-error'}[submitted && formFranchise.adminemail.$invalid]">
                                                <label class="col-sm-3 col-xs-3 required_label">Admin Email</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <input class="form-control frm_controllead1 required_field" type="email" name="adminemail"
                                                           id="FranchiseEmail" ng-model="Franchise.AdminEmail"
                                                           placeholder="Required" maxlength="256"
                                                           required />

                                                </div>
                                            </div>
                                            <div class="form-group row state_field lt-rt_margin">
                                                
                                                <label class="col-sm-3 col-xs-3 text_detlabel">Currency</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <label class="ldet_label">{{Franchise.Currency}}</label>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_2">
                                            <!-- address component -->
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-xs-3"></label>
                                                <div class="col-sm-9 col-xs-9 adres_box">
                                                    <h2>Business Address:</h2>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row lt-rt_margin" ng-hide="Franchise.IsAddressSame==true  && HomeAddress.ZipCode">
                                                <hfc-addresstp address-model="BusinessAddress" parent-form-submit-status="submitted"></hfc-addresstp>
                                            </div>
                                           
                                            <div ng-show="Franchise.IsAddressSame==true && HomeAddress.ZipCode">
                                                 <div class="form-group row state_field lt-rt_margin">
                                                 <label class="col-sm-3 col-xs-3 text_detlabel">ZipCode</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <label class="ldet_label">{{HomeAddress.ZipCode}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group row state_field lt-rt_margin">
                                                    <label class="col-sm-3 col-xs-3 text_detlabel">Address1</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <label class="ldet_label">{{HomeAddress.Address1}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group row state_field lt-rt_margin">
                                                    <label class="col-sm-3 col-xs-3 text_detlabel">Address2</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <label class="ldet_label">{{HomeAddress.Address2}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group row state_field lt-rt_margin">
                                                    <label class="col-sm-3 col-xs-3 text_detlabel">City</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <label class="ldet_label">{{HomeAddress.City}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group row state_field lt-rt_margin">
                                                    <label class="col-sm-3 col-xs-3 text_detlabel">State</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <label class="ldet_label">{{HomeAddress.State}}</label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group row state_field lt-rt_margin">
                                                <label class="col-sm-3 col-xs-3 required_label">Country</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="custom-dropdown__select custom-dropdown__select--white"
                                                                id="countryBox" ng-model="BusinessAddress.CountryCode2Digits"
                                                                ngchange1="AdditionalAddressServiceTP.CountryChanged()"
                                                                ng-change="CountryChanged()"
                                                                ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                            <option value="">select</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>




                </div>
            </form>

        </div>
    </div>


</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>
<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs li").removeClass("activelead");
        $(this).addClass("activelead");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("activelead");
        $("ul.tabs li[rel^='" + d_activeTab + "']").addClass("activelead");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content1").hide();
    $(".tab_content2").hide();
    $(".tab_content1:first").show();

    /* if in tab mode */
    $("ul.tabs1 li").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs1 li").removeClass("activelead1");
        $(this).addClass("activelead1");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs1 li").removeClass("activelead1");
        $("ul.tabs1 li[rel^='" + d_activeTab + "']").addClass("activelead1");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");

</script>