﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
    .statusCanvas {
        height: auto !important;
    }
    .popup_procurement {
        text-align: left;
        padding: 5px;
    }
    .popup_procurement p {
        margin: 5px 0;
        font-size: 12px;
    }
     ul.k-reset.k-multicheck-wrap {
       height: 120px !important;
    }
     .k-i-loading {
        display: none;
    }
    #procurement_vendorname-list .k-list-scroller{
        max-height: 131px !important;
    }
</style>
<div class="outter-wp">
    <div class="lead_stab">
        <div class="leaddetail_butns" hfc-statuses-overlay>
            <ul class="orderlist_box">
                <li><button type="button" ng-click="bringTooltipPopup()" class="plus_but tooltip-bottom"><i class="far fa-question-circle"></i></button>
                   <div class="statusCanvas"></div>
                </li>
            </ul>
      </div>
    </div>
    <div class="tab_container tp_content">
        <!--<div class="row no-margin">
            <div class="col-sm-7"></div>
            <div class="col-sm-5"  ng-show="ActiveToolTips==true">
                <h3>MPO/ VPO Statuses:</h3>
                <p>Open - MPO has not been submitted.</p>
                <p>Processing - MPO has been submitted.</p>
                <p>Entered - VPO has been revised by Vendor system, but not confirmed.</p>
                <p>Acknowledged - Vendor has confirmed PO and is building the order.</p>
                <p>Shipped - VPO has been shipped completely.</p>
                <p>Partial/Shipped Backordered - VPO has partial/shipped backordered.</p>
                <p>Invoiced - VPO has invoiced complete.</p>
                <p>Error - MPO/VPO contains error(s) and has not been submitted successfully.</p>
                <p>Cancelled - MPO or VPO has been cancelled by user.</p>
            </div>
        </div>-->
        <div class="error error_msg" ng-show="!(Permission.ProcurementList)" style="margin-top:30px;">
            You don't have permission to this page.
        </div>

        <div class="p-3" ng-show="Permission.ProcurementList">
            <div class="leadgrid_box" id="MenuDiv">
                <div class="lead_rtop row">
                    <div class="col-xs-12 col-sm-12 col-lg-10 col-xl-10 col_1">
                        <div class="source-group row state_field">
                            <label class="col-sm-2 col-xs-2 required_label">Dashboard Filter:</label>
                            <div class="col-sm-4 col-xs-4 tooltip-bottom" data-tooltip="Filter Dashboard View by Rolling Date Range">
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                            name="Vendor_Name"
                                            ng-model="Procurement.Id"
                                            ng-change="FilterChange(Procurement.Id);"
                                            ng-options="option.Id as option.Name for option in DateTimeDropdown">
                                        <option value="" selected>All</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="source-group row state_field">
                            <label class="col-sm-2 col-xs-2 required_label">Vendor:</label>
                            <div class="col-sm-4 col-xs-4" data-tooltip="Vendor">
                                <span class="custom-dropdown custom-dropdown--white">
                                    <!--<select class="custom-dropdown__select custom-dropdown__select--white"
                                        name="Vendor_Name"
                                        ng-model="Procurement.VendorID"
                                        ng-change="VendorChange(Procurement.VendorID);"
                                        ng-options="option.VendorID as option.Name for option in VendorListName">
                                    <option value="" selected>All</option>
                                </select>-->
                                    <select id="procurement_vendorname"
                                            name="procurement_vendorname"
                                            kendo-drop-down-list
                                            k-options="procurement_vendorname"
                                            k-ng-model="Procurement.VendorID"
                                            class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                                </span>
                            </div>
                        </div>
                        <div class="row m-0">
                            <label class="col-sm-2 col-xs-2 text_detlabel">Dashboard View:</label>
                            <div class="col-sm-10 col-xs-10 procurement_tooltip row no-margin">
                              <div class="col-xl-6 row m-0 p-0">
                                <div class="col-sm-4 no-padding">
                                    <div class="float-left tooltip-bottom" data-tooltip="Displays only Errors"><input type="checkbox" id="Check5" class="option-input checkbox" ng-click="Check()"><label class="ldet_label font-weight-bold">Errors</label></div>
                                </div>
                                <div class="col-sm-4 no-padding">
                                    <div class="float-left tooltip-bottom" data-tooltip="Displays only Open MPO's"><input type="checkbox" id="Check1" class="option-input checkbox" ng-click="Check()"><label class="ldet_label font-weight-bold">Open MPO / xVPO</label></div>
                                </div>
                                <div class="col-sm-4 no-padding">
                                    <div class="float-left tooltip-bottom" data-tooltip="Displays only Open VPO's"><input type="checkbox" id="Check6" class="option-input checkbox" ng-click="Check()"><label class="ldet_label font-weight-bold">Open VPO</label></div>
                                </div>
                              </div>
                              <div class="col-xl-6 row m-0 p-0">
                                  <div class="col-sm-4 no-padding">
                                      <div class="float-left tooltip-bottom" data-tooltip="Displays only Shipped VPO's"><input type="checkbox" id="Check2" class="option-input checkbox" ng-click="Check()"><label class="ldet_label font-weight-bold">Shipped</label></div>
                                  </div>
                                  <div class="col-sm-4 no-padding">
                                      <div class="float-left tooltip-bottom" data-tooltip="Displays only Invoiced VPO's"><input type="checkbox" id="Check3" class="option-input checkbox" ng-click="Check()"><label class="ldet_label font-weight-bold">Invoice</label></div>
                                  </div>
                                  <div class="col-sm-4 no-padding">
                                      <div class="float-left tooltip-bottom" data-tooltip="Displays only Canceled MPO's/VPO's"><input type="checkbox" id="Check4" class="option-input checkbox" ng-click="Check()"><label class="ldet_label font-weight-bold">Canceled</label></div>
                                  </div>
                              </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--show more-->
            <div class="table-responsive">
                <!--<ul kendo-panel-bar id="panelbar">
                    <li id="quotelistPanel">
                        <span style="font-weight:bold;">Quote Lines</span>-->
                <!--<div class="table-responsive">-->
                <!--<kendo-tooltip options="tooltipOptions">-->
                <kendo-grid id="ProcurementboardGrid"
                            options="ProcurementlineData">
                </kendo-grid>
                <!--</kendo-tooltip>-->
                <!--</div>-->
                <!--</li>
                </ul>-->
            </div>
        <!--</form>-->
    </div>
</div>

<!--View Shipment-->
<div class="modal fade" id="ShipmentViewDetails" data-keyboard="false"
     data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Multiple Shipments</h4>
                <button type="button"
                        class="close popup_close"
                        ng-click="Cancel('ShipmentViewDetails')"
                        aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div style="text-align:center;font:bold" id="shipPopup">
                    <a class="hquote_hover ng-binding" ng-click="navigateShipment(data.ShipNoticeId )" ng-repeat="data in shipmentIds" style="cursor:pointer"> {{data.ShipmentId}}<span style="color:#000;padding:0 2px;" ng-if="shipmentIds.length-1!=$index">,</span></a>
                    
                </div>               
            </div>
            <div class="modal-footer">
                <div class="popup_butns">
                    <button type="button"
                            ng-click="Cancel('ShipmentViewDetails')"
                            class="btn btn-cancel">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--view Invoice-->
<div class="modal fade" id="InvoiceViewDetails" data-keyboard="false"
     data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Multiple Invoices</h4>
                <button type="button"
                        class="close popup_close"
                        ng-click="Cancel('InvoiceViewDetails')"
                        aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center font-weight-bold" ng-bind-html="shipurl"></div>
            </div>
            <div class="modal-footer">
                <div class="popup_butns">
                    <button type="button"
                            ng-click="Cancel('InvoiceViewDetails')"
                            class="btn btn-cancel">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="_statusModal_" style="height:auto;">
    <!--<div class="modal-dialog aditional_adrespopup">-->
    <div class="modal-content">
        <div class="modal-header popup_head" style="padding:5px;">
            <h4 class="mx-auto modal-title"> MPO/ VPO Statuses</h4>
            <button type="button" class="close popup_close" data-dismiss="modal" aria-label="Close" onclick="$('.statusCanvas').hide()" id="ipadtooltipclosebutton"><span aria-hidden="true">×</span></button>
       </div>
        <div class="popup_procurement">
            <p><b>Open -</b> MPO has not been submitted</p>
            <p style="color: #C86A00;"><b>Processing - </b>MPO has been submitted</p>
            <p><b>Entered -</b> VPO has been received by Vendor system, but not confirmed</p>
            <p><b>Acknowledged - </b>Vendor has confirmed PO and is building the order</p>
            <p><b>Shipped - </b>VPO has been shipped complete</p>
            <p style="color:#00aeef;"><b>Partial/Shipped Backordered - </b>VPO has partial/shipped backordered</p>
            <p><b>Invoiced - </b> VPO has invoiced complete</p>
            <p style="color:#ff3400;"><b>Error -</b> MPO/VPO contains error(s) and has not been submitted successfully</p>
            <p><b>Canceled -</b> MPO or VPO has been canceled by user</p>
        </div>
    </div>
    <!--</div>-->
</div>
<!--<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>-->