﻿<!-- wrapper starts -->
<div class="wrapper">
    <style>
         .k-grid-content table {
            background-color: #fff;
        }
        .content-wrapper .content-header, .content-section {
            padding: 35px 50px;
        }

            .content-section .selected-checkbox:focus {
                background-color: #3d7d8b;
            }

        .content-header {
            background-color: #f7f7f7;
        }

            .content-header .row-value {
                background-color: #fff;
            }

        .panel-header {
            line-height: 20px;
            margin: 4px 3% 0px 0;
            text-align: left;
        }

        .clear {
            clear: both;
        }
         .kendobatch .k-grid-header-wrap {
            overflow:visible;
        }
    </style>
    <!-- header wrapprer starts -->
    <div class="header-wrapper">
        <div class="tab_container">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 calendar_licons">
                    <!--<li class="activelead1" rel="tab6">
                        <h3>
                            <i class="far fa-user fa_icon"></i>
                            <br />Information
                        </h3>
                    </li>-->
                </ul>


                <ul class="calendar_rbutns">
                    <!--<li>
                        <button class="plus_but cancel_tpbut tooltip-bottom ng-scope" type="button" data-tooltip="Convert xMPO">
                            <i class="fa fa-exchange"></i>
                        </button>
                    </li>-->
                </ul>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!-- header wrapprer ends -->
    <!-- content wrapper starts -->
    <div class="content-wrapper tp_content">
        <!-- content header block starts -->
        <div class="content-header col-xl-6 col-sm-12" ng-repeat="data in summaryDetailList ">
            <div class="content-header-title">
                <h3>{{data['title']}}</h3>
            </div>
            <div class="internal-table-wrapper">
                <div class="table-responsive appointment_table">
                    <table class="table table-expand">
                        <thead class="expand_lhead">
                            <tr>
                                <th class="row-1 row-header" ng-repeat="header in data['headerList']">{{header}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="value in data['dataList'] track by $index">
                                <!--<th class="row-1 row-value" ng-repeat="(key, value) in data['dataList'] track by $index">{{value}}</th>-->
                                <th class="row-1 row-value" ng-repeat="key in data['keyList'] track by $index">{{value[key]}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- content header block ends -->
        <!-- content body block starts -->
        <div class="content-section">
            <div class="leadgrid_box" style="margin:20px 0;" ng-repeat="orderDetail in orderHistoryDetails">
                <ul kendo-panel-bar id="panelbar">
                    <li>
                        <!-- ng-repeat="data in detailList" -->
                        <!-- panel bar header section -->
                        <span style="font-weight: bold; width: 100%;">
                            <span class="col-sm-2 panel-header">
                                Sales Order:&nbsp; {{orderDetail['OrderNumber']}}
                            </span>
                            <span class="col-sm-2 panel-header">
                                Total QTY: &nbsp; {{orderDetail['TotalQuantity']}}
                            </span>
                            <span class="col-sm-2 panel-header">
                                Total Sales: &nbsp; {{orderDetail['TotalSales']| currency:"$"}}
                            </span>
                            <span class="col-sm-2 panel-header">
                                Total Cost: &nbsp; {{orderDetail['TotalCost']| currency:"$"}}
                            </span>
                            
                        </span>
                        <!-- panel bar content section -->
                        <div style="margin:20px 0;">
                            <kendo-grid id="'MyTasksGrid' + $index"
                                        options="{{'gridConfig' + $index}}" class="kendobatch"
                                        style="margin-bottom:20px !important; overflow-x:scroll;">
                                <!-- {{'gridConfig' + $index}} -->
                            </kendo-grid>
                        </div>
                        
                    </li>
                </ul>
            </div>
        </div>
        <!-- content body block ends -->
    </div>
    <!-- content wrapper ends -->
</div>
<!-- wrapper ends -->