﻿@{
    ViewBag.Title = "Error browser compatibility";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-xl-offset-4 col-xl-4">
            <div class="center-block alert alert-info" style="margin-top:7%">
                <h3><span class="label label-danger">Oops!</span> <small>We're sorry.</small></h3>
                <p>
                    Touchpoint doesn't support your browser. Please install Google Chrome from <a href="https://www.google.com/intl/en/chrome/browser/desktop/">here</a>
                </p>
            </div>
        </div>
    </div>
</div>

