﻿@{
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
    ViewBag.Title = "Sign in";
}
<link href="~/Content/style.css" rel="stylesheet" />
<style>
    .alert {
        padding: 5px;
        margin-bottom: 0;
        font-size: 11px;
        color: #000;
        text-align: center;
    }
</style>

<body id="login">
    <header>
        <img src="~/Content/images/HFC-Logo.png" class="img-responsive" alt="" />
    </header>
    <div class="hfc_logingrid">
        <div class="login">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { id = "LoginFormID", role = "form", novalidate = "true" }))
            {
                @Html.AntiForgeryToken()
                <div class="lform-group">
                    <label>Username</label>
                    <input type="email" name="UserName" class="form-control" id="UserName"
                           placeholder="" required autofocus>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="Password" class="form-control" id="Password"
                           placeholder="" required>
                </div>

                if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert alert-danger" id="ServerErrorMessage">@ViewBag.ErrorMessage</div>
                }
                <div class="alert alert-danger" id="ErrorMessage" style="display:none"></div>

                <div class="forget_login">
                    <div class="login_box">
                        @*<div class="tp_lleft">
                                <div class="pull-left"><p>Forgot Password?</p></div>
                                <div class="pull-right"><p>Help</p></div>
                                <div class="clearfix"></div>
                            </div>*@
                        <div class="login_butgrid"><button class="login_but" id="login_but" type="submit">Log in</button></div>
                        <img src="~/Content/images/Touchpoint-Logo.png" class="img-responsive" alt="" />
                    </div>
                    <h1>Sales and Operations Platform</h1>
                </div>
            }
        </div>
    </div>
   
   
        <div class="hfcbrand_logosection">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 login_logogrid">
                        <img src="~/Content/images/budget-blinds-logo.png" class="img-fluid" alt="" />
                    </div>
                    <div class="col-sm-4 login_logogrid">
                        <img src="~/Templates/Base/Brand/TL/images/TailoredLiving.png" class="img-fluid" style="width:250px;" alt="" />
                    </div>
                    <div class="col-sm-4 login_logogrid">
                        <img src="~/Content/images/Concrete-Craft.png" class="img-fluid" style="width:250px;" alt="" />
                    </div>
                </div>
           </div>
       </div>
    <script>
        document.getElementById('LoginFormID').addEventListener('submit', function (e) {
            var element = document.getElementById('ServerErrorMessage');
            element.innerHTML = '';
            element.style.display = 'none';

            if (!document.getElementById('UserName').value || !document.getElementById('Password').value) {
                e.preventDefault();
                var element = document.getElementById('ErrorMessage');
                element.innerHTML = 'Please enter user name and password';
                element.style.display = 'block';
            }
            else
            {
                var element = document.getElementById('ErrorMessage');
                element.innerHTML='';
                element.style.display = 'none';
            }
                
        });
    </script>
</body>
