﻿@{
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
    ViewBag.Title = "Lead Import via REST Web Api";
}

@section styles {    
    <style media="(min-width: 768px)">
        .dl-horizontal dt {
            width: 235px;
        }

        .dl-horizontal dd {
            margin-left: 250px;
        }
    </style>
}
    <div class="container"> 
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2>POST Example <small>How to import a new lead</small></h2>
                <div class="panel panel-default">
                    <div class="p-3">
                        <fieldset>
                            <legend>Request</legend>                            
                            <code>POST /api/leadimport/{ConsumerKey}</code><br/>
                            <code>Accept: application/json</code>                            
                        </fieldset><br/>
                        <fieldset>
                            <legend>Form Data</legend>
                            <dl class="dl-horizontal">
                                <dt>PrimPerson.FirstName</dt>
                                <dd>string(50) <b><i>Required</i></b></dd>
                                <dt>PrimPerson.LastName</dt>
                                <dd>string(50)</dd>
                                <dt>PrimPerson.MI</dt>
                                <dd>string(4)</dd>
                                <dt>PrimPerson.PrimaryEmail</dt>
                                <dd>string(256) <b><i>Required</i></b></dd>
                                <dt>PrimPerson.CompanyName</dt>
                                <dd>string(256)</dd>
                                <dt>PrimPerson.WorkTitle</dt>
                                <dd>string(50)</dd>
                                <dt>PrimPerson.HomePhone</dt>
                                <dd>string(15)</dd>
                                <dt>PrimPerson.CellPhone</dt>
                                <dd>string(15)</dd>
                                <dt>PrimPerson.FaxPhone</dt>
                                <dd>string(15)</dd>
                                <dt>PrimPerson.WorkPhone</dt>
                                <dd>string(15)</dd>
                                <dt>PrimPerson.WorkPhoneExt</dt>
                                <dd>string(5)</dd>
                                <dt>PrimPerson.Notes</dt>
                                <dd>string(1000)</dd>
                                <dt>PrimPerson.UnsubscribedOnUtc</dt>
                                <dd>string, DateTime in ISO8601 format YYYY-MM-DDTHH:MM:SS.fffZ</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Addresses[i].AttentionText</dt>
                                <dd>string(256)</dd>
                                <dt>Addresses[i].Address1</dt>
                                <dd>string(150)</dd>
                                <dt>Addresses[i].Address2</dt>
                                <dd>string(150)</dd>
                                <dt>Addresses[i].City</dt>
                                <dd>string(50)</dd>
                                <dt>Addresses[i].State</dt>
                                <dd>string(25)</dd>
                                <dt>Addresses[i].ZipCode</dt>
                                <dd>string(15) <b><i>Required</i></b></dd>
                                <dt>Addresses[i].IsResidential</dt>
                                <dd><b>true</b> | false</dd>
                                <dt></dt>
                                <dd>i = index, starting at 0 and increment by 1 for each additional address</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Territory.Code</dt>
                                <dd>string(20)</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>LeadSources[i].SourceId</dt>
                                <dd>int</dd>
                                <dt></dt>
                                <dd>
                                    i = index, starting at 0 and increment by 1 for each additional sources.<br />
                                    See <a href="#sources">Sources Example</a> to retrieve a list of acceptable sources
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>LeadAdditionalInfo[i].Name</dt>
                                <dd>string(50)</dd>
                                <dt>LeadAdditionalInfo[i].Value</dt>
                                <dd>string(256)</dd>
                                <dt></dt>
                                <dd>i = index, starting at 0 and increment by 1 for each additional lead information</dd>
                            </dl>
                        </fieldset>
                        <fieldset>
                            <legend>Response - Success</legend>
                            <dl class="dl-horizontal">
                                <dt>Http Status Code</dt>
                                <dd>200 - Ok</dd>
                                <dt>JSON</dt>
                                <dd><pre>{ LeadGuid = "00000000-0000-0000-0000-000000000000" }</pre></dd>
                            </dl>
                        </fieldset>
                        <fieldset>
                            <legend>Response - Failed</legend>
                            <dl class="dl-horizontal">
                                <dt>Http Status Code</dt>
                                <dd>500, 403, 400, etc</dd>
                                <dt>Http Status Description</dt>
                                <dd>Brief description of the failure</dd>
                            </dl>
                        </fieldset>
                        <fieldset>
                            <legend>C# Code Sample for .Net 4.0+</legend>
                            <pre>
HttpWebRequest request = (HttpWebRequest)WebRequest.Create(string.Format("http://example.com/api/leadimport/{0}", ConsumerKey));
request.Method = "POST";
request.Accept = "application/json";
request.ContentType = "application/x-www-form-urlencoded";

NameValueCollection postData = new NameValueCollection();
postData["Territory.Code"] = "0007";
postData["PrimPerson.FirstName"] = "John";
postData["PrimPerson.LastName"] = "Doe";
postData["PrimPerson.PrimaryEmail"] = "email@example.com";
postData["PrimPerson.HomePhone"] = "555-666-7777";
postData["PrimPerson.Notes"] = "New Lead Import Test";
postData["Addresses[0].Address1"] = "12345 Address St";
postData["Addresses[0].Address2"] = "Apt #2";
postData["Addresses[0].City"] = "Orange";
postData["Addresses[0].State"] = "CA";
postData["Addresses[0].ZipCode"] = "77777";
postData["Addresses[0].IsResidential"] = "true";
postData["LeadSources[0].SourceId"] = "1";
postData["LeadAdditionalInfo[0].Name"] = "Hear About Us";
postData["LeadAdditionalInfo[0].Value"] = "Google.com";
postData["LeadAdditionalInfo[1].Name"] = "Best Contact Time";
postData["LeadAdditionalInfo[1].Value"] = "Weekend";

string flattenPostData = string.Join("&",
    postData.AllKeys.Select(key => 
        string.Format("{0}={1}", key, HttpUtility.UrlEncode(postData[key])))
);
using (var writer = new StreamWriter(request.GetRequestStream()))
{
    writer.Write(flattenPostData);
}

try
{
    var responseStream = request.GetResponse().GetResponseStream();
    using (StreamReader response = new StreamReader(responseStream))
    {
        string jsonContent = response.ReadToEnd();
    }
}
catch (WebException ex)
{
    if (ex.Response != null)
    {
        var response = (HttpWebResponse)ex.Response;
        var statusCode = response.StatusCode;
        var reason = response.StatusDescription;
    }
}</pre>
                        </fieldset>
                    </div>
                </div> <!-- /end panel-->
            </div>

            <div class="col-xs-12 col-sm-12">
                <h2>PUT Example <small>How to update or add additional lead info</small></h2>
                <div class="panel panel-default">
                    <div class="p-3">
                        <fieldset>
                            <legend>Request</legend>
                            <code>PUT /api/leadimport/{ConsumerKey}</code>
                        </fieldset><br/>
                        <fieldset>
                            <legend>Form Data</legend> 
                            <dl class="dl-horizontal">
                                <dt>LeadGuid</dt>
                                <dd>Guid</dd>
                            </dl>                            
                            <dl class="dl-horizontal">
                                <dt>LeadAdditionalInfo[i].Name</dt>
                                <dd>string(50)</dd>
                                <dt>LeadAdditionalInfo[i].Value</dt>
                                <dd>string(256)</dd>
                                <dt></dt>
                                <dd>i = index, starting at 0 and increment by 1 for each additional lead information.<br/> The index does not need to match the current lead data to update, the app will match by their Name.</dd>
                            </dl>
                        </fieldset>
                        <fieldset>
                            <legend>Response - Success</legend>
                            <dl class="dl-horizontal">
                                <dt>Http Status Code</dt>
                                <dd>200 - Ok</dd>
                            </dl>
                        </fieldset>
                        <fieldset>
                            <legend>Response - Failed</legend>
                            <dl class="dl-horizontal">
                                <dt>Http Status Code</dt>
                                <dd>500, 403, 400, etc</dd>
                                <dt>Http Status Description</dt>
                                <dd>Brief description of the failure</dd>
                            </dl>
                        </fieldset>
                        <fieldset>
                            <legend>C# Code Sample for .Net 4.0+</legend>
                            <pre>
HttpWebRequest request = (HttpWebRequest)WebRequest.Create(string.Format("http://example.com/api/leadimport/{0}", ConsumerKey));
request.Method = "PUT";
request.ContentType = "application/x-www-form-urlencoded";

NameValueCollection postData = new NameValueCollection();
postData["LeadGuid"] = LeadGuid;
//this will add a new lead info for number of blinds
postData["LeadAdditionalInfo[0].Name"] = "Number of blinds";
postData["LeadAdditionalInfo[0].Value"] = "2"; 
//this will change the current Google.com value to Google Plus
postData["LeadAdditionalInfo[1].Name"] = "Hear About Us";
postData["LeadAdditionalInfo[1].Value"] = "Google Plus"; 

string flattenPostData = string.Join("&",
    postData.AllKeys.Select(key => 
        string.Format("{0}={1}", key, HttpUtility.UrlEncode(postData[key])))
);
using (var writer = new StreamWriter(request.GetRequestStream()))
{
    writer.Write(flattenPostData);
}

try
{
    var responseStream = request.GetResponse().GetResponseStream();
    using (StreamReader response = new StreamReader(responseStream))
    {
        string jsonContent = response.ReadToEnd();
    }
}
catch (WebException ex)
{
    if (ex.Response != null)
    {
        var response = (HttpWebResponse)ex.Response;
        var statusCode = response.StatusCode;
        var reason = response.StatusDescription;
    }
}</pre>
                        </fieldset>
                    </div>
                </div> <!-- /end panel-->
            </div>

            <div class="col-xs-12 col-sm-12" id="sources">
                <h2>Sources Example <small>How to retrieve a list of sources</small></h2>
                <div class="panel panel-default">
                    <div class="p-3">
                        <fieldset>
                            <legend>Request</legend>
                            <code>GET /api/leadimport/{ConsumerKey}/sources</code><br/>
                            <code>Accept: application/json</code>
                        </fieldset><br />                        
                        <fieldset>
                            <legend>Response - Success</legend>
                            <dl class="dl-horizontal">
                                <dt>Http Status Code</dt>
                                <dd>200 - Ok</dd>
                                <dt>JSON</dt>
                                <dd>
                                    <pre>[{"Id":25,"Name":"Billboard"},{"Id":26,"Name":"Canvassing"},{"Id":27,"Name":"Direct Mail"}]</pre>
                                </dd>
                            </dl>
                        </fieldset>
                        <fieldset>
                            <legend>Response - Failed</legend>
                            <dl class="dl-horizontal">
                                <dt>Http Status Code</dt>
                                <dd>500, 403, 400, etc</dd>
                                <dt>Http Status Description</dt>
                                <dd>Brief description of the failure</dd>
                            </dl>
                        </fieldset>
                        <fieldset>
                            <legend>C# Code Sample for .Net 4.0+</legend>
                            <pre>
HttpWebRequest request = (HttpWebRequest)WebRequest.Create(string.Format("http://example.com/api/leadimport/{0}/sources", ConsumerKey));
request.Method = "GET";
request.Accept = "application/json";

try
{
    var responseStream = request.GetResponse().GetResponseStream();
    using (StreamReader response = new StreamReader(responseStream))
    {
        string json = response.ReadToEnd();
        JavaScriptSerializer serializer = new JavaScriptSerializer();
        var sourcesCollection = serializer.Deserialize&lt;dynamic&gt;(json);
        foreach (var src in sourcesCollection)
        {
            var Id = src["Id"];
            var Name = src["Name"];
            //Store the values for easy access to use when importing new leads
        }
    }
}
catch (WebException ex)
{
    if (ex.Response != null)
    {
        var response = (HttpWebResponse)ex.Response;
        var statusCode = response.StatusCode;
        var reason = response.StatusDescription;
    }
}</pre>
                        </fieldset>
                    </div>
                </div> <!-- /end panel-->
            </div>

        </div>

    </div>
