﻿<style>
    .error {
        color: red;
    }

    .errormob {
        margin-left: 179px;
    }

    .errortext {
        color: red !important;
    }

    .has-error {
        border-color: #a94442;
    }

    .required_lable {
        color: red;
    }

    .k-combobox.required {
        border: 1px solid #a94442 !important;
    }

    .k-multiselect-clearable .k-multiselect-wrap {
        padding-right: 2.42142857em;
    }

    .k-grid .k-button {
        margin: 0 .16em;
    }

    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    .k-i-loading {
        display: none;
    }

    #ShipToLocationId-list .k-list-scroller {
        max-height: 131px !important;
    }

    a.k-button.k-button-icontext.k-grid-cancel {
        margin-bottom: 4px;
    }
    html, body {
        overflow: auto !important;
        overflow-x: hidden !important;
    }
</style>

<div class="outter-wp">

    <div class="lead_stab">
        <ul class="tabs1 landing_tab w-75">
            <li rel="tab5">
                <a href="#!/vendors">
                    <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Vendors</h3>
                </a>
            </li>
            <li rel="tab6">
                <a href="#!/productSearch">
                    <h3><i class="far fa-dolly-flatbed-alt fa_icon vendor_icon"></i><br />Products/Services</h3>
                </a>
            </li>
            <li rel="tab7" style="width: auto !important;">
                <a href="#!/pricingSettings">
                    <h3><i class="far fa-usd-square fa_icon vendor_icon"></i><br />Pricing Management</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/procurement">
                    <h3><i class="fa fa-cogs fa_icon"></i><br>Procurement Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/buyerremorse">
                    <h3><i class="fa fa-cogs fa_icon"></i><br />Sale Settings</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab7">
                <a href="#!/TaxSettings">
                    <h3><i class="fas fa-landmark fa_icon"></i><br />Tax Settings</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns" ng-if="Permission.ListTaxSettings">
            <!--<button ng-show="editGrid" type="button" class="tooltip-bottom cancel_tpbut" data-tooltip="Edit" ng-click="EditTaxDetails()">
                <i class="far fa-pen"></i>
            </button>
            <button ng-show="!editGrid" type="button" ng-click="EditTaxDetails()" data-tooltip="Cancel" class="tooltip-bottom cancel_tpbut" ng-disabled="IsBusy"> <i class="far fa-times-circle"></i></button>-->

            <button type="button" ng-if="editMode==false" onclick="return false;" class="tooltip-bottom save_tpbut" data-tooltip="Edit" ng-click="TaxSettingsEdit()"><i class="far fa-pen" style="font-size: 22px;"></i></button>
            <button ng-if="editMode==true" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-click="CancelTaxSettings()"><i class="far fa-times-circle fa_icon"></i></button>

            <button ng-if="editMode==true" class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="saveTaxSettings()"><i class="far fa-check-circle fa_icon"></i></button>

            <div hfc-statuses-overlay1="" style="float:left;margin-right:10px" class="ng-isolate-scope">
                <button type="button" ng-click="bringTooltipPopup()" class="plus_but tooltip-bottom"><i class="far fa-question-circle" style="font-size:22px;"></i></button>
                <div class="statusCanvas" style="margin-right: 30px; height: auto; width: 700px !important; right: 0px; display: none;">
                    <div class="modal-content">
                        <div class="modal-header popup_head p-1">
                            <h4></h4>
                            <button type="button" class="close popup_close" onclick="$('.statusCanvas').hide()" id="ipadtooltipclosebutton"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="popup_procurement">
                            <div class="modal-body_pricing" style="padding:10px 10px 0;">
                                <p>Have questions about your Sales Tax rates? We've partnered with Avalara.</p>
                                <a href="https://www.avalara.com/taxrates/en/download-tax-tables.html" target="_blank" style="color: rgb(61,125,139);"><span>https://www.avalara.com/taxrates/en/download-tax-tables.html</span></a>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align:center; border-top:0 !important;">
                            <button type="submit" class="btn btn-primary tery_sm1" onclick="$('.statusCanvas').hide()">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <!-- Grid Section  -->
    <div class="tab_container tp_content">
        <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ListTaxSettings">
            You don't have permission to this page.
        </div>
        <div ng-if="Permission.ListTaxSettings">
            <div class="lead_rtop row">
                <div class="col-md-3 col-3" style="margin:15px;">
                    <input type="checkbox" ng-disabled="editMode==false"
                           ng-model="getTaxData.Franchise.EnableTax"
                           ng-true-value="false" ng-false-value="true"
                           ng-click="EnableDisableTax()"><b><span>Disable Automated Tax Settings  </span></b>
                </div>
                <div class="col-md-7 col-7">
                    <div ng-if="UseTaxFlag==true" style="border: 2px solid red;margin: 1%;padding:1%">
                        <span style="color: red;">
                            "Touchpoint user understands that the tax percentage entered is entirely their own based on guidance from their financial advisor - if not, please consult your accountant/financial professional for appropriate use tax % in your jurisdiction"
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <div style="margin: 2% !important;">
                    <div class="k-grid-header-wrap k-auto-scrollable" data-role="resizable" style="overflow:auto;">
                        <table role="grid" class="table table-striped table-bordered" style="margin-bottom:2%">
                            <thead style="background-color: rgba(128, 128, 128, 0.18823529411764706);">

                                <tr>

                                    <th scope="col">
                                        Territory
                                    </th>
                                    <th scope="col">
                                        Tax Type
                                    </th>
                                    <th scope="col">
                                        Use Tax Factor(%)
                                    </th>
                                    <th style="width:200px" scope="col">
                                        Use Opportunity Installation Address
                                    </th>
                                    <th scope="col">
                                        Tax Address
                                    </th>
                                    <th style="width:350px" scope="col">
                                        Address
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in getTaxData.TaxSettings">
                                    <td>
                                        <span ng-if="item.TerritoryId!=null">
                                            {{item.TerritoryName}}
                                        </span>
                                        <span ng-if="item.TerritoryId==null">
                                            <span style='margin-right: 10px;'>Gray Area</span><button type='button' class='plus_but middle_pbut tooltip-bottom' data-tooltip='Grey area Sales Tax Settings: All grey area sales tax will default to the customers installation address.' style='color: blue;'><i style='color: teal;' class='fas fa-info-circle'></i></button>
                                        </span>
                                    </td>
                                    <td>
                                        <div class="state_field" style="width:100px;">
                                            <span style="width:100px;" class="custom-dropdown custom-dropdown--white">
                                                <select style="width:100px;" ng-disabled="editMode==false" class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                        ng-model="item.TaxType"
                                                        name="Email_Dropdown"
                                                        ng-options="value.TaxTypeId  as value.Name for value in taxTypes">
                                                </select>
                                            </span>
                                        </div>

                                    </td>
                                    <td>
                                        <input style="width:100px" ng-disabled="editMode==false || item.TaxType!=3" min="0" oninput="this.value = Math.abs(this.value)" type="number" ng-model="item.UseTaxPercentage">
                                    </td>
                                    <td>
                                        <input ng-disabled="editMode==false" class="option-input checkbox" ng-model="item.UseCustomerAddress" type="checkbox" />
                                    </td>
                                    <td>
                                        <div class="state_field" style="width:200px;">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select ng-disabled="editMode==false" class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                        ng-model="item.ShipToLocationId"
                                                        name="Email_Dropdown"
                                                        ng-change="SelectAddress($index,item.ShipToLocationId)"
                                                        ng-options="value.ShipToLocationId  as value.ShipToName for value in ShipToLocationsData">
                                                    <option>Select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        {{item.Address}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="quotegrid_box">
                <ul kendo-panel-bar id="panelbar" style="margin-bottom:0;">
                    <li class="k-item k-state-default k-first k-state-highlight k-state-active" role="menuitem" aria-expanded="true" aria-selected="true">
                        <span style="font-weight:bold; width:100%;">
                            <p style="float:left; margin:0 30px 0 0 !important;"><label>Use Tax - Audit Trail</label></p>
                        </span>
                        <div class="table-responsive">
                            <div style="margin:1% 2% !important;">
                                <div class="k-grid-header-wrap k-auto-scrollable" data-role="resizable" style="overflow:auto;">
                                    <table role="grid" class="table table-striped table-bordered" style="margin-bottom:2%">
                                        <thead style="background-color: rgba(128, 128, 128, 0.18823529411764706);">

                                            <tr>
                                                <th scope="col">
                                                    Territory
                                                </th>
                                                <th scope="col">
                                                    Date Changed
                                                </th>
                                                <th scope="col">
                                                    Old Value
                                                </th>
                                                <th scope="col">
                                                    New Value
                                                </th>
                                                <th style="width:200px" scope="col">
                                                    Changed By
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in getTaxData.audit">
                                                <td>
                                                    {{item.TerritoryName}}
                                                </td>
                                                <td>
                                                    {{item.UpdatedOn | date:'MM/dd/yyyy'}}
                                                    <!--<p ng-bind="item.UpdatedOn | date:'MM/dd/yyyy'">-->
                                                </td>
                                                <td>
                                                    {{item.OldUseTaxValue}}

                                                </td>
                                                <td>
                                                    {{item.NewUseTaxValue}}
                                                </td>
                                                <td>
                                                    {{item.UpdatedByPerson}}
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </div>

    <!--Enable or disable tax-->
    <div class="modal fade" id="WarningDisableTax" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog quote_popup">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">WARNING</h4>
                    <button type="button" class="close popup_close" ng-click="CancelWarningDisableTax('WarningDisableTax')">&times;</button>
                </div>
                <form name="taxSettings_popup" role="form" ng-submit="ContinueWarning()">
                    <div class="modal-body quote_popup">
                        <div class="form-group text-danger text-center">
                            Warning you are disabling this sales tax feature. This will affect how sales tax is calculated. Would you like to continue?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" class="btn btn-cancel">Continue</button>
                            <button type="reset" class="btn btn-cancel" ng-click="CancelWarningDisableTax('WarningDisableTax')">No</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--Enable or disable tax-->
    <div class="modal fade" id="enableorDisableTax" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog quote_popup">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">WARNING</h4>
                    <button type="button" class="close popup_close" ng-click="CancelEnableDisableTax('enableorDisableTax')">&times;</button>
                </div>
                <form name="taxSettings_popup" role="form" ng-submit="ConfirmDsiableTax()">
                    <div class="modal-body quote_popup">
                        <div class="form-group text-danger text-center">
                            Critical warning! You have disabled the sales tax <br />
                            integration in Touchpoint. Sales tax will not be applied to  <br />
                            quotes or sales orders.
                            <br /> <br />
                            Would you like to disable Touchpoint Sales Tax?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" class="btn btn-cancel">Yes</button>
                            <button type="reset" class="btn btn-cancel" ng-click="CancelEnableDisableTax('enableorDisableTax')">No</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="WarningPopup" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog quote_popup">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">WARNING</h4>
                    <button type="button" class="close popup_close" ng-click="Cancel('WarningPopup')">&times;</button>
                </div>
                <form name="taxSettings_popup" role="form" ng-submit="TaxSettingswarning()">
                    <div class="modal-body quote_popup">
                        <div class="form-group text-danger text-center">
                            Critical warning! You have disabled the sales tax <br />
                            integration in Touchpoint. Sales tax will not be applied to  <br />
                            quotes or sales orders.
                            <br /> <br />
                            Would you like to disable Touchpoint Sales Tax?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" class="btn btn-cancel">Yes</button>
                            <button type="reset" class="btn btn-cancel" ng-click="Cancel('WarningPopup')">No</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
