﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }

    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
        text-align: right !important;
        padding-right: 10px !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    ul.dropdown-menu {
        z-index: 25000 !important;
    }
    /*datepicker ui fix*/
    .k-datepicker.frm_controllead1 {
        padding: 0px !important;
    }
</style>
<div class="outter-wp" ng-controller="ReportsController">
    <div class="lead_stab" style="top:80px; height:48px;">
        <reportheader-Component></reportheader-Component>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button type="button" class="hfc_bgbut tooltip-bottom" data-tooltip="Download Report" ng-click="DownloadAgingReport_Excel()"><i class="far fa-cloud-download"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error" ng-if="!Permission.Repots">
            You don't have permission to this page.
        </div>
        <div class="state_field row no-margin" id="MenuDiv" style="padding:20px 10px 20px;" ng-if="Permission.Repots">
            <h3 class="font-weight-bold mb-2">Aging</h3>
            <div class="col-lg-12 row no-margin no-padding">
                <div class="col-sm-3 salepurchase_hnonpicbox">

                    <input type="button" class="cancel_but" style="padding:1px 5px !important; font-size:12px !important;" ng-click="LoadAgingReport()" value="Load Data" />
                    <!--<label class="text_detlabel">Date Range</label>
    <ul class="salespurchase_grid">
        <li>
            <button class="btn btn-default dropdown-toggle date_salepurchase" name="filterDropDown" data-toggle="dropdown">
                <span class="float-left" ng-class="{true:' required_placeholder', false:''}[selectedDateText=='Select']">{{ selectedDateText }}</span> <span class="saleshfc_arrow"></span>
            </button>
            <ul class="dropdown-menu reportsdatarange_grid">
                <li class="noclick"><a ng-click="openDropdown($event)">Select</a></li>
                <li ng-repeat="date in ReportsService.DateRangeArray"><a href="" target="_self" ng-click="setDateRange(date)">{{ date }}</a></li>
                <li class="divider"></li>
                <li class="dropdown-header font-weight-bold" style="padding:5px 10px !important;">Date Ranges:</li>
                <li class="rangesDate">
                    <div style="padding:5px 10px;">
                        <div>
                            <input kendo-date-picker
                                   k-format="HFCService.StaticKendoDateFormat()"
                                   ng-required="true" name="Qdt"
                                   type="text"
                                   id="MarkettingStartDate"
                                   placeholder="MM/DD/YYYY" data-date-format="MM/DD/YYYY"
                                   ng-model="ReportFilter.StartDate"
                                   ng-change="RefreshDateRange(); ValidatingDate(ReportFilter.StartDate,'MarkettingStartDate')"
                                   class="form-control frm_controllead1 kendo-date-picker-date no-padding" style="height: 28px !important;"
                                   data-autoclose="true">
                        </div>
                        <div style="margin-top: 10px;">
                            <input kendo-date-picker
                                   k-format="HFCService.StaticKendoDateFormat()"
                                   ng-required="true" name="Qdt"
                                   type="text"
                                   id="MarketingEndDate"
                                   placeholder="MM/DD/YYYY" data-date-format="MM/DD/YYYY"
                                   ng-model="ReportFilter.EndDate"
                                   ng-change="RefreshDateRange(); ValidatingDate(ReportFilter.EndDate,'MarketingEndDate')"
                                   class="form-control frm_controllead1 kendo-date-picker-date no-padding" style="height: 28px !important;"
                                   data-autoclose="true">
                        </div>
                        <div id="validDateRange" name="validDateRange" style="display:none;" class="text text-danger">Invalid date range</div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>-->
                </div>
                <div class="col-sm-1 no-padding mt-4">
                   
                </div>
                <div class="col-sm-8"></div>
            </div>
        </div>
        <div class="table-responsive">
            <kendo-grid id="GridAging" options="AgingOptions" style="margin-bottom:40px !important;"></kendo-grid>
        </div>
    </div>
</div>
<script type="text/javascript">
   $('ul.menu.flex').flexMenu();
</script>