﻿<style>
   .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
       width: 100%;
       bottom: 30px;
       position: fixed;
       overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
        text-align: right !important;
        padding-right: 10px !important;
    }
    html,
        body
       {
            margin: 0;
            padding: 0;
            border-width: 0;
            height: 100%; /* DO NOT USE !important for setting the Grid height! */
            overflow: hidden;
        }
     .k-grid-content{
       position: relative;
      width: 100%;
      overflow: auto !important;
      overflow-x: auto !important;
      overflow-y: scroll !important;
      zoom: 1;
      min-height: 0;
   }
    .k-grid-header, .k-grid-footer {
     padding-right:17px !important;
    }
    .k-grid-header {
        background:#e2e2e2;
    }
    .k-grid-footer {
        background:#cacaca;
    }
    ul.dropdown-menu {
        z-index: 25000 !important;
    }
    /*datepicker ui fix*/
    .k-datepicker.frm_controllead1 {
        padding: 0px !important;
    }
</style>
<div class="outter-wp" ng-controller="ReportsController">
    <div class="lead_stab" style="top:80px; height:48px;">
        <reportheader-Component></reportheader-Component>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button type="button" class="hfc_bgbut tooltip-bottom" data-tooltip="Download Report" ng-click="DownloadFranchisePerformanceReport_Excel()"><i class="far fa-cloud-download"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error" ng-if="!Permission.Repots">
            You don't have permission to this page.
        </div>
        <div class="state_field" id="MenuDiv" style="padding:20px 10px;" ng-if="Permission.Repots">
            <h3 class="font-weight-bold mb-2">Performance</h3>
            <div>
                <div class="row no-margin">
	                <div class="col-sm-3 performancereport_grid">
	                    <label class="text_detlabel">Select Report Type</label>
	                    <span class="custom-dropdown custom-dropdown--white" >
	                        <select class="form-control custom-dropdown__select custom-dropdown__select--white" style="color:red"
	                                ng-model="ReportFilter.FP_ReportType"
	                                ng-change="FP_ReportTypeChange()"
	                                ng-options="value for value in FranchisePerformanceReportType"
	                                id="franchiseperformreport">
	                            <option value="" disabled selected>Select</option>
	                        </select>
	                    </span>
	                </div>
	                <div class="col-sm-3 performancereport_grid">
	                    <label class="text_detlabel">Date Range</label>
	                    <ul class="salespurchase_grid">
	                        <li>
	                            <button class="btn btn-default dropdown-toggle date_salepurchase" name="filterDropDown" data-toggle="dropdown">
	                                <span class="float-left" ng-class="{true:' required_placeholder', false:''}[selectedDateText=='Select']">{{ selectedDateText }}</span> <span class="saleshfc_arrow"></span>
	                            </button>
	                            <ul class="dropdown-menu reportsdatarange_grid">
	                                <li class="noclick"><a ng-click="openDropdown($event)">Select</a></li>
	                                <li ng-repeat="date in ReportsService.DateRangeArray"><a href="" target="_self" ng-click="setDateRange(date)">{{ date }}</a></li>
	                                <li class="divider"></li>
	                                <li class="dropdown-header font-weight-bold" style="padding:5px 10px !important;">Date Ranges:</li>
	                                <li class="rangesDate">
	                                    <div style="padding:5px 10px;">
	                                        <div>
	                                            <!--<input type="date"
	                                                   class="form-control frm_controllead1"
	                                                   ng-model="ReportFilter.StartDate"
	                                                   ng-change="RefreshDateRange()"
	                                                   format-Date
	                                                   name="Qdt"
	                                                   calendar
	                                                   cs-date-to-iso
	                                                   min="{{Qdt != undefined ? Qdt : minDate |GlobalTime:'shortDate'}}"
	                                                   max="{{Qdt != undefined ? Qdt : maxDate |GlobalTime:'shortDate'}}" />-->
	                                            <input kendo-date-picker
	                                                   k-format = "HFCService.StaticKendoDateFormat()"
	                                                   ng-required="true" name="Qdt"
	                                                   type="text"
	                                                   id="PerformanceStartDate"
	                                                   placeholder="MM/DD/YYYY" data-date-format="MM/DD/YYYY"
	                                                   ng-model="ReportFilter.StartDate"
	                                                   ng-change="RefreshDateRange(); ValidatingDate(ReportFilter.StartDate,'PerformanceStartDate')"
	                                                   class="form-control frm_controllead1 kendo-date-picker-date no-padding" style="height: 28px !important;"
	                                                   data-autoclose="true">
	                                        </div>
	                                        <div style="margin-top: 10px;">
	                                            <!--<input type="date"
	                                                   class="form-control frm_controllead1"
	                                                   ng-model="ReportFilter.EndDate"
	                                                   ng-change="RefreshDateRange()"
	                                                   format-Date
	                                                   name="Qdt"
	                                                   calendar
	                                                   cs-date-to-iso
	                                                   min="{{Qdt != undefined ? Qdt : minDate |GlobalTime:'shortDate'}}"
	                                                   max="{{Qdt != undefined ? Qdt : maxDate |GlobalTime:'shortDate'}}" />-->
	                                            <input kendo-date-picker
	                                                   k-format = "HFCService.StaticKendoDateFormat()"
	                                                   ng-required="true" name="Qdt"
	                                                   type="text"
	                                                   id="PerformanceEndDate"
	                                                   placeholder="MM/DD/YYYY" data-date-format="MM/DD/YYYY"
	                                                   ng-model="ReportFilter.EndDate"
	                                                   ng-change="RefreshDateRange(); ValidatingDate(ReportFilter.EndDate,'PerformanceEndDate')"
	                                                   class="form-control frm_controllead1 kendo-date-picker-date no-padding" style="height: 28px !important;"
	                                                   data-autoclose="true">
	                                        </div>
	                                        <div id="validDateRange" name="validDateRange" style="display:none;" class="text text-danger">Invalid date range</div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </li>
	                    </ul>
	                </div>
	                <div class="col-sm-1 no-padding mt-4">
	                    <input type="button" class="cancel_but" style="padding:1px 5px !important; font-size:12px !important;" ng-click="LoadFranchisePerformanceReport()" value="Load Data" />
	                </div>
	                <div class="col-sm-5"></div>
	               </div>
               </div>
            </div>
            <div class="table-responsive" ng-show="ReportFilter.FP_ReportType=='Sales Person'">
                <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridFranchisePerformanceReport_SalesAgent" options="FranchisePerformanceReport_SalesAgent_options" style="margin-bottom:40px !important;"></kendo-grid>
                <!--</kendo-tooltip>-->
            </div>
            <div class="table-responsive" ng-show="ReportFilter.FP_ReportType=='Territory'">
                <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridFranchisePerformanceReport_Territory" options="FranchisePerformanceReport_Territory_options" style="margin-bottom:40px !important;"></kendo-grid>
                <!--</kendo-tooltip>-->
            </div>
            <div class="table-responsive" ng-show="ReportFilter.FP_ReportType=='Franchise'">
                <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridFranchisePerformanceReport_Franchise" options="FranchisePerformanceReport_Franchise_options" style="margin-bottom:40px !important;"></kendo-grid>
                <!--</kendo-tooltip>-->
            </div>
            <div class="table-responsive" ng-show="ReportFilter.FP_ReportType=='Zip'">
                <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridFranchisePerformanceReport_Zip" options="FranchisePerformanceReport_Zip_options" style="margin-bottom:40px !important;"></kendo-grid>
                <!--</kendo-tooltip>-->
            </div>
            <div class="table-responsive" ng-show="ReportFilter.FP_ReportType=='Vendor'">
                <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridFranchisePerformanceReport_Vendor" options="FranchisePerformanceReport_Vendor_options" style="margin-bottom:40px !important;"></kendo-grid>
                <!--</kendo-tooltip>-->
            </div>
            <div class="table-responsive" ng-show="ReportFilter.FP_ReportType=='Product Category'">
                <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridFranchisePerformanceReport_ProductCategory" options="FranchisePerformanceReport_ProductCategory_options" style="margin-bottom:40px !important;"></kendo-grid>
                <!--</kendo-tooltip>-->
            </div>
    </div>
</div>
<script type="text/javascript">
		$('ul.menu.flex').flexMenu();
</script>