﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }

    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
        text-align: right !important;
        padding-right: 10px !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    ul.dropdown-menu {
        z-index: 25000 !important;
    }

    .k-grouping-header {
        padding: 2px 8px !important;
    }

    .k-grid-content-locked {
        height: auto !important;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        .ipadspace_grid .k-grid-footer {
            padding-right: 0 !important;
        }
    }

    @media only screen and (min-device-width: 1024px) and (max-device-width:1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        .ipadspace_grid .k-grid-footer {
            padding-right: 0 !important;
        }
    }

</style>

<div class="outter-wp" ng-controller="ReportsController">
    <div class="lead_stab" style="top:80px; height:48px;">
        <reportheader-Component></reportheader-Component>
        <div class="leaddetail_butns">
            <button type="button" class="plus_but tooltip-bottom" data-tooltip="Download Report" ng-click="DownloadIncomeSummaryReport_Excel()"><i class="far fa-cloud-download"></i></button>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error" ng-if="!Permission.Repots">
            You don't have permission to this page.
        </div>
        <div class="state_field no-margin" id="MenuDiv" style="padding:20px 10px;" ng-if="Permission.Repots">
            <h3 class="font-weight-bold mb-2">Income Summary Report</h3>
            <div class="row no-margin">
                <!--<div class="col-sm-2 salepurchase_grid">
        <label class="text_detlabel">Accounting Method</label>
        <span class="custom-dropdown custom-dropdown--white">
            <select class="form-control custom-dropdown__select custom-dropdown__select--white" style="color:red"
                    ng-model="ReportFilter.Value" ng-required="true"
                    ng-change="SalesJournalChange()" id="SalesJournalAccounting">
                <option value="" disabled selected>Select</option>
                <option value="Accrual" selected>Accrual</option>
                <option value="Cash" selected>Cash</option>

            </select>
        </span>
    </div>-->
                <div class="col-sm-2 salepurchase_hbox">
                    <label class="text_detlabel">Year</label>
                    <input type="number" min="1900" max="2099" class="form-control frm_controllead1"
                           ng-model="ReportFilter.Year"
                           name="Year" ng-required="true" />
                </div>
                <div class="col-sm-1 mt-4 pl-2">
                    <input type="button" class="cancel_but" style="padding:1px 5px !important; font-size:12px !important;" ng-click="LoadIncomeSummaryReport()" value="Load Data" />
                </div>
                <div class="col-sm-9"></div>
            </div>
        </div>
        <div class="table-responsive">
            <kendo-grid id="gridIncomeSummaryReport" class="ipadspace_grid" options="IncomeSummaryReport_options" style="margin-bottom:40px !important;"></kendo-grid>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('ul.menu.flex').flexMenu();
</script>