﻿<style>
    hr {
        border-top: 2px solid #bbb;
    }

</style>
<div class="outter-wp" ng-controller="ReportsController">
    <div class="lead_stab" style="top:80px; height:48px;">
        <reportheader-Component></reportheader-Component>
        <div class="clearfix"> </div>
</div>
    <div class="tab_container tpsearch_content">
        <div class="p-3">
            <div class="error" ng-if="!Permission.Repots">
                You don't have permission to this page.
            </div>
            <div class="report_grid" ng-if="Permission.Repots">
                <h2>Basic Reports Sales & Purchasing</h2>
                <p>These reports help a franchisee determine business performance in several areas. They do not replace financials, but rather complement a P&L and Balance Sheet. All reports are downloadable into an Excel spreadsheet for further sorting and data review.</p><hr />
                <h3>Activity Reports</h3>
                <ul class="reporst_lists">
                    <li>
                        <a class="no-padding" href="#!/SalesSummaryReport">Sales Summary</a>
                        <p>This summary report, like “Sales & Purchasing Detail,” gives detailed information, but on order totals, not by line. This is a good report to use for assessing sales associate performance.</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/SalesandPurchasingDetailReport">Sales and purchasing detail</a>
                        <p>When you wish to look into individual orders at high detail, this report gives the user line-by-line details on every sales order in the selected categories, with the ability to drill-down on costs, profit margins, etc.</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/SalesTax">Sales Tax</a>
                        <p>Download this report and hand to your bookkeeper/accountant. Gives you taxes collected by zip, broken down by “type” of sales tax, both US and Canada specific (State/Province, County, Special, GST, HST, PST)</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/SalesTaxSummary">Sales Tax Summary</a>
                        <p>Sales Tax Summary</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/SalesJournalReport">Sales Journal</a>
                        <p>Sales Journal</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/OpenBalanceReport">Open Balance</a>
                        <p>View outstanding accounts receivable in this report with the date range of your choice. Sort by salesperson, if desired, as well as by commercial type & industry. Once data is loaded, the user has a choice of filters (as desired) to track outstanding balances. As with all reports, a user can download this data to an Excel spreadsheet for additional uses.</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/AgingReport">Aging</a>
                        <p>Aging</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/UseTax">Use Tax</a>
                        <p>Use Tax</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/OrdersPaidInFull">Orders Paid In Full</a>
                        <p>Orders Paid In Full</p>
                    </li>
                </ul><hr />
                <h3>Performance Reports</h3>
                <ul class="reporst_lists">
                    <li>
                        <a class="no-padding" href="#!/MarketingPerformance">Marketing Performance</a>
                        <p>Where is your LAM spend most effective? Get great information in this report on your marketing campaigns:Return on investment and cost per lead, to name a few things. You must select a date range, but can select on Lead Source, Campaign, Commercial Type, Industry, ZIP and Salesperson.</p>
                    </li>
                    <li ng-if="BrandId==1">
                        <a class="no-padding" href="#!/VendorPerformance">Vendor Performance</a>
                        <p>Interested in evaluating the vendors you use? Data output is by month for the year selected – gives total sales, COGS, GP for individual vendors and/or salesperson.</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/FranchisePerformanceReport">Franchise Performance</a>
                        <p>Use this report to submit your Monthly Sales Report to HFC accounting, until the MSR report is built into Touchpoint. If desired, run the report by individual territories, entire franchise, ZIP code, vendor, salesperson, or product category Detail provided is number of Opportunities, Quotes, Orders, Units, Closing ratio, COGS, Sales, GP, etc. </p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/SalesSummaryByMonth">Monthly Statistics (Sales Summary (by month))</a>
                        <p>This is a month-by-month report comparing the current year’s sales data, as well as the previous year’s performance. You can sort by territory, salesperson and by ZIP/Postal code. The report lists Sales, COGS, GP %, GPM, Core Product, “My Product” and Services income. </p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/IncomeSummaryReport">Income Summary Report</a>
                        <p>Income Summary Report</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/PaymentReport">Payment Report</a>
                        <p>Payment Report</p>
                    </li>
                </ul><hr />
                <h3>Other Reports</h3>
                <ul class="reporst_lists">
                    <li>
                        <a class="no-padding" href="#!/MsrReport">MSR Report</a>
                        <p>Msr Report</p>
                    </li>
                    <li ng-if="ShowRawdata">
                        <a class="no-padding" href="#!/RawDataReport">Raw Data Download</a>
                        <p>Any leads, accounts, opportunities, orders, MPOs and VPOs that have a "created date" within the date range selected will be downloaded. The download date range is limited to 1 year at a time.</p>
                    </li>
                    <li>
                        <a class="no-padding" href="#!/PPCMatchbackReport">PPC Matchback</a>
                        <p>PPC Matchback</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   $('ul.menu.flex').flexMenu();
</script>