﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
        text-align: right !important;
        padding-right: 10px !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
      width: 100%;
      overflow: auto !important;
      overflow-x: auto !important;
      overflow-y: scroll !important;
      zoom: 1;
      min-height: 0;
    }
    .k-grid-header, .k-grid-footer {
      padding-right:17px !important;
    }
    .k-grid-header {
        background:#e2e2e2;
    }
    .k-grid-footer {
        background:#cacaca;
    }
    ul.dropdown-menu{
       z-index:25000 !important;
    }
    .k-i-loading {
        display: none;
    }
    #SalePersonList-list .k-list-scroller, #SourceList-list .k-list-scroller, #CampaignList-list .k-list-scroller, #IndustryList-list .k-list-scroller, #ZipCodeList-list .k-list-scroller, #CommercialTypeList-list .k-list-scroller {
        max-height: 131px !important;
    }
    /*datepicker ui fix*/
    .k-datepicker.frm_controllead1 {
        padding: 0px !important;
    }
</style>
<div class="outter-wp" ng-controller="ReportsController">
    <div class="lead_stab" style="top:80px; height:48px;">
        <reportheader-Component></reportheader-Component>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button type="button" class="hfc_bgbut tooltip-bottom" data-tooltip="Download Report" ng-click="DownloadMarketingPerformanceReport_Excel()"><i class="far fa-cloud-download"></i></button></li>
            </ul>
         </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tpsearch_content" >
        <div class="error" ng-if="!Permission.Repots">
            You don't have permission to this page.
        </div>
        <div class="state_field row no-margin" id="MenuDiv" style="padding:20px 10px 8px;" ng-if="Permission.Repots">
            <h3 class="font-weight-bold mb-2">Marketing Performance</h3>
                <div class="col-lg-12 row no-margin no-padding">
                    <div class="col-sm-2 salepurchase_hnonpicbox">
                        <label class="text_detlabel">Source</label>
                        <span class="custom-dropdown custom-dropdown--white">
                            <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                    name="ReportFilterValue"
                                    ng-model="ReportFilter.SourceId"
                                    ng-options="option.SourceId as option.Name for option in LookupFESource">
                                <option value="" selected>All</option>
                            </select>-->
                            <select id="SourceList"
                                    name="SourceList"
                                    kendo-drop-down-list
                                    k-options="SourceList"
                                    k-ng-model="ReportFilter.SourceId"
                                    class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                        </span>
                    </div>
                    <div class="col-sm-2 salepurchase_hnonpicbox">
                        <label class="text_detlabel">Campaign</label>
                        <span class="custom-dropdown custom-dropdown--white">
                            <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                    name="ReportFilterValue"
                                    ng-model="ReportFilter.campaignId"
                                    ng-options="option.CampaignId as option.Name for option in LookupFECampaign">
                                <option value="" selected>All</option>
                            </select>-->
                            <select id="CampaignList"
                                    name="CampaignList"
                                    kendo-drop-down-list
                                    k-options="CampaignList"
                                    k-ng-model="ReportFilter.campaignId"
                                    class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                        </span>
                    </div>
                    <div class="col-sm-2 salepurchase_hnonpicbox">
                        <label class="text_detlabel">Commercial Type</label>
                        <span class="custom-dropdown custom-dropdown--white">
                            <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                    ng-model="ReportFilter.CommercialTypeId"
                                    ng-options="option.Id as option.Name for option in LookupCommercialType">
                                <option value="" selected>All</option>
                            </select>-->
                            <select id="CommercialTypeList"
                                    name="CommercialTypeList"
                                    kendo-drop-down-list
                                    k-options="CommercialTypeList"
                                    k-ng-model="ReportFilter.CommercialTypeId"
                                    class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                        </span>
                    </div>
                    <div class="col-sm-2 salepurchase_hnonpicbox">
                        <label class="text_detlabel">Industry</label>
                        <span class="custom-dropdown custom-dropdown--white">
                            <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                    ng-model="ReportFilter.IndustryId"
                                    ng-options="option.Id as option.Name for option in LookupIndustries">
                                <option value="" selected>All</option>
                            </select>-->
                            <select id="IndustryList"
                                    name="IndustryList"
                                    kendo-drop-down-list
                                    k-options="IndustryList"
                                    k-ng-model="ReportFilter.IndustryId"
                                    class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                        </span>
                    </div>

                    <div class="col-sm-2 salepurchase_hnonpicbox">
                        <label class="text_detlabel">Zip</label>
                        <span class="custom-dropdown custom-dropdown--white">
                            <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                    ng-model="ReportFilter.Zip"
                                    ng-options="option.ZipCode as option.ZipCode for option in LookupFEZip">
                                <option value="" selected>All</option>
                            </select>-->
                            <select id="ZipCodeList"
                                    name="ZipCodeList"
                                    kendo-drop-down-list
                                    k-options="ZipCodeList"
                                    k-ng-model="ReportFilter.Zip"
                                    class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                        </span>
                    </div>

                    <div class="col-sm-2 salepurchase_hnonpicbox">
                        <label class="text_detlabel">sales person</label>
                        <span class="custom-dropdown custom-dropdown--white">
                            <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                    ng-model="ReportFilter.PersonID"
                                    ng-options="option.PersonId as option.PersonName for option in LookupGetFESalesPerson">
                                <option value="" selected>All</option>
                            </select>-->
                            <select id="SalePersonList"
                                    name="SalePersonList"
                                    kendo-drop-down-list
                                    k-options="SalePersonList"
                                    k-ng-model="ReportFilter.PersonID"
                                    class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 row no-padding" style="margin:15px 0 0;">
                    <div class="col-sm-2 salepurchase_hnonpicbox">
                        <label class="text_detlabel">Date Range</label>
                        <ul class="salespurchase_grid">
                            <li>
                                <button class="btn btn-default dropdown-toggle date_salepurchase" name="filterDropDown" data-toggle="dropdown">
                                    <span class="float-left" ng-class="{true:' required_placeholder', false:''}[selectedDateText=='Select']">{{ selectedDateText }}</span> <span class="saleshfc_arrow"></span>
                                </button>
                                <ul class="dropdown-menu reportsdatarange_grid">
                                    <li class="noclick"><a ng-click="openDropdown($event)">Select</a></li>
                                    <li ng-repeat="date in ReportsService.DateRangeArray"><a href="" target="_self" ng-click="setDateRange(date)">{{ date }}</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header font-weight-bold" style="padding:5px 10px !important;">Date Ranges:</li>
                                    <li class="rangesDate">
                                        <div style="padding:5px 10px;">
                                            <div>
                                                <!--<input type="date"
                                                       class="form-control frm_controllead1"
                                                       ng-model="ReportFilter.StartDate"
                                                       ng-change="RefreshDateRange()"
                                                       format-Date
                                                       name="Qdt"
                                                       calendar
                                                       cs-date-to-iso
                                                       min="{{Qdt != undefined ? Qdt : minDate |GlobalTime:'shortDate'}}"
                                                       max="{{Qdt != undefined ? Qdt : maxDate |GlobalTime:'shortDate'}}" />-->
                                                <input kendo-date-picker
                                                       k-format = "HFCService.StaticKendoDateFormat()"
                                                       ng-required="true" name="Qdt"
                                                       type="text"
                                                       id="MarkettingStartDate"
                                                       placeholder="MM/DD/YYYY" data-date-format="MM/DD/YYYY"
                                                       ng-model="ReportFilter.StartDate"
                                                       ng-change="RefreshDateRange(); ValidatingDate(ReportFilter.StartDate,'MarkettingStartDate')"
                                                       class="form-control frm_controllead1 kendo-date-picker-date no-padding" style="height: 28px !important;"
                                                       data-autoclose="true">
                                            </div>
                                            <div style="margin-top: 10px;">
                                                <!--<input type="date"
                                                       class="form-control frm_controllead1"
                                                       ng-model="ReportFilter.EndDate"
                                                       ng-change="RefreshDateRange()"
                                                       format-Date
                                                       name="Qdt"
                                                       calendar
                                                       cs-date-to-iso
                                                       min="{{Qdt != undefined ? Qdt : minDate |GlobalTime:'shortDate'}}"
                                                       max="{{Qdt != undefined ? Qdt : maxDate |GlobalTime:'shortDate'}}" />-->
                                                <input kendo-date-picker
                                                       k-format = "HFCService.StaticKendoDateFormat()"
                                                       ng-required="true" name="Qdt"
                                                       type="text"
                                                       id="MarketingEndDate"
                                                       placeholder="MM/DD/YYYY" data-date-format="MM/DD/YYYY"
                                                       ng-model="ReportFilter.EndDate"
                                                       ng-change="RefreshDateRange(); ValidatingDate(ReportFilter.EndDate,'MarketingEndDate')"
                                                       class="form-control frm_controllead1 kendo-date-picker-date no-padding" style="height: 28px !important;"
                                                       data-autoclose="true">
                                            </div>
                                            <div id="validDateRange" name="validDateRange" style="display:none;" class="text text-danger">Invalid date range</div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-1 no-padding mt-4">
                        <input type="button" class="cancel_but" style="padding:1px 5px !important; font-size:12px !important;" ng-click="LoadMarketingSummaryReport()" value="Load Data" />
                    </div>
                    <div class="col-sm-9"></div>
                </div>
        </div>
        <div class="table-responsive">
            <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridMarketingPerformance" options="MarketingPerformanceReport_options" style="margin-bottom:40px !important;"></kendo-grid>
            <!--</kendo-tooltip>-->
        </div>

        <!--<script>
           
            angular.element($window).bind('resize', function () {
                var gridElement = $("#gridMarketingPerformance");
                $('.k-grid-content.k-auto-scrollable').height(window.innerHeight - 420);
            });


            $scope.$on("kendoWidgetCreated", function (e) {
                var xyz = $("#gridMarketingPerformance").data("kendoGrid");
                xyz.resize();
                $('.k-grid-content.k-auto-scrollable').height(window.innerHeight - 420);
                window.onresize = function () {
                    resize();
                };

                if ($scope.grid && $scope.makeFilter && $scope.modelFilter) {
                    $scope.grid.resizeGrid();
                }
            })
           
        </script>--> 
   </div>
</div>
<script type="text/javascript">
   $('ul.menu.flex').flexMenu();
</script>