﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-grid-content {
        overflow-y: scroll !important;
    }
    .k-grid-content.k-auto-scrollable {
        height: auto !important;
    }
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
      ul.dropdown-menu{
       z-index:25000 !important;
    }
    /*.k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
     }
     .k-footer-template td {
         background-color: #cacaca !important;
     }
     html,
         body
        {
             margin: 0;
             padding: 0;
             border-width: 0;
             height: 100%;
             overflow: hidden;
         }
      .k-grid-content{
        position: relative;
       width: 100%;
       overflow: auto !important;
       overflow-x: auto !important;
       overflow-y: scroll !important;
       zoom: 1;
       min-height: 0;
    }*/
    /*datepicker ui fix*/
    .k-datepicker.frm_controllead1 {
        padding: 0px !important;
    }
</style>
<div class="outter-wp" ng-controller="ReportsController">
    <div class="lead_stab" style="top:80px; height:48px;">
        <reportheader-Component></reportheader-Component>
        <!--<div class="leaddetail_butns">
            <button type="button" class="plus_but download_but tooltip-bottom" data-tooltip="Download Report" ng-click="DownloadSalesSummaryByMonth_Excel()"><i class="far fa-cloud-download"></i></button>
        </div>-->
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error" ng-if="!Permission.Repots">
            You don't have permission to this page.
        </div>
        <div class="p-3">
            <div class="state_field" id="MenuDiv"  margin:0 !important;" ng-if="Permission.Repots">
                <h3 class="font-weight-bold mb-2">Raw Data</h3>
                <div>
                   <div class="row no-margin">
	                    <div class="col-sm-3 salepurchase_hbox">
	                        <label class="text_detlabel">Date Range</label>
	                        <ul class="salespurchase_grid">
	                            <li>
	                                <button class="btn btn-default dropdown-toggle date_salepurchase" name="filterDropDown" data-toggle="dropdown">
	                                    <span class="float-left" ng-class="{true:' required_placeholder', false:''}[selectedDateText=='Select']">{{ selectedDateText }}</span> <span class="saleshfc_arrow"></span>
	                                </button>
	                                <ul class="dropdown-menu reportsdatarange_grid">
	                                    <li class="noclick"><a ng-click="openDropdown($event)">Select</a></li>
	                                    <li ng-repeat="date in ReportsService.DateRangeArray"><a href="" target="_self" ng-click="setDateRange(date)">{{ date }}</a></li>
	                                    <li class="divider"></li>
	                                    <li class="dropdown-header font-weight-bold" style="padding:5px 10px !important;">Date Ranges:</li>
	                                    <li class="rangesDate">
	                                        <div style="padding:5px 10px;">
	                                            <div>
	                                                <!--<input type="date"
	                                                       class="form-control frm_controllead1"
	                                                       ng-model="ReportFilter.StartDate"
	                                                       ng-change="RefreshDateRange();StartDateValue()"
	                                                       keyup="Typestart(ReportFilter.StartDate)"
	                                                       format-Date
	                                                       name="Qdt"
	                                                       calendar
	                                                       cs-date-to-iso
	                                                       min="{{Qdt != undefined ? Qdt : minDate |GlobalTime:'shortDate'}}"
	                                                       max="{{Qdt != undefined ? Qdt : maxDate |GlobalTime:'shortDate'}}" />-->
	                                                <input kendo-date-picker
	                                                       k-format = "HFCService.StaticKendoDateFormat()"
	                                                       ng-required="true" name="Qdt"
	                                                       type="text"
	                                                       id="RawDataStartDate"
	                                                       placeholder="MM/DD/YYYY" data-date-format="MM/DD/YYYY"
	                                                      ng-model="ReportFilter.StartDate"
	                                                       ng-change="RefreshDateRange();StartDateValue(); ValidatingDate(ReportFilter.StartDate,'RawDataStartDate')"
	                                                       keyup="Typestart(ReportFilter.StartDate)"
	                                                       class="form-control frm_controllead1 kendo-date-picker-date no-padding" style="height: 28px !important;"
	                                                       data-autoclose="true">
	                                            </div>
	                                            <div style="margin-top: 10px;">
	                                                <!--<input type="date"
	                                                       class="form-control frm_controllead1"
	                                                       ng-model="ReportFilter.EndDate"
	                                                       ng-change="RefreshDateRange();EndDatValue()"
	                                                       keyup="Typeend(ReportFilter.EndDate)"
	                                                       format-Date
	                                                       name="Qdt"
	                                                       calendar
	                                                       cs-date-to-iso
	                                                       min="{{Qdt != undefined ? Qdt : minDate |GlobalTime:'shortDate'}}"
	                                                       max="{{Qdt != undefined ? Qdt : maxDate |GlobalTime:'shortDate'}}" />-->
	                                                <input kendo-date-picker
	                                                       k-format = "HFCService.StaticKendoDateFormat()"
	                                                       ng-required="true" name="Qdt"
	                                                       type="text"
	                                                       id="RawDataEndDate"
	                                                       placeholder="MM/DD/YYYY" data-date-format="MM/DD/YYYY"
	                                                       ng-model="ReportFilter.EndDate"
	                                                       ng-change="RefreshDateRange();EndDatValue(); ValidatingDate(ReportFilter.EndDate,'RawDataEndDate')"
	                                                       keyup="Typeend(ReportFilter.EndDate)"
	                                                       class="form-control frm_controllead1 kendo-date-picker-date no-padding" style="height: 28px !important;"
	                                                       data-autoclose="true">
	                                            </div>
	                                            <div id="validDateRange" name="validDateRange" style="display:none;" class="text text-danger">Invalid date range</div>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="col-sm-1 mt-4" style="padding-left:10px;">
	                        <input type="button" class="cancel_but" style="padding:1px 5px !important; font-size:12px !important;" ng-click="LoadRawDReports_data()" value="{{ButtonData}}" />
	                    </div>
	                    <!--e1{{MinendDate}} e2{{MaxendDate}}
	                    s1{{MinstartDate}}s2{{MaxstartDate}}-->
	                </div>
	            </div>
            </div>
            <p>
                Any leads, accounts, opportunities, orders, MPOs and VPOs that have a "created date" within the date range above will be downloaded
                when the "Download" button is clicked. This process may take many seconds. Please be patient
            </p>

            <p>The download date range is limited to 1 year at a time.</p>
            <!--<div class="table-responsive">

                <kendo-grid id="gridSalesTax" options="SalesTaxReport_options" style="margin-bottom:40px !important;"></kendo-grid>

            </div>-->
        </div>
    </div>
</div>
<script type="text/javascript">
	$('ul.menu.flex').flexMenu();
</script>