﻿
<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
</style>

<div class="tab_container tpsearch_content" ng-controller="ReportsController">
    <select class="custom-dropdown__select custom-dropdown__select--white" ng-change="setDateRange(datetype)"
            ng-model="datetype" ng-options='date for date in ReportsService.DateRangeArray'>
        <option value="">select</option>
    </select>
    <label>Start Date</label>
    <input kendo-date-picker
           k-format = "HFCService.StaticKendoDateFormat()"
           class="form-control curency_dategrid ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
           style="width:160px !important;"
           id="StartDate"
           type="text" name="StartDate"
           placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
           ng-model="StartDate" data-autoclose="true" />

    <label>End Date</label>
    <input kendo-date-picker
           k-format = "HFCService.StaticKendoDateFormat()"
           class="form-control curency_dategrid ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
           style="width:160px !important;"
           id="EndDate"
           type="text" name="EndDate"
           placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
           ng-model="EndDate" data-autoclose="true" />

    <input type="button" class="k-button btn btn-primary cancel_but" id="btnsubmit" ng-click="LoadData()" value="LoadData">


    <div id="tab1" class="tab_content">
        <div class="table-responsive">

            <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridLeadSearch" options="ReportsService.SalesAgent_options" style="margin-bottom:40px !important;"></kendo-grid>
            <!--</kendo-tooltip>-->


        </div>
    </div>

</div>
