﻿<style>
     .k-grid .k-button {
         margin: 0 .16em;
     }
     .k-grid-content {
         overflow-y: scroll !important;
     }
     .k-grid-content.k-auto-scrollable {
        height: auto !important;
     }
     .k-grid-footer {
        padding-right:17px !important;
     }
    .k-grid-header {
        background:#e2e2e2;
     }
    .k-grid-footer {
        background:#cacaca;
     }
    /*ul.tabs1.reports_hfcbtmnav [data-tooltip]:after,  ul.tabs1.reports_hfcbtmnav .tooltip:after,  ul.tabs1.reports_hfcbtmnav .tooltip-top:after {
        margin-left: -85px;
    }*/
     /*.k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
     }
     .k-footer-template td {
         background-color: #cacaca !important;
     }
     html,
         body
        {
             margin: 0;
             padding: 0;
             border-width: 0;
             height: 100%;
             overflow: hidden;
         }
      .k-grid-content{
        position: relative;
       width: 100%;
       overflow: auto !important;
       overflow-x: auto !important;
       overflow-y: scroll !important;
       zoom: 1;
       min-height: 0;
    }*/
     .k-i-loading {
        display: none;
    }
    #SalePersonList-list .k-list-scroller, #ZipCodeList-list .k-list-scroller{
        max-height: 131px !important;
    }
</style>
<div class="outter-wp" ng-controller="ReportsController">
    <div class="lead_stab" style="top:80px; height:48px;">
        <reportheader-Component></reportheader-Component>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button type="button" class="hfc_bgbut tooltip-bottom" data-tooltip="Download Report" ng-click="DownloadSalesSummaryByMonth_Excel()"><i class="far fa-cloud-download"></i></button></li>
            </ul>
         </div>
        <div class="clearfix"> </div>
    </div>
    <!--ng-change="RefreshSalesandPurchasingDetailReport()"-->
    <div class="tab_container tpsearch_content">
        <div class="error" ng-if="!Permission.Repots">
            You don't have permission to this page.
        </div>
        <div class="state_field" style="padding:20px 10px;" ng-if="Permission.Repots">
            <h3 class="font-weight-bold mb-2">Monthly Statistics</h3>
            <div class="row no-margin">
                <div class="col-sm-2 salepurchase_hnonpicbox">
                    <label class="text_detlabel">Territory</label>
                    <span class="custom-dropdown custom-dropdown--white">
                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                ng-model="ReportFilter.TerritoryId"
                                ng-options="option.TerritoryId as option.Name for option in LookupFETerritory">
                            <option value="" selected>All</option>
                        </select>
                    </span>
                </div>
                <div class="col-sm-2 salepurchase_hnonpicbox">
                    <label class="text_detlabel">User</label>
                    <span class="custom-dropdown custom-dropdown--white">
                        <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                            ng-model="ReportFilter.PersonID"
                            ng-options="option.PersonId as option.PersonName for option in LookupGetFESalesPerson">
                        <option value="" selected>All</option>
                    </select>-->
                        <select id="SalePersonList"
                                name="SalePersonList"
                                kendo-drop-down-list
                                k-options="SalePersonList"
                                k-ng-model="ReportFilter.PersonID"
                                class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                    </span>
                </div>
                <div class="col-sm-2 salepurchase_hnonpicbox">
                    <label class="text_detlabel">Zip</label>
                    <span class="custom-dropdown custom-dropdown--white">
                        <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                            ng-model="ReportFilter.Zip"
                            ng-options="option.ZipCode as option.ZipCode for option in LookupFEZip">
                        <option value="" selected>All</option>
                    </select>-->
                        <select id="ZipCodeList"
                                name="ZipCodeList"
                                kendo-drop-down-list
                                k-options="ZipCodeList"
                                k-ng-model="ReportFilter.Zip"
                                class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                    </span>
                </div>
                <div class="col-sm-1 no-padding mt-4">
                    <input type="button" class="cancel_but" style="padding:1px 5px !important; font-size:12px !important;" ng-click="LoadSalesSummaryReport()" value="Load Data" />
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
        <div class="table-responsive" ng-if="Permission.Repots">
            <!--<kendo-tooltip options="kendotooltipOptions">-->
            <kendo-grid id="gridSalesSummary_ThisYear" class="ipadspace_grid" options="SalesSummary_ThisYear_options" style="margin-bottom:40px !important;"></kendo-grid>
            <!--</kendo-tooltip>-->
        </div>
        <div class="table-responsive" ng-if="Permission.Repots">
            <!--<kendo-tooltip options="kendotooltipOptions">-->
            <kendo-grid id="gridSalesSummary_LastYear" class="ipadspace_grid" options="SalesSummary_LastYear_options" style="margin-bottom:40px !important;"></kendo-grid>
            <!--</kendo-tooltip>-->
        </div>
        <div class="table-responsive" ng-if="Permission.Repots">
            <!--<kendo-tooltip options="kendotooltipOptions">-->
            <kendo-grid id="gridSalesSummary_TwoYearsOld" class="ipadspace_grid" options="SalesSummary_TwoYearsOld_options" style="margin-bottom:40px !important;"></kendo-grid>
            <!--</kendo-tooltip>-->
        </div>
        <div class="table-responsive" ng-if="Permission.Repots">
            <!--<kendo-tooltip options="kendotooltipOptions">-->
            <kendo-grid id="gridSalesSummary_ThreeYearsOld" class="ipadspace_grid" options="SalesSummary_ThreeYearsOld_options" style="margin-bottom:40px !important;"></kendo-grid>
            <!--</kendo-tooltip>-->
        </div>
        <div class="table-responsive" ng-if="Permission.Repots">
            <!--<kendo-tooltip options="kendotooltipOptions">-->
            <kendo-grid id="gridSalesSummary_FourYearsOld" class="ipadspace_grid" options="SalesSummary_FourYearsOld_options" style="margin-bottom:40px !important;"></kendo-grid>
            <!--</kendo-tooltip>-->
        </div>
    </div>
</div>
<script type="text/javascript">
		$('ul.menu.flex').flexMenu();
</script>
