﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }

    .k-grid-content {
        overflow-y: scroll !important;
    }

        .k-grid-content.k-auto-scrollable {
            height: auto !important;
        }

    .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }
    .k-i-loading {
        display: none;
    }

    #SalePersonList-list .k-list-scroller, #ZipCodeList-list .k-list-scroller {
        max-height: 131px !important;
    }
</style>
<div class="outter-wp" ng-controller="ReportsController">
    <div class="lead_stab" style="top:80px; height:48px;">
        <reportheader-Component></reportheader-Component>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button type="button" class="hfc_bgbut tooltip-bottom" data-tooltip="Download Report" ng-click="DownloadUseTax_Excel()"><i class="far fa-cloud-download"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--ng-change="RefreshSalesandPurchasingDetailReport()"-->
    <div class="tab_container tpsearch_content">
        <div class="error" ng-if="!Permission.Repots">
            You don't have permission to this page.
        </div>
        <div class="state_field" style="padding:20px 10px;" ng-if="Permission.Repots">
            <h3 class="font-weight-bold mb-2">Use Tax</h3>
            <div class="row no-margin">
                <div class="col-sm-2 salepurchase_hnonpicbox">
                    <label class="text_detlabel">Year</label>
                    <input type="number" min="1900" max="2099" class="form-control frm_controllead1"
                           ng-model="ReportFilter.Year"
                           name="Year" ng-required="true" />
                </div>
                <div class="col-sm-2 salepurchase_hnonpicbox">
                    <label class="text_detlabel">Month</label>
                    <span class="custom-dropdown custom-dropdown--white">
                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                ng-model="ReportFilter.Month" ng-required="true">
                            <option value="01" selected>Jan</option>
                            <option value="02" selected>Feb</option>
                            <option value="03" selected>Mar</option>
                            <option value="04" selected>Apr</option>
                            <option value="05" selected>May</option>
                            <option value="06" selected>Jun</option>
                            <option value="07" selected>Jul</option>
                            <option value="08" selected>Aug</option>
                            <option value="09" selected>Sep</option>
                            <option value="10" selected>Oct</option>
                            <option value="11" selected>Nov</option>
                            <option value="12" selected>Dec</option>
                        </select>
                    </span>
                </div>
                <div class="col-sm-2 salepurchase_hnonpicbox">
                    <label class="text_detlabel">Territory</label>
                    <span class="custom-dropdown custom-dropdown--white">
                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                ng-model="ReportFilter.TerritoryId"
                                ng-options="option.TerritoryId as option.Name for option in LookupFETerritory">
                            <option value="" selected>All</option>                            
                        </select>
                    </span>
                </div>
                <div class="col-sm-2 salepurchase_hnonpicbox">
                    <label class="text_detlabel">Zip/Postal</label>
                    <span class="custom-dropdown custom-dropdown--white">
                        <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                    ng-model="ReportFilter.Zip"
                    ng-options="option.ZipCode as option.ZipCode for option in LookupFEZip">
                <option value="" selected>All</option>
            </select>-->
                        <select id="ZipCodeList"
                                name="ZipCodeList"
                                kendo-drop-down-list
                                k-options="ZipCodeList"
                                k-ng-model="ReportFilter.Zip"
                                class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                    </span>
                </div>
                <div class="col-sm-1 no-padding mt-4">
                    <input type="button" class="cancel_but" style="padding:1px 5px !important; font-size:12px !important;" ng-click="LoadUseTaxReport()" value="Load Data" />
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
        <div class="table-responsive" ng-if="Permission.Repots">
            <!--<kendo-tooltip options="kendotooltipOptions">-->
            <kendo-grid id="gridUseTax" class="ipadspace_grid" options="UseTax_options" style="margin-bottom:40px !important;"></kendo-grid>
            <!--</kendo-tooltip>-->
        </div>       
    </div>
</div>
<script type="text/javascript">
		$('ul.menu.flex').flexMenu();
</script>
