﻿<style>
     /*.k-grid .k-button {
         margin: 0 .16em;
     }
    .k-grid-content {
       overflow-y: scroll !important;
     }
     .k-grid-footer-wrap, .k-grid-header-wrap {
         overflow: hidden !important;
     }
     .k-footer-template td {
         background-color: #cacaca !important;
     }
     .k-grid-header th.k-header:first-child {
         text-align: left;
     }
     .k-grid-header th.k-header {
         text-align: center;
     }*/
     .k-grid .k-button {
         margin: 0 .16em;
     }
/*.k-grid-content {
        overflow-y: scroll !important;
    }*/
     .k-pager-wrap {
         width: 100%;
         bottom: 30px;
         position: fixed;
         overflow: hidden !important;
     }

     .k-footer-template td {
         background-color: #cacaca !important;
         text-align: right !important;
         padding-right: 10px !important;
     }

     html,
     body {
         margin: 0;
         padding: 0;
         border-width: 0;
         height: 100%; /* DO NOT USE !important for setting the Grid height! */
         overflow: hidden;
     }

     .k-grid-content {
         position: relative;
         width: 100%;
         overflow: auto !important;
         overflow-x: auto !important;
         overflow-y: scroll !important;
         zoom: 1;
         min-height: 0;
     }

     .k-grid-header, .k-grid-footer {
         padding-right: 17px !important;
     }

     .k-grid-header {
         background: #e2e2e2;
     }

     .k-grid-footer {
         background: #cacaca;
     }
     /*.k-grid  .k-grid-header  .k-header  .k-link {
         height: auto !important;
     }*/
     .k-grid-header th.k-state-border-down {
         /*padding:500px !important;*/
     }

     .k-i-loading {
         display: none;
     }

     #SalePersonList-list .k-list-scroller, #VendorList-list .k-list-scroller {
         max-height: 131px !important;
     }

    .salepurchase_grid {
        max-width: 20% !important;
    }

    #ProductCategoryList-list .k-list-scroller {
        max-height: 130px !important;
    }
</style>

<div class="outter-wp" ng-controller="ReportsController">
    <div class="lead_stab" style="top:80px; height:48px;">
        <reportheader-Component></reportheader-Component>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button type="button" class="hfc_bgbut tooltip-bottom" data-tooltip="Download Report" ng-click="DownloadVendorSalesPerformanceReport_Excel()"><i class="far fa-cloud-download"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error" ng-if="!Permission.Repots">
            You don't have permission to this page.
        </div>
        <div class="state_field" id="MenuDiv" style="padding:20px 10px;" ng-if="Permission.Repots">
            <h3 class="font-weight-bold mb-2">Vendor Performance</h3>
            <div class="row no-margin">
            <div class="col-sm-2 salepurchase_grid pl-0">
                <label class="text_detlabel">Year</label>
                <input type="number" min="1900" max="2099" class="form-control frm_controllead1"
                       ng-model="ReportFilter.Year"
                       name="Year" />
            </div>
            <div class="col-sm-2 no-padding salepurchase_grid">
                <label class="text_detlabel">Vendor Type</label>
                <span class="custom-dropdown custom-dropdown--white">
                    <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                            name="ReportFilterValue"
                            ng-model="ReportFilter.VendorID"
                            ng-options="option.VendorID as option.Name for option in Lookupvendor">
                        <option value="" selected>All</option>
                    </select>-->
                    <select id="VendorList"
                            name="VendorList"
                            kendo-drop-down-list
                            k-options="VendorList"
                            k-ng-model="ReportFilter.VendorID"
                            class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                </span>
            </div>
            <div class="col-sm-2 salepurchase_grid vsalesleft_margin">
                <label class="text_detlabel">Sales person</label>
                <span class="custom-dropdown custom-dropdown--white">
                    <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                            ng-model="ReportFilter.PersonID"
                            ng-options="option.PersonId as option.PersonName for option in LookupGetFESalesPerson">
                        <option value="" selected>All</option>
                    </select>-->
                    <select id="SalePersonList"
                            name="SalePersonList"
                            kendo-drop-down-list
                            k-options="SalePersonList"
                            k-ng-model="ReportFilter.PersonID"
                            class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                </span>
            </div>
            <div class="col-sm-2 salepurchase_grid vsalesleft_margin">
                <label class="text_detlabel">Product Category</label>
                <span class="custom-dropdown custom-dropdown--white">
                    <select id="ProductCategoryList"
                            name="ProductCategoryList"
                            kendo-drop-down-list
                            k-options="ProductCategoryList"
                            k-ng-model="ReportFilter.ProductCategory"
                            class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                </span>
            </div>
            <div class="col-sm-1 no-padding" style="margin-top: 25px;">
                <input type="button" class="cancel_but" style="padding:1px 5px !important; font-size:12px !important;" ng-click="LoadVendorSalesPerformanceReport()" value="Load Data" />
            </div>
            </div>
        </div>
        <div class="table-responsive">
            <!--<kendo-tooltip options="kendotooltipOptions" id="products">-->
            <kendo-grid id="gridVendorSalesPerformance" options="VendorSalesPerformanceReport_options" style="margin-bottom:40px !important;"></kendo-grid>
            <!--</kendo-tooltip>-->
        </div>
    </div>
</div>
<script type="text/javascript">
    $('ul.menu.flex').flexMenu();
</script>
<!--<script type="text/javascript">
   $('#mainNavbar').flexMenu();
</script>-->
