﻿<style>
    .k-widget.k-tooltip-validation {
        display: none !important;
    }
</style>

<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
           <!--need icon-->
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error error_msg" style="margin-top:30px;" ng-show="!(Permission.DisplayMyCRMData)">
            You don't have permission to this page.
        </div>
        <div ng-if="Permission.DisplayMyCRMData">
            <div class="row no-margin p-2">
                <div class="col-xs-6 col-sm-6">
                        <label class="ldet_label" ng-if="MappingStatus == false">Please review your source and select a Touchpoint source that best matches</label>
                        <label class="ldet_label">If you feel that a new source should be added to the Touchpoint source please contact Tech Support</label>

                  
                </div>
            </div>

            <div class="table-responsive">
                <!--<kendo grid code-->
                <div ng-if="MappingStatus == false">
                    <kendo-tooltip options="tooltipOptions">
                        <kendo-grid id="gridmyCrmSourceMapping" options="CrmSourceMapping" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                    </kendo-tooltip>
                </div>
                <div ng-if="MappingStatus == true">
                    <kendo-tooltip options="tooltipOptions">
                        <kendo-grid id="gridmyCrmSourceMappingView" options="CrmSourceMappingView" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                    </kendo-tooltip>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Code for Save button-->
<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="tp-measurementsearch">
        <div class="row no-margin">
           
            <div class="col-xs-6 col-sm-6 newrow_search" ng-if="Permission.AddMyCRMData && Permission.EditMyCRMData">
                <input type="button" class="k-button btn cancel_but tpm_but" id="btnAddrow" ng-disabled="!ShowAcceptButton" ng-click="SaveData()" value="Save Lead Source Mapping" />
                
            </div>
            <div class="col-xs-2 col-sm-2 measurement_search no-padding" style="left:110px;" ng-if="Permission.AddMyCRMData && Permission.EditMyCRMData">
                <input type="button" class="k-button btn cancel_but tpm_but" id="btnAddrow" ng-disabled="ShowAcceptButton" ng-click="SaveCompleteData()" value="I Confirm that I understand" />
            </div>
            </div>
      
    </div>
   
</script>
<!--Code for searchbox in view page-->
<script id="headToolbarTemplateView" type="text/x-kendo-template">
    <div class="tp-measurementsearch">
        <div class="row no-margin">
            <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <input type="search" ng-keyup="SourcegridSearch()" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
            </div>
            <div class="col-xs-2 col-sm-2 measurement_search no-padding">
                <input type="button" id="btnReset" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
            </div>

        </div>
       
    </div>

</script>
