﻿<!--TODO this should be define in Layout page-->
<style>
    .k-list-container.k-reset {
       height: auto !important;
       padding: 5px !important;
    }
	.photo-file-name {
        margin-right: 5px;
        width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<div class="outter-wp" ng-controller="MeasurementController">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="/#!/leadsSearch/">Leads</a></li>
                        <li class="active" ng-show="measurementAccountId != null"><a href="/#!/accountSearch/">Accounts</a></li>
                        <li ng-show="measurementAccountId != null"><a href="/#!/opportunitySearch/">Opportunities</a></li>
                        <li ng-hide="measurementAccountId != null"><a href="/#!/accountSearch/">Accounts</a></li>
                        <li class="active" ng-hide="measurementAccountId != null"><a href="/#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="/#!/orderSearch/">Orders</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right my-navbar-right">
                        <li>
                            <button type="button" class="tooltip-bottom sw_icon"
                                    data-tooltip="New Note" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddNoteTP()"></button>
                        </li>
                        <li ng-show="OpportunityId != null">
                            <button type="button" class="tooltip-bottom pad_icon" data-tooltip="Add Appointment" ng-click="setAppointment('persongo', opportunity.data.Opportunity.AccountId)"></button>
                        </li>
                        <li ng-show="measurementAccountId != null">
                            <button type="button" class="tooltip-bottom pad_icon"
                                    data-tooltip="Add Appointment"
                                    ng-click="PersonService.AddAccountAppointment('persongo',this.Account.AccountId)">
                            </button>
                        </li>
                        <li>
                            <button type="button" class="tooltip-bottom note_icon" data-tooltip="New Attachment" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddAttachment()"></button>
                        </li>
                        <li><button type="button" class="tooltip-bottom post_icon" data-tooltip="Email"></button></li>
                  </ul>

                </div>
            </div>
        </nav>
    </section>-->
    <div class="lead_stab">
        <ul ng-show="OpportunityId != null" class="tabs1 landing_tab">
            <li rel="tab6"><a href="#!/OpportunityDetail/{{opportunity.data.Opportunity.OpportunityId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a></li>
            <li class="activelead1" rel="tab7" ng-show="brandid!=3"><h3><i class="measurement_icon"></i><br />Measurements</h3></li>
            <li rel="tab7">
                <a href="#!/quoteSearch/{{opportunity.data.Opportunity.OpportunityId}}">
                    <h3><i class="quotes_icon"></i><br />Quotes</h3>
                </a>
            </li>
            <li rel="tab7"><a href="#!/opportunityAppointments/{{opportunity.data.Opportunity.OpportunityId}}"><h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3></a></li>
        </ul>

        <ul ng-show="measurementAccountId != null" class="tabs1 landing_tab">
            <li rel="tab6"><a href="#!/Accounts/{{AccountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a></li>
            <li rel="tab7" class="activelead1" ng-show="brandid!=3">
                <a href="#!/measurementDetails/{{AccountId}}">
                    <h3><i class="measurement_icon"></i><br />Measurements</h3>
                </a>
            </li>
            <li rel="tab7"><a href="#!/accountopportunitySearch/{{AccountId}}"><h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3></a></li>
            <li rel="tab7"><a href="#!/accountordersSearch/{{AccountId}}"><h3><i class="order_icon"></i><br />Orders</h3></a></li>
            <li rel="tab7"><a href="#!/accountInvoiceSearch/{{AccountId}}"><h3><i class="invoice_icon"></i><br />Invoice</h3></a></li>
            <li rel="tab7"><a href="#!/accountPaymentSearch/{{AccountId}}"><h3><i class="payment_icon"></i><br />Payments</h3></a></li>
            <li rel="tab7"><a href="#!/accountAppointments/{{AccountId}}"><h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3></a></li>
        </ul>
        <div class="leaddetail_butns" ng-show="Permission.AddMeasurements || Permission.EditMeasurements">
            <button class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-click="cancelMeasurementEdit()"><i class="far fa-times-circle fa_icon"></i></button>
            <button class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="saveMeasurements()"><i class="far fa-check-circle fa_icon"></i></button>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tp_content">
        <div id="tab2" class="tab_content" ng-show="Permission.ListMeasurements">
            <!---inner tab--->
            <div class="p-3">
                <div class="leadgrid_box">
                    <div class="lead_rtop row">
                        <div ng-show="measurementAccountId !=null ||opportunity.data.Opportunity.OpportunityId != null">
                            <div class="measure-tdesc">

                                <div ng-show="measurementAccountId != null">
                                    <div class="state_field row ml-0 mr-0">
                                        <label class="col-sm-2  addres_label">Account ID </label>

                                        <div class="col-xs-6">
                                            <label style="font-weight: 100" class="col-sm-12 ">{{measurementAccountId}}</label>

                                        </div>

                                    </div>

                                    <div class="state_field row ml-0 mr-0">
                                        <label class="col-sm-2  addres_label">Account Name </label>

                                        <div class="col-xs-6">
                                            <label style="font-weight: 100" class="col-sm-12 ">{{accounts.Account.PrimCustomer.FullName}}</label>

                                        </div>

                                    </div>

                                    <div class="state_field row ml-0 mr-0">
                                        <label class="col-sm-2  addres_label">Installation Address </label>

                                        <div class="col-xs-6">
                                            <label style="font-weight: 100" class="col-sm-12 ">{{installationAccountAddress.Address1}} {{installationAccountAddress.Address2}} {{installationAccountAddress.City}} {{installationAccountAddress.State}} {{installationAccountAddress.ZipCode}}</label>

                                        </div>

                                    </div>


                                    <!--<p>Account ID : {{measurementAccountId}}</p>
                                    <p>Account Name : {{accounts.Account.PrimCustomer.FullName}}</p>
                                    <p>Installation Address : {{measurementInstallationId.Name}}</p>-->
  </div>
                                </div>
                                <div ng-show="measurementAccountId == null">

                                    <div class="state_field row ml-0 mr-0">
                                        <label class="col-sm-2  addres_label">Opportunity ID</label>

                                        <div class="col-xs-6">
                                            <label style="font-weight: 100" class="col-sm-12 ">{{opportunity.data.Opportunity.OpportunityId}}</label>

                                        </div>

                                    </div>
                                    <div class="state_field row ml-0 mr-0">
                                        <label class="col-sm-2  addres_label">Opportunity Name</label>

                                        <div class="col-xs-6">
                                            <label style="font-weight: 100" class="col-sm-12 ">{{opportunity.data.Opportunity.OpportunityName}}</label>

                                        </div>

                                    </div>
                                    <div class="state_field row ml-0 mr-0">
                                        <label class="col-sm-2  addres_label">Installation Address</label>

                                        <div class="col-xs-6">
                                            <label style="font-weight: 100" class="col-sm-12 ">{{opportunityAddress}}</label>

                                        </div>

                                    </div>

                                    <!--<p>Opportunity ID : {{opportunity.data.Opportunity.OpportunityId}}</p>
                                    <p>Opportunity Name : {{opportunity.data.Opportunity.OpportunityName}}</p>
                                    <p>Installation Address : {{opportunityAddress}}</p>-->
                                </div>

                                

                            </div>

                        </div>

                    </div>
                    <kendo-grid id="gridEditMeasurements" style="margin-bottom: 50px; margin-top: 25px" options="EditMeasurements"></kendo-grid>
                </div>

                <!--<div ng-show="measurementAccountId != null">
                <p>Account Name : {{accounts.Account.PrimCustomer.FullName}}</p>-->
                <!--   <p>Installation Address : {{installationAccountAddress.Address1}} {{installationAccountAddress.Address2}} {{installationAccountAddress.City}} {{installationAccountAddress.State}} {{installationAccountAddress.ZipCode}}</p>-->
                <!--</div>-->
                <!--<div>-->
                <!--</div>-->
            </div>

            <!---end inner tab-->
        </div>
    </div>


    <form name="Measurement_addint" role="form" novalidate ng-submit="SaveMeasurementTL()">
        <!-- Access error message div -->
        <div class="error" ng-if="!(Permission.AddMeasurements || Permission.EditMeasurements)">
            You don't have permission to this page.
        </div>

        <div class="modal fade" id="measurementmodal" data-keyboard="false" data-backdrop="static" ng-show="Permission.AddMeasurements || Permission.EditMeasurements">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 class="mx-auto modal-title">Measurement</h4>
                        <button type="button" class="close popup_close" ng-click="Cancel()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row state_field">
                            <input type="hidden" name="id" value="id" ng-model="MeasurementTL.id">
                        </div>
                        <div class="form-group row state_field">
                            <label class="col-sm-3 popup_label">System</label>
                            <div class="col-sm-9">
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select class="form-control frm_lead" ng-model="MeasurementTL.System" ng-change="onChangeSystem(opt.Key)" ng-options='opt.Key as (opt.Value) for opt in systemList'>
                                        <option ng-value='0'>select</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 valid_label">Description</label>
                            <div class="col-sm-9 edit_textarea">
                                <textarea name="MeasurementTL.SystemDescription" ng-model="MeasurementTL.SystemDescription" id="txtDeactivateMessage" placeholder="Description..." required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-touched"></textarea>
                            </div>
                        </div>
                        <div class="form-group row state_field">
                            <label class="col-sm-3 popup_label">Storage Type</label>
                            <div class="col-sm-9">
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select class="form-control frm_lead" ng-model="MeasurementTL.StorageType" ng-change="onChangeStorage(opt.Name)" ng-options='opt.Id as (opt.Name) for opt in storageTypeList'>
                                        <option ng-value="0">select</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 valid_label">Description</label>
                            <div class="col-sm-9 edit_textarea">
                                <textarea name="MeasurementTL.StorageDescription" ng-model="MeasurementTL.StorageDescription" id="txtDeactivateMessage" placeholder="Description..." required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-touched"></textarea>
                            </div>
                        </div>
                        <div class="form-group row" ng-show="measurementConfiguration.Width==true">
                            <label class="col-sm-3 valid_label">Width</label>
                            <div class="row col-sm-9 measure_edit">
                                <div class="col-6 measure-row">
                                    <input type="number" class="form-control measurent-txtbox" ng-model="MeasurementTL.Width" placeholder="" required="" maxlength="50">
                                </div>
                                <div class="col-6 measure-row state_field">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="MeasurementTL.FranctionalValueWidth" ng-change="" ng-options='opt.Key as (opt.Value) for opt in fractionalList'></select>

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-show="measurementConfiguration.Height==true">
                            <label class="col-sm-3 valid_label">Height</label>
                            <div class="row col-sm-9 measure_edit">
                                <div class="col-6 measure-row">
                                    <input type="number" class="form-control measurent-txtbox" placeholder="" ng-model="MeasurementTL.Height" required="" maxlength="50">
                                </div>
                                <div class="col-6 measure-row state_field">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="MeasurementTL.FranctionalValueHeight" ng-change="" ng-options='opt.Key as (opt.Value) for opt in fractionalList'></select>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" ng-show="measurementConfiguration.Depth==true">
                            <label class="col-sm-3 valid_label">Depth</label>
                            <div class="row col-sm-9 measure_edit">
                                <div class="col-6 measure-row">
                                    <input type="number" class="form-control measurent-txtbox" placeholder="" ng-model="MeasurementTL.Depth" required="" maxlength="50">
                                </div>
                                <div class="col-6 measure-row state_field">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="MeasurementTL.FranctionalValueDepth" ng-change="" ng-options='opt.Key as (opt.Value) for opt in fractionalList'></select>

                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row" ng-show="measurementConfiguration.Laptop==true || measurementConfiguration.Desktop==true ||measurementConfiguration.Quantity!=null ||measurementConfiguration.UseTP==true||measurementConfiguration.Store">
                            <label class="col-sm-3 valid_label">Custom Data</label>
                            <div class="row col-sm-9 measure_edit">
                                <div class="col-6 measure-row" ng-show="measurementConfiguration.Laptop==true">
                                    <input type="checkbox" ng-model="MeasurementTL.Laptop" name="Laptop" value="Laptop" class="ng-pristine ng-untouched ng-valid ng-empty"><label for="laptop">Laptop</label>
                                </div>
                                <div class="col-6 measure-row" ng-show="measurementConfiguration.Desktop==true">
                                    <input type="checkbox" ng-model="MeasurementTL.Desktop" class="ng-pristine ng-untouched ng-valid ng-empty"><label for="desktop">Desktop</label>
                                </div>
                                <div class="col-6 measure-row" ng-show="measurementConfiguration.UseTP==true">
                                    <input type="checkbox" ng-model="MeasurementTL.UseTP" class="ng-pristine ng-untouched ng-valid ng-empty"><label for="desktop">Use</label>
                                </div>
                                <div class="col-6 measure-row" ng-show="measurementConfiguration.Store==true">
                                    <input type="checkbox" ng-model="MeasurementTL.Store" class="ng-pristine ng-untouched ng-valid ng-empty"><label for="desktop">Store</label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 valid_label">Comments</label>
                            <div class="col-sm-9 edit_textarea">
                                <textarea name="MeasurementTL.Comments" ng-model="MeasurementTL.Comments" id="txtDeactivateMessage" placeholder="Comments..." required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-touched"></textarea>
                            </div>
                        </div>
                        <!--<End hello world>-->
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="reset" class="btn btn-cancel" ng-click="Cancel()">Cancel</button>
                            <button type="submit" class="btn btn-cancel">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script id="Measurmenttemplate" type="text/x-kendo-template">

            <input ng-keyup="MeasurementgridSearchEdit()" type="search" id="searchBox" placeholder="Search Opportunity Measurement" class="k-textbox form-control frm_controllead medit_txtbox" style="margin-left: 0px !important;">
            <input type="button" id="btnReset" ng-click="measurmentSearchClear()" class="k-button btn cancel_but tpm_but" value="Clear All Filters">
            <input type="button" class="k-button btn cancel_but tpm_but" id="btnReset" ng-click="AddMesurementRowWithSameRoom()" value="Add Measurement With Same Room" />


        </script>
        <!--<input type="button" class="k-button btn cancel_but tpm_but" id="btnReset" ng-click="AddRow()" onclick="create;" value="Add New Row" />-->
        <!--<a class="k-button k-button-icontext k-grid-add" href="#"><span class="k-icon k-add">XXXXXXXXXXXXXXXX></span></a>-->
        <!--<button type="reset" ng-show="Permission.AddOpportunity" class="tooltip-bottom cancel_tpbut" data-tooltip="New Opportunity" ng-disabled="IsBusy" ng-click="CreateNewOpportunity()"><i class="fa fa-plus-square-o" style="font-size:24px;"></i></button>-->

    </form>

    <!--<hfc-measurement-modal modal-id="measurementmodal"></hfc-measurement-modal>-->
    <hfc-fileprint-modal modal-id="fileprint" lead-id="{{MeasurementTL.id}}"></hfc-fileprint-modal>
    <hfc-note-modal></hfc-note-modal>
    <hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>

</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>
<script type="text/javascript">

    function customBoolEditor(container, options) {
        var guid = kendo.guid();
        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
        $('<label class="k-checkbox-label" for="' + guid + '">​</label>').appendTo(container);
    };

    function LocationDropDownEditor(container, options) {
        $('<input required style=" background-color: #edecec !important;" name="' + options.field + '"/>')
            .appendTo(container)
            .kendoComboBox({
                autoBind: true,
                placeholder: "Select",
                dataTextField: "Value",
                dataValueField: "Key",
                template: "#=Value #",
                change: function (e) {
                    if (this.value() && this.selectedIndex == -1) {
                        this._filterSource({
                            value: "",
                            field: this.options.dataTextField,
                            operator: "contains"
                        });
                        this.value("");
                    }
                },
                dataSource: {
                    transport: {
                        read: {
                            url: '/api/Lookup/0/GetRoomLocation',
                        }
                    },
                }

            });
    }
    function WindowLocationDropDownEditor(container, options) {
        $('<input style=" background-color: #edecec !important;" required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoComboBox({
                autoBind: true,
                placeholder: "Select",
                dataTextField: "Value",
                dataValueField: "Key",
                template: "#=Value #",
                change: function (e) {
                    if (this.value() && this.selectedIndex == -1) {
                        this._filterSource({
                            value: "",
                            field: this.options.dataTextField,
                            operator: "contains"
                        });
                        this.value("");
                    }
                },
                dataSource: {
                    transport: {
                        read: {
                            url: '/api/Lookup/0/GetWindowLocation',
                        }
                    },
                }

            });
    }
    function MountTypeDropDownEditor(container, options) {
        $('<input style=" background-color: #edecec !important;" required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoComboBox({
                autoBind: true,
                placeholder: "Select",
                dataTextField: "Value",
                dataValueField: "Key",
                template: "#=Value #",
                change: function (e) {
                    if (this.value() && this.selectedIndex == -1) {
                        this._filterSource({
                            value: "",
                            field: this.options.dataTextField,
                            operator: "contains"
                        });
                        this.value("");
                    }
                },
                dataSource: {
                    transport: {
                        read: {
                            url: '/api/Lookup/0/GetMountType',
                        }
                    },
                }

            });
    }

    function FractionDropDownEditor(container, options) {
        //
        $('<input style=" background-color: #edecec !important;" required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoComboBox({
                autoBind: true,
                dataTextField: "Value",
                dataValueField: "Key",
                template: "#=Value #",
                placeholder: "Select",
                change: function (e) {
                    if (this.value() && this.selectedIndex == -1) {
                        this._filterSource({
                            value: "",
                            field: this.options.dataTextField,
                            operator: "contains"
                        });
                        this.value("");
                    }
                },
                dataSource: {
                    transport: {
                        read: {
                            url: '/api/Lookup/0/GetFractionalInch',
                        }
                    },
                }

            });
    }
    function AreaCodesEditor(container, options) {
        $('<textarea style="width:95%;height:100%; " data-bind="value: ' + options.field + '"></textarea>').appendTo(container);
    };



</script>


<style type="text/css">
    .k-tooltip-validation {
        display: none !important;
    }
</style>








