﻿<div>
    <div class="modal fade" id="__squareFeetCalculator__" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body adres_popup">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <button class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-click="SquareFeetCalculator.CancelSquareFeetEdit()"><i class="far fa-times-circle fa_icon"></i></button>
                                <button class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="SquareFeetCalculator.SaveSquareFeetData()"><i class="far fa-check-circle fa_icon"></i></button>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form name="SquareFeet_Details_Form" ng-model="SquareFeetCalculator.SquareFeet_Details_Form" unsaved-warning-form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <kendo-grid id="gridSquareFeetAdd" class="noscroll-grid FixedCalculatorGridHeight" options="SquareFeetCalculator.EditSquareFeetAdd"></kendo-grid>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7"></div>
                                    <div class="col-lg-3 spanLabelTop">
                                        <span class="pull-right"> TOTAL ADDITIONS: </span>
                                    </div>
                                    <div class="col-lg-1 spanLabelTop">
                                        <span class="pull-right">{{SquareFeetCalculator.TotalAdditions}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <kendo-grid id="gridSquareFeetSub" class="noscroll-grid FixedCalculatorGridHeight" options="SquareFeetCalculator.EditSquareFeetSub"></kendo-grid>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7"></div>
                                    <div class="col-lg-3 spanLabelTop">
                                        <span class="pull-right"> TOTAL SUBTRACTIONS: </span>
                                    </div>
                                    <div class="col-lg-1 spanLabelTop">
                                        <span class="pull-right">{{SquareFeetCalculator.TotalSubtractions}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7"></div>
                                    <div class="col-lg-3 spanLabelTop">
                                        <span class="pull-right"> NET SURFACE AREA: </span>
                                    </div>
                                    <div class="col-lg-1 spanLabelTop">
                                        <span class="pull-right">{{SquareFeetCalculator.NetSurfaceArea}}</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <style>
        .spanLabelTop {
            padding-top: 8px;
        }

        .modal-dialog {
            width: 70%;
        }

        .modal-body {
            max-height: unset !important;
        }

            .modal-body.adres_popup {
                overflow-x: hidden;
            }

        #__squareFeetCalculator__ .required-error {
            color: unset !important;
        }

        .text-center {
            text-align: center !important;
        }

        .text-right {
            text-align: right !important;
        }

        #__squareFeetCalculator__ .k-grid td {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
</div>