﻿<!--<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <p>Marketing</p>
</body>
</html>-->
<!--TODO this should be define in Layout page-->
<!--TODO this should be define in Layout page-->
<style>
    /*input.ng-invalid {
       border-color: pink;
    }*/
    .error {
        color: red;
    }

    .errormob {
        margin-left: 179px;
    }

    .errortext {
        color: red !important;
    }

    .has-error .readiocheck {
        border-color: #a94442;
    }

    .has-error .radio {
        border-color: #a94442;
    }

    .required_lable {
        color: red;
    }
    .marketing_border {
    border: 1px solid #555;
    padding: 20px 0;
    margin-bottom: 30px;
}
</style>

<div class="outter-wp">
    <!--<div id="preloader">
        <img src="/images/preloader.gif" />
    </div>-->
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>

    <section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Franchises</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li class="active"><a href="#">Setup</a></li>
                        <li><a href="#">Royalties</a></li>
                        <li><a href="#">Operation Settings</a></li>
                        <li><a href="#">HFC Sales Info</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>

    <div class="tab_container">
        <h3 class="d_active tab_drawer_heading" rel="tab2">Tab 2</h3>
        <div id="tab2" class="tab_content">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li class="activelead1" rel="tab6"><h3><i class="fa fa-user-o fa_icon"></i><br />Franchise Info</h3></li>
                   
               
                
                    <li  rel="tab6"><h3><i class="far fa-users fa_icon"></i><br />Users</h3></li>

                
                    <li rel="tab6"><h3><i class="fa fa-user-o fa_icon far fa-check-circle fa_icon"></i><br />Roles And Persmissions</h3></li>

                </ul>
                <div class="leaddetail_butns">
                    <ul class="nofitications-dropdown">
                        <li class="dropdown note fran_adm">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="user_icon1"> </i></a>
                            <ul class="dropdown-menu adminuser_ddown header_dropdown">

                                  <li>Admin1</li>
                                  <li>Admin2</li>
                                  <li>Admin3</li>
                                  <li>Admin4</li>
                                
                            </ul>
                        </li>

                    </ul>
                  
                    <button type="button" class="tooltip-bottom 
                            cancel_tpbut"
                            data-tooltip="Edit" ng-click="">
                        <i class="far fa-pen vendor_icon"></i>
                    </button>
                    <button type="submit" class="tooltip-bottom cancel_tpbut" 
                             ng-disabled="IsBusy" data-tooltip="Save" ng-click="">
                        <i class="far fa-check-circle fa_icon"></i>
                    </button>
                    <button  type="reset" class="tooltip-bottom save_tpbut" 
                            data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="">
                    <i class="far fa-times-circle fa_icon"></i>
                    </button>
                    
                    
                </div>
                <div class="clearfix"> </div>
            </div>

            <form id="crm-lead-detail" name="formlead" ng-submit="SaveLead()">
                <div class="tab_container tp_content">
                    <h3 class="d_active tab_drawer_heading" rel="tab6">Tab 6</h3>
                   

                    <div id="tab6" class="tab_content1">
                        <div class="panel-body">
                            
                            <div class="leadgrid_box">
                                <h1>Basic Franchise Info</h1>
                                <div class="marketing_border">
                                    <div class="lead_rtop row">

                                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col_1">
                                            <div class="row leadterritory_group">
                                                <div class="col-sm-6 col-xs-6">
                                                    <label class="col-sm-5 col-xs-5 required_label">Account Code</label>
                                                    <div class="col-sm-6 col-xs-6 textbox-rmargin">
                                                        <input type="text" class="form-control frm_controllead1 required_field" name="accountCode"
                                                               ng-model="AccountCode" placeholder="Required"
                                                               maxlength="50" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-xs-6">
                                                    <label class="col-sm-6 col-xs-6 required_label">Start Date</label>
                                                    <div class="col-sm-6 col-xs-6 textbox-rmargin">
                                                        <input type="text" class="form-control frm_controllead1 required_field" name="accountCode"
                                                               ng-model="AccountCode" placeholder="Required"
                                                               maxlength="50" />
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="form-group row lt-rt_margin">
                                                <label class="col-sm-3 col-xs-3 required_label">Franchise Name</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <input type="text" name="franchiseName" ng-model=""
                                                           class="form-control frm_controllead1 required_field"
                                                           placeholder="Required" maxlength="50" />
                                                </div>
                                            </div>
                                            <div class="form-group row lt-rt_margin">
                                                <label class="col-sm-3 col-xs-3 required_label">Franchise DBA Name</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <input type="text" name="franchiseName" ng-model=""
                                                           class="form-control frm_controllead1 required_field"
                                                           placeholder="Required" maxlength="50" />
                                                </div>
                                            </div>
                                            <div class="form-group row lt-rt_margin" style="margin-bottom:12px !important;">
                                                <label class="col-sm-3 col-xs-3 required_label">Time Zone</label>
                                                <div class="col-sm-9 col-xs-9" style="padding:0 !important;">
                                                    <div class="col-sm-4 col-xs-4" style="width:32.3% !important;">
                                                        <input class="pno_textbox col-sm-12 col-xs-12"
                                                               type="text"
                                                               id="TimeZone"
                                                               name="TimeZone"
                                                               ng-model="TimeZone"
                                                               ng-required="false" />

                                                    </div>
                                                    <div class="col-sm-3 col-xs-3">
                                                        <label class="col-sm-3 col-xs-3 required_label">DMA</label>
                                                        <div class="col-sm-9 col-xs-9" style="padding-right:0 !important;">
                                                            <input type="text"
                                                                   ng-model="DMA"
                                                                   class="frm_controllead1"
                                                                   maxlength="50" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5 col-xs-5" style="width: 42.666667% !important; padding-right: 0 !important;">
                                                        <label class="col-sm-3 col-xs-3 required_label">Region</label>
                                                        <div class="col-sm-9 col-xs-9">
                                                            <input type="text"
                                                                   ng-model="Region"
                                                                   class="frm_controllead1"
                                                                   maxlength="50" />
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"> </div>

                                                </div>
                                            </div>

                                            <div class="source-group row state_field">
                                                <label class="col-sm-3 col-xs-3 required_label">Business Coach</label>
                                                <div class="col-sm-3 col-xs-3" style="width:24.2% !important;">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white">
                                                            <option ng-value="0">select</option>
                                                            <option ng-value="1">Coach1</option>
                                                            <option ng-value="2">Coach2</option>
                                                            <option ng-value="3">Coach3</option>
                                                            <option ng-value="4">Coach4</option>
                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="col-sm-6 col-xs-6"></div>
                                                </div>




                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col_1">
                                            <div>
                                                <input ng-model="role.Selected" type="checkbox" class="option-input checkbox " value="">
                                                Suspended

                                            </div>

                                        </div>
                                    </div>

                                </div>

                              

                            </div>
                            <div class="leadgrid_box">
                                <h1>Territory Information</h1>
                                <div class="marketing_border">
                                        <kendo-tooltip options="tooltipOptions">
                                            <kendo-grid id="gridFranchiseSetup" options="FranchiseSetup" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                                        </kendo-tooltip>
                                </div>
                            </div>
                            <div class="leadgrid_box">
                                <h1>Owner Information</h1>
                                <div class="marketing_border">
                                    <div class="lead_rtop row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                            <div class="form-group row lt-rt_margin">
                                                <label class="col-sm-3 col-xs-3 required_label">Owner ID</label>
                                                <div class="col-sm-5 col-xs-5">
                                                    <input type="text" class="form-control frm_controllead1 required_field" name="ownerId"
                                                           ng-model="" required placeholder="Required"
                                                           maxlength="50" />
                                                </div>
                                            </div>

                                            <div class="form-phone_group row lt-rt_margin">
                                                <label class="col-sm-3 col-xs-3 required_label">Email</label>
                                                <div class="col-sm-5 col-xs-5" >
                                                    <input type="email" name="user_email" style="width:225px" 
                                                           id="FranchiseEmail" ng-model=""
                                                           placeholder="" maxlength="256" />

                                                </div>
                                            </div>

                                            <div class="form-phone_group row lt-rt_margin">
                                                <label class="col-sm-3 col-xs-3 required_label">Primary Phone</label>
                                                <div class="col-sm-9 col-xs-9 row phone_field">
                                                    <div class="col-sm-7 col-xs-7" style="padding:0 !important;">
                                                        <input class="col-sm-7 col-xs-7 pno_textbox"
                                                               type="text"
                                                               style="width:225px" 
                                                               name="primaryPhone"
                                                               ng-model=""
                                                               ng-required="false"
                                                               ui-options="{clearOnBlur:false}"
                                                               ui-mask-placeholder
                                                               ui-mask-placeholder-char="_"
                                                               ui-mask="(999) 999-9999" />



                                                    </div>
                                                    <div class="col-sm-5 col-xs-5" style="padding:0 !important;"> </div>
                                                </div>
                                            </div>

                                            <ul kendo-panel-bar id="panelbar" style="width:64% !important;">
                                                <li id="leadlistPanel" style="border-bottom:1px solid #c1c1c1;">
                                                    <span style="font-weight:bold;">Owner Name(s)</span>
                                                    <div class="kendo_leadpanel">
                                                        <div>
                                                            <div>
                                                                <div class="table-responsive">
                                                                    <table class="table table-expand">
                                                                        <thead class="expand_lhead">
                                                                            <tr>

                                                                                <th>First Name</th>
                                                                                <th>Last Name</th>
                                                                                <th>
                                                                                    <button type="button" class="plus_but tooltip-bottom" title="New Additional Contact" >
                                                                                        <i class="fa fa-plus-square-o"></i>
                                                                                    </button>

                                                                                </th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>

                                                                                <td>James</td>
                                                                                <td>Jackson</td>
                                                                               
                                                                            </tr>
                                                                            <tr>

                                                                                <td>John</td>
                                                                                <td>Jackson</td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                               
                                            </ul>

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_2">
                                            <!-- address component -->
                                            <h4>Home Address</h4>
                                            <div class="form-group row lt-rt_margin">
                                                <hfc-addresstp address-model="Address" parent-form-submit-status="submitted"></hfc-addresstp>
                                            </div>
                                            <div class="form-group row state_field lt-rt_margin">
                                                <label class="col-sm-3 col-xs-3 required_label">Country</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="custom-dropdown__select custom-dropdown__select--white"
                                                                id="countryBox" ng-model="Address.CountryCode2Digits"
                                                                ngchange1="AdditionalAddressServiceTP.CountryChanged()"
                                                                ng-change="CountryChanged()"
                                                                ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                            <option value="">select</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="leadgrid_box">
                                <h1>Business Information</h1>
                                <div class="marketing_border">
                                    <div class="lead_rtop row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                            <div class="source-group row">
                                                <div class="col-sm-4 col-xs-4 required_label">
                                                    <input ng-model="role.Selected" type="checkbox" class="option-input checkbox " value="">
                                                    Same as Home Address
                                                </div>
                                                <div class="col-sm-8 col-xs-8"></div>
                                        </div>
                                                <div class="form-group row lt-rt_margin">
                                                    <label class="col-sm-3 col-xs-3 required_label">Admin Name</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <input type="text" class="form-control frm_controllead1 required_field" name="adminName"
                                                               ng-model="" required placeholder="Required"
                                                               maxlength="50" />
                                                    </div>
                                                </div>
                                                <div class="form-phone_group row lt-rt_margin">
                                                    <label class="col-sm-3 col-xs-3 required_label">Business Phone</label>
                                                    <div class="col-sm-9 col-xs-9 row phone_field">
                                                        <div class="col-sm-7 col-xs-7" style="padding:0 !important;">
                                                            <input class="col-sm-7 col-xs-7 pno_textbox"
                                                                   type="text"
                                                                   name="primaryPhone"
                                                                   ng-model=""
                                                                   ng-required="false"
                                                                   ui-options="{clearOnBlur:false}"
                                                                   ui-mask-placeholder
                                                                   ui-mask-placeholder-char="_"
                                                                   ui-mask="(999) 999-9999" />



                                                        </div>
                                                        <div class="col-sm-5 col-xs-5" style="padding:0 !important;"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-phone_group row lt-rt_margin">
                                                    <label class="col-sm-3 col-xs-3 required_label">Admin Email</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <input type="email" name="user_email"
                                                               id="FranchiseEmail" ng-model=""
                                                               placeholder="" maxlength="256" />

                                                    </div>
                                                </div>
                                                <div class="form-group row state_field lt-rt_margin">
                                                    <label class="col-sm-3 col-xs-3 required_label">Currency</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <span class="custom-dropdown custom-dropdown--white">
                                                            <select class="custom-dropdown__select custom-dropdown__select--white"
                                                                    id="currency" ng-model="">
                                                                <option value="">USD</option>
                                                                <option value="">CAD</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                </div>


                                            </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_2">
                                            <!-- address component -->
                                            <h4>Business Address</h4>
                                            <div class="form-group row lt-rt_margin">
                                                <hfc-addresstp address-model="Address" parent-form-submit-status="submitted"></hfc-addresstp>
                                            </div>
                                            <div class="form-group row state_field lt-rt_margin">
                                                <label class="col-sm-3 col-xs-3 required_label">Country</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="custom-dropdown__select custom-dropdown__select--white"
                                                                id="countryBox" ng-model="Address.CountryCode2Digits"
                                                                ngchange1="AdditionalAddressServiceTP.CountryChanged()"
                                                                ng-change="CountryChanged()"
                                                                ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                            <option value="">select</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>

                  


                </div>
            </form>
          
        </div>
    </div>
    <!-- Popup Secontion -->
    <!--Territory Pop Up-->
    <form id="territory" name="form_territory">
        <div class="modal fade" id="territoryId" data-keyboard="false"
             data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <button type="button"
                                class="close popup_close"
                                ng-click="Cancel()"
                                aria-hidden="true">
                            &times;
                        </button>

                        <h4 class="modal-title">Territory</h4>
                    </div>

                    <div class="modal-body">

                        <!-- Display this div, when the mode is not Disply(otherwise add or edit) -->

                        

                        <div class="form-group row lt-rt_margin">
                             
                            <label class="col-sm-3 col-xs-3 required_label">Territory Name</label>
                            <div class="col-sm-9 col-xs-9">
                                <input type="text"
                                       name="territoryName"
                                       ng-model=""
                                       maxlength="256"
                                       required
                                       class="frm_controllead1 required_field"
                                       placeholder="Required" />
                            </div>
                        </div>
                        <div class="form-group row lt-rt_margin">

                            <label class="col-sm-3 col-xs-3 required_label">Minion ID</label>
                            <div class="col-sm-9 col-xs-9">
                                <input type="text"
                                       name="minionId"
                                       ng-model=""
                                       maxlength="256"
                                       required
                                       class="frm_controllead1 required_field"
                                       placeholder="Required" />
                            </div>
                        </div>
                        <div class="form-group row lt-rt_margin">

                            <label class="col-sm-3 col-xs-3 required_label">Website URL</label>
                            <div class="col-sm-9 col-xs-9">
                                <input type="text"
                                       name="websiteUrl"
                                       ng-model=""
                                       maxlength="256"
                                       required
                                       class="frm_controllead1 required_field"
                                       placeholder="Required" />
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="button" ng-disabled="AdditionalAddressServiceTP.IsBusy"
                                    ng-click="Cancel()"
                                    class="btn btn-cancel">
                                Cancel
                            </button>
                            <button ng-click="SaveShippingLocation()" type="submit" class="btn btn-cancel">
                                Save
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </form>
    <!-- Activate Ship Address Pop Up -->

</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>
<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs li").removeClass("activelead");
        $(this).addClass("activelead");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("activelead");
        $("ul.tabs li[rel^='" + d_activeTab + "']").addClass("activelead");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content1").hide();
    $(".tab_content2").hide();
    $(".tab_content1:first").show();

    /* if in tab mode */
    $("ul.tabs1 li").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs1 li").removeClass("activelead1");
        $(this).addClass("activelead1");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs1 li").removeClass("activelead1");
        $("ul.tabs1 li[rel^='" + d_activeTab + "']").addClass("activelead1");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");

</script>


<!---- dropdown ---->
















