﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }
</style>
<div class="outter-wp">
    <div ng-if="!Permission.ListPurchase" class="tp_leadsearch row no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-10 col-lg-10 col-xs-10 no-padding">
            <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <input ng-keyup="MPOSearch()" type="search" id="searchBox" placeholder="Search Purchase Order" class="k-textbox leadsearch_tbox">
            </div>
            <div class="col-xs-2 col-sm-2 no-padding hfc_leadbut">
                <input type="button" id="btnReset" ng-click="MPOSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
            </div>
            <div class="col-xs-8 col-sm-8"></div>
        </div>
        <div class="col-sm-2 col-xs-2 col-lg-2 no-padding">
            <div class="leadsearch_icon">
                <button type="button" class="plus_but tooltip-bottom" data-tooltip="Download Purchase Order" ng-click="DownloadPuchaseOrder_Excel()">
                    <i class="far fa-cloud-download"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error error_msg"  style="margin-top:30px;" ng-if="!Permission.ListPurchase">
            You don't have permission to this page.
        </div>
        <div ng-show="Permission.ListPurchase">
            <div class="table-responsive" ng-controller="purchaseOrderController">
                <!--<kendo-tooltip options="kendotooltipOptions">-->
                    <kendo-grid id="gridOrderSearch" options="Purchase_options">
                    </kendo-grid>
                <!--</kendo-tooltip>-->
            </div>
        </div>
   </div>
    <!--added the code for option selction for the print out-->
    <div class="modal fade" id="PrintPopup" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Print Details</h4>
                    <button type="button" class="close popup_close" ng-click="PrintCancel()" aria-hidden="true">&times;</button>
                </div>
                <form name="Purchase_order" role="form" novalidate>
                    <div class="modal-body">
                        <!--<p>Hello New World</p>-->
                        <div class="check_tick"><label>&nbsp;<input name="Check1" class="option-input checkbox" type="checkbox" value1="1" />Master Purchase Order</label></div>
                        <div class="check_tick"><label>&nbsp;<input name="Check2" class="option-input checkbox" type="checkbox" value2="2" />Master Purchase Order and Vendor Purchase Order(s)</label></div>
                        <div>
                            <button type="submit" class="btn btn-primary cancel_but" ng-click="ApplyPrint()">Apply</button>
                            <button type="reset" class="btn btn-primary cancel_but" ng-click="PrintCancel()"> Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <!--added the code for printout page render-->
    <iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>
