﻿<div class="tab_container tp_content">
    <div style="position: absolute;top: 33px;left: 150px;font-size: 18px;">
        <h3>Vendor Purchase Order</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">

        <div class="form-group row ml-0 mr-0">
            <label class="col-sm-3 required_label">Master PO # </label>
            <div class="col-sm-9 textbox-lmargin">
                <label class="ldet_label">123456_JD</label>
            </div>
        </div>



        <div class="form-group row ml-0 mr-0">
            <label class="col-sm-3 required_label">Sales Order</label>
            <div class="col-sm-9 textbox-lmargin">
                <label class="ldet_label">123456789</label>
            </div>
        </div>

        <div class="clearfix"></div>
        <div style="margin-top:40px;">
            <div class="form-group row ml-0 mr-0">
                <label class="col-sm-3 required_label">Purchase Order</label>
                <div class="col-sm-9 textbox-lmargin">
                    <label class="ldet_label">123456_JD</label>
                </div>
            </div>

            <div class="form-group row ml-0 mr-0">
                <label class="col-sm-3 required_label">Vendor Name</label>
                <div class="col-sm-9 textbox-lmargin">
                    <label class="ldet_label">The Home Depot</label>
                </div>
            </div>

            <div class="form-group row ml-0 mr-0">
                <label class="col-sm-3 required_label">Submitted Date</label>
                <div class="col-sm-9 textbox-lmargin">
                    <label class="ldet_label">12/12/2017</label>
                </div>
            </div>

            <div class="form-group row ml-0 mr-0">
                <label class="col-sm-3 required_label">Shipped To</label>
                <div class="col-sm-9 textbox-lmargin">
                    <label class="ldet_label">123 Street,Alex Road,Chennai-82</label>
                </div>
            </div>
        </div>

    </div>

    <div style="position: absolute;top: 33px;right: 150px;font-size: 18px;">
        <img src="../../../Images/brand/BB/conceptlogo.png" />
    </div>




    <div class="information_grid">
        <div class="sub_expand">
            <div class="table-responsive">
                <table class="table table-expand">
                    <thead class="expand_lhead">
                        <tr>
                            <th>Line</th>
                            <th>Product</th>
                            <th>Description</th>
                            <th>QTY</th>
                            <th>Purchased/Picked</th>
                            <th>By</th>
                            <th>Date</th>
                            <th>PO Status</th>
                            <!--<th><button type="button" onclick="return false;" ng-click="AddProduct()" class="plus_but tooltip-bottom" data-tooltip="New Product" ng-disabled="IsBusy"><i class="fa fa-plus-square-o"></i></button></th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <!--ng-repeat="p in ProductDisplay"-->
                        <tr>

                            <td>1</td>
                            <td>Mounting Bracket</td>
                            <td>3/4" Large White</td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Open</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
