﻿<div class="tab_container tp_content">
    <div style="position: absolute;top: 33px;left: 150px;font-size: 18px;">
        <h3>Master Purchase Order</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">

        <div class="form-group row ml-0 mr-0">
            <label class="col-sm-3 required_label">Master PO # </label>
            <div class="col-sm-9 textbox-lmargin">
                <label class="ldet_label">123456_JD</label>
            </div>
        </div>



        <div class="form-group row ml-0 mr-0">
            <label class="col-sm-3 required_label">Created Date</label>
            <div class="col-sm-9 textbox-lmargin">
                <label class="ldet_label">11/01/2017</label>
            </div>
        </div>

        <div class="form-group row ml-0 mr-0">
            <label for="inputEmail3" class="col-sm-3 required_label">Submitted Date</label>
            <div class="col-sm-9 textbox-lmargin">
                <label class="ldet_label">11/04/2017</label>
            </div>
        </div>

        <div class="form-group row ml-0 mr-0">
            <label for="inputEmail3" class="col-sm-3 required_label">Status</label>
            <div class="col-sm-9 textbox-lmargin">
                <label class="ldet_label">Open</label>
            </div>
        </div>

    </div>

    <div style="position: absolute;top: 33px;right: 150px;font-size:18px;">
        <img src="../../../Images/brand/BB/conceptlogo.png" />
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">


        <div class="form-group row ml-0 mr-0">
            <label for="inputEmail3" class="col-sm-3 required_label">Account Name</label>
            <div class="col-sm-9 textbox-lmargin">
                <label class="ldet_label">Jane Deo</label>
            </div>
        </div>

        <div class="form-group row ml-0 mr-0">
            <label for="inputEmail3" class="col-sm-3 required_label">Opportunity</label>
            <div class="col-sm-9 textbox-lmargin">
                <label class="ldet_label">Jane Deo</label>
            </div>
        </div>

        <div class="form-group row ml-0 mr-0">
            <label for="inputEmail3" class="col-sm-3 required_label">Sales Order#</label>
            <div class="col-sm-9 textbox-lmargin">
                <label class="ldet_label">123456</label>
            </div>
        </div>


    </div>


    <div class="information_grid">
        <div class="sub_expand">
            <div class="table-responsive">
                <table class="table table-expand">
                    <thead class="expand_lhead">
                        <tr>
                            <th>PO</th>
                            <th>Vendor</th>
                            <th>Total QTY</th>
                            <th>Est.Ship Date</th>
                            <th>PO Status</th>
                            <th></th>
                            <!--<th><button type="button" onclick="return false;" ng-click="AddProduct()" class="plus_but tooltip-bottom" data-tooltip="New Product" ng-disabled="IsBusy"><i class="fa fa-plus-square-o"></i></button></th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <!--ng-repeat="p in ProductDisplay"-->
                        <tr>

                            <td> abc 123</td>
                            <td>Spring</td>
                            <td>4</td>
                            <td>12/18/2017</td>
                            <td>ACK</td>

                        </tr>
                        <tr>

                            <td> abc 456</td>
                            <td>Spring</td>
                            <td>4</td>
                            <td>12/18/2017</td>
                            <td>ACK</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
