﻿<style>
span.k-icon.k-panelbar-expand.k-i-arrow-60-down, span.k-icon.k-i-arrow-60-up.k-panelbar-collapse {
    display: none;
}
.k-footer-template td {
        background-color: #cacaca !important;
    }
    /*.k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
       html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%;
        overflow: hidden;
    }*/
     .k-grid-content{
       position: relative;
      width: 100%;
      overflow: auto !important;
      overflow-x: auto !important;
      overflow-y: scroll !important;
      zoom: 1;
      min-height: 0;
    }
   .k-grid-header, .k-grid-footer {
     padding-right:17px !important;
    }
    .k-grid-header {
        background:#e2e2e2;
    }
    .k-grid-footer {
        background:#cacaca;
    }
 /*.k-grid-content.k-auto-scrollable {
     height: 100% !important;
}*/
</style>
<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>


    <div class="lead_stab">
        <ul class="menu flex tabs1 reports_hfcbtmnav">
            <li class="activelead1 po-tab" rel="tab7">
                <a href="#!/xPurchaseMasterView/{{masterPO}}">
                    <h3>xVendor Purchase Orders</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li>
                    <button ng-disabled="IsBusy" ng-show="Permission.SubmitOrder && BrandId == 1 && xMPO.POStatusId != 8 && (!xMPO.SubmittedTOPIC || xMPO.POStatusId == 10) " type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Submit Purchase Order" ng-click="SubmitPurchaseOrder()">
                        <i class="fa fa-rocket"></i>
                    </button>
                </li>
                <li>
                    <button ng-show="MPOCancelled && FranciseLevelCase" ng-click="gotoAddCaseEditWithMPO()" data-tooltip="Create Case" class="tooltip-bottom hfc_bgbut">
                        <i class="far fa-radiation-alt"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="tab_container tp_content">
        <div class="p-3">
            <form id="crm-lead-detail">

                <div class="row ml-0 mr-0" id="MenuDiv">
                    <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                        <div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">Created Date</label>
                            <div class="col-sm-9 col-9">
                                <label class="ldet_label ng-binding">{{xMPO.CreateDate|  date:'M/d/yyyy'}} </label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">Submitted </label>
                            <div class="col-sm-9 col-9">

                                <label class="ldet_label ng-binding">{{xMPO.SubmittedDate|  date:'M/d/yyyy'}} </label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">xMPO</label>
                            <div class="col-sm-9 col-9">
                                <label class="ldet_label">X - {{xMPO.MasterPONumber}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">VPO</label>
                            <div ng-show="xMPO.VPONumber > 0" class="col-sm-9 col-9">
                                <label class="ldet_label">{{xMPO.VPONumber}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">Status</label>
                            <div class="col-sm-9 col-9">
                                <label class="ldet_label">{{xMPO.Status}}</label>
                            </div>
                        </div>
                        <!--<div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">Vendor Promo</label>
                            <div class="col-sm-9 col-9">
                                <label class="ldet_label">{{xMPO.VendorPromoText}}</label>
                            </div>
                        </div>-->

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_2">
                        <div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">Ship To Account</label>
                            <div class="col-sm-9 col-9">
                                <label class="ldet_label">{{FranchiseName}}</label>
                            </div>
                        </div>
                        <!--<div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">Ship Via</label>
                            <div class="col-sm-9 col-9">
                                <label class="ldet_label ng-binding">{{xMPO.ShipVia}}</label>
                            </div>
                        </div>-->
                        <div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">Ship To</label>
                            <div class="col-sm-9 col-9">
                                <!--<label class="ldet_label ng-binding">{{xMPO.Address}}</label>-->
                                <div ng-if="Permission.SubmitOrder == false">
                                    <span ng-if="xMPO.Address!=null && xMPO.Address!='' ">{{xMPO.Address}}</span>
                                    <div ng-if="xMPO.Address!=null && xMPO.Address!='' ">
                                        <label ng-if="xMPO.IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="text-align:center;vertical-align: middle;"><i class="fa fa-exclamation-triangle"></i></label>
                                        <label ng-if="xMPO.IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="text-align:center;vertical-align: middle;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                                    </div>
                                    <span ng-if="xMPO.Address==null || xMPO.Address=='' ">Select</span>
                                </div>
                                <div ng-if="Permission.SubmitOrder != false">
                                    <a href="javascript:void(0)" class="hquote_hover" ng-click="MultipleShippingAddress()">
                                        <span ng-if="xMPO.Address==null || xMPO.Address=='' ">Select</span>
                                    </a>
                                    <a href="javascript:void(0)" class="hquote_hover" ng-click="MultipleShippingAddress()">
                                        <span ng-if="xMPO.Address!=null && xMPO.Address!='' ">{{xMPO.Address}}</span>
                                        <label ng-if="xMPO.IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="text-align:center; vertical-align: middle;"><i class="fa fa-exclamation-triangle"></i></label>
                                        <label ng-if="xMPO.IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="text-align:center; vertical-align: middle;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">Total Quantity</label>
                            <div class="col-sm-9 col-9 ">
                                <label class="ldet_label ng-binding">{{xMPO.TotalQuantity}} </label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-3 text_detlabel">Total Cost</label>
                            <div class="col-sm-9 col-9">
                                <label class="ldet_label ng-binding">{{xMPO.TotalCost | currency:"$"}} </label>
                                <!--<label class="ldet_label"><a class="hquote_hover" href="#!/Accounts/{{MPO.AccountId}}">{{MPO.AccountName}}</a></label>-->
                            </div>
                        </div>
                        <div class="source-group row" ng-show="xMPO.Status != 'Cancelled'">
                            <label class="col-sm-3 col-3 text_detlabel">Cancel Reason</label>
                            <div class="col-sm-9 col-9">
                                <span class="custom-dropdown custom-dropdown--white" style="width:50% !important;">
                                    <select class="frm_controllead1 custom-dropdown__select custom-dropdown__select--white"
                                            ng-model="xMPO.CancelReasonText"
                                            name="cancel_Reason"
                                            ng-change="cancelReasonTapped()"
                                            ng-class="{true: 'errorTP'}[formlead.cancel_Reason.$invalid]"
                                            ng-options='opt.Name as (opt.Name) for opt in CancelReasonList'>
                                        <option value="" disabled selected>select</option>
                                    </select>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="leadgrid_box">
                    <ul kendo-panel-bar id="panelul">
                        <!--id="panelbar"-->
                        <!--CORE VPO GRIDS-->
                        <li id="panelli">
                            <span style="font-weight: bold; width: 100%;">

                                <p style="float: right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin: 4px 0 0px 0; text-align: center; border-radius: 3px;">
                                    {{xMPO.LineItems.length}}
                                </p>
                                <p style="float: right; line-height: 20px; margin: 4px 22% 0px 0; text-align: center; ">
                                    Purchase Order # &nbsp; {{xMPO.PurchaseOrderNumber}}
                                </p>
                                <p style="float: left; line-height: 20px; margin: 4px 3% 0px 0; text-align: center; ">
                                    {{ xMPO.VendorName }}
                                </p>
                            </span>

                            <div class="my-3">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="text_detlabel">Vendor Order #:</label>
                                        <!--<a style="font-weight: 100;font-size: 12px;" class="hquote_hover ng-binding" href="">vo</a>-->
                                        <label class="ldet_label ng-binding">{{xMPO.VendorOrderNumber}}</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="text_detlabel">Invoice:</label>
                                        <a style="font-weight: 100;font-size: 12px;" class="hquote_hover ng-binding" href="">{{InvoiceNumber}}</a>
                                   </div>
                                    <div class="col-sm-3">
                                        <label class="text_detlabel">Shipment:</label>
                                        <a style="font-weight: 100;font-size: 12px;" class="hquote_hover ng-binding" href="">{{ShipmentNumber}}</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="text-right mr-1">
                                            <!--<input type="button"  style="float: right;" class="k-button btn btn-primary cancel_but" ng-click="ViewProcurementDetails()" value="change to icon" />-->
                                            <button class="tooltip-bottom hfc_bgbut" ng-click="ViewProcurementDetails()" data-tooltip="Sales Order View"> <i class="far fa-list-alt"></i>  </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                   <kendo-grid id="xVPOList" options="xVendorPurchaseGridOptions"></kendo-grid>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Note to Vendor-->
<div class="modal fade" id="notetoVendormodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Notes to Vendor</h4>
                <button type="button" class="close popup_close" ng-click="CancelNotetoVendor('notetoVendormodal')">&times;</button>
           </div>
            <div class="text-center"><b>Warning:<br />This note will be sent to the vendor. Please include instructions or comments here.</b></div>
            <form name="Measurement_addint" role="form" ng-submit="SavenoteToVendor(vpoDetails)">
                <div class="modal-body quote_popup">
                    <div class="form-group row">
                        <div class="col-12 ldetailtext_field">
                            <textarea ng-disabled="xMPO.SubmittedTOPIC" style="width: 100%" rows="4" cols="50" ng-model="tempNotesVendor"></textarea>
                        </div>
                    </div>
                    <p class="text-danger">Warning:<br/> Adding a request or additional options in this note may incur costs that are NOT reflected in Touchpoint</p>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" ng-show="!xMPO.SubmittedTOPIC" class="btn btn-cancel" ng-click="CancelNotetoVendor('notetoVendormodal')">Cancel</button>
                        <button type="submit" ng-show="!xMPO.SubmittedTOPIC" class="btn btn-cancel">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Error-->
<div class="modal fade" id="Errormodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">VPO Item Error</h4>
                <button type="button" class="close popup_close" ng-click="CancelError('Errormodal')">&times;</button>
            </div>
            <div class="errorTP text-center"><b>Warning:<br />There is an issue with order/item please review the error below.</b></div>
            <form name="Measurement_addint" role="form">
                <div class="modal-body quote_popup errorTP">
                    <div class="form-group row">
                        <div class="col-12 ldetailtext_field">
                            <!--<textarea ng-disabled="MPO.SubmittedTOPIC" style="width: 100%" rows="4" cols="50" ng-model="vpoDetails.NotesVendor"></textarea>-->
                        </div>
                        <div style="margin: 0% 6%;" ng-bind-html="vpoDetails.Errors">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="EditConfiguration()">Correct Product Configuration</button>
                        <button type="reset" class="btn btn-cancel" ng-click="CancelError('Errormodal')">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--drop ship-->
<div class="modal fade" id="MultipleShippingAddress" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Ship To Address</h4>
                <button type="button" class="close popup_close" ng-click="CancelDropPopup()" aria-hidden="true">&times;</button>
            </div>
            <form name="Purchase_order" role="form" novalidate ng-submit="UpdatAndConfirmAddress(xMPO,Address)">
                <div class="modal-body shipaddres_popup">
                    <div ng-show="xMPO.ShipToLocationList.length > 0">
                        <!--<p>Hello New World</p>-->
                        <div>
                            <div class="form-group row ">
                                <label class="col-sm-12 textAllignCenter">CONFIRM SHIP TO ADDRESS</label>
                            </div>
                            <div class="form-group row">
                                <label ng-if="xMPO.Address!=null" class="col-sm-12 textAllignCenter">{{xMPO.Address}}</label>
                            </div>
                        </div>
                        <div class="leadgrid_box">
                            <div id="promptsOuter" style="padding:20px; border:1px solid rgb(204, 204, 204);">
                                <!--k-rebind="PersonService.Calendar.selectAccountOptions"-->
                                <div class="form-group">
                                    <span ng-if="!xMPO.DropShip" class="custom-dropdown custom-dropdown--white">
                                        <select id="ddlShiptoLocation" class="custom-dropdown__select custom-dropdown__select--white frm_controllead1" ng-change="ShiplocationChange()"
                                                ng-model="xMPO.ShipToLocation" ng-options="item.Id as item.ShipToName for  item  in xMPO.ShipToLocationList ">
                                            <option value="" style="color: red !important">Please Select</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="textAllignCenter">
                                    <div class="radio-group">
                                        <label class="ldet_label">
                                            <input type="checkbox" ng-change="dropShipSelected()" ng-model="xMPO.DropShip" class="option-input radio radio_space" name="dropShip" value="true" title="Drop ship" />Drop Ship
                                        </label>
                                    </div>
                                </div>
                                <div id="drpshipdiv">
                                    <div class="form-group row">
                                        <div class="form-group row ml-0 mr-0">
                                            <!--<hfc-addresstp address-model="MPO.DropShipAddress" parent-form-submit-status="submitted"></hfc-addresstp>-->
                                            <hfc-addresstp id="drpshipAddress" disabled address-model="Address" parent-form-submit-status="submitted"></hfc-addresstp>
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-top: -15px;">
                                        <label class="col-sm-3 valid_label">Country</label>
                                        <div class="col-sm-9 col-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white" style="padding: 5px !important;"
                                                        id="countryBox" ng-model="Address.CountryCode2Digits"
                                                        ngchange1="AdditionalAddressServiceTP.CountryChanged()"
                                                        ng-change="CountryChanged()"
                                                        ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                    <option value="">select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="xMPO.ShipToLocationList.length<=  0" style="color:red;margin:10%">
                        <span>
                            No Ship To Addresses found. Please click <a href="#!/procurement">here</a> to add Ship To Addresses.
                        </span>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row no-margin" style="width: 100%">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8 no-padding">
                            <div class="row no-margin">
                                <div class="col-sm-9 col-9 no-padding" style="padding-right:5px !important; width:72%; text-align: right;">
                                    <input type="submit" id="btnReset" class="k-button btn btn-primary cancel_but" value="Update And Confirm">
                                </div>
                                <div class="col-sm-3 col-3 no-padding">
                                    <input type="button" id="btnReset" class="k-button btn btn-primary cancel_but" value="Cancel" ng-click="CancelDropPopup()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>