﻿@model HFC.CRM.Managers.AdvancedEmailManager.EmailTemplateLayoutModel
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css" />
    <title>Budget Blinds</title>
    <style>
        <!--
        h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 35px;
            color: #7e9aa6;
        }

        h2 {
            color: #747474;
            font-weight: bold;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }

        h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 20px;
            color: #747474;
        }

        h4 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            color: #747474;
        }

        h5 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            color: #6A737B;
        }

        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: #747474;
            margin:0px;
        }
        -->
    </style>
</head>
<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0" bgcolor="#ffffff">

    <table width="100%" cellspacing="5" cellpadding="0" border="0">
        <tr>
            <td align="left">

                <table width="600" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td width="598" height="2"><img style="display: block;" src="http://budgetblinds.com/consumeremail/images/spacer.gif" width="1" height="2" alt="" /></td>
                    </tr>
                    <tr>
                        <td height="60"><a href="http://www.budgetblinds.com/"><img src="http://www.budgetblinds.com/images/header-logo.jpg" alt="Brand" border="0" style="z-index: 9999;" /></a></td>
                    </tr>
                </table>
                <hr />  
                @Html.Raw(Model.Body)
            </td>
        </tr>
    </table>

</body>
</html>