﻿<!--TODO this should be define in Layout page-->
    <style>
        .error {
            color: red;
        }

        .errortext {
            color: red !important;
        }
       /*textarea{  
  display: block;
  box-sizing: padding-box;
  overflow: hidden;

  padding:5px;
  width: 250px;
  font-size: 12px;
  
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(black, .3);
  border: 0;
}*/
       /*textarea {
    box-sizing: border-box;
    resize: none;
}*/
.autoheight {
    /*font-size: 12px;
    margin: 0;
    line-height: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    resize:vertical;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    overflow-y: scroll;*/
    min-height: 38px;
    font-size: 12px;
    margin: 0;
    line-height: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    resize: auto;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    overflow-y: scroll;
}
textarea.autogrow{
    resize: vertical;
    width: 100%;
    min-height:20px !important;
}
    </style>

    <div class="outter-wp">
        <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
            <button type="button" class="close" data-dism   iss="alert">&times;</button>
            <span></span>
        </div>

        <!--<section class="my_sub_header_1">
            <nav class="navbar navbar-default my-navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse" data-target="#example-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav my-navbar-nav">
                            <li class="active"><a href="/#!/leadsSearch/">Leads</a></li>
                            <li><a href="/#!/accountSearch/">Accounts</a></li>
                            <li><a href="/#!/opportunitySearch/">Opportunities</a></li>
                            <li><a href="/#!/orderSearch/">Orders</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right my-navbar-right">
                           <li ng-if="HFCService.GetPermissionTP('Add Notes').CanAccess">
                                <button type="button" class="tooltip-bottom sw_icon"
                                        data-tooltip="New Note" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddNoteTP()"></button>
                            </li>
                            <li ng-if="Permission.AddEvent">

                                <a href="/#!/Calendar/{{HFCService.PathType}}/{{HFCService.PathId}}" type="button" class="tooltip-bottom pad_icon"
                                   data-tooltip="Add Appointment">
                                </a>
                            </li>
                            <li ng-if="Permission.AddEvent">
                                <button type="button" class="tooltip-bottom task_tpbut" data-tooltip="Add Task"
                                        ng-click="PersonService.AddLeadAppointment('persongo', this.Lead.LeadId,'task')">
                                    <i class="far fa-tasks task_icon"></i>
                                </button>
                            </li>
                            <li ng-if="HFCService.GetPermissionTP('Add Notes').CanAccess">
                                <button type="button" class="tooltip-bottom note_icon"
                                        data-tooltip="New Attachment" ng-disabled="IsBusy"
                                        ng-click="NoteServiceTP.AddAttachment()"></button>
                            </li>
                            <li>
                                <button type="button" class="tooltip-bottom task_tpbut"
                                        data-tooltip="Print" ng-disabled="IsBusy"
                                        ng-click="printSalesPacket('modal_print')">
                                    <i class="far fa-print task_icon"></i>
                                </button>
                            </li>
                            <li><button type="button" class="tooltip-bottom post_icon" data-tooltip="Email"></button></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>-->

        <div class="tab_container">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6">
                        <a href="#!/leads/{{LeadId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
                    </li>
                    <li rel="tab7" class="activelead1">
                        <a href="#!/leadsQualify/{{Lead.LeadId}}">
                            <h3><i class="far fa-clipboard-list fa_icon"></i><br />Qualify</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/leadAppointments/{{Lead.LeadId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/leadCommunicationLog/{{Lead.LeadId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <div ng-show="isDisabled==true">
                        <button ng-if="Permission.AddLead" type="button" class="plus_but tooltip-bottom"
                                data-tooltip="New Lead" ng-click="Newleadpage()">
                            <i class="far fa-plus-square fa-icon"></i>
                        </button>
                        <button ng-if="Permission.QualifyLeadEdit" type="button" class="plus_but middle_pbut tooltip-bottom" data-tooltip="Edit Qualify" ng-click="EditQualify()">
                            <i class="far fa-pen fa-icon"></i>
                        </button>

                        <button ng-if="Permission.ConvertLead && LeadStatusId != 31422" class="plus_but middle_pbut tooltip-bottom" type="button" data-tooltip="Convert Lead" ng-click="ConvertLead()">
                            <i class="fa fa-exchange"></i>
                        </button>
                        <button ng-if="Lead.EmailSent == false || Lead.EmailSent == null"
                                class="plus_but tooltip-bottom" type="button"
                                data-tooltip="Send Lead Acknowledgement Email" ng-click="SendLeadEmail()"
                                ng-disabled="IsBusy">
                            <i class="fal fa-envelope-open-text"></i>
                        </button>
                    </div>
                    <div ng-show="isDisabled==false">
                        <button type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="cancelQualify()"><i class="far fa-times-circle fa_icon"></i></button>
                        <!--<button type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="New Lead" ng-disabled="IsBusy" ng-click="Newleadpage()"><i class="fa fa-plus-square-o fa_icon"></i></button>-->
                        <button type="button" ng-disabled="IsBusy" class="tooltip-bottom cancel_tpbut" data-tooltip="Save" ng-click="(fQlfy.fngQ1.Qdt.$valid || fQlfy.fngQ1.Qdt.$viewValue == '' || fQlfy.fngQ1.Qdt.$viewValue == null) && (fQlfy.fngQ2.Qdt.$valid || fQlfy.fngQ2.Qdt.$viewValue == '' || fQlfy.fngQ2.Qdt.$viewValue == null) && SaveQualify(0)"><i class="far fa-check-circle fa_icon"></i></button>

                        <!--<button  class="plus_but tooltip-bottom" type="button" data-tooltip="Convert Lead" ng-click="ConvertLead()"><i class="fa fa-exchange"></i></button>-->
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <hfc-dialog></hfc-dialog>
            <form name="fQlfy" novalidate >
                <!-- Added for Qualification -->
                <div class="tab_container tp_content">
                    <div class="p-3">
                        <!--<div class="autoheight contenteditable" contenteditable="true">Mickey Mouse</div>-->
                        <!--<textarea data-autoresize rows="2"></textarea>-->
                        <!--<textarea class='autoExpand' rows='3' data-min-rows='3' placeholder='Auto-Expanding Textarea'></textarea>-->
                        <div class="container-fluid">
                           <div class="addres_link"><strong>Lead Name : </strong> <a href="#!/leads/{{LeadId}}" style="color: rgb(61,125,139);">{{LeadName}}</a></div>
                           <div style="margin-top:25px;margin-bottom: 15px; height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                              <span style="background-color:#f7f7f7; font-weight:bold; position: relative; top: -9px;">
                                  &nbsp;&nbsp;&nbsp;&nbsp;Project Needs:&nbsp;&nbsp;&nbsp;&nbsp;
                              </span>
                            </div>
                            <div class="sub_expandlead">
                                <div data-id="qanda" ng-repeat="QuestionSelect in UniqueQuestions">
                                    <h4><small ng-bind="QuestionSelect"></small></h4>
                                    <div class="row">
                                        <div class="col-xl-8 row no-margin no-padding">
                                            <div class="col-md-6 col-xl-4" ng-repeat="CurrentQuestion in GetQuestion(AllQuestions, QuestionSelect)">
                                                <div ng-if="CurrentQuestion.SelectionType == 'checkbox'">
                                                    <label class="qualify_label">
                                                        <input type="checkbox"
                                                               class="option-input checkbox qualify-chkbox"
                                                               ng-model="CurrentQuestion.Answer"
                                                               ng-checked="CurrentQuestion.Answer=='true'"
                                                               ng-true-value="'true'"
                                                               ng-disabled="isDisabled"
                                                               ng-false-value="'false'" />&nbsp;&nbsp;<label class="ldet_label">{{CurrentQuestion.SubQuestion}}</label>
                                                    </label>
                                                </div>
                                                <div ng-if="CurrentQuestion.SelectionType == 'textbox' && CurrentQuestion.SubQuestion != 'Specifics' && !(CurrentQuestion.SubQuestion == ' ' && CurrentQuestion.Question =='Which rooms?')">
                                                    <label class="qualify_label">
                                                        {{CurrentQuestion.SubQuestion}}
                                                        <input type="text" 
                                                               class="form-control qualify_text"
                                                               ng-model="CurrentQuestion.Answer"
                                                               ng-disabled="isDisabled" />
                                                    </label>
                                                </div>
                                                <div ng-if="CurrentQuestion.SelectionType == 'textbox' && CurrentQuestion.SubQuestion != 'Specifics' && (CurrentQuestion.SubQuestion == ' ' && CurrentQuestion.Question == 'Which rooms?')">
                                                    <label class="qualify_label">
                                                        {{CurrentQuestion.SubQuestion}}
                                                        <input type="text"
                                                               class="form-control qualify_text specifics_field"
                                                               ng-model="CurrentQuestion.Answer"
                                                               ng-disabled="isDisabled" />
                                                    </label>
                                                </div>
                                                <div ng-if="CurrentQuestion.SelectionType == 'textbox' && CurrentQuestion.SubQuestion == 'Specifics' ">
                                                    <label class="qualify_label">
                                                        {{CurrentQuestion.SubQuestion}}
                                                        <input type="text"
                                                               class="form-control qualify_text specifics_field"
                                                               ng-model="CurrentQuestion.Answer"
                                                               ng-disabled="isDisabled" />
                                                    </label>
                                                </div>

                                                <div ng-if="CurrentQuestion.SelectionType == 'textarea'">
                                                    <label class="qualify_label" style="width:100%;">
                                                        {{CurrentQuestion.SubQuestion}}
                                                        <textarea ng-model="CurrentQuestion.Answer" ng-disabled="isDisabled" class="autogrow" contenteditable="true" >defaultvalue</textarea>
                                                    </label>
                                                </div>

                                                <div ng-if="CurrentQuestion.SelectionType == 'option'">
                                                    <div ng-repeat="optquestion in CurrentQuestion.SubQuestion.split(';')">
                                                        <div>
                                                            <label class="qualify_label">
                                                                <input type="radio"
                                                                       class="option-input radio"
                                                                       ng-model="CurrentQuestion.Answer"
                                                                       name="rdo{{QuestionSelect.replace(' ','')}}"
                                                                       value="{{optquestion}}" ng-disabled="isDisabled" />&nbsp;&nbsp;{{optquestion}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div ng-if="CurrentQuestion.SelectionType == 'date'">

                                                    <ng-form name="fngQ{{$index}}">
                                                        <div class="form-group row ml-0 mr-0" ng-class="{true: 'has-error'}[fngQ{{$index}}.Qdt.$invalid]">
                                                            <label class="qualify_label">
                                                                {{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                                <!--<input type="date"
                                                        class="form-control qualify_text"
                                                        ng-model="CurrentQuestion.Answer"
                                                        ng-disabled="isDisabled"
                                                        format-Date="dd/mm/yyyy" />-->
                                                                <input kendo-date-picker
                                                                       k-format = "HFCService.StaticKendoDateFormat()"
                                                                       class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date" style="width:160px !important;"
                                                                       ng-required="true"
                                                                       id="LeadQulify{{$index}}"
                                                                       type="text" name="endDate"
                                                                       placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                                                                       ng-model="CurrentQuestion.Answer"
                                                                       ng-disabled="isDisabled"
                                                                       data-autoclose="true"
                                                                       ng-change="ValidateDate(CurrentQuestion.Answer,'LeadQulify{{$index}}')"
                                                                       required>

                                                            </label>
                                                        </div>
                                                    </ng-form>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4"></div>
                                    </div>
                                    <div ng-if="QuestionSelect=='Other Comments?'">
                                        <div>&nbsp;</div><div>&nbsp;</div>
                                        <div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                            <span style="background-color:#f7f7f7; font-weight:bold; cursor: pointer; position: relative; top: -9px;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;Project Needs:&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </div>
                                    </div>
                                   
                                    <div ng-if="QuestionSelect=='Would you have a WiFi connection available for us?' && BrandId==1">
                                        <div>&nbsp;</div>
                                        <div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                            <span style="background-color:#f7f7f7; font-weight:bold; cursor: pointer; position: relative; top: -9px;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;If Drapery:&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
                <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
            <!--Moved to cshtml-->
                <!--<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
                <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Lead.LeadId}}"></hfc-fileprint-modal>
                <hfc-note-modal></hfc-note-modal>
                <!-- End Qualification -->
        

</div>

        <!--<hfc-print-modal control="printControl" lead-id="leadIdPrint"
                         print-existing-measurements="false"></hfc-print-modal>-->


        <div class="modal fade" id="AfetrThanks_EmailSend" data-keyboard="false" data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 class="mx-auto modal-title">Email Acknowledgement</h4>
                        <button type="button" class="close popup_close" ng-click="EmailMailClose()" aria-hidden="true">&times;</button>
                    </div>
                    <form role="form">
                        <div class="modal-body">
                            <div class="text-center">
                                <label ng-if="!MailSent && !EmailNotify">Email address required to be able to send this email.</label>
                                <label ng-if="MailSent">Lead Acknowledgement email successfully sent to {{Mailid}}</label>
                                <label ng-if="EmailNotify">Email option is not enabled.</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="popup_butns">
                                <button type="submit" ng-click="EmailMailClose()" class="btn btn-cancel">Ok</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>


