﻿<!--TODO this should be define in Layout page-->


    <style>
        .error {
            color: red;
        }

        .errortext {
            color: red !important;
        }
    </style>

    <div class="outter-wp">
        <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span></span>
        </div>

        <section class="my_sub_header_1">
            <nav class="navbar navbar-default my-navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse" data-target="#example-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav my-navbar-nav">
                            <li class="active"><a href="#!/leadsSearch/">Leads</a></li>
                            <li><a href="#!/accountSearch/">Accounts</a></li>
                            <li><a href="#!/opportunitySearch/">Opportunities</a></li>
                            <li><a href="#!/orderSearch/">Orders</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right my-navbar-right">
                            <!--<li><button type="button" class="tooltip-bottom pad_icon" data-tooltip="Add Appointment" ng-click="PersonService.AddOrEditAppointment('persongo',this)"></button></li>-->
                            <li><button type="button" class="tooltip-bottom sw_icon" data-tooltip="New Note" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddNoteTP()"></button></li>
                            <li ng-if="HFCService.GetPermissionTP('Set Disposition').CanAccess">
                                <button type="button" class="tooltip-bottom pad_icon"
                                        data-tooltip="Add Appointment"
                                        ng-click="PersonService.AddLeadAppointment('persongo', this.Lead.LeadId,'event')"></button>
                            </li>
                            <li ng-if="HFCService.GetPermissionTP('Set Disposition').CanAccess">
                                <button type="button" class="tooltip-bottom task_tpbut"
                                        data-tooltip="Add Task"
                                        ng-click="PersonService.AddLeadAppointment('persongo', this.Lead.LeadId,'task')">
                                    <i class="far fa-tasks task_icon"></i>
                                </button>
                            </li>
                            <li><button type="button" class="tooltip-bottom note_icon" data-tooltip="New Attachment" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddAttachment()"></button></li>
                            <li><button type="button" class="tooltip-bottom post_icon" data-tooltip="Email"></button></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <div class="tab_container">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6">
                        <a href="#!/leads/{{LeadId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
                    </li>
                    <li rel="tab7" class="activelead1">
                        <a href="#!/leadsQualify/{{Lead.LeadId}}">
                            <h3><i class="fa fa-check-square fa_icon"></i><br />Qualify</h3>
                        </a>
                    </li>

                    <li rel="tab7">
                        <a href="#!/leadAppointments/{{Lead.LeadId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/leadCommunication/{{Lead.LeadId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <button type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="cancelQualify()"><i class="far fa-times-circle fa_icon"></i></button>
                    <button type="button" class="tooltip-bottom plus_but middle_pbut"
                            data-tooltip="New Lead" ng-click="Newleadpage()">
                        <i class="far fa-plus-square"></i>
                    </button>
                    <button type="button" ng-disabled="IsBusy" class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="(fQlfy.fngQ1.Qdt.$valid || fQlfy.fngQ1.Qdt.$viewValue == '' || fQlfy.fngQ1.Qdt.$viewValue == null) && (fQlfy.fngQ2.Qdt.$valid || fQlfy.fngQ2.Qdt.$viewValue == '' || fQlfy.fngQ2.Qdt.$viewValue == null) && SaveQualify()"><i class="far fa-check-circle fa_icon"></i></button>
                </div>
                <div class="clearfix"> </div>
            </div>
            <form name="fQlfy" novalidate>
                <!-- Added for Qualification -->
                <div class="tab_container tp_content">
                    <div class="p-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div>Lead Name: {{LeadName}}</div>
                                <div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                    <span style="background-color:#f7f7f7; font-weight:bold; cursor: pointer; position: relative; top: -9px;">
                                        <label ng-disabled="isDisabled">&nbsp;&nbsp;&nbsp;&nbsp;Project Needs:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    </span>
                                </div>
                            </div>
                            <div class="sub_expandlead">
                                <div class="row" data-id="qanda" ng-repeat="QuestionSelect in UniqueQuestions">
                                    <h4><small ng-bind="QuestionSelect"></small></h4>
                                    <div class="row">
                                        <div class="col-xl-8 leadquestion_details">
                                            <div class="col-xs-6 col-xl-3 lead_qualify" ng-repeat="CurrentQuestion in GetQuestion(AllQuestions, QuestionSelect)">
                                                <div ng-if="CurrentQuestion.SelectionType == 'checkbox'">
                                                    <label class="qualify_label">
                                                        <input type="checkbox"
                                                               class="option-input checkbox"
                                                               ng-model="CurrentQuestion.Answer"
                                                               ng-checked="CurrentQuestion.Answer=='true'"
                                                               ng-true-value="'true'"
                                                               ng-false-value="'false'" />&nbsp;&nbsp;{{CurrentQuestion.SubQuestion}}
                                                    </label>
                                                </div>
                                                <div ng-if="CurrentQuestion.SelectionType == 'textbox'">
                                                    <label class="qualify_label">
                                                        {{CurrentQuestion.SubQuestion}}
                                                        <input type="text"
                                                               class="form-control qualify_text"
                                                               ng-model="CurrentQuestion.Answer" />
                                                    </label>
                                                </div>
                                                <div ng-if="CurrentQuestion.SelectionType == 'option'">
                                                    <div ng-repeat="optquestion in CurrentQuestion.SubQuestion.split(';')">
                                                        <div>
                                                            <label class="qualify_label">
                                                                <input type="radio"
                                                                       class="option-input radio"
                                                                       ng-model="CurrentQuestion.Answer"
                                                                       name="rdo{{QuestionSelect.replace(' ','')}}"
                                                                       value="{{optquestion}}" />&nbsp;&nbsp;{{optquestion}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div ng-if="CurrentQuestion.SelectionType == 'date'">
                                                    <div ng-if="CurrentQuestion.PastDate == 'false'">
                                                        <ng-form name="fngQ{{$index}}">
                                                            <div class="form-group row ml-0 mr-0" ng-class="{true: 'has-error'}[fngQ{{$index}}.Qdt.$invalid]">
                                                                <label class="qualify_label">
                                                                    {{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                                    <input type="date"
                                                                           class="form-control qualify_text"
                                                                           ng-model="CurrentQuestion.Answer"
                                                                           format-Date
                                                                           name="Qdt"
                                                                           calendar
                                                                           cs-date-to-iso
                                                                           min="{{Qdt != undefined ? Qdt : minDate |GlobalTime:'shortDate'}}"
                                                                           max="{{Qdt != undefined ? Qdt : maxDate |GlobalTime:'shortDate'}}" />
                                                                </label>
                                                            </div>
                                                        </ng-form>
                                                    </div>
                                                    <div ng-if="CurrentQuestion.PastDate == 'true'">
                                                        <label class="qualify_label">
                                                            {{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                            <input type="text" class="form-control qualify_text" ng-model="CurrentQuestion.Answers" ng-disabled="true" />
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4"></div>
                                    </div>
                                    <div ng-if="QuestionSelect=='Other Comments?'">
                                        <div>&nbsp;</div><div>&nbsp;</div>
                                        <div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                            <span style="background-color:#f7f7f7; font-weight:bold; cursor: pointer; position: relative; top: -9px;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;Project Needs:&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </div>
                                    </div>
                                    <div ng-if="QuestionSelect=='Would you have a WiFi connection available for us?'">
                                        <div>&nbsp;</div><div>&nbsp;</div>
                                        <div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                            <span style="background-color:#f7f7f7; font-weight:bold; cursor: pointer; position: relative; top: -9px;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;If Drapery:&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Quick Disposition -->
                            <div class="col-lg-12" style="margin:20px 0;">
                                <div class="col-lg-6">
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row state_field" ng-if="HFCService.GetPermissionTP('Set Disposition').CanAccess">
                                        <label class="col-xs-3 txt_detlabel">Quick Disposition</label>
                                        <div class="col-xs-7 drop_field">
                                            <span class="custom-dropdown cust-drop custom-dropdown--white">
                                                <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="QuickDispositionList.Value" ng-options="source.name for source in QuickDispositionList">
                                                    <option value="">select</option>
                                                    <!--<option name="qas" value="999">Qualification Appointment Set</option>-->
                                                </select>
                                            </span>
                                        </div>
                                        <div class="col-xs-2 leads_error2">
                                            <button type="button" class="btn btn-primary go_but"
                                                    ng-disabled="IsBusy"
                                                    ng-click="PersonService.setDisposition('persongo',this.Lead.LeadId, QuickDispositionList.Value.Value)"
                                                    ng-init="PersonService.goPageIndex=5">
                                                Go
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- End of Quick Disposition -->
                        </div>
                    </div>

                </div>
            </form>

<!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>
<hfc-fileprint-modal modal-id="fileprint" lead-id="{{Lead.LeadId}}"></hfc-fileprint-modal>
<hfc-note-modal></hfc-note-modal>
<!-- End Qualification -->
            </div>
        </div>
   
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

