﻿<!DOCTYPE html>
<html>
<head>
    <title>Touchpanel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Touchpanel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/new_style.css" rel='stylesheet' type='text/css' />
</head>
<body>
    <div class="container-fluid">
        <div class="print-tbox">
            <header>
                <div class="col-sm-8 print-tboxleft">
                    <h1>Lead Sheet -yusufmy</h1>
                    <div class="print-row row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="col-sm-5 col-xs-5"><label>Designer : </label></div>
                            <div class="col-sm-7 col-xs-7">{{SalesAgentName}}</div>
                        </div>
                        <div class="col-sm-6 col-xs-6"></div>
                    </div>
                    <div class="print-row row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="col-sm-5 col-xs-5"><label>Booked by : </label></div>
                            <div class="col-sm-7 col-xs-7">{{BookedBy}} </div>
                        </div>
                        <div class="col-xs-6 col-sm-6"></div>
                    </div>
                    <div class="print-row row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="col-sm-5 col-xs-5"><label>Appt Date : </label></div>
                            <div class="col-sm-7 col-xs-7">{{ApptDate}}</div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="col-sm-5 col-xs-5"><label>Appt Time : </label></div>
                            <div class="col-sm-7 col-xs-7">{{ApptTime}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4 pull-right">
                    <img class="print-tboxright" src="images/budget_logo.jpg" alt="" />
                </div>
                <div class="clearfix"> </div>
            </header>

            <section>
                <div class="print-detailbox">
                    <div style="border: 1px solid #555;">
                        <!--<div style="margin-top: 15px;margin-bottom: 15px;height: 1px; background-color: gray; text-align: left">
                            <span style="background-color:#f7f7f7; color:#000; font-weight:bold; font-size:16px; position: relative; top: -10px;">
                                &nbsp;Qualification Questions&nbsp;
                            </span>
                        </div>-->
                        <div style="padding:15px;">
                            <p style="width:175px; margin-top:-26px; padding-left: 5px; background:#fff; color:#000;">Qualification Questions</p>

                            <div class="oportunity_cboxs row">
                                <div class="col-sm-2">
                                    <label>
                                        <input type="radio" class="option-input radio" name="optNewHome" {{BB_QQ_NewHome}}>
                                        New Home?
                                    </label>
                                </div>
                                <div class="col-sm-2" style="padding:0 !important;">
                                    <label>
                                        <input type="radio" class="option-input radio" name="optExistingHome" {{BB_QQ_ExistingHome}}>
                                        Existing Home?
                                    </label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="col-sm-6"><label class="date_label">If New Home, Estimated Closing Date?</label></div>
                                    <div class="col-sm-6 print_tbox"><input type="text" class="form-control" value="{{BB_QQ_EstimatedClosingDate}}"></div>
                                </div>
                            </div>

                            <div class="oportunity_cboxs row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8 print-row">
                                    <div class="col-sm-6"><label class="date_label">Or, Project Lead Time Preference</label></div>
                                    <div class="col-sm-6 print_tbox"><input type="text" class="form-control" value="{{BB_QQ_ProjectLeadTimePreference}}"></div>
                                </div>
                            </div>


                            <div class="budget_box">
                                <h2>How did you hear about Budget Blinds?</h2>
                                <div class="treatment_lalign">
                                    <div class="treat-grid row">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkValpak}}>
                                                    Referral
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkValpak}}>
                                                    Print
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkYellowPages}}>
                                                    Social Media
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkRSVP}}>
                                                    Website
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkVan}}>
                                                    Internet Search
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkInternet}}>
                                                    Home Show
                                                </label>
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="treat-grid row">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkSources1}}>
                                                    Yard Sign
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkSources2}}>
                                                    Vand
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkSources3}}>
                                                    Builder
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input" {{ChkFacebookPaid}}>
                                                    Billboard
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="oportunity_cboxs row">
                                <div class="col-sm-3"><label class="referal_ralign">Referral</label></div>
                                <div class="col-sm-5"><input type="text" class="form-control" value="{{BB_QQ_Referel}}"></div>
                                <div class="col-sm-4"></div>
                            </div>-->


                            <div class="row oportunity_cboxs">
                                <div class="col-sm-3"><label class="referal_ralign">Budget</label></div>
                                <div class="col-sm-5"><input type="text" class="form-control" value="{{BB_QQ_Budget}}"></div>
                                <div class="col-sm-4"></div>
                            </div>

                            <!--<div class="row oportunity_cboxs">
                                <div class="col-sm-3"><label class="date_label">Anyone else needed at Appt?</label></div>
                                <div class="col-sm-9"><input type="text" class="form-control" value="{{BB_QQ_AnyAppointment}}"></div>
                            </div>-->
                            <div class="row">
                                <div class="col-sm-3" style="margin-top: 5px;"><label class="specify_label">Received Other Quotes?</label></div>
                                <div class="col-sm-2 treat-grid_left">
                                    <ul class="oportunity_cboxs">
                                        <li>
                                            <label>
                                                <input type="radio" class="option-input radio" name="optReceiveOtherQuotesYes" {{BB_QQ_ReceivedOtherQuotesYes}}>
                                                Yes
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="radio" class="option-input radio" name="optReceiveOtherQuotesNo" {{BB_QQ_ReceivedOtherQuotesNo}}>
                                                No
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-7 print_tbox">
                                    <div class="col-sm-3"><label class="specify_label referal_field">Specifics</label></div>
                                    <div class="col-sm-9 print_tbox"><input type="text" class="form-control" value="{{BB_QQ_ReceivedOtherQuotesSpecific}}"></div>
                                </div>
                            </div>
                            <div class="row oportunity_cboxs">
                                <div class="col-sm-3"><label class="date_label">Other Comments?</label></div>
                                <div class="col-sm-9"><input type="text" class="form-control" value=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="print-detailbox" style="page-break-inside: avoid">
                    <div style="border: 1px solid #555;">
                        <!--<div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left">
                            <span style="background-color:#f7f7f7; color:#000; font-weight:bold; font-size:16px; position: relative; top: -10px;">
                                &nbsp;Project Needs&nbsp;
                            </span>
                        </div>-->
                        <div style="padding:15px;">
                            <p style="width:110px; margin-top:-26px; padding-left: 5px; background:#fff; color:#000;">Project Needs</p>
                            <div class="budget_box">
                                <div class="row oportunity_cboxs">
                                    <div class="col-sm-3"><label class="referal_ralign">How many windows?</label></div>
                                    <div class="col-sm-9"><input type="text" class="form-control" value="{{BB_PN_HowManyWindows}}"></div>
                                </div>
                                <div class="row oportunity_cboxs">
                                    <div class="col-sm-3"><label class="referal_ralign">Colors?</label></div>
                                    <div class="col-sm-9"><input type="text" class="form-control" value="{{BB_PN_Color}}"></div>
                                </div>
                                <!--<div class="print-row row">
                                    <div class="col-sm-4"><label>How many windows? &nbsp; &nbsp; &nbsp; &nbsp;{{BB_PN_HowManyWindows}}</label></div>
                                    <div class="col-sm-4"><label>Colors? &nbsp; &nbsp; &nbsp; &nbsp;{{BB_PN_Color}}</label></div>
                                    <div class="col-sm-4"></div>
                                </div>-->
                                <div class="row">
                                    <div class="col-sm-3 rooms_txt"><h3>Which rooms?</h3></div>
                                    <div class="col-sm-9">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkLiving}}>
                                                    Living
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkDining}}>
                                                    Dining
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkFamily}}>
                                                    Family
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkBed}}>
                                                    Bedrooms
                                                </label>
                                            </li>
                                        </ul>
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkKitchen}}>
                                                    Kitchen
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkBath}}>
                                                    Bathroom
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkOther}}>
                                                    Other
                                                </label>


                                            </li>
                                            <li>
                                                <label>
                                                    <input type="text" class="form-control" value="{{BB_PN_Room_OtherNote}}">
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="budget_box">
                                <h2>What type of treatment are you interested in?</h2>
                                <div class="treatment_lalign">
                                    <div class="treat-grid row">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkWood}}>
                                                    Wood
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkFauxWood}}>
                                                    Faux wood
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkCellular}}>
                                                    Cellular
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkShades}}>
                                                    Shades
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkRollarShades}}>
                                                    Rollar Shades
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkDraperies}}>
                                                    Draperies
                                                </label>
                                            </li>
                                        </ul>


                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkRomans}}>
                                                    Romans
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkVerticals}}>
                                                    Verticals
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkShutters}}>
                                                    Shutters
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkWovenWoods}}>
                                                    Woven Woods
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkSolarShades}}>
                                                    Solar Shades
                                                </label>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div style="margin:30px 0px;height:1px; background-color: gray; text-align:left; line-height: 16px;">
                                <span style="background-color:#fff; font-weight:bold; position:relative; top: -9px;">
                                    If Drapery&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </div>
                            <div class="treat-grid row">
                                <div class="col-sm-3 receive_head receive_aright"><label class="specify_label">Operational or Decorative?</label></div>
                                <div class="col-sm-9">
                                    <ul class="oportunity_cboxs">
                                        <li>
                                            <label>
                                                <input type="radio" class="option-input radio" name="Operational" {{OptOpetational}}>
                                                Operational
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="radio" class="option-input radio" name="Decorative" {{OptDecorative}}>
                                                Decorative
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row oportunity_cboxs">
                                <div class="col-sm-3 required_label"><label class="date_label">Fabric Preferences</label></div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="{{BB_PN_FrabricPreferences}}">
                                </div>
                            </div>
                            <div class="row oportunity_cboxs">
                                <div class="col-sm-3 required_label"><label class="date_label">Solids/Prints</label></div>
                                <div class="col-sm-9"><input type="text" class="form-control" value="{{BB_PN_SolidSOrPrints}}"></div>
                            </div>
                            <div class="row oportunity_cboxs">
                                <div class="col-sm-3 required_label"><label class="date_label">Preferred Style</label></div>
                                <div class="col-sm-9"><input type="text" class="form-control" value="{{BB_PN_PreferredStyle}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="print-detailbox">
                    <div style="margin-top: 15px;margin-bottom: 15px;height: 2px; background-color: gray; text-align: left">
                        <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -9px;">
                            &nbsp;Project Needs&nbsp;
                        </span>
                    </div>

                    <div class="budget_box">
                        <h2>How many windows?</h2>{{BB_PN_HowManyWindows}}
                        <div class="row">
                            <div class="col-sm-2 rooms_txt"><h3>Which Rooms?</h3></div>
                            <div class="col-sm-6">
                                <ul class="oportunity_cboxs">
                                    <li>
                                        <label>
                                            <input type="checkbox" class="option-input checkbox" {{ChkLiving}}>
                                            Living
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="option-input checkbox" {{ChkDining}}>
                                            Dining
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="option-input checkbox" {{ChkFamily}}>
                                            Family
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="option-input checkbox" {{ChkBed}}>
                                            Bedrooms
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="option-input checkbox" {{ChkKitchen}}>
                                            Kitchen
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="option-input checkbox" {{ChkBath}}>
                                            Bathroom
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="option-input checkbox" {{ChkOther}}>
                                            Other
                                        </label>


                                    </li>
                                    <li>
                                        <label>
                                            <input type="name" class="form-control" value="{{BB_PN_Room_OtherNote}}">
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="budget_box">
                        <h2>What type of treatment are you interested in?</h2>
                        <div class="treat-grid row">
                            <ul class="oportunity_cboxs">
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkWood}}>
                                        Wood
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkFauxWood}}>
                                        Faux wood
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkCellular}}>
                                        Cellular
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkShades}}>
                                        Shades
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkRollarShades}}>
                                        Rollar Shades
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkDraperies}}>
                                        Draperies
                                    </label>
                                </li>
                            </ul>


                            <ul class="oportunity_cboxs">
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkRomans}}>
                                        Romans
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkVerticals}}>
                                        Verticals
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkShutters}}>
                                        Shutters
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkWovenWoods}}>
                                        Woven Woods
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{ChkSolarShades}}>
                                        Solar Shades
                                    </label>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="treat-grid row">
                        <div class="col-sm-3 receive_head"><label class="specify_label">OPerational or Decorative?</label></div>
                        <div class="col-sm-9">
                            <ul class="oportunity_cboxs">
                                <li>
                                    <label>
                                        <input type="radio" class="option-input radio" name="Operational" {{OptOpetational}}>
                                        Operational
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" class="option-input radio" name="Decorative" {{OptDecorative}}>
                                        Decorative
                                    </label>
                                </li>
                        </div>
                    </div>
                    <div class="row oportunity_cboxs">
                        <div class="col-sm-2"><label class="date_label">Fabric Preferences</label></div>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" value="{{BB_PN_FrabricPreferences}}">
                        </div>
                    </div>
                    <div class="row oportunity_cboxs">
                        <div class="col-sm-2"><label class="date_label">Solids/Prints</label></div>
                        <div class="col-sm-10"><input type="name" class="form-control" value="{{BB_PN_SolidSOrPrints}}"></div>
                    </div>
                    <div class="row oportunity_cboxs">
                        <div class="col-sm-2"><label class="date_label">Preferred Style</label></div>
                        <div class="col-sm-10"><input type="name" class="form-control" value="{{BB_PN_PreferredStyle}}"></div>
                    </div>
                </div>
            </section>
            <br><br><br>
            <section>
                <div class="print-detailbox">
                    <div style="margin-top: 15px;margin-bottom: 15px;height: 2px; background-color: gray; text-align: left">
                        <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -9px;">
                            &nbsp;Notes(Internal and External):&nbsp;
                        </span>
                    </div>
                    <div class="sub_expand">
                        <div class="table-responsive">
                            <table class="table table-expand">
                                <thead class="expand_lhead">
                                    <tr>
                                        <!--<th>Id</th>-->
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Note</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    {{accountnotes}}
                                </tbody>
                            </table>
                        </div>


                    </div>


                </div>
        </div>
        </section>
    </div>
    </div>
</body>
</html>

























