﻿<div id="loading" style="display: none;">
    <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
</div>
<div class="tab_container tpsearch_content" ng-if="Permission.QuickbookSyncdetails">
    <div ng-cloak>
        <div class="error error_msg" style="margin-top:30px;" ng-show="!(Permission.QuickbookSyncdetails)">
            You don't have permission to this page.
        </div>
    </div>

    <div class="container" ng-init="initQBApp();">
        <br /><br />

        <h4>
            QuickBooks Online
            <span style="float: right;">
                <a href="#!/QBOPreSyncCheck">Pre-sync check</a>
                &nbsp;
                <a href="#!/SyncLogs">Sync logs </a>
            </span>
        </h4>



        <div style="padding: 25px 10px 25px 10px;background: #f7f7f7 !important;">
            <span ng-if="!preSyncCheck" style="color: red">
                Please click <a ng-click="PreSyncCheck()">HERE</a> check for any data that cannot sync to QBO.
            </span>
            <span ng-if="preSyncCheck && !preSyncCheck.Correct" ng-cloak style="color: red">
                <img src="../Images/warning-32.png" />
                Issues found! Please click <a href="#!/QBOPreSyncCheck" target="_blank">HERE</a> to view the transactions that need to be corrected
            </span>
            <span ng-if="preSyncCheck && preSyncCheck.Correct" ng-cloak style="color: green">
                No issues found. Please proceed!
            </span>
            <div style="padding: 5px 0">
                <div id="oAuthinfo">

                    <a ng-show="state.IsAuthorized" href="" id="Disconnect" ng-click="Disconect()" style="float: right">
                        Disconnect from
                        QuickBooks
                    </a>
                    <span>
                        <a target="_blank" href="../Templates/Base/Brand/BB/HFC_QB_Online_Sync_User's_Guide.docx">Download HFC QuickBooks online sync user's guide</a>
                    </span>
                </div>

                <div ng-show="state" id="qboState" style="display: none">

                    <div>
                        <a href="/settings/QBOPreSyncCheck"></a>
                    </div>

                    <div ng-show="state.IsAuthorized">
                        <div ng-repeat="item in state.Log">
                            <span ng-show="item.indexOf('FAIL') != -1" style="color: red">
                                {{item}}
                            </span>
                            <span ng-show="item.indexOf('FAIL') == -1" style="color: green">
                                {{item}}
                            </span>
                        </div>
                        <p ng-if="duplicateTPTCustomer.length>0" style="color: Red;margin-bottom: 0px;">Duplicate Touchpoint customer. Modify customer name in Touchpoint</p>
                        <div ng-repeat="item in duplicateTPTCustomer">
                            <span style="color: red">
                                <a href="#!/Accounts/{{item.Id}}" target="_blank">{{item.Name}}</a>
                            </span>
                        </div>
                    </div>

                    <div ng-if="Permission.QuickbookSyncadd">
                        <button ng-if="state.IsAuthorized" ng-click="Sync()" class="k-button btn btn-primary cancel_but" ng-disabled="state.IsLocked"
                                style="font-size: 20px;">
                            <span ng-init="Closewindow();">
                                <span ng-if="!state.IsLocked">Sync</span>
                                <span ng-if="state.IsLocked">Sync in progress...</span>
                            </span>
                        </button>

                        <button ng-show="!state.IsAuthorized" ng-click="ConnectQBO('../api/Quickbooks/0/InitiateAuth','QuickBooks Online','900','600')" class="k-button btn btn-primary cancel_but" ng-disabled="state.IsLocked"
                                style="font-size: 20px;">
                            Connect QuickBooks
                        </button>
                    </div>

                    <div ng-if="state.IsAuthorized && QBApp.dispalyTaxCode" style="margin:15px 0">

                        <div class="col-sm-2">
                            <span style="font-weight: bold;"> QBO Sales Tax Group</span>
                            <span class="custom-dropdown custom-dropdown--white" ng-init="GetSalesTaxCode();">
                                <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                        name="CATaxGroup"
                                        ng-disabled="IsSalesTaxCodeDisabled"
                                        ng-model="QBApp.TaxCode"
                                        ng-change="UpdateTaxCode();"
                                        ng-options="option.Name as option.Name for option in SalesTaxCode"></select>
                            </span>
                        </div>

                        <div class="col-sm-6">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">TPT TaxName</th>
                                        <th style="text-align:center;">QBO TaxName</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="txn in MapTaxName">
                                    <tr>
                                        <td>{{txn.TPTTaxName}}</td>
                                        <td>
                                            <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                    name="CATaxRate"
                                                    ng-disabled="IsSalesTaxCodeDisabled"
                                                    ng-model="txn.QBOTaxName"
                                                    ng-options="option.Name as option.Name for option in QBTaxRatebyTaxCode"></select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="col-sm-4 no-padding">
                            <a ng-show="IsSalesTaxCodeEditLinkshow" ng-click="EnableTaxCodeEdit()" style="text-decoration:underline; line-height:38px;">Edit Tax Details</a>
                            <a ng-hide="IsSalesTaxCodeDisabled" ng-click="UpdateTaxDetails()" style="text-decoration:underline; line-height:38px;">Update Tax Details</a>
                            <br />
                            <a ng-hide="IsSalesTaxCodeDisabled" ng-click="CancelTaxDetails()" style="text-decoration:underline; line-height:38px;">Cancel</a>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
</div>