﻿<div class="tab_container tpsearch_content">

    <div class="container">
        <br /><br />
        <h4>QuickBooks Online PreSync check list</h4>

        <ul ng-cloak ng-repeat="(key, val) in preSyncCheck.Invoices">
            <li style="color: Red">
                {{key}}
            </li>
            <li style="list-style: none;">
                <ul>
                    <li ng-repeat="item in val">
                        Order '<a href="#!/Orders/{{item.OrderID}}" target="_blank">{{item.Orders.OrderNumber}}</a>'
                    </li>
                </ul>
            </li>


        </ul>

        <ul ng-cloak ng-repeat="(key, val) in preSyncCheck.Opportunities">
            <li style="color: Red">
                {{key}}
            </li>
            <li style="list-style: none;">
                <ul>
                    <li ng-repeat="item in val">
                        Opportunity '<a href="#!/Accounts/{{item.AccountId}}" target="_blank">{{item.PrimCustomer.FirstName}} {{item.PrimCustomer.LastName}}</a>'
                    </li>
                </ul>
            </li>


        </ul>

        <p ng-if="preSyncCheck.DuplicateCustomerName.length>0" style="color: Red">Duplicate customer(s) found</p>
        <ul ng-cloak ng-repeat="val in preSyncCheck.DuplicateCustomerName">
            <li style="list-style: none;">
                <ul>
                    <li ng-repeat="item in val">
                        Account '<a href="#!/Accounts/{{item.AccountId}}" target="_blank">{{item.FirstName}} {{item.LastName}}</a>'
                    </li>
                </ul>
                <br />
            </li>
        </ul>

    </div>

</div>
