﻿
<div ng-controller="QuickbookController">
        <!---inner tab--->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab" style="width:95% !important">
                <!--<li rel="tab7">
                    <a href="#!/sources">
                        <h3><i class="fas fa-bullseye fa_icon"></i><br />Campaigns</h3>
                    </a>
                </li>-->
                <li rel="tab7">
                    <a href="../#!/listDocuments">
                        <h3><i class="fas fa-inbox fa_icon"></i><br />Manage Documents</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="../#!/ViewEmail">
                        <h3><i class="fas fa-envelope-square fa_icon"></i><br />Email Settings</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="../#!/disclaimerView">
                        <h3><i class="fa fa-shield fa_icon"></i><br />Legal Disclaimer</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7" ng-show="IsQBEnabled!=false">
                    <a href="../#!/QuickbookSetup">
                        <h3><i class="fas fa-upload fa_icon"></i><br />QuickBooks Setup</h3>
                    </a>
                </li>
                <!--<li rel="tab7">
                    <a href="#!/procurement">
                        <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                    </a>
                </li>-->
                <li rel="tab7">
                    <a href="../#!/appointmentTypes">
                        <h3><i class="far fa-calendar-edit fa_icon vendor_icon"></i><br />Appointment Type Settings</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/MsrReporting">
                        <h3><i class="far fa-calendar-edit fal fa-file-chart-line fa_icon"></i><br />MSR Reporting</h3>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    <div class="tab_container tpsearch_content" ng-init="initQBApp();">
        <div ng-cloak>
            <div class="error error_msg" style="margin-top:30px;" ng-show="!(Permission.Quickbookdisplay)">
                You don't have permission to this page.
            </div>
        </div>
        <div ng-cloak>
            <div class="p-3" ng-if="Permission.Quickbookdisplay && QBApp!=null">
                <div class="source-group row">
                    <div class="col-12 col-sm-12 col-lg-8 col-xl-8 col_1">
                        <h5 class="mb-3">QuickBooks Settings</h5>
                        <!--<div class="source-group row" style="border:2px solid #d8d8d8;padding-top: 15px;">
                            <div class="col-sm-2" style="font-weight: 600; font-size: 15px; padding-right: 0;">
                                For use with <br />QBD synch
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group row">
                                    <label class="col-3 required_label">Username:</label>
                                    <div class="col-9">
                                        <input type="text" class="frm_controllead1" ng-model="QBApp.UserName" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 required_label">Password:</label>
                                    <div class="col-9">
                                        <input type="password" class="frm_controllead1" ng-model="QBApp.Password">
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="source-group row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group row mx-0">
                                    <label class="col-3 text_detlabel">Sync Invoices : </label>
                                    <div class="col-9">
                                        <input type="checkbox" class="option-input" style="margin-bottom:10px;" ng-model="QBApp.SynchInvoices">
                                        <input type="date"
                                               class="form-control frm_controllead1"
                                               ng-model="QBApp.CreatedOn"
                                               format-Date
                                               name="Qdt"
                                               calendar
                                               cs-date-to-iso
                                               min="{{Qdt != undefined ? Qdt : minDate |GlobalTime:'shortDate'}}"
                                               max="{{Qdt != undefined ? Qdt : maxDate |GlobalTime:'shortDate'}}" 
                                               ng-change="ValidateDate()"
                                               id="syncinvoicesdate"/>
                                        <!--<input type="text" class="frm_controllead1 sync_txtbox" ng-model="QBApp.CreatedOn" placeholder="MM/dd/yyyy" />-->
                                    </div>
                                </div>
                                <div class="form-group row mx-0">
                                    <label class="col-3 text_detlabel">Sync Payments : </label>
                                    <div class="col-9">
                                        <input type="checkbox" class="option-input" ng-checked="QBApp.SynchPayments" ng-model="QBApp.SynchPayments">
                                    </div>
                                </div>
                                <div class="form-group row mx-0">
                                    <label class="col-3 text_detlabel">Sync Cost (vendor bills) : </label>
                                    <div class="col-9">
                                        <input type="checkbox" class="option-input" ng-model="QBApp.SynchCost">
                                    </div>
                                </div>

                                <!--Murugan-->
                                <div class="form-group row mx-0">
                                    <label class="col-3 text_detlabel">Suppress Sales Tax : </label>
                                    <div class="col-9">
                                        <input type="checkbox" class="option-input" ng-model="QBApp.SuppressSalesTax">
                                    </div>
                                </div>

                                <div class="form-group row mx-0">
                                    <label class="col-3 text_detlabel">Tax Agency : </label>
                                    <div class="col-9"><label class="ldet_label">General Tax Agency</label></div>
                                </div>

                                <div class="form-group row mx-0">
                                    <label class="col-3 text_detlabel">Sync Tax Detail (jurisdictions) : </label>
                                    <div class="col-9">
                                        <input type="checkbox" class="option-input" ng-model="QBApp.TaxDetailjurisdictions">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 required_label">Name Display : </label>
                                    <div class="col-9">
                                        <div style="margin-bottom:15px;">
                                            <input type="radio" class="option-input radio" ng-model="QBApp.IsLastNameFirst" data-ng-value="false">
                                            <label class="ldet_label">First Name First</label>
                                        </div>
                                        <div>
                                            <input type="radio" class="option-input radio" ng-model="QBApp.IsLastNameFirst" data-ng-value="true">
                                            <label class="ldet_label">Last Name First</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mx-0">
                                    <div class="col-lg-7">
                                        <div class="form-group row">
                                            <label class="col-5 required_label">Accounts Receivable : </label>
                                            <div class="col-6">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white"
                                                            name="CATaxGroup"
                                                            ng-disabled="IsCOAARDisabled"
                                                            ng-model="QBApp.AR"
                                                            ng-options="option.Name as option.Name for option in QBCOAAR"></select>
                                                </span>
                                            </div>
                                            <a ng-if="state.IsAuthorized && IsCOAARDisabled" ng-click="EnableCOAAR()" style="text-decoration:underline; line-height:38px;">Edit</a>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-5 required_label">Income account : </label>
                                            <div class="col-6">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white"
                                                            name="CATaxGroup"
                                                            ng-disabled="IsCOASalesDisabled"
                                                            ng-model="QBApp.Sales"
                                                            ng-options="option.Name as option.Name for option in QBCOASales"></select>
                                                </span>
                                            </div>
                                            <a ng-if="state.IsAuthorized && IsCOASalesDisabled" ng-click="EnableCOASales()" style="text-decoration:underline; line-height:38px;">Edit</a>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-5 required_label">Cost of Goods Sold : </label>
                                            <div class="col-6">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white"
                                                            name="CATaxGroup"
                                                            ng-disabled="IsCOACOGDisabled"
                                                            ng-model="QBApp.COG"
                                                            ng-options="option.Name as option.Name for option in QBCOACOG"></select>
                                                </span>
                                            </div>
                                            <a ng-if="state.IsAuthorized && IsCOACOGDisabled" ng-click="EnableCOACOG()" style="text-decoration:underline; line-height:38px;">Edit</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <p class="disclaimeredit_notedesc">Note: Mapping your Chart of Accounts (COA) is optional. If you choose to manually map your COA, you do this at your own risk.
                                        If you wish to proceed, you must connect Touchpoint to QBO. To do so, click "Connect to QBO" and login, then return to this page.
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <label class="col-3 text_detlabel"> </label>
                                    <div class="col-9" ng-if="Permission.Quickbookadd">
                                        <button type="button" class="k-button btn btn-primary cancel_but" ng-click="SaveQBApp()"><i class="fas fa-download mr-1"></i>Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4 col_2">
                        <ul class="quickbook_grid mt-md-5">
                           <!--<li><a href="{{QBApp.SynchronizationStatusUrl}}">Synchronization Status Page</a></li>
                           <li><a href="../Settings/GetQwc">Download QWC file</a></li>
                           <li><a title="QBWebConnector 2.0.0.139" href="http://developer-static.intuit.com/idn/downloads/QBSM/Webconnector/QBWebConnectorInstaller(8).exe">Download QuickBooks Web Connector</a></li>
                           <li><a title="QBWebConnector 2.0.0.139" href="https://dl.dropboxusercontent.com/u/53499690/QBWebConnector2_2R0-00034.zip">Download QuickBooks Web Connector(QuickBooks 2015 or later)</a></li>
                           <li><a href="../Templates/Base/Brand/BB/HFC_QB_Sync_Tool_User's_Guide.docx">Download HFC QuickBooks sync tool user's guide</a></li>-->
                           <li ng-show="Permission.QuickbookEdit"><a class="font-weight-bold" href="../#!/qbo">Connect to QBO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="error error_msg" style="margin-top:30px;" ng-if="QBApp==null">
                Need to Enable QB Sync for this franchise!
            </div>
        </div>
    </div>
</div>