﻿<div ng-cloak class="tab_container tpsearch_content" ng-init="GetSyncLog();">
    <div class="container">
        <ul ng-repeat="log in SyncLogData">
            <li style="color: Red" ng-if="log.Message!=''">
                {{log.ObjectRef}}
            </li>
            <li style="color: Green" ng-if="log.Message==''">
                {{log.ObjectRef}}
            </li>
        </ul>

    </div>
</div>
