﻿<style>
    .error {
        color: red;
    }
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
</style>
<div class="outter-wp">
           <div class="lead_stab">
                <ul class="tabs1" style="width:100% !important">
                    <!--<li rel="tab7">
                        <a href="#!/sources">
                            <h3><i class="fas fa-bullseye fa_icon"></i><br />Campaigns</h3>
                        </a>
                    </li>-->
                    <li class="activelead1" rel="tab7">
                        <a href="#!/listDocuments">
                            <h3><i class="fas fa-inbox fa_icon"></i><br />Manage Documents</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/ViewEmail">
                            <h3><i class="fas fa-envelope-square fa_icon"></i><br />Email Settings</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/disclaimerView">
                            <h3><i class="fa fa-shield fa_icon"></i><br />Legal Disclaimer</h3>
                        </a>
                    </li>
                    <li rel="tab7" ng-show="IsQBEnabled!=false">
                        <a href="#!/QuickbookSetup">
                            <h3><i class="fas fa-upload fa_icon"></i><br />QuickBooks Setup</h3>
                        </a>
                    </li>
                    <!--<li rel="tab7">
                        <a href="#!/procurement">
                            <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                        </a>
                    </li>-->
                    <li rel="tab7">
                        <a href="#!/appointmentTypes">
                            <h3><i class="far fa-calendar-edit fa_icon vendor_icon"></i><br />Appointment Type Settings</h3>
                        </a>
                    </li>

                    <li rel="tab7">
                        <a href="#!/MsrReporting">
                            <h3><i class="far fa-calendar-edit fal fa-file-chart-line fa_icon"></i><br />MSR Reporting</h3>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
        </div>
     
        <!---inner tab--->
        <div class="tab_container tpsearch_content">
            <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ListDocument">
                You don't have permission to this page.
            </div>
            <div ng-show="Permission.ListDocument">
                <div class="table-responsive">
                    <!--<kendo-tooltip options="kendotooltipOptions">-->
                        <kendo-grid id="gridDocuments" class="noscroll-grid ipadspace_grid" options="NoteServiceTP.FranchiseSettingsGridOptions"></kendo-grid>
                    <!--</kendo-tooltip>-->
                </div>
            </div>
            <!-- Note/Attachment model template -->
            <hfc-note-modal></hfc-note-modal>
        </div>
        <!---end inner tab-->
</div>
<script>
    $(document).on("shown.bs.dropdown", ".dropdown", function () {
        var $ul = $(this).children(".dropdown-menu");
        var $button = $(this).children(".dropdown-toggle");
        var ulOffset = $ul.offset();
        if (!ulOffset) return;
        var spaceUp = (ulOffset.top - $button.height() - $ul.height()) - $(window).scrollTop();
        var spaceDown = $(window).scrollTop() + $(window).height() - (ulOffset.top + $ul.height());
        if (spaceDown < 100 && (spaceUp >= 0 || spaceUp > spaceDown))
            $(this).addClass("dropup");
    }).on("hidden.bs.dropdown", ".dropdown", function () {
        $(this).removeClass("dropup");
    });
</script>