﻿
<style>
    .loader {
        position: absolute;
        left: 50%;
        margin-left: -50px;
    }
</style>
<script type="text/javascript">
    var waitingDialog = (function ($) {

        // Creating modal dialog's DOM
        var $dialog = $(
            '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
            '<div class="modal-dialog modal-m">' +
            '<div class="modal-content">' +
                '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
                '<div class="modal-body">' +
                    '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
                '</div>' +
            '</div></div></div>');

        return {

            show: function (message, options) {
                // Assigning defaults
                var settings = $.extend({
                    dialogSize: 'm',
                    progressType: ''
                }, options);
                if (typeof message === 'undefined') {
                    message = 'Loading';
                }
                if (typeof options === 'undefined') {
                    options = {};
                }
                // Configuring dialog
                $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
                $dialog.find('.progress-bar').attr('class', 'progress-bar');
                if (settings.progressType) {
                    $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
                }
                $dialog.find('h3').text(message);
                // Opening dialog
                $dialog.modal();
            },
            /**
             * Closes dialog
             */
            hide: function () {
                $dialog.modal('hide');
            }
        }

    })(jQuery);
</script>

<script type="text/javascript">
    var mergeTool = {};

    var getItemName = function (text) {
        var start = text.indexOf(']');
        var end = text.indexOf('|');
        return text.substr(start + 1, end - start - 2);
    }

    mergeTool.merge = function (selector, getUrl, postUrl) {

        var rightId = $(selector).find('.right-selector').val();
        var rightText = $(selector).find('.right-selector>option:selected').text();

        if (!rightId) {
            return alert("Select option that need to be merged");
        }

        var leftId = $(selector).find('.left-selector').val();
        var leftText = $(selector).find('.left-selector>option:selected').text();
        if (!leftId) {
            return alert("Select option to merge into");
        }

        if (leftId == rightId) {
            return alert("You have selected the same options");
        }

        waitingDialog.show('moving ' + getItemName(leftText) + ' into ' + getItemName(rightText) + ', please wait');

        $.post(postUrl.replace('_right_', rightId).replace('_left_', leftId)).then(function (result) {
            if (result.status == "ok") {
                $(selector).load(getUrl, function () {
                    waitingDialog.hide();
                });
            } else {
                waitingDialog.hide();
                alert(result.message);
            }
        });
    }

    $(document).ready(function (e) {

        $.ajax({
            type: 'GET',
            url: '/settings/GetMergeOptionsLeadSources',
            dataType: 'html', //be sure to use html dataType
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#container-leadSources').html(data);
            },
            complete: function () { }
        });

        $.ajax({
            type: 'GET',
            url: '/settings/GetMergeOptionsLeadStatuses',
            dataType: 'html', //be sure to use html dataType
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#container-leadStatuses').html(data);
            },
            complete: function () { }
        });

        $.ajax({
            type: 'GET',
            url: '/settings/GetMergeOptionsJobStatuses',
            dataType: 'html', //be sure to use html dataType
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#container-jobStatuses').html(data);
            },
            complete: function () { }
        });
        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                //$(item).load(url, function (item, url, t,tt) {
                var footer = $(this).parent().find(".panel-footer");
                $(footer).css('display', '');
                //});
            }
        });
    });
    </script>
<div class="container">
    <div class="modal hide " id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <h1>Processing...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>


    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#sources" data-toggle="tab">Merge Lead Sources</a></li>
        <li><a data-target="#lead_statuses" data-toggle="tab">Merge Lead Statuses</a></li>
        <li><a data-target="#job_statuses" data-toggle="tab">Merge Job Statuses</a></li>
    </ul>

    <div class="tab-content" id="bindable">
        <div class="tab-pane active" id="sources">
            <div class="col-xs-12 col-sm-12">
                <h3>&nbsp;</h3>
                <div id="container-leadSources" class="partialContents" data-url="/settings/GetMergeOptionsLeadSources">

                </div>
                <div class="col-xs-12">
                    <div class="panel-footer" style="display:none">
                        <button id="btn-leadSources" onclick="mergeTool.merge('#container-leadSources', '/settings/GetMergeOptionsLeadSources', '/settings/DoMerge?optionsKind=leadSources&amp;rightId=_right_&amp;leftId=_left_')" class="btn btn-primary">Merge</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="lead_statuses">
            <div class="col-xs-12 col-sm-12">
                <h3>&nbsp;</h3>
                <div id="container-leadStatuses" class="partialContents" data-url="/settings/GetMergeOptionsLeadStatuses">
                </div>

                <div class="col-xs-12">
                    <div class="panel-footer" style="display:none">
                        <button id="btn-leadStatuses" onclick="mergeTool.merge('#container-leadStatuses', '/settings/GetMergeOptionsLeadStatuses', '/settings/DoMerge?optionsKind=leadStatuses&amp;rightId=_right_&amp;leftId=_left_')" class="btn btn-primary">Merge</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="job_statuses">
            <div class="col-xs-12 col-sm-12">
                <h3>&nbsp;</h3>
                <div id="container-jobStatuses" class="partialContents" data-url="/settings/GetMergeOptionsJobStatuses">

                </div>

                <div class="col-xs-12">
                    <div class="panel-footer" style="display:none">
                        <button id="btn-jobStatuses" onclick="mergeTool.merge('#container-jobStatuses', '/settings/GetMergeOptionsJobStatuses', '/settings/DoMerge?optionsKind=jobStatuses&amp;rightId=_right_&amp;leftId=_left_')" class="btn btn-primary">Merge</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>