﻿<style>
    .error {
       color: red;
    }
    #source-list .k-list-scroller {
        max-height: 131px !important;
    }
    .k-grid-content.k-auto-scrollable {
        height: 100% !important;
    }
    .form-control:disabled, .form-control[readonly], .k-block, .k-widget {
        background-color: #e9ecef !important;
        opacity: 1;
    }
    .k-widget.form-control .k-input {
        height: 24px !important;
    }
    .k-dateinput-wrap, .k-dropdown-wrap, .k-multiselect-wrap, .k-numeric-wrap, .k-picker-wrap {
        border-width: 0;
    }
    .k-checkbox {
        margin: 0px !important;
    }
    td > .k-checkbox {
        margin: 2px !important;
    }
    td {
        max-width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden !important;
    }
    [role="tooltip"] {
        visibility: hidden;
        min-width: 300px !important;
        max-width: 750px !important;
        overflow: visible !important;
    }
    .noscroll-grid .k-grid-content tr td {
        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
    }
</style>
<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab w-100">
            <li class="activelead1" rel="tab7">
                <a href="#!/sources">
                    <h3><i class="fas fa-bullseye fa_icon"></i><br />Campaigns</h3>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error error_msg" style="margin-top:30px;" ng-if="!Permission.ListCampaign">
            You don't have permission to this page.
        </div>
        <div class="kendo_customtooltip" ng-show="Permission.ListCampaign">
            <form name="Source_form" unsaved-warning-form>
                <div class="border-bottom border-dark pr-5">
                        <div class="clearfix">
                            <div class="float-right mt-2 mr-3">
                                <button type="button" class="plus_but tooltip-bottom" data-tooltip="Create New Campaign" ng-click="addCampaign()" ng-show="!editCampaign && Permission.AddCampaign" id="addcampaign">
                                    <i class="far fa-plus-square"></i>
                                </button>
                                <button type="reset" class="tooltip-bottom hfc_bgbut ng-scope mr-2" data-tooltip="Cancel" ng-disabled="" ng-click="campaignCancel()" ng-show="editCampaign">
                                    <i class="far fa-times-circle fa_icon"></i>
                                </button>
                                <button type="button" class="tooltip-bottom hfc_bgbut ng-scope" data-tooltip="Save" ng-disabled="" ng-click="campaignSave()" ng-show="editCampaign">
                                    <i class="far fa-check-circle fa_icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-2 mx-0">
                            <div class="col-xs-5-camp-cols">
                                <div class="row no-margin">
                                    <label class="col-sm-5 required_label text-left">Campaign</label>
                                    <div class="col-sm-7" ng-class="{true: 'has-error'}[submitted && Source_form.campaign.$invalid]">
                                        <input class="form-control frm_controllead1 required_field" name="campaign" id="campaign" type="text"
                                               ng-model="Campaign.Name" required disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5-camp-cols">
                                <div class="row no-margin">
                                    <label class="col-sm-5 required_label text-left">Start Date</label>
                                    <div class="col-sm-7" ng-class="{true: 'has-error'}[submitted && Source_form.startDate.$invalid]">
                                        <input kendo-date-picker k-format="HFCService.StaticKendoDateFormat()" class="form-control datekendo_field ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date" ng-required="true"
                                               type="text" name="startDate"
                                               ng-model="Campaign.StartDate"
                                               id="startDate"
                                               data-date-format="MM/dd/yyyy"
                                               data-autoclose="true"
                                               ng-change="ValidateDate(Campaign.StartDate,'startDate')"
                                               required disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5-camp-cols">
                                <div class="row no-margin">
                                    <label class="col-sm-5 required_label text-left">Recurring</label>
                                    <div class="col-sm-7 state_field" id="recurrWrapper" ng-class="{true: 'has-error'}[submitted && Source_form.recurring.$invalid]">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select id="recurring"
                                                    name="recurring"
                                                    kendo-drop-down-list
                                                    k-ng-model="Campaign.RecurringType"
                                                    class="form-control required_field custom-dropdown__select custom-dropdown__select--white kendo-dropdown"
                                                    k-options="recurring_source"
                                                    required disabled>
                                                <option value="0" disabled selected></option>
                                                <option value="1">One Time</option>
                                                <option value="2">Monthly</option>
                                                <option value="3">Quarterly</option>
                                                <option value="4">Yearly</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5-camp-cols">
                                <div class="row no-margin">
                                    <label class="col-sm-5 required_label text-left">Duration</label>
                                    <div class="col-sm-7" ng-class="{true: 'has-error'}[submitted && Source_form.duration.$invalid]">
                                        <input class="form-control frm_controllead1" name="duration" id="duration" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="Campaign.Duration"
                                               min="{{min}}" max="{{max}}" ng-change="calcMonthlyBudget();setEndDate();durationChanged();" required disabled>
                                        <div ng-if="Source_form.duration.$invalid && editCampaign && durationChange" ng-messages="Source_form.duration.$invalid" class="email-error-text" style="color:red;font-size: 13px;">
                                            <div>Please enter a duration between {{min}} and {{max}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5-camp-cols">
                                <div class="row no-margin">
                                    <label class="col-sm-5 required_label text-left">End Date</label>
                                    <div class="col-sm-7" ng-class="{true: 'has-error'}[submitted && Source_form.endDate.$invalid]">
                                        <input kendo-date-picker k-format="HFCService.StaticKendoDateFormat()" class="form-control datekendo_field ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date" ng-required="true"
                                               type="text" name="endDate"
                                               ng-model="Campaign.EndDate"
                                               id="endDate"
                                               data-date-format="MM/dd/yyyy"
                                               data-autoclose="true"
                                               ng-change="ValidateDate(Campaign.EndDate,'endDate')"
                                               required disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5-camp-cols">
                                <div class="row no-margin">
                                    <label class="col-sm-5 required_label text-left">Total Budget</label>
                                    <div class="col-sm-7" ng-class="{true: 'has-error'}[submitted && Source_form.amount.$invalid]">
                                        <input class="form-control Budget_field" kendo-numeric-text-box id="amount" ng-model="Campaign.Amount" name="amount" required
                                               k-options="options" ng-change="calcMonthlyBudget()" ng-class="{true: 'show-error'}[submitted && Source_form.amount.$invalid]" maxlength="16" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0">
                            <div class="col-xs-5-camp-cols">
                                <div class="row no-margin">
                                    <label class="col-sm-5 required_label text-left">Source</label>
                                    <div class="col-sm-7 state_field" id="sourceWrapper" ng-class="{true: 'has-error'}[submitted && Source_form.campaign_source.$invalid]">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select id="campaign_source"
                                                    name="campaign_source"
                                                    kendo-drop-down-list
                                                    k-options="campaign_source"
                                                    k-ng-model="Campaign.SourcesTPId"
                                                    class="form-control custom-dropdown__select custom-dropdown__select--white kendo-dropdown"
                                                    required disabled>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-xs-5-camp-cols">
                                <div class="row no-margin">
                                    <label class="col-sm-5 required_label text-left">Total Budget</label>
                                    <div class="col-sm-7" ng-class="{true: 'has-error'}[submitted && Source_form.amount.$invalid]">
                                        <input class="form-control Budget_field" kendo-numeric-text-box id="amount" ng-model="Campaign.Amount" name="amount" required
                                               k-options="options" ng-change="calcMonthlyBudget()" ng-class="{true: 'show-error'}[submitted && Source_form.amount.$invalid]" maxlength="16" disabled />
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-xs-5-camp-cols recurring_grid">
                                <div class="row no-margin">
                                    <label class="col-sm-5 text_detlabel text-left">Monthly Budget</label>
                                    <div class="col-sm-7">
                                        <label class="ldet_label ng-binding">{{tempMonthlyBudget}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0">
                            <div class="col-xs-3-camp-colschannel">
                                <div class="row no-margin">
                                    <label class="col-sm-5 text_detlabel text-left">Channel</label>
                                    <div class="col-sm-7">
                                        <label class="ldet_label ng-binding">{{Campaign.Channel}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3-camp-colschannel">
                                <input class="option-input" id="activeCheck" type="checkbox" ng-model="Campaign.IsActive" disabled><label class="ldet_label">Active</label>
                            </div>
                            <div class="col-xs-3-camp-colschannel">
                                <input class="option-input" id="deactiveCheck" type="checkbox" ng-model="Campaign.DeactivateOnEndDate" disabled><label class="ldet_label">Deactivate on End Date</label>
                            </div>
                        </div>
                        <div class="row mb-3 mx-0">
                            <div class="col-sm-2 col-campaign-offset-2">
                                <label class="text_detlabel">Memo</label>
                                <p style="font-size: 10px;margin: 0px;">*optional</p>
                            </div>
                            <div class="col-sm-10 campaignsource_grid">
                                <textarea rows="4" class="form-control frm_controllead1 campaignsource_box" id="memo" ng-model="Campaign.Memo" maxlength="500" disabled />
                            </div>
                        </div>
                   
                    <!--<div class="col-lg-2 border-left border-dark border_campaign">
                        <div class="source-group mt-5">
                            Content Coming Soon...
                        </div>
                    </div>-->
                </div>
                <div class="tp-measurementsearch row no-margin">
                    <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox"> 
                        <input ng-keyup="CampaigngridSearchbyChannel()" type="text" id="searchBox" placeholder="Search Campaigns" class="k-textbox leadsearch_tbox">
                    </div>
                    <div class="col-xs-2 col-sm-2 measurement_search no-padding">
                        <input type="button" id="btnReset" ng-click="CampaigngridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-4 mt-2">
                        <input class="option-input" name="SourceCheck" id="SourceCheck" style="margin-right:5px;" type="checkbox" ng-click="getOrderDetails()">
                        <label class="ldet_label mr-3">Show Inactive</label>
                        <button type="button" class="tooltip-bottom hfc_bgbut" style="font-size:18px;" data-tooltip="Delete Campaign" ng-click="deleteCampaigns()" ng-show="showDelete">
                            <i class="fal fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="leadgrid_box" style="" ng-repeat="campaignDetail in channelList track by $index" ng-init="$last && setWidth()">
                    <ul class="kendo_expandicon" kendo-panel-bar id="{{'panelbar' + $index}}">
                        <li id="{{'panelbarlist' + $index}}">
                            <!-- ng-repeat="data in detailList" -->
                            <!-- panel bar header section -->
                            <span style="font-weight: bold;" class="channelwidth">
                                <span class="col-sm-2 panel-header">
                                    Channel:&nbsp; {{campaignDetail.Name}}
                                </span>
                            </span>
                            <span style="font-weight: bold;">
                                <label class="count" style="background:#fff; margin-left:10px; padding: 0px 6px; line-height: 20px; text-align: center; color:#000;" ng-bind="campaignDetail.TotalCampaign">{{campaignDetail.TotalCampaign}}</label>
                            </span>
                            <span style="font-weight: bold;">
                                <span class="col-sm-2 panel-header">
                                    Monthly Cost&nbsp;
                                </span>
                            </span>
                            <span style="font-weight: bold;">
                                <label class="monthlyCost" style="background:#fff; margin-left:10px; padding: 0px 6px; line-height: 20px; text-align: center; color:#000;">
                                    {{campaignDetail.MonthlyCost|GlobalCurrency}}
                                </label>
                            </span>
                            <!-- panel bar content section -->
                            <div style="">
                                <kendo-grid id="{{'channelGrid' + $index}}"
                                    options="{{'gridConfig' + $index}}" class="noscroll-grid " 
                                    style="">
                                </kendo-grid>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="padding-bottom:40px;"></div>           
            </form>
        </div>
    </div>
</div>
