﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
   .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
</style>
<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li class="activelead1" rel="tab5">
                <a href="#!/vendors">
                    <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Vendors</h3>
                </a>
            </li>
            <li rel="tab6">
                <a href="#!/productSearch">
                    <h3><i class="far fa-dolly-flatbed-alt fa_icon vendor_icon"></i><br />Products/Services</h3>
                </a>
            </li>
            <li rel="tab7" style="width: auto !important;">
                <a href="#!/pricingSettings">
                    <h3><i class="far fa-usd-square fa_icon vendor_icon"></i><br />Pricing Management</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/procurement">
                    <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/buyerremorse">
                    <h3><i class="fa fa-cogs fa_icon"></i><br />Sale Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/TaxSettings">
                    <h3><i class="fas fa-landmark fa_icon"></i><br />Tax Settings</h3>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- Access error message div -->
    <div class="tab_container tpsearch_content">
        <div class="error error_msg" style="margin-top:30px;" ng-if="!Permission.ListVendors">
            You don't have permission to this page.
        </div>
        <div ng-show="Permission.ListVendors">
            <div class="vendors-dropdown row state_field">
                <div class="col-6 col-sm-6 row no-margin">
                    <div class="col-sm-2 col-2 vendor_label"><label>List View</label></div>
                    <div class="col-sm-10 col-10">
                        <span class="custom-dropdown custom-dropdown--white" style="width:300px !important;">
                            <select class="custom-dropdown__select custom-dropdown__select--white" id="VendorDrop" ng-model="Vendor.VendorType" ng-change="ChangeVendor()">
                                <option value="">My Vendor</option>
                                <option ng-hide="BrandId ==3 || BrandId ==2" value="1">Alliance Vendor</option>
                                <option value="2">Non-Alliance Vendor</option>
                                <!--<option value="3">Non-PIC enabled Alliance Vendor</option>-->
                            </select>
                        </span>
                        <!--value:-{{BrandId}}-->
                    </div>
                </div>
                <div class="col-6 col-sm-6 no-padding">
                    <button ng-if="Permission.AddVendor" type="button" class="plus_but tooltip-bottom vendoradd_button" data-tooltip="New Vendor" ng-click="NewVendor()">
                        <i class="far fa-plus-square"></i>
                    </button>
                </div>
            </div>
            <div class="table-responsive" ng-controller="vendorController">
                <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridVendor" class="ipadspace_grid" options="vendorService.Vendors_details" style="margin-bottom:40px !important;"></kendo-grid>
                <!--</kendo-tooltip>-->
            </div>
        </div>
        <!---end inner tab-->
    </div>
</div>
<script type="text/javascript">

    function ShipLocationDropDown(container, options) {
        $('<input required=true name="' + options.field + '" data-bind="value:ShipLocName" />')
            .appendTo(container)
            .kendoDropDownList({
                valuePrimitive: true,
                autoBind: true,
                optionLabel: "Select",
                dataTextField: "ShipLocName",
                dataValueField: "ShipLocName",
                template: "#=ShipLocName#",
                dataSource: {
                    transport: {
                        read: {
                            url: '/api/lookup/0/Type_ShipToLocVendor?TerritoryValue=' + TerritoryId,
                        }
                    },
                    sort: { field: "ShipLocName", dir: "asc" }
                }
            });
    }
</script>