﻿<style>
    .error {
        color: red;
    }
    .panel-body span.k-icon.k-i-arrow-60-down.k-panelbar-expand {
        display: none;
    }
    .panel-body .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-active) .k-icon, .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-expanded) .k-icon {
        display: none;
    }
    .k-panelbar > .k-item.k-state-active > .k-link .k-icon, .k-panelbar > .k-item.k-state-expanded > .k-link .k-icon,  span.k-icon.k-panelbar-expand.k-i-arrow-60-down  {
        display: none;
    }
    .table-responsive .k-grid-content.k-auto-scrollable {
        height:100% !important;
    }
    .k-grid td{
        height: 40px !important;
    }
</style>
<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/listDocuments">General</a></li>
                        <li class="active"><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->

    <div class="tab_container tp_content">
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li class="activelead1" rel="tab5">
                        <a href="#!/vendors">
                            <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Vendors</h3>
                        </a>
                    </li>
                    <li rel="tab6">
                        <a href="#!/productSearch">
                            <h3><i class="far fa-dolly-flatbed-alt fa_icon"></i><br />Products/Services</h3>
                        </a>
                    </li>
                    <li rel="tab7" style="width: auto !important;">
                        <a href="#!/pricingSettings">
                            <h3><i class="far fa-usd-square fa_icon"></i><br />Pricing Management</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/procurement">
                            <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/buyerremorse">
                            <h3><i class="fa fa-cogs fa_icon"></i><br />Sale Settings</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/TaxSettings">
                            <h3><i class="fas fa-landmark fa_icon"></i><br />Tax Settings</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <ul class="orderlist_box">
                        <li><button ng-show="Permission.AddVendor" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="New Vendor" ng-click="NewVendor()">
                            <i class="far fa-plus-square fa_icon"></i>
                        </button></li>
                        <li><button ng-show="Permission.EditVendor" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Edit Vendor" ng-mousedown="vendoredit(vendorId)" ng-click="setAction()">
                            <i class="far fa-pen fa_icon"></i>
                        </button></li>
                    </ul>
                 </div>
                <div class="clearfix"> </div>
            </div>

            <form id="crm-lead-detail" name="Frm_vendoredit">
                <div class="p-3" ng-show="Permission.DisplayVendor">
                    <div class="leadgrid_box">
                        <div class="lead_rtop row">
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Vendor Type</label>
                                    <div class="col-9 row no-margin">
                                                <label class="col-sm-6 ldet_label">{{Vendor.VendorName}}</label>
                                                <div class="col-sm-6">
                                                    <!--<span class="tooltiptext vendor_view">* This Vendor Type is a locally owned single retail storefront</span>-->
                                                    <div class="vendor_ertext" ng-show="Vendor.VendorType==3">
                                                        <span class="tooltiptext vendor_view">* This Vendor Type is a locally owned single retail storefront</span>
                                                    </div>
                                                    <div class="vendor_ertext" ng-show="Vendor.VendorType==2">
                                                        <span class="tooltiptext vendor_view">   * This Vendor Type is a Retail Chain i.e. Home Depot, Lowe's</span>
                                                    </div>
                                                    <div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Vendor ID</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{vendorId}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Vendor Name</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.Name}}</label>
                                        <label style="color:red" class="vendor_ertext" ng-hide="(Vendor.Beta ==false || Vendor.Beta ==null)">&nbsp;(Beta)</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Account Status</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.AcctStatus}}</label>
                                    </div>
                                </div>
                                <div ng-if="Vendor.VendorType ==1">
                                    <div class="source-group row">
                                        <label class="col-3 text_detlabel">PIC Vendor Id</label>
                                        <div class="col-9">
                                            <label class="ldet_label">{{Vendor.PICVendorId}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vendor_streetgrid">
                        <h3 class="mb-3">Street Address</h3>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                <div ng-switch="Vendor.VendorAddress.CountryCode2Digits">
                                    <div ng-switch-when="US">
                                        <div class="source-group row">
                                            <label id="Credit" class="col-3 text_detlabel">Zip code</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Vendor.VendorAddress.ZipCode}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="CA">
                                        <div class="source-group row">
                                            <label id="Credit" class="col-3 text_detlabel">Postal code</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Vendor.VendorAddress.ZipCode}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                    </div>
                                </div>

                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Address 1</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.VendorAddress.Address1}}</label>
                                        <label ng-if="IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="vertical-align:text-bottom;"><i class="fa fa-exclamation-triangle"></i></label>
                                        <label ng-if="IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="vertical-align:text-bottom;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Address 2</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.VendorAddress.Address2}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">City</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.VendorAddress.City}}</label>
                                    </div>
                                </div>
                                <div ng-switch="Vendor.VendorAddress.CountryCode2Digits">
                                    <div ng-switch-when="US">
                                        <div class="source-group row">
                                            <label id="Terms" class="col-3 text_detlabel">State</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Vendor.VendorAddress.State}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="CA">
                                        <div class="source-group row">
                                            <label id="Terms" class="col-3 text_detlabel">Province</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Vendor.VendorAddress.State}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                    </div>
                                </div>
                                <!--<div class="form-group row state_field ml-0 mr-0">
                                    <label id="Terms" class="col-3 text_detlabel">State/Province</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.VendorAddress.State}}</label>
                                    </div>
                                </div>-->
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Country</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.VendorAddress.CountryCode2Digits}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="mb-3">Acct Information</h3>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                <div class="table-responsive">
                                    <kendo-grid id="gridShipLocation" style="margin-bottom:50px;" options="ShipToLocationVendorview"></kendo-grid>
                                </div>
                                <div style="margin-bottom: 4px;">
                                    <input type="checkbox" class="option-input checkbox" disabled ng-model="Vendor.BulkPurchase">
                                    <label class="required_label" style="cursor:default;">Bulk Purchasing</label>
                                </div>
                                <div class="table-responsive">
                                    <kendo-grid id="gridBulkPurchasing" style="margin-bottom:50px;" options="BulkPurchasingVendorview"></kendo-grid>
                                </div>
                                <!--<div style="margin-bottom: 4px;">
                                    <input type="checkbox" class="option-input checkbox" disabled ng-model="Vendor.ShipVia">
                                    <label class="required_label" style="cursor:default;">Ship Via</label>
                                </div>
                                <div class="table-responsive">
                                    <kendo-grid id="gridShipVia" style="margin-bottom:50px;" options="ShipViaVendorview"></kendo-grid>
                                </div>-->
                            </div>
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Terms</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.Terms}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Credit Limit</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.CreditLimit |  GlobalCurrency }}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Retail Basis</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.RetailBasis}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label id="Terms" class="col-3 text_detlabel">Currency</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.Currency}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Account No</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.AccountNo}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Account Rep</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.AccountRep}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Account Rep Phone</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.AccountRepPhone|mask: '(999) 999-9999'}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Account Rep e-mail</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.AccountRepEmail}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Ordering Method</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.OrderingName}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Contact Details</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.ContactDetails}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul kendo-panel-bar id="panelbar" style="margin-bottom:30px;">
                        <li id="accountlistPanel">
                            <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Products</p><p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{ProductDisplay.length}}</p></span>
                            <div class="kendo_paneltable">
                                <div class="table-responsive" ng-if="Vendor.FranchiseId != null && Vendor.FranchiseId != 0 && Vendor.AcctStatus =='Active'">
                                    <table class="table table-bordered table-striped">
                                        <thead class="expand_lhead">
                                            <tr>
                                                <th></th>
                                                <th>Product Name</th>
                                                <th>Product Id</th>
                                                <th>Category</th>
                                                <th>Description</th>
                                                <th><button type="button" ng-if="Permission.AddProduct || Vendor.VendorType ==1 && Vendor.IsAlliance ==true" onclick="return false;" ng-click="AddProduct()" class="plus_but tooltip-bottom" data-tooltip="New Product" ng-disabled="IsBusy" style="font-weight:400;"><i class="far fa-plus-square"></i></button></th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="p in ProductDisplay">
                                            <tr>
                                                <td></td>
                                                <td>{{p.ProductName}}</td>
                                                <td><span class='Grid_Textalign'><a href="" ng-click="EditProduct(p.ProductKey,p.FranchiseId)">{{p.ProductID}}</a></span></td>
                                                <td>{{p.ProductCategory}}</td>
                                                <td>{{p.Description}}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!--<div ng-show="Permission.DisplayStreetAddress">
                         <div style="margin-top: 15px;margin-bottom:15px; height: 1px; background-color: gray; text-align: left; padding-left:35px; line-height: 16px;">
                             <span style="background-color:#f7f7f7; cursor: pointer; position: relative; font-weight:bold; top: -9px;" ng-click="DisplayMore2 = !DisplayMore2">
                                 &nbsp;&nbsp;&nbsp;&nbsp;Street Address  &nbsp;&nbsp;&nbsp;&nbsp;
                             </span>
                         </div>
                         <div class="leadgrid_box">
                         </div>
                    </div>-->
                    <!--<div ng-show="Permission.DisplayAccountInfo">
                         <div style="margin-top: 15px;margin-bottom:15px; height:1px; background-color: gray; text-align: left; padding-left:35px; line-height: 16px;">
                             <span style="background-color:#f7f7f7; cursor: pointer; position: relative; font-weight:bold; top: -9px;" ng-click="DisplayMore3 = !DisplayMore3">
                                 &nbsp;&nbsp;&nbsp;&nbsp;Acct Information &nbsp;&nbsp;&nbsp;&nbsp;
                             </span>
                         </div>
                         <div class="leadgrid_box"></div>
                    </div>-->
                    <!--<div ng-if="Vendor.VendorType != 1 && Vendor.FranchiseId != null && Vendor.FranchiseId != 0 && Vendor.AcctStatus =='Active' ">
                           <div ng-show="Permission.ListProducts">
                               <div style="margin-top: 15px;margin-bottom:15px; height: 1px; background-color: gray; text-align: left; padding-left:35px; line-height: 16px;">
                                   <span style="background-color:#f7f7f7; cursor: pointer; font-weight:bold; position: relative; top: -9px;" ng-click="DisplayMore1 = !DisplayMore1">
                                       &nbsp;&nbsp;&nbsp;&nbsp;Products&nbsp;&nbsp;&nbsp;&nbsp;
                                   </span>
                               </div>
                           </div>
                    </div>-->
                </div>
          </form>
    </div>
</div>