﻿<style>
    /*input.ng-invalid {
       border-color: pink;
    }*/
    .error, .required_lable {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
    .errortext {
        color: red !important;
    }
    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }
    .k-grid-content.k-auto-scrollable {
        height:100% !important;
    }
    .k-grid td{
        height: 40px !important;
    }
    /*span.k-widget.k-dropdown.k-header {
       border: 1px solid red;
    }*/
    .k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg {
       top: 26px;
    }
    span.k-icon.k-i-warning {
       width: 26px;
    }
    html .k-edit-cell .k-tooltip, html .k-grid-edit-row .k-tooltip {
       width:200px !important;
    }
    .k-widget.k-tooltip-validation {
        display: none !important;
    }
</style>
<script type="text/javascript">

    function ShipLocationDropDown(container, options) {
        $('<input required=true name="' + options.field + '" data-bind="value:ShipToLocationName" />')
            .appendTo(container)
            .kendoDropDownList({
                valuePrimitive: true,
                autoBind: true,
                optionLabel: "Select",
                dataTextField: "ShipToLocation",
                dataValueField: "Id",
                template: "#=ShipToLocation#",
                dataSource: {
                    transport: {
                        read: {
                            url: '/api/lookup/0/Type_ShipToLocation',
                        }
                    },
                    sort: { field: "ShipToLocation", dir: "asc" }
                }
            });
    }
</script>
<div class="outter-wp">
    <section class="my_sub_header_1">
        <nav class="navbar navbar-expand-md navbar-light bg-light my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-1 custom_nav">
                        <li><a href="#!/listDocuments">General</a></li>
                        <li class="active"><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
            <div class="tab_container tp_content">
                    <div class="lead_stab">
                        <ul class="tabs1 landing_tab">
                            <li class="activelead1" rel="tab5">
                                <a href="#!/vendors">
                                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Vendors</h3>
                                </a>
                            </li>
                            <li rel="tab6">
                                <a href="#!/productSearch">
                                    <h3><i class="far fa-dolly-flatbed-alt fa_icon"></i><br />Products/Services</h3>
                                </a>
                            </li>
                            <li rel="tab7" style="width: auto !important;">
                                <a href="#!/pricingSettings">
                                    <h3><i class="far fa-usd-square fa_icon"></i><br />Pricing Management</h3>
                                </a>
                            </li>
                            <li rel="tab7">
                                <a href="#!/procurement">
                                    <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                                </a>
                            </li>
                            <li rel="tab7">
                                <a href="#!/buyerremorse">
                                    <h3><i class="fa fa-cogs fa_icon"></i><br />Sale Settings</h3>
                                </a>
                            </li>
                            <li rel="tab7">
                                <a href="#!/TaxSettings">
                                    <h3><i class="fas fa-landmark fa_icon"></i><br />Tax Settings</h3>
                                </a>
                            </li>
                        </ul>
                        <div class="leaddetail_butns" ng-show="Permission.AddVendor || Permission.EditVendor">
                            <ul class="orderlist_box">
                                <li><button ng-if="Permission.AddVendor" type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="cancel()"><i class="far fa-times-circle fa_icon"></i></button></li>
                                <li><button ng-if="Permission.AddVendor" type="submit" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="setAction()"><i class="far fa-check-circle fa_icon"></i></button></li>
                            </ul>
                         </div>
                        <div class="clearfix"> </div>
                    </div>

                    <form id="crm-lead-detail" name="Vendoradd" ng-submit="SaveVendor()" unsaved-warning-form>
                        <!-- Access error message div -->
                        <div class="error" ng-show="!(Permission.AddVendor || Permission.EditVendor)">
                            You don't have permission to this page.
                        </div>
                        <div class="p-3" ng-show="Permission.AddVendor || Permission.EditVendor">
                            <div class="leadgrid_box">
                                <div class="lead_rtop row">
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 required_label">Vendor Type</label>
                                            <div class="col-sm-9 col-9 row no-margin">
                                                    <div class="col-sm-6 pl-0">
                                                        <input type="text" class="frm_controllead1" ng-model="Vendor.VendorName" ng-change="GetRetail(Vendor.VendorName)" placeholder="" maxlength="50" readonly>
                                                    </div>
                                                    <div class="col-sm-6 no-padding" style="line-height:11px;">
                                                        <div class="v_tooltip">
                                                            <div ng-show="Vendor.VendorType==3 || Vendor.VendorType==''">
                                                                <span class="tooltiptext">* This Vendor Type is a locally owned single retail storefront</span>
                                                            </div>
                                                            <div ng-show="Vendor.VendorType==2">
                                                                <span class="tooltiptext">* This Vendor Type is a Retail Chain i.e. Home Depot, Lowe's</span>
                                                            </div>
                                                            <div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <!--{{Vendor}}-->
                                        <!--default:--{{Vendor}}
                                        value:--{{Vendor.VendorId}}
                                        value2:--{{vendorId}}-->
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 required_label">Vendor ID</label>
                                            <div class="col-sm-9 col-9">
                                                <input type="text" ng-hide="Vendor.VendorId == null" class="frm_controllead1" ng-model="Vendor.VendorId" placeholder="" maxlength="50" readonly>
                                                <input type="text" ng-show="Vendor.VendorId == null" class="frm_controllead1" ng-model="vendorId" placeholder="" maxlength="50" readonly>
                                            </div>
                                        </div>
                                        <!--with validation-->
                                        <div class="source-group row" ng-class="{true: 'has-error'}[vendorsubmit && Vendoradd.VendorName.$invalid]">
                                            <label class="col-sm-3 col-3 required_label">Vendor Name</label>
                                            <div class="col-sm-9 col-9">
                                                <input type="text" name="VendorName" ng-readonly="Vendor.VendorType == 1 || Vendor.VendorType == 2"
                                                       ng-model="Vendor.Name" class="form-control frm_controllead1 required_field" placeholder="Required" required maxlength="50" ng-model-options="{ updateOn: 'blur'}" ng-change="Data(Vendor.Name)">

                                                <!--<div class="col-sm-2"><label style="color:red" ng-if="Vendor.Beta!=false">(Beta)</label></div>-->
                                            </div>
                                        </div>

                                        <!--value:--{{Vendoradd.Statussave.$invalid}}-->
                                        <div class="source-group row state_field" ng-class="{true: 'has-error'}[vendorsubmit && ( Vendoradd.Statussave.$modelValue==null
                                             || Vendoradd.Statussave.$modelValue=='' )]">
                                            <label class="col-sm-3 col-3 required_label">Vendor Account Status</label>
                                            <div class="col-sm-9 col-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            name="Statussave"
                                                            ng-class="{true: 'errorTP',false:'k-state-selected'}[Vendoradd.Statussave.$invalid]"
                                                            ng-model="Vendor.VendorStatus"
                                                            ng-options="option.Id  as option.VendorStatus for option in VendorStatusList"
                                                            ng-required="true">
                                                        <option value="" disabled selected>Select</option>
                                                        <!--<option ng-repeat="option in VendorStatusList" ng-value="option.Id">{{option.VendorStatus}}</option>-->
                                                    </select>
                                                    <!--<span ng-show="vendorsubmit && Vendoradd.save.$modelValue== 0" style="color:red">Vendor Account Status is Required</span>-->
                                                </span>
                                            </div>
                                        </div>
                                        <div class="source-group row" ng-if="Vendor.VendorType == 1">
                                            <label class="col-sm-3 col-3 text_detlabel">PIC Vendor Id</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="pic_vendor">{{Vendor.PICVendorId}}</label>
                                                <!--<div class="col-sm-3 col-3">{{Vendor.PICVendorId}}</div>-->
                                                <!--<input type="text" ng-model="Vendor.PICVendorId" class="frm_controllead1" placeholder="" maxlength="50" readonly>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="vendor_streetgrid">
                                <h3>Street Address</h3>
                                <div class="kendo_panel row">
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <fieldset ng-disabled="(Vendor.VendorStatus==2 || Vendor.VendorStatus==3) && (Vendor.VendorType===''||Vendor.VendorType==1||Vendor.VendorType==2||Vendor.VendorType==3)">
                                            <div>
                                                <hfc-addresstp address-model="Vendor.VendorAddress"
                                                               parent-form-submit-status="vendorsubmit"></hfc-addresstp>
                                            </div>
                                        </fieldset>

                                        <fieldset ng-disabled="(Vendor.VendorStatus==2 || Vendor.VendorStatus==3) && (Vendor.VendorType==1||Vendor.VendorType==2||Vendor.VendorType==3)">
                                            <div class="source-group row state_field">
                                                <label class="col-sm-3 col-3 required_label">Country</label>
                                                <div class="col-sm-9 col-9">
                                                    <!--<div ng-switch-default>-->
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="custom-dropdown__select custom-dropdown__select--white" id="countryBox" ng-model="Vendor.VendorAddress.CountryCode2Digits" ng-change="CountryChanged();AddressService.CountryChanged();CurrencyValue(Vendor.VendorAddress.CountryCode2Digits);" ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                            <option value="">select</option>
                                                        </select>
                                                    </span>
                                                    </div>
                                                    <!--</div>-->
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <h3>Acct Information </h3>

                                <div class="kendo_panel row">
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <div>
                                            <div class="table-responsive">
                                                <kendo-grid id="gridShipLocation" style="margin-bottom:40px;" options="ShipToLocationVendor"></kendo-grid>
                                            </div>
                                        </div>
                                        <div>
                                            <div style="margin-bottom: 4px;">
                                                <input type="checkbox" class="option-input checkbox" ng-model="Vendor.BulkPurchase" ng-change="BulkPurchase(Vendor.BulkPurchase)">
                                                <label class="required_label" style="cursor:default;">Bulk Purchasing</label>
                                            </div>
                                            <div class="table-responsive">
                                                <kendo-grid id="gridBulkPurchasing" style="margin-bottom:40px;" options="BulkPurchasingVendor"></kendo-grid>
                                            </div>
                                        </div>
                                        <!--<div>
                                            <div style="margin-bottom: 4px;">
                                                <input type="checkbox" class="option-input checkbox" ng-model="Vendor.ShipVia" ng-change="ShipVia(Vendor.ShipVia)">
                                                <label class="required_label" style="cursor:default;">Ship Via</label>
                                            </div>
                                            <div class="table-responsive" style="border-right:1px solid #dbdbde;">
                                                <kendo-grid id="gridShipVia" style="margin-bottom:40px;" options="ShipViaVendor"></kendo-grid>
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <fieldset ng-disabled="(Vendor.VendorStatus==2 || Vendor.VendorStatus==3) && (Vendor.VendorType==1||Vendor.VendorType==2||Vendor.VendorType==3)">

                                            <div class="row drop_group state_field">
                                                <div class="col-sm-6 col-6">
                                                    <div class="row ml-0 mr-0">
                                                        <label id="Terms" class="col-sm-4 col-4 required_label ">Terms</label>
                                                        <div class="col-sm-8 col-8 dropdown_rmargin">
                                                            <input type="text" name="txt_Terms" class="frm_controllead1" ng-model="Vendor.Terms" placeholder="" maxlength="50">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row drop_group state_field">
                                                <div class="col-sm-6 col-6">
                                                    <div class="row ml-0 mr-0">
                                                        <label id="Credit" class="col-sm-4 col-4 required_label">Credit Limit</label>
                                                        <div class="col-sm-8 col-8 dropdown_rmargin">

                                                            <!--<input type="number" name="Credit_lmt" class="frm_controllead1" ng-change="CreditValueChange(Vendor.CreditLimit)" amount ng-model="Vendor.CreditLimit" placeholder="" maxlength="12">-->
                                                            <input type="text" class="frm_controllead1" name="Credit_lmt" blur-to-currency control="CreditLimitCurrencyControl" amount="Vendor.CreditLimit" placeholder="$0.00" maxlength="13" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-3 required_label">Retail Basis</label>
                                                <div class="col-sm-9 col-9">
                                                    <input type="text" name="Retail_Basis" class="frm_controllead1" ng-model="Vendor.RetailBasis" readonly>
                                                </div>
                                            </div>
                                            <div class="row drop_group state_field">
                                                <div class="col-sm-6 col-6">
                                                    <div class="row ml-0 mr-0">
                                                        <label id="Terms" class="col-sm-4 col-4 required_label">Currency</label>
                                                        <div class="col-sm-8 col-8 dropdown_rmargin">
                                                            <input type="text" name="Terms" class="frm_controllead1" ng-model="Vendor.Currency" placeholder="" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-3 required_label">Account No</label>
                                                <div class="col-sm-9 col-9">
                                                    <input type="text" name="Acct_no" class="frm_controllead1" ng-model="Vendor.AccountNo" placeholder="" maxlength="50">
                                                </div>
                                            </div>
                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-3 required_label">Account Rep</label>
                                                    <div class="col-sm-9 col-9">
                                                        <input type="text" name="Accnt_rep" class="frm_controllead1" ng-model="Vendor.AccountRep" placeholder="" maxlength="50">
                                                    </div>
                                                </div>
                                            <div class="Cell" ng-class="{true: 'has-error'}[vendorsubmit && Vendoradd.Acctrep_phne.$invalid]">
                                                <div class="source-group row">

                                                    <label class="col-sm-3 col-3 required_label">Account Rep Phone</label>
                                                    <div class="col-sm-9 col-9">
                                                        <input type="text"
                                                               id="Acctrep_phne"
                                                               name="Acctrep_phne"
                                                               class="frm_controllead1"
                                                               ng-model="Vendor.AccountRepPhone"
                                                               ui-mask="(999) 999-9999"
                                                               ng-blur="CheckDuplicates('Acctrep_phne', $event)"
                                                               ui-options="{clearOnBlur:false}"
                                                               ui-mask-placeholder
                                                               ui-mask-placeholder-char="_" />
                                                        <div ng-if="vendorsubmit || Vendoradd.Acctrep_phne.$dirty || Vendoradd.Acctrep_phne.$invalid" ng-messages="Vendoradd.Acctrep_phne.$error" role="alert" style="color:red">
                                                            <p class="no-margin" ng-message="mask">Phone number should be 10 digits.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-3 required_label">Account Rep e-mail</label>
                                                    <div class="col-sm-9 col-9">
                                                        <input type="email" name="Acctrep_email" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/" class="frm_controllead1" ng-model="Vendor.AccountRepEmail" placeholder="" maxlength="256">
                                                        <!--<input type="email" name="Acctrep_email" class="frm_controllead1" ng-model="Vendor.AccountRepEmail" valid-domain-name valid-email-regx placeholder="" maxlength="256">-->
                                                        <div ng-messages="Vendoradd.Acctrep_email.$error" style="color:red">
                                                            <div ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</div>
                                                            <!--<span ng-show="Vendoradd.Acctrep_email.$error.validEmailRegx">
                                                                Please enter a valid email address!
                                                            </span>
                                                            <span ng-show="Vendoradd.Acctrep_email.$error.validDomainName">
                                                                Please enter a valid email address. An invalid character appears after the @ sign.
                                                            </span>-->
                                                        </div>
                                                    </div>
                                                </div>
                                        </fieldset>
                                        <fieldset ng-disabled="(Vendor.VendorStatus==2 || Vendor.VendorStatus==3) && (Vendor.VendorType==1||Vendor.VendorType==2||Vendor.VendorType==3)">

                                            <div class="source-group row state_field">
                                                <label class="col-sm-3 col-3 required_label">Ordering Method</label>
                                                <div class="col-sm-9 col-9">
                                                    <!--<div ng-switch="Vendor.VendorName">-->
                                                    <div ng-if="Vendor.VendorType==1 && Vendor.IsAlliance==true">
                                                        <label class="pic_vendor">{{Vendor.OrderingMethod}}</label>
                                                    </div>
                                                    <!--value:--  {{Vendoradd.Ordering_method.$invalid}}-->
                                                    <div ng-class="{true: 'has-error'}[vendorsubmit && ( Vendoradd.Ordering_method.$modelValue==null
                                                                                || Vendoradd.Ordering_method.$modelValue=='' )]">
                                                        <div ng-if="(Vendor.VendorType==1 && Vendor.IsAlliance==false)|| Vendor.VendorType == 2 || Vendor.VendorType == 3||Vendor.VendorType==''">
                                                            <span class="custom-dropdown custom-dropdown--white">
                                                                <select style="color:#000 !important;" class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                        ng-model="Vendor.OrderingMethod"
                                                                        name="Ordering_method"
                                                                        ng-class="{true: 'errorTP',false:'k-state-selected'}[Vendoradd.Ordering_method.$invalid||Vendor.OrderingMethod==''||Vendor.OrderingMethod==null ]"
                                                                        ng-required="Vendor.VendorStatus==1">
                                                                    <option value="" disabled selected>Select</option>
                                                                    <option value="1">EMail</option>
                                                                    <option value="2">Phone</option>
                                                                    <option value="3">Fax</option>
                                                                    <option value="4">Vendor Portal</option>
                                                                    <option value="5">Will Call</option>
                                                                    <!--<option value="5">PIC</option>-->
                                                                </select>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <!--Value:--{{Vendor}}-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-3 required_label">Contact Details</label>
                                                <div class="col-sm-9 col-9">
                                                    <!--<div ng-switch="Vendor.VendorName">-->
                                                    <div ng-if="Vendor.VendorType==1 && Vendor.IsAlliance==true">
                                                        <label class="pic_vendor">{{Vendor.ContactDetails}}</label>
                                                    </div>
                                                    <div ng-if="Vendor.VendorType==1 && Vendor.IsAlliance==false">
                                                        <input type="text" class="frm_controllead1" ng-model="Vendor.ContactDetails" placeholder="Company-Website or Fax or Phone Number" maxlength="50">
                                                    </div>
                                                    <div ng-if="Vendor.VendorType == 2 || Vendor.VendorType == 3||Vendor.VendorType==''">
                                                        <input type="text" class="frm_controllead1" ng-model="Vendor.ContactDetails" placeholder="Company-Website or Fax or Phone Number" maxlength="50">
                                                    </div>
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                <!--Need the code of popup notes-->

                <hfc-error-modal modal-id="error"></hfc-error-modal>
                <div class="modal fade" id="vendormodal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-wrapper-container"></div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header popup_head">
                                <!--<button type="button" class="close popup_close" ng-click="PopCancel()" aria-hidden="true">&times;</button>-->
                                <!--<h4 class="modal-title">Vendor Purchase Order Details</h4>-->
                            </div>
                            <form name="Purchase_order" role="form" novalidate>
                                <div class="modal-body">
                                    <p>Would you like to add Products to the Vendor?</p>
                                    <div>
                                        <button type="reset" class="btn btn-primary cancel_but" ng-click="PopAccept()">OK</button>
                                        <button type="reset" class="btn btn-primary cancel_but" ng-click="PopNotAccept()">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="vendorcancelmodal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-wrapper-container"></div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header popup_head">
                                <!--<button type="button" class="close popup_close" ng-click="PopCancelmodal()" aria-hidden="true">&times;</button>-->
                                <!--<h4 class="modal-title">Vendor Purchase Order Details</h4>-->
                            </div>
                            <form name="Purchase_order" role="form" novalidate>
                                <div class="modal-body">
                                    <p>Product can be added later by selecting "Add Product" button at bottom of the screen</p>
                                    <div>
                                        <button type="reset" class="btn btn-primary cancel_but" ng-click="PopcancelAccept()">OK</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
          </div>
</div>

<div class="modal fade" id="Redirect_PopUp" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 id="Model1h4" class="mx-auto modal-title">Warning</h4>
            </div>
            <form role="form" novalidate>
                <div class="modal-body">
                    <p class="text-center">THIS ALLIANCE VENDOR IS NOT INTEGRATED WITH TOUCHPOINT'S PRODUCT CONFIGURATION ENGINE. <br /> PLEASE CREATE 'MY PRODUCTS' ASSOCIATED TO THIS VENDOR.</p>
                </div>
                <!--<div class="modal-footer">
                    <a href="#" class="btn btn-cancel" id="Model1Anc" style="background: #3d7d8b !important; color: #fff;" data-dismiss="modal" aria-hidden="true">OK</a>
                </div>-->
                <div class="text-center" style="padding-bottom:25px;">
                    <button type="reset" class="btn btn-primary cancel_but" ng-click="Redirect_Continue()" ng-disabled="IsBusy" aria-hidden="true"> Continue</button>
                    <button type="reset" class="btn btn-primary cancel_but" ng-click="Redirect_Cancel()"> Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Code for the PopUp to show when edit name of MyVendor to Allie or Non-Alli-->
<div class="modal fade" id="CheckContent_PopUp" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">For Your Information</h4>
                <button type="button" class="close popup_close" ng-click="CheckContent_Cancel()" aria-hidden="true">&times;</button>
            </div>
            <form name="Purchase_order" role="form" novalidate>
                <div class="modal-body">
                    <p>Vendor Name already exists as Alliance or Non-Alliance Vendor</p>
                    <div class="text-center">
                        <button type="reset" class="btn btn-primary cancel_but" ng-click="CheckContent_Accept()"> OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>