﻿
<div id="loading" style="display: none;">
    <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
</div>
<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li class="activelead1" rel="tab6">
                <a href="#!/Orders/{{CVD.OrderId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
</li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="tab_container tp_content">
        <div class="error"  ng-if="!Permission.ViewCustomer">
            You don't have permission to this page.
        </div>
        <div class="p-3" ng-if="Permission.ViewCustomer">
            <div class="mx-2">
                <div class="ldet_label"><label><strong>Invoice #: </strong>{{CVD.cVHeader.InvoiceNumber}} &nbsp&nbsp {{CVD.cVHeader.InvoiceDate|ignoreTimeZone: "shortDate"}}</label></div>
                <div class="ldet_label"><label><strong>Designer: </strong>{{CVD.cVHeader.SalesPersonName}}</label></div>
            </div>
            <ul kendo-panel-bar id="opppanelbar" class="kendo_expandicon my-2">
                <li id="opplistPanel" class="k-state-active">
                    <span style="font-weight:bold;">Opportunity Information</span>
                    <div class="clearfix mt-2 border-bottom-0">
                        <div class="quote_billleft float-left" style="width:65%;">
                            <h3>Bill to Address</h3>
                          <div class="row no-margin p-2"> 
                            <div class="col-md-5 pl-0">
                                 <div class="ldet_label"><label>{{CVD.opportunity.billToAddress.AccountCustomerName}}</label></div>
                                 <div class="ldet_label"><label>{{CVD.opportunity.billToAddress.BillingAddress1}}</label></div>
                                 <div class="ldet_label"><label>{{CVD.opportunity.billToAddress.BillingAddress2}}</label></div>
                                 <div class="ldet_label"><label>{{CVD.opportunity.billToAddress.BillingCityStateZip}}</label></div>
                            </div>
                            <div class="col-md-7 pr-0">
                                <div class="row no-margin" ng-show="CVD.opportunity.billToAddress.AccountCellPhone">
                                    <div class="col-sm-3 no-padding">
                                        <label class="text_detlabel">Cell : </label>
                                    </div>
                                    <div class="col-sm-9 pl-2 pr-0">
                                        <label class="ldet_label">{{CVD.opportunity.billToAddress.AccountCellPhone}}</label>
                                    </div>
                                </div>
                                <div class="row no-margin" ng-show="CVD.opportunity.billToAddress.AccountHomePhone">
                                    <div class="col-sm-3 no-padding">
                                        <label class="text_detlabel">Home : </label>
                                    </div>
                                    <div class="col-sm-9 pl-2 pr-0">
                                        <label class="ldet_label">{{CVD.opportunity.billToAddress.AccountHomePhone}}</label>
                                    </div>
                                </div>
                                <div class="row no-margin" ng-show="CVD.opportunity.billToAddress.AccountWorkPhone">
                                    <div class="col-sm-3 no-padding">
                                        <label class="text_detlabel">Work : </label>
                                    </div>
                                    <div class="col-sm-9 pl-2 pr-0">
                                        <label class="ldet_label">{{CVD.opportunity.billToAddress.AccountWorkPhone}}</label>
                                    </div>
                                </div>
                                <div class="row no-margin">
                                    <div class="col-sm-3 no-padding">
                                        <label class="text_detlabel">Email : </label>
                                    </div>
                                    <div class="col-sm-9 pl-2 pr-0">
                                        <label class="ldet_label">{{CVD.opportunity.billToAddress.AccountEmail}}</label>
                                    </div>
                                </div>
                                <div class="row no-margin">
                                    <div class="col-sm-3 no-padding">
                                        <label class="text_detlabel">Sidemark : </label>
                                    </div>
                                    <div class="col-sm-9 pl-2 pr-0">
                                        <label class="ldet_label">{{CVD.opportunity.billToAddress.OppSideMark}}</label>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="quote_billright float-left" style="width:32%;">
                            <h3>Installation Address</h3>
                            <div class="p-2">
                                 <div><label class="ldet_label">{{CVD.opportunity.installationAddress.AccountCustomerName}}</label></div>
                                 <div><label class="ldet_label">{{CVD.opportunity.installationAddress.InstallationAddress1}}</label></div>
                                 <div><label class="ldet_label">{{CVD.opportunity.installationAddress.InstallationAddress2}}</label></div>
                                 <div><label class="ldet_label">{{CVD.opportunity.installationAddress.InstallationCityStateZip}}</label></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul kendo-panel-bar id="prodpanelbar" class="kendo_expandicon my-2">
                <li id="prodlistPanel" class="k-state-active">
                    <span style="font-weight: bold;">Product Summary</span>
                    <div class="digitalsig_grid mt-2">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="expand_lhead">
                                <tr>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <tbody class="ng-scope">
                                <tr ng-repeat="p in CVD.products">
                                    <td class="ng-binding"><b>{{p.ProductName}}</b> - {{p.ProductDesc}}</td>
                                    <td class="ng-binding"><span class='Grid_Textalign'>{{p.QTY}}</span></td>
                                    <td class="ng-binding"><span class='Grid_Textalign'>{{p.Total| GlobalCurrency}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   </div>
                </li>
            </ul>
            <ul kendo-panel-bar id="addpanelbar" class="kendo_expandicon my-2">
                <li id="addlistPanel" class="k-state-active">
                    <span style="font-weight:bold;">Additional Items</span>
                    <div class="digitalsig_grid mt-2">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead class="expand_lhead">
                                    <tr>
                                        <th>Additional Items</th>
                                        <th>Memo</th>
                                        <th>Taxable</th>
                                        <th>Unit Price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody class="ng-scope">
                                    <tr ng-repeat="p in CVD.services">
                                        <td class="rightquote_table">{{p.Product}}</td>
                                        <td class="rightquote_table">{{p.Memo}}</td>
                                        <td class="rightquote_table">{{p.isTaxable}}</td>
                                        <td class="rightquote_table"><span class='Grid_Textalign'>{{p.UnitPrice| GlobalCurrency}}</span></td>
                                        <td class="rightquote_table"><span class='Grid_Textalign'>{{p.QTY}}</span></td>
                                        <td class="rightquote_table"><span class='Grid_Textalign'>{{p.Total| GlobalCurrency}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                </li>
            </ul>
            <ul kendo-panel-bar id="discpanelbar" class="kendo_expandicon my-2">
                <li id="disclistPanel" class="k-state-active">
                    <span style="font-weight:bold;">Discount Information</span>
                    <div class="digitalsig_grid mt-2">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead class="expand_lhead">
                                    <tr>
                                        <th>Discount Summary</th>
                                        <th>Memo</th>
                                    </tr>
                                </thead>

                                <tbody class="ng-scope">
                                    <tr ng-repeat="p in CVD.discounts">
                                        <td class="ng-binding">{{p.DiscountSummary}}</td>
                                        <td class="ng-binding">{{p.Memo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                </li>
            </ul>
            <ul kendo-panel-bar id="paypanelbar" class="kendo_expandicon my-2">
                <li id="paylistPanel" class="k-state-active">
                    <span style="font-weight:bold;">Payment Information</span>
                    <div class="digitalsig_grid mt-2">
                        <div class="table-responsive digitalsig_grid mt-2">
                            <table class="table table-striped table-bordered">
                                <thead class="expand_lhead">
                                    <tr>
                                        <th>Payment Date</th>
                                        <th>Payment Method</th>
                                        <th>Memo</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>

                                <tbody class="ng-scope">
                                    <tr ng-repeat="p in CVD.payment">
                                        <td class="ng-binding">{{p.PaymentDate|GlobalTime: 'shortDate' }}</td>
                                        <td class="ng-binding">{{p.Method}}</td>
                                        <td class="ng-binding">{{p.Memo}}</td>
                                        <td class="ng-binding"><span class='Grid_Textalign'>{{p.Amount| GlobalCurrency}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row no-margin">
                            <div class="col-md-7 rounded-lg border border-secondary" style="border-radius:15px !important;">
                                <div class="modal-body digitalterms_grid px-1">
                                    <h1>Terms & Conditions</h1>
                                    <p>{{CVD.terms.TC}}</p>
                                </div>
                                <div class="my-2 text-center">
                                    <div class="row no-margin" style="justify-content: center;">
                                        <div class="col-xs-5 border border-secondary mr-4 mb-2" style="color:red;padding: 11px 10px;">
                                            <div>By Clicking "Agree", I consent to do business electronically.</div>
                                        </div>
                                        <div class="col-xs-7">
                                            <input ng-click="TermsCondition(1)" type="button" id="btnAgree"
                                                   value="Agree" class="k-button digitalsign_bgbutns mr-4" />
                                            <input ng-click="showPopUp('Warning')" type="button" id="btnCancel"
                                                   value="Cancel" class="k-button digitalsign_bgbutns" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 text-right">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label>Product Subtotal:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>{{CVD.orderSummary.ProductSubtotal| GlobalCurrency}}</label>
                                    </div>
                                </div>
                                <div class="row" ng-show="CVD.orderSummary.SpecialDiscounts">
                                    <div class="col-sm-8">
                                        <label>Total Discounts Applied:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>({{CVD.orderSummary.SpecialDiscounts| GlobalCurrency}})</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label>Additional Charges:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>{{CVD.orderSummary.AdditionalCharges| GlobalCurrency}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label>Order Subtotal:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="discount_line">{{CVD.orderSummary.TotalAmount| GlobalCurrency}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label>Est Tax/Tax:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>{{CVD.orderSummary.TaxTotal| GlobalCurrency }}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label>Total:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="gtotal_line">{{CVD.orderSummary.GrandTotal| GlobalCurrency}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label>Payments Made:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>{{CVD.orderSummary.TotalPayments|GlobalCurrency}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label>Balance Due:</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="discount_line">{{CVD.orderSummary.BalanceDue| GlobalCurrency}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
</li>
            </ul>
            <ul kendo-panel-bar id="custpanelbar" class="kendo_expandicon my-2" ng-if="AdminElectronicSign && FranciseLevelElectronicSign">
                <li id="custlistPanel" class="k-state-active">
                    <span style="font-weight:bold;">Customer Signature</span>
                    <div id="CustSign" class="digitalsig_grid">
                    <div class="row mt-3 digitalsignature_signbox mx-auto" >
                        <div class="col-lg-8 pl-0">
                            <div class="sigPad">
                                <div class="sig sigWrapper">
                                    <div class="typed"></div>
                                    <canvas class="pad border border-dark" width="500" height="100"></canvas>
                                    <input type="hidden" name="output" class="output" disabled>
                                    <div class="ldet_label"><label ng-show="CVD.CustomerSignedDate"><strong>Customer Signed Date: </strong>{{CVD.CustomerSignedDate|GlobalTime: 'shortDate'}}</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 digitalbut_box no-padding">
                          <div class="float-lg-right">
                            <input ng-click="SaveCustSign()" type="button" id="btnAcceptcustsign"
                                   value="Accept" class="k-button digitalsign_bgbutns mr-xl-5"
                                   disabled />
                            <input ng-click="CancelSign('CustSign')" type="button" id="btnCancelcustsign"
                                   value="Cancel" class="k-button digitalsign_bgbutns"
                                   disabled />
                            </div>
                        </div>
                    </div>
                   </div>
                </li>
            </ul>
            <ul kendo-panel-bar id="salepanelbar" class="kendo_expandicon my-2" ng-if="AdminElectronicSign && FranciseLevelElectronicSign">
                <li id="salelistPanel" class="k-state-active">
                    <span style="font-weight:bold;">Sales Respresentative Signature</span>
                    <div id="SalerepSign" class="digitalsig_grid">
                        <div class="row mt-3 digitalsignature_signbox mx-auto">
                            <div class="col-lg-8 pl-0">
                                <div class="sigPad">
                                    <div class="sig sigWrapper">
                                        <div class="typed"></div>
                                        <canvas class="pad border border-dark" width="500" height="100"></canvas>
                                        <input type="hidden" name="output" class="output" disabled>
                                        <div class="ldet_label"><label ng-show="CVD.SalesRepSignedDate"><strong>Sales Respresentative Signed Date: </strong>{{CVD.SalesRepSignedDate|GlobalTime: 'shortDate'}}</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 digitalbut_box no-padding">
                                <div class="float-lg-right">
                                    <input ng-click="SaveSalerepSign()" type="button" id="btnAcceptsalerepsign"
                                           value="Accept" class="k-button digitalsign_bgbutns mr-xl-5"
                                           disabled />
                                    <input ng-click="CancelSign('SalerepSign')" type="button" id="btnCancelsalerepsign"
                                           value="Cancel" class="k-button digitalsign_bgbutns"
                                           disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                  </li>
            </ul>
            <div class="text-center mt-4 mb-3">
                    <label class="mr-5">
                        <a class="digitalsign_embutns ng-binding" href="#!/OrderPayment/{{CVD.OrderId}}"><strong>Make a Payment</strong></a>
                    </label>
                    <label>
                        <a class="digitalsign_embutns ng-binding" href="#!/Orders/{{CVD.OrderId}}"><strong>Return to Order</strong></a>
                    </label>
            </div>
        </div>
    </div>
</div>
<!--warning popup-->
<div class="modal fade" id="Warning" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Warning!</h4>
                <button type="button" class="close popup_close" ng-click="Cancel('Warning')">&times;</button>
            </div>
            <form name="Measurement_addint" role="form">
                <div class="modal-body quote_popup">
                    <div class="form-group row text-center m-2 text-danger">
                        This order cannot be completed without the agreement of the Terms and Conditions.
                    </div>
                    <div class="form-group row text-center m-2 text-danger">
                        Would you like to continue?
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="Cancel('Warning')">Cancel</button>
                        <button type="button" class="btn btn-cancel" ng-click="TermsCondition(0)">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>