﻿<!--TODO this should be define in Layout page-->

<style>
    .error {
        color: red;
    }
    .panel-body span.k-icon.k-i-arrow-60-down.k-panelbar-expand {
        display: none;
    }
    .panel-body .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-active) .k-icon, .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-expanded) .k-icon {
        display: none;
    }
    .k-panelbar > .k-item.k-state-active > .k-link .k-icon, .k-panelbar > .k-item.k-state-expanded > .k-link .k-icon {
        display: none;
    }
    #taxDetailsGrid .k-grid-content.k-auto-scrollable {
       height: 100% !important;
    }
    .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    /* border-top: 1px solid #ddd; */
    /*border: 1px solid #ddd;*/
}
   .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color:#eee;
}
    .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color:#fff;
}
    .table > thead > tr > th {
    border-bottom:0px solid #ddd;
}
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0;
}
    td.rightquote_table {
        border-left:1px solid #000;
    }
.quoteacount_expand {
      background:#ededed;
}
.quoteacount_expand h1, .quoteacount_expand h2{
    background-color:#3e7d8a;
    color:#fff;
    text-align:center;
    font-size:25px;
    padding:12px 0;
    font-weight:600;
}
#quoteacount_expanddemo, #quoteopportunity_expanddemo {
    padding:15px ;
}
ul.opportunity_taxlist li {
    width: 25%;
}
.quoteaccount_grid .k-panelbar .k-content {
    background-color:#ededed;
}
.quoteaccount_grid span.k-icon.k-i-arrow-60-down.k-panelbar-expand {
    display: none;
}
 .statusCanvas {
        height: auto !important;
    }
  .popup_procurement {
        text-align: left;
        padding: 5px;
    }
    .popup_procurement table.table.table-striped {
        margin-bottom:0 !important;
    }
ul.additionalcontact_list li {
        float: left;
        margin-right: 8px;
        border-bottom: 0 !important;
    }
    ul.additionalcontact_sublist li {
        display: contents;
    }
    .option-input:checked, input[type="checkbox"]:checked, input[type="radio"]:checked {
        background: #3e7d8a !important;
        border: 1px solid #ffffff !important;
    }
.k-grid-content.k-auto-scrollable {
    height:100% !important;
}
 #QuotelinesGrid > .k-grid-content.k-auto-scrollable {
        min-height:200px !important;
    }
.validConfig, .invalidConfig {
    position: absolute;
    top: 3px;
    margin-right: 10px;
}
.revalidate-wrapper {
    position: relative;
}
span.k-icon.k-panelbar-expand.k-i-arrow-60-down {
    display: none;
}
</style>

<!--<script src="https://hfc.picbusiness.com/Maintenance/Products/JS/ConfigEngine.obf.js"></script>-->
<div id="loading" style="display: none;">
    <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
</div>
<div class="outter-wp">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab w-50">
                <li class="activelead1" rel="tab6">
                    <h3><i class="far fa-user fa_icon"></i><br />Information</h3>
                </li>
                <!--<li class="tab_last"><h3 ng-click="returnToOrderList()"><i class="return_icon"></i><br />Return</h3></li>-->
            </ul>

            <div class="leaddetail_butns">
                <ul class="orderlist_box">
                    <li ng-if="Permission.ViewCustomer">
                        <input ng-click="CustomerView()" type="button"
                               value="Digital Signature" class="k-button btn qpreview_but hfc_bgbut"
                               style="padding: 3px 8px !important;" />
                    </li>
                    <!--<button type="reset" class="btn btn-primary cancel_but" ng-disabled="IsBusy" ng-click="SetInstallationAppointment('persongo',Order.OrderID)"> Set Appointment</button>-->
                    <li><button ng-show="Permission.MarginReview  && !(Order.OrderStatus==9 ||Order.OrderStatus==6)" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Margin Review"><a style="color: #69696d;" ng-show="Permission.MarginReview" class="hquote_hover" href="#!/SOquoteReview/{{Order.QuoteKey}}/{{Order.OrderID}}/{{Order.OrderNumber}}"><i><i class="far fa-chart-bar"></i></a></button></li>
                    <li><button ng-if="Permission.EditOrder && !(Order.OrderStatus==9 ||Order.OrderStatus==6) " type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Edit Order" ng-click="ClickMeToRedirectEditOrder(Order.OrderID)"><i class="far fa-pen"></i></button></li>
                    <li><button ng-show="(Permission.ConvertBuyerRemorse && !(Order.OrderStatus==9 ||Order.OrderStatus==6 || Order.OrderStatus==2)|| (Permission.ConvertBuyerOverride && Order.OrderStatus==7)) && (Permission.ConvertOrder && Order.CanConvertToMpo )" class="tooltip-bottom hfc_bgbut" type="button" data-tooltip="Create MPO" ng-click="ConvertTheOrderToMasterPO()"><i class="fa fa-exchange"></i></button></li>
                    <li><button ng-show="ShowCreateCaseIcon && FranciseLevelCase && IsDiscountCheck && Order.OrderStatus != 9 && Permission.EditOrder" ng-click="gotoCaseAddEditwithMPO()" data-tooltip="Create Case" class="tooltip-bottom hfc_bgbut"><i class="far fa-radiation-alt"></i></button></li>
                    <!--!Order.MpoExists-->
                    <!--<button ng-show="((Order.OrderStatus==9 ||Order.OrderStatus==6)|| (Order.OrderStatus==7)) && (!Order.MpoExists)" class="plus_but tooltip-bottom" type="button" data-tooltip="Create Sales Order" ng-click="ConvertTheOrderToMasterPO()"><i class="fa fa-exchange"></i></button>-->
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tab_container tp_content">
            <div class="error" ng-if="!Permission.ViewOrder">
                You don't have permission to this page.
            </div>
            <form id="crm-lead-detail" name="formorder" ng-submit="SaveOrder()">
                <div class="p-3" ng-show="Permission.ViewOrder" style="font-style: normal;">
                    <!--New Design-->
                    <div class="row mx-0 mb-4">
                        <div class="col-lg-9 col-xl-9 col_1 row m-0 p-0">
                            <div class="col-xl-4 pl-0">
                                <div class="row mx-0">
                                    <div class="col-sm-10 no-padding">
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Created On</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label">{{Order.CreatedOn|ignoreTimeZone: 'short'}}</label>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Order ID</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label">{{Order.OrderNumber}}</label>
                                            </div>
                                        </div>
                                        <!--<div class="source-group row">
				                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Contracted Date</label>
				                            <div class="col-sm-6 col-xs-6 no-padding">
				                                <label class="ldet_label">{{Order.ContractedDate|ignoreTimeZone: "shortDate" }}</label>
				                            </div>
				                        </div>-->
                                        <div class="source-group row" ng-class="{true: 'has-error'}[QuoteSubmitted && formquote.user_first_name.$invalid]">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Order Name</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label">{{Order.OrderName}}</label>
                                            </div>
                                        </div>
                                        <div class="source-group row" ng-class="{true: 'has-error'}[QuoteSubmitted && formquote.Side_mark.$invalid]">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Sidemark</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label">{{Order.SideMark}}</label>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Sales Agent</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label">{{Order.SalesAgent}}</label>
                                            </div>
                                        </div>
                                        <!--<div class="source-group row">
				                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Quote ID</label>
				                            <div class="col-sm-6 col-xs-6 no-padding">
				                                <label class="ldet_label"><a class="hquote_hover" href="#!/quote/{{Order.OpportunityId}}/{{Order.QuoteKey}}">{{Order.Quote.QuoteID}}</a></label>
				                            </div>
				                        </div>-->
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                </div>
                                <div class="col-sm-11 no-padding">
                                    <table class="table table-striped" style="border:1px solid #000;">
                                        <!--<thead>
				                            <tr style="background:#d2d2d2;">
				                                <th>Order Subtotal</th>
				                                <th class="rightquote_table" style="border-left:1px solid #000;"><span class='Grid_Textalign'><label class="ldet_label">{{Order.OrderSubtotal| GlobalCurrency}}</label></span></th>
				                            </tr>
				                        </thead>-->
                                        <tbody>
                                            <tr>
                                                <td>Product Subtotal</td>
                                                <td class="rightquote_table"><span class='Grid_Textalign'><label class="ldet_label">{{Order.ProductSubtotal| GlobalCurrency}}</label></span></td>
                                            </tr>
                                            <tr>
                                                <td>Total Discounts Applied</td>
                                                <td class="rightquote_table">
                                                    <span class='Grid_Textalign'><label class="ldet_label" style="color:red">({{Order.OrderDiscount| GlobalCurrency}})</label></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Additional Charges</td>
                                                <td class="rightquote_table"><span class='Grid_Textalign'><label class="ldet_label">{{Order.AdditionalCharges| GlobalCurrency}}</label></span></td>
                                            </tr>
                                            <tr>
                                                <td>Tax</td>
                                                <td class="rightquote_table"><span class='Grid_Textalign'><label class="ldet_label">{{Order.Tax| GlobalCurrency }}</label></span></td>
                                            </tr>

                                            <!--<tr>
				                                <td>Order Subtotal</td>
				                                <td class="rightquote_table"><label class="ldet_label">{{Order.OrderSubtotal| GlobalCurrency}}</label></td>
				                            </tr>-->
				                                            <!--<tr>
				                                <td>Tax</td>
				                                <td class="rightquote_table"><label class="ldet_label">dfrr</label></td>
				                            </tr>-->
                                            <tr>
                                                <td>Total</td>
                                                <td class="rightquote_table"><span class='Grid_Textalign'><label class="ldet_label">{{Order.OrderTotal| GlobalCurrency}}</label></span></td>
                                            </tr>
                                            <tr>
                                                <td>Payments Applied</td>
                                                <td class="rightquote_table"><span class='Grid_Textalign'><label class="ldet_label" style="color:red">({{Order.PaymnetsApplied|GlobalCurrency}})</label></span></td>
                                            </tr>
                                            <tr>
                                                <td>Balance Due</td>
                                                <td class="rightquote_table"><span class='Grid_Textalign'><label class="ldet_label">{{Order.BalanceDue| GlobalCurrency}}</label></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xl-8 pl-0">
                                <div class="row ml-0 mr-0" ng-if="!Order.ContractedDateUpdatedBy_Name">
                                    <div class="col-sm-6 pl-0">
                                        <div class="source-group row state_field">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Contracted Date</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label">{{Order.ContractedDate|ignoreTimeZone: "shortDate" }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                                <div class="row ml-0 mr-0" ng-if="Order.ContractedDateUpdatedBy_Name">
                                    <div class="col-sm-6 pl-0">
                                        <div class="source-group row state_field">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Contracted Date</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label float-left" style="color:red;">{{Order.ContractedDate|ignoreTimeZone: "shortDate" }}</label>
                                                <div style="float:left;" hfc-statuses-overlay>
                                                    <button type="button" class="plus_but tooltip-bottom" style="font-size: smaller; margin-left: 5px;">
                                                        <i class="fas fa-info-circle" style="color:Red; font-size:18px;"></i>
                                                    </button>
                                                    <div class="statusCanvas"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>

                                <div class="row ml-0 mr-0">
                                    <div class="col-sm-6 pl-0">
                                        <div class="source-group row state_field">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Order Status</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label">{{Order.OrderStatusText}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Last Updated</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label">{{Order.LastUpdate|ignoreTimeZone: "short" }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ml-0 mr-0">
                                    <div class="col-sm-6 pl-0">
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Quote ID</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label"><a class="hquote_hover" href="#!/quote/{{Order.OpportunityId}}/{{Order.QuoteKey}}">{{Order.Quote.QuoteID}}</a></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                    </div>
                                </div>

                                <div class="row ml-0 mr-0">
                                    <div class="col-sm-6 pl-0">
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">MPO ID</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label">
                                                    <label ng-repeat="data in Order.MPODetails" ng-hide="(PermissionMpo.CanReadMpoPage && data.MasterPONumber > '0') || data.MasterPONumber <= '0'">{{$first ? '' : $last ? ', ' : ','}}{{data.MasterPONumber}}</label>
                                                    <a ng-repeat="data in Order.MPODetails" ng-show="PermissionMpo.CanReadMpoPage && data.MasterPONumber > '0'" class="hquote_hover"
                                                       href="#!/{{data.IsXMpo == 1 ? 'xPurchaseMasterView' : 'purchasemasterview'}}/{{data.PurchaseOrderId}}">{{$first ? '' : $last ? ', ' : ','}}{{data.MasterPONumber}}</a>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                    </div>
                                </div>

                                <div class="source-group row">
                                    <ul class="opportunity_taxlist clearfix">
                                        <li ng-show="HFCService.FranchiseCountryCode == 'US'">
                                            <input type="checkbox"
                                                   disabled
                                                   class="option-input checkbox"
                                                   ng-model="Order.IsTaxExempt">
                                            <label class="ldet_label">Tax Exempt </label>
                                        </li>
                                        <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                            <div ng-class="{true: 'has-error'}">
                                                <input type="checkbox" disabled class="option-input checkbox"
                                                       ng-model="Order.IsPSTExempt">
                                                <label class="ldet_label">PST Exempt </label>
                                            </div>
                                        </li>
                                        <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                            <div ng-class="{true: 'has-error'}">
                                                <input type="checkbox" disabled class="option-input checkbox"
                                                       ng-model="Order.IsGSTExempt">
                                                <label class="ldet_label">GST Exempt </label>
                                            </div>
                                        </li>
                                        <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                            <div ng-class="{true: 'has-error'}">
                                                <input type="checkbox" disabled class="option-input checkbox"
                                                       ng-model="Order.IsHSTExempt">
                                                <label class="ldet_label">HST Exempt </label>
                                            </div>
                                        </li>
                                        <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                            <div ng-class="{true: 'has-error'}">
                                                <input type="checkbox" disabled class="option-input checkbox"
                                                       ng-model="Order.IsVATExempt">
                                                <label class="ldet_label">VAT Exempt</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row ml-0 mr-0">
                                    <div class="col-sm-6 pl-0">
                                        <div class="source-group row" ng-show="Order.IsTaxExempt || Order.IsPSTExempt || Order.IsGSTExempt ||
                                                                            Order.IsHSTExempt || Order.IsVATExempt">

                                            <label class="col-sm-6 col-xs-6 text_detlabel text-left">Tax ID</label>
                                            <div class="col-sm-6 col-xs-6 no-padding">
                                                <label class="ldet_label" style="vertical-align: middle !important;">{{Order.TaxExemptID}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <div class="col-sm-12 col-12">
                                        <div ng-show="!Order.UseTax || Order.Tax!=0">
                                            <div ng-show="!Order.IsTaxDisabled&&Order.TaxDetails!=null && Order.TaxDetails.length>0">
                                                <span><i class="fas fa-landmark" style="color:#000; font-size:20px;"></i></span>
                                                <label style="margin-top: 2%" class="required_label">Sales Tax Total: {{Order.Tax| currency:"$" }}</label>
                                                <kendo-grid id="taxDetailsGrid"
                                                            options="TaxDetailsLines"
                                                            style="font-size: 13px !important;">
                                                </kendo-grid>
                                            </div>
                                            <label ng-show="Order.IsTaxDisabled" style="margin-top: 2%;color:red;" class="required_label">Sales Tax feature has been disabled</label>

                                        </div>
                                        <label ng-show="Order.UseTax && Order.Tax==0" style="color:red;" class="required_label">Use Tax</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-3 account_section">
                            <div class="quoteaccount_grid">
                                <ul kendo-panel-bar id="panelbar1" style="margin-bottom:0 !important; padding:15px 0 !important;">
                                    <li id="panelBarActInfo" style="border-bottom:0 !important;">
                                        <span style="font-weight:bold; width:100%; text-align:center;">Account Information</span>
                                        <div class="kendo_panel row" style="margin:0 !important;background-color: #ededed !important; padding:15px !important;">
                                            <div class="source-group row">
                                                <label class="col-sm-6 col-xs-6 text_detlabel text-left">Account Name</label>
                                                <div class="col-sm-6 col-xs-6">
                                                    <label class="ldet_label"><a class="hquote_hover" href="#!/Accounts/{{Order.AccountId}}">{{Order.AccountName}}</a></label>
                                                </div>
                                            </div>
                                            <div class="row no-margin">
                                                <label class="col-sm-6 col-xs-6 text_detlabel text-left">Contact Name</label>
                                                <div class="col-sm-6 col-xs-6">
                                                    <div class="quote_emailfield">{{PrimaryEmailPhone.PrimaryEmail}}</div>
                                                    <div><label class="ldet_label" ng-bind="PrimaryEmailPhone.CellPhone | mask:'(999) 999-9999'"></label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li id="panelOpportunity" style="margin-top:30px;">
                                        <span style="font-weight:bold; width:100%; text-align:center;">Opportunity</span>
                                        <div class="kendo_panel row" style="margin:0 !important;background-color: #ededed !important; padding:15px !important;">
                                            <div class="source-group row">
                                                <label class="col-sm-6 col-xs-6 text_detlabel text-left">Opportunity Name</label>
                                                <div class="col-sm-6 col-xs-6">
                                                    <label class="ldet_label"><a class="hquote_hover" href="#!/OpportunityDetail/{{Order.OpportunityId}}">{{Order.Opportunity}}</a></label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div ng-class="{true: 'has-error'}">
                                                    <input type="checkbox" disabled class="option-input checkbox"
                                                           ng-model="Order.IsNewConstruction">
                                                    <label class="ldet_label font-weight-bold">New Construction</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-6 col-xs-6 text_detlabel text-left">Contact Name</label>
                                                <div class="col-sm-6 col-xs-6">
                                                    <div class="quote_emailfield">{{emailPhone[0].PrimaryEmail}}</div>
                                                    <div><label class="ldet_label" ng-bind="emailPhone[0].AccountPhone | mask:'(999) 999-9999'"></label></div>
                                                    <!--<div hfc-contact-overlay="" con="Order.InstallAddress">
                                        <label class="ldet_label">
                                            <a href="" class="hquote_hover">{{Order.InstallAddress.ContactName}}</a>
                                        </label>
                                        <div class="contactCanvas" style="height:auto; width:500px !important;">
                                        </div>
                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="text_detlabel w-100 text-left">Installation Address</label>
                                                <div>
                                                    <address class="inline-relative" hfc-googlemaps="" addr="Order.InstallAddress">
                                                        <a style="color:#3e7d8a; font-size:12px;" target="_blank" href="" ng-cloak ng-href="{{GetGoogleAddressHref(Order.InstallAddress)}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP(0)">
                                                            {{Order.InstallAddress.Address1}} {{Order.InstallAddress.Address2}} {{Order.InstallAddress.City}} {{Quotation.InstallAddress.State}} {{Order.InstallAddress.ZipCode}}
                                                        </a>
                                                        <div class="mapCanvas"></div>
                                                    </address>
                                                    <label ng-show="Order.InstallAddress.IsValidated==false" data-tooltip="Invalid Address" class="ldet_label error">
                                                        <i class="fa fa-exclamation-triangle"></i>
                                                    </label>
                                                    <label ng-show="Order.InstallAddress.IsValidated==true" data-tooltip="Address Validated" class="ldet_label error">
                                                        <i class="fas fa-check-circle quote_radiobut"></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <!--<div class="source-group row" style="padding:0 15px 15px 15px;">
                                <label class="col-sm-3 col-xs-3 text_detlabel text-left">Contact</label>
                                <div class="col-sm-9 col-xs-9">
                                    <div hfc-contact-overlay="" con="Order.InstallAddress">
                                        <label class="ldet_label">
                                            <a href="" class="hquote_hover">{{Order.InstallAddress.ContactName}}</a>
                                        </label>
                                        <div class="contactCanvas" style="height:auto; width:500px !important;">
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                                            <div class="source-group row">
                                                <label class="text_detlabel w-100 text-left">Billing Address</label>
                                                <div>
                                                    <address class="inline-relative" hfc-googlemaps="" addr="Order.BillAddress">
                                                        <a style="color:#3e7d8a; font-size:12px;" target="_blank" href="" ng-cloak ng-href="{{GetGoogleAddressHref(Order.BillAddress)}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP(0)">
                                                            {{Order.BillAddress.Address1}} {{Order.BillAddress.Address2}} {{Order.BillAddress.City}} {{Quotation.BillAddress.State}} {{Order.BillAddress.ZipCode}}
                                                        </a>
                                                        <div class="mapCanvas"></div>
                                                    </address>
                                                    <label ng-show="Order.BillAddress.IsValidated==false" data-tooltip="Invalid Address" class="ldet_label error">
                                                        <i class="fa fa-exclamation-triangle"></i>
                                                    </label>
                                                    <label ng-show="Order.BillAddress.IsValidated==true" data-tooltip="Address Validated" class="ldet_label error">
                                                        <i class="fas fa-check-circle quote_radiobut"></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <!--<div class="source-group row" style="padding:0 0 20px 15px;">
                                <label class="col-sm-3 col-xs-3 text_detlabel text-left">Contact</label>
                                <div class="col-sm-9 col-xs-9">
                                    <div hfc-contact-overlay="" con="Order.BillAddress">
                                        <label class="ldet_label">
                                            <a href="" class="hquote_hover">{{Order.BillAddress.ContactName}}</a>
                                        </label>
                                        <div class="contactCanvas" style="height:auto; width:500px !important;">
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--End New Design-->


                    <ul kendo-panel-bar id="panelbar">
                        <li id="panelbarQuoteLine"  class="k-item k-state-default k-first k-state-highlight k-state-active" role="menuitem" aria-expanded="true" aria-selected="true">
                            <!--<label class="col-xs-3 text_detlabel"><span class="radres_label">Order Lines</span></label>-->
                            <button   id="btnCaret" class="k-icon k-i-expand" title="Selecting Caret will expand all quote lines" style="float:left;margin: 0px 5px 0px 0px;

    background: none;
    border: none;
    color: #000 !important;
    font-size: 20px;" aria-label="Expand"></button> <button  id="btnCaret1" class="k-icon k-i-collapse" title="Selecting Caret will collapse all quote lines" style="float:left;margin: 0px 5px 0px 0px;
    background: none;
    border: none;
    color: #000 !important;
    font-size: 20px;" aria-label="Collapse"></button>

                            <span style="font-weight:bold; width:100%;">
                                <p style="float:left; margin:0 30px 0 0 !important;">Total Lines<label ng-bind="quoteLineLength" style="background:#fff; margin-left:10px; padding: 0px 6px; line-height: 20px; text-align: center; color:#000;"></label></p><p style="float:left; margin:0 !important;">Total QTY<label ng-bind="quoteLineQtyTotal" style="background:#fff; padding: 0px 6px; margin-left:10px; line-height: 20px; text-align: center; color:#000;"></label></p>

                                <!--<p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{orderLineLength}}</p>-->
                            </span>
                            <kendo-tooltip options="tooltipOptions">
                                <kendo-grid id="QuotelinesGrid" options="quoteLinesOptions">
                                </kendo-grid>
                            </kendo-tooltip>
                        </li>
                        <li id="paymentPanel">
                            <!--<label class="col-xs-3 text_detlabel"><span class="radres_label">Payments</span></label>-->
                            <!--<span class="text_detlabel radres_label">Payments</span>-->
                            <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Payments</p><p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{Order.OrderPayments.length}}</p></span>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead class="expand_lhead">
                                        <tr>
                                            <th>Payment ID</th>
                                            <th>Method</th>
                                            <th>Authorization</th>
                                            <th>Payment Date</th>
                                            <th>Amount</th>
                                            <th>Memo</th>
                                            <th>Reverse Reason</th>

                                            <th ng-hide="Order.OrderStatus==6 || Order.OrderStatus==9">
                                                <button ng-if="Permission.AddPayment" type="button" class="plus_but tooltip-bottom" data-tooltip="Add Payment" ng-click="AddNewPayment(Ordeer.OrderID)"><i class="far fa-plus-square"></i></button>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody class="ng-scope">
                                        <tr ng-repeat="p in Order.OrderPayments">
                                            <td class="ng-binding"><span class='Grid_Textalign'>{{p.PaymentID}}</span></td>
                                            <td class="ng-binding">{{p.Method}}</td>
                                            <td class="ng-binding">{{p.Authorization}}</td>
                                            <td class="ng-binding">{{p.PaymentDate|GlobalTime: 'shortDate' }}</td>
                                            <td class="ng-binding"><span class='Grid_Textalign'>{{p.Amount| GlobalCurrency}}</span></td>
                                            <td class="ng-binding">{{p.Memo}}</td>
                                            <td class="ng-binding">{{p.Reason}}</td>
                                            <td>
                                                <ul ng-hide="p.Reversal==true || Order.OrderStatus==6 || Order.OrderStatus==9" class="additionalcontact_list">
                                                    <li>
                                                        <ul>
                                                            <li class="dropdown note1">
                                                                <div class="dropdown">
                                                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                                        <i class="fa fa-ellipsis-h dot_icon" aria-hidden="true"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu pull-right additionalcontact_sublist">
                                                                        <li ng-if="Permission.ReversePayment"><a ng-click="AddReversePayment('paymentModal',p.PaymentID)">Reverse Payment</a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <!--<li id="invoicesPanel">
                            <span class="text_detlabel radres_label"><label class="text_detlabel">Invoices</label></span>
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-expand">
                                        <thead class="expand_lhead">
                                        <tr>
                                            <th>Invoice ID</th>
                                            <th>Invoice Type</th>
                                            <th>Invoice Date</th>
                                            <th>Total Amount</th>
                                            <th>Balance</th>
                                            <th></th>
                                            <th>
                                                <button type="button" class="plus_but tooltip-bottom" data-tooltip="Create Invoice" ng-click="CreateInvoice()"><i class="fa fa-plus-square-o"></i></button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="I in Order.OrderInvoices" class="ng-scope">
                                        <tr>
                                            <td class="ng-binding">{{I.InvoiceId}}</td>
                                            <td class="ng-binding">{{I.InvoiceType}}</td>
                                            <td class="ng-binding">{{I.InvoiceDate|GlobalTime: 'short' }}</td>
                                            <td class="ng-binding">{{I.TotalAmount| GlobalCurrency}}</td>
                                            <td class="ng-binding">{{I.Balance| GlobalCurrency}}</td>
                                            <td>

                                                <div class="btn-group">
                                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-h dot_icon" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" style="z-index: 1;">
                                                        <li>
                                                            <a href="javascript:void(0)" ng-click="EmailInvoice('emailInvoiceModal',I.InvoiceId)">Email</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)" ng-click="PrintInvoice(Order.OrderID,I.InvoiceId)">Print</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)" ng-click="DownloadInvoice(Order.OrderID,I.InvoiceId)">Download</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>-->
                        <li id="notesPanel">
                            <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Notes & Attachments</p>
                                <input type="checkbox" ng-click="refreshNotesGrid()"
                                       ng-model="External.Notes" style="margin-left:30px;" class="cbSelect" /> Show Deleted Notes & Attachments
                            <p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{NoteServiceTP.NoteList.length}}</p></span>
                            <div class="kendo_leadpanel">
                                <hfc-note-list  is-edit="{{PermissionEditOrder}}"></hfc-note-list>
                            </div>
                            <!--<span class=" text_detlabel radres_label">Notes & Attachments</span>-->
                            <!--<span class="text_detlabel radres_label"><label class="text_detlabel">Notes & Attachments</label></span>
                            <div>
                                <div class="sub_expandlead" ng-show="OrderNotesAttachments">
                                    <hfc-note-list></hfc-note-list>
                                </div>
                            </div>-->
                        </li>
                    </ul>
                </div>
            </form>

            <div ng-include="'/app/views/Quote/HeaderNotes.html'"></div>

            <script id="toolbarTemplatee" type="text/x-kendo-template">
                <div class="lead_butns" style="margin:5px;" ng-show="false">
                    <button type="button" class="tooltip-bottom cancel_tpbut ng-scope" data-tooltip="Add Note" ng-click="AddMultipleNotes(Quotation)">
                        <i class="far fa-comments" aria-hidden="true"></i>
                    </button>
                </div>
            </script>

            <hfc-note-modal></hfc-note-modal>
            <hfc-lead-source-modal modal-id="leadSourceModal" source-id="LeadSourcesList.Id"></hfc-lead-source-modal>
            <hfc-address-modal modal-id="addressModal" lead-id="{{Lead.LeadId}}"></hfc-address-modal>
            <hfc-person-modal modal-id="personModal"></hfc-person-modal>
            <hfc-person-modal-new modal-id="personModalmodified"></hfc-person-modal-new>
            <hfc-person-modal-source modal-id="sourcefile"></hfc-person-modal-source>
            <hfc-error-modal modal-id="error"></hfc-error-modal>
            <Hfc-Tax-Details modal-id="taxDetailsSummary"> </Hfc-Tax-Details>

            <div id="loading" style="display: none;">
                <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
            </div>
        </div>
</div>
<div class="modal fade" id="paymentModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog reverse_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Reverse Payment</h4>
                <button type="button" class="close popup_close" ng-click="CancelPayment('paymentModal')" aria-hidden="true">&times;</button>
           </div>

            <form name="Payment_addint" role="form" novalidate ng-submit="SavePayment()">
                <div class="modal-body reversepayment_popup">
                    <div class="leadgrid_box">
                        <div class="lead_rtop row">
                            <div class="col-xs-12 col-sm-12 col_1">
                                <div class="form-group row">
                                        <label class="col-2 text_detlabel">
                                            Warning:
                                        </label>
                                        <label class="col-10 ldet_label">
                                            You are reversing a customer payment. This will not be reflected in your instance of Quick Books. You or your accountant will need to manually post the appropriate transaction in Quick Books to reflect this payment reversal
                                        </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col_1">
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Opportunity Name</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.order.Opportunity}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Sidemark</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.order.SideMark}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Account</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.order.AccountName}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Installation Address</label>
                                    <div class="col-9">
                                        <label class="ldet_label">
                                            {{Payment.order.InstallationAddress}}
                                        </label>
                                    </div>
                                </div>
                                <div class="row orderpayment_group mb-0">
                                    <div class="col-sm-6 col-xs-6 row no-margin">
                                        <label class="col-5 text_detlabel">Total</label>
                                        <div class="col-7">
                                            <label class="ldet_label">{{Payment.order.OrderTotal| GlobalCurrency}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 payment_groupverified">
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel checkno_field">Balance Due</label>
                                            <div class="col-7">
                                                <label class="ldet_label">{{Payment.order.BalanceDue| GlobalCurrency}}</label>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group row">
                                    <label class="col-xs-4 text_detlabel">Total</label>
                                    <div class="col-xs-8">
                                        <label class="ldet_label">{{Payment.order.OrderTotal| GlobalCurrency}}</label>
                                    </div>
                                </div>-->
                                <!--<div class="form-group row" ng-hide="Payment.chkReversal==true">
                                    <label class="col-xs-3 text_detlabel">Pay Balance?</label>
                                    <div class="col-xs-9">
                                        <label class="ldet_label"><input type="checkbox" class="option-input checkbox ng-pristine ng-valid ng-empty ng-touched" ng-model="Payment.PayBalance" disabled></label>
                                    </div>
                                </div>-->

                                <div class="row orderpayment_group">
                                    <div class="col-sm-6 col-xs-6 row no-margin"
                                         ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_method.$modelValue== 0 ||
                                     Payment_addint.Pay_method.$modelValue=='')]">
                                        <label class="col-5 required_label">Payment Method</label>
                                        <div class="col-7">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white ng-pristine ng-valid ng-not-empty ng-touched"
                                                        ng-model="Payment.PaymentMethod"
                                                        ng-options="item.Id as item.PaymentMethod for item in PaymentMethods"
                                                        name="Pay_method" required>
                                                    <option value="" disabled selected> Select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 payment_groupverified">
                                        <!--<div class="row" ng-show="Payment.PaymentMmentMethod"></div>-->
                                        <div class="row" ng-show="Payment.PaymentMethod==2">
                                            <label class="col-3 required_label checkno_field">Check Number </label>
                                            <div class="col-7">
                                                <input ng-required="Payment.PaymentMethod==2" type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Check Number" ng-model="Payment.CheckNumber" name="Check" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row" ng-show="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9">
                                            <label class="col-3 required_label checkno_field">Verification</label>
                                            <div class="col-7">
                                                <input ng-required="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9" type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Verification" ng-model="Payment.VerificationCheck" name="Verification" ng-minlength="1" ng-maxlength="100" required="">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row" ng-show="Payment.PaymentMethod==10">
                                            <label class="col-3 required_label checkno_field">Authorization</label>
                                            <div class="col-7">
                                                <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Authorization" ng-model="Payment.Authorization" name="Authorization" ng-minlength="1" ng-maxlength="100" maxlength="100" ng-required="Payment.PaymentMethod==10">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="form-group row" ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_method.$modelValue== null ||
                                     Payment_addint.Pay_method.$modelValue=='')]">
                                    <label class="col-xs-4 text_detlabel">Payment Method*</label>
                                    <div class="col-xs-8">
                                        <select class="form-control frm_controllead1 ng-pristine ng-valid ng-not-empty ng-touched" name="Pay_method" ng-model="Payment.PaymentMethod" ng-options="item.Id as item.PaymentMethod for item in OrderPaymentMethods">
                                            <option value="" class="placeholder"> Select </option>
                                        </select>
                                    </div>
                                </div>-->
                                <div class="row orderpayment_group">
                                    <div class="col-sm-6 col-xs-6 row no-margin">
                                        <label class="col-5 required_label">Payment Date</label>
                                        <div class="col-7">
                                            <input class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                                   required="" style="width:50%;margin-right:2%"
                                                   type="text" name="fromDate"
                                                   ng-model="Payment.PaymentDate"
                                                   ng-value="Payment.PaymentDate|GlobalTime:'shortDate'"
                                                   placeholder="Start Date" data-date-format="MM/dd/yyyy"
                                                   data-autoclose="true"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 row no-margin"
                                         ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_reverse.$modelValue== 0 ||
                                     Payment_addint.Pay_reverse.$modelValue==''||Payment_addint.Pay_reverse.$modelValue==null)]">

                                        <label class="col-5 required_label">Reason</label>
                                        <div class="col-7">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white ng-pristine ng-valid ng-not-empty ng-touched"
                                                        ng-model="Payment.ReasonCode"
                                                        ng-options="item.ReasonCodeId as item.Reason for item in ReversalReason"
                                                        name="Pay_reverse" required>
                                                    <option value="" disabled selected> Select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group row">
                                    <label class="col-xs-3 required_label">Payment Date*</label>
                                    <div class="col-xs-9">
                                        <input class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched" required="" style="width:50%;margin-right:2%" type="text" name="fromDate" ng-model="Payment.PaymentDate" placeholder="Start Date" data-date-format="MM/dd/yyyy" data-autoclose="true" bs-datepicker="">
                                    </div>
                                </div>-->
                                <div class="row orderpayment_group">
                                    <div class="col-sm-6 col-xs-6 row no-margin" ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_Amount.$invalid)]">
                                        <label class="col-5 required_label">Amount</label>
                                        <div class="col-7">
                                            <div style="cursor: not-allowed;">
                                                <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched required_field"
                                                       blur-to-currency amount="Payment.Amount" control="CostCurrencyControl" placeholder="$0.00" name="Pay_Amount" ng-minlength="1" ng-maxlength="100" maxlength="100" style="width:50%; pointer-events:none;" required="" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-sm-6 col-xs-6 payment_groupverified">
                                        <label class="col-xs-5 required_label reversal_chkbox" style="text-align:left !important;">
                                            <input type="checkbox" class="option-input checkbox ng-pristine ng-valid ng-empty ng-touched" id="chkReversal" ng-model="Payment.chkReversal" disabled>
                                            Reversal
                                        </label>
                                        <div class="col-xs-7"></div>
                                    </div>-->
                                </div>
                                <!--<div class="form-group row" ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_Amount.$invalid)]">
                                    <label class="col-xs-4 required_label">Amount*</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched required_field"
                                               placeholder="Amount" ng-model="Payment.Amount" name="Pay_Amount" ng-minlength="1" ng-maxlength="100" maxlength="100" style="width:50%" required="" ng-change="PayBalanceAmount()">
                                    </div>
                                </div>-->
                                <div class="form-group row">
                                    <label class="col-3 required_label">Memo</label>
                                    <div class="col-9">
                                        <textarea placeholder="" multiple maxlength="500" style="width:440px; height: 85px; margin: 0px;" id="txtDesciption" ng-model="Payment.Memo" />
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_2">

                                    <div class="form-group row">
                                        <label class="col-xs-3 text_detlabel"></label>
                                        <div class="col-xs-9">
                                            <label class="ldet_label"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xs-3 text_detlabel"></label>
                                        <div class="col-xs-9">
                                            <label class="ldet_label"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xs-3 text_detlabel"></label>
                                        <div class="col-xs-9">
                                            <label class="ldet_label"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xs-3 text_detlabel"></label>
                                        <div class="col-xs-9">
                                            <label class="ldet_label"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xs-3 text_detlabel">Balance Due</label>
                                        <div class="col-xs-9">
                                            <label class="ldet_label">{{Payment.order.BalanceDue| currency:"$"}}</label>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xs-3 text_detlabel">Balance Due</label>
                                            <div class="col-xs-9">
                                                <label class="ldet_label">{{Payment.order.BalanceDue| GlobalCurrency}}</label>
                                            </div>

                                        <div class="form-group row">
                                            <label class="col-xs-3 text_detlabel">Balance Due</label>
                                            <div class="col-xs-9">
                                                <label class="ldet_label">{{Payment.order.BalanceDue| currency:"$"}}</label>
                                            </div>

                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xs-3 text_detlabel"></label>
                                        <div class="col-xs-9">
                                            <label class="ldet_label"></label>

                                        </div>
                                    </div>

                                    <div>
                                    <div class="form-group row" ng-show="Payment.PaymentMethod==2">

                                        <label class="col-xs-3 required_label">Check Number </label>
                                        <div class="col-xs-9">

                                            <input type="text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Check Number" ng-model="Payment.CheckNumber" name="location" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row" ng-show="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9">
                                        <label class="col-xs-3 required_label">Verification</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Verification" ng-model="Payment.VerificationCheck" name="location" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row" ng-show="Payment.PaymentMethod==10">
                                        <label class="col-xs-3 required_label">Authorization</label>
                                        <div class="col-xs-9">

                                            <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Authorization" ng-model="Payment.Authorization" name="location" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!--<End hello world>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelPayment('paymentModal')">Cancel</button>
                        <button type="submit" class="btn btn-cancel" ng-click="SaveReversePayment('paymentModal',this)">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="emailInvoiceModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content w-100">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">From: <span ng-bind="EmailService.PersonPrimaryEmail"></span></h4>
                <button type="button" class="close popup_close" ng-click="CancelEmailInvoice('emailInvoiceModal')" aria-hidden="true">&times;</button>
             </div>
            <form name="frmEmailInvoice" role="form" novalidate ng-submit="SendInvoiceEmail()">
                <div class="modal-body">
                    <div class="leadgrid_box">
                        <div class="lead_rtop row">
                            <!--<div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">-->
                            <div class="col-xs-12 col-sm-12 col-lg-8 col-xl-8 order_row">

                                <div class="form-group row ml-0 mr-0"
                                     ng-class="{true: 'has-error'}[SubmitEmail && frmEmailInvoice.To.$invalid]">
                                    <label class="col-sm-3 required_label">To</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-order required_field" name="To"
                                               ng-model="EmailService.ToAddresses" placeholder="Required" required
                                               maxlength="50">
                                    </div>
                                </div>

                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 required_label">CC</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-order">
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 required_label">BCC</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-order" name="Bcc" ng-model="EmailService.BccAddresses" placeholder="" required="" maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 required_label">Subject</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-order" placeholder="Subject" name="Subject" ng-required="true" maxlength="128" ng-model="EmailService.Subject">
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0" ng-show="EmailService.AttachmentLink && EmailService.AttachmentText">
                                    <label class="col-sm-3 text_detlabel">Attachment</label>
                                    <div class="col-sm-9">
                                        <a target="_blank" href="{{EmailService.AttachmentLink}}" ng-bind="EmailService.AttachmentText"></a>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Message</label>
                                    <div class="col-sm-9">
                                        <summernote on-init="init(editor)" ng-model="EmailService.Body" config="{ height: 140,  toolbar: [ ['edit', ['undo', 'redo']], ['headline', ['style']],
                    ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
                    ['fontface', ['fontname']],
                    ['textsize', ['fontsize']],
                    ['color', ['color']],
                    ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']], ['insert', ['link']], ['misc', ['undo', 'redo']] ]  }"></summernote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<End hello world>-->
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelEmailInvoice('emailInvoiceModal')">Cancel</button>
                        <button type="submit" class="btn btn-cancel" ng-click="SendInvoiceEmail('emailInvoiceModal')">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--contracted date table popup-->
<div class="modal fade" id="_statusModal_" style="height:auto;">
    <div class="modal-content">
        <div class="popup_procurement" >
            <table class="table table-striped" style="border:1px solid #000;">
                <thead>
                    <tr style="background:#d2d2d2;">
                        <th>Contracted Date was Edited</th>
                        <th class="rightquote_table" style="border-left:1px solid #000;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Changed By</td>
                        <td class="rightquote_table"><label class="ldet_label">{{Order.ContractedDateUpdatedBy_Name}}</label></td>
                    </tr>
                    <tr>
                        <td>Changed On</td>
                        <td class="rightquote_table"><label class="ldet_label">{{Order.ContractedDateUpdatedOn|ignoreTimeZone: "short"}}</label></td>
                    </tr>
                    <tr>
                        <td>Previous Contracted Date</td>
                        <td class="rightquote_table"><label class="ldet_label">{{Order.PreviousContractedDate|GlobalTime:'shortDate'}}</label></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!--</div>-->
</div>
<!--Installtion packet popup-->
<div class="modal fade" id="Installationprint" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Select Items Print</h4>
                <button type="button" class="close popup_close" ng-disabled="IsBusy" ng-click="CancelPrintEditor('Installationprint')" aria-hidden="true">&times;</button>
            </div>
            <form ng-submit="PrintInstallationPacket()" role="form">
                <div class="modal-body">

                    <i>At least one (1) selection is required</i>
                    <div ng-if="PrintOrderOptions.AddCustomerOpportunity==false &&
                         PrintOrderOptions.AddGoogleMap==false &&
                         PrintOrderOptions.AddExistingMeasurements==false &&
                         PrintOrderOptions.AddPrintInternalNotes==false &&
                         PrintOrderOptions.AddPrintExternalNotes==false &&
                         PrintOrderOptions.AddPrintDirectionNotes==false &&
						 PrintOrderOptions.AddOrder ==false &&
						 PrintOrderOptions.AddInstallationChecklist ==false &&
						 PrintOrderOptions.AddWarrantyInformation ==false" style="color:red">
                        <p>Providing at least one option is mandatory.</p>
                    </div>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddCustomerOpportunity" value="Customer/Opportunity" id="checkbox1">
                        <label class="checkbox" for="checkbox1">Lead/Customer and Opportunity details(with Zillow info)</label>
                    </span>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print1" ng-model="PrintOrderOptions.AddGoogleMap" value="Google map" id="checkbox2">
                        <label class="checkbox" for="checkbox2">Google map</label>
                    </span>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print2" ng-model="PrintOrderOptions.AddExistingMeasurements" value="Measurement Form" id="checkbox3">
                        <label class="checkbox" for="checkbox3">Existing Measurements</label>
                    </span>

                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddPrintInternalNotes" value="Internal Notes" id="checkbox4">
                        <label class="checkbox" for="checkbox4">Internal Notes (With Watermark)</label>
                    </span>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddPrintExternalNotes" value="External Notes" id="checkbox5">
                        <label class="checkbox" for="checkbox5">External Notes</label>
                    </span>

                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddPrintDirectionNotes"
                               value="External Notes" id="checkboxdirectionnotes">
                        <label class="checkbox" for="checkboxdirectionnotes">Direction Notes</label>
                    </span>

                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddOrder" value="Order" id="checkbox6">
                        <label class="checkbox" for="checkbox6">Order</label>
                    </span>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddInstallationChecklist" value="Installation Checklist" id="checkbox7">
                        <label class="checkbox" for="checkbox7">Installation Checklist</label>
                    </span>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddWarrantyInformation" value="Warranty Information" id="checkbox8">
                        <label class="checkbox" for="checkbox8">Warranty Information</label>
                    </span>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" data-dismiss="modal" ng-disabled="IsBusy" class="btn btn-cancel">Cancel</button>
                        <button type="submit" ng-disabled="PrintOrderOptions.AddCustomerOpportunity==false &&
                         PrintOrderOptions.AddGoogleMap==false &&
                         PrintOrderOptions.AddExistingMeasurements==false &&
                         PrintOrderOptions.AddPrintInternalNotes==false &&
                         PrintOrderOptions.AddPrintExternalNotes==false &&
                         PrintOrderOptions.AddPrintDirectionNotes==false &&
						 PrintOrderOptions.AddOrder ==false &&
						 PrintOrderOptions.AddInstallationChecklist ==false &&
						 PrintOrderOptions.AddWarrantyInformation ==false" class="btn btn-cancel" id="btnSubmit">
                            Print
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--this is to display pop up on contact hover-->
<div ng-include="'/Templates/NG/LinkedList/Hfc-additional-contact-display.html'"></div>
<!-- Kendo panelbar checkbox -->
<script>
    $("#panelbar").on("click", "input.cbSelect", function (evt) {
        evt.stopPropagation();
    })
</script>
<!-- End Kendo panelbar checkbox -->

<iframe id="print_frame" style="visibility: hidden; height: 0px; width: 0px"></iframe>
<!--<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
<!---- dropdown ---->
<!--<script>
    var addClass = function (el, className) {
        if (el.classList) {
            el.classList.add(className);
        } else {
            el.className += ' ' + className;
        }
    },
        hasClass = function (el, className) {
            return el.classList ?
                el.classList.contains(className) :
                new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);
        },
        removeClass = function (el, className) {
            if (el.classList) {
                el.classList.remove(className);
            } else {
                el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            }
        },
        updateSelectPlaceholderClass = function (el) {
            var opt = el.options[el.selectedIndex];
            if (hasClass(opt, "placeholder")) {
                addClass(el, "placeholder");
            } else {
                removeClass(el, "placeholder");
            }
        },
        selectList = document.querySelectorAll("select");
    for (var i = 0; i < selectList.length; i++) {
        var el = selectList[i];
        updateSelectPlaceholderClass(el);
        el.addEventListener("change", function () {
            updateSelectPlaceholderClass(this);
        });
    }
</script>-->
<style type="text/css">
    /*.k-state-selected {
        color: black !important;
        background-color: #aaabae !important;
        border-color: none !important;
    }*/
    .k-reset {
        padding: 0px !important;
    }
</style>