﻿<!--TODO this should be define in Layout page-->

<style>
    .error {
        color: red;
    }

    .panel-body span.k-icon.k-i-arrow-60-down.k-panelbar-expand {
        display: none;
    }

    .panel-body .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-active) .k-icon, .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-expanded) .k-icon {
        display: none;
    }

    .k-panelbar > .k-item.k-state-active > .k-link .k-icon, .k-panelbar > .k-item.k-state-expanded > .k-link .k-icon {
        display: none;
    }
    #taxDetailsGrid .k-grid-content.k-auto-scrollable {
       height: 100% !important;
    }
</style>
<!--<script src="https://hfc.picbusiness.com/Maintenance/Products/JS/ConfigEngine.obf.js"></script>-->
<div id="loading" style="display: none;">
    <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
</div>
<div class="outter-wp">
    <div class="tab_container">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li class="activelead1" rel="tab6">
                    <h3><i class="far fa-user fa_icon"></i><br />Information</h3>
                </li>
                <!--<li class="tab_last"><h3 ng-click="returnToOrderList()"><i class="return_icon"></i><br />Return</h3></li>-->
            </ul>

            <div class="leaddetail_butns">
                <!--<button type="reset" class="btn btn-primary cancel_but" ng-disabled="IsBusy" ng-click="SetInstallationAppointment('persongo',Order.OrderID)"> Set Appointment</button>-->
                <button ng-if="Permission.EditOrder && !(Order.OrderStatus==9 ||Order.OrderStatus==6) " type="button" class="plus_but tooltip-bottom" data-tooltip="Edit Order" ng-click="ClickMeToRedirectEditOrder(Order.OrderID)">
                    <i class="far fa-pen"></i>
                </button>
                <button ng-show="(Permission.ConvertBuyerRemorse && !(Order.OrderStatus==9 ||Order.OrderStatus==6)|| (Permission.ConvertBuyerOverride && Order.OrderStatus==7)) && (Permission.ConvertOrder && !Order.MpoExists)" class="plus_but tooltip-bottom" type="button" data-tooltip="Create MPO" ng-click="ConvertTheOrderToMasterPO()"><i class="fa fa-exchange"></i></button>

                <a href="javascript:void(0)" ng-show="ShowCreateCaseIcon" ng-click="gotoCaseAddEditwithMPO()"><img src="../../../Content/images/radioactive.png" style="width:22px;vertical-align: text-bottom;
    margin-left: 5px;"/></a>

                <!--<button ng-show="((Order.OrderStatus==9 ||Order.OrderStatus==6)|| (Order.OrderStatus==7)) && (!Order.MpoExists)" class="plus_but tooltip-bottom" type="button" data-tooltip="Create Sales Order" ng-click="ConvertTheOrderToMasterPO()"><i class="fa fa-exchange"></i></button>-->
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tab_container tp_content">
            <div class="error" ng-if="!Permission.ViewOrder">
                You don't have permission to this page.
            </div>
            <form id="crm-lead-detail" name="formorder" ng-submit="SaveOrder()">
                <div class="p-3" ng-show="Permission.ViewOrder">
                    <div class="leadgrid_box">
                        <div class="lead_rtop row">
                            <!--<div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">-->
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Order Id</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.OrderNumber}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Order Name</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.OrderName}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Sales Agent</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.SalesAgent}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Sidemark</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.SideMark}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Account Name</label>
                                    <div class="col-9">
                                        <label class="ldet_label"><a class="hquote_hover" href="#!/Accounts/{{Order.AccountId}}">{{Order.AccountName}}</a></label>
                                        <!--<label class="ldet_label">{{Order.AccountName}}</label>-->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Opportunity</label>
                                    <div class="col-9">
                                        <label class="ldet_label"><a class="hquote_hover" href="#!/OpportunityDetail/{{Order.OpportunityId}}">{{Order.Opportunity}}</a></label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Quote ID</label>
                                    <div class="col-9">
                                        <label class="ldet_label"><a class="hquote_hover" href="#!/quote/{{Order.OpportunityId}}/{{Order.QuoteKey}}">{{Order.Quote.QuoteID}}</a></label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Installation Address</label>
                                    <div class="col-9">
                                        <address class="inline-relative" hfc-googlemaps="" addr="Order.InstallAddress">
                                            <a style="color: rgb(61,125,139)" target="_blank" href="" ng-cloak ng-href="{{GetGoogleAddressHref(Order.InstallAddress)}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP(0)">
                                                {{Order.InstallAddress.Address1}} {{Order.InstallAddress.Address2}} {{Order.InstallAddress.City}} {{Quotation.InstallAddress.State}} {{Order.InstallAddress.ZipCode}}
                                            </a>
                                            <div class="mapCanvas"></div>
                                        </address>
                                        <label ng-show="Order.InstallAddress.IsValidated==false" data-tooltip="Invalid Address" class="ldet_label error">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </label>
                                        <label ng-show="Order.InstallAddress.IsValidated==true" data-tooltip="Address Validated" class="ldet_label error">
                                            <i class="fas fa-check-circle" style="color:green;"></i>
                                        </label>
                                        <!--<label class="ldet_label">{{Order.InstallationAddress}}</label>-->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Contact</label>
                                    <div class="col-9">
                                        <div hfc-contact-overlay="" con="Order.InstallAddress">
                                            <label class="ldet_label">
                                                <a href="" class="hquote_hover">{{Order.InstallAddress.ContactName}}</a>
                                            </label>
                                            <div class="contactCanvas" style="height:auto; width:500px !important;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Billing Address</label>
                                    <div class="col-9">
                                        <address class="inline-relative" hfc-googlemaps="" addr="Order.BillAddress">
                                            <a style="color: rgb(61,125,139)" target="_blank" href="" ng-cloak ng-href="{{GetGoogleAddressHref(Order.BillAddress)}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP(0)">
                                                {{Order.BillAddress.Address1}} {{Order.BillAddress.Address2}} {{Order.BillAddress.City}} {{Quotation.BillAddress.State}} {{Order.BillAddress.ZipCode}}
                                            </a>
                                            <div class="mapCanvas"></div>
                                        </address>
                                        <label ng-show="Order.BillAddress.IsValidated==false" data-tooltip="Invalid Address" class="ldet_label error">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </label>
                                        <label ng-show="Order.BillAddress.IsValidated==true" data-tooltip="Address Validated" class="ldet_label error">
                                            <i class="fas fa-check-circle" style="color:green;"></i>
                                        </label>
                                        <!--<label class="ldet_label">{{Order.BillingAddress}}</label>-->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Contact</label>
                                    <div class="col-9">
                                        <div hfc-contact-overlay="" con="Order.BillAddress">
                                            <label class="ldet_label">
                                                <a href="" class="hquote_hover">{{Order.BillAddress.ContactName}}</a>
                                            </label>
                                            <div class="contactCanvas" style="height:auto; width:500px !important;">
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_2">
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Order Status</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.OrderStatusText}}</label>
                                    </div>
                                </div>
                                <div class="form-group row" ng-show="Order.OrderStatus==6||Order.OrderStatus==9">
                                    <label class="col-3 text_detlabel">Cancel Reason</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.CancelReason}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Contracted Date</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.ContractedDate|ignoreTimeZone: "shortDate" }}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Created On</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.CreatedOn|ignoreTimeZone: "short" }}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Last Update</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.LastUpdate|ignoreTimeZone: "short" }}</label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 text_detlabel"></label>
                                    <div class="col-9">

                                        <div class="form-group">
                                            <ul class="opportunity_taxlist">
                                                <li ng-show="HFCService.FranchiseCountryCode == 'US'">
                                                    <input type="checkbox"
                                                           disabled
                                                           class="option-input checkbox"
                                                           ng-model="Order.IsTaxExempt">
                                                    <label class="taxlist_field">Tax Exempt </label>
                                                </li>

                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                    <div ng-class="{true: 'has-error'}">
                                                        <input type="checkbox" disabled class="option-input checkbox"
                                                               ng-model="Order.IsPSTExempt">
                                                        <label class="taxlist_field">PST Exempt </label>
                                                    </div>
                                                </li>
                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                    <div ng-class="{true: 'has-error'}">
                                                        <input type="checkbox" disabled class="option-input checkbox"
                                                               ng-model="Order.IsGSTExempt">
                                                        <label class="taxlist_field">GST Exempt </label>
                                                    </div>
                                                </li>
                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                    <div ng-class="{true: 'has-error'}">
                                                        <input type="checkbox" disabled class="option-input checkbox"
                                                               ng-model="Order.IsHSTExempt">
                                                        <label class="taxlist_field">HST Exempt </label>
                                                    </div>
                                                </li>
                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                    <div ng-class="{true: 'has-error'}">
                                                        <input type="checkbox" disabled class="option-input checkbox"
                                                               ng-model="Order.IsVATExempt">
                                                        <label class="taxlist_field">VAT Exempt</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div ng-class="{true: 'has-error'}">
                                                        <input type="checkbox" disabled class="option-input checkbox"
                                                               ng-model="Order.IsNewConstruction">
                                                        <label class="taxlist_field">New Construction</label>
                                                    </div>
                                                </li>
                                                <div class="clearfix"></div>
                                            </ul>

                                            <div class="source-group row" ng-show="Order.IsTaxExempt || Order.IsPSTExempt || Order.IsGSTExempt ||
                                                                            Order.IsHSTExempt || Order.IsVATExempt ">
                                                <div class="col-sm-6 no-padding">
                                                    <label class="text_detlabel"> Tax ID &nbsp;</label>
                                                    <label class="ldet_label" style="vertical-align: middle !important;">{{Order.TaxExemptID}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="lead_rtop row">

                            <!--<div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">-->
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Product SubTotal</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.ProductSubtotal| currency:"$"}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Additional Charges</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.AdditionalCharges| currency:"$"}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Total Discounts Applied</label>
                                    <div class="col-9">
                                        <label class="ldet_label">({{Order.OrderDiscount| currency:"$"}})</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Order SubTotal</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.OrderSubtotal| currency:"$"}}</label>
                                    </div>
                                </div>

                                <!--<div class="source-group row">
                                    <label class="col-3 text_detlabel">Tax</label>
                                    <div class="col-9 row">

                                        <div class="col-sm-3">
                                            <label ng-hide="Order.IsTaxExempt" class="ldet_label">{{Order.Tax| currency:"$"}}</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="checkbox" class="option-input checkbox" disabled ng-click="confirmTaxExempt()" ng-model="Order.IsTaxExempt" ng-checked='Order.IsTaxExempt'>
                                            <label class="text_detlabel" style="font-weight:600;">Tax Exempt&nbsp;&nbsp;&nbsp;</label>
                                            <label ng-hide="!Order.IsTaxExempt" class="text_detlabel">ID:</label>
                                            <label class="ldet_label" style="vertical-align:middle !important;" ng-bind="Order.TaxExemptID" ng-hide="!Order.IsTaxExempt" />
                                        </div>
                                    </div>
                                </div>-->
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Order Total</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.OrderTotal| currency:"$"}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Balance Due</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Order.BalanceDue| currency:"$"}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_2">



                                <div class="source-group row">
                                    <div class="col-sm-12 col-12">
                                        <div ng-show="!Order.UseTax || Order.Tax!=0">
                                            <div ng-show="!Order.IsTaxDisabled&&Order.TaxDetails!=null && Order.TaxDetails.length>0">
                                                <span><i class="fas fa-landmark" style="color:#000; font-size:20px;"></i></span>
                                                <label style="margin-top: 2%" class="required_label">Sales Tax Total: {{Order.Tax| currency:"$" }}</label>
                                                <kendo-grid id="taxDetailsGrid"
                                                            options="TaxDetailsLines"
                                                            style="font-size: 13px !important;">
                                                </kendo-grid>
                                            </div>
                                            <label ng-show="Order.IsTaxDisabled" style="margin-top: 2%;color:red;" class="required_label">Sales Tax feature has been disabled</label>

                                        </div>
                                        <label ng-show="Order.UseTax && Order.Tax==0" style="color:red;" class="required_label">Use Tax</label>
                                    </div>
                                </div>
                                <!--<div class="form-group row">
        <label class="col-3 text_detlabel">Balance Due</label>
        <div class="col-9">
            <label class="ldet_label">{{Order.BalanceDue| currency:"$"}}</label>
        </div>
    </div>-->
                            </div>
                        </div>
                    </div>

                    <ul kendo-panel-bar id="panelbar">
                        <li id="orderLinesPanel" style="border-bottom:1px solid #c1c1c1;">
                            <!--<label class="col-3 text_detlabel"><span class="radres_label">Order Lines</span></label>-->
                            <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Order Lines</p><p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{orderLineLength}}</p></span>
                            <kendo-tooltip options="tooltipOptions">
                                <kendo-grid id="QuotelinesGrid" options="quoteLinesOptions">
                                </kendo-grid>
                            </kendo-tooltip>
                        </li>
                        <li id="paymentPanel" style="border-bottom:1px solid #c1c1c1;">
                            <!--<label class="col-3 text_detlabel"><span class="radres_label">Payments</span></label>-->
                            <!--<span class="text_detlabel radres_label">Payments</span>-->
                            <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Payments</p><p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{Order.OrderPayments.length}}</p></span>
                            <div class="table-responsive">
                                <table class="table table-expand">
                                    <thead class="expand_lhead">
                                        <tr>
                                            <th>Payment ID</th>
                                            <th>Method</th>
                                            <th>Authorization</th>
                                            <th>Payment Date</th>
                                            <th>Amount</th>
                                            <th>Memo</th>
                                            <th>Reverse Reason</th>

                                            <th ng-hide="Order.OrderStatus==6 || Order.OrderStatus==9">
                                                <button ng-if="Permission.AddPayment" type="button" class="plus_but tooltip-bottom" data-tooltip="Add Payment" ng-click="AddNewPayment(Ordeer.OrderID)"><i class="far fa-plus-square"></i></button>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody ng-repeat="p in Order.OrderPayments" class="ng-scope">
                                        <tr>
                                            <td class="ng-binding">{{p.PaymentID}}</td>
                                            <td class="ng-binding">{{p.Method}}</td>
                                            <td class="ng-binding">{{p.Authorization}}</td>
                                            <td class="ng-binding">{{p.PaymentDate|GlobalTime: 'shortshortDate' }}</td>
                                            <td class="ng-binding">{{p.Amount| currency:"$"}}</td>
                                            <td class="ng-binding">{{p.Memo}}</td>
                                            <td class="ng-binding">{{p.Reason}}</td>
                                            <td ng-hide="p.Reversal==true || Order.OrderStatus==6 || Order.OrderStatus==9">
                                                <div class="btn-group">
                                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-h dot_icon" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" style="z-index: 1;">
                                                        <li ng-if="Permission.ReversePayment">
                                                            <a ng-click="AddReversePayment('paymentModal',p.PaymentID)">Reverse Payment </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <!--<li id="invoicesPanel">
                            <span class="text_detlabel radres_label"><label class="text_detlabel">Invoices</label></span>
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-expand">
                                        <thead class="expand_lhead">
                                        <tr>
                                            <th>Invoice ID</th>
                                            <th>Invoice Type</th>
                                            <th>Invoice Date</th>
                                            <th>Total Amount</th>
                                            <th>Balance</th>
                                            <th></th>
                                            <th>
                                                <button type="button" class="plus_but tooltip-bottom" data-tooltip="Create Invoice" ng-click="CreateInvoice()"><i class="fa fa-plus-square-o"></i></button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="I in Order.OrderInvoices" class="ng-scope">
                                        <tr>
                                            <td class="ng-binding">{{I.InvoiceId}}</td>
                                            <td class="ng-binding">{{I.InvoiceType}}</td>
                                            <td class="ng-binding">{{I.InvoiceDate|GlobalTime: 'short' }}</td>
                                            <td class="ng-binding">{{I.TotalAmount| currency:"$"}}</td>
                                            <td class="ng-binding">{{I.Balance| currency:"$"}}</td>
                                            <td>

                                                <div class="btn-group">
                                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-h dot_icon" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" style="z-index: 1;">
                                                        <li>
                                                            <a href="javascript:void(0)" ng-click="EmailInvoice('emailInvoiceModal',I.InvoiceId)">Email</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)" ng-click="PrintInvoice(Order.OrderID,I.InvoiceId)">Print</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)" ng-click="DownloadInvoice(Order.OrderID,I.InvoiceId)">Download</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>-->
                        <li id="notesPanel">
                            <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Notes & Attachments</p><p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{NoteServiceTP.NoteList.length}}</p></span>
                            <div>
                                <hfc-note-list></hfc-note-list>
                            </div>
                            <!--<span class=" text_detlabel radres_label">Notes & Attachments</span>-->
                            <!--<span class="text_detlabel radres_label"><label class="text_detlabel">Notes & Attachments</label></span>
                            <div>
                                <div class="sub_expandlead" ng-show="OrderNotesAttachments">
                                    <hfc-note-list></hfc-note-list>
                                </div>
                            </div>-->
                        </li>
                    </ul>
                </div>
            </form>

            <div ng-include="'/app/views/Quote/HeaderNotes.html'"></div>

            <script id="toolbarTemplatee" type="text/x-kendo-template">
                <div class="lead_butns" style="margin:5px;" ng-show="false">
                    <button type="button" class="tooltip-bottom cancel_tpbut ng-scope" data-tooltip="Add Note" ng-click="AddMultipleNotes(Quotation)">
                        <i class="far fa-comments" aria-hidden="true"></i>
                    </button>
                </div>
            </script>

            <hfc-note-modal></hfc-note-modal>
            <hfc-lead-source-modal modal-id="leadSourceModal" source-id="LeadSourcesList.Id"></hfc-lead-source-modal>
            <hfc-address-modal modal-id="addressModal" lead-id="{{Lead.LeadId}}"></hfc-address-modal>
            <hfc-person-modal modal-id="personModal"></hfc-person-modal>
            <hfc-person-modal-new modal-id="personModalmodified"></hfc-person-modal-new>
            <hfc-person-modal-source modal-id="sourcefile"></hfc-person-modal-source>
            <hfc-error-modal modal-id="error"></hfc-error-modal>
            <Hfc-Tax-Details modal-id="taxDetailsSummary"> </Hfc-Tax-Details>

            <div id="loading" style="display: none;">
                <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="paymentModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog reverse_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <button type="button" class="close popup_close" ng-click="CancelPayment('paymentModal')" aria-hidden="true">&times;</button>
                <h4 class="mx-auto modal-title">Reverse Payment</h4>
            </div>

            <form name="Payment_addint" role="form" novalidate ng-submit="SavePayment()">
                <div class="modal-body reversepayment_popup">
                    <div class="leadgrid_box">
                        <div class="lead_rtop row">
                            <div class="col-12 col-sm-12 col_1">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label class="col-2 text_detlabel">
                                            Warning:
                                        </label>
                                        <label class="col-10 ldet_label">
                                            You are reversing a customer payment. This will not be reflected in your instance of Quick Books. You or your accountant will need to manually post the appropriate transaction in Quick Books to reflect this payment reversal
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col_1">
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Opportunity Name</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.order.Opportunity}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Sidemark</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.Sidemark}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Account</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.order.AccountName}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Installation Address</label>
                                    <div class="col-9">
                                        <label class="ldet_label">
                                            {{Payment.order.InstallationAddress}}
                                        </label>
                                    </div>
                                </div>
                                <div class="row orderpayment_group mb-0">
                                    <div class="col-sm-6 col-6">
                                        <label class="col-5 text_detlabel">Total</label>
                                        <div class="col-7">
                                            <label class="ldet_label">{{Payment.order.OrderTotal| currency:"$"}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-6 payment_groupverified">
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel checkno_field">Balance Due</label>
                                            <div class="col-7">
                                                <label class="ldet_label">{{Payment.order.BalanceDue| currency:"$"}}</label>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group row">
                                    <label class="col-4 text_detlabel">Total</label>
                                    <div class="col-8">
                                        <label class="ldet_label">{{Payment.order.OrderTotal| currency:"$"}}</label>
                                    </div>
                                </div>-->
                                <!--<div class="form-group row" ng-hide="Payment.chkReversal==true">
                                    <label class="col-3 text_detlabel">Pay Balance?</label>
                                    <div class="col-9">
                                        <label class="ldet_label"><input type="checkbox" class="option-input checkbox ng-pristine ng-valid ng-empty ng-touched" ng-model="Payment.PayBalance" disabled></label>
                                    </div>
                                </div>-->

                                <div class="row orderpayment_group">
                                    <div class="col-sm-6 col-6"
                                         ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_method.$modelValue== 0 ||
                                     Payment_addint.Pay_method.$modelValue=='')]">
                                        <label class="col-5 required_label">Payment Method</label>
                                        <div class="col-7">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white ng-pristine ng-valid ng-not-empty ng-touched"
                                                        ng-model="Payment.PaymentMethod" style="padding:5px !important;"
                                                        ng-options="item.Id as item.PaymentMethod for item in PaymentMethods"
                                                        name="Pay_method" required>
                                                    <option value="" disabled selected> Select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-6 payment_groupverified">


                                        <!--<div class="row" ng-show="Payment.PaymentMmentMethod"></div>-->

                                        <div class="row" ng-show="Payment.PaymentMethod==2">
                                            <label class="col-3 required_label checkno_field">Check Number </label>
                                            <div class="col-7">

                                                <input ng-required="Payment.PaymentMethod==2" type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Check Number" ng-model="Payment.VerificationCheck" name="Check" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row" ng-show="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9">
                                            <label class="col-3 required_label checkno_field">Verification</label>
                                            <div class="col-7">
                                                <input ng-required="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9" type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Verification" ng-model="Payment.VerificationCheck" name="Verification" ng-minlength="1" ng-maxlength="100" required="">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row" ng-show="Payment.PaymentMethod==10">
                                            <label class="col-3 required_label checkno_field">Authorization</label>
                                            <div class="col-7">
                                                <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Authorization" ng-model="Payment.VerificationCheck" name="Authorization" ng-minlength="1" ng-maxlength="100" maxlength="100" ng-required="Payment.PaymentMethod==10">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                    </div>

                                    <!--<div class="form-group row" ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_method.$modelValue== null ||
                                         Payment_addint.Pay_method.$modelValue=='')]">
                                        <label class="col-4 text_detlabel">Payment Method*</label>
                                        <div class="col-8">
                                            <select class="form-control frm_controllead1 ng-pristine ng-valid ng-not-empty ng-touched" name="Pay_method" ng-model="Payment.PaymentMethod" ng-options="item.Id as item.PaymentMethod for item in OrderPaymentMethods">
                                                <option value="" class="placeholder"> Select </option>
                                            </select>
                                        </div>
                                    </div>-->
                                    <div class="row orderpayment_group">
                                        <div class="col-sm-6 col-6">
                                            <label class="col-5 required_label">Payment Date</label>
                                            <div class="col-7">
                                                <input class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                                       required="" style="width:50%;margin-right:2%"
                                                       type="text" name="fromDate"
                                                       ng-model="Payment.PaymentDate"
                                                       placeholder="Start Date" data-date-format="MM/dd/yyyy"
                                                       data-autoclose="true"
                                                       readonly>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-6"
                                             ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_reverse.$modelValue== 0 ||
                                     Payment_addint.Pay_reverse.$modelValue==''||Payment_addint.Pay_reverse.$modelValue==null)]">

                                            <label class="col-5 required_label">Reason</label>
                                            <div class="col-7">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white ng-pristine ng-valid ng-not-empty ng-touched"
                                                            ng-model="Payment.ReasonCode" style="padding:5px !important;"
                                                            ng-options="item.ReasonCodeId as item.Reason for item in ReversalReason"
                                                            name="Pay_reverse" required>
                                                        <option value="" disabled selected> Select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group row">
                                        <label class="col-3 required_label">Payment Date*</label>
                                        <div class="col-9">
                                            <input class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched" required="" style="width:50%;margin-right:2%" type="text" name="fromDate" ng-model="Payment.PaymentDate" placeholder="Start Date" data-date-format="MM/dd/yyyy" data-autoclose="true" bs-datepicker="">
                                        </div>
                                    </div>-->
                                    <div class="row orderpayment_group">
                                        <div class="col-sm-6 col-6" ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_Amount.$invalid)]">
                                            <label class="col-5 required_label">Amount</label>
                                            <div class="col-7">
                                                <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched required_field"
                                                       placeholder="Amount" ng-model="Payment.Amount" name="Pay_Amount" ng-minlength="1" ng-maxlength="100" maxlength="100" style="width:50%" required="" ng-change="PayBalanceAmount()" readonly>
                                            </div>
                                        </div>
                                        <!--<div class="col-sm-6 col-6 payment_groupverified">
                                            <label class="col-5 required_label reversal_chkbox" style="text-align:left !important;">
                                                <input type="checkbox" class="option-input checkbox ng-pristine ng-valid ng-empty ng-touched" id="chkReversal" ng-model="Payment.chkReversal" disabled>
                                                Reversal
                                            </label>
                                            <div class="col-7"></div>
                                        </div>-->
                                    </div>
                                    <!--<div class="form-group row" ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_Amount.$invalid)]">
                                        <label class="col-4 required_label">Amount*</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched required_field"
                                                   placeholder="Amount" ng-model="Payment.Amount" name="Pay_Amount" ng-minlength="1" ng-maxlength="100" maxlength="100" style="width:50%" required="" ng-change="PayBalanceAmount()">
                                        </div>
                                    </div>-->
                                    <div class="form-group row">
                                        <label class="col-3 required_label">Memo</label>
                                        <div class="col-9">
                                            <textarea placeholder="" multiple maxlength="500" style="width:450px; height: 85px; margin: 0px;" id="txtDesciption" ng-model="Payment.Memo" />
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_2">

                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel"></label>
                                            <div class="col-9">
                                                <label class="ldet_label"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel"></label>
                                            <div class="col-9">
                                                <label class="ldet_label"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel"></label>
                                            <div class="col-9">
                                                <label class="ldet_label"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel"></label>
                                            <div class="col-9">
                                                <label class="ldet_label"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel">Balance Due</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Payment.order.BalanceDue| currency:"$"}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel"></label>
                                            <div class="col-9">
                                                <label class="ldet_label"></label>
                                            </div>
                                        </div>

                                        <div>
                                        <div class="form-group row" ng-show="Payment.PaymentMethod==2">

                                            <label class="col-3 required_label">Check Number </label>
                                            <div class="col-9">

                                                <input type="text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Check Number" ng-model="Payment.CheckNumber" name="location" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                            </div>
                                        </div>
                                        <div class="form-group row" ng-show="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9">
                                            <label class="col-3 required_label">Verification</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Verification" ng-model="Payment.VerificationCheck" name="location" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                            </div>
                                        </div>
                                        <div class="form-group row" ng-show="Payment.PaymentMethod==10">
                                            <label class="col-3 required_label">Authorization</label>
                                            <div class="col-9">

                                                <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Authorization" ng-model="Payment.Authorization" name="location" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <!--<End hello world>-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="reset" class="btn btn-cancel" ng-click="CancelPayment('paymentModal')">Cancel</button>
                            <button type="submit" class="btn btn-cancel" ng-click="SaveReversePayment('paymentModal',this)">Save</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="emailInvoiceModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">From: <span ng-bind="EmailService.PersonPrimaryEmail"></span></h4>
                <button type="button" class="close popup_close" ng-click="CancelEmailInvoice('emailInvoiceModal')" aria-hidden="true">&times;</button>
            </div>

            <form name="frmEmailInvoice" role="form" novalidate ng-submit="SendInvoiceEmail()">
                <div class="modal-body">

                    <div class="leadgrid_box">
                        <div class="lead_rtop row">

                            <!--<div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">-->
                            <div class="col-12 col-sm-12 col-lg-8 col-xl-8 order_row">

                                <div class="form-group row ml-0 mr-0"
                                     ng-class="{true: 'has-error'}[SubmitEmail && frmEmailInvoice.To.$invalid]">
                                    <label class="col-sm-3 required_label">To</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-order required_field" name="To"
                                               ng-model="EmailService.ToAddresses" placeholder="Required" required
                                               maxlength="50">
                                    </div>
                                </div>

                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 required_label">CC</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-order">
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 required_label">BCC</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-order" name="Bcc" ng-model="EmailService.BccAddresses" placeholder="" required="" maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 required_label">Subject</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-order" placeholder="Subject" name="Subject" ng-required="true" maxlength="128" ng-model="EmailService.Subject">
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0" ng-show="EmailService.AttachmentLink && EmailService.AttachmentText">
                                    <label class="col-sm-3 text_detlabel">Attachment</label>
                                    <div class="col-sm-9">
                                        <a target="_blank" href="{{EmailService.AttachmentLink}}" ng-bind="EmailService.AttachmentText"></a>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Message</label>
                                    <div class="col-sm-9">
                                        <summernote on-init="init(editor)" ng-model="EmailService.Body" config="{ height: 140,  toolbar: [ ['edit', ['undo', 'redo']], ['headline', ['style']],
                    ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
                    ['fontface', ['fontname']],
                    ['textsize', ['fontsize']],
                    ['color', ['color']],
                    ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']], ['insert', ['link']], ['misc', ['undo', 'redo']] ]  }"></summernote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<End hello world>-->
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelEmailInvoice('emailInvoiceModal')">Cancel</button>
                        <button type="submit" class="btn btn-cancel" ng-click="SendInvoiceEmail('emailInvoiceModal')">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Installtion packet popup-->
<div class="modal fade" id="Installationprint" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Select Items Print</h4>
                <button type="button" class="close popup_close" ng-disabled="IsBusy" ng-click="CancelPrintEditor('Installationprint')" aria-hidden="true">&times;</button>
           </div>

            <form ng-submit="PrintInstallationPacket()" role="form">
                <div class="modal-body">

                    <i>At least one (1) selection is required</i>
                    <div ng-if="PrintOrderOptions.AddCustomerOpportunity==false &&
                         PrintOrderOptions.AddGoogleMap==false &&
                         PrintOrderOptions.AddExistingMeasurements==false &&
                         PrintOrderOptions.AddPrintInternalNotes==false &&
                         PrintOrderOptions.AddPrintExternalNotes==false &&
                         PrintOrderOptions.AddPrintDirectionNotes==false &&
						 PrintOrderOptions.AddOrder ==false &&
						 PrintOrderOptions.AddInstallationChecklist ==false &&
						 PrintOrderOptions.AddWarrantyInformation ==false" style="color:red">
                        <p>Providing at least one option is mandatory.</p>
                    </div>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddCustomerOpportunity" value="Customer/Opportunity" id="checkbox1">
                        <label class="checkbox" for="checkbox1">Lead/Customer and Opportunity details(with Zillow info)</label>
                    </span>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print1" ng-model="PrintOrderOptions.AddGoogleMap" value="Google map" id="checkbox2">
                        <label class="checkbox" for="checkbox2">Google map</label>
                    </span>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print2" ng-model="PrintOrderOptions.AddExistingMeasurements" value="Measurement Form" id="checkbox3">
                        <label class="checkbox" for="checkbox3">Existing Measurements</label>
                    </span>

                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddPrintInternalNotes" value="Internal Notes" id="checkbox4">
                        <label class="checkbox" for="checkbox4">Internal Notes (With Watermark)</label>
                    </span>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddPrintExternalNotes" value="External Notes" id="checkbox5">
                        <label class="checkbox" for="checkbox5">External Notes</label>
                    </span>

                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddPrintDirectionNotes"
                               value="External Notes" id="checkboxdirectionnotes">
                        <label class="checkbox" for="checkboxdirectionnotes">Direction Notes</label>
                    </span>

                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddOrder" value="Order" id="checkbox6">
                        <label class="checkbox" for="checkbox6">Order</label>
                    </span>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddInstallationChecklist" value="Installation Checklist" id="checkbox7">
                        <label class="checkbox" for="checkbox7">Installation Checklist</label>
                    </span>
                    <span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="PrintOrderOptions.AddWarrantyInformation" value="Warranty Information" id="checkbox8">
                        <label class="checkbox" for="checkbox8">Warranty Information</label>
                    </span>
                </div>
                <div class="modal-footer">

                    <div class="popup_butns">
                        <button type="reset" data-dismiss="modal" ng-disabled="IsBusy" class="btn btn-cancel">Cancel</button>
                        <button type="submit" ng-disabled="PrintOrderOptions.AddCustomerOpportunity==false &&
                         PrintOrderOptions.AddGoogleMap==false &&
                         PrintOrderOptions.AddExistingMeasurements==false &&
                         PrintOrderOptions.AddPrintInternalNotes==false &&
                         PrintOrderOptions.AddPrintExternalNotes==false &&
                         PrintOrderOptions.AddPrintDirectionNotes==false &&
						 PrintOrderOptions.AddOrder ==false &&
						 PrintOrderOptions.AddInstallationChecklist ==false &&
						 PrintOrderOptions.AddWarrantyInformation ==false" class="btn btn-cancel" id="btnSubmit">
                            Print
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--this is to display pop up on contact hover-->
<div ng-include="'/Templates/NG/LinkedList/Hfc-additional-contact-display.html'">
</div>

<iframe id="print_frame" style="visibility: hidden; height: 0px; width: 0px"></iframe>
<!--<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
<!---- dropdown ---->
<!--<script>
    var addClass = function (el, className) {
        if (el.classList) {
            el.classList.add(className);
        } else {
            el.className += ' ' + className;
        }
    },
        hasClass = function (el, className) {
            return el.classList ?
                el.classList.contains(className) :
                new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);
        },
        removeClass = function (el, className) {
            if (el.classList) {
                el.classList.remove(className);
            } else {
                el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            }
        },
        updateSelectPlaceholderClass = function (el) {
            var opt = el.options[el.selectedIndex];
            if (hasClass(opt, "placeholder")) {
                addClass(el, "placeholder");
            } else {
                removeClass(el, "placeholder");
            }
        },
        selectList = document.querySelectorAll("select");
    for (var i = 0; i < selectList.length; i++) {
        var el = selectList[i];
        updateSelectPlaceholderClass(el);
        el.addEventListener("change", function () {
            updateSelectPlaceholderClass(this);
        });
    }
</script>-->
<style type="text/css">
    /*.k-state-selected {
        color: black !important;
        background-color: #aaabae !important;
        border-color: none !important;
    }*/
    .k-reset {
        padding: 0px !important;
    }
</style>