﻿<!--TODO this should be define in Layout page-->

<style>
    .error {
        color: red;
    }
    .k-widget .k-numeric-wrap .k-icon{
        height:21px !important;
    }
 .k-numerictextbox {
    border: none !important;
    color: black !important;
}

</style>
<!--<script src="https://hfc.picbusiness.com/Maintenance/Products/JS/ConfigEngine.obf.js"></script>-->
<div class="outter-wp">
    <section class="my_sub_header_1">
        <nav class="navbar navbar-expand-md navbar-light bg-light my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand float-left"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-1 custom_nav">
                        <li><a href="#!/leadsSearch/">Leads</a></li>
                        <li><a href="#!/accountSearch/">Accounts</a></li>
                        <li><a href="#!/opportunitySearch/">Opportunities</a></li>
                        <li class="active"><a href="#!/orderSearch/">Orders</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right my-navbar-right">
                        <!-- TODO: do we need print here??? -->
                        <!--<li><button type="button" class="tooltip-bottom print_icon1"
                        data-tooltip="Print" ng-disabled="IsBusy" ng-click="FileprintService.AddOrEdit('fileprint')"></button>
            </li>-->

                        <li><button type="button" class="tooltip-bottom post_icon" data-tooltip="Email"></button></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
       
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li class="activelead1" rel="tab6">
                        <h3><i class="far fa-user fa_icon"></i><br />Information</h3>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <ul class="orderlist_box">
                        <!--Removed ng-disabled="IsBusy" from Cancel and save button-->
                        <li><button type="button" class="tooltip-bottom hfc_bgbut" ng-disabled="IsBusy" data-tooltip="Cancel" ng-click="RedirectToOrderDetails()"> <i class="far fa-times-circle fa_icon"></i></button></li>
                        <!--<button type="button" ng-click="onQuoteCancel()" data-tooltip="Cancel" class="tooltip-bottom cancel_tpbut" ng-disabled="IsBusy"> <i class="fa fa-undo" style="font-size:24px;"></i></button>-->
                        <li><button type="button" class="tooltip-bottom hfc_bgbut" ng-disabled="IsBusy" data-tooltip="Save" ng-click="SaveOrderpayment(1)"><i class="far fa-check-circle fa_icon"></i></button></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>

            <div class="tab_container tp_content">
                    <div class="p-3">
                        <form name="Payment_addint" role="form" novalidate ng-submit="SaveOrderpayment(1)" unsaved-warning-form>
                            <div class="leadgrid_box">
                                <div class="lead_rtop row">
                                    <div class="col-12 col-sm-12 col-md-8 col-xl-8 col_1">
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel">Opportunity Name</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Payment.order.Opportunity}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel">Sidemark</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Payment.order.SideMark}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel">Account</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Payment.order.AccountName}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel">Installation Address</label>
                                            <div class="col-9">
                                                <label class="ldet_label">
                                                    {{Payment.order.InstallationAddress}}
                                                </label>
                                            </div>
                                        </div>
                                        <!--------------->

                                        <div class="row payment_group">
                                            <div class="col-sm-6 col-6 row">
                                                <label class="col-5 text_detlabel">Total</label>
                                                <div class="col-7">
                                                    <label class="ldet_label">{{Payment.order.OrderTotal| currency:"$"}}</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-6 payment_groupverified row">
                                                 <label class="col-3 text_detlabel checkno_field">Balance Due</label>
                                                 <div class="col-7">
                                                        <label class="ldet_label">{{Payment.order.BalanceDue| currency:"$"}}</label>
                                                 </div>
                                                 <div class="col-2"></div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel">OverPayment</label>
                                            <div class="col-9">
                                                <label class="ldet_label">
                                                    {{OverPayment | currency:"$"}}
                                                </label>
                                            </div>
                                        </div>
                                       
                                        <div class="row form-group" ng-hide="Payment.chkReversal==true">
                                            <label class="col-3 text_detlabel">Pay Balance?</label>
                                            <div class="col-9">
                                                <label class="ldet_label"><input ng-disabled="Payment.chkReversal==true" type="checkbox" class="option-input checkbox ng-pristine ng-valid ng-empty ng-touched" ng-model="Payment.PayBalance" ng-change="PopulateAmount()"></label>
                                            </div>
                                        </div>

                                        <div class="row payment_group">
                                            <div class="col-sm-6 col-6 row mr-0"
                                                 ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_method.$modelValue== 0 ||
                                                        Payment_addint.Pay_method.$modelValue=='')]">
                                                <label class="col-5 required_label">Payment Method</label>
                                                <div class="col-7">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white ng-pristine ng-valid ng-not-empty ng-touched"
                                                                ng-model="Payment.PaymentMethod" style="padding:5px !important;"
                                                                ng-options="item.Id as item.PaymentMethod for item in PaymentMethods"
                                                                name="Pay_method" required>
                                                            <option value="" disabled selected> Select</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-6 payment_groupverified row">
                                                <!--{{Payment.PaymentMethod}}-->
                                                <div class="row no-margin" ng-show="Payment.PaymentMethod==2">
                                                    <label class="col-3 required_label checkno_field">Check Number </label>
                                                    <div class="col-7">
                                                        <!--<label class="ldet_label">{{Order.CheckNumber}}</label>-->
                                                        <input ng-required="Payment.PaymentMethod==2" type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Check Number" ng-model="Payment.CheckNumber" name="Check" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                                    </div>
                                                    <div class="col-2"></div>
                                                </div>
                                                <div class="row no-margin" ng-show="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9">
                                                    <label class="col-3 required_label checkno_field">Verification</label>
                                                    <div class="col-7">
                                                        <input ng-required="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9" type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Verification" ng-model="Payment.VerificationCheck" name="Verification" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                                    </div>
                                                    <div class="col-2"></div>
                                                </div>
                                                <div class="row no-margin" ng-show="Payment.PaymentMethod==10">
                                                    <label class="col-3 required_label checkno_field">Authorization</label>
                                                    <div class="col-7">
                                                        <!--<label class="ldet_label">{{Order.Authorization}}</label>-->
                                                        <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Authorization" ng-model="Payment.Authorization" name="Authorization" ng-minlength="1" ng-maxlength="100" maxlength="100" ng-required="Payment.PaymentMethod==10">
                                                    </div>
                                                    <div class="col-2"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row payment_group">
                                            <div class="col-sm-6 col-6 row">
                                                <label class="col-5 required_label">Payment Date</label>
                                                <div class="col-7">
                                                    <input kendo-date-picker k-format = "HFCService.StaticKendoDateFormat()" class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date" ng-required="true"
                                                           type="text" style="padding:0 !important; height: 28px !important;" name="fromDate"
                                                           ng-model="Payment.PaymentDate"
                                                           id="PaymentDates"
                                                           placeholder="Payment Date" data-date-format="MM/dd/yyyy"
                                                           data-autoclose="true"
                                                           ng-change="ValidateDate(Payment.PaymentDate,'PaymentDates')" >
                                                </div>
                                            </div>
                                            <div ng-show="Payment.chkReversal==true" class="col-sm-6 col-6 row" ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_reverse.$modelValue== 0 ||
                                                        Payment_addint.Pay_reverse.$modelValue==''||Payment_addint.Pay_reverse.$modelValue==null)]">
                                                <label class="col-5 required_label">Reason</label>
                                                <div class="col-7">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white ng-pristine ng-valid ng-not-empty ng-touched"
                                                                ng-model="Payment.ReasonCode" style="padding:5px !important;"
                                                                ng-options="item.ReasonCodeId as item.Reason for item in ReversalReason"
                                                                name="Pay_reverse" required>
                                                            <option value="" disabled selected> Select</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row payment_group">
                                            <div class="col-sm-6 col-6 row">
                                                <label class="col-5 required_label">Amount</label>
                                                <div class="col-7">
                                                    <!--<input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched"
                                                blur-to-currency amount="Payment.Amount" control="CostCurrencyControl" placeholder="$0.00"  ng-model="Payment.Amount" name="amount" required ng-change="PayBalanceAmount()">-->
                                                    <input class="form-control amount_field" ng-class="{true: 'show-error'}[isSubmitted && Payment_addint.amount.$invalid]" kendo-numeric-text-box id="amount" ng-model="Payment.Amount" name="amount" required k-options="options" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-6 payment_groupverified" ng-show="Permission.ReversePayment && (!ShowReversalBox)">
                                                <div class="row no-margin">
                                                    <label class="col-5 required_label reversal_chkbox text-left">
                                                        <input ng-disabled="Payment.PayBalance==true" type="checkbox" class="option-input checkbox qualify-chkbox ng-pristine ng-valid ng-empty ng-touched" id="chkReversal" ng-model="Payment.chkReversal" ng-change="PayReversalAmount()">
                                                        Reversal
                                                    </label>
                                                    <div class="col-7"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row payment_group">
                                            <div class="col-sm-2 col-2"></div>
                                            <div class="col-sm-10 col-10" style="color:red ;margin-top:-10px;padding-left: 55px;">
                                                <div ng-if="Showerror">Balance due amount exceed from total</div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 required_label">Memo</label>
                                            <div class="col-8">
                                                <textarea class="frm_controllead1 memo_field" multiple maxlength="500" id="txtDesciption" ng-model="Payment.Memo" />
                                            </div>
                                            <div class="col-1"></div>
                                        </div>
                                        <div ng-show="Payment.chkReversal==true"  class="form-group row">
                                                        <label class="col-2 text_detlabel">
                                                            Warning:
                                                        </label>
                                                        <label class="col-10 ldet_label">
                                                            You are reversing a customer payment. This will not be reflected in your instance of Quick Books. You or your accountant will need to manually post the appropriate transaction in Quick Books to reflect this payment reversal
                                                        </label>
                                        </div>
                                        <!-----end---->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
              
                <!--<End hello world>-->
                <!--<div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelPayment('paymentModal')">Cancel</button>
                        <button type="submit" class="btn btn-cancel">Save</button>
                    </div>
                </div>-->
            </div>
       
        <!---end inner tab-->
</div>

<div class="modal fade" id="overPaymentAmount" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Warning !</h4>
                <button type="button" class="close popup_close" ng-click="CancelOverPayment('overPaymentAmount')">&times;</button>
            </div>
            <form name="Measurement_addint" role="form" ng-submit="MakePayment(1)">
                <div class="modal-body quote_popup">
                    <div class="form-group row m-2 text-danger">
                        <p class="m-0">You are entering an amount more than the balance due. A Credit Memo should be entered in Quickbooks and a credit issued.</p>
                        <p class="mt-2 my-0">Would you like to continue?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns"  style="text-align:center; margin: 1%">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelOverPayment('overPaymentAmount')">Cancel</button>
                        <button type="submit" class="btn btn-cancel">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="loading" style="display: none;">
    <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
</div>
<hfc-Payment-Invoice-Modal modal-id="PaymentInvoice"></hfc-Payment-Invoice-Modal>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

<!---- dropdown ---->