html, body {
    font-family: Arial;
    font-size: 100%;
    overflow-x: hidden;
    background: #FFFFFF;
}

    body a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        background: #011D4A !mportant;
    }

a:focus, a:active, a:hover, a.dropdown-toggle {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #002561;
    text-decoration: none;
}

a {
    background-color: none;
}

a {
    color: #008DE7;
    font-weight: 400;
}

    a:hover {
        transition: all 200ms ease-in-out;
    }

.clearfix {
    clear: both;
}
/*---- quote print style ----*/
.quoteprint-tpbox {
    border-bottom: 1px solid #000;
    /*margin: 40px 0 0 0;*/
}
.quotetp_hleft h1 {
    background: #404040;
    color: #fff;
    font-size: 16pt;
    padding: 10px;
    font-weight: 600;
    margin: 0 !important;
}
.quotetp_hleft label {
    font-size: 10pt;
    color: #000;
    font-weight: 100;
    padding-left: 10px;
}

.quotetp_hmiddle {
    padding: 0 !important;
}

    .quotetp_hmiddle h2 {
        font-size: 12pt;
        margin: 0 0 5px !important;
        font-weight: bold;
    }

    .quotetp_hmiddle label, .quote_bill label {
        font-size: 8pt;
        font-weight: 100;
        display: block;
    }

.quote_bill label, .quote_grid label{
    font-size:9pt;
    font-weight: 100;
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    margin-bottom:0px !important;
}
.quote_grid {
    margin: 20px 0 30px 0 !important;
}
.quote_bill {
    margin: 20px 0 30px 0 !important;
    border: 1px solid #000;
}

.quote_billleft {
    margin-right: 3%;
    width: 63.666667%;
}

.quote_billleft, .quote_billright, .invoice_billleft {
    padding: 0 !important;
    border: 1px solid #000;
}

    .quote_billleft h3, .quote_billright h3, .invoice_billleft h3 {
        border-bottom: 1px solid #000;
        margin: 0;
        padding: 2px;
        text-align: center;
        font-size: 10pt;
        font-weight: bold;
    }

.quotebill_tpmargin {
    padding: 0 15px;
}
.no-padding {
    padding:0 !important;
}
table.table.table-quoteprint {
    margin-bottom: 35px;
}

    table.table.table-quoteprint tr > th, table.table.table-quoteprint > tr:first-child > th, table.table.table-invoiceprint tr > th, table.table.table-invoiceprint > tr:first-child > th {
        border: 1px solid #000 !important;
        font-size: 12px;
        padding: 2px !important;
        color: #000;
        text-align: center;
    }

table.table.table-invoiceprint tr > th, table.table.table-invoiceprint > tr:first-child > th {
    text-align: left !important;
    padding: 0 10px !important;
}

table.table.table-quoteprint tr > td, table.table.table-invoiceprint tr > td {
    font-size: 13px;
    padding: 0 10px 10px !important;
}

    table.table.table-quoteprint tr > td p, table.table.table-invoiceprint tr > td p {
        background: #404040;
        margin: 0 !important;
        color: #fff;
        text-align: right;
        width: 90px;
        float: left;
        font-size: 12px;
        padding: 0 8px 2px 0;
    }

    /*table.table.table-invoiceprint tr > td p.comment_sec {
        background: #404040;
        color: #fff;
        text-align: right;
        width: 90px;
        font-size: 12px;
        padding: 0 8px 10px 0;
        margin-right: 10px;
    }*/

    table.table.table-quoteprint tr > td p.comment_desc, table.table.table-invoiceprint tr > td p.comment_desc {
        background: none;
        color: #000;
        float: left;
        text-align: left;
        width: 72%;
        margin-left: 5px !important;
    }

table.table.table-quoteprint tr.border_quoteprint > td, table.table.table-invoiceprint tr.border_quoteprint > td {
    padding: 0 8px !important;
    border-top: none !important;
}

table.table.table-quoteprint tr.border_quoteprintline > td, table.table.table-invoiceprint tr.border_quoteprintline > td {
    border-top: 1px solid #000 !important;
}

table.table.table-quoteprint tr.border_quoteprintmemo > td {
    padding: 4px 8px !important;
    border-top: none !important;
}

.invoice_txtbox {
    text-align: center;
}

    .invoice_txtbox .checkbox {
        display: inline-block;
    }

.quoteprint_taxcontent p {
    font-size: 13px;
    color: #000;
    line-height: 1.5em;
}

.quoteprint_taxtotal {
    text-align: right;
}

    .quoteprint_taxtotal label, .comment_section label {
        font-size: 13px;
        color: #000;
        font-weight: 100;
        display: block;
        margin-bottom: 2px;
    }

        .quoteprint_taxtotal label span.tax_line {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            padding: 5px 0 5px 50px;
        }

        .quoteprint_taxtotal label span.tax_count {
            padding: 5px 0 5px 50px;
        }

        .quoteprint_taxtotal label span.tax_countdue {
            border-bottom: 1px solid #000;
            padding: 5px 0 5px 50px;
        }

.comment_section h4 {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #000;
    margin: 0;
}

table.table.table-quoteprint tr > td.quoteprint_ralign {
    text-align: right !important;
}
/*---- budget installer ----*/
.quotetp_hleft label {
    display: block;
}

.hr_content h4 {
    margin: 0 !important;
    padding: 0 15px 15px;
    font-size: 13px;
}
/*.instaldoc_bg {
    background: url(../images/behind_img.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
}*/
/*.watermark {
    background: url(../images/behind_img.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
}*/
/*--- footer ---*/
.printquote_footer {
    width: 600px;
    margin: 0 auto;
}

.footer_bg {
    background: #5b92a6;
    padding: 10px 0;
    text-align: center;
}

ul.footer_list {
    display: inline-block;
    list-style-type: disc;
    margin-bottom: 0;
    padding: 0;
}

    ul.footer_list li {
        display: inline-block;
    }

.footer_list li a, .footer_list li {
    color: #fff;
    font-size: 13px;
    font-style: italic;
}

ul.footer_list li.blind_list a:before {
    content: "";
}

.quote_box {
    height: 112px;
}

.footer_list li a:hover {
    color: #d0f3ff;
}

.footer_txt {
    font-size: 13px;
}

ul.footer_list li a:before {
    content: "\2022";
    color: #fff;
    padding: 0 5px;
}

.hr_content {
    margin-top: 40px;
}

    .hr_content h3 {
        font-size: 18px;
        color: #000;
        margin: 0 !important;
        padding: 0 10px;
    }

    .hr_content hr {
        border-bottom: 1px solid #000;
        margin: 30px 0 !important;
    }

hr.first_line {
    margin-top: 0 !important;
}

section.condition_content {
    margin-top: 7%;
}

.condition_content h3 {
    font-size: 18px;
    color: #000;
    padding: 0 10px;
}

.condition_content h4 {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin: 20px 0 0;
}

.condition_content p {
    font-size: 14px;
    color: #000;
    line-height: 1.5em;
    padding: 10px 10px 0;
    border-bottom: 1px solid #000;
    margin-bottom: 20px !important;
}

.signature_content hr {
    font-size: 18px;
    color: #000;
    padding: 0 15px;
    border-bottom: 1px solid #000;
}

.signature_content h3 {
    font-size: 18px;
    color: #000;
    margin: 0 !important;
    padding: 0 10px;
}

.signature_grid p {
    margin: 0;
    font-size: 13px;
    color: #000;
    padding: 0 10px;
}

.quoteprint_taxtotalleft label {
    text-align: right;
}

.discount_line {
    border-top: 1px solid #000;
    border-bottom-style: double;
}

.gtotal_line {
    border-bottom-style: double;
}

.instal_columnleft, .instal_columnright {
    padding: 0 !important;
    height:100%;
}

.instal_columnleft {
    border-right: 1px solid #000;
}
.instal_columnleft h3, .instal_columnright h3 {
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
/*---- end invoice-quote print style ----*/
.invoice_emaillabel {
    float:left;
}
.form-control {
    color: #000 !important;
}
.text_detlabel, .ldet_label {
    font-weight: normal !important;
}
table.table.table-invoiceprint tbody tr td, table.table.table-quoteprint thead tr td, table.table.table-quoteprint tbody tr td, table.table.table-invoiceprint thead tr td {
    page-break-inside: avoid;
}
.zillow_desc p {
   font-size: 25px;
   text-align: center;
   color: #3e7d8a;
   font-weight: 600;
}
.zillow_address {
    margin:0 0 15px 15px;
}
.zillow_logo {
    float:right;
    line-height: 16px;
}
.zillow_footer .zillow_logo span.zillow_provide {
    color: #0074e3 !important;
    text-transform: uppercase;
    font-size: 13px;
    float: right;
}
.zillow_footer .zillow_logocopyright p, .zillow_footer .zillow_logocopyright p a {
    font-size: 16px;
    color: #000;
    margin: 6px 0 0;
}
.specifics_grid label, label.specifics_grid{
    border:1px solid #b2bfca; 
    padding:15px 12px; 
    font-size: 14px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word; 
    font-weight:100; 
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    width:100%;
}
/*-- installer print --*/
table.table.table-installer_grid {
    border-top: 1px solid #000;
}
table.table.table-installer_grid>tbody>tr>td, table.table.table-installer_grid>tbody>tr>th, table.table.table-installer_grid>tfoot>tr>td, table.table.table-installer_grid>tfoot>tr>th, table.table.table-installer_grid>thead>tr>td, table.table.table-installer_grid>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0 !important;
    padding: 0 10px 0px !important;
}
table.table.table-installer_grid td.inbound {
    border-bottom: 1px solid #ddd;
}
.installer-column {
   float: left;
   width:80px;
   font-size:9pt;
   line-height:15px;
}
.installer-column_1 {
   /*float:left;
   width:87%;*/
   font-size: 8pt;
}
.printinstaler_row {
    position: relative;
    top:-18px;
    border-left: 1px solid #ddd;
    left: -11px;
    height: 28px;
}
.case_mgt {
    position:relative;
    top:-16px;
}     
label.instal_addres {
    font-size: 8pt;
}  
/*--Msr report style--*/ 
table.table.table-bordered.msr_table .msrborder, table.table.table-bordered.msr_table .msrptotal, table.table.table-bordered.msr_table .msr_retail {
    border-right:1px solid #fff !important;
}
table.table.table-bordered.msr_table .msrptotal, table.table.table-bordered.msr_table .msr_bbotright, table.table.table-bordered.msr_table .msr_retail {
    font-weight:bold;
    font-size:15px !important;
}
table.table.table-bordered.msr_table .msr_bhide {
    border:1px solid #fff !important;
}
table.table.table-bordered.msr_table .msr_bbothide {
    border-bottom:1px solid #fff !important;
}
table.table.table-bordered.msr_table .msr_bbotright, table.table.table-bordered.msr_table .msr_btopright {
    border-right:1px solid #fff !important;
    border-bottom:1px solid #fff !important;
}
table.table.table-bordered.msr_table .msr_htext {
    text-transform:uppercase;
}
table.table.table-bordered.msr_table td.col_bold {
    font-weight:800;
}
/*--end Msr report style--*/
/*--invoice--*/
.invoice_billleft {
    margin-right:2%;
}
.invoice_box {
    width:48%;
}
table.invoice_tablegrid th{
    text-align:center;
    border:1px solid red;
}
.invoice_tablegrid>tbody>tr>th, .invoice_tablegrid>tfoot>tr>th, .invoice_tablegrid>thead>tr>td, .invoice_tablegrid>thead>tr>th {
    border: 1px solid #ddd;
}
.invoice_tablegrid>thead>tr>td, .invoice_tablegrid>thead>tr>th {
    border-bottom-width:0;
}
.invoice_tablegrid>tbody>tr>td, .invoice_tablegrid>tfoot>tr>td, .invoice_tablegrid>thead>tr>td{
    border:0;
}
table.invoice_tablegrid {
    border-bottom:1px solid #ddd;
}
table.invoice_tablegrid tr.invoice_headsection {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.invoice_tablegrid tr.invoice_headsection-2 {
   border-left: 1px solid #fff;
   border-right: 1px solid #fff;
}
table.invoice_tablegrid tr.invoice_headsection-2 td{
    color:#555;
    font-size:14px;
    font-weight:100;
}
/*--end invoice--*/
/*--dropdown--*/
/*.state_field select {
    width: 100%;
    font-size: 13px;
    color: #000;
    border: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding: 4px 5px !important;
    text-transform: capitalize;
    height: 26px;
}
button.btn.custom_viewbut {
    background: #3d7d8b;
    color: #fff;
    padding:2px 10px;
    font-size: 15px;
}
button.btn.custom_viewbut, button.btn.custom_viewbut:focus {
    box-shadow:0 !important;
}*/
/*@supports (pointer-events: none) and ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
    (-ms-appearance: none) or
	  (appearance: none)) {
    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }

    .custom-dropdown__select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { 
        right: 7px;
        top: 50%;
        margin-top: -10px;
        font: normal normal normal 20px/1 FontAwesome;
        content: "\f107";
    }

    .quotesearch_dropdown::after {
        right: 7px !important;
        top: 50% !important;
        margin-top: -10px !important;
        font: normal normal normal 20px/1 FontAwesome !important;
        content: "\f107";
    }
 
    .custom-dropdown::before { 
        width: 2em;
        right: 0;
        top: 0;
        bottom: 0;
        
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
        background-color: #edecec;
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
        background-color: #edecec;
    }

    .custom-dropdown--white::after {
        color: #68686a;
    }
  
    @-moz-document url-prefix() {
        .custom-dropdown__select {
            padding-right: .9em;
        }

        .custom-dropdown--large .custom-dropdown__select {
            padding-right: 1.3em;
        }

        .custom-dropdown--small .custom-dropdown__select {
            padding-right: .5em;
        }
    }
}*/
 
/*--end dropdown--*/


