﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mx-auto modal-title">Select Accounts</h4>
                <button type="button" class="close popup_close" ng-disabled="AccountService.IsBusy" ng-click="AccountService.CancelAccountEditor(modalId)" aria-hidden="true">&times;</button>
            </div>
            <form role="form"  ng-submit="AccountService.SaveEditor(modalId)">
                <div class="form-group" style="padding: 10px;margin-bottom: 0px;">
                    <input type="text" class="form-control" ng-model="predicate" />
                </div>
                <div class="modal-body" style="height: 300px; max-height: 400px; overflow-y: scroll;">
                    <treecontrol class="tree-classic" filter-expression="predicate" tree-model="AccountService.EditorData" expanded-nodes="AccountService.EditorDataExpandedNodes">
                        <span ng-class="{ 'campaign' : node.isCampaign }"><input type="checkbox" ng-disabled="AccountService.CheckIfSourceUsed(node.SourceId)" ng-model="node.Selected" ng-change="AccountService.SelectSource(node)" />  {{node.Name}}</span>
                    </treecontrol>
                </div>
              
                <div class="modal-footer">
                    <button type="reset"  ng-click="AccountService.CancelAccountEditor(modalId)" class="btn btn-cancel">Cancel</button>
                    <button type="submit" ng-disabled="AccountService.IsBusy" class="btn btn-cancel">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
