﻿<div ng-if="PersonService.Person">
    <!--<div class="container-fluid">-->
    <!--<div class="row">-->
    <!--<div class="col-xs-6 col-sm-6 no-left-padding">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" ng-model="PersonService.Person.FirstName" class="form-control" placeholder="First Name" required maxlength="50" />
        </div>
    </div>-->
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">First Name</label>
        <div class="col-sm-9">
            <input type="text" ng-model="PersonService.Person.FirstName" class="form-control frm_lead" placeholder="First Name" required maxlength="50" />
        </div>
    </div>

    <!--<div class="col-xs-6 col-sm-6 no-left-padding no-right-padding">
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" ng-model="PersonService.Person.LastName" class="form-control" placeholder="Last Name" required maxlength="50" />
        </div>
    </div>-->
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Last Name</label>
        <div class="col-sm-9">
            <input type="text" ng-model="PersonService.Person.LastName" class="form-control frm_lead" placeholder="Last Name" required maxlength="50" />
        </div>
    </div>
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">
        <label>Company Name</label>
        <input type="text" ng-model="PersonService.Person.CompanyName" class="form-control" placeholder="Company Name" maxlength="256" />
    </div>-->
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Company Name</label>
        <div class="col-sm-9">
            <input type="text" ng-model="PersonService.Person.CompanyName" class="form-control frm_lead" placeholder="Company Name" required maxlength="256" />
        </div>
    </div>
    <!--<div class="form-group">
        <label>Title</label>
        <input type="text" ng-model="PersonService.Person.WorkTitle" class="form-control" placeholder="Title" maxlength="50" />
    </div>-->
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Title</label>
        <div class="col-sm-9">
            <input type="text" ng-model="PersonService.Person.WorkTitle" class="form-control frm_lead" placeholder="Title" required maxlength="50" />
        </div>
    </div>
    <!--<div class="form-group">
        <label>Home Phone:</label> <label class="radio-inline"><input type="radio" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="H" title="Preferred contact number" />Preferred</label>
        <input type="text" ng-model="PersonService.Person.HomePhone" ui-mask="(999) 999-9999" class="form-control" allowpartialvalues="true" />
    </div>-->

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Home phone</label>
        <input type="tel" ng-model="PersonService.Person.HomePhone" ui-mask="(999) 999-9999" allowpartialvalues="true" class="frm_lead1 radio_tbox col-sm-5" ng-blur="CheckDuplicates('HomePhone', $event)" />
        <label class="radio-popup col-sm-4"><input type="radio" class="radio_item" name="preferredTFN" value="H" ng-model="PersonService.Person.PreferredTFN" title="Preferred contact number" />Preferred</label>
    </div>

    <!--<div class="form-group">
        <label>Cell Phone:</label> <label class="radio-inline"><input type="radio" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="C" title="Preferred contact number" />Preferred</label>
        <input type="text" ng-model="PersonService.Person.CellPhone" ui-mask="(999) 999-9999" class="form-control" allowpartialvalues="true" />
    </div>-->

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Cell phone</label>
        <input type="tel" class="frm_lead1 radio_tbox col-sm-5" ng-model="PersonService.Person.CellPhone" ui-mask="(999) 999-9999" allowpartialvalues="true" ng-blur="CheckDuplicates('CellPhone', $event)" />
        <label class="radio-popup col-sm-4"><input type="radio" class="radio_item" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="C" title="Preferred contact number" />Preferred</label>
    </div>


    <!--<div class="form-group">
        <label>Fax Phone:</label> <label class="radio-inline"><input type="radio" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="F" title="Preferred contact number" />Preferred</label>
        <input type="text" ng-model="PersonService.Person.FaxPhone" ui-mask="(999) 999-9999" class=" form-control" allowpartialvalues="true" />
    </div>-->
    <!--<div class="container-fluid">
        <div class="row">-->
    <!--<div class="col-xs-8 col-sm-7 no-left-padding">
        <div class="form-group">
            <label>Work Phone:</label> <label class="radio-inline"><input type="radio" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="W" title="Preferred contact number" />Preferred</label>
            <input type="text" ng-model="PersonService.Person.WorkPhone" ui-mask="(999) 999-9999" class="form-control" allowpartialvalues="true" />
        </div>
    </div>-->

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Work Phone</label>
        <input type="tel" class="frm_lead1 radio_tbox col-sm-5" ng-model="PersonService.Person.WorkPhone" ui-mask="(999) 999-9999" allowpartialvalues="true" ng-blur="CheckDuplicates('CellPhone', $event)" />
        <label class="radio-popup col-sm-4"><input type="radio" class="radio_item" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="W" title="Preferred contact number" />Preferred</label>
    </div>

    <!--<div class="col-xs-4 col-sm-5 no-left-padding no-right-padding">
        <div class="form-group">
            <label>Extension:</label>
            <input type="text" ng-model="PersonService.Person.WorkPhoneExt" class="form-control" placeholder="Extension" maxlength="5" />
        </div>
    </div>-->
    <!--</div>
    </div>-->
    <!--<div class="form-group">
        <label>Primary Email:</label>
        <input type="email" ng-model="PersonService.Person.PrimaryEmail" class="form-control" placeholder="Primary Email" maxlength="256" />
    </div>-->

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Email</label>
        <div class="col-sm-9">
            <input type="email" ng-model="PersonService.Person.PrimaryEmail" class="form-control frm_lead" placeholder="Primary Email" maxlength="256" />
        </div>
    </div>

    <!--<div>
        <label>Secondary Email:</label>
        <input type="email" ng-model="PersonService.Person.SecondaryEmail" class="form-control" placeholder="Secondary Email" maxlength="256" />
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="PersonService.Person.IsSubscribed">
                Receive Corporate EMail Blasts
            </label>
        </div>
    </div>-->

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Secondary Email</label>
        <div class="col-sm-9">
            <!--<input type="email" class="form-control" ng-model="Lead.PrimPerson.PrimaryEmail" placeholder="Primary Email" maxlength="256" ng-blur="CheckDuplicates('PrimaryEmail')" />-->
            <input type="email" ng-model="PersonService.Person.SecondaryEmail" class="form-control frm_lead" placeholder="Secondary Email" maxlength="256" />
            <label class="checkbox-inline custom-cbox1">
                <input type="checkbox" ng-model="PersonService.Person.IsSubscribed">
                Receive Corporate EMail Blasts
            </label>
        </div>
    </div>
</div>