﻿<div ng-if="AddressService.Address">
    <div class="form-group row form-rectial">
        <label for="inputEmail3" class="col-sm-3 text_label">Address Type<span class="asteriskField">*</span></label>
        <div class="col-sm-9 popup_radio">
            <label class="resident_rbut"><input type="radio" name="addressType" ng-model="AddressService.Address.AddressType" value="Residential" required> Residential</label>
            <label><input type="radio" name="addressType" ng-model="AddressService.Address.AddressType" value="Commercial" required> Commercial</label>
            <div ng-if="AddressService.Addrsubmit || addrs_add.addressType.$dirty" ng-messages="addrs_add.addressType.$error" style="color:red">
                <p ng-message="required">Providing a Address Type is mandatory.</p>
            </div>
       </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Attention</label>
        <div class="col-sm-9">
            <input type="text" placeholder="Attention" maxlength="256"
                   ng-model="AddressService.Address.AttentionText" class="form-control frm_lead" />
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Address 1<span class="asteriskField">*</span></label>
        <div class="col-sm-9">
            <!--<input type="text" ng-model="PersonService.Person.FirstName" class="form-control frm_lead" placeholder="First Name" required maxlength="50" />-->
            <input type="text" name="Addr_Line1" placeholder="Address Line 1"
                   ng-model="AddressService.Address.Address1" class="form-control frm_lead"
                   pattern="^[#.0-9a-zA-Z\s,-]+$"
                   maxlength="20" required />
            <div ng-if="AddressService.Addrsubmit || addrs_add.Addr_Line1.$dirty" ng-messages="addrs_add.Addr_Line1.$error" style="color:red">
                <p ng-message="required">Providing a Address Line 1 is mandatory.</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Address 2</label>
        <div class="col-sm-9">
            <!--<input type="text" ng-model="PersonService.Person.FirstName" class="form-control frm_lead" placeholder="First Name" required maxlength="50" />-->
            <input type="text" placeholder="Address Line 2" maxlength="50" name="Addr_Line2"
                   pattern="^[#.0-9a-zA-Z\s,-]+$"
                   ng-model="AddressService.Address.Address2" class="form-control frm_lead" />
            <div ng-if="addrs_add.Addrsubmit || addrs_add.Addr_Line2.$dirty || addrs_add.Addr_Line2.$invalid" ng-messages="addrs_add.Addr_Line2.$error" style="color:red">
                <p ng-show="addrs_add.Addr_Line2.$error.pattern">Not valid Address Line 2.</p>
            </div>
        </div>
    </div>

    <div class="form-group row state_field">
        <label for="inputEmail3" class="col-sm-3 popup_label">Selected Country</label>
        <div class="col-sm-9">
            <span class="custom-dropdown custom-dropdown--white">
                <select class="form-control frm_lead custom-dropdown__select custom-dropdown__select--white" ng-model="AddressService.Address.CountryCode2Digits" ng-change="AddressService.CountryChanged()" ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'></select>
            </span>
        </div>
    </div>

 
        
            <div class="form-group row state_field">
                <!--<label id="zipCodeLabel" class="col-sm-7 addres_label" ng-bind='Address.CountryCode2Digits == " CA" ? "Province":"State"'></label>-->
                <label id="zipCodeLabel" class="col-sm-3 popup_label" ng-bind="AddressService.Address.CountryCode2Digits == 'US' ? 'State' : 'Province'"></label>
                <div class="col-sm-9">
                    <span class="custom-dropdown custom-dropdown--white">
                        <!--<label ng-bind="AddressService.Address.CountryCode2Digits == 'US' ? 'State' : 'Province'"></label>-->
                        <select class="form-control custom-dropdown__select custom-dropdown__select--white" ng-model="AddressService.Address.State" ng-options='opt.StateAbv as (opt.StateAbv + " - " + opt.StateName) for opt in AddressService.GetStates(AddressService.Address.CountryCode2Digits)'>
                            <option value="">Select State</option>
                        </select>
                    </span>
                </div>
            </div>
       
       
            <div class="form-group row state_field">
                <label id="zipCodeLabel" class="col-sm-3 popup_label" ng-bind="AddressService.Address.CountryCode2Digits == 'US' ? 'Zip Code' : 'Postal Code'"><span class="asteriskField">*</span></label>
                <div class="col-sm-9">
                    <!--<label ng-bind="AddressService.Address.CountryCode2Digits == 'US' ? 'Zip Code' : 'Postal Code'"></label>-->
                    <!--<span class="pull-right req_desc">Required</span>-->
                    <input type="text" ng-model="AddressService.Address.ZipCode" ng-model-options="{ updateOn: 'blur'}"
                           ui-mask="{{AddressService.Address.CountryCode2Digits == 'CA' ? 'A9A 9A9' : '99999'}}"
                           allowpartialvalues="true" ng-change="AddressService.ZipCodeChanged()"
                           title="Please enter a valid {{AddressService.Address.CountryCode2Digits == 'US' ? 'Zip Code' : 'Postal Code'}}"
                           pattern="{{AddressService.GetZipCodeMask(AddressService.Address.CountryCode2Digits)}}" maxlength="7"
                           required class="form-control frm_lead" name="user_Zip" />

                    <div ng-if="AddressService.Addrsubmit || addrs_add.user_Zip.$dirty" ng-messages="addrs_add.user_Zip.$error" style="color:red">
                        <p ng-message="required">Providing a Zip Code is mandatory.</p>
                    </div>
                </div>
            </div>
       


    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">City</label>
        <div class="col-sm-9">
            <input type="text" placeholder="City" maxlength="50" ng-model="AddressService.Address.City" class="form-control frm_lead" />
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Cross Street</label>
        <div class="col-sm-9">
            <!--<input type="text" ng-model="PersonService.Person.FirstName" class="form-control frm_lead" placeholder="First Name" required maxlength="50" />-->
            <input type="text" placeholder="Cross Street" maxlength="50" 
                   name="crossStreet"
                   ng-model="AddressService.Address.CrossStreet" 
                   pattern="^[#.0-9a-zA-Z\s,-]+$"
                   class="form-control frm_lead" />
            <div ng-if="addrs_add.Addrsubmit || addrs_add.crossStreet.$dirty || addrs_add.crossStreet.$invalid" ng-messages="addrs_add.crossStreet.$error" style="color:red">
                <p ng-show="addrs_add.crossStreet.$error.pattern">Not valid CrossStreet.</p>
            </div>
        </div>
    </div>


</div>
