﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <script src="../../app/services/AddressService.js"></script>
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Edit Address</h4>
                <button type="button" class="close popup_close" ng-disabled="AddressService.IsBusy" ng-click="AddressService.Cancel(modalId)" aria-hidden="true">&times;</button>
           </div>
            <form id="addrs_add" name="addrs_add" novalidate ng-submit="AddressService.Save(leadId, modalId)">
                    <div class="modal-body">
                        <hfc-address-form></hfc-address-form>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-cancel" data-dismiss="modal" ng-click="AddressService.Cancel(modalId)"> Cancel</button>
                        <button type="submit" class="btn btn-cancel"> Save</button>
                    </div>
                </form>
        </div>
    </div>
</div>