﻿<div ng-if="AddressService.Address">
    <div class="form-group">
        <label>Attention:</label> &nbsp;
        <div class="radiobox-inline">
            <label><input type="radio" name="addressType" ng-model="AddressService.Address.AddressType" value="true"> Residential</label>
            <label><input type="radio" name="addressType" ng-model="AddressService.Address.AddressType" value="false"> Commercial</label>
        </div>
        <input type="text" placeholder="Attention" maxlength="256" ng-model="AddressService.Address.AttentionText" class="form-control" />
    </div>
    <div class="form-group">
        <label>Address 1</label>
        <input type="text" placeholder="Address Line 1" maxlength="50" ng-model="AddressService.Address.Address1" class="form-control" />
    </div>
    <div class="form-group">
        <label>Address 2</label>
        <input type="text" placeholder="Address Line 2" maxlength="50" ng-model="AddressService.Address.Address2" class="form-control" />
    </div>
    <div class="form-group">
        <label>City</label>
        <input type="text" placeholder="City" maxlength="50" ng-model="AddressService.Address.City" class="form-control" />
    </div>
    <div class="form-group">
        <label ng-bind="AddressService.Address.CountryCode2Digits == 'US' ? 'State' : 'Province'"></label>
        <select class="form-control" ng-model="AddressService.Address.State" ng-options='opt.StateAbv as (opt.StateAbv + " - " + opt.StateName) for opt in AddressService.GetStates(AddressService.Address.CountryCode2Digits)'>
            <option value="">Select State</option>
        </select>
    </div>
    <div class="form-group">        
        <label ng-bind="AddressService.Address.CountryCode2Digits == 'US' ? 'Zip Code' : 'Postal Code'"><span class="asteriskField">*</span></label>
        <input type="text" ng-model="AddressService.Address.ZipCode" ng-model-options="{ updateOn: 'blur' }" ng-change="AddressService.ZipCodeChanged()" title="Please enter a valid {{AddressService.Address.CountryCode2Digits == 'US' ? 'Zip Code' : 'Postal Code'}}" pattern="{{AddressService.GetZipCodeMask(AddressService.Address.CountryCode2Digits)}}" maxlength="15" required class="form-control" />
        <!--<div ng-show="AddressService.zipCodeIsNotValid" ng-cloak="" class="text text-danger">Required</div>-->
    </div>
    <div class="form-group">
        <label>Country</label>
        <select class="form-control" ng-model="AddressService.Address.CountryCode2Digits" ng-change="AddressService.CountryChanged()" ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'></select>
    </div>
    <div class="form-group">
        <label>Cross Street</label>
        <input type="text" placeholder="Cross Street" maxlength="50" ng-model="AddressService.Address.CrossStreet" class=" form-control" />
    </div>
</div>
