﻿<div class="inline-relative">
    <h3 class="media-heading">
        <small ng-bind="heading"></small>
        <button type="button" class="btn btn-link btn-sm" ng-if="editable" ng-click="AddressService.Edit(ngModel, modalId, index)"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
        <button type="button" class="btn btn-link btn-sm" ng-if="deletable" ng-click="AddressService.Delete(leadId, ngModel)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
        <button type="button" class="btn btn-link btn-sm" ng-if="changeable && jobId && AddressService.Addresses.length > 1" ng-show="!$parent.inChangeMode" ng-click="$parent.inChangeMode = true"><i class="glyphicon glyphicon-refresh"></i> Change</button>
        <button type="button" class="btn btn-link btn-sm" ng-show="inChangeMode" ng-click="inChangeMode = false"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
    </h3>
    <address class="inline-relative" ng-if="!inChangeMode" hover-intent="OnMouseEnter($event)" ng-mouseleave="OnMouseLeave($event)" hfc-googlemaps="" addr="AddressService.GetAddress($parent.ngModel)">
        <a target="_blank" ng-bind-html="AddressService.GetLabel($parent.ngModel)" ng-href="{{AddressService.GetGoogleHref($parent.ngModel)}}"></a>
        <div class="mapCanvas"></div>
    </address>
    <select ng-if="inChangeMode" class="form-control" ng-disabled="AddressService.IsBusy" ng-options="opt.AddressId as AddressService.GetLabel(opt.AddressId, true) for opt in AddressService.Addresses" ng-model="$parent.ngModel" ng-change="ChangeAddress($event)"></select>                                
</div>