﻿<div class="modal fade" id="advancedEmailModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" ng-submit="AdvancedEmailService.Send()">
                <div class="modal-header">
                    <h4 class="mx-auto modal-title">From: <span ng-bind="AdvancedEmailService.PersonPrimaryEmail"></span></h4>
                    <button type="button" ng-disabled="AdvancedEmailService.IsBusy" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>To:</label>
                        <input type="hidden" class="select2" ng-disabled="AdvancedEmailService.IsBusy" ui-select2="AddressesSelectOption" name="To" ng-model="AdvancedEmailService.ToAddresses" />
                        <label style="color:red" ng-if="!AdvancedEmailService.IsValidTo">Required</label>
                    </div>
                    <div class="form-group">
                        <label>Bcc:</label>
                        <input type="hidden" class="select2" ng-disabled="AdvancedEmailService.IsBusy" ui-select2="AddressesSelectOption" name="Bcc" ng-model="AdvancedEmailService.BccAddresses" />
                    </div>
                    <div class="form-group">
                        <label>Subject:</label>
                        <input type="text" class="form-control" ng-disabled="AdvancedEmailService.IsBusy" placeholder="Subject" name="Subject" ng-required="true" maxlength="128" ng-model="AdvancedEmailService.Subject" />
                    </div>
                    
                    <div class="form-group">
                        <label>Attachments:</label>
                        <input type="hidden" class="select2" ng-disabled="AdvancedEmailService.IsBusy" ui-select2="GetSelectOptions()" name="To" ng-model="AdvancedEmailService.Attachments" />
                    </div>
                    <summernote on-init="init(editor)" ng-disabled="AdvancedEmailService.IsBusy" ng-model="AdvancedEmailService.Body" config="{ height: 300,  toolbar: [ ['fields' , ['fieldsDropdown'] ], ['edit', ['undo', 'redo']], ['headline', ['style']],
                    ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
                    ['fontface', ['fontname']],
                    ['textsize', ['fontsize']],
                    ['color', ['color']],
                    ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']], ['insert', ['link']], ['misc', ['undo', 'redo']] ]  }"></summernote>                    
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default btn-sm" ng-disabled="AdvancedEmailService.IsBusy" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Discard &amp; Close</button>
                    <button type="button" ng-click="AdvancedEmailService.Send(true)" class="btn btn-primary btn-sm" ng-disabled="AdvancedEmailService.IsBusy"><span class="glyphicon glyphicon-send"></span>Save & Send</button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-disabled="AdvancedEmailService.IsBusy"><span class="glyphicon glyphicon-send"></span> Send</button>
                </div>
            </form>
        </div>
    </div>
</div>