﻿<div class="modal fade alert-directive-class" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <!--<style>
        .alert-directive-class .calender_taskpopup {
            z-index: 9999;
        }
    </style>-->
    <style>
        .alert-directive-class .modal-body h4 {
            font-size: 18px;
        }
    </style>
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content calender_taskpopup">
            <div class="modal-header popup_head">
                <h3 class="mx-auto modal-title" style="color: white;">Confirmation</h3>
                <button type="button" class="close popup_close" ng-click="close(modalId, true)">&times;</button>
            </div>
            <div class="modal-body text-center" id="alertModalBody">
            </div>
            <div class="modal-footer" id="alertModalFooter">
            </div>
        </div>
    </div>
</div>