﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <!-- Styling stuffs starts -->
    <style>

        .error {
            color: red;
        }

        .errortext, .errorTP {
            color: red !important;
        }

        /*.k-combobox.required {
                        border: 1px solid #a94442 !important;
                    }*/


        /*.k-list-container {
                        border: 1px solid #a94442;
                    }*/
        .k-multiselect-clearable .k-multiselect-wrap {
            padding-right: 2.42142857em;
        }
        /*.form-control.k-block .k-input, .k-widget.form-control .k-input {
                        margin-top:0px !important;
                    }*/
        .kendo-customdropdown span.k-icon.k-i-arrow-s {
            background-image: none;
        }

        /*.k-multiselect-wrap.k-floatwrap {
                        border-right: none !important;
                        border-left: none !important;
                    }*/

        .k-i-close:before, .k-i-group-delete:before, .k-i-x:before {
            /*content: "" !important;*/
        }
        /*.k-i-arrow-60-down:before {
                content:"";
            }*/
        .kendo-customdropdown .k-i-arrow-60-down:before {
            content: "";
        }

        .k-calendar {
            width: 16.917em;
        }
        /*.k-multiselect-wrap.k-floatwrap {
                        border:1px solid red !important;
                    }*/
        .k-grid-content.k-auto-scrollable.k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {
            border: 0 !important;
        }

        span.k-widget.k-combobox.k-header.custom-dropdown__select.custom-dropdown__select--white.form-control.kendo_border {
            border: 1px solid #b2bfca;
        }

        .k-datetimepicker .k-select .k-link-time {
            margin: 0 !important;
        }


        /* modal wrapper design */
        .modal-wrapper-container {
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            top: 0px;
            z-index: 11;
            opacity: 0.5;
            overflow: hidden;
        }

        .scroll-hidden {
            overflow-y: hidden !important;
        }
    </style>
    <!-- Styling stuffs ends -->

    <div class="modal-dialog">
        <div class="modal-content calender_taskpopup">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">{{title}}</h4>
                <button type="button" class="close popup_close" ng-click="closeCalendar('calendarModal')">&times;</button>           <!-- ng-disabled="PersonService.IsBusy" -->
            </div>
            <form id="frmAppointment" name="frmAppt">
                <div class="body_popupcontent">
                    <!-- Added from person-modal-new-go.html -->
                    <div class="modal-body" id="modalBody" ng-if="!privateFlag">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="popup-group">
                                    <!-- ng-class="{true: 'has-error'}[frmAppt.$submitted && frmAppt.subject.$invalid]" -->
                                    <label class="control-label">Subject</label>
                                    <input type="text"
                                           class="frm_controllead1 form-control required_field"
                                           placeholder="Required"
                                           ng-if="!subjectLocationOptionalFlag"
                                           ng-model="calendarModelObject.title"
                                           name="Title"
                                           ng-minlength="1"
                                           ng-maxlength="256"
                                           maxlength="256"
                                           required />
                                    <input type="text"
                                           ng-if="subjectLocationOptionalFlag"
                                           class="frm_controllead1 form-control"
                                           ng-model="calendarModelObject.title"
                                           name="Title"
                                           ng-minlength="1"
                                           ng-maxlength="256"
                                           maxlength="256" />
                                </div>
                                <div class="popup-group" ng-if="!calendarModelObject.IsTask">
                                    <!-- ng-class="{true: 'has-error'}[frmAppt.$submitted && frmAppt.location.$invalid]"  -->
                                    <label class="control-label">Location</label>
                                    <input type="text"
                                           class="form-control frm_controllead1 required_field"
                                           placeholder="Required"
                                           ng-if="!subjectLocationOptionalFlag"
                                           ng-model="calendarModelObject.Location"
                                           name="location"
                                           ng-minlength="1"
                                           ng-maxlength="1024"
                                           maxlength="1024"
                                           required />
                                    <input type="text"
                                           class="form-control frm_controllead1"
                                           ng-if="subjectLocationOptionalFlag"
                                           ng-model="calendarModelObject.Location"
                                           name="location"
                                           ng-minlength="1"
                                           ng-maxlength="1024"
                                           maxlength="1024" />
                                </div>
                                <div class="popup-group" id="Attendees2">
                                    <label class="control-label">Attendees</label>
                                    <div class="Atendes-popupgrid">
                                        <!--<div class="Atendes-grid">-->
                                        <span class="custom-dropdown custom-dropdown--white" ng-class="{true: 'k-combobox required'}[calendarModelObject.AdditionalPeople.length == 0]">
                                            <select kendo-multi-select
                                                    required
                                                    k-options="attendeesOptions"
                                                    k-rebind="attendeesOptions"
                                                    k-ng-model="calendarModelObject.AdditionalPeople"
                                                    id="AttendeesDropdown"
                                                    name="AdditionalPeople"
                                                    class="custom-dropdown__select custom-dropdown__select--white required_field w-100 h-100"></select>
                                        </span>
                                    </div>
                                </div>
                                <div class="popup-group">
                                    <label class="control-label">Lead</label>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-options="leadOptions"
                                                    k-ng-model="calendarModelObject.LeadId"
                                                    k-auto-bind="true"
                                                    k-rebind="leadOptions"
                                                    id="kendoComboboxLead"
                                                    k-on-change="DropdownOptionSelected(calendarModelObject.LeadId, 'Lead', 'NewLeadApt')"
                                                    name="LeadId"
                                                    width="100px;"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                                <div class="popup-group form-inline" ng-if="calendarModelObject.LeadPhoneNumber">
                                    <label class="control-label center-block">
                                        Phone Number:
                                    </label>
                                    <div class="event_phoneno">
                                        <label>{{calendarModelObject.LeadPhoneNumber | mask: '(999) 999-9999'}}</label>
                                    </div>
                                </div>

                                <div class="popup-group">
                                    <label class="control-label">Account</label>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-options="accountOptions"
                                                    k-ng-model="calendarModelObject.AccountId"
                                                    k-rebind="accountOptions"
                                                    k-auto-bind="true"
                                                    k-on-change="DropdownOptionSelected(calendarModelObject.AccountId, 'Account', 'NewAccountApt')"
                                                    id="kendoComboboxAccount"
                                                    name="AccountId"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                                <div class="popup-group form-inline" ng-if="calendarModelObject.AccountPhoneNumber">
                                    <label class="control-label center-block">
                                        Phone Number:
                                    </label>
                                    <div class="day_event">
                                        <label class="control-label" style="vertical-align:sub !important;">{{calendarModelObject.AccountPhoneNumber | mask: '(999) 999-9999'}}</label>
                                    </div>
                                </div>
                                <div class="popup-group">
                                    <label class="control-label">Opportunity</label>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-auto-bind="true"
                                                    k-rebind="opportunityOptions"
                                                    k-options="opportunityOptions"
                                                    k-ng-model="calendarModelObject.OpportunityId"
                                                    k-on-change="DropdownOptionSelected(calendarModelObject.OpportunityId, 'Opportunity', 'NewOpportunityApt')"
                                                    id="OpportunityDropdown"
                                                    name="OpportunityId"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                                <div class="popup-group">
                                    <label class="control-label">Order</label>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-auto-bind="true"
                                                    k-rebind="orderOptions"
                                                    k-options="orderOptions"
                                                    k-ng-model="calendarModelObject.OrderId"
                                                    k-on-change="DropdownOptionSelected(calendarModelObject.OrderId, 'Order', 'NewOrderApt')"
                                                    id="OrderDropdown"
                                                    name="OrderId"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                                <div class="popup-group">
                                    <!--  ng-show="!PersonService.CalendarService.viewvendorcase" -->
                                    <label class="control-label">Case</label>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-auto-bind="true"
                                                    k-rebind="caseOptions"
                                                    k-options="caseOptions"
                                                    k-ng-model="calendarModelObject.CaseId"
                                                    k-on-change="DropdownOptionSelected(calendarModelObject.CaseId, 'Case', 'NewCaseApt')"
                                                    id="CaseDropdown"
                                                    name="CaseId"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                                <div style="display: none" class="popup-group">
                                    <!--  ng-show="PersonService.CalendarService.viewvendorcase" -->
                                    <label class="control-label">Vendor Case</label>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-auto-bind="true"
                                                    k-rebind="vendorCaseOptions"
                                                    k-options="vendorCaseOptions"
                                                    k-ng-model="calendarModelObject.vendorCaseId"
                                                    k-on-change="DropdownOptionSelected(calendarModelObject.vendorCaseId, 'vendorCase', 'NewVendorCaseApt')"
                                                    id="VendorCaseDropdown"
                                                    name="vendorCaseId"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                                <div class="popup-group">
                                    <label class="control-label">Message</label>
                                    <textarea class="form-control" name="Message" placeholder="Message" rows="5" cols="10" ng-model="calendarModelObject.Message"></textarea>
                                    <!--<input class="option-input checkbox" type="checkbox" ng-model="PersonService.CalendarService.EditableEvent.IsPrivate">
                                    Private-->
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="popup-group" ng-hide="calendarModelObject.IsTask">
                                    <label class="control-label">Type of appointment</label>
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <!-- ng-class="{true: 'has-error'}[frmAppt.$submitted && (PersonService.CalendarService.EditableEvent.AptTypeEnum=='' || PersonService.CalendarService.EditableEvent.AptTypeEnum==undefined)]" -->
                                        <select class="custom-dropdown__select custom-dropdown__select--white frm_controllead1"
                                                style="padding:0 5px !important;"
                                                name="AptTypeEnum"
                                                ng-model="calendarModelObject.AptTypeEnum"
                                                ng-change="appointmentTypeTapped()"
                                                ng-options="val as name for (name, val) in AppointmentTypeEnum">
                                            <option value="" disabled selected>Select</option>
                                        </select>     <!-- ng-class="{true: 'errorTP'}[PersonService.CalendarService.EditableEvent.AptTypeEnum==''|| PersonService.CalendarService.EditableEvent.AptTypeEnum==undefined]" -->
                                    </span>
                                    <div class="day_event">
                                        <input type="checkbox" style="vertical-align:text-top !important;" class="option-input checkbox" name="IsPrivateAccess"
                                               ng-model="calendarModelObject.IsPrivateAccess">
                                        <label class="control-label">Private</label>
                                    </div>
                                </div>

                                <!-- till this ends -->
                                <div class="popup-group">
                                    <label class="control-label center-block">{{(calendarModelObject.IsTask) ? 'Due': 'From'}}</label>

                                        <!-- ng-class="{true: 'has-error'}[frmAppt.$submitted && frmAppt.fromDate.$invalid]" -->
                                        <div ng-show="!calendarModelObject.IsTask && !calendarModelObject.allDay" id="dateTimePickerWrapper">
                                            <input kendo-date-time-picker
                                                   k-format = "HFCService.StaticKendoDateTimeFormat()"
                                                   class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-wrapper"
                                                   ng-required="true" style="padding:0 !important; height:28px !important;"
                                                   type="text" name="Start"
                                                   id="calendarStartDate"
                                                   placeholder="From Date" data-date-format="MM/dd/yyyy"
                                                   ng-model="calendarModelObject.start"
                                                   ng-disabled="disabled(date, mode)"
                                                   data-autoclose="true"
                                                   ng-change="ValidateDate('calendarStartDate','datetime')"
                                                   ng-blur="ValidateonBlur('calendarStartDate','datetime')">
                                        </div>

                                        <div ng-show="!calendarModelObject.IsTask && calendarModelObject.allDay" id="datePickerWrapper">
                                            <input kendo-date-picker
                                                   k-format = "HFCService.StaticKendoDateFormat()"
                                                   class="form-control frm_controllead1  ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date"
                                                   ng-required="true" style="padding:0 !important; height:28px !important;"
                                                   type="text" name="Start"
                                                   id="calendarStartDatePicker"
                                                   placeholder="From Date" data-date-format="MM/dd/yyyy"
                                                   ng-model="calendarModelObject.start"
                                                   ng-disabled="disabled(date, mode)"
                                                   data-autoclose="true"
                                                   ng-change="ValidateDate('calendarStartDatePicker','date')"
                                                   ng-blur="ValidateonBlur('calendarStartDatePicker','date')">
                                        </div>
                                        <div ng-show="calendarModelObject.IsTask" id="taskDatePicker">
                                            <input kendo-date-picker
                                                   k-format = "HFCService.StaticKendoDateFormat()"
                                                   class="form-control frm_controllead1  ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date"
                                                   ng-required="true" style="padding:0 !important; height:28px !important;"
                                                   type="text" name="Start"
                                                   id="calendarTaskStartDatePicker"
                                                   placeholder="From Date" data-date-format="MM/dd/yyyy"
                                                   ng-model="calendarModelObject.start"
                                                   ng-disabled="disabled(date, mode)"
                                                   data-autoclose="true"
                                                   ng-change="ValidateDate('calendarTaskStartDatePicker','date')"
                                                   ng-blur="ValidateonBlur('calendarTaskStartDatePicker','date')">
                                        </div>
                                        <div class="day_event" ng-if="calendarModelObject.IsTask">
                                            <input type="checkbox" style="vertical-align:text-top !important;" class="option-input checkbox"
                                                   ng-model="calendarModelObject.IsPrivateAccess">
                                            <label class="control-label">Private</label>
                                        </div>
                                        <div class="day_event">
                                            <input type="checkbox" style="vertical-align:text-top !important;" class="option-input checkbox" ng-if="!calendarModelObject.IsTask" ng-change="allDayTapped(calendarModelObject.allDay)"
                                                   ng-model="calendarModelObject.allDay">
                                            <!-- ng-class="{'btn-warning active': PersonService.CalendarService.EditableEvent.allDay}" -->
                                            <label class="control-label" ng-if="!calendarModelObject.IsTask">All Day Event</label>
                                        </div>
                                </div>

                                <div class="popup-group" ng-if="!calendarModelObject.IsTask">
                                    <label class="control-label center-block">To</label>
                                    <div ng-if="!calendarModelObject.allDay">
                                        <input kendo-date-time-picker
                                               k-format = "HFCService.StaticKendoDateTimeFormat()"
                                               class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-wrapper"
                                               ng-required="true"
                                               style="padding:0 !important; height:28px !important;" type="text" name="toDate"
                                               placeholder="To Date" data-date-format="MM/dd/yyyy"
                                               id="calendarEndDate"
                                               ng-model="calendarModelObject.end"
                                               ng-change="endDateTapped();ValidateDate('calendarEndDate','datetime')"
                                               ng-disabled="disabled(date, mode)"
                                               data-autoclose="true"
                                               ng-blur="ValidateonBlur('calendarEndDate','datetime')">
                                    </div>
                                    <div ng-if="calendarModelObject.allDay">
                                        <input kendo-date-picker
                                               k-format = "HFCService.StaticKendoDateFormat()"
                                               class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date"
                                               ng-required="true"
                                               style="padding:0 !important; height:28px !important;" type="text" name="toDate"
                                               placeholder="To Date" data-date-format="MM/dd/yyyy"
                                               id="calendarEndDatePicker"
                                               ng-model="calendarModelObject.end"
                                               ng-change="endDateTapped(); ValidateDate('calendarEndDatePicker','date')"
                                               ng-disabled="disabled(date, mode)"
                                               data-autoclose="true"
                                               ng-blur="ValidateonBlur('calendarEndDatePicker','date')">
                                    </div>
                                </div>

                                <div class="popup-group">
                                    <label class="control-label">Reminders</label>

                                    <span class="custom-dropdown custom-dropdown--white">
                                        <!-- ng-class="{true: 'has-error'}[frmAppt.$submitted && PersonService.CalendarService.EditableEvent.ReminderMinute=='']" -->
                                        <select class="custom-dropdown__select custom-dropdown__select--white frm_controllead1"
                                                style="padding:0 5px !important;"
                                                ng-model="calendarModelObject.ReminderMinute"
                                                name="reminder"
                                                ng-options="val as name for (name, val) in Reminder">
                                            <option value="" disabled selected>Select</option>
                                        </select>         <!-- ng-class="{true: 'errorTP'}[PersonService.CalendarService.EditableEvent.ReminderMinute==='']" -->

                                    </span>
                                </div>
                                <div id="evt_recurring" class="popup-group crm-accordion" ng-if="!calendarModelObject.IsTask">
                                    <div class="panel-heading recurence_popupgrid">
                                        <input class="option-input recurence_chkbox checkbox" id="chkEventRecurring"
                                               ng-checked="calendarModelObject.RecurrenceIsEnabled==true"
                                               ng-disabled="disableRecurrenceFlag"
                                               ng-change="resetReccuranceFields(true); setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery);initializeRecurrenceDatePicker()"
                                               ng-model="calendarModelObject.RecurrenceIsEnabled" data-toggle="collapse" data-target="#evt_recurring_panel" type="checkbox" value="true" />
                                        Recurrence
                                    </div>
                                </div>
                                <div class="popup_weektext" ng-if="calendarModelObject.RecurrenceIsEnabled">
                                    <span ng-bind="reccuranceString"></span>
                                </div>

                            </div>
                        </div>

                        <!-- START Recurring Panel -->
                        <div ng-if="calendarModelObject.RecurrenceIsEnabled" class="panel-default crm-accordion">
                            <div id="evt_recurring_panel" class="evt-recurring-panel">
                                <!-- ng-controller="CalendarController" -->
                                <div style="border: 1px solid #555;">
                                    <p style="width:130px; margin-top:-10px; margin-left:10px; padding-left: 5px; background: #f7f7f7;">Recurrence Pattern</p>
                                    <div class="row m-0">
                                        <div class="col-sm-3" ng-show="calendarModelObject.EventRecurring.PatternEnum">
                                            <select class="form-control frm_controllead1"
                                                    ng-disabled="disableRecurrenceFlag"
                                                    ng-change="resetReccuranceFields(); setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery);"
                                                    style="padding: 0 10px !important;"
                                                    ng-model="calendarModelObject.EventRecurring.PatternEnum">
                                                <option ng-value="1">Daily</option>
                                                <option ng-value="2">Weekly</option>
                                                <option ng-value="3">Monthly</option>
                                                <option ng-value="4">Yearly</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-9 daily_rgrid" ng-if="calendarModelObject.EventRecurring.PatternEnum == 1">
                                            <ul class="expand_ref">
                                                <li>
                                                    Every
                                                </li>
                                                <li>
                                                    <input style="width: 90px !important; padding:0 1px !important; font-size:12px !important;" type="text" class="form-control frm_controllead1" placeholder="days"
                                                           ng-model="calendarModelObject.EventRecurring.RecursEvery" id="recursnumberofDays"
                                                           ng-disabled="disableRecurrenceFlag"
                                                           ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)" />
                                                </li>
                                                <li>
                                                    <span>Day(s)</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-9 daily_rgrid" style="width: 70% !important;" ng-if="calendarModelObject.EventRecurring.PatternEnum == 2">
                                            <ul class="expand_ref" style="margin-bottom:10px;">
                                                <li>
                                                    Recur every
                                                </li>
                                                <li>
                                                    <span>
                                                        <input style="width: 90px !important; padding:0 1px !important; font-size:12px !important;" type="text" class="form-control frm_controllead1" placeholder=""
                                                               ng-model="calendarModelObject.EventRecurring.RecursEvery"
                                                               ng-disabled="disableRecurrenceFlag"
                                                               ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)"
                                                               id="recursWeeklyNumberofDays" />
                                                    </span>
                                                </li>
                                                <li>
                                                    Week(s) on:
                                                </li>

                                            </ul>
                                            <ul class="expand_ref">
                                                <li ng-repeat="(key, value) in dayList">
                                                    <input class="option-input checkbox weekly-checkbox" type="checkbox" id="{{value['dayString']}}"
                                                           ng-disabled="disableRecurrenceFlag"
                                                           ng-click="weeklyOptionClicked(value)"
                                                           ng-change="setWeeklyDateSelected(value['dayValue']); setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)"
                                                           ng-checked="value['checked']" ng-model="PersonService.CalendarService.EditableRecurringEvent.days[value['dayString']]"> {{value['dayString']}}&nbsp;
                                                </li>
                                            </ul>
                                        </div>

                                        <!--</div>-->
                                        <div class="col-sm-6 daily_rgrid" style="width: 70% !important;" ng-if="calendarModelObject.EventRecurring.PatternEnum == 3">
                                            <ul class="expand_ref">
                                                <li class="recurence_month">
                                                    Every: &nbsp;&nbsp;
                                                </li>
                                                <li>
                                                    <input class="frm_controllead1"
                                                           ng-disabled="disableRecurrenceFlag" ng-model="calendarModelObject.EventRecurring.RecursEvery" type="text" style="width:90px !important;" ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)" />
                                                </li>
                                                <li>
                                                    &nbsp;month(s)
                                                </li>
                                            </ul>
                                            <ul class="expand_ref">
                                                <li class="recurence_month">
                                                    <input class="option-input radio radio_space" ng-checked="calendarModelObject.EventRecurring.flagMonthly == 1"
                                                           ng-disabled="disableRecurrenceFlag" type="radio" id="rddayoftheMonth" name="rddayoftheMonth" ng-model="calendarModelObject.EventRecurring.flagMonthly" ng-value="1" ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)">
                                                    Day
                                                </li>

                                                <li>
                                                    <select class="form-control frm_controllead1" style="width: 90px !important; padding:0 1px !important; font-size:12px !important;"
                                                            id="optdayoftheMonth" ng-model="calendarModelObject.EventRecurring.DayOfMonth"
                                                            ng-disabled="calendarModelObject.EventRecurring.flagMonthly != 1 || disableRecurrenceFlag" ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)">
                                                        <option ng-value="1">1</option>
                                                        <option ng-value="2">2</option>
                                                        <option ng-value="3">3</option>
                                                        <option ng-value="4">4</option>
                                                        <option ng-value="5">5</option>
                                                        <option ng-value="6">6</option>
                                                        <option ng-value="7">7</option>
                                                        <option ng-value="8">8</option>
                                                        <option ng-value="9">9</option>
                                                        <option ng-value="10">10</option>
                                                        <option ng-value="11">11</option>
                                                        <option ng-value="12">12</option>
                                                        <option ng-value="13">13</option>
                                                        <option ng-value="14">14</option>
                                                        <option ng-value="15">15</option>
                                                        <option ng-value="16">16</option>
                                                        <option ng-value="17">17</option>
                                                        <option ng-value="18">18</option>
                                                        <option ng-value="19">19</option>
                                                        <option ng-value="20">20</option>
                                                        <option ng-value="21">21</option>
                                                        <option ng-value="22">22</option>
                                                        <option ng-value="23">23</option>
                                                        <option ng-value="24">24</option>
                                                        <option ng-value="25">25</option>
                                                        <option ng-value="26">26</option>
                                                        <option ng-value="27">27</option>
                                                        <option ng-value="28">28</option>
                                                        <option ng-value="29">29</option>
                                                        <option ng-value="30">30</option>
                                                        <option ng-value="31">31</option>
                                                    </select>
                                                </li>
                                            </ul>
                                            <ul class="expand_ref">
                                                <li class="recurence_month">
                                                    <!-- ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" -->
                                                    <input class="option-input radio radio_space" ng-checked="calendarModelObject.EventRecurring.flagMonthly == 2" type="radio" id="rdWeekOfTheMonth"
                                                           name="MonthlyRecurring" ng-disabled="disableRecurrenceFlag" ng-model="calendarModelObject.EventRecurring.flagMonthly" ng-value="2" ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)">
                                                    The
                                                </li>
                                                <li>
                                                    <!-- ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" -->
                                                    <select class="form-control frm_controllead1" style="width: 90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="calendarModelObject.EventRecurring.DayOfWeekIndex"
                                                            ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)" ng-disabled="disableRecurrenceFlag || calendarModelObject.EventRecurring.flagMonthly != 2">
                                                        <option ng-value="1">First</option>
                                                        <option ng-value="2">Second</option>
                                                        <option ng-value="3">Third</option>
                                                        <option ng-value="4">Fourth</option>
                                                        <option ng-value="5">Last</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <!-- ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" -->
                                                    <select class="form-control frm_controllead1" style="width: 90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="calendarModelObject.EventRecurring.DayOfWeekEnum"
                                                            ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)" ng-disabled="disableRecurrenceFlag || calendarModelObject.EventRecurring.flagMonthly != 2">
                                                        <option ng-value="1">Sunday</option>
                                                        <option ng-value="2">Monday</option>
                                                        <option ng-value="4">Tuesday</option>
                                                        <option ng-value="8">Wednesday</option>
                                                        <option ng-value="16">Thursday</option>
                                                        <option ng-value="32">Friday</option>
                                                        <option ng-value="64">Saturday</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    &nbsp;of every month
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-9 daily_rgrid" style="width: 70% !important;" ng-if="calendarModelObject.EventRecurring.PatternEnum == 4">
                                            <ul class="expand_ref">
                                                <li>
                                                    Every:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                </li>
                                                <li>
                                                    <input ng-model="calendarModelObject.EventRecurring.RecursEvery" ng-disabled="disableRecurrenceFlag"
                                                           ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)"
                                                           class="form-control frm_controllead1" type="text" style="width: 90px !important; padding:0 1px !important; font-size:12px !important; margin-bottom: 2px !important;" />

                                                </li>
                                                <li>
                                                    &nbsp;year(s)
                                                </li>
                                            </ul>
                                            <ul class="expand_ref">
                                                <li>
                                                    Repeats On:&nbsp;
                                                </li>
                                                <li>
                                                    <!-- ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" -->
                                                    <select class="form-control frm_controllead1" ng-disabled="disableRecurrenceFlag"
                                                            style="width:90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="calendarModelObject.EventRecurring.MonthEnum"
                                                            ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)">
                                                        <option ng-value="1">January</option>
                                                        <option ng-value="2">February</option>
                                                        <option ng-value="3">March</option>
                                                        <option ng-value="4">April</option>
                                                        <option ng-value="5">May</option>
                                                        <option ng-value="6">June</option>
                                                        <option ng-value="7">July</option>
                                                        <option ng-value="8">August</option>
                                                        <option ng-value="9">September</option>
                                                        <option ng-value="10">October</option>
                                                        <option ng-value="11">November</option>
                                                        <option ng-value="12">December</option>

                                                    </select>
                                                </li>

                                            </ul>
                                            <ul class="expand_ref">

                                                <li>
                                                    <!-- ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" -->
                                                    <input class="option-input radio radio_space" ng-disabled="disableRecurrenceFlag"
                                                           ng-checked="calendarModelObject.EventRecurring.flagYearly==1" ng-model="calendarModelObject.EventRecurring.flagYearly"
                                                           ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)" type="radio" id="addressType17" name="yearlyrepeat" ng-value="1">
                                                    On Day &nbsp;

                                                    <!--<input type="text" style="width:40px;" data-bind="options: window.NumbersArray, value: RecursEvery" />-->
                                                </li>

                                                <li>
                                                    <!-- ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" -->
                                                    <select class="form-control frm_controllead1"
                                                            style="width:90px !important; padding:0 1px !important; font-size:12px !important;"
                                                            ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)"
                                                            ng-model="calendarModelObject.EventRecurring.DayOfMonth" ng-disabled="disableRecurrenceFlag || calendarModelObject.EventRecurring.flagYearly != 1">
                                                        <option ng-value="1">1</option>
                                                        <option ng-value="2">2</option>
                                                        <option ng-value="3">3</option>
                                                        <option ng-value="4">4</option>
                                                        <option ng-value="5">5</option>
                                                        <option ng-value="6">6</option>
                                                        <option ng-value="7">7</option>
                                                        <option ng-value="8">8</option>
                                                        <option ng-value="9">9</option>
                                                        <option ng-value="10">10</option>
                                                        <option ng-value="11">11</option>
                                                        <option ng-value="12">12</option>
                                                        <option ng-value="13">13</option>
                                                        <option ng-value="14">14</option>
                                                        <option ng-value="15">15</option>
                                                        <option ng-value="16">16</option>
                                                        <option ng-value="17">17</option>
                                                        <option ng-value="18">18</option>
                                                        <option ng-value="19">19</option>
                                                        <option ng-value="20">20</option>
                                                        <option ng-value="21">21</option>
                                                        <option ng-value="22">22</option>
                                                        <option ng-value="23">23</option>
                                                        <option ng-value="24">24</option>
                                                        <option ng-value="25">25</option>
                                                        <option ng-value="26">26</option>
                                                        <option ng-value="27">27</option>
                                                        <option ng-value="28">28</option>
                                                        <option ng-value="29">29</option>
                                                        <option ng-value="30">30</option>
                                                        <option ng-value="31">31</option>
                                                    </select>
                                                </li>
                                            </ul>
                                            <ul class="expand_ref">

                                                <li>
                                                    <!-- ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" -->
                                                    <input class="option-input radio radio_space" ng-disabled="disableRecurrenceFlag" ng-checked="calendarModelObject.EventRecurring.flagYearly==2" ng-model="calendarModelObject.EventRecurring.flagYearly"
                                                           ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)" type="radio" id="addressType18" name="yearlyrepeat" ng-value="2">
                                                    On &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                </li>

                                                <li>
                                                    <!-- ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" -->
                                                    <select class="form-control frm_controllead1" style="width:90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="calendarModelObject.EventRecurring.DayOfWeekIndex"
                                                            ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)" ng-disabled="disableRecurrenceFlag || calendarModelObject.EventRecurring.flagYearly==1">
                                                        <option ng-value="1">First</option>
                                                        <option ng-value="2">Second</option>
                                                        <option ng-value="3">Third</option>
                                                        <option ng-value="4">Fourth</option>
                                                        <option ng-value="5">Last</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <!-- ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" -->
                                                    <select class="form-control frm_controllead1" style="width:90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="calendarModelObject.EventRecurring.DayOfWeekEnum"
                                                            ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)" ng-disabled="disableRecurrenceFlag || calendarModelObject.EventRecurring.flagYearly != 2">
                                                        <option ng-value="1">Sunday</option>
                                                        <option ng-value="2">Monday</option>
                                                        <option ng-value="4">Tuesday</option>
                                                        <option ng-value="8">Wednesday</option>
                                                        <option ng-value="16">Thursday</option>
                                                        <option ng-value="32">Friday</option>
                                                        <option ng-value="64">Saturday</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--</div>-->
                                    </div>
                                </div>

                                <div style="border: 1px solid #555;margin:10px 0;">
                                    <p style="width: 142px; margin-top:-10px; margin-left:10px;padding-left: 5px;background:#f7f7f7;">Range of Recurrence</p>
                                    <div class="row" style="margin:0 0 10px 0!important;">
                                        <div class="col-md-6">
                                            <ul class="expand_ref">
                                                <li>
                                                    <label class="control-label center-block">Start</label>
                                                </li>
                                                <li>
                                                    <input kendo-date-picker
                                                           k-format = "HFCService.StaticKendoDateFormat()"
                                                           class="form-control startfield ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date"
                                                           ng-required="true"
                                                           type="text" name="startDate"
                                                           id="RangeDatePicker"
                                                           placeholder="Start Date" data-date-format="MM/dd/yyyy"
                                                           ng-model="calendarModelObject.EventRecurring.StartDate"
                                                           ng-disabled="true"
                                                           data-autoclose="true"
                                                           required>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-6">
                                            <ul class="recurence">
                                                <li>
                                                    <!-- ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" -->
                                                    <input class="option-input radio radio_space" ng-checked="calendarModelObject.EventRecurring.endBy==1" ng-disabled="disableRecurrenceFlag" ng-model="calendarModelObject.EventRecurring.endBy" ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)" type="radio" id="reoccuranceEnd" name="reoccuranceEnd" ng-value="1">No end date
                                                </li>
                                                <li>
                                                    <input class="option-input radio radio_space" ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery)" ng-checked="calendarModelObject.EventRecurring.endBy == 2" ng-disabled="disableRecurrenceFlag" ng-model="calendarModelObject.EventRecurring.endBy" type="radio" id="reoccuranceEndBy" name="reoccuranceEndBy" ng-value="2">End after:
                                                    <input style="width:90px !important; vertical-align: middle; margin-left:20px;" ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery);" ng-disabled="calendarModelObject.EventRecurring.endBy != 2 || disableRecurrenceFlag" ng-model="calendarModelObject.EventRecurring.EndsAfterXOccurrences" class="calder frm_controllead1" type="text" ng-pattern="/^(\d)+$/" />
                                                    occurrences
                                                </li>
                                                <li>
                                                    <ul class="sub_ref">
                                                        <li>
                                                            <input class="option-input radio radio_space"
                                                                   ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery);enableDatePicker();" ng-checked="calendarModelObject.EventRecurring.endBy == 3" ng-disabled="disableRecurrenceFlag" ng-model="calendarModelObject.EventRecurring.endBy" type="radio" id="reoccuranceEndDate" name="reoccuranceEndDate" ng-value="3">End by:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <input 
                                                                   id="recurringEndDate"
                                                                   class="ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date"
                                                                    style="width:170px !important;"
                                                                   type="text" name="endDate"
                                                                   placeholder="End Date" data-date-format="MM/dd/yyyy"
                                                                   ng-model="calendarModelObject.EventRecurring.EndsOn"
                                                                   ng-change="setReccuranceValue(calendarModelObject.EventRecurring.PatternEnum, calendarModelObject.EventRecurring.RecursEvery); ValidateDate('recurringEndDate','date')"
                                                                   data-autoclose="true" > <!--ng-disabled="calendarModelObject.EventRecurring.endBy!=3 || disableRecurrenceFlag"-->
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <!-- END Recurring Panel Body -->

                    </div>
                    <div class="modal-body" id="modalBody" ng-if="privateFlag && !calendarModelObject.IsTask">
                        <h3> This is a Private Appointment</h3>
                    </div>
                    <div class="modal-body" id="modalBody" ng-if="privateFlag && calendarModelObject.IsTask">
                        <h3> This is a Private Task</h3>
                    </div>
                </div>
                <!-- END Recurring Panel -->
                <!-- End of person-modal-new-go.html -->
                <div class="modal-footer" ng-if="!privateFlag">
                    <!--selectedIds-
                    frmAppt-{{frmAppt.$valid}}-->
                    <button type="button" class="btn btn-primary tery_sm1" ng-click="cancelConfirmation()" ng-if="editFlag && !calendarModelObject.IsTask">Cancel Appt</button>
                    <button type="button" class="btn btn-primary tery_sm1" ng-click="deleteConfirmation(calendarModelObject.IsTask)" ng-if="editFlag && !calendarModelObject.IsTask">Delete Appt</button>
                    <button type="button" class="btn btn-primary tery_sm1" ng-click="deleteConfirmation(calendarModelObject.IsTask)" ng-if="editFlag && calendarModelObject.IsTask">Delete Task</button>
                    <button type="button" class="btn btn-primary tery_sm1" ng-click="closeCalendar('calendarModal')">Cancel</button>
                    <button type="submit" class="btn btn-primary tery_sm1" ng-click="saveCalendarData();">Save</button>
                    <button type="submit" class="btn btn-primary tery_sm1" ng-if="calendarModelObject.IsTask && editFlag && !calendarModelObject.CompletedDateUtc" ng-click="completeTask()">Complete</button>
                    <button type="submit" class="btn btn-primary tery_sm1" ng-if="calendarModelObject.IsTask && editFlag && calendarModelObject.CompletedDateUtc" ng-click="incompleteTask()">Incomplete</button>
                    <button type="submit" class="btn btn-primary tery_sm1"
                            ng-if="returnText && (returnText == 'Lead' || returnText == 'Qualify' || returnText == 'Lead-Appointment' || returnText == 'Lead-Communication')"
                            ng-click="saveCalendarData(false, true)">
                        Save And Convert Lead
                    </button>
                    <button class="btn btn-primary tery_sm1"
                            ng-if="returnText && !(returnText == 'Lead' || returnText == 'Qualify' || returnText == 'Lead-Appointment' || returnText == 'Lead-Communication')"
                            ng-click="saveCalendarData(true);">
                        Save and Return to {{returnText}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>