﻿<div class="tooltip-section" ng-show="displayFlag">
    <style>
        .tooltip-section {
            border: 1px solid blue;
            display: inline-block;
            border-radius: 20%;
            padding: 10px;
            position: absolute;
            top: 17px;
        }
    </style>
    <div>{{tooltipEmail}}</div>
    <div>{{tooltipPhone}}</div>
</div>