﻿<div class="modal fade" id="emailTemplateModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-disabled="AdvancedEmailService.IsBusy" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add New Templates</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-hover" ng-cloak>
                                <thead><tr><th></th><th>Description</th><th>Template Subject</th><th>Email Template Type</th></tr></thead>
                                <tbody>
                                    <tr ng-repeat="x in AdvancedEmailService.BaseEmailTemplates">
                                        <td>
                                            <div style="max-width:100px">
                                                <input type="checkBox" ng-model="x.Selected"/>
                                            </div>
                                        </td>
                                        <td>{{ x.Description }}</td>
                                        <td>{{ x.TemplateSubject }}</td>
                                        <td>{{ x.EmailTemplateTypeName }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default btn-sm" ng-disabled="AdvanceEmailService.IsBusy" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" ng-disabled="AdvancedEmailService.IsBusy" ng-click="AdvancedEmailService.AddTemplates()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                </div>
        </div>
    </div>
</div>