﻿<div class="modal fade" id="_quoteEmailModal_" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form_model_email" id="form_model_email" role="form"
                  ng-submit="selectChanged()">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title" ng-show="ShowOtherEmailData">Select Items to Email</h4>
                    <h4 class="mx-auto modal-title" ng-show="!ShowOtherEmailData">Send Email</h4>
                    <button type="button" ng-disabled="EmailQuoteService.IsBusy" class="close popup_close" ng-click="EmailQuoteService.Cancel()" aria-hidden="true">&times;</button>
                </div>
                <div>
                    <div class="modal-body emailquote_popup" style="padding-bottom:5px !important;">
                        <i ng-show="ShowOtherEmailData">*At least one (1) selection is required</i>
                        <div class="print_popup" ng-show="ShowOtherEmailData">
                            <input type="checkbox" class="option-input checkbox" name="Print"
                                   ng-model="printOptions.leadDetails">
                            <label for="leadcustoemr" class="customer_chkbox" ng-show="packetType == 'SalesPacket'">Lead/Customer and Opportunity details</label>
                            <label for="leadcustoemr" class="customer_chkbox" ng-show="packetType == 'InstallationPacket'">Customer and Opportunity Details</label>
                            <div style="margin-left:21px;">
                                <div>
                                    <input type="checkbox" class="option-input checkbox"
                                           name="Print" id="internalnotes"
                                           ng-model="printOptions.internalNotes">
                                    <label for="internalnotes">
                                        Internal Notes
                                    </label>
                                </div>
                                <div>
                                    <input type="checkbox" class="option-input checkbox"
                                           name="Print" id="externalnotes"
                                           ng-model="printOptions.externalNotes">
                                    <label for="externalnotes">
                                        External Notes
                                    </label>
                                </div>

                                <div>
                                    <input type="checkbox" class="option-input checkbox"
                                           name="Print" id="directionnotes"
                                           ng-model="printOptions.directionNotes">
                                    <label for="directionnotes">
                                        Direction Notes
                                    </label>
                                </div>
                            </div>
                            <input type="checkbox" class="option-input checkbox" name="Print"
                                   ng-model="printOptions.googleMap">
                            <label for="googlemap">
                                Google Map
                            </label>

                            <!-- Sales packet options  -->




                            <div ng-show="packetType == 'SalesPacket' ">
                                <div ng-show="printExistingMeasurements=='true' && brandid != 3">
                                    <input type="checkbox" class="option-input checkbox" name="Print"
                                           ng-model="printOptions.existingMeasurements">
                                    <label for="existingmeasure">
                                        Print Existing Measurements
                                    </label>
                                </div>

                                <div class="print_rbutns" ng-show="associatedWith=='Opportunity'">
                                    <input type="checkbox" class="option-input checkbox" name="Print"
                                           ng-model="printOptions.quote" ng-change="selectionChanged()" id="quotecheck">
                                    <label for="quote_" ng-show="packetType == 'SalesPacket'">Quote</label>
                                    <div style="margin-left:21px;">
                                        <div>
                                            <label>
                                                <input class="option-input radio" type="radio" ng-change="quoteorderSubOptions(true,associatedWith,packetType)" ng-model="printFormat.quote" value="CondensedVersion">
                                                Condensed Version
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input class="option-input radio" type="radio" ng-change="quoteorderSubOptions(true,associatedWith,packetType)" ng-model="printFormat.quote" value="ExcludeDiscount">
                                                Exclude Line Item Discounts
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input class="option-input radio" type="radio" ng-change="quoteorderSubOptions(true,associatedWith,packetType)" ng-model="printFormat.quote" value="IncludeDiscount">
                                                Include Line Item Discounts
                                            </label>
                                        </div>
                                    </div>
                                </div>



                                <!--// dynamic sales packet-->

                                <hr style="margin:10px 0 !important;" ng-if="SalesPacketList.length > 0">
                                <div class="pdocument_section">
                                    <div class="source-group row" style="margin-bottom:5px !important;" ng-repeat="md in SalesPacketList">
                                        <div class="col-sm-6" style="padding-left:0 !important;">
                                            <input type="checkbox" class="option-input checkbox"
                                                   ng-model="md.IsEnabled" id="salesPacket_{{md.Id}}">
                                            <label for="salesPacket_{{md.Id}}">
                                                {{md.Title}}
                                            </label>
                                        </div>
                                        <div class="col-sm-6">
                                            Qty* <input style="width:100px;"
                                                        numbers-only="numbers-only"
                                                        maxlength="2"
                                                        ng-disabled="!md.IsEnabled"
                                                        type="text"
                                                        ng-model="md.Quantity" />
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <!-- Installation packet options  -->

                            <div class="print_rbutns" ng-show="packetType == 'InstallationPacket'">
                                <input type="checkbox" class="option-input checkbox"
                                       ng-model="printOptions.orderCustomerInvoice"
                                       ng-change="selectionChanged()" id="ordercheck">
                                <label for="warranty">Order (Customer Invoice)</label>
                                <div style="margin-left:21px;">
                                    <div>
                                        <label>
                                            <input class="option-input radio" type="radio" ng-change="quoteorderSubOptions(true,'',packetType)" ng-model="printFormat.order" value="CondensedVersion">
                                            Condensed Version
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input class="option-input radio" type="radio" ng-change="quoteorderSubOptions(true,'',packetType)" ng-model="printFormat.order" value="ExcludeDiscount">
                                            Exclude Line Item Discounts
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input class="option-input radio" type="radio" ng-change="quoteorderSubOptions(true,'',packetType)" ng-model="printFormat.order" value="IncludeDiscount">
                                            Include Line Item Discounts
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <input type="checkbox" class="option-input checkbox"
                                           ng-model="printOptions.orderInstallerInvoice">
                                    <label for="warranty">Order (Installer Invoice)</label>
                                </div>

                            </div>


                            <!--Dynamic Install Packet Section-->
                            <hr style="margin:10px 0 !important;" ng-if="InstallPacketList.length > 0">
                            <div class="pdocument_section">
                                <div class="source-group row" style="margin-bottom:5px !important;" ng-repeat="md in  InstallPacketList">
                                    <div class="col-sm-6 pl-0">
                                        <input type="checkbox" class="option-input checkbox"
                                               ng-model="md.IsEnabled" id="InstallPacket_{{md.Id}}">
                                        <label for="InstallPacket_{{md.Id}}">
                                            {{md.Title}}
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        Qty* <input style="width:100px;"
                                                    numbers-only="numbers-only"
                                                    maxlength="2"
                                                    ng-disabled="!md.IsEnabled"
                                                    type="text"
                                                    ng-model="md.Quantity" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr style="margin:10px 0 !important;" ng-if="mydocumentList.length > 0">
                        <div class="pdocument_section" ng-show="ShowOtherEmailData">
                            <div class="source-group row" style="margin-bottom:5px !important;" ng-repeat="md in mydocumentList">
                                <div class="col-sm-6 pl-0">
                                    <input type="checkbox" class="option-input checkbox" name="Print"
                                           ng-model="md.Selected" id="leadcustoemr_{{md.NoteId}}">
                                    <label for="leadcustoemr_{{md.NoteId}}">
                                        {{md.Title}}
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    Qty* <input style="width:100px;"
                                                numbers-only="numbers-only"
                                                maxlength="2"
                                                ng-disabled="!md.Selected"
                                                type="text"
                                                ng-model="md.Quantity" />
                                </div>
                            </div>
                        </div>


                        <p style="margin:15px 0; font-size:14px;">From: <span ng-bind="EmailQuoteService.PersonPrimaryEmail"></span></p>
                        <div class="form-group row" ng-class="{true: 'has-error'}[submitted && EmailQuoteService.ToAddresses.$invalid]">
                            <label class="col-sm-3 col-xs-3 required_label">To</label>
                            <div class="col-sm-9 col-xs-9">
                                <input type="text" name="To" class="form-control frm_controllead1 required_field"
                                       ng-model="EmailQuoteService.ToAddresses"
                                       placeholder="Required" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-xs-3 required_label">cc</label>
                            <div class="col-sm-9 col-xs-9">
                                <input type="text" name="cc" class="form-control frm_controllead1"
                                       ng-model="EmailQuoteService.ccAddresses" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-xs-3 required_label">Bcc</label>
                            <div class="col-sm-9 col-xs-9">
                                <input type="text" name="Bcc" class="form-control frm_controllead1"
                                       ng-model="EmailQuoteService.BccAddresses" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{true: 'has-error'}[submitted && EmailQuoteService.Subject.$invalid]">
                            <label class="col-sm-3 col-xs-3 required_label">Subject</label>
                            <div class="col-sm-9 col-xs-9">
                                <input type="text" class="form-control frm_controllead1 required_field" placeholder="Required" required name="Subject" maxlength="150" ng-model="EmailQuoteService.Subject" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-xs-3 required_label">Attachments</label>
                            <div class="col-sm-9 col-xs-9">
                                <div class="Attachments-popupgrid w-100" style="margin-bottom:15px;" ng-show="ShowOtherEmailData">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select kendo-multi-select
                                                k-options="EmailQuoteService.selectOptions"
                                                k-ng-model="EmailQuoteService.selectedIds"
                                                id="Attachments1"
                                                data-max-selected-items="9"
                                                name="Attachments"
                                                k-on-change="EmailQuoteService.selectItem()"
                                                class="custom-dropdown__select custom-dropdown__select--white required_field" style="height:100% !important; width:100% !important;"></select>
                                    </span>
                                </div>

                                <div ng-show="EmailQuoteService.attachmentsize>0 && ShowOtherEmailData">
                                    <span style="display:inline-block ;background:#bebec3; font-size:13px;"><b>size: {{EmailQuoteService.attachmentsize}}MB</b></span>
                                </div>
                                <div ng-show="!ShowOtherEmailData">
                                    <a ng-click="OpenReportAttchment()" style="font-size:13px;">{{EmailQuoteService.ReportAttachmentName}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="EmailQuoteService.displayEmailsignature">
                            <label class="col-sm-3 col-xs-3 required_label"></label>
                            <input type="checkbox" class="option-input checkbox" name="emailsignature"
                                   ng-disabled="EmailQuoteService.cboxDisableEmailsignature"
                                   ng-model="EmailQuoteService.Emailsignature">
                            <label>Add Email Signature</label>
                        </div>
                        <div class="form-group" ng-class="{true: 'has-error'}[submitted && EmailQuoteService.Body.$invalid]">
                            <textarea class="form-control frm_controllead1 required_field" kendo-editor k-ng-model="EmailQuoteService.Body" required placeholder="Required"
                                      k-tools="[
                                     'bold',
                                    'italic',
                                    'underline',
                                    'strikethrough',
                                    'justifyLeft',
                                    'justifyCenter',
                                    'justifyRight',
                                    'justifyFull',
                                    'insertUnorderedList',
                                    'insertOrderedList',
                                    'indent',
                                    'outdent',
                                    'createLink',
                                    'unlink',
                                    'subscript',
                                    'superscript',
                                    'tableWizard',
                                    'createTable',
                                    'addRowAbove',
                                    'addRowBelow',
                                    'addColumnLeft',
                                    'addColumnRight',
                                    'deleteRow',
                                    'deleteColumn',
                                    'formatting',
                                    'cleanFormatting',
                                    'viewHtml',
                                    'fontName',
                                    'fontSize'
                                ]"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <span class="text-danger">{{EmailQuoteService.Errortext}}</span>
                        <button type="button" class="btn btn-primary tery_sm1" ng-disabled="EmailQuoteService.IsBusy" ng-click="EmailQuoteService.Cancel()">Cancel </button>
                        <button type="submit" class="btn btn-primary tery_sm1" ng-disabled="EmailQuoteService.IsBusy" ng-click="selectChanged(ShowOtherEmailData)"> Email</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>