﻿<div class="modal fade" id="emailModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" ng-submit="EmailService.Send()">
                <div class="modal-header">
                    <h4 class="mx-auto modal-title">From: <span ng-bind="EmailService.PersonPrimaryEmail"></span></h4>
                    <button type="button" ng-disabled="EmailService.IsBusy" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>To:</label>
                        <input type="hidden" ng-required="true" class="select2" ui-select2="SelectOption" name="To" ng-model="EmailService.ToAddresses" />
                    </div>
                    <div class="form-group">
                        <label>Bcc:</label>
                        <input type="hidden" class="select2" name="Bcc" ui-select2="SelectOption" ng-model="EmailService.BccAddresses" />
                    </div>
                    <div class="form-group">
                        <label>Subject:</label>
                        <input type="text" class="form-control" placeholder="Subject" name="Subject" ng-required="true" maxlength="128" ng-model="EmailService.Subject" />
                    </div>
                    <div class="form-group" ng-show="EmailService.AttachmentLink && EmailService.AttachmentText">
                        <label>Attachments:</label>
                        <a target="_blank" ng-href="{{EmailService.AttachmentLink}}" ng-bind="EmailService.AttachmentText"></a>
                        <!--UNCOMMENT CODE BELOW IF WE WANT TO INCLUDE A REMOVE ATTACHMENT BUTTON-->
                        <!--<div class="btn-group">
                            <a class="btn btn-link btn-sm" target="_blank" id="email_attachment" href="@ViewBag.AttachmentLink">@ViewBag.AttachmentText</a>
                            <button class="btn btn-sm btn-link"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>-->
                    </div>   
                    <summernote on-init="init(editor)" ng-model="EmailService.Body" config="{ height: 300,  toolbar: [ ['edit', ['undo', 'redo']], ['headline', ['style']],
                    ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
                    ['fontface', ['fontname']],
                    ['textsize', ['fontsize']],
                    ['color', ['color']],
                    ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']], ['insert', ['link']], ['misc', ['undo', 'redo']] ]  }"></summernote>     
                                     
                    <!--<textarea ui-tinymce="TinyMCEOpt" ng-model="EmailService.Body"></textarea>-->                    
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default btn-sm" ng-disabled="EmailService.IsBusy" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Discard &amp; Close</button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-disabled="EmailService.IsBusy"><span class="glyphicon glyphicon-send"></span> Send</button>
                </div>
            </form>
        </div>
    </div>
</div>