﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                 <h4 class="mx-auto modal-title">Missing Fields</h4>
                 <button type="button" class="close popup_close" ng-disabled="ErrorService.IsBusy" ng-click="ErrorService.Cancel(modalId)" aria-hidden="true">&times;</button>
            </div>
            <form role="form" novalidate >
                <div class="modal-body">
                    <hfc-error-form></hfc-error-form>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-cancel" ng-click="ErrorService.Samepage(modalId)">Return</button>
                    <!--<button type="submit" class="btn btn-cancel"> Save</button>-->
                </div>
            </form>
        </div>
    </div>
</div>
