﻿<!-- Template for common dialog -->

<div class="modal fade" id="_dialogModalYesNo_" data-keyboard="false"
     data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Confirm</h4>
                <button type="button" class="close popup_close"
                        ng-disabled="DialogYesNoService.IsBusy"
                        ng-click="DialogYesNoService.SendCancel()"
                        aria-hidden="true">
                    &times;
                </button>
            </div>
            <form ng-submit="DialogYesNoService.acceptConfirm(this)"
                  name="Pop_Dialog" role="form" novalidate>
                <div class="modal-body">
                    <span> {{DialogYesNoService.message}} </span>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="submit" class="btn btn-cancel">
                            Yes
                        </button>
                        <button type="button" class="btn btn-cancel" ng-click="DialogYesNoService.SendNo()">
                            No
                        </button>
                        <!--<button type="button"
                                ng-click="DialogYesNoService.SendCancel()"
                                class="btn btn-cancel">
                            Cancel
                        </button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!---- dropdown ---->

