﻿<!-- Template for appointment-event Grid -->
<div ng-form name="formAddressValidation" class="w-100">
    <!--<div> Debugging:

     </div>-->
    <!--
        <div class="form-group row ml-0 mr-0"
         ng-class="{true: 'has-error'}[parentFormSubmitStatus && formAddressValidation.zipCode.$invalid]">
         -->
    <!--<div class="source-group row">
        <div class="col-sm-3 col-xs-3 required_label"
             ng-class="{true: 'has-error'}[parentFormSubmitStatus && formAddressValidation.zipCode.$invalid]">
            <label ng-bind="addressModel.CountryCode2Digits == 'US' ? 'Zip Code' : 'Postal Code'"></label>
        </div>
        <div class="col-sm-9 col-xs-9">
            <input type="text" name="zipCode" maxlength="{{addressModel.CountryCode2Digits == 'CA' ? 7 : 6}}"
                   ng-required="true"
                   ng-model="addressModel.ZipCode"
                   ui-mask="{{addressModel.CountryCode2Digits == 'CA' ? 'A9A 9A9' : '99999'}}"
                   class="frm_controllead1 form-control required_field"
                   ng-class="{true: 'has-error'}[parentFormSubmitStatus && formAddressValidation.zipCode.$invalid]"
                   ui-options="{clearOnBlur:false}" />
        </div>

    </div>-->
    <!--<div>
        debugging: validAddres{{isValidAddress}}
        <br />
        user selected {{isUserSelected}}
    </div>-->
    <!--
        <div class="form-group row ml-0 mr-0"
         ng-class="{true: 'has-error'}[!isValidAddress && isUserSelected]">
         -->

    <div class="popup-group row"
         ng-class="{true: 'has-error'}[parentFormSubmitStatus && formAddressValidation.zipCode.$invalid]">
        <div class="col-sm-3 col-xs-3 required_label">
            <label ng-bind="addressModel.CountryCode2Digits == 'US' ? 'Zip Code' : 'Postal Code'"></label>
        </div>
        <div class="col-sm-9 col-xs-9">
            <input type="text" name="zipCode"
                   ng-required="true"
                   ng-model="addressModel.ZipCode"
                   ui-mask="{{addressModel.CountryCode2Digits == 'CA' ? 'A9A 9A9' : '99999'}}"
                   class="form-control frm_controllead1 required_field"
                   ng-class="{true: 'has-error'}[parentFormSubmitStatus && formAddressValidation.zipCode.$invalid]"
                   ui-options="{clearOnBlur:false}" />
        </div>
    </div>
    <div class="popup-group row" ng-show="addressModel.IsValidated==undefined">
        <label class="col-sm-3 col-xs-3 required_label">Address 1</label>
        <div class="col-sm-9 col-xs-9">
            <div angucomplete-alt id="autocomp_{{autocompleteid}}"
                 placeholder="Search Address"
                 maxlength="50"
                 pause="100"
                 selected-object="selectedAddress"
                 remote-url="/api/AddressValidation/0/SmartyStreetSuggession"
                 remote-url-data-field="suggestions"
                 remote-url-request-formatter="remoteUrlRequestFn"
                 title-field="street_line"
                 description-field="city_line"
                 input-class="frm_controllead1 form-control"
                 match-class="highlight"
                 input-changed="address1Changed"
                 text-no-results="false"
                 focus-out="notifyAddress1blur()"
                 focus-in="notifyAddress1in()"
                 minlength="1">
            </div>
        </div>
    </div>
    <div class="popup-group row" ng-show="addressModel.IsValidated==true||addressModel.IsValidated==false">
        <label class="col-sm-3 col-xs-3 required_label">Address 1</label>
        <div class="col-sm-8 col-xs-8">
            <div angucomplete-alt id="autocomp_{{autocompleteid}}"
                 placeholder="Search Address"
                 maxlength="50"
                 pause="100"
                 selected-object="selectedAddress"
                 remote-url="/api/AddressValidation/0/SmartyStreetSuggession"
                 remote-url-data-field="suggestions"
                 remote-url-request-formatter="remoteUrlRequestFn"
                 title-field="street_line"
                 description-field="city_line"
                 input-class="frm_controllead1 form-control"
                 match-class="highlight"
                 input-changed="address1Changed"
                 text-no-results="false"
                 focus-out="notifyAddress1blur()"
                 focus-in="notifyAddress1in()"
                 minlength="1">
            </div>
        </div>
        <div class="col-sm-1 col-xs-1" ng-if="addressModel.IsValidated==true">
            <label data-tooltip="Address Validated" class="ng-binding ldet_label error" style="vertical-align:sub;"><i class="fas fa-check-circle" style="color:green;"></i></label>
        </div>
        <div class="col-sm-1 col-xs-1" ng-if="addressModel.IsValidated==false">
            <label data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="vertical-align:sub;"><i class="fa fa-exclamation-triangle"></i></label>
        </div>
    </div>

    <!--<div class="source-group row" ng-show="addressModel.IsValidated==false">
        <label class="col-sm-3 col-xs-3 required_label">Address 1</label>
        <div class="col-sm-8 col-xs-8" style="padding-right:0 !important;">
           
            <div angucomplete-alt id="autocomp_{{autocompleteid}}"
                 placeholder="Search Address"
                 maxlength="50"
                 pause="100"
                 selected-object="selectedAddress"
                 remote-url="/api/AddressValidation/0/SmartyStreetSuggession"
                 remote-url-data-field="suggestions"
                 remote-url-request-formatter="remoteUrlRequestFn"
                 title-field="street_line"
                 description-field="city_line"
                 input-class="frm_controllead1 form-control"
                 match-class="highlight"
                 input-changed="address1Changed"
                 text-no-results="false"
                 focus-out="notifyAddress1blur()"
                 focus-in="notifyAddress1in()"
                 minlength="1">
            </div>

        </div>
        <div class="col-sm-1 col-xs-1">
            <label class="ng-binding ldet_label error" style="vertical-align:sub;"><i class="fa fa-exclamation-triangle"></i></label>
        </div>
    </div>-->

    <div class="popup-group row">
        <label class="col-sm-3 col-xs-3 required_label">Address 2</label>
        <div class="col-sm-9 col-xs-9">
            <input type="text" placeholder="" maxlength="50" ng-model="addressModel.Address2"
                   class="frm_controllead1" />
        </div>
    </div>
    <div class="popup-group row">
        <label class="col-sm-3 col-xs-3 required_label">City</label>
        <div class="col-sm-9 col-xs-9">
            <input type="text" placeholder="" maxlength="50" ng-model="addressModel.City"
                   class="frm_controllead1" />
        </div>
    </div>
    <div class="popup-group row state_field">
        <label class="col-sm-3 col-xs-3 required_label" ng-bind="addressModel.CountryCode2Digits == 'US' ? 'State' : 'Province'"></label>
        <div class="col-sm-9 col-xs-9">
            <span class="custom-dropdown custom-dropdown--white">
                <!--<select class="custom-dropdown__select custom-dropdown__select--white"
                        ng-model="addressModel.State"
                        ng-options='opt.StateAbv as (opt.StateAbv + " - " + opt.StateName) for opt in getStatesTP(addressModel.CountryCode2Digits)'>
                    <option value="">Select</option>
                </select>-->
                <select id="States_Name"
                        name="States_Name"
                        kendo-drop-down-list
                        k-options="States_Name_Option"
                        k-ng-model="addressModel.State"
                        class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;">
                </select>
            </span>
        </div>
    </div>
</div>
