﻿<!-- Template for print Popup -->
<!-- <div class="modal fade" id="{{modalId}}" data-keyboard="false" -->
<div class="modal fade" id="__printModalDiv__" data-keyboard="false"
     data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Select Items to Print</h4>
                <button type="button" class="close popup_close"
                        ng-disabled="isBusy"
                        ng-click="cancel()"
                        aria-hidden="true">
                    &times;
                </button>
            </div>
            <form ng-submit="printPacket()" name="Pop_PrintSalesPacket"
                  role="form" novalidate>
                <div class="modal-body" style="padding-bottom:5px !important;">
                    <i>*At least one (1) selection is required</i>

                    <div class="print_popup">
                        <input type="checkbox" class="option-input checkbox" name="Print"
                               ng-model="printOptions.leadDetails"
                               id="leadcustoemr" ng-change="selectChanged()">
                        <label for="leadcustoemr" class="customer_chkbox" ng-show="packetType == 'SalesPacket'">Lead/Customer and Opportunity details</label>
                        <label for="leadcustoemr" class="customer_chkbox" ng-show="packetType == 'InstallationPacket'">Customer and Opportunity Details</label>
                        <div style="margin-left:21px;">
                            <div>
                                <input type="checkbox" class="option-input checkbox" name="Print"
                                       ng-model="printOptions.internalNotes"
                                       id="internalnotes" ng-change="selectChanged()">
                                <label for="internalnotes">
                                    Internal Notes
                                </label>
                            </div>
                            <div>
                                <input type="checkbox" class="option-input checkbox" name="Print"
                                       ng-model="printOptions.externalNotes"
                                       id="externalnotes" ng-change="selectChanged()">
                                <label for="externalnotes">
                                    External Notes
                                </label>
                            </div>

                            <div>
                                <input type="checkbox" class="option-input checkbox" name="Print"
                                       ng-model="printOptions.directionNotes"
                                       id="directionnotes" ng-change="selectChanged()">
                                <label for="directionnotes">
                                    Direction Notes
                                </label>
                            </div>
                        </div>
                        <input type="checkbox" class="option-input checkbox" name="Print"
                               ng-model="printOptions.googleMap"
                               id="googlemap" ng-change="selectChanged()">
                        <label for="googlemap">
                            Google Map
                        </label>

                        <!-- Sales packet options  -->




                        <div ng-show="packetType == 'SalesPacket' ">
                            <div ng-show="printExistingMeasurements=='true' && brandid != 3">
                                <input type="checkbox" class="option-input checkbox" name="Print"
                                       ng-model="printOptions.existingMeasurements"
                                       ng-change="selectChanged()" id="existingmeasure">
                                <label for="existingmeasure">
                                    Print Existing Measurements
                                </label>
                            </div>

                            <div class="print_rbutns" ng-show="associatedWith=='Opportunity' || associatedWith=='Quote'">
                                <input type="checkbox" class="option-input checkbox" name="Print"
                                       ng-model="printOptions.quote"
                                       id="quote_" ng-change="selectChanged()">
                                <label for="quote_" ng-show="packetType == 'SalesPacket'">Quote</label>
                                <div style="margin-left:21px;">
                                    <div>
                                        <label>
                                            <input class="option-input radio" ng-change="quoteorderSubOptions(true,associatedWith,packetType)" type="radio" ng-model="printFormat.quote" value="CondensedVersion">
                                            Condensed Version
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input class="option-input radio" ng-change="quoteorderSubOptions(true,associatedWith,packetType)" type="radio" ng-model="printFormat.quote" value="ExcludeDiscount">
                                            Exclude Line Item Discounts
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input class="option-input radio" ng-change="quoteorderSubOptions(true,associatedWith,packetType)" type="radio" ng-model="printFormat.quote" value="IncludeDiscount">
                                            Include Line Item Discounts
                                        </label>
                                    </div>
                                </div>
                            </div>



                            <!--// dynamic sales packet-->

                            <hr style="margin:10px 0 !important;" ng-if="SalesPacketList.length > 0">
                            <div class="pdocument_section">
                                <div class="source-group row" style="margin-bottom:5px !important;" ng-repeat="md in SalesPacketList">
                                    <div class="col-sm-6 pl-0">
                                        <input type="checkbox" class="option-input checkbox"
                                               ng-model="md.IsEnabled" id="salesPacket_{{md.Id}}"
                                               ng-change="selectChanged()">
                                        <label for="salesPacket_{{md.Id}}">
                                            {{md.Title}}
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        Qty* <input style="width:100px;"
                                                    numbers-only="numbers-only"
                                                    maxlength="2"
                                                    ng-disabled="!md.IsEnabled"
                                                    type="text"
                                                    ng-model="md.Quantity" />
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- Installation packet options  -->

                        <div class="print_rbutns" ng-show="packetType == 'InstallationPacket'">
                            <input type="checkbox" class="option-input checkbox"
                                   ng-model="printOptions.orderCustomerInvoice"
                                   ng-change="selectChanged()" id="order_">
                            <label for="warranty">Order (Customer Invoice)</label>
                            <div style="margin-left:21px;">
                                <div>
                                    <label>
                                        <input class="option-input radio" type="radio" ng-change="quoteorderSubOptions(true,'',packetType)" ng-model="printFormat.order" value="CondensedVersion">
                                        Condensed Version
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input class="option-input radio" type="radio" ng-change="quoteorderSubOptions(true,'',packetType)" ng-model="printFormat.order" value="ExcludeDiscount">
                                        Exclude Line Item Discounts
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input class="option-input radio" type="radio" ng-change="quoteorderSubOptions(true,'',packetType)" ng-model="printFormat.order" value="IncludeDiscount">
                                        Include Line Item Discounts
                                    </label>
                                </div>
                            </div>

                            <div>
                                <input type="checkbox" class="option-input checkbox"
                                       ng-model="printOptions.orderInstallerInvoice"
                                       ng-change="selectChanged()">
                                <label for="warranty">Order (Installer Invoice)</label>
                            </div>
                            <!--<div ng-hide="true">
                                <input type="checkbox" class="option-input checkbox"
                                        ng-model="printOptions.warranty"
                                       id="warranty" ng-change="selectChanged()">
                                <label for="warranty">Warranty Information</label>
                                </div>-->
                            <!--<div>
                                <input type="checkbox" class="option-input checkbox"
                                       ng-model="printOptions.installChecklist"
                                       id="installchecklist" ng-change="selectChanged()">
                                <label for="installchecklist">Installation Checklist</label>
                            </div>
                            <div>
                                <input type="checkbox" class="option-input checkbox"
                                        ng-model="printOptions.installProcess"
                                       id="installprocess" ng-change="selectChanged()">
                                <label for="installprocess">Installation Process</label>
                            </div>-->
                        </div>


                        <!--Dynamic Install Packet Section-->
                        <hr style="margin:10px 0 !important;" ng-if="InstallPacketList.length > 0">
                        <div class="pdocument_section">
                            <div class="source-group row" style="margin-bottom:5px !important;" ng-repeat="md in  InstallPacketList">
                                <div class="col-sm-6 pl-0">
                                    <input type="checkbox" class="option-input checkbox"
                                           ng-model="md.IsEnabled" id="InstallPacket_{{md.Id}}"
                                           ng-change="selectChanged()">
                                    <label for="InstallPacket_{{md.Id}}">
                                        {{md.Title}}
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    Qty* <input style="width:100px;"
                                                numbers-only="numbers-only"
                                                maxlength="2"
                                                ng-disabled="!md.IsEnabled"
                                                type="text"
                                                ng-model="md.Quantity" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr style="margin:10px 0 !important;" ng-if="mydocumentList.length > 0">
                    <div class="pdocument_section">
                        <div class="source-group row" style="margin-bottom:5px !important;" ng-repeat="md in mydocumentList">
                            <div class="col-sm-6 pl-0">
                                <input type="checkbox" class="option-input checkbox" name="Print"
                                       ng-model="md.Selected" id="leadcustoemr_{{md.NoteId}}"
                                       ng-change="selectChanged()">
                                <label for="leadcustoemr_{{md.NoteId}}">
                                    {{md.Title}}
                                </label>
                            </div>
                            <div class="col-sm-6">
                                Qty* <input style="width:100px;"
                                            numbers-only="numbers-only"
                                            maxlength="2"
                                            ng-disabled="!md.Selected"
                                            type="text"
                                            ng-model="md.Quantity" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="button" ng-disabled="isBusy"
                                ng-click="cancel(modalId)"
                                class="btn btn-cancel">
                            Cancel
                        </button>
                        <button type="submit" ng-disabled="isBusy || isValid == false" class="btn btn-cancel">
                            Print
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




