﻿<!-- modalId used to get the div which need to be displayed -->
<div>
    <div>
        <div class="table-responsive">
            <table class="table table-expand">
                <thead class="expand_lhead">
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>View</th>
                        <th>Created</th>
                        <th>
                            <button type="button" class="plus_but tooltip-bottom" 
                                data-tooltip="New Note" ng-click="NoteServiceTP.AddNoteTP()">
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                            </button>
                        </th>
                        <th>
                            <button type="button" class="plus_but tooltip-bottom" 
                                data-tooltip="New Attachment" ng-click="NoteServiceTP.AddAttachmentTP()">
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                            </button>
                        </th>
                        <th>
                            <button class="plus_but tooltip-bottom" data-tooltip="View History" 
                                data-template="/templates/NG/history-aside.html" data-placement="left" 
                                data-animation="am-slide-left"
                                ng-click="$event.preventDefault(); LeadNoteService.Load(LeadId)"
                                bs-aside="{title: 'Lead Notes', service: LeadNoteService, PrimId: Lead.LeadId, Notes:(LeadNoteService.LeadNotes), Message: '', NoteType: 0}"
                                data-container="body">
                                <img src="../../../Images/history.png" alt="" />
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="n in NoteServiceTP.NoteList">
                        <td>
                            <a class="fa fa-pencil-square-o edit_icon"
                               ng-click="NoteServiceTP.EditNoteTP($index)">
                            </a>
                        </td>
                        <td>Note</td>
                        <td>
                            <a ng-click="NoteServiceTP.DisplayNoteTP($index)">{{n.Title}}</a>
                          </td>
                        <td>{{n.CategoryName}}</td>
                        <td></td>
                        <td>{{n.CreatedOn | date:"MM/dd/yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div>
        <div class="modal fade" id="_noteModal_" data-keyboard="false"
             data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <button type="button" class="close popup_close"
                                ng-disabled="NoteServiceTP.IsBusy"
                                ng-click="NoteServiceTP.Cancel(modalId)"
                                aria-hidden="true">
                            &times;
                        </button>

                        <h4 class="modal-title">{{NoteServiceTP.Mode}} Notes</h4>
                    </div>
                    <form ng-submit="NoteServiceTP.SaveNoteTP($index)"
                          name="Pop_Note" role="form" novalidate>
                        <div class="modal-body">
                            <!-- Display this div, when the mode is not Disply(otherwise add or edit) -->
                            <div ng-if="NoteServiceTP.Mode != 'Display'">
                                <div>
                                    <div class="row form-group">
                                        <label for="inputEmail3" class="col-sm-3 popup_label">Title</label>
                                        <div class="col-sm-9 state_grid">
                                            <input type="text" name="Note_Title" maxlength="50"
                                                   ng-required="true"
                                                   ng-model="NoteServiceTP.Note.Title"
                                                   class="form-control frm_lead" placeholder="Title" />
                                            <div ng-if="NoteServiceTP.submitnte || Pop_Note.Note_Title.$dirty"
                                                 ng-messages="Pop_Note.Note_Title.$error" style="color:red">
                                                <p ng-message="required">Providing a Title is mandatory.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group state_field">
                                        <label for="inputEmail3" class="col-sm-3 popup_label">Category</label>
                                        <!--<div>
                                            Selected Category-- : NoteServiceTP.Note.SelectedCategory}}
                                        </div>-->
                                        <div class="col-sm-9 state_grid">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <!--https://docs.angularjs.org/api/ng/directive/select-->
                                                <!--https://docs.angularjs.org/api/ng/directive/select#using-ngvalue-to-bind-the-model-to-an-array-of-objects-->
                                                <select ng-model="NoteServiceTP.Note.SelectedCategory"
                                                        ng-options="option.name for option in NoteServiceTP.CategoryList 
                                                        track by option.id"
                                                        class="custom-dropdown__select custom-dropdown__select--white">
                                                    <!--<option value="0">Internal</option>
                                                    <option value="1">Customer</option>
                                                    <option value="2">Direction</option>-->
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="edit_textarea row">
                                        <label for="inputEmail3" class="col-sm-3 popup_label">Note</label>
                                        <div class="col-sm-9 state_grid">
                                            <textarea name="Note_Message"
                                                      ng-model="NoteServiceTP.Note.Description"
                                                      id="txtDeactivateMessage" placeholder="Message..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Display dis div, only for the details (otherwise not editable) -->
                            <div ng-if="NoteServiceTP.Mode == 'Display'">
                                <div>
                                    <div class="row form-group">
                                        <label class="col-sm-3 popup_label">Title</label>
                                        <div class="col-sm-9">
                                            {{NoteServiceTP.Note.Title}}
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-sm-3 popup_label">Category</label>
                                        <div class="col-sm-9">
                                            {{NoteServiceTP.Note.CategoryName}}
                                        </div>
                                    </div>
                                    <div class="edit_textarea row">
                                        <label class="col-sm-3 popup_label">Note</label>
                                        <div class="col-sm-9 ">
                                            {{NoteServiceTP.Note.Description}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="popup_butns">
                                <button type="reset" ng-disabled="NoteServiceTP.IsBusy"
                                        ng-click="NoteServiceTP.Cancel(modalId)"
                                        class="btn btn-cancel">
                                    Cancel
                                </button>
                                <button ng-if="NoteServiceTP.Mode != 'Display'" type="submit" class="btn btn-cancel"
                                        ng-disabled="Pop_Note.$invalid">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

