﻿<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title" ng-bind="title"></h4>
            </div>
            <div class="aside-body" ng-init="showHistory = false">    
                <div style="max-width:420px">
                    <form ng-submit="service.Add(PrimId, Message, NoteType)">
                        <div class="form-group">
                            <label class="radio-inline" ng-repeat="(type, val) in service.NoteTypes" ng-if="val != service.NoteTypes.History"><input type="radio" name="NoteType" ng-model="$parent.$parent.NoteType" ng-value="val" /> {{type}}</label>
                            <a href="#" class="pull-right" ng-bind="showHistory ? 'Hide history' : 'Show history'" ng-click="showHistory = !showHistory; $event.preventDefault()"></a>
                        </div>
                        <div class="input-group">
                            
                            <input type="text" name="Message" autofocus required class="form-control note-msg-box" placeholder="Enter notes here" ng-model="Message" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Add Note</button>
                            </span>
                        </div>
                    </form>                 
                    <hr style="margin-top:10px;margin-bottom:10px" />

                    <ul class="media-list">
                        <li class="media" ng-repeat="note in Notes" ng-hide="note.TypeEnum == service.NoteTypes.History && !$parent.showHistory" ng-init="user = HFCService.GetUser(note.CreatedByPersonId)">
                            <div ng-class="note.CreatedByPersonId == HFCService.CurrentUser.PersonId ? 'pull-right' : 'pull-left'">
                                <img style="width:40px;height:40px" class="media-object" ng-src="{{user.AvatarSrc}}" alt="{{user.FullName}}" />
                            </div>
                            <div class="popover note-popover" ng-class="note.CreatedByPersonId == HFCService.CurrentUser.PersonId ? 'left pull-right' : 'right pull-left'">
                                <div class="arrow"></div>
                                <div class="popover-title">
                                    <b>{{user.FullName}}</b>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-link text-sm text-muted inner-dropdown" data-toggle="dropdown"><span ng-bind="service.GetType(note.TypeEnum)"></span> <span class="caret"></span></button>
                                        <ul class="dropdown-menu text-sm" role="menu">
                                            <li ng-class="{'active': note.TypeEnum == value}" ng-repeat="(key, value) in service.NoteTypes" ng-if="value != service.NoteTypes.History"><a ng-click="service.ChangeType(note, value)" href="">{{key}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="popover-content">
                                    <div ng-bind-html="service.MessageInHtml(note.Message)"></div>
                                    <div><small class="text-muted text-sm">{{note.CreatedOn.toFriendlyString(true)}}</small></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>            
            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>