﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">{{PersonService.Person.Mode}} Person</h4>
                <button type="button" class="close popup_close" ng-disabled="PersonService.IsBusy" ng-click="PersonService.Cancel(modalId)" aria-hidden="true">&times;</button>
            </div>
            <form ng-submit="Person_addcnt.$valid && PersonService.Save(modalId,$index)" name="Person_addcnt" role="form" novalidate>
                <div class="modal-body">
                    <hfc-person-form></hfc-person-form>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns"><button type="reset" ng-disabled="PersonService.IsBusy" ng-click="PersonService.Cancel(modalId)" class="btn btn-cancel">Cancel</button>
                    <button type="submit" ng-disabled="PersonService.IsBusy" class="btn btn-cancel">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>