﻿<div class="inline-relative">
    <h3 class="media-heading">
        <small ng-show="secondary === 'false'" ng-bind="heading"></small>
        <button type="button" class="btn btn-link btn-sm" ng-if="editable && secondary === 'false'" ng-click="PersonService.Edit(ngModel, modalId, leadId, index)"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
        <button type="button" class="btn btn btn-primary btn-sm" ng-if="editable && secondary === 'true' && !PersonService.People[1].PersonId" ng-click="PersonService.Edit(ngModel, modalId, leadId, index)"><span class="glyphicon glyphicon-plus"></span>Additional contact</button>
        <button type="button" class="btn btn-link btn-sm" ng-if="editable && secondary === 'true' && PersonService.People[1].PersonId" ng-click="PersonService.Edit(ngModel, modalId, leadId, index)"><i class="glyphicon glyphicon-pencil"></i>Edit</button>
        <button type="button" class="btn btn-link btn-sm" ng-show="!$parent.inChangeMode" ng-if="changeable && PersonService.People.length > 1 && PersonService.People[1].PersonId" ng-click="$parent.inChangeMode = true"><i class="glyphicon glyphicon-refresh"></i> Change</button>
        <button type="button" class="btn btn-link btn-sm" ng-show="inChangeMode" ng-click="inChangeMode = false"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
    </h3>
    
    <address ng-if="!inChangeMode && person">
        <div class="text-truncate">
            <b ng-attr-title="person.CompanyName || person.FullName" ng-bind="person.CompanyName || person.FullName"></b>
        </div>
        <div ng-if="person.CompanyName" ng-bind="person.FullName"></div>
        <div class="text-muted" ng-bind="person.WorkTitle"></div>
        <div ng-if="person.HomePhone"><abbr title="Home phone" ng-class="{'text-bold': person.PreferredTFN == 'H'}">H:</abbr><a ng-href='tel:{{"($1) $2-$3" | format: PersonService.parsePhone(person.HomePhone)}}'> <span ng-bind='"($1) $2-$3" | format: PersonService.parsePhone(person.HomePhone)'></span></a></div>
        <div ng-if="person.CellPhone"><abbr title="Cell phone" ng-class="{'text-bold': person.PreferredTFN == 'C'}">C:</abbr> <a ng-href='tel:{{"($1) $2-$3" | format: PersonService.parsePhone(person.CellPhone)}}'><span ng-bind='"($1) $2-$3" | format: PersonService.parsePhone(person.CellPhone)'></span></a></div>
        <div ng-if="person.WorkPhone"><abbr title="Work phone" ng-class="{'text-bold': person.PreferredTFN == 'W'}">W:</abbr> <a ng-href='tel:{{"($1) $2-$3" | format: PersonService.parsePhone(person.WorkPhone)}}'><span ng-bind='"($1) $2-$3" | format: PersonService.parsePhone(person.WorkPhone)'></span></a></div>
        <div ng-if="person.FaxPhone"><abbr title="Fax phone" ng-class="{'text-bold': person.PreferredTFN == 'F'}">F:</abbr> <a ng-href='tel:{{"($1) $2-$3" | format: PersonService.parsePhone(person.FaxPhone)}}'>> <span ng-bind='"($1) $2-$3" | format: PersonService.parsePhone(person.FaxPhone)'></span></a></div>
        <div ng-if="person.PrimaryEmail" class="text-truncate">
            <a ng-href='mailto:{{person.PrimaryEmail}}' target='_blank' ng-bind="person.PrimaryEmail"></a>
        </div>
        <div ng-if="person.UnsubscribedOnUtc" class="text-truncate"><b>Opted out</b> of subscription services</div>
    </address>
    <select ng-if="inChangeMode" class="form-control" ng-disabled="PersonService.IsBusy" ng-options="opt.PersonId as opt.FullName for opt in PersonService.People" ng-model="$parent.ngModel" ng-change="ChangePerson()"></select>                                
</div>