﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">{{PersonService.Person.Mode}} Add Notes</h4>
                <button type="button" class="close popup_close" ng-disabled="PersonService.IsBusy" ng-click="PersonService.Cancel(modalId)" aria-hidden="true">&times;</button>
            
            </div>
            <form ng-submit="PersonService.SaveNotesTP(modalId,$index)" name="Pop_Note" role="form" novalidate>
                <div class="modal-body">
                    <hfc-person-form-new></hfc-person-form-new>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" ng-disabled="PersonService.IsBusy" ng-click="PersonService.Cancel(modalId)" class="btn btn-cancel">Cancel</button>
                        <button type="submit"  class="btn btn-cancel" ng-disabled="Pop_Note.$invalid">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>