﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Source</h4>
                <button type="button" class="close popup_close" ng-disabled="PersonService.IsBusy" ng-click="PersonService.Cancel(modalId)" aria-hidden="true">&times;</button>
            </div>
            <form ng-submit="PersonService.SaveEditor(modalId)" role="form">
                <div class="modal-body">
                    <!--<hfc-person-edit-form-new-file></hfc-person-edit-form-new-file>-->
                    <hfc-person-form-source></hfc-person-form-source>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <!--<button type="reset" ng-disabled="PersonService.IsBusy" ng-click="PersonService.Cancel(modalId)" class="btn btn-cancel">Cancel</button>
                    <button type="submit" ng-disabled="PersonService.IsBusy" class="btn btn-cancel">Save</button>-->
                        <button type="button" class="btn btn-cancel" ng-disabled="PersonService.IsBusy" ng-click="PersonService.CancelEditor(modalId)"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                        <button type="submit" class="btn btn-cancel" ng-click="PersonService.SaveEditor(modalId)" ng-disabled="PersonService.IsBusy"><i class="glyphicon glyphicon-save"></i> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>