﻿<div ng-if="PersonService.NotesAttachments">
    <div class="row form-group">
        <label for="inputEmail3" class="col-sm-3 popup_label">Title</label>
        <div class="col-sm-9 state_grid">
            <input type="text" name="Note_Title" ng-maxlength="20" ng-minlength="6" ng-model="PersonService.NotesAttachments.Title" class="form-control frm_lead" placeholder="Title" required />
            <div ng-if="PersonService.submitnte || Pop_Note.Note_Title.$dirty" ng-messages="Pop_Note.Note_Title.$error" style="color:red">
                <p ng-message="minlength">Title should have at least 6 characters.</p>
                <p ng-message="maxlength">Title should have at most 20 characters.</p>
                <p ng-message="required">Providing a Title is mandatory.</p>
            </div>
           
        </div>
    </div>
    <div class="row form-group state_field">
       <label for="inputEmail3" class="col-sm-3 popup_label">Category</label>
       <div class="col-sm-9 state_grid">
           <span class="custom-dropdown custom-dropdown--white">
               <select ng-model="PersonService.NotesAttachments.Category" class="custom-dropdown__select custom-dropdown__select--white">
                  <option>Internal</option>
                  <option>Customer</option>
                  <option>Direction</option>
               </select>
            </span>
       </div>  
    </div>
    
    <div class="edit_textarea row">
       <label for="inputEmail3" class="col-sm-3 popup_label">Note</label>
        <div class="col-sm-9 state_grid">
            <textarea name="Note_Message" ng-minlength="4" ng-model="PersonService.NotesAttachments.Note" id="txtDeactivateMessage" placeholder="Message..." required=""></textarea>
        </div>
        <div ng-if="PersonService.submitnte || Pop_Note.Note_Message.$dirty" ng-messages="Pop_Note.Note_Message.$error" style="color:red; margin-left:180px;">
            <p ng-message="minlength">Note should have minimum characters.</p>
            <p ng-message="required">Providing a Note is mandatory.</p>
        </div>
    </div>
</div>
