﻿<div ng-if="PersonService.Person">
    <!--<div class="container-fluid">-->
    <!--<div class="row">-->
    <!--<div class="col-xs-6 col-sm-6 no-left-padding">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" ng-model="PersonService.Person.FirstName" class="form-control" placeholder="First Name" required maxlength="50" />
        </div>
    </div>-->

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 valid_label">First Name<span class="asteriskField">*</span></label>
        <div class="col-sm-9">
            <!--<span class="pull-right req_desc">Required</span>-->
            <input type="text" name="Pop_fname" ng-model="PersonService.Person.FirstName" 
                   ng-maxlength="15"
                   ng-pattern="/^(\D)+$/"
                   class="form-control frm_lead" placeholder="First Name" required maxlength="15" />
            <div ng-if="submitted || Person_addcnt.Pop_fname.$dirty || Person_addcnt.Pop_fname.$invalid" ng-messages="Person_addcnt.Pop_fname.$error" style="color:red">
               
                <p ng-message="maxlength">First Name should have at most 15 characters.</p>
                <p ng-message="required">Providing a First Name is mandatory.</p>
                <p ng-show="Person_addcnt.Pop_fname.$error.pattern">Not valid First Name.</p>
            </div>

        </div>
    </div>



    <!--<div class="col-xs-6 col-sm-6 no-left-padding no-right-padding">
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" ng-model="PersonService.Person.LastName" class="form-control" placeholder="Last Name" required maxlength="50" />
        </div>
    </div>-->
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 valid_label">Last Name<span class="asteriskField">*</span></label>
        <div class="col-sm-9">
            <input type="text" name="Pop_lname" ng-model="PersonService.Person.LastName"
                   ng-maxlength="15" ng-pattern="/^(\D)+$/" class="form-control frm_lead" placeholder="Last Name" required maxlength="15" />
            <div ng-if="submitted || Person_addcnt.Pop_lname.$dirty || Person_addcnt.Pop_lname.$invalid" ng-messages="Person_addcnt.Pop_lname.$error" style="color:red">
               
                <p ng-message="maxlength">Last Name should have at most 15 characters.</p>
                <p ng-message="required">Providing a Last Name is mandatory.</p>
                <p ng-message="pattern">Not valid Last Name.</p>
            </div>
        </div>
    </div>
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">
        <label>Company Name</label>
        <input type="text" ng-model="PersonService.Person.CompanyName" class="form-control" placeholder="Company Name" maxlength="256" />
    </div>-->
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 valid_label">Company Name<!--<span class="asteriskField">*</span>--></label>
        <div class="col-sm-9">
            <input type="text" ng-model="PersonService.Person.CompanyName" name="Pop_compyname" class="form-control frm_lead" placeholder="Company Name" maxlength="256"
                   pattern="^[#.0-9a-zA-Z\s,-]+$" />
            <div ng-if="PersonService.Save || Person_addcnt.Pop_compyname.$dirty || Person_addcnt.Pop_compyname.$invalid" ng-messages="Person_addcnt.Pop_compyname.$error" style="color:red">
                <p ng-message="pattern">Not valid Compandy Name.</p>
            </div>
        </div>
        </div>
        <!--<div class="form-group">
            <label>Title</label>
            <input type="text" ng-model="PersonService.Person.WorkTitle" class="form-control" placeholder="Title" maxlength="50" />
        </div>-->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 valid_label">Title<!--<span class="asteriskField">*</span>--></label>
            <div class="col-sm-9">
                <input type="text" name="Pop_WorkTitle" ng-model="PersonService.Person.WorkTitle" class="form-control frm_lead" placeholder="Title"
                       pattern="^[#.0-9a-zA-Z\s,-]+$"
                        maxlength="50" />
                <div ng-if="PersonService.Save|| Person_addcnt.Pop_WorkTitle.$dirty || Person_addcnt.Pop_WorkTitle.$invalid" ng-messages="Person_addcnt.Pop_WorkTitle.$error" style="color:red">
                    <p ng-message="pattern">Not valid Compandy Name.</p>
                </div>
            </div>
        </div>
        <!--<div class="form-group">
            <label>Home Phone:</label> <label class="radio-inline"><input type="radio" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="H" title="Preferred contact number" />Preferred</label>
            <input type="text" ng-model="PersonService.Person.HomePhone" ui-mask="(999) 999-9999" class="form-control" allowpartialvalues="true" />
        </div>-->

        <div class="form-popgrp row">
            <label for="inputEmail3" class="col-sm-3 popup_label">Home phone</label>
            <input type="tel" ng-model="PersonService.Person.HomePhone"
                   ui-mask="(999) 999-9999" allowpartialvalues="true" name="pop_homephone"
                   class="frm_lead1 radio_tbox col-sm-5" ng-blur="CheckDuplicates('HomePhone', $event)"
                   ng-minlength="13"
                   ng-pattern="/^\(?\d+\)?[-.\s]?\d+[-.\s]?\d+$/" />
            
            <label class="radio-popup col-sm-4"><input type="radio" class="radio_item" name="preferredTFN" value="H" ng-model="PersonService.Person.PreferredTFN" title="Preferred contact number" />Preferred</label>
            <div ng-if="PersonService.Save || Person_addcnt.pop_homephone.$dirty || Person_addcnt.pop_homephone.$invalid" ng-messages="Person_addcnt.pop_homephone.$error" style="color:red">
                <p ng-message="minlength">Phone number should be 10 digits.</p>
                <p ng-message="pattern">Not valid number!</p>
            </div>
        </div>

        <!--<div class="form-group">
            <label>Cell Phone:</label> <label class="radio-inline"><input type="radio" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="C" title="Preferred contact number" />Preferred</label>
            <input type="text" ng-model="PersonService.Person.CellPhone" ui-mask="(999) 999-9999" class="form-control" allowpartialvalues="true" />
        </div>-->

        <div class="form-popgrp row">
            <label for="inputEmail3" class="col-sm-3 popup_label">Cell phone</label>
            <input type="tel" class="frm_lead1 radio_tbox col-sm-5" ng-model="PersonService.Person.CellPhone"
                   name="pop_cellphone"
                   ui-mask="(999) 999-9999"
                   ng-minlength="13"
                   ng-pattern="/^\(?\d+\)?[-.\s]?\d+[-.\s]?\d+$/"
                   allowpartialvalues="true" ng-blur="CheckDuplicates('CellPhone', $event)" required/>
            <label class="radio-popup col-sm-4"><input type="radio" class="radio_item" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="C" title="Preferred contact number" />Preferred</label>
            <div class="errormob" ng-if="PersonService.Save || Person_addcnt.pop_cellphone.$dirty || Person_addcnt.pop_cellphone.$invalid" ng-messages="Person_addcnt.pop_cellphone.$error" style="color:red">
                <p ng-message="minlength">Phone number should be 10 digits.</p>
                <p ng-message="pattern">Not valid number!</p>
                <p ng-message="required">Cell Phone is Required</p>
            </div>
        </div>


        <!--<div class="form-group">
            <label>Fax Phone:</label> <label class="radio-inline"><input type="radio" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="F" title="Preferred contact number" />Preferred</label>
            <input type="text" ng-model="PersonService.Person.FaxPhone" ui-mask="(999) 999-9999" class=" form-control" allowpartialvalues="true" />
        </div>-->
        <!--<div class="container-fluid">
            <div class="row">-->
        <!--<div class="col-xs-8 col-sm-7 no-left-padding">
            <div class="form-group">
                <label>Work Phone:</label> <label class="radio-inline"><input type="radio" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="W" title="Preferred contact number" />Preferred</label>
                <input type="text" ng-model="PersonService.Person.WorkPhone" ui-mask="(999) 999-9999" class="form-control" allowpartialvalues="true" />
            </div>
        </div>-->

        <div class="form-popgrp row">
            <label for="inputEmail3" class="col-sm-3 popup_label">Work Phone</label>
            <input type="tel" class="frm_lead1 radio_tbox col-sm-5" ng-model="PersonService.Person.WorkPhone"
                   name="pop_workphone"
                   ng-minlength="13"
                   ng-pattern="/^\(?\d+\)?[-.\s]?\d+[-.\s]?\d+$/"
                   ui-mask="(999) 999-9999" allowpartialvalues="true" ng-blur="CheckDuplicates('CellPhone', $event)" />
            <label class="radio-popup col-sm-4"><input type="radio" class="radio_item" name="preferredTFN" ng-model="PersonService.Person.PreferredTFN" value="W" title="Preferred contact number" />Preferred</label>
            <div ng-if="PersonService.Save || Person_addcnt.pop_workphone.$dirty || Person_addcnt.pop_workphone.$invalid" ng-messages="Person_addcnt.pop_workphone.$error" style="color:red">
                <p ng-message="minlength">Phone number should be 10 digits.</p>
                <p ng-message="pattern">Not valid number!</p>
            </div>
        </div>

        <!--<div class="col-xs-4 col-sm-5 no-left-padding no-right-padding">
            <div class="form-group">
                <label>Extension:</label>
                <input type="text" ng-model="PersonService.Person.WorkPhoneExt" class="form-control" placeholder="Extension" maxlength="5" />
            </div>
        </div>-->
        <!--</div>
        </div>-->
        <!--<div class="form-group">
            <label>Primary Email:</label>
            <input type="email" ng-model="PersonService.Person.PrimaryEmail" class="form-control" placeholder="Primary Email" maxlength="256" />
        </div>-->

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 popup_label">Email</label>
            <div class="col-sm-9">
                <input style="text-transform: initial;" type="email" id="SecpersonEmail" 
                       name="Pop_email"
                        ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/"
                       ng-model="PersonService.Person.PrimaryEmail" class="form-control frm_lead" placeholder="Primary Email" maxlength="256" />
                <div ng-if="PersonService.Save || Person_addcnt.Pop_email.$dirty || Person_addcnt.Pop_email.$invalid" ng-messages="Person_addcnt.Pop_email.$error" style="color:red">
                    <p ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</p>
                </div>
            </div>
        </div>

        <!--<div>
            <label>Secondary Email:</label>
            <input type="email" ng-model="PersonService.Person.SecondaryEmail" class="form-control" placeholder="Secondary Email" maxlength="256" />
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="PersonService.Person.IsSubscribed">
                    Receive Promotion Emails
                </label>
            </div>
        </div>-->

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 popup_label">Secondary Email</label>
            <div class="col-sm-9">
                <!--<input type="email" class="form-control" ng-model="Lead.PrimPerson.PrimaryEmail" placeholder="Primary Email" maxlength="256" ng-blur="CheckDuplicates('PrimaryEmail')" />-->
                <input style="text-transform: initial;" type="email" id="SecPersonSecondaryEmail" 
                       name="Pop_secEmail"
                       ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/"
                       ng-model="PersonService.Person.SecondaryEmail" class="form-control frm_lead" placeholder="Secondary Email" maxlength="256" />
                <label class="checkbox-inline custom-cbox1">
                    <input type="checkbox" ng-model="PersonService.Person.IsSubscribed">
                    Receive Promotion Emails
                </label>
                <div ng-if="PersonService.Save || Person_addcnt.Pop_secEmail.$dirty || Person_addcnt.Pop_secEmail.$invalid" ng-messages="Person_addcnt.Pop_secEmail.$error" style="color:red">
                    <p ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</p>
                </div>  
            </div>
        </div>
    </div>
