﻿
<div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 popup_label">Title</label>
        <div class="col-sm-9 state_grid">                  
             <input type="text" name="AttchTitle" ng-model="PersonService.NotesAttachments.Title" ng-maxlength="20" ng-minlength="6" class="form-control frm_lead" placeholder="Title" required/>
            <div ng-if="PersonService.Attchsubmit || Pop_Attch.AttchTitle.$dirty" ng-messages="Pop_Attch.AttchTitle.$error" style="color:red">
                <p ng-message="minlength">Title should have at least 6 characters.</p>
                <p ng-message="maxlength">Title should have at most 20 characters.</p>
                <p ng-message="required">Providing a Title is mandatory.</p>
            </div>
        </div>
        
    </div>

    


    <div class="form-group row state_field">
       <label for="inputEmail3" class="col-sm-3 popup_label">Category</label>
       <div class="col-sm-9 state_grid">
           <span class="custom-dropdown custom-dropdown--white">
              <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="PersonService.NotesAttachments.Category">
                <option value="5">Photo</option>
                <option value="6" >Plans</option>
                <option value="7">Document</option>
                <option value="8">Others</option>
                </select>
           </span>
      </div>
    </div>
   
</div>

