﻿<div class="inline-relative">
    <address>
        <div class="text-truncate">
            <b ng-attr-title="person.CompanyName || person.FullName" ng-bind="person.CompanyName || person.FullName"></b>
        </div>
        <div ng-if="person.CompanyName" ng-bind="person.FullName"></div>
        <div class="text-muted" ng-bind="person.WorkTitle"></div>
        <div ng-if="person.HomePhone"><abbr title="Home phone" ng-class="{'text-bold': person.PreferredTFN == 'H'}">H:</abbr> 
        <span ng-bind='"($1) $2-$3" | format: PersonService.parsePhone(person.HomePhone)'></span> </div>
        <div ng-if="person.CellPhone"><abbr title="Cell phone" ng-class="{'text-bold': person.PreferredTFN == 'C'}">C:</abbr> <a ng-href='tel:{{"($1) $2-$3" | format: PersonService.parsePhone(person.CellPhone)}}'><span ng-bind='"($1) $2-$3" | format: PersonService.parsePhone(person.CellPhone)'></span></a></div>
        <div ng-if="person.WorkPhone"><abbr title="Work phone" ng-class="{'text-bold': person.PreferredTFN == 'W'}">W:</abbr> <a ng-href='tel:{{"($1) $2-$3" | format: PersonService.parsePhone(person.WorkPhone)}}'><span ng-bind='"($1) $2-$3" | format: PersonService.parsePhone(person.WorkPhone)'></span></a></div>
        <div ng-if="person.FaxPhone"><abbr title="Fax phone" ng-class="{'text-bold': person.PreferredTFN == 'F'}">F:</abbr> <a ng-href='tel:{{"($1) $2-$3" | format: PersonService.parsePhone(person.FaxPhone)}}'>><span ng-bind='"($1) $2-$3" | format: PersonService.parsePhone(person.FaxPhone)'></span></a></div>
        <div ng-if="person.PrimaryEmail" class="text-truncate">
            <a ng-href='mailto:{{person.PrimaryEmail}}' target='_blank' ng-bind="person.PrimaryEmail"></a>
        </div>
        <div ng-if="person.UnsubscribedOnUtc" class="text-truncate"><b>Opted out</b> of subscription services</div>
    </address>
</div>