﻿<div  ng-if="PersonService.EditorData">
    <div>
        
            <div>
                <div class="modal-header">
                    <!--<button type="button" class="close" ng-disabled="LeadSourceService.IsBusy" ng-click="LeadSourceService.CancelEditor(modalId)" aria-hidden="true">&times;</button>-->
                    <h4 class="mx-auto modal-title">Edit Lead Sources</h4>
                </div>
                <!--<form role="form" ng-submit="PersonService.SaveEditor(leadId, modalId)">-->
                    <div class="form-group" style="padding: 10px;margin-bottom: 0px;">
                        <input type="text" class="form-control"/>
                    </div>
                    
                    <div class="modal-body" style="height: 300px; max-height: 400px; overflow-y: scroll;">
                        <treecontrol class="tree-classic" filter-expression="predicate" tree-model="PersonService.EditorData" expanded-nodes="PersonService.EditorDataExpandedNodes">
                            <span ng-class="{ 'campaign' : node.isCampaign }"><input type="checkbox" ng-disabled="PersonService.CheckIfSourceUsed(node.SourceId)" ng-model="node.Selected" ng-change="PersonService.SelectSource(node)" />  {{node.name}}</span>
                        </treecontrol>
                    </div>
                <div class="inline-relative">
                    <h3 class="media-heading">
                        <small ng-bind="heading"></small>
                        <button class="btn btn-link btn-sm" ng-disabled="LeadSourceService.IsBusy" ng-click="LeadSourceService.ShowEditor('leadSourceModal', leadId, $event)"><i class="glyphicon glyphicon-pencil"></i> Change</button>
                    </h3>

                    <ul class="list-unstyled">
                        <li ng-repeat="src in PersonService.LeadSources" style="height: 50px;">
                            <button class="btn btn-sm btn-default" ng-disabled="PersonService.IsBusy" ng-if="canDelete" ng-click="PersonService.Delete(src)"><i class="glyphicon glyphicon-trash"></i></button>
                            <span class="text-muted text-sm" ng-bind="PersonService.GetLabel(src.SourceId).path">test</span><span ng-bind="PersonService.GetLabel(src.SourceId).name"></span>
                        </li>
                    </ul>
                </div>
                    <!--<div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm pull-left" ng-disabled="PersonService.IsBusy" ng-click="PersonService.CancelEditor(modalId)"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                        <button type="submit" class="btn btn-success btn-sm" ng-click="PersonService.SaveEditor(modalId)" ng-disabled="PersonService.IsBusy"><i class="glyphicon glyphicon-save"></i> Save</button>
                    </div>-->
                <!--</form>-->
            </div>
        </div>

</div>
