﻿
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <div class="form-group">
                    <label class="control-label">Subject<span class="asteriskField">*</span></label>
                    <input type="text" 
                           class="form-control" 
                           placeholder="Subject" 
                           ng-model="PersonService.CalendarService.EditableEvent.title" 
                           id="subjectIpt" 
                           name="subjectIpt" 
                           autofocus 
                           ng-maxlength="256"
                           maxlength="256"
                           ng-required="true"
                           required  />
                    <div ng-if="appttaskform.$submitted || appttaskform.subjectIpt.$dirty || appttaskform.subjectIpt.$invalid" ng-messages="appttaskform.subjectIpt.$error" style="color:red">
                        <p ng-message="required">Providing subject is mandatory.</p>
                    </div>                    
                </div>

                <div class="form-group" ng-if="PersonService.CalendarService.EditableEvent.AptTypeEnum">
                    <label class="control-label">Location<span class="asteriskField">*</span></label>
                    <input type="text" 
                           class="form-control" 
                           id="location" 
                           name="location"
                           ng-model="PersonService.CalendarService.EditableEvent.Location" 
                           ng-maxlength="1024"
                           maxlength="1024"
                           required
                           value="Client place"
                           init-from-form
                           />
                    <div ng-if="appttaskform.$submitted || appttaskform.location.$dirty || appttaskform.location.$invalid" ng-messages="appttaskform.location.$error" style="color:red">
                        <p ng-message="required">Providing location is mandatory.</p> 
                    </div>
                </div> 
              
                <div class="form-group">
                    <label class="control-label">Attendees<span class="asteriskField">*</span></label>
                    <div class="account-grid">
                        <select kendo-multi-select 
                                required 
                                k-options="PersonService.CalendarService.selectOptions" 
                                k-ng-model="PersonService.CalendarService.selectedIds"
                                name="Attendees"
                                ng-required="true">
                            <option ng-value="0" selected>select</option>
                        </select>
                        <div ng-if="appttaskform.$submitted || appttaskform.Attendees.$dirty || appttaskform.Attendees.$invalid" ng-messages="appttaskform.Attendees.$error" style="color:red">
                            <p ng-message="required">Providing attendees is mandatory.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Message</label>
                    <textarea class="form-control" placeholder="Message" rows="5" cols="10" ng-model="PersonService.CalendarService.EditableEvent.Message"></textarea>
                    <input type="checkbox" ng-model="PersonService.CalendarService.EditableEvent.IsPrivate">
                    Private
                </div>
            </div> 

            <div class="col-xs-12 col-sm-6">
                
                <div class="form-group">
                    <label class="control-label">Type</label>
                     <select class="form-control" ng-model="PersonService.CalendarService.EditableEvent.AptTypeEnum" ng-options="val as name for (name, val) in PersonService.CalendarService.AppointmentTypeEnum"></select>
                </div>
               
                <div class="form-group form-inline">
                    <label class="control-label center-block" ng-bind="PersonService.CalendarService.EditableEvent.AptTypeEnum ? 'From*' + '' : 'Due'"></label>
                    <input class="form-control" 
                           required 
                           style="width:50%;margin-right:2%" 
                           type="text" 
                           name="fromDate"
                           ng-model="PersonService.CalendarService.EditableEvent.start" 
                           placeholder="Start Date" 
                           data-date-format="MM/dd/yyyy" 
                           data-autoclose="true" 
                           bs-datepicker />
                    <input class="form-control" style="width:45%" type="text" ng-model="PersonService.CalendarService.EditableEvent.start" ng-hide="PersonService.CalendarService.EditableEvent.AptTypeEnum && PersonService.CalendarService.EditableEvent.allDay" data-autoclose="true" placeholder="Start Time" bs-timepicker />
                    <label class="control-label"  ng-if="PersonService.CalendarService.EditableEvent.AptTypeEnum">All Day Event</label>
                    <input type="checkbox" ng-if="PersonService.CalendarService.EditableEvent.AptTypeEnum" ng-click="PersonService.CalendarService.EditableEvent.allDay = !PersonService.CalendarService.EditableEvent.allDay" ng-class="{'btn-warning active': PersonService.CalendarService.EditableEvent.allDay}">
                    <div ng-if="appttaskform.$submitted || appttaskform.fromDate.$dirty || appttaskform.fromDate.$invalid" ng-messages="appttaskform.fromDate.$error" style="color:red">
                        <p ng-message="required">Providing from date is mandatory.</p>
                    </div>
                </div>
                <!--<div class="form-group form-inline">
                    <label class="control-label center-block">To</label>
                    <input class="form-control" style="width:53%;margin-right:2%" type="text" placeholder="End Date" data-date-format="MM/dd/yyyy" data-autoclose="true" bs-datepicker /><input class="form-control" style="width:45%" type="text" data-autoclose="true" placeholder="End Time" bs-timepicker />
                </div>-->
                <div class="form-group form-inline" ng-if="PersonService.CalendarService.EditableEvent.AptTypeEnum">
                    <label class="control-label center-block">To</label>
                    <input class="form-control" style="width:53%;margin-right:2%" type="text" ng-model="PersonService.CalendarService.EditableEvent.end" placeholder="End Date" data-date-format="MM/dd/yyyy" data-autoclose="true" bs-datepicker /><input class="form-control" style="width:45%" type="text" ng-model="PersonService.CalendarService.EditableEvent.end" ng-hide="PersonService.CalendarService.EditableEvent.allDay" data-autoclose="true" placeholder="End Time" bs-timepicker />
                </div>
                <div class="form-group">
                    <label class="control-label">Reminders</label>
                    <select class="form-control" ng-model="PersonService.CalendarService.EditableEvent.ReminderMinute">
                        <option value="0">disabled</option>
                        <option value="5">5 minutes</option>
                        <option value="10">10 minutes</option>
                        <option value="15">15 minutes</option>
                        <option value="30">30 minutes</option>
                        <option value="45">45 minutes</option>
                        <option value="60">1 hour</option>
                        <option value="120">2 hours</option>
                        <option value="240">4 hours</option>
                        <option value="480">8 hours</option>
                        <option value="1440">1 day</option>
                        <option value="2880">2 days</option>
                        <option value="4320">3 days</option>
                        <option value="5760">4 days</option>
                        <option value="10080">1 week</option>
                        <option value="20160">2 weeks</option>
                    </select>
                </div>
                <div id="evt_recurring" class="form-group  crm-accordion" ng-if="PersonService.CalendarService.EditableEvent.AptTypeEnum">
                    <div class="panel-heading">
                        <!--<a class="btn btn-link" >Recurrence</a>-->
                        
                        <input ng-checked="PersonService.CalendarService.EditableEvent.RecurrenceIsEnabled == true" ng-model="PersonService.CalendarService.EditableEvent.RecurrenceIsEnabled" data-toggle="collapse" data-target="#evt_recurring_panel" type="checkbox"  value="true"/>
                        Recurrance:{{PersonService.CalendarService.EditableRecurringEvent.RecurrenceIsEnabled}}
                        <!--<button data-toggle="collapse" data-target="#evt_recurring_panel" class="btn btn-default btn-sm" ng />-->

                    </div>
                    </div>
                    <!--<div class="form-group btn-group btn-group-sm">
           <button class="btn btn-default" ng-if="PersonService.CalendarService.EditableEvent.AptTypeEnum" ng-click="PersonService.CalendarService.EditableEvent.allDay = !PersonService.CalendarService.EditableEvent.allDay" ng-class="{'btn-warning active': PersonService.CalendarService.EditableEvent.allDay}">All Day</button>
            <button class="btn btn-default" ng-hide="PersonService.CalendarService.EditableEvent.AptTypeEnum" ng-click="PersonService.CalendarService.SetCompletedDate()" ng-class="{'btn-warning active': PersonService.CalendarService.EditableEvent.CompletedDate != null}">Completed</button>
            </div>-->

                </div>
        </div>
        <!-- START Recurring Panel -->
        <div class="panel-default crm-accordion" >
         
                <div id="evt_recurring_panel" class="evt-recurring-panel collapse" ng-controller="CalendarController">
                    <div style="border: 1px solid #e5e5e5;margin: 10px;">
                    <p style="width: 130px; margin-top:-10px; margin-left: 15px; background:white;">Recurrance Pattern</p>
                    <div class="row" style="margin:0 !important;">
                        <div class="col-sm-3">
                            <!--ng-change="showHideRecurranceSections(this)"-->
                            <select class="form-control" ng-model="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern" >
                                <option ng-option value="1">Daily</option>
                                <option ng-option value="2">Weekly</option>
                                <option ng-option value="3">Monthly</option>
                                <option ng-option value="4">Yearly</option>
                            </select>
                            <!--<ul class="recurence">
                                <li><input type="radio" id="addressType1" value="Daily" data-toggle="collapse" name="content" ng-model="content" data-target="#one">Daily</li>
                                <li><input type="radio" id="addressType2" value="Weekly" data-toggle="collapse" name="content" ng-model="content" data-target="#two">Weekly</li>
                                <li><input type="radio" id="addressType3" value="Monthly" data-toggle="collapse" name="content" ng-model="content" data-target="#three">Monthly</li>
                                <li><input type="radio" id="addressType4" value="Yearly" data-toggle="collapse" name="content" ng-model="content" data-target="#four">Yearly</li>
                            </ul>-->
                        </div>

                        <!--<div id="one" class="one recurence " ng-if="PersonService.CalendarService.PatternEnum ==='1'">-->
                            <div class="col-sm-9 daily_rgrid" style="width: 70% !important;" ng-if="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ==='1'">
                                <ul class="expand_ref">
                                    <!--<li>
                                        <ul >-->
                                    <li>
                                        <!--<input type="radio" id="addressType5" ng-model="PersonService.CalendarService.RecursEveryNumberofDays" name="daily" ng-click="ShowNumberofDays(1)" value="1">-->
                                        Every
                                    </li>
                                    <li>
                                        <input style="width: 50px;" type="text" class="form-control" placeholder="days" ng-model="PersonService.CalendarService.EditableRecurringEvent.occurs" id="recursnumberofDays" autofocus />
                                    </li>
                                    <li>
                                        <span>Day(s)</span>
                                    </li>
                                                                                <!--<li>
                                                 
                                </ul>
                            </div>

                        <!--</div>-->
                        <!--<div id="two" class="two recurence "  ng-if="PersonService.CalendarService.PatternEnum ==='2'">-->
                            <div class="col-sm-9 daily_rgrid" style="width: 70% !important;" ng-if="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ==='2'">
                                <ul class="expand_ref">
                                    <li>
                                        Recur every
                                    </li>
                                    <li>
                                        <input style="width: 50px;" type="text" class="form-control" placeholder="" ng-model="PersonService.EditableRecurringEvent.CalendarService.occurs" id="recursWeeklyNumberofDays" autofocus />
                                    </li>
                                    <li>
                                        <!--<input type="text" style="width:40px;" data-bind="options: window.NumbersArray, value: RecursEvery" />-->week(s) on
                                    </li>

                                </ul>
                                <ul class="expand_ref">
                                    <li ng-repeat="(day,enabled) in PersonService.CalendarService.EditableRecurringEvent.days">
                                        <input type="checkbox" ng-model="PersonService.CalendarService.EditableRecurringEvent.days[day]"> {{day}}&nbsp;
                                    </li>
                                    <!--<li><input type="checkbox" ng-model="PersonService.CalendarService.EditableRecurringEvent.days" value="1" /> Sunday</li>
                                    <li><input type="checkbox" ng-model="PersonService.CalendarService.EditableRecurringEvent.days" value="2" /> Monday</li>
                                    <li><input type="checkbox" ng-model="PersonService.CalendarService.EditableRecurringEvent.days" value="3" /> Tuesday</li>
                                    <li><input type="checkbox" ng-model="PersonService.CalendarService.EditableRecurringEvent.days" value="4" /> Wednesday</li>
                                    <li><input type="checkbox" ng-model="PersonService.CalendarService.EditableRecurringEvent.days" value="5" /> Thursday</li>
                                    <li><input type="checkbox" ng-model="PersonService.CalendarService.EditableRecurringEvent.days" value="6" /> Friday</li>
                                    <li><input type="checkbox" ng-model="PersonService.CalendarService.EditableRecurringEvent.days" value="7" /> Saturday</li>-->
                                </ul>
                            </div>
                        <!--</div>-->
                        <!--<div id="three" class="three  recurence  "  ng-if="PersonService.CalendarService.PatternEnum ==='3'">-->
                            <div class="col-sm-6 daily_rgrid" style="width: 70% !important;" ng-if="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ==='3'">
                                <ul class="expand_ref">
                                    <li>
                                        Every:
                                    </li>
                                    <li>
                                        <input ng-model="PersonService.CalendarService.EditableRecurringEvent.occurs" type="text" style="width:40px;" />
                                    </li>
                                    <li>
                                        &nbsp;month(s)
                                    </li>
                                </ul>
                                <ul class="expand_ref">
                                    
                                    <li>
                                        <input ng-checked="PersonService.CalendarService.EditableRecurringEvent.flagMonthly==1" type="radio" id="addressType12" name="MonthlyRecurring" ng-model="PersonService.CalendarService.EditableRecurringEvent.flagMonthly" value=1>
                                    </li>
                                    <li>
                                        Day&nbsp;
                                    </li>
                                    <li>
                                        <select class="form-control" ng-model="PersonService.CalendarService.EditableRecurringEvent.dayoftheMonth" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagMonthly==2">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                        <!--<input type="text" style="width:40px;"  />-->
                                        <!--&nbsp;of every-->
                                        <!--<input type="text" style="width:40px;" data-bind="options: window.NumbersArray, value: RecursEvery" />--><!--&nbsp;month(s)-->
                                    </li>
                                </ul>
                                <ul class="expand_ref">
                                   
                                    <li>
                                        <input ng-checked="PersonService.CalendarService.EditableRecurringEvent.flagMonthly==2" type="radio" id="addressType13" name="MonthlyRecurring" ng-model="PersonService.CalendarService.EditableRecurringEvent.flagMonthly" value=2>
                                    </li>
                                    <li>
                                        Or
                                    </li>
                                    <li>
                                        &nbsp;The
                                    </li>
                                    <li>
                                        <select class="form-control" ng-model="PersonService.CalendarService.WeekOfTheMonth" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagMonthly==1">
                                            <option value="First">First</option>
                                            <option value="Second">Second</option>
                                            <option value="Third">Third</option>
                                            <option value="Fourth">Fourth</option>
                                            <option value="Last">Last</option>

                                            <!--<option value="1">First</option>
                                            <option value="2">Second</option>
                                            <option value="3">Third</option>
                                            <option value="4">Fourth</option>
                                            <option value="5">Last</option>-->
                                        </select>
                                    </li>
                                    <li>
                                        <select class="form-control" ng-model="PersonService.CalendarService.DayOfWeek" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagMonthly==1">
                                            <option value="Sunday">Sunday</option>
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                            <!--<option value="1">Sunday</option>
                                            <option value="2">Monday</option>
                                            <option value="4">Tuesday</option>
                                            <option value="8">Wednesday</option>
                                            <option value="16">Thursday</option>
                                            <option value="32">Friday</option>
                                            <option value="64">Saturday</option>-->
                                        </select>
                                        <!--<input type="text" style="width:40px;" data-bind="options: window.NumbersArray, value: RecursEvery" />-->
                                    </li>
                                    <li>
                                        &nbsp;of every
                                    </li>
                                </ul>
                            </div>

                        <!--</div>-->
                        <!--<div id="four" class="four recurence "  ng-if="PersonService.CalendarService.PatternEnum ==='4'">-->
                            <div class="col-sm-9 daily_rgrid" style="width: 70% !important;" ng-if="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ==='4'">
                                <ul class="expand_ref">
                                    <li>
                                        Every:

                                    </li>
                                    <li>
                                        <input ng-model="PersonService.CalendarService.EditableRecurringEvent.occurs" class="form-control" type="text" style="width:40px;" />
                                        
                                    </li>
                                    <li>
                                        &nbsp;year(s)
                                    </li>
                                </ul>
                                <ul class="expand_ref">
                                    <li>
                                        Repeats On:
                                    </li>
                                    <li>
                                       
                                        <select class="form-control" ng-model="PersonService.CalendarService.EditableRecurringEventmonthOfTheYear.yearlyMontRepeatsOn">
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                            <!--<option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>-->
                                        </select>
                                    </li>
                                    <!--<li>
            Day
            <input type="text" style="width:40px;" ng-model="PersonService.CalendarService.EditableRecurringEvent.occurs" />
        </li>-->
                                </ul>
                                <ul class="expand_ref">
                                    
                                    <li>
                                      
                                        <input ng-checked="PersonService.CalendarService.EditableRecurringEvent.flagYearly==1" ng-model="PersonService.CalendarService.EditableRecurringEvent.flagYearly" type="radio" id="addressType17" name="yearlyrepeat" value=1>On

                                        <!--<input type="text" style="width:40px;" data-bind="options: window.NumbersArray, value: RecursEvery" />-->
                                    </li>
                                    <li>
                                        Day
                                    </li>
                                    <li>
                                        <select class="form-control" ng-model="PersonService.CalendarService.EditableRecurringEvent.dayoftheMonth" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagYearly==2">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                    </li>
                                </ul>
                                <ul class="expand_ref">
                                   
                                    <li>

                                        <input ng-checked="PersonService.CalendarService.EditableRecurringEvent.flagYearly==2" ng-model="PersonService.CalendarService.EditableRecurringEvent.flagYearly" type="radio" id="addressType18" name="yearlyrepeat" value=2>On
                                    </li>
                                    <li>
                                        or
                                    </li>
                                   
                                    <li>
                                        <select class="form-control" ng-model="PersonService.CalendarService.EditableRecurringEvent.weekOfTheMonth"  ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagYearly==1">
                                            <option value="First">First</option>
                                            <option value="Second">Second</option>
                                            <option value="Third">Third</option>
                                            <option value="Fourth">Fourth</option>
                                            <option value="Last">Last</option>
                                        </select>
                                    </li>
                                    <li>
                                        <select class="form-control" ng-model="PersonService.CalendarService.EditableRecurringEvent.DayOfWeek" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagYearly==1">
                                            <option value="Sunday">Sunday</option>
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                        </select>


                                    </li>
                                </ul>
                            </div>
                        <!--</div>-->
                    </div>
                    </div>

                    <div style="border: 1px solid #e5e5e5;margin: 10px;">
                        <p style="width: 140px; margin-top:-10px; margin-left: 15px; background:white;">Range of Recurrance</p>
                        <div class="row" style="margin: 0px !important;">
                            <div class="col-md-6">
                                <ul class="expand_ref">
                                    <li><label class="control-label center-block">Start</label></li>
                                    <li><input class="calder" type="text" ng-model="PersonService.CalendarService.EditableRecurringEvent.startOn" placeholder="Start Date" data-date-format="MM/dd/yyyy" data-autoclose="true" bs-datepicker /></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="recurence">
                                    <li><input ng-checked="PersonService.CalendarService.EditableRecurringEvent.endBy==1" ng-model="PersonService.CalendarService.EditableRecurringEvent.endBy" type="radio" id="addressType7" name="reoccuranceEnd" value="1">No end date</li>
                                    <li>
                                        <input ng-checked="PersonService.CalendarService.EditableRecurringEvent.endBy==2" ng-model="PersonService.CalendarService.EditableRecurringEvent.endBy" type="radio" id="addressType8" name="reoccuranceEndBy" value="2">End after:
                                        <input ng-disabled="PersonService.CalendarService.EditableRecurringEvent.endBy!=2" ng-model="PersonService.CalendarService.EditableRecurringEvent.endsAfterOccurances" class="calder" type="text" ng-pattern="/^(\d)+$/" style="width:40px;"  />
                                        occurrences
                                    </li>
                                    <li>
                                        <ul class="sub_ref">
                                            <li><input  ng-checked="PersonService.CalendarService.EditableRecurringEvent.endBy==3" ng-model="PersonService.CalendarService.EditableRecurringEvent.endBy"  type="radio" id="addressType9" name="reoccuranceEnd" value="3">End by</li>
                                            <li><input ng-disabled="PersonService.CalendarService.EditableRecurringEvent.endBy!=3" class="calder" type="text" ng-model="PersonService.CalendarService.EditableRecurringEvent.endByDate" placeholder="Start Date" data-date-format="MM/dd/yyyy" data-autoclose="true" bs-datepicker /></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                          </div>

                        </div>
                    </div>

              
                <div class="clearfix"> </div>
               

            <!--</div>-->
        </div>
        <!-- END Recurring Panel Body -->

        






        <!--<hfc-account-modal modal-id="account"></hfc-account-modal>
        <hfc-attendee-modal modal-id="attendee"></hfc-attendee-modal>
        <hfc-opportunity-modal modal-id="Opportunity"></hfc-opportunity-modal>-->
    </div>

    <!-- END Recurring Panel -->



</div>


