﻿
<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <style>
        .error {
            color: red;
        }

        .errortext, .errorTP {
            color: red !important;
        }

        /*.k-combobox.required {
            border: 1px solid #a94442 !important;
        }*/


        /*.k-list-container {
            border: 1px solid #a94442;
        }*/
        .k-multiselect-clearable .k-multiselect-wrap {
            padding-right: 2.42142857em;
        }
        /*.form-control.k-block .k-input, .k-widget.form-control .k-input {
            margin-top:0px !important;
        }*/
        .kendo-customdropdown span.k-icon.k-i-arrow-s {
            background-image: none;
        }

        /*.k-multiselect-wrap.k-floatwrap {
            border-right: none !important;
            border-left: none !important;
        }*/
       
 .k-i-close:before, .k-i-group-delete:before, .k-i-x:before {
    /*content: "" !important;*/
}
 /*.k-i-arrow-60-down:before {
    content:"";
}*/
        .kendo-customdropdown .k-i-arrow-60-down:before {
            content:"";
        }
        .k-calendar {
            width: 16.917em;
        }
        /*.k-multiselect-wrap.k-floatwrap {
            border:1px solid red !important;
        }*/
        .k-grid-content.k-auto-scrollable.k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {
    border: 0 !important;
}
        span.k-widget.k-combobox.k-header.custom-dropdown__select.custom-dropdown__select--white.form-control.kendo_border {
    border: 1px solid #b2bfca;
}
        .k-datetimepicker .k-select .k-link-time {
    margin: 0 !important;
}
    </style>
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content calender_taskpopup">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title" ng-hide="PersonService.CalendarService.IsTaskCheck==true">Event</h4>
                <h4 class="mx-auto modal-title" ng-show="PersonService.CalendarService.IsTaskCheck==true">Task</h4>
                <button type="button" class="close popup_close" ng-disabled="PersonService.IsBusy" ng-click="PersonService.CalendarService.CancelCalendar('modal')">&times;</button>
                <!--<h4 class="modal-title">Add/Edit Event</h4>-->
             </div>
            <form id="frmAppointment" name="frmAppt">
              <div class="body_popupcontent ">
                <!-- Added from person-modal-new-go.html -->
                <div class="modal-body taskevent_popup" id="calendar_modalpopup" ng-hide="PersonService.CalendarService.EditableEvent.IsPrivateAccess== false">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{true: 'has-error'}[frmAppt.$submitted && frmAppt.subject.$invalid]">
                                <label class="control-label">Subject</label>
                                   <input type="text"
                                           class="frm_controllead1 form-control required_field"
                                           placeholder="Required"
                                           ng-model="PersonService.CalendarService.EditableEvent.title"
                                           name="subject"
                                           ng-minlength="1"
                                           ng-maxlength="256"
                                           maxlength="256"
                                           required />
                            </div>

                            <div ng-hide="PersonService.CalendarService.IsTaskCheck==true" class="form-group"
                                 ng-class="{true: 'has-error'}[frmAppt.$submitted && frmAppt.location.$invalid]">
                                <label class="control-label">Location</label>
                                <input type="text"
                                           class="form-control frm_controllead1 required_field"
                                           placeholder="Required"
                                           ng-model="PersonService.CalendarService.EditableEvent.Location"
                                           name="location"
                                           ng-minlength="1"
                                           ng-maxlength="1024"
                                           maxlength="1024"
                                           required />
                            </div>
                         
                            <div class="form-group">
                                <label class="control-label">Lead</label>
                                <div>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-options="PersonService.CalendarService.selectLeadOptions"
                                                    k-on-change="PersonService.CalendarService.LeadChanged(PersonService.CalendarService.selectedLeadId)"
                                                    k-ng-model="PersonService.CalendarService.selectedLeadId"
                                                    k-auto-bind="true"
                                                    id="kendoComboboxLead"
                                                    name="Leads"
                                                    width="100px;"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <label class="control-label center-block">
                                   Phone Number
                                </label>
                                    <div class="event_phoneno"  ng-if="PersonService.CalendarService.LeadPhoneNumber">
                                        <label>{{PersonService.CalendarService.LeadPhoneNumber | mask: '(999) 999-9999'}}</label>
                                    </div>
                            </div>                         
                            
                            <div class="form-group">
                                <label class="control-label">Account</label>
                                <div>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-options="PersonService.CalendarService.selectAccountOptions"
                                                    k-on-change="PersonService.CalendarService.AccountChanged(PersonService.CalendarService.selectedAccountId)"
                                                    k-ng-model="PersonService.CalendarService.selectedAccountId"
                                                    k-auto-bind="true"
                                                    id="kendoComboboxAccount"
                                                    name="Accounts"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-inline" >
                                <label class="control-label center-block">
                                    Phone Number
                                </label>
                                <div class="day_event" ng-if="PersonService.CalendarService.AccountPhoneNumber">

                                    <label class="control-label" style="vertical-align:sub !important;">{{PersonService.CalendarService.AccountPhoneNumber | mask: '(999) 999-9999'}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Opportunity</label>
                                <div>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-auto-bind="true"
                                                    k-on-change="PersonService.CalendarService.OpportunityChanged()"
                                                    k-rebind="PersonService.CalendarService.selectOpportunityOptions"
                                                    k-options="PersonService.CalendarService.selectOpportunityOptions"
                                                    k-ng-model="PersonService.CalendarService.selectedOpportunityId"
                                                    id="Opportunity"
                                                    name="Opportunitys"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Order</label>
                                <div>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-auto-bind="true"
                                                    k-on-change="PersonService.CalendarService.OrderChanged()"
                                                    k-rebind="PersonService.CalendarService.selectOrderOptions"
                                                    k-options="PersonService.CalendarService.selectOrderOptions"
                                                    k-ng-model="PersonService.CalendarService.selectedOrderId"
                                                    id="Order"
                                                    name="Orders"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                                
                            <div style="display: none" class="form-group"  ng-show="!PersonService.CalendarService.viewvendorcase">
                                <label class="control-label">Case</label>
                                <div>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-auto-bind="true"
                                                    k-on-change="PersonService.CalendarService.CaseChanged()"
                                                    k-rebind="PersonService.CalendarService.selectCaseOptions"
                                                    k-options="PersonService.CalendarService.selectCaseOptions"
                                                    k-ng-model="PersonService.CalendarService.selectedCaseId"
                                                    id="Case"
                                                    name="Cases"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="display: none" class="form-group" ng-show="PersonService.CalendarService.viewvendorcase">
                                <label class="control-label">Vendor Case</label>
                                <div>
                                    <div class="kendo-customdropdown">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select kendo-combo-box
                                                    k-auto-bind="true"
                                                    k-on-change="PersonService.CalendarService.VendorCaseChanged()"
                                                    k-rebind="PersonService.CalendarService.selectedVendorCaseoptions"
                                                    k-options="PersonService.CalendarService.selectedVendorCaseoptions"
                                                    k-ng-model="PersonService.CalendarService.selectedVendorCaseId"
                                                    id="VendorCase"
                                                    name="VendorCase"
                                                    class="custom-dropdown__select custom-dropdown__select--white form-control kendo_border"></select>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group" id="Attendees2">
                                <label class="control-label w-100">Attendees</label>
                                <div class="Atendes-popupgrid w-100">
                                <!--<div class="Atendes-grid">-->
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select kendo-multi-select
                                                ng-class="{true: 'k-combobox required'}[PersonService.CalendarService.selectedIds.length == 0]"
                                                required
                                                k-options="PersonService.CalendarService.selectOptions"
                                                k-ng-model="PersonService.CalendarService.selectedIds"
                                                id="Attendees1"
                                                name="Attendees"
                                                class="custom-dropdown__select custom-dropdown__select--white required_field" style="height:100% !important; width:100% !important;"></select>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Message</label>
                                <textarea class="form-control" placeholder="Message" rows="5" cols="10" ng-model="PersonService.CalendarService.EditableEvent.Message"></textarea>
                                <!--<input class="option-input checkbox" type="checkbox" ng-model="PersonService.CalendarService.EditableEvent.IsPrivate">
                                Private-->
                            </div>
                        </div>
                      
                        <div class="col-md-6">
                            <div class="form-group" ng-hide="PersonService.CalendarService.IsTaskCheck">
                                <label class="control-label">Type of appointment</label>
                                <span class="custom-dropdown custom-dropdown--white" ng-class="{true: 'has-error'}[frmAppt.$submitted && (PersonService.CalendarService.EditableEvent.AptTypeEnum=='' || PersonService.CalendarService.EditableEvent.AptTypeEnum==undefined)]">
                                    <select class="custom-dropdown__select custom-dropdown__select--white frm_controllead1"
                                            ng-class="{true: 'errorTP'}[PersonService.CalendarService.EditableEvent.AptTypeEnum==''|| PersonService.CalendarService.EditableEvent.AptTypeEnum==undefined]"
                                            style="padding:0 5px !important;"
                                            name="TypeOfAppointment"
                                            ng-model="PersonService.CalendarService.EditableEvent.AptTypeEnum"
                                            ng-options="val as name for (name, val) in PersonService.CalendarService.AppointmentTypeEnum">
                                        <option value="" disabled selected>Select</option>
                                    </select>
                                </span>
                                <div class="day_event">
                                    <input type="checkbox" style="vertical-align:text-top !important;" class="option-input checkbox"
                                           ng-model="PersonService.CalendarService.EditableEvent.IsPrivate">
                                    <label class="control-label" style="vertical-align:sub !important;">Private</label>
                                </div>
                            </div>
                          

                            <div class="form-group form-inline">
                                <label class="control-label center-block">
                                    {{(PersonService.CalendarService.IsTaskCheck ? 'Due' + '' : 'From')}}
                                </label>
                                <div ng-class="{true: 'has-error'}[frmAppt.$submitted && frmAppt.fromDate.$invalid]">
                                    <div ng-hide="PersonService.CalendarService.EditableEvent.allDay||PersonService.CalendarService.IsTaskCheck==true">
                                        <input kendo-date-time-picker
                                               k-format = "HFCService.StaticKendoDateTimeFormat()"
                                               class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                               ng-required="true" style="padding:0 !important; height:28px !important;"
                                               type="text" name="fromDate"
                                               placeholder="From Date" data-date-format="MM/dd/yyyy"
                                               ng-model="PersonService.CalendarService.EditableEvent.start"
                                               ng-disabled="disabled(date, mode)"
                                               ng-change="PersonService.CalendarService.UpdateToDate()"
                                               data-autoclose="true">
                                    </div>
                                    
                                    <div ng-show="PersonService.CalendarService.EditableEvent.allDay||PersonService.CalendarService.IsTaskCheck==true">
                                        <input kendo-date-picker
                                               k-format = "HFCService.StaticKendoDateFormat()"
                                               class="form-control frm_controllead1 task_duefield ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                               ng-required="true" style="padding:0 !important; height:28px !important;"
                                               type="text" name="fromDate"
                                               placeholder="From Date" data-date-format="MM/dd/yyyy"
                                               ng-model="PersonService.CalendarService.EditableEvent.start"
                                               ng-disabled="disabled(date, mode)"
                                               ng-change="PersonService.CalendarService.UpdateToDate()"
                                               data-autoclose="true">
                                    </div>
                                    <div class="day_event" ng-if="PersonService.CalendarService.IsTaskCheck==true">
                                        <input type="checkbox" style="vertical-align:text-top !important;" class="option-input checkbox"
                                               ng-model="PersonService.CalendarService.EditableEvent.IsPrivate">
                                        <label class="control-label" style="vertical-align:sub !important;">Private</label>
                                    </div>
                                    <div class="day_event">
                                        <input type="checkbox" style="vertical-align:text-top !important;" class="option-input checkbox"
                                              ng-model="PersonService.CalendarService.EditableEvent.allDay"
                                               ng-if="PersonService.CalendarService.IsTaskCheck==false"
                                               ng-class="{'btn-warning active': PersonService.CalendarService.EditableEvent.allDay}">
                                        <label ng-if="PersonService.CalendarService.IsTaskCheck==false" class="control-label" style="vertical-align:sub !important;">All Day Event</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-inline" ng-if="PersonService.CalendarService.IsTaskCheck==false">
                                <label class="control-label center-block">To</label>
                                <div ng-hide="PersonService.CalendarService.EditableEvent.allDay">
                                    <input kendo-date-time-picker
                                           k-format = "HFCService.StaticKendoDateTimeFormat()"
                                           class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                           ng-required="true"
                                           style="padding:0 !important; height:28px !important;" type="text" name="toDate"
                                           placeholder="To Date" data-date-format="MM/dd/yyyy"
                                           ng-model="PersonService.CalendarService.EditableEvent.end"
                                           ng-change="PersonService.CalendarService.SetStartEndTime()"
                                           ng-disabled="disabled(date, mode)"
                                           data-autoclose="true">
                                </div>
                                <div ng-show="PersonService.CalendarService.EditableEvent.allDay">
                                    <input kendo-date-picker
                                           k-format = "HFCService.StaticKendoDateFormat()"
                                           class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                           ng-required="true"
                                           style="padding:0 !important; height:28px !important;" type="text" name="toDate"
                                           placeholder="To Date" data-date-format="MM/dd/yyyy"
                                           ng-model="PersonService.CalendarService.EditableEvent.end"
                                           ng-disabled="disabled(date, mode)"
                                           data-autoclose="true">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label">Reminders</label>

                                <span class="custom-dropdown custom-dropdown--white" ng-class="{true: 'has-error'}[frmAppt.$submitted && PersonService.CalendarService.EditableEvent.ReminderMinute=='']">
                                    <select class="custom-dropdown__select custom-dropdown__select--white frm_controllead1"
                                            ng-class="{true: 'errorTP'}[PersonService.CalendarService.EditableEvent.ReminderMinute==='']"
                                            style="padding:0 5px !important;"
                                            ng-model="PersonService.CalendarService.EditableEvent.ReminderMinute"
                                            name="reminder"
                                            ng-options="val as name for (name, val) in PersonService.CalendarService.Reminder">
                                        <option value="" disabled selected>Select</option>
                                    </select>

                                </span>
                            </div>
                            <div id="evt_recurring" class="form-group crm-accordion" ng-if="PersonService.CalendarService.IsTaskCheck==false">
                                <div class="panel-heading recurence_popupgrid">
                                    <input class="option-input recurence_chkbox checkbox" id="chkEventRecurring"
                                           ng-checked="PersonService.CalendarService.EditableEvent.RecurrenceIsEnabled==true"
                                           ng-click="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern,'NewRecur')"
                                           ng-model="PersonService.CalendarService.EditableEvent.RecurrenceIsEnabled" data-toggle="collapse" data-target="#evt_recurring_panel" type="checkbox" value="true" />
                                    Recurrence

                                </div>
                            </div>
                            <div class="popup_weektext" ng-show="PersonService.CalendarService.EditableEvent.RecurrenceIsEnabled">
                                <span></span> {{PersonService.CalendarService.recurrencesummary}}
                            </div>

                        </div>
                    </div>

                    <!-- START Recurring Panel -->
                    <div ng-show="PersonService.CalendarService.EditableEvent.RecurrenceIsEnabled==true" class="panel-default crm-accordion">
                        <div id="evt_recurring_panel" class="evt-recurring-panel collapse" ng-controller="CalendarController">
                            <div style="border: 1px solid #555;">
                                <p style="width:130px; margin-top:-10px; margin-left:10px; padding-left: 5px; background: #f7f7f7;">Recurrence Pattern</p>
                                <div class="row no-margin">
                                    <div class="col-sm-3">
                                        <select ng-show="PersonService.CalendarService.Recurrancepattern!=null"
                                                class="form-control frm_controllead1" style="padding: 0 10px !important;" ng-model="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern"
                                                ng-options="val as name for (name, val) in PersonService.CalendarService.Recurrancepattern"></select>
                                        <select ng-show="PersonService.CalendarService.Recurrancepattern==null" class="form-control frm_controllead1" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" style="padding: 0 10px !important;" ng-model="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern">
                                            <option ng-value="1">Daily</option>
                                            <option ng-value="2">Weekly</option>
                                            <option ng-value="3">Monthly</option>
                                            <option ng-value="4">Yearly</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-9 daily_rgrid" ng-if="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ===1 || PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ==='1'" ">
                                        <ul class="expand_ref">
                                            <li>
                                                Every
                                            </li>
                                            <li>
                                                <input style="width: 90px !important; padding:0 1px !important; font-size:12px !important;" type="text" class="form-control frm_controllead1" placeholder="days"
                                                       ng-model="PersonService.CalendarService.EditableRecurringEvent.occurs" id="recursnumberofDays"
                                                       ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)"
                                                       autofocus />
                                            </li>
                                            <li>
                                                <span>Day(s)</span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-9 daily_rgrid" style="width: 70% !important;" ng-if="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ===2 || PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ==='2'">
                                        <ul class="expand_ref" style="margin-bottom:10px;">
                                            <li>
                                                Recur every
                                            </li>
                                            <li>
                                                <span>
                                                    <input style="width: 90px !important; padding:0 1px !important; font-size:12px !important;" type="text" class="form-control frm_controllead1" placeholder=""
                                                           ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)"
                                                           ng-model="PersonService.CalendarService.EditableRecurringEvent.occurs" id="recursWeeklyNumberofDays" autofocus />
                                                </span>
                                            </li>
                                            <li>
                                                Week(s) on:
                                            </li>

                                        </ul>
                                        <ul class="expand_ref">
                                            <li ng-repeat="(day,enabled) in PersonService.CalendarService.EditableRecurringEvent.days">
                                                <input class="option-input checkbox" type="checkbox" id="{{day}}" ng-model="PersonService.CalendarService.EditableRecurringEvent.days[day]"
                                                       ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)"> {{day}}&nbsp;
                                            </li>
                                        </ul>
                                    </div>

                                    <!--</div>-->
                                    <!--<div id="three" class="three  recurence  "  ng-if="PersonService.CalendarService.PatternEnum ==='3'">-->
                                    <div class="col-sm-6 daily_rgrid" style="width: 70% !important;" ng-if="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ===3 || PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ==='3'">
                                        <ul class="expand_ref">
                                            <li class="recurence_month">
                                                Every: &nbsp;&nbsp;
                                            </li>
                                            <li>
                                                <input class="frm_controllead1" ng-model="PersonService.CalendarService.EditableRecurringEvent.occurs" type="text" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" style="width:90px !important;" />
                                            </li>
                                            <li>
                                                &nbsp;month(s)
                                            </li>
                                        </ul>
                                        <ul class="expand_ref">
                                            <li class="recurence_month">
                                                <input class="option-input radio radio_space" ng-checked="PersonService.CalendarService.EditableRecurringEvent.flagMonthly==1" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)"
                                                       type="radio" id="rddayoftheMonth" name="rddayoftheMonth" ng-model="PersonService.CalendarService.EditableRecurringEvent.flagMonthly" ng-value="1">
                                                Day
                                            </li>

                                            <li>
                                                <select class="form-control frm_controllead1" style="width: 90px !important; padding:0 1px !important; font-size:12px !important;"
                                                        id="optdayoftheMonth" ng-model="PersonService.CalendarService.EditableRecurringEvent.dayoftheMonth" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)"
                                                        ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagMonthly==2">
                                                    <option ng-value="1">1</option>
                                                    <option ng-value="2">2</option>
                                                    <option ng-value="3">3</option>
                                                    <option ng-value="4">4</option>
                                                    <option ng-value="5">5</option>
                                                    <option ng-value="6">6</option>
                                                    <option ng-value="7">7</option>
                                                    <option ng-value="8">8</option>
                                                    <option ng-value="9">9</option>
                                                    <option ng-value="10">10</option>
                                                    <option ng-value="11">11</option>
                                                    <option ng-value="12">12</option>
                                                    <option ng-value="13">13</option>
                                                    <option ng-value="14">14</option>
                                                    <option ng-value="15">15</option>
                                                    <option ng-value="16">16</option>
                                                    <option ng-value="17">17</option>
                                                    <option ng-value="18">18</option>
                                                    <option ng-value="19">19</option>
                                                    <option ng-value="20">20</option>
                                                    <option ng-value="21">21</option>
                                                    <option ng-value="22">22</option>
                                                    <option ng-value="23">23</option>
                                                    <option ng-value="24">24</option>
                                                    <option ng-value="25">25</option>
                                                    <option ng-value="26">26</option>
                                                    <option ng-value="27">27</option>
                                                    <option ng-value="28">28</option>
                                                    <option ng-value="29">29</option>
                                                    <option ng-value="30">30</option>
                                                    <option ng-value="31">31</option>
                                                </select>
                                            </li>
                                        </ul>
                                        <ul class="expand_ref">
                                            <li class="recurence_month">
                                                <input class="option-input radio radio_space" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" ng-checked="PersonService.CalendarService.EditableRecurringEvent.flagMonthly==2" type="radio" id="rdWeekOfTheMonth" name="MonthlyRecurring" ng-model="PersonService.CalendarService.EditableRecurringEvent.flagMonthly" ng-value="2">
                                                The
                                            </li>
                                            <li>
                                                <select class="form-control frm_controllead1" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" style="width: 90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="PersonService.CalendarService.EditableRecurringEvent.WeekOfTheMonth" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagMonthly==1">
                                                    <option value="First">First</option>
                                                    <option value="Second">Second</option>
                                                    <option value="Third">Third</option>
                                                    <option value="Fourth">Fourth</option>
                                                    <option value="Last">Last</option>
                                                </select>
                                            </li>
                                            <li>
                                                <select class="form-control frm_controllead1" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" style="width: 90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="PersonService.CalendarService.EditableRecurringEvent.DayOfWeek" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagMonthly==1">
                                                    <option value="Sunday">Sunday</option>
                                                    <option value="Monday">Monday</option>
                                                    <option value="Tuesday">Tuesday</option>
                                                    <option value="Wednesday">Wednesday</option>
                                                    <option value="Thursday">Thursday</option>
                                                    <option value="Friday">Friday</option>
                                                    <option value="Saturday">Saturday</option>
                                                </select>
                                            </li>
                                            <li>
                                                &nbsp;of every
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-9 daily_rgrid" style="width: 70% !important;" ng-if="PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ===4 || PersonService.CalendarService.EditableRecurringEvent.recurrancepattern ==='4'">
                                        <ul class="expand_ref">
                                            <li>
                                                Every:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            </li>
                                            <li>
                                                <input ng-model="PersonService.CalendarService.EditableRecurringEvent.occurs" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" class="form-control frm_controllead1" type="text" style="width: 90px !important; padding:0 1px !important; font-size:12px !important;" margin-bottom 2px !important;" />

                                            </li>
                                            <li>
                                                &nbsp;year(s)
                                            </li>
                                        </ul>
                                        <ul class="expand_ref">
                                            <li>
                                                Repeats On:&nbsp;
                                            </li>
                                            <li>

                                                <select class="form-control frm_controllead1" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)"
                                                        style="width:90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="PersonService.CalendarService.EditableRecurringEvent.yearlyMontRepeatsOn">
                                                    <option value="January">January</option>
                                                    <option value="February">February</option>
                                                    <option value="March">March</option>
                                                    <option value="April">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="October">October</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>

                                                </select>
                                            </li>

                                        </ul>
                                        <ul class="expand_ref">

                                            <li>

                                                <input class="option-input radio radio_space" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)"
                                                       ng-checked="PersonService.CalendarService.EditableRecurringEvent.flagYearly==1" ng-model="PersonService.CalendarService.EditableRecurringEvent.flagYearly" type="radio" id="addressType17" name="yearlyrepeat" ng-value="1">
                                                On Day &nbsp;

                                                <!--<input type="text" style="width:40px;" data-bind="options: window.NumbersArray, value: RecursEvery" />-->
                                            </li>

                                            <li>
                                                <select class="form-control frm_controllead1" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)"
                                                        style="width:90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="PersonService.CalendarService.EditableRecurringEvent.dayoftheMonth" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagYearly==2">
                                                    <option ng-value="1">1</option>
                                                    <option ng-value="2">2</option>
                                                    <option ng-value="3">3</option>
                                                    <option ng-value="4">4</option>
                                                    <option ng-value="5">5</option>
                                                    <option ng-value="6">6</option>
                                                    <option ng-value="7">7</option>
                                                    <option ng-value="8">8</option>
                                                    <option ng-value="9">9</option>
                                                    <option ng-value="10">10</option>
                                                    <option ng-value="11">11</option>
                                                    <option ng-value="12">12</option>
                                                    <option ng-value="13">13</option>
                                                    <option ng-value="14">14</option>
                                                    <option ng-value="15">15</option>
                                                    <option ng-value="16">16</option>
                                                    <option ng-value="17">17</option>
                                                    <option ng-value="18">18</option>
                                                    <option ng-value="19">19</option>
                                                    <option ng-value="20">20</option>
                                                    <option ng-value="21">21</option>
                                                    <option ng-value="22">22</option>
                                                    <option ng-value="23">23</option>
                                                    <option ng-value="24">24</option>
                                                    <option ng-value="25">25</option>
                                                    <option ng-value="26">26</option>
                                                    <option ng-value="27">27</option>
                                                    <option ng-value="28">28</option>
                                                    <option ng-value="29">29</option>
                                                    <option ng-value="30">30</option>
                                                    <option ng-value="31">31</option>
                                                </select>
                                            </li>
                                        </ul>
                                        <ul class="expand_ref">

                                            <li>
                                                <input class="option-input radio radio_space" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" ng-checked="PersonService.CalendarService.EditableRecurringEvent.flagYearly==2" ng-model="PersonService.CalendarService.EditableRecurringEvent.flagYearly" type="radio" id="addressType18" name="yearlyrepeat" ng-value="2">
                                                On &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </li>

                                            <li>
                                                <select class="form-control frm_controllead1" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" style="width:90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="PersonService.CalendarService.EditableRecurringEvent.WeekOfTheMonth" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagYearly==1">
                                                    <option value="First">First</option>
                                                    <option value="Second">Second</option>
                                                    <option value="Third">Third</option>
                                                    <option value="Fourth">Fourth</option>
                                                    <option value="Last">Last</option>
                                                </select>
                                            </li>
                                            <li>
                                                <select class="form-control frm_controllead1" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" style="width:90px !important; padding:0 1px !important; font-size:12px !important;" ng-model="PersonService.CalendarService.EditableRecurringEvent.DayOfWeek" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.flagYearly==1">
                                                    <option value="Sunday">Sunday</option>
                                                    <option value="Monday">Monday</option>
                                                    <option value="Tuesday">Tuesday</option>
                                                    <option value="Wednesday">Wednesday</option>
                                                    <option value="Thursday">Thursday</option>
                                                    <option value="Friday">Friday</option>
                                                    <option value="Saturday">Saturday</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--</div>-->
                                </div>
                            </div>

                            <div style="border: 1px solid #555;margin:10px 0;">
                                <p style="width: 142px; margin-top:-10px; margin-left:10px;padding-left: 5px;background:#f7f7f7;">Range of Recurrence</p>
                                <div class="row" style="margin:0 0 10px 0!important;">
                                    <div class="col-md-6">
                                        <ul class="expand_ref">
                                            <li>
                                                <label class="control-label center-block">Start</label>
                                            </li>
                                            <li>
                                                <input kendo-date-picker
                                                       k-format = "HFCService.StaticKendoDateFormat()"
                                                       class="form-control startfield ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                                       ng-required="true"
                                                       type="text" name="startDate"
                                                       placeholder="Start Date" data-date-format="MM/dd/yyyy"
                                                       ng-model="PersonService.CalendarService.EditableRecurringEvent.startOn"
                                                       ng-disabled="true"
                                                       ng-change="PersonService.CalendarService.SetRecurrenceEventStartAndEndDate(PersonService.CalendarService.EditableRecurringEvent.startOn);PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern);"
                                                       data-autoclose="true"
                                                       required>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="recurence">
                                            <li>
                                                <input class="option-input radio radio_space" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" ng-checked="PersonService.CalendarService.EditableRecurringEvent.endBy==1" ng-model="PersonService.CalendarService.EditableRecurringEvent.endBy" type="radio" id="reoccuranceEnd" name="reoccuranceEnd" ng-value="1">No end date
                                            </li>
                                            <li>
                                                <input class="option-input radio radio_space" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" ng-checked="PersonService.CalendarService.EditableRecurringEvent.endBy==2" ng-model="PersonService.CalendarService.EditableRecurringEvent.endBy" type="radio" id="reoccuranceEndBy" name="reoccuranceEndBy" ng-value="2">End after:
                                                <input style="width:90px !important; vertical-align: middle; margin-left:20px;" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" ng-disabled="PersonService.CalendarService.EditableRecurringEvent.endBy!=2" ng-model="PersonService.CalendarService.EditableRecurringEvent.endsAfterOccurances" class="calder frm_controllead1" type="text" ng-pattern="/^(\d)+$/" />
                                                occurrences
                                            </li>
                                            <li>
                                                <ul class="sub_ref">
                                                    <li>
                                                        <input class="option-input radio radio_space" ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)" ng-checked="PersonService.CalendarService.EditableRecurringEvent.endBy==3" ng-model="PersonService.CalendarService.EditableRecurringEvent.endBy" type="radio" id="reoccuranceEndDate" name="reoccuranceEndDate" ng-value="3">End by:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <input kendo-date-picker
                                                               k-format = "HFCService.StaticKendoDateFormat()"
                                                               class="ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                                               ng-required="true" style="width:170px !important;"
                                                               type="text" name="endDate"
                                                               placeholder="End Date" data-date-format="MM/dd/yyyy"
                                                               ng-model="PersonService.CalendarService.EditableRecurringEvent.endByDate"
                                                               ng-disabled="PersonService.CalendarService.EditableRecurringEvent.endBy!=3"
                                                               ng-change="PersonService.CalendarService.RecurrenceSummary(PersonService.CalendarService.EditableRecurringEvent.recurrancepattern)"
                                                               data-autoclose="true"
                                                               required>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <!-- END Recurring Panel Body -->
                </div>
                  <div class="modal-body"  ng-show="PersonService.CalendarService.EditableEvent.IsPrivateAccess== false">
                      <h3> This is a Private Appointment</h3>
                  </div>
                </div>
                <!-- END Recurring Panel -->
                <!-- End of person-modal-new-go.html -->
        
                <div class="modal-footer" ng-hide="PersonService.CalendarService.IsTaskCheck==true">
                    <!--selectedIds-
                    frmAppt-{{frmAppt.$valid}}-->
              
                    <button type="button" class="btn btn-primary tery_sm1"  ng-click="PersonService.CalendarService.CancelCalendar('modal')" >Cancel</button>
                    <button type="submit" class="btn btn-primary tery_sm1" ng-hide="PersonService.CalendarService.EditableEvent.IsPrivateAccess== false" ng-click="PersonService.CalendarService.selectedIds.length > 0 && PersonService.CalendarService.SaveCalendar(modalId,this)">Save</button>
                    <button type="submit" class="btn btn-primary tery_sm1" ng-show="PersonService.CalendarService.IsConvertLead ==true" ng-click="PersonService.CalendarService.SaveCalendar(modalId,this,'ConvertLead')">Save And Convert Lead</button>
                    <button type="submit" class="btn btn-primary tery_sm1" ng-show="PersonService.CalendarService.returntoSectionDisplay!= null" ng-click="PersonService.CalendarService.SaveCalendar(modalId,this,'returnToPage')">{{PersonService.CalendarService.returntoSectionDisplay}}</button>
                    <button type="submit" class="btn btn-primary tery_sm1" ng-show="PersonService.CalendarService.EditableEvent.EventRecurring" ng-click="PersonService.CalendarService.SaveCalendar(modalId,this,null,'removerecurence')">Remove Recurrence</button>
                </div>
                
                <div class="modal-footer" ng-show="PersonService.CalendarService.IsTaskCheck==true">
                    <button type="button" class="btn btn-primary tery_sm1" ng-click="PersonService.CalendarService.CancelCalendar('modal')" ng-disabled="PersonService.CalendarService.IsBusy">Cancel</button>
                    <button type="submit" class="btn btn-primary tery_sm1" ng-show="PersonService.CalendarService.EditableEvent.id &&PersonService.CalendarService.EditableEvent.IsPrivateAccess== true " ng-click="PersonService.CalendarService.selectedIds.length > 0 && PersonService.CalendarService.CompleteTask(modalId,PersonService.CalendarService.EditableEvent.id)">Complete</button>
                    <button type="submit" class="btn btn-primary tery_sm1" ng-hide="PersonService.CalendarService.EditableEvent.IsPrivateAccess== false" ng-click="PersonService.CalendarService.selectedIds.length > 0 && PersonService.CalendarService.saveTask(modalId,this,PersonService.CalendarService.EditableEvent.id)">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>



