﻿<div class="modal fade" id="pricingRuleModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Applied Pricing Mgt. Rule</h4>
                <button type="button" class="close popup_close" ng-click="Cancel('pricingRuleModal')">&times;</button>
            </div>
            <form name="pricinngRule" role="form">
                <div class="modal-body quote_popup">
                    <div style="margin: 3%" class="form-group row">
                        <h4>Pricing Management:</h4>
                        <table class="table table-expand">
                            <thead class="expand_lhead">
                                <tr>
                                    <th class="row-1">Rule Number</th>
                                    <th  class="row-1">Pricing Code</th>
                                    <th  class="row-1">Pricing Rule</th>
                                    <th class="row-1">MarkUp</th>
                                    <th class="row-1">Rounding</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="#!/advancedpricingSettings">
                                        {{SelectedgridRow.RuleNumber}}
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/advancedpricingSettings">
                                        {{SelectedgridRow.PricingCode}}
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/advancedpricingSettings">
                                        {{SelectedgridRow.PricingRule}}
                                    </a>
                                </td>
                                <td>
                                    <div ng-if="SelectedgridRow.MarkupFactor=='$'">
                                        <a href="#!/advancedpricingSettings">
                                            {{SelectedgridRow.MarkupFactor}}{{SelectedgridRow.PricingMarkup}}
                                        </a>
                                        
                                    </div>
                                    <div ng-if="SelectedgridRow.MarkupFactor=='%'">
                                        <a href="#!/advancedpricingSettings">
                                            {{SelectedgridRow.PricingMarkup}}{{SelectedgridRow.MarkupFactor}}
                                        </a>
                                       
                                    </div>

                                  
                                </td>
                                <td>
                                    <a href="#!/advancedpricingSettings">
                                        {{SelectedgridRow.RoundingRule}}
                                    </a>
                                </td>
                               
                            </tr>
                            </tbody>
                        </table>
                        <!--<kendo-grid id="pricingmgmtGrid" options="PricingRules" style="margin: 3%">

                        </kendo-grid>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="button" class="close popup_close" ng-click="Cancel('pricingRuleModal')">ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                