﻿<div class="modal fade" id="quoteLineMemomodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Quote Memo</h4>
                <button type="button" class="close popup_close" ng-click="Cancel('quoteLineMemomodal')">&times;</button>
           </div>
            <form name="Measurement_addint" role="form" ng-submit="SaveQuoteLineMemo(SelectedQuoteLine)">
                <div class="modal-body quote_popup">
                    <!--<p>Hello New World</p>-->
                    <div class="form-group row">
                        <label class="col-12 text-center">NOTE: This memo will be printed on the Invoice. It is an EXTERNAL note.</label>
                       
                    </div>
                   
                    <div class="form-group row">
                        <label class="col-3 text_detlabel">Quote Name</label>
                        <div class="col-3 ldetailtext_field">
                            <label class="ldet_label " >{{Quotation.QuoteName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 text_detlabel">Line Id</label>
                        <div class="col-3 ldetailtext_field">
                            <label class="ldet_label ">{{SelectedQuoteLine.QuoteLineNumber}}</label>
                            <label style="display:none;" class="ldet_label ">{{SelectedQuoteLine.QuoteLineId}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 text_detlabel">Room Name</label>
                        <div class="col-3 ldetailtext_field">
                            <label class="ldet_label">{{SelectedQuoteLine.RoomName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 text_detlabel">Window Name</label>
                        <div class="col-3 ldetailtext_field">
                            <label class="ldet_label ">{{SelectedQuoteLine.WindowLocation}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 text_detlabel">Memo</label>
                        <div class="col-3 ldetailtext_field">
                            <textarea rows="4" cols="50" ng-model="SelectedQuoteLine.Memo">
                               
                            </textarea>
                           <!--<input type="text" ng-model="SelectedQuoteLine.Memo" style="width:100px;height:50px;"/>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="Cancel('quoteLineMemomodal')">Cancel</button>
                        <button type="submit" class="btn btn-cancel">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
