﻿
<div class="modal fade" id="oneTimeProductModel" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Warning! You are adding a one time product</h4>
                <button type="button" class="close popup_close" ng-click="OneTimeProductCheck('oneTimeProductModel')">&times;</button>
            </div>
            <form name="Measurement_addint" role="form" ng-submit="OneTimeProductCheck()">
                <div class="modal-body">
                    <p>Warning! You are adding a one time product.</p>
                    <p>
                        This Product will not be added to "My Products".
                        If you will sell this product more than one time please create a new "My Product" item.
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="OneTimeProductCheck('oneTimeProductModel')">Ok</button>
                   </div>                    
                </div>
            </form>
        </div>
    </div>
</div>
