﻿<div class="modal fade" id="marginSummary" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Margin Summary</h4>
                <button type="button" class="close popup_close" ng-click="Cancel('marginSummary')">&times;</button>
            </div>
            <form name="Measurement_addint" role="form" ng-submit="SaveMeasurementQuoteLine(Quotation)">
                <div class="modal-body quote_popup margin_summary">
                    <!--<p>Hello New World</p>-->
                    <div class="popup-group row state_field">
                        <input type="hidden" name="id" value="id" ng-model="MeasurementTL.id">
                    </div>
                    <div class="popup-group row">
                        <label class="col-sm-4 text_detlabel">Quote ID</label>
                        <div class="col-7 col-sm-7">
                            <label class="ldet_label">{{Quotation.QuoteID}}</label>
                        </div>
                    </div>
                    <div class="popup-group row">
                        <label class="col-sm-4 text_detlabel">Quote Name</label>
                        <div class="col-7 col-sm-7">
                            <label class="ldet_label">{{Quotation.QuoteName}}</label>
                        </div>
                    </div>
                    <div class="popup-group row">
                        <label class="col-sm-4 text_detlabel">Total # of Quote Lines</label>
                        <div class="col-7 col-sm-7">
                            <label class="ldet_label">{{Quotation.NumberOfQuotelines}}</label>
                        </div>
                    </div>
                    <div class="popup-group row">
                        <label class="col-sm-4 text_detlabel">Product Subtotal</label>
                        <div class="col-7 col-sm-7">
                            <label class="ldet_label">{{Quotation.ProductSubTotal| GlobalCurrency}}</label>
                        </div>
                    </div>
                    <div class="popup-group row">
                        <label class="col-sm-4 text_detlabel">Total Discounts Applied</label>
                        <div class="col-7 col-sm-7">
                            <label class="ldet_label">({{Quotation.TotalDiscounts| GlobalCurrency}})</label>
                        </div>
                    </div>
                    <div class="popup-group row">
                        <label class="col-sm-4 text_detlabel">Additional Charges</label>
                        <div class="col-7 col-sm-7">
                            <label class="ldet_label">{{Quotation.AdditionalCharges| GlobalCurrency}}</label>
                        </div>
                    </div>
                    <!--<div class="popup-group row">
                        <label class="col-sm-4 text_detlabel">Quote Discount</label>
                        <div class="col-7 col-sm-7">
                            <label class="ldet_label" ng-if="Quotation.DiscountType == '$'">{{Quotation.Discount| GlobalCurrency}}</label>
                            <label class="ldet_label" ng-if="Quotation.DiscountType == '%'">{{Quotation.Discount}} &nbsp; %</label>
                        </div>
                    </div>-->
                   
                    <div class="popup-group row">
                        <label class="col-sm-4 text_detlabel quote_stotal">Quote Subtotal</label>
                        <div class="col-7 col-sm-7">
                            <label class="ldet_label quote_stotal">{{Quotation.QuoteSubTotal| GlobalCurrency}}</label>
                        </div>
                    </div>
                    <div class="popup-group row">
                        <label class="col-sm-4 text_detlabel">Est Tax/Tax</label>
                        <div class="col-7 col-sm-7">
                            <label class="ldet_label">{{TaxTotal| GlobalCurrency}}</label>
                        </div>
                    </div>
                    
                    <div style="border-top:1px solid grey;padding:15px 0 5px;">
                        <label class="font-weight-bold" style="font-size: 16px;">Margin:</label>
                    </div>
                    <div class="ml-3">
                    <div ng-show="brandid==1" class="popup-group row">
                        <label class="col-sm-3 text_detlabel text-left">Core Product</label>
                        <div class="col-2 col-sm-2">
                            <span class='Grid_Textalign'> <label class="ldet_label">{{Quotation.CoreProductMargin| GlobalCurrency}}&nbsp;</label></span>
                        </div>
                        <div class="col-2 col-sm-2">
                            <span class='Grid_Textalign'><label class="ldet_label">{{Quotation.CoreProductMarginPercent}} %</label></span>
                        </div>
                    </div>
                    <div ng-show="brandid==1" class="popup-group row">
                        <label class="col-sm-3 text_detlabel text-left">My Product</label>
                        <div class="col-2 col-sm-2">
                            <span class='Grid_Textalign'><label class="ldet_label">{{Quotation.MyProductMargin| GlobalCurrency}}&nbsp;</label></span>
                        </div>
                        <div class="col-2 col-sm-2">
                            <span class='Grid_Textalign'><label class="ldet_label">{{Quotation.MyProductMarginPercent}} %</label></span>
                        </div>
                    </div>
                    <div ng-show="brandid!=1" class="popup-group row">
                        <label class="col-sm-3 text_detlabel text-left">Product</label>
                        <div class="col-2 col-sm-2">
                            <span class='Grid_Textalign'><label class="ldet_label">{{Quotation.MyProductMargin| GlobalCurrency}}&nbsp;</label></span>
                        </div>
                        <div class="col-2 col-sm-2">
                            <span class='Grid_Textalign'><label class="ldet_label">{{Quotation.MyProductMarginPercent}} %</label></span>
                            </div>
                    </div>
                    <div class="popup-group row">
                        <label class="col-sm-3 text_detlabel text-left">Services</label>
                        <div class="col-2 col-sm-2">
                            <span class='Grid_Textalign'><label class="ldet_label">{{Quotation.ServiceMargin| GlobalCurrency}}&nbsp;</label></span>
                        </div>
                        <div class="col-2 col-sm-2">
                            <span class='Grid_Textalign'><label class="ldet_label">{{Quotation.ServiceMarginPercent}} %</label></span>
                        </div>
                    </div>
                    <div class="popup-group row">
                        <label class="col-sm-3 text_detlabel text-left">Total Margin</label>
                        <div class="col-2 col-sm-2">
                            <span class='Grid_Textalign'><label class="ldet_label">{{Quotation.TotalMargin| GlobalCurrency}}&nbsp;</label></span>
                        </div>
                        <div class="col-2 col-sm-2">
                            <span class='Grid_Textalign'><label class="ldet_label">{{Quotation.TotalMarginPercent}} %</label></span>
                        </div>
                    </div>
                   </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <!--<button type="button" class="close popup_close" ng-click="Cancel('marginSummary')">&times;</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
