﻿<div class="modal fade" id="PrimaryCheckmodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Primary Quote</h4>
                <button type="button" class="close popup_close" ng-click="ClosePrimaryPopup()">&times;</button>
            </div>
            <form name="Measurement_addint" role="form" ng-submit="ChangePrimaryQuote(Quotation)">
                <div class="modal-body quote_popup" style="margin: 20px;">
                    
                    <div ng-show="!CannotChangePrimary" class="form-group row w-100">
                        <p>
                            Quote <b>"{{Quotation.PrimaryQuoteName}}"</b> is currently marked as the Primary Quote. Do you wish to mark this quote as Primary instead?
                        </p> 
                    </div>
                    <div ng-show="CannotChangePrimary" class="form-group row">
                        This is the Primary quote. It cannot be changed. Make another quote as Primary.
                    </div>
                  

                </div>
                <div class="modal-footer">
                    <div ng-show="!CannotChangePrimary" class="popup_butns">
                       
                        <button type="button" class="btn btn-cancel"  ng-click="ChangePrimaryQuote(Quotation,'Yes')">Yes</button>
                        <button type="button" class="btn btn-cancel" ng-click="ChangePrimaryQuote(Quotation,'No')">No</button>
                    </div>
                    <div ng-show="CannotChangePrimary" class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelChangePrimaryQuote('PrimaryCheckmodal')">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
