﻿<div class="modal fade" id="pricemodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Edit Quote - Apply New Pricing Rules</h4>
                <button type="button" class="close popup_close" ng-click="Cancel('pricemodal')" aria-hidden="true">&times;</button>
           </div>
            <form name="Measurement_addint" role="form" ng-submit="SaveMeasurementTL()">
                <div class="modal-body quote_popup">
                    <div class="form-group row state_field">
                        <input type="hidden" name="id" value="id" ng-model="MeasurementTL.id">
                    </div>
                    <div class="form-group row">
                       <p style="text-align:center;font-size:medium;font-style:inherit">Some lines of this Quote are affected by new Pricing Rules.<br>
                        Would you like to refresh the Pricing Rules against this Quote?<br>
                        If Yes, all lines will be updated. If No, the new rules will only apply to any new lines<br> added to the Quote
                        </p>
                    </div>
                    <div class="text-center">
                        <button type="reset" class="btn btn-cancel" ng-click="Cancel('pricemodal')">Yes</button>
                        <button type="submit" class="btn btn-cancel" ng-click="Cancel('pricemodal')">No</button>
                    </div>
                </div>
                <div class="modal-footer">
                    
                </div>
            </form>
        </div>
    </div>
</div>
