﻿<div class="modal fade" id="quotemodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Select Measurements</h4>
                <button type="button" class="close popup_close" ng-click="Cancel('quotemodal')">&times;</button>
            </div>
            <form name="Measurement_addint" role="form" ng-submit="SaveMeasurementQuoteLine(Quotation)">
                <div class="modal-body quote_popup quotemeasurement_popup">
                    <!--<p>Hello New World</p>-->
                     <div class="form-group row state_field">
                        <input type="hidden" name="id" value="id" ng-model="MeasurementTL.id">
                     </div>
                    <div class="form-group row">
                        <label class="col-3 text_detlabel">Quote Name</label>
                        <div class="col-9">
                            <label class="ldet_label">{{Quotation.QuoteName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 text_detlabel">Opportunity Name</label>
                        <div class="col-9">
                            <label class="ldet_label">{{Quotation.OpportunityName}}</label>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label class="col-3 text_detlabel">Account Name</label>
                        <div class="col-9">
                            <label class="ldet_label">{{Quotation.AccountName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 text_detlabel">Installation Address</label>
                        <div class="col-9">
                            <label class="ldet_label">{{Quotation.InstallationAddress.Address1}} {{Quotation.InstallationAddress.Address2}} {{Quotation.InstallationAddress.City}} {{Quotation.InstallationAddress.State}} {{Quotation.InstallationAddress.ZipCode}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 text_detlabel">Billing Address</label>
                        <div class="col-9">
                            <label class="ldet_label">{{Quotation.BillingAddress.Address1}} {{Quotation.BillingAddress.Address2}} {{Quotation.BillingAddress.City}} {{Quotation.BillingAddress.State}} {{Quotation.BillingAddress.ZipCode}}</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-3 text_detlabel">Add Empty Quote Line</label>
                        <div class="col-9">
                            <input class="option-input checkbox" type="checkbox" ng-model="EQL.EmptyQuoteline" ng-true-value="'Yes'" ng-false-value="'No'">
                        </div>
                    </div>
                    <div  ng-if="brandid!=3" class="table-responsive">
                        <table class="table table-expand">
                            <thead class="expand_lhead">
                                <tr>
                                    <th><label><input class="option-input checkbox" type="checkbox" ng-checked="IsAllChecked==true" ng-click="CheckUncheckAll()"> Select All</label></th>   <!--Removed causing error: ng-model="IsAllChecked==true"--> 
                                    <th>Room</th>
                                    <th>Window  Name</th>
                                    <th>Window Location</th>
                                    <th>Mount Type</th>
                                    <th>Width</th>
                                    <th>Height</th>
                                 </tr>
                            </thead>
                        
                            <tbody ng-repeat="m in Quotation.MeausurementList">
                                <tr>
                                    <td><input type="checkbox" id="checkbox_mes" ng-disabled="m.Selected==true && m.quoteLineCreated==true" class="option-input" ng-checked="m.Selected==true" ng-model="m.Selected" ng-change="CheckUncheckHeader()"></td>
                                    <td>{{m.RoomLocation}}</td>
                                    <td>{{m.RoomName}}</td>
                                    <td>{{m.WindowLocation}}</td>
                                    <td>{{m.MountTypeName}}</td>
                                    <td>{{m.Width}} {{m.FranctionalValueWidth}}</td>
                                    <td>{{m.Height}} {{m.FranctionalValueHeight}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="Cancel('quotemodal')">Cancel</button>
                        <button type="submit" class="btn btn-cancel">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
