﻿<div class="modal fade" id="reminderModal" tabindex="-1" role="dialog" aria-labelledby="reminderLabel" aria-hidden="true">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mx-auto modal-title" id="reminderLabel">Event(s) Reminder</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="rem in ReminderService.Reminders" ng-class="{'active': rem.IsActive}" ng-click="rem.IsActive = !rem.IsActive">
                        <h4 class="list-group-item-heading">
                            <span ng-class="ReminderService.GetIcon(rem)"></span> <span ng-bind="rem.Subject"></span> <small ng-bind="ReminderService.EventDateTxt(rem)"></small>
                        </h4>
                        <p class="list-group-item-text" ng-bind="rem.Message"></p>
                    </a>
                </div>
                <h3 ng-hide="ReminderService.Reminders.length > 0" class="text-center">
                    <span class="label label-default">All caught up!</span>
                </h3>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-8 col-sm-3">
                        <div class="form-group">
                            <select class="form-control input-sm" ng-model="ReminderService.SnoozeMinutes">
                                <option value="5">5 min</option>
                                <option value="10">10 min</option>
                                <option value="15">15 min</option>
                                <option value="30">30 min</option>
                                <option value="45">45 min</option>
                                <option value="60">1 hour</option>
                                <option value="120">2 hours</option>
                                <option value="240">4 hours</option>
                                <option value="480">8 hours</option>
                                <option value="1440">1 day</option>
                                <option value="2880">2 days</option>
                                <option value="4320">3 days</option>
                                <option value="5760">4 days</option>
                                <option value="10080">1 week</option>
                                <option value="20160">2 weeks</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="ReminderService.Snooze()">Snooze</button> 
                    </div>
                    <div class="col-xs-6 col-sm-3 col-sm-offset-2 col-xs-offset-0">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="ReminderService.DismissAll()">Dismiss All</button>                        
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="ReminderService.Dismiss()">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>