﻿<style>
    ul.tabs1 li {
        padding: 9px 0 5px 0px;
    }
    .btn.focus, .btn:focus {
        box-shadow: none !important;
    }
  
</style>
<ul class="menu flex tabs1 reports_hfcbtmnav">
    <li>
        <!--<input type="button" class="cancel_but" style="padding:5px !important; font-size:18px !important;" ng-click="ReportHeaderService.gotohome()" value="Reports Home" />-->
        <button type="button" ng-click="ReportHeaderService.gotohome()" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">Reports Home</button>
    </li>
    <li>
        <div class="btn-group">
            <!--<input type="button" class="cancel_but dropbtn" style="padding:5px !important; font-size:18px !important;" ng-click="ReportHeaderService.dropdownFunction('ActivityDropdown')" value="Activity" />
        <span class="caret"></span>-->
            <button type="button" ng-click="ReportHeaderService.dropdownFunction('ActivityDropdown')" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">Activity <span class="caret"></span></button>
            <ul class="dropdown-menu reportdrop_menu" role="menu">
                <li>
                    <a href="#!/SalesSummaryReport"><i class="fal fa-envelope-open-dollar report_listicon"></i>Sales Summary</a>
                </li>
                <li>
                    <a href="#!/SalesandPurchasingDetailReport"><i class="fal fa-funnel-dollar report_listicon"></i>Sales Detail</a>
                </li>
                <li>
                    <a href="#!/SalesTax"><i class="fal fa-envelope-open-dollar report_listicon"></i>Sales Tax</a>
                </li>
                <li>
                    <a href="#!/SalesTaxSummary"><i class="fal fa-envelope-open-dollar report_listicon"></i>Sales Tax Summary</a>
                </li>
                <li>
                    <a href="#!/SalesJournalReport"><i class="fal fa-envelope-open-dollar report_listicon"></i>Sales Journal</a>
                </li>
                <li>
                    <a href="#!/OpenBalanceReport"><i class="fal fa-envelope-open-dollar report_listicon"></i>Open Balance</a>
                </li>
                <li>
                    <a href="#!/AgingReport"><i class="fal fa-envelope-open-dollar report_listicon"></i>Aging</a>
                </li>
                <li>
                    <a href="#!/UseTax"><i class="fal fa-envelope-open-dollar report_listicon"></i>Use Tax</a>
                </li>
                <li>
                    <a href="#!/OrdersPaidInFull"><i class="fal fa-envelope-open-dollar report_listicon"></i>Orders Paid In Full</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <!--<input type="button" class="cancel_but dropbtn" style="padding:5px !important; font-size:18px !important;" ng-click="ReportHeaderService.dropdownFunction('PerformanceDropdown')" value="Performance" />

    <ul id="PerformanceDropdown" class="dropdown-content">-->
        <button type="button" ng-click="ReportHeaderService.dropdownFunction('PerformanceDropdown')" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">Performance <span class="caret"></span></button>
        <ul class="dropdown-menu reportdrop_menu" role="menu">
            <li>
                <a href="#!/MarketingPerformance"><i class="fal fa-megaphone fa_icon report_listicon"></i>Marketing Performance</a>
            </li>
            <li ng-if="BrandId==1">
                <a href="#!/VendorPerformance"><i class="fal fa-file-chart-line report_listicon"></i>Vendor Performance</a>
            </li>
            <li>
                <a href="#!/FranchisePerformanceReport"><i class="fal fa-analytics report_listicon"></i>Performance</a>
            </li>
            <li>
                <a href="#!/SalesSummaryByMonth"><i class="fal fa-chart-pie report_listicon"></i>Monthly Statistics</a>
            </li>
            <li>
                <a href="#!/IncomeSummaryReport"><i class="fal fa-chart-pie report_listicon"></i>Income Summary Report</a>
            </li>
            <li>
                <a href="#!/PaymentReport"><i class="fal fa-chart-pie report_listicon"></i>Payment Report</a>
            </li>
        </ul>
    </li>
    <li>
        <!--<input type="button" class="cancel_but dropbtn" style="padding:5px !important; font-size:18px !important;" ng-click="ReportHeaderService.dropdownFunction('OtherDropdown')" value="Other" />
    <ul id="OtherDropdown" class="dropdown-content">-->
        <button type="button" ng-click="ReportHeaderService.dropdownFunction('OtherDropdown')" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">Other <span class="caret"></span></button>
        <ul class="dropdown-menu reportdrop_menu" role="menu">
            <li>
                <a href="#!/MsrReport"><i class="fal fa-envelope-open-dollar report_listicon"></i>MSR Report</a>
            </li>
            <li ng-if="ReportHeaderService.ShowRawdata">
                <a href="#!/RawDataReport"><i class="fal fa-envelope-open-dollar report_listicon"></i>Raw Data</a>
            </li>
            <li>
                <a href="#!/PPCMatchbackReport"><i class="fal fa-envelope-open-dollar report_listicon"></i>PPC Matchback</a>
            </li>
        </ul>
    </li>
</ul>
