﻿<div class="modal fade" id="taxDetailsSummary" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">View Tax Details</h4>
                <button type="button" class="close popup_close" ng-click="Cancel('taxDetailsSummary')">&times;</button>
            </div>
            <form name="Measurement_addint" role="form" ng-submit="SaveMeasurementQuoteLine(Quotation)">
                <div class="modal-body quote_popup">
                    <div class="form-group row">
                        <label class="col-sm-6 radres_label">Order ID</label>
                        <div class="col-sm-3 qualify-column">
                            <label>{{Order.OrderNumber}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 radres_label">Order Name</label>
                        <div class="col-sm-3 qualify-column">
                            <label>{{Order.OrderName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 radres_label">Account Name</label>
                        <div class="col-sm-3 qualify-column">
                            <label>{{Order.AccountName}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <kendo-grid id="taxDetailsGrid" options="TaxDetailsLines" style="margin: 3%">

                        </kendo-grid>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="button" class="close popup_close" ng-click="Cancel('taxDetailsSummary')">ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
