﻿<div class="modal fade" id="territoryModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" ng-submit="JobService.SaveTerritoryAndConvertToSale(JobService.CurrentJob, JobService.CurrentJob.TerritoryId)">
                <div class="modal-header">
                    <h4 class="mx-auto modal-title">You must select a territory to continue</h4>
                    <button type="button" ng-disabled="JobService.IsBusy" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Territory:</label>
                        <select class="form-control input-sm" ng-model="JobService.CurrentJob.TerritoryId" ng-options="opt.TerritoryId as JobService.GetTerritoryLabel(opt) for opt in JobService.Territories" ng-disabled="!JobService.CurrentJob.Permission.CanUpdate">
                            <option value="">Unassigned</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default btn-sm" ng-disabled="JobService.IsBusy" data-dismiss="modal">Discard &amp; Close</button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-disabled="JobService.IsBusy">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>