﻿<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <h4 class="mx-auto modal-title" ng-bind="title"></h4>
                <button type="button" class="close" ng-click="$hide()">&times;</button>
            </div>
            <!--<div class="modal-body" >
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Description" ng-model="fileDescription">
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="Documents" ng-model="fileCategory">
                            Documents
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="Plans" ng-model="fileCategory">
                            Plans
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="Photos" ng-model="fileCategory">
                            Photos
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="Other" ng-model="fileCategory">
                            Other
                        </label>
                    </div>

                </form>
            </div>-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default float-left" ng-click="closeModal(false, this)">Close</button>
                <button type="button" class="btn btn-primary float-right" ng-click="closeModal(true, this)">Upload</button>
            </div>
        </div>
    </div>
</div>

<!--
<div class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-disabled="AddressService.IsBusy" ng-click="AddressService.Cancel(modalId)" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Address</h4>
            </div>
            <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="textinput">Text Input</label>
                            <div class="controls">
                                <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                                <p class="help-block">help</p>
                            </div>
                        </div>

                        $1$ Multiple Radios #1#
                        <div class="control-group">
                            <label class="control-label" for="radios">Multiple Radios</label>
                            <div class="controls">
                                <label class="radio" for="radios-0">
                                    <input type="radio" name="radios" id="radios-0" value="Option one" checked="checked">
                                    Option one
                                </label>
                                <label class="radio" for="radios-1">
                                    <input type="radio" name="radios" id="radios-1" value="Option two">
                                    Option two
                                </label>
                            </div>
                        </div>
                    </form>
            
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default btn-sm float-left" ng-disabled="AddressService.IsBusy" ng-click="AddressService.Cancel(modalId)"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                    <button type="submit" class="btn btn-success btn-sm" ng-disabled="AddressService.IsBusy"><i class="glyphicon glyphicon-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>-->
