﻿@using HFC.CRM.Core
@using HFC.CRM.Core.Common
@using HFC.CRM.Core.Membership
@using HFC.CRM.Data
@using HFC.CRM.Managers
@using StackExchange.Profiling

@{
    ViewBag.Title = "Dashboard";
    // Need to remove the already attaced layout, as this page itslef
    // going to form a layout for the admin pages.
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <title>@AppConfigManager.ApplicationTitle</title>

    @if (Request.IsAuthenticated)
    {
        <style>
            #selectedSalesSearch + div, #selectedLeadStatusSearch + div, #selectedJobsStatusSearch + div, #invoiceStatusesSearch + div, #selectedSourcesSearch + div {
                display: none !important;
            }
        </style>
    }
    <link href="~/Content/bootstrap.css?@ViewContext.Controller.GetType().Assembly.GetName().Version" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/bootstrapbundle")
    @*@Styles.Render("~/Content/bootstrapbundle")*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/base")
    @*@Styles.Render("~/Content/base")*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/themes/base/jqueryui")
    @*@Styles.Render("~/Content/themes/base/jqueryui")*@
    <link href="~/Content/kendo.ui/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.ui/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.ui/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.ui/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="../../../Content/kendo.default-v2.min.css" rel="stylesheet" />
    <link href="~/Content/onetofour.css" rel="stylesheet" />
    <link href="~/Scripts/dropzone/css/basic.css" rel="stylesheet" />
    <link href="../../../Content/style.css?v=@ViewContext.Controller.GetType().Assembly.GetName().Version" rel="stylesheet" />

    <link href="~/Content/fontawesome-pro-5.6.3/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-pro-5.6.3/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-pro-5.6.3/css/all.min.css" rel="stylesheet" />

    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/dashboard")
    @*@Styles.Render("~/Content/dashboard")*@
    @*<link href="~/Content/ng-lead-detail.css" rel="stylesheet" />*@   @*removed this line, we have this file in the ng-lead-detail bundle*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/leads_jobs_list")
    @*@Styles.Render("~/Content/leads_jobs_list")*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/css/email")
    @*@Styles.Render("~/Content/css/email")*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/ng-lead-detail")
    @*@Styles.Render("~/Content/ng-lead-detail")*@

    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/base")
    <script src="~/Scripts/angular.js"></script>
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/angular")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/ngReminder")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/ngPushListener")
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFhUvLsZPRXxFTUGWKIpGSDyd4tGvqhVI"></script>
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/api/jsbundle/enums_calendar")
    <script src="~/Scripts/angular-strap.min.js"></script>
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/spa")

    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/CP/base")

    <script src="~/Scripts/jquery.cookie.js"></script>

    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.4.js"></script>
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", string.Format("~/api/jsbundle/lk_statuses|enums_saleadjtypeenum|enums_notetype?f={0}", (SessionManager.CurrentFranchise == null) ? 0 : SessionManager.CurrentFranchise.FranchiseId))

    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/api/jsbundle/lk_statuses|lk_leadsources|enums_notetype?")
    @*This is supposed to fix the issue of template caching in angular JS*@
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "//cdn.sstatic.net/Js/stub.en.js")

    @*Get PIC Config from WEb based on the envirment*@
    <script src='@System.Configuration.ConfigurationManager.AppSettings["PICConfigJS"].ToString()'></script>

    <style>
        #loaderDiv {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1100;
            background-color: white;
            opacity: .6;
            display: none;
            width: 100%;
            height: 100%;
        }

        .ajax-loader {
            position: absolute;
            top: 45%;
            left: 45%;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        .accordion-toggle:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
            content: "\e114"; /* adjust as needed, taken from bootstrap.css */
            float: right; /* adjust as needed */
            color: grey; /* adjust as needed */
        }

        .accordion-toggle.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e080"; /* adjust as needed, taken from bootstrap.css */
        }

        .snav_tooltip {
            position: absolute;
            color: white;
            top: 19px;
            left: 65px;
            padding: 5px 8px;
            background: #365760;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="page-container">

        <!-- Preloader-starts -->
        <div id="preloader">
            <img src="/images/preloader.gif" />
        </div>
        <div id="loading" style="display: none;">
            <div class="loader" style="position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; background-color: white; opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
        </div>
        <!-- Preloader-end-->
        <!-- Header - starts -->

        <section class="header-section" style="background:{{NavbarServiceVendor.headercolor}};" ng-controller="NavbarControllerVendorTP">
            <div class="row mr-0">
                <div class="col-sm-6 col-md-6 col-xs-6 pl-0">
                    <div class="text-left">
                        <div class="logo">
                            <a href="/">
                                <img src="../../../../Content/images/tp-logo.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div class="row no-margin float-right">
                        <div class="col-sm-8">
                            <label id="errorLoadingg" style="display:none; margin-top:10px;color:red;font-size: 18px;">ERROR &nbsp; :(</label>
                        </div>
                        <div class="col-sm-4 pr-0">
                            <ul class="nofitications-dropdown">
                                <li class="dropdown note fran_adm">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="user_icon1"> </i></a>
                                    <ul class="dropdown-menu adminuser_ddown header_dropdown">
                                        <li class="dropdown-header">{{FranchiseService.UserData.FullName}}</li>
                                        <li>
                                            <a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>
                                            @using (Html.BeginForm("LogOff", "VendorHome", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                @Html.AntiForgeryToken()
                                            }
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sub Header - Start -->
        <section class="sub_header_1">
            <div class="wrapper_body" @Html.Raw(string.IsNullOrEmpty(ViewBag.NGController) ? "" : string.Format("ng-controller=\"{0}\"", ViewBag.NGController))>
                <div ng-view="">
                </div>
            </div>
        </section>
        <!-- Sub Header - End -->

        <section class="my_sub_header_1" ng-controller="NavbarControllerVendorTP">

            <div id="navvcp" name="navvcp" style="display:none;">
                <nav class="navbar navbar-expand-md navbar-light bg-light my-navbar-default">
                    <div class="container-fluid">
                        @*home*@
                        <div class="navbar-header" ng-show="NavbarServiceVendor.HomeSelected == 'selected'">
                            <a class="navbar-brand float-left"><img class="sale_icon" src="~/Content/images/home_tp.png">Vendor</a>
                            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto mt-1 custom_nav" ng-show="NavbarServiceVendor.HomeSelected == 'selected'">
                                <li class="{{NavbarServiceVendor.HomeTab}}"><a href="#!/ChangeRequest">Catalog Management</a></li>
                                <li class="{{NavbarServiceVendor.configuratorTab}}"><a href="#!/VendorConfigurator">Configurator</a></li>
                            </ul>

                            @*<ul class="nav navbar-nav my-navbar-nav" ng-show="NavbarServiceVendor.AdministrationSelected == 'selected'">
                <li class="{{NavbarServiceVendor.news_updatesTab}}"><a href="#!/listNews">News & Updates</a></li>
                <li class="{{NavbarServiceVendor.globalAttachments}}"><a href="#!/attachments">System Documents</a></li>
                <li class="{{NavbarServiceVendor.HFCPermissionSetSelected}}"><a href="#!/hfcrolesSearch">Roles & Permission</a></li>
            </ul>*@
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <!-- Side menu - Start -->
        <section class="sidebar-menu" id="navvcp_side" name="navvcp_side" style="display:none;" ng-controller="NavbarControllerVendorTP">
            <div class="menu">

                <ul id="menu">
                    <li ng-class="NavbarServiceVendor.HomeSelected">
                        <a href="#!/VendorCaseList" data-title="Home"><img src="~/Content/images/home-mini.png" /></a>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Side menu - End -->
    </div>

    @* TODO: What is these??? *@
    <hfc-push></hfc-push>
    <hfc-save-search-modal></hfc-save-search-modal>

    @* TODO: What it does? *@
    @Html.Partial("_Localization")

    <script>

        $(document).on('click',
            'div.datepicker-days, td.old.day, td.day, td.new.day, td.today.day, div.datepicker-years, div.datepicker-months, th.next, th.prev, th.switch, span.month, span.year',
            function(e) {
                e.stopPropagation();
            });

        $(document).on('click',
            '.k-link',
            function(e) {
                e.stopPropagation();
            });
        $(document).on('click',
            '.k-select',
            function(e) {
                e.stopPropagation();
            });

        $('#collapseSearch').click(function() {
            $(this).text(function(i, old) {
                return old == 'Hide  Advanced Search' ? 'Show  Advanced Search' : 'Hide  Advanced Search';
            });
        });

        HFC.Version = "@AppConfigManager.AppVersion";

        HFC.Search = function(form) {
            var search = form.elements["searchTerm"].value;
            var location = window.location;
            location = '?searchTerm=' + encodeURIComponent(search);
            var ddlElements = $(form).find('[name=searchFilter]');
            for (var i = 0; i < ddlElements.length; i++) {
                if ($(ddlElements[i]).prop('checked') === true) {
                    location = location + '&searchFilter=' + encodeURIComponent($(ddlElements[i]).attr("value"));
                }
            }

            window.location = location;
            return false;
        }

        // TODO: what it does???
        HFC.ToggleSearchFilter = function(anchor) {
            $(anchor).parent().siblings().removeClass('active');
            $(anchor).find('input').prop('checked', true);
            $(anchor).parent().addClass('active');
            return false;
        }
    </script>

    <style>
        .selected {
            background-color: #3f7b85;
        }
    </style>

    <script>
        var toggle = true;

        $(".sidebar-icon").click(function() {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            } else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function() {
                    $("#menu span").css({ "position": "relative" });
                },
                    400);
            }

            toggle = !toggle;
        });
    </script>

    <script>

        // TODO: need to check, whether all these javascript functions is required or not
        HFC.QS = {};
        HFC.CurrentUser = { ColorId: @SessionManager.CurrentUser.ColorId,
            AvatarSrc: "@(SessionManager.CurrentUser.AvatarSrc ?? AppConfigManager.DefaultAvatarSrc)",
            FullName:
                "@(SessionManager.CurrentUser != null && SessionManager.CurrentUser.Person != null ? SessionManager.CurrentUser.Person.FullName : null)",
            PersonId: @(SessionManager.CurrentUser != null ? SessionManager.CurrentUser.PersonId : 0),
            CalendarFirstHour: @(SessionManager.CurrentUser != null ? SessionManager.CurrentUser.CalendarFirstHour : 0)
            };
        HFC.Util.BrandedPath = @Html.Raw(Json.Encode(AppConfigManager.BrandedPath));
        HFC.AttendeeWarning = @Html.Raw(Json.Encode(HFC.CRM.Web.Properties.Resources.AttendeeNotExistsWarning));

        var applicationTitle = '@AppConfigManager.ApplicationTitle';
    </script>

    @MiniProfiler.RenderIncludes()

    <!--Footer-->
    <section class="clearfix">
        <div style="padding-top: 50px;"></div>
    </section>
    <footer class="panel-footer">
        <!--Copyright-->
        <div class="footer-copyright row no-margin">
            <div class="col-lg-6 footer-copyright_left">
                    <span class="copyrt">
                        Touchpoint Version @AppConfigManager.AppVersion  @if (!@AppConfigManager.SName.ToLower().Contains("prd") && !@AppConfigManager.SName.ToLower().Contains("pqa"))
                        {
                            @: @AppConfigManager.SName.ToUpper()
                        }
                    </span>
            </div>
            <div class="col-lg-6 footer-copyright_right">
                    <span class="copyrt">© @DateTime.Now.Year - Home Franchise Concepts, LLC., All Rights Reserved. | <a class="hquote_hover" href="https://tpt.gohfc.com/Legal/Terms%20Of%20Use.pdf"> Terms Of Use</a></span>
           </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
    <!-- sidebar menu tooltip -->
    <script>
        $( "#menu a" ).hover(
   function() {
       var title = $(this).attr("data-title");
       $('<div />', {
           text: title,
           class: 'snav_tooltip'
       }).appendTo(this);
   }, function() {
       $(document).find(".snav_tooltip").remove();
   }
  );
        //Disappear tooltip
        $(".sidebar-menu li").mouseenter(function() {
            setTimeout(function(){
                $('.snav_tooltip').remove();
            }, 3000);
        });
    </script>
    <script>
        //In ipad tooltip single click
        $(document).ready(function() {
            $(".sidebar-menu li a").on("click touchend", function(e) {
                var el = $(this);
                var link = el.attr("href");
                window.location = link;
            });
        });
    </script>
    <script>
        function setModalMaxHeight(element) {
            this.$element     = $(element);
            this.$content     = this.$element.find('.modal-content');
            var borderWidth   = this.$content.outerHeight() - this.$content.innerHeight();
            var dialogMargin  = $(window).width() < 768 ? 20 : 60;
            var contentHeight = $(window).height() - (dialogMargin + borderWidth);
            var headerHeight  = this.$element.find('.modal-header').outerHeight() || 0;
            var footerHeight  = this.$element.find('.modal-footer').outerHeight() || 0;
            var maxHeight     = contentHeight - (headerHeight + footerHeight);

            this.$content.css({
                'overflow': 'hidden'
            });

            this.$element
              .find('.modal-body').css({
                  'max-height': maxHeight,
                  'overflow-y': 'auto'
              });
        }

        $('.modal').on('show.bs.modal', function() {
            $(this).show();
            setModalMaxHeight(this);
        });

        $(window).resize(function() {
            if ($('.modal.in').length != 0) {
                setModalMaxHeight($('.modal.in'));
            }
        });
    </script>
    <script src="~/Scripts/atwho/jquery.caret.min.js"></script>
    <script src="~/Scripts/atwho/jquery.atwho.min.js"></script>
</body>
</html>