﻿<div class="row" data-as-sortable-item="">
    <div ng-if="!IsCustom">
        <div class="col-xs-12 col-sm-12" ng-if="!InEditMode" data-as-sortable-item-handle="">
            <div class="row row-condensed row-body">
                <div class="hfc-col col-xs-12 col-sm-1" ng-if="canUpdate">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="visible-xs">Options <i class="caret"></i></span>
                            <span class="hidden-xs"><i class="glyphicon glyphicon-cog"></i> <i class="caret"></i></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li><a href="#" ng-hide="JobService.OrderedJobItemIds.indexOf(item.JobItemId) > -1" ng-click="Edit($event)">Edit</a></li>
                            <li><a href="#" ng-show="JobService.OrderedJobItemIds.indexOf(item.JobItemId) > -1" ng-click="View($event, JobService.SentJobItemIds.indexOf(item.JobItemId) > -1)">{{ JobService.SentJobItemIds.indexOf(item.JobItemId) > -1 ? "View/Edit Cost" : "View" }}</a></li>
                            <li><a href="#" ng-hide="JobService.OrderedJobItemIds.indexOf(item.JobItemId) > -1" ng-click="Clone($event)">Make a copy</a></li>
                            <li><a href="#" ng-hide="JobService.OrderedJobItemIds.indexOf(item.JobItemId) > -1" ng-click="Delete($event, JobService.SentJobItemIds.indexOf(item.JobItemId) > -1, JobService.OrderedJobItemIds.indexOf(item.JobItemId) > -1)">Delete</a></li>
                        </ul>
                    </div>

                </div>
                <span class="warning-icon" ng-if="item.IsSavedWithErrors == true"></span>
                    <div class="hfc-col col-xs-12" ng-class="displayCost ? 'col-sm-1 col-lg-2' : 'col-sm-2 col-lg-2'">
                        <span class="text-muted" ng-bind="RoomLocation()"></span>
                    </div>
                    <div class="hfc-col col-xs-12" ng-class="displayCost ? 'col-sm-1 col-lg-3' : 'col-sm-2 col-lg-4'">
                        <b ng-bind="item.ProductName"></b> <span class="text-muted" ng-bind="item.ProductType"></span>
                    </div>

                    <div class="hfc-col col-xs-12 col-sm-2 col-lg-1" ng-if="displayCost">
                        <div class="col-xs-6 visible-xs">Cost:</div>
                        <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.UnitCost | currency"></div>
                    </div>

                    <div class="hfc-col col-xs-12 col-sm-2 col-lg-1" ng-if="displayCost">
                        <div class="col-xs-6 visible-xs">Cost:</div>
                        <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.JobberPrice | currency"></div>
                    </div>
                    <div class="hfc-col col-xs-12 col-sm-2 col-lg-1">
                        <div class="col-xs-6 visible-xs">Discount:</div>
                        <div class="col-xs-6 col-sm-12 text-right text-danger" ng-bind="-1 * item.DiscountAmount | currency"></div>
                    </div>

                <div class="hfc-col col-xs-12 col-sm-2 col-lg-1">
                    <div class="col-xs-6 visible-xs">Sale Price:</div>
                    <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.SalePrice | currency"></div>
                </div>
                <div class="hfc-col col-xs-12 col-sm-1">
                        <div class="col-xs-6 visible-xs">Quantity:</div>
                        <div class="col-xs-6 col-sm-12" ng-bind="item.Quantity" ng-class="HFCService.isMobile() ? 'text-right' : 'text-center'"></div>
                    </div>
                    <div class="hfc-col col-xs-12 col-sm-2 col-lg-1">
                        <div class="col-xs-6 visible-xs">Line total:</div>
                        <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.Subtotal | currency"></div>
                    </div>

            </div>

        </div>
        <div class="col-xs-12 col-sm-12" ng-if="InEditMode">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" name="quoteItemForm">
                        <div class="row row-light-condensed form-horizontal">

                            <div class="col-xs-12 col-sm-8 col-md-5">
                                <div class=" col-xs-12 col-sm-12">
                                    <label class=" col-xs-3 col-sm-3 text-lg">Product:</label>
                                    <span style="font-size: 12px;margin-top: 5px;display: block;">{{QuoteItemService.ProductAdditInfo}}</span>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-4 col-md-3 text-md text-right">Type:</label>

                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <select class="form-control" ng-disabled="true" ng-model="item.ProductTypeId" name="ProductTypeId" ng-change="QuoteItemService.GetManufacturers(item.ProductTypeId)" ng-options="opt.ProductTypeId as opt.TypeName for opt in QuoteItemService.ProductTypes" required>
                                            <option value="">Select Type</option>
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-4 col-md-3 text-md text-right">Manufacturer:</label>
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <select class="form-control" ng-disabled="true" ng-model="item.ManufacturerId" ng-change="QuoteItemService.GetProducts(item.ManufacturerId, item.ProductTypeId)" ng-options="opt.ManufacturerId as opt.Name for opt in QuoteItemService.ProductManufacturers" required>
                                            <option value="">Select Mfg</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-4 col-md-3 text-md text-right">Product:</label>
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <select class="form-control" ng-disabled="true" ng-model="item.ProductGuid" ng-change="QuoteItemService.GetProductStyles(item.ProductGuid)" ng-options="opt.ProductGuid as opt.Name for opt in QuoteItemService.ProductItems" required>
                                            <option value="">Select Product</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-4 col-md-3 text-md text-right">Style:</label>

                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <select class="form-control" ng-disabled="true" ng-model="item.StyleId" ng-change="QuoteItemService.GetProductOptions(item, item.ProductGuid, item.StyleId, 0, '', false)" ng-options="opt.Id as opt.Name for opt in QuoteItemService.ProductStyles" required>
                                            <option value="">Select Style</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" ng-repeat="msg in QuoteItemService.ProductOptions.Messages">
                                    <div class="col-xs-12 col-sm-12 text-left">
                                        <span ng-bind="msg" class="label label-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group" ng-repeat="img in QuoteItemService.ProductOptions.Images track by $index">
                                    <div class="col-xs-12 col-sm-12 text-left">
                                        <a ng-href="{{img.URL}}" target="_blank">Image {{$index + 1}}</a>
                                    </div>
                                </div>

                                <div class="form-group" ng-repeat="file in QuoteItemService.ProductOptions.Attachments">
                                    <div class="col-xs-12 col-sm-12 text-left">
                                        <a ng-href="{{file.URL}}" target="_blank" ng-bind="QuoteItemService.GetAttachmentName(file.FileName , $index)"></a>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-8 col-md-5">

                                <div class="col-xs-12 col-sm-8 col-md-10">
                                    <label class="col-xs-6 col-sm-5 text-lg">Options:</label> <span class="col-xs-6 col-sm-7"><i class="glyphicon glyphicon-star"></i> Affects pricing</span>
                                </div>

                                <div class="form-group" ng-repeat="option in QuoteItemService.ProductOptions.Options  track by $index" ng-if="option.IsVisible" ng-class="{'has-error': option.HasError(), 'has-success': option.IsChanged() && !option.HasError(), 'has-feedback': !option.IsList && option.AffectsPrice }">
                                    <label class="col-xs-12 col-sm-5 control-label input-sm text-right text-truncate">
                                        <span ng-bind="option.Name"></span>
                                        <span class="glyphicon glyphicon-star" ng-show="option.AffectsPrice"></span>:
                                    </label>

                                    <div class="col-xs-12 col-sm-7">
                                        <select class="form-control input-sm" ng-disabled="true" ng-if="option.IsList && option.AvailableOptions && option.AvailableOptions.length > 1" ng-disabled="option.IsReadOnly" ng-model="option.Value" ng-options="opt for opt in option.AvailableOptions">
                                            <option value=""></option>
                                        </select>

                                        <p class="form-control-static" ng-if="option.IsList && option.AvailableOptions.length == 1" ng-bind="option.Value"></p>
                                        <input class="form-control input-sm" ng-disabled="true" type="text" ng-if="!option.IsList" min="option.MinValue" max="option.MaxValue" ng-model="option.Value" />
                                    </div>

                                </div>
                                <div ng-repeat="option in QuoteItemService.ProductOptions.Options  track by $index" ng-if="option.IsHidden">
                                    <input type="hidden" ng-if="option.IsHidden" min="option.MinValue" max="option.MaxValue" ng-model="option.Value" />
                                </div>
                                
                            </div>
                        </div>

                        <div class="row row-light-condensed" ng-show="item.ProductTypeId && item.ManufacturerId && item.ProductGuid && item.StyleId" ondragstart="return false;" ondrop="return false;">
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="form-group" ng-show="job.CostPermission.CanRead">
                                    <label>Unit Cost:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                        <input type="number" min="0" step="0.01" ng-disabled="(InViewMode && !OrderHasBeenSent) || QuoteItemService.IsBusy" required ng-change="CalculateSubtotal()" ng-model="item.UnitCost" placeholder="Item Cost" class="form-control text-right" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-2" style="text-align: center">
                                <div class="form-group">
                                    <label>(Unit) Cost Code:</label>
                                    <div class="input-group">
                                        <div style="padding-top: 5px; padding-left: 50px; width: 100%" ng-if="!item.JobberPriceOverriden">
                                            {{item.JobberPrice | currency:"$":2}} <a href="#" ng-click="item.JobberPriceOverriden = true; $event.preventDefault()"><i class="glyphicon glyphicon-pencil"></i></a>
                                        </div>
                                        <span ng-show="item.JobberPriceOverriden" class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                        <input ng-show="item.JobberPriceOverriden" ng-disabled="InViewMode" type="number" min="0" onmouseup=" return false; " ng-model="item.JobberPrice" ng-change="UnitCostCodeChanged()" class="form-control" />
                                        <span ng-show="item.JobberPriceOverriden && !InViewMode" class="input-group-addon"> <a ng-show="item.JobberPriceOverriden" href="#" ng-click="item.JobberPriceOverriden = false; $event.preventDefault(); QuoteItemService.UpdateOptions(item, QuoteItemService.ProductOptions.Options[2], item.ProductGuid, item.StyleId)"><i class="glyphicon glyphicon-remove"></i></a></span>
                                    </div>
                                    <p ng-show="item.JobberPriceOverriden" style="color: red">Cost Code Overridden</p>
                                    <p ng-show="item.JobberPriceOverriden && (item.DiscountType =='Amount' || item.DiscountType =='SalePrice' || item.DiscountType =='Percent')" style="color:red">Edit will reset discounts</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-2" style="text-align: center">
                                <div class="form-group" ng-show="job.CostPermission.CanRead">
                                    <label>Margin:</label>
                                    <div class="input-group" style="padding-top: 5px;padding-left: 14px;width: 100%">
                                        <div>{{ item.MarginPercent }}%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="form-group">
                                    <label>(Unit) Sale Price:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                        <input type="number" step="0.01" required onmouseup=" return false; " ng-disabled="item.DiscountType =='Percent' || item.DiscountType =='Amount' || InViewMode || QuoteItemService.IsBusy" ng-change="SalePriceChanged()" ng-blur="SalePriceBlur()" ng-model="item.SalePrice" placeholder="Sale Price" class="form-control text-right" />
                                        <span class="input-group-btn" ng-if="item.DiscountType =='SalePrice'">
                                            <button ng-disabled="InViewMode  || IsBusy" class="btn btn-danger" type="button" ng-click="ResetSalePrice()">x</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-1">
                                <div class="form-group">
                                    <label>Qty:</label>
                                    <input type="number" ng-disabled="InViewMode  || QuoteItemService.IsBusy" min="0" onmouseup="return false;" ng-blur="QtyBlur()" ng-model="item.Quantity" ng-change="QtyChanged()" placeholder="Qty" class="form-control" />
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-2" style="text-align: center">
                                <div class="form-group">
                                    <label>Line Total:</label>
                                    <div class="input-group" style="padding-top: 5px;padding-left: 14px;width: 100%">
                                        <div>{{item.Subtotal | currency:"$":2}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-light-condensed" ng-show="item.ProductTypeId && item.ManufacturerId && item.ProductGuid && item.StyleId">
                            <div class="col-sm-6">
                                <label>Discount:</label>
                                <input type="text" ng-disabled="InViewMode  || QuoteItemService.IsBusy" ng-model="item.DiscountRemark" placeholder="Discount Remark" maxlength="256" class="form-control" />
                            </div>
                            <div class="col-sm-2">
                                <label>Discount %:</label>
                                <div class="input-group">
                                    <input type="number" onmouseup="return false;" ng-model="item.DiscountPercent" ng-disabled="item.DiscountType =='Amount' || item.DiscountType =='SalePrice'  || QuoteItemService.IsBusy || QuoteItemService.InViewMode" ng-blur="DiscountPercentBlur()" ng-change="DiscountPercentChanged()" placeholder="Percent" class="form-control" />
                                    <span class="input-group-addon">%</span>
                                    <span class="input-group-btn" ng-if="item.DiscountType =='Percent'">
                                        <button class="btn btn-danger" ng-disabled="InViewMode" type="button" ng-click="ResetDiscountPercent()">x</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2" style="text-align: center">
                                <label>Unit Discount $:</label>
                                <div class="input-group" style="padding-top: 5px;padding-left: 14px;width: 100%">
                                    <div>{{ item.UnitDiscountAmount | currency:"$":2 }}</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>Line Discount $:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                    <input type="number" onmouseup=" return false; " ng-disabled="item.DiscountType =='Percent' || item.DiscountType =='SalePrice'  || QuoteItemService.IsBusy || QuoteItemService.InViewMode" ng-model="item.DiscountAmount" ng-blur="LineDiscountBlur()" ng-change="LineDiscountChanged()" class="form-control text-right" />
                                    <span class="input-group-btn" ng-if="item.DiscountType =='Amount'">
                                        <button class="btn btn-danger" ng-disabled="InViewMode  || QuoteItemService.IsBusy" type="button" ng-click="ResetLineDiscount()">x</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <label>&nbsp;</label>
                                <div class="form-group">

                                    <label><input ng-disabled="InViewMode || IsBusy" type="checkbox" ng-model="item.IsTaxable" /> Taxable</label>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row row-light-condensed">
                            <div class="col-sm-3 col-md-3">
                                <a href="#" ng-click="DisplayDiscount = true; $event.preventDefault()" ng-hide="DisplayDiscount">Apply a discount</a>
                                <span class="pull-right hidden-xs">Subtotals:</span>
                            </div>
                            <div class="col-sm-2 text-right">
                                <span class="pull-left visible-xs" ng-show="job.CostPermission.CanRead">Cost Subtotal:</span>
                                <b ng-if="displayCost && job.CostPermission.CanRead" ng-bind="item.CostSubtotal | currency"></b>
                            </div>
                            <div class="col-sm-offset-2 col-sm-3 text-right" ng-class="{'text-danger': item.Subtotal < 0}">
                                <span class="pull-left visible-xs">Line Subtotal:</span>
                                <b ng-bind="item.Subtotal | currency"></b>
                            </div>

                            <div class="col-sm-2 text-right">
                                <span ng-show="job.CostPermission.CanRead" ng-class="{'pull-left': HFCService.isMobile()}">Margin:</span>
                                <b ng-show="job.CostPermission.CanRead"><span ng-bind="item.MarginPercent"></span> %</b>
                            </div>
                        </div>-->

                    <br/><br/>
                    <div class="row">
                            <div class="col-sm-12">
                                <div ng-class="HFCService.isMobile() ? 'btn-group-vertical' : 'btn-group'">
                                    <button type="reset" ng-disabled="QuoteItemService.IsBusy" class="btn btn-default btn-sm" ng-click="Cancel()" title="Cancel"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                                    <button type="submit" ng-disabled="QuoteItemService.IsBusy || InViewMode" class="btn btn-default btn-sm" ng-click="Save(true, quoteItemForm)" title="Save & New Line"><i class="glyphicon glyphicon-save"></i> Save & New Line</button>
                                    <button type="submit" ng-disabled="QuoteItemService.IsBusy || (InViewMode && !OrderHasBeenSent)" class="btn btn-primary btn-sm" ng-click="Save(false, quoteItemForm)" title="Save"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="IsCustom">
        <div class="col-xs-12 col-sm-12" ng-if="!InEditMode">
            <div class="row row-condensed row-body" data-as-sortable-item-handle>
                <div class="hfc-col col-xs-12 col-sm-1" ng-if="canUpdate">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="visible-xs">Options <i class="caret"></i></span>
                            <span class="hidden-xs"><i class="glyphicon glyphicon-cog"></i> <i class="caret"></i></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="Edit($event)">Edit</a></li>
                            <li><a href="#" ng-click="Clone($event)">Make a copy</a></li>
                            <li><a href="#" ng-click="Delete($event)">Delete</a></li>
                        </ul>
                    </div>
                </div>
                <span class="warning-icon" ng-if="item.IsSavedWithErrors == true"></span>
                <div class="hfc-col col-xs-12" ng-class="displayCost ? 'col-sm-1 col-lg-2' : 'col-sm-2 col-lg-2'">
                    <span class="text-muted" ng-bind="RoomLocation()"></span>
                </div>
                <div class="hfc-col col-xs-12" ng-class="displayCost ? 'col-sm-1 col-lg-3' : 'col-sm-2 col-lg-4'">
                    <b ng-bind="item.ProductName"></b> <span class="text-muted" ng-bind="item.ProductType"></span>
                </div>

                <div class="hfc-col col-xs-12 col-sm-2 col-lg-1" ng-if="displayCost">
                    <div class="col-xs-6 visible-xs">Cost:</div>
                    <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.UnitCost | currency"></div>
                </div>

                <div class="hfc-col col-xs-12 col-sm-2 col-lg-1" ng-if="displayCost">
                    <div class="col-xs-6 visible-xs">Cost:</div>
                    <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.JobberPrice | currency"></div>
                </div>
                <div class="hfc-col col-xs-12 col-sm-2 col-lg-1">
                    <div class="col-xs-6 visible-xs">Discount:</div>
                    <div class="col-xs-6 col-sm-12 text-right text-danger" ng-bind="-1 * item.DiscountAmount | currency"></div>
                </div>
                <div class="hfc-col col-xs-12 col-sm-2 col-lg-1">
                    <div class="col-xs-6 visible-xs">Sale Price:</div>
                    <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.SalePrice | currency"></div>
                </div>
                <div class="hfc-col col-xs-12 col-sm-1">
                    <div class="col-xs-6 visible-xs">Quantity:</div>
                    <div class="col-xs-6 col-sm-12" ng-bind="item.Quantity" ng-class="HFCService.isMobile() ? 'text-right' : 'text-center'"></div>
                </div>
                <div class="hfc-col col-xs-12 col-sm-2 col-lg-1">
                    <div class="col-xs-6 visible-xs">Line total:</div>
                    <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.Subtotal | currency"></div>
                </div>


            </div>
        </div>
        <div class="col-xs-12 col-sm-12" ng-if="InEditMode">
            <div class="panel panel-default">
                <div class="panel-body">


                    <form role="form" name="quoteItemForm_basic">
                        <div class="row row-light-condensed form-horizontal">
                            <div class="col-xs-12 col-sm-8 col-md-5">

                                <label class=" col-xs-12 col-sm-12 text-lg">Product:</label>

                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-4 col-md-3 text-md text-right">Type:</label>

                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <select class="form-control" ng-model="item.ProductTypeId" ng-options="opt.ProductTypeId as opt.TypeName for opt in QuoteItemService.CustomProductTypes">
                                            <option value="">Type</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-4 col-md-3 text-md text-right">Manufacturer:</label>
                                    <div class="input-group col-xs-12 col-sm-8 col-md-8">
                                        <input type="text" ng-model="item.Manufacturer" placeholder="Manufacturer" class="form-control" maxlength="100"/>
                                        <div class="input-group-btn">
                                            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle" tabindex="-1"><i class="caret"></i></button>
                                            <ul class="dropdown-menu pull-right" tabindex="-1">
                                                <li ng-repeat="mfg in QuoteItemService.CustomManufacturers">
                                                    <a href="#" ng-click="item.Manufacturer = mfg; $event.preventDefault()" ng-bind="mfg"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-4 col-md-3 text-md text-right">Product:</label>
                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <input class="form-control" type="text" ng-model="item.ProductName" min="4" maxlength="64" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-4 col-md-3 text-md text-right">Style:</label>

                                    <div class="col-xs-12 col-sm-8 col-md-8">
                                        <input class="form-control" type="text" ng-model="item.Style" min="4" maxlength="50" />
                                    </div>
                                </div>

                                <!--<div class="form-group" ng-repeat="msg in QuoteItemService.ProductOptions.Messages">
                                    <div class="col-xs-12 col-sm-12 text-left">
                                        <span ng-bind="msg" class="label label-danger"></span>
                                    </div>
                                </div>-->
                            </div>

                            <div class="col-xs-12 col-sm-8 col-md-5">

                                <div class="col-xs-12 col-sm-8 col-md-10">
                                    <label class="col-xs-6 col-sm-5 text-lg">Options:</label> <span class="col-xs-6 col-sm-7"><i class="glyphicon glyphicon-star"></i> Affects pricing</span>
                                </div>

                                <div class="form-group" ng-repeat="option in QuoteItemService.ProductOptions.Options  track by $index" ng-if="option.IsVisible" ng-class="{'has-error': option.HasError(), 'has-success': option.IsChanged() && !option.HasError(), 'has-feedback': !option.IsList && option.AffectsPrice }">
                                    <label class="col-xs-12 col-sm-5 control-label input-sm text-right text-truncate">
                                        <span ng-bind="option.Name"></span>
                                        <span class="glyphicon glyphicon-star" ng-show="option.AffectsPrice"></span>:
                                    </label>

                                    <div class="col-xs-12 col-sm-7">
                                        <select class="form-control input-sm" ng-disabled="InViewMode" ng-if="option.IsList && option.AvailableOptions && option.AvailableOptions.length > 1" ng-disabled="option.IsReadOnly" ng-model="option.Value" ng-change="QuoteItemService.UpdateOptions(item, option, item.ProductGuid, item.StyleId)" ng-options="opt for opt in option.AvailableOptions">
                                            <option value=""></option>
                                        </select>

                                        <p class="form-control-static" ng-if="option.IsList && option.AvailableOptions.length == 1" ng-bind="option.Value"></p>
                                        <input class="form-control input-sm" ng-disabled="InViewMode" type="text" ng-if="!option.IsList" min="option.MinValue" max="option.MaxValue" ng-model="option.Value" ng-blur="QuoteItemService.UpdateOptions(item, option, item.ProductGuid, item.StyleId)"/>
                                    </div>
                                    
                                </div>

                                <div class="form-group" ng-repeat="option in QuoteItemService.ProductOptions.Options  track by $index" ng-if="option.IsHidden">
                                    <input type="hidden" ng-if="option.IsHidden" min="option.MinValue" max="option.MaxValue" ng-model="option.Value" ng-blur="QuoteItemService.UpdateOptions(item, option, item.ProductGuid, item.StyleId)" />
                                </div>
                                <!--Hide unchanged options was here-->
                            </div>
                        </div>

                        <div class="row row-light-condensed" ondragstart="return false;" ondrop="return false;">
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="form-group" ng-show="job.CostPermission.CanRead">
                                    <label>Unit Cost:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                        <input type="number" min="0" step="0.01" required ng-change="CalculateSubtotal()" ng-model="item.UnitCost" placeholder="Item Cost" class="form-control text-right" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-2" style="text-align: center">
                                <div class="form-group">
                                    <label>(Unit) Cost Code:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                        <input type="number" min="0" onmouseup=" return false; " ng-model="item.JobberPrice" ng-change="UnitCostCodeChanged()" class="form-control" />
                                    </div>
                                    <p ng-show="item.DiscountType =='Amount' || item.DiscountType =='SalePrice' || item.DiscountType =='Percent'" style="color:red">Edit will reset discounts</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-2" style="text-align: center">
                                <div class="form-group" ng-show="job.CostPermission.CanRead">
                                    <label>Margin:</label>
                                    <div class="input-group" style="padding-top: 5px; padding-left: 14px; width: 100%">
                                        <div>{{ item.MarginPercent }}%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <div class="form-group">
                                    <label>(Unit) Sale Price:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                        <input type="number" min="0" step="0.01" required onmouseup=" return false; " ng-disabled="item.DiscountType =='Percent' || item.DiscountType =='Amount'" ng-change="SalePriceChanged()" ng-blur="SalePriceBlur()" ng-model="item.SalePrice" placeholder="Sale Price" class="form-control text-right" />
                                        <span class="input-group-btn" ng-if="item.DiscountType =='SalePrice'">
                                            <button class="btn btn-danger" type="button" ng-click="ResetSalePrice()">x</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-1">
                                <div class="form-group">
                                    <label>Qty:</label>
                                    <input type="number" onmouseup=" return false; " ng-blur="QtyBlur()" ng-model="item.Quantity" ng-change="QtyChanged()" placeholder="Qty" class="form-control" />
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-2" style="text-align: center">
                                <div class="form-group">
                                    <label>Line Total:</label>
                                    <div class="input-group" style="padding-top: 5px; padding-left: 14px; width: 100%">
                                        <div>{{item.Subtotal | currency:"$":2}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-light-condensed">
                            <div class="col-sm-6">
                                <label>Discount:</label>
                                <input type="text" ng-model="item.DiscountRemark" placeholder="Discount Remark" maxlength="256" class="form-control" />
                            </div>
                            <div class="col-sm-2">
                                <label>Discount %:</label>
                                <div class="input-group">
                                    <input type="number" onmouseup="return false;" ng-model="item.DiscountPercent" ng-disabled="item.DiscountType =='Amount' || item.DiscountType =='SalePrice'" ng-blur="DiscountPercentBlur()" ng-change="DiscountPercentChanged()" placeholder="Percent" class="form-control" />
                                    <span class="input-group-addon">%</span>
                                    <span class="input-group-btn" ng-if="item.DiscountType =='Percent'">
                                        <button class="btn btn-danger" type="button" ng-click="ResetDiscountPercent()">x</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2" style="text-align: center">
                                <label>Unit Discount $:</label>
                                <div class="input-group" style="padding-top: 5px;padding-left: 14px;width: 100%">
                                    <div>{{ item.UnitDiscountAmount | currency:"$":2 }}</div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>Line Discount $:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                    <input type="number" step="0.01" onmouseup=" return false; " ng-disabled="item.DiscountType =='Percent' || item.DiscountType =='SalePrice'" ng-model="item.DiscountAmount" ng-blur="LineDiscountBlur()" ng-change="LineDiscountChanged()" class="form-control text-right" />
                                    <span class="input-group-btn" ng-if="item.DiscountType =='Amount'">
                                        <button class="btn btn-danger" type="button" ng-click="ResetLineDiscount()">x</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <label>&nbsp;</label>
                                <div class="form-group">

                                    <label><input type="checkbox" ng-model="item.IsTaxable" /> Taxable</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div ng-class="HFCService.isMobile() ? 'btn-group-vertical' : 'btn-group'">
                                    <button type="reset" ng-disabled="QuoteItemService.IsBusy" class="btn btn-default btn-sm" ng-click="Cancel()" title="Cancel"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                                    <button type="submit" ng-disabled="QuoteItemService.IsBusy" class="btn btn-default btn-sm" ng-click="Save(true, quoteItemForm_basic)" title="Save & New Line"><i class="glyphicon glyphicon-save"></i> Save & New Line</button>
                                    <button type="submit" ng-disabled="QuoteItemService.IsBusy" class="btn btn-primary btn-sm" ng-click="Save(false, quoteItemForm_basic)" title="Save"><i class="glyphicon glyphicon-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
