﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
<style>
.error {
    color: red;
}
.errortext {
    color: red !important;
}
.has-error.required {
    border: 1px solid #a94442 !important;
}
.kendo-customdropdown .k-icon {
    background-image: url(Silver/sprite.png) !important;
}

</style> 
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <button type="button" class="close popup_close" data-dismiss="modal" ng-disabled="NewtaskService.CalendarService.IsBusy" aria-hidden="true">&times;</button>
                <h4 class="mx-auto modal-title" ng-show="NewtaskService.CalendarService.EditableEvent.id>0">Edit Task</h4>
                <h4 class="mx-auto modal-title" ng-show="NewtaskService.CalendarService.EditableEvent.id==undefined">Add Task</h4>
                <!--{{NewtaskService.CalendarService}}-->
            </div>
          
            <form role="form" name="frmNewtask" novalidate>
                <div class="modal-body">
                    
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">

                                    <div ng-class="{true: 'has-error'}[frmNewtask.$submitted && frmNewtask.subject.$invalid]">
                                        Subject<!--<span class="pull-right req_desc" ng-class="{true: 'has-error'}[frmNewtask.$submitted && frmNewtask.subject.$invalid]">Required</span>-->
                                        <input type="text"
                                               class="form-control frm_controllead1 required_field"
                                               placeholder="Required"
                                               ng-model="NewtaskService.CalendarService.EditableEvent.title"
                                               name="subject"
                                               ng-maxlength="256"
                                               maxlength="256"
                                               required
                                               autofocus />
                                    </div>
                                   
                                    <div class="form-group" ng-hide="NewtaskService.CalendarService.LeadId==0">
                                        <label class="control-label w-100">Lead</label>
                                       
                                            <div class="kendo-customdropdown">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select kendo-combo-box
                                                            k-options="NewtaskService.CalendarService.selectLeadOptions"
                                                            k-ng-model="NewtaskService.CalendarService.selectedLeadIds"
                                                            id="Lead"
                                                            name="Leads"
                                                            width="100px;"
                                                            class="custom-dropdown__select custom-dropdown__select--white form-control" style="height:26px !important; width:100%; padding: 0 !important;">
                                                        <option ng-value="0" selected>select</option>
                                                    </select>
                                                </span>
                                            </div>
                                      
                                    </div>
                                   
                                    <div class="form-group" ng-hide="NewtaskService.CalendarService.AccountId==0">
                                        <label class="control-label w-100">Account</label>
                                        
                                            <div class="kendo-customdropdown">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select kendo-combo-box
                                                            k-rebind="NewtaskService.Calendar.selectAccountOptions"
                                                            k-on-change="NewtaskService.CalendarService.ResetOpportunityOrder(NewtaskService.CalendarService.selectedAccountIds)"
                                                            k-options="NewtaskService.CalendarService.selectAccountOptions"
                                                            k-ng-model="NewtaskService.CalendarService.selectedAccountIds"
                                                            k-auto-bind="true"
                                                            id="Account"
                                                            name="Accounts"
                                                            width="100px;"
                                                            class="custom-dropdown__select custom-dropdown__select--white form-control" style="height:26px !important; width:100%; padding: 0 !important;">
                                                        <option ng-value="0" selected>select</option>
                                                    </select>
                                                </span>
                                            </div>
                                     
                                    </div>
                                  
                                    <div class="form-group" ng-hide="NewtaskService.CalendarService.OpportunityId==0">
                                        <label class="control-label w-100">Opportunity</label>
                                       
                                            <div class="kendo-customdropdown">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select kendo-combo-box
                                                            k-rebind="NewtaskService.CalendarService.selectOpportunityOptions"
                                                            k-options="NewtaskService.CalendarService.selectOpportunityOptions"
                                                            k-on-change="NewtaskService.CalendarService.ResetAccountOrder(NewtaskService.CalendarService.selectedOpportunityIds)"
                                                            k-ng-model="NewtaskService.CalendarService.selectedOpportunityIds"
                                                            k-auto-bind="true"
                                                            id="Opportunityold"
                                                            name="Opportunitys"
                                                            width="100px;"
                                                            class="custom-dropdown__select custom-dropdown__select--white form-control" style="height:26px !important; width:100%; padding: 0 !important;">
                                                        <option ng-value="0" selected>select</option>
                                                    </select>
                                                </span>
                                            </div>
                                      
                                    </div>

                                    <div class="form-group" ng-hide="NewtaskService.CalendarService.OrderId==0">
                                        <label class="control-label w-100">Order</label>
                                        
                                            <div class="kendo-customdropdown">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select kendo-combo-box
                                                            k-auto-bind="true"
                                                            k-rebind="NewtaskService.Calendar.selectOrderOptions"
                                                            k-on-change="NewtaskServiceCalendarService.ResetAccountOrder(NewtaskService.CalendarService.selectedOpportunityIds)"
                                                            k-options="NewtaskService.CalendarService.selectOrderOptions"
                                                            k-ng-model="NewtaskService.CalendarService.selectedOrderIds"
                                                            id="Order"
                                                            name="Orders"
                                                            width="100px;"
                                                            class="custom-dropdown__select custom-dropdown__select--white form-control" style="height:26px !important; width:100%; padding: 0 !important;">
                                                        <option ng-value="0" selected>select</option>
                                                    </select>
                                                </span>
                                            </div>
                                     
                                    </div>
                                    <div class="form-group">
                                        <!--<div class="form-group row ml-0 mr-0" ng-class="{true: 'has-error required'}[frmNewtask.$submitted && NewtaskService.CalendarService.selectedIds.length == 0]">-->
                                        <label class="control-label w-100">Attendees</label><!--<span class="pull-right req_desc" ng-class="{true: 'errortext'}[frmNewtask.$submitted && NewtaskService.CalendarService.selectedIds.length == 0]">Required</span>-->
                                        <div ng-class="{true: 'has-error required'}[frmNewtask.$submitted && NewtaskService.CalendarService.selectedIds.length == 0]">
                                            <div class="Atendes-grid">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select id="Attendees1"
                                                            name="Attendees"
                                                            required
                                                            kendo-multi-select
                                                            k-options="NewtaskService.CalendarService.selectOptions"
                                                            class="custom-dropdown__select custom-dropdown__select--white form-control" style="height:100% !important; width:99.4%;"
                                                            k-ng-model="NewtaskService.CalendarService.selectedIds"></select>
                                                </span>
                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <label class="control-label">Message</label>
                                                <textarea class="form-control" placeholder="Message" rows="6" cols="10" ng-model="NewtaskService.CalendarService.EditableEvent.Message"></textarea>
                                                <!--<input class="option-input checkbox" type="checkbox">
                                                Private-->
                                            </div>
                                   </div>
                                </div>
                             
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <div class="control-label w-100" ng-class="{true: 'has-error'}[frmNewtask.$submitted && frmNewtask.fromDate.$invalid]">
                                            {{(NewtaskService.CalendarService.EditableEvent.AptTypeEnum ? 'From' + '' : 'Due')}}
                                        </div>
                                            <!--<span class="pull-right req_desc" ng-class="{true: 'errortext'}[frmNewtask.$submitted && frmNewtask.fromDate.$invalid]">Required</span>-->
                                        
                                            <input kendo-date-picker
                                                  k-format = "HFCService.StaticKendoDateFormat()"
                                                   ng-required="true"
                                                   type="text" name="fromDate"
                                                   placeholder="Due Date" data-date-format="MM/dd/yyyy"
                                                   ng-model="NewtaskService.CalendarService.EditableEvent.start"
                                                   ng-disabled="disabled(date, mode)"
                                                    class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched" style="width:99.4% !important;"
                                                   data-autoclose="true">

                                     
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Reminders</label>
                                        <!--<select id="ReminderControl" class="form-control" ng-model="NewtaskService.CalendarService.EditableEvent.ReminderMinute">-->
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select id="ReminderControl" style="padding:2px 5px !important;" class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white">
                                                <option value="0">Disabled</option>
                                                <option value="5">5 minutes</option>
                                                <option value="10">10 minutes</option>
                                                <option value="15">15 minutes</option>
                                                <option value="30">30 minutes</option>
                                                <option value="45">45 minutes</option>
                                                <option value="60">1 hour</option>
                                                <option value="120">2 hours</option>
                                                <option value="240">4 hours</option>
                                                <option value="480">8 hours</option>
                                                <option value="1440">1 day</option>
                                                <option value="2880">2 days</option>
                                                <option value="4320">3 days</option>
                                                <option value="5760">4 days</option>
                                                <option value="10080">1 week</option>
                                                <option value="20160">2 weeks</option>
                                            </select>
                                        </span>
                                   </div>
                          </div>
                </div>
             </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary tery_sm1" data-dismiss="modal" ng-disabled="NewtaskService.CalendarService.IsBusy">Cancel</button>
                    <button type="submit" class="btn btn-primary tery_sm1" ng-click="frmNewtask.$valid && NewtaskService.CalendarService.selectedIds.length > 0 && NewtaskService.CalendarService.saveTask(modalId,this,NewtaskService.CalendarService.EditableEvent.id)">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
