﻿<div>
    
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Subject<span class="asteriskField">*</span></label>
                    <input type="text"
                           class="form-control"
                           placeholder="Subject"
                           ng-model="NewtaskService.CalendarService.EditableEvent.title"
                           id="subjectIpt"
                           name="subjectIpt"
                           ng-minlength="1"
                           ng-maxlength="256"
                           maxlength="256"
                           required
                           autofocus
                           />
                    <div class="error_msg" ng-if="frmNewtask.$submitted || frmNewtask.subjectIpt.$dirty" ng-messages="frmNewtask.subjectIpt.$error" style="color:red">
                        <p ng-message="required">Providing subject is mandatory.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Attendees<span class="asteriskField">*</span></label>
                    <div class="account-grid">
                        <select  id="Attendees1"
                                name="Attendees"
                                kendo-multi-select 
                                k-options="NewtaskService.CalendarService.selectOptions" 
                                k-ng-model="NewtaskService.CalendarService.selectedIds"></select>
                        <div ng-if="frmNewtask.$submitted || frmNewtask.Attendees.$dirty" ng-messages="frmNewtask.Attendees.$error" style="color:red">
                            <p ng-message="required">Providing attendees is mandatory.</p>
                        </div>
                    </div>
                <div class="form-group">
                    <label class="control-label">Message</label>
                    <textarea class="form-control" placeholder="Message" rows="6" cols="10" ng-model="NewtaskService.CalendarService.EditableEvent.Message"></textarea>
                    <input type="checkbox" >
                    Private
                </div>
            </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group form-inline">
                    <label class="control-label center-block">{{(PersonService.CalendarService.EditableEvent.AptTypeEnum ? 'From' + '' : 'Due')}}<span class="asteriskField">*</span></label>
                    <input class="form-control"
                           required
                           style="width:50%;margin-right:2%"
                           type="text"
                           name="fromDate"
                           ng-model="NewtaskService.CalendarService.EditableEvent.start"
                           placeholder="Start Date"
                           data-date-format="MM/dd/yyyy"
                           data-autoclose="true"
                           bs-datepicker />
                    <input class="form-control" 
                           style="width:40%" 
                           type="text" 
                           ng-model="NewtaskService.CalendarService.EditableEvent.start" 
                           ng-hide="NewtaskService.CalendarService.EditableEvent.AptTypeEnum && NewtaskService.CalendarService.EditableEvent.allDay" data-autoclose="true" placeholder="Start Time" bs-timepicker />
                </div>
                <div class="form-group">
                    <label class="control-label">Reminders</label>
                    <select class="form-control" ng-model="NewtaskService.CalendarService.EditableEvent.ReminderMinute">
                        <option value="0">disabled</option>
                        <option value="5">5 minutes</option>
                        <option value="10">10 minutes</option>
                        <option value="15">15 minutes</option>
                        <option value="30">30 minutes</option>
                        <option value="45">45 minutes</option>
                        <option value="60">1 hour</option>
                        <option value="120">2 hours</option>
                        <option value="240">4 hours</option>
                        <option value="480">8 hours</option>
                        <option value="1440">1 day</option>
                        <option value="2880">2 days</option>
                        <option value="4320">3 days</option>
                        <option value="5760">4 days</option>
                        <option value="10080">1 week</option>
                        <option value="20160">2 weeks</option>
                    </select>
                </div>
            </div>
        </div>      
    
    </div>