﻿<style>
    .k-widget.k-tooltip-validation {
        display: none !important;
    }
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-grid-content {
        overflow-y: scroll !important;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
</style>

<div class="outter-wp">
        <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                     <li class="activelead1" rel="tab7">
                        <a href="">
                            <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Vendors</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/VendorSetup">
                            <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Vendor Management</h3>
                        </a>
                    </li>
                    <!--<li rel="tab7">
                        <a href="#!/VendorCaseList">
                            <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Vendor-Case Management</h3>
                        </a>
                    </li>-->
                </ul>              
                <div class="clearfix"></div>
        </div>
    <div class="tab_container tpsearch_content">
        <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ViewVendor">
            You don't have permission to this page.
        </div>
        <div ng-show="Permission.ViewVendor">
            <div class="vendors-dropdown row state_field">
                <div class="col-xs-6 col-sm-6 row no-margin">
                    <div class="col-sm-2 col-xs-2 required_label"><label>List View</label></div>
                    <div class="col-sm-10 col-xs-10">
                        <span class="custom-dropdown custom-dropdown--white" style="width:300px !important;">
                            <select class="custom-dropdown__select custom-dropdown__select--white" id="VendorDrop" ng-model="Vendor.VendorType" ng-change="ChangeVendor()">
                                <option value="">Alliance Vendor</option>
                                <option value="1">Non-Alliance Vendor</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <!--<kendo grid code-->
                <kendo-tooltip options="tooltipOptions">
                    <kendo-grid id="gridAllianceVendor" options="Alliancevendor" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                </kendo-tooltip>
            </div>
        </div>
    </div>
</div>
<!--Code for add,search button-->
<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="tp-measurementsearch row no-margin">
        <div class="leadsearch_topleft col-sm-12 col-lg-12 col-xs-12 no-padding row no-margin">
             <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <input ng-keyup="AlliancegridSearch()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
             </div>
            <div class="col-xs-2 col-sm-2 measurement_search no-padding">
                <input type="button" id="btnReset" ng-click="AlliancegridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
            </div>
            <div class="col-xs-8 col-sm-8 newrow_search">
                <!--<input type="button" class="k-button btn cancel_but tpm_but" id="btnReset" ng-click="AddRow()" onclick="return false;" value="Add New Row" />-->
                <input type="button" ng-if="Permission.AddVendor" class="k-button btn cancel_but tpm_but" id="btnAddrow" ng-click="AddRow()" onclick="return false;" value="Add New Row" />
            </div>
        </div>
       
    </div>
    <!--<div class="pull-right">
        
        <button type="button"   class="plus_but aliancevendor_but" ng-click="AddRow()" onclick="return false;" value="Add New Row"><i class="fa fa-plus-square-o"></i></button>
    </div>-->
</script>

