﻿<style>
    .LightGray {
        background-color: lightgray;
    }

    .snav_tooltip {
        position: absolute;
        color: white;
        top: 19px;
        left: 65px;
        padding: 5px 8px;
        background: #365760;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .k-grid-content {
        overflow-y: scroll !important;
    }

    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    td.k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }

        td.k-state-selected:hover {
            color: #fff !important;
            background-color: #3d7d8b !important;
            border-color: #3d7d8b !important;
        }

    .k-list > .k-state-focused.k-state-selected {
        border-color: transparent !important;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13);
    }
</style>

<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <div class="tpadmin-content">
        <!--<div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ViewMasterBoard">
            You don't have permission to this page.
        </div>-->
        <!---inner tab--->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li rel="tab8">
                    <a href="#!/productCategory">
                        <h3><i class="fal fa-clipboard-list fa_icon"></i><br />Category Management</h3>
                    </a>
                </li>
                <li class="activelead1"  rel="tab9">
                    <a href="#!/CoreProductModel">
                        <h3><i class="fas fa-dolly fa_icon"></i><br />Core Product Management</h3>
                    </a>
                </li>

            </ul>

            <div class="clearfix"> </div>
        </div>
        <div class="error error_msg" ng-show="!Permission.ViewProductModel" style="padding-top:30px;padding-left:20px;">
            You don't have permission to this page.
        </div>
        <div style="margin-top:10px;" ng-show="Permission.ViewProductModel">
            <div class="source-group row state_field" style="margin: 0 0 10px;">
                <div class="col-sm-7 col-xs-7">
                    <div>
                        <div class="source-group row state_field" style="margin: 0 0 10px;">
                            <label class="col-sm-3 col-xs-3 required_label">Brand</label>
                            <div class="col-sm-9 col-xs-9">
                                <span class="custom-dropdown custom-dropdown--white" style="width:300px;">
                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white" id="cbBrand" ng-model="BrandId" ng-change="filterGrid()">
                                        <option ng-value="1">Budget Blind(BB)</option>
                                        <option disabled ng-value="3">Concrete Craft(CC)</option>
                                        <option disabled ng-value="2">Tailored Living(TL)</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="source-group row state_field" style="margin: 0 0 10px;">
                            <label class="col-sm-3 col-xs-3 required_label">Vendor</label>
                            <div class="col-sm-9 col-xs-9">
                                <span class="custom-dropdown custom-dropdown--white" style="width:300px;">
                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                            name="Vendor_Name"
                                            ng-model="VendorID"
                                            ng-change="filterGrid();"
                                            ng-options="option.VendorID as option.Name for option in VendorListName">
                                        <option value="" selected>All</option>
                                    </select>
                                </span>

                            </div>

                        </div>
                        <div class="source-group row state_field" style="margin: 0 0 10px;">
                            <label class="col-sm-3 col-xs-3 required_label">Updated</label>
                            <div class="col-sm-9 col-xs-9">
                                <span class="custom-dropdown custom-dropdown--white" style="width:100px;">
                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white" id="lastUpdatedFilter" ng-model="UpdateFilter" ng-change="filterGrid()">
                                        <option ng-value="0">All</option>
                                        <option ng-value="1">Today</option>
                                        <option ng-value="2">Yesterday</option>
                                        <option ng-value="3">Last Week</option>
                                        <option ng-value="4">Last 30 Days</option>
                                        <option ng-value="5">Last 90 Days</option>
                                    </select>
                                </span>
                                <input id="datepicker" ng-model="updatedexactdate" title="datepicker" style="width: 200px"
                                ng-keydown="ValidateDate('datepicker')" />
                            </div>
                        </div>
                        <div class="source-group row state_field" style="margin: 0 0 10px;">
                            <label class="col-sm-3 col-xs-3 required_label">View Filters</label>
                            <div class="col-sm-2 col-xs-2">
                                <div style="margin-bottom:10px;">
                                    <input ng-model="Active" type="checkbox" class="option-input checkbox " value="" ng-change="filterGrid();">
                                    Active
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <div style="margin-bottom:10px;">
                                    <input ng-model="Inactive" type="checkbox" class="option-input checkbox " value="" ng-change="filterGrid();">
                                    Inactive
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <div style="margin-bottom:10px;">
                                    <input ng-model="USActive" type="checkbox" class="option-input checkbox " value="" ng-change="filterGrid();">
                                    US
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <div style="margin-bottom:10px;">
                                    <input ng-model="CAActive" type="checkbox" class="option-input checkbox " value="" ng-change="filterGrid();">
                                    CA
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <div style="margin-bottom:10px;">

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-5 col-xs-5">
                    <div class="source-group row state_field" style="margin: 0 0 10px;">
                        <div class="col-sm-12 col-xs-12">
                            <div style="border: 1px solid #bbb8b8;padding: 50px;">
                                <div>
                                    View End point Response Times:    <a href="http://hfchqsql2.bbi.corp/Reports/Pages/Report.aspx?ItemPath=%2fTouchPoint+Management+Reports%2fPIC+End+Point+Response+Times	">
                                        Report
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



                <div class="table-responsive">
                    <kendo-tooltip options="tooltipOptions">
                        <kendo-grid id="gridModelProduct" options="mainGridOptions" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                    </kendo-tooltip>
                </div>
            </div>
    </div>
</div>
<!--Code for add,search button-->
<!--<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="tp-measurementsearch">
        <div class="leadsearch_topleft col-sm-12 col-md-12 col-xs-12 no-padding">
            <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <input ng-keyup="gridSearch()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
            </div>
            <div class="col-xs-2 col-sm-2 measurement_search" style="padding:0 !important;">
                <input type="button" id="btnReset" ng-click="gridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
            </div>
            <div class="col-xs-6 col-sm-6 newrow_search">

            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</script>-->
<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="row vendor_search no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-12 col-md-12 col-xs-12 no-padding">
            <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <input ng-keyup="gridSearch()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
            </div>
            <div class="col-xs-2 col-sm-2 measurement_search no-padding">
                <input type="button" id="btnReset" ng-click="gridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
            </div>
        </div>
    </div>
</script>