﻿<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li class="active"><a href="#!/listDocuments">General</a></li>
                        <li><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->

<div class="tab_container">
        <!---inner tab--->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <!--<li rel="tab7">
                    <a href="#!/sources">
                        <h3><i class="fas fa-bullseye fa_icon"></i><br />Campaigns</h3>
                    </a>
                </li>-->
                <li rel="tab7">
                    <a href="#!/listDocuments">
                        <h3><i class="fas fa-inbox fa_icon"></i><br />Manage Documents</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/ViewEmail">
                        <h3><i class="fas fa-envelope-square fa_icon"></i><br />Email Settings</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7">
                    <a href="#!/disclaimerView">
                        <h3><i class="fa fa-shield fa_icon"></i><br />Legal Disclaimer</h3>
                    </a>
                </li>
                <li rel="tab7" ng-show="IsQBEnabled!=false">
                    <a href="#!/QuickbookSetup">
                        <h3><i class="fas fa-upload fa_icon"></i><br />QuickBooks Setup</h3>
                    </a>
                </li>
                <!--<li rel="tab7">
                    <a href="#!/procurement">
                        <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                    </a>
                </li>-->
                <li rel="tab7">
                    <a href="#!/appointmentTypes">
                        <h3><i class="far fa-calendar-edit fa_icon vendor_icon"></i><br />Appointment Type Settings</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/MsrReporting">
                        <h3><i class="far fa-calendar-edit fal fa-file-chart-line fa_icon"></i><br />MSR Reporting</h3>
                    </a>
                </li>
            </ul>
            <div class="leaddetail_butns">
                <ul class="orderlist_box">
                    <li><button type="reset" ng-if="Permission.EditDisclaimer" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="cancel()"><i class="far fa-times-circle fa_icon"></i></button></li>
                    <li><button type="submit" ng-if="Permission.EditDisclaimer" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="SaveDisclaimer()"><i class="far fa-check-circle fa_icon"></i></button></li>
                </ul>
            </div>
        </div>
</div>
<div class="tab_container tp_content">
    <form name="Disclaimer_edit" unsaved-warning-form>
        <div class="error" ng-show="!Permission.EditDisclaimer">
            You don't have permission to this page.
        </div>
        <div ng-show="Permission.EditDisclaimer">
            <div class="p-3">
                <!--<div class="leaddetail_butns">
                    <button type="submit" class="tooltip-bottom cancel_tpbut" data-tooltip="Save" ng-click="SaveDisclaimer()"><i class="fa fa-floppy-o" style="font-size:22px;"></i></button>
                </div>-->
                <p class="my-0 disclaimeredit_notedesc">Note: Short Legal Terms are displayed on the last/signature page of the Quotes and Invoices.<br>Long Legal Term, if supplied, are printed as a separate page with the Quotes and Invoices.</p>
                <div class="disclaimeredit">
                    <div class="row mt-3 mb-2">
                        <div class="col-sm-3 text_detlabel">
                            <label>Short Legal Disclaimer</label>
                        </div>
                        <div class="col-sm-9 editlegal">
                            <!--@*<textarea rows="4" cols="50"></textarea>*@-->
                            <textarea id="Short" style="height:100px !important;" ng-model="Disclaimer.ShortDisclaimer" maxlength="2000"></textarea><br /> <span id='remainingS'></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text_detlabel">
                            <label>Long Legal Disclaimer</label>
                        </div>
                        <div class="col-sm-9 editlegal">
                            <!--@*<textarea rows="4" cols="50"></textarea>*@-->
                            <textarea id="Long" ng-model="Disclaimer.LongDisclaimer" maxlength="10000"></textarea> <span id='remainingL'></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script type="text/javascript">
    $('#Short').keyup(function () {
        //if (this.value.length > 255) {
        //    return;
        //}

        $("#remainingS").html("Remaining characters : " + (2000 - this.value.length));

    });

    $('#Long').keyup(function () {

        //if (this.value.length > 7000) {
        //    return false;
        //}
        $("#remainingL").html("Remaining characters : " + (10000 - this.value.length));
    });
</script>
