﻿<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li class="active"><a href="#!/listDocuments">General</a></li>
                        <li><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab" style="width:95% !important">
                    <!--<li rel="tab7">
                        <a href="#!/sources">
                            <h3><i class="fas fa-bullseye fa_icon"></i><br />Campaigns</h3>
                        </a>
                    </li>-->
                    <li rel="tab7">
                        <a href="#!/listDocuments">
                            <h3><i class="fas fa-inbox fa_icon"></i><br />Manage Documents</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/ViewEmail">
                            <h3><i class="fas fa-envelope-square fa_icon"></i><br />Email Settings</h3>
                        </a>
                    </li>
                    <li class="activelead1" rel="tab7">
                        <a href="#!/disclaimerView">
                            <h3><i class="fa fa-shield fa_icon"></i><br />Legal Disclaimer</h3>
                        </a>
                    </li>
                    <li rel="tab7" ng-show="IsQBEnabled!=false">
                        <a href="#!/QuickbookSetup">
                            <h3><i class="fas fa-upload fa_icon"></i><br />QuickBooks Setup</h3>
                        </a>
                    </li>
                    <!--<li rel="tab7">
                        <a href="#!/procurement">
                            <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                        </a>
                    </li>-->
                    <li rel="tab7">
                        <a href="#!/appointmentTypes">
                            <h3><i class="far fa-calendar-edit fa_icon vendor_icon"></i><br />Appointment Type Settings</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/MsrReporting">
                            <h3><i class="far fa-calendar-edit fal fa-file-chart-line fa_icon"></i><br />MSR Reporting</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <ul class="orderlist_box">
                        <li><button type="button" class="hfc_bgbut tooltip-bottom" data-tooltip="Edit" ng-click="Edit(Disclaimer.FranchiseId,Disclaimer.Id)" ng-show="Permission.EditDisclaimer">
                            <i class="far fa-pen fa_icon"></i>
                        </button></li>
                   </ul>
                </div>
                <div class="clearfix"></div>
    </div>
    <div class="tab_container tp_content">
        <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ViewDisclaimer">
            You don't have permission to this page.
        </div>
        <div ng-show="Permission.ViewDisclaimer">
            <div class="p-3">
                <!--<div class="leaddetail_butns">
                    <button type="button" class="plus_but tooltip-bottom" data-tooltip="Edit" ng-click="Edit(Disclaimer.FranchiseId,Disclaimer.Id)" ng-show="Permission.EditDisclaimer">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                </div>-->
                <form id="crm-lead-detail" name="productadd">
                    <p class="my-0 disclaimeredit_notedesc">Note: Short Legal Terms are displayed on the last/signature page of the Quotes and Invoices.<br>Long Legal Term, if supplied, are printed as a separate page with the Quotes and Invoices.</p>
                     <div class="disclaimeredit">
                        <div class="row mt-3 mb-2">
                            <div class="col-sm-3 text_detlabel">
                                <label>Short Legal Disclaimer</label>
                            </div>
                            <!--https://stackoverflow.com/questions/19684708/preserve-line-breaks-in-angularjs-->
                            <div class="col-sm-9 disclaimeredit_desc"><p>{{Disclaimer.ShortDisclaimer}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text_detlabel">
                                <label>Long Legal Disclaimer</label>
                            </div>
                            <div class="col-sm-9 disclaimeredit_desc"><p>{{Disclaimer.LongDisclaimer}}</p></div>
                        </div>
                   </div>
             </form>
            </div>
        </div>
    </div>
</div>
