﻿<style>
    .required_label {
        text-align: left !important;
    }

</style>

<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li class="active"><a href="#!/listDocuments">General</a></li>
                        <li><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->
      <div class="lead_stab">
            <ul class="tabs1 landing_tab" style="width:89% !important">
                <!--<li rel="tab7">
                    <a href="#!/sources">
                        <h3><i class="fas fa-bullseye fa_icon"></i><br />Campaigns</h3>
                    </a>
                </li>-->
                <li rel="tab7">
                    <a href="#!/listDocuments">
                        <h3><i class="fas fa-inbox fa_icon"></i><br />Manage Documents</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/ViewEmail">
                        <h3><i class="fas fa-envelope-square fa_icon"></i><br />Email Settings</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/disclaimerView">
                        <h3><i class="fa fa-shield fa_icon"></i><br />Legal Disclaimer</h3>
                    </a>
                </li>
                <li rel="tab7" ng-show="IsQBEnabled!=false">
                    <a href="#!/QuickbookSetup">
                        <h3><i class="fas fa-upload fa_icon"></i><br />QuickBooks Setup</h3>
                    </a>
                </li>
                <!--<li rel="tab7">
                    <a href="#!/procurement">
                        <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                    </a>
                </li>-->
                <li class="activelead1" rel="tab7">
                    <a href="#!/appointmentTypes">
                        <h3><i class="far fa-calendar-edit fa_icon vendor_icon"></i><br />Appointment Type Settings</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/MsrReporting">
                        <h3><i class="far fa-calendar-edit fal fa-file-chart-line fa_icon"></i><br />MSR Reporting</h3>
                    </a>
                </li>
            </ul>
            <div class="leaddetail_butns">
                <ul class="orderlist_box">
                    <li><button ng-if="Permission.EditAppointment" type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-click="cancel()"><i class="far fa-times-circle fa_icon"></i></button></li>
                    <li><button ng-if="Permission.EditAppointment" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="setAction()"><i class="far fa-check-circle fa_icon"></i></button></li>
                </ul>
            </div>
            <div class="clearfix"></div>
     </div>
     <div class="tab_container tpsearch_content">
          <form id="newuser" name="formnewuser_edit" unsaved-warning-form>
                <div class="error" ng-show="!Permission.EditAppointment">
                    You don't have permission to this page-.
                </div>
                <div class="p-3" ng-show="Permission.EditAppointment">
                    <div class="leadexpandinfo_grid mb-4">
                        <div style="margin-top: 15px;margin-bottom:30px;height: 1px; background-color: gray; text-align:left; padding-left:35px; line-height: 16px;">
                            <span style="background-color:#f7f7f7; font-weight:bold; line-height:22px; position:relative; top: -11px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;Appointment Types Colors&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                        </div>
                                <div class="lead_rtop row">
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-6 required_label">Sales/Design Appointment </label>
                                            <div class="col-sm-6 col-6 no-padding">
                                                <input type="text" name="Sales_Design" color-picker-app-type placeholder="" ng-model="AppointmentTypes.Sales_Design"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>

                                        <div class="source-group row">
                                            <label class="col-sm-6 col-6 required_label">Installation </label>
                                            <div class="col-sm-6 col-6 no-padding">
                                                <input type="text" name="Installation" color-picker-app-type placeholder="" ng-model="AppointmentTypes.Installation"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-6 required_label">Service </label>
                                            <div class="col-sm-6 col-6 no-padding">
                                                <input type="text" name="Service" color-picker-app-type placeholder="" ng-model="AppointmentTypes.Service"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-6 required_label">Followup </label>
                                            <div class="col-sm-6 col-6 no-padding">
                                                <input type="text" name="Followup" color-picker-app-type placeholder="" ng-model="AppointmentTypes.Followup"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-6 required_label">Personal </label>
                                            <div class="col-sm-6 col-6 no-padding">
                                                <input type="text" name="Personal" color-picker-app-type placeholder="" ng-model="AppointmentTypes.Personal"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-6 required_label">Vacation </label>
                                            <div class="col-sm-6 col-6 no-padding">
                                                <input type="text" name="Vacation" color-picker-app-type placeholder="" ng-model="AppointmentTypes.Vacation"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-6 required_label">Holiday </label>
                                            <div class="col-sm-6 col-6 no-padding">
                                                <input type="text" name="Holiday" color-picker-app-type placeholder="" ng-model="AppointmentTypes.Holiday"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-6 required_label">Meeting/Training </label>
                                            <div class="col-sm-6 col-6 no-padding">
                                                <input type="text" name="Meeting_Training" color-picker-app-type placeholder="" ng-model="AppointmentTypes.Meeting_Training"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-6 col-6 required_label">Time Block </label>
                                            <div class="col-sm-6 col-6 no-padding">
                                                <input type="text" name="TimeBlock" color-picker-app-type placeholder="" ng-model="AppointmentTypes.TimeBlock"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         </div>
                  </div>
              </form>
         </div>
</div>