﻿

<div class="container-fluid">
    <div class="row">
        <div class="col-xxs-12 col-xs-6 col-sm-7 col-lg-8 col-xl-9 no-right-padding">
            <div class="h3 h3-sm-margin">
                <span class="label label-default">Invoice Detail</span>
                <button ng-if="Invoice && IvoicesPermissions.CanDelete" ng-click="Void(Invoice)" type="button" class="btn btn-danger btn-sm navbar-btn"><i class="glyphicon glyphicon-trash"></i> Delete</button>
            </div>
        </div>
        <div class="container" ng-if="Invoice">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h3>Invoice #<span ng-bind="Invoice.InvoiceNumber"></span></h3>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <h3 ng-if="Invoice.PaidInFullOn">
                        <label class="label label-success text-xl alegreya" title="{{Invoice.PaidInFullOn.toFriendlyString(true)}}">PAID IN FULL</label>
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-4 text-right">
                    <h3>
                        <small><span class="text-sm">Created on</span> <span ng-bind="Invoice.CreatedOn.toFriendlyString(true)"></span></small>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="p-3">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <a ng-show="IvoicesPermissions.CanUpdate" ng-href="#/leads/{{Invoice.Job.LeadId}}/{{Invoice.Job.JobId}}/" target="_self" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span> Job</a>

                                        <button type="button" ng-show="IvoicesPermissions.CanCreate" ng-hide="Invoice.PaidInFullOn" ng-click="PaymentService.AddPayment(Invoice.InvoiceId)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Payments</button>

                                        <button type="button" class="btn btn-default btn-sm pull-right" 
                                                data-template="/templates/NG/notes-aside.html" 
                                                data-placement="left" 
                                                data-animation="am-slide-left" 
                                                bs-aside="{title: 'Job Notes', service: JobNoteService, PrimId: Invoice.Job.JobId, Notes: JobNoteService.JobNotes, Message: '', NoteType: 0}" 
                                                data-container="body">
                                            <i class="glyphicon glyphicon-comment"></i> <span class="badge" ng-bind="JobNoteService.JobNotes.length"></span>
                                        </button>

                                        <div class="btn-group">
                                            <button class="btn btn-default btn-sm" title="Print Invoice" ng-click="PrintService.PrintInvoice(Invoice.InvoiceId)">
                                                <span class="glyphicon glyphicon-print"></span>
                                            </button>
                                            <button class="btn btn-default btn-sm" title="Email Invoice" ng-click="EmailService.EmailInvoice(Invoice, Invoice.Job.Customer)">
                                                <span class="glyphicon glyphicon-envelope"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xs-12 col-sm-4" ng-repeat="person in Customers">
                                    <hfc-person-base heading="Customer" ng-model="Invoice.Job.Customer"></hfc-person-base>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <hfc-address heading="Billing Address" ng-model="Invoice.Job.BillingAddressId"></hfc-address>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <hfc-address heading="Install Address" ng-model="Invoice.Job.InstallAddressId"></hfc-address>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Tax</th>
                                                    <th>Item</th>
                                                    <th class="text-center">Qty</th>
                                                    <th class="text-right">Sale Price</th>
                                                    <th class="text-right">Discount</th>
                                                    <th class="text-right">Subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-right" ng-repeat="item in Invoice.JobQuote.JobItems" ng-include="'/templates/NG/Invoice/line-item-view.html'"></tr>
                                                <tr class="text-right" ng-repeat="item in Invoice.JobQuote.SaleAdjustments" ng-include="'/templates/NG/Invoice/saleadj-view.html'"></tr>
                                                <tr ng-hide="Invoice.JobQuote.JobItems"><td colspan="10" class="text-center"><span class="label label-default">No Data</span></td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-7 col-lg-4 col-lg-offset-8">
                                    <table class="table text-right table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Subtotal:</td>
                                                <td style="width: 45%" ng-class="{'text-danger': Subtotal > 0}" ng-bind="Invoice.JobQuote.Subtotal | currency"></td>
                                            </tr>
                                            <tr>
                                                <td>Discount:</td>
                                                <td class="text-danger" ng-bind="-1 * Invoice.JobQuote.DiscountTotal | currency"></td>
                                            </tr>
                                            <tr>
                                                <td>Surcharge:</td>
                                                <td ng-bind="Invoice.JobQuote.SurchargeTotal | currency"></td>
                                            </tr>
                                            <tr>
                                                <td>(<span ng-bind="Invoice.JobQuote.TaxPercent | number: 2"></span> %) Tax Total:</td>
                                                <td ng-bind="Invoice.JobQuote.Taxtotal | currency"></td>
                                            </tr>
                                            <tr>
                                                <td>Total:</td>
                                                <td class="text-lg" ng-class="Invoice.JobQuote.NetTotal >= 0 ? 'text-primary' : 'text-danger'" ng-bind="Invoice.JobQuote.NetTotal | currency"></td>
                                            </tr>
                                            <tr ng-if="balance < 0">
                                                <td><span class="text-md text-muted text-danger">Balance Due:</span></td>
                                                <td><span class="text-danger" ng-bind="balance | currency "></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">

                                </div>
                            </div>
                        </div>
                    </div> <!-- end panel -->
                </div>
            </div>
            <hfc-payment></hfc-payment>
            <hfc-email-modal></hfc-email-modal>
        </div>
    </div>
</div>
