﻿<style>
.globalsearch_sidenav{
     position: fixed;
     float: left;
     width: 230px;
     top: 129px;
     left: 70px;
     bottom: 0;
     background-color: #fff;
     padding: 10px;
}
.globalsearch_content {
    position: relative;
    /* left: 0px; */
    top: 20px;
    width: -moz-calc(100% - 250x);
    width: -webkit-calc(100% - 250px);
    width: -o-calc(100% - 250px);
    width: calc(100% - 250px);
    left:250px;
    float: left;
}
.globalsearch_sidenav h1 {
    font-size:20px;
    color:black;
}
.globalsearch_sidenav ul li a {
        color: #555;
        font-size: 13px;
        line-height: 25px;
        display: block;
        padding-left:5px;
}
.globalsearch_sidenav ul li a.active, .globalsearch_sidenav ul li a.hover {
        background-color:#3e7d8a;
        color:#fff;
}
li a:hover:not(.active) {
      background-color:#3e7d8a;
        color:#fff;
}
.global_viewmore{
    float:right;
    padding-right:5px;
    color:#3e7d8a;
}
.grid_section {
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
}
.grid_section h3 {
   font-size:18px;
   color:black;
}
.progress-bar {
   background-color: #3e7d8a;
}
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    /*html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; 
        overflow: hidden;
    }*/

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    /*ul.dropdown-menu.pull-right.show {
        left: -101px !important;
    }*/
    .pull-right {
        /*float: left !important;
        position: absolute !important;
        left: -50px !important;*/
    }
</style>
<div class="outter-wp">
    <div class="lead_stab">

    </div>
    <div ng-show="Newglobalsearch" class="tab_container tp_content">
        
            <h1 style="font-size:35px; margin:30px 0 0 15px;">Enter Search Criteria</h1>
        
    </div>
        <div ng-show="!Newglobalsearch" class="tab_container tp_content">
            <div class="globalsearch_sidenav">
                <h1>Search Results</h1>
                <ul>
                    <li><a ng-class="{active : activeMenu === 'TopResults'}" ng-click="Selectactive('TopResults')" href="">Top Results</a></li>
                    <li><a ng-show="Permission.ListLead && LeadsResultCount!='0 Result' && (DisplayAll || DisplayPhone || DisplayEmail || DisplayName || DisplayAddress || DisplayCity)" ng-class="{active : activeMenu === 'LeadsId'}" ng-click="Selectactive('LeadsId')" href="">Leads</a></li>
                    <li><a ng-show="Permission.ListAccount && AccountResultCount!='0 Result' && (DisplayAll || DisplayPhone || DisplayEmail || DisplayName || DisplayAddress || DisplayCity)" ng-class="{active : activeMenu === 'AccountsId'}" ng-click="Selectactive('AccountsId')" href="">Accounts</a></li>
                    <li><a ng-show="Permission.ListOpportunity && OpportunitiesResultCount!='0 Result' && (DisplayAll || DisplayName || DisplayAddress || DisplayCity || DisplayID)" ng-class="{active : activeMenu === 'OpportunitiesId'}" ng-click="Selectactive('OpportunitiesId')" href="">Opportunities</a></li>
                    <li><a ng-show="ContactsResultCount!='0 Result' && (DisplayAll || DisplayPhone || DisplayEmail || DisplayName )" ng-class="{active : activeMenu === 'ContactsId'}" ng-click="Selectactive('ContactsId')" href="">Contacts</a></li>
                    <li><a ng-show="Permission.QuoteList && QuotesResultCount!='0 Result' && (DisplayAll || DisplayName || DisplayID)" ng-class="{active : activeMenu === 'QuotesId'}" ng-click="Selectactive('QuotesId')" href="">Quotes</a></li>
                    <li><a ng-show="Permission.ListSalesOrder && OrdersResultCount!='0 Result' && (DisplayAll || DisplayName || DisplayID)" ng-class="{active : activeMenu === 'OrdersId'}" ng-click="Selectactive('OrdersId')" href="">Orders</a></li>
                    <li><a ng-show="Permission.ProcurementList && MPOsResultCount!='0 Result' && (DisplayAll || DisplayID)" ng-class="{active : activeMenu === 'MPOsId'}" ng-click="Selectactive('MPOsId')" href="">MPOs/VPOs</a></li>
                    <li><a ng-show="ShipmentsResultCount!='0 Result' && (DisplayAll || DisplayID)" ng-class="{active : activeMenu === 'ShipmentsId'}" ng-click="Selectactive('ShipmentsId')" href="">Shipments</a></li>
                    <li><a ng-show="CasesResultCount!='0 Result' && (DisplayAll || DisplayID)" ng-class="{active : activeMenu === 'CasesId'}" ng-click="Selectactive('CasesId')" href="">Cases</a></li>
                    <li><a ng-show="AppointmentsResultCount!='0 Result' && (DisplayAll || DisplayName)" ng-class="{active : activeMenu === 'AppointmentsId'}" ng-click="Selectactive('AppointmentsId')" href="">Appointments</a></li>
                    <li><a ng-show="TasksResultCount!='0 Result' && (DisplayAll || DisplayName)" ng-class="{active : activeMenu === 'TasksId'}" ng-click="Selectactive('TasksId')" href="">Tasks</a></li>
                    <li><a ng-show="AddressesResultCount!='0 Result' && (DisplayAll|| DisplayName || DisplayAddress || DisplayCity)" ng-class="{active : activeMenu === 'AddressesId'}" ng-click="Selectactive('AddressesId')" href="">Addresses</a></li>
                    <li><a ng-show="(Permission.AccountPayment || Permission.ListSalesOrder) && PaymentsResultCount!='0 Result' && (DisplayAll || DisplayName || DisplayID)" ng-class="{active : activeMenu === 'PaymentsId'}" ng-click="Selectactive('PaymentsId')" href="">Payments</a></li>
                    <li><a ng-show="Permission.ListVendors && VendorsResultCount!='0 Result' && (DisplayAll || DisplayPhone || DisplayName|| DisplayEmail || DisplayAddress||DisplayCity|| DisplayID )" ng-class="{active : activeMenu === 'VendorsId'}" ng-click="Selectactive('VendorsId')" href="">Vendors</a></li>
                    <li><a ng-show="NotesResultCount!='0 Result' && (DisplayAll || DisplayName)" ng-class="{active : activeMenu === 'NotesId'}" ng-click="Selectactive('NotesId')" href="">Notes & Attachments</a></li>
                </ul>
            </div>
            
             <div class="globalsearch_content">
                 <div class="container" ng-hide="!InProgress" >
                     <div class="progress">
                         <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                             Progressing
                         </div>
                     </div>
                 </div>
                 <div  ng-if="!InProgress && (activeMenu=='TopResults'&& LeadsResultCount=='0 Result' && AccountResultCount=='0 Result'&& OpportunitiesResultCount=='0 Result' && ContactsResultCount=='0 Result' && QuotesResultCount=='0 Result' && OrdersResultCount=='0 Result' && MPOsResultCount=='0 Result' && ShipmentsResultCount=='0 Result' && CasesResultCount=='0 Result' && AppointmentsResultCount=='0 Result' && TasksResultCount=='0 Result' && AddressesResultCount=='0 Result' && PaymentsResultCount=='0 Result' && VendorsResultCount=='0 Result' && NotesResultCount=='0 Result')">                     
                       <h2 style="font-size:35px;">  No Results Found</h2>                   
                 </div>
                 <!--<div ng-if="!InProgress && (activeMenu=='TopResults'&& (LeadsResultCount!='0 Result' || AccountResultCount!='0 Result' || OpportunitiesResultCount!='0 Result' || ContactsResultCount!='0 Result' || QuotesResultCount!='0 Result' || OrdersResultCount!='0 Result' || MPOsResultCount!='0 Result' || ShipmentsResultCount!='0 Result' || CasesResultCount!='0 Result' || AppointmentsResultCount!='0 Result' || TasksResultCount!='0 Result' || AddressesResultCount!='0 Result' || PaymentsResultCount!='0 Result' || VendorsResultCount!='0 Result' || NotesResultCount!='0 Result'))">

                     <h2 style="font-size:35px;">  No Results Found</h2>

                 </div>-->
                 <!--<div ng-if="Invalidsearch">
                      <h2 style="font-size:35px;">Please enter at least 2 numbers/characters to search on</h2>
                 </div>-->
                <div class="grid_section" ng-show="Permission.ListLead && (activeMenu=='TopResults'||activeMenu=='LeadsId') && LeadsResultCount!='0 Result' && (DisplayAll || DisplayPhone || DisplayEmail || DisplayName || DisplayAddress || DisplayCity)">
                    <h3>Leads</h3>
                    <div>
                        <label ng-bind="LeadsResultCount" ng-if="ShowLess!='LeadsId'">{{LeadsResultCount}}</label>
                        <a href="" ng-click="ShowAll('LeadsId')" class="global_viewmore" ng-if="LeadsResultCount=='5+ Results'&& ShowLess!='LeadsId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('LeadsId')" class="global_viewmore" ng-if="LeadsResultCount=='5+ Results'&& ShowLess=='LeadsId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                   
                    <kendo-grid id="LeadsId"
                                options="LeadsGridOptions">
                    </kendo-grid>
                </div>
                
                <div class="grid_section" ng-show="Permission.ListAccount && (activeMenu=='TopResults'||activeMenu=='AccountsId') && AccountResultCount!='0 Result' && (DisplayAll || DisplayPhone || DisplayEmail || DisplayName || DisplayAddress || DisplayCity)">
                    <h3>Accounts</h3>
                    <div>
                        <label ng-bind="AccountResultCount" ng-show="ShowLess!='AccountsId'">{{AccountResultCount}}</label>
                        <a href="" ng-click="ShowAll('AccountsId')" class="global_viewmore" ng-if="AccountResultCount=='5+ Results' && ShowLess!='AccountsId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('AccountsId')" class="global_viewmore" ng-show="AccountResultCount=='5+ Results'&& ShowLess=='AccountsId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="AccountsId"
                                options="AccountsGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="Permission.ListOpportunity && (activeMenu=='TopResults'||activeMenu=='OpportunitiesId') && OpportunitiesResultCount!='0 Result' && (DisplayAll || DisplayName || DisplayAddress || DisplayCity || DisplayID)">
                    <h3>Opportunities</h3>
                    <div>
                        <label ng-bind="OpportunitiesResultCount" ng-show="ShowLess!='OpportunitiesId'">{{OpportunitiesResultCount}}</label>
                        <a href="" ng-click="ShowAll('OpportunitiesId')" class="global_viewmore" ng-if="OpportunitiesResultCount=='5+ Results' && ShowLess!='OpportunitiesId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('OpportunitiesId')" class="global_viewmore" ng-show="OpportunitiesResultCount=='5+ Results'&& ShowLess=='OpportunitiesId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="OpportunitiesId"
                                options="OpportunitiesGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="(activeMenu=='TopResults'||activeMenu=='ContactsId') && ContactsResultCount!='0 Result' && (DisplayAll || DisplayPhone || DisplayEmail || DisplayName )">
                    <h3>Contacts</h3>
                    <div>
                        <label ng-bind="ContactsResultCount" ng-show="ShowLess!='ContactsId'">{{ContactsResultCount}}</label>
                        <a href="" ng-click="ShowAll('ContactsId')" class="global_viewmore" ng-if="ContactsResultCount=='5+ Results' && ShowLess!='ContactsId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('ContactsId')" class="global_viewmore" ng-show="ContactsResultCount=='5+ Results'&& ShowLess=='ContactsId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="ContactsId"
                                options="ContactsGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="Permission.QuoteList && (activeMenu=='TopResults'||activeMenu=='QuotesId') && QuotesResultCount!='0 Result' && (DisplayAll || DisplayName || DisplayID)">
                    <h3>Quotes</h3>
                    <div>
                        <label ng-bind="QuotesResultCount" ng-show="ShowLess!='QuotesId'">{{QuotesResultCount}}</label>
                        <a href="" ng-click="ShowAll('QuotesId')" class="global_viewmore" ng-if="QuotesResultCount=='5+ Results' && ShowLess!='QuotesId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('QuotesId')" class="global_viewmore" ng-show="QuotesResultCount=='5+ Results'&& ShowLess=='QuotesId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="QuotesId"
                                options="QuotesGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="Permission.ListSalesOrder && (activeMenu=='TopResults'||activeMenu=='OrdersId') && OrdersResultCount!='0 Result' && (DisplayAll || DisplayName || DisplayID)">
                    <h3>Orders</h3>
                    <div>
                        <label ng-bind="OrdersResultCount" ng-show="ShowLess!='OrdersId'">{{OrdersResultCount}}</label>
                        <a href="" ng-click="ShowAll('OrdersId')" class="global_viewmore" ng-if="OrdersResultCount=='5+ Results' && ShowLess!='OrdersId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('OrdersId')" class="global_viewmore" ng-show="OrdersResultCount=='5+ Results'&& ShowLess=='OrdersId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="OrdersId"
                                options="OrdersGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="Permission.ProcurementList && (activeMenu=='TopResults'||activeMenu=='MPOsId') && MPOsResultCount!='0 Result' && (DisplayAll || DisplayID)">
                    <h3>MPOs/VPOs</h3>
                    <div>
                        <label ng-bind="MPOsResultCount" ng-show="ShowLess!='MPOsId'">{{MPOsResultCount}}</label>
                        <a href="" ng-click="ShowAll('MPOsId')" class="global_viewmore" ng-if="MPOsResultCount=='5+ Results' && ShowLess!='MPOsId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('MPOsId')" class="global_viewmore" ng-show="MPOsResultCount=='5+ Results'&& ShowLess=='MPOsId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="MPOsId"
                                options="MPOsGridOptions">
                    </kendo-grid>
                 </div>
                <div class="grid_section" ng-show="(activeMenu=='TopResults'||activeMenu=='ShipmentsId') && ShipmentsResultCount!='0 Result' && (DisplayAll || DisplayID)">
                    <h3>Shipments</h3>
                    <div>
                        <label ng-bind="ShipmentsResultCount" ng-show="ShowLess!='ShipmentsId'">{{ShipmentsResultCount}}</label>
                        <a href="" ng-click="ShowAll('ShipmentsId')" class="global_viewmore" ng-if="ShipmentsResultCount=='5+ Results' && ShowLess!='ShipmentsId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('ShipmentsId')" class="global_viewmore" ng-show="ShipmentsResultCount=='5+ Results'&& ShowLess=='ShipmentsId' ">View Less</a>
                    <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="ShipmentsId"
                        options="ShipmentsGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="(activeMenu=='TopResults'||activeMenu=='CasesId') && CasesResultCount!='0 Result' && (DisplayAll || DisplayID)">
                    <h3>Cases</h3>
                    <div>
                        <label ng-bind="CasesResultCount" ng-show="ShowLess!='CasesId'">{{CasesResultCount}}</label>
                        <a href="" ng-click="ShowAll('CasesId')" class="global_viewmore" ng-if="CasesResultCount=='5+ Results' && ShowLess!='CasesId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('CasesId')" class="global_viewmore" ng-show="CasesResultCount=='5+ Results'&& ShowLess=='CasesId' ">View Less</a>
                    <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="CasesId"
                        options="CasesGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="(activeMenu=='TopResults'||activeMenu=='AppointmentsId') && AppointmentsResultCount!='0 Result' && (DisplayAll || DisplayName)">
                    <h3>Appointments</h3>
                    <div>
                        <label ng-bind="AppointmentsResultCount" ng-show="ShowLess!='AppointmentsId'">{{AppointmentsResultCount}}</label>
                        <a href="" ng-click="ShowAll('AppointmentsId')" class="global_viewmore" ng-if="AppointmentsResultCount=='5+ Results' && ShowLess!='AppointmentsId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('AppointmentsId')" class="global_viewmore" ng-show="AppointmentsResultCount=='5+ Results'&& ShowLess=='AppointmentsId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="AppointmentsId"
                                options="AppointmentsGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="(activeMenu=='TopResults'||activeMenu=='TasksId') && TasksResultCount!='0 Result' && (DisplayAll || DisplayName)">
                    <h3>Tasks</h3>
                    <div>
                        <label ng-bind="TasksResultCount" ng-show="ShowLess!='TasksId'">{{TasksResultCount}}</label>
                        <a href="" ng-click="ShowAll('TasksId')" class="global_viewmore" ng-if="TasksResultCount=='5+ Results' && ShowLess!='TasksId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('TasksId')" class="global_viewmore" ng-show="TasksResultCount=='5+ Results'&& ShowLess=='TasksId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="TasksId"
                                options="TasksGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="(activeMenu=='TopResults'||activeMenu=='AddressesId') && AddressesResultCount!='0 Result' && (DisplayAll || DisplayName || DisplayAddress || DisplayCity)">
                    <h3>Addresses</h3>
                    <div>
                        <label ng-bind="AddressesResultCount" ng-show="ShowLess!='AddressesId'">{{AddressesResultCount}}</label>
                        <a href="" ng-click="ShowAll('AddressesId')" class="global_viewmore" ng-if="AddressesResultCount=='5+ Results' && ShowLess!='AddressesId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('AddressesId')" class="global_viewmore" ng-show="AddressesResultCount=='5+ Results'&& ShowLess=='AddressesId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="AddressesId"
                        options="AddressesGridOptions">   
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="(Permission.ListAccount || Permission.ListSalesOrder) && (activeMenu=='TopResults'||activeMenu=='PaymentsId') && PaymentsResultCount!='0 Result' && (DisplayAll || DisplayName || DisplayID)">
                <h3>Payments</h3>
                <div>
                    <label ng-bind="PaymentsResultCount" ng-show="ShowLess!='PaymentsId'">{{PaymentsResultCount}}</label>
                    <a href="" ng-click="ShowAll('PaymentsId')" class="global_viewmore" ng-if="PaymentsResultCount=='5+ Results' && ShowLess!='PaymentsId' ">View More</a>
                    <a href="" ng-click="ShowLessGrid('PaymentsId')" class="global_viewmore" class="global_viewmore" ng-show="PaymentsResultCount=='5+ Results'&& ShowLess=='PaymentsId' ">View Less</a>
                    <div class="clearfix"></div>
                </div>
                    <kendo-grid id="PaymentsId"
                            options="PaymentsGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="Permission.ListVendors && (activeMenu=='TopResults'||activeMenu=='VendorsId') && VendorsResultCount!='0 Result' && (DisplayAll || DisplayPhone || DisplayName|| DisplayEmail || DisplayAddress||DisplayCity|| DisplayID)">
                    <h3>Vendors</h3>
                    <div>
                        <label ng-bind="VendorsResultCount" ng-show="ShowLess!='VendorsId'">{{VendorsResultCount}}</label>
                        <a href="" ng-click="ShowAll('VendorsId')" class="global_viewmore" ng-if="VendorsResultCount=='5+ Results' && ShowLess!='VendorsId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('VendorsId')" class="global_viewmore" ng-show="VendorsResultCount=='5+ Results'&& ShowLess=='VendorsId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="VendorsId"
                                options="VendorsGridOptions">
                    </kendo-grid>
                </div>
                <div class="grid_section" ng-show="(activeMenu=='TopResults'||activeMenu=='NotesId') && NotesResultCount!='0 Result' && (DisplayAll || DisplayName)">
                    <h3>Notes & Attachments</h3>
                    <div>
                        <label ng-bind="NotesResultCount" ng-show="ShowLess!='NotesId'">{{NotesResultCount}}</label>
                        <a href="" ng-click="ShowAll('NotesId')" class="global_viewmore" ng-if="NotesResultCount=='5+ Results' && ShowLess!='NotesId' ">View More</a>
                        <a href="" ng-click="ShowLessGrid('NotesId')" class="global_viewmore" ng-show="NotesResultCount=='5+ Results'&& ShowLess=='NotesId' ">View Less</a>
                        <div class="clearfix"></div>
                    </div>
                    <kendo-grid id="NotesId"
                                options="NotesGridOptions">
                    </kendo-grid>
                </div>
            </div>
            <hfc-note-modal></hfc-note-modal>
            <hfc-additional-contact global-search="true"></hfc-additional-contact>
            <hfc-additional-address-modal></hfc-additional-address-modal>
            <hfc-calendar-event-modal></hfc-calendar-event-modal>
            <div class="clearfix"> </div>
        </div>
    </div>
<!--<div class="mapCanvas"></div>-->
 <!--warning popup-->
<div class="modal fade" id="Warninginfo" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Warning !</h4>
                <button type="button" class="close popup_close" ng-click="CancelPopup('Warninginfo')">&times;</button>
            </div>
            <form name="Measurement_addint" role="form">
                <div class="modal-body quote_popup">
                    <div class="form-group row" style="margin: 1%; color:red; text-align:center ">
                        This Quote has Expired. If you wish to proceed, the status will be re-set to Draft. The quote lines may need to be reviewed / revalidate if Product or Pricing changes have taken place.
                    </div>
                    <div class="form-group row" style="margin: 1%;text-align:center">
                        Would you like to continue?
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelPopup('Warninginfo')">Cancel</button>
                        <button type="button" class="btn btn-cancel" ng-click="changeQuote()">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

