﻿
<div class="tab-pane" ng-class="{'active': quote.IsPrimary}" id="quote{{job.JobId}}_{{quote.QuoteId}}">
    <div class="margin-top">
        <div class="btn-group">
            <button class="btn btn-default btn-sm" title="Sign Quote" ng-click="ESignatureService.RequestSignatureOnDocument(quote.QuoteId)"
                    style="display:none">
                <!-- NOT PROD READY, REMOVE DISPLAY:NONE FOR DEVELOPMENT; PROD ONLY-->
                <span class="glyphicon glyphicon-signal"></span>
            </button>
            <button class="btn btn-default btn-sm" title="Print Quote" ng-click="PrintService.PrintQuote(quote.QuoteId)">
                <span class="glyphicon glyphicon-print"></span>
            </button>
            <button class="btn btn-default btn-sm" title="Email Quote" ng-click="EmailService.EmailQuote(quote, job, customer)">
                <span class="glyphicon glyphicon-envelope"></span> Quote
            </button>
            <button ng-if="quote.IsPrimary" class="btn btn-default btn-sm" title="Create Invoice"
                    ng-click="InvoiceService.Payments(quote, job, JobService)"
                    ng-bind="job.InvoiceButtonText">
                <span class="glyphicon glyphicon-book" style="color:darkblue"></span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Quote options" ng-disabled="!(!job.SaleMde && HFCService.GetPermission('Jobs', 'Cost').CanRead) && !(!job.SaleMade && Quotes.length > 1 && !quote.IsPrimary) && !(Quotes.length > 1 && job.Permission.CanDelete && !quote.IsPrimary) && !(!job.SaleMade)">
                    <i class="glyphicon glyphicon-cog"></i> Options <i class="caret"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-if="!job.SaleMde && HFCService.GetPermission('Jobs', 'Cost').CanRead"><a href="#" ng-click="$parent.displayCost = !$parent.displayCost; $event.preventDefault()">Toggle Extended Pricing</a></li>
                    <li ng-if="!job.SaleMade && Quotes.length > 1 && !quote.IsPrimary"><a href="#" ng-click="QuoteService.SetPrimaryQuote(quote, job); $event.preventDefault()">Set this as primary</a></li>
                    <li><a ng-if="!job.SaleMade" href="#" ng-click="QuoteService.CloneQuote(quote, job); $event.preventDefault();">Duplicate quote</a></li>
                    <li ng-if="Quotes.length > 1 && job.Permission.CanDelete && !quote.IsPrimary"><a href="#" ng-click=" QuoteService.DeleteQuote(quote, job); $event.preventDefault()">Delete quote</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row row-header row-condensed hidden-xs">
                <div class="hfc-col col-sm-1">&nbsp;</div>
                <div class="hfc-col" ng-class="displayCost ? 'col-sm-1 col-lg-4' : 'col-sm-4 col-lg-6'">Item</div>
                <div class="hfc-col col-sm-1">Memo</div>
                <div class="hfc-col col-sm-1 text-center">Qty</div>
                <div class="hfc-col col-sm-2 col-lg-1 text-right">Sale Price</div>
                <div class="hfc-col col-sm-2 col-lg-1 text-right" ng-if="displayCost">Cost</div>
                <div class="hfc-col col-sm-2 col-lg-1 text-right">Discount</div>
                <div class="hfc-col col-sm-2 col-lg-1 text-right">Line total</div>
            </div>
            <div class="row row-header visible-xs">
                <div class="hfc-col">Line Items:</div>
            </div>
        </div>        
    </div>
    <div class="row" ng-hide="quote.JobItems || quote.SaleAdjustments">
        <div class="col-xs-12 col-sm-12 text-center">There is no line item</div>
    </div>

 <div id="lineItems" data-as-sortable="dragControlListeners" data-ng-model="quote.JobItems">
    <quote-item-row ng-repeat="item in quote.JobItems" can-update="{{job.Permission.CanUpdate}}"></quote-item-row>
 </div>
        <quote-saleadj-row ng-repeat="item in quote.SaleAdjustments" can-update="{{job.Permission.CanUpdate}}"></quote-saleadj-row>

        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-xs-push-0 col-sm-push-7">
                <table class="table text-right">
                    <tbody>
                        <tr>
                            <td><abbr title="&sum; Line totals">Subtotal:</abbr></td>
                            <td style="width:112px" ng-bind="quote.Subtotal | currency" ng-class="{'text-danger': quote.Subtotal < 0}"></td>
                        </tr>
                        <tr>
                            <td><abbr title="&sum; Discounts, such as Coupon, Discount, Credits">Discount:</abbr></td>
                            <td class="text-danger" ng-bind="-1 * quote.DiscountTotal | currency"></td>
                        </tr>
                        <tr>
                            <td><abbr title="&sum; Surcharges, such as Installation & Shipping">Additional Charges:</abbr></td>
                            <td ng-bind="quote.SurchargeTotal | currency"></td>
                        </tr>
                        <tr>
                            <td><abbr title="(&sum; Subtotal + Surcharges) * Tax">(<span ng-bind="quote.TaxPercent"></span> %) Tax Total:</abbr></td>
                            <td ng-bind="quote.Taxtotal | currency"></td>
                        </tr>
                        <tr>
                            <td><abbr title="Subtotal + Surcharges + Tax - Discounts">Total:</abbr></td>
                            <td class="text-lg" ng-bind="quote.NetTotal | currency" ng-class="quote.NetTotal >= 0 ? 'text-primary' : 'text-danger'"></td>
                        </tr>
                        <tr ng-show="job.SaleMade" ng-if="quote.IsPrimary">
                            <td><span class="text-md text-muted text-danger">Balance Due:</span></td>
                            <td><span class="text-danger" ng-bind="(quote.Balance ? quote.Balance: job.Balance) | currency "></span></td>
                        </tr>
                        <tr>
                            <td  ng-if="quote.IsPrimary">
                                <button class="btn btn-success" ng-if="job.Invoices.length > 0 && job.Invoices[0].PaidInFullOn">Paid</button>
                                <button class="btn btn-info" ng-if="job.Invoices.length > 0 && job.Invoices[0].Payments.length > 0 && !job.Invoices[0].PaidInFullOn">Partial</button>
                                <button class="btn btn-danger" ng-if="job.Invoices.length > 0 && job.Invoices[0].Payments.length == 0 && !job.Invoices[0].PaidInFullOn">Open</button>
                                <button type="button" ng-hide="job.Invoices[0].PaidInFullOn || !job.SaleMade" ng-click="PaymentService.AddPayment(job.Invoices[0].InvoiceId, job.JobId, quote.QuoteId)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Payments</button>
                            </td>
                            <td ng-if="quote.IsPrimary" class="text-lg text-primary" ng-hide="!job.SaleMade" ng-bind="PaymentService.GetInvoiceTotalPayments(job.Invoices[0]) | currency"></td>
                        </tr>
                        <tr ng-if="displayCost"  ng-show="quote.IsPrimary">
                            <td><abbr title="Total Cost">Total Cost:</abbr></td>
                            <td class="text-danger" ng-bind="quote.CostSubtotal | currency"></td>
                        </tr>

                        <tr ng-if="displayCost && job.CostPermission.CanRead" ng-show="quote.IsPrimary">
                            <td>
                                <abbr title="P = Subtotal + Surcharges - Discounts; C = Costs; M = (P - C) / P">M:</abbr>
                                <span ng-bind="quote.Margin"></span> %
                                <abbr title="Subtotal + Surcharges - Discounts - Costs">Profit:</abbr>
                            </td>
                            <td class="text-lg" ng-bind="quote.NetProfit | currency" ng-class="quote.NetProfit >= 0 ? 'text-success' : 'text-danger'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-7 col-xs-pull-0 col-sm-pull-5" ng-if="job.Permission.CanUpdate">
                <div class="form-group">
                    <div ng-class="HFCService.isMobile() ? 'btn-group-vertical' : 'btn-group'">
                        <button class="btn btn-primary btn-sm" ng-click="QuoteItemService.Add(quote)"><i class="glyphicon glyphicon-plus"></i> Line Item</button>
                        <button class="btn btn-primary btn-sm" ng-click="QuoteSaleAdjService.AddDiscount(quote)"><i class="glyphicon glyphicon-plus"></i> Discount</button>
                        <button class="btn btn-primary btn-sm" ng-click="QuoteSaleAdjService.AddSurcharge(quote)"><i class="glyphicon glyphicon-plus"></i> Additional Charges</button>
                        <button class="btn btn-primary btn-sm" ng-click="QuoteSaleAdjService.AddTax(quote)"><i class="glyphicon glyphicon-plus"></i> Tax Rate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
