﻿<div class="row" data-as-sortable-item="">
    <div class="col-xs-12 col-sm-12" ng-if="!InEditMode">
        <div class="row row-condensed row-body" data-as-sortable-item-handle>
            <div class="hfc-col col-xs-12 col-sm-1" ng-if="canUpdate">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="visible-xs">Options <i class="caret"></i></span>
                        <span class="hidden-xs"><i class="glyphicon glyphicon-cog"></i> <i class="caret"></i></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="Edit($event)">Edit</a></li>
                        <li><a href="#" ng-click="Clone($event)">Make a copy</a></li>
                        <li><a href="#" ng-click="Delete($event)">Delete</a></li>
                    </ul>
                </div>
            </div>
            <div class="hfc-col col-xs-12" ng-class="displayCost ? 'col-sm-2 col-lg-6' : 'col-sm-4 col-lg-7'">
                <b ng-bind="item.CategoryName"></b> <span class="text-muted" ng-bind="item.ProductType"></span>
            </div>
            <div class="hfc-col col-xs-12 col-sm-1">
                <div class="col-xs-6 visible-xs">Quantity:</div>
                <div class="col-xs-6 col-sm-12" ng-bind="item.Quantity" ng-class="HFCService.isMobile() ? 'text-right' : 'text-center'"></div>
            </div>
            <div class="hfc-col col-xs-12 col-sm-2 col-lg-1">
                <div class="col-xs-6 visible-xs">Sale Price:</div>
                <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.SalePrice | currency"></div>
            </div>
            <div class="hfc-col col-xs-12 col-sm-2 col-lg-1" ng-if="displayCost">
                <div class="col-xs-6 visible-xs">Cost:</div>
                <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.UnitCost | currency"></div>
            </div>
            <div class="hfc-col col-xs-12 col-sm-2 col-lg-1">
                <div class="col-xs-6 visible-xs">Discount:</div>
                <div class="col-xs-6 col-sm-12 text-right text-danger" ng-bind="-1 * item.DiscountAmount | currency"></div>
            </div>
            <div class="hfc-col col-xs-12 col-sm-2 col-lg-1">
                <div class="col-xs-6 visible-xs">Line total:</div>
                <div class="col-xs-6 col-sm-12 text-right" ng-bind="item.Subtotal | currency"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12" ng-if="InEditMode">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <div class="row row-light-condensed">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label>Category:</label>
                                <select class="form-control" ng-model="item.CategoryId" ng-disabled="QuoteItemService.IsBusy" ng-change="QuoteItemService.GetProductList(item.CategoryId);GetOption('Color').Value = ''" ng-options="opt.Id as opt.Category for opt in QuoteItemService.ProductCategories" required>
                                    <option value="">Select Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <label>Product:</label>
                                <select ng-if="GetCategory(item.CategoryId) != 'Other'" class="form-control" ng-model="item.ProductTypeId" ng-disabled="(QuoteItemService.ProductList | filter:{CategoryId:item.CategoryId}).length == 0" ng-options="opt.ProductTypeId as opt.ProductType for opt in (QuoteItemService.ProductList | filter:{CategoryId:item.CategoryId})">
                                    <option value="">Select Product</option>
                                </select>
                                <input type="text" maxlength="50" ng-model="item.ProductType" class="form-control" ng-if="GetCategory(item.CategoryId) == 'Other'" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label>Color:</label>
                                <div class="input-group" style="width:100%">
                                    <input type="text" ng-disabled="!item.CategoryId" ng-model="GetOption('Color').Value" ng-enter="QuoteItemService.AddColor(item, newColor)" placeholder="Color" class="form-control" maxlength="100" />
                                    <div class="input-group-btn">
                                        <button type="button" data-toggle="dropdown" ng-disabled="QuoteItemService.GetCategoryColors(item.CategoryId).length == 0" class="btn btn-default dropdown-toggle" tabindex="-1"><i class="caret"></i></button>
                                        <ul class="dropdown-menu pull-right" tabindex="-1">
                                            <li ng-repeat="color in QuoteItemService.GetCategoryColors(item.CategoryId)">
                                                <a href="#" ng-click="GetOption('Color').Value = color; $event.preventDefault()" ng-bind="color">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <div class="form-group pull-right">
                                <label><input type="checkbox" ng-model="item.IsTaxable" /> Taxable</label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-light-condensed" ondragstart="return false;" ondrop="return false;">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label>Qty:</label>
                                <input type="text" min="0" required ng-model="item.Quantity" numbers-only="numbers-only" ng-change="CalculateSubtotal()" placeholder="Qty" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12" ng-class="displayCost ? 'col-sm-3' : 'col-sm-6'">
                            <div class="form-group">
                                <label>List Price:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                    <input type="number" min="0" step="0.01" required ng-model="item.JobberPrice" placeholder="List Price" class="form-control text-right" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3" ondragstart="return false;" ondrop="return false;">
                            <div class="form-group" ng-show="displayCost && job.CostPermission.CanRead">
                                <label>Cost:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                    <input type="number" min="0" step="0.01" required ng-change="CalculateSubtotal()" ng-model="item.UnitCost" placeholder="Item Cost" class="form-control text-right" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3" ondragstart="return false;" ondrop="return false;">
                            <div class="form-group">
                                <label>Sale Price:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                    <input type="number" min="0" step="0.01" required ng-change="CalculateSubtotal()" ng-model="item.SalePrice" placeholder="Sale Price" class="form-control text-right" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-light-condensed" ng-show="DisplayDiscount" ondragstart="return false;" ondrop="return false;">
                        <div class="col-sm-6">
                            <label>Discount:</label>
                            <input type="text" ng-model="item.DiscountRemark" placeholder="Discount Remark" maxlength="256" class="form-control" />
                        </div>
                        <div class="col-sm-3">
                            <label>&nbsp;</label>
                            <div class="input-group">
                                <input type="number" min="0" step="0.01" ng-model="item.DiscountPercent" ng-disabled="item.DiscountType =='Amount'" ng-change="DiscountPercentChanged()" placeholder="Percent" class="form-control" />
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label>&nbsp;</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                <input type="number" min="0" step="0.01" ng-model="item.DiscountAmount" ng-disabled="item.DiscountType == 'Percent'" ng-change="DiscountAmountChanged()" placeholder="Discount" class="form-control text-right" />
                            </div>
                        </div>
                    </div>
                    <div class="row row-light-condensed">
                        <div class="col-sm-3 col-md-3">
                            <a href="#" ng-click="DisplayDiscount = true; $event.preventDefault()" ng-hide="DisplayDiscount">Apply a discount</a>
                            <span class="pull-right hidden-xs">Subtotals:</span>
                        </div>
                        <div class="col-sm-2 text-right">
                            <span ng-show="job.CostPermission.CanRead" class="pull-left visible-xs">Cost Subtotal:</span>
                            <b ng-if="displayCost && job.CostPermission.CanRead" ng-bind="item.CostSubtotal | currency"></b>
                        </div>
                        <div class="col-sm-offset-2 col-sm-3 text-right" ng-class="{'text-danger': item.Subtotal < 0}">
                            <span class="pull-left visible-xs">Line Subtotal:</span>
                            <b ng-bind="item.Subtotal | currency"></b>
                        </div>

                        <div class="col-sm-2 text-right">
                            <span ng-show="job.CostPermission.CanRead" ng-class="{'pull-left': HFCService.isMobile()}">Margin:</span>
                            <b ng-show="job.CostPermission.CanRead"><span ng-bind="item.MarginPercent"></span> %</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div ng-class="HFCService.isMobile() ? 'btn-group-vertical' : 'btn-group'">
                                <button type="reset" ng-disabled="QuoteItemService.IsBusy" class="btn btn-default btn-sm" ng-click="Cancel()" title="Cancel"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                                <button type="button" ng-disabled="QuoteItemService.IsBusy" class="btn btn-default btn-sm" ng-click="Save(true)" title="Save & New Line"><i class="glyphicon glyphicon-save"></i> Save & New Line</button>
                                <button type="button" ng-disabled="QuoteItemService.IsBusy" class="btn btn-primary btn-sm" ng-click="Save()" title="Save"><i class="glyphicon glyphicon-save"></i> Save</button>
                            </div>
                            <input class="form-control" type="text" ng-model="item.Notes" style="display: inline;width: 74%;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
