﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close"  ng-click="PersonService.Cancel()" aria-hidden="true">&times;</button>-->
                <h4 class="mx-auto modal-title">Select Opportunitys</h4>
                <button type="button" class="close popup_close" ng-disabled="OpportunityService.IsBusy" ng-click="OpportunityService.CancelOpportunityEditor(modalId)" aria-hidden="true">&times;</button>
            </div>
            <form role="form"  ng-submit="OpportunityService.SaveEditor(modalId)">
                <div class="form-group" style="padding: 10px;margin-bottom: 0px;">
                    <input type="text" class="form-control" ng-model="predicate" />
                </div>
                <div class="modal-body" style="height: 300px; max-height: 400px; overflow-y: scroll;">
                    <treecontrol class="tree-classic" filter-expression="predicate" tree-model="OpportunityService.EditorData" expanded-nodes="OpportunityService.EditorDataExpandedNodes">
                        <span ng-class="{ 'campaign' : node.isCampaign }"><input type="checkbox" ng-disabled="OpportunityService.CheckIfSourceUsed(node.SourceId)" ng-model="node.Selected" ng-change="OpportunityService.SelectSource(node)" />  {{node.Name}}</span>
                    </treecontrol>
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" ng-disabled="PersonService.OpportunityService.IsBusy" ng-click="PersonService.OpportunityService.CancelEditor(modalId)"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                    <button type="submit" class="btn btn-success btn-sm" ng-click="PersonService.OpportunityService.SaveEditor(modalId)" ng-disabled="PersonService.OpportunityService.IsBusy"><i class="glyphicon glyphicon-save"></i> Save</button>
                </div>-->
                <div class="modal-footer">
                    <button type="reset"  ng-click="OpportunityService.CancelOpportunityEditor(modalId)" class="btn btn-cancel">Cancel</button>
                    <button type="submit" ng-disabled="OpportunityService.IsBusy" class="btn btn-cancel">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
