﻿<!--TODO this should be define in Layout page-->
<style>
    .custom_ButtonSkin {
        border: 0 !important;
        background: none !important;
    }

        .custom_ButtonSkin:active {
            outline: none;
            border: none;
        }

        .custom_ButtonSkin:focus {
            outline: 0;
        }

    .table-striped > tbody > tr:nth-child(odd) > th, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
        color: #fff !important;
    }

    table.table.table-bordered th {
        text-align: center;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px !important;
        font-size: 13px !important;
    }
</style>
<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/listDocuments">General</a></li>
                        <li class="active"><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li rel="tab5">
                    <a href="#!/vendors">
                        <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Vendors</h3>
                    </a>
                </li>
                <li rel="tab6">
                    <a href="#!/productSearch">
                        <h3><i class="far fa-dolly-flatbed-alt fa_icon"></i><br />Products/Services</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7" style="width: auto !important;">
                    <a href="#!/pricingSettings">
                        <h3><i class="far fa-usd-square fa_icon"></i><br />Pricing Management</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/procurement">
                        <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/buyerremorse">
                        <h3><i class="fa fa-cogs fa_icon"></i><br />Sale Settings</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/TaxSettings">
                        <h3><i class="fas fa-landmark fa_icon"></i><br />Tax Settings</h3>
                    </a>
                </li>
            </ul>
            <div class="leaddetail_butns">
                <!--<button type="submit" class="btn btn-primary cancel_but" ng-click="saveAdvPricing()">Apply</button>-->
                <button type="button" class="plus_but middle_pbut tooltip-bottom" data-tooltip="Help" ng-click="ShowHelpPopup()">
                    <i class="fa fa-question"></i>
                </button>
                <button ng-show="EditMode==true" class="plus_but middle_pbut tooltip-bottom" data-tooltip="Cancel" ng-click="cancelEditPricing()"><i class="far fa-times-circle fa_icon"></i></button>
                <button ng-show="EditMode==true" class="plus_but middle_pbut tooltip-bottom" data-tooltip="Save" ng-click="saveAdvPricing()"><i class="far fa-check-circle fa_icon"></i></button>
                <!--<button ng-show="Permission.AddAdvancedPricing" type="button" class="plus_but middle_pbut tooltip-bottom" data-tooltip="Add Pricing Rule" ng-click="addNewPricing()">
                    <i class="fa fa-plus-square-o"></i>
                </button>-->
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="tab_container tpsearch_content">
            <form name="advancedpricing_form" unsaved-warning-form>
                <div id="MenuDiv" style="margin-top:15px;">
                    <div hfc-statuses-overlay1>
                        <h3 style="font-size:18px; color:#3d7d8b; margin-left:15px;">Gross Profit Margin</h3>
                        <div class="statusCanvas" style="height:auto;"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!--<kendo-tooltip options="tooltipOptions">-->
                        <kendo-grid id="gridPricingManagement" options="AdvancePricingManagement" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                    <!--</kendo-tooltip>-->
                </div>
            </form>
        </div>
        <div class="modal fade" id="Model1" data-keyboard="false" data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 id="Model1h4" class="mx-auto modal-title">Warning</h4>
                    </div>
                    <form role="form" novalidate>
                        <div class="modal-body">
                            <p>Markup and Discount values cannot be the same. Please Correct Rule.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-cancel" id="Model1Anc" style="background: #3d7d8b !important; color: #fff;" data-dismiss="modal" aria-hidden="true">OK</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Warning Pop up for same value of Markup and discound-->
        <div class="modal fade" id="Model1" data-keyboard="false" data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 id="Model1h4" class="mx-auto modal-title">Warning</h4>
                    </div>
                    <form role="form" novalidate>
                        <div class="modal-body">
                            <p>Markup and Discount values cannot be the same. Please Correct Rule.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-cancel" id="Model1Anc" style="background: #3d7d8b !important; color: #fff;" data-dismiss="modal" aria-hidden="true">OK</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Warning Pop Up-->
        <div class="modal fade" id="Model2" data-keyboard="false" data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 id="Model2h4" class="mx-auto modal-title">Warning</h4>
                    </div>
                    <form role="form" novalidate>
                        <div class="modal-body">
                            <p>Markup and Discount values cannot be greater than 100 or equal to zero</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-cancel" id="Model2Anc" style="background: #3d7d8b !important; color: #fff;" data-dismiss="modal" aria-hidden="true">OK</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Help Pop up-->
        <div class="modal fade" id="helppopup" data-keyboard="false" data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 id="helppopuph4" class="mx-auto modal-title">Help</h4>
                    </div>
                    <form role="form" novalidate>
                        <div class="modal-body closeadvancedpricehelp">
                            <p>The Pricing Strategy Rules provides a tool to maintain, increase, or decrease your margins. Here you can apply Mark Ups and Discounts, using a dollar or percent factor at a Franchise, Vendor or Product level.</p>
                            <h5><b>Pricing Strategy Types:</b></h5>
                            <p><b>FE Pricing Strategy:</b> Markup(s) or Discount(s) will be applied to all products company wide.<br /><b>Example:</b> All products will be marked up 20% from base sales price</p>
                            <p><b>Vendor Pricing Strategy:</b> Markup(s) or Discount(s) will be applied to specified vendor(s)<br /><b>Example:</b> All orders for Vendor ABC will be marked up $10.00 from the base sales price</p>
                            <p><b>Product Pricing Strategy: </b> Markup(s) or Discount(s) will be applied to specified product(s)<br /><b>Example: </b>All Faux Wood Shutters will be discounted 15% the base sales price</p>
                            <h5><b>Markups and Discounts will be considered in this order:</b></h5>
                            <p><b>Product: </b> If product being added to the quote has a specific markup, use that markup<br /><b>Vendor: </b> If Vendor being added to the quote has a specific markup, use that markup<br /><b>Franchisee: </b> If a Franchisee has a specific franchise-wide markup defined use that markup</p>
                        </div>
                        <div class="modal-footer">
                            <a href="" class="btn btn-cancel" id="helppopupAnc" style="background: #3d7d8b !important; color: #fff;" ng-click="closeadvancedpricehelp()" aria-hidden="true">OK</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="loading" style="display: none;">
            <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
            <!--<img src="/content/images/ajax-loader.gif" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading">-->
        </div>
</div>
<!--<div class="table-responsive" id="_statusModal_">
    <h3 style="font-size:16px;"> This Chart Provides the Recommended discount/mark-up to apply to you pricing rule(s) to achieve  a desired Gross Profit Margin
    </h3>
    <table class="table table-bordered">
        <thead style="background:#3e7d8a;">
            <tr>
                <th>Margin</th>
                <th>Discount</th>
                <th>Mark Up</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>75%</td>
                <td></td>
                <td>20%</td>
            </tr>
            <tr>
                <td>73%</td>
                <td></td>
                <td>12%</td>
            </tr>
            <tr>
                <td>70%</td>
                <td>n/a</td>
                <td>n/a</td>
            </tr>
            <tr>
                <td>68%</td>
                <td>7%</td>
                <td></td>
            </tr>
            <tr>
                <td>65%</td>
                <td>13%</td>
                <td></td>
            </tr>
            <tr>
                <td>63%</td>
                <td>18%</td>
                <td></td>
            </tr>
            <tr>
                <td>60%</td>
                <td>24%</td>
                <td></td>
            </tr>
            <tr>
                <td>58%</td>
                <td>28%</td>
                <td></td>
            </tr>
            <tr>
                <td>58%</td>
                <td>28%</td>
                <td></td>
            </tr>
            <tr>
                <td>55%</td>
                <td>33%</td>
                <td></td>
            </tr>
            <tr>
                <td>52%</td>
                <td>36%</td>
                <td></td>
            </tr>
            <tr>
                <td>50%</td>
                <td>39%</td>
                <td></td>
            </tr>
            <tr>
                <td>48%</td>
                <td>42%</td>
                <td></td>
            </tr>
            <tr>
                <td>45%</td>
                <td>45%</td>
                <td></td>
            </tr>
            <tr>
                <td>42%</td>
                <td>48%</td>
                <td></td>
            </tr>
            <tr>
                <td>40%</td>
                <td>50%</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>-->

<div class="modal fade" id="_statusModal_" style="height:auto;">
    <div class="modal-content">
        <div class="modal-body_pricing">
            <h3 style="font-size:18px; padding:0 5px">This chart provides the recommended discount/mark-up to apply to you pricing rule(s) to achieve  a desired Gross Profit Margin.</h3>
            <table class="table table-bordered" style="text-align:center; margin-bottom:0 !important;">
                <thead style="background:#3e7d8a;">
                    <tr style="text-align:center;">
                        <th style="text-align:center;">Margin</th>
                        <th>Discount</th>
                        <th>Mark Up</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>75%</td>
                        <td></td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td>73%</td>
                        <td></td>
                        <td>12%</td>
                    </tr>
                    <tr>
                        <td>70%</td>
                        <td>n/a</td>
                        <td>n/a</td>
                    </tr>
                    <tr>
                        <td>68%</td>
                        <td>7%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>65%</td>
                        <td>13%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>63%</td>
                        <td>18%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>60%</td>
                        <td>24%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>58%</td>
                        <td>28%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>55%</td>
                        <td>33%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>52%</td>
                        <td>36%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>50%</td>
                        <td>39%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>48%</td>
                        <td>42%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>45%</td>
                        <td>45%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>42%</td>
                        <td>48%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>40%</td>
                        <td>50%</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="tp-measurementsearch row no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-12 col-lg-12 col-xs-12 no-padding">
            <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <input ng-disabled="searchBoxEnable" ng-keyup="AdvPricingGridSearch()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
            </div>
            <div class="col-xs-2 col-sm-2 measurement_search no-padding">
                <input type="button" id="btnReset" ng-click="AdvPricingSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
            </div>
            <div class="col-xs-8 col-sm-8 newrow_search">
                <input ng-show="Permission.EditAdvancedPricing" type="button" class="k-button btn cancel_but tpm_but" ng-click="addNewPricing()" onclick="return false;" value="Add Pricing Rule" />
            </div>
        </div>
    </div>
</script>
<script>

    var $helppopup = $("#helppopup"),
    $helppopupClose = $("#helppopupAnc");

    $helppopup.on("shown.bs.modal", function () {
        document.activeElement.blur();
        $helppopupClose.focus();
    });

    var $Modal2 = $("#Model2"),
    $Modal2Close = $("#Model2Anc");

    $Modal2.on("shown.bs.modal", function () {
        document.activeElement.blur();
        $Modal2Close.focus();
    });

    var $Modal1 = $("#Model1"),
   $Modal1Close = $("#Model1Anc");

    $Modal1.on("shown.bs.modal", function () {
        document.activeElement.blur();
        $Modal1Close.focus();
    });
</script>
<!---- dropdown ---->
<script>
    //var addClass = function (el, className) {
    //        if (el.classList) {
    //            el.classList.add(className);
    //        } else {
    //            el.className += ' ' + className;
    //        }
    //    },
    //    hasClass = function (el, className) {
    //        return el.classList ?
    //            el.classList.contains(className) :
    //            new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);
    //    },
    //    removeClass = function (el, className) {
    //        if (el.classList) {
    //            el.classList.remove(className);
    //        } else {
    //            el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
    //        }
    //    },
    //    updateSelectPlaceholderClass = function (el) {
    //        if (el.selectedIndex > 0) {
    //            var opt = el.options[el.selectedIndex];
    //            if (hasClass(opt, "placeholder")) {
    //                addClass(el, "placeholder");
    //            } else {
    //                removeClass(el, "placeholder");
    //            }
    //        }

    //    },
    //    selectList = document.querySelectorAll("select");
    ////Simulate placeholder text for Select box
    //
    //for (var i = 0; i < selectList.length; i++) {
    //    var el = selectList[i];
    //    updateSelectPlaceholderClass(el);
    //    el.addEventListener("change", function () {
    //        updateSelectPlaceholderClass(this);
    //    });
    //}
</script>

<style type="text/css">
    #loading {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: rgba(100,100,100,0.8);
        z-index: 9999;
    }

        #loading span {
            display: block;
            width: 100%;
            position: fixed;
            top: 50%;
            margin-top: -5%;
            font-size: 4em;
            font-weight: bold;
            color: white;
            text-shadow: 0 0 0.25em #222;
            text-align: center;
        }

    .k-grid-content {
        /*min-height: 0px !important;*/
    }

    .k-input.k-invalid {
        border: 1px solid red !important;
    }

    .k-widget > span.k-invalid,
    input.k-invalid {
        border: 1px solid red !important;
    }
    /*.k-tooltip-validation { visibility: hidden; }*/
    .k-widget.k-tooltip-validation {
        display: none !important;
    }
</style>