﻿<!--TODO this should be define in Layout page-->
<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/listDocuments">General</a></li>
                        <li class="active"><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->

    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <div class="tab_container">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li rel="tab5">
                    <a href="#!/vendors">
                        <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Vendors</h3>
                    </a>
                </li>
                <li rel="tab6">
                    <a href="#!/productSearch">
                        <h3><i class="far fa-dolly-flatbed-alt fa_icon"></i><br />Products/Services</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7" style="width: auto !important;">
                    <a href="#!/pricingSettings">
                        <h3><i class="far fa-usd-square fa_icon"></i><br />Pricing Management</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/procurement">
                        <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/buyerremorse">
                        <h3><i class="fa fa-cogs fa_icon"></i><br />Sale Settings</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/TaxSettings">
                        <h3><i class="fas fa-landmark fa_icon"></i><br />Tax Settings</h3>
                    </a>
                </li>
            </ul>
            <div class="leaddetail_butns" ng-show="Permission.AddFranchisePricing">
                <ul class="orderlist_box">
                    <li><div ng-if="editMode==false">
                        <button type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Edit" ng-click="EditPricing()">
                            <i class="far fa-pen fa_icon"></i>
                        </button>
                    </div></li>
                    <li><div ng-if="editMode==true">
                        <button type="button" ng-click="onPricingCancel()" style="margin-right:10px;" data-tooltip="Cancel" class="tooltip-bottom hfc_bgbut" ng-disabled="IsBusy"> <i class="far fa-times-circle fa_icon"></i></button>
                        <button type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="saveFranchiseLevelPricing()"><i class="far fa-check-circle fa_icon"></i></button>
                    </div></li>
                    <li><div hfc-statuses-overlay1> 
                        <button type="button" ng-click="bringTooltipPopup()" class="tooltip-bottom hfc_bgbut"><i class="far fa-question-circle"></i></button>
                        <!--<div class="statusCanvas" style="width:600px !important; height:620px; margin-right:30px;"></div>-->
                        <div class="statusCanvas" style="margin-right:30px; height:auto; width:700px !important;"></div>
                    </div></li>
                    <!--<a href="" ng-click="saveFranchiseLevelPricing()" title="Apply"><i class="fa fa-check fa-class"></i></a>-->
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tab_container tp_content">
            <div class="p-3">
                <h5 class="mb-3">Franchise Level Price Settings</h5>
                <div class="row">
                  <div class="col-sm-12" ng-show="Permission.DisplayAdvancedPricing">
                    <a href="#!/advancedpricingSettings" class="btn btn-primary cancel_but float-right mb-3">Advanced Settings</a>
                  </div>
                </div>
                <form id="crm-lead-detail" name="formfranchisepricing" unsaved-warning-form>
                    <!--// confirm-on-exit-->
                    <!-- Access error message div -->
                    <div class="error error_msg" ng-show="!Permission.DisplayFranchisePricing">
                        You don't have permission to this page.
                    </div>
                    <div ng-show="Permission.DisplayFranchisePricing">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1 no-padding">
                                <div class="row ml-0 mr-0 form-group" ng-class="{true: 'has-error'}[PricingSubmitted && formfranchisepricing.markup.$invalid]">
                                        <label id="Terms" class="col-sm-3 col-3 required_label">Mark Up</label>
                                        <div class="col-sm-9 col-9">
                                            <input id="markup" ng-disabled="editMode==false" type="number" name="markup" class="form-control frm_controllead1 required_field" placeholder="Required"
                                                   required ng-cloak ng-model="Pricing.MarkUp">
                                        </div>
                                </div>
                                <div class="row state_field form-group ml-0 mr-0">
                                    <label id="Credit" class="col-sm-3 col-3 required_label">Pricing Rounding Option</label>
                                    <div class="col-sm-9 col-9">
                                        <select ng-disabled="editMode==false"  class="form-control frm_controllead1" ng-model="Pricing.PriceRoundingOpt" id="ddlrounding">
                                            <option value="">None</option>
                                            <option value="WD">Whole Dollar Rounding</option>
                                            <option value="5">5 Dollar Rounding</option>
                                            <option value="10">10 Dollar Rounding</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1 no-padding">
                                <div class="row state_field form-group ml-0 mr-0" ng-class="{true: 'has-error'}[PricingSubmitted && formfranchisepricing.markupfactor.$invalid]">
                                        <label id="Credit" class="col-sm-3 col-3 required_label">Factor</label>
                                        <div class="col-sm-9 col-9">
                                            <select ng-disabled="editMode==false" class="form-control frm_controllead1" name="markupfactor" ng-model="Pricing.MarkUpFactor" id="ddlmarkupfactor">
                                                <option value="%">%</option>
                                                <option value="$">$</option>
                                            </select>
                                        </div>
                                </div>
                                <div class="row ml-0 mr-0">
                                    <label id="Terms" class="col-sm-3 col-3 text_detlabel">Description</label>
                                    <div class="col-sm-9 col-9">
                                        <label class="ldet_label text-danger" ng-if="Pricing.PriceRoundingOpt == null || Pricing.PriceRoundingOpt ==''">No Rounding</label>
                                        <label class="ldet_label text-danger" ng-if="Pricing.PriceRoundingOpt == 'WD'">Price will be rounded up to the next dollar.</label>
                                        <label class="det_label text-danger" ng-if="Pricing.PriceRoundingOpt == '5'">Price will be rounded up to the next $5 multiple ($5, $10, $15, etc.)</label>
                                        <label class="det_label text-danger" ng-if="Pricing.PriceRoundingOpt == '10'">Price will be rounded up to the next $10 multiple ($10, $20, $30, etc.)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--<div ng-show="Permission.DisplayAdvancedPricing" class="col-12 col-sm-12 col-lg-6 col-xl-6">
                    <a href="#!/advancedpricingSettings" class="btn btn-primary cancel_but" style="float: right;">Advanced Settings</a>
                </div>-->

                <div class="modal fade" id="Model2" data-keyboard="false" data-backdrop="static">
                    <div class="modal-wrapper-container"></div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header popup_head">
                                <h4 class="mx-auto modal-title">Warning</h4>
                            </div>
                            <form role="form" novalidate>
                                <div class="modal-body">
                                    <p>Markup values cannot be greater than 100 or equal to zero</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-cancel" style="background: #3d7d8b !important; color: #fff;" data-dismiss="modal">OK</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="_statusModal_" style="height:auto;">
    <div class="modal-content">
        <div class="modal-header popup_head p-1">
            <h4></h4>
            <button type="button" class="close popup_close" onclick="$('.statusCanvas').hide()" id="ipadtooltipclosebutton" >&times;</button>
            <!--<h4 class="modal-title"> MPO/ VPO Statuses</h4>-->
            <!--<button type="button" class="close" data-dismiss="modal"> <i class='fa fa-times'></i> </button>
            <button class="close modalMinimize"> <i class='fa fa-minus'></i> </button>-->
        </div>
        <div class="popup_procurement">
            <div class="modal-body_pricing px-2">
                <p>The Basic Pricing Strategy Rule provides a tool to increase your profit margins</p>
                <p>Here you can apply Franchise Level Mark-Ups and Rounding Options</p>
                <p>Franchise Level Mark-Up:</p>
                <p>A Dollor or Percent mark-up will be applied to all products company wide.</p>
                <p>Example: All products will be marked up 20% from base resale price</p>
                <p>Price Rounding Option:</p>
                <p>Selecting a Price Rounding Option will round the base resale price up before a mark-up(or discount) is applied.</p>
                <p>None: No Rounding</p>
                <p>Whole Dollar Rounding: Price will be rounded up to the next dollar.</p>
                <p>Example: $78.85 &rarr; $80.00, $52.60 &rarr; $53.00</p>
                <p>5 Dollar Rounding: Price will be rounded up to next $5 multiple ($5, $10, $15, etc)</p>
                <p>Example: $78.85 &rarr; $80.00, $52.60 &rarr; $55.00</p>
                <p>10 Dollar Rounding: Price will be rounded up to next $10 multiple ($10, $20, $30, etc)</p>
                <p>Example: $78.85 &rarr; $80.00, $52.60 &rarr; $60.00</p>
            </div>
        </div>
        <div class="modal-footer" style="text-align:center; border-top:0 !important;">
            <button type="submit" class="btn btn-primary tery_sm1" onclick="$('.statusCanvas').hide()">OK</button>
        </div>
    </div>
</div>