.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color:#1e90ff;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width:100%;
    
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top:0px;
    background-color:#edecec;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color:#1e90ff;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}
span.highlight {
        padding: 0 !important;
    margin-bottom: 0 !important;
    background-color: #f7f7f900 !important;
    border:none !important;
    border-radius:0 !important;
    color:red !important;
}
input#autocomp__value {
    height: 26px;
}