treecontrol {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* default */
    font-family: verdana, helvetica ;
    font-size:17px;
    color: #555;

}

treecontrol ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}

treecontrol li {
    position: relative;
    padding: 3px 3px 3px 23px;
    line-height: 25px;
}

treecontrol li.tree-expanded i.tree-leaf-head, treecontrol li.tree-collapsed i.tree-leaf-head {display:none;}
treecontrol li.tree-expanded i.tree-branch-head, treecontrol li.tree-collapsed i.tree-branch-head {display:inline;}
treecontrol li.tree-leaf i.tree-branch-head {display:none;}
treecontrol li.tree-leaf i.tree-leaf-head {display:inline;}

treecontrol li i {cursor: pointer;}

treecontrol li .tree-label {
    cursor: pointer;
    display: inline;
}
treecontrol.tree-classic li.tree-expanded i {
    padding: 1px 10px;
    background-image: url("/content/images/glyphicons-halflings.png");
    background-position: -408px -120px;
    background-repeat: no-repeat;
}

treecontrol.tree-classic li.tree-collapsed i {
    padding: 1px 10px;
    background-image: url("/content/images/glyphicons-halflings.png");
    background-position: -384px -120px;
    background-repeat: no-repeat;
}

treecontrol.tree-classic li.tree-leaf i {
    padding: 1px 10px;
    background-image: url("/content/images/glyphicons-halflings.png");
    background-position: -48px -115px;
    background-repeat: no-repeat;

}

/*treecontrol.tree-classic li .tree-selected {
    background-color: #d7b8f2;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
}*/


treecontrol.tree-light li.tree-expanded i {
    padding: 1px 10px;
    background: url("/content/images/node-opened-2.png") no-repeat;
}

treecontrol.tree-light li.tree-collapsed i {
    padding: 1px 10px;
    background: url("/content/images/node-closed-2.png") no-repeat;
}

treecontrol.tree-light li.tree-leaf i {
    padding: 1px 10px;
    width: 16px; height: 16px;
    background: none no-repeat;
}

treecontrol.tree-light li .tree-selected {
    font-weight: bold;
}

treecontrol.tree-dark li.tree-expanded i {
    padding: 1px 10px;
    background-image: url("/content/images/glyphicons-halflings.png");
    background-position: -48px -120px;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 14px;
}

treecontrol.tree-dark li.tree-collapsed i {
    padding: 1px 10px;
    background: url("/content/images/node-closed-light.png") no-repeat;
}
treecontrol.tree-dark li.tree-leaf i {
    padding: 1px 10px;
    width: 16px; height: 16px;
    background: none no-repeat;
}
treecontrol.tree-dark li .tree-selected {
    font-weight: bold;
}
treecontrol.tree-dark {
    color: #ddd;
}