﻿<style>
    .activeLi {
        background-color: #3d6473 !important;
        color: #fff !important;
    }
    .statusCanvas .modal-content .popup_procurement {
        padding: 0px 15px;
        text-align: left;
    }

    .btn.focus, .btn:focus {
        box-shadow: none !important;
    }

    ul.tabs1 li {
        padding: 9px 0 5px 0px;
    }

    ul.reportdrop_menu {
        width: 160px;
    }

        ul.reportdrop_menu li {
            padding: 9px 0 5px 0px !important;
            /*text-align: center !important;*/
        }

            ul.reportdrop_menu li a {
                padding: 2px !important;
                padding-left:21px !important;
            }

    ul.tabs1.reports_hfcbtmnav {
        width: 75% !important;
    }

    .potab {
        padding: 17px 0px 5px 0px !important;
    }    
    .k-footer-template td {
        background-color: #cacaca !important;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .card {
        margin: 15px 0px 15px 0px;
        padding: 5px 0px 10px 5px;
        border-width: 1px;
        border-style: solid;
        border-color: inherit;
        touch-action: none;
        font-style: normal;
        font-size: 13px;
        min-height: 100px;
        max-height: 250px;
        overflow: scroll;
    }

    .k-grid-content.k-auto-scrollable {
        height: 100% !important;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .table > tbody > tr > td {
        border-right: 1px solid;
        width: 50% !important;
    }

    .table thead th {
        border-bottom: 1px solid #3c3838 !important;
        border-top: 1px solid #3c3838 !important;
    }

    .statusCanvas {
        height: auto !important;
    }

    .popup_shipNotice {
        text-align: left;
        padding: 5px;
    }

        .popup_shipNotice p {
            margin: 5px 0;
            font-size: 12px;
        }

    .k-panelbar .k-content {
        background-color: #ededed;
    }

    span.k-icon.k-i-arrow-60-down.k-panelbar-expand, span.k-icon.k-panelbar-expand.k-i-arrow-60-down {
        display: none;
    }

    span .k-icon .k-i-arrow-60-up .k-panelbar-collapse {
        display: none;
    }

    span.k-icon.k-panelbar-expand.k-i-arrow-60-down {
        display: none;
    }

    .k-checkbox-label {
        outline: none !important;
    }

        /*.k-checkbox-label:after {
            background: #3d7d8b !important;
            border: 1px solid #3d7d8b !important;
            color: #fff !important;
            outline: none !important;
        }*/

        .k-checkbox-label:before {
            border: 1px solid #b2bfca !important;
        }    
    .k-link .k-header {
        height: 40px;
    }

    /*.VirtualTextBox {
        border: 1px solid #afaaaa;
        width: 100% !important;
        text-align: center;
        min-height: 28px;
        border-radius: 4px;
        background-color: #ffffff;
        color: #000 !important;
    }*/

    li.k-button {
        background-color: #ffffff !important;
        color: #515967 !important;
        text-align: left !important;
    }

    span.k-select {
        background-color: #ffffff !important;
        color: #515967 !important;
    }

    .k-multiselect-clearable .k-multiselect-wrap {
        padding-right: 0 !important;
    }

    span.k-select:hover {
        background-color: #ffffff !important;
        color: #515967 !important;
    }

    .k-state-selected {
        color: #515967 !important;       
    }
    /*.k-picker-wrap .k-input {
        background: #eeeeee57 !important;
    }*/
</style>
<div class="outter-wp">
    <section class="my_sub_header_1">
        <nav class="navbar navbar-expand-md navbar-light bg-light my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/gear-multiple.png">Operations</a>
                    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-1 custom_nav">
                        <li><a href="#!/procurementboard">Procurement Dashboard</a></li>
                        <!--<li><a href="#!/purchase">Purchase Orders</a></li>-->
                        <li class="active"><a href="#!/shipnotices">Shipment</a></li>
                        <!--<li><a href="#!/procurementboard">Procurement Dashboard</a></li>-->
                    </ul>
                    <ul class="form-inline mr-2 custom-nav_icons">
                        <li>
                            <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Print" ng-disabled="IsBusy"
                                    ng-click="PrintShipnotice()">
                                <i class="far fa-print task_icon"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>


    <div class="tab_container tp_content">
        <div class="error error_msg" ng-show="!(Permission.ViewShipNotice)" style="margin-top:30px;">
            You don't have permission to this page.
        </div>
        <div class="panel-body" ng-show="Permission.ViewShipNotice">
            <div class="modal fade" id="_statusModal_" style="height:auto;">
                <!--<div class="modal-dialog aditional_adrespopup">-->

                <div class="modal-content">
                    <div class="modal-header popup_head" style="padding:5px;">
                        <h4 class="mx-auto modal-title"> Ship Notice Statuses</h4>
                        <button type="button" class="close popup_close" data-dismiss="modal" aria-label="Close" onclick="$('.statusCanvas').hide()" id="ipadtooltipclosebutton"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="popup_shipNotice">
                        <p>Shipped Via: Freight or Carrier Name</p>
                        <p>Routing: How a Shipment was sent(Example:Ground)</p>
                        <p>UoM: Unit of Measure</p>
                        <div class="row">
                            <div class="col-2" style="max-width: 12%;padding:3px 15px 0px 19px">
                                <i class="far fa-dolly-flatbed fa_icon" aria-hidden="true"></i>
                            </div>
                            <div><p><b> Receive -</b>&nbsp;Product in shipment is ok and ready to installation</p></div>
                        </div>
                        <div class="row">
                            <div class="col-2" style="max-width: 12%;padding:5px 15px 0px 21px">
                                <i class="far fa-box-fragile fa_icon" aria-hidden="true"></i>
                            </div>
                            <div><p><b> Damaged -</b>&nbsp;Product in shipment has been delivered damaged</p></div>
                        </div>
                        <div class="row">
                            <div class="col-2" style="max-width: 12%;padding:10px 15px 0px 19px">
                                <i class="far fa-box-full fa_icon" aria-hidden="true"></i>
                            </div>
                            <div><p><b> Mis-Shipped -</b>&nbsp;Product in shipment does not match product <br>specifications on purchase order</p></div>
                        </div>
                        <div class="row">
                            <div class="col-2" style="max-width: 12%;padding:10px 15px 0px 19px">
                                <i class="far fa-box-open fa_icon" aria-hidden="true"></i>
                            </div>
                            <div><p><b> Short Shipped -</b>&nbsp;Product in shipment is missing or does <br>not match the QTY on purchase order</p></div>
                        </div>
                        <div class="row">
                            <div class="col-2" style="max-width: 12%;padding-left:23px;">
                                <i class="far fa-trash-alt fa_icon" aria-hidden="true"></i>
                            </div>
                            <div><p>Clear Line Staus</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <form id="crm-form-detail" name="formShipNotice">
                    <div class="lead_stab" style="top:80px; height:48px;">
                        <ul class="menu flex tabs1 reports_hfcbtmnav">
                            <li rel="tab7" class="potab">
                                <a href="#!/purchasemasterview/{{ShippingNotice.PurchaseOrderId}}">
                                    <h3>Purchase Order</h3>
                                </a>
                            </li>
                            <li rel="tab7" ng-if="MPORelatedIds.VendorAckIds.length>0">
                                <button type="button" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">PO Acknowledgement<span class="caret"></span></button>
                                <ul class="dropdown-menu reportdrop_menu" role="menu">
                                    <li ng-repeat="option in MPORelatedIds.VendorAckIds">
                                        <a href="#!/vendorAck/{{option.PurchaseOrderId}}/{{option.vendorReference}}">
                                            {{option.vendorReference}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li rel="tab7" ng-if="MPORelatedIds.ShipmentIds.length>0">
                                <button type="button" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">Shipment Notice <span class="caret"></span></button>
                                <ul class="dropdown-menu reportdrop_menu" role="menu" id="submenu-dropdown">
                                    <li ng-repeat="option in MPORelatedIds.ShipmentIds">
                                        <a href="#!/shipnotices/{{option.ShipNoticeId}}">
                                            {{option.ShipmentId}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li rel="tab7" ng-if="MPORelatedIds.VendorInvoiceIds.length>0">
                                <button type="button" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">Vendor Invoice <span class="caret"></span></button>
                                <ul class="dropdown-menu reportdrop_menu" role="menu">
                                    <li ng-repeat="option in MPORelatedIds.VendorInvoiceIds">
                                        <a href="#!/vendorinvoice/{{option.InvoiceNumber}}">
                                            {{option.InvoiceNumber}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="leaddetail_butns">
                            <ul class="orderlist_box">
                                <li>
                                    <button ng-show="EditMode==false && Permission.ShipNoticeEdit==true" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Edit" ng-click="EditShipNotice()">
                                        <i class="far fa-pen fa_icon"></i>
                                    </button>
                                </li>
                                <li><button ng-show="EditMode==true && Permission.ShipNoticeEdit==true" class="tooltip-bottom hfc_bgbut" ng-click="cancelEditgrid()" data-tooltip="Cancel"><i class="far fa-times-circle fa_icon"></i></button></li>
                                <li><button ng-show="EditMode==true && Permission.ShipNoticeEdit==true" class="tooltip-bottom hfc_bgbut" ng-click="SaveShipNotice()" data-tooltip="Save"><i class="far fa-check-circle fa_icon"></i></button></li>
                                <li>
                                    <div hfc-statuses-overlay>
                                        <button type="button" ng-click="bringTooltipPopup()" class="tooltip-bottom hfc_bgbut"><i class="far fa-question-circle fa_icon"></i></button>
                                        <div class="statusCanvas"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="clearfix"> </div>
                    </div>



                    <!--{{ShippingNotice}}-->


                    <div class="leadgrid_box">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-3 ">
                                <div>
                                    <table class="table table-striped shipNotice_table" style="border:1px solid #000;">
                                         
                                        <thead>
                                             
                                            <tr style="background:#d2d2d2; border-top:1px solid; border-bottom:1px solid">
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Shipped From</td>
                                                <td class="rightquote_table"><label class="ldet_label">{{ShippingNotice.VendorName}}</label></td>
                                            </tr>
                                            <tr>
                                                <td>Shippment Id</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.ShipmentId}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Date Shipped</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.ShippedDate|GlobalTime:'shortDate'}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Est.Delivery Date</td>
                                                <td class="rightquote_table"><label class="ldet_label">{{ShippingNotice.EstDeliveryDate|GlobalTime:'shortDate'}}</label></td>
                                            </tr>
                                            <tr>
                                                <td>Shipped Via</td>
                                                <td class="rightquote_table"><label class="ldet_label">{{ShippingNotice.ShippedViaTP}}</label></td>
                                            </tr>
                                            <tr>
                                                <td>Tracking Info</td>
                                                <td class="rightquote_table">                                                   
                                                    <span ng-repeat="option in ShippingNotice.TrackingList" style="cursor:pointer">
                                                        <a ng-if="option.Value && option.Key" href='{{option.Value}}' target="_blank" style='color: rgb(61, 125, 139);'><span>{{option.Key}}</span></a>
                                                        <label ng-if="!option.Value && option.Key" class="ldet_label ng-binding">{{option.Key}}</label>
                                                        <label ng-if="!option.Key && option.Value" class="ldet_label ng-binding">{{option.Value}}</label>
                                                        <span style="color:#000;padding:0 2px;" ng-if="ShippingNotice.TrackingList.length-1!=$index">,</span>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Routing</td>
                                                <td class="rightquote_table"><label class="ldet_label">{{ShippingNotice.Routing}}</label></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <table class="table table-striped shipNotice_table" style="border:1px solid #000;">
                                        <thead>
                                            <tr style="background:#d2d2d2; border-top:1px solid; border-bottom:1px solid">
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>VPO/x-VPO</td>
                                                <td class="rightquote_table"><label class="ldet_label"><a href='#!/purchasemasterview/{{ShippingNotice.PurchaseOrderId}}' style='color: rgb(61, 125, 139);'><span>{{ShippingNotice.MasterPONumber}}</span></a></label></td>
                                            </tr>
                                            <tr>
                                                <td>Shipped To</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.ShiptoAccount}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Shipped To Address</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.ShippedTo}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>BOL</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.BOL}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> Total QTY Shipped </td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.TotalQuantityShipped}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> Total Boxes Shipped </td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.TotalBoxesTP}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Total Weight</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.Weight}}</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div>
                                    <table class="table table-striped shipNotice_table" style="border:1px solid #000;">
                                        <thead>
                                            <tr style="background:#d2d2d2; border-top:1px solid; border-bottom:1px solid">
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Status</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">
                                                        {{ShippingNotice.Status}}<i ng-hide="ShippingNotice.Status=='Received in Full' ||ShippingNotice.Status=='Open' " class="fa fa-exclamation-triangle" style="color:red; padding-left:5px">
                                                        </i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Total Qty Received</td>
                                                <td class="rightquote_table"> <label class="ldet_label">{{ShippingNotice.TotalQuantityReceived}}</label></td>
                                            </tr>
                                            <tr>
                                                <td>QTY Short Shipped</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.TotalQuantityShortShipped}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>QTY Damaged</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.TotalQuantityDamaged}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>QTY Mis-Shipped</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.TotalQuantityMisShipped}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Case ID</td>
                                                <td class="rightquote_table">
                                                    <label class="ldet_label">{{ShippingNotice.CaseID}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Remake Ref</td>
                                                <td class="rightquote_table">
                                                    <input type="text" id="RemakeRef" ng-model="ShippingNotice.RemakeReference" ng-disabled="EditMode==false" style="width:100%" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>

                    <div class="leadgrid_box" style="padding-bottom:40px">
                        <ul kendo-panel-bar id="panelbar">
                            <li id="ShiplinePanelbar" class="k-item k-state-default k-first k-state-highlight k-state-active" role="menuitem" aria-expanded="true" aria-selected="true" style="width:100% !important;">
                                <span style="height:30px!important"></span>
                                <div class="table-responsive">

                                    <kendo-tooltip options="tooltipOptions">

                                        <kendo-grid id="ShippingNotesGrid"
                                                    options="ShipLinesOptions"
                                                    style="margin-bottom:40px !important;"
                                                    tooltip-options="tooltipOptions">
                                        </kendo-grid>
                                    </kendo-tooltip>
                                </div>
                            </li>
                            <li id="AuditTrailPanelbar" class="k-item k-state-default k-first k-state-highlight k-state-active" role="menuitem" aria-expanded="true" aria-selected="true" style="width:100% !important;">
                                <i class="fa fa-clock-o"></i> <span style="padding-left:10px;"> Audit Trail</span>
                                <div class="card">
                                    <ul>
                                        <li ng-repeat="x in ShippingNotice.AuditTrial" style="color:red;border-bottom:none !important ">{{x}}</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                </form>
            </div>
        </div>
        </div>
    </div>
<script id="toolbarTemplate" type="text/x-kendo-template">
    <div class="row lt-rt_margin" style="padding-top:15px;padding-bottom:10px;">
        <div class="col-sm-3" style="text-align:left">
            <label class="text_detlabel">Checked-In By:</label>
            <label class="ldet_label">{{ShippingNotice.UpdatedByUserName}}</label>
        </div>       
        <div class="col-sm-6 row ">
            <label class="col-sm-3 text_detlabel">Checked-In Date:</label>
            <div class="col-sm-3">
                <input kendo-date-picker ng-model="ShippingNotice.CheckedinDate" ng-change="ValidateDate(ShippingNotice.CheckedinDate)" ng-keydown="PreventKeypress($event)" ng-disabled="EditMode==false" class="k-input ng-not-empty ng-valid kendo-date-picker-date" ng-required="false" style=" height: 28px; width:150px !important; padding-top:-10px;border:1px solid #a59f9f;" type="text" name="Start" id="CheckedinDate" data-date-format="MM/dd/yyyy" data-autoclose="true" data-role="datepicker" role="combobox" aria-expanded="false" aria-disabled="false">
            </div>
        </div>               
        <div class="col-sm-3">
            <!--<div class="lead_butns mr-1">
                <button type="button" class="tooltip-bottom cancel_tpbut ng-scope" data-tooltip="Create Case" ng-click="CreateCaseForSelectedLines()"><i class="far fa-radiation-alt fa_icon" aria-hidden="true"></i></button>
            </div>-->
            <div class="lead_butns mr-1">
                <button type="button" class="tooltip-bottom cancel_tpbut ng-scope" data-tooltip="Clear Status" ng-click="UpdateStatusForSelectedLines('Remove')"><i class="far fa-trash-alt fa_icon" aria-hidden="true"></i></button>
            </div>
            <div class="lead_butns mr-1">
                <button type="button" class="cancel_tpbut tooltip-bottom" data-tooltip="Short Shipped" ng-click="UpdateStatusForSelectedLines('Short Shipped')">
                    <i class="far fa-box-open fa_icon"></i>
                </button>
            </div>
            <div class="lead_butns mr-1">
                <button type="button" class="tooltip-bottom cancel_tpbut ng-scope" data-tooltip="Mis-Shipped" ng-click="UpdateStatusForSelectedLines('Mis-Shipped')">
                    <i class="far fa-box-full fa_icon" aria-hidden="true"></i>
                </button>
            </div>
            <div class="lead_butns mr-1">
                <button type="button" class="tooltip-bottom cancel_tpbut ng-scope" data-tooltip="Damaged" ng-click="UpdateStatusForSelectedLines('Damaged')">
                    <i class="far fa-box-fragile fa_icon" aria-hidden="true"></i>
                </button>
            </div>
            <div class="lead_butns mr-1">
                <button type="button" class="tooltip-bottom cancel_tpbut ng-scope" data-tooltip="Receive" ng-click="UpdateStatusForSelectedLines('Received')">
                    <i class="far fa-dolly-flatbed fa_icon" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
</script>
<script type="text/javascript">
    $("#panelbar").kendoPanelBar();
    var panelBar = $("#panelbar").data("kendoPanelBar");
    panelBar.expand($("#quotelistPanel"));
</script>
<!--<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>-->
