﻿<style>
    #ProcurementboardGrid .k-grid-content.k-auto-scrollable{
        overflow-x:scroll !important;
    }
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    /*.k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
    .statusCanvas {
        height: auto !important;
    }
    .popup_procurement {
    text-align: left;
    padding: 5px;
}
.popup_procurement p{
    margin:5px 0;
    font-size:12px;
}
.k-multicheck-wrap {
    max-height:150px;
}
 .k-i-loading {
        display: none;
    }
    #procurement_vendorname-list .k-list-scroller{
        max-height: 131px !important;
    }*/
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    .statusCanvas {
        height: auto !important;
    }

    .popup_procurement {
        text-align: left;
        padding: 5px;
    }

        .popup_procurement p {
            margin: 5px 0;
            font-size: 12px;
        }

    .k-multicheck-wrap {
        max-height: 150px;
    }

    .k-i-loading {
        display: none;
    }

    #procurement_vendorname-list .k-list-scroller {
        max-height: 131px !important;
    }
</style>
<div class="outter-wp">
    <div class="lead_stab">
        <!--<div class="franchisenew_icon" style="margin:9px 0 0 0;">
            <button type="button" class="plus_but tooltip-bottom" data-tooltip="Need Some Help...Enable Tool Tips" ng-click="ActiveHelp()"><i class="far fa-question-circle"></i></button>
        </div>-->
        <div class="leaddetail_butns" hfc-statuses-overlay2>
            <ul class="orderlist_box">
                <li>
                    <button type="button" ng-click="bringTooltipPopup()" class="plus_but tooltip-bottom"><i class="far fa-question-circle"></i></button>
                    <div class="statusCanvas"></div>
                </li>
            </ul>
        </div>
        <div class="modal fade" id="_statusModal_" style="height:auto;">
            <!--<div class="modal-dialog aditional_adrespopup">-->
            <div class="modal-content">
                <div class="modal-header popup_head" style="padding:5px;">
                    <h4 class="mx-auto modal-title">Shipment Statuses</h4>
                    <button type="button" class="close popup_close" data-dismiss="modal" aria-label="Close" onclick="$('.statusCanvas').hide()" id="ipadtooltipclosebutton"><span aria-hidden="true">×</span></button>
                </div>
                <div class="popup_procurement">
                    <p><b>Open -</b> Items have not been received against shipment</p>
                    <p><b>Received Complete -</b> All Products on Shipment has been received</p>
                    <p><b>Received w/ Exceptions - </b> Products received are damaged, incorrect or missing (Short Shipped)</p>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
    <div class="tab_container tp_content">
        <div class="error error_msg" ng-show="Permission.ListShipNotice==false" style="margin-top:30px;">
            You don't have permission to this page.
        </div>
        <div class="panel-body" ng-show="Permission.ListShipNotice==true">
            <!--<div class="row no-margin">
            <div class="col-sm-7"></div>
            <div class="col-sm-5" ng-show="ActiveToolTips==true">
                <h3>Shipment Statuses:</h3>
                <p>Open - Items have not been received against shipment</p>
                <p>Received Complete -  All Products on Shipment has been received</p>
                <p>Received w/ Exceptions - Products received are damaged, incorrect or missing (Short Shipped)</p>
            </div>
        </div>-->
            <div class="p-3">
                <div class="leadgrid_box" id="MenuDiv">
                    <div class="lead_rtop row">
                        <div class="col-xs-12 col-sm-12 col-lg-10 col-xl-10 col_1">
                            <div class="source-group row state_field">
                                <label class="col-sm-2 col-xs-2 required_label">Dashboard Filter:</label>
                                <div class="col-sm-10 col-xs-10">
                                    <span class="custom-dropdown custom-dropdown--white" style="width:300px;">
                                        <select class="custom-dropdown__select custom-dropdown__select--white"
                                                name="Vendor_Name"
                                                ng-model="Procurement.Id"
                                                ng-change="FilterChange(Procurement.Id);"
                                                ng-options="option.Id as option.Name for option in DateTimeDropdown">
                                            <option value="" selected>All</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="source-group row state_field">
                                <label class="col-sm-2 col-xs-2 required_label">Vendor:</label>
                                <div class="col-sm-10 col-xs-10">
                                    <span class="custom-dropdown custom-dropdown--white" style="width:300px;">
                                        <!--<select class="custom-dropdown__select custom-dropdown__select--white"
                                            name="Vendor_Name"
                                            ng-model="Procurement.VendorID"
                                            ng-change="VendorChange(Procurement.VendorID);"
                                            ng-options="option.VendorID as option.Name for option in VendorListName">
                                        <option value="" selected>All</option>
                                    </select>-->
                                        <select id="procurement_vendorname"
                                                name="procurement_vendorname"
                                                kendo-drop-down-list
                                                k-options="procurement_vendorname"
                                                k-ng-model="Procurement.VendorID"
                                                class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                                    </span>
                                </div>
                            </div>

                            <div class="source-group row">
                                <label class="col-sm-2 col-xs-2 text_detlabel">Dashboard View:</label>
                                <div class="col-sm-10 col-xs-10 procurement_tooltip row no-margin">
                                    <div class="col-sm-2 no-padding">
                                        <div class="float-left tooltip-bottom shipping_tooltip" data-tooltip="A Shipment Status is Open when a ship notice has posted to the system but product line item(s) have been received against that shipment"><input type="checkbox" id="Check1" class="option-input checkbox" ng-click="Check()"><label class="ldet_label">Open</label></div>
                                    </div>
                                    <div class="col-sm-4 no-padding shipingrcvd_grid">
                                        <div class="float-left tooltip-bottom shipping_tooltip" data-tooltip="A Shipment Status is Received Complete when all line Item(s) on the shipment have been Received"><input type="checkbox" id="Check2" class="option-input checkbox" ng-click="Check()"><label class="ldet_label">Received Complete</label></div>
                                    </div>
                                    <div class="col-sm-4 no-padding">
                                        <div class="float-left tooltip-bottom shipping_tooltip" data-tooltip="A Shipment Status is Short Shipped when 1 line Item has been set as Incorrect, Damaged or Short Shipped"><input type="checkbox" id="Check3" class="option-input checkbox" ng-click="Check()"><label class="ldet_label">Received w/ Exceptions</label></div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <kendo-tooltip options="tooltipOptions">
                    <kendo-grid id="ProcurementboardGrid"
                                options="ShipmentData"
                                tooltip-options="tooltipOptions">
                    </kendo-grid>
                </kendo-tooltip>
            </div>
        </div>
    </div>
</div>
