﻿<div class="p-3" ng-if="QuoteNoteLineModel==true">
    <div class="leadgrid_box" ng-show="!Quotation.IsOrderpage">
        <div class="lead_rtop row">
            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                <div class="source-group row">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Quote ID</label>
                    <div class="col-sm-9 col-xs-9">
                        <label ng-show="Quotation.QuoteID!=0" class="ldet_label ng-binding">{{Quotation.QuoteID}}</label>
                    </div>
                </div>

                <div class="source-group row">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Quote Name</label>
                    <div class="col-sm-9 col-xs-9">
                        <label ng-show="Quotation.QuoteID!=0" class="ldet_label ng-binding">{{Quotation.QuoteName}}</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 quote-rgrid">
                <div class="source-group row">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Opportunity</label>
                    <div class="col-sm-9 col-xs-9">
                        <label class="ldet_label"><a class="hquote_hover" href="#!/OpportunityDetail/{{Quotation.OpportunityId}}">{{Quotation.OpportunityName}}</a></label>
                    </div>
                </div>
                <div class="source-group row">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Sidemark</label>
                    <div class="col-sm-9 col-xs-9">
                        <label class="ldet_label" href="#!/OpportunityDetail/{{Quotation.OpportunityId}}">{{Quotation.SideMark}}</label>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="leadgrid_box" ng-show="Quotation.IsOrderpage">
        <div class="lead_rtop row">
            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                <div class="source-group row">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Sales Order</label>
                    <div class="col-sm-9 col-xs-9">
                        <label class="ldet_label"><a class="hquote_hover" href="#!/Orders/{{Quotation.OrderID}}">{{Quotation.OrderNumber}}</a></label>
                    </div>
                </div>

                <div class="source-group row">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Quote Name</label>
                    <div class="col-sm-9 col-xs-9">
                        <label class="ldet_label"><a class="hquote_hover" href="#!/quote/{{Quotation.OpportunityId}}/{{Quotation.QuoteKey}}">{{Quotation.QuoteName}}</a></label></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 quote-rgrid">
                <div class="source-group row">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Sidemark</label>
                    <div class="col-sm-9 col-xs-9">
                        <label class="ldet_label">{{Quotation.SideMark}}</label>
                    </div>
                </div>
                <div class="source-group row" ng-if="!OrderPrimaryemail && !OrderAccountPhone">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Opportunity Name</label>
                    <div class="col-sm-9 col-xs-9">
                        <label class="ldet_label"><a class="hquote_hover" href="#!/OpportunityDetail/{{Quotation.OpportunityId}}">{{Quotation.OpportunityName}}</a></label>
                    </div>
                </div>
                <div class="source-group row"  ng-if="OrderPrimaryemail || OrderAccountPhone">
                    <label class="col-sm-3 col-xs-3 text_detlabel">Opportunity Name</label>
                    <div class="col-sm-9 col-xs-9">
                        <label class="ldet_label"><a class="hquote_hover" ng-mouseleave="showTooltip(false)" ng-mouseenter="showTooltip(true)" href="#!/OpportunityDetail/{{Quotation.OpportunityId}}">{{Quotation.OpportunityName}}</a>
                            <custom-tooltip-directive tooltip-email="OrderPrimaryemail" tooltip-phone="OrderAccountPhone" display-flag="tooltipFlag"></custom-tooltip-directive>
                        </label>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div ng-if="QuoteNoteLineModel==true">
    <h5 class="my-3 ml-3">
        Header Level Notes</h5>
        <div class="row no-margin">
            <div class="col-sm-4 text_area">
                <label class="ldet_label">Quote Level Notes</label>
                <div>
                    <textarea name="QuoteLevelNotesComment" ng-model="Quotation.QuoteLevelNotes" form="usrform"></textarea>
                </div>
            </div>
            <div class="col-sm-4 text_area">
                <label class="ldet_label">Order/Invoice Level Notes</label>
                <div>
                    <textarea name="OrderInvoiceLevelNotesComment" ng-model="Quotation.OrderInvoiceLevelNotes" form="usrform"></textarea>
                </div>
            </div>
            <div class="col-sm-4 text_area">
                <label class="ldet_label">Installer Invoice Notes</label>
                <div>
                    <textarea name="InstallerInvoiceNotesComment" ng-model="Quotation.InstallerInvoiceNotes" form="usrform"></textarea>
                </div>
            </div>
        </div>
</div>
<div class="quoteedit_grid ml-3" ng-if="QuoteNoteLineModel==true">
    <h5 class="my-3">
        Line Level Notes</h5>
        <div class="table-responsive" ng-controller="quoteNotesController">
            <!--<kendo-tooltip options="kendotooltipOptions">-->
            <kendo-grid id="QuoteNotelinesGrid" style="margin-bottom:40px" options="quoteNoteLinesOptions"></kendo-grid>
            <!--</kendo-tooltip>-->
        </div>
</div>
