﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }

    .errormob {
        margin-left: 179px;
    }
</style>

<div class="outter-wp">
    <div id="preloader">
        <img src="/images/preloader.gif" />
    </div>
    <div class="landing-wrap">
        <div class="sales"><h3><img class="sale_icon" src="../../../Content/images/Sales-Icon.png" />Sales</h3></div>
        <ul class="tabs landing_tab top_tab">
            <li rel="tab2"><a href="/#!/leadsSearch/"><h3>Leads</h3></a></li>
            <li rel="tab2"><a href="/#!/accountSearch/"><h3>Account</h3></a></li>
            <li class="activelead" rel="tab3"><a href="/#!/opportunitySearch/"><h3>Opportunities</h3></a></li>
            <li class="tab_last"><h3>Orders</h3></li>
        </ul>
        <ul class="lead_ricons pull-right">
            <!--<li><button type="button" class="tooltip-bottom pad_icon" data-tooltip="Remainder" ng-click="PersonService.AddOrEditAppointment('persongo',this)"></button></li>
            <li><button type="button" class="tooltip-bottom note_icon" data-tooltip="New Attachment" ng-disabled="IsBusy" ng-click="PersonService.AddOrEditNotesAttachment('personFile')"></button></li>-->
            <!--<li><button type="button" class="tooltip-bottom print_icon1" data-tooltip="Print" ng-disabled="IsBusy" ng-click="FileprintService.AddOrEdit('fileprint')"></button></li>-->
            <!--<li><button type="button" class="tooltip-bottom post_icon" data-tooltip="Email"></button></li>-->
            <li><button type="button" class="tooltip-bottom blub_icon" data-tooltip="Assistant"></button></li>
        </ul>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container">
        <h3 class="d_active tab_drawer_heading" rel="tab2">Tab 2</h3>
        <div id="tab2" class="tab_content">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6"><a href="#!/Opportunitys/{{opportunity.data.Opportunity.OpportunityId}}"><h3><i class="checklist_icon"></i>Information</h3></a></li>
                    <!--<li rel="tab7"><h3><i class="fa fa-thumbs-o-up user_icon" aria-hidden="true"></i>Qualify</h3></li>-->
                    <li rel="tab7"><h3><i class="measurement_icon"></i>Measurements</h3></li>
                    <li class="activelead1" rel="tab9"><h3><i class="quotes_icon"></i>Quotes</h3></li>
                    <li rel="tab8"><h3><i class="appointment_icon"></i>Appointment</h3></li>
                </ul>
                <div class="lead_butns">
                    <button type="reset" class="btn btn-primary cancel_but" ng-disabled="IsBusy" onclick="javascript:backTOFranchiseList();"> Cancel</button>
                    <button type="submit" class="btn btn-primary cancel_but">Save</button>
                    <button type="submit" class="btn btn-primary cancel_but" ng-click="Newquotepage()">Customer view</button>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="tab_container">
                <h3 class="d_active tab_drawer_heading" rel="tab6">Tab 6</h3>
                <div id="tab6" class="tab_content1">
                    <div class="panel-body">
                        <form id="crm-form-detail" name="formquote" ng-submit="SaveQuote()">
                            <div class="leadgrid_box">
                                <div class="lead_rtop row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                        <div class="form-group row lt-rt_margin">
                                            <label class="col-sm-3 radres_label">Quote ID</label>

                                        </div>

                                        <div class="form-group row lt-rt_margin">
                                            <label class="col-sm-3 required_label">Quote Name<span class="asteriskField">*</span></label>
                                            <div class="col-sm-9 textbox-lmargin">
                                                <label class="addres_label">ABCDEFGHIF</label>
                                            </div>
                                        </div>
                                        <div class="form-group row lt-rt_margin">
                                            <label class="col-sm-3 radres_label">Sales Agent</label>
                                            <div class="col-sm-9 textbox-lmargin">
                                                <label class="addres_label">XYZKKKKKKKKKKKKKKK</label>
                                            </div>
                                        </div>
                                        <div class="form-group row lt-rt_margin">
                                            <label class="col-sm-3 radres_label">Opportunity</label>
                                            <div class="col-sm-9 textbox-lmargin">
                                                <label class="addres_label">KBSLLLLLLLLL</label>
                                            </div>
                                        </div>
                                        <div class="form-radio_group row lt-rt_margin">
                                            <label class="col-sm-3 radres_label">Account Name</label>
                                            <div class="col-sm-9 textbox-lmargin">
                                                <label class="addres_label">RBSJJJ</label>
                                            </div>
                                        </div>
                                        <div class="form-radio_group row lt-rt_margin">
                                            <label class="col-sm-3 radres_label">Installation Address</label>
                                            <div class="col-sm-9 textbox-lmargin">
                                                <label class="addres_label">35, palli hill China town</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_2">

                                        <div class="form-group row state_field">

                                            <div class="row lt-rt_margin">
                                                <label class="col-sm-3 quote_label">Quote Status<span class="asteriskField">*</span></label>
                                                <div class="col-sm-9 dropdown_rmargin">
                                                    <label class="quote-mail">
                                                        <input type="checkbox" class="option-input checkbox" disabled>
                                                        Primary Quote
                                                    </label>
                                                    <div class="col-sm-9 textbox-lmargin">
                                                        <label class="addres_label">Select1</label>
                                                    </div>
                                                    <!--<span class="custom-dropdown custom-dropdown--white">
                                                        <select class="custom-dropdown__select custom-dropdown__select--white" disabled>
                                                            <option ng-value="0">select</option>
                                                            <option ng-value="1">select1</option>
                                                            <option ng-value="2">select2</option>
                                                            <option ng-value="3">select3</option>
                                                        </select>
                                                    </span>-->
                                                </div>
                                            </div>


                                        </div>
                                        <div class="form-group row lt-rt_margin">
                                            <label class="col-sm-3 addres_label">Created On</label>
                                            <div class="col-sm-9 dropdown_rmargin">
                                                <label class="addres_label">11.11.11</label>
                                            </div>
                                        </div>
                                        <div class="form-group row lt-rt_margin">
                                            <label class="col-sm-3 addres_label">Last Updated</label>
                                            <div class="col-sm-9 dropdown_rmargin">
                                                <label class="addres_label">12.12.12</label>
                                            </div>
                                        </div>

                                        <div class="quote_but">
                                            <button type="reset" class="btn cancel_but" ng-disabled="IsBusy" ng-click="selectMeasurements()"> Select Measurements</button>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <!--show more-->
                            <div class="leadexpand_grid">
                                <div style="margin-top: 15px;margin-bottom: 15px;height: 2px; background-color: gray; text-align: left">
                                    <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -0.5em;">
                                        <!--ng-click="DisplayMore = !DisplayMore"-->
                                        &nbsp;&nbsp;
                                    </span>
                                </div>


                                <div class="expand_info">
                                    <!--ng-show="DisplayMore"-->
                                    <div class="leadgrid_box">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                            <div class="form-group row lt-rt_margin">
                                                <label class="col-sm-3 addres_label">Total Charges</label>
                                                <div class="col-sm-9 textbox-lmargin">
                                                    <label class="addres_label">$1200</label>
                                                </div>
                                            </div>
                                            <div class="form-group row lt-rt_margin">
                                                <label class="col-sm-3 addres_label">Discount</label>
                                                <!--<div class="col-sm-9 textbox-lmargin">

                                                </div>-->
                                                <div class="col-sm-9 textbox-lmargin">
                                                    

                                                    <div class="row">
                                                        <div class="col-xs-6 measure-row">
                                                            <input type="text" class="form-control frm_controllead" />
                                                        </div>
                                                        <div class="col-xs-6 measure-row state_field">
                                                            <span class="custom-dropdown custom-dropdown--white">
                                                                <select class="custom-dropdown__select custom-dropdown__select--white">
                                                                    <option>%</option>
                                                                    <option>$</option>

                                                                </select>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group row lt-rt_margin">
                                                <label class="col-sm-3 addres_label">Total Discounts</label>
                                                <div class="col-sm-9 textbox-lmargin">
                                                    <label class="addres_label">$600</label>
                                                </div>
                                            </div>
                                            <div class="form-group row lt-rt_margin">
                                                <label class="col-sm-3 addres_label">Net</label>
                                                <div class="col-sm-9 textbox-lmargin">
                                                    <label class="addres_label">$506</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="expand_info2">
                                        <div style="margin-top: 15px;margin-bottom: 15px; height: 2px; background-color: gray; text-align: left">
                                            <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -0.5em;" ng-click="DisplayMore1 = !DisplayMore1">
                                                &nbsp;Quotes Lines&nbsp;
                                            </span>
                                        </div>
                                        <div class="sub_expand" ng-show="DisplayMore1">
                                            <div class="table-responsive">
                                                <table class="table table-expand">
                                                    <thead class="expand_lhead">
                                                        <tr>

                                                            <th>Line ID</th>
                                                            <th>Room Location</th>
                                                            <th>Room Name</th>
                                                            <th>Product</th>
                                                            <th>Description</th>
                                                            <th>Vendor</th>
                                                            <th>Cost</th>

                                                            <th>Suggested Resale</th>
                                                            <th>Discount</th>
                                                            <th>Calculated Sale Price</th>
                                                            <th>Margin</th>
                                                            <th><button type="button" onclick="return false;" class="plus_but tooltip-bottom" data-tooltip="Add/Configure New Line" ng-disabled="IsBusy" ng-click="selectMeasurements()" aria-hidden="true"><i class="fa fa-plus-square-o"></i></button></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            <td>abc123</td>
                                                            <td>Living Room</td>
                                                            <td>Window 1</td>
                                                            <td>This Product</td>
                                                            <td>More Details about a product</td>
                                                            <td>Springs</td>
                                                            <td>$240</td>

                                                            <td><input type="text" name="discount" class="form-control"></td>
                                                            <td><div class="form-qgroup row lt-rt_margin">
   

  
     
            <div class="col-xs-6 quote-row">
                <input type="text" class="form-control" />
            </div>
            <div class="col-xs-6 quote-row state_field">
                <span class="custom-dropdown custom-dropdown--white">
                    <select class="custom-dropdown__select custom-dropdown__select--white">
                        <option>%</option>
                        <option>$</option>

                    </select>
                </span>
            </div>
      
   

</div></td>
                                                            <td><input type="text" name="csp" class="form-control"></td>
                                                            <td ><input type="text" name="margin" class="form-control"></td>
                                                           
                                                </table>


                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </div>




                        </form>

                    </div>
                </div>

                <hfc-Quote-Form-Go modal-id="quotemodal"></hfc-Quote-Form-Go>

            </div>
            <!---end inner tab-->
        </div>
    </div>


</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>




<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs li").removeClass("activelead");
        $(this).addClass("activelead");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("activelead");
        $("ul.tabs li[rel^='" + d_activeTab + "']").addClass("activelead");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");

    function backTOFranchiseList() {
        history.go(-1);
    }
</script>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content1").hide();
    $(".tab_content2").hide();
    $(".tab_content1:first").show();

    /* if in tab mode */
    $("ul.tabs1 li").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs1 li").removeClass("activelead1");
        $(this).addClass("activelead1");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs1 li").removeClass("activelead1");
        $("ul.tabs1 li[rel^='" + d_activeTab + "']").addClass("activelead1");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");

</script>











