﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
</style>

<div class="outter-wp">
    <div class="landing-wrap">
        <div class="sales"><h3><img class="sale_icon" src="../../../Content/images/Sales-Icon.png" />Sales</h3></div>
        <ul class="tabs landing_tab top_tab">
            <li rel="tab2"><a href="#!/leadsSearch/"><h3>Leads</h3></a></li>
            <li rel="tab2"><a href="#!/accountSearch/"><h3>Accounts</h3></a></li>
            <li class="activelead" rel="tab3"><a href="#!/opportunitySearch/"><h3>Opportunities</h3></a></li>
            <li rel="tab4"><a href="#!/orderSearch/"><h3>Orders</h3></a></li>
        </ul>
        <ul class="lead_ricons pull-right"></ul>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container">
        <div id="tab2" class="tab_content">
            <form id="crm-form-detail" name="formquote" ng-submit="SaveQuote()">
                <!---inner tab--->
                <div class="lead_stab" ng-show="Permission.DisplayQuotes">
                    <ul class="tabs1 landing_tab">
                        <li rel="tab6"><a href="#!/OpportunityDetail/{{opportunity.data.Opportunity.OpportunityId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a></li>
                        <li rel="tab7">
                            <a href="#!/measurementEdits/{{Quotation.AccountId}}/{{Quotation.InstallationAddressId}}">
                                <h3><i class="measurement_icon"></i><br />Measurements</h3>
                            </a>
                        </li>
                        <li rel="tab7">
                            <a href="#!/quoteSearch/{{Opportunity.OpportunityId}}">
                                <h3><i class="quotes_icon"></i><br />Quotes</h3>
                            </a>
                        </li>
                        <li rel="tab8"><h3><i class="appointment_icon"></i><br />Appointment</h3></li>
                    </ul>
                    <div class="leaddetail_butns">
                        <button ng-show="Permission.EditQuotes" type="button" ng-disabled='Quotation.QuoteStatusId==3' class="plus_but tooltip-bottom" data-tooltip="Edit Quote" ng-click="showPopUp('pricemodal')">
                            <i class="far fa-pen vendor_icon"></i>
                        </button>
                        <button type="submit" class="btn customer_but tp-hoverbut" ng-click="Newquotepage()">Customer view</button>
                        <button ng-show="Permission.ConvertOrder" class="plus_but tooltip-bottom" type="button" data-tooltip="Create Sales Order"><i class="fa fa-exchange"></i></button>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="tab_container tp_content" ng-show="Permission.DisplayQuotes">
                    <div id="tab6" class="tab_content1">
                        <div class="p-3">
                            <div class="leadgrid_box">
                                <div class="lead_rtop row">
                                    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-xs-3 text_detlabel">Quote ID</label>
                                            <div class="col-xs-9 ldetailtext_field">
                                                <label>{{Quotation.QuoteID}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-xs-3 text_detlabel">Quote Name</label>
                                            <div class="col-xs-9 ldetailtext_field">
                                                <label>{{Quotation.QuoteName}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-xs-3 text_detlabel">Sales Agent</label>
                                            <div class="col-xs-9 ldetailtext_field">
                                                <label>{{Quotation.SaleAgent}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-xs-3 text_detlabel">Opportunity</label>
                                            <div class="col-xs-9 ldetailtext_field">
                                                <label>{{Quotation.OpportunityName}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-xs-3 text_detlabel">Account Name</label>
                                            <div class="col-xs-9 ldetailtext_field">
                                                <label>{{Quotation.AccountName}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-xs-3 text_detlabel">Installation Address</label>
                                            <div class="col-xs-9 ldetailtext_field">
                                                <label class="text_label">{{Quotation.State}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                                        <div class="form-group row state_field">
                                            <div class="row ml-0 mr-0">
                                                <label class="col-xs-3 required_label">Quote Status<span class="asteriskField">*</span></label>
                                                <div class="col-sm-9 dropdown_rmargin">
                                                    <label class="quote-mail">
                                                        <input type="checkbox" class="option-input checkbox" disabled ng-model="Quotation.PrimaryQuote" ng-checked="Quotation.PrimaryQuote == true">
                                                        Primary Quote
                                                    </label>
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select disabled class="custom-dropdown__select custom-dropdown__select--white" ng-change="OnModelSelected()" ng-model="Quotation.QuoteStatusId" ng-options="item.QuoteStatusId as item.QuoteStatus for item in QuoteStatusList "></select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-xs-3 text_detlabel">Created On</label>
                                            <div class="col-xs-9 ldetailtext_field">
                                                <label>{{Quotation.CreatedOn|GlobalTime:'shortDate'}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-xs-3 text_detlabel">Last Updated</label>
                                            <div class="col-xs-9 ldetailtext_field">
                                                <label>{{Quotation.LastUpdatedOn|GlobalTime:'shortDate'}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 addres_label">Quote Expiry Date</label>
                                            <div class="col-sm-9 dropdown_rmargin">
                                                <label class="addres_label">{{Quotation.ExpiryDate|GlobalTime:'shortDate'}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--show more-->
                            <div class="leadexpand_grid">
                                <div style="margin-top: 15px;margin-bottom: 15px;height: 2px; background-color: gray; text-align: left">
                                    <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -9px;">
                                        &nbsp;&nbsp;
                                    </span>
                                </div>
                                <div class="expand_info">
                                    <!--ng-show="DisplayMore"-->
                                    <div class="leadgrid_box">
                                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-xs-3 text_detlabel">Quote Discount</label>
                                                <div class="col-xs-9 ldetailtext_field">
                                                    <label>{{Quotation.Discount}}{{Quotation.DiscountType}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-xs-3 text_detlabel">Quote Subtotal</label>
                                                <div class="col-xs-9 ldetailtext_field">
                                                    <label>{{Quotation.TotalCharges}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-xs-3 text_detlabel">Quote SubTotal</label>
                                                <div class="col-xs-9 ldetailtext_field">
                                                    <label>{{Quotation.NetCharges}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-xs-3 text_detlabel">Product Sub-Total</label>
                                                <div class="col-xs-9 ldetailtext_field">
                                                    <label>{{Quotation.TotalDiscounts}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-xs-3 text_detlabel">Additional Charges</label>
                                                <div class="col-xs-9 ldetailtext_field">
                                                    <label>{{Quotation.NetCharges}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="expand_info2" ng-show="Permission.ListQuoteLines">
                                        <div style="margin-top: 15px;margin-bottom: 15px; height: 2px; background-color: gray; text-align: left">
                                            <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -9px;" ng-click="DisplayMore1 = !DisplayMore1">
                                                &nbsp;Quotes Lines&nbsp;
                                            </span>
                                        </div>
                                        <div class="sub_expand" ng-show="DisplayMore1">
                                            <div class="table-responsive quote_table">
                                                <table class="table table-expand">
                                                    <thead class="expand_lhead">
                                                        <tr>
                                                            <th>Line ID</th>
                                                            <th>QTY</th>
                                                            <th>Room Location</th>
                                                            <th>Room Name</th>
                                                            <th>Product</th>
                                                            <th>Vendor</th>
                                                            <th>Description</th>
                                                            <th>Width</th>
                                                            <th>Height</th>
                                                            <th>Mount Type</th>
                                                            <th>Suggested Resale</th>
                                                            <th>Unit Price</th>
                                                            <th>Discount</th>
                                                            <th>Extended Price</th>
                                                            <th><button type="button" onclick="return false;" class="plus_but tooltip-bottom" data-tooltip="Add New Line" ng-disabled="IsBusy" ng-click="selectMeasurements('quotemodal')" aria-hidden="true"><i class="far fa-plus-square"></i></button></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="m in Quotation.QuoteLinesList">
                                                        <tr>
                                                            <td>{{m.QuoteLineId}}</td>
                                                            <td></td>
                                                            <td>{{m.LineItemBB.RoomLocation}}</td>
                                                            <td>{{m.LineItemBB.RoomName}}</td>
                                                            <td>{{m.ProductId}}</td>
                                                            <td>{{m.VendorId}}</td>
                                                            <td>More Details about a product</td>
                                                            <td>{{m.LineItemBB.Width}}</td>
                                                            <td>{{m.LineItemBB.Height}}</td>
                                                            <td>{{m.LineItemBB.MountTypeName}}</td>
                                                            <td>{{m.SuggestedResale}}</td>
                                                            <td></td>
                                                            <td>{{m.Discount}}</td>
                                                            <td>{{m.CalculatedSalePrice}}</td>
                                                            <td>
                                                                <ul>
                                                                    <li class="dropdown note1 ad_user">
                                                                        <div class="btn-group">
                                                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                                                <i class="fa fa-ellipsis-h dot_icon"></i>
                                                                            </button> <ul class="dropdown-menu pull-right quote_dropdown"> <li><a href="">Add My Product / Services</a> </li> <li><a href="">Configure Product</a></li><li ng-click="ClickMeToRedirectQuoteReview($index)"><a href="">Review Margin</a></li><li><a href="">Copy</a></li><li><a href="">Invoice Comment</a></li> </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---end inner tab-->
            </form>
            <div ng-show="Permission.AddQuoteLines">
                <hfc-Quote-Form-Go modal-id="quotemodal"></hfc-Quote-Form-Go>
            </div>
            <hfc-Quote-Price-Form-Go modal-id="pricemodal"></hfc-Quote-Price-Form-Go>
        </div>
    </div>
</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs li").removeClass("activelead");
        $(this).addClass("activelead");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("activelead");
        $("ul.tabs li[rel^='" + d_activeTab + "']").addClass("activelead");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content1").hide();
    $(".tab_content2").hide();
    $(".tab_content1:first").show();

    /* if in tab mode */
    $("ul.tabs1 li").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs1 li").removeClass("activelead1");
        $(this).addClass("activelead1");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs1 li").removeClass("activelead1");
        $("ul.tabs1 li[rel^='" + d_activeTab + "']").addClass("activelead1");
    });


    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");

</script>
<script>
    $('#select_all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        }
        else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });

    $('#select_all').change(function () {
        $('input:checkbox').prop('checked', $(this).prop('checked'));
    });
</script>











