﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }

    .errormob {
        margin-left: 179px;
    }
    .k-loading-mask {
        display: none;
    }
</style>

<div class="outter-wp">
    <!--<div id="preloader">
        <img src="/images/preloader.gif" />
    </div>-->
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <section class="my_sub_header_1">
        <nav class="navbar navbar-expand-md navbar-light bg-light my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-1 custom_nav">
                        <li><a href="#!/leadsSearch/">Leads</a></li>
                        <li><a href="#!/accountSearch/">Accounts</a></li>
                        <li class="active"><a href="#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="#!/orderSearch/">Orders</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6"><a href="#!/OpportunityDetail/{{QuoteHeader.OpportunityId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a></li>

                    <li rel="tab7" ng-show="BrandId!=3">
                        <a href="#!/measurementDetail/{{QuoteHeader.OpportunityId}}/{{QuoteHeader.InstallationAddressId}}">
                            <h3><i class="measurement_icon"></i><br />Measurements</h3>
                        </a>
                    </li>

                    <li rel="tab7" class="activelead1">
                        <a href="#!/quoteSearch/{{QuoteHeader.OpportunityId}}">
                            <h3><i class="quotes_icon"></i><br />Quotes</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/opportunityAppointments/{{QuoteHeader.OpportunityId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                </ul>

                <div class="leaddetail_butns">
                    <ul class="orderlist_box">
                        <li><button type="button" ng-show="Permission.MarginLinedetails " ng-click="CustomerView()" data-tooltip="Cancel" class="tooltip-bottom hfc_bgbut" ng-disabled="IsBusy"> <i class="far fa-times-circle fa_icon"></i></button></li>
                        <li><button type="button" ng-show="Permission.MarginLinedetails " class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="ApplyQuoteReviewChanges()"><i class="far fa-check-circle fa_icon"></i></button></li>
                        <li><button type="button" class="tooltip-bottom hfc_bgbut" ng-click="CustomerView()" data-tooltip="Customer View"><i class="fal fa-chevron-circle-left"></i> </button></li>

                        <!--<a href="/#!/quote/{{QuoteHeader.OpportunityId}}/{{QuoteHeader.QuoteKey}}"  data-tooltip="Customer View"> <i class="fa fa-suitcase"></i> </a>-->

                        <li><div class="quote_tooltip" style="margin-top:6px;">
                            <i class="fa fa-question question-icon"></i>
                            <span class="quote_tooltiptext">clicking on a checkbox will replace the calculated sales price with that specific amount</span>
                        </div></li>
                    </ul>
                 </div>
                <div class="clearfix"> </div>
            </div>
            <div class="tab_container tp_content">
                    <div class="p-3">
                        <form id="crm-form-detail" name="formquote" ng-submit="SaveQuote()">
                            <div class="leadgrid_box">
                                <div class="lead_rtop row">
                                    <div class="col-xs-4 col-sm-4 col-lg-4 col-xl-4 col_1">
                                        <div class="source-group row">
                                            <label class="col-3 text_detlabel">Quote ID</label>
                                            <div class="col-9">
                                                <label class="ldet_label"><a class="hquote_hover" href="#!/quote/{{QuoteHeader.OpportunityId}}/{{QuoteHeader.QuoteKey}}">{{QuoteHeader.QuoteID}}</a></label>
                                            </div>
                                        </div>

                                        <div class="source-group row">
                                            <label class="col-3 text_detlabel">Quote Name</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{QuoteHeader.QuoteName}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="OrderId&&OrderId!=0" class="col-xs-3 col-sm-3 col-lg-3 col-xl-3 col_2">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-xs-3 text_detlabel">Sales Order#</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <label class="ldet_label"><a class="hquote_hover" href="#!/Orders/{{OrderId}}">{{OrderNumber}}</a></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-lg-5 col-xl-5 col_3">
                                        <div ng-show="costAudit.length" class="quoteaccount_grid">
                                            <ul kendo-panel-bar style="margin-bottom:0 !important; padding:15px 0 !important;">
                                                <li style="border-bottom:0 !important;">
                                                    <span style="font-weight:bold; width:100%; text-align:center;">Cost Change Log</span>
                                                    <div class="kendo_panel row" style="margin:0 !important;background-color: #ededed !important; padding:15px !important;">
                                                        <ul class="example-animate-container">
                                                            <li class="animate-repeat" ng-repeat="Audit in costAudit">

                                                                Cost has been edited on line: {{Audit.QuoteLineNumber}}
                                                                By: {{Audit.PersonName}} on  {{Audit.EditedOn|ignoreTimeZone: "short"}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <!--<label class="col-xs-3 text_detlabel">Quote Lines</label>-->
                                <!--<kendo-grid id="QuotelinesGrid" options="quoteLinesOptions">
                                </kendo-grid>-->

                                <div>
                                    <!--tooltipOptions-->
                                    <kendo-tooltip options="tooltipOptions">
                                        <div id="QuotelinesGrid"></div>
                                    </kendo-tooltip>
                                </div>

                                <script id="quotelineMargin" type="text/x-kendo-template">
                                    <div style="display:none" class="lead_butns">
                                        <button id="headerCancel" class="k-grid-cancel-changes tooltip-bottom cancel_tpbut" data-tooltip="Cancel"><i class="far fa-times-circle fa_icon"></i></button>
                                        <button id="headersave" type="button" class="k-grid-save-changes tooltip-bottom cancel_tpbut k-update" data-tooltip="Save"><i class="far fa-check-circle fa_icon"></i></button>
                                    </div>
                                </script>

                                <script id="toolbarTemplate1" type="text/x-kendo-template">
                                    <div style="display:none" class="lead_butns">
                                        <button id="discountCancel" class="k-grid-cancel-changes tooltip-bottom cancel_tpbut" data-tooltip="Cancel"><i class="far fa-times-circle fa_icon"></i></button>
                                        <button id="discountsave" type="button" class="k-grid-save-changes tooltip-bottom cancel_tpbut k-update" data-tooltip="Save"><i class="far fa-check-circle fa_icon"></i></button>
                                    </div>
                                </script>
                                <script id="pricingRuleTemplate" type="text/x-kendo-template">
                                    <a href="javascript:void(0)" ng-click="EditRowDetail(dataItem)">Edit</a>
                                    <!--<a  class="testrule" href="javascript:void(0)">#=PricingStrategyId#</a>-->
                                    <!--testrule-->
                                    <!--<a href="javascript:void(0)"  ng-click ="pricingRuleShow()">#=PricingStrategyId#</a>-->
                                    <!--<a href="javascript:toggleOrder()" >#=PricingStrategyId#</a>-->
                                </script>
                            </div>
                        </form>
                    </div>
               
                <div class="modal fade" id="quotevendormodal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-wrapper-container"></div>
                    <div class="modal-dialog quotemargin-table">
                        <div class="modal-content">
                            <div class="modal-header popup_head">
                                <h4 class="mx-auto modal-title"></h4>
                                <button type="button" class="close quote_close" ng-click="Cancel('quotevendormodal')" aria-hidden="true">&times;</button>

                            </div>

                            <form name="Measurement_addint" role="form" novalidate ng-submit="SaveMeasurementTL()">
                                <div class="modal-body">
                                    <!--<p>Hello New World</p>-->

                                    <div class="table-responsive quote_table">
                                        <table class="table table-expand">
                                            <thead class="expand_lhead">
                                                <tr>

                                                    <th>Discount ID</th>
                                                    <th>Line Promo</th>
                                                    <th>Type</th>
                                                    <th>Discount Factor</th>
                                                    <th>Discount Value</th>
                                                    <th>Cost</th>
                                                    <th>Cost(w/o promos)</th>
                                                    <th>Price w/o Vendor Promo's</th>
                                                    <th>Price w/Vendor Promo's</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="m in VendorsPromoList">
                                                <tr>

                                                    <td>{{m.Id}} </td>
                                                    <td>{{m.Retail}}</td>
                                                    <td>{{m.Surcharge}}</td>

                                                    <td>{{m.Discount}}</td>
                                                    <td>{{m.DiscountValue}}</td>
                                                    <td>{{m.Cost}}</td>
                                                    <td>{{m.CostWOPromo}}</td>

                                                    <td>{{m.PriceWOVendorPromo}}</td>
                                                    <td>{{m.PriceWithVendorPromo}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--<End hello world>-->
                                </div>
                                <div class="modal-footer">
                                    <div class="popup_butns">
                                        <button type="reset" class="btn btn-cancel" ng-click="Cancel('quotevendormodal')" style="text-align:center">Ok</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!---end inner tab-->
</div>

<div id="loading" style="display: none;">
    <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>
<hfc-Quote-Onetime-Product-Form-Go modal-id="oneTimeProductModel"></hfc-Quote-Onetime-Product-Form-Go>
<hfc-Quote-Form-Go modal-id="quotemodal"></hfc-Quote-Form-Go>
<hfc-Pricing-Rule modal-id="pricingRuleModal"></hfc-Pricing-Rule>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs li").removeClass("activelead");
        $(this).addClass("activelead");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("activelead");
        $("ul.tabs li[rel^='" + d_activeTab + "']").addClass("activelead");
    });

    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");

    function backToQuoteLineList() {
        history.go(-1);
    }
</script>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content1").hide();
    $(".tab_content2").hide();
    $(".tab_content1:first").show();

    /* if in tab mode */
    $("ul.tabs1 li").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs1 li").removeClass("activelead1");
        $(this).addClass("activelead1");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs1 li").removeClass("activelead1");
        $("ul.tabs1 li[rel^='" + d_activeTab + "']").addClass("activelead1");
    });

    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>