﻿<div class="modal fade" id="account-duplicates" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mx-auto modal-title">account may already exist.</h4>
                <button type="button" class="close" aria-hidden="true" ng-click="DuplicatesModalClose()">&times;</button>
                <span>See possible matches below:</span>
            </div>
            <div class="m-3">
            <div ng-repeat="account in lstDuplicates">
                <div class="row">
                    <div class="col-md-12">
                        <b>Account {{account.AccountNumber}}</b> - {{account.FullName}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Address: {{account.Address}}
                    </div>
                    <div class="col-md-6">
                        <a href="/accounts/{{account.AccountId}}" target="_blank">Preview(new tab)</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Home Phone: {{account.HomePhone}}
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Cell Phone: {{account.CellPhone}}
                    </div>
                     <div class="col-md-6">
                        <a href="/accounts/{{account.AccountId}}">Go to account</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Fax Phone: {{account.FaxPhone}}
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        Work Phone: {{account.WorkPhone}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Primary Email: {{account.PrimaryEmail}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Secondary Email: {{account.SecondaryEmail}}
                    </div>
                </div>
                
                <hr ng-if="$index + 1 !=  lstDuplicates.length" />
            </div>
           </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm float-left" ng-click="DuplicatesModalClose()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>