﻿<div class="outter-wp">
    <div class="lead_stab" ng-show="Permission.ListCaseData && FranciseLevelCase">
        <ul class="tabs1 landing_tab">
            <li rel="tab7" class="activelead1">
                <a href="#!/franchiseCase">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>
            <li rel="tab7" ng-if="BrandId == 1 && FranciseLevelVendorMng">
                <a href="#!/Feedback">
                    <h3><i class="fas fa-microphone fa_icon"></i><br />Feedback</h3>
                </a>
            </li>
            <li rel="tab7" ng-if="BrandId == 1">
                <a href="#!/Overview">
                    <h3><i class="fas fa-th-list fa_icon"></i><br />Overview</h3>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!--<div class="lead_stab">
        <div class="tp_leadsearch"><input ng-keyup="QuotegridSearch()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox"><input type="button" id="btnReset" ng-click="QuotegridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters"><div class="leadsearch_icon">&nbsp;</div></div>
        <div class="clearfix"></div>
    </div>-->



    <div class="tab_container tpsearch_content" style="padding-bottom:200px;">
        <div class="row vendor_search" style="margin:0 !important;" ng-show="Permission.ListCaseData && FranciseLevelCase">
            <div class="leadsearch_topleft col-sm-12 col-md-12 col-xs-12 no-padding">
                <div class="row ml-5 mr-0" style="margin-left: 5px !important;">
                    <div class="col-sm-2 col-xs-6 no-padding state_field" style="margin-top:7px;">
                        <span class="custom-dropdown custom-dropdown--white">
                            <select class="custom-dropdown__select custom-dropdown__select--white" style="height: 33px !important;font-size: 14px;"
                                    id="FLCaseTypes"
                                    ng-change="GetKanbanCase()"
                                    ng-model="SelectedCaseType"
                                    ng-options="opt.Id as opt.Name for opt in FLCaseTypes"></select>
                        </span>
                    </div>
                    <div class="col-sm-7"></div>
                    <div class="col-sm-3 no-padding leaddetail_butns" style="padding-right: 30px !important;">
                        <button type="button" class="plus_but tooltip-bottom float-right" style="margin-top:2px;" data-tooltip="Create Case" ng-click="AddCase()">
                            <i class="far fa-plus-square"></i>
                        </button>
                        <button name="Case_Kanban_View" ng-click="gotoCaseListView()" type="button" class="pull-right k-button cancel_but" style="margin-right: 13px;">Case List View</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="error" ng-if="!FranciseLevelCase || !Permission.ListCaseData" style="padding-top:30px;padding-left:20px;">
            You don't have permission to this page.
        </div>
        <!--Search functionality Disabled for time being-->
        <!--<div class="row vendor_search" style="margin:0 !important;">
            <div class="k-header k-grid-toolbar ng-scope">
                <div class="leadsearch_topleft col-sm-10 col-md-10 col-xs-10 no-padding">
                    <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                        <input ng-keyup="QuotegridSearch()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
                    </div>
                    <div class="col-xs-2 col-sm-2 no-padding hfc_leadbut">
                        <input type="button" id="btnReset" ng-click="QuotegridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
                    </div>
                    <div class="col-xs-8 col-sm-8 hfc_leadchkbox">
                        <input class="option-input checkbox" name="CaselistClosedCancelled" style="margin-left:10px;" type="checkbox" ng-click=""><label class="ldet_label">&nbsp; Show Closed / Cancelled</label>
                    </div>
                </div>
            </div>
        </div>-->
        <div ng-show="Permission.ListCaseData && FranciseLevelCase">
            <div id='kanban'></div>
            <!--<div>debugging:<br/>
            {{KanbanDataList}}
                </div>-->
        </div>
    </div>
</div>