﻿<style>
    input.curency_dategrid {
        height:24px !important;
    }
    td.k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    td.k-state-selected:hover{
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    .k-list>.k-state-focused.k-state-selected
    {
        border-color: transparent !important;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13);
    }
</style>
<div class="outter-wp">
    <div class="tab_container">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li class="activelead1" rel="tab7">
                    <a href="#!/currencyconversion">
                        <h3><i class="far fa-usd-circle fa_icon"></i><br />Currency</h3>
                    </a>
                </li>
            </ul>
            <div class="leaddetail_butns">
                <ul class="tp_btnlist clearfix">
                    <li><button ng-show="EditMode==true && (Permission.AddCurrency)" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-click="cancelCurrencygrid()"><i class="far fa-times-circle fa_icon"></i></button></li>
                    <li><button ng-show="EditMode==true && (Permission.AddCurrency)" class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="SaveCurrency()"><i class="far fa-check-circle fa_icon"></i></button></li>
                </ul>
             </div>
            <div class="clearfix"></div>
        </div>
        <div class="tab_container tpsearch_content">
            <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ViewCurrency">
                You don't have permission to this page.
            </div>
           
            <div class="table-responsive">
                <div ng-if="EditMode==true && (Permission.AddCurrency)">
                    <kendo-tooltip options="tooltipOptions">
                        <kendo-grid id="gridCurrencyAdd" options="CurrencyConversionAdd" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                    </kendo-tooltip>
                </div>
                <kendo-tooltip options="tooltipOptions" ng-if="EditMode!=true && Permission.ViewCurrency">
                    <kendo-grid id="gridCurrency" options="CurrencyConversion" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                </kendo-tooltip>
            </div>
        </div>
        <!---end inner tab-->
    </div>

    <!--Code for add,search button-->
    <script id="headToolbarTemplate" type="text/x-kendo-template">
        <div class="tp-measurementsearch">
            <div class="row no-margin">
                <div class="leadsearch_topleft col-sm-10 col-md-10 col-xs-10 no-padding">
                    <div class="row no-margin" ng-if="EditMode!=true">
                        <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                            <input ng-keyup="CurrencygridSearch()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
                            <!--<input ng-keyup="MeasurementgridSearchEdit()" type="search" id="searchBox" placeholder="Search Measurement" ng-disabled="TextboxDisabled" class="k-textbox leadsearch_tbox">-->
                        </div>
                        <div class="col-xs-2 col-sm-2 no-padding hfc_leadbut">
                            <input type="button" id="btnReset" ng-click="CurrencygridClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <div class="franchisenew_icon" ng-if="EditMode!=true && (Permission.AddCurrency)">
                        <button type="button" class="plus_but tooltip-bottom" ng-click="AddCurrencyConversion()" onclick="return false;" data-tooltip="Add New Row" value="Add New Row"><i class="far fa-plus-square"></i></button>
                    </div>
                </div>
            </div>
            <label ng-if="EditMode==true">Start Date</label>
            <input kendo-date-picker
                   k-format = "HFCService.StaticKendoDateFormat()"
                   class="form-control curency_dategrid ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date"
                   style="width:160px !important;"
                   ng-required="true"
                   id="StartdateValue"
                   type="text" name="endDate"
                   placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                   ng-model="DateValue" data-autoclose="true"
                   ng-if="EditMode==true"
                   ng-change="ValidateDate(DateValue,'StartdateValue')">

            <label ng-if="EditMode==true">End Date</label>
            <input kendo-date-picker
                   k-format = "HFCService.StaticKendoDateFormat()"
                   class="form-control curency_dategrid ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date"
                   style="width:160px !important;"
                   id="EnddateValue"
                   type="text" name="endDateValues"
                   placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                   ng-model="EndDateValue" data-autoclose="true"
                   ng-if="EditMode==true"
                   ng-change="ValidateDate(EndDateValue,'EnddateValue')">
        </div>
    </script>
</div>