﻿<style>
    td.rightquote_table {
        border-left: 1px solid #000;
    }

    .quoteacount_expand {
        background: #ededed;
    }

    .card {
        margin: 15px 0px 15px 0px;
        padding: 5px 0px 10px 5px;
        border-width: 1px;
        border-style: solid;
        border-color: inherit;
        touch-action: none;
        font-style: normal;
        font-size: 13px;
        min-height: 100px;
        max-height: 250px;
        overflow: scroll;
    }

    .align_currency {
        text-align: right;
        display: block;
        padding-right: 5px;
    }
 
    #RevisedInvoice .k-grid-content.k-auto-scrollable{
        overflow-x: auto !important;
    }
</style>
<div id="loading" style="display: none;">
    <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
</div>
<div class="outter-wp">
    <section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/gear-multiple.png">Operations</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/procurementboard">Procurement Dashboard</a></li>
                        <li class="active"><a href="#!/vendorinvoice">Vendor Invoice</a></li>

                    </ul>

                </div>
            </div>
        </nav>
    </section>


    <div class="tab_container tp_content">
        <div class="error error_msg" ng-show="!(Permission.VendorInvoiceDetails)" style="margin-top:30px;">
            You don't have permission to this page.
        </div>
        <div class="panel-body" ng-show="Permission.VendorInvoiceDetails">
            <!--<form id="crm-lead-detail" name="">-->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab7">
                        <a href="#!/vendorinvoice/{{InvoiceNumber}}">
                            <h3><i class="fal fa-envelope-open-dollar fa_icon"></i><br />Vendor Invoice</h3>
                        </a>
                    </li>
                    <li class="activelead1" rel="tab7">
                        <a href="#!/revisedinvoice/{{InvoiceNumber}}">
                            <h3><i class="fal fa-envelope-open-dollar fa_icon"></i><br />Revised Invoice</h3>
                        </a>
                    </li>


                </ul>
                <div class="leaddetail_butns" ng-show="Permission.VendorInvoiceedit">
                    <button type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Edit" ng-click="Revisedinvoice()"><i class="far fa-pen"></i></button>
                </div>
                <div class="clearfix"> </div>
            </div>

            <!--{{VendorInvoice}}-->

            <div class="leadgrid_box">
                <div class="row">
                    <div class="col-lg-4 vendorinvoice_grid-1">
                        <div style="background-color: rgb(237, 237, 237) !important;">
                            <table class="table table-striped" style="border:1px solid #000;">
                                <thead>
                                    <tr style="background:#d2d2d2;height: 30px;">
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Vendor:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.Vendor}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Invoice #:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorInvoice.InvoiceNo}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Invoice Date:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorInvoice.InvoiceDate|GlobalTime:'shortDate'}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Currency:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorInvoice.Currency}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sold To:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.SoldTo}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Bill To:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.BillTo}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Customer ID:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.CustomerID}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Terms:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.Terms}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-4 vendorinvoice_grid-3">
                        <div class="vendorinvoice_grid">
                            <h1>Vendor Comments:</h1>
                            <p>{{VendorInvoice.VendorComments}}</p>
                        </div>
                    </div>
                    <div class="col-lg-3 vendorinvoice_grid-2">
                        <div style="background-color: rgb(237, 237, 237) !important;">
                            <table class="table table-striped vendorinvoice_table" style="border:1px solid #000;">
                                <thead>
                                    <tr style="background:#d2d2d2;">
                                        <th style="width:40%;">Invoice Summary</th>
                                        <th style="border-left:1px solid #000; width: 30%;">Amount</th>
                                        <th style="border-left:1px solid #000; width: 30%;">Adj Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Remit By:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label align_currency">{{VendorInvoice.RemitBy|GlobalTime:'shortDate'}}</label>
                                        </td>
                                        <td class="rightquote_table"></td>
                                    </tr>
                                    <tr>
                                        <td>Order Subtotal:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label align_currency">{{VendorInvoice.Subtotal| GlobalCurrency}}</label>
                                        </td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label align_currency">{{TempAdjSubtotal}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Discount:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label align_currency">{{VendorInvoice.Discount| GlobalCurrency}}</label>
                                        </td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label align_currency">{{VendorInvoice.AdjDiscount| GlobalCurrency}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Freight:</td>
                                        <td class="rightquote_table"><label class="ldet_label align_currency">{{VendorInvoice.Freight| GlobalCurrency}}</label></td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label align_currency">{{VendorInvoice.AdjFreight| GlobalCurrency}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Processing Fee:</td>
                                        <td class="rightquote_table"><label class="ldet_label align_currency">{{VendorInvoice.ProcessingFee| GlobalCurrency}}</label></td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label align_currency">{{VendorInvoice.AdjProcessingFee| GlobalCurrency}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Misc Charge:</td>
                                        <td class="rightquote_table"><label class="ldet_label align_currency">{{VendorInvoice.MiscCharge| GlobalCurrency}}</label></td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label align_currency">{{VendorInvoice.AdjMiscCharge| GlobalCurrency}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tax:</td>
                                        <td class="rightquote_table"><label class="ldet_label align_currency">{{VendorInvoice.Tax| GlobalCurrency}}</label></td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label align_currency">{{VendorInvoice.AdjTax| GlobalCurrency}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total Amount:</td>
                                        <td class="rightquote_table"><label class="ldet_label align_currency">{{VendorInvoice.TotalAmount| GlobalCurrency}}</label></td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label align_currency">{{TempAdjTotal}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <label>Audit Trail:</label>
                    <ul style="list-style-type:disc;">
                        <li ng-repeat="e in VendorInvoice.AuditTrail track by $index" style="color:red; margin-left:30px;">{{e}}</li>
                    </ul>
                </div>
                <ul kendo-panel-bar id="panelbar" style="margin-bottom:20px">
                    <li id="purchaseorderPanel">
                        <span style="font-weight: bold; width: 100%;">
                            <p style="float:left; line-height: 20px; margin: 4px 0 0px 0; text-align: center;">
                                <span>
                                    <a href="#!/purchasemasterview/{{VendorInvoice.PurchaseOrderId}}" style="font-weight:bold;color: #fff !important;" id="redirectpurchasemaster">Purchase Order # {{VendorInvoice.PurchaseOrder}}</a>
                                </span>
                            </p>
                            <p style="float: right; line-height: 20px; margin: 4px  20px 0; text-align: center; ">
                                <button id="history" style="background: none; border: none; font-size: 20px;outline: none;">
                                    <i class='far fa-clock'></i>
                                </button>
                            </p>
                        </span>
                        <div class="kendo_panel row">
                            <div class="col-md-3">
                                QTY Ordered :{{VendorInvoice.QTYOrdered}}
                            </div>
                            <div class="col-md-3">
                                QTY Invoiced :{{VendorInvoice.QTYInvoiced}}
                            </div>
                            <div class="col-md-3">
                                Shipped Date:{{VendorInvoice.ShippedDate|GlobalTime:'shortDate'}}
                            </div>
                            <div class="col-md-3">
                                Shipped Via: {{VendorInvoice.ShippedVia}}
                            </div>
                        </div>
                        <div class="leadgrid_box row">
                            <kendo-tooltip options="tooltipOptions">
                                <kendo-grid id="RevisedInvoice"
                                            options="RevisedInvoice"
                                            style="margin-bottom:40px !important;"
                                            tooltip-options="tooltipOptions">
                                </kendo-grid>
                            </kendo-tooltip>
                        </div>
                    </li>
                </ul>
                <textarea rows="8" cols="50" name="comment" id="comment" placeholder="Comments:" style="margin-bottom: 15px; pointer-events: none;" ng-model="VendorInvoice.AdjComments" readonly>{{VendorInvoice.AdjComments}}</textarea>
                <ul kendo-panel-bar id="panelbar2" style="padding:0px !important">
                    <li id="historylistPanel">
                        <span style="font-weight:bold;">Invoice Change History</span>
                        <div class="leadgrid_box row" style="border: none;">
                            <kendo-tooltip options="tooltipOptions">
                                <kendo-grid id="InvoiceHistory"
                                            options="InvoiceHistory"
                                            style="margin-bottom:10px !important; margin-top: 20px"
                                            tooltip-options="tooltipOptions">
                                </kendo-grid>
                            </kendo-tooltip>
                        </div>
                    </li>
                </ul>
            </div>

            <!--</form>-->

        </div>
    </div>
</div>

