﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%;
        /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    
    .k-grid-footer {
        padding-right: 17px !important;
    }
    
    .k-grid-content.k-auto-scrollable {
        /*height:auto !important;*/
    }
    
    .k-grid-header {
        background: #e2e2e2;
    }
    
    .k-grid-footer {
        background: #cacaca;
    }
    
    .statusCanvas {
        height: auto !important;
    }
    
    .popup_procurement {
        text-align: left;
        padding: 5px;
    }
    
    .popup_procurement p {
        margin: 5px 0;
        font-size: 12px;
    }
    
    .shipping_tooltip:after {
        width: 280px !important;
        margin-left: -166px;
    }
    
    .k-multicheck-wrap {
        max-height: 150px;
    }
    
    .table > caption + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > th,
    .table > thead:first-child > tr:first-child > th,
    .table > caption + thead > tr:first-child > td,
    .table > colgroup + thead > tr:first-child > td,
    .table > thead:first-child > tr:first-child > td,
    table.table-expand td {
        border: 1px solid #ceced2 !important;
    }
    
    .table-responsive.convertlead_table td {
        padding-left: 8px !important;
    }
    
    div > form.k-filter-menu > div > label {
        padding-left: 5px;
    }
    
    #Vendor_Name-list .k-list-scroller {
        max-height: 131px !important;
    }
    
    .panel-body {
        padding: 15px;
        padding-bottom: 36px;
    }
</style>
<div class="outter-wp">
    <div class="lead_stab">
        <div class="franchisenew_icon" style="margin:9px 0 0 0;" hfc-statuses-overlay2>
            <button type="button" class="plus_but tooltip-bottom"><i class="far fa-question-circle"></i></button>
            <div class="statusCanvas"></div>
        </div>
        <div class="modal fade" id="_statusModal_" style="height:auto;">
            <div class="modal-content">
                <div class="modal-header popup_head p-1">
                    <h4></h4>
                    <button type="button" class="close popup_close" onclick="$('.statusCanvas').hide()" id="ipadtooltipclosebutton"><span aria-hidden="true">×</span></button>
                </div>
                <div class="popup_procurement">
                    <p><b>What is Purchase Price Variant (PPV)?</b> </p>
                    <p>Purchase Price Variant (PPV) shows the difference between the quoted purchase price of product found on a purchase order and cost for all item invoiced.</p>

                    <p><b>What is PPV Summary?</b> </p>
                    <p>PPV Summary is a snap shot of the Top 3 Vendors with the most variances, based on the selected dashboard filter.</p>

                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
    <div class="tab_container tp_content">
        <div class="error error_msg" ng-show="!(Permission.VendorInvoiceList)" style="margin-top:30px;">
            You don't have permission to this page.
        </div>
        <div class="panel-body" ng-show="Permission.VendorInvoiceList">
            <div class="leadgrid_box">
                <div class="lead_rtop row" id="MenuDiv">
                    <div class="col-xs-12 col-sm-12 col-lg-6">
                        <div class="source-group row state_field" style="margin-left:8px;">
                            <label class="col-sm-4 col-xs-4 required_label" style="font-size:14px;">Dashboard Filter:</label>
                            <div class="col-sm-8 col-xs-8">
                                <span class="custom-dropdown custom-dropdown--white" style="width:300px;">
                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                            name="Vendor_Name"
                                            ng-model="Id"
                                            ng-change="FilterChange(Id);"
                                            ng-options="option.Id as option.Name for option in DateTimeDropdown">
                                        <option value="" selected>All</option>
                                    </select>
                                </span>
                            </div>
                        </div>

                        <div class="source-group row state_field" style="margin-left:8px;">
                            <label class="col-sm-4 col-xs-4 required_label" style="font-size:14px;">Vendor:</label>
                            <div class="col-sm-8 col-xs-8">
                                <span class="custom-dropdown custom-dropdown--white" style="width:300px;">
                                    <!--<select class="custom-dropdown__select custom-dropdown__select--white"
                                    name="Vendor_Name"
                                    ng-model="VendorDropdown.VendorID"
                                    ng-change="VendorChange(VendorDropdown.VendorID);"
                                    ng-options="option.VendorID as option.Name for option in VendorListName">
                                   <option value="" selected>All</option>
                            </select>-->

                                    <select id="Vendor_Name" name="Vendor_Name"
                                            kendo-drop-down-list
                                            k-options="Vendor_Name"
                                            k-ng-model="VendorDropdown.VendorID"
                                            class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;">
                                    </select>
                                </span>
                            </div>
                        </div>

                        <div class="source-group row state_field" style="margin-left:8px;">
                            <label class="col-sm-4 col-xs-4 text_detlabel" style="font-size:14px;">Dashboard View:</label>
                            <div class="col-sm-8 col-xs-8">
                                <span class="custom-dropdown custom-dropdown--white" style="width:300px;">
                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                            name="Name"
                                            ng-model="PPVfilter"
                                            ng-change="Check(PPVfilter)">
                                        <option ng-value="0" selected>All</option>
                                        <option ng-value="1" selected>PPV Yes</option>
                                        <option ng-value="2" selected>PPV No</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6">
                        <label style="font-size:14px;">PPV Summary</label>
                        <div class="table-responsive">
                            <table class="table table-expand" style="margin-bottom:20px;">
                                <thead class="expand_lhead">
                                    <tr>
                                        <th>Vendor</th>
                                        <th>Total # of Variances</th>
                                        <th>Total Variance Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in SummaryList">
                                        <td style="padding:5px" class="rightquote_table">{{ x.Vendorname }}</td>
                                        <td style="text-align: right; padding: 5px 10px 5px 5px;" class="rightquote_table">{{ x.CountofVariance }}</td>
                                        <td style="text-align: right; padding: 5px 10px 5px 5px;" class="rightquote_table">{{ x.VarianceAmount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--show more-->
            <div class="row">
                <kendo-grid id="VendorInvoicePPVList" class="ipadspace_grid" options="VendorInvoicePPVList" style="margin-bottom:40px !important;">
                </kendo-grid>
            </div>
        </div>

    </div>
</div>