﻿<style>
    .activeLi {
        background-color: #3d6473 !important;
        color: #fff !important;
    }
    .btn.focus, .btn:focus {
        box-shadow: none !important;
    }

    ul.tabs1 li {
        padding: 6px 0 5px 0px;
    }

    ul.reportdrop_menu {
        width: 160px;
    }

        ul.reportdrop_menu li {
            padding: 9px 0 5px 0px !important;
            /*text-align: center !important;*/
        }

            ul.reportdrop_menu li a {
                padding: 2px !important;
                padding-left: 21px !important;
            }

    ul.tabs1.reports_hfcbtmnav {
        width: 90% !important;
    }

    .po-tab {
        padding: 17px 0px 5px 0px !important;
    }

    td.rightquote_table {
        border-left: 1px solid #000;
    }

    .quoteacount_expand {
        background: #ededed;
    }
     .k-grid-content.k-auto-scrollable {
        height:auto !important;        
    }

    /*.quoteacount_expand h1, .quoteacount_expand h2 {
                background-color: #3e7d8a;
                color: #fff;
                text-align: center;
                font-size: 25px;
                padding: 12px 0;
                font-weight: 600;
            }

        #quoteacount_expanddemo, #quoteopportunity_expanddemo {
            padding: 15px;
        }

        ul.opportunity_taxlist li {
            width: 25%;
        }*/

    #VendorInvoiceview .k-grid-content.k-auto-scrollable{
        overflow-x: auto !important;
    }
</style>

<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/gear-multiple.png">Operations</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/procurementboard">Procurement Dashboard</a></li>
                        <!--<li><a href="#!/purchase">Purchase Orders</a></li>-->
                        <!--<li><a href="#!/shipnotices">Shipment</a></li>-->

                        <!--<li class="active"><a href="#!/vendorinvoice">Vendor Invoice</a></li>

                    </ul>
                   
                </div>
            </div>
        </nav>
    </section>-->-->


    <div class="tab_container tp_content">
        <div class="error error_msg" ng-show="!(Permission.VendorInvoiceDetails)" style="margin-top:30px;">
            You don't have permission to this page.
        </div>

        <div class="panel-body" ng-show="Permission.VendorInvoiceDetails">
            <!--<form id="crm-lead-detail" name="">-->
            <div class="lead_stab">
                <!--<ul class="tabs1 landing_tab">
        <li class="activelead1" rel="tab7">
            <a href="#!/vendorinvoice/{{InvoiceNumber}}">
                <h3><i class="fal fa-envelope-open-dollar fa_icon"></i><br />Vendor Invoice</h3>
            </a>
        </li>
        <li ng-if="VendorInvoice.IsInvoiceRevised" rel="tab7">
            <a href="#!/revisedinvoiceview/{{InvoiceNumber}}">
                <h3><i class="fal fa-envelope-open-dollar fa_icon"></i><br />Revised Invoice</h3>
            </a>
        </li>


    </ul>-->
                <ul class="menu flex tabs1 reports_hfcbtmnav">
                    <li class="po-tab" rel="tab7">
                        <a href="#!/purchasemasterview/{{VendorInvoice.PurchaseOrderId}}">
                            <h3>Purchase Order</h3>
                        </a>
                    </li>
                    <li rel="tab7" ng-if="MPORelatedIds.VendorAckIds.length>0">
                        <button type="button" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">PO Acknowledgement<span class="caret"></span></button>
                        <ul class="dropdown-menu reportdrop_menu" role="menu">
                            <li ng-repeat="option in MPORelatedIds.VendorAckIds">
                                <a href="#!/vendorAck/{{option.PurchaseOrderId}}/{{option.vendorReference}}">
                                    {{option.vendorReference}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li rel="tab7" ng-if="MPORelatedIds.ShipmentIds.length>0">
                        <button type="button" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">Shipment Notice <span class="caret"></span></button>
                        <ul class="dropdown-menu reportdrop_menu" role="menu">
                            <li ng-repeat="option in MPORelatedIds.ShipmentIds">
                                <a href="#!/shipnotices/{{option.ShipNoticeId}}">
                                    {{option.ShipmentId}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li rel="tab7" ng-if="MPORelatedIds.VendorInvoiceIds.length>0">
                        <button type="button" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">Vendor Invoice <span class="caret"></span></button>
                        <ul class="dropdown-menu reportdrop_menu" role="menu" id="submenu-dropdown">
                            <li ng-repeat="option in MPORelatedIds.VendorInvoiceIds">
                                <a href="#!/vendorinvoice/{{option.InvoiceNumber}}">
                                    {{option.InvoiceNumber}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="VendorInvoice.IsInvoiceRevised" rel="tab7">
                        <a href="#!/revisedinvoiceview/{{InvoiceNumber}}">
                            <h3><i class="fal fa-envelope-open-dollar fa_icon"></i><br />Revised Invoice</h3>
                        </a>
                    </li>
                </ul>
                <div ng-if="!VendorInvoice.IsInvoiceRevised && Permission.CreateVendorRevisedInvoice" class="leaddetail_butns">
                    <button type="button" class="tooltip-bottom cancel_tpbut" data-tooltip="Revised Invoice" ng-click="EnableRevisedinvoice()">
                        <i class="fa fa-exchange" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="clearfix"> </div>
            </div>

            <!--{{VendorInvoice}}-->

            <div class="leadgrid_box">
                <div class="row no-margin">
                    <div class="col-md-4 vendorinvoice_grid-1">
                        <div style="background-color: rgb(237, 237, 237) !important;">
                            <table class="table table-striped vendorinvoice_table" style="border:1px solid #000;">
                                <thead>
                                    <tr style="background:#d2d2d2;">
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Vendor:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.Vendor}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Invoice #:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorInvoice.InvoiceNo}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Invoice Date:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorInvoice.InvoiceDate|GlobalTime:'shortDate'}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Currency:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.Currency}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Sold To:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.SoldTo}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Bill To:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.BillTo}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Customer ID:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.CustomerID}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Terms:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.Terms}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 vendorinvoice_grid-3">
                        <div class="vendorinvoice_grid">
                            <h1>Vendor Comments:</h1>
                            <p>{{VendorInvoice.VendorComments}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 vendorinvoice_grid-2">
                        <div style="background-color: rgb(237, 237, 237) !important;">
                            <table class="table table-striped vendorinvoice_table" style="border:1px solid #000;">
                                <thead>
                                    <tr style="background:#d2d2d2;">
                                        <th>Invoice Summary</th>
                                        <th style="border-left:1px solid #000;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Remit By:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.RemitBy|GlobalTime:'shortDate'}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Order Subtotal:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorInvoice.Subtotal| GlobalCurrency}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Discount:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorInvoice.Discount| GlobalCurrency}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Freight:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.Freight| GlobalCurrency}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Processing Fee:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.ProcessingFee| GlobalCurrency}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Misc Charge:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.MiscCharge| GlobalCurrency}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Tax:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.Tax| GlobalCurrency}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Total Amount:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorInvoice.TotalAmount| GlobalCurrency}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <ul kendo-panel-bar id="panelbar" class="kendo_expandicon" style="margin-bottom:20px">
                    <li id="accountlistPanel">
                        <span>
                            <a href="#!/purchasemasterview/{{VendorInvoice.PurchaseOrderId}}" style="font-weight:bold;color: #fff !important;" id="redirectpurchasemaster">Purchase Order # {{VendorInvoice.PurchaseOrder}}</a>
                        </span>
                        <div class="kendo_panel row">
                            <div class="col-sm-3">
                                QTY Ordered :{{VendorInvoice.QTYOrdered}}
                            </div>
                            <div class="col-sm-3">
                                QTY Invoiced :{{VendorInvoice.QTYInvoiced}}
                            </div>
                            <div class="col-sm-3">
                                Shipped Date:{{VendorInvoice.ShippedDate|GlobalTime:'shortDate'}}
                            </div>
                            <div class="col-sm-3">
                                Shipped Via: {{VendorInvoice.ShippedVia}}
                            </div>
                        </div>
                        <div class="leadgrid_box row">
                            <!--<p>Kendo-Grid Data</p>-->
                            <kendo-tooltip options="tooltipOptions">

                                <kendo-grid id="VendorInvoiceview"
                                            options="VendorInvoiceview"
                                            style="margin-bottom:40px !important;"
                                            tooltip-options="tooltipOptions">
                                </kendo-grid>
                            </kendo-tooltip>

                        </div>
                    </li>
                </ul>




                <!--<div class="lead_rtop row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Pro-Forma Invoice</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.InvoiceNumber}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Vendor</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.VendorName}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Invoice Date:</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.Date|GlobalTime:'shortDate'}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Terms:</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.Terms}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Remit By Date:</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.RemitByDate|GlobalTime:'shortDate'}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Bill to Account:</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.BillTOAccount}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Bill To:</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.BillTOAddress}}</label>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 quote-rgrid">
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Purchase Order #:</label>
                            <div class="col-sm-9 col-xs-9">
                                <a href='#!/purchasemasterview/{{VendorInvoice.PurchaseOrderId}}' style='color: rgb(61,125,139);'><span>{{VendorInvoice.PurchaseOrderNumber}}</span></a> 
                                
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Total Qty</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.Quantity}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Subtotal:</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.Subtotal|currency:"$"}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Tax:</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.Tax|currency:"$"}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Freight:</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.Freight|currency:"$"}}</label>
                            </div>
                        </div>
                       

                        <div class="form-group row territory_group">
                            <div class="col-sm-6 col-xs-6">
                                <label class="col-sm-5 col-xs-5 text_detlabel">Discount:</label>
                                <div class="col-sm-7 col-xs-7 pr-0">
                                    <label class="ldet_label">{{VendorInvoice.Discount|currency:"$"}}</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <label class="col-sm-5 col-xs-5 text_detlabel">Discount Date:</label>
                                <div class="col-sm-7 col-xs-7 pr-0">
                                    <label class="ldet_label">{{VendorInvoice.DiscountDate|GlobalTime:'shortDate'}}</label>
                                </div>
                                
                            </div>
                        </div>

                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Total:</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{VendorInvoice.Total|currency:"$"}}</label>
                            </div>
                        </div>
                    </div>

                </div>-->

            </div>

            <!--<div class="quotegrid_box">
                <div style="margin-top: 15px;margin-bottom: 30px;height:1px; background-color: gray; text-align: left;">
                    <span style="background-color:#f7f7f7; font-weight:bold; line-height:22px; cursor: pointer; position: relative; top: -9px;">
                        

                    </span>
                </div>
            </div>-->
            <!--show more-->
          
        </div>

        <!--</form>-->

    </div>

</div>

<!--View Shipment-->
<div class="modal fade" id="ShipmentViewDetails" data-keyboard="false"
     data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Multiple Shipments</h4>
                <button type="button"
                        class="close popup_close"
                        ng-click="Cancel('ShipmentViewDetails')"
                        aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center font-weight-bold" ng-bind-html="shipurl"></div>
            </div>
            <div class="modal-footer">
                <div class="popup_butns">
                    <button type="button"
                            ng-click="Cancel('ShipmentViewDetails')"
                            class="btn btn-cancel">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--view Invoice-->
<div class="modal fade" id="InvoiceViewDetails" data-keyboard="false"
     data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Multiple Invoices</h4>
                <button type="button"
                        class="close popup_close"
                        ng-click="Cancel('InvoiceViewDetails')"
                        aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center font-weight-bold"><a href="#!/shipnotices">Data to be displayed to user</a></div>
            </div>
            <div class="modal-footer">
                <div class="popup_butns">
                    <button type="button"
                            ng-click="Cancel('InvoiceViewDetails')"
                            class="btn btn-cancel">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>-->
