﻿<!--TODO this should be define in Layout page-->
<!--<link href="../../../Content/style.css" rel="stylesheet" />-->
<div class="outter-wp">
    <div class="tab_container">
        <h3 class="d_active tab_drawer_heading" rel="tab2">Tab 2</h3>
        <div id="tab2" class="tab_content">
            <!---inner tab--->
            <div class="lead_stab">
                <div class="lead_butns">
                    <button type="submit" class="btn btn-default"
                            [disabled]="sampleForm.$invalid"
                             >
                        Submit
                    </button>
                    <button type="reset" class="btn btn-primary" [disabled]="!sampleForm.invalid" ng-click="cancel()"> Cancel</button>
                    <button type="submit" class="btn btn-primary " [disabled]="sampleForm.$invalid" ng-click="sampleForm.$valid && SaveSampleCrud()">Save</button>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="tab_container tp_content">
                <h3 class="d_active tab_drawer_heading" rel="tab6">Tab 6</h3>
                <div id="tab6" class="tab_content1">
                    <div class="p-3">
                        <form id="crm-lead-detail" name="sampleForm" novalidate ng-submit="SaveSampleCrud()">
                            <div class="leadgrid_box">
                                <div class="lead_rtop row">
                                    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">


                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 required_label">First Name<span class="asteriskField">*</span></label>
                                            <div class="col-sm-9 textbox-lmargin">
                                                <input type="text" name="firstName" ng-model="FirstName" class="form-control frm_controllead"
                                                       ng-pattern="/^(\D)+$/" placeholder="" required
                                                       ng-maxlength="15" maxlength="15" />
                                                <div ng-if="sampleForm.$submitted || sampleForm.firstName.$dirty || sampleForm.firstName.$invalid" ng-messages="sampleForm.firstName.$error" style="color:red" ng-show="showValidate">
                                                    <p ng-message="maxlength">First Name should have at most 15 characters.</p>
                                                    <p ng-message="required">Providing a First Name is mandatory.</p>
                                                    <p ng-show="sampleForm.firstName.$error.pattern">Not valid Name!</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 required_label">Last Name<span class="asteriskField">*</span></label>
                                            <div class="col-sm-9 textbox-lmargin">
                                                <input type="text" name="lastName" ng-model="LastName" class="form-control frm_controllead"
                                                       ng-pattern="/^(\D)+$/" placeholder="" required
                                                       ng-maxlength="15" maxlength="15" />
                                                <!--<div ng-show="lastNameIsNotValid" ng-cloak="" class="text text-danger">Required</div>-->
                                                <div ng-if="sampleForm.$submitted || sampleForm.lastName.$dirty || sampleForm.lastName.$invalid " ng-messages="sampleForm.lastName.$error" style="color:red" ng-show="showValidate">

                                                    <p ng-message="maxlength">Last Name should have at most 15 characters.</p>
                                                    <p ng-message="required">Providing a Last Name is mandatory.</p>
                                                    <p ng-show="sampleForm.lastName.$error.pattern">Not valid Name!</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-phone_group row ml-0 mr-0">
                                            <label class="col-sm-3 addres_label">Cell phone<span class="asteriskField">*</span></label>
                                            <input type="tel" name="cellPhone"
                                                   class="pno_textbox col-sm-5"
                                                   ng-model="CellPhone"
                                                   ui-mask="(999) 999-9999"
                                                   allowpartialvalues="true"
                                                   ng-minlength="14"
                                                   ng-pattern="/[1-9]/" 
                                                    ng-required="true"/>
                                            <label class="radio-prefer col-sm-3"><input type="radio" class="option-input radio radio_space" name="preferredTFN" ng-model="PreferredTFN" value="C" title="Preferred contact number" />Preferred</label>
                                            <div ng-if="(sampleForm.$submitted || sampleForm.cellPhone.$dirty || sampleForm.cellPhone.$invalid)" ng-messages="sampleForm.cellPhone.$error" style="color:red" ng-show="showValidate">
                                                <p ng-message="required">Cell Phone is Required</p>
                                                <p ng-message="minlength">Phone number should be 10 digits.</p>
                                                <p ng-message="pattern" ng-show="sampleForm.cellPhone.length > 0">Not valid number!</p>
                                            </div>
                                        </div>

                                        <div class="form-phone_group row ml-0 mr-0">
                                            <label class="col-sm-3 addres_label">Home phone</label>
                                            <input type="tel" class="col-sm-5 pno_textbox" ng-model="HomePhone" ui-mask="(999) 999-9999" allowpartialvalues="true" ng-blur="CheckDuplicates('HomePhone', $event)" />
                                            <label class="radio-prefer col-sm-3"><input type="radio" class="option-input radio radio_space" name="preferredTFN" value="H" ng-model="PreferredTFN" title="Preferred contact number" />Preferred</label>
                                        </div>

                                        <label for="phone">Phone</label>
                                        <input class="form-control" ng-class="{requiredControl:sampleForm.phone.$dirty && sampleForm.phone.$invalid}" type="text"
                                               id="phone"
                                               name="phone"
                                               ng-model="x"
                                               ng-required="true"
                                               ui-options="{clearOnBlur:false}" ui-mask-placeholder
                                               ui-mask-placeholder-char="_"
                                               ui-mask="(999) 999-9999" />
                                        <br />
                                        <div ng-messages="sampleForm.phone.$error" role="alert" ng-if="sampleForm.phone.$dirty">
                                            <div class="text-danger" ng-message="required">Phone is required....</div>
                                            <div class="text-danger" ng-message="mask">Length should be 10....</div>
                                        </div>

                                        <br />

                                        <div> Form invalid status:<code> {{sampleForm.$invalid}}</code> </div>
                                        <div>Phone dirty? = <code>{{sampleForm.phone.$dirty}}</code></div>

                                        <div ng-show="sampleForm.$dirty">Form dirty? = <code>{{sampleForm.$dirty}}</code></div>
                                        <div ng-show="!sampleForm.$dirty">Form dirty? = <code>false</code></div>
                                        <div ng-show="sampleForm.phone.$valid">Input valid? = <code>{{sampleForm.phone.$valid}}</code></div>
                                        <div ng-show="!sampleForm.phone.$valid">Input valid? = <code>false</code></div>
                                        <div ng-show="x.length">Model value: <code>{{x}}</code></div>
                                        <div ng-hide="x.length">Model value: <code>undefined</code></div>
                                        <div ng-show="sampleForm.phone.$viewValue.length">NgModelController.$viewValue: <code>{{sampleForm.phone.$viewValue}}</code></div>
                                        <div ng-hide="sampleForm.phone.$viewValue.length">NgModelController.$viewValue: <code>undefined</code></div>


                                    </div>



                                </div>


                            </div>
                        </form>
                    </div>

                    <div>
                        <label>Description: </label> <input type="text" ng-model="fileDescription" />
                        <input type="button" id="act-on-upload" name="upload" value="safasdfasfd" />
                    </div>

                    <div class="tab-pane" id="files12345">
                        <div class="dropzone" dropzone="DropzoneOption" id="dz12345">
                            
                            
                            <div class="dz-message" data-dz-message>
                                <span style="top: 33%;left: 32%;;display: block;font-family:humanist521;">
                                    <span style="font-size: 40px;font-style: italic;font-weight: bold; display: block; text-align: center;">
                                        Drag and Drop
                                    </span>
                                    <span style="font-size: 40px;font-style: italic; display: block; text-align: center;">
                                        to upload.
                                    </span>
                                    <span style="font-size: 25px;font-style: italic; display:block;text-align: center;">(or click)</span>
                                    <span style="font-size: 25px;font-style: italic; display:block;text-align: center;">One file at a time.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---end inner tab-->
        </div>
    </div>
</div>
