﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">File Print</h4>
                <button type="button" class="close popup_close" ng-disabled="FileprintService.IsBusy" ng-click="FileprintService.CancelPrintEditor(modalId)" aria-hidden="true">&times;</button>
            </div>
            <!--PrintOptions:{{FileprintService.PrintService.PrintOptions}}-->
            <form ng-submit="FileprintService.PrintService.PrintLeadSheet()" role="form">
                <div class="modal-body">
                    <!--<hfc-person-edit-form-new-file></hfc-person-edit-form-new-file>-->
                    <i>*At least one (1) selection is required</i>
                    <div ng-if="FileprintService.PrintService.PrintOptions.AddleadCustomer==false &&
                         FileprintService.PrintService.PrintOptions.AddGoogleMap==false &&
                         FileprintService.PrintService.PrintOptions.AddMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddGarageMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddClosetMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddOfficeMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddFloorMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddFCCMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddPrintExistingMeasurements==false &&
                         FileprintService.PrintService.PrintOptions.AddPrintInternalNotes==false &&
                         FileprintService.PrintService.PrintOptions.AddPrintExternalNotes==false &&
                         FileprintService.PrintService.PrintOptions.AddPrintDirectionNotes==false &&
                         FileprintService.PrintService.PrintOptions.AddPrintQuote==false" 
                         style="color:red">

                    </div>
                    <table class="print-td">
                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print" ng-model="FileprintService.PrintService.PrintOptions.AddleadCustomer" value="Lead/Customer" id="checkbox1">
                                    <label class="checkbox" for="checkbox1">Lead/Customer and Opportunity details(with Zillow info)</label>
                                </span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print" ng-model="FileprintService.PrintService.PrintOptions.AddGoogleMap" value="Google map" id="checkbox2">
                                    <label class="checkbox" for="checkbox2">Google map</label>
                                </span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print" ng-model="FileprintService.PrintService.PrintOptions.AddMeasurementForm" value="Measurement Form" id="checkbox3">
                                    <label class="checkbox" for="checkbox3">Measurement Form</label>
                                </span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print" ng-model="FileprintService.PrintService.PrintOptions.AddGarageMeasurementForm" value="Garage Measurement Form" id="checkbox4">
                                    <label class="checkbox" for="checkbox4">Garage Measurement Form</label>

                                </span>
                            </td>
                            <td>
                                Qty&nbsp;<input type="text" name="Print"
                                                maxlength="2"
                                                ng-model="FileprintService.PrintService.PrintOptions.GarageMeasurementFormQuntity"
                                                ng-disabled="!FileprintService.PrintService.PrintOptions.AddGarageMeasurementForm"
                                                style="width:25%" value="Garage Measurement Form Quantity" id="txtGarageMeasurementFormQuntity">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print" ng-model="FileprintService.PrintService.PrintOptions.AddClosetMeasurementForm" value="Closet Measurement Form" id="checkbox5">
                                    <label class="checkbox" for="checkbox5">Closet Measurement Form</label>
                                </span>
                            </td>
                            <td>
                                Qty&nbsp;<input type="text" name="Print"
                                                maxlength="2"
                                                ng-disabled="!FileprintService.PrintService.PrintOptions.AddClosetMeasurementForm"
                                                ng-model="FileprintService.PrintService.PrintOptions.ClosetMeasurementFormQuntity"
                                                style="width:25%" value="Closet Measurement Form Quantity" id="txtClosetMeasurementFormQuntity">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print"
                                           ng-model="FileprintService.PrintService.PrintOptions.AddOfficeMeasurementForm" value="Office Measurement Form" id="checkbox6">
                                    <label class="checkbox" for="checkbox6">Office Measurement Form</label>
                                </span>
                            </td>
                            <td>
                                Qty&nbsp;<input type="text" name="Print"
                                                maxlength="2"
                                                ng-disabled="!FileprintService.PrintService.PrintOptions.AddOfficeMeasurementForm"
                                                ng-model="FileprintService.PrintService.PrintOptions.OfficeMeasurementFormQuntity"
                                                style="width:25%" value="Office Measurement Form Quantity" id="txtOfficeMeasurementFormQuntity">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print"
                                           ng-model="FileprintService.PrintService.PrintOptions.AddFloorMeasurementForm" value="Floor Measurement Form" id="checkbox7">
                                    <label class="checkbox" for="checkbox7">Floor Measurement Form</label>
                                </span>
                            </td>
                            <td>
                                Qty&nbsp;<input type="text" name="Print"
                                                maxlength="2"
                                                ng-disabled="!FileprintService.PrintService.PrintOptions.AddFloorMeasurementForm"
                                                ng-model="FileprintService.PrintService.PrintOptions.FloorMeasurementFormQuntity"
                                                style="width:25%" value="Floor Measurement Form Quantity" id="txtFloorMeasurementFormQuntity">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print"
                                           ng-model="FileprintService.PrintService.PrintOptions.AddFCCMeasurementForm" value="Concrete Craft Measurement Form" id="checkbox8">
                                    <label class="checkbox" for="checkbox8">Concrete Craft Measurement Form</label>
                                </span>
                            </td>
                            <td>
                                Qty&nbsp;<input type="text" name="Print"
                                                maxlength="2"
                                                ng-disabled="!FileprintService.PrintService.PrintOptions.AddFCCMeasurementForm"
                                                ng-model="FileprintService.PrintService.PrintOptions.ConcreteCraftMeasurementFormQuntity"
                                                style="width:25%" value="Concrete Craft Measurement Form Quantity" id="txtConcreteCraftMeasurementFormQuntity">

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print" ng-model="FileprintService.PrintService.PrintOptions.AddPrintExistingMeasurements" value="Print Existing Measurements" id="checkbox9">
                                    <label class="checkbox" for="checkbox9">Print Existing Measurements</label>
                                </span>
                            </td>
                            <td></td>
                        </tr>



                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print" ng-model="FileprintService.PrintService.PrintOptions.AddPrintInternalNotes" value="Internal Notes" id="checkbox10">
                                    <label class="checkbox" for="checkbox10">Internal Notes (With Watermark)</label>
                                </span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print" ng-model="FileprintService.PrintService.PrintOptions.AddPrintExternalNotes" value="External Notes" id="checkbox11">
                                    <label class="checkbox" for="checkbox11">External Notes</label>
                                </span>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print" 
                                           ng-model="FileprintService.PrintService.PrintOptions.AddPrintDirectionNotes" 
                                           value="Direction Notes" id="checkbox110">
                                    <label class="checkbox" for="checkbox110">Direction Notes</label>
                                </span>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>
                                <span class="field popup_cfield">
                                    <input type="checkbox" name="Print" ng-model="FileprintService.PrintService.PrintOptions.AddPrintQuote" value="Quote" id="checkbox12">
                                    <label class="checkbox" for="checkbox12">Quote</label>
                                </span>
                            </td>
                            <td></td>
                        </tr>
                    </table>



                    <!--<span class="field popup_cfield">
                        <input type="checkbox" name="Print" ng-model="FileprintService.PrintService.PrintOptions.AddGarageMeasurementForm" value="Garage Measurement Form" id="checkbox4">
                        <label class="checkbox" for="checkbox4">Garage Measurement Form

                        </label>

                    </span>-->
                    <!--<input type="checkbox" name="Print" value="Lead/Customer">Lead/Customer and Opportunity details(with Zillow info)<br>
                    <input type="checkbox" name="Print" value="Google map">Google map <br>
                    <input type="checkbox" name="Print" value="Measurement Form">Measurement Form<br>
                    <input type="checkbox" name="Print" value="Internal Notes">Internal Notes<br>
                    <input type="checkbox" name="Print" value="External Notes">External Notes-->
                </div>
                <div class="modal-footer">

                    <div class="popup_butns">
                        <button type="reset" data-dismiss="modal" ng-disabled="FileprintService.IsBusy" class="btn btn-cancel">Cancel</button>
                        <button type="submit" ng-disabled="FileprintService.PrintService.PrintOptions.AddleadCustomer==false &&
                         FileprintService.PrintService.PrintOptions.AddGoogleMap==false &&
                         FileprintService.PrintService.PrintOptions.AddMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddGarageMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddClosetMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddOfficeMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddFloorMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddFCCMeasurementForm==false &&
                         FileprintService.PrintService.PrintOptions.AddPrintExistingMeasurements==false &&
                         FileprintService.PrintService.PrintOptions.AddPrintInternalNotes==false &&
                         FileprintService.PrintService.PrintOptions.AddPrintQuote==false &&
                         FileprintService.PrintService.PrintOptions.AddPrintExternalNotes==false &&
                         FileprintService.PrintService.PrintOptions.AddPrintDirectionNotes==false"         
                                class="btn btn-cancel">
                            Print
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>













<!--<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close popup_close" ng-disabled="FileprintService.IsBusy" ng-click="FileprintService.CancelAttendeeEditor(modalId)" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Print</h4>
            </div>
            <form role="form"  ng-submit="FileprintService.SaveEditor(modalId)">
              <i>At least one (1) selection is required</i>
                <input type="checkbox" name="Print" value="Lead/Customer">Lead/Customer and Opportunity details(with Zillow info)<br>
                <input type="checkbox" name="Print" value="Google map">Google map <br>
                <input type="checkbox" name="Print" value="Measurement Form">Measurement Form<br>
                <input type="checkbox" name="Print" value="Internal Notes">Internal Notes<br>
                <input type="checkbox" name="Print" value="External Notes">External Notes
            </form>
        </div>
    </div>
</div>-->
