﻿<div class="inline-relative">
   
    <!--<h3 class="media-heading">
        <small ng-bind="heading"></small>
       
        <button type="button" ng-disabled="IsBusy" ng-click="FileprintService.ShowEditor('attendee')">Attendee</button>
    </h3>-->

    
</div>