﻿<!-- Template for Additonal Contact  Popup Display -->
<style>
    /*.contactCanvas {
       width:600px !important;
       height:auto;
    }*/
    .lead_rtop h4 { 
       color: #fff !important;
       margin-bottom: 0 !important;
    }
</style>

<div class="modal fade" id="_contactModal_" >
    <!--<div class="modal-dialog aditional_adrespopup">-->
    <div class="modal-wrapper-container"></div>
        <div class="modal-content">
            <div class="modal-header popup_head" style="padding:5px;">
                <h4 class="mx-auto modal-title"> Additional Contact</h4>
                <!--<button type="button" class="close popup_close">&times;</button>-->
            </div>
            <form name="Pop_AddtnlAddress" role="form" novalidate>
                <div class="modal-body">
                    <div class="row popup-adresgroup">
                        <label class="col-sm-3 col-xs-3 text_detlabel">First Name</label>
                        <div class="col-sm-9 col-xs-9">
                            <label class="ldet_label">First_Name</label>
                        </div>
                    </div>
                    <div class="row popup-adresgroup">
                        <label class="col-sm-3 col-xs-3 text_detlabel">Last Name</label>
                        <div class="col-sm-9 col-xs-9">
                            <label class="ldet_label">Last_Name</label>
                        </div>
                    </div>
                    <div class="row popup-adresgroup">
                        <label class="col-sm-3 col-xs-3 text_detlabel">Company Name</label>
                        <div class="col-sm-9 col-xs-9">
                            <label class="ldet_label">Company_Name</label>
                        </div>
                    </div>
                    <div class="row popup-adresgroup">
                        <label class="col-sm-3 col-xs-3 text_detlabel">Title</label>
                        <div class="col-sm-9 col-xs-9">
                            <label class="ldet_label">Title_</label>
                        </div>
                    </div>
                    <div class="row popup-phgroup">
                        <label class="col-sm-3 col-xs-3 text_detlabel">Cell Phone</label>
                        <div class="col-sm-9 col-xs-9 row no-margin">
                            <div class="col-xs-7 no-padding">
                                <label class="col-xs-7 ldet_label ng-binding phone_Format pl-0" style="line-height: 22px;">Cell_Phone</label>
                                <label class="col-xs-5 lradio-prefer ml-0 pl-0">
                                    <input type="radio" class="option-input radio radio_space" 
                                           id="Cell_Phone_Pre" name="preferredTFN" value="C" 
                                           ng-model="PreferredTFN" title="Preferred contact number" disabled />Preferred
                                </label>
                            </div>
                            <div class="col-sm-5 no-padding"></div>
                        </div>
                    </div>
                    <div class="row popup-phgroup">
                        <label class="col-sm-3 col-xs-3 text_detlabel">Home Phone</label>
                        <div class="col-sm-9 col-xs-9 row phone_field">
                            <div class="col-xs-7 no-padding">
                                <label class="col-xs-7 ldet_label ng-binding phone_Format pl-0" style="line-height: 22px;">Home_Phone</label>
                                <label class="col-xs-5 lradio-prefer ml-0 pl-0">
                                    <input type="radio" class="option-input radio radio_space" id="Home_Phone_Pre" name="preferredTFN" value="H" ng-model="PreferredTFN" title="Preferred contact number" disabled />Preferred
                                </label>
                            </div>
                            <div class="col-sm-5 no-padding"></div>
                        </div>
                    </div>
                    <div class="row popup-phgroup">
                        <label class="col-sm-3 col-xs-3 text_detlabel">Work Phone</label>
                        <div class="col-sm-9 col-xs-9 row no-margin">
                            <div class="col-xs-7 no-padding">
                                <label class="col-xs-7 ldet_label ng-binding phone_Format pl-0" style="line-height: 22px;">
                                    Work_Phone
                                </label>
                                <label class="col-xs-5 lradio-prefer ml-0 pl-0">
                                    <input type="radio" class="option-input radio radio_space" id="Work_Phone_Pre" name="preferredTFN" value="W" ng-model="PreferredTFN" title="Preferred contact number" disabled />Preferred
                                </label>
                            </div>
                            <div class="col-sm-5 col-xs-5 no-padding">
                                <label class="col-xs-3 text_detlabel">Ext</label>
                                <div class="col-xs-9 pr-0">
                                    <label class="ldet_label">Work_Phone_Ext</label>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row popup-adresgroup">
                        <label class="col-sm-3 col-xs-3 text_detlabel">Email</label>
                        <div class="col-sm-9 col-xs-9">
                            <label class="ldet_label">Primary_Email</label>
                        </div>
                    </div>
                    <div class="row popup-adresgroup">
                        <label class="col-sm-3 col-xs-3 text_detlabel">Secondary Email</label>
                        <div class="col-sm-9 col-xs-9">
                            <label class="ldet_label"> Secondary_Email</label>
                        </div>
                    </div>
                    <div class="row popup-adresgroup">
                        <label class="col-sm-3 col-xs-3 text_detlabel"></label>
                        <div class="col-sm-9 col-xs-9">
                            <label class="custom-cbox1 mb-0">
                                <input disabled type="checkbox" id="receive_promotion_emails"
                                       class="option-input checkbox" ng-model="IsReceiveEmails"
                                       >
                                 Receive Promotion Emails
                            </label>
                        </div>
                    </div>
                 </div>
            </form>
        </div>
    <!--</div>-->
    </div>


