﻿<div>
    <!-- Grid Section  -->
    <div>
        <div class="table-responsive">
            <table class="table table-expand">
                <thead class="expand_lhead">
                    <tr>
                        <th></th>
                        
                        <th>Ship To Location</th>
                        <th>Ship To Name</th>
                        <th>Address 1</th>
                        <th>Address 2</th>
                        <th>City</th>
                        <th>State/Province</th>
                        <th>Postal Code</th>
                        <th>Country</th>
                        <th>Territory ID</th>
                        <th>
                            <button type="button" class="plus_but tooltip-bottom"
                                    data-tooltip="Ship To Location" ng-click="AdditionalAddressServiceTP.AddAddressTP()">
                                <i class="far fa-plus-square"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ac in AdditionalAddressServiceTP.AddressList">
                        <td>
                            <a class="far fa-pen edit_icon"
                               ng-click="AdditionalAddressServiceTP.EditAddressTP($index)">
                            </a>

                        </td>
                        <td>{{ac.AddressType}}</td>
                        <td>
                            <!--<a ng-click="AdditionalAddressServiceTP.DisplayAddressTP($index)">{{ac.Address1}}</a>-->
                            <address class="inline-relative" hfc-googlemaps="" addr="ac">
                                <a style="color: rgb(61,125,139)" target="_blank" href="" ng-cloak ng-href="{{AdditionalAddressServiceTP.GetGoogleAddressHref(ac)}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP($index)">
                                    {{ac.Address1}}
                                </a>
                                <div class="mapCanvas"></div>
                            </address>
                        </td>
                        <td>{{ac.AttentionText}}</td>
                        <td>{{ac.City + ", " + ac.State + ", " + ac.ZipCode}}</td>
                        <td>{{ac.CountryCode2Digits}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Popup Secontion -->
    <div>
        <div class="modal fade" id="_addtnlAddressModal_" data-keyboard="false"
             data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 class="mx-auto modal-title">{{AdditionalAddressServiceTP.Mode}} Additional Address</h4>
                        <button type="button"
                                class="close popup_close"
                                ng-disabled="AdditionalAddressServiceTP.IsBusy"
                                ng-click="AdditionalAddressServiceTP.Cancel(modalId)"
                                aria-hidden="true">
                            &times;
                        </button>

                    </div>
                    <form ng-submit="AdditionalAddressServiceTP.SaveAddressTP(this)"
                          name="Pop_AddtnlAddress" role="form" novalidate>
                        <div class="modal-body">
                            <!-- Display this div, when the mode is not Disply(otherwise add or edit) -->
                            <div ng-if="AdditionalAddressServiceTP.Mode != 'Display'">
                                <div class="form-group row ml-0 mr-0" ng-class="{true: 'has-error'}[AdditionalAddressServiceTP.submitnte && Pop_AddtnlAddress.Attention.$invalid]">
                                    <label class="col-sm-3 required_label no-margin" >Address Type</label>
                                    <div class="col-sm-9 popup_radio">
                                        <label class="resident_rbut"><input type="radio" class="option-input radio" name="addressType" ng-model="AdditionalAddressServiceTP.Address.AddressType" value="Residential" required> Residential</label>
                                        <label><input type="radio" class="option-input radio" name="addressType" ng-model="AdditionalAddressServiceTP.Address.AddressType" value="Commercial" required> Commercial</label>
                                        <label class="float-right req_desc text-align: right errortext">Required</label>
                                    </div>
                                </div>

                                <div class="form-group row ml-0 mr-0" ng-class="{true: 'has-error'}[AdditionalAddressServiceTP.submitnte && Pop_AddtnlAddress.Attention.$invalid]">
                                    <label class="col-sm-3 col-xs-3 required_label">Attention</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="text"
                                               name="Attention"
                                               ng-model="AdditionalAddressServiceTP.Address.AttentionText"
                                               ng-required="true"
                                               maxlength="256"
                                               class="frm_controllead1 required_field"
                                               placeholder="Required" />
                                    </div>
                                </div>

                                <hfc-addresstp address-model="AdditionalAddressServiceTP.Address"
                                               parent-form-submit-status="AdditionalAddressServiceTP.submitnte"></hfc-addresstp>

                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 valid_label">Country</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white"
                                                  
                                                    ng-model="AdditionalAddressServiceTP.Address.CountryCode2Digits"
                                                    ng-change="AdditionalAddressServiceTP.CountryChanged()"
                                                    ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AdditionalAddressServiceTP.CountryList'></select>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Cross Street</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="text" placeholder="Cross Street" maxlength="50"
                                               name="crossStreet"
                                               ng-model="AdditionalAddressServiceTP.Address.CrossStreet"
                                               pattern="^[#.0-9a-zA-Z\s,-]+$"
                                               class="frm_controllead1" />
                                    </div>
                                </div>

                            </div>

                         
                        </div>

                        <div class="modal-footer">
                            <div class="popup_butns">
                                <button type="button" ng-disabled="AdditionalAddressServiceTP.IsBusy"
                                        ng-click="AdditionalAddressServiceTP.Cancel(modalId)"
                                        class="btn btn-cancel">
                                    Cancel
                                </button>
                                <button ng-if="AdditionalAddressServiceTP.Mode != 'Display'" type="submit" class="btn btn-cancel">
                                    Save
                                </button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
