﻿<!-- Template for Additonal Address Popup -->
<div>
    <style>
    .modal-open {
       overflow-y: hidden !important;
    }
    </style>
    <div class="modal fade" id="_addtnlAddressModal_" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">{{AdditionalAddressServiceTP.Mode}} Additional Address</h4>
                    <button type="button" 
                            class="close popup_close"
                            ng-disabled="AdditionalAddressServiceTP.IsBusy"
                            ng-click="AdditionalAddressServiceTP.Cancel(modalId)"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>
                <form ng-submit="AdditionalAddressServiceTP.SaveAddressTP(this)"
                      name="Pop_AddtnlAddress" role="form" novalidate>
                    <div ng-show="LeadId <= 0 || AccountId <= 0">
                    </div>
                    <div class="modal-body adres_popup">
                        <!-- Display this div, when the mode is not Disply(otherwise add or edit) -->
                        <div ng-show="AdditionalAddressServiceTP.Mode != 'Display'">
                            <div class="popup-group row" ng-class="{true: 'has-error'}[AdditionalAddressServiceTP.submitnte && Pop_AddtnlAddress.Attention.$invalid]">
                                <label class="col-sm-3 col-xs-3 required_label">Attention</label>
                                <div class="col-sm-9 col-xs-9">
                                    <input type="text"
                                           name="Attention"
                                           ng-model="AdditionalAddressServiceTP.Address.AttentionText"
                                           ng-required="!AdditionalAddressServiceTP.Address.ContactId"
                                           maxlength="256"
                                           ng-class="{true: 'required_field'}[Pop_AddtnlAddress.contact_Address.$invalid && Pop_AddtnlAddress.Attention.$invalid]"
                                           class="form-control frm_controllead1"
                                           placeholder="{{AdditionalAddressServiceTP.placeHolderText}}" />
                                </div>
                            </div>
                            <div class="popup-group row"
                                 ng-class="{true: 'has-error'}[AdditionalAddressServiceTP.submitnte && Pop_AddtnlAddress.contact_Address.$invalid]">
                                <label class="col-sm-3 col-xs-3 valid_label">Contact</label>
                                <div class="col-sm-9 col-xs-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white" style="padding:5px !important;"
                                                ng-model="AdditionalAddressServiceTP.Address.ContactId"
                                                name="contact_Address"
                                                ng-click="AdditionalAddressServiceTP.changePlaceholder(AdditionalAddressServiceTP.Address.ContactId)"
                                                ng-class="{true: 'errorTP'}[Pop_AddtnlAddress.contact_Address.$invalid && Pop_AddtnlAddress.Attention.$invalid]"
                                                ng-required="!AdditionalAddressServiceTP.Address.AttentionText"
                                                ng-options='opt.CustomerId as (opt.FullName) for opt in AdditionalAddressServiceTP.ContactList'>
                                            <option value="">Select</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="popup-group row">
                                <label class="col-sm-3 col-xs-3"></label>
                                <div class="col-sm-9 col-xs-9" ng-class="{true: 'has-error'}">
                                    <div class="radio-group">
                                        <input type="checkbox" class="option-input checkbox"
                                               ng-model="AdditionalAddressServiceTP.Address.IsBussinessAddress">
                                        <label>Business Address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="popup-group row">
                                <label class="col-sm-3 col-xs-3"></label>
                                <div class="col-sm-9 col-xs-9" ng-class="{true: 'has-error'}">
                                    <div class="radio-group">
                                        <input type="checkbox" class="option-input checkbox"
                                               ng-model="AdditionalAddressServiceTP.Address.IsInstallationAddress">
                                        <label>Installation Address</label>
                                    </div>
                                </div>
                            </div>
                            <hfc-addresstp address-model="AdditionalAddressServiceTP.Address"
                                           parent-form-submit-status="AdditionalAddressServiceTP.submitnte"></hfc-addresstp>
                            <div class="popup-group row">
                                <label class="col-sm-3 col-xs-3 valid_label">Country</label>
                                <div class="col-sm-9 col-xs-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white" style="padding:5px !important;"
                                                ng-model="AdditionalAddressServiceTP.Address.CountryCode2Digits"
                                                ng-change="AdditionalAddressServiceTP.CountryChanged()"
                                                ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AdditionalAddressServiceTP.CountryList'></select>
                                    </span>
                                </div>
                            </div>
                            <div class="popup-group row ml-0 mr-0">
                                <label class="col-sm-3 col-xs-3 required_label">Location Info</label>
                                <div class="col-sm-9 col-xs-9">
                                    <input type="text" ng-model="AdditionalAddressServiceTP.Address.Location"
                                           class="frm_controllead1" placeholder="" maxlength="256" />
                                </div>
                            </div>
                            <div class="popup-group row">
                                <label class="col-sm-3 col-xs-3 required_label">Cross Street</label>
                                <div class="col-sm-9 col-xs-9">
                                    <input type="text" placeholder="Cross Street" maxlength="75"
                                           name="crossStreet"
                                           ng-model="AdditionalAddressServiceTP.Address.CrossStreet"
                                           class="frm_controllead1" />
                                </div>
                            </div>
                        </div>
                        <!-- Display dis div, only for the details (otherwise not editable) -->
                        <div ng-show="AdditionalAddressServiceTP.Mode == 'Display'">
                                <div class="popup-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Attention</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalAddressServiceTP.Address.AttentionText}}</label>
                                    </div>
                                </div>
                                <div class="popup-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Contact</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalAddressServiceTP.Address.ContactName}}</label>
                                    </div>
                                </div>
                                <div class="popup-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel"></label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="checkbox" class="option-input checkbox"
                                               disabled
                                               ng-model="AdditionalAddressServiceTP.Address.IsBussinessAddress">
                                        <label style="font-weight:100;">Business Address</label>
                                    </div>
                                </div>
                                <div class="popup-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel"
                                           ng-bind="AdditionalAddressServiceTP.Address.CountryCode2Digits == 'US' ? 'Zip Code' : 'Postal Code'">
                                    </label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label"> {{AdditionalAddressServiceTP.Address.ZipCode}}</label>
                                    </div>
                                </div>
                                <div class="popup-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Address</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalAddressServiceTP.Address.FullAddress}}</label>
                                        <label ng-show="AdditionalAddressServiceTP.Address.IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="margin-left: 5px;"><i class="fa fa-exclamation-triangle"></i></label>
                                        <label ng-show="AdditionalAddressServiceTP.Address.IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="margin-left: 5px;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                                    </div>
                                    <!--<div class="col-sm-1 col-xs-1">
                                        <label ng-show="AdditionalAddressServiceTP.Address.IsValidated==false" class="ng-binding ldet_label error" style="vertical-align:sub;"><i class="fa fa-exclamation-triangle"></i></label>
                                    </div>-->
                                </div>
                                <!--<div class="source-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Address 1</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalAddressServiceTP.Address.Address1}}</label>
                                        <label ng-show="AdditionalAddressServiceTP.Address.IsValidated==false" class="ng-binding ldet_label error" style="margin-left: 5px;"><i class="fa fa-exclamation-triangle"></i></label>
                                    </div>
                                    <div class="col-sm-1 col-xs-1">
                                        <label ng-show="AdditionalAddressServiceTP.Address.IsValidated==false" class="ng-binding ldet_label error" style="vertical-align:sub;"><i class="fa fa-exclamation-triangle"></i></label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Address 2</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalAddressServiceTP.Address.Address2}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">City</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalAddressServiceTP.Address.City}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel"
                                           ng-bind="AdditionalAddressServiceTP.Address.CountryCode2Digits == 'US' ? 'State' : 'Province'"></label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalAddressServiceTP.Address.State}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Country</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalAddressServiceTP.Address.CountryCode2Digits}}</label>
                                    </div>
                                </div>-->
                                <div class="row popup-group ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Location Info</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalAddressServiceTP.Address.Location}}</label>
                                    </div>
                                </div>
                                <div class="popup-group row">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Cross Streets</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalAddressServiceTP.Address.CrossStreet}}</label>
                                    </div>
                                </div>
                        </div>
                        <!-- END Display dis div, only for the details (otherwise not editable) -->
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="button" ng-disabled="AdditionalAddressServiceTP.IsBusy"
                                    ng-click="AdditionalAddressServiceTP.Cancel(modalId)"
                                    class="btn btn-cancel">
                                Cancel
                            </button>
                            <button ng-if="AdditionalAddressServiceTP.Mode != 'Display'" type="submit" class="btn btn-cancel">
                                Save
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

    <!-- Popup Secontion -->
    <div hidden ng-include="'/Templates/NG/LinkedList/Hfc-additional-contact-display.html'">
    </div>
    <!--<hfc-contact-overlay></hfc-contact-overlay>-->
</div>

