﻿<!-- Template for appointment-event Grid -->


    
    <div class="table-responsive appointment_table">
        <table class="table table-expand">
            <thead class="expand_lhead">
                <tr>
                   
                    <th class="row-1">Subject</th>
                    <!--<th ng-show="associatedWith=='Lead'" class="row-1">Lead Id</th>
                    <th ng-show="associatedWith=='Account'" class="row-1">Account Id</th>
                    <th ng-show="associatedWith=='Opportunity'" class="row-1">Opportunity Id</th>-->
                    <th ng-show="associatedWith=='Lead'" class="row-1">Attendees</th>
                    <th ng-show="associatedWith=='Account'" class="row-1">Attendees</th>
                    <th ng-show="associatedWith=='Opportunity'" class="row-1">Attendees</th>
                    <th class="row-1">Due Date</th>
                    <th class="row-1">Note</th>
                    <th class="row-1" ng-show="isEditt"></th>
                </tr>
            </thead>
            <tbody>
                  <tr ng-repeat="e in taskList">
                   
                    <td>{{e.Subject}}</td>
                    <!--<td ng-show="associatedWith=='Lead'">{{e.LeadId}}</td>
                    <td ng-show="associatedWith=='Account'">{{accountId}}</td>
                    <th ng-show="associatedWith=='Opportunity'">{{opportunityId}}</th>-->
                      <td ng-show="associatedWith=='Lead'">{{e.AttendeesName}}</td>
                      <td ng-show="associatedWith=='Account'">{{e.AttendeesName}}</td>
                      <td ng-show="associatedWith=='Opportunity'">{{e.AttendeesName}}</td>
                    <td>{{e.DueDate|GlobalTime:'shortDate'}}</td>
                    <td>{{e.Message}}</td>
                    <td ng-show="isEditt">
                        <ul>
                            <li class="dropdown note1 ad_user">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h dot_icon"></i>
                                </button> 
                                <ul class="dropdown-menu pull-right"> <!-- editTask(e.TaskId,e,true) -->
                                  <li ng-show="accessPermission.EditTask==true" style="display:block !important;"><a href="javascript:void(0)" ng-click="calendarModalService.setPopUpDetails(true, 'Task', e.TaskId, taskSuccessCallback)">Edit</a></li>
                                  <!--<li ng-show="accessPermission.EditTask==true" style="display:block !important;"><a href="javascript:void(0)" ng-click="eventReminderTask(e.OrganizerPersonId)">Send Reminder</a></li>-->
                                  <li ng-show="accessPermission.EditTask==true" style="display:block !important;"><a href="javascript:void(0)" ng-click="compeleteTask(e.TaskId)">Complete</a></li>
                                <!--<li><a href="">Complete</a></li>-->
                                </ul>
                            </li>
                       </ul>
                   </td>
                </tr>
            </tbody>
        </table>
    </div>


