﻿    <!-- Template for Note/Attachment Grid -->
    <div class="table-responsive order_notesgrid">
        <div class="modal fade" id="__delete__" data-keyboard="false"
             data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <button type="button" class="close popup_close" style="margin-top:-12px;"
                                ng-click="NoteServiceTP.DeleteCancel2()"
                                aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div>
                        <div class="modal-body text-center">
                            <span>Deleting this Note or Attachment will make it unavailable for use.</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-cancel" ng-click="NoteServiceTP.DeleteCancel2((NoteServiceTP.Note.NoteId))">
                                Cancel
                            </button>
                            <button type="button"
                                    ng-click="NoteServiceTP.DeleteYes2((NoteServiceTP.Note.NoteId))"
                                    class="btn btn-cancel">
                                Ok
                            </button>
                        </div>
                    </div>
                    <!--<div class="modal-body">
                        Deleting this Note or Attachment will make it unavailable for use.
                        <button type="button" class="adresdel_but"
                                ng-click="NoteServiceTP.DeleteCancel2((NoteServiceTP.Note.NoteId))"
                                aria-hidden="true">
                            Cancel
                        </button>
                        <button type="button" class="adresdel_but"
                                ng-disabled="NoteServiceTP.IsBusy"
                                ng-click="NoteServiceTP.DeleteYes2((NoteServiceTP.Note.NoteId))"
                                aria-hidden="true">
                            Ok
                        </button>
                    </div>-->
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead class="expand_lhead">
                <tr>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>View</th>
                    <th>Modified/Created</th> <!--<th>Created</th>-->
                    <th>Last Modified by</th>
                    <th  ng-show="IsEdit"> <!--ng-if="NoteServiceTP.showAddNotes"-->
                        <div class="popup_ticon tooltip-bottom tooltip_ncs"
                                data-tooltip="New Note" ng-click="NoteServiceTP.AddNoteTP()" > 
                            <i class="far fa-comments"></i>
                        </div>
                    </th>
                    <th  ng-show="IsEdit">
                        <div class="popup_ticon tooltip-bottom tooltip_ncs"
                                data-tooltip="New Attachment" ng-click="NoteServiceTP.AddAttachment()">
                            <i class="fa fa-paperclip"></i>
                        </div>
                    </th>
                    <th  ng-show="IsEdit"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in NoteServiceTP.NoteList">
                    <td>{{n.NoteTypeDescription}}</td>
                    <td>
                        <a class="leaddet_hfclink" ng-click="NoteServiceTP.DisplayNoteTP($index)">{{n.Title}}</a>
                    </td>
                    <td>{{n.CategoryName}}</td>
                    <td><a class="leaddet_hfclink" href="/api/Download?streamid={{n.AttachmentStreamId}}" target="_blank">{{n.FileName}}</a> </td>
                    <!--<td>{{n.CreatedOn |GlobalTime:'shortDate'}}</td>-->
                    <!--<td>{{n.DisplayNotesDate |GlobalTime: 'short' }}</td>-->
                    <td>{{n.DisplayNotesDate |GlobalTime: "short"}}</td>
                    <td>{{n.DisplayUsername}}</td>
                    <!--<td>
                        <a class="far fa-pen edit_icon" ng-click="NoteServiceTP.EditNoteTP($index)"></a>
                    </td>-->
                    <td ng-show="IsEdit">
                        <ul class="additionalcontact_list">
                            <!--<li><a ng-hide="n.IsDeleted==true"  class="far fa-pen edit_icon" ng-click="NoteServiceTP.EditNoteTP($index)"> </a></li>
                                <li><a ng-hide="n.IsDeleted==true" class="far fa-floppy-o remove_icon" ng-click="NoteServiceTP.DeleteNoteTP2(n.NoteId)"> </a></li>
                            <li><a ng-show="n.IsDeleted==true" class="far fa-mobile" ng-click="NoteServiceTP.RecoverNote(n.NoteId)"> </a></li>-->
                            
                            <li>
                                <ul>
                                    <li class="dropdown note1">
                                        <div class="dropdown" >
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-h dot_icon" aria-hidden="true"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right additionalcontact_sublist">
                                                <li><a ng-hide="n.IsDeleted==true" ng-click="NoteServiceTP.EditNoteTP($index)">Edit</a></li>
                                                <li><a ng-hide="n.IsDeleted==true" ng-click="NoteServiceTP.DeleteNoteTP2(n.NoteId)">Delete</a></li>
                                                <li><a ng-show="n.IsDeleted==true" ng-click="NoteServiceTP.RecoverNote(n.NoteId)">Recover</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td ng-show="IsEdit"></td>
                    <td ng-show="IsEdit"></td>
                </tr>
            </tbody>
        </table>
    </div>


