﻿<!-- Template for Additonal Contact Grid and Popup -->

<div>
    <div class="modal fade" id="__delete__contact" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <button type="button" class="close popup_close" style="margin-top:-12px;"
                            ng-click="AdditionalContactServiceTP.deleteCancel()"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div>
                    <div class="modal-body text-center">
                        <span>Deleting this Contact will make it unavailable for use. </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" ng-click="AdditionalContactServiceTP.deleteCancel()">
                            Cancel
                        </button>
                        <button type="button"
                                ng-click="AdditionalContactServiceTP.deleteYes()"
                                class="btn btn-cancel">
                            Ok
                        </button>
                    </div>
                </div>
                <!--<div class="modal-body">
                    Deleting this Contact will make it unavailable for use.
                    <button type="button" class="adresdel_but"
                            ng-click="AdditionalContactServiceTP.deleteCancel()"
                            aria-hidden="true">
                        Cancel
                    </button>
                    <button type="button" class="adresdel_but"
                            ng-click="AdditionalContactServiceTP.deleteYes()"
                            aria-hidden="true">
                        Ok
                    </button>
                </div>-->
            </div>
        </div>
    </div>

    <!-- Grid Section  -->
    <div class="table-responsive" ng-hide="globalSearch">
        <table class="table table-bordered table-striped">
            <thead class="expand_lhead">
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Cell Phone</th>
                    <th>Home Phone</th>
                    <th>Work Phone</th>
                    <th>Primary Email</th>
                    <th>Secondary Email</th>
                    <th ng-if="IsEdit">
                        <div class="popup_ticon tooltip-bottom tooltip_cs" data-tooltip="New Additional Contact" ng-click="AdditionalContactServiceTP.AddContactTP()">
                            <!--ng-if="AdditionalContactServiceTP.showAddoption"-->
                            <i class="far fa-plus-square"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ac in AdditionalContactServiceTP.ContactList">
                    <td>
                        <a class="leaddet_hfclink" ng-click="AdditionalContactServiceTP.DisplayContactTP($index)">{{ac.FirstName + " " + ac.LastName}}</a>
                    </td>
                    <td>{{ac.WorkTitle}}</td>
                    <td>{{ac.CellPhone | mask: '(999) 999-9999'}}</td>
                    <td>{{ac.HomePhone | mask: '(999) 999-9999'}}</td>
                    <td>{{ac.WorkPhone | mask: '(999) 999-9999'}}</td>
                    <td>{{ac.PrimaryEmail}}</td>
                    <td>{{ac.SecondaryEmail}}</td>
                    <td ng-show="IsEdit">
                        <ul class="additionalcontact_list">
                            <!--<li><a ng-hide="ac.IsDeleted2==true" class="far fa-pen edit_icon" ng-click="AdditionalContactServiceTP.EditContactTP($index)"></a></li>
                            <li><a ng-hide="ac.IsDeleted2==true" class="far fa-floppy-o edit_icon" ng-click="AdditionalContactServiceTP.Delete(ac.CustomerId)"></a></li>
                            <li><a ng-show="ac.IsDeleted2==true" class="far fa-mobile edit_icon" ng-click="AdditionalContactServiceTP.Recover(ac.CustomerId)"></a></li>-->
                           
                            <li><ul>
                                     <li class="dropdown note1">
                                       <div class="dropdown">
                                         <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-ellipsis-h dot_icon" aria-hidden="true"></i>
                                         </button>
                                         <ul class="dropdown-menu float-right additionalcontact_sublist">
                                           <li><a ng-hide="ac.IsDeleted2==true" ng-click="AdditionalContactServiceTP.EditContactTP($index)">Edit</a></li>
                                           <li><a href="javascript:void(0)" ng-hide="ac.IsDeleted2==true" ng-click="AdditionalContactServiceTP.Delete(ac.CustomerId)">Delete</a></li>
                                           <li><a ng-show="ac.IsDeleted2==true" ng-click="AdditionalContactServiceTP.Recover(ac.CustomerId)">Recover</a></li>
                                         </ul>
                                       </div>
                                     </li>
                                 </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- Popup Secontion -->
    <div>
        <div class="modal fade" id="_addtnlContactModal_" data-keyboard="false"
             data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog aditional_adrespopup">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 class="modal-title mx-auto">{{AdditionalContactServiceTP.Mode}} Additional Contact</h4>
                        <button type="button" class="close popup_close" 
                                ng-disabled="AdditionalContactServiceTP.IsBusy"
                                ng-click="AdditionalContactServiceTP.Cancel(modalId)">
                            &times;
                        </button>
                    </div>
                    <form ng-submit="AdditionalContactServiceTP.SaveContactTP(this)"
                          name="Pop_AddtnlContact" role="form" novalidate>
                        <div class="modal-body">
                            <!-- Display this div, when the mode is not Disply(otherwise add or edit) -->
                            <div ng-if="AdditionalContactServiceTP.Mode != 'Display'">
                                <div>
                                    <div class="popup-group row"  ng-class="{true: 'has-error'}[AdditionalContactServiceTP.submitnte && Pop_AddtnlContact.Pop_lname.$invalid]">
                                        <label class="col-sm-3 col-xs-3 required_label">First Name</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <!--<span class="float-right req_desc" ng-class="{true: 'errortext'}[AdditionalContactServiceTP.Personsubmit && Pop_AddtnlContact.Pop_fname.$invalid]">Required</span>-->
                                            <input type="text" name="Pop_fname"
                                                   ng-model="AdditionalContactServiceTP.Contact.FirstName"
                                                   ng-required="true" maxlength="50" class="form-control frm_controllead1 required_field"
                                                   placeholder="Required" />
                                        </div>
                                    </div>
                                    <div class="popup-group row" ng-class="{true: 'has-error'}[AdditionalContactServiceTP.submitnte && Pop_AddtnlContact.Pop_lname.$invalid]">
                                        <label class="col-sm-3 col-xs-3 required_label">Last Name</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="text" name="Pop_lname" ng-model="AdditionalContactServiceTP.Contact.LastName"
                                                   ng-required="true" maxlength="50" class="form-control frm_controllead1 required_field"
                                                   placeholder="Required" />
                                        </div>
                                    </div>
                                    <div class="popup-group row">
                                        <label class="col-sm-3 col-xs-3 required_label">Company Name</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="text" ng-model="AdditionalContactServiceTP.Contact.CompanyName"
                                                   class="form-control frm_controllead1" placeholder="Company Name"
                                                   maxlength="256" />
                                        </div>
                                    </div>
                                    <div class="popup-group row">
                                        <label class="col-sm-3 col-xs-3 required_label">Title</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="text" ng-model="AdditionalContactServiceTP.Contact.Title"
                                                   class="form-control frm_controllead1" placeholder="Title"
                                                   maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="popup_phgrid row">
                                        <label class="col-sm-3 col-xs-3 required_label">Cell Phone</label>
                                        <div class="col-sm-9 col-xs-9 row no-margin">
                                            <div class="col-sm-7 col-xs-7 row no-margin no-padding">
                                                <input type="tel" class="pno_textbox col-sm-7 col-xs-7"
                                                       name="cellPhone"
                                                       ng-model="AdditionalContactServiceTP.Contact.CellPhone"
                                                       ui-mask="(999) 999-9999"
                                                       ng-blur="CheckDuplicates('CellPhone', $event)"
                                                       ui-options="{clearOnBlur:false}"
                                                       ui-mask-placeholder
                                                       ui-mask-placeholder-char="_" />
                                                <label class="radio-prefer col-sm-5 col-xs-5 ml-0 pl-2">
                                                    <input type="radio" class="option-input radio radio_space"
                                                           name="preferredTFN"
                                                           ng-disabled="!AdditionalContactServiceTP.Contact.CellPhone"
                                                           ng-model="AdditionalContactServiceTP.Contact.PreferredPhone" value="C"
                                                           title="Preferred contact number" />Preferred
                                                </label>
                                                <!-- Validation Message -->
                                                <div ng-if="Pop_AddtnlContact.cellPhone.$dirty" ng-messages="Pop_AddtnlContact.cellPhone.$error" style="color:red">
                                                    <p class="m-0" ng-message="mask" style="font-size: 13px;">Cell Phone number should be 10 digits.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-5"> </div>
                                        </div>
                                    </div>
                                    <div class="popup_phgrid row">
                                        <label class="col-sm-3 col-xs-3 required_label">Home Phone</label>
                                        <div class="col-sm-9 col-xs-9 row no-margin">
                                            <div class="col-sm-7 col-xs-7 row no-margin no-padding">
                                                <input type="tel" ng-model="AdditionalContactServiceTP.Contact.HomePhone"
                                                       ui-mask="(999) 999-9999"
                                                       name="homePhone"
                                                       class="pno_textbox col-sm-7 col-xs-7"
                                                       ng-blur="CheckDuplicates('HomePhone', $event)"
                                                       ui-options="{clearOnBlur:false}"
                                                       ui-mask-placeholder
                                                       ui-mask-placeholder-char="_" />
                                                <label class="radio-prefer col-sm-5 col-xs-5 ml-0 pl-2">
                                                    <input type="radio" class="option-input radio radio_space"
                                                           name="preferredTFN"
                                                           ng-disabled="!AdditionalContactServiceTP.Contact.HomePhone"
                                                           value="H" ng-bind="H"
                                                           ng-model="AdditionalContactServiceTP.Contact.PreferredPhone"
                                                           title="Preferred contact number" />Preferred
                                                </label>
                                                <div ng-if="Pop_AddtnlContact.homePhone.$dirty" ng-messages="Pop_AddtnlContact.homePhone.$error" style="color:red">
                                                    <p class="m-0" ng-message="mask" style="font-size: 13px;">Home Phone number should be 10 digits.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-5"> </div>
                                        </div>
                                        <!-- Validation Message -->
                                    </div>
                                    <div class="popup_phgrid row">
                                        <label class="col-sm-3 col-xs-3 required_label">Work Phone</label>
                                        <div class="col-sm-9 col-xs-9 row no-margin">
                                            <div class="col-sm-7 col-xs-7 row no-margin no-padding">
                                                <input type="tel" class="frm_lead1 col-sm-7 col-xs-7"
                                                       name="workPhone"
                                                       ng-model="AdditionalContactServiceTP.Contact.WorkPhone"
                                                       ui-mask="(999) 999-9999"
                                                       ng-blur="CheckDuplicates('CellPhone', $event)"
                                                       ui-options="{clearOnBlur:false}"
                                                       ui-mask-placeholder
                                                       ui-mask-placeholder-char="_" />
                                                <label class="radio-prefer col-sm-5 col-xs-5 ml-0 pl-2">
                                                    <input type="radio" class="option-input radio radio_space"
                                                           name="preferredTFN"
                                                           ng-disabled="!AdditionalContactServiceTP.Contact.WorkPhone"
                                                           ng-model="AdditionalContactServiceTP.Contact.PreferredPhone" value="W"
                                                           title="Preferred contact number" />Preferred
                                                </label>
                                                <!-- Validation Message -->
                                                <div ng-if="Pop_AddtnlContact.workPhone.$dirty" ng-messages="Pop_AddtnlContact.workPhone.$error" style="color:red">
                                                    <p class="m-0" ng-message="mask" style="font-size: 13px;">Work Phone number should be 10 digits.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-5 row no-margin no-padding">
                                                <label class="col-sm-3 col-xs-3 required_label">Ext</label>
                                                <div class="col-sm-9 col-xs-9 pr-0">
                                                    <input type="text" ng-model="AdditionalContactServiceTP.Contact.WorkPhoneExt"
                                                           class="frm_controllead1" placeholder="" maxlength="50"
                                                           ng-disabled="!AdditionalContactServiceTP.Contact.WorkPhone" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popup-group row">
                                        <label class="col-sm-3 col-xs-3 required_label">Email</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="email"
                                                   id="SecpersonEmail"
                                                   name="acEmail"
                                                   ng-model="AdditionalContactServiceTP.Contact.Email"
                                                   class="form-control frm_lead" placeholder="Primary Email"
                                                   maxlength="256"
                                                   ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/" />
                                            <!--<input type="email"
                                                   id="SecpersonEmail"
                                                   name="acEmail"
                                                   ng-model="AdditionalContactServiceTP.Contact.Email" valid-domain-name valid-email-regx
                                                   class="form-control frm_lead" placeholder="Primary Email"
                                                   maxlength="256"/>-->
                                            <div class="text-danger" ng-messages="Pop_AddtnlContact.acEmail.$error">
                                                <div ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</div>
                                                <!--<span ng-show="Pop_AddtnlContact.acEmail.$error.validEmailRegx">
                                                    Please enter a valid email address!
                                                </span>
                                                <span ng-show="Pop_AddtnlContact.acEmail.$error.validDomainName">
                                                    Please enter a valid email address. An invalid character appears after the @ sign.
                                                </span>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popup-group row">
                                        <label class="col-sm-3 col-xs-3 required_label">Secondary Email</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="email"
                                                   name="acSecEmail"
                                                   id="SecPersonSecondaryEmail"
                                                   ng-model="AdditionalContactServiceTP.Contact.SecondaryEmail"
                                                   class="form-control frm_lead"
                                                   placeholder="Secondary Email"
                                                   maxlength="256"
                                                   ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/" />
                                            <!-- <div ng-messages="Pop_AddtnlContact.acSecEmail.$error" style="color:red">
                                            <input type="email"
                                                   name="acSecEmail"
                                                   id="SecPersonSecondaryEmail" valid-domain-name valid-email-regx
                                                   ng-model="AdditionalContactServiceTP.Contact.SecondaryEmail"
                                                   class="form-control frm_lead"
                                                   placeholder="Secondary Email"
                                                   maxlength="256" />-->                                                   
                                            <div class="text-danger" ng-messages="Pop_AddtnlContact.acSecEmail.$error">
                                                <div ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</div>
                                                <!--<span ng-show="Pop_AddtnlContact.acSecEmail.$error.validEmailRegx">
                                                    Please enter a valid email address!
                                                </span>
                                                <span ng-show="Pop_AddtnlContact.acSecEmail.$error.validDomainName">
                                                    Please enter a valid email address. An invalid character appears after the @ sign.
                                                </span>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popup-group row mb-0">
                                        <label class="col-sm-3 col-xs-3 required_label"></label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="checkbox" class="option-input checkbox" ng-model="AdditionalContactServiceTP.Contact.RecieveCorporateEmailBlast">
                                            <label class="ldet_label">Receive Promotion Emails</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Display dis div, only for the details (otherwise not editable) -->
                            <div ng-if="AdditionalContactServiceTP.Mode == 'Display'">
                                <div class="row popup-group">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">First Name</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalContactServiceTP.Contact.FirstName}}</label>
                                    </div>
                                </div>
                                <div class="row popup-group">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Last Name</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalContactServiceTP.Contact.LastName}}</label>
                                    </div>
                                </div>
                                <div class="row popup-group">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Company Name</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalContactServiceTP.Contact.CompanyName}}</label>
                                    </div>
                                </div>
                                <div class="row popup-group">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Title</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalContactServiceTP.Contact.Title}}</label>
                                    </div>
                                </div>
                                <div class="row popup_phgrid ">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Cell Phone</label>
                                    <div class="col-sm-9 col-xs-9 row no-margin">
                                        <div class="col-xs-7 row no-margin no-padding">
                                            <label class="col-xs-7 ldet_label pr-0 ng-binding" style="line-height: 22px;">{{AdditionalContactServiceTP.Contact.CellPhone | mask: '(999) 999-9999'}}</label>
                                            <label class="col-xs-5 lradio-prefer ml-0 pl-2">
                                                <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="C" ng-model="AdditionalContactServiceTP.Contact.PreferredPhone" title="Preferred contact number" disabled />Preferred
                                            </label>
                                        </div>
                                        <div class="col-sm-5"></div>
                                    </div>
                                </div>
                                <div class="row popup_phgrid">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Home Phone</label>
                                    <div class="col-sm-9 col-xs-9 row phone_field">
                                        <div class="col-xs-7 row no-margin no-padding">
                                            <label class="col-xs-7 ldet_label pl-0 ng-binding" style="line-height: 22px;">{{AdditionalContactServiceTP.Contact.HomePhone | mask: '(999) 999-9999'}}</label>
                                            <label class="col-xs-5 ml-0 pl-2 lradio-prefer">
                                                <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="H" ng-model="AdditionalContactServiceTP.Contact.PreferredPhone" title="Preferred contact number" disabled />Preferred
                                            </label>
                                        </div>
                                        <div class="col-sm-5 no-padding"></div>
                                    </div>
                                </div>
                                <div class="row popup_phgrid">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Work Phone</label>
                                    <div class="col-sm-9 col-xs-9 row no-margin">
                                        <div class="col-xs-7 row no-margin no-padding">
                                            <label class="col-xs-7 ldet_label pl-0 ng-binding" style="line-height: 22px;">
                                                {{AdditionalContactServiceTP.Contact.WorkPhone | mask: '(999) 999-9999'}}
                                            </label>
                                            <label class="col-xs-5 ml-0 pl-2 lradio-prefer">
                                                <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="W" ng-model="AdditionalContactServiceTP.Contact.PreferredPhone" title="Preferred contact number" disabled />Preferred
                                            </label>
                                        </div>
                                        <div class="col-sm-5 col-xs-5 no-padding row no-margin">
                                            <label class="col-xs-3 text_detlabel">Ext</label>
                                            <div class="col-xs-9 pr-0">
                                                <label class="ldet_label">{{AdditionalContactServiceTP.Contact.WorkPhoneExt}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row popup-group">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Email</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label">{{AdditionalContactServiceTP.Contact.Email}}</label>
                                    </div>
                                </div>
                                <div class="row popup-group">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Secondary Email</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ldet_label"> {{AdditionalContactServiceTP.Contact.SecondaryEmail}}</label>
                                    </div>
                                </div>
                                <div class="row no-margin">
                                    <label class="col-sm-3 col-xs-3 text_detlabel"></label>
                                    <div class="col-sm-9 col-xs-9">
                                         <input disabled type="checkbox" class="option-input checkbox" ng-model="AdditionalContactServiceTP.Contact.RecieveCorporateEmailBlast">
                                         <label class="ldet_label">Receive Promotion Emails</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="popup_butns">
                                <button type="button" ng-disabled="AdditionalContactServiceTP.IsBusy" 
                                        ng-click="AdditionalContactServiceTP.Cancel(modalId)"
                                        class="btn btn-cancel">
                                    Cancel
                                </button>
                                <button ng-if="AdditionalContactServiceTP.Mode != 'Display'" type="submit" class="btn btn-cancel">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    

