﻿<!-- Template for appointment-event Grid -->

    <div class="table-responsive appointment_table">
        <table class="table table-expand">
            <thead class="expand_lhead">
                <tr>
                   
                    <th class="row-1">Subject</th>
                    <th class="row-1">Attendees</th>
                    <th class="row-1">Type</th>
                    <th class="row-1">Start</th>
                    <th class="row-1">End</th>
                    <th class="row-1">Canceled</th>
                    <th class="row-1" ng-show="isEditt"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in eventList">
                   
                    <td>{{e.Subject}}</td>
                    <td>{{e.AttendeesName}}</td>
                    <td>{{e.AppointmentType}}</td>
                    <td ng-if="e.IsAllDay==true">{{e.StartDate |GlobalTime:'shortDate'}}</td>
                    <td ng-if="e.IsAllDay==false">{{e.StartDate |GlobalTime: 'short' }}</td>
                    <td ng-if="e.IsAllDay==true">{{e.EndDate |GlobalTime:'shortDate'}}</td>
                    <td ng-if="e.IsAllDay==false">{{e.EndDate |GlobalTime: 'short' }}</td>
                    <td><input type="checkbox"  value="" ng-model="e.IsCancelled" disabled /> </td>
                    <td ng-show="isEditt">
                        <ul>
                            <li class="dropdown note1 ad_user">
                                <button ng-show="e.IsCancelled != true" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h dot_icon"></i>
                                </button> 
                                <ul ng-show="e.IsCancelled != true" class="dropdown-menu pull-right">
                                    <li ng-show="accessPermission.EditEvent==true"><a href="javascript:void(0)" ng-click="calendarModalService.setPopUpDetails(true, 'Event', e.CalendarId, eventSuccessCallback, null, null, null, e.StartDate, e.EndDate)">Edit</a></li>
                                    <li ng-show="accessPermission.EditEvent==true"><a href="javascript:void(0)" ng-click="openCalendar(e)">Edit from Calendar</a></li>
                                </ul>
                            </li>
                       </ul>
                   </td>
                </tr>
            </tbody>
        </table>
    </div>


