﻿<!-- Template for email communication Grid -->

    <div>
<style>
    span.k-widget.k-datepicker.k-header.form-control.frm_controllead1.required_field.ng-pristine.ng-valid-required.ng-touched.kendo-date-picker-date.ng-empty.ng-invalid.ng-invalid-required.k-combobox.required {
        border: 1px solid #a94442;
        height: 24px !important;
    }
    .k-widget.form-control .k-input {
        height: 24px !important;
    }
</style>     
        <!-- Code for Add Communicationlog-->
        <div class="modal fade" id="Show_AddCommunicationLog" data-keyboard="false" data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog reverse_popup">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 class="mx-auto modal-title">Add Communication Record</h4>
                        <button type="button" class="close popup_close" ng-click="CloseAddCommunication()" aria-hidden="true">&times;</button>
                    </div>

                    <form name="Add_Communication" role="form" novalidate>
                        <!--ng-submit="SavePayment()"-->
                        <div class="modal-body reversepayment_popup">
                            <div class="leadgrid_box">
                                <div class="lead_rtop row">
                                    <div class="col-xs-12 col-sm-12 col_1">
                                        <div class="form-group row"
                                             ng-class="{true: 'has-error'}[submitted && Add_Communication.Cmncation_options.$invalid]">
                                            <label class="col-sm-3 col-xs-3 required_label">Contact Type</label>
                                            <div class="col-sm-4">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white" 
                                                            ng-model="AddCommunications.LogType"
                                                            name="Cmncation_options"
                                                            ng-class="{true: 'errorTP'}[Add_Communication.Cmncation_options.$invalid && Add_Communication.Cmncation_options.$invalid]"
                                                            ng-required="true"
                                                            ng-options='opt.Id as (opt.Name) for opt in communicationLogType'>
                                                        <option value="" disabled selected>Select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col_1">
                                        <div class="form-group row">
                                            <label class="col-3 required_label">Date</label>
                                            <div class="col-4">
                                                <input kendo-date-picker
                                                       k-format="HFCService.StaticKendoDateFormat()"
                                                       ng-class="{true: 'k-combobox required'}[submitted && Add_Communication.SentDate.$invalid]"
                                                       class="form-control frm_controllead1 required_field ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date "
                                                       style="height:26px !important; padding:0px !important;"
                                                       ng-required="true"
                                                       id="logSentDate"
                                                       type="text" name="SentDate"
                                                       placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                                                       ng-model="AddCommunications.SentDate"
                                                       data-autoclose="true" autocomplete="off"
                                                       ng-change="ValidateDate(AddCommunications.SentDate, 'logSentDate')"
                                                       required>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-3 required_label">User</label>
                                            <div class="col-4">
                                                <input type="text" ng-model="AddCommunications.UserName" class="form-control frm_controllead1">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-3 required_label">Description</label>
                                            <div class="col-9">
                                                <textarea placeholder="" multiple maxlength="150" style="width:440px; height: 85px; margin: 0px; font-size:13px;" id="txtDesciption" ng-model="AddCommunications.Description" />
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="popup_butns">
                                <button type="reset" class="btn btn-cancel" ng-click="CloseAddCommunication()">Cancel</button>
                                <button type="submit" class="btn btn-cancel" ng-click="SaveCommunication()">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End -->
    </div>


    

   



