﻿<!-- Template for Additonal Address Grid -->

<div>
    <div class="modal fade" id="__delete__address" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4></h4>
                    <button type="button" class="close popup_close"
                            ng-click="AdditionalAddressServiceTP.deleteCancel()"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div>
                    <div class="modal-body text-center">
                        <span>Deleting this Address will make it unavailable for assigning to an Opportunity.</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" ng-click="AdditionalAddressServiceTP.deleteCancel()">
                            Cancel
                        </button>
                        <button type="button"
                               ng-click="AdditionalAddressServiceTP.deleteYes()"
                                class="btn btn-cancel">
                            Ok
                        </button>
                    </div>
                </div>
                <!--<div class="modal-body">
                    Deleting this Address will make it unavailable for assigning to an Opportunity.
                    <button type="button" class="adresdel_but"
                            ng-click="AdditionalAddressServiceTP.deleteCancel()"
                            aria-hidden="true">
                        Cancel
                    </button>
                    <button type="button" class="adresdel_but"
                            ng-click="AdditionalAddressServiceTP.deleteYes()"
                            aria-hidden="true">
                        Ok
                    </button>
                </div>-->
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="expand_lhead">
                <tr>
                    <th>Business Address</th>
                    <th>Attention</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Cross Street</th>
                    <th  ng-if="IsEdit">
                        <!--ng-if="AdditionalAddressServiceTP.showAddAddress"-->
                        <div class="popup_ticon tooltip-bottom tooltip_acs"
                             data-tooltip="New Additional Address" ng-click="AdditionalAddressServiceTP.AddAddressTP()">
                            <i class="far fa-plus-square"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aa in AdditionalAddressServiceTP.AddressList">
                    <!--<td>{{aa.AddressType}}</td>-->
                    <td>
                        <!--ng-modal causes error, so changed with ng-checked-->
                        <input type="checkbox" class="option-input checkbox"
                               style="margin-right:5px;" disabled
                               ng-checked="!aa.IsResidential">
                    </td>
                    <td>{{aa.AttentionText}}</td>
                    <!--<td><a href="#!/leads/{{aa.ContactId}}" >{{aa.ContactName}}</a></td>-->
                    <td>
                        <div style="position: relative;" hfc-contact-overlay="" con="aa">
                            <a style="color: rgb(61,125,139)">
                                {{aa.ContactName}}
                            </a>
                            <div class="contactCanvas" style="height:auto; width:480px !important;">
                            </div>
                        </div>
                    </td>
                    <td>
                        <address class="inline-relative" hfc-googlemaps="" addr="aa">
                            <a style="color: rgb(61,125,139)" target="_blank" href="" ng-cloak ng-href="{{AdditionalAddressServiceTP.GetGoogleAddressHref(aa)}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP($index)">
                                {{aa.FullAddress}}
                            </a>
                            <div class="mapCanvas"></div>
                        </address>
                        <label ng-show="aa.IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="margin-left: 5px;"><i class="fa fa-exclamation-triangle"></i></label>
                        <label ng-show="aa.IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="margin-left: 5px;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                    </td>
                    <td>{{aa.CrossStreet}}</td>
                    <td ng-show="IsEdit">
                        <ul class="additionalcontact_list">
                            <!--<li><a ng-hide="aa.IsDeleted==true" class="far fa-pen edit_icon" ng-click="AdditionalAddressServiceTP.EditAddressTP($index)"></a></li>
                            <li><a ng-hide="aa.IsDeleted==true" class="far fa-floppy-o remove_icon" ng-click="AdditionalAddressServiceTP.Delete(aa.AddressId)"> </a></li>
                            <li><a ng-show="aa.IsDeleted==true" class="far fa-mobile" ng-click="AdditionalAddressServiceTP.Recover(aa.AddressId)"> </a></li>-->
                            
                            <li>
                                <ul>
                                    <li class="dropdown note1">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-h dot_icon" aria-hidden="true"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right additionalcontact_sublist">
                                                <li><a ng-hide="aa.IsDeleted==true" ng-click="AdditionalAddressServiceTP.EditAddressTP($index)">Edit</a></li>
                                                <li><a ng-hide="aa.IsDeleted==true" ng-click="AdditionalAddressServiceTP.Delete(aa.AddressId)">Delete</a></li>
                                                <li><a ng-show="aa.IsDeleted==true" ng-click="AdditionalAddressServiceTP.Recover(aa.AddressId)">Recover</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                   </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

        


