﻿<!-- Template for Note/Attachment Popup -->
<!--<style>
.modal-wrapper-container {
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            top: 0px;
            z-index: 11;
            opacity: 0.5;
            overflow: hidden;
        }
</style>-->

<div class="modal fade" id="_noteModal_" data-keyboard="false"
     data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog" style="font-style:normal;">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 ng-show="NoteServiceTP.Note.IsNote==true" class="mx-auto modal-title">{{NoteServiceTP.Mode}} Notes</h4>
                <h4 ng-show="NoteServiceTP.Note.IsNote==false" class="mx-auto modal-title">{{NoteServiceTP.Mode}} Attachment</h4>
                <button type="button" class="close popup_close"
                        ng-disabled="NoteServiceTP.IsBusy"
                        ng-click="NoteServiceTP.Cancel(modalId)"
                        aria-hidden="true">
                    &times;
                </button>
            </div>
            <form ng-submit="NoteServiceTP.SaveNoteTP($index,this)"
                  name="Pop_Note" role="form" novalidate>
                <div class="modal-body">
                    <!-- Dropzone working here :) -->
                    <!-- Display this div, when the mode is not Disply(otherwise add or edit) -->
                    <div ng-show="NoteServiceTP.Mode != 'Display'">
                        <div class="row source-group"
                             ng-class="{true: 'has-error'}[NoteServiceTP.submitnte && Pop_Note.Note_Title.$invalid]" ng-hide="NoteServiceTP.Document != ''">
                            <label class="col-sm-3 col-xs-3 required_label">Title</label>
                            <div class="col-sm-9 col-xs-9">
                                <input type="text" name="Note_Title" maxlength="50"
                                       ng-required="NoteServiceTP.Document == ''"
                                       ng-model="NoteServiceTP.Note.Title"
                                       class="form-control frm_controllead1 required_field" placeholder="Title" />

                                <!-- TypeEnum == 10 is Sales, TypeEnum == 12 is Installation -->
                                <div ng-show="NoteServiceTP.Note.SelectedCategory.id == 10 || NoteServiceTP.Note.SelectedCategory.id == 12"
                                     class="radio-group state_grid" style="margin-top:15px;">
                                    <input type="checkbox" class="option-input checkbox" id="isenabledcb"
                                           ng-model="NoteServiceTP.Note.IsEnabled"> <label for="isenabledcb">Enabled</label>
                                </div>
                            </div>
                        </div>

                        <div class="row source-group" ng-if="NoteServiceTP.FranchiseDocuments == true">
                            <label class="col-sm-3 col-xs-3 required_label">Category</label>
                            <div class="col-sm-9 col-xs-9">
                                <div class="radio-group state_grid" style="margin-top:3px;">
                                    <span>
                                        <input type="checkbox" class="option-input checkbox" id="salescb"
                                               ng-model="NoteServiceTP.Note.IsSales"> <label for="salescb">Sales</label>
                                    </span>
                                    <span style="margin-left:10px;">
                                        <input type="checkbox" class="option-input checkbox" id="productguidecb"
                                               ng-model="NoteServiceTP.Note.IsProductGuide"> <label for="productguidecb">Product Guide</label>
                                    </span>
                                    <span style="margin-left:10px;">
                                        <input type="checkbox" class="option-input checkbox" id="installationcb"
                                               ng-model="NoteServiceTP.Note.IsInstallation"> <label for="installationcb">Installation</label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row source-group state_field" ng-if="NoteServiceTP.FranchiseDocuments == false"
                             ng-class="{true: 'has-error'}[NoteServiceTP.submitnte && Pop_Note.Category.$modelValue == null
                                     || Pop_Note.Category.$modelValue=='']" ng-hide="NoteServiceTP.Document != ''">
                            <label class="col-sm-3 col-xs-3 required_label">Category</label>
                            <!--<div>
                            Selected Category-- : {{Pop_Note.Category.$invalid}}--{{NoteServiceTP.Note.SelectedCategory}}
                            </div>-->
                            <div class="col-sm-9 col-xs-9">
                                <span class="custom-dropdown custom-dropdown--white">
                                    <!--https://docs.angularjs.org/api/ng/directive/select>--
                                    <!--https://docs.angularjs.org/api/ng/directive/select#using-ngvalue-to-bind-the-model-to-an-array-of-objects-->
                                    <select ng-model="NoteServiceTP.Note.SelectedCategory"
                                            ng-class="{true: 'errorTP'}[Pop_Note.NoteServiceTP.Category || NoteServiceTP.Note.SelectedCategory == null]"
                                            ng-options="option.name for option in NoteServiceTP.CategoryList
                                                        track by option.id"
                                            name="Category"
                                            ng-required="NoteServiceTP.Document == ''"
                                            class="form-control custom-dropdown__select custom-dropdown__select--white">
                                        <!--<option value="0">Internal</option>
                                        <option value="1">Customer</option>
                                        <option value="2">Direction</option>-->
                                        <option value="" disabled selected>Select</option>
                                    </select>
                                </span>
                            </div>
                        </div>


                        <div ng-if="NoteServiceTP.Note.IsNote == false && NoteServiceTP.Document == 'SYS-DOC'">
                            <div class="row source-group">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Title</label>
                                <div class="col-sm-9 col-xs-9">
                                    <input name="sysWideTitle"
                                           ng-required="NoteServiceTP.Document != ''"
                                           ng-class="{true: 'errorTP'}[Pop_Note.sysWideTitle.$invalid]"
                                           type="text"
                                           ng-model="NoteServiceTP.sysWideTitle"
                                           class="form-control frm_controllead1 required_field"
                                           placeholder="Title"
                                           autocomplete="off" />
                                </div>
                            </div>
                            <div class="row source-group">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Concept</label>
                                <div class="col-sm-9 col-xs-9">

                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select ng-model="NoteServiceTP.sysWideConcept"
                                                ng-class="{true: 'errorTP'}[Pop_Note.sysWideConcept.$invalid]"
                                                name="sysWideConcept"
                                                ng-required="NoteServiceTP.Document != ''"
                                                style="height:26px !important; padding:4px 5px !important; font-size:12px !important;"
                                                class="form-control custom-dropdown__select custom-dropdown__select--white">
                                            <option value="">Select</option>
                                            <option value="1">Budget Blinds</option>
                                            <option value="2">Tailored Living</option>
                                            <option value="3">Concrete Crafts</option>

                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="row source-group">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Category</label>
                                <div class="col-sm-9 col-xs-9">

                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select ng-model="NoteServiceTP.sysWideCategory"
                                                ng-class="{true: 'errorTP'}[Pop_Note.sysWideCategory.$invalid]"
                                                name="sysWideCategory"
                                                ng-required="NoteServiceTP.Document != ''"
                                                style="height:26px !important; padding:4px 5px !important; font-size:12px !important;"
                                                class="form-control custom-dropdown__select custom-dropdown__select--white">
                                            <option value="">Select</option>
                                            <option value="1">Sales</option>
                                            <option value="3">Product Guides</option>
                                            <option value="2">Install</option>
                                            <option value="4">Help</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="row source-group">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Enabled</label>
                                <div class="col-sm-9 col-xs-9">
                                    <input type="checkbox" ng-model="NoteServiceTP.sysWideIsEnabled" class="option-input checkbox" />
                                </div>
                            </div>

                        </div>

                        <div class="row source-group edit_textarea " ng-if="NoteServiceTP.Note.IsNote==true">
                            <label class="col-sm-3 col-xs-3 required_label">Note</label>
                            <div class="col-sm-9 col-xs-9">
                                <textarea name="Note_Message"
                                          ng-model="NoteServiceTP.Note.Description"
                                          id="txtDeactivateMessage" placeholder="Message..."></textarea>
                            </div>
                        </div>
                        <div class="row source-group" ng-if="NoteServiceTP.Note.IsNote==false && NoteServiceTP.Mode!='Add'">
                            <label class="col-sm-3 col-xs-3 text_detlabel">File Name</label>
                            <div class="col-sm-9 col-xs-9">
                                {{NoteServiceTP.Note.FileName}}
                            </div>
                        </div>
                        <!-- Dropzone area -->


                        <div ng-if="NoteServiceTP.Note.IsNote == false && NoteServiceTP.Mode == 'Add'">
                            <div class="dropzone" hfc-dropzone-note="NoteServiceTP.DropzoneOption"
                                 id="dznotenew12345">
                                <div class="dz-message" data-dz-message>
                                    <span style="top: 33%;left: 32%;display: block;font-family:humanist521;">
                                        <span style="font-size: 40px;font-style: italic;font-weight: bold; display: block; text-align: center; line-height:30px;">
                                            Drag and Drop
                                        </span>
                                        <span style="font-size: 40px;font-style: italic; display: block; text-align: center;">
                                            to upload.
                                        </span>
                                        <span style="font-size: 25px;font-style: italic; display:block;text-align: center;">(or click)</span>
                                        <span style="font-size: 25px;font-style: italic; display:block;text-align: center;">One file at a time.</span>
                                    </span>
                                </div>
                            </div>
                            <div style="margin-top:3px;"><span style="font-style:italic;font-size: 12px;">Note: Upload size must be less than 5 MB</span></div>
                        </div>
                    </div>


                    <div class="modal fade" id="delete" data-keyboard="false"
                         data-backdrop="static">
                        <div class="modal-wrapper-container"></div>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header popup_head">
                                    <h4></h4>
                                    <button type="button" class="close popup_close"
                                            ng-disabled="NoteServiceTP.IsBusy"
                                            ng-click="NoteServiceTP.DeleteCancel()"
                                            aria-hidden="true">
                                        &times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete
                                    <button type="button" class="btn-success"
                                            ng-disabled="NoteServiceTP.IsBusy"
                                            ng-click="NoteServiceTP.Deleteyes((NoteServiceTP.Note.NoteId))"
                                            aria-hidden="true">
                                        &times;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Display dis div, only for the details (otherwise not editable) -->
                    <div ng-if="NoteServiceTP.Mode == 'Display'">
                        <div ng-if="NoteServiceTP.Document != 'SYS-DOC'">
                            <div class="row source-group">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Title</label>
                                <div class="col-sm-9 col-xs-9">
                                    <label class="ldet_label">{{NoteServiceTP.Note.Title}}</label>
                                </div>
                            </div>
                            <div ng-show="NoteServiceTP.Note.SelectedCategory.id == 10 || NoteServiceTP.Note.SelectedCategory.id == 12"
                                 class="radio-group">
                                <div class="row source-group">
                                    <label class="col-sm-3 col-xs-3 text_detlabel"></label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="checkbox" class="option-input checkbox"
                                               ng-model="NoteServiceTP.Note.IsEnabled" disabled>
                                        <label class="ldet_label">Enabled</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row source-group" ng-if="NoteServiceTP.FranchiseDocuments == false">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Category</label>
                                <div class="col-sm-9 col-xs-9">
                                    <label class="ldet_label">{{NoteServiceTP.Note.CategoryName}}</label>
                                </div>
                            </div>

                            <div class="row source-group" ng-if="NoteServiceTP.FranchiseDocuments == true">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Category</label>
                                <div class="col-sm-9 col-xs-9">
                                    <div class="radio-group">
                                        <input type="checkbox" class="option-input checkbox"
                                               ng-model="NoteServiceTP.Note.IsSales" disabled>
                                        <label>Sales</label>
                                        <input type="checkbox" class="option-input checkbox"
                                               ng-model="NoteServiceTP.Note.IsProductGuide" disabled>
                                        <label>Product Guide</label>
                                        <input type="checkbox" class="option-input checkbox"
                                               ng-model="NoteServiceTP.Note.IsInstallation" disabled>
                                        <label>Installation</label>

                                    </div>
                                </div>
                            </div>
                            <div class="row source-group" ng-if="NoteServiceTP.Note.IsNote==true">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Note</label>
                                <div class="col-sm-9 col-xs-9">
                                    <label class="ldet_label">{{NoteServiceTP.Note.Description}}</label>
                                </div>
                            </div>
                            <div class="row source-group" ng-if="NoteServiceTP.Note.IsNote==false">
                                <label class="col-sm-3 col-xs-3 text_detlabel">File Name</label>
                                <div class="col-sm-9 col-xs-9">
                                    <label class="ldet_label">
                                        <a class="hquote_hover" href="/api/Download?streamid={{NoteServiceTP.Note.AttachmentStreamId}}"
                                           target="_blank">{{NoteServiceTP.Note.FileName}}</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div ng-if="NoteServiceTP.Document == 'SYS-DOC'">
                            <div class="row source-group">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Title</label>
                                <div class="col-sm-9 col-xs-9">
                                    <label class="ldet_label">{{NoteServiceTP.sysWideTitle}}</label>
                                </div>
                            </div>
                            <div class="row source-group">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Concept</label>
                                <div class="col-sm-9 col-xs-9">
                                    <label class="ldet_label">{{NoteServiceTP.sysWideConceptTitle}}</label>
                                </div>
                            </div>
                            <div class="row source-group">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Category</label>
                                <div class="col-sm-9 col-xs-9">
                                    <label class="ldet_label">{{NoteServiceTP.sysWideCategoryTitle}}</label>
                                </div>
                            </div>

                            <div class="row source-group mb-0">
                                <label class="col-sm-3 col-xs-3 text_detlabel">File Name</label>
                                <div class="col-sm-9 col-xs-9">
                                    <label class="ldet_label">
                                        <a class="hquote_hover" href="/api/Download?streamid={{NoteServiceTP.streamId}}"
                                           target="_blank">{{NoteServiceTP.filename}}</a>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="button" ng-disabled="NoteServiceTP.IsBusy"
                                ng-click="NoteServiceTP.Cancel(modalId)"
                                class="btn btn-cancel">
                            Cancel
                        </button>
                        <button ng-if="NoteServiceTP.Mode != 'Display'" type="submit" class="btn btn-cancel">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

