﻿<style>
.customer_info {
   background: #fff;
} 
.k-widget.k-tooltip-validation {
   display: none !important;
}
ul.hfc_tabs{
   margin:0;
   padding:0;
   list-style:none;
   border-bottom: 1px solid #d8d8d8;
}
ul.hfc_tabs li {
    margin: 0;
    cursor: pointer;
    padding: 5px 21px;
    color: #000;
    overflow: inherit;
    position: relative;
    width:50%;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
}
ul.hfc_tabs li.active{
    border-bottom: 1px solid #3e7d8a;
}
.name_desc {
    display:block;
    font-size:14px;
    font-weight:100;
}
.post-comments {
  padding-bottom: 9px;
  margin: 5px 0 5px;
}
.comments-nav {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}
.post-comments .comment-meta {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}
.post-comments .media {
  border-left: 1px dotted #000;
  border-bottom: 1px dotted #000;
  margin-bottom: 5px;
  padding-left: 10px;
}
.post-comments .media-heading {
  font-size: 12px;
  color: grey;
}
.post-comments .comment-meta a {
  font-size: 12px;
  color: grey;
  font-weight: bolder;
  margin-right: 5px;
}
.k-grid td, .k-grid th {
    padding:4px;
    font-size: 13px;
}
.operation_casemangement-grid ul {
    text-align:center;
}
.operation_casemangement-grid .btn {
    padding:0px 7px !important;
}
.operation_casemangement-grid .dropdown-menu {
    min-width:80px !important;
} 
.caseview_tooltiphover p {
  white-space: nowrap; 
  width:200px; 
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  box-sizing: border-box;
  font-weight:100;
}
#MyCaseHistoryGrid1 .k-pager-wrap .k-label {
   margin:0 !important;
}
/*---kendo table style---*/
/*.k-pager-wrap {
   width: 100%;
   bottom: 30px;
   position: fixed;
   overflow: hidden !important;
}*/
.k-footer-template td {
   background-color: #cacaca !important;
}
.k-grid-content{
   position: relative;
   width: 100%;
   overflow: auto !important;
   overflow-x: auto !important;
   overflow-y: scroll !important;
   zoom: 1;
   min-height: 0;
}
#caseGrid01 {
    overflow: hidden !important;
}
.k-grid-header, .k-grid-footer {
    padding-right:17px !important;
}
.k-grid-header {
    background:#e2e2e2;
}
.k-grid-footer {
    background:#cacaca;
}
#MyAppointmentsGrid1 .k-grid-content, #MyTasksGrid1 .k-grid-content{
    overflow:inherit !important;
}
#MyAppointmentsGrid1 ul.dropdown-menu, #MyTasksGrid1 ul.dropdown-menu{
    text-align: left;
}
#caseGrid01 .k-grid-content.k-auto-scrollable, #MyAppointmentsGrid1 .k-grid-content.k-auto-scrollable,  #MyTasksGrid1 .k-grid-content.k-auto-scrollable{
    height: 100% !important;
}
#MyCaseHistoryGrid1 .k-grid-content.k-auto-scrollable {
     height:350px !important;
}
#MyCaseHistoryGrid1 .k-grid-pager {
    padding: 2px !important;
}
#MyTasksGrid1 .k-pager-input, .k-pager-sizes {
    padding:0 !important;
}
#MyTasksGrid1 .k-grid-header, .k-grid-footer, #MyAppointmentsGrid1 .k-grid-header, .k-grid-footer {
    padding-right:0 !important; 
}
#MyTasksGrid1 ul, #MyAppointmentsGrid1 ul {
    text-align:center;
}
#MyTasksGrid1 .dropdown-menu, #MyAppointmentsGrid1 .dropdown-menu {
    min-width:100px !important;
}
.k-filter-row th, .k-grid-header th.k-header {
    padding:4px !important;
}

.sub-grid {
    float: right;
    width: 44%;
}

.sub-grid .k-grid-header {
    padding-right: 0px !important;
}

.sub-grid .k-grid-content {
    overflow-y: hidden !important;
}

    #caseGrid01 kendo_customtooltip [data-tooltip]:hover:before,
    #caseGrid01 [data-tooltip]:hover:after,
    #caseGrid01 [data-tooltip]:focus:before,
    #caseGrid01 [data-tooltip]:focus:after,
    #caseGrid01 .tooltip:hover:before,
    #caseGrid01 .tooltip:hover:after,
    #caseGrid01 .tooltip:focus:before,
    #caseGrid01 .tooltip:focus:after,
    #caseGrid01 .tooltip-top:hover:before,
    #caseGrid01 .tooltip-top:hover:after,
    #caseGrid01 .tooltip-top:focus:before,
    #caseGrid01 .tooltip-top:focus:after {
        transform: translate(-55px, -6px) !important;
    }

 .lead_stab .menu-row {
     margin: 0px !important;
 }

/*---end kendo table style---*/
</style>
    <div class="lead_stab" ng-show="Permission.ViewCaseData && FranciseLevelCase">
       <div class="row menu-row">
        <div class="col-sm-6 mt-2"><h5>Case Information</h5></div>
        <div class="col-sm-6 no-padding">
            <div class="leaddetail_butns">
                <ul class="orderlist_box" ng-show="Permission.CaseEdit && Permission.CaseEdit">
                    <li class="mt-1"><button ng-show="Follow == false" type="button" class="btn btn-xs" data-toggle="Follow" ng-click="FollowThisCase()">
                        <i class="fa fa-plus"></i> Follow
                    </button></li>
                    <li class="mt-1"><button ng-show="Follow == true" type="button" class="btn btn-xs" data-toggle="Follow" ng-click="UnfollowThisCase()">
                        <i class="fa fa-minus"></i> Unfollow
                    </button></li>
                    <li><a href="#!/caseAddEdit" class="plus_but tooltip-bottom" data-tooltip="Create Case"><i class="far fa-plus-square fa_icon"></i></a></li>
                    <li><button type="button" ng-click="EditCase()" class="plus_but tooltip-bottom ng-scope" data-tooltip="Edit Case">
                        <i class="far fa-pen fa_icon"></i>
                    </button></li>
                    <li><a href="" class="plus_but tooltip-bottom" ng-if="ShowConvert" ng-click="ConvertWhole()" data-tooltip="Send to Vendor"><i class="fas fa-exchange-alt fa_icon"></i></a></li>
                </ul>
            </div>
         </div>
        </div>
   </div>
   <div class="tab_container tp_content">
       <div class="error" ng-if="!Permission.ViewCaseData || !FranciseLevelCase" style="padding-top:30px;padding-left:20px;">
           You don't have permission to this page.
       </div>
     <div class="p-3" ng-show="Permission.ViewCaseData && FranciseLevelCase">
       <div class="row">
           <div class="col-xl-4" style="border-right: 1px solid #d8d8d8; right:-1px;">
                   <ul class="hfc_tabs row">
                       <li class="active" rel="tab1">Updates</li>
                       <li rel="tab2">Related</li>
                   </ul>
                   <div id="tab1" class="tab_content mt-3">
                       <label>Post</label>
                       <comments-Component info="forComments"></comments-Component>
                   </div>
                   <div id="tab2" class="tab_content mt-2" rel="tab2">
                       <h4 class="font-weight-bold my-3" style="font-size:16px;">Open Activities</h4>  
                       <div style="font-size:16px;"> Events <a href="#!/Calendar/CaseView/{{CaseId}}" ng-show="Permission.CaseEdit" class="float-right" data-tooltip="Add Event" style="color:#000;"><i class="far fa-plus-square"></i></a>  </div>
                       <kendo-grid id="MyAppointmentsGrid1"
                                   options="RelatedEventsGridOptionss"
                                   style="margin-bottom:20px !important;">
                       </kendo-grid>
                      <div style="font-size:16px;"> Tasks <a href="javascript:void(0)" ng-show="Permission.CaseEdit" data-tooltip="Add Task" ng-click="calendarModalService.setPopUpDetails(true, 'Task', null, taskSuccessCallback)" class="float-right" style="color:#000;"><i class="far fa-plus-square"></i></a>  </div> <!--  AddTasksForCase() -->
                       <kendo-grid id="MyTasksGrid1"
                                   options="RelatedTasksGridOptionss"
                                   style="margin-bottom:20px !important;">
                       </kendo-grid>
                       <div>
                           <h4 style="font-size:16px;">Attachments </h4>
                           <div style="margin:0 15px;" file-upload></div>
                       </div>
                       <div class="table-responsive mt-2">
                           <h4 style="font-size:16px;">Case History</h4>
                               <kendo-grid id="MyCaseHistoryGrid1"
                                           options="RelatedCaseHistoryGridOptionss"
                                           style="margin-bottom:20px !important;">
                               </kendo-grid>
                       </div>
                   </div>  
           </div>
           <div class="col-xl-8 pr-0" style="border-left: 1px solid #d8d8d8;">
               <div id="loading" style="display: none;">
                   <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
               </div>
               <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
                   <button type="button" class="close" data-dismiss="alert">&times;</button>
                   <span></span>
               </div>
                   <form id="crm-lead-detail" name="formCaseManage">
                       <div class="p-3">
                           <div class="leadgrid_box">
                               <h1 style="margin-left:-15px; margin-top:0;">Case Information</h1>
                               <div class="row">
                                   <div class="col-sm-4">
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Case No</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.CaseNumber"></label>
                                           </div>
                                       </div>
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Case Owner</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.Name"></label>
                                           </div>
                                       </div>
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Date/Time Opened</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.CreatedOn|ignoreTimeZone: 'short' "></label>
                                           </div>
                                       </div>
                                       <!--<div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Description</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.Description"></label>  
                                           </div>
                                       </div>-->
                                   </div>
                                   <div class="col-sm-1"></div>
                                   <div class="col-sm-4">
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Incident Date</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.IncidentDate|GlobalTime:'shortDate' "></label>  <!--M/d/yyyy-->
                                           </div>
                                       </div>
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Status</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.StatusValue"></label>
                                           </div>
                                       </div>
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Date/Time Closed</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.DateTimeClosed|ignoreTimeZone: 'short' "></label>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-2"></div>
                               </div>
                               <div class="row form-group">
                                   <div class="col-sm-2 col-xs-2 text_detlabel case_field">
                                       <label class="required_label" style="text-align:left;">Description</label>
                                   </div>
                                   <div class="col-sm-10 col-xs-10 pr-0">
                                       <label class="ldet_label" ng-bind="CaseAddEdit.Description"></label>
                                   </div>
                               </div>
                           </div>
                           <hr />
                           <div class="leadgrid_box">
                               <h2 style="margin-left:-15px;">Customer Information</h2>
                               <div class="row">
                                   <div class="col-sm-4">
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">MPO</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label"><a class="hquote_hover" href="#!/purchasemasterview/{{CaseAddEdit.PurchaseOrderId}}">{{CaseAddEdit.MPOID}}</a> </label>
                                           </div>
                                       </div>
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Sales Order Number</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label ng-repeat="data in CaseAddEdit.SalesorderNumber" class="ldet_label">
                                                  <a class="hquote_hover" href="#!/Orders/{{CaseAddEdit.OrderId[$index]}}">{{data}}</a> <span > &nbsp; </span>
                                               </label>
                                           </div>
                                       </div>
                                       <div class="row form-group" ng-hide="CaseAddEdit.OrderId.length > 1">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Account Name</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.AccountName"></label>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-1"></div>
                                   <div class="col-sm-5" ng-hide="CaseAddEdit.OrderId.length > 1">
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Customer Preferred Phone</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <!--<label  >{{CaseAddEdit.CellPhone}}</label>-->
                                               <input ng-show="CaseAddEdit.CellPhone" type="text"  ng-model="CaseAddEdit.CellPhone"  ui-mask="(999) 999-9999" readonly style="border:none;background-color:none;" />
                                           </div>
                                       </div>
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Customer Primary Email</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.Email"></label>
                                           </div>
                                       </div>
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Side Mark</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.SideMark"></label>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-2"></div>
                               </div>
                           </div>
                           <hr />
                           <div class="leadgrid_box caseview_tooltiphover">
                               <h2 style="margin-left:-15px;">Lines</h2>
                               <kendo-grid id="caseGrid01" options="CaseinfoGridOptions" style="margin-bottom:40px !important; overflow:auto; margin-left:-15px;"></kendo-grid>
                           </div>
                           <hr />
                           <div class="leadgrid_box">
                               <h3 style="margin-left:-15px;">System Information </h3>
                               <div class="row form-group">
                                   <div class="col-sm-4">
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Created By</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.Name" style="display:block !important;"></label>
                                               <label class="ldet_label" ng-bind="CaseAddEdit.CreatedOn|ignoreTimeZone: 'short' "></label>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-1"></div>
                                   <div class="col-sm-5">
                                       <div class="row form-group">
                                           <label class="col-sm-6 col-xs-6 text_detlabel case_field">Last Modified By</label>
                                           <div class="col-sm-6 col-xs-6 pr-0">
                                               <label class="ldet_label" ng-bind="CaseAddEdit.LastUPdatedName" style="display:block !important;"></label>
                                               <label class="ldet_label" ng-bind="CaseAddEdit.LastUpdatedOn|ignoreTimeZone: 'short' "></label>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-2"></div>
                               </div>
                             </div>
                          </div>
                      </form>
                   </div>
               </div>
           </div>
       </div>
<!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
<!--<script>
    $("#MyAppointmentsGrid1 .k-grid-footer").css('display', 'none');
</script>-->
<script>
// tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

  /* if in tab mode */
    $("ul.hfc_tabs li").click(function() {

      $(".tab_content").hide();
      var activeTab = $(this).attr("rel");
      $("#"+activeTab).fadeIn();

      $("ul.hfc_tabs li").removeClass("active");
      $(this).addClass("active");

	  $(".tab_drawer_heading").removeClass("d_active");
	  $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");

    });
	/* if in drawer mode */
	$(".tab_drawer_heading").click(function() {

      $(".tab_content").hide();
      var d_activeTab = $(this).attr("rel");
      $("#"+d_activeTab).fadeIn();

	  $(".tab_drawer_heading").removeClass("d_active");
      $(this).addClass("d_active");

      $("ul.hfc_tabs li").removeClass("active");
      $("ul.hfc_tabs li[rel^='" + d_activeTab + "']").addClass("active");
    });


	/* Extra class "tab_last"
	   to add border to right side
	   of last tab */
	$('ul.hfc_tabs li').last().addClass("tab_last");
</script>


<script>
    $('[data-toggle="collapse"]').on('click', function () {
        var $this = $(this),
                $parent = typeof $this.data('parent') !== 'undefined' ? $($this.data('parent')) : undefined;
        if ($parent === undefined) { /* Just toggle my  */
            $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
            return true;
        }

        /* Open element will be close if parent !== undefined */
        var currentIcon = $this.find('.glyphicon');
        currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
        $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

    });
</script>

