﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
   .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
</style>
<div class="outter-wp">
    <div ng-controller="FranchiseCaseListController">
        <div class="lead_stab" ng-show="Permission.ListCaseData && FranciseLevelCase">
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab7" class="activelead1">
                        <a href="#!/franchiseCase">
                            <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                        </a>
                    </li>
                    <li rel="tab7" ng-if="BrandId == 1 && FranciseLevelVendorMng">
                        <a href="#!/Feedback">
                            <h3><i class="fas fa-microphone fa_icon"></i><br />Feedback</h3>
                        </a>
                    </li>
                    <li rel="tab7" ng-if="BrandId == 1 && FranciseLevelCase && FranciseLevelVendorMng">
                        <a href="#!/Overview">
                            <h3><i class="fas fa-th-list fa_icon"></i><br />Overview</h3>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>            
        </div>
        <!--Kendo Grid-->
        <div class="tab_container tpsearch_content">
            <div class="row my-2 ml-2 mr-4" ng-show="Permission.ListCaseData && FranciseLevelCase">
                <div class="col-sm-3 no-padding state_field">
                    <span class="custom-dropdown custom-dropdown--white">
                        <select class="custom-dropdown__select custom-dropdown__select--white" style="height: 33px !important;font-size: 14px;"
                                id="FLCaseTypes"
                                ng-change="checkbox_clickForCaseLise()"
                                ng-model="SelectedCaseType"
                                ng-options="opt.Id as opt.Name for opt in FLCaseTypes"></select>
                    </span>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-3 no-padding" ng-show="Permission.CaseEdit">
                    <button type="button" class="plus_but tooltip-bottom float-right" data-tooltip="Create Case" ng-click="callAddCase()">
                        <i class="far fa-plus-square"></i>
                    </button>
                    <button name="Case_Kanban_View" ng-click="gotokanbanview()" type="button" class="float-right cancel_but" style="margin-right: 13px;">Case Kanban View</button>
                </div>
            </div>
            <div class="error" ng-if="!FranciseLevelCase || !Permission.ListCaseData" style="padding-top:30px;padding-left:20px;">
                You don't have permission to this page.
            </div>
            <div class="table-responsive" ng-show="Permission.ListCaseData && FranciseLevelCase">
                <kendo-grid class="noscroll-grid ipadspace_grid" id="FranchiseCaseList" options="FranchiseCaseListGridOptions"></kendo-grid>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on("shown.bs.dropdown", ".dropdown", function () {
        var $ul = $(this).children(".dropdown-menu");
        var $button = $(this).children(".dropdown-toggle");
        var ulOffset = $ul.offset();
        if (!ulOffset) return;
        var spaceUp = (ulOffset.top - $button.height() - $ul.height()) - $(window).scrollTop();
        var spaceDown = $(window).scrollTop() + $(window).height() - (ulOffset.top + $ul.height());
        if (spaceDown < 100 && (spaceUp >= 0 || spaceUp > spaceDown))
            $(this).addClass("dropup");
    }).on("hidden.bs.dropdown", ".dropdown", function () {
        $(this).removeClass("dropup");
    });
</script>
<!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->