﻿<style>
    td.k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }

        td.k-state-selected:hover {
            color: #fff !important;
            background-color: #3d7d8b !important;
            border-color: #3d7d8b !important;
        }

    .k-list > .k-state-focused.k-state-selected {
        border-color: transparent !important;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13);
    }
</style>
<div class="outter-wp">
    <div class="tab_container">
        <!---inner tab--->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li rel="tab7">
                    <a href="#!/users">
                        <h3><i class="far fa-users fa_icon"></i><br>Users</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7">
                    <a href="#!/hfcrolesSearch">
                        <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/hfcPermissionSetsSearch">
                        <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                    </a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="tab_container tpsearch_content">
            <div class="error error_msg" ng-if="!Permission.ViewSecurity" style="padding-top:30px;padding-left:20px;">
                You don't have permission to this page.
            </div>
            <form name="HFCformroleslist" unsaved-warning-form ng-show="Permission.ViewSecurity">
                <div class="table-responsive">
                    <!--<kendo-tooltip options="kendotooltipOptions">-->
                    <kendo-grid id="gridrolesSearch" style="margin-bottom:40px" options="RolesList">

                    </kendo-grid>
                    <!--</kendo-tooltip>-->
                </div>
            </form>
        </div>
    </div>
</div>
