﻿
<div class="outter-wp">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li  rel="tab7">
                    <a href="#!/users">
                        <h3><i class="far fa-users fa_icon"></i><br />Users</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7">
                    <a href="#!/hfcrolesSearch">
                        <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/hfcPermissionSetsSearch">
                        <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                    </a>
                </li>
            </ul>
            <div class="leaddetail_butns">
                <ul class="tp_btnlist" ng-hide="IsView">
                    <li><button type="reset" ng-show="Permission.EditSecurity || Permission.AddSecurity" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="Cancel()"><i class="far fa-times-circle fa_icon"></i></button></li>
                    <li><button type="submit"ng-show="Permission.EditSecurity || Permission.AddSecurity" class="tooltip-bottom save_tpbut" ng-disabled="IsBusy" data-tooltip="Save" ng-click="SavePermission()"><i class="far fa-check-circle fa_icon"></i></button></li>

                </ul>   
                <!--<button type="button" class="plus_but tooltip-bottom"
                        data-tooltip="New Permission Set" ng-click="NewPermissionSet()">
                    <i class="fa fa-plus-square-o"></i>
                </button>-->
                <button ng-show="IsView && (Permission.EditSecurity)" type="button" class="plus_but middle_pbut tooltip-bottom"
                        data-tooltip="Edit Permission Sets" ng-click="EditPermissionSet()">
                    <i class="far fa-pen fa_icon"></i>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="tab_container tpsearch_content">
            <div class="error error_msg" ng-if="!Permission.ViewSecurity" style="padding-top:30px;padding-left:20px;">
                You don't have permission to this page.
            </div>
            <form name="HFCformroles" unsaved-warning-form ng-show="Permission.ViewSecurity">
                <div class="mesurement_grid">
                    <div id="treelist"></div>
                </div>
            </form>
        </div>
</div>
