﻿@*Rev 2205*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
</head>
<body>
    
     @RenderBody()
    
</body>
</html>


