﻿<style>
    table.table.setting_table th, table.table.setting_table td {
    border: 1px solid #ceced2 !important;
}
</style>
<div class="outter-wp">
    <section class="my_sub_header_1">
        <nav class="navbar navbar-expand-md navbar-light bg-light my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-1 custom_nav">
                        <li class="active"><a href="#!/listDocuments">General</a></li>
                        <li><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
<!---inner tab--->
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <!--<li rel="tab7">
                <a href="#!/sources">
                    <h3><i class="fas fa-bullseye fa_icon"></i><br />Campaigns</h3>
                </a>
            </li>-->
            <li rel="tab7">
                <a href="#!/listDocuments">
                    <h3><i class="fas fa-inbox fa_icon"></i><br />Manage Documents</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab7">
                <a href="#!/ViewEmail">
                    <h3><i class="fas fa-envelope-square fa_icon"></i><br />Email Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/disclaimerView">
                    <h3><i class="fa fa-shield fa_icon"></i><br />Legal Disclaimer</h3>
                </a>
            </li>
            <li rel="tab7" ng-show="IsQBEnabled!=false">
                <a href="#!/QuickbookSetup">
                    <h3><i class="fas fa-upload fa_icon"></i><br />QuickBooks Setup</h3>
                </a>
            </li>
            <!--<li rel="tab7">
                <a href="#!/procurement">
                    <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                </a>
            </li>-->
            <li rel="tab7">
                <a href="#!/appointmentTypes">
                    <h3><i class="far fa-calendar-edit fa_icon vendor_icon"></i><br />Appointment Type Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/MsrReporting">
                    <h3><i class="far fa-calendar-edit fal fa-file-chart-line fa_icon"></i><br />MSR Reporting</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button ng-if="Permission.EditEmail" type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="Cancel()"><i class="far fa-times-circle fa_icon"></i></button></li>
                <li><button ng-if="Permission.EditEmail" type="submit" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="updateEmailSettings()"><i class="far fa-check-circle fa_icon"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"></div>
</div>
<div class="tab_container tp_content">
    <form name="email_settings" unsaved-warning-form >
            <div class="error" ng-show="!Permission.EditEmail">
                You don't have permission to this page.
            </div>
            <div class="p-3" ng-show="Permission.EditEmail">
                    <div class="table-responsive">
                        <table class="table email_setting view_email">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <!--<th>From Email</th>-->
                                    <th class="text-center">Copy Assigned Sales</th>
                                    <th class="text-center">Copy Assigned Installer</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="ecl in emailConfiguredList">
                                <tr>
                                    <td class="email_list">{{ecl.EmailTypeName}}</td>
                                    <!--<td>
                        <div class="state_field">
                            <span class="custom-dropdown custom-dropdown--white email_dropdown">
                                <select class="custom-dropdown__select custom-dropdown__select--white"
                                        ng-model="ecl.FromEmailId"
                                        ng-options='opt.UserId as (opt.Email) for opt in emailList'>
                                    <option ng-value="0">select</option>
                                </select>
                            </span>
                        </div>
                    </td>-->
                                    <td class="check_tick"><input class="option-input checkbox" ng-model="ecl.CopyAssignedSales" type="checkbox" /></td>
                                    <td class="check_tick"><input class="option-input checkbox" ng-model="ecl.CopyAssignedInstaller" type="checkbox" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="false" class="form-group row state_field ml-0 mr-0">
                            <label class="col-sm-3 required_label">Default Territory</label>
                            <div class="col-sm-3 col-xs-3">
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                            id="countryBox" ng-model="DisplayTerritoryId"
                                            ng-change="TerritoryChanged()"
                                            ng-options='opt.TerritoryId as (opt.TerritoryName) for opt in TerritoryList'>
                                        <option value="">select</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                         <div class="emailsetting_title" style="background:#3d7d8b; font-weight:bold; font-size:16px; color:#fff; padding:0 8px; line-height: 2.34em;">Quote & Invoice Information</div>
                                        <!--Table 2 START-->
                                           <table class="table setting_table">
                                               <thead>
                                                   <tr>
                                                       <th>Territory</th>
                                                       <th>Use Franchise Name</th>
                                                       <th>Territory Display Name</th>
                                                       <th>Contract/License #</th>
                                                       <th>From Email</th>
                                                       <th>Location</th>
                                                       <th>Address</th>
                                                   </tr>
                                               </thead>
                                               <tbody ng-repeat="TerrEmail in TerritoryEmailData">
                                                   <tr>
                                                       <td class="email_list" style="width:150px;">{{TerrEmail.TerritoryName}}</td>
                                                       <td class="check_tick" style="width:180px;"><input class="option-input checkbox" ng-model="TerrEmail.UseFranchiseName" type="checkbox" /></td>
                                                       <td class="email_list" style="width:200px;">{{TerrEmail.Displayname}}</td>
                                                       <td class="email_list" style="width:200px;">
                                                           <input type="text" class="form-control frm_controllead1" name="License_Number"
                                                                  ng-model="TerrEmail.LicenseNumber" maxlength="25" />
                                                       </td>

                                                       <td ng-if="TerrEmail.UseFranchiseName">
                                                           <div class="state_field" style="width:200px;">
                                                               <span class="custom-dropdown custom-dropdown--white">
                                                                   <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                           ng-model="TerrEmail.FromEmailPersonId"
                                                                           name="Email_Dropdown"
                                                                            ng-options='opt.PersonId as (opt.PrimaryEmail) for opt in emailList'>
                                                                       <option value="" selected>Select</option>
                                                                   </select>
                                                               </span>
                                                           </div>

                                                       </td>


                                                       <td ng-class="{true: 'has-error'}[submitted && ( email_settings.Email_Dropdown.$modelValue==null
                                                                        || email_settings.Email_Dropdown.$modelValue=='')]" ng-if="!TerrEmail.UseFranchiseName">
                                                           <div class="state_field" style="width:200px;">
                                                               <span class="custom-dropdown custom-dropdown--white">
                                                                   <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                                           ng-model="TerrEmail.FromEmailPersonId"
                                                                           name="Email_Dropdown"
                                                                           ng-class="{true: 'errorTP',false:'k-state-selected'}[email_settings.Email_Dropdown.$invalid||TerrEmail.FromEmailPersonId==''||TerrEmail.FromEmailPersonId==null]"
                                                                           ng-required="true"
                                                                           required
                                                                           ng-options='opt.PersonId as (opt.PrimaryEmail) for opt in emailList'>
                                                                       <option value="" selected>Select</option>
                                                                   </select>
                                                               </span>
                                                           </div>

                                                       </td>
                                                       <td ng-if="TerrEmail.UseFranchiseName">
                                                           <div class="state_field" style="width:200px;">
                                                               <span class="custom-dropdown custom-dropdown--white">
                                                                   <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                           ng-model="TerrEmail.ShipToLocationId"
                                                                           name="Location_Dropdown"
                                                                           ng-change="TerreEmail($index,TerrEmail.ShipToLocationId)"
                                                                           ng-options='opt.ShipToLocationId as (opt.ShipToName) for opt in ShipLocationVal'>
                                                                       <option value="" selected>select</option>
                                                                   </select>
                                                               </span>
                                                           </div>
                                                       </td>
                                                       <td ng-class="{true: 'has-error'}[submitted && ( email_settings.Location_Dropdown.$modelValue==null
                                                                        || email_settings.Location_Dropdown.$modelValue=='')]" ng-if="!TerrEmail.UseFranchiseName">
                                                           <div class="state_field" style="width:200px;">
                                                               <span class="custom-dropdown custom-dropdown--white">
                                                                   <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                                           ng-model="TerrEmail.ShipToLocationId"
                                                                           name="Location_Dropdown"
                                                                           ng-required="true"
                                                                           required
                                                                           ng-class="{true: 'errorTP',false:'k-state-selected'}[email_settings.Location_Dropdown.$invalid ||TerrEmail.ShipToLocationId==''||TerrEmail.ShipToLocationId==null]"
                                                                           ng-change="TerreEmail($index,TerrEmail.ShipToLocationId)"
                                                                           ng-options='opt.ShipToLocationId as (opt.ShipToName) for opt in ShipLocationVal'>
                                                                       <option value=""  selected>select</option>
                                                                   </select>
                                                               </span>
                                                           </div>
                                                       </td>
                                                       <td class="email_list" style="width:400px;">{{TerrEmail.LocationAddress}}</td>
                                                   </tr>
                                               </tbody>
                                           </table>
                                        <!--Table2 END-->
                    </div>
            </div>
    </form>
  </div>
</div>
<script>
function backToQuoteLineList() {
        history.go(-1);
    }
</script>