﻿<style>
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
table.table.setting_table th, table.table.setting_table td {
    border: 1px solid #ceced2 !important;
}
</style>
<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li class="active"><a href="#!/listDocuments">General</a></li>
                        <li><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->
   <div class="lead_stab">
        <ul class="tabs1 landing_tab" style="width:95% !important;">
            <!--<li rel="tab7">
                <a href="#!/sources">
                    <h3><i class="fas fa-bullseye fa_icon"></i><br />Campaigns</h3>
                </a>
            </li>-->
            <li rel="tab7">
                <a href="#!/listDocuments">
                    <h3><i class="fas fa-inbox fa_icon"></i><br />Manage Documents</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab7">
                <a href="#!/ViewEmail">
                    <h3><i class="fas fa-envelope-square fa_icon"></i><br />Email Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/disclaimerView">
                    <h3><i class="fa fa-shield fa_icon"></i><br />Legal Disclaimer</h3>
                </a>
            </li>
            <li rel="tab7" ng-show="IsQBEnabled!=false">
                <a href="#!/QuickbookSetup">
                    <h3><i class="fas fa-upload fa_icon"></i><br />QuickBooks Setup</h3>
                </a>
            </li>
            <!--<li rel="tab7" >
                <a href="#!/procurement">
                    <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                </a>
            </li>-->
            <li rel="tab7">
                <a href="#!/appointmentTypes">
                    <h3><i class="far fa-calendar-edit fa_icon"></i><br />Appointment Type Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/MsrReporting">
                    <h3><i class="far fa-calendar-edit fal fa-file-chart-line fa_icon"></i><br />MSR Reporting</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button ng-if="Permission.EditEmail" type="button" class="hfc_bgbut tooltip-bottom" data-tooltip="Edit" ng-click="Edit();">
                    <i class="far fa-pen fa_icon"></i>
                </button></li>
            </ul>
         </div>
        <div class="clearfix"></div>
  </div>
  <div class="tab_container tp_content">
        <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ListEmail">
            You don't have permission to this page.
        </div>
               <div class="p-3" ng-show="Permission.ListEmail">
                        <div class="table-responsive">
                            <table class="table email_setting view_email">
                                <thead>
                                    <tr>
                                        <th class="editemail"> </th>
                                        <!--<th>From Email</th>-->
                                        <th class="text-center">Copy Assigned Sales</th>
                                        <th class="text-center">Copy Assigned Installer</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="ecl in emailConfiguredList">
                                    <tr>
                                        <td class="email_list">{{ecl.EmailTypeName}}</td>
                                        <!--<td>{{ecl.Email}}</td>-->
                                        <td class="check_tick"><input class="option-input checkbox" ng-model="ecl.CopyAssignedSales" type="checkbox" ng-disabled="true"/></td>
                                        <td class="check_tick"><input class="option-input checkbox" ng-model="ecl.CopyAssignedInstaller" type="checkbox" ng-disabled="true"/></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group row ml-0 mr-0" ng-show="false">
                                <label class="text_detlabel">Default Territory</label>
                                <label class="ldet_label" style="vertical-align:middle; margin-left:25px;" ng-show="DisplayTerritoryId && DisplayTerritoryId > 0" ng-bind="DisplayTerritoryName"> </label>
                            </div>
                            <div class="emailsetting_title" style="background:#3d7d8b; font-weight:bold; font-size:16px; color:#fff; padding:0 8px; line-height: 2.34em; margin-bottom:10px;">Quote & Invoice Information</div>
                                    <!--Table 2 START-->
                                    <table class="table setting_table">
                                        <thead>
                                            <tr>
                                                <th>Territory</th>
                                                <th>Use Franchise Name</th>
                                                <th>Territory Display Name</th>
                                                <th>Contract/License #</th>
                                                <th>From Email</th>
                                                <th>Location</th>
                                                <th>Address</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="TerrEmail in TerritoryEmailData">
                                            <tr>
                                                <td style="width:150px;">{{TerrEmail.TerritoryName}}</td>
                                                <td class="check_tick" style="width:150px;"><input class="option-input checkbox" ng-model="TerrEmail.UseFranchiseName" type="checkbox" disabled="disabled" /></td>
                                                <td style="width:200px;">{{TerrEmail.Displayname}}</td>
                                                <td style="width:200px;">{{TerrEmail.LicenseNumber}}</td>
                                                <td style="width:200px;">{{TerrEmail.PrimaryEmail}}</td>
                                                <td style="width:200px;">{{TerrEmail.ShipToName}}</td>
                                                <td style="width:400px;">{{TerrEmail.LocationAddress}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--Table2 END-->
                        </div>
               </div>
    </div>
</div>