﻿@using HFC.CRM.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <title>@ViewBag.Title - @AppConfigManager.ApplicationTitle</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/bootstrapbundle")

    @Styles.Render("~/content/base")
    @RenderSection("styles", false)
</head>
<body>
    <section class="wrapper">

        @RenderBody()
    </section>
    <footer class="panel-footer">
        <!--Copyright-->
        <div class="footer-copyright row no-margin">
            <div class="col-lg-6 footer-copyright_left">
                    <span class="copyrt">
                        Touchpoint Version @AppConfigManager.AppVersion  @if (!@AppConfigManager.SName.ToLower().Contains("prd") && !@AppConfigManager.SName.ToLower().Contains("pqa"))
                        {
                            @: @AppConfigManager.SName.ToUpper()
                        }
                    </span>
            </div>
            <div class="col-lg-6 footer-copyright_right">
                    <span class="copyrt">© @DateTime.Now.Year - Home Franchise Concepts, LLC., All Rights Reserved.&nbsp;&nbsp;&nbsp;<span style="color:#3e7d8a;"> | <a class="hquote_hover" href="https://tpt.gohfc.com/Legal/Terms%20Of%20Use.pdf"> Terms Of Use</a></span></span>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>

    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/base")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/knockout")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/bootstrap")

    @RenderSection("scripts", false)
</body>
</html>