﻿@{
    ViewBag.Title = "Error";
}
@section navmenu {
    @* Do nothing as this could be the cause of error, DO NOT REMOVE THIS SECTION *@
}
@section quickoverview{
    @* Do nothing as this could be the cause of error, DO NOT REMOVE THIS SECTION *@
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-xl-offset-4 col-xl-4">
            <div class="center-block alert alert-info" style="margin-top:7%">
                <h3><span class="label label-danger">An Error has Occurred.</span></h3>
                <p>
                    We're sorry, but an error has occurred in Touchpoint. Click <a href="javascript:document.getElementById('logoutForm').submit()"> here </a>to login again.
                </p>
                <p>
                    If the problem persists, please contact Technical Support:<a href="mailto:techsupport@homefranchiseconcepts.com">techsupport@homefranchiseconcepts.com</a> or 1-800-578-7058, and we will resolve it as soon as possible.
                </p>
                <p>
                    We appreciate your patience.
                </p>
                <p>

                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }

                </p>
            </div>
        </div>
    </div>
</div>