﻿<style>
    td.k-editable-area {
        height: 420px !important;
    }

    .error {
        color: red;
    }

    .cancel_tpbut {
        padding-top: 10px !important;
    }

    .JobCrewSizeHTML table {
        border: 1px solid #d8d8d8;
        border-bottom: none;
        border-right: none;
        table-layout:auto !important;
    }

    .JobCrewSizeHTML table tr {
        border-bottom: 1px solid #d8d8d8;
    }

    .JobCrewSizeHTML tr td {
        border-right: 1px solid #d8d8d8;
    }

    .JobCrewSizeHTML ul {
        padding-left: 40px !important;
    }

    .JobCrewSizeHTML ul li {
        list-style-type: disc !important;
    }

    .JobCrewSizeHTML {
        height: 300px;
        border: 1px solid #555;
        float:left;
        overflow-y: auto;
    }

    #KendoHTMLEditor .k-editor {
        height: 500px;
    }

    .panel-body{
        padding-bottom:5px!important;
    }
</style>
<div class="lead_stab" style="height: 45px !important">
    <ul class="tabs1 landing_tab">
        <div class="clearfix"> </div>
    </ul>
    <div class="lead_butns">
        <button type="button" ng-show="!ifEditMode && BrandId" class="tooltip-bottom cancel_tpbut" data-tooltip="Edit" ng-click="EditCrewSize()"><i class="far fa-pen fa_icon"></i></button>
        <button type="button" ng-show="ifEditMode" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-click="CancelCrewSize()"><i class="far fa-times-circle fa_icon"></i></button>
        <button type="submit" ng-show="ifEditMode" class="tooltip-bottom cancel_tpbut" data-tooltip="Save" ng-click="SaveCrewSize()"><i class="far fa-check-circle fa_icon"></i></button>
    </div>
    <div class="clearfix"> </div>
</div>

<div class="tab_container tpsearch_content">
    <div class="p-3">
        <form id="crm-form-detail" name="formnews" ng-model="formnews" unsaved-warning-form>
            <div>
                <div class="col-xs-12 col-sm-12 col-lg-10 col-xl-10 col_1">
                    <div class="source-group row">
                        <label class="col-sm-2 col-xs-2 required_label">Concept</label>
                        <div class="col-sm-3 col-xs-3" style="width:24.2% !important;">
                            <span class="custom-dropdown custom-dropdown--white">
                                <select ng-disabled="ifEditMode" class="form-control custom-dropdown__select custom-dropdown__select--white" id="cbBrand" ng-model="BrandId" ng-change="BrandSelect()">
                                    <option ng-value="" disabled>Select</option>
                                    <!--<option ng-value="1">Budget Blinds(BB)</option>-->
                                    <option ng-value="3">Concrete Craft(CC)</option>
                                    <option ng-value="2">Tailored Living(TL)</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0" 
                         ng-class="{true: 'has-error'}[submitted && formnews.message.$invalid]">
                        <label class="col-sm-2 col-xs-2 text_detlabel">Popup Content</label>
                        <div class="col-sm-9 col-xs-9" id="KendoHTMLEditor">
                            <textarea kendo-editor k-ng-model="HTMLContent" ng-show="ifEditMode" 
                                      k-tools="[
                                    'bold',
                                    'italic',
                                    'underline',
                                    'strikethrough',
                                    'justifyLeft',
                                    'justifyCenter',
                                    'justifyRight',
                                    'justifyFull',
                                    'insertUnorderedList',
                                    'insertOrderedList',
                                    'indent',
                                    'outdent',
                                    'createLink',
                                    'unlink',
                                    'subscript',
                                    'superscript',
                                    'tableWizard',
                                    'createTable',
                                    'addRowAbove',
                                    'addRowBelow',
                                    'addColumnLeft',
                                    'addColumnRight',
                                    'deleteRow',
                                    'deleteColumn',
                                    'formatting',
                                    'cleanFormatting',
                                    'viewHtml',
                                    'fontName',
                                    'fontSize'
                                ]"></textarea>
                            <div class="col-lg-12 JobCrewSizeHTML" ng-show="!ifEditMode" id="JobCrewSizeHTML">

                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="clearfix"> </div>
            </div>
        </form>
    </div>
</div>


