﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }

    .errormob {
        margin-left: 179px;
    }

    .errortext {
        color: red !important;
    }

    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }

    .setting_preview {
        border: 1px solid #b2bfca;
        padding: 4px 5px !important;
        height: 26px !important;
        font-size: 13px;
        font-weight: 100;
        width: 100%;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
    }
</style>

<link href="/Content/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="/Content/bootstrap.colorpickersliders.css" rel="stylesheet" />
<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li class="activelead1" rel="tab7">
                <a href="#!/users">
                    <h3><i class="far fa-users fa_icon"></i><br />Users</h3>
                </a>
            </li>
            <li rel="tab7" ng-if="adminFlag">
                <a href="#!/hfcrolesSearch">
                    <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                </a>
            </li>
            <li rel="tab7" ng-if="!adminFlag">
                <a href="#!/rolesSearch">
                    <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                </a>
            </li>
            <li rel="tab7" ng-if="adminFlag">
                <a href="#!/hfcPermissionSetsSearch">
                    <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                </a>
            </li>
            <li rel="tab7" ng-if="!adminFlag">
                <a href="#!/permissionSetsSearch">
                    <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns" ng-show="Permission.EditUser">
            <ul class="orderlist_box">
                <li><button type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="Cancel()"><i class="far fa-times-circle fa_icon"></i></button></li>
                <!--<button type="submit" ng-show="EditUserModel.IsDisabled==false||EditUserModel.IsDisabled==null"class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="EditUser()"><i class="far fa-check-circle fa_icon"></i></button>-->
                <li><button type="submit" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="EditUser()"><i class="far fa-check-circle fa_icon"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="tab_container tp_content">
        <form id="crm-lead-detail" name="formedituser" unsaved-warning-form>
            <!-- Access error message div -->
            <!--<div class="error" ng-show="!Permission.EditUser">
                You don't have permission to this page.
            </div>-->

            <div class="p-3">
                <!--<fieldset ng-disabled="EditUserModel.IsDisabled==true">-->
                <div class="lead_rtop row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                        <fieldset ng-disabled="EditUserModel.IsDisabled==true">

                            <div class="form-group row ml-0 mr-0"
                                 ng-class="{true: 'has-error'}[submitted && formedituser.userName.$invalid]">
                                <label class="col-sm-3 required_label">Username</label>
                                <div class="col-sm-9">
                                    <input ng-readonly="Permission.AddUser==false" type="text" class="form-control frm_controllead1 required_field" name="username"
                                           ng-model="EditUserModel.UserName" required placeholder="Required"
                                           maxlength="50" />
                                </div>
                            </div>

                            <div class="form-group row ml-0 mr-0"
                                 ng-class="{true: 'has-error'}[submitted && formedituser.firstName.$invalid]">
                                <label class="col-sm-3 required_label">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control frm_controllead1 required_field" name="firstName"
                                           ng-model="EditUserModel.Person.FirstName" required placeholder="Required"
                                           maxlength="50" />
                                </div>
                            </div>

                            <div class="form-group row ml-0 mr-0"
                                 ng-class="{true: 'has-error'}[submitted && formedituser.lastName.$invalid]">
                                <label class="col-sm-3 required_label">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="lastName" ng-model="EditUserModel.Person.LastName"
                                           class="form-control frm_controllead1 required_field" required
                                           placeholder="Required" maxlength="50" />
                                </div>
                            </div>

                            <div class="form-group row ml-0 mr-0"
                                 ng-class="{true: 'has-error'}[submitted && formnewuser.timezone.$invalid]" ng-if="adminFlag">
                                <label class="col-sm-3 required_label">Time Zone</label>
                                <div class="col-sm-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="custom-dropdown__select custom-dropdown__select--white form-control frm_controllead1"
                                                id="countryBox" ng-model="EditUserModel.Person.TimezoneCode"
                                                name="timezone"
                                                ng-class="{true: 'errorTP'}[formnewuser.timezone.$invalid]"
                                                required
                                                ng-options='opt.id as (opt.name) for opt in TimeZoneCodeList'>
                                            <option value="" disabled selected>Select</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 text_detlabel">Created on</label>
                                <div class="col-sm-9">
                                    <label class="ldet_label">{{EditUserModel.CreationDateUtc |GlobalTime: 'short' }}</label>
                                </div>
                            </div>

                            <div ng-if="adminFlag" class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 text_detlabel">Modified on</label>
                                <div class="col-sm-9">
                                    <label class="ldet_label">{{EditUserModel.LastActivityDateUtc |GlobalTime: 'short' }}</label>
                                </div>
                            </div>

                            <div ng-if="!adminFlag" class="form-group row ml-0 mr-0 state_field">
                                <label class="col-sm-3 required_label">Calendar 1st hr</label>
                                <div class="col-sm-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="custom-dropdown__select custom-dropdown__select--white" name="CalendarFirstHour" ng-model="EditUserModel.CalendarFirstHour">
                                            <option value="0">12 AM</option>
                                            <option value="1">1 AM</option>
                                            <option value="2">2 AM</option>
                                            <option value="3">3 AM</option>
                                            <option value="4">4 AM</option>
                                            <option value="5">5 AM</option>
                                            <option value="6">6 AM</option>
                                            <option value="7">7 AM</option>
                                            <option value="8">8 AM</option>
                                            <option value="9">9 AM</option>
                                            <option value="10">10 AM</option>
                                            <option value="11">11 AM</option>
                                            <option value="12">12 PM</option>
                                            <option value="13">1 PM</option>
                                            <option value="14">2 PM</option>
                                            <option value="15">3 PM</option>
                                            <option value="16">4 PM</option>
                                            <option value="17">5 PM</option>
                                            <option value="18">6 PM</option>
                                            <option value="19">7 PM</option>
                                            <option value="20">8 PM</option>
                                            <option value="21">9 PM</option>
                                            <option value="22">10 PM</option>
                                            <option value="23">11 PM</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 text_detlabel">Last Login Date</label>
                                <div class="col-sm-9">
                                    <div style="font-size:13px;" ng-if="EditUserModel.LastLoginDateUtc != null">
                                        <!--{{EditUserModel.LastLoginDateUtc | fromNow}}-->
                                        {{EditUserModel.LastLoginDateUtc |GlobalTime: 'short' }}
                                    </div>
                                </div>
                            </div>

                            <div ng-if="!adminFlag" class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Comments</label>
                                <div class="col-sm-9">
                                    <textarea cols="4" rows="5" class="form-control" ng-model="EditUserModel.Comments" style="font-size: 13px;color: #000 !important;background: #edecec;"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_2">
                        <div class="form-group row ml-0 mr-0">
                            <label class="col-sm-3 required_label"></label>
                            <div class="col-sm-3">
                                <input type="checkbox" id="Check1" class="option-input checkbox" ng-model="EditUserModel.IsLockedOut">
                                <label style="margin:0 !important; cursor: default;">Is Locked Out</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="checkbox" id="Check1" class="option-input checkbox" ng-change="EnableEmailSignatureChanged()" ng-model="EditUserModel.Person.EnableEmailSignature">
                                <label style="margin:0 !important; cursor: default;">Enable Email Signature</label>
                            </div>
                        </div>

                        <div class="form-phone_group row ml-0 mr-0">
                            <label class="col-sm-3 required_label"></label>
                            <div class="col-sm-3">
                                <input type="checkbox" id="Check2" class="option-input checkbox" ng-model="EditUserModel.IsDisabled">
                                <label style="margin:0 !important; cursor: default;">Is Disabled</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="checkbox" id="Check2" class="option-input checkbox" ng-disabled="!EditUserModel.Person.EnableEmailSignature" ng-model="EditUserModel.Person.AddEmailSignAllEmails">
                                <label style="margin:0 !important; cursor: default;">Add Email Signature to All Emails</label>
                            </div>
                        </div>

                        <fieldset ng-disabled="EditUserModel.IsDisabled==true || Permission.AddUser==false ">

                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Background</label>
                                <div class="col-sm-9">
                                    <input type="text" id="backgroudhsl" name="BGColor" color-picker placeholder="" ng-model="EditUserModel.BGColor"
                                           class="frm_controllead1" />
                                </div>
                            </div>
                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Text color</label>
                                <div class="col-sm-9">
                                    <input type="text" color-picker-non-sugg placeholder="" name="FGColor" ng-model="EditUserModel.FGColor"
                                           class="frm_controllead1" />
                                </div>
                            </div>
                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 required_label">Preview</label>
                                <div class="col-sm-9">
                                    <input type="text" class="setting_preview" id="previewhsl" placeholder="" maxlength="50" value="Sample Text"
                                           disabled="disabled" />
                                </div>
                            </div>

                            <div class="form-group row ml-0 mr-0">
                                <label class="col-sm-3 text_detlabel">Roles</label>
                                <div class="col-sm-9">
                                    <div ng-repeat="role in  roleList">
                                        <input ng-model="role.Selected" type="checkbox"
                                               class="option-input checkbox"
                                               value="{{role.RoleId}}"
                                               ng-disabled="role.Disabled" />
                                        <label class="ldet_label">{{role.DisplayName}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row ml-0 mr-0" ng-if="!adminFlag">
                                <label class="col-sm-3 text_detlabel">Permission Sets</label>
                                <div class="col-sm-9">
                                    <div ng-repeat="permissionSet in  PermissionSetList">
                                        <input ng-model="permissionSet.Selected" type="checkbox"
                                               class="option-input checkbox"
                                               value="{{permissionSet.Id}}"
                                               ng-disabled="permissionSet.Disabled" />
                                        <label class="ldet_label">{{permissionSet.PermissionSetName}}</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <!--show more-->
                <ul kendo-panel-bar id="panelbar" ng-if="!adminFlag">
                    <li id="leadlistPanel" style="border-bottom:1px solid #c1c1c1;">
                        <span style="font-weight:bold;">Contact</span>
                        <div class="kendo_panel row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <fieldset ng-disabled="EditUserModel.IsDisabled==true">
                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 required_label">Company Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-bind="value: CompanyName" ng-model="EditUserModel.Person.CompanyName" class="frm_controllead1" placeholder="" maxlength="256" />
                                        </div>
                                    </div>
                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 required_label">Title</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-bind="value: WorkTitle" ng-model="EditUserModel.Person.WorkTitle" class="frm_controllead1" placeholder="" maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 required_label">Cell phone</label>
                                        <div class="col-sm-9 row no-margin">
                                            <input type="text" style="width:66.66666667% !important;"
                                                   name="cellPhone"
                                                   class="pno_textbox form-control col-sm-8"
                                                   ng-model="EditUserModel.Person.CellPhone"
                                                   ui-mask="(999) 999-9999"
                                                   ui-options="{clearOnBlur:false}"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_" />
                                            <label class="radio-prefer col-sm-3">
                                                <input type="radio" class="option-input radio radio_space"
                                                       name="preferredTFN"
                                                       ng-model="EditUserModel.Person.PreferredTFN" value="C"
                                                       title="Preferred contact number" />Preferred
                                            </label>
                                            <div ng-if="formedituser.cellPhone.$dirty" ng-messages="formedituser.cellPhone.$error" style="color:red">
                                                <p ng-message="mask" style="margin:0 !important; font-size: 13px;">Cell Phone number should be 10 digits.</p>
                                                <!--<p ng-message="required"><label class="radio-prefer col-sm-3">&nbsp;</label>&nbsp; Required.</p>-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-phone_group row row ml-0 mr-0">
                                        <label class="col-sm-3 required_label">Home Phone</label>
                                        <div class="col-sm-9 row no-margin">
                                            <input class="col-sm-8 form-control frm_controllead1"
                                                   type="text" style="width:66.66666667% !important;"
                                                   name="homePhone"
                                                   ng-model="EditUserModel.Person.HomePhone"
                                                   ui-options="{clearOnBlur:false}"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_"
                                                   ui-mask="(999) 999-9999" />
                                            <label class="radio-prefer col-sm-3">
                                                <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="H"
                                                       ng-model="EditUserModel.Person.PreferredTFN" title="Preferred contact number" />Preferred
                                            </label>
                                            <div ng-if="formlead.homePhone.$dirty" ng-messages="formedituser.homePhone.$error" style="color:red">
                                                <p ng-message="mask" style="margin:0 !important; font-size: 13px;">Home Phone number should be 10 digits.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 required_label">Fax phone</label>
                                        <div class="col-sm-9">
                                            <input class="frm_controllead1"
                                                   type="text"
                                                   id="user_fax_phne"
                                                   name="user_fax_phne"
                                                   ng-model="EditUserModel.Person.FaxPhone"
                                                   ui-options="{clearOnBlur:false}"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_"
                                                   ui-mask="(999) 999-9999" />

                                            <div ng-if="formlead.user_fax_phne.$dirty" ng-messages="formedituser.user_fax_phne.$error" style="color:red">
                                                <p ng-message="mask">Fax phone number should be 10 digits.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-phone_group row ml-0 mr-0">
                                        <label class="col-sm-3 required_label">Work phone</label>
                                        <div class="col-sm-9 row no-margin">
                                            <input class="frm_controllead1 col-sm-8"
                                                   type="text"
                                                   id="WorkPhone"
                                                   name="WorkPhone"
                                                   ng-model="EditUserModel.Person.WorkPhone"
                                                   ui-options="{clearOnBlur:false}"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_"
                                                   ui-mask="(999) 999-9999" />
                                            <label class="radio-prefer col-sm-3">
                                                <input type="radio" class="option-input radio radio_space" name="preferredTFN" ng-model="EditUserModel.Person.PreferredTFN"
                                                       value="W" title="Preferred contact number" />Preferred
                                            </label>
                                            <div ng-if="formedituser.WorkPhone.$dirty" ng-messages="formedituser.WorkPhone.$error" style="color:red">
                                                <p ng-message="mask"><label class="radio-prefer col-sm-3">&nbsp;</label>&nbsp;Phone number should be 10 digits.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 required_label">Extension</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="EditUserModel.Person.WorkPhoneExt" class="frm_controllead1" ng-maxlength="5" placeholder="" maxlength="5" />
                                        </div>
                                    </div>
                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 required_label"></label>
                                        <div class="col-sm-9">
                                            <input type="checkbox" class="option-input checkbox" ng-model="EditUserModel.Person.IsReceiveEmails">
                                            Subscription services
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </li>

                    <li id="leadlistPanel">
                        <span style="font-weight:bold;">Address</span>
                        <div class="kendo_panel row">
                            <div class="leadexpandinfo_grid" style="padding-bottom:40px;">

                                <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                    <fieldset ng-disabled="EditUserModel.IsDisabled==true">

                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 required_label"></label>
                                            <div class="col-sm-9">

                                                <label style="font-weight:100; margin-right:10px;"><input type="checkbox" class="option-input checkbox" name="addressType" ng-model="EditUserModel.Address.IsBusiness" value="false"> Business Address</label>
                                                <!--<label style="font-weight:100;"><input type="radio" class="option-input radio" name="addressType" ng-model="EditUserModel.Address.AddressType" value="false"> Commercial</label>-->
                                            </div>
                                        </div>
                                        <div>
                                            <hfc-addresstp address-model="EditUserModel.Address"
                                                           parent-form-submit-status="submitted"></hfc-addresstp>
                                        </div>
                                        <div class="form-group row ml-0 mr-0" style="margin-top:15px;">
                                            <div class="state_field col-sm-12 row" style="margin: 0px !important; padding: 0px !important;">
                                                <label class="col-sm-3 required_label">Country</label>
                                                <div class="col-sm-9">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="EditUserModel.Address.CountryCode2Digits" ng-change="CountryChanged()">
                                                            <option value="US">US - United States</option>
                                                            <option value="CA">CA - Canada</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 required_label">Cross Street</label>
                                            <div class="col-sm-9">
                                                <input type="text" maxlength="50" ng-model="EditUserModel.Address.CrossStreet" class="form-control frm_controllead1" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--</fieldset>-->
            </div>
        </form>
    </div>
    <!---end inner tab-->
</div>