﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
    .errortext {
        color: red !important;
    }
    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }
</style>

<link href="/Content/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="/Content/bootstrap.colorpickersliders.css" rel="stylesheet" />

<div class="outter-wp">
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <div class="tab_container">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li class="activelead1" rel="tab7">
                        <a href="#!/users">
                            <h3><i class="far fa-users fa_icon"></i><br />Users</h3>
                        </a>
                    </li>
                    <li rel="tab7" ng-if="adminFlag">
                        <a href="#!/hfcrolesSearch">
                            <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                        </a>
                    </li>
                    <li rel="tab7" ng-if="!adminFlag">
                        <a href="#!/rolesSearch">
                            <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                        </a>
                    </li>
                    <li rel="tab7" ng-if="adminFlag">
                        <a href="#!/hfcPermissionSetsSearch">
                            <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                        </a>
                    </li>
                    <li rel="tab7" ng-if="!adminFlag">
                        <a href="#!/permissionSetsSearch">
                            <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns" ng-show="Permission.AddUser">
                    <button type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-click="Cancel()"><i class="far fa-times-circle fa_icon"></i></button>
                    <button type="button" class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="SaveUser()"><i class="far fa-check-circle fa_icon"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tab_container tp_content">
                    <div class="p-3">
                        <form id="newuser" name="formnewuser" unsaved-warning-form>
                            <!-- Access error message div -->
                            <div class="error" ng-show="!Permission.AddUser">
                                You don't have permission to this page.
                            </div>
                            <div class="leadgrid_box" ng-show="Permission.AddUser">
                                <div class="lead_rtop row">
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <div class="form-group row ml-0 mr-0"
                                             ng-class="{true: 'has-error'}[submitted && formnewuser.username.$invalid]">
                                            <label class="col-sm-3 required_label">Username</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="TestEmail" class="form-control frm_controllead1 required_field" name="username"
                                                       ng-model="NewUserModel.UserName" required placeholder="Required"
                                                       maxlength="50" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0"
                                             ng-class="{true: 'has-error'}[submitted && formnewuser.firstName.$invalid]">
                                            <label class="col-sm-3 required_label">First Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control frm_controllead1 required_field" name="firstName"
                                                       ng-model="NewUserModel.FirstName" required placeholder="Required"
                                                       maxlength="50" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0"
                                             ng-class="{true: 'has-error'}[submitted && formnewuser.lastName.$invalid]">
                                            <label class="col-sm-3 required_label">Last Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="lastName" ng-model="NewUserModel.LastName"
                                                       class="form-control frm_controllead1 required_field" required
                                                       placeholder="Required" maxlength="50" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0"
                                             ng-class="{true: 'has-error'}[submitted && formnewuser.timezone.$invalid]" ng-if="adminFlag">
                                            <label class="col-sm-3 col-3 required_label">Time Zone</label>
                                            <div class="col-sm-9 col-9">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="custom-dropdown__select custom-dropdown__select--white form-control frm_controllead1"
                                                                id="countryBox" ng-model="NewUserModel.TimezoneCode"
                                                                name="timezone"
                                                                ng-class="{true: 'errorTP'}[formnewuser.timezone.$invalid]"
                                                                required
                                                                ng-options='opt.id as (opt.name) for opt in TimeZoneCodeList'>
                                                            <option value="" disabled selected>Select</option>
                                                        </select>
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="form-phone_group row ml-0 mr-0" ng-class="{true: 'has-error'}[submitted && formnewuser.homePhone.$invalid]" ng-if="!adminFlag">
                                            <label class="col-sm-3 required_label">Home Phone</label>
                                            <div class="col-sm-9 row no-margin">
                                                <input class="col-sm-8 form-control frm_controllead1"
                                                       type="text" style="width:66.66666667% !important;"
                                                       name="homePhone"
                                                       ng-model="NewUserModel.HomePhone"
                                                       ng-required="false"
                                                       ui-options="{clearOnBlur:false}"
                                                       ui-mask-placeholder
                                                       ui-mask-placeholder-char="_"
                                                       ui-mask="(999) 999-9999" />
                                                <label class="radio-prefer col-sm-3">
                                                    <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="H"
                                                           ng-model="NewUserModel.PreferredTFN" title="Preferred contact number" />Preferred
                                                </label>
                                                <div ng-if="formlead.homePhone.$dirty" ng-messages="formlead.homePhone.$error" style="color:red">
                                                    <p class="no-margin" ng-message="mask" style="font-size: 13px;">Home Phone number should be 10 digits.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-phone_group row ml-0 mr-0" ng-class="{true: 'has-error'}[submitted && formlead.cellPhone.$invalid]" ng-if="!adminFlag">
                                                <label class="col-sm-3 required_label">Cell phone</label>
                                                <div class="col-sm-9 row no-margin">
                                                    <input type="text" style="width:66.66666667% !important;"
                                                           name="cellPhone"
                                                           class="frm_controllead1 form-control col-sm-8"
                                                           ng-class="{true: 'has-error'}[submitted && formlead.cellPhone.$invalid]"
                                                           ng-model="NewUserModel.CellPhone"
                                                           ui-mask="(999) 999-9999"
                                                           ui-options="{clearOnBlur:false}"
                                                           ui-mask-placeholder
                                                           ui-mask-placeholder-char="_" />
                                                    <label class="radio-prefer col-sm-3">
                                                        <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="C"
                                                               ng-model="NewUserModel.PreferredTFN" title="Preferred contact number" />Preferred
                                                    </label>
                                                    <div ng-if="formlead.cellPhone.$dirty" ng-messages="formlead.cellPhone.$error" style="color:red">
                                                        <p class="no-margin" ng-message="mask" style="font-size: 13px;">Cell Phone number should be 10 digits.</p>
                                                        <p ng-message="required"><label class="radio-prefer col-sm-3">&nbsp;</label>&nbsp; Required.</p>
                                                    </div>
                                                </div>
                                        </div>
                                        <div ng-class="{true: 'has-error'}[submitted && formnewuser.zipcode.$invalid]" class="form-group row ml-0 mr-0" ng-if="!adminFlag">
                                            <label class="col-sm-3 required_label" ng-bind="NewUserModel.CountryCode2Digits == 'US' ? 'Zip Code' : 'Postal Code'"></label>
                                            <div class="col-sm-9">
                                                <input type="text" name="zipcode" id="fran-zip" class="form-control frm_controllead1 required_field" ng-model="NewUserModel.ZipCode" ng-model-options="{ updateOn: 'blur'}"
                                                       ui-mask="{{NewUserModel.CountryCode2Digits == 'CA' ? 'A9A 9A9' : '99999'}}"
                                                       allowpartialvalues="true" ng-change="ZipCodeChanged()" ng-maxlength="7" pattern="{{GetZipCodeMask(NewUserModel.CountryCode2Digits)}}"
                                                       title="Please enter a valid {{NewUserModel.CountryCode2Digits == 'US' ? 'Zip Code' : 'Postal Code'}}" required />
                                            </div>
                                        </div>
                                        <div class="form-group row state_field ml-0 mr-0" ng-if="!adminFlag">
                                                <label class="col-sm-3 required_label">Country</label>
                                                <div class="col-sm-9">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="NewUserModel.CountryCode2Digits" ng-change="CountryChanged()">
                                                            <option value="US">US - United States</option>
                                                            <option value="CA">CA - Canada</option>
                                                        </select>
                                                    </span>
                                                </div>
                                        </div>
                                        <div class="form-group row state_field ml-0 mr-0" ng-if="!adminFlag">
                                                <label class="col-sm-3 required_label">Calendar 1st hr</label>
                                                <div class="col-sm-9">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="NewUserModel.Calendar1sthr" name="CalendarFirstHour">
                                                            <option value="0">12 AM</option>
                                                            <option value="1">1 AM</option>
                                                            <option value="2">2 AM</option>
                                                            <option value="3">3 AM</option>
                                                            <option value="4">4 AM</option>
                                                            <option value="5">5 AM</option>
                                                            <option value="6">6 AM</option>
                                                            <option value="7">7 AM</option>
                                                            <option value="8">8 AM</option>
                                                            <option value="9">9 AM</option>
                                                            <option value="10">10 AM</option>
                                                            <option value="11">11 AM</option>
                                                            <option value="12">12 PM</option>
                                                            <option value="13">1 PM</option>
                                                            <option value="14">2 PM</option>
                                                            <option value="15">3 PM</option>
                                                            <option value="16">4 PM</option>
                                                            <option value="17">5 PM</option>
                                                            <option value="18">6 PM</option>
                                                            <option value="19">7 PM</option>
                                                            <option value="20">8 PM</option>
                                                            <option value="21">9 PM</option>
                                                            <option value="22">10 PM</option>
                                                            <option value="23">11 PM</option>
                                                        </select>
                                                    </span>
                                                </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0" ng-if="!adminFlag">
                                            <label class="col-sm-3 required_label">Comments</label>
                                            <div class="col-sm-9">
                                                <textarea cols="4" rows="5" class="form-control" ng-model="NewUserModel.Comments" style="font-size: 13px;color: #000 !important;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col_2">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 required_label">Background</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="backgroudhsl" name="BGColor" color-picker placeholder="" ng-model="NewUserModel.BGColor"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 required_label">Text color</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="FGColor" color-picker-non-sugg placeholder="" ng-model="NewUserModel.FGColor"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 required_label">Preview</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="previewhsl" placeholder="" maxlength="50" value="Sample Text"
                                                       class="frm_controllead1" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Roles</label>
                                            <div class="col-sm-9">
                                                <div ng-repeat="role in  roleList">
                                                    <input ng-model="role.Selected" type="checkbox" class="option-input checkbox" value="{{role.RoleId}}" ng-disabled="role.Disabled" />
                                                    <label class="ldet_label">{{role.DisplayName}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0" ng-if="!adminFlag">
                                            <label class="col-sm-3 text_detlabel">Permission Sets</label>
                                            <div class="col-sm-9">
                                                <div ng-repeat="permissionSet in  PermissionSetList">
                                                    <input ng-model="permissionSet.Selected" type="checkbox"
                                                           class="option-input checkbox"
                                                           value="{{permissionSet.Id}}" />
                                                    <label class="ldet_label">{{permissionSet.PermissionSetName}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                  </div>
            </div>
            <!---end inner tab-->
    </div>
</div>