﻿<style>
    #treelist .k-grid-content.k-auto-scrollable {
        overflow: scroll !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; 
        /*overflow: hidden;*/
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
        background: #e4e4e4;
    }

    .radio, .checkbox {
    margin:0 !important;
}
</style>
<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li rel="tab7">
                <a href="#!/users">
                    <h3><i class="far fa-users fa_icon"></i><br />Users</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/rolesSearch">
                    <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab7">
                <a href="#!/permissionSetsSearch">
                    <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns">
                <ul class="orderlist_box" ng-hide="IsView">
                    <li><button ng-if="Permission.AddPermissionSet || Permission.EditPermissionSet" type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="Cancel()"><i class="far fa-times-circle fa_icon"></i></button></li>
                    <li><button ng-if="Permission.AddPermissionSet || Permission.EditPermissionSet" type="submit" class="tooltip-bottom hfc_bgbut" ng-disabled="IsBusy" data-tooltip="Save" ng-click="SavePermission()"><i class="far fa-check-circle fa_icon"></i></button></li>
                </ul>
                <button ng-show="Permission.AddPermissionSet && IsView && PermissionSetInformation.FranchiseId" type="button" class="plus_but tooltip-bottom"
                        data-tooltip="New Permission Set" ng-click="NewPermissionSet()" >
                    <i class="far fa-plus-square"></i>
                </button>
                <button ng-show="Permission.EditPermissionSet && IsView && PermissionSetInformation.FranchiseId && (PermissionSetInformation.IsActive=='Active')" type="button" class="plus_but middle_pbut tooltip-bottom"
                        data-tooltip="Edit Permission Sets" ng-click="EditPermissionSet()">
                    <i class="far fa-pen vendor_icon"></i>
                </button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ListPermissionSet || (!IsView && !Permission.AddPermissionSet)">
            You don't have permission to this page.
        </div>
             <form name="formpermissions" unsaved-warning-form>
                <div ng-if="(IsView && Permission.ListPermissionSet) ||(!IsView && Permission.AddPermissionSet)">
                    <div class="mesurement_grid row no-margin">
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                            <div class="source-group row" ng-class="{true: 'has-error'}[submitted && formpermissions.permissionName.$invalid]">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Permission Set Name</label>
                                <div class="col-sm-9 col-xs-9" ng-hide="IsView">
                                    <input type="text" class="form-control frm_controllead1 required_field" name="permissionName"
                                           ng-model="PermissionSetInformation.PermissionSetName" ng-blur="CheckDuplicatePermissionName(PermissionSetInformation.PermissionSetName)" required placeholder="Required"
                                           maxlength="50" />
                                </div>
                                <div class="col-xs-9 col-sm-9" ng-show="IsView">
                                    <label class="ldet_label" style="color: rgb(61,125,139);">{{PermissionSetInformation.PermissionSetName}}</label>
                                </div>
                            </div>
                            <div class="source-group row">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Description</label>
                                <div class="col-sm-9 col-xs-9" ng-hide="IsView">
                                    <input type="text" class="form-control frm_controllead1 required_field" name="description"
                                           ng-model="PermissionSetInformation.Description"
                                           maxlength="50" />
                                </div>
                                <div class="col-xs-9 col-sm-9" ng-show="IsView">
                                    <label class="ldet_label" style="color: rgb(61,125,139);">{{PermissionSetInformation.Description}}</label>
                                </div>
                            </div>
                            <div class="source-group row" ng-show="IsView">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Created</label>

                                <div class="col-xs-9 col-sm-9">
                                    <label class="ldet_label" style="color: rgb(61,125,139);">{{PermissionSetInformation.CreatedOnUtc|ignoreTimeZone: "short" }}</label>
                                </div>
                            </div>

                            <div class="source-group row" ng-show="IsView">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Modified</label>

                                <div class="col-xs-9 col-sm-9">
                                    <label class="ldet_label" style="color: rgb(61,125,139);">{{PermissionSetInformation.LastUpdatedOnUtc|ignoreTimeZone: "short" }}</label>
                                </div>
                            </div>
                            <div class="source-group row" ng-show="IsView">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Is Active</label>

                                <div class="col-xs-9 col-sm-9">
                                    <label class="ldet_label" style="color: rgb(61,125,139);">{{PermissionSetInformation.IsActive}}</label>
                                </div>
                            </div>
                        </div>
                        <div id="treelist"></div>
                    </div>
                    <div class="information_grid" ng-show="IsView">
                        <div class="zillow_title">
                            &nbsp;Assigned User&nbsp;
                        </div>
                        <div class="zillow_body">
                            <div class="expand_grid" style="padding:10px;">
                                <div class="kendo_leadpanel">
                                    <div class="table-responsive">
                                        <table class="table table-expand">
                                            <thead class="expand_lhead">
                                                <tr>
                                                    <th>User Name</th>
                                                    <th>Date Assigned</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="assignedUser in AssignedUserList">
                                                    <td>{{assignedUser.UserName}}</td>
                                                    <td>{{assignedUser.CreatedOn|ignoreTimeZone: "short" }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>