﻿
<head>

    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.mobile.min.css" />



</head>

<div class="outter-wp">
    <div class="tab_container">
        <!---inner tab--->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li rel="tab7">
                    <a href="#!/users">
                        <h3><i class="far fa-users fa_icon"></i><br />Users</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/rolesView">
                        <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7">
                    <a href="#!/permissionSets">
                        <h3><i class="fas fa-lock-alt" style='font-size:25px'></i><br />Permission Sets</h3>
                    </a>
                </li>
            </ul>
            <div class="leaddetail_butns">
               
                <button hidden type="button" class="plus_but tooltip-bottom"
                        data-tooltip="New Lead" ng-click="Newleadpage()">
                    <i class="far fa-plus-square"></i>
                </button>
                <button hidden type="button" class="plus_but middle_pbut tooltip-bottom"
                        data-tooltip="Edit Lead" ng-click="ClickMeToRedirectEditLead()">
                    <i class="far fa-pen vendor_icon"></i>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tab_container tpsearch_content">
            <form name="formpermissions" unsaved-warning-form>
                <div class="mesurement_grid">
                    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                        <div class="source-group row" ng-class="{true: 'has-error'}[submitted && formpermissions.permissionName.$invalid]">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Permission Set Name</label>
                           
                            <div class="col-xs-9 col-sm-9">
                                <label class="ldet_label" style="color: rgb(61,125,139);">Permission Name</label>
                            </div>

                        </div>
                        <div class="source-group row" ng-class="{true: 'has-error'}[submitted && formpermissions.description.$invalid]">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Description</label>
                           
                            <div class="col-xs-9 col-sm-9">
                                <label class="ldet_label" style="color: rgb(61,125,139);">Description</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Created</label>

                            <div class="col-xs-9 col-sm-9">
                                <label class="ldet_label" style="color: rgb(61,125,139);">04/01/2019 2:03 PM</label>
                            </div>
                        </div>

                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Modified</label>

                            <div class="col-xs-9 col-sm-9">
                                <label class="ldet_label" style="color: rgb(61,125,139);">04/01/2019 3:32 PM</label>
                            </div>
                        </div>


                    </div>

                    <div class="clearfix"> </div>
                    <div class="table-responsive" id="example">
                        <kendo-tree-list k-options="treelistOptions"></kendo-tree-list>
                    </div>
                </div>
                <!--show more-->
                <div class="information_grid">
                    <div class="zillow_title">
                        &nbsp;Assigned User&nbsp;
                    </div>
                    <div class="zillow_body">
                        <div class="expand_grid" style="padding:10px;">
                            <div class="kendo_leadpanel">
                                <div>
                                    <div>
                                        <!-- Grid Section  -->
                                        <div>
                                            <div class="table-responsive">
                                                <table class="table table-expand">
                                                    <thead class="expand_lhead">
                                                        <tr>
                                                            <th>User Name</th>
                                                            <th>Roles</th>
                                                            <th>Date Assigned</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td>James</td>
                                                            <td>Installer</td>
                                                            <td>03/31/2018</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            
        </div>
        <!---end inner tab-->
    </div>
</div>
