﻿
<div class="outter-wp">
    <section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/sources">General</a></li>
                        <li><a href="#!/vendors">Operations</a></li>
                        <li class="active"><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <div class="tab_container">
        <div id="tab2" class="tab_content">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab" style="width:100% !important">
                    <li rel="tab7">
                        <a href="#!/users">
                            <h3><i class="far fa-users fa_icon"></i><br />Users</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/roles/">
                            <h3><i class="checklist_icon"></i><br />Roles</h3>
                        </a>
                    </li>
                    <li class="activelead1" rel="tab7">
                        <a href="#!/permissions">
                            <h3><i class="fa fa-unlock" style="font-size:24px;"></i><br />Permissions</h3>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>


        <div class="tab_container tpsearch_content setting-source">
            <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
            <div id="tab1" class="tab_content">

                <div class="p-3">
                    <h4 class="d_active col-xs-12 col-sm-12 " rel="tab6">Roles Permission</h4>

                    <hr />
                    <div class="table-responsive">
                        <table class="table table-striped1">
                            <thead class="tab_head">
                                <tr>
                                    <th>Role</th>
                                    <th>Pages</th>
                                    <th>Grant Permission</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <select class="form-control" ng-model="PermissionModel.Role" name="Role"
                                                    ng-options="option.Id as option.PricingStrategyType  for option in AdvPricingService.PriceStrategyDDL" ng-change="clearBasedonPricingStrategy(Item)" required>
                                                <option value="" class="placeholder">Select</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <select class="form-control" ng-model="PermissionModel.Page" name="Page"
                                                    ng-options="option.ProductCategoryId as option.ProductCategory  for option in AdvPricingService.ProductCategoryDDL" ng-change="filterVendorDDL(Item.ProductCategoryId)" required>
                                                <option value="" class="placeholder">Select</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="checkbox" ng-model="PermissionModel.Permission" name="Permission" />
                                            <span>
                                                <label ng-show="!PermissionModel.Permission"> Restrict Role</label>
                                                <label ng-show="PermissionModel.Permission"> Allow Role</label>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="button" value="Update" />
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!---end inner tab-->
        </div>
     </div>
  </div>