﻿<div class="outter-wp">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li rel="tab7">
                    <a href="#!/users">
                        <h3><i class="far fa-users fa_icon"></i><br />Users</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7">
                    <a href="#!/rolesSearch">
                        <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                    </a>
                </li>
                <li  rel="tab7">
                    <a href="#!/permissionSetsSearch">
                        <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                    </a>
                </li>
            </ul>
            <!--<div class="leaddetail_butns">

            <button type="button" class="plus_but tooltip-bottom"
                    data-tooltip="New Permission Set" ng-click="NewPermissionSet()">
                <i class="fa fa-plus-square-o"></i>
            </button>
        </div>-->
        <div class="clearfix"></div>
    </div>
    <div class="tab_container tpsearch_content">
        <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ListRolesPermissions">
            You don't have permission to this page.
        </div>
        <div ng-if="Permission.ListRolesPermissions">
            <form name="formroleslist" unsaved-warning-form>
                <div class="table-responsive">
                    <!--<kendo-tooltip options="kendotooltipOptions">-->
                    <kendo-grid id="gridrolesSearch" style="margin-bottom:40px" options="RolesList">
                    </kendo-grid>
                    <!--</kendo-tooltip>-->
                </div>
            </form>
        </div>
    </div>
</div>