﻿<style>
    #treelist .k-grid-content.k-auto-scrollable{
    overflow: scroll !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /*/ DO NOT USE !important for setting the Grid height! /*/
        overflow: hidden;
    }
      .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
        background: #e4e4e4;
    }
      .radio, .checkbox {
    margin:0 !important;
}
</style>
<div class="outter-wp">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab w-100">
                <li  rel="tab7">
                    <a href="#!/users">
                        <h3><i class="far fa-users fa_icon"></i><br />Users</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7">
                    <a href="#!/rolesSearch">
                        <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/permissionSetsSearch">
                        <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
       
        <div class="tab_container tpsearch_content">
            <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ListRolesPermissions">
                You don't have permission to this page.
            </div>
            <div ng-show="Permission.ListRolesPermissions">
                 <form name="formroles" unsaved-warning-form>
                    <div class="roles_table">
                        <label class="ldet_label font-weight-bold my-2 ml-2">Role: {{RoleName}}</label>
                        <div id="treelist"></div>
                    </div>
                </form>
            </div>
        </div>
</div>
