﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
    div > form.k-filter-menu > div > label
    {
        padding-left: 5px;
    }
</style>
<div class="outter-wp">
    <div ng-if="!adminFlag" class="lead_stab">
        <ul class="tabs1 landing_tab" style="width:100% !important">
            <li class="activelead1" rel="tab7">
                <a href="#!/users">
                    <h3><i class="far fa-users fa_icon"></i><br />Users</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/rolesSearch">
                    <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/permissionSetsSearch">
                    <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div ng-if="adminFlag" class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li class="activelead1"  rel="tab7">
                <a href="#!/users">
                    <h3><i class="far fa-users fa_icon"></i><br>Users</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/hfcrolesSearch">
                    <h3><i class="far fa-user fa_icon"></i><br />Roles</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/hfcPermissionSetsSearch">
                    <h3><i class="fas fa-lock-alt fa_icon"></i><br />Permission Sets</h3>
                </a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="tab_container tpsearch_content">
        <!-- Access error message div -->
        <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ListUsers">
            You don't have permission to this page.
        </div>
        <div class="table-responsive" ng-show="Permission.ListUsers">
            <kendo-tooltip options="kendotooltipOptions">
                <kendo-grid id="gridUsers" class="ipadspace_grid" options="UserService.UserGridOptions"></kendo-grid>
            </kendo-tooltip>
        </div>
    </div>
</div>