﻿.note-image-dialog,
.note-help-dialog,
.note-link-dialog{
    overflow:hidden
}
.note-editor {
    border-radius:4px;
    border-color: #ccc
}
.note-editor .note-toolbar{
    border-radius:4px 4px 0 0;
    border-color: #ccc;
}
.note-editor .note-editable {
    overflow:auto;    
}
.note-editor p {
    margin:0;
    padding:0;
}