﻿<!-- wrapper starts -->
<div class="wrapper">
    <style>
        .k-grid-content table {
            background-color: #fff;
        }
        .content-section .selected-checkbox:focus {
            background-color: #3d7d8b;
        }
       
        .content-header:first-child {
            border-right: 1px solid lightgray;
        }
        .content-header .row-value {
            background-color: #fff;
        }
        .panel-header {
            line-height: 20px;
            margin: 4px 0px 0px 0;
            text-align: left;
        }
        .clear {
            clear: both;
        }
        .select-all-wrapper {
            padding: 5px 50px;
        }
        .leadgrid_box {
            margin: 2px 0px !important
        }
        .leadgrid_box #panelbar {
            margin-bottom: 0px;
        }
        .kendobatch .k-grid-header-wrap {
            overflow:visible;
        }
         input[type="checkbox"].selected-order-checkbox {
            background: #3d7d8b !important;
            border: 1px solid #3d7d8b !important;
        }
        

    /*.k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }*/ 
       .k-grid-content.k-auto-scrollable {
           height: 100% !important;
      }
    </style>
    <!-- header wrapprer starts -->
    <div class="header-wrapper">
            <!---inner tab--->
            <div class="lead_stab">
                <!--<ul class="tabs1 calendar_licons">
            <li class="activelead1" rel="tab6">
                <h3>
                    <i class="far fa-user fa_icon"></i>
                    <br />Information
                </h3>
            </li>
        </ul>-->
                <div class="leaddetail_butns">
                    <ul class="orderlist_box" ng-show="PurchaseOrderpermission.CanUpdate">
                        <li>
                            <button class="hfc_bgbut ng-scope" ng-click="convertoXVPO()" type="button" data-tooltip="Create xVPO">
                                <i class="fa fa-exchange fa_icon"></i>
                            </button>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
             </div>
    </div>
    <!-- header wrapprer ends -->
    <!-- content wrapper starts -->
    <div class="content-wrapper tp_content">
        <!-- content header block starts -->
        <div class="row no-margin py-2">
          <div class="content-header col-xl-6 col-sm-12" ng-repeat="data in summaryDetailList track by $index">
            <div class="content-header-title">
                <h5 class="mb-2">{{data['title']}}</h5>
            </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="expand_lhead">
                            <tr>
                                <th class="row-1 row-header" ng-repeat="header in data['headerList'] track by $index">{{header}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="row-1 row-value" ng-repeat="value in data['dataList'] track by $index">{{value[data['keyList'][$index]]}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
          </div>
       </div>
        <!-- content header block ends -->
        <!-- content body block starts -->
        <div class="content-section">
            <!-- select all section -->
            <section class="select-all-wrapper text-right">
                 <input class="selected-checkbox" id="selectAllInput" type="checkbox" ng-model="selectAllFlag" ng-click="selectAllOrders()" /><label class="ldet_label">Select All</label>
           </section>
            <div class="leadgrid_box" style="margin:20px 0;" ng-repeat="orderDetail in orderDetails">
                <ul kendo-panel-bar>
                    <li>  <!-- ng-repeat="data in detailList" -->
                        <!-- panel bar header section -->
                        <span style="font-weight: bold; width: 100%;">
                            <span class="col-sm-2 panel-header">
                                Sales Order:&nbsp; {{orderDetail['OrderNumber']}}
                            </span>
                            <span class="col-sm-2 panel-header">
                                Total QTY: &nbsp; {{orderDetail['TotalQuantity']}}
                            </span>
                            <span class="col-sm-3 panel-header">
                                Total Sales: &nbsp; ${{(orderDetail['TotalSales']).toFixed(2)}}
                            </span>
                            <span class="col-sm-3 panel-header">
                                Total Cost: &nbsp; ${{(orderDetail['TotalCost']).toFixed(2)}}
                            </span>
                            <span class="col-sm-2 panel-header">
                                <input class="selected-checkbox order-select-box" ng-model="selectFlag" type="checkbox" ng-click="orderSelectClicked(orderDetail['OrderID'], $index, orderDetail)"/>Select
                            </span>
                        </span>
                        <!-- panel bar content section -->
                        <div style="margin:20px 0;">
                            <kendo-grid id="'MyTasksGrid' + $index"
                                        options="{{'gridConfig' + $index}}" class="kendobatch"
                                        style="margin-bottom:20px !important; overflow-x:scroll;">
                            </kendo-grid>
                        </div>
                    </li>
                 </ul>
              </div>
            </div>
            <!-- content body block ends -->
    </div>
    <!-- content wrapper ends -->
</div>
<!-- wrapper ends -->