﻿<div class="modal fade" id="rev_Payment" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog reverse_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Reverse Payment</h4>
                <button type="button" class="close popup_close" ng-click="hidePaymentModal()" aria-hidden="true">&times;</button>
            </div>
            <form name="Payment_addint" role="form" novalidate ng-submit="NoteServiceTP.SavePayment()">
                <div class="modal-body reversepayment_popup">
                    <div class="leadgrid_box">
                        <div class="lead_rtop row">
                            <div class="col-xs-12 col-sm-12 col_1">
                                <div class="form-group row">
                                        <label class="col-2 text_detlabel">
                                            Warning:
                                        </label>
                                        <label class="col-10 ldet_label">
                                            You are reversing a customer payment. This will not be reflected in your instance of Quick Books. You or your accountant will need to manually post the appropriate transaction in Quick Books to reflect this payment reversal
                                        </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col_1">
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Opportunity Name</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.order.Opportunity}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Sidemark</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.order.SideMark}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Account</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.order.AccountName}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Installation Address</label>
                                    <div class="col-9">
                                        <label class="ldet_label">
                                            {{Payment.order.InstallationAddress}}
                                        </label>
                                    </div>
                                </div>
                                <div class="row orderpayment_group" style="margin-bottom:0 !important;">
                                    <div class="col-sm-6 col-xs-6">
                                        <label class="col-5 text_detlabel">Total</label>
                                        <div class="col-7">
                                            <label class="ldet_label">{{Payment.order.OrderTotal| currency:"$"}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 payment_groupverified">
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel checkno_field">Balance Due</label>
                                            <div class="col-7">
                                                <label class="ldet_label">{{Payment.order.BalanceDue| currency:"$"}}</label>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row orderpayment_group">
                                    <div class="col-sm-6 col-xs-6"
                                         ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_method.$modelValue== 0 ||
                                     Payment_addint.Pay_method.$modelValue=='')]">
                                        <label class="col-5 required_label">Payment Method</label>
                                        <div class="col-7">
                                            <span class="custom-dropdown custom-dropdown--white" style="border:1px solid #F7F7F7;">
                                                <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white ng-pristine ng-valid ng-not-empty ng-touched"
                                                        ng-model="Payment.PaymentMethod"
                                                        ng-options="item.Id as item.PaymentMethod for item in PaymentMethods"
                                                        name="Pay_method" required>
                                                    <option value="" disabled selected> Select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 payment_groupverified">
                                        <div class="row" ng-show="Payment.PaymentMethod==2">
                                            <label class="col-3 required_label checkno_field">Check Number </label>
                                            <div class="col-7">
                                                <input ng-required="Payment.PaymentMethod==2" type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Check Number" ng-model="Payment.CheckNumber" name="Check" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row" ng-show="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9">
                                            <label class="col-3 required_label checkno_field">Verification</label>
                                            <div class="col-7">
                                                <input ng-required="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9" type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Verification" ng-model="Payment.VerificationCheck" name="Verification" ng-minlength="1" ng-maxlength="100" required="">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row" ng-show="Payment.PaymentMethod==10">
                                            <label class="col-3 required_label checkno_field">Authorization</label>
                                            <div class="col-7">
                                                <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Authorization" ng-model="Payment.Authorization" name="Authorization" ng-minlength="1" ng-maxlength="100" maxlength="100" ng-required="Payment.PaymentMethod==10">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row orderpayment_group">
                                    <div class="col-sm-6 col-xs-6">
                                        <label class="col-5 required_label">Payment Date</label>
                                        <div class="col-7">
                                            <input class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                                   required="" style="width:50%;margin-right:2%"
                                                   type="text" name="fromDate"
                                                   ng-model="Payment.TempPaymentDate"
                                                   ng-value="Payment.TempPaymentDate"
                                                   placeholder="Start Date" data-date-format="MM/dd/yyyy"
                                                   data-autoclose="true"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6"
                                         ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_reverse.$modelValue== 0 ||
                                     Payment_addint.Pay_reverse.$modelValue==''||Payment_addint.Pay_reverse.$modelValue==null)]">
                                        <label class="col-5 required_label">Reason</label>
                                        <div class="col-7">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white ng-pristine ng-valid ng-not-empty ng-touched"
                                                        ng-model="Payment.ReasonCode"
                                                        ng-options="item.ReasonCodeId as item.Reason for item in ReversalReason"
                                                        name="Pay_reverse" required>
                                                    <option value="" disabled selected> Select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row orderpayment_group">
                                    <div class="col-sm-6 col-xs-6" ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_Amount.$invalid)]">
                                        <label class="col-5 required_label">Amount</label>
                                        <div class="col-7">
                                            <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched required_field"
                                                   placeholder="Amount" ng-model="Payment.TempAmount" name="Pay_Amount" ng-minlength="1" ng-maxlength="100" maxlength="100" style="width:50%" required="" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 required_label">Memo</label>
                                    <div class="col-9">
                                        <textarea placeholder="" multiple maxlength="500" style="width:450px; height: 85px; margin: 0px;" id="txtDesciption" ng-model="Payment.Memo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button class="btn btn-cancel" ng-click="hidePaymentModal()">Cancel</button>
                        <button type="submit" class="btn btn-cancel" ng-click="SaveReversePayment(this)">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
