﻿@model List<HFC.CRM.Data.Franchise>

@{
    ViewBag.Title = "Franchises";
}

@section overview_heading{
    <a class="btn btn-primary btn-sm" id="addFranchise" href="/controlpanel/franchises/detail/0"><span class=" glyphicon glyphicon-plus"></span> New Franchise</a>
}

<div class="table-responsive" style="padding-bottom:50px">
    <table class="table table-striped table-hover">
        <thead><tr><th style="width:25px"></th><th>Franchise</th><th>Owners</th><th>Account Code</th><th>Location</th></tr></thead>
        <tbody>
            @foreach (var fran in Model)
            {
                <tr>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/franchises/@fran.FranchiseId">View detail</a></li>
                                <li><a href="/franchises/@fran.FranchiseId?tab=territories">View territories</a></li>
                                <li><a href="javascript:void(0)" id="deactivateLink" data-franchiseid="@fran.FranchiseId">Deactivate123</a></li>
                                @if (fran.FranchiseOwners.Count > 0)
                                {
                                    <li><a href="#" onclick="return HFC.CP.Impersonate('@fran.FranchiseOwners.First().UserId.ToString()')">Impersonate owner &amp; login</a></li>
                                }
                            </ul>
                        </div>
                    </td>
                    <td>
                        @fran.Name
                    </td>
                    <td>
                        @string.Join(" & ", fran.FranchiseOwners.Select(s => s.User.Person.FullName))
                    </td>
                    <td>
                        @fran.Code
                    </td>
                    <td>
                        @fran.Address.ToString(false, true)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    @{
                        var lastNum = (ViewBag.PageIndex + 1) * ViewBag.PageSize;
                        if (lastNum > ViewBag.TotalRecord)
                        {
                            lastNum = ViewBag.TotalRecord;
                        }
                    }
                    <ul class="pager">
                        <li class="previous"><button class="btn btn-default pull-left" disabled="@(ViewBag.PageIndex == 0)"><span class="visible-xs">&larr;</span><span class="hidden-xs">Prev</span></button></li>
                        <li><span>@(ViewBag.TotalRecord > 0 ? (ViewBag.PageIndex * ViewBag.PageSize) + 1 : 0) - @lastNum out of @ViewBag.TotalRecord</span></li>
                        <li class="next"><button class="btn btn-default pull-right" disabled=@(lastNum == ViewBag.TotalRecord)><span class="visible-xs">&rarr;</span><span class="hidden-xs">Next</span></button></li>
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/CP/franchise")

