﻿<div class="modal fade" id="_calendarModal_" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">{{calendarModalService.eventview.OrganizerName}} Event Details</h4>
                <button type="button" class="close popup_close" data-dismiss="modal">&times;</button>
            </div>
            <form role="form">
                <div class="modal-body" ng-hide="calendarModalService.eventview.IsPrivateAccess==false">
                    <div class="form-group row ml-0 mr-0">
                        <label class="col-sm-3 text_detlabel">Subject:</label>
                        <div class="col-sm-9">
                            <label type="text" class="ldet_label" name="Subject" ng-model="calendarModalService.eventview.title">{{calendarModalService.eventview.title}}</label>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0">
                        <label class="col-sm-3 text_detlabel">Account Name:</label>
                        <div class="col-sm-9 ldet_label">
                            <a href="" ng-click="RedirectToAccount(calendarModalService.eventview.AccountId)">
                                {{calendarModalService.eventview.AccountName}}
                            </a>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0">
                        <label class="col-sm-3 text_detlabel">Preferred Phone:</label>
                        <div class="col-sm-9">
                            <label type="text" class="ldet_label" name="Phone">{{calendarModalService.eventview.AccountPhone| mask: '(999) 999-9999'}}</label>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0" >
                        <label class="col-sm-3 text_detlabel">Opportunity Name:</label>
                        <div class="col-sm-9 ldet_label">
                            <a href="" ng-click="RedirectToOpportunity(calendarModalService.eventview.OpportunityId)">
                                {{calendarModalService.eventview.OpportunityName}}
                            </a>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0">
                        <label class="col-sm-3 text_detlabel">Start:</label>
                        <div class="col-sm-9">
                            <label type="text" class="ldet_label" name="Start" ng-show="!calendarModalService.eventview.allDay" ng-model="calendarModalService.eventview.start">{{calendarModalService.eventview.start|GlobalTime: 'short' }}</label>
                            <label type="text" class="ldet_label" name="Start" ng-show="calendarModalService.eventview.allDay" ng-model="calendarModalService.eventview.start">{{calendarModalService.eventview.start|GlobalTime:'shortDate'}}</label>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0">
                        <label class="col-sm-3 text_detlabel">End:</label>
                        <div class="col-sm-9">
                            <label type="text" class="ldet_label" name="End" ng-show="!calendarModalService.eventview.allDay" ng-model="calendarModalService.eventview.end">{{calendarModalService.eventview.end|GlobalTime: 'short' }}</label>
                            <label type="text" class="ldet_label" name="End" ng-show="calendarModalService.eventview.allDay" ng-model="calendarModalService.eventview.end">{{calendarModalService.eventview.end|GlobalTime: 'short' }}</label>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0">
                        <label class="col-sm-3 text_detlabel">Location:</label>
                        <div class="col-sm-9">
                            <label type="text" class="ldet_label" name="Location" ng-model="calendarModalService.eventview.Location">{{calendarModalService.eventview.Location}}</label>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0">
                        <label class="col-sm-3 text_detlabel">Preferred Phone:</label>
                        <div class="col-sm-9">
                            <label type="text" class="ldet_label" name="Phone" ng-model="calendarModalService.eventview.PhoneNumber">{{calendarModalService.eventview.PhoneNumber| mask: '(999) 999-9999'}}</label>
                        </div>
                    </div>
                </div>
              
                <div class="modal-body" ng-show="calendarModalService.eventview.IsPrivateAccess==false">
                    <h3>This is a Private Appointment</h3>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns" ng-hide="calendarModalService.eventview.IsPrivateAccess==false">
                        <button type="submit" class="btn_remove" ng-click="deleteAppt(calendarModalService.eventview)">
                            <i class="fa fa-trash-o" style="font-size:24px;"> </i>Delete Appt
                        </button>
                        <button type="reset" data-dismiss="modal" class="btn_remove" ng-click="cancelAppointment(calendarModalService.eventview.id);">
                            <i class="fa fa-ban" style="font-size:24px;"></i>Cancel Appt
                        </button>
                        <!--<button type="submit" class="btn_remove" ng-click="EventReminderInDetailsView('_calendarModal_',calendarModalService.eventview.OrganizerPersonId)">
                            <i class="fa fa-envelope-o" style="font-size:24px;"></i>Reminder
                        </button>-->
                        <button type="submit" class="btn_remove" ng-click="editAppointment();">       <!-- EditEvent('persongo',calendarModalService.eventview.Id) -->
                            <i class="far fa-pen" style="font-size:24px;"></i>Edit
                        </button>
                        <!--<button type="reset" data-dismiss="modal" class="btn_remove">
                            <i class="fa fa-ban" style="font-size:24px;"></i>Cancel
                        </button>-->
                        <button type="reset" data-dismiss="modal" ng-show="calendarModalService.eventview.IsPrivate==false" class="btn_remove">
                            <i class="fas fa-unlock-alt" style="font-size:24px;"></i>Public
                        </button>
                        <button type="reset" data-dismiss="modal" ng-show="calendarModalService.eventview.IsPrivate==true" class="btn_remove">
                            <i class="fas fa-lock-alt" style="font-size:24px;"></i>Private
                        </button>
                    </div>
                    <div class="popup_butns" ng-show="calendarModalService.eventview.IsPrivateAccess==false">
                        <button type="reset" data-dismiss="modal" class="btn_remove">
                            <i class="fa fa-ban" style="font-size:24px;"></i>Cancel
                        </button>
                        <button type="reset" data-dismiss="modal" ng-show="calendarModalService.eventview.IsPrivate==true" class="btn_remove">
                            <i class="fas fa-lock-alt" style="font-size:24px;"></i>Private
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
