﻿<div id="crm-evt-container" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog" style="z-index:2000">
        <div class="modal-content" ng-if="CalendarService.EditableEvent">
            <div class="modal-header color-{{HFCService.GetUser(CalendarService.EditableEvent.AssignedPersonId).ColorId}}">
                <h4 class="mx-auto modal-title" ng-bind="HFCService.GetUser(CalendarService.EditableEvent.AssignedPersonId).FullName"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-disabled="CalendarService.IsBusy">&times;</button>
            </div>
            <div class="modal-body">                
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Subject</label>
                            <input type="text" class="form-control" placeholder="Subject" ng-model="CalendarService.EditableEvent.title" id="subjectIpt"  autofocus />
                        </div>
                        <div class="form-group" ng-if="CalendarService.EditableEvent.AptTypeEnum">
                            <label class="control-label">Location</label>
                            <input type="text" class="form-control" ng-model="CalendarService.EditableEvent.Location" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Attendees1</label>
                            <input type="hidden" class="select2" ui-select2="SelectOption" ng-model="CalendarService.EditableEvent.AdditionalPeople" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Message</label>
                            <textarea class="form-control" placeholder="Message" rows="6" cols="10" ng-model="CalendarService.EditableEvent.Message"></textarea>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Assigned To</label>
                            <select class="form-control" ng-model="CalendarService.EditableEvent.AssignedPersonId" ng-options="u.PersonId as u.FullName for u in HFCService.getUsers(CalendarService.EditableEvent.AssignedPersonId) | orderBy:'FullName'"></select>
                        </div>
                        <div class="form-group" ng-if="CalendarService.EditableEvent.AptTypeEnum">
                            <label class="control-label">Type</label>
                            <select class="form-control" ng-model="CalendarService.EditableEvent.AptTypeEnum" ng-options="val as name for (name, val) in CalendarService.AppointmentTypeEnum"></select>
                        </div>
                        <div class="form-group form-inline">
                            <label class="control-label center-block" ng-bind="CalendarService.EditableEvent.AptTypeEnum ? 'From' : 'Due'"></label>
                            <input class="form-control" style="width:53%;margin-right:2%" type="text" ng-model="CalendarService.EditableEvent.start" placeholder="Start Date" data-date-format="MM/dd/yyyy" data-autoclose="true" bs-datepicker /><input class="form-control" style="width:45%" type="text" ng-model="CalendarService.EditableEvent.start" ng-hide="CalendarService.EditableEvent.AptTypeEnum && CalendarService.EditableEvent.allDay" data-autoclose="true" placeholder="Start Time" bs-timepicker />
                        </div>
                        <div class="form-group form-inline" ng-if="CalendarService.EditableEvent.AptTypeEnum">
                            <label class="control-label center-block">To</label>
                            <input class="form-control" style="width:53%;margin-right:2%" type="text" ng-model="CalendarService.EditableEvent.end" placeholder="End Date" data-date-format="MM/dd/yyyy" data-autoclose="true" bs-datepicker /><input class="form-control" style="width:45%" type="text" ng-model="CalendarService.EditableEvent.end" ng-hide="CalendarService.EditableEvent.allDay" data-autoclose="true" placeholder="End Time" bs-timepicker />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Reminders</label>
                            <select class="form-control" ng-model="CalendarService.EditableEvent.ReminderMinute">
                                <option value="0">disabled</option>
                                <option value="5">5 minutes</option>
                                <option value="10">10 minutes</option>
                                <option value="15">15 minutes</option>
                                <option value="30">30 minutes</option>
                                <option value="45">45 minutes</option>
                                <option value="60">1 hour</option>
                                <option value="120">2 hours</option>
                                <option value="240">4 hours</option>
                                <option value="480">8 hours</option>
                                <option value="1440">1 day</option>
                                <option value="2880">2 days</option>
                                <option value="4320">3 days</option>
                                <option value="5760">4 days</option>
                                <option value="10080">1 week</option>
                                <option value="20160">2 weeks</option>
                            </select>
                        </div>
                        <div class="form-group btn-group btn-group-sm">
                            <button class="btn btn-default" ng-if="CalendarService.EditableEvent.AptTypeEnum" ng-click="CalendarService.EditableEvent.allDay = !CalendarService.EditableEvent.allDay" ng-class="{'btn-warning active': CalendarService.EditableEvent.allDay}">All Day</button>
                            <button class="btn btn-default" ng-hide="CalendarService.EditableEvent.AptTypeEnum" ng-click="CalendarService.SetCompletedDate()" ng-class="{'btn-warning active': CalendarService.EditableEvent.CompletedDate != null}">Completed</button>
                            <!--<button class="btn btn-default" ng-click="CalendarService.EditableEvent.IsPrivate = !CalendarService.EditableEvent.IsPrivate" ng-class="{'btn-warning active': CalendarService.EditableEvent.IsPrivate}">Private</button>-->
                            <span ng-show="CalendarService.EditableEvent.JobId || CalendarService.EditableEvent.LeadId" style="margin-left:10px; margin-top:5px;position: fixed;">
                                <span ng-show="CalendarService.EditableEvent.JobId">Job #<span ng-bind="CalendarService.EditableEvent.JobNumber"></span></span>
                                <span ng-show="!CalendarService.EditableEvent.JobId && CalendarService.EditableEvent.LeadId">Lead #<span ng-bind="CalendarService.EditableEvent.LeadNumber"></span></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-if="CalendarService.EditableEvent.AptTypeEnum && CalendarService.EditableEvent.IsCancelled != true" ng-click="CalendarService.ApptCancelled()" ng-disabled="CalendarService.IsBusy">Appt cancelled</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="CalendarService.IsBusy">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="CalendarService.Save()" ng-disabled="CalendarService.IsBusy">Save</button>
            </div>
        </div>
    </div>
</div>