﻿<div class="modal fade" id="manageCalendarSaveModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Manage Views</h4>
                <button type="button" class="close popup_close" data-dismiss="modal">&times;</button>
            </div>
            <form role="form" novalidate>
                <div class="modal-body calendarmanage_popup">
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>Seq</th>
                                <th>Title</th>
                                <th>Default</th>
                            </tr>
                        </thead>
                        <!--{{SavedCalendarList}}-->
                        <tbody>
                            <tr ng-repeat="cal in SavedCalendarList">
                                <td>
                                    <i class="fa fa-arrow-up trash_icon" ng-click="MoveUp($index,$index-1,cal,SavedCalendarList)"></i>
                                    <i class="fa fa-arrow-down trash_icon" ng-click="MoveDown($index,$index+1,cal,SavedCalendarList)"></i>
                                    <button type="reset" class="trash_icon" value="delete" ng-click="DeleteSavedCalendar(cal.Id)"><i class="far fa-trash-alt"></i></button>
                                </td>
                                <td>
                                    <div class="form-group row ml-0 mr-0">
                                      <span class="text-right w-100 req_desc" ng-class="{true: 'has-error'}[frmNewtask.$submitted]">Required</span>
                                        <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-touched" 
                                          ng-model="cal.ViewTitle" 
                                               placeholder="View Title" name="title" ng-maxlength="20" maxlength="20" >
                                    </div>
                                </td>
                                <td>
                                    <input type="radio"  class="option-input radio radio_space" style="margin: 10px 5px 0 !important;" 
                                       ng-checked="cal.IsDefault" ng-model="$parent.IsDefault" name="radiob" id="{{cal.Id}}" value="{{cal.Id}}" ng-click="SetDefaultSavedCalendar(cal.Id)" />
                                </td>
                            </tr>
                            <!--<tr>
                                <td>
                                    <input type="button" value="up" />
                                    <input type="button" value="down" />
                                    <input type="button" value="delete" />
                                </td>
                                <td>
                                    <div class="form-group row ml-0 mr-0">
                                        <span class="float-right req_desc" ng-class="{true: 'has-error'}[frmNewtask.$submitted]">Required</span>
                                        <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-touched" placeholder="View Title" name="title" ng-maxlength="256" maxlength="256" required="" autofocus="">
                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                    <input type="radio" class="option-input radio radio_space" name="IsDefault" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="up" />
                                    <input type="button" value="down" />
                                    <input type="button" value="delete" />
                                </td>
                                <td>
                                    <div class="form-group row ml-0 mr-0">
                                        <span class="float-right req_desc" ng-class="{true: 'has-error'}[frmNewtask.$submitted]">Required</span>
                                        <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-touched" placeholder="View Title" name="title" ng-maxlength="256" maxlength="256" required="" autofocus="">
                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                    <input type="radio" class="option-input radio radio_space" name="IsDefault" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="up" />
                                    <input type="button" value="down" />
                                    <input type="button" value="delete" />
                                </td>
                                <td>
                                    <div class="form-group row ml-0 mr-0">
                                        <span class="float-right req_desc" ng-class="{true: 'has-error'}[frmNewtask.$submitted]">Required</span>
                                        <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-touched" placeholder="View Title" name="title" ng-maxlength="256" maxlength="256" required="" autofocus="">
                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                    <input type="radio" class="option-input radio radio_space" name="IsDefault" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="up" />
                                    <input type="button" value="down" />
                                    <input type="button" value="delete" />
                                </td>
                                <td>
                                    <div class="form-group row ml-0 mr-0">
                                        <span class="float-right req_desc" ng-class="{true: 'has-error'}[frmNewtask.$submitted]">Required</span>
                                        <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-touched" placeholder="View Title" name="title" ng-maxlength="256" maxlength="256" required="" autofocus="">
                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                    <input type="radio" class="option-input radio radio_space" name="IsDefault" />
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                 </div>
                <div class="modal-footer">
                   <div class="popup_butns">
                        <button type="submit" class="btn btn-cancel" ng-click="UpdateSavedCalendar(SavedCalendarList)">
                            Save
                        </button>
                        <button type="button" class="btn btn-cancel" ng-click="cancelmanagecalendar()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
