﻿<div class="modal fade" id="calendarTaskModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">{{calendarModalService.eventview.OrganizerName}} Task Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form role="form">
                <div class="modal-body" ng-hide="calendarModalService.eventview.IsPrivateAccess==false">
                    <div class="form-group row ml-0 mr-0">
                        <label class="col-sm-3 required_label">
                            <input class="option-input checkbox" ng-show="calendarModalService.eventview.IsCompleted!=null" disabled type="checkbox" checked>
                        Subject:</label>
                        <div class="col-sm-9">
                             <label type="text" name="Subject" ng-model="calendarModalService.eventview.subject">{{calendarModalService.eventview.title}}</label>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0">
                        <label class="col-sm-3 required_label">Due:</label>
                        <div class="col-sm-9">
                            <label type="text" name="Due" ng-model="calendarModalService.eventview.end">{{calendarModalService.eventview.end|GlobalTime:'shortDate'}}</label>
                        </div>
                    </div>
                    <div class="form-group row ml-0 mr-0">
                        <label class="col-sm-3 required_label">Note:</label>
                        <div class="col-sm-9">
                            <label type="text" name="Start" ng-model="calendarModalService.eventview.note">{{calendarModalService.eventview.note}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-body" ng-show="calendarModalService.eventview.IsPrivateAccess==false">
                    <h3>This is a Private Task  </h3>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns" ng-hide="calendarModalService.eventview.IsPrivateAccess==false">
                        <button type="submit" class="btn_remove" ng-click="DeleteTaskInDetailsView('calendarTaskModal',calendarModalService.eventview.id)">
                            <i class="fa fa-trash-o" style="font-size:24px;"> </i>Delete
                        </button>
                        <!--<button type="submit" class="btn_remove" ng-click="TaskReminderInDetailsView('calendarTaskModal',calendarModalService.eventview.OrganizerPersonId)">
                            <i class="fa fa-envelope-o" style="font-size:24px;"></i>Reminder
                        </button>-->
                        <button type="submit" class="btn_remove" ng-click="editTask();">
                            <i class="far fa-pen" style="font-size:24px;"></i>Edit
                        </button>
                        <button type="submit" class="btn_remove" ng-click="CompeleteTaskInDetailsView('calendarTaskModal',calendarModalService.eventview.id)">
                            <i class="fa fa-check" style="font-size:24px;"></i>Completed
                        </button>
                        <button type="reset" data-dismiss="modal" class="btn_remove">
                            <i class="fa fa-ban" style="font-size:24px;"></i>Cancel
                        </button>
                        <button type="reset" data-dismiss="modal" ng-show="calendarModalService.eventview.IsPrivate==false" class="btn_remove">
                            <i class="fas fa-unlock-alt" style="font-size:24px;"></i>Public
                        </button>
                        <button type="reset" data-dismiss="modal" ng-show="calendarModalService.eventview.IsPrivate==true" class="btn_remove">
                            <i class="fas fa-lock-alt" style="font-size:24px;"></i>Private
                        </button>
                    </div>
                    <div class="popup_butns" ng-show="calendarModalService.eventview.IsPrivateAccess==false">
                        <button type="reset" data-dismiss="modal" class="btn_remove">
                            <i class="fa fa-ban" style="font-size:24px;"></i>Cancel
                        </button>
                        <button type="reset" data-dismiss="modal" ng-show="calendarModalService.eventview.IsPrivate==true" class="btn_remove">
                            <i class="fas fa-lock-alt" style="font-size:24px;"></i>Private
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
