﻿<div class="modal fade" id="calendarSaveModal" data-keyboard="false" data-backdrop="static" ng-model="CalendarControllerTP">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Save View</h4>
                <button type="button" class="close popup_close" data-dismiss="modal">&times;</button>
            </div>
            <form role="form" novalidate>
                <div class="modal-body">
                               <div class="source-group row">
                                   <label class="col-sm-3 col-xs-3 required_label">
                                       View Title
                                   </label>
                                   <div class="col-sm-9 col-xs-9">
                                       <input type="text" class="form-control frm_controllead1 required_field ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-touched"
                                              placeholder="Required" ng-model="viewtitle" name="title" ng-maxlength="20" maxlength="20" required >
                                   </div>
                               </div>
                            <div class="text-center">
                               <input class="option-input checkbox" type="checkbox" ng-model="IsDefault">
                                <label class="ldet_label">Set as Default</label>
                           </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" data-dismiss="modal" class="btn btn-cancel">Cancel</button>
                        <button type="submit" class="btn btn-cancel" ng-click="SaveCalendar(this)">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
