﻿<style>
    td.k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    td.k-state-selected:hover{
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    .k-list>.k-state-focused.k-state-selected
    {
        border-color: transparent !important;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13);
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
 
</style>
<div class="outter-wp">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li class="activelead1" rel="tab7">
                    <a href="#!/attachments">
                        <h3><i class="fal fa-usd-circle fa_icon"></i><br />Manage System-wide Documents</h3>
                    </a>
                </li>
            </ul>
            <!--<div class="leadsearch_icon">
               <button type="button" class="plus_but tooltip-bottom" data-tooltip="New Lead" ng-click="Newleadpage()"><i class="fa fa-plus-square-o"></i></button>
            </div>-->
            <div class="leaddetail_butns">
                <div class="plus_but tooltip-bottom" ng-if="Permission.PermissionAddDoc" style="text-align:center;" data-tooltip="Add System Wide Document" ng-click="NoteServiceTP.addGlobalDocuments(0)"><i class="far fa-plus-square"></i></div>
            </div>
        </div>
        <div class="tab_container tpsearch_content">
            <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.PermissionViewDoc">
                You don't have permission to this page.
            </div>
                <div class="table-responsive" ng-show="Permission.PermissionViewDoc">
                    <!--<kendo-tooltip options="kendotooltipOptions">-->
                        <kendo-grid id="gridDocumentsCP" class="ipadspace_grid" options="NoteServiceTP.CPSettingsDocumentGridOptions" style="margin-bottom:40px !important;"></kendo-grid>
                    <!--</kendo-tooltip>-->
                </div>
            <!-- Note/Attachment model template -->
            <hfc-note-modal></hfc-note-modal>
       </div>
</div>


     <!--<script>


         var Packets = [
         { AttachmentType: "BB Installation CheckList", View: "BBInstallationCheckList.pdf"  },
         { AttachmentType: "BB Measurement Form", View: "BBMeasuremenForm.pdf" },
         { AttachmentType: "TL Closet Measurement Form", View: "TLClosetMeasurementForm.pdf" },
         { AttachmentType: "Garage Measurement Form", View: "Garagemeasurementform.pdf" }]



                $(document).ready(function() {
                    $("#grid").kendoGrid({
                        dataSource: {
                            data: Packets,
                            schema: {
                                model: {
                                    fields: {
                                        AttachmentType: { type: "string" },
                                        View: { type: "string" }                                      
                                       
                                    }
                                }
                            },
                            pageSize: 20
                        },
                        height: 200,
                        scrollable: true,
                        sortable: true,
                        filterable: true,
                        pageable: {
                            input: true,
                            numeric: false
                        },
                        columns: [
                            "AttachmentType",
                        { field: "View", title: "View :", template: '<a href="#=URL#">#=View#</a>' }
                         //   { field:"View", title: "View", template : "<span style='color:blue'>  </span>" }
                            //{ field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "130px" },
                            //{ field: "UnitsInStock", title: "Units In Stock", width: "130px" },
                            //{ field: "Discontinued", width: "130px" }
                        ]
                    });
                });
</script>-->


