﻿<div class="col-sm-6">
    <label>Select options to be merged</label>
    <select class="form-control left-selector" style="height: 500px;" size="20">
        @foreach (var key in ((Dictionary<int, string>)ViewBag.CustomOptions).Keys)
        {
            <option value="@key">@(((Dictionary<int, string>)ViewBag.CustomOptions)[key])</option>
        }
    </select>
</div>

<div class="col-sm-6">
    <label>Select options to merge into</label>
    <select class="form-control right-selector" style="height: 500px;" size="20">
        @foreach (var key in ((Dictionary<int, string>)ViewBag.AllOptions).Keys)
        {
            <option class="@(((IEnumerable<int>)ViewBag.GlobalOptions).Any(o => o == key) ? "global" : null)" value="@key">@(((Dictionary<int, string>)ViewBag.AllOptions)[key])</option>
        }
    </select>
</div>

