﻿<style>
   .LightGray {
        background-color: lightgray;
    }
    .snav_tooltip {
        position: absolute;
        color: white;
        top: 19px;
        left: 65px;
        padding: 5px 8px;
        background: #365760;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
     .k-grid-content {
        overflow-y: scroll !important;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
    td.k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    td.k-state-selected:hover{
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    .k-list>.k-state-focused.k-state-selected
    {
        border-color: transparent !important;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13);
    }
    .k-i-loading {
        display: none;
    }
    #Vendor_NameList-list .k-list-scroller, #Franchise_NameList-list .k-list-scroller{
        max-height: 131px !important;
    }
</style>

<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <div class="tpadmin-content">
        <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ViewMasterBoard">
            You don't have permission to this page.
        </div>
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
               
                </ul>
                <div class="clearfix"></div>
            </div>
        <div style="margin-top:10px;" ng-show="Permission.ViewMasterBoard">
            <div class="source-group row state_field" style="margin: 0 0 10px;">
                <label class="col-sm-3 col-xs-3 required_label">Dashboard Filter:</label>
                <div class="col-sm-9 col-xs-9">
                    <span class="custom-dropdown custom-dropdown--white" style="width:300px;">
                        <select class="custom-dropdown__select custom-dropdown__select--white"
                                name="Vendor_Name"
                                ng-model="Procurement.Id"
                                ng-change="FilterChange(Procurement.Id);"
                                ng-options="option.Id as option.Name for option in DateTimeDropdown">
                            <option value="" selected>All</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="source-group row state_field" style="margin: 0 0 10px;">
                <label class="col-sm-3 col-xs-3 required_label">Filter by Vendor:</label>
                <div class="col-sm-9 col-xs-9">
                    <span class="custom-dropdown custom-dropdown--white" style="width:300px;">
                        <!--<select class="custom-dropdown__select custom-dropdown__select--white"
                                name="Vendor_Name"
                                ng-model="Procurement.VendorID"
                                ng-change="VendorChange(Procurement.VendorID);"
                                ng-options="option.VendorID as option.Name for option in VendorListName">
                            <option value="" selected>All</option>
                        </select>-->
                        <select id="Vendor_NameList"
                                name="Vendor_NameList"
                                kendo-drop-down-list
                                k-options="Vendor_NameList"
                                k-ng-model="Procurement.VendorID"
                                class="form-control  custom-dropdown__select--white"></select>
                    </span>
                </div>
            </div>
            <div class="source-group row state_field" style="margin: 0 0 10px;">
                <label class="col-sm-3 col-xs-3 required_label">Filter by Franchise:</label>
                <div class="col-sm-9 col-xs-9">
                    <span class="custom-dropdown custom-dropdown--white" style="width:300px;">
                        <!--<select class="custom-dropdown__select custom-dropdown__select--white"
                                name="Vendor_Name"
                                ng-model="Procurement.FranchiseId"
                                ng-change="FranchiseChange(Procurement.FranchiseId);"
                                ng-options="option.FranchiseId as option.Name for option in FranchiseListName">
                            <option value="" selected>All</option>
                        </select>-->
                        <select id="Franchise_NameList"
                                name="Franchise_NameList"
                                kendo-drop-down-list
                                k-options="Franchise_NameList"
                                k-ng-model="Procurement.FranchiseId"
                                class="form-control custom-dropdown__select custom-dropdown__select--white"></select>
                    </span>
                </div>
            </div>
            <!--<div class="source-group row state_field" style="margin-left:250px;">
                <label>Start Date</label>
                <input kendo-date-picker
                       class="form-control curency_dategrid ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                       style="width:160px !important;"
                       ng-required="true"
                       id="dateValue"
                       type="text" name="endDate"
                       placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                       ng-model="Procurement.DateValue" data-autoclose="true">

                <label>End Date</label>
                <input kendo-date-picker
                       class="form-control curency_dategrid ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                       style="width:160px !important;"
                       id="dateValue"
                       type="text" name="endDateValues"
                       placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                       ng-model="Procurement.EndDateValue" data-autoclose="true">

                </div>-->
                    <div class="table-responsive">
                        <kendo-tooltip options="tooltipOptions">
                            <kendo-grid id="ProcurementboardGrid" options="ProcurementlineData" tooltip-options="tooltipOptions">
                            </kendo-grid>
                        </kendo-tooltip>
                    </div>
            </div>
    </div>
</div>
