﻿.datepicker.dropdown-menu {
    width: 250px;
    height: 315px;
    padding:5px;
}

.datepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}

.datepicker.dropdown-menu thead th:nth-child(2){
    padding:0 5px;
}
.datepicker.dropdown-menu tbody {
    height: 180px;
}

.datepicker.dropdown-menu tbody button {
    padding: 6px;
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}

.timepicker.dropdown-menu {
    padding: 0 4px;
}

.timepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}

.timepicker.dropdown-menu tbody button {
    padding: 6px;
}

/*overrides bootstrap default so text is centered*/
input[type="date"]{
    line-height:inherit
}