﻿/************************** SOME BOOSTRAP HACKS TO FIX THINGS */
h1, h2, h3{
    margin-top:10px
}
/*.row {
    margin-right:0;
    margin-left:0;
}*/
html, body{
    height:100%;
}

.alert-dismissable .close{
    top:0;
    right:-20px
}

.form-control-select{
    padding:6px;
    display:inline-block;
    width:auto;
}

.btn-default .badge {
    color:#333;
    background-color:#f5f5f5;
    font-size:0.9em
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
/*.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}*/
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/*dropdown-menu-group lets us use .btn-group tags instead of <a> for each item so we can have nested links in each span*/
.dropdown-menu-group {
    min-width:260px;
}
.dropdown-menu-group .btn-group {
    width:100%;
}
.dropdown-menu-group .btn-group:hover {    
    background-color: #f5f5f5;
}
.dropdown-static {
    width:450px;
    padding-top:0
}
.popover-scrollable{
    max-height:350px;
    overflow-y: auto;
}

.text-truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-pills-noborderradius > li > a {
    border-radius:inherit;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align:inherit
}
.nav-text {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.text-bold {
    font-weight:700;
}
.text-sm {
    font-size:11px;
}
.text-md {
    font-size:14px;
}
.text-lg {
    font-size: 18px
}
.text-xl {
    font-size:24px
}
.crm-panel-heading{
    border-bottom:1px solid #ddd;
}
.crm-navbar .input-group{
    width:220px;
}
.crm-navbar .input-group-btn > .btn + .btn {
    margin-left: -5px;
}
.crm-navbar .navbar-brand {    
    padding:10px 6px; 
    line-height: inherit;
}
.crm-navbar .navbar-brand img{
       width: 150px;
}
.crm-navbar .navbar-nav .active {
    font-weight:700
}
.crm-navbar .dropdown-menu label {
    margin-left:10px;
    font-weight:normal
}
.crm-navbar .dropdown-menu > li > a,
.crm-navbar .dropdown-header {
    font-size:1.2em;
}
.crm-navbar .dropdown-menu{
    min-width:200px;
}
.crm-navbar .navbar-form{
    padding:0 0 0 5px;
}
.crm-navbar {
    background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #f6f6f6 100%);
    background-image: linear-gradient(to bottom, #f1f1f1 0%, #f6f6f6 100%);            
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f1f1', endColorstr='#fff6f6f6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius: 0;
    border-right:0;
    border-top:0;
    border-left:0;
    z-index:500;
    margin-bottom:8px;
    -webkit-box-shadow: 0 0 5px #333; /*inset 0 1px 0 rgb(51, 51, 51), 0 1px 5px rgba(0, 0, 0, 0.075);*/
          box-shadow: 0 0 5px #333/*inset 0 1px 0 rgb(51, 51, 51), 0 1px 5px rgba(0, 0, 0, 0.075);*/
}

.crm-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.crm-example:after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px
}
.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px
}
.crm-example+.highlight {
    margin: -15px -15px 15px;
    border-radius: 0;
    border-width: 0 0 1px
}

/**********************IMPORTANT: modal-dialog z-index is required for datepicker to be on the correct z-index */
.modal-dialog {
    z-index:2000;
}

@media (min-width:768px) {
    .crm-example {
        margin-left: 0;
        margin-right: 0;
    }

    .crm-example+.highlight {
        margin-top: -16px;
        margin-left: 0;
        margin-right: 0;
        border-width: 1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px
    }
}
/* Small devices, Tablets (≥768px) */
@media (min-width: 768px) and (max-width: 991px) {     
    /*.navbar-nav .visible-sm {
        display: inline-block !important;
    }
    .navbar-nav .hidden-sm {
        display: none !important;
    }*/
    .crm-navbar 
     {
        height:50px
    }
    .crm-navbar .navbar-nav > li > a .glyphicon{
        font-size:18px;
    }
    .crm-navbar .navbar-nav > li > a .caret {
        margin-bottom: 5px;
    }
}
@media (min-width:992px) {
    .crm-navbar .input-group{
        width:240px;
            z-index: 9999;
    }
}
@media (max-width: 767px) {    
    .crm-navbar .navbar-form{
        padding:inherit
    }
}
@media (max-width: 360px) {    
    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11,
    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }

    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11,
    .col-xxs-12 {
      float: left;
    }

    .col-xxs-12 {
      width: 100%;
    }

    .col-xxs-11 {
      width: 91.66666666666666%;
    }

    .col-xxs-10 {
      width: 83.33333333333334%;
    }

    .col-xxs-9 {
      width: 75%;
    }

    .col-xxs-8 {
      width: 66.66666666666666%;
    }

    .col-xxs-7 {
      width: 58.333333333333336%;
    }

    .col-xxs-6 {
      width: 50%;
    }

    .col-xxs-5 {
      width: 41.66666666666667%;
    }

    .col-xxs-4 {
      width: 33.33333333333333%;
    }

    .col-xxs-3 {
      width: 25%;
    }

    .col-xxs-2 {
      width: 16.666666666666664%;
    }

    .col-xxs-1 {
      width: 8.333333333333332%;
    }
}
/************************** BODY STYLE */

section.wrapper {
    min-height:100%;
    height:auto;
    margin:0 auto -25px;
    padding:0 0 25px
}

/************************** FOOTER STYLE */


/************************** MISC STYLE */

#crm-alertbox{
    display:none;
    position:fixed;
    top:0;
    left:0;
    border-radius: 0 0 5px 0;
    padding: 3px 30px 3px 3px;
    z-index:2000;
}
#preloader{
    position:fixed;
    top:8px;
    right:95px;
    background-color: #f4f4f4;
    border:1px solid #ddd;
    border-radius:4px;
    padding:5px;
    display:none;
    z-index:99999
}
#preloader img {
    width:24px;
    height:24px;
}
.h3-sm-margin{
    margin-top:5px;
    margin-bottom:10px;
}
.crm-count-badge{
    text-align:right;
    padding:8px;
}
.color-none{
    background-color: #c9d7f1 !important; 
    border-color: #c9d7f1 !important;
    color: #333 !important;
}
.color-none-n-arrow{
    border-bottom-color:#c9d7f1 !important 
}
.color-none-n-arrow:after{
    border-bottom-color:#c9d7f1 !important 
}
.navbar-nav > li > a.crm-user-color {
    padding: 2px 8px;
    margin: 8px 5px;
    border-radius: 4px;
    height:inherit
}
.navbar-nav > li > a.icon-md {
    padding-bottom: 13px;
    padding-top: 14px;
}
.navbar-nav > li > a.icon-md .glyphicon,
.navbar-nav > li > a.crm-user-color .glyphicon{
    font-size:18px;
}
input[name="searchFilter"]{
    position:absolute;
    left:-999px
}
.no-margin{
    margin:0 !important;
}
.no-padding{
    padding:0  !important;
}
.chart-container{
    border:1px solid #ddd;    
    min-height:200px;
    border-radius:4px;
    margin:5px 0;
    overflow:hidden;
}
.color-box{
    display:inline-block;
    width:20px;
    height:18px;
    vertical-align:top;    
    border-radius:3px;
}
.collapse-arrow:before{
    content: "\e094";
}
.collapsed .collapse-arrow:before{
    content: "\e092";
}
.crm-well-info{
    position: relative;
    padding: 35px 15px 10px;
    margin: 10px 15px;    
}
.crm-well-info:after{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.crm-billing-addr,
.crm-install-addr,
.crm-notes{
    margin:0;
}
.note-popover{
    position: relative;
    display: block;    
    width: 87%;
    max-width:inherit;
    padding:0;
}
.note-popover .popover-title{
    padding:5px 8px
}
.note-popover .popover-content{
    padding:6px 10px
}
.note-popover .inner-dropdown + ul.dropdown-menu {
    margin:0;
    padding:2px 0;
    min-width:100px
}
.note-popover .inner-dropdown + ul.dropdown-menu > li > a {
    padding:1px 20px;
}
.note-popover .btn{
    padding:0
}
.note-popover.right{
    margin-left: 0;
    margin-right: 0;
}
.note-popover.right .arrow,
.note-popover.left .arrow{
    top:16px;
}
.note-popover.right .arrow:after,
.note-popover.left .arrow:after{
    border-left-color:#f7f7f7;
    border-right-color:#f7f7f7
}
.note-popover.left {
    left: 0;
}
.crm-notes:after{
    content: "Notes"
}
.crm-billing-addr:after{
    content: "Billing Address";
}
.crm-install-addr:after{
    content: "Install Address";
}
.inline-relative{
    display:inline-block;
    position:relative;
}
.vertical-align-top{
    vertical-align:top
}
.mapCanvas {
    width: 400px; 
    height: 350px; 
    position:absolute; 
    /*visibility:hidden;*/
    display:none;
    z-index:999;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    overflow:hidden
}

.contactCanvas {
    width: 400px; 
    height: 350px; 
    position:absolute; 
    /*visibility:hidden;*/
    display:none;
    z-index:999;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    overflow:hidden
}
.statusCanvas {
    width: 400px; 
    height: 350px; 
    position:absolute; 
    /*visibility:hidden;*/
    display:none;
    z-index:999;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    overflow:hidden
}

.no-right-padding{
    padding-right: 0
}
.no-left-padding{
    padding-left: 0;
}

select[multiple]{
    height:30px;
}
.dropdown-menu-right{
    left:inherit;
    right:0;
}

/******************** bootstrap-select css ************/
.bootstrap-select.btn-group {
    margin-bottom:0
}
.bootstrap-select li .empty-span {
    display:inline-block;
    margin-right:15px;
}
.selectpicker-static .dropdown-menu li:not(.disabled) > a:hover small,
.bootstrap-select .text-muted{
    color: rgba(0,0,0,.6) !important
}
/*.selectpicker-static .dropdown-menu.inner{
    overflow-y:auto;
    height:100%
}*/
.selectpicker-static{
    overflow-y:auto;
    overflow-x:hidden;
    /*max-height: 300px;
    min-height:92px*/
    max-height:300px;    
    padding-top: 0;
}

.sourcerow {
    font-weight: bold;
}

tr.subrow.level2 td {
    padding-left: 50px!important;
}

tr.subrow.level3 td {
    padding-left: 100px!important;
}

tr.subrow.level4 td {
    padding-left: 150px!important;
}

tr.subrow.level5 td {
    padding-left: 200px!important;
}


span.campaign {
    color: blue;
}

.bootstrap-timepicker-widget input {
    background-color: #fff;
    border: 1px solid #ccc;
}


.job-tabs.nav li a {
    border-color: #428bca;
}


.job-tabs.nav li.active a {
    color: white;
    background-color: cornflowerblue;
    border-color: #428bca;
}

.job-tabs li.active a:hover {
    color: white;
    background-color: cornflowerblue;
    border-color: #428bca;
}

.job-tabs li.active a:focus {
    color: white;
    background-color: cornflowerblue;
    border-color: #428bca;
}


.job-panel .row a.job-title:before {
   content: "-Job #";
}

.job-panel .row a.job-title.collapsed:before {
   content: "+Job #";
}

select option.global {
    background-color: rgb(95, 213, 118);
    color: white;
}

#lineItems .row.label-success{
    background-color: #D0ECD0 !important;
}

.panel-body input::-webkit-outer-spin-button,
.panel-body input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.strikethrough {
    text-decoration: line-through;
}

#recent_leads td {
    padding: 1px;
}


.preferredTFN {
    display: inline-block;
}

#recent_leads .lead-status {
    padding-top: 2px;
    height: 35px;
}

#recent_leads .plus-button {
    padding-left: 5px;
}

.recent-leads-jobs {
    height: 458px!important;
}

.recent-leads-jobs-nav {
    padding-left: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.recent-leads-jobs th {
    padding: 3px!important;
}

.recent-leads-jobs td {
    line-height: 10px;
}

.recent-leads-jobs .glyphicon.glyphicon-new-window {
    padding-left: 10px;
}

.recent-jobs td{
    padding: 2px!important;
}

.recent-leads-jobs-nav a {
        padding: 3px 15px!important;
}

.recent-leads-jobs .media > .pull-left {
    margin-right: 9px!important;
}

.recent-leads-jobs .media > .pull-right {
    margin-left: 0px;
}

.my-note {
    padding-left: 10px;
}

.order-btn.disabled {
    pointer-events: auto;
}


.warning-icon {
   position: absolute;
    left: 68px;
    top: 10px;

    background-image: url('../Images/warning-16.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.order-warning-icon {
    display: block;
    background-image: url('../Images/warning-16.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
@font-face {
    font-family: 'humanist521';
    src: url('fonts/ufonts.com_humanist-521-bt.ttf') format('truetype');
}
