﻿.calIcon
{
  padding: 2px 2px;
  font-size: 12px;
  line-height: 1.0;
  border-radius: 1px;
}
.calIcon-lg
{
  padding: 2px 2px;
  font-size: 16px;
  line-height: 1.0;
  border-radius: 1px;
}

.newLine {
    display: block; 
}

.fc-header-title h2{
    font-size:18px;
}
#fullcalendar-container{
    margin-bottom:15px
}
.crm-cal-daterange{
    font-size:14px;
    margin-top:7px;
    display:inline-block
}

.tasks-panel .panel-body,
.aptlist-panel .panel-body{
    /*max-height:575px;
    min-height:170px;*/
    height:290px;
    overflow:auto;
    padding:0
}
.tasks-panel .panel-footer{
    padding:6px;
}
.aptlist-panel .panel-footer{
    padding:13px
}
.tasks-panel .table td:nth-child(2){
    padding-right:0;
    width:20px;
    vertical-align:top !important;
}
.tasks-panel .pager{
    margin:0
}
.panel-heading .panel-label{
    display:inline-block;
    padding:5px 5px 5px 0;
}

.tasks-panel .table td:first-child,
.aptlist-panel .table td:first-child{
    width:10px;
}
.aptlist-panel .table h4{
    margin:0 0 5px;
}
/*.aptlist-panel .table h4 .glyphicon
{
    vertical-align:top
}*/
.evt-recurring-panel .panel-body{
    padding:10px 0
}
.evt-recurring-panel .label-padding-tb{
    padding-top:6px;
    padding-bottom:6px
} 
.fc-event-vert .fc-event-bg {
    opacity:0;
    filter: alpha(opacity=0);
}
@media screen and (min-width: 660px) {
    .leftcontainer{
        min-width:320px;
        float:left;
        padding-left:10px;
        padding-right:20px;
    }

    .rightcontainer {
        min-width:320px;
        overflow:hidden;
    }
}
	
	/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 660px)  {
	.leftcontainer{
        max-width:640px;
        min-width:320px;
        padding-left:5px;
        padding-right:5px;
    }

    .rightcontainer {
        max-width:640px;
        min-width:320px;
        padding-left:5px;
        padding-right:5px;
        overflow:hidden;
    }
}

/*month calender size*/
