﻿.crm-accordion{
    
}
.crm-accordion .pager {
    margin:5px
}
.crm-accordion .panel-heading{
    padding:2px 5px;
}
.crm-accordion .submenu{
    margin-top:2px
}
.crm-accordion .center-block{
    text-align:center;
    padding:10px 0px;
}
.crm-accordion .panel-footer{
    padding:1px 0
}
.crm-accordion .padding{
    padding:13px
}
.crm-accordion .table {
    margin-bottom:0
}

.crm-accordion .completed{
    vertical-align:top;   
    margin-top:2px; 
}
