﻿/*Override bootstrap CSS for appending href when printing*/
/*a[href]:after {
content: "";
}*/
abbr[title]:after {
content: "";
}

#editor{
    height:100%;   
}
.paper-container {
    background-color: #C5C9CD;
    box-shadow: #333 0 0 10px inset;
    padding:15px
}
.paper {
    box-shadow: 0px 0px 10px #333;
    background-color:#fff;
    margin:0 auto;
}
/*paper default is standard paper size 8.5 x 11 inches at 96dpi and 0.5 inch padding all sides*/
.paper-default{
    width:816px; 
    min-height:1056px;
    padding:48px 96px;
    font-family: Arial, sans-serif;
    font-size:11pt;
    position:relative;
}
.paper-default .page-header{
    display:inline-block;
    width:100%;
}
.paper-default .paper-heading{
    height: 48px;
    padding-bottom:5px;    
    border-bottom:2px solid #8DC73F;
    position:relative
}
.paper-default .paper-footer {
    height: 48px;
    padding-top: 4px;
    border-top: 4px double #009EDD;    
    font-size:10pt;
    text-align:center;
}
.paper-default .paper-heading .paper-title {
    bottom:5px;
    right:0;
    position:absolute;
    font-weight:700;
    font-size:13pt
}
.paper-default .paper-heading img {
    height:100%;
}
.paper-default .paper-body {
    min-height: 864px;
    padding-top:10px;
    padding-bottom:10px;
}
.paper-default .paper-body .MsoTitle {
    font-size:22pt;
    border-bottom:1px solid #D9D9D9;
    margin-bottom:25px;
}
.paper-default .paper-body h1 {
    color:#948A54;
    font-size:16pt;
    font-weight:700;
    margin-bottom:10px
}
.paper-default .paper-body h2 {
    color:#404040;
    font-weight:700;
    font-size:14pt;
}
@media print {    
    .paper-default{
        padding: 0;
        min-width:816px
    }
    .paper-default table {
        font-size:12px;
    }
    .paper-default .paper-body{
        min-height: 954px
    }
}