﻿#evt_popover{
    min-width:300px;
    padding:0
}
#evt_popover .popover-content{
    min-height:55px;
}
#evt_popover .popover-message{
    margin-top:7px
}
#evt_popover .popover-footer {
    border-top:1px solid #ddd
}
#evt_popover.bottom .arrow,
#evt_popover.top .arrow{
    left:10%
}
#evt_prompter .modal-dialog {
    width: 280px;
}
