﻿#crm-evt-container .modal-body{
    padding:15px;
}
#crm-evt-container .date {
    width:44%;
    margin-right:1%;
}
#crm-evt-container .time {
    width:55%;
}
#crm-evt-container .time input{
    width:100%
}

#crm-evt-container .dropdown-menu-scroll{
    max-height: 200px;
    overflow:auto
}
#crm-evt-container .modal-header{
    border-radius:4px 4px 0 0;
}
#crm-evt-container .modal-footer{
    margin-top:0
}