﻿
.panel .date{
    width:auto;
    margin:3px 15px;
}
.pager-input{
    height:32px;
}
input.pager-input{
    width:40px;
}
select.pager-input{    
    width:65px;
}
.pager{
    margin:0
}
.pager li > a, .pager li > span{
    border-radius:4px
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align:inherit
}
#crm-list-table td.td-first > div{
    width:130px;
}
#crm-list-table td.td-number,
#crm-job-table td.td-number{
    width:90px
}
#crm-list-table td.td-status,
#crm-job-table td.td-status{
    width:190px
}
#crm-job-table td.td-first > div{
    width:130px;
}
#crm-list-table td.td-last div,
#crm-job-table td.td-last div{
    max-width: 200px
}
.row_item:hover td{
    background-color:inherit !important;
}
/*#crm-list-table .panel{
    margin:0 0 10px;
}
#crm-list-table .panel-heading{
    padding:5px 15px;
}
#crm-list-table .panel-body{
    padding:0;
}*/
address{
    margin-bottom:0;
    position:relative
}

.crm-additional-info:after{
    content: "Additional Lead Info";    
}

.list-group-item{
    padding:5px 10px
}
.row_item{
    display:none
}

.notes-popover{
    min-width:300px;
    min-height:150px;
    left: 0;
    top:30px;
    width:400%;
    max-width:inherit
}

.notes-popover.bottom .arrow {
    left:35px;
}
@media (max-width: 360px){
    #crm-searchDDL{
        width:62px;
    }
}
@media (max-width: 767px) {
    #crm-list-table th.hidden-xs,
    #crm-list-table td.hidden-xs
    {
        display:none
    }
    
}
@media (min-width: 768px) and (max-width: 1000px) {
    #crm-list-table th.hidden-sm,
    #crm-list-table td.hidden-sm{
        display:none
    }    
    /*.table-responsive{
        width:100%;
        overflow-x:scroll;
        overflow-y:hidden;
        margin-bottom:15px;
        border:1px solid #ddd;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling:touch
    }
    .table-responsive > .table > thead > tr > th, 
    .table-responsive > .table > tbody > tr > th, 
    .table-responsive > .table > tfoot > tr > th, 
    .table-responsive > .table > thead > tr > td, 
    .table-responsive > .table > tbody > tr > td, 
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }*/
}
.crm-filter-form{
    margin:15px 0 0;
    border-bottom:1px solid #ddd
}