﻿.lead-header{
    border-bottom:1px dotted #ddd;
    padding:4px 0 4px
}
.crm-lead-source:after{
    content: "Lead Sources"
}
#crm-lead-detail{
    margin-bottom:15px;
}
#crm-job-detail .panel{
    overflow:inherit;
    margin-bottom:15px;
}
.crm-list-src li{
    margin-bottom:5px
}
.bootstrap-select.btn-group {
    margin-bottom:0
}
#crm-lead-detail .form-group{
    margin-bottom:5px
}
#crm-job-detail .table > tbody > tr > td ,
#crm-job-detail .table > tfoot > tr > td {
    vertical-align:inherit;
}
.crm-show-history{
    position:absolute;
    top:7px;
    right:16px
}
.history-item{
    display:none
}
.qanda-pane button{
    width:100%;
    margin:2px 0
}
 .btn-off-screen{
     position:fixed;
     left:-9999px;
     top:-9999px;
 }

 .dropzone{
     margin-top:15px;
     min-height:250px
 }
 .aptlist-panel,
 .tasks-panel{
     margin-top:12px;
 }
 .aptlist-panel .panel-body,
 .tasks-panel .panel-body{
     height: auto !important;
 }
 .table-job-item {
     margin-bottom:0;
 }
.table-job-item .input-group{
    width:100%
}
 /*.table-job-item tfoot tr:not(:first-child) td:first-child{
     border-top: 0;
     border-right:1px solid #ddd
 }*/
 .panel-group .panel-footer{
     border-top:inherit
 }
.crm-address-book{
    margin:0;
}
.crm-address-book:after{
    content: "Address Book"
}
.lead-status {
    width:150px !important;
    margin-top:-4px;
}
.table-outlined {
    border:1px solid #ddd;
}
@media (max-width: 320px) {
    .lead-header .dropdown-static{
        left:-120px;
        width:315px
    }
}
@media (min-width: 321px) and (max-width: 480px) {
    .lead-header .dropdown-static{
        left:-120px;
        width:430px
    }
}
@media (min-width: 768px) {
    .lead-status {
        width:220px !important;
    }
}

