﻿.ngFade.ng-enter {
  /* standard transition code */
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity:0;
}
.ngFade.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}