﻿/*this is a fix for glyphicons when it is next to a text badge, it has an uneven height*/
.nav-tabs .glyphicon {
    height: 19px;
}
.margin-top {
    margin-top:10px
}
.margin-bottom{
    margin-bottom:15px;
}
.btn-ng-select .left-margin{
    margin:0
}
.btn-ng-select {
    display: block;
    text-align:left;
    width:100%;
    position:relative;
}
.btn-ng-select .caret {
    position:absolute;
    top:13px;
    right:10px;
}
.btn-ng-select.btn-lg .caret {
    top:16px
}
.btn-ng-select .text-muted {
    color:#ddd
}
.btn-ng-select.ng-select-exception .text-muted{
    color:#999
}
.btn-group-table {
    display:table;
    table-layout:fixed;
    border-collapse:separate;
    margin-bottom:5px;
    width:100%
}
.btn-group-table .btn{
    display:table-cell;
    float:none;
}
.btn-group-table .btn:first-child{
    width:18%;
}
.btn-group-table .btn:nth-child(2) {
    width:82%
}
.select .left-margin {
    margin-left:15px;
}

.select2-results .left-margin {
    margin-left:15px;
}


.select {
    max-height: 200px;
    overflow:auto;
}
.panel-group .panel {
    overflow:visible
}
.row-header {
    font-weight:700;    
    border-bottom:2px solid #ddd;
    margin-left:0;
    margin-right:0;
}
.row-header .hfc-col {    
    padding-top:5px;
    padding-bottom:5px;
}
.row-body {    
    border-bottom:1px solid #ddd;
    margin-left:0;
    margin-right:0;
}
.row-body .hfc-col {
    padding-top:5px;
    padding-bottom:5px;
}

.row-condensed .col-xs-1,
.row-condensed .col-xs-2,
.row-condensed .col-xs-3,
.row-condensed .col-xs-4,
.row-condensed .col-xs-5,
.row-condensed .col-xs-6,
.row-condensed .col-xs-7,
.row-condensed .col-xs-8,
.row-condensed .col-xs-9,
.row-condensed .col-xs-10,
.row-condensed .col-xs-11,
.row-condensed .col-xs-12,
.row-condensed .col-sm-1,
.row-condensed .col-sm-2,
.row-condensed .col-sm-3,
.row-condensed .col-sm-4,
.row-condensed .col-sm-5,
.row-condensed .col-sm-6,
.row-condensed .col-sm-7,
.row-condensed .col-sm-8,
.row-condensed .col-sm-9,
.row-condensed .col-sm-10,
.row-condensed .col-sm-11,
.row-condensed .col-sm-12,
.row-condensed .col-md-1,
.row-condensed .col-md-2,
.row-condensed .col-md-3,
.row-condensed .col-md-4,
.row-condensed .col-md-5,
.row-condensed .col-md-6,
.row-condensed .col-md-7,
.row-condensed .col-md-8,
.row-condensed .col-md-9,
.row-condensed .col-md-10,
.row-condensed .col-md-11,
.row-condensed .col-md-12,
.row-condensed .col-lg-1,
.row-condensed .col-lg-2,
.row-condensed .col-lg-3,
.row-condensed .col-lg-4,
.row-condensed .col-lg-5,
.row-condensed .col-lg-6,
.row-condensed .col-lg-7,
.row-condensed .col-lg-8,
.row-condensed .col-lg-9,
.row-condensed .col-lg-10,
.row-condensed .col-lg-11,
.row-condensed .col-lg-12 {
    padding-left:0;
    padding-right:0;
}

@media (min-width: 768px) {    
    .row-light-condensed {
        margin-left:0;
        margin-right:0;
    }
    .row-light-condensed .col-sm-1,
    .row-light-condensed .col-sm-2,
    .row-light-condensed .col-sm-3,
    .row-light-condensed .col-sm-4,
    .row-light-condensed .col-sm-5,
    .row-light-condensed .col-sm-6,
    .row-light-condensed .col-sm-7,
    .row-light-condensed .col-sm-8,
    .row-light-condensed .col-sm-9,
    .row-light-condensed .col-sm-10,
    .row-light-condensed .col-sm-11,
    .row-light-condensed .col-sm-12,
    .row-light-condensed .col-md-1,
    .row-light-condensed .col-md-2,
    .row-light-condensed .col-md-3,
    .row-light-condensed .col-md-4,
    .row-light-condensed .col-md-5,
    .row-light-condensed .col-md-6,
    .row-light-condensed .col-md-7,
    .row-light-condensed .col-md-8,
    .row-light-condensed .col-md-9,
    .row-light-condensed .col-md-10,
    .row-light-condensed .col-md-11,
    .row-light-condensed .col-md-12,
    .row-light-condensed .col-lg-1,
    .row-light-condensed .col-lg-2,
    .row-light-condensed .col-lg-3,
    .row-light-condensed .col-lg-4,
    .row-light-condensed .col-lg-5,
    .row-light-condensed .col-lg-6,
    .row-light-condensed .col-lg-7,
    .row-light-condensed .col-lg-8,
    .row-light-condensed .col-lg-9,
    .row-light-condensed .col-lg-10,
    .row-light-condensed .col-lg-11,
    .row-light-condensed .col-lg-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}