.glyph {
	font-size: 16px;
	width: 15em;
	padding-bottom: 1em;
	margin-right: 4em;
	margin-bottom: 1em;
	float: left;
	overflow: hidden;
}
.liga {
	width: 80%;
	width: calc(100% - 2.5em);
}
.talign-right {
	text-align: right;
}
.talign-center {
	text-align: center;
}
.bgc1 {
	background: #f1f1f1;
}
.fgc1 {
	color: #999;
}
.fgc0 {
	color: #000;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
.mvm {
	margin-top: .75em;
	margin-bottom: .75em;
}
.mtn {
	margin-top: 0;
}
.mtl, .mal {
	margin-top: 1.5em;
}
.mbl, .mal {
	margin-bottom: 1.5em;
}
.mal, .mhl {
	margin-left: 1.5em;
	margin-right: 1.5em;
}
.mhmm {
	margin-left: 1em;
	margin-right: 1em;
}
.mls {
	margin-left: .25em;
}
.ptl {
	padding-top: 1.5em;
}
.pbs, .pvs {
	padding-bottom: .25em;
}
.pvs, .pts {
	padding-top: .25em;
}
.unit {
	float: left;
}
.unitRight {
	float: right;
}
.size1of2 {
	width: 50%;
}
.size1of1 {
	width: 100%;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.hidden-true {
	display: none;
}
.textbox0 {
	width: 3em;
	background: #f1f1f1;
	padding: .25em .5em;
	line-height: 1.5;
	height: 1.5em;
}
.fs0 {
	font-size: 16px;
}
.fs1 {
	font-size: 32px;
}
/*---------------------------*/
@font-face {
	font-family: 'icomoonOne';
	src:url('../fonts/one.eot?-pltd5d');
	src:url('../fonts/one.eot?#iefix-pltd5d') format('embedded-opentype'),
		url('../fonts/one.woff?-pltd5d') format('woff'),
		url('../fonts/one.ttf?-pltd5d') format('truetype'),
		url('../fonts/one.svg?-pltd5d#one') format('svg');	
		font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoonTwo';
	src:url('../fonts/two.eot?-pltd5d');
	src:url('../fonts/two.eot?#iefix-pltd5d') format('embedded-opentype'),
		url('../fonts/two.woff?-pltd5d') format('woff'),
		url('../fonts/two.ttf?-pltd5d') format('truetype'),
		url('../fonts/two.svg?-pltd5d#two') format('svg');	
		font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoonThree';
	src:url('../fonts/three.eot?-pltd5d');
	src:url('../fonts/three.eot?#iefix-pltd5d') format('embedded-opentype'),
		url('../fonts/three.woff?-pltd5d') format('woff'),
		url('../fonts/three.ttf?-pltd5d') format('truetype'),
		url('../fonts/three.svg?-pltd5d#three') format('svg');	
		font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoonFour';
	src:url('../fonts/four.eot?-pltd5d');
	src:url('../fonts/four.eot?#iefix-pltd5d') format('embedded-opentype'),
		url('../fonts/four.woff?-pltd5d') format('woff'),
		url('../fonts/four.ttf?-pltd5d') format('truetype'),
		url('../fonts/four.svg?-pltd5d#four') format('svg');	
		font-weight: normal;
	font-style: normal;
}
[class^="glyphicon-"], [class*=" glyphicon-"] {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-One:before {
	font-family: 'icomoonOne';
	content: "\e600";
    font-size: 16px;
}
.glyphicon-Two:before {
	font-family: 'icomoonTwo';
	content: "\e600";
}
.glyphicon-Three:before {
	font-family: 'icomoonThree';
	content: "\e600";
}
.glyphicon-Four:before {
	font-family: 'icomoonFour';
	content: "\e600";
}
