﻿/*#crm-reminder-modal .modal-header{
    background-color:#f1f1f1;
    border-radius:6px 6px 0 0;
    padding:7px 10px;
}
#crm-reminder-modal .modal-header .close{
    margin-top:3px;
}
#crm-reminder-modal .modal-body {
    padding:10px;
}
#crm-reminder-modal a.list-group-item {
    padding:5px
}
#crm-reminder-modal a.list-group-item.active, 
#crm-reminder-modal a.list-group-item.active:hover {
    background-color:#F6F7BB;
    border-color:#DFDFC8;
}
#crm-reminder-modal a.list-group-item h4 span.date{
    font-size:75%;
    color:#333;
}
#crm-reminder-modal .list-group-item-text{
    color:#333
}
#crm-reminder-modal .modal-footer {
    margin-top:0;
    padding:10px;
}*/
#reminderModal .list-group-item.active small {
    color:#BBB
}
#crm-reminder-bell.active .glyphicon-bell{
    color:red
}
#crm-reminder-bell.active:hover .glyphicon-bell{
    color:#A30000
}