﻿.table tfoot tr {
    font-weight: 700;
}

.jobrow {
    display: none;
}

.date {
    width: auto;
    margin: 3px 15px;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    border-bottom: 0 none;
    border-top: 0 none;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    background: white;
}

.ui-jqgrid th {
    font-size: 14px !important;
    background: white;
}



.footrow-ltr, .jqgroup {
    font-size: 14px !important;
    height: 25px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #ccc !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #ccc;
    color: #1c94c4 !important;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(images/ui-icons_228ef1_256x240.png) !important;
}

div.ui-jqgrid-titlebar .ui-icon-circle-triangle-n, div.ui-jqgrid-titlebar .ui-icon-circle-triangle-s {
    background-position: -32px -192px !important;
}


.ui-jqgrid .ui-jqgrid-btable {
    table-layout: auto;
}
.ui-jqgrid-btable {
    table-layout: auto;
}

div.ui-jqgrid-view table.ui-jqgrid-btable
{
    border-style:none;
    border-top-style:none;
    border-collapse:separate;
}
div.ui-jqgrid-view table.ui-jqgrid-btable td
{
    border-left-style:none
}
div.ui-jqgrid-view table.ui-jqgrid-htable
{
    border-style:none;
    border-top-style:none;
    border-collapse:separate;
}
div.ui-jqgrid-view table.ui-jqgrid-btable th
{
    border-left-style:none
}
.ui-jqgrid tr.jqgrow td{
    font-size: 14px !important;
    background-color: white;
    height: 25px;
}

.jqgrid-row-groupped{
    background: #eee!important;
    font-weight: bold!important;
}