﻿.crm-sidebar .nav > li > a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #555;
    padding: 4px 20px;
}

.crm-sidebar .nav > li > a:hover,
.crm-sidebar .nav > li > a:focus {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c;
}

.crm-sidebar .nav > .active > a,
.crm-sidebar .nav > .active:hover > a,
.crm-sidebar .nav > .active:focus > a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}

.crm-sidebar .nav .nav {
    display: none;
    padding-bottom: 0px;
}

.crm-sidebar .nav .active {
    display: block;
}

.crm-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;
    font-size: 12px;
    font-weight: 400;
}

.crm-sidebar .nav .nav > li > a:hover, 
.crm-sidebar .nav .nav > li > a:focus {
    padding-left: 39px;
}

.crm-sidebar .nav .nav > .active > a,
.crm-sidebar .nav .nav > .active:hover > a,
.crm-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
    padding-left: 28px;
}

.subrow td:first-child{
    padding-left:40px
}