﻿body {
   background-color: #f7f7f7 !important;
   height: auto;
  overflow: auto
}
.title-wrap{
	background:#edecec;
	padding:15px 10px 9px;
}
ul.fran_brcrms {
	list-style:none;
	padding:0;
	margin: 5px 0 0 0;
}
ul.fran_brcrms  li {
    display: inline-block;
}
ul.fran_brcrms  li  a{
    color:#555;
	font-size:14px;
}
ul.fran_brcrms  li.active a{
    color:#4ab0c1;
}
ul.fran_brcrms  li a:hover{
    color:#555;
}
.btn-sm1 {
    color: #fff;
    background-color: #365760 !important;
    border-color: #365760 !important;
    outline: none !important;
}
thead.tab_head {
    background: #d8d8d8;
    color: #000;
    font-size: 18px;
}
i.fr_icon {
    color: #3f7b85;
    font-size: 22px;
}
ul.dropdown-menu.two {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;
    background: #d8d8d8;
    border: 1px solid #CECDCD;
}
ul.dropdown-menu.ad_two {
    padding: 0;
    min-width: 220px;
    top: 33px;
    left: -190px;
}
ul.dropdown-menu.ad_three {
    padding: 0;
    min-width: 432px;
    top: 33px;
    left: -384px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:active {
    background-color: #3d6473 !important;
}

.form-control-select{
    display: inline-block !important;
    width: 6% !important;
}
ul.u_icons {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.u_icons li.dropdown.note1 {
    display: inline-block;
    float: left;
    margin-right: 10px;
}
p.u_desc {
    float: left;
    margin:10px 10px 0 0;
}
ul.dropdown-menu.ad_two li.impr-head {
    margin: 0 0px 6px 20px;
}
.pranchise_box {
    width: 23.333333%;
        float: right;
}
.main-search3 {
    float: left;
    width: 73%;
    z-index: 99999;
    margin:3px 2% 0 0;
}
.ad_search {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-right: 0 !important;
}
button.btn.btn-default.dropdown-toggle.drop_2 {
    border-radius: 0 !important;
    background: #3f7b85;
    padding: 4px 10px;
    margin-left: 10px;
    border-radius: 5px !important;
}
ul#search-type {
    background: #d8d8d8;
    padding: 0 !important;
    left: -100px !important;
}
button.btn.btn-default.search_icon {
    border-left: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
ul.nofitications-dropdown {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    float: right;
}
td.dropdown1 {
    list-style: none;
}
ul#search-type input[type="radio"] {
    display: none;
}
li.fr_user {
    float: right !important;
    margin: 9px 10px 0 0;
}
i.fa.ques_icon {
    /*color: #3f7b85 !important;*/
    font-size: 22px !important;
}
i.plus_icon, i.alert_icon, i.search_icon, i.help_icon{
    width: 30px;
    height: 30px;
    display: block;
}
i.plus_icon {
    background: url(./images/nav_icons.png)no-repeat -210px -15px;
}
i.alert_icon {
    background: url(./images/nav_icons.png)no-repeat -166px -15px;
}
i.search_icon {
    background: url(./images/nav_icons.png)no-repeat -118px -15px;
}
i.help_icon{
    background: url(./images/nav_icons.png)no-repeat -67px -15px;
}
i.user_icon1 {
    background: url(./images/nav_icons.png)no-repeat -9px -15px;
    width: 42px;
    height: 30px;
    display: block;
}
a.dropdown-toggle:focus i.plus_icon, a.dropdown-toggle:active i.plus_icon, a.dropdown-toggle:hover i.plus_icon{
    background: url(./images/nav_icons.png)no-repeat -210px -58px;
}
a.dropdown-toggle:focus i.alert_icon, a.dropdown-toggle:active i.alert_icon, a.dropdown-toggle:hover i.alert_icon{
    background: url(./images/nav_icons.png)no-repeat -166px -59px;
}
a.dropdown-toggle:focus i.search_icon, a.dropdown-toggle:active i.search_icon, a.dropdown-toggle:hover i.search_icon{
    background: url(./images/nav_icons.png)no-repeat -118px -57px;
}
a.dropdown-toggle:focus i.help_icon, a.dropdown-toggle:active i.help_icon, a.dropdown-toggle:hover i.help_icon{
    background: url(./images/nav_icons.png)no-repeat -67px -55px;
}
a.dropdown-toggle:focus i.user_icon1, a.dropdown-toggle:active i.user_icon1, a.dropdown-toggle:hover i.user_icon1{
    background: url(./images/nav_icons.png)no-repeat -9px -55px;
}
ul.dropdown-menu.search {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;
    background: #3f7b85 !important;
    border: 1px solid #3f7b85;
    padding: 9px 8px;
    min-width:200px;
    left: -245px;
}
input.input-sm1 {
    float: left;
    width: 70%;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    font-size: 13px;
    color: #000;
    margin-right:10px;
}
button.btn-search {
    background: #69696d;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 13px;
    padding: 5px 12px !important;
}
button.btn-search:hover{
    background:#3d7d8b;
    border:1px solid #3d7d8b;
    outline:none;
}
ul.dropdown-menu.two h3 {
    text-align: center;
    padding: 27% 0;
    font-size: 17px;
    color: #000;
}
.dropdown-menu {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;
    background: #d8d8d8 !important;
    border: 1px solid #CECDCD;
}
.dropdown {
    position: relative;
    list-style: none;
}
.dropdown-menu2{
	padding: 0;
	position:absolute;
	top: 133%;
    left: 0;
	z-index:1000;
	display:none;
	float:left;
	min-width:250px;
	margin:1px 0 0;
	font-size:14px;
	list-style:none;
	 -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
	background-color:#fff;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 1px 5px rgba(184, 201, 241, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(184, 201, 241, 0.75);
	-o-box-shadow: 0px 1px 5px rgba(184, 201, 241, 0.75);
	box-shadow: 0px 1px 5px rgba(184, 201, 241, 0.75);
	background-clip:padding-box;
}
.export-nav{
	margin:10px 0 0;
}
.open > .dropdown-menu2 {
  opacity:1;
}
ul.dropdown-menu.two {
    padding: 0;
    min-width: 234px;
    top: 99%;
    left: -195px;
}
ul.dropdown-menu.ad_two {
    padding: 0;
    min-width: 220px;
    top: 99%;
    left: -172px;
}
ul.dropdown-menu.two li a .badge {
    background: #ff5454;
    border: 2px solid white;
    position: absolute;
    top: 9px;
    right: 3px;
    font-size: 8px;
    line-height: 8px;
    padding: 4px 6px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    min-width: 0;
}
.dropdown-menu2 {
   opacity:.3;
   -webkit-transform-origin: top;
   transform-origin: top;
   -ms-transform-origin: top;
   -moz-transform-origin: top;
   -o-transform-origin: top;
  -webkit-animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards; 
   -o-animation-fill-mode: forwards; 
   -mz-animation-fill-mode: forwards; 
   animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  display: block; 
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
ul#menu-mensagens-sub,li#menu-mensagens-enviadas{
z-index:9999;

}
li#menu-mensagens-enviadas,li#menu-mensagens,li#menu-academico-avaliacoes,li#menu-mensagens-recebidas,li#menu-academico-boletim{
    background-color: #305c6d;
	    border-bottom: 1px ridge #305c6d;
		z-index:9999;
}
.dropdown-menu2 li{
	margin-left:0;
	float:none;
	width: 100%;
}

.dropdown-menu2 li a{
	 border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	border:none;
	border-bottom:1px solid #E4E4E4;
}
.dropdown-menu2 li a:hover {
	border:none;
	border-bottom:1px solid #E4E4E4;
}
.dropdown-menu2 li.odd{
	background:rgba(0, 0, 0, 0.02);
}
li.dropdown.note {
    display: inline-block;
    float: left;
	cursor: pointer;
}
li.dropdown.note input[type="button"] {
    background:#d8d8d8;
    border: none;
	outline:none;
	padding: 20px 10px 20px 10px;
    color: #3d6473;
    font-size: 14px;
}
li.dropdown.note input[type="button"]:focus, li.dropdown.note input[type="button"]:hover, li.dropdown.note input[type="button"]:active {
    background:#365760;
    border: none;
	outline:none;
}
li.fr_user {
    float: right !important;
	margin-right: 10px;
}
li.dropdown.note a {
    padding:13px 10px;
	display: block;
	color:#3f7b85;
	font-size: 14px;
}
a.dropdown-toggle:focus, a.dropdown-toggle:active, a.dropdown-toggle:hover, a.dropdown-toggle:active {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff !important;
    text-decoration: none;
    background:#3d7d8b !important;
}
ul.dropdown-menu.user_drop {
    left: -160px;
}
li.dropdown.fran_adm a{
     padding:8px 10px;
}
li.dropdown.note:hover {
   background:#294550;
}
li.dropdown.note a:hover, li.dropdown.note a:focus {
   color:#fff;
}
ul.dropdown-menu.user_ddown {
    left: -125px;
}
li.dropdown.head-dpdn:nth-child(2) {
    
}
li.dropdown.head-dpdn:nth-child(3) {
	border:none;
}
.notification_header{
	background-color:#FAFAFA;
	padding: 10px 15px;
	border-bottom:1px solid rgba(0, 0, 0, 0.05);
}
.notification_header h3{	
	color:#37474f;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0 0 0;
    text-transform: uppercase;
}
.notification_bottom{
	padding: 0;
    text-align: right;
    background-color: #3d6473;
}
.notification_bottom a {
    padding: 5px 0!important;
}
.notification_bottom a {
    color: #00C6D7;
}
.notification_bottom a {
    color:#F44336;
}
.notification_bottom a:hover {
    color:#999;
}
.notification_bottom h3 a{	
	color: #717171;
	font-size:12px;
	border-radius:0;
	border:none;
	padding:0;
	text-align:center;
}
.notification_bottom h3 a:hover{	
	color:#4A4A4A;
	text-decoration:underline;
	background:none;
}
.link_icon {
    float: right;
}
.notification_desc{
	float: left;
    width: 60%;
    margin-left: 5%;
    white-space: normal;
}
i.ex_1{
	color: #3d6473 !important;
    font-size: 14px !important;
}
.dropdown-menu>li>a:focus .notification_desc p, .dropdown-menu>li>a:hover .notification_desc p {
    color:#fff;
}
.dropdown-menu>li>a:focus .notification_desc p span, .dropdown-menu>li>a:hover .notification_desc p span {
    color:#fff !important;
}
.dropdown-menu>li>a:focus i.ex_1, .dropdown-menu>li>a:hover i.ex_1 {
    color:#fff !important;
}
.notification_desc p{
	font-size: 13px;
    margin: 0 !important;
    color: #3d6473;
}
.wrapper-dropdown-2 .dropdown li a:hover .notification_desc p{
	color:#424242;
}
.notification_desc p span{
	color:#777 !important;
    font-size: 11px;
}
nav.navbar.navbar-default.crm-navbar {
    background: #d8d8d8;
    box-shadow: 2px 0 6px rgba(1, 70, 76, 0.68);
    -webkit-box-shadow: 2px 0 6px rgba(1, 70, 76, 0.68);
    -moz-box-shadow: 2px 0 6px rgba(1, 70, 76, 0.68);
    -o-box-shadow: 2px 0 6px rgba(1, 70, 76, 0.68);
    margin-bottom:0 !important;
    border-radius: 0 !important;
}
/*----login------*/
.login {
    background: url('./images/newimage.jpg')no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height:950px;
    padding: 4% 0 0;
}
.login_admin{
    width: 30%;
    background: #fff;
	margin:3% auto auto auto;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    -o-border-radius: 5px;
	padding: 10px 30px;
}
button.sign_but {
    font-size: 14px;
    font-weight: 300 !important;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 12px 50px;
    border: none;
    background: #567288;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-transform: uppercase;
}
button.sign_but:hover {
    background:#456177 !important;
}
p.tp_text {
	text-align: right;
    font-size: 13px;
    color: #555;
    margin: 10px 0 25px;
    font-style: italic;
    font-weight: 800;
    }
.login_admin  img{
	display:inline-block;
}
.login_admin  input[type="text"], .login_admin  input[type="password"], .login_admin  input[type="email"] {
    width: 100%;
    padding: 15px;
    color: #3d6473;
    font-size:12px;
    outline: none;
    font-weight: 300;
    border: none;
    background: #bec8d1;
    margin: 0 0 1em 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
     height: 100%;
     outline:none;
}
.login_admin  input[type="submit"] {
    font-size: 14px;
    font-weight: 300 !important;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 12px 50px;
    border: none;
    background: #567288;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    float: right;
}
.login_admin  input[type="submit"]:hover {
	background:#2a4651;
}
.login_admin label{
	float: left;
	color:#555;
	font-size:12px;
}
.page-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.g_login {
    margin:10px 0 0 0;
    font-size: 13px;
}
.g_login-lt{
    float: left;
}
.g_login-lt p{
   text-align:left;
   margin: 0 0 10px;
}
.g_login-lt p a {
    color: #000;
}
.g_login-rt {
    float: right;
	text-align: left;
}
.g_login-rt img{
	width:32px;
	margin-right: 15px;
}
img.gog_icon {
    float: left;
}
button.gog_icon:before {
    width:32px;
    height:32px;
    background: url(./images/google.png)no-repeat;
    content: "";
    display: inline-block;
}
button.gog_icon{
    display: inline-flex;
    background: none !important;
    border: none !important;
    outline:none !important;
}
.gog_box p {
    margin: 8px 0 0 0;
}
/*--Deactivate tabe--*/
.Comment_box {
    width: 230px;
    height: 36px;
}

/*-- Franchise detail --*/
.frhs_det {
    background: #567288;
}
ul.tabs {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
    width: 100%;
    background: #ededed;
}
ul.tabs.landing_tab {
    margin: 0 !important;
}
ul.tabs li {
    margin: 0;
    cursor: pointer;
    padding: 15px 21px;
    background-color: #ededed;
    color: #3d6473;
    overflow: inherit;
    position: relative;
    width: 8.3333%;
    float: left;
    text-align: center;
}
ul.tabs li.active1 {
    /*background: #94b7bc !important;*/
    background: #365760 !important;
}
ul.tabs li h3 {
    color: #fff;
    font-size: 15px;
    margin: 0;
}
ul.tabs li.active h5, ul.tabs li.active1 h3 {
    color: #fff;
    font-size: 15px;
}
ul.tabs_fs, ul.tabs_fs li {
    background: #567288 !important;
}
.basinfo_lt h1, .basinfo_rt h2, .basinfo_lt h3, .basinfo_rt h3 {
    font-size: 18px;
    color: #000;
    margin: 0 -20px 40px;
    font-weight: 800;
}
/*input.form-control:focus, input.form-control:visited {
    background: red !important;
}*/
.col-form-label {
    font-size: 13px;
    color: #555;
    padding: 0 !important;
}
.fr-rqd {
    margin: -25px 0 0 0;
}
span.req_desc {
    font-style: italic;
    font-size: 13px;
    color: #555;
    margin: 5px 0;
}
.custom-select {
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    vertical-align: middle;
    /*background: #fff url('images/sort.png') no-repeat right .75rem center;*/ 
    background: #fff url('images/node-opened-light.png') no-repeat right .75rem center;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #b2bfca;
    padding: 10px 12px !important;
    height: 37px !important;
    font-size: 13px;
    color: #000;
    border-radius: 4px;
}
.fran_tab1 {
    margin: 30px 20px;
}
.tab_drawer_heading {
    display: none;
}
.frm_ctl {
    border: 1px solid #b2bfca;
    padding: 10px 12px !important;
    height: 37px !important;
    font-size: 13px;
    color: #000;
    text-transform: capitalize;
}
label.col-sm-3.col-form-label {
    width: 21%;
    margin:8px 0 0 0;
}
label.frm_label {
    margin:0 !important;
}
label.frm_label1 {
    margin: 27px 0 0 0 !important;
}
.fr_right{
    width:79%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}
.col-form-label1 {
    font-size: 13px;
    color: #555;
    margin: 27px 0 0 0;
    padding: 0 !important;
}
.basinfo_lt {
    padding-right: 40px !important;
}
.has-error1, .has-error {
    padding: 0 !important;
}
.btn-sm2 {
    background: #edecec;
    color: #567288;
    border: none;
    font-size: 14px;
    border-radius: 2px;
    padding: 8px 15px;
    margin: 5px 10px 0 0;
    cursor: pointer !important;
}
ul.tabs_fs {
    width: 77%;
}

ul.tabs_fs li {
    width: 13.3333% !important;
    padding: 15px 15px !important;
}
.hd_logo {
    float: left;
}
.header_left{
    float: left;
    width:35%;
}
form.head_src{
    float: left;
    width: 50%;
    margin:0;
}
.drop_list {
    left: -121px !important;
}
.main-search4.input-group {
    display: inline !important;
    float:left;
    width:50%;
}
/*form.head_src{
    float: left;
    margin:6px 0 0 0;
}*/
span.ar_icon {
    color: #fff;
}
.time_zone{
    padding-right: 0 !important;
}
/*--- franchise royalties ---*/
ul.tabs li.active3 {
    background: #425866 !important;
}
ul.tabs_royal li {
    background: #979797 !important;
    margin-right:2px !important;
    width: 29.3333% !important;
    padding: 8px 20px !important;
}
.pull-right.royal_det {
    width: 25%;
}
.hiddenRow {
    padding: 0 !important;
}
.table.table-condensed tr.item_rw{
    padding:50px !important;
}
.table.table-condensed>tbody>tr.item_rw {
    background: #fff;
    box-shadow: 0px 0 2px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 0px 0 2px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0 2px rgba(1, 70, 76, 0.68);
    -o-box-shadow: 0px 0 2px rgba(1, 70, 76, 0.68);
    padding: 10px !important;
}
.table-condensed th, .table-condensed td {
    padding: 14px 5px;
}
.demo1.in.collapse, .demo2.in.collapse {
    padding: 50px 10px;
}
.table.table-condensed>tbody>tr:nth-child(odd)>td, .table.table-condensed>tbody>tr:nth-child(odd)>th {
    background-color: #edecec;
    vertical-align: middle;
}
.table.table-condensed>tbody>tr:nth-child(even)>td, .table.table-condensed>tbody>tr:nth-child(even)>th {
    background-color: #fff;
}
.royal_head{
    background:#d8d8d8;
}
i.edit-icon{
    color:#3d7d8b;
    font-size:18px;
}
i.save-icon{
    color:#3d7d8b;
    font-size:18px;
    margin-left:10px;
}
.tery_sm{
    background-color: #365760;
    color: #fff;
    padding: 8px 25px;
    border-radius: 4px;
    margin: 0;
    outline: none;
}
.tery_sm1{
    background-color: #3c6472;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 4px;
    margin: 0;
    outline: none;
    border-color: #3c6472;
}
.tery_sm1:hover, .tery_sm1:active, .tery_sm1:focus{
    background:#94b7bc;
    border-color:#94b7bc;
}
.tery_cancel{
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding:8px 20px;
    border-radius: 4px;
    margin: 0;
    outline:none;
}
.table.table-striped1 {
    margin-bottom: 0;
}
.table.table-striped1  td a{
    color:#3c6472;
}
.table.table-striped1 td, .table.table-striped1>tbody>tr>td, .table.table-striped1>tbody>tr>th, .table.table-striped1>tfoot>tr>td, .table.table-striped1>tfoot>tr>th, .table.table-striped1>thead>tr>td, .table.table-striped1>thead>tr>th {
    vertical-align: middle;
    padding:3px !important;
}
span.field {
    display: block;
    position: relative;
    margin-left: 10px;
}

span.field input[type="radio"] + label,input[type="checkbox"] + label {
    color: #000;   
    font-size: 1em;
    cursor: pointer;
}
i.dot_icon {
    font-size: 15px;
}
span.field input[type="radio"],
span.fieldInActive input[type="checkbox"] {
    position:absolute;
    opacity:0;
    cursor: pointer;

&:hover, &:focus, &:hover + label, &:focus + label {
    border-color: #ddd;
    color: #ddd;
}

&:checked + label {
    color: black;
    position:relative;
}
}
    span.field input[type="checkbox"] {
    position:absolute;
    opacity:0;
    cursor: pointer;

&:hover, &:focus, &:hover + label, &:focus + label {
    border-color: #ddd;
    color: #ddd;
}

&:checked + label {
    color: black;
    position:relative;
}
}

span.field input[type="radio"] + label::before {
    content: '';
    width: 1em;
    height: 1em;
    margin-right: .5em;
    position: relative;
    top: .4em;
    display: inline-block;
    background-color: transparent;
    border-radius: 2em;
    border: 4px solid #ddd;
}

span.field input[type="checkbox"] + label::before {
    content: '';
    width: 20px;
    height: 20px;
    margin-right: .5em;
    position: relative;
    top: .25em;
    display: inline-block;
    border: 1px solid #b2bfca;
}
.index_cbox input[type="checkbox"] + label::before {
    border:none !important;
}
.hd_cbox input[type="checkbox"] + label::before {
    background:#fff;
}


span.field input[type="checkbox"]:checked + label::after {
    content: '✔';
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    color:#3f7b85;
}
span.fieldInActive input[type="checkbox"] + label::before {
    content: '';
    width: 20px;
    height: 20px;
    margin-right: .5em;
    position: relative;
    top: .25em;
    display: inline-block;
    border: 1px solid #b2bfca;
}
span.fieldInActive input[type="checkbox"]:checked + label::after {
    content: 'X';
    display: block;
    position: absolute;
    top: 4px;
    left: 14px;
    width: 10px;
    height: 10px;
    color:#3f7b85;
}

span.field input[type="radio"]:checked + label::before {
    border-color: #ddd;
}

span.field input[type="radio"]:checked + label::after {
    content: '';
    width: .75em;
    height: .75em;
    position: absolute;
    top: .12em;
    left:.35em;
    display: inline-block;
    background-color: #ddd;
    border-radius: 2em;
}
.modal-header h3 {
    color: #000;
    font-size:20px;
}
ul.royal_icns{
    padding:0;
    margin:0;
    list-style:none;
}
ul.royal_icns li a {
    display: inline-block;
    float: left;
    margin-right: 5px;
    color:#3c6472;
}
.table.table-striped2 td, .table.table-striped2 > tbody > tr > td, .table.table-striped2 > tbody > tr > th, .table.table-striped2 > tfoot > tr > td, .table.table-striped2 > tfoot > tr > th, .table.table-striped2 > thead > tr > td, .table.table-striped2 > thead > tr > th {
    vertical-align: middle;
    padding: 8px !important;
    font-size: 0.85em;
    color: #777;
}
.header_check {
    float: left;
    margin: -6px 0 0 0;
}
.back_but {
    float: right;
    margin: 20px 0;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th, .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle !important;
    color:#000;
}
a.fname_link{
    color: #000;
}
h3.royal_hd {
    font-size: 24px;
    color: #000;
    float: left;
    margin: 5px 0 0 0 !important;
}
.royal-tpgrid {
    margin: 20px 0;
}
.btn-detail {
    background-color: #94b7bc;
    color: #fff;
    padding: 8px 25px;
    border-radius: 4px;
    margin: 0;
    outline: none;
}
.text_area textarea {
    outline: none;
    background: #FCFCFC;
    border: 1px solid #adadad;
    padding: 10px;
    font-size: 13px;
    color: #000;
    width: 100%;
    height: 80px;
    resize:none;
}
.modal-backdrop.in {
   opacity: 0 !important;
}
.modal-backdrop.fade.in {
    position: absolute !important;
}
.modal-open {
    overflow: auto !important;
}
/*--Sidebar menu---*/
.left-content {
    float: right;
    width: 88%;
}
.page-container.sidebar-collapsed {
  transition: all 100ms linear;
  transition-delay: 300ms;

}
.page-container.sidebar-collapsed .left-content {
   float: right;
   width: 96.6%;
}
.page-container.sidebar-collapsed-back {
    transition: all 100ms linear;
}
.page-container.sidebar-collapsed-back .left-content {
  transition: all 100ms linear;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
	float: right;
    width:88%;
}
.page-container.sidebar-collapsed .sidebar-menu {
  width: 65px;
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
  width: 230px;
  transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-icon {
   transition: all 300ms ease-in-out;
   margin-right: 0.8em;
   color: #fff;
   border-radius: 0;
   margin-top: 1px;
}

.page-container.sidebar-collapsed-back .sidebar-icon {
  transform: rotate(0deg);
  transition: all 300ms ease-in-out;
}

.page-container.sidebar-collapsed .logo {
  padding: 14px 0;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
  /*width:295px;*/
}
a.sidebar-icon:hover, a.sidebar-icon:focus {
    color: #fff;
}
/*.page-container.sidebar-collapsed-back .logo {
  width: 100%;
  padding: 13px 14px;
  height:60px;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
}*/

.page-container.sidebar-collapsed #logo {
    /*opacity: 0;*/
    transition: all 200ms ease-in-out;
    /*--display: none;--*/
   width:230px;
}
.page-container.sidebar-collapsed .down {
    display: none;
}
.page-container.sidebar-collapsed-back #logo {
  opacity: 1;
  transition: all 200ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed #menu span {
  opacity: 0;
  transition: all 50ms linear;
}

.page-container.sidebar-collapsed-back #menu span {
  opacity: 1;
  transition: all 200ms linear;
  transition-delay: 300ms;
}

.sidebar-menu {
    position: fixed;
    float: left;
    width: 230px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:#69686d;
    color: #aaabae;
    z-index: 999;
}
#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#menu li {
  position: relative;
  margin: 0;
  padding: 0;
}

#menu li ul {
  opacity: 0;
  height: 0px;
}

#menu li a {
 font-style: normal;
    font-weight: 400;
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    font-size:0.9em;
    border:none;
	border-left: 4px solid #2a4651;
}

#menu li a:hover {
  color: #ffffff;
  background-color:#2a4651;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
   border-left: 4px solid #94b7bb;
   text-decoration:none;
}
img.list_icon {
    margin-right:10px;
}
#menu li.active > a {
  background-color:#3f7b85;
  color: #ffffff;
}

#menu ul li {background-color:#3f7b85; }

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li ul {
  position: absolute;
  visibility: hidden;
  left: 100%;
  top: -1px;
  background-color: #2b303a;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s linear;
  border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menu li:hover > ul {
  visibility: visible;
  opacity: 1;
}
li#menu-mensagens,li#menu-arquivos {
background-color:#00C6D7!important;
}
#menu li li ul {
  right: 100%;
  visibility: hidden;
  top: -1px;
  opacity: 0;
  transition: opacity 0.1s linear;
}

#menu li li:hover ul {
  visibility: visible;
  opacity: 1;
}

#menu .fa { margin-right: 5px; }
.page-container.sidebar-collapsed .logo {
    padding: 11px 0;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}
.logo {
    width: 100%;
    padding: 11px 14px;
    box-sizing: border-box;
    background:#d8d8d8;
}
.box_1 {
    background: #f7f7f7;
    margin: 56px 0 0 0;
}
.sidebar-icon {
    text-align: right;
    line-height: 1;
    font-size: 19px;
    padding: 8px 10px;
    border-radius: 0px;
    color: #fff;
    float: right;
}
ul#menu i {
    font-size: 1.1em;
    margin-right: 6px;
	    width: 10%;
}
ul#menu-academico-sub {
    z-index: 999;
}
li#menu-academico{
 z-index: 999;
}
#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
}
.dropdown-submenu>.dropdown-menu {
    /*top: 0;*/
    left: 100%;
    margin-top: 20px;
    margin-left: -160px !important;
   }
/*#logo
{
    width: 150px;
    height: 64px;
    vertical-align: middle;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
}*/

.fa-html5 {
  color: #fff;
  margin-left: 50px;
}
.menu {
    text-align: left;
    margin:35px 0 0 0;
}
.header-section {
    background: #d8d8d8;
    box-shadow: 2px 0 6px rgba(1, 70, 76, 0.68);
    -webkit-box-shadow: 2px 0 6px rgba(1, 70, 76, 0.68);
    -moz-box-shadow: 2px 0 6px rgba(1, 70, 76, 0.68);
    -o-box-shadow: 2px 0 6px rgba(1, 70, 76, 0.68);
    left: 0;
    right: 0;
    z-index: 999;
    position: fixed;
    top: 0;
}
.layout_head {
    padding:8px 0 10px;
}
i.edit_icon{
    color: #174a54;
    font-size:20px;
    margin-right:5px;
}

/*--- end header----*/

#contactForm {
    padding: 0 10px;
}
/*--footer--*/
footer {
    background: #365760;
    padding: 12px;
    width: 100%;
    border-top: 1px solid #365760;
    position: fixed;
    bottom: 0;
    z-index: 999;
    height: 45px;
}
footer p{
    color:#fff;
    margin-top:0 !important;
}

span.copyrt, span.login-copyrt,.foot_lt p a {
    color:#fff;
    font-size:13px;
   }
span.login-copyrt {
    float:right;
}
span.copyrt {
    margin-left: 18%;
}
/*--lead creation page--*/
.state_field select {
    width: 100%;
    font-size: 13px;
    color: #000;
    border: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background: #edecec;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 7px 5px !important;
    text-transform: capitalize;
}
input.email_bg {
    width: 100%;
}
input#addressType1, input#addressType2, input.radio_space{
    margin-right: 5px;
}
.state_field {
    margin-top: 10px;
}
.sales_field {
    margin-top: 0;
}
.frm-group{
    margin-top: 25px;
    margin-bottom: 30px;
}
/*.Disposition_field {
    margin-right: -40px;
}*/
.origination_field {
    margin-top:20px;
}
.action_field {
    margin-top:40px;
}
.location_field, .cross_field {
    margin-top: 27px;
}
.lt-rt_margin {
    margin-right:0 !important;
    margin-left:0 !important;
}
label.comm_box {
    margin-left: 15px;
    font-weight: 100;
    font-size: 14px;
}
label.comm_lbox{
    font-weight: 100;
    font-size: 14px;
}
label#zipCodeLabel {
    text-align: right;
}
button.btn.btn-link.btn-sm {
    font-size: 12px;
    padding: 8px 20px;
    color: #fff;
    background: #69696d;
    border: none;
    border-radius: 6px;
    margin-left: 30px;
}
.leads_error{
    margin: -25px 0 0 0;
	padding-left: 0 !important;
}
.leads_error1 {
    margin:0;
	padding-left: 0 !important;
}
.leads_error2 {
    padding-left: 0 !important;
}
.custom-dropdown__select{
	font-size: inherit;
	padding:5px 12px; 
	margin: 0; 
}
.name_label {
    font-size: 13px;
    color: #555;
	margin:37px 0 0 0;
	text-align:right;
}
label.lead_bg {
    font-size: 12px;
    padding: 8px 20px;
    color: #fff;
    background: #69696d;
    border: none;
    border-radius: 6px;
}
.addres_label {
    font-size: 13px;
    color: #555;
	margin:8px 0 0 0;
	text-align: right;
}
.status_label {
    font-size: 13px;
    color: #555;
	margin:7px 0 0 0;
    padding: 0 0 0 25px !important;
}
.state_row {
    margin: 40px 0 0 0;
}
.dispos_grid {
    margin-top:26px;
    margin-left:5%;
}
.ldetslt_field{
    width:59%;
}
.ldetsrt_field{
	padding-right:0 !important;
    width:40%;
}
input.prefer_adres {
    margin-right: 5px;
}
.state_grid {
    padding-left: 30px;
}
label.custom-cbox1 {
    margin: 15px 0 0 0;
    font-size: 13px;
    display: block;
}
label.custom-mail {
    margin: 15px 0 0 30px;
    font-size: 13px;
    display: block;
}
button.add_but {
    font-size: 12px;
    padding: 8px 20px;
    color: #fff;
    background: #69696d;
    border: none;
    border-radius: 6px;
}
.text_label {
    font-size: 13px;
    color: #555;
	text-align: right;
}
.text_field {
    margin-left: 20px;
    font-size: 13px;
    color: #555;
}
button.add_contact:hover, button.add_contact:active, button.add_contact:focus{
	background:#3d7d8b;
    border:1px solid #3d7d8b !important;
}
.cancel_but {
    background: #3d7d8b;
    color: #fff;
    border: 1px solid #3d7d8b;
    font-size: 13px;
	margin-right: 20px;
	padding: 5px 20px;
}
.cancel_but:hover{
	background:#69696d;
    border-color:#69696d;
}
.col_6 {
    width: 45%;
    padding-right: 3%;
}
.lead_butns {
    float: right;
}
.lead_tbutns {
    margin-bottom:40px;
}
.country_list{
    padding-left: 0 !important;
}
.status_grid {
    padding-left:15px;
}
.leadgrid_box{
    margin: 0 !important;
    padding: 0 6%;
}

@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.custom-dropdown {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
       }
    .cust-drop{
		margin-left: 27px;
        width: 95% !important;
	}
    .excust-drop {
       margin-left: 30px;
       width: 94% !important;
    }
	.custom-dropdown__select {
		padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
		border: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;    
	}

	.custom-dropdown::before,
	.custom-dropdown::after {
		content: "";
		position: absolute;
		pointer-events: none;
	}

	.custom-dropdown::after { /*  Custom dropdown arrow */
    right:7px;
    top: 50%;
    margin-top: -10px;
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f107";
	}

	.custom-dropdown::before { /*  Custom dropdown arrow cover */
		width: 2em;
		right: 0; top: 0; bottom: 0;
		/*--border-radius: 0 3px 3px 0;--*/
	}

	.custom-dropdown__select[disabled] {
		color: rgba(0,0,0,.3);
	}

	.custom-dropdown.custom-dropdown--disabled::after {
		color: rgba(0,0,0,.1);
	}

	/* White dropdown style */
	.custom-dropdown--white::before {
		background-color:#69696d;
        border-top-right-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-bottom-right-radius: 4px;
        border:none !important;
	}

	.custom-dropdown--white::after {
		color:#fff;
	}

	/* FF only temp fix */
	@-moz-document url-prefix() {
		.custom-dropdown__select 			 { padding-right: .9em }
		.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
		.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
	}
}
.leadexpand_grid, .sub_expand4, .expand_infodetail, .expand_info2, .expand_info3 {
    background: #f7f7f7;
}
.leadexpand_grid{
    height:50px;
}
.sub_expand4, .expand_infodetail{
    height:100px;
}
.expand_info2, .expand_info3 {
    height:100%;
}
.sub_expandlead {
    height: 150px;
}
button.plus_but {
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: #000;
    padding:0;
}
/*--Lead listing page--*/
thead.lead_head {
    background: #92b8b9;
    color:#fff;
}
thead.lead_head th a thead.lead_head th{
   color:#fff;
}
.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #d8d8d8;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
    color: #000;
}
.popover-scrollable {
    max-height: 350px;
    overflow-y: auto;
}
.popover-content {
    padding: 9px 14px;
}
.dropdown-menu.dropdown-static{
    left: 0 !important;
}
.radio-inline, .checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}
.btn .badge {
   left: 0;
    background: #3f7b85;
    line-height: 16px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    top: -5px;
}
.btn-sm3 {
    border: none !important;
    font-size: 18px !important;
    color: #3f7b85 !important;
    padding: 0 !important;
    margin: 3px 0 0 0 !important;
    background: none !important;
    box-shadow: none !important;
	outline:none !important;
}
.lead_txt{
	color:#3f7b85;
	font-size: 14px;
}
.lead_txt1 a, a.lead_txt1{
	color:#000;
	font-size: 14px;
}
span.glyphicon.glyphicon-comment {
    font-size: 17px;
	margin: 3px 7px 0 0;
}
tr.item_rw.container-fluid {
    background:#eee;
}
.lead1{
    padding:0;
}
span.tab_plus {
    margin-right: 5px;
}
.leads_rbutns ul{
  list-style: none;
  margin-left: -18px;
  padding: 0;
  overflow: auto;
}
.leads_rbutns ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
}
.leads_rbutns ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.leads_rbutns ul li label{
  display: block;
    position: relative;
    font-weight: 300;
    font-size: 14px;
    padding:0 0 0 40px;
    margin:0px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    color: #000;
}

.leads_rbutns ul li:hover label{
	color:#425866;
}

.leads_rbutns ul li .check{
  display: block;
    position: absolute;
    border: 1px solid #425866;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top:2px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}


.leads_rbutns ul li .check::before {
  display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 13px;
    width: 13px;
    top: 0px;
    left: 0px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.leads_rbutns input[type=radio]:checked ~ .check {
  border: 1px solid #425866;
}

.leads_rbutns input[type=radio]:checked ~ .check::before{
  background: #425866;
}

.leads_rbutns input[type=radio]:checked ~ label{
  color: #425866;
}
button.btn_submit {
    background: #1d323b;
    color: #fff;
    margin-left: 10px;
    border-radius: 3px;
    border-color: #1d323b;
}
.section_search {
    position: relative;
    display: inline-flex;
    border-collapse: separate;
}
.btn.btn_ljobs:active, .btn.btn_ljobs:focus, .btn.btn_ljobs:visited, .btn.btn_ljobs:hover {
    border-radius: 0 !important;
	background-color:#d8d8d8 !important;
}
.btn.btn_ljobs {
    padding: 6px;
	margin:0px 6px 0;
}
.btn-ljobs1{
   border: none !important;
    font-size: 15px !important;
    color: #3f7b85 !important;
    padding: 0 !important;
    margin: -2px 0 0 6px!important;
    background: none !important;
    box-shadow: none !important;
	outline:none !important;
}
.lead_drop>.active>a, .lead_drop>.active>a:focus, .lead_drop>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #425866;
    outline: 0;
}
button.btn.btn-warning1 {
    background-color: #fff !important;
    color: #3f7b85 !important;
    border: 1px solid #3f7b85 !important;
}
/*--leads header--*/
input.email_bg {
    width: 100%;
}
label.comm_box {
    margin-left: 15px;
    font-weight: 100;
    font-size: 14px;
}
label.comm_lbox{
    font-weight: 100;
    font-size: 14px;
}
.frm_lead, .frm_lead1, .frm_controllead, .frm_controllead1, .frm_phone {
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
}
.frm_lead, .frm_lead1 {
    border: 1px solid #b2bfca;
    padding: 10px 12px !important;
    height: 35px !important;
    font-size: 13px;
    color: #000 !important;
    text-transform: capitalize;
	background:#edecec;
}
.frm_controllead, .frm_controllead1{
    border: 1px solid #b2bfca;
    padding: 10px 12px !important;
    height: 35px !important;
    font-size: 13px;
    color: #000 !important;
    text-transform: capitalize;
	background:#edecec;
    margin-left: 30px;
    width:94% !important;
}
.frm_phone{
     border: 1px solid #b2bfca;
    padding: 10px 12px !important;
    height: 35px !important;
    font-size: 13px;
    color: #999;
    text-transform: capitalize;
	background:#edecec;
    margin-left: 30px;
    width: 38.666667% !important;
}
.custom-dropdown__select{
	font-size: inherit;
	padding:5px 12px; 
	margin: 0; 
}
.radiobox-inline1{
    margin: 0 4.5% 3% 0;
    text-align: right;
}
.col_2 {
    margin: 5.5% 0 0 0;
}
span.req_desc1 {
    font-style: italic;
    font-size: 13px;
    color: #555;
}
.state_row {
    margin: 40px 0 0 0;
}
label.radio-prefer {
    font-weight: 100;
    font-size: 14px;
    margin-left: 20px;
    line-height: 40px;
    padding-right: 0 !important;
}
input.prefer_adres {
    margin-right: 5px;
}
.state_grid {
    padding-left: 30px;
}
button.add_but {
    font-size: 12px;
    padding: 8px 20px;
    color: #fff;
    background: #69696d;
    border: none;
    border-radius: 6px;
}
button.add_contact {
    background: #fff;
    color: #000;
    border: 1px solid #3f7b85;
    font-size: 13px;
	margin-right: 20px;
	padding: 5px 20px;
}
.col_6 {
    width: 45%;
    padding-right: 3%;
}
.country_list{
    padding-left: 0 !important;
}
.custom-cbox{
    padding-left: 0 !important;
}
.col_label {
    font-size: 13px;
    color: #555;
    text-align: right;
}
.valid_label {
    font-size: 13px;
    color: #555;
    margin: 10px 0 0 0;
    text-align: right;
}
label.resident_rbut {
    margin-right: 10px;
    font-weight: 100;
}
label.d_rcomm {
    font-weight: 100;
}
.form_box {
    margin-bottom: 25px;
}
.landing-wrap, ul.tabs.landing_tab, ul.tabs li{
    background: #3d7d8b !important;
}
ul.tabs.landing_tab li{
    width: 10.3333% !important;
}
ul.tabs li.activelead {
    background: #edecec !important;
	margin-top: 5px;
}
ul.tabs li.activelead h3{
	color:#000 !important;
}
i.fa.thumb_icon {
    margin-right: 10px;
}
ul.tabs li.activelead1 {
    background:red !important;
	margin-top: 5px;
}
ul.tabs1 li {
    margin: 0;
    cursor: pointer;
    padding:8px 10px;
    background-color: #ededed;
    color: #3d6473;
    overflow: inherit;
    position: relative;
    width:15.3333%;
    float: left;
    text-align: center;
}
.lead_stab {
    background: #ededed;
}
ul.tabs1 {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 50%;
}
ul.tabs1 li.activelead1 {
    color:#3d7d8b !important;
}
ul.tabs1 li.activelead1 h3 {
    color:#3d7d8b !important;
}
ul.tabs1 li h3 {
    color: #000;
    font-size: 14px;
    margin: 0;
}
ul.tabs1 li.activelead h3{
	color:#3d7d8b !important;
}
i.user_icon{
    display: block;
}
i.circle_icon {
    font-size: 22px;
    margin:5px 0 0 0;
}
ul.lead_ricons {
    margin: 10px 0 0 0;
    padding:0;
    list-style:none;
}
ul.lead_ricons li {
    float:left;
    margin-right:15px;
}
i.print_icon {
    font-size:20px;
    color:#555;
}
.print_icon {
    border: none;
    background: none;
    font-size: 20px;
    color: #555;
    outline:none !important;
    padding: 0;
}
/*----lead-main----*/
.lead_title{
	background:#d8d8d8;
}
.srch button{
    cursor: pointer;
    background: url('../images/search.png') no-repeat 26px 19px rgba(3, 182, 197, 0.68);
    width: 80px;
    height:66px;
    display: block;
    border: none;
    outline: none;
    position: absolute;
    top: 0px;
    left: 21%;
}
.table-search{
    float: right;
    background: #002561;
    width: 20%;
    height: 60px;
    padding: 15px 15px 69px 17px;
    border: 1px solid #C6CCD6;
    position: absolute;
    z-index:99999;
    top: 75px;
    left: 248px;
}
.table-search:after {
	content: '';
    position: absolute;
    left: 114px;
    top: -10px;
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-bottom: 12px solid #002561;
}
.table-search form{
	position:relative;
	background:#fff;
}
.table-search input[type="text"],.table-search input[type="submit"]{
	display:inline-block;
	border:none;
	color:#5d5d5d;
	outline:none;
	width:inherit;
	padding:inherit;
	font-size:14px;
	margin:inherit;
	-webkit-appearance: none;
	margin:0;
}
.table-search input[type="text"]{
	background:none;
	padding:10px;
	width:89%;
}
.table-search input[type="text"]:focus{
	color:#5d5d5d;
}
.table-search input[type="submit"]{
	position: absolute;
	top: 9px;
    right: 9px;
	background:url('../images/search2.png') no-repeat -0px -0px;
	height: 25px;
	width: 25px;
	cursor:pointer;
}
.close{
    color: #333;
    padding: 2px 3px 0px 0px;
    cursor: pointer;
    opacity: .9;
}
.close:hover {
    opacity: 0.8;
}

.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 0;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}
/*--- popup style ---*/
.popup_head {
    background:#3d7d8b !important;
    text-align:center;
}
.popup_head h4 {
    font-size:14px;
    color:#fff;
}
.popup_close, .popup_close:hover, .popup_close:focus {
    color:#fff;
}
.popup_label {
    font-size: 13px;
    color: #555;
    text-align: right;
    margin-top: 10px;
}
label.radio-popup {
    font-weight: 100;
    font-size: 14px;
    margin-left: 0;
    line-height: 40px;
}
input.radio_item{
    margin-right: 5px;
}
.popup_butns{
    float:right;
}
button.btn-cancel {
    background: #3d7d8b !important;
    color: #fff;
}
button.btn-cancel:hover{
    background:#69696d !important;
    color:#fff !important;
}
input.radio_tbox {
    margin-left:15px !important;
    width: 38.666667% !important;
}
.province_rt {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.postal_field {
    margin: -27px 0 0 0;
}
/*.modal-open .modal {
    overflow-y: -webkit-paged-x !important;
}*/
.lstatus_right {
    width: 48.333333% !important;
    margin-left: 10%;
    padding-left: 35px;
}
/*---- lead expand table style ----*/
thead.expand_lhead {
	background:#ccc;
	font-size: 14px;
	color:#000;
}
table.table-expand td a{
    font-size: 14px;
	color:#3f7b85;
}
table.table-expand td {
    font-size: 14px;
	color:#000;
}
/*--- lead detail ---*/
.text_detlabel{
    font-size: 13px;
    color: #555;
    text-align: right;
    padding:0 !important;
}
.chanel_detlabel{
    font-size: 13px;
    color: #555;
    text-align: right;
}
.resident_radio {
    margin: 0 0 1% 4.5%;
}
.ldetailtext_field {
    margin-left:10%;
    font-size: 13px;
    color: #555;
    width: 64% !important;
    font-weight:100;
}
.ldetail_phfield {
    margin-left:10%;
    width: 31.666667% !important;
}
label.lradio-prefer{
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    padding-right: 0 !important;
}
.text_detlabel1 {
    font-size: 13px;
    color: #555;
    padding: 0 !important;
}
.frm_lead, .frm_lead1 {
    border: 1px solid #b2bfca;
    padding: 10px 12px !important;
    height: 35px !important;
    font-size: 13px;
    color: #000 !important;
    text-transform: capitalize;
    background: #edecec;
}
.edit_textarea textarea {
    outline: none;
    background: #edecec;
    border: 1px solid #adadad;
    padding: 10px;
    font-size: 13px;
    color: #000;
    width: 100%;
    height: 80px;
    resize: none;
}
label.ldet_label{
    font-weight: 100;
}
.d_commercial {
    margin: 0 23% 3% 0;
    text-align: right;
}
.detail_clmn {
    margin-top: 4%;
}
img.home_icon {
    margin-right: 10px;
    vertical-align: bottom;
}
i.blub_icon {
    width: 26px;
    height: 24px;
    background: url(./images/Option-Area.png)no-repeat -194px 2px;
    display: block;
}
i.post_icon {
    width: 26px;
    height: 24px;
    background: url(./images/Option-Area.png)no-repeat -154px 2px;
    display: block;
}
i.print_icon1 {
    width: 26px;
    height: 24px;
    background: url(./images/Option-Area.png)no-repeat -114px 2px;
    display: block;
}
.service_icon, .note_icon, .sw_icon, .pad_icon {
    border: none;
    background: none;
    outline: none !important;
    padding: 0;
    width: 26px;
    height: 24px;
    display: block;
}
.service_icon {
    background: url(./images/Option-Area.png)no-repeat -114px 2px;
}
.note_icon {
    background: url(./images/Option-Area.png)no-repeat -74px 2px;
}
.sw_icon {
    background: url(./images/Option-Area.png)no-repeat -34px 2px;
}
.pad_icon {
    background: url(./images/Option-Area.png)no-repeat 6px 2px;
}



/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
	  opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition: opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition: opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:         
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24),
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 140px;
  background-color:#fff;
  color: #000;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
  border:1px solid #3d7d8b; 
  border-radius:20px;
  font-size:13px;
}

/* Directions */


/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -65px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  transform:         translateY(-12px); 
}



/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color:#3d7d8b;
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  transform:         translateY(12px); 
}



/*--Responsive design --*/
@media (max-width:1859px){
.left-content, .page-container.sidebar-collapsed-back .left-content  {
   width: 87.7%;
}
}
@media (max-width: 1820px){
.left-content, .page-container.sidebar-collapsed-back .left-content  {
    width: 87.5%;
}
}
@media (max-width: 1800px){
.left-content, .page-container.sidebar-collapsed-back .left-content  {
    width: 87%;
}
}
@media (max-width:1730px){
.left-content, .page-container.sidebar-collapsed-back .left-content  {
    width: 86%;
}
}
@media (max-width:1640px){
.left-content, .page-container.sidebar-collapsed-back .left-content  {
    width: 85%;
}
.resident_radio {
    margin: 0 0 1% 1%;
}
}
@media (max-width:1600px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
   width: 85.3%;
}
.page-container.sidebar-collapsed .left-content {
   width: 96%;
}
.status_label {
   padding: 0 !important;
}
.cust-drop {
   width: 93% !important;
}
.frm_controllead, .frm_controllead1 {
   width: 92% !important;
}
.radiobox-inline1 {
    margin: 0 5.5% 20px 0;
}
}
@media (max-width: 1540px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
   width: 85%;
}
}
@media (max-width:1494px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
   width: 84.5%;
}
.page-container.sidebar-collapsed .left-content {
   width: 95%;
}
.frm_phone {
   width: 34.666667% !important;
}
ul.tabs.landing_tab li {
   width: 12.3333% !important;
}
ul.tabs1 li {
   width: 18.3333%;
}
.resident_radio {
    margin: 0 0 1% 0%;
    font-size: 13px;
}
}
@media (max-width:1452px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
   width: 84%;
}
}
@media (max-width:1440px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
   width: 84%;
}
}
@media (max-width:1420px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
    width: 83.7%;
}	
.ldetslt_field {
    width: 58%;
}
}
@media (max-width:1390px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
    width: 83.5%;
}	
}
@media (max-width:1370px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
    width: 83%;
}	
}
@media (max-width:1366px) {
.login {
   height:635px;
}
.login_admin {
  margin: 1% auto auto auto;
}
}
@media (max-width:1340px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
   width: 82.6%;
}	
.addres_label, .valid_label, .name_label, .status_label, .text_label{
  padding: 0 !important;
}
.col_2 {
  width:47% !important;
}
}
@media (max-width:1300px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
   width: 82.2%;
}	
.ldetslt_field {
    width: 57%;
}
}
@media (max-width:1280px) {
    .left-content, .page-container.sidebar-collapsed-back .left-content {
        width: 82%;
    }

    ul.tabs1 {
        width: 55%;
    }

    button.add_contact, button.cancel_but {
       margin-right:5px;
       padding: 5px 12px;
    }
    label.lead_bg {
       padding: 8px 15px;
    }
}
@media (max-width:1250px) {
.left-content, .page-container.sidebar-collapsed-back .left-content {
    width: 81.6%;
}
}
@media (max-width:1225px) {
    .left-content, .page-container.sidebar-collapsed-back .left-content {
        width: 81.2%;
    }

    .page-container.sidebar-collapsed .left-content {
        width: 94%;
    }

    .col_1, .col_2 {
        width: 100% !important;
    }

    .status_label {
        text-align: right;
    }

    .leads_error2 {
        padding-left: 15px !important;
    }

    .frm_controllead, .frm_controllead1 {
        width: 95% !important;
    }

    .dispos_grid {
        margin-left: 7%;
    }

    .Disposition_field {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .radiobox-inline1 {
        margin: 0 4% 3% 0;
    }

    .ldetslt_field {
        width: 60%;
    }

    .resident_radio {
        margin: 0 0 1% 7%;
    }

    .d_commercial {
        margin: 0 25% 3% 0;
    }

    .leads_error, .leads_error1, .custom-cbox {
        padding-left: 15px !important;
    }

    .frm_phone {
       margin-left: 46px;
    }
}
@media (max-width:1195px) {
.left-content, .page-container.sidebar-collapsed-back .left-content {
     width: 80.8%;
}
.login_admin {
     width: 35%;
}
}
@media (max-width:1170px) {
.left-content, .page-container.sidebar-collapsed-back .left-content {
    width: 80.4%;
}
.resident_radio {
    margin: 0 0 1% 6%;
}
}
@media (max-width:1150px){
.sidebar-menu, .page-container.sidebar-collapsed-back .sidebar-menu {
   width: 210px;
}
.left-content, .page-container.sidebar-collapsed-back .left-content {
    width:81.3%;
}
}
@media (max-width:1120px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
   width: 81.3%;
}
ul.tabs.landing_tab li {
    width: 15.3333% !important;
}
ul.tabs1 {
    width: 63%;
}
.resident_radio {
    margin: 0 0 1% 5.5%;
}
}
@media (max-width:1116px) {
.resident_radio {
    margin: 0 0 1% 5%;
    width: 50%;
}
.d_commercial {
    margin: 0 0 1% 5%;
    width: 50%;
}
}
@media (max-width:1100px){

.left-content, .page-container.sidebar-collapsed-back .left-content {
    width: 80.9%;
}
}
@media (max-width:1075px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
    width: 80.5%;
}
.resident_radio {
    margin: 0 0 1% 3%;
}
}
@media (max-width:1050px){
.left-content, .page-container.sidebar-collapsed-back .left-content {
    width: 80%;
}
}
@media (max-width: 1345px){
ul.tabs_fs li {
    width: 15.3333% !important;
}
}
@media (max-width: 1250px){
ul.tabs_fs li {
    width: 13.3333% !important;
    padding: 15px 15px !important;
}
}
@media (max-width: 1234px) {
.pranchise_box {
    width: 24.333333%;
}
}
@media (max-width: 1199px) {
ul.tabs_fs {
   width: 72%;
}
ul.tabs_fs li {
   width: 16.3333% !important;
}
.login_admin {
     width: 40%;
}
}
@media (max-width: 1191px) {
.pranchise_box {
    width: 25.333333%;
}
}
@media (max-width: 1138px) {
.pranchise_box {
    width: 26.333333%;
}
}
@media (max-width: 1096px) {
.pranchise_box {
    width: 27.333333%;
}
}
@media (max-width: 1088px) {
ul.u_icons li.dropdown.note1 {
   margin-right: 5px;
}
}
@media (max-width: 1056px) {
.pranchise_box {
    width: 28.333333%;
}
}
@media (max-width: 1046px) {
p.u_desc {
    margin: 0;
}
}
@media (max-width: 1024px) {
    .login_admin {
        width: 40%;
    }
}
@media (max-width:1023px){
 .page-container {
  min-width:650px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
 }
 span.badge {
       left: 61px;
       top: 15px;
    }
 span.badge1 {
    left: 92px;
    top: 15px;
}
 .sidebar-menu {
  position: fixed;
  float: left;
  width: 170px;
 }
 span#logo h1 {
  font-size: 1.5em;
 }
 
 .sidebar-icon {
  font-size: 19px;
  padding: 6px 7px;
  margin-right: 16px;
 }
 
 
 .left-content {
  float: right;
     width: 94%;
 }
 .page-container.sidebar-collapsed {
  transition: all 100ms linear;
  transition-delay: 300ms;

 }
 .page-container.sidebar-collapsed .left-content {
      float: right;
    width: 82%;
 }
 .page-container.sidebar-collapsed-back {
  transition: all 100ms linear;
 }
 .page-container.sidebar-collapsed-back .left-content {
  transition: all 100ms linear;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: right;
  width: 94%;
 }
 .page-container.sidebar-collapsed .sidebar-menu {
   width:180px; 
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
 }
 .page-container.sidebar-collapsed-back .sidebar-menu {
  width: 65px;
  transition: all 100ms ease-in-out;
 }
 .page-container.sidebar-collapsed .sidebar-icon {
  transition: all 300ms ease-in-out;
  margin-right: 0.1em;
  color: #fff;
  border-radius: 0;
  transform: rotate(0deg);
 }
 .page-container.sidebar-collapsed-back .sidebar-icon {
  /*--transform: rotate(90deg);--*/
  transition: all 300ms ease-in-out;
  font-size: 19px;
  padding: 6px 7px;
 }
 .page-container.sidebar-collapsed .logo {
  padding: 10px 15px;
  height: 51px;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
 }
 span#logo h1 {
  font-size: 1.5em; 
  margin-top: -3px;
 }
 .logo {
     padding: 21px 0;
  height: 51px;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
 }
 span#logo {
  display: none;
 }
 .page-container.sidebar-collapsed-back span#logo {
  display:block;
 }
 .down {
   display:none;
 }
 .page-container.sidebar-collapsed-back .logo {
  width: 100%;
  padding: 10px 14px;
  height:50px;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
 }
    .page-container.sidebar-collapsed #logo {
       opacity: 0;
    transition: all 200ms ease-in-out;
       display:block;
    float:left;
 }
 .page-container.sidebar-collapsed .down {
    display:block;
   }
   .page-container.sidebar-collapsed #logo {
    opacity:1;
    transition: all 200ms ease-in-out;
    display:block;
   }
   .page-container.sidebar-collapsed-back #logo {
     opacity: 1;
     transition: all 200ms ease-in-out;
     transition-delay: 300ms;
     display:block;
   }
   .page-container.sidebar-collapsed-back span#logo{
     opacity: 1;
     transition: all 200ms linear;
     transition-delay: 300ms;
     display:none;
   }
   .page-container.sidebar-collapsed-back #menu span{
     display:none;
   }
   .page-container.sidebar-collapsed #menu span {
     display:block;
   }
   .page-container.sidebar-collapsed #menu span {
     opacity: 1;
     transition: all 50ms linear;
     display: inline-block;
     margin-left: 10px;
    }
    #menu span {
    opacity:0;
    transition: all 50ms linear;
    display: inline-block;
    margin-left: 10px;
   }
   span.fa.fa-angle-right,span.fa.fa-angle-double-right {
    float: right!important;
    position:absolute!important;
    right: 12px!important;
   }
            .sidebar-menu {
    width: 65px;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
   }
   .page-container.sidebar-collapsed.main-search {
   float: right;
   width: 35%;
   height: 60px;
   padding: 9px 10px 67px 10px;
   position: absolute;
   top: 75px;
   left: 75px;
   }
   .page-container.sidebar-collapsed-back.srch button {
   cursor: pointer;
   background: url('../images/search.png') no-repeat 19px 16px rgba(3, 182, 197, 0.68);
   width: 70px;
   height: 63px;
   display: block;
   border: none;
   outline: none;
   position: absolute;
   top: 0px;
   left: 12%;
  }
  /*.sidebar-menu {
          position:absolute;
   }*/
  .page-container.sidebar-collapsed .left-content .srch button {
  cursor: pointer;
  background: url('../images/search.png') no-repeat 25px 15px rgba(3, 182, 197, 0.68);
  width: 80px;
  height: 63px;
  display: block;
  border: none;
  outline: none;
  position: absolute;
  top: 0px;
  left: 32%;
 }
 
  .page-container.sidebar-collapsed .left-content .main-search {
  float: right;
  width: 35%;
  height: 60px;
  padding: 15px 15px 69px 17px;
  position: absolute;
  top: 75px;
  left: 198px;
 }
 
 ul.dropdown li a {
  padding: 6px 11px!important;
 }
 .basinfo_rt, .basinfo_lt {
    width: 100%;
}
.basinfo_rt {
    padding-left:15px;
 margin-top:30px;
}
.pranchise_box {
    width: 32.333333%;
}
.main-search3 {
   margin: 8px 2% 0 0;
}
.box_1 {
    background: #f7f7f7;
    margin: 53px 0 0 0;
}
section#gallery {
    min-height: 600px;
}
.resident_radio {
    margin: 0 0 1% 6%;
}
}
@media (max-width: 1020px) {
.pranchise_box {
    width: 29.333333%;
}
}
@media (max-width: 991px) {
ul.tabs_fs {
   width: 65%;
}
ul.tabs_fs li {
    width: 22.3333% !important;
    padding: 15px 10px !important;
}
 .login_admin {
        width: 50%;
    }
}
@media (max-width:916px) {
.pranchise_box {
    width: 30.333333%;
}
.resident_radio {
    margin: 0 0 1% 4%;
}
}
@media (max-width:886px) {
.pranchise_box {
    width: 31.333333%;
}
.resident_radio {
    margin: 0 0 1% 2%;
}
}
@media (max-width:859px) {
.pranchise_box {
    width: 32.333333%;
}
}
@media (max-width:833px) {
.pranchise_box {
    width: 33.333333%;
}
.crm-navbar .input-group {
    width: 180px;
}
}
@media (max-width:767px) {
.pranchise_box {
    width: 100%;
}
.crm-navbar .input-group {
    width: 80%;
}
.hd_logo {
    float: none;
    text-align: center;
}
.crm-navbar .navbar-brand img {
    width: 170px;
}
nav.navbar.navbar-default.crm-navbar {
    padding:10px;
}
.main-search4.input-group {
    width: 100% !important;
}
.navbar-default .navbar-brand {
   margin-bottom: 10px;
   float: none;
}
.header_check {
    float: right;
}
form.head_src {
    width: 80%;
}
.panel-footer {
    padding: 10px 0px;
}
.form-control-select {
    width: 25% !important;
}
ul.tabs_fs {
    width:98%;
}
ul.tabs_fs li {
    width: 33.3333% !important;
}
.frhs_det {
    padding-bottom: 10px;
}
.fran_tab1 {
    margin: 30px 0;
}
.basinfo_lt, .basinfo_rt{
    padding: 0;
}
.login_admin {
    width: 70%;
}
.frm_controllead, .frm_controllead1 {
    width: 100% !important;
    margin-left: 0;
}
.leads_error, .leads_error1, .custom-cbox {
    padding-left:0px !important;
}
}
@media (max-width:522px) {
ul.tabs_fs {
    width:97%;
}
.btn-sm2 {
   font-size: 13px;
   padding: 6px 10px;
}
ul.tabs_fs li {
   padding: 10px 10px !important;
}
}
@media (max-width:515px) {
form.head_src {
    width: 63%;
}
h3.royal_hd {
   margin: 0 !important;
}
.login_admin {
   width: 96%;
   padding:10px;
}
.login_admin img {
   width: 130px;
}
}
@media (max-width: 405px) {
.form-control-select {
   width: 25% !important;
   margin: 5px 0 0 0;
}
}








