﻿<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/listDocuments">General</a></li>
                        <li class="active"><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->
    <div class="tab_container">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li rel="tab5">
                    <a href="#!/vendors">
                        <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Vendors</h3>
                    </a>
                </li>
                <li rel="tab6">
                    <a href="#!/productSearch">
                        <h3><i class="far fa-dolly-flatbed-alt fa_icon vendor_icon"></i><br />Products/Services</h3>
                    </a>
                </li>
                <li rel="tab7" style="width: auto !important;">
                    <a href="#!/pricingSettings">
                        <h3><i class="far fa-usd-square fa_icon vendor_icon"></i><br />Pricing Management</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/procurement">
                        <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7">
                    <a href="#!/buyerremorse">
                        <h3><i class="fa fa-cogs fa_icon"></i><br />Sales Settings</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/TaxSettings">
                        <h3><i class="fas fa-landmark fa_icon"></i><br />Tax Settings</h3>
                    </a>
                </li>
            </ul>
            <div class="leaddetail_butns" ng-if="Permission.RemorseEdit">
                <div ng-if="editMode==false">
                    <button type="button" class="tooltip-bottom save_tpbut" data-tooltip="Edit" ng-click="EditRemorse()">
                        <i class="far fa-pen fa_icon"></i>
                    </button>
                </div>
                <div ng-if="editMode==true">
                    <button type="button" ng-click="onRemorseCancel()" data-tooltip="Cancel" class="tooltip-bottom cancel_tpbut" ng-disabled="IsBusy"> <i class="far fa-times-circle fa_icon"></i></button>
                    <button type="button" class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="saveRemorseValue()"><i class="far fa-check-circle fa_icon"></i></button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tab_container tpsearch_content">
            <div class="error error_msg" style="margin-top:30px;" ng-show="!(Permission.RemorseView)">
                You don't have permission to this page.
            </div>
            <div ng-if="Permission.RemorseView">
                <div class="p-3">
                    <div class="row">
                        <div class="col-sm-8 col-lg-8 col-xl-8 buyer_gridleft">
                            <h5 class="font-weight-bold"> Quote Expiration Settings <i ng-click="DisplayQuotePopup()" class="fas fa-info fa_icon"></i></h5>
                            <div class="row state_field my-4 mx-0">
                                <div class="col-sm-3 col-3 text_label text-left px-0">Quote is valid for</div>
                                <div class="col-sm-2 col-2">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="custom-dropdown__select custom-dropdown__select--white" id="VendorDrop" ng-model="Buyers.QuoteExpiryDays" ng-disabled="isDisabled">
                                            <option value="">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <!--<option value="3">Non-PIC enabled Alliance Vendor</option>-->
                                        </select>
                                    </span>
                                </div>
                                <div class="col-sm-7 col-7 text_label text-left">days from the date quote status is set to "Presented".</div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-xl-4"></div>
                    </div>

                    <div style="margin-top: 15px;margin-bottom: 15px; height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                        <span style="background-color:#f7f7f7; font-weight:bold; line-height:22px; position: relative; top: -11px;">
                        </span>
                    </div>
                </div>
                <div>
                    <div class="p-3">
                        <div class="row">
                            <div class="col-sm-8 col-lg-8 col-xl-8 buyer_gridleft">
                                <h5 class="mt-0 font-weight-bold"> Buyers Remorse Setting <i ng-click="DisplayPopup()" class="fas fa-info fa_icon" style="margin-left:5px;"></i></h5>
                                <div class="row state_field my-4 mx-0">
                                    <div class="col-sm-3 col-3 text_label text-left px-0">Hold Sales Order for</div>
                                    <div class="col-sm-2 col-2">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select class="custom-dropdown__select custom-dropdown__select--white" id="VendorDrop" ng-model="Buyers.BuyerremorseDay" ng-disabled="isDisabled">
                                                <option value="">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-sm-7 col-7 text_label text-left">days (from the date created) before releasing Sales Order to Master Purchase Order</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-xl-4"></div>
                        </div>

                        <div style="margin-top: 15px;margin-bottom: 15px; height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;" ng-show="AdminElectronicSign">
                            <span style="background-color:#f7f7f7; font-weight:bold; line-height:22px; position: relative; top: -11px;">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="p-3" ng-show="AdminElectronicSign">
                    <div class="row">
                        <div class="col-sm-8 col-lg-8 col-xl-8 buyer_gridleft">
                            <h5 class="font-weight-bold"> Capture Signature Setting </h5>
                            <div class="row state_field my-4 mx-0">
                                <div class="suspend_text mb-12">
                                    <input ng-model="Buyers.EnableElectronicSignFranchise" type="checkbox" class="option-input checkbox " value="" ng-disabled="isDisabled">
                                    <label class="ldet_label" style="font-size: 14px; color: #555;">Enable Capture of Electronic Signature</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-xl-4"></div>
                    </div>
                </div>
                <!---end inner tab-->
            </div>
        </div>
    </div>
    <div class="modal fade" id="Buyerremorseinfo" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Applying a "Buyer Remorse Setting"</h4>
                    <button type="button"
                            class="close popup_close"
                            ng-click="Cancel('Buyerremorseinfo')"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Display this div, when the mode is not Disply(otherwise add or edit) -->
                    <div class="text-center font-weight-bold">This setting will hold a sales order for a specified number of days before allowing a user to convert the sales order to a Master Purchase Order.</div>
                </div>
            </div>
        </div>
    </div>
</div>
