﻿<style>
    .activeLi {
        background-color: #3d6473 !important;
        color: #fff !important;
    }
    .btn.focus, .btn:focus {
        box-shadow: none !important;
    }

    ul.tabs1 li {
        padding: 9px 0 5px 0px;
    }

    ul.reportdrop_menu {
        width: 160px;
    }

        ul.reportdrop_menu li {
            padding: 9px 0 5px 0px !important;
            /*text-align: center !important;*/
        }

            ul.reportdrop_menu li a {
                padding: 2px !important;
                padding-left: 21px !important;
            }

    ul.tabs1.reports_hfcbtmnav {
        width: 90% !important;
    }

    .po-tab {
        padding: 17px 0px 5px 0px !important;
    }
    td.rightquote_table {
        border-left: 1px solid #000;
    }

    .quoteacount_expand {
        background: #ededed;
    }

    .k-grid-content.k-auto-scrollable {
        height: auto !important;
    }

    #gridVendorAcknowledgementView .k-grid-content.k-auto-scrollable {
        overflow-x: auto !important;
    }

    .table thead th {
        border-bottom: 1px solid #3c3838 !important;
        border-top: 1px solid #3c3838 !important;
    }
</style>

<div class="outter-wp">
    <div class="tab_container tp_content">
        <!--<div class="error error_msg" ng-show="!(Permission.VendorAcknowledgementDetails)" style="margin-top:30px;">
            You don't have permission to this page.
        </div>-->

        <div class="p-3">
            <!--ng-show="Permission.VendorAcknowledgementDetails">   -->
            <div class="lead_stab">
                <ul class="menu flex tabs1 reports_hfcbtmnav">
                    <li rel="tab7" class="po-tab">
                        <a href="#!/purchasemasterview/{{masterPO}}">
                            <h3>Purchase Order</h3>
                        </a>
                    </li>
                    <li rel="tab7" ng-if="MPORelatedIds.VendorAckIds.length>0">
                        <button type="button" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">PO Acknowledgement<span class="caret"></span></button>
                        <ul class="dropdown-menu reportdrop_menu" role="menu" id="submenu-dropdown">
                            <li ng-repeat="option in MPORelatedIds.VendorAckIds">
                                <a href="#!/vendorAck/{{option.PurchaseOrderId}}/{{option.vendorReference}}">
                                    {{option.vendorReference}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li rel="tab7" ng-if="MPORelatedIds.ShipmentIds.length>0">
                        <button type="button" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">Shipment Notice <span class="caret"></span></button>
                        <ul class="dropdown-menu reportdrop_menu" role="menu">
                            <li ng-repeat="option in MPORelatedIds.ShipmentIds">
                                <a href="#!/shipnotices/{{option.ShipNoticeId}}">
                                    {{option.ShipmentId}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li rel="tab7" ng-if="MPORelatedIds.VendorInvoiceIds.length>0">
                        <button type="button" class="cancel_but btn dropdown-toggle" data-toggle="dropdown">Vendor Invoice <span class="caret"></span></button>
                        <ul class="dropdown-menu reportdrop_menu" role="menu">
                            <li ng-repeat="option in MPORelatedIds.VendorInvoiceIds">
                                <a href="#!/vendorinvoice/{{option.InvoiceNumber}}">
                                    {{option.InvoiceNumber}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--<ul class="tabs1 landing_tab">
                    <li rel="tab7">
                        <a href="#!/purchasemasterview/{{masterPO}}">
                            <h3><i class="fal fa-envelope-open-dollar fa_icon"></i><br />Purchase Order</h3>
                        </a>
                    </li>
                    <li class="activelead1" rel="tab7">
                        <a href="#!/vendorAck/{{masterPO}}/{{vendorReference}}">
                            <h3><i class="fal fa-envelope-open-dollar fa_icon"></i><br />PO Acknowledgement</h3>
                        </a>
                    </li>
                </ul>-->
            </div>

            <div class="leadgrid_box">
                <div class="row">
                    <div class="col-md-4">
                        <div style="background-color: rgb(237, 237, 237) !important;">
                            <table class="table table-striped vendorinvoice_table" style="border:1px solid #000;">
                                <thead>
                                    <tr style="background:#d2d2d2;">
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Purchase Order #:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorAcknowledgementHeader.PONumber}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>PO Date:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorAcknowledgementHeader.PODate|GlobalTime:'shortDate'}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ack Date:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorAcknowledgementHeader.AckDate|GlobalTime:'shortDate'}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sold To:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorAcknowledgementHeader.SoldTo}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Ship To:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorAcknowledgementHeader.ShipTo}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="background-color: rgb(237, 237, 237) !important;">
                            <table class="table table-striped vendorinvoice_table" style="border:1px solid #000; margin-bottom:10px;">
                                <thead>
                                    <tr style="background:#d2d2d2;">
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Ack Status:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorAcknowledgementHeader.AckStatus}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Vendor Ref #:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorAcknowledgementHeader.VendorRef}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Est. Ship Date:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorAcknowledgementHeader.EstShipDate|GlobalTime:'shortDate'}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <label class="ldet_label mb-1" style="display:block;font-size: 0.9em;">Vendor Msg:</label>
                        <textarea value="{{VendorAcknowledgementHeader.VendorNote}}" readonly></textarea>
                    </div>
                    <div class="col-md-2">
                        <div style="background-color: rgb(237, 237, 237) !important;">
                            <table class="table table-striped vendorinvoice_table" style="border:1px solid #000;">
                                <thead>
                                    <tr style="background:#d2d2d2;">
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Currency:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorAcknowledgementHeader.Currency}}</label>
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td>Tax Info:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorAcknowledgementHeader.TaxInfo}}</label></td>
                                    </tr>-->
                                    <tr>
                                        <td>Terms:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorAcknowledgementHeader.Terms}}</label></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div style="background-color: rgb(237, 237, 237) !important;">
                            <table class="table table-striped vendorinvoice_table" style="border:1px solid #000;">
                                <thead>
                                    <tr style="background:#d2d2d2;">
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Total Lines:</td>
                                        <td class="rightquote_table"><label class="ldet_label">{{VendorAcknowledgementHeader.TotalLines}}</label></td>
                                    </tr>
                                    <tr>
                                        <td>Total QTY:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorAcknowledgementHeader.TotalQTY}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total Cost:</td>
                                        <td class="rightquote_table">
                                            <label class="ldet_label">{{VendorAcknowledgementHeader.TotalCost}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="leadgrid_box row">
                    <kendo-tooltip options="tooltipOptions">

                        <kendo-grid id="gridVendorAcknowledgementView"
                                    options="VendorAcknowledgementView"
                                    style="margin-bottom:40px !important;"
                                    tooltip-options="tooltipOptions">
                        </kendo-grid>
                    </kendo-tooltip>
                </div>
            </div>
        </div>
    </div>
</div>
