﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
    .errortext, .errorTP {
        color: red !important;
    }
    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }
    /*added form wrap thead text*/
    #gridCommunicationLog.noscroll-grid .k-grid-content tr td {
        white-space: normal !important;
        text-overflow: unset !important;
        overflow: hidden !important;
    }
</style>

<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>
<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li rel="tab6">
                <a href="#!/Accounts/{{cmctnCtrl.accountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
            </li>
            <li rel="tab7" ng-show="BrandId!=3">
                <a href="#!/measurementDetails/{{cmctnCtrl.accountId}}">
                    <h3><i class="measurement_icon"></i><br />Measurements</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/accountopportunitySearch/{{cmctnCtrl.accountId}}">
                    <h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/accountordersSearch/{{cmctnCtrl.accountId}}">
                    <h3><i class="order_icon"></i><br />Orders</h3>
                </a>
            </li>

            <li rel="tab7">
                <a href="#!/accountPaymentSearch/{{cmctnCtrl.accountId}}">
                    <h3><i class="payment_icon"></i><br />Payments</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/accountAppointments/{{cmctnCtrl.accountId}}">
                    <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                </a>
            </li>
            <!--<li rel="tab7">
                <a href="#!/accountCommunication/{{cmctnCtrl.accountId}}">
                    <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                </a>
            </li>-->
            <li rel="tab7" class="activelead1">
                <a href="#!/accountCommunicationLog/{{cmctnCtrl.accountId}}">
                    <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns">
            <button ng-if="Permission.AddAccount" type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="New Account" ng-disabled="IsBusy" ng-click="CreateNewAccount()"><i class="far fa-plus-square fa_icon"></i></button>
            <button ng-if="Permission.AccountEdit" type="button" class="tooltip-bottom save_tpbut" data-tooltip="Edit Account" ng-disabled="IsBusy" ng-click="EditAccount(cmctnCtrl.accountId)"><i class="far fa-pen fa_icon"></i></button>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tp_content">
        <!--<div class="error">
            You don't have permission to this page.
        </div>-->
        <!--<div>
            <button type="button" ng-click="cmctnCtrl.testPublish()" >Test publish</button>
        </div>-->
        <div class="error" ng-show="!(Permission.ListCommunicationAccount)">
            You don't have permission to this page.
        </div>
        <div class="appointment" ng-if="Permission.ListCommunicationAccount">
            <div class="p-3">
                <div class="mb-2">
                    <div ng-show="!cmctnCtrl.Account.IsCommercial">
                        <label class="ldet_label"><strong>Account Name : </strong> <a href="#!/Accounts/{{cmctnCtrl.accountId}}" style="color: rgb(61,125,139);">{{cmctnCtrl.Account.PrimCustomer.FirstName}}&nbsp;{{cmctnCtrl.Account.PrimCustomer.LastName}} <span ng-show="!cmctnCtrl.Account.PrimCustomer.CompanyName==''">{{"/"}}</span> {{cmctnCtrl.Account.PrimCustomer.CompanyName}}</a></label>
                    </div>
                    <div ng-show="cmctnCtrl.Account.IsCommercial">
                        <label class="ldet_label"><strong>Account Name : </strong> <a href="#!/Accounts/{{cmctnCtrl.accountId}}" style="color: rgb(61,125,139);">{{cmctnCtrl.Account.PrimCustomer.CompanyName+" / "}}{{cmctnCtrl.Account.PrimCustomer.FirstName}}&nbsp;{{cmctnCtrl.Account.PrimCustomer.LastName}}</a></label>
                    </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-sm-11 col-xs-11 procurement_tooltip row no-margin p-0">
                            <div class="col-sm-2 col-xs-5-cols no-padding">
                                <div class="float-left tooltip-bottom">
                                    <input type="checkbox" id="Check1" class="option-input checkbox mr-0" ng-click="FilterBySelectedLog()">
                                    <label class="ldet_label font-weight-bold">Email</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-5-cols no-padding">
                                <div class="float-left tooltip-bottom">
                                    <input type="checkbox" id="Check2" class="option-input checkbox mr-0" ng-click="FilterBySelectedLog()">
                                    <label class="ldet_label font-weight-bold">Text</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-5-cols no-padding">
                                <div class="float-left tooltip-bottom">
                                    <input type="checkbox" id="Check3" class="option-input checkbox mr-0" ng-click="FilterBySelectedLog()">
                                    <label class="ldet_label font-weight-bold">Phone</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-5-cols no-padding">
                                <div class="float-left tooltip-bottom">
                                    <input type="checkbox" id="Check4" class="option-input checkbox mr-0" ng-click="FilterBySelectedLog()">
                                    <label class="ldet_label font-weight-bold">Virtual Meeting</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-5-cols no-padding">
                                <div class="float-left tooltip-bottom">
                                    <input type="checkbox" id="Check5" class="option-input checkbox mr-0" ng-click="FilterBySelectedLog()">
                                    <label class="ldet_label font-weight-bold">Mail</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            <button class="tooltip-bottom cancel_tpbut float-right" data-tooltip="Add Communication Record" ng-click="AddCommunicationLog()"><i class="far fa-plus-square fa_icon"></i></button>
                        </div>
                    </div>
                    <div class="mt-3">
                        <!--<hfc-communication-list account-id="{{cmctnCtrl.accountId}}"  read-only="{{Permission.AccountEdit}}" notify-email="cmctnCtrl.Account.IsNotifyemails" notify-text="cmctnCtrl.Account.IsNotifyText" associated-with="Account"></hfc-communication-list>-->
                        <kendo-grid id="gridCommunicationLog" class="noscroll-grid" options="AccountCommunication_log" style="margin-bottom:40px !important;"></kendo-grid>
                    </div>
                </div>
            </div>
    </div>
    <!--<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
    <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
    <hfc-note-modal></hfc-note-modal>
    <hfc-fileprint-modal modal-id="fileprint" lead-id="{{cmctnCtrl.accountId}}"></hfc-fileprint-modal>

    <!--Code for confirmation before sending e-mail to respective E-mail id-->
    <div class="modal fade" id="Show_ReSentEmailData" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">View Email Details</h4>
                    <button type="button" class="close popup_close" ng-click="Close_ReSentEmailData()" aria-hidden="true">&times;</button>
                </div>

                <form role="form">
                    <div class="modal-body">
                        <div class="row">
                            <lalbel>This email will be re-sent to this email address: {{ShowEmail.Recipients}}</lalbel>
                            <!--<label>To:</label><label> {{showdata.Recipients}} </label>-->

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">

                            <button type="submit" ng-click="Close_ReSentEmailData()" class="btn btn-cancel">Cancel</button>
                        </div>
                        <div class="popup_butns">
                            <button type="submit" ng-click="ReSentEmailData(ShowEmail.SentEmailId)" class="btn btn-cancel">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End -->
    <!-- Code for Add Communicationlog-->
    <hfc-communication-list account-id="{{cmctnCtrl.accountId}}" read-only="{{Permission.AccountEdit}}" notify-email="cmctnCtrl.Account.IsNotifyemails" notify-text="cmctnCtrl.Account.IsNotifyText" associated-with="Account"></hfc-communication-list>
    <!-- End -->
    <!--Tpt E-mail pop-up-->
    <div class="modal fade" id="Show_EmailSentData" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">View Email Details</h4>
                    <button type="button" class="close popup_close" ng-click="ClosePop_up()" aria-hidden="true">&times;</button>
                </div>

                <form role="form">
                    <div class="modal-body">
                        <div class="row email_navbg mx-3">
                            <div class="col-md-3">Subject:</div>
                            <div class="col-md-9">{{showdata.Subject}}</div>

                            <div class="col-md-3">Status:</div>
                            <div class="col-md-9">Sent</div>

                            <div class="col-md-3">Date Sent:</div>
                            <div class="col-md-9">{{showdata.SentAt|GlobalTime: 'shortDate' }}</div>

                            <div class="col-md-3">To:</div>
                            <div class="col-md-9">{{showdata.Recipients}}</div>

                            <div class="col-md-3">Bcc:</div>
                            <div class="col-md-9">{{showdata.BCCAddress}}</div>

                            <div class="col-md-3">Cc:</div>
                            <div class="col-md-9">{{showdata.CCAddress}}</div>

                            <div class="col-md-3" style="margin-left:1px">Body:</div>
                            <div class="col-md-3"></div>

                            <div class="col-md-12" ng-bind-html="trustAsHtml(showdata.Body)"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" ng-click="ClosePop_up()" class="btn btn-cancel">Cancel</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end-->
    <!--tpt message pop-up-->
    <div class="modal fade" id="Show_TextingData" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">View Message Details</h4>
                    <button type="button" class="close popup_close" ng-click="ClosePop_up_Texting()" aria-hidden="true">&times;</button>
                </div>
                <form role="form">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">Subject:</div>
                            <div class="col-md-9">{{showdata.Subject}}</div>

                            <div class="col-md-3">Status:</div>
                            <div class="col-md-9">{{showdata.StatusText}}</div>

                            <div class="col-md-3">Date Sent:</div>
                            <div class="col-md-9">{{showdata.SentAt |GlobalTime: 'shortDate' }}</div>

                            <div class="col-md-3">To:</div>
                            <div class="col-md-9">{{showdata.CellPhone  | mask: '(999) 999-9999'}}</div>

                            <div class="col-md-3">Body:</div>
                            <div class="col-md-9">{{showdata.Body}}</div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" ng-click="ClosePop_up_Texting()" class="btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end-->
    <!--tpt added data pop-up-->
    <div class="modal fade" id="Show_AddedData" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">View Message Details</h4>
                    <button type="button" class="close popup_close" ng-click="ClosePop_up_Added()" aria-hidden="true">&times;</button>
                </div>
                <form role="form">
                    <div class="modal-body">
                        <div class="row">
                            <!--<div class="col-md-3">Subject:</div>
                            <div class="col-md-9">{{showdata.Subject}}</div>-->
                            <!--<div class="col-md-3">Status:</div>
                            <div class="col-md-9">{{showdata.StatusText}}</div>-->

                            <div class="col-md-3">Date Sent:</div>
                            <div class="col-md-9">{{showdata.SentDate |GlobalTime: 'shortDate' }}</div>

                            <div class="col-md-3">UserName:</div>
                            <div class="col-md-9">{{showdata.UserName}}</div>

                            <div class="col-md-3">Description:</div>
                            <div class="col-md-9">{{showdata.Description}}</div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" ng-click="ClosePop_up_Added()" class="btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end-->
</div>



