﻿<!--TODO this should be define in Layout page-->
<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>

<div class="outter-wp">
    
    <!--{{Account}}-->
    <div class="tab_container">
       
        <div id="tab2" class="tab_content">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li class="activelead1" rel="tab6"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></li>
                </ul>
                <div class="leaddetail_butns">
                    <button ng-if="Account.AccountId && Permission.AddAccount" type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="cancelAccountEdit()"><i class="far fa-times-circle fa_icon"></i></button>
                    <button ng-if="Permission.AddAccount" type="button" class="tooltip-bottom cancel_tpbut" data-tooltip="Save" ng-disabled="IsBusy" ng-mousedown="onMouseDownAccount(3)" ng-click="setAccountAction(3)"><i class="far fa-check-circle fa_icon"></i></button>
                    <!--<button type="button" class="tooltip-bottom save_tpbut" data-tooltip="Qualify" ng-show="Account.AccountTypeId!=2 && Permission.AccountQualify" ng-click="ShowAccountQualify(Account.AccountId)"><i class="leadqualify_icon"></i></button>-->
                </div>
                <div class="clearfix"> </div>
            </div>

            <div class="tab_container tp_content">
               
                <div id="tab6" class="tab_content1">
                    <div class="error" ng-show="!(Permission.AccountEdit)">
                        You don't have permission to this page.
                    </div>
                    <div class="panel-body">
                        <form id="crm-lead-detail" name="frm_accnt"  ng-show="Permission.AccountEdit" unsaved-warning-form >
                            <div class="lead_rtop row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                    <fieldset ng-disabled="Account.AccountStatusId==2 || Account.AccountStatusId==3">
                                        <div class="source-group row" ng-class="{true: 'has-error'}[Accntsubmit && frm_accnt.accnt_fname.$invalid]">
                                            <label class="col-sm-3 col-xs-3 required_label">First Name</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <input type="text"
                                                       name="accnt_fname" ng-model="Account.PrimCustomer.FirstName"
                                                       class="form-control frm_controllead1 required_field" placeholder="" required maxlength="50" />
                                                <!--<div ng-show="firstNameIsNotValid" ng-cloak="" class="text text-danger">Required</div>-->

                                            </div>
                                        </div>

                                        <div class="source-group row" ng-class="{true: 'has-error'}[Accntsubmit && frm_accnt.accnt_lname.$invalid]">
                                            <label class="col-sm-3 col-xs-3 required_label">Last Name</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <!-- <input type="name" class="form-control frm_lead" placeholder="Name" maxlength="20">-->
                                                <input type="text" name="accnt_lname"
                                                       ng-model="Account.PrimCustomer.LastName"
                                                       class="form-control frm_controllead1 required_field" placeholder="" required maxlength="50" />
                                                <!--<div ng-show="lastNameIsNotValid" ng-cloak="" class="text text-danger">Required</div>-->

                                            </div>
                                        </div>

                                        <div class="form-phone_group row lt-rt_margin">
                                            <label class="col-sm-3 col-xs-3 required_label"></label>
                                            <div class="col-sm-9 col-xs-9">
                                                <label class="receive_mail">
                                                    <input type="checkbox" class="option-input checkbox" ng-model="Account.IsBusiness" ng-checked='Account.IsBusiness'>
                                                    Business Address
                                                </label>
                                            </div>
                                        </div>

                                        <!-- address component -->
                                        <div class="source-group row">
                                            <hfc-addresstp address-model="Account.Addresses[0]" parent-form-submit-status="Accntsubmit"></hfc-addresstp>
                                        </div>

                                        <div class="source-group row">
                                            <label class="col-sm-3 col-xs-3 text_detlabel">Address Validated?</label>
                                            <div class="col-xs-9">
                                                <label class="ldet_label" style="text-transform:capitalize;">{{Account.Addresses[0].IsValidated}}</label>
                                            </div>
                                        </div>

                                        <!--<div class="source-group row">
                        <label class="col-sm-3 col-xs-3 required_label">Location Info</label>
                        <div class="col-sm-9 col-xs-9">

                            <input type="text" placeholder="" ng-model="Account.Addresses[0].Location" maxlength="20" class="frm_controllead1" />
                        </div>
                    </div>-->
                                        <div class="form-phone_group row lt-rt_margin">
                                            <label class="col-sm-3 col-xs-3 required_label">Cell Phone</label>
                                            <div class="col-sm-9 col-xs-9 row phone_field">
                                                <div class="col-sm-7 col-xs-7" style="padding:0 !important;">
                                                    <input class="pno_textbox col-sm-7 col-xs-7"
                                                           type="text"
                                                           id="cellPhone"
                                                           name="cellPhone"
                                                           ng-model="Account.PrimCustomer.CellPhone"
                                                           ui-options="{clearOnBlur:false}"
                                                           ui-mask-placeholder
                                                           ui-mask-placeholder-char="_"
                                                           ui-mask="(999) 999-9999"
                                                           ng-blur="CheckDuplicates('cellPhone', $event)" />
                                                    <label class="radio-prefer col-sm-5 col-xs-5" style="margin-left:0 !important;">
                                                        <input type="radio" class="option-input radio radio_space"
                                                               name="preferredTFNC" ng-model="Account.PrimCustomer.PreferredTFN"
                                                               value="C" title="Preferred contact number" />Preferred
                                                    </label>

                                                    <div ng-if="frm_accnt.cellPhone.$dirty" ng-messages="frm_accnt.cellPhone.$error" style="color:red">
                                                        <p ng-message="mask" style="margin:0 !important; font-size: 13px;">Cell Phone number should be 10 digits.</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 col-xs-5" style="padding:0 !important;"> </div>
                                            </div>
                                        </div>

                                        <div class="form-phone_group row lt-rt_margin" ng-class="{true: 'has-error'}[Accntsubmit && frm_accnt.homePhone.$invalid]">
                                            <label class="col-sm-3 col-xs-3 required_label">Home Phone</label>
                                            <div class="col-sm-9 col-xs-9 row phone_field">
                                                <div class="col-sm-7 col-xs-7" style="padding:0 !important;">
                                                    <input class="col-sm-7 col-xs-7 pno_textbox"
                                                           type="text"
                                                           id="homePhone"
                                                           name="homePhone"
                                                           ng-model="Account.PrimCustomer.HomePhone"
                                                           ng-required="false"
                                                           ui-options="{clearOnBlur:false}"
                                                           ui-mask-placeholder
                                                           ui-mask-placeholder-char="_"
                                                           ui-mask="(999) 999-9999"
                                                           ng-blur="CheckDuplicates('homePhone', $event)"
                                                           required />
                                                    <label class="radio-prefer col-sm-5 col-xs-5" style="margin-left:0 !important;">
                                                        <input type="radio" class="option-input radio radio_space" name="preferredTFNH"
                                                               value="H" ng-model="Account.PrimCustomer.PreferredTFN"
                                                               title="Preferred contact number" />Preferred
                                                    </label>
                                                    <div ng-if="frm_accnt.homePhone.$dirty" ng-messages="frm_accnt.homePhone.$error" style="color:red">
                                                        <p ng-message="mask" style="margin:0 !important; font-size: 13px;">Phone number should be 10 digits.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-5" style="padding:0 !important;"> </div>
                                        </div>

                                        <div class="form-phone_group row lt-rt_margin">
                                            <label class="col-sm-3 col-xs-3 required_label">Email</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <input type="email" name="accnt_email" class="frm_controllead1" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" id="LeadPrimCustomerPrimaryEmail" ng-model="Account.PrimCustomer.PrimaryEmail" placeholder="" maxlength="256" ng-blur="CheckDuplicates('PrimaryEmail')" />
                                                <div ng-messages="frm_accnt.accnt_email.$error" style="color:red">
                                                    <div ng-message="pattern">Please enter a valid email address!</div>
                                                </div>
                                                <label class="custom-mail">
                                                    <!--<input type="checkbox" class="option-input checkbox" ng-model="Account.PrimCustomer.Unsubscribed">-->
                                                    <input type="checkbox" class="option-input checkbox" ng-model="Account.PrimCustomer.IsReceiveEmails" ng-checked='Account.PrimCustomer.IsReceiveEmails'>

                                                    Receive Promotion Emails
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_2">
                                    <div class="row state_field territory_group">
                                        <div class="col-sm-6 col-xs-6"
                                             ng-class="{true: 'has-error'}[ Accntsubmit && frm_accnt.status.$modelValue== null]">
                                            <div class="row lt-rt_margin">
                                                <label class="col-sm-5 col-xs-5 required_label">Account Status</label>
                                                <div class="col-sm-7 col-xs-7">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        

                                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                name="status"
                                                                ng-class="{true: 'errorTP'}[frm_accnt.status.$invalid || Account.AccountStatusId==0]"
                                                                ng-model="Account.AccountStatusId" ng-change="ChangeLeadStatus()"
                                                                ng-options="option.AccountStatusId as option.Name  for option in AccountStatuseslist"
                                                                ng-required="true"></select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-xs-6 lead_disposition" ng-show="LeadAccountService.AccountDispositionlist.length < -1">
                                            <div class="row lt-rt_margin" ng-show="LeadAccountService.AccountDispositionlist.length > 0">
                                                <label class="col-sm-5 col-xs-5 required_label">Disposition</label>
                                                <div class="col-sm-7 col-xs-7">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                ng-model="Account.DispositionId"
                                                                ng-options='option.DispositionId as (option.Name) for option in LeadAccountService.AccountDispositionlist'>
                                                            <option ng-value="0">select</option>
                                                        </select>

                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <fieldset ng-disabled="Account.AccountStatusId==2 || Account.AccountStatusId==3">
                                        <div class="source-group row state_field">
                                            <label class="col-sm-3 col-xs-3 required_label">Campaign</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                                            ng-model="Account.CampaignId"
                                                            ng-change="ChangeCampaign1()"
                                                            ng-options="option.CampaignId as (option.Name) for option in AccountCampaignslist ">
                                                        <option value="">select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row state_field territory_group" ng-show="Account.AccountTypeId != 2">
                                            <div class="col-sm-6 col-xs-6">
                                                <div class="row lt-rt_margin" ng-show="AccountChannelList.length > 0">
                                                    <label class="col-sm-5 col-xs-5 text_detlabel">Channel</label>
                                                    <div class="col-sm-7 col-xs-7">
                                                        <label class="ng-binding ldet_label">{{AccountChannelList[0].ChannelName}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<start source>-->
                                       

                                        <div class="source-group row state_field"
                                             ng-class="{true: 'has-error'}[Accntsubmit &&(frm_accnt.user_source.$modelValue == null || frm_accnt.user_source.$modelValue.SourcesTPId=='' )]" ng-show="Account.AccountTypeId != 2">
                                            <label class="col-sm-3 col-xs-3 required_label">Source</label>
                                            
                                            <div class="col-sm-9 col-xs-9" ng-hide="!Account.AllowFranchisetoReassign">
                                                    <span class="custom-dropdown custom-dropdown--white" ng-class="{true: 'k-combobox required'}">
                                                        <select id="RelatedSource"
                                                                ng-class="{true: 'errorTP'}[frm_accnt.user_source.$invalid || Account.SourcesTPId==0]"
                                                                name="RelatedSource"
                                                                k-on-change="ChangeSource()"
                                                                kendo-multi-select
                                                                data-max-selected-items="1"
                                                                k-options="RelatedSource"
                                                                k-ng-model="Account.SourcesTPId"
                                                                class="custom-dropdown__select custom-dropdown__select--white required_field">

                                                        </select>
                                                    </span>
                                            </div>

                                            
                                                <!--<p ng-if="Accntsubmit || frm_accnt.accntedit_source.$invalid && !frm_accnt.accntedit_source.$pristine" style="color:red">Select a Source</p>-->
                                            <!--</div>-->
                                            <div class="col-sm-9 col-xs-9" ng-show="!Account.AllowFranchisetoReassign">
                                                <label class="ng-binding constant_label">{{AccountChannelList[0].name}}</label>
                                            </div>
                                        </div>
                                        <!--<end source>-->
                                        <div class="row state_field lt-rt_margin">
                                            <label class="col-sm-3 col-xs-3 text_detlabel">Lead Type</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <label class="ng-binding ldet_label">{{Account.LeadType}}</label>
                                            </div>
                                        </div>
                                        <div style="margin:30px 20px;height:1px; background-color: gray; text-align:left; line-height: 16px;">
                                            <span style="background-color:#f7f7f7; font-weight:bold; position:relative; top: -9px;" ng-click="DisplayMore = !DisplayMore">
                                                &nbsp;&nbsp;&nbsp;&nbsp;Referral / Relationship Information:&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </div>

                                        <div class="source-group row state_field">
                                            <label class="col-sm-3 col-xs-3 required_label">Referral Type</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            ng-model="Account.ReferralTypeId"
                                                            ng-options="option.Id as (option.Name) for option in referralTypeList">
                                                        <option value="">Select</option>
                                                    </select>
                                                </span>

                                            </div>


                                        </div>

                                        <div class="source-group row">
                                            <label class="col-sm-3 col-xs-3 required_label">Related Account</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <select id="RelatedAccounts"
                                                        name="RelatedAccounts"
                                                        kendo-multi-select
                                                        ng-disabled="Account.AccountStatusId==2 || Account.AccountStatusId==3"
                                                        data-max-selected-items="1"
                                                        k-options="RelatedAccounts"
                                                        k-ng-model="SelectedRelatedAccountIds"></select>
                                            </div>
                                        </div>

                                        <div class="source-group row">
                                            <label class="col-sm-3 col-xs-3 required_label">Name</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <input type="text" placeholder="" maxlength="50" ng-model="Account.AccountName"
                                                       class="frm_controllead1" />
                                            </div>
                                        </div>

                                    </fieldset>

                                </div>

                            </div>

                            <!--show more-->
                            <fieldset ng-disabled="Account.AccountStatusId==2 || Account.AccountStatusId==3">


                                <!--<div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left;padding-left:35px; line-height: 16px;">
                <span style="background-color:#f7f7f7; font-weight:bold; line-height:22px; cursor: pointer; position: relative; top: -11px;" ng-click="DisplayMore = !DisplayMore">
                    &nbsp;&nbsp;&nbsp;&nbsp;Click to See More Information&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </div>-->
                                <ul kendo-panel-bar id="panelbar">
                                    <li id="accounteditlistPanel">
                                        <span style="font-weight:bold;">Click to See More Information</span>
                                        <div class="kendo_panel row">
                                            <div class="col-sm-6 col_1">
                                                <div class="source-group row state_field"
                                                     ng-class="{true: 'has-error'}[Accntsubmit && (frm_accnt.acct_type.$modelValue =='' || frm_accnt.acct_type.$modelValue ==null)]">
                                                    <label class="col-sm-3 col-xs-3 text_detlabel">Account Type</label>
                                                    <div class="col-sm-3 col-xs-3">
                                                        <label class="ldet_label">{{AccountTypeName[0].name}}</label>

                                                    </div>
                                                 
                                                    <div class="col-sm-6 col-xs-6 no-padding" ng-show="Account.AccountTypeId == 2">
                                                        <div class="account-rgroup acountedit_rfield">
                                                            <label class="relation_field">Relationship Type</label>
                                                            <label class="resident_lmargin"><input type="radio" class="option-input radio" style="margin-right:5px;" id="relationType1" name="relationType1" ng-model="Account.selectedRelationShipType" value="IsPerpetual">Perpetual</label>
                                                            <label><input type="radio" class="option-input radio" style="margin-right:5px;" id="relationType2" name="relationType1" ng-model="Account.selectedRelationShipType" value="Onetime">One-time</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-xs-3 required_label">Company Name</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <input type="text" data-bind="value: CompanyName" ng-model="Account.PrimCustomer.CompanyName" class="frm_controllead1" placeholder="" maxlength="256" />
                                                    </div>
                                                </div>

                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-xs-3 required_label">Tax Exempt?</label>
                                                    <div class="col-sm-1 col-xs-1">
                                                        <input type="checkbox" class="option-input checkbox" ng-model="Account.IsTaxExempt" ng-checked='Account.IsTaxExempt' ng-click="clearTaxExempt()">
                                                    </div>
                                                    <div class="col-sm-8 col-xs-8 no-padding">

                                                        <label class="col-sm-5 col-xs-5 required_label"> Tax Exempt ID &nbsp;</label>

                                                        <div class="col-sm-7 col-xs-7">
                                                            <input type="text" class="frm_controllead1" ng-model="Account.TaxExemptID" maxlength="25" ng-keyup="EnableorDesableTaxExempt()" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-xs-3 required_label">Title</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <input type="text" data-bind="value: WorkTitle" ng-model="Account.PrimCustomer.WorkTitle" class="frm_controllead1" placeholder="" maxlength="50" />
                                                    </div>
                                                </div>

                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-xs-3 required_label">Fax Phone</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <input class="frm_controllead1"
                                                               type="text"
                                                               id="faxPhone"
                                                               name="faxPhone"
                                                               ng-model="Account.PrimCustomer.FaxPhone"
                                                               ng-required="false"
                                                               ui-options="{clearOnBlur:false}"
                                                               ui-mask-placeholder
                                                               ui-mask-placeholder-char="_"
                                                               ui-mask="(999) 999-9999"
                                                               ng-blur="CheckDuplicates('faxPhone', $event)"
                                                               required />
                                                        <div ng-if="frm_accnt.faxPhone.$dirty" ng-messages="frm_accnt.faxPhone.$error" style="color:red">
                                                            <p ng-message="mask" style="margin:5px 0 0 0 !important; font-size: 13px;">Phone number should be 10 digits.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="source-group row" style="margin-bottom:11px !important;">
                                                    <label class="col-sm-3 col-xs-3 required_label">Work Phone</label>
                                                    <div class="col-sm-9 col-xs-9 row phone_field">
                                                        <div class="col-sm-7 col-xs-7" style="padding:0 !important;">
                                                            <input class="pno_textbox col-sm-7 col-xs-7"
                                                                   type="text"
                                                                   id="workPhone"
                                                                   name="workPhone"
                                                                   ng-model="Account.PrimCustomer.WorkPhone"
                                                                   ng-required="false"
                                                                   ui-options="{clearOnBlur:false}"
                                                                   ui-mask-placeholder
                                                                   ui-mask-placeholder-char="_"
                                                                   ui-mask="(999) 999-9999"
                                                                   ng-blur="CheckDuplicates('WorkPhone', $event)"
                                                                    />
                                                            <label class="radio-prefer col-sm-5 col-xs-5" style="margin-left:0 !important;"><input type="radio" class="option-input radio radio_space" name="preferredTFNW" ng-model="Account.PrimCustomer.PreferredTFN" value="W" title="Preferred contact number" />Preferred</label>
                                                            <div class="clearfix"> </div>
                                                            <div ng-if="frm_accnt.workPhone.$dirty" ng-messages="frm_accnt.workPhone.$error" style="color:red">
                                                                <p ng-message="mask" style="margin:0 !important; font-size: 13px;">Phone number should be 10 digits.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-5 col-xs-5" style="padding:0 !important;">
                                                            <label class="col-sm-3 col-xs-3 required_label">Ext</label>
                                                            <div class="col-sm-9 col-xs-9" style="padding-right:0 !important;">
                                                                <input type="text" ng-model="Account.PrimCustomer.WorkPhoneExt" class="frm_controllead1" placeholder="" maxlength="5" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-xs-3 required_label">Secondary Email</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <input type="email" ng-model="Account.PrimCustomer.SecondaryEmail" id="LeadPrimCustomerSecondaryEmail" class="form-control frm_controllead1" placeholder="" maxlength="256" ng-blur="CheckDuplicates('SecondaryEmail', $event)" />
                                                    </div>
                                                </div>


                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-xs-3 required_label">Attention</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <input type="text" ng-model="Account.Addresses[0].AttentionText" class="frm_controllead1" placeholder="" maxlength="256" />
                                                    </div>
                                                </div>

                                                <div class="source-group row state_field">
                                                    <label class="col-sm-3 col-xs-3 required_label">Country</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <span class="custom-dropdown custom-dropdown--white">
                                                            <select class="custom-dropdown__select custom-dropdown__select--white" id="countryBox" ng-model="Account.Addresses[0].CountryCode2Digits" ng-change="CountryChanged()" ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                                <option value="">select</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-xs-3 required_label">Cross Streets</label>
                                                    <div class="col-sm-9 col-xs-9">
                                                        <input type="text" ng-model="Account.Addresses[0].CrossStreet" class="frm_controllead1" placeholder="" maxlength="75">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </fieldset>



                           
                        </form>
                        <hfc-note-modal></hfc-note-modal>
                        <hfc-lead-source-modal modal-id="leadSourceModal" source-id="LeadSourcesList.Id"></hfc-lead-source-modal>
                        <hfc-address-modal modal-id="addressModal" lead-id="{{Account.AccountId}}"></hfc-address-modal>
                        <hfc-person-modal modal-id="personModal"></hfc-person-modal>
                        <hfc-person-modal-New modal-id="personModalmodified"></hfc-person-modal-New>
                        <hfc-person-modal-Source modal-id="sourcefile"></hfc-person-modal-Source>
                        <hfc-fileprint-modal modal-id="fileprint"></hfc-fileprint-modal>
                        <hfc-error-modal modal-id="error"></hfc-error-modal>
                        <hfc-duplicate-modal></hfc-duplicate-modal>
                        <hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>
                        <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>
                    </div>
                </div>

            </div>
            <!---end inner tab-->
        </div>
    </div>


</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

