﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }

    .errormob {
        margin-left: 179px;
    }

    .errortext {
        color: red !important;
    }

    .has-error .readiocheck,  .has-error .radio {
        border-color: #a94442;
    }
    .k-i-loading {
        display: none;
    }
    #account_campaign-list .k-list-scroller{
        max-height: 131px !important;
    }
</style>

<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>
<div class="outter-wp">
        <!---inner tab--->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li class="activelead1" rel="tab6"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></li>
            </ul>
            <div class="leaddetail_butns">
                <ul class="orderlist_box">
                    <li><button ng-if="Permission.AddAccount" type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-disabled="alertModalService.IsBusy" ng-click="cancelAccountEdit()"><i class="far fa-times-circle fa_icon"></i></button></li>
                    <li><button ng-if="Permission.AddAccount" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-disabled="alertModalService.IsBusy" ng-mousedown="frm_accnt.$valid && (frm_accnt.accntedit_source.$viewValue > 0 && Account.CampaignId >= 0)" ng-click="NotifyText()"><i class="far fa-check-circle fa_icon"></i></button></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="tab_container tp_content">
                <div class="error" ng-show="!(Permission.AddAccount)">
                    You don't have permission to this page.
                </div>
                <form id="crm-lead-detail" name="frm_accnt" ng-show="Permission.AddAccount" unsaved-warning-form>
                    <div class="p-3">
                        <div class="lead_rtop row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <fieldset ng-disabled="Account.AccountStatusId==2 || Account.AccountStatusId==3">
                                    <div class="source-group row"
                                         ng-class="{true: 'has-error'}[Accntsubmit && frm_accnt.accnt_fname.$invalid]">
                                        <label class="col-sm-3 col-xs-3 required_label">First Name<!--<span class="asteriskField">*</span>--></label>
                                        <div class="col-sm-9 col-xs-9">
                                            <!--<span class="pull-right req_desc" ng-class="{true: 'errortext'}[Accntsubmit && frm_accnt.accnt_fname.$invalid]">Required</span>-->
                                            <input type="text" class="form-control frm_controllead1 required_field"
                                                   name="accnt_fname" ng-model="Account.PrimCustomer.FirstName"
                                                   placeholder="Required" required
                                                   maxlength="50" />
                                            <!--<div ng-show="firstNameIsNotValid" ng-cloak="" class="text text-danger">Required</div>-->
                                        </div>
                                    </div>
                                    <!--value:--{{Permission.AddAccount}}-->
                                    <div class="source-group row"
                                         ng-class="{true: 'has-error'}[Accntsubmit && frm_accnt.accnt_lname.$invalid]">
                                        <label class="col-sm-3 col-xs-3 required_label">Last Name</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <!--<span class="pull-right req_desc" ng-class="{true: 'errortext'}[Accntsubmit && frm_accnt.accnt_lname.$invalid]">Required</span>-->
                                            <input type="text" class="form-control frm_controllead1 required_field"
                                                   name="accnt_lname" ng-model="Account.PrimCustomer.LastName" placeholder="Required" required
                                                   maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="form-phone_group row ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3"></label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="checkbox" class="option-input checkbox" ng-model="Account.IsBusiness" ng-checked='Account.IsBusiness'>
                                            <label class="ldet_label">Business Address</label>
                                        </div>
                                    </div>
                                    <!-- address component -->
                                    <div class="form-group row ml-0 mr-0">
                                        <hfc-addresstp address-model="Address" parent-form-submit-status="Accntsubmit"></hfc-addresstp>
                                    </div>

                                    <!--removed as we are using ! symbol-->
                                    <!--<div class="source-group row">
                                        <label class="col-sm-3 col-xs-3 text_detlabel">Address Validated?</label>
                                        <div class="col-xs-9">
                                            <label class="ldet_label" style="text-transform:capitalize;">{{Address.IsValidated}}</label>
                                        </div>
                                    </div>-->

                                    <div class="form-phone_group row ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3 required_label">Cell Phone</label>
                                        <div class="col-sm-9 col-xs-9 row no-margin">
                                            <div class="col-sm-7 col-xs-7 row no-margin no-padding">
                                                <input type="text"
                                                       id="cellPhone"
                                                       name="cellPhone"
                                                       class="pno_textbox col-sm-7 col-xs-7"
                                                       ng-model="Account.PrimCustomer.CellPhone"
                                                       ui-mask="(999) 999-9999"
                                                       ng-blur="CheckDuplicates('edit_Cell_Phne', $event)"
                                                       ui-options="{clearOnBlur:false}"
                                                       ui-mask-placeholder
                                                       ui-mask-placeholder-char="_"
                                                       ng-change="EnableNotifyText(Account.PrimCustomer.CellPhone)" />

                                                <label class="radio-prefer col-sm-5 col-xs-5 ml-0">
                                                    <input type="radio" class="option-input radio radio_space"
                                                           name="preferredTFNC" ng-model="Account.PrimCustomer.PreferredTFN"
                                                           value="C" title="Preferred contact number" />Preferred
                                                </label>
                                                <div ng-if="frm_accnt.cellPhone.$dirty" ng-messages="frm_accnt.cellPhone.$error" style="color:red">
                                                    <p ng-message="mask" style="margin:0 !important; font-size: 13px;">Cell Phone number should be 10 digits.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-5"> </div>
                                        </div>
                                    </div>
                                    <div class="form-phone_group row ml-0 mr-0" ng-if="FranciseLevelTexting">
                                        <label class="col-sm-3 col-xs-3 required_label notification_field">Notifications via Text?
                                            <label style="position:absolute; top:0;" class="tooltip-bottom" data-tooltip='This will send "opt-in" message to customer, and if they opt-in, Touchpoint will send Appointment and Order update texts to the Customer.'><i class="fas fa-info-circle"></i></label>
                                        </label>
                                        <div class="col-sm-9 col-xs-9 row no-margin">
                                            <div class="col-sm-4 col-xs-4 no-padding">
                                                <input type="checkbox" class="option-input checkbox" ng-model="Account.IsNotifyText" ng-disabled="disablenotifytext">
                                            </div>
                                            <div class="col-sm-8 col-xs-8" style="padding-left:20px !important;" ng-if="Account.NotifyTextStatus == 'new'">
                                            </div>
                                            <div class="col-sm-8 col-xs-8" style="padding-left:20px !important;" ng-if="Account.NotifyTextStatus == 'waiting'">
                                                <label style="color:orange; cursor:default;">Waiting For Response</label>
                                            </div>
                                            <div class="col-sm-8 col-xs-8" style="padding-left:20px !important;" ng-if="Account.NotifyTextStatus == 'Optin'">
                                                <label style="color:green; cursor:default;">Opted In</label>
                                            </div>
                                            <div class="col-sm-8 col-xs-8" style="padding-left:20px !important;" ng-if="Account.NotifyTextStatus == 'Optout'">
                                                <label style="color:red; cursor:default;">Opted Out</label>
                                            </div>
                                            <div class="col-sm-8 col-xs-8" style="padding-left:20px !important;" ng-if="Account.NotifyTextStatus == 'error'">
                                                <label style="font-weight: bold; cursor:default;">Not Reachable</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-phone_group row ml-0 mr-0" ng-class="{true: 'has-error'}[Accntsubmit && frm_accnt.HomePhone.$invalid]">
                                        <label class="col-sm-3 col-xs-3 required_label">Home Phone</label>
                                        <div class="col-sm-9 col-xs-9 row no-margin">
                                            <div class="col-sm-7 col-xs-7 row no-margin no-padding">
                                                <input class="col-sm-7 col-xs-7 pno_textbox"
                                                       type="text"
                                                       id="HomePhone"
                                                       name="HomePhone"
                                                       ng-model="Account.PrimCustomer.HomePhone"
                                                       ng-required="false"
                                                       ui-options="{clearOnBlur:false}"
                                                       ui-mask-placeholder
                                                       ui-mask-placeholder-char="_"
                                                       ui-mask="(999) 999-9999"
                                                       ng-blur="CheckDuplicates('HomePhone', $event)" />
                                                <label class="radio-prefer col-sm-5 col-xs-5 ml-0">
                                                    <input type="radio" class="option-input radio radio_space" name="preferredTFNH"
                                                           value="H" ng-model="Account.PrimCustomer.PreferredTFN"
                                                           title="Preferred contact number" />Preferred
                                                </label>
                                                <div ng-if="frm_accnt.HomePhone.$dirty" ng-messages="frm_accnt.HomePhone.$error" style="color:red">
                                                    <p ng-message="mask" style="margin:0 !important; font-size: 13px;">Phone number should be 10 digits.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-5"> </div>
                                        </div>
                                    </div>
                                    <div class="form-phone_group row ml-0 mr-0"
                                         ng-class="{true: 'has-error'}[Accntsubmit && frm_accnt.accnt_email.$invalid && Required]" >
                                        <label class="col-sm-3 col-xs-3 required_label">Email</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="email" name="accnt_email" class="form-control frm_controllead1 required_field" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/" id="LeadPrimCustomerPrimaryEmail" ng-model="Account.PrimCustomer.PrimaryEmail" placeholder="Required" maxlength="256" ng-blur="CheckDuplicates('PrimaryEmail')" ng-required = Required  />
                                            <div ng-messages="frm_accnt.accnt_email.$error" style="color:red">
                                                <div ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</div>
                                            </div>
                                            <!--<label class="custom-mail">
                                                <input type="checkbox" class="option-input checkbox" ng-model="Account.IsNotifyemails" ng-checked='Account.IsNotifyemails'>
                                                Notifications via Email?
                                            </label>
                                            <label class="custom-mail">-->
                                            <!--<input type="checkbox" class="option-input checkbox" ng-model="Account.PrimCustomer.Unsubscribed">-->
                                            <!--<input type="checkbox" class="option-input checkbox" ng-model="Account.PrimCustomer.IsReceiveEmails" ng-checked='Account.PrimCustomer.IsReceiveEmails'>

                                                Receive Promotion Emails
                                            </label>-->
                                        </div>
                                    </div>
                                    <div class="form-phone_group row ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3 text_detlabel notification_field">Notifications via Email?
                                            <label style="position: absolute; top: 0;" class="tooltip-bottom" data-tooltip='This will send Appointment and Order update emails to the Customer.'><i class="fas fa-info-circle"></i></label>
                                        </label>
                                        <div class="col-sm-9 col-xs-9 row no-margin">
                                            <div class="col-sm-4 col-xs-4 no-padding">
                                                <input type="checkbox" class="option-input checkbox" ng-model="IsNotifyemails" ng-change="EmailCheck(IsNotifyemails)">
                                            </div>
                                            <div class="col-sm-4 col-xs-4"> </div>
                                        </div>
                                    </div>
                                    <div class="form-phone_group row ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3 text_detlabel">Receive Promotion Emails</label>
                                        <div class="col-sm-9 col-xs-9 row phone_field">
                                            <div class="col-sm-4 col-xs-4 no-padding">
                                                <input type="checkbox" class="option-input checkbox" ng-model="Account.PrimCustomer.IsReceiveEmails" ng-checked='Account.PrimCustomer.IsReceiveEmails'>
                                            </div>
                                            <div class="col-sm-4 col-xs-4"> </div>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-xs-3 required_label">Fax Phone</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input class="frm_controllead1"
                                                   type="text"
                                                   id="FaxPhone"
                                                   name="FaxPhone"
                                                   ng-model="Account.PrimCustomer.FaxPhone"
                                                   ng-required="false"
                                                   ui-options="{clearOnBlur:false}"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_"
                                                   ui-mask="(999) 999-9999"
                                                   ng-blur="CheckDuplicates('FaxPhone', $event)" />

                                            <div ng-if="frm_accnt.FaxPhone.$dirty" ng-messages="frm_accnt.FaxPhone.$error" style="color:red">
                                                <p ng-message="mask" style="margin:5px 0 0 0 !important; font-size: 13px;">Phone number should be 10 digits.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="source-group row" style="margin-bottom:12px !important;">
                                        <label class="col-sm-3 col-xs-3 required_label">Work Phone</label>
                                        <div class="col-sm-9 col-xs-9 row no-margin">
                                            <div class="col-sm-7 col-xs-7 row no-margin no-padding">
                                                <input class="pno_textbox col-sm-7 col-xs-7"
                                                       type="text"
                                                       id="WorkPhone"
                                                       name="WorkPhone"
                                                       ng-model="Account.PrimCustomer.WorkPhone"
                                                       ng-required="false"
                                                       ui-options="{clearOnBlur:false}"
                                                       ui-mask-placeholder
                                                       ui-mask-placeholder-char="_"
                                                       ui-mask="(999) 999-9999"
                                                       ng-blur="CheckDuplicates('WorkPhone', $event)" />
                                                <label class="radio-prefer col-sm-5 col-xs-5 ml-0"><input type="radio" class="option-input radio radio_space" name="preferredTFNW" ng-model="Account.PrimCustomer.PreferredTFN" value="W" title="Preferred contact number" />Preferred</label>

                                                <div ng-if="frm_accnt.WorkPhone.$dirty" ng-messages="frm_accnt.WorkPhone.$error" style="color:red">
                                                    <p ng-message="mask" style="margin:5px 0 0 0 !important; font-size: 13px;">Phone number should be 10 digits.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-xs-5 row no-margin no-padding ">
                                                <label class="col-sm-3 col-xs-3 required_label">Ext</label>
                                                <div class="col-sm-9 col-xs-9 pr-0">
                                                    <input type="text" ng-model="Account.PrimCustomer.WorkPhoneExt" class="frm_controllead1" ng-maxlength="5" placeholder="" maxlength="5" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-xs-3 required_label">Secondary Email</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="email" name="SecEmail" ng-model="Account.PrimCustomer.SecondaryEmail" id="LeadPrimCustomerSecondaryEmail" class="frm_controllead1" placeholder="" maxlength="256" ng-blur="CheckDuplicates('SecondaryEmail', $event)" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/" />
                                            <div ng-messages="frm_accnt.SecEmail.$error" style="color:red">
                                                <div ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</div>
                                            </div>
                                       </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-xs-3 required_label">Location Info</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="text" placeholder="" ng-model="Address.Location" maxlength="150" class="frm_controllead1" />
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-xs-3 required_label">Cross Streets</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="text" ng-model="Address.CrossStreet" class="frm_controllead1" placeholder="" maxlength="75">
                                        </div>
                                    </div>
                                    <div class="source-group row state_field">
                                        <label class="col-sm-3 col-xs-3 required_label">Country</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="custom-dropdown__select custom-dropdown__select--white" id="countryBox" ng-model="Address.CountryCode2Digits" ng-change="AddressService.CountryChanged()" ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                    <option value="">select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_2">
                                <div class="row state_field territory_group">
                                    <div class="col-sm-6 col-xs-6"
                                         ng-class="{true: 'has-error'}[ Accntsubmit &&(frm_accnt.status.$modelValue == 0 || frm_accnt.status.$modelValue=='' )]">
                                        <div class="row ml-0 mr-0">
                                            <label class="col-sm-5 col-xs-5 required_label">Account Status</label>
                                            <div class="col-sm-7 col-xs-7">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            name="status"
                                                            ng-class="{true: 'errorTP'}[frm_accnt.status.$invalid || Account.AccountStatusId==0]"
                                                            ng-model="Account.AccountStatusId" ng-change="ChangeLeadStatus()"
                                                            ng-options="option.AccountStatusId as option.Name for option in AccountStatuseslist"
                                                            ng-required="true"></select>
                                                </span>
                                            </div>
                                </div>
                                    </div>
                                </div>

                                <fieldset ng-disabled="Account.AccountStatusId==2 || Account.AccountStatusId==3">
                                    <!--<div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3 text_detlabel">Account Type</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <label class="ng-binding ldet_label">{{Account.AccountTypeName}}</label>
                                        </div>
                                    </div>-->
                                    <div class="source-group row state_field">
                                        <label class="col-sm-3 col-xs-3 required_label">Account Type</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="custom-dropdown__select custom-dropdown__select--white"
                                                        ng-model="Account.AccountTypeId"
                                                        ng-options="option.Id as (option.Name) for option in GetAccountTypeList">
                                                    <!--<option value="">select</option>-->
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="source-group row state_field">
                                        <label class="col-sm-3 col-xs-3 required_label">Campaign</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <!--<select class="custom-dropdown__select custom-dropdown__select--white"
                                                        ng-model="Account.CampaignId"
                                                        ng-options="option.CampaignId as (option.Name) for option in AccountCampaignslist "
                                                        ng-change="ChangeCampaign1()">
                                                    <option value="">select</option>
                                                </select>-->
                                                <select id="account_campaign"
                                                        name="account_campaign"
                                                        kendo-drop-down-list
                                                        k-options="account_campaign"
                                                        k-ng-model="Account.CampaignId"
                                                        class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row state_field territory_group" ng-show="Account.AccountTypeId != 2">
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="row ml-0 mr-0" ng-show="AccountChannelList.length > 0">
                                                <label class="col-sm-5 col-xs-5 text_detlabel">Channel</label>
                                                <div class="col-sm-7 col-xs-7">
                                                    <label class="ng-binding ldet_label">{{AccountChannelList[0].ChannelName}}</label>
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                    <!--<start source>-->
                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3 required_label">Source</label>
                                        <div class="col-sm-9 col-xs-9" ng-hide="Account.CampaignId>0">
                                            <div class="Atendes-grid">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select id="RelatedSource" ng-class="{true: 'k-combobox required'}[Accntsubmit && (!Account.SourcesTPId)]"
                                                            name="RelatedSource"
                                                            k-on-change="ChangeSource()"
                                                            kendo-multi-select
                                                            data-max-selected-items="1"
                                                            k-options="RelatedSource"
                                                            k-ng-model="Account.SourcesTPId"
                                                            class="custom-dropdown__select custom-dropdown__select--white required_field"></select>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-sm-9 col-xs-9" ng-show="Account.CampaignId>0">
                                            <label class="ng-binding ldet_label">{{selectedSourceName}}</label>
                                        </div>
                                    </div>

                                    <!--<end source>-->

                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3 required_label">Referral Info</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="text" placeholder="" maxlength="50" ng-model="Account.AccountName"
                                                   class="frm_controllead1" />
                                        </div>
                                    </div>
                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3 text_detlabel">Lead Type</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <label class="ng-binding ldet_label">{{Account.LeadType}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3 text_detlabel">Key Acct</label>
                                        <div class="col-sm-8 col-xs-8">
                                            <label class="ng-binding ldet_label">{{Account.KeyAcct}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-xs-3 required_label">Related/Parent Account</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <select id="RelatedAccounts"
                                                    name="RelatedAccounts"
                                                    kendo-multi-select
                                                    ng-disabled="Account.AccountStatusId==2 || Account.AccountStatusId==3"
                                                    data-max-selected-items="1"
                                                    k-options="RelatedAccounts"
                                                    k-ng-model="SelectedRelatedAccountIds"></select>
                                        </div>
                                    </div>
                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3 text_detlabel">Territory</label>
                                        <div class="col-sm-8 col-xs-8">
                                            <label ng-show='Account.TerritoryType =="Contracted to a DIFFERENT Franchisee"' class="ng-binding ldet_label error">{{Account.TerritoryType}}</label>
                                        </div>
                                        <div ng-show='Account.TerritoryType !="Contracted to a DIFFERENT Franchisee"' class="col-sm-8 col-xs-8">
                                            <label class="ng-binding ldet_label ">{{Account.TerritoryType}}</label>
                                        </div>
                                    </div>

                                    <!--<div class="form-group row ml-0 mr-0" ng-if="((Address.Territory | uppercase) == 'GRAY AREA / ASSIGNED') || ((Address.Territory | uppercase) == 'GRAY AREA') ">
                                        <label class="col-sm-3 col-xs-3 text_detlabel">Display Territory</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select kendo-drop-down-list
                                                        k-data-text-field="'Name'"
                                                        k-data-value-field="'Id'"
                                                        k-data-source="DisplayTerritorySource"
                                                        k-ng-model="Account.TerritoryDisplayId"
                                                        style="width: 100%"></select>
                                            </span>
                                        </div>
                                    </div>-->

                                    <div class="form-group row ml-0 mr-0" ng-show="((Account.TerritoryType | uppercase) == 'GRAY AREA / UNASSIGNED') || ((Account.TerritoryType | uppercase) == 'GRAY AREA / ASSINGED & UNASSIGNED') || ((Account.TerritoryType | uppercase) == 'GRAY AREA / ASSIGNED') || ((Account.TerritoryType | uppercase) == 'GRAY AREA') ">
                                        <label class="col-sm-3 col-xs-3 text_detlabel">
                                            Display Territory
                                            <label type="reset" class="tooltip-bottom" data-tooltip="Assign Territory for Customer display information. This will not affect/change reporting."><i class="fas fa-info-circle"></i></label>
                                        </label>
                                        <div class="col-sm-9 col-xs-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="frm_controllead1 custom-dropdown__select custom-dropdown__select--white required_field"
                                                        name="displayleadterritory"
                                                        ng-change="showterritoryvalue()"
                                                        ng-options="option.Id as (option.Name) for option in DisplayTerritorySource"
                                                        ng-model="TerritoryDisplayId"
                                                        style="width:100%"></select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row state_field ml-0 mr-0">
                                        <label class="col-sm-3 col-xs-3 text_detlabel">Legacy Account</label>
                                        <div class="col-sm-9 col-xs-9">
                                            <input type="checkbox" class="option-input checkbox" disabled ng-model="Account.LegacyAccount">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group row ml-0 mr-0">
                                    <div class="col-sm-3 col-xs-3"></div>
                                    <div class="col-sm-9 col-xs-9">
                                        <ul kendo-panel-bar="" id="actpanelbar1" data-role="panelbar" class="k-widget k-reset k-header k-panelbar" tabindex="0" role="menu">
                                            <li id="PanelTaxInfo" class="k-item k-state-default k-last k-state-highlight k-state-active" role="menuitem" aria-expanded="true">
                                                <span class="k-link k-header"><span>Tax Information</span><span class="k-icon  k-i-arrow-60-up k-panelbar-collapse"></span></span>
                                                <div class="kendo_panel row k-content" style="margin: 0px !important; background-color: rgb(237, 237, 237) !important; padding: 15px !important; display: block; height: auto; overflow: visible;" role="region" aria-hidden="false">
                                                      <div class="form-group row ml-0 mr-0">
                                                            <ul class="opportunity_taxlist">
                                                                <li ng-show="HFCService.FranchiseCountryCode == 'US'">
                                                                    <div ng-class="{true: 'has-error'}">
                                                                        <input type="checkbox" class="option-input checkbox"
                                                                               ng-model="Account.IsTaxExempt"
                                                                               ng-click="clearTaxExempt()">
                                                                        <label class="ldet_label">Tax Exempt </label>
                                                                    </div>
                                                                </li>

                                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                    <div ng-class="{true: 'has-error'}">
                                                                        <input type="checkbox" class="option-input checkbox"
                                                                               ng-model="Account.IsPSTExempt"
                                                                               ng-click="clearTaxExempt()">
                                                                        <label class="ldet_label">PST Exempt </label>
                                                                    </div>
                                                                </li>
                                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                    <div ng-class="{true: 'has-error'}">
                                                                        <input type="checkbox" class="option-input checkbox"
                                                                               ng-model="Account.IsGSTExempt"
                                                                               ng-click="clearTaxExempt()">
                                                                        <label class="ldet_label">GST Exempt </label>
                                                                    </div>
                                                                </li>
                                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                    <div ng-class="{true: 'has-error'}">
                                                                        <input type="checkbox" class="option-input checkbox"
                                                                               ng-model="Account.IsHSTExempt"
                                                                               ng-click="clearTaxExempt()">
                                                                        <label class="ldet_label">HST Exempt </label>
                                                                    </div>
                                                                </li>
                                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                    <div ng-class="{true: 'has-error'}">
                                                                        <input type="checkbox" class="option-input checkbox"
                                                                               ng-model="Account.IsVATExempt"
                                                                               ng-click="clearTaxExempt()">
                                                                        <label class="ldet_label">VAT Exempt </label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="form-group row ml-0 mr-0"
                                                             ng-class="{true: 'has-error'}[Accntsubmit && frm_accnt.taxExemptId.$invalid]"
                                                             ng-if="Account.IsTaxExempt ||
                                                 Account.IsPSTExempt || Account.IsGSTExempt ||
                                                 Account.IsHSTExempt || Account.IsVATExempt ">

                                                            <label class="col-sm-2 required_label">Tax ID</label>
                                                            <div class="col-sm-10">
                                                                <input maxlength="50" type="text" id="taxExemptId" name="taxExemptId"
                                                                       ng-model="Account.TaxExemptID"
                                                                       class="frm_controllead1 form-control"
                                                                       ng-required="Account.IsTaxExempt || Account.IsPSTExempt
                                                                    || Account.IsGSTExempt || Account.IsHSTExempt
                                                                    || Account.IsVATExempt " />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ml-0 mr-0"
                                                             ng-class="{true: 'has-error'}[Accntsubmit && frm_accnt.taxExemptId.$invalid]"
                                                             ng-if="Account.IsTaxExempt ||
                                                 Account.IsPSTExempt || Account.IsGSTExempt ||
                                                 Account.IsHSTExempt || Account.IsVATExempt ">

                                                            <div class="col-sm-12">
                                                                <input type="checkbox" class="option-input checkbox"
                                                                       ng-model="Account.AllOpportunityTaxExempt">
                                                                <label class="col-sm-10 required_label" style="text-align: left;">Mark All Opportunities as Tax Exempt</label>
                                                            </div>
                                                        </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <fieldset ng-disabled="Account.AccountStatusId==2 || Account.AccountStatusId==3">
                            <!--show more-->
                            <div class="leadexpand_grid">
                                <ul kendo-panel-bar id="panelbar">
                                    <li id="accountlistPanel">
                                        <span class="font-weight-bold">Account Details</span>
                                        <div class="kendo_panel row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                                <div class="source-group row">
                                                    <label class="col-sm-3 col-xs-3 text_detlabel">Commercial</label>
                                                    <div class="col-sm-1 col-xs-1">
                                                        <input type="checkbox" class="option-input checkbox" ng-model="Account.IsCommercial" ng-checked='Account.IsCommercial' ng-click="UpdateCommercialDependField()">
                                                    </div>
                                                </div>
                                                <div ng-show="Account.IsCommercial==true" class="state_field">
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 col-xs-3 required_label">Commercial Type</label>
                                                        <div class="col-sm-9 col-xs-9">
                                                            <span class="custom-dropdown custom-dropdown--white">
                                                                <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                        id="countryBox"
                                                                        ng-model="Account.CommercialTypeId"
                                                                        ng-change="UpdateRelationShipType()"
                                                                        ng-options="option.Id as (option.Name) for option in AccountCommercialType">
                                                                    <option value="">Select</option>
                                                                </select>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div ng-show="Account.CommercialTypeId!='2000'" class="source-group row">
                                                            <label class="col-sm-3 col-xs-3 required_label">Relationship Type</label>
                                                            <div class="col-sm-9 col-xs-9">
                                                                <span class="custom-dropdown custom-dropdown--white">
                                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                            id="countryBox"
                                                                            name="relationship_type"
                                                                            ng-class="{true: 'errorTP'}[frm_accnt.relationship_type.$invalid || !Account.RelationshipTypeId]"
                                                                            ng-model="Account.RelationshipTypeId"
                                                                            ng-required="Account.IsCommercial && Account.CommercialTypeId!='2000'"
                                                                            ng-options="option.Id as (option.Name) for option in AccountRelationshipType">
                                                                        <option value="" disabled selected>Select</option>
                                                                    </select>
                                                                </span>
                                                            </div>
                                                    </div>
                                                </div>
                                                    <!--<div ng-show="Account.IsCommercial==true" class="form-group row ml-0 mr-0 state_field">
                                                        <label class="col-sm-3 col-xs-3 required_label acount_label">Commercial Type</label>
                                                        <div class="col-sm-4 col-xs-4">
                                                            <span class="custom-dropdown custom-dropdown--white">
                                                                <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                        id="countryBox"
                                                                        ng-model="Account.CommercialTypeId"
                                                                        ng-change="UpdateRelationShipType()"
                                                                        ng-options="option.Id as (option.Name) for option in AccountCommercialType">
                                                                    <option value="">Select</option>
                                                                </select>
                                                            </span>
                                                        </div>
                                                        <div ng-show="Account.CommercialTypeId!='2000'" class="col-sm-5 col-xs-5 no-padding">
                                                            <div class="account-rgroup accountadd-rgroup">
                                                                <label class="col-sm-5 col-xs-5 required_label" style="font-weight:bold;">Relationship Type</label>
                                                                <div class="col-sm-7 col-xs-7">
                                                                    <span class="custom-dropdown custom-dropdown--white">
                                                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                                id="countryBox"
                                                                                name="relationship_type"
                                                                                ng-class="{true: 'errorTP'}[frm_accnt.relationship_type.$invalid || !Account.RelationshipTypeId]"
                                                                                ng-model="Account.RelationshipTypeId"
                                                                                ng-required="Account.IsCommercial && Account.CommercialTypeId!='2000'"
                                                                                ng-options="option.Id as (option.Name) for option in AccountRelationshipType">
                                                                            <option value="" disabled selected>Select</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>-->

                                                    <div ng-show="Account.IsCommercial==true" class="row state_field leadterritory_group" style="margin: 0 0 15px 6%; !important;">
                                                        <div class="col-sm-7 col-xs-7">
                                                            <div class="row ml-0 mr-0">
                                                                <label class="col-sm-4 col-xs-4 required_label">Industry</label>
                                                                <div class="col-sm-8 col-xs-8">
                                                                    <span class="custom-dropdown custom-dropdown--white">
                                                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                                ng-model="Account.IndustryId"
                                                                                ng-change="UpdateOtherIndustries()"
                                                                                ng-options="option.Id as (option.Name) for option in AccountIndustries">

                                                                            <option value="">select</option>
                                                                        </select>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-show="Account.IsCommercial==true &&Account.IndustryId=='1009'" class="col-sm-5 disposition_desc">
                                                            <input type="text" ng-model="Account.OtherIndustry" class="frm_controllead1" placeholder="" maxlength="256" />
                                                        </div>
                                                    </div>
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 col-xs-3 required_label">Company Name</label>
                                                        <div class="col-sm-9 col-xs-9">
                                                            <input name="user_companyname" type="text" data-bind="value: CompanyName" ng-required="Account.IsCommercial" ng-model="Account.PrimCustomer.CompanyName" class="frm_controllead1" placeholder="" maxlength="256" />
                                                            <div ng-if="frm_accnt.user_companyname.$error.required" ng-messages="frm_accnt.user_companyname.$error" style="color:red">
                                                                <p ng-message="required" style="margin:0 !important; font-size: 13px;">Company Name Required !</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 col-xs-3 required_label">Attention</label>
                                                        <div class="col-sm-9 col-xs-9">
                                                            <input type="text" ng-model="Address.AttentionText" class="frm_controllead1" placeholder="" maxlength="256" />
                                                        </div>
                                                    </div>
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 col-xs-3 required_label">Title</label>
                                                        <div class="col-sm-9 col-xs-9">
                                                            <input type="text" data-bind="value: WorkTitle" ng-model="Account.PrimCustomer.WorkTitle" class="frm_controllead1" placeholder="" maxlength="50" />
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                </form>
                <!-- Why this is causing issue???? -murugan -->
                <!--<hfc-note-modal></hfc-note-modal>-->
                <hfc-lead-source-modal modal-id="leadSourceModal" source-id="LeadSourcesList.Id"></hfc-lead-source-modal>
                <hfc-address-modal modal-id="addressModal" lead-id="{{Account.AccountId}}"></hfc-address-modal>
                <hfc-person-modal modal-id="personModal"></hfc-person-modal>
                <hfc-person-modal-New modal-id="personModalmodified"></hfc-person-modal-New>
                <hfc-person-modal-Source modal-id="sourcefile"></hfc-person-modal-Source>
                <hfc-fileprint-modal modal-id="fileprint"></hfc-fileprint-modal>
                <hfc-error-modal modal-id="error"></hfc-error-modal>
                <hfc-duplicate-modal></hfc-duplicate-modal>

                <!-- Why this is causing issue???? -murugan -->
                <!--<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
                <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>

        </div>
    <!--Notifications via Text popup-->
    <div class="modal fade" id="Textnotification" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog quote_popup">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Confirm</h4>
                </div>
                <form name="Measurement_addint" role="form">
                    <div class="modal-body quote_popup">
                        <div class="form-group row" style="margin: 1%; text-align:center ">
                            Please inform the Customer: "You will receive a text message from us requesting your approval. If you do not reply, you will not receive texts. You must agree to receive these texts. This is to verify you are the owner of the mobile number, and are in fact opting in to receive these messages."
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="button" class="btn btn-cancel" ng-click="SaveAccount(1, 1)">Ok</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>