﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }

    .expand_grid span.k-icon.k-i-arrow-60-down.k-panelbar-expand {
        display: none;
    }

    .expand_grid .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-active) .k-icon, .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-expanded) .k-icon {
        display: none;
    }

    .k-panelbar > .k-item.k-state-active > .k-link .k-icon, .k-panelbar > .k-item.k-state-expanded > .k-link .k-icon {
        display: none;
    }
    ul.additionalcontact_list li{
        float: left;
        margin-right: 8px;
        border-bottom: 0 !important;
    }
    ul.additionalcontact_sublist li{
        display:contents;
    }
    .option-input:checked, input[type="checkbox"]:checked, input[type="radio"]:checked {
       background: #3e7d8a !important;
       border: 1px solid #ffffff !important;
    }
    /*.k-panel > .k-item > .k-link, .k-panelbar > .k-item > .k-link {
        line-height:0 !important;
    }*/
</style>
<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>
<div class="outter-wp">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li class="activelead1" rel="tab6">
                    <h3><i class="far fa-user fa_icon"></i><br />Information</h3>
                </li>
                <!--<li rel="tab7" ng-show="Permission.AccountQualify && Account.AccountTypeId != 2>
                    <a href="/#!/measurementDetails/{{Account.AccountId}}" ng-show="Account.AccountTypeId != 2">
                        <h3><i class="measurement_icon"></i><br />Measurements</h3>
                    </a>
                </li>-->
                <li rel="tab7" ng-show="BrandId!=3">
                    <a href="#!/measurementDetails/{{Account.AccountId}}">
                        <h3><i class="measurement_icon"></i><br />Measurements</h3>
                    </a>
                </li>   <!--earlier added permission code ng-show="Permission.AccountQualify-->
                <li rel="tab7">
                    <a href="#!/accountopportunitySearch/{{Account.AccountId}}">
                        <h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/accountordersSearch/{{Account.AccountId}}">
                        <h3><i class="order_icon"></i><br />Orders</h3>
                    </a>
                </li>
                <!--<li rel="tab7" ng-show="Permission.AccountInvoice">
                    <a href="#!/accountInvoiceSearch/{{Account.AccountId}}">
                        <h3><i class="invoice_icon"></i><br />Invoice</h3>
                    </a>
                </li>-->

                <li rel="tab7">
                    <a href="#!/accountPaymentSearch/{{Account.AccountId}}">
                        <h3><i class="payment_icon"></i><br />Payments</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/accountAppointments/{{Account.AccountId}}">
                        <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/accountCommunicationLog/{{Account.AccountId}}">
                        <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                    </a>
                </li>

                <!--<li rel="tab8">
                    <a href="#!/accountappointments/{{Account.AccountId}}">

                            <h3><i class="appointment_icon"></i><br />Appointment</h3>
                        </a>
                </li>-->
            </ul>
            <div class="leaddetail_butns">
                <ul class="orderlist_box">
                    <!--<button type="submit" class="btn btn-primary cancel_but" ng-disabled="IsBusy" ng-mousedown="onMouseDown(3)" ng-click="setAction(3)">Edit</button>-->
                    <!--<a class="btn btn-primary cancel_but" href="/#!/account" ng-show="Permission.AddAccount">Add</a>
        <a class="btn btn-primary cancel_but" href="/#!/accountEdit/{{Account.AccountId}}"ng-show="Permission.AccountEdit">Edit</a>-->
                    <li><button type="reset" ng-show="Permission.AddAccount" class="tooltip-bottom hfc_bgbut" data-tooltip="New Account" ng-disabled="IsBusy" ng-click="CreateNewAccount()"><i class="far fa-plus-square fa_icon"></i></button></li>
                    <li><button type="button" ng-show="Permission.AccountEdit" class="tooltip-bottom hfc_bgbut" data-tooltip="Edit Account" ng-disabled="IsBusy" ng-click="EditAccount(Account.AccountId)"><i class="far fa-pen fa_icon"></i></button></li>
            </div>
            <div class="clearfix"></div>
        </div>

        <form id="crm-lead-detail" ng-submit="SaveAccount()" novalidate="novalidate">
            <div class="tab_container tp_content">
                <div class="error" ng-show="!(Permission.AccountView)">
                    You don't have permission to this page.
                </div>
                <div ng-show="Permission.AccountView">
                    <div class="p-3">
                        <!--<form id="crm-lead-detail" ng-submit="SaveAccount()" novalidate="novalidate">-->
                        <div class="leadgrid_box row no-margin">
                            <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1">
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Name</label>
                                    <div class="col-sm-9" ng-show="!Account.IsCommercial">
                                        <label class="ldet_label">{{Account.PrimCustomer.FirstName}}</label>
                                        <label class="ldet_label">{{Account.PrimCustomer.LastName}}</label>
                                        <span ng-show="!Account.PrimCustomer.CompanyName==''">{{ " / "}}</span>
                                        <label class="ldet_label">{{Account.PrimCustomer.CompanyName}}</label>
                                    </div>
                                    <div class="col-sm-9" ng-show="Account.IsCommercial">
                                        <label class="ldet_label">{{Account.PrimCustomer.CompanyName}}</label>
                                        <span ng-show="!Account.PrimCustomer.CompanyName==''">{{ " / "}}</span>
                                        <label class="ldet_label">{{Account.PrimCustomer.FirstName}}</label>
                                        <label class="ldet_label">{{Account.PrimCustomer.LastName}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3"></label>
                                    <div class="col-sm-9">
                                            <input type="checkbox" class="option-input checkbox" ng-model="Account.IsBusiness" ng-checked='Account.IsBusiness' disabled>
                                            <label class="ldet_label">Business Address</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Address</label>
                                    <div class="col-sm-9">
                                        <address class="inline-relative" ng-show="Account.Addresses[0].Address1 != '' ? true:false;" hfc-googlemaps="" addr="Account.Addresses[0]">
                                            <a class="map_link" style="color: rgb(61,125,139)" target="_blank" href="#" ng-cloak ng-href="{{GetGoogleAddressHref(Account.Addresses[0])}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP(0)">
                                                {{Account.Addresses[0].Address1}}
                                            </a>
                                            <div class="mapCanvas"></div>
                                        </address>
                                        <div><label class="ldet_label" ng-show="Account.Addresses[0].Address2 != '' ? true:false;">{{Account.Addresses[0].Address2}}</label></div>
                                        <div>
                                            <label class="ldet_label" ng-show="Account.Addresses[0].City != '' ? true:false;">{{Account.Addresses[0].City}},</label>
                                            <label class="ldet_label" ng-show="Account.Addresses[0].State != '' ? true:false;">{{Account.Addresses[0].State}}</label>
                                            <label class="ldet_label" ng-show="Account.Addresses[0].ZipCode != '' ? true:false;">{{Account.Addresses[0].ZipCode}}</label>
                                            <label ng-if="Account.Addresses[0].IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="text-align:center;">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </label>
                                            <label ng-if="Account.Addresses[0].IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="text-align:center;">
                                                <i class="fas fa-check-circle" style="color:green;"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <!--Remove as we are using ! symbol-->
                                <!--<div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Address Validated?</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label" style="text-transform:capitalize;">{{Account.Addresses[0].IsValidated}}</label>
                                    </div>
                                </div>-->

                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Location Info</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Account.Addresses[0].Location}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Cell Phone</label>
                                    <label class="col-sm-2 ldetail_phfield ldet_label">
                                        {{Account.PrimCustomer.CellPhone | mask: '(999) 999-9999'}}
                                    </label>
                                    <label class="col-sm-3 lradio-prefer ldet_label">
                                        <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="C" ng-model="Account.PrimCustomer.PreferredTFN" title="Preferred contact number" disabled />Preferred
                                    </label>
                                </div>
                                <div class="source-group row" ng-if="FranciseLevelTexting">
                                    <label class="col-sm-3 text_detlabel notification_field">Notifications via Text?
                                        <label style="position:absolute; top:0;" class="tooltip-bottom" data-tooltip='This will send "opt-in" message to customer, and if they opt-in, Touchpoint will send Appointment and Order update texts to the Customer.'><i class="fas fa-info-circle"></i></label>
                                    </label>
                                    <label class="col-sm-2 ldetail_phfield ldet_label">
                                        <input type="checkbox" class="option-input checkbox" disabled ng-model="Account.IsNotifyText">
                                    </label>
                                    <label class="col-sm-3 lradio-prefer ldet_label">
                                        <label style="color:orange; cursor:default;" ng-if="Account.NotifyTextStatus == 'waiting'">Waiting For Response</label>
                                        <label style="color:green; cursor:default;" ng-if="Account.NotifyTextStatus == 'Optin'">Opted In</label>
                                        <label style="color:red; cursor:default;" ng-if="Account.NotifyTextStatus == 'Optout'">Opted Out</label>
                                        <label style="font-weight: bold; cursor:default;" ng-if="Account.NotifyTextStatus == 'error'">Not Reachable</label>
                                    </label>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Home Phone</label>
                                    <label class="col-sm-2 ldetail_phfield ldet_label">{{Account.PrimCustomer.HomePhone | mask: '(999) 999-9999'}}</label>
                                    <label class="col-sm-3 lradio-prefer ldet_label">
                                        <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="H" ng-model="Account.PrimCustomer.PreferredTFN" title="Preferred contact number" disabled />Preferred
                                    </label>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Email</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Account.PrimCustomer.PrimaryEmail}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel notification_field">Notifications via Email?
                                        <label style="position: absolute; top: 0;" class="tooltip-bottom" data-tooltip='This will send Appointment and Order update emails to the Customer.'><i class="fas fa-info-circle"></i></label>
                                    </label>
                                    <div class="col-sm-9 ldet_label">
                                        <label class="custom-mail no-margin">
                                            <input type="checkbox" class="option-input checkbox" disabled ng-model="Account.IsNotifyemails">
                                        </label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Receive Promotion Emails</label>
                                    <div class="col-sm-9 ldet_label">
                                        <label class="custom-mail no-margin">
                                            <input type="checkbox" class="option-input checkbox" ng-model="Account.PrimCustomer.IsReceiveEmails" ng-checked='Account.PrimCustomer.IsReceiveEmails' disabled>
                                        </label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Fax Phone</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Account.PrimCustomer.FaxPhone | mask: '(999) 999-9999'}}</label>
                                        <!--<input type="tel" ui-mask="(999) 999-9999" allowpartialvalues="true" ng-model="Account.PrimCustomer.FaxPhone" class="form-control frm_controllead" ng-blur="CheckDuplicates('FaxPhone', $event)" />-->
                                    </div>
                                </div>
                                <div class="source-group row" style="margin-bottom:10px !important;">
                                    <label class="col-sm-3 text_detlabel">Work Phone</label>
                                    <div class="col-sm-9 row no-margin">
                                        <div class="col-sm-7 no-padding row no-margin">
                                            <label class="col-sm-7 ldet_label workph_lable pl-0 ng-binding">
                                                {{Account.PrimCustomer.WorkPhone | mask: '(999) 999-9999'}}
                                            </label>
                                            <label class="col-sm-5 lradio-prefer ml-0">
                                                <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="W" ng-model="Account.PrimCustomer.PreferredTFN" title="Preferred contact number" disabled />Preferred
                                            </label>
                                        </div>
                                        <div class="col-md-5 no-padding row no-margin">
                                            <label class="col-sm-3 text_detlabel">Ext</label>
                                            <div class="col-sm-9 pr-0">
                                                <label class="ldet_label">{{Account.PrimCustomer.WorkPhoneExt}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Secondary Email</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Account.PrimCustomer.SecondaryEmail}} </label>
                                        <!--<input type="text" data-bind="value: CompanyName" ng-model="Lead.PrimCustomer.CompanyName" class="form-control frm_controllead" placeholder="" required maxlength="256" />-->
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Cross Streets</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Account.Addresses[0].CrossStreet}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Country</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Account.Addresses[0].CountryCode2Digits}} </label>
                                    </div>
                                </div>
                            </div>

                            <!--2nd Column-->
                            <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_2">
                                <div class="row state_field territory_group">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="row no-margin">
                                            <label class="col-sm-5 text_detlabel">Account Status</label>
                                            <div class="col-sm-7">
                                                <label class="ng-binding ldet_label">{{SelectedAccountStatus}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6 col-sm-6 lead_disposition" style="visibility:hidden">
            <div class="row no-margin">
                <label class="col-sm-5 text_detlabel">Disposition</label>
                <div class="col-sm-7">
                    <label class="ng-binding ldet_label">{{Account.Disposition.Name}}</label>
                </div>
            </div>
        </div>-->
                                </div>
                                <!--start session-->
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Account Type</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Account.AccountTypeName}}</label> <!--AccountType-->
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Campaign</label>
                                    <div class="col-sm-9">
                                        <label class="ng-binding ldet_label">{{Account.CampaignName}}</label>
                                    </div>
                                </div>
                                <div class="source-group row" ng-show="Account.AccountTypeId != 2">
                                    <label class="col-md-3 col-sm-3 text_detlabel">Channel</label>
                                    <div class="col-md- col-sm-9">
                                        <label class="ng-binding ldet_label">{{Account.SourcesList[0].ChannelName}}</label>
                                    </div>
                                </div>
                                <!--end session-->
                                <div class="source-group row" ng-show="Account.AccountTypeId != 2">
                                    <label class="col-sm-3 text_detlabel">Source</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Account.SourcesList[0].name}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Referral Info</label>
                                    <div class="col-sm-9">
                                        <label class="ng-binding ldet_label">{{Account.AccountName}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Lead Type</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Account.LeadType}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Key Acct</label>
                                    <div class="col-sm-9">
                                        <label class="ng-binding ldet_label">{{Account.KeyAcct}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Related/Parent Account</label>
                                    <div class="col-sm-9">
                                        <label class="ng-binding ldet_label"><a href="#!/Accounts/{{Account.RelatedAccountId}}">{{Account.RelatedAccountName}}</a></label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Territory</label>
                                    <div ng-show='Account.TerritoryType=="Contracted to a DIFFERENT Franchisee"' class="col-sm-9 ">
                                        <label class="ng-binding ldet_label error">{{Account.TerritoryType}}</label>
                                    </div>
                                    <div ng-show='Account.TerritoryType!="Contracted to a DIFFERENT Franchisee"' class="col-sm-9">
                                        <label class="ng-binding ldet_label">{{Account.TerritoryType}}</label>
                                    </div>
                                </div>
                                <div class="source-group row" ng-show="((Lead.TerritoryType | uppercase) == 'GRAY AREA / UNASSIGNED') || ((Account.TerritoryType | uppercase) == 'GRAY AREA / ASSIGNED') || ((Account.TerritoryType | uppercase) == 'GRAY AREA')">
                                    <div class="col-md-3 col-sm-3 text_detlabel">
                                        <label class="text_detlabel">
                                            Display Territory
                                        </label>
                                        <label class="tooltip-bottom" data-tooltip="Assign Territory for Customer display information. This will not affect/change reporting."><i class="fas fa-info-circle"></i></label>
                                    </div>

                                    <div class="col-sm-9">
                                        <!--ng-show="Account.TerritoryDisplayId > 0"-->
                                        <label class="ng-binding ldet_label">{{Account.DisplayTerritoryName}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-md-3 text_detlabel">Legacy Account</label>
                                    <div class="col-md-9">
                                        <div class="radio-group">
                                            <input type="checkbox" class="option-input checkbox"
                                                   style="margin-right:5px;"
                                                   disabled ng-model="Account.LegacyAccount">
                                        </div>
                                    </div>
                                </div>

                                <!--<div style="margin:30px 20px;height:1px; background-color: gray; text-align:left; line-height: 16px;">
                                    <span style="background-color:#f7f7f7; font-weight:bold; position:relative; top: -9px;" ng-click="DisplayMore = !DisplayMore">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Referral / Relationship Information:&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </div>-->
                                <!--<div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Referral Type</label>
                                    <div class="col-sm-9">
                                        <label class="ng-binding ldet_label">{{Account.ReferralTypeName}}</label>
                                    </div>
                                </div>-->


                            <div class="form-group row no-margin">
                                <div class="col-sm-3 col-xs-3"></div>
                                <div class="col-sm-9 col-xs-9">
                                    <ul kendo-panel-bar="" id="actpanelbar1" data-role="panelbar" class="k-widget k-reset k-header k-panelbar" tabindex="0" role="menu">
                                        <li id="PanelTaxInfo" class="k-item k-state-default k-last k-state-highlight k-state-active" role="menuitem" aria-expanded="true">
                                            <span class="k-link k-header"><span>Tax Information</span><span class="k-icon  k-i-arrow-60-up k-panelbar-collapse"></span></span>
                                            <div class="kendo_panel row k-content" style="margin: 0px !important; background-color: rgb(237, 237, 237) !important; padding: 15px !important; display: block; height: auto; overflow: visible;" role="region" aria-hidden="false">
                                                   <div class="form-group row ml-0 mr-0">
                                                        <ul class="opportunity_taxlist">
                                                            <li ng-show="HFCService.FranchiseCountryCode == 'US'">
                                                                <div ng-class="{true: 'has-error'}">
                                                                    <input type="checkbox" disabled class="option-input checkbox"
                                                                           ng-model="Account.IsTaxExempt">
                                                                    <label class="ldet_label">Tax Exempt </label>
                                                                </div>
                                                            </li>
                                                            <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                <div ng-class="{true: 'has-error'}">
                                                                    <input type="checkbox" disabled class="option-input checkbox"
                                                                           ng-model="Account.IsPSTExempt">
                                                                    <label class="ldet_label">PST Exempt </label>
                                                                </div>
                                                            </li>
                                                            <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                <div ng-class="{true: 'has-error'}">
                                                                    <input type="checkbox" disabled class="option-input checkbox"
                                                                           ng-model="Account.IsGSTExempt">
                                                                    <label class="ldet_label">GST Exempt </label>
                                                                </div>
                                                            </li>
                                                            <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                <div ng-class="{true: 'has-error'}">
                                                                    <input type="checkbox" disabled class="option-input checkbox"
                                                                           ng-model="Account.IsHSTExempt">
                                                                    <label class="ldet_label">HST Exempt </label>
                                                                </div>
                                                            </li>
                                                            <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                <div ng-class="{true: 'has-error'}">
                                                                    <input type="checkbox" disabled class="option-input checkbox"
                                                                           ng-model="Account.IsVATExempt">
                                                                    <label class="ldet_label">VAT Exempt </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="form-group row ml-0 mr-0"
                                                         ng-if="Account.IsTaxExempt ||
                                                 Account.IsPSTExempt || Account.IsGSTExempt ||
                                                 Account.IsHSTExempt || Account.IsVATExempt ">
                                                        <label class="col-sm-2 text_detlabel">Tax ID</label>
                                                        <div class="col-sm-10">
                                                            <label class="ldet_label">{{Account.TaxExemptID}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ml-0 mr-0"
                                                         ng-if="Account.IsTaxExempt ||
                                                 Account.IsPSTExempt || Account.IsGSTExempt ||
                                                 Account.IsHSTExempt || Account.IsVATExempt ">

                                                        <div class="col-sm-12">
                                                            <input disabled type="checkbox" class="option-input checkbox" ng-required="Account.IsTaxExempt || Account.IsPSTExempt
                                                                    || Account.IsGSTExempt || Account.IsHSTExempt
                                                                    || Account.IsVATExempt "
                                                                   ng-model="Account.AllOpportunityTaxExempt">
                                                            <label class="col-sm-10 required_label" style="text-align: left;">Mark All Opportunities as Tax Exempt</label>
                                                        </div>
                                                    </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                                <div class="source-group row" ng-if="Account.MyCRMLeadId!=null">
                                    <label class="col-md-1 text_detlabel"></label>
                                    <div class="col-sm-9">
                                        <a ng-show="BrandId==1" href="https://mycrm.budgetblinds.com/#/leads/{{Account.MyCRMLeadId}}" target="_blank">Open full details in MyCRM</a>
                                        <a ng-show="BrandId==2" href="https://mycrm.tailoredliving.com/#/leads/{{Account.MyCRMLeadId}}" target="_blank">Open full details in MyCRM</a>
                                        <a ng-show="BrandId==3" href="https://mycrm.concretecraft.com/#/leads/{{Account.MyCRMLeadId}}" target="_blank">Open full details in MyCRM</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--show more-->
                        <div class="information_grid">
                            <div class="zillow_title">
                                &nbsp;Account Details&nbsp;
                            </div>
                            <div class="zillow_body">
                                <div class="lead_topborder zillow_border">
                                    <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1">
                                        <div class="source-group row">
                                            <label class="col-md-3 text_detlabel">Commercial</label>
                                            <div class="col-md-9">
                                                <div class="radio-group">
                                                    <input type="checkbox" class="option-input checkbox" style="margin-right:5px;" disabled ng-model="Account.IsCommercial" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="Account.IsCommercial==true" class="form-group row no-margin state_field">
                                            <label class="col-md-3 col-sm-3 text_detlabel">Commercial Type</label>
                                            <div class="col-md-3 col-sm-3">
                                                <label class="ldet_label ng-binding">{{Account.CommercialValue}}</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 no-padding">
                                                <div class="account-rgroup accountadd-rgroup">
                                                    <label class="col-md-4 col-sm-4 text_detlabel">Relationship Type</label>
                                                    <div class="col-md-8 col-sm-8">
                                                        <label class="ldet_label ng-binding">{{Account.RelationShipTypeValue}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="Account.IsCommercial==true" class="form-group row no-margin state_field">
                                            <label class="col-md-3 col-sm-3 text_detlabel">Industry</label>
                                            <div class="col-md-3 col-sm-3">
                                                <label class="ldet_label ng-binding">{{Account.IndustryValue}}</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 no-padding">
                                                <div class="account-rgroup accountadd-rgroup">
                                                    <!--<label class="col-md-4 col-sm-4 text_detlabel"></label>-->
                                                    <div class="col-md-8 col-sm-8">
                                                        <label class="ldet_label ng-binding">{{Account.OtherIndustry}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 text_detlabel">Company Name</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Account.PrimCustomer.CompanyName}} </label>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 text_detlabel">Attention</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Account.Addresses[0].AttentionText}} </label>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 text_detlabel">Title</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Account.PrimCustomer.WorkTitle}}</label>
                                            </div>
                                        </div>
                                        <div class="source-group row" ng-show="HFCService.FranchiseCountryCode == 'US'">
                                            <label class="col-sm-3 text_detlabel">Tax Exempt?</label>
                                            <div class="col-sm-3">
                                                <input type="checkbox" class="option-input checkbox"
                                                       disabled ng-model="Account.IsTaxExempt">
                                            </div>
                                        </div>
                                        <div class="source-group row" ng-show="Account.IsTaxExempt || Account.IsPSTExempt || Account.IsGSTExempt ||
                                                                            Account.IsHSTExempt || Account.IsVATExempt">
                                            <label class="col-sm-3 text_detlabel">Tax ID</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label" style="vertical-align: middle !important;">{{Account.TaxExemptID}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row no-margin">
                                            <div class="col-md-1 no-padding"></div>
                                            <div class="col-md-11 no-padding">
                                                <ul class="opportunity_taxlist">
                                                    <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                        <div ng-class="{true: 'has-error'}">
                                                            <input type="checkbox" disabled class="option-input checkbox"
                                                                   ng-model="Account.IsPSTExempt">
                                                            <label class="taxlist_field">PST Exempt </label>
                                                        </div>
                                                    </li>
                                                    <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                        <div ng-class="{true: 'has-error'}">
                                                            <input type="checkbox" disabled class="option-input checkbox"
                                                                   ng-model="Account.IsGSTExempt">
                                                            <label class="taxlist_field">GST Exempt </label>
                                                        </div>
                                                    </li>
                                                    <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                        <div ng-class="{true: 'has-error'}">
                                                            <input type="checkbox" disabled class="option-input checkbox"
                                                                   ng-model="Account.IsHSTExempt">
                                                            <label class="taxlist_field">HST Exempt </label>
                                                        </div>
                                                    </li>
                                                    <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                        <div ng-class="{true: 'has-error'}">
                                                            <input type="checkbox" disabled class="option-input checkbox"
                                                                   ng-model="Account.IsVATExempt">
                                                            <label class="taxlist_field">VAT Exempt </label>
                                                        </div>
                                                    </li>
                                                    <div class="clearfix"> </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="expand_grid" style="padding:10px;">
                                    <ul kendo-panel-bar id="panelbar" style="margin-bottom:0 !important;">
                                        <!--<li>
                                            <div class='k-link k-state-selected'> Tab2 <input type="checkbox" class="cbSelect" /></div>
                                            <div>Test 2</div>
                                        </li>-->
                                        <li>
                                            <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Click to See Additional Contacts</p>
                                            <input type="checkbox" ng-click="refreshAdditionalContactsGrid()" ng-model="External.AdditionalContacts" style="margin-left:30px;" class="cbSelect" /> Show Deleted Additional Contacts
                                            <p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{AdditionalContactServiceTP.ContactList.length}}</p></span>
                                            <div class="kendo_leadpanel">
                                                <hfc-additional-contact is-edit="{{AccountPermission.CanUpdate}}"></hfc-additional-contact>
                                            </div>
                                        </li>
                                        <li>
                                            <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Click to See Additional Addresses</p>
                                                <input type="checkbox" ng-click="refreshAdditionalAddressGrid()"
                                                       ng-model="External.AdditionalAddress" style="margin-left:30px;" class="cbSelect" /> Show Deleted Additional Addresses
                                            <p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{AdditionalAddressServiceTP.AddressList.length}}</p></span>
                                            <div class="kendo_leadpanel">
                                                <hfc-additional-address is-edit="{{AccountPermission.CanUpdate}}"></hfc-additional-address>
                                            </div>
                                        </li>
                                        <li>
                                            <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Notes & Attachments</p>
                                                <input type="checkbox" ng-click="refreshNotesGrid()"
                                                       ng-model="External.Notes" style="margin-left:30px;" class="cbSelect" /> Show Deleted Notes & Attachments<p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{NoteServiceTP.NoteList.length}}</p></span>
                                            <div class="kendo_leadpanel">
                                                <hfc-note-list is-edit="{{AccountPermission.CanUpdate}}"></hfc-note-list>
                                            </div>
                                        </li>
                                        <li>
                                            <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Related Accounts</p><p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{Account.ChildAccountList.length}}</p></span>
                                            <div class="kendo_leadpanel">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <thead class="expand_lhead">
                                                            <tr>
                                                                <th>Company Name</th>
                                                                <th>Name</th>
                                                                <th>Account Type</th>
                                                                <th>Account Status</th>
                                                                <th>Address</th>
                                                                <th>City</th>
                                                                <th>State</th>
                                                                <th>Postal Code</th>
                                                                <th>Created On</th>
                                                                <th>
                                                                    <!--<div class="popup_ticon tooltip-bottom tooltip_cs" data-tooltip="New Additional Contact">
                                                                        <i class="fa fa-plus-square-o"></i>
                                                                    </div>-->
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="child in Account.ChildAccountList">
                                                                <td>
                                                                    {{child.CompanyName}}
                                                                    <!--<a class="leaddet_hfclink" ng-click="AdditionalContactServiceTP.DisplayContactTP($index)">{{ac.FirstName + " " + ac.LastName}}</a>-->
                                                                </td>
                                                                <td><a class="leaddet_hfclink" href="#!/Accounts/{{child.AccountId}}">{{child.Name}}</a></td>
                                                                <td>{{child.AccountType}}</td>
                                                                <td>{{child.AccountStatus}}</td>
                                                                <td>
                                                                    <address class="inline-relative" ng-show="child.Address != '' ? true:false;" hfc-googlemaps="" addr="child.Address">
                                                                        <a class="map_link" style="color: rgb(61,125,139)" target="_blank" href="#" ng-cloak ng-href="{{GetGoogleAddressHref(child.Address)}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP(0)">
                                                                            {{child.Address.Address1+' '+child.Address.Address2}}
                                                                        </a>
                                                                        <div class="mapCanvas"></div>
                                                                    </address>
                                                                </td>
                                                                <td>{{child.Address.City}}</td>
                                                                <td>{{child.Address.State}}</td>
                                                                <td>{{child.Address.ZipCode}}</td>
                                                                <td>{{child.CreatedOnUtc}}</td>
                                                                <td>
                                                                    <ul>
                                                                        <li class="dropdown note1 ad_user">
                                                                            <div class="btn-group">
                                                                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                                                    <i class="fa fa-ellipsis-h dot_icon" aria-hidden="true"></i>
                                                                                </button>
                                                                                <ul class="dropdown-menu pull-right">
                                                                                    <li ng-show="AccountPermission.CanUpdate"><a href="javascript:void(0)" ng-click="EditAccount(child.AccountId)">Edit</a></li>
                                                                                    <li><a href="#!/measurementDetails/{{child.AccountId}}">Measurements</a></li>
                                                                                    <li ng-show="AccountPermission.CanUpdate"><a href="#!/Calendar/Accounts/{{child.AccountId}}">Add Appointment</a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                        <li ng-click="handleKendoPanelBarExpand($event)">
                                            <span style="font-weight:bold; width:100%;">Zillow Information</span>
                                            <div class="zillow_grid">
                                                <!--<div class="zillow_title" ng-if="checkZillowinfo">
                                                    <img src="../../../Content/images/zillow_icon.png" />
                                                </div>-->
                                                <!--<div class="zillow_body" ng-if="checkZillowinfo">-->
                                                <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1" ng-if="zillowdata">
                                                    <div class="zillow_address">
                                                        <a href="{{zillowdata.zillowlink}}" target="_blank">
                                                            See more details for
                                                            [<label ng-show="Account.Addresses[0].Address1 != '' ? true:false;">{{Account.Addresses[0].Address1}}</label>
                                                            <label ng-show="Account.Addresses[0].Address2 != '' ? true:false;">{{Account.Addresses[0].Address2}}</label>
                                                            <label style="text-indent:-4px;">,</label>
                                                            <label ng-show="Account.Addresses[0].City != '' ? true:false;">{{Account.Addresses[0].City}},</label>
                                                            <label ng-show="Account.Addresses[0].State != '' ? true:false;">{{Account.Addresses[0].State}}</label>
                                                            <label ng-show="Account.Addresses[0].ZipCode != '' ? true:false;">{{Account.Addresses[0].ZipCode}}</label>]
                                                            on Zillow
                                                        </a>
                                                    </div>
                                                    <!--<div class="source-group row">
                                                        <label ng-show="ShowZillowlink==true" class="col-sm-3 text_detlabel"><a href="{{zillowdata.zillowlink}}" target="_blank" style="color:#3d7d8b;">Zillow Link <i class="fa fa-external-link"></i></a></label>
                                                    </div>-->
                                                </div>

                                                <div class="zillow_detailbox" ng-if="zillowdata">
                                                    <div class="zillow_section row no-margin">
                                                        <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1">
                                                            <div class="source-group row">
                                                                <label class="col-sm-3 text_detlabel">Year Built</label>
                                                                <div class="col-sm-9">
                                                                    <label class="ldet_label">{{zillowdata.yearBuilt}}</label>
                                                                </div>
                                                            </div>
                                                            <div class="source-group row">
                                                                <label class="col-sm-3 text_detlabel">Lot Size</label>
                                                                <div class="col-sm-9">
                                                                    <label class="ldet_label">{{zillowdata.lotSizeSqFt}}</label>
                                                                </div>
                                                            </div>
                                                            <div class="source-group row">
                                                                <label class="col-sm-3 text_detlabel">Finished Sq Ft</label>
                                                                <div class="col-sm-9">
                                                                    <label class="ldet_label">{{zillowdata.finishedSqFt}}</label>
                                                                </div>
                                                            </div>
                                                            <div class="source-group row">
                                                                <label class="col-sm-3 text_detlabel">Bed Rooms</label>
                                                                <div class="col-sm-9">
                                                                    <label class="ldet_label">{{zillowdata.bedrooms}}</label>
                                                                </div>
                                                            </div>
                                                            <div class="source-group row">
                                                                <label class="col-sm-3 text_detlabel">Bath Rooms</label>
                                                                <div class="col-sm-9">
                                                                    <label class="ldet_label">{{zillowdata.bathrooms}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_2">
                                                            <div class="source-group row">
                                                                <label class="col-sm-3 text_detlabel">Last Sold Date</label>
                                                                <div class="col-sm-9">
                                                                    <label class="ldet_label" ng-if="zillowdata.lastSoldDate!=''">{{zillowdata.lastSoldDate | dateFormat1}}</label>
                                                                </div>
                                                            </div>
                                                            <div class="source-group row">
                                                                <label class="col-sm-3 text_detlabel">Last Sold Price</label>
                                                                <div class="col-sm-9">
                                                                    <label class="ldet_label">{{zillowdata.lastSoldPrice}}</label>
                                                                </div>
                                                            </div>
                                                            <div class="source-group row">
                                                                <label class="col-sm-3 text_detlabel">Zestimate<sup>®</sup></label>
                                                                <div class="col-sm-9">
                                                                    <label class="ldet_label">{{zillowdata.zestimate}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="zillow_footer row">
                                                        <div class="col-md-4 zillow_logo"><a href="http://www.zillow.com" target="_blank"><img src="../../../Content/images/zillow_logo.jpg" alt="" /></a></div>
                                                        <div class="col-md-8 zillow_logocopyright">
                                                            <p>&copy; Zillow, Inc., 2006-2016. Use is subject to <a href="https://www.zillow.com/corp/Terms.htm" target="_blank">Terms of Use</a><br /> <a href="https://www.zillow.com/zestimate" target="_blank">What is Zestimate?</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="zillow_desc" ng-hide="zillowdata">
                                                    <p>No Information Available from Zillow</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end show more-->
                        <!-- Zillow-->
                        <!--<div class="zillow_grid">
                            <div class="zillow_title" ng-if="checkZillowinfo">
                                <img src="../../../Content/images/zillow_icon.png" />&nbsp;Zillow Information&nbsp;
                            </div>
                            <div class="zillow_body" ng-if="checkZillowinfo">
                                <div class="zillow_border">
                                    <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1 lead_topborder" ng-if="zillowdata">
                                        <div class="source-group row">
                                            <label ng-show="ShowZillowlink==true" class="col-sm-3 text_detlabel"><a href="{{zillowdata.zillowlink}}" target="_blank" style="color:#3d7d8b;">Zillow Link <i class="fa fa-external-link"></i></a></label>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                    <div class="zillow_detailbox" ng-if="zillowdata">
                                        <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1">
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Year Built</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.yearBuilt}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Lot Size</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.lotSizeSqFt}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Finished Sq Ft</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.finishedSqFt}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Bed Rooms</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.bedrooms}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Bath Rooms</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.bathrooms}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_2">
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Last Sold Date</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label" ng-if="zillowdata.lastSoldDate!=''">{{zillowdata.lastSoldDate | dateFormat1}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Last Sold Price</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.lastSoldPrice}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">ZEstimate</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.zestimate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="zillow_desc" ng-hide="zillowdata">
                                        <p>No Information Available from Zillow</p>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </form>

        <!-- To display additional address popup -->
        <hfc-additional-address-modal></hfc-additional-address-modal>
        <hfc-note-modal></hfc-note-modal>
        <hfc-lead-source-modal modal-id="leadSourceModal"></hfc-lead-source-modal>
        <hfc-address-modal modal-id="addressModal" lead-id="{{Account.AccountId}}"></hfc-address-modal>
        <hfc-person-modal modal-id="personModal"></hfc-person-modal>
        <hfc-account-modal modal-id="account"></hfc-account-modal>
        <hfc-measurement-modal modal-id="measurements"></hfc-measurement-modal>
        <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>
        <hfc-duplicateAccount-modal></hfc-duplicateAccount-modal>



</div>
<!-- Kendo panelbar checkbox -->
<script>
    $("#panelbar").on("click", "input.cbSelect", function (evt) {
        evt.stopPropagation();
    })
</script>
<!-- End Kendo panelbar checkbox -->
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>