﻿<!--TODO this should be define in Layout page-->

<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>



<div class="outter-wp">
    <div class="tab_container">
                <!---inner tab--->
                <div class="lead_stab">
                    <ul class="tabs1 landing_tab">
                        <li  rel="tab6"><a href="#!/Accounts/{{Account.AccountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a></li>
                        <li ng-show="Account.AccountTypeId != 2" class="activelead1" rel="tab7"><a href="#!/accountsQualify/{{Account.AccountStatusId}}"><h3><i class="far fa-clipboard-list fa_icon"></i><br />Qualify</h3></a></li>
                        <li rel="tab7" ng-show="Permission.AccountQualify && Account.AccountTypeId != 2 && brandid!=3">
                            <a href="#!/measurementDetails/{{Account.AccountId}}" ng-show="Account.AccountTypeId != 2">
                                <h3><i class="measurement_icon"></i><br />Measurements</h3>
                            </a>
                        </li>
                        <li rel="tab7"><a href="#!/accountopportunitySearch/{{Account.AccountId}}"><h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3></a></li>
                        <li rel="tab7"><a href="#!/accountordersSearch/{{Account.AccountId}}"><h3><i class="order_icon"></i><br />Orders</h3></a></li>
                        <li rel="tab7"><a href="#!/accountInvoiceSearch/{{Account.AccountId}}"><h3><i class="invoice_icon"></i><br />Invoice</h3></a></li>
                        <li rel="tab7"><a href="#!/accountPaymentSearch/{{Account.AccountId}}"><h3><i class="payment_icon"></i><br />Payments</h3></a></li>
                    </ul>
                    <div class="leaddetail_butns">
                        <!--<button type="reset" class="btn btn-primary cancel_but" ng-disabled="IsBusy" ng-click="PersonService.AddOrEditAccountAppointment('persongo',this)"> Set Appointment</button>-->
                        <!--<a href="" title="Set Appointment" ng-disabled="IsBusy" style="margin-right:15px;" ng-click="PersonService.AddOrEditAccountAppointment('persongo',this)" ><i class="fa fa-calendar sub-head-icon"></i></a>-->
                        <a href="" title="Edit Quality" ng-click="AccountEditQualify()"><i class="far fa-pen vendor_icon"></i></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <!-- Added for Qualification -->
                <div class="tab_container tp_content">
                    <div class="error" ng-show="!Permission.AccountQualify">
                        You don't have permission to this page.
                    </div>
                    <div ng-show="Permission.AccountQualify">
                        <div class="p-3">
                            <div class="container-fluid">
                                <div ng-if="CompanyName == null">Account Name: {{Account.PrimCustomer.FirstName}} {{Account.PrimCustomer.LastName}} </div>
                                <div ng-if="CompanyName != null">Account Name:{{Account.PrimCustomer.FirstName}} {{Account.PrimCustomer.LastName}} / {{Account.PrimCustomer.CompanyName}}</div>
                                <div style="margin-top: 15px;margin-bottom: 15px;height: 2px; background-color: gray; text-align: left">
                                    <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -0.5em;">
                                        <label>Project Needs:</label>
                                    </span>
                                </div>
                                <div class="sub_expandlead">
                                    <div class="row" data-id="qanda" ng-repeat="QuestionSelect in UniqueQuestions">
                                        <h4><small ng-bind="QuestionSelect"></small></h4>
                                        <div class="row">
                                          <div class="col-xs-6 col-xl-3" ng-repeat="CurrentQuestion in GetQuestion(AllQuestions, QuestionSelect)">
                                            <div ng-if="CurrentQuestion.SelectionType == 'checkbox'">
                                                <label class="qualify_label">
                                                <input type="checkbox" 
                                                       class="option-input checkbox" 
                                                       ng-model="CurrentQuestion.Answer" 
                                                       ng-disabled="isDisabled" 
                                                       ng-checked="CurrentQuestion.Answer=='true'" />&nbsp;&nbsp;{{CurrentQuestion.SubQuestion}}</label>
                                            </div>
                                            <div ng-if="CurrentQuestion.SelectionType == 'textbox'">
                                                <label class="qualify_label">{{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                <input type="text" 
                                                       class="form-control qualify_text" 
                                                       ng-model="CurrentQuestion.Answer" 
                                                       ng-disabled="isDisabled" /></label>
                                            </div>
                                            <div ng-if="CurrentQuestion.SelectionType == 'option'">
                                                <div ng-repeat="optquestion in CurrentQuestion.SubQuestion.split(';')">
                                                    <div>
                                                        <label class="qualify_label">
                                                            <input type="radio"
                                                                   class="option-input radio"
                                                                   ng-model="CurrentQuestion.Answer"
                                                                   value="{{optquestion}}"
                                                                   name="rdo{{QuestionSelect.replace(' ','')}}"
                                                                   ng-disabled="isDisabled" />&nbsp;&nbsp;{{optquestion}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="CurrentQuestion.SelectionType == 'date'">
                                                <label class="qualify_label">{{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                <input type="date" 
                                                       class="form-control" 
                                                       value="{{CurrentQuestion.Answer | date: CurrentQuestion.Answer}}" 
                                                       ng-model="CurrentQuestion.Answer" 
                                                       name="dt{{CurrentQuestion.QuestionId}}" 
                                                       validatedateformat 
                                                       data-date-format="mm/dd/yyyy" 
                                                       maxlength="10" 
                                                       id="id{{CurrentQuestion.QuestionId}}" 
                                                       calendar 
                                                       ng-disabled="isDisabled" /></label>
                                            </div>
                                          </div>
                                        </div>
                                      
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
                <hfc-person-modal-Go modal-id="persongo"></hfc-person-modal-Go>
                <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>
                <!-- End Qualification -->
          
        </div>
  </div>

 