﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
    .errortext, .errorTP {
        color: red !important;
    }
    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }

    .tab_container .appointment .addres_link strong {
        font-size: 14px;
    }
</style>
<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>

<div class="outter-wp">
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6">
                        <a href="#!/Accounts/{{aptmtCtrl.accountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
                    </li>
                    <li rel="tab7" ng-show="BrandId!=3">
                        <a href="#!/measurementDetails/{{aptmtCtrl.accountId}}">
                            <h3><i class="measurement_icon"></i><br />Measurements</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountopportunitySearch/{{aptmtCtrl.accountId}}">
                            <h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountordersSearch/{{aptmtCtrl.accountId}}">
                            <h3><i class="order_icon"></i><br />Orders</h3>
                        </a>
                    </li>
                    <!--<li rel="tab7">
                        <a href="#!/accountInvoiceSearch/{{aptmtCtrl.accountId}}">
                            <h3><i class="invoice_icon"></i><br />Invoice</h3>
                        </a>
                    </li>-->
                    <li rel="tab7">
                        <a href="#!/accountPaymentSearch/{{aptmtCtrl.accountId}}">
                            <h3><i class="payment_icon"></i><br />Payments</h3>
                        </a>
                    </li>
                    <li rel="tab7" class="activelead1">
                        <a href="#!/accountAppointments/{{aptmtCtrl.accountId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountCommunicationLog/{{aptmtCtrl.accountId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <button ng-if="Permission.AddAccount" type="reset"  class="tooltip-bottom cancel_tpbut" data-tooltip="New Account" ng-disabled="IsBusy" ng-click="CreateNewAccount()"><i class="far fa-plus-square fa_icon"></i></button>
                    <button ng-if="Permission.AccountEdit" type="button"  class="tooltip-bottom save_tpbut" data-tooltip="Edit Account" ng-disabled="IsBusy" ng-click="EditAccount(aptmtCtrl.accountId)"><i class="far fa-pen fa_icon"></i></button>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="tab_container tp_content">
                    <!--<div class="error">
                        You don't have permission to this page.
                    </div>-->
                    <div class="p-3 appointment">
                            <div class="addres_link" ng-show="!aptmtCtrl.Account.IsCommercial"> 
                             <strong>Account Name : </strong> <a href="#!/Accounts/{{aptmtCtrl.accountId}}" style="color: rgb(61,125,139);">{{aptmtCtrl.Account.PrimCustomer.FirstName}}&nbsp;{{aptmtCtrl.Account.PrimCustomer.LastName}} <span ng-show="!aptmtCtrl.Account.PrimCustomer.CompanyName ==''">{{"/"}}</span> {{aptmtCtrl.Account.PrimCustomer.CompanyName}}</a>
                            </div>
                            <div class="addres_link" ng-show="aptmtCtrl.Account.IsCommercial">
                                <strong>Account Name : </strong> <a href="#!/Accounts/{{aptmtCtrl.accountId}}" style="color: rgb(61,125,139);">{{aptmtCtrl.Account.PrimCustomer.CompanyName+" / "}}{{aptmtCtrl.Account.PrimCustomer.FirstName}}&nbsp;{{aptmtCtrl.Account.PrimCustomer.LastName}}</a>
                            </div>
                            <h1 class="mt-4 mb-2">Calendar Events</h1>
                            <hfc-appointment-event-list associated-with="Account" account-id="{{aptmtCtrl.accountId}}" is-edit="{{Permission.AccountEdit}}" access-permission="Permission"></hfc-appointment-event-list>
                            <h2>Calendar Tasks</h2>
                            <hfc-appointment-task-list associated-with="Account" account-id="{{aptmtCtrl.accountId}}" is-edit="{{Permission.AccountEdit}}" access-permission="Permission"></hfc-appointment-task-list>
                    </div>
            </div>
            <hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>
            <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
            <hfc-note-modal></hfc-note-modal>
            <hfc-fileprint-modal modal-id="fileprint" lead-id="{{aptmtCtrl.accountId}}"></hfc-fileprint-modal>
</div>



