﻿<!--TODO this should be define in Layout page-->
<!--This page is to display the list of appointments-->
<div class="outter-wp">
    <div class="tab_container">
        <div id="tab2" class="tab_content">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6">
                        <a href="#!/Accounts/{{Account.AccountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
                    </li>
                    <li rel="tab7" ng-show="Account.AccountTypeId != 3">
                        <a href="#!/accountsQualify/{{Account.AccountId}}">
                            <h3><i class="far fa-clipboard-list fa_icon"></i><br />Qualify</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountopportunitySearch/{{Account.AccountId}}">
                            <h3><i class="fa fa-usd user_icon"></i><br />Opportunities</h3>
                        </a>
                    </li>
                    <li class="activelead1" rel="tab8">
                        <a href="#!/accountappointments/{{Account.AccountId}}">
                            <h3><i class="appointment_icon"></i><br />Appointment</h3>
                        </a>
                    </li>
                    <li class="tab_last">
                        <h3 ng-click="returnToAccountList()"><i class="return_icon"></i><br />Return</h3>
                    </li>
                 </ul>
                 <div class="clearfix"></div>
            </div>
           
                <div style="margin-top: -10px;">
                        <div class="table-responsive" ng-controller="appointmentSearchController">
                            <h4 id="titleHeading"></h4>
                            <kendo-grid id="gridappointmentSearch" style="margin-bottom:50px" options="AppointmentSearchService.Appointment_options">
                            </kendo-grid>
                        </div>
                </div>

            
            <!---end inner tab-->
        </div>

    </div>
</div>
<hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>
















