﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
    .errortext, .errorTP {
        color: red !important;
    }
    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }
</style>

<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>
<div class="outter-wp">
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6">
                        <a href="#!/Accounts/{{cmctnCtrl.accountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
                    </li>
                    <li rel="tab7" ng-show="BrandId!=3">
                        <a href="#!/measurementDetails/{{cmctnCtrl.accountId}}">
                            <h3><i class="measurement_icon"></i><br />Measurements</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountopportunitySearch/{{cmctnCtrl.accountId}}">
                            <h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountordersSearch/{{cmctnCtrl.accountId}}">
                            <h3><i class="order_icon"></i><br />Orders</h3>
                        </a>
                    </li>
                    <!--<li rel="tab7">
                        <a href="#!/accountInvoiceSearch/{{cmctnCtrl.accountId}}">
                            <h3><i class="invoice_icon"></i><br />Invoice</h3>
                        </a>
                    </li>-->
                    <li rel="tab7">
                        <a href="#!/accountPaymentSearch/{{cmctnCtrl.accountId}}">
                            <h3><i class="payment_icon"></i><br />Payments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountAppointments/{{cmctnCtrl.accountId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <!--<li rel="tab7" class="activelead1">
                        <a href="#!/accountCommunication/{{cmctnCtrl.accountId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>-->
                    <li rel="tab7" class="activelead1">
                        <a href="#!/accountCommunicationLog/{{cmctnCtrl.accountId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <button ng-if="Permission.AddAccount" type="reset"  class="tooltip-bottom cancel_tpbut" data-tooltip="New Account" ng-disabled="IsBusy" ng-click="CreateNewAccount()"><i class="far fa-plus-square fa_icon"></i></button>
                    <button ng-if="Permission.AccountEdit" type="button" class="tooltip-bottom save_tpbut" data-tooltip="Edit Account" ng-disabled="IsBusy" ng-click="EditAccount(cmctnCtrl.accountId)"><i class="far fa-pen fa_icon"></i></button>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="tab_container tp_content">
                    <!--<div class="error">
                        You don't have permission to this page.
                    </div>-->
                    <!--<div>
                        <button type="button" ng-click="cmctnCtrl.testPublish()" >Test publish</button>
                    </div>-->
                    <div class="error" ng-show="!(Permission.ListCommunicationAccount)">
                        You don't have permission to this page.
                    </div>
                    <div class="appointment" ng-if="Permission.ListCommunicationAccount">
                        <div class="p-3">
                            <div class="addres_link" ng-show="!cmctnCtrl.Account.IsCommercial">
                                <strong>Account Name : </strong> <a href="#!/Accounts/{{cmctnCtrl.accountId}}" style="color: rgb(61,125,139);">{{cmctnCtrl.Account.PrimCustomer.FirstName}}&nbsp;{{cmctnCtrl.Account.PrimCustomer.LastName}} <span ng-show="!cmctnCtrl.Account.PrimCustomer.CompanyName==''">{{"/"}}</span> {{cmctnCtrl.Account.PrimCustomer.CompanyName}}</a>
                            </div>
                            <div class="addres_link" ng-show="cmctnCtrl.Account.IsCommercial">
                                <strong>Account Name : </strong> <a href="#!/Accounts/{{cmctnCtrl.accountId}}" style="color: rgb(61,125,139);">{{cmctnCtrl.Account.PrimCustomer.CompanyName+" / "}}{{cmctnCtrl.Account.PrimCustomer.FirstName}}&nbsp;{{cmctnCtrl.Account.PrimCustomer.LastName}}</a>
                            </div>
                            <div class="mt-4">
                                <hfc-communication-list account-id="{{cmctnCtrl.accountId}}"  read-only="{{Permission.AccountEdit}}" notify-email="cmctnCtrl.Account.IsNotifyemails" notify-text="cmctnCtrl.Account.IsNotifyText" associated-with="Account"></hfc-communication-list>
                            </div>
                        </div>
                    </div>
            </div>
            <!--<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
            <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
            <hfc-note-modal></hfc-note-modal>
            <hfc-fileprint-modal modal-id="fileprint" lead-id="{{cmctnCtrl.accountId}}"></hfc-fileprint-modal>
</div>



