﻿<!--TODO this should be define in Layout page-->
<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>





    <div class="outter-wp">
        <!--<section class="my_sub_header_1">
            <nav class="navbar navbar-default my-navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                    </div>
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/leadsSearch/">Leads</a></li>
                        <li class="active"><a href="/#!/accountSearch/">Accounts</a></li>
                        <li><a href="/#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="/#!/orderSearch/">Orders</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right my-navbar-right">
                       <li ng-if="HFCService.GetPermissionTP('Set Disposition').CanAccess">
                        <button type="button" class="tooltip-bottom pad_icon" 
                                data-tooltip="Add Appointment" 
                                ng-click="PersonService.AddAccountAppointment('persongo',this.Account.AccountId,'event')">
                           </button></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right my-navbar-right">
                        <li ng-if="HFCService.GetPermissionTP('Set Disposition').CanAccess">
                            <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Add Task"
                                    ng-click="PersonService.AddAccountAppointment('persongo',this.Account.AccountId,'task')">
                                <i class="far fa-tasks task_icon"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>-->
        <div class="tab_container">
            <h3 class="d_active tab_drawer_heading" rel="tab2">Tab 2</h3>
            <div id="tab2" class="tab_content">
                <!---inner tab--->
                <div class="lead_stab">
                    <ul class="tabs1 landing_tab">
                        <li rel="tab6"><a href="#!/accountEdit/{{Account.AccountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a> </li>
                        <li ng-show="Account.AccountTypeId != 2" class="activelead1" rel="tab7"><a href="#!/accountsQualify/{{Account.AccountId}}"><h3><i class="far fa-clipboard-list fa_icon"></i><br />Qualify</h3></a></li>
                        <li rel="tab7"><a href="#!/accountopportunitySearch/{{Account.AccountId}}"><h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3></a></li>
                        <li rel="tab7"><a href="#!/accountordersSearch/{{Account.AccountId}}"><h3><i class="order_icon"></i><br />Orders</h3></a></li>
                        <li rel="tab7"><a href="#!/accountInvoiceSearch/{{Account.AccountId}}"><h3><i class="invoice_icon"></i><br />Invoice</h3></a></li>
                        <li rel="tab7"><a href="#!/accountPaymentSearch/{{Account.AccountId}}"><h3><i class="payment_icon"></i><br />Payments</h3></a></li>
                    </ul>
                    <div class="leaddetail_butns">
                        <a href="" title="Save" style="margin-right:15px;" ng-disabled="IsBusy" ng-click="(fQlfy.fngQ1.Qdt.$valid || fQlfy.fngQ1.Qdt.$viewValue == '' || fQlfy.fngQ1.Qdt.$viewValue == null) && (fQlfy.fngQ2.Qdt.$valid || fQlfy.fngQ2.Qdt.$viewValue == '' || fQlfy.fngQ2.Qdt.$viewValue == null) && SaveQualify()"><i class="far fa-check-circle fa_icon" ></i></a>
                        <!--<a href="" title="Set Appointment" ng-disabled="IsBusy" ng-click="PersonService.AddOrEditAccountAppointment('persongo',this)"><i class="fa fa-calendar sub-head-icon"></i></a>-->
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <form name="fQlfy" novalidate>
                    <!-- Added for Qualification -->
                    <div class="tab_container tp_content">
                        <h3 class="d_active tab_drawer_heading" rel="tab7">Tab 7</h3>
                        <div id="tab7" class="tab_content2">
                            <div class="p-3">
                                <div class="container-fluid">
                                    <div>Account Name: {{Account.PrimCustomer.FirstName}} {{Account.PrimCustomer.LastName}}</div>
                                    <div style="margin-top: 15px;margin-bottom: 15px;height: 2px; background-color: gray; text-align: left">
                                        <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -9px;">
                                            <label ng-disabled="isDisabled">Project Needs:</label>
                                        </span>
                                    </div>
                                    <div class="sub_expandlead">
                                        <div class="row" data-id="qanda" ng-repeat="QuestionSelect in UniqueQuestions">
                                            <h4><small ng-bind="QuestionSelect"></small></h4>
                                            <div class="col-xs-6 col-xl-3" ng-repeat="CurrentQuestion in GetQuestion(AllQuestions, QuestionSelect)">
                                                <div ng-if="CurrentQuestion.SelectionType == 'checkbox'">
                                                    <label class="qualify_label">
                                                        <input type="checkbox"
                                                               class="option-input checkbox"
                                                               ng-model="CurrentQuestion.Answer"
                                                               ng-checked="CurrentQuestion.Answer=='true'"
                                                               ng-true-value="'true'"
                                                               ng-false-value="'false'" />&nbsp;&nbsp;{{CurrentQuestion.SubQuestion}}
                                                    </label>
                                                </div>
                                                <div ng-if="CurrentQuestion.SelectionType == 'textbox'">
                                                    <label class="qualify_label">
                                                        {{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                        <input type="text"
                                                               class="form-control"
                                                               ng-model="CurrentQuestion.Answer" />
                                                    </label>
                                                </div>
                                                <div ng-if="CurrentQuestion.SelectionType == 'option'">
                                                    <div ng-repeat="optquestion in CurrentQuestion.SubQuestion.split(';')">
                                                        <div>
                                                            <label class="qualify_label">
                                                                <input type="radio"
                                                                       class="option-input radio"
                                                                       ng-model="CurrentQuestion.Answer"
                                                                       name="rdo{{QuestionSelect.replace(' ','')}}"
                                                                       value="{{optquestion}}" />&nbsp;&nbsp;{{optquestion}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div ng-if="CurrentQuestion.SelectionType == 'date'">
                                                    <ng-form name="fngQ{{$index}}">
                                                        <div class="form-group row ml-0 mr-0" ng-class="{true: 'has-error'}[fngQ{{$index}}.Qdt.$invalid]">
                                                            <label class="qualify_label">
                                                                {{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                                <input type="date"
                                                                       class="form-control"
                                                                       ng-model="CurrentQuestion.Answer"
                                                                       format-Date
                                                                       name="Qdt"
                                                                       calendar
                                                                       cs-date-to-iso
                                                                       min="{{Qdt != undefined ? Qdt : minDate |GlobalTime:'shortDate'}}"
                                                                       max="{{Qdt != undefined ? Qdt : maxDate |GlobalTime:'shortDate'}}" />
                                                            </label>
                                                        </div>
                                                    </ng-form>
                                                </div>

                                            </div>
                                            <div ng-if="QuestionSelect=='Other Comments?'">
                                                <div>&nbsp;</div><div>&nbsp;</div>
                                                <div style="margin-top: 15px;margin-bottom: 15px;height: 2px; background-color: gray; text-align: left">
                                                    <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -9px;">
                                                        <label>Project Needs:</label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div ng-if="QuestionSelect=='What type of treatment are you interested in?'">
                                                <div>&nbsp;</div><div>&nbsp;</div>
                                                <div style="margin-top: 15px;margin-bottom: 15px;height: 2px; background-color: gray; text-align: left">
                                                    <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -9px;">
                                                        <label>Dropery:</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                    <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
                    <hfc-person-modal-Go modal-id="persongo"></hfc-person-modal-Go>
                    <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>
                    <!-- End Qualification -->
</div>
        </div>
    </div>
