﻿<!--TODO this should be define in Layout page-->
<div class="outter-wp">
    <section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/leadsSearch/">Leads</a></li>
                        <li class="active"><a href="#!/accountSearch/">Accounts</a></li>
                        <li><a href="#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="#!/orderSearch/">Orders</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right my-navbar-right">
                        <li>
                            <button type="button" class="tooltip-bottom sw_icon" data-tooltip="New Note" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddNoteTP()"></button>
                        </li>
                        <li ng-if="HFCService.GetPermissionTP('Set Disposition').CanAccess">
                        <button type="button" class="tooltip-bottom pad_icon" 
                                data-tooltip="Add Appointment" 
                                ng-click="PersonService.AddAccountAppointment('persongo',this.Account.AccountId,'event')">
                            </button></li>

                        <li ng-if="HFCService.GetPermissionTP('Set Disposition').CanAccess">
                            <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Add Task"
                                    ng-click="PersonService.AddAccountAppointment('persongo',this.Account.AccountId,'task')">
                                <i class="far fa-tasks task_icon"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="tooltip-bottom note_icon" data-tooltip="New Attachment" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddAttachment()"></button>
                        </li>
                       
                        <li><button type="button" class="tooltip-bottom post_icon" data-tooltip="Email"></button></li>
                    </ul>
                    
                </div>
            </div>
        </nav>
    </section>
   
    <div class="tab_container">
       
        <div id="tab2" class="tab_content">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6">
                        <a href="#!/Accounts/{{Account.AccountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
                    </li>
                    <li rel="tab7" ng-show="BrandId!=3">
                        <a href="#!/measurementDetails/{{Account.AccountId}}">
                            <h3><i class="measurement_icon"></i><br />Measurements</h3>
                        </a>
                    </li>
                    <li  rel="tab7">
                        <a href="#!/accountopportunitySearch/{{Account.AccountId}}">
                            <h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3>
                        </a>
                    </li>
                    <li rel="tab7" >
                        <a href="#!/accountordersSearch/{{Account.AccountId}}">
                            <h3><i class="order_icon"></i><br />Orders</h3>
                        </a>
                    </li>
                    <li rel="tab7" class="activelead1">
                        <a href="#!/accountInvoiceSearch/{{Account.AccountId}}">
                            <h3><i class="invoice_icon"></i><br />Invoice</h3>
                        </a>
                    </li>
                    <!--added the code for the permission check-->
                    <!--<li>
                        value:--{{Permission.AccountInvoice}}
                    </li>-->
                    <li rel="tab7" >
                        <a href="#!/accountPaymentSearch/{{Account.AccountId}}">
                            <h3><i class="payment_icon"></i><br />Payments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountAppointments/{{Account.AccountId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountCommunication/{{Account.AccountId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!---end inner tab-->
        </div>
        <div class="tab_container tpsearch_content account_box">
           
            <div class="error" ng-if="!(Permission.AccountInvoice)">
                You don't have permission to this page.
            </div>
            <div id="tab7" ng-if="Permission.AccountInvoice">
                <div class="table-responsive" ng-controller="invoiceSearchController">
                    <h4 id="titleHeading"></h4>
                    <kendo-grid id="gridinvoiceSearch" style="margin-bottom:50px" options="InvoiceSearchService.Invoices_options">
                    </kendo-grid>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<hfc-note-modal></hfc-note-modal>
<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>
<hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>










