﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }
    form > div.k-animation-container
    {
       padding-right: 15px !important;
    }
</style>
<!--TODO this should be define in Layout page-->
<div class="outter-wp">
         <!---inner tab--->
            <div class="lead_stab" id="listdiv">
                <ul class="tabs1 landing_tab">
                    <li  rel="tab6">
                        <a href="#!/Accounts/{{Account.AccountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
                    </li>
                    <li rel="tab7" ng-show="BrandId!=3">
                        <a href="#!/measurementDetails/{{Account.AccountId}}">
                            <h3><i class="measurement_icon"></i><br />Measurements</h3>
                        </a>
                    </li>
                    <li class="activelead1" rel="tab7">
                        <a href="#!/accountopportunitySearch/{{Account.AccountId}}">
                            <h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountordersSearch/{{Account.AccountId}}">
                            <h3><i class="order_icon"></i><br />Orders</h3>
                        </a>
                    </li>
                    <!--<li rel="tab7">
                        <a href="#!/accountInvoiceSearch/{{Account.AccountId}}">
                            <h3><i class="invoice_icon"></i><br />Invoice</h3>
                        </a>
                    </li>-->
                    <li rel="tab7">
                        <a href="#!/accountPaymentSearch/{{Account.AccountId}}">
                            <h3><i class="payment_icon"></i><br />Payments</h3>
                        </a>
                    </li>
                   
                    <li rel="tab7">
                        <a href="#!/accountAppointments/{{Account.AccountId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountCommunicationLog/{{Account.AccountId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <button ng-if="Permission.AddOpportunity" type="button" class="plus_but tooltip-bottom"  data-tooltip="New Opportunity" ng-click="NewOpportunitypage(Account.AccountId)">
                        <i class="far fa-plus-square"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <!---end inner tab-->
        
        <div  class="tab_container tpsearch_content">
            <div class="error" ng-if="!Permission.ListOpportunity">
                You don't have permission to page---.
            </div>
           
            <div ng-if="Permission.ListOpportunity">
                    <div class="table-responsive" ng-controller="opportunitySearchController">
                        <div id="MenuDiv">
                            <div class="mx-2 my-2 addres_link" ng-show="!appointAccount.Account.IsCommercial">                                
                                    <strong>Account Name:  </strong><a href="#!/Accounts/{{Account.AccountId}}" style="color: rgb(61,125,139);">{{appointAccount.Account.PrimCustomer.FullName}} <span ng-show="!appointAccount.Account.PrimCustomer.CompanyName==''">{{" / "}}</span> {{appointAccount.Account.PrimCustomer.CompanyName}}</a>
                                </div>
                            <div class="mx-2 my-2 addres_link" ng-show="appointAccount.Account.IsCommercial">
                                <strong>Account Name:  </strong>  <a href="#!/Accounts/{{Account.AccountId}}" style="color: rgb(61,125,139);">{{appointAccount.Account.PrimCustomer.CompanyName}} <span ng-show="!appointAccount.Account.PrimCustomer.CompanyName==''" >{{" / "}}</span> {{appointAccount.Account.PrimCustomer.FullName}}</a>
                                <!--<a href="#!/Accounts/{{Account.AccountId}}" style="color: rgb(61,125,139);">{{appointAccount.Account.PrimCustomer.FullName}}</a>-->
                            </div>
                            </div>
                        <!--<kendo-tooltip options="kendotooltipOptions">-->
                            <kendo-grid id="gridopportunitySearch" class="noscroll-grid" options="OpportunitySearchService.Opportunitys_options" style="margin-bottom:40px !important;" ></kendo-grid>
                        <!--</kendo-tooltip>-->
                    </div>
           </div>
       </div>
  
</div>
<hfc-note-modal></hfc-note-modal>
<!--<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
<hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>
<iframe id="print_frame" style="visibility: hidden; height: 0px; width: 0px"></iframe>

