﻿<!--TODO this should be define in Layout page-->
<div class="outter-wp">
     

    <div class="tab_container">
       <div id="tab2" class="tab_content">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6">
                        <a href="#!/Accounts/{{Account.AccountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
                    </li>
                    <li rel="tab7" ng-show="BrandId!=3">
                        <a href="#!/measurementDetails/{{Account.AccountId}}" >
                            <h3><i class="measurement_icon"></i><br />Measurements</h3>
                        </a>
                    </li>0
                    <li rel="tab7">
                        <a href="#!/accountopportunitySearch/{{Account.AccountId}}">
                            <h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3>
                        </a>
                    </li>
                    <li rel="tab7" class="activelead1">
                        <a href="#!/accountordersSearch/{{Account.AccountId}}">
                            <h3><i class="order_icon"></i><br />Orders</h3>
                        </a>
                    </li>
                    <!--<li rel="tab7">
                        <a href="#!/accountInvoiceSearch/{{Account.AccountId}}">
                            <h3><i class="invoice_icon"></i><br />Invoice</h3>
                        </a>
                    </li>-->
                    <li rel="tab7">
                        <a href="#!/accountPaymentSearch/{{Account.AccountId}}">
                            <h3><i class="payment_icon"></i><br />Payments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountAppointments/{{Account.AccountId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountCommunication/{{Account.AccountId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
          </div>
            <!---end inner tab-->
        </div>
        <div class="tab_container tpsearch_content">
            <div class="error" ng-show="!(Permission.AccountOrderList)">
                You don't have permission to this page.
            </div>
            <div id="tab7" ng-show="Permission.AccountOrderList">
                <div class="table-responsive" ng-controller="orderSearchController">
                    <div class="form-control" style="background-color:#f7f7f7;border:0px !important;">
                        <strong>Account Name  </strong><a href="#!/Accounts/{{Account.AccountId}}" style="color: rgb(61,125,139);">{{appointAccount.Account.PrimCustomer.FullName}}</a>
                    </div>
                   
                    <!--<kendo-grid id="gridOrderSearch" style="margin-bottom:50px" options="OrderSearchService.Orders_options">
                    </kendo-grid>-->
                    <!--<kendo-tooltip options="kendotooltipOptions">-->
                        <kendo-grid id="gridOrderSearch" options="OrderSearchService.Orders_options" style="margin-bottom:40px !important;" ></kendo-grid>
                    <!--</kendo-tooltip>-->
                </div>
            </div>
       </div>
    </div>
</div>
<hfc-note-modal></hfc-note-modal>

<hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>

<iframe id="print_frame" style="visibility: hidden; height: 0px; width: 0px"></iframe>













