﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    form > div.k-animation-container
    {
       padding-right: 15px !important;
    }
    /*.k-grid-header tr th, .k-grid-content tr td {
        font-weight:100 !important;
        white-space: nowrap;
        text-overflow: ellipsis !important;
    }
    .k-grid-content tr td:last-child {
        overflow: visible !important;
    }
    .k-grid-content tr td .tooltip-wrapper .tooltip-content {
        visibility: hidden;
    }*/
   
</style>
<div class="outter-wp">
    <div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <!-- Account search Header template -->
    <script type="text/x-kendo-template" id="accountSearchHeaderTemplate">
        <div class="tp_leadsearch row no-margin">
            <div class="leadsearch_topleft row no-margin col-sm-10 col-md-10 col-xs-10 no-padding">
                <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                    <input ng-keyup="AccountgridSearch()" type="text" id="searchBox"
                           placeholder="Search Account" class="k-textbox leadsearch_tbox">
                </div>
                <div class="col-xs-2 col-sm-2 no-padding hfc_leadbut">
                    <input type="button" id="btnReset" ng-click="AccountgridSearchClear()"
                           class="k-button btn btn-primary cancel_but" value="Clear All Filters">
                </div>
                <div class="col-xs-8 col-sm-8 hfc_leadchkbox">
                    <input class="option-input checkbox" name="inactiveMergedAccount_Check"
                           type="checkbox"
                           ng-click="GetSearchAccounts_forcheck()">
                    <label class="ldet_label">Display Inactive / Merged Accounts</label>
                </div>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 no-padding">
                <div class="leadsearch_icon">
                    <ul class="orderlist_box">
                        <li><button type="button" class="tooltip-bottom hfc_bgbut"
                                data-tooltip="Download Accounts" ng-click="DownloadAccount_Excel()">
                            <i class="far fa-cloud-download"></i>
                        </button></li>
                        <li ng-show ="AccountPermission.CanUpdate"><button type="button" class="tooltip-bottom hfc_bgbut"
                                data-tooltip="New Account" ng-click="NewAccountpage()">
                            <i class="far fa-plus-square"></i>
                        </button></li>
                    </ul>
                </div>
            </div>
        </div>
    </script>
    <div class="tab_container tpsearch_content">
        <div class="error error_msg" style="margin-top:30px;" ng-if="!Permission.ListAccount">
            You don't have permission to this page.
        </div>
        <div ng-if="Permission.ListAccount">
            <div class="table-responsive tooltipgrid_section ipadpage_hiding" ng-controller="accountSearchController">
                <kendo-grid id="gridAccountSearch" class="noscroll-grid ipadspace_grid" options="AccountSearchService.Accounts_options" style="margin-bottom:40px !important;">
                </kendo-grid>
            </div>
        </div>
        <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>
    </div>
</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>
