﻿<div class="container-fluid">
    <div class="row">
        <form data-bind="submit: ApplyFilter" role="form" class="crm-filter-form">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-lg-3 col-xl-2">
                        <div class="form-group">
                            <a href="" class="btn btn-default" ng-click="exportExcel()">Save to Excel</a>
                            <!--<button class="btn btn-primary" type="submit" ng-click="applyFilter()" id="searchBtn">
                                    <span class="visible-xs">
                                        <span class="glyphicon glyphicon-filter"></span>
                                    </span>
                                    <span class="hidden-xs">Filter</span>
                                </button>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="exportBtn">
                                        <span class="glyphicon glyphicon-export"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a ng-click="exportExcel()">Save to Excel</a></li>
                                    </ul>
                                </div>-->

                            

                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="col-xs-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                <a ng-click="filter.predicate = (filter.predicate == '-invoiceNumber' ? '+' : '-') + 'invoiceNumber'">
                                    <span ng-show="filter.orderBy() == 'invoiceNumber'"><i class="glyphicon" ng-class="filter.orderByDesc() ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></span>Invoice #
                                </a>
                            </th>
                            <th>
                                <a  ng-click="filter.predicate = (filter.predicate == '-Status' ? '+' : '-') + 'Status'">
                                    <span ng-show="filter.orderBy() == 'Status'"><i class="glyphicon" ng-class="filter.orderByDesc() ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></span>Status
                                </a>
                            </th>
                            <th>
                                <a  ng-click="filter.predicate = (filter.predicate == '-Balance' ? '+' : '-') + 'Balance'">
                                    <span ng-show="filter.orderBy() == 'Balance'"><i class="glyphicon" ng-class="filter.orderByDesc() ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></span>Balance
                                </a>
                            </th>
                            <th>
                                <a  ng-click="filter.predicate = (filter.predicate == '-Total' ? '+' : '-') + 'Total'">
                                    <span ng-show="filter.orderBy() == 'Total'"><i class="glyphicon" ng-class="filter.orderByDesc() ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></span>Total
                                </a>
                            </th>
                            <th>
                                <a  ng-click="filter.predicate = (filter.predicate == '-JobNumber' ? '+' : '-') + 'JobNumber'">
                                    <span ng-show="filter.orderBy() == 'JobNumber'"><i class="glyphicon" ng-class="filter.orderByDesc() ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></span>Job #
                                </a>
                            </th>
                            <th>
                                <a  ng-click="filter.predicate = (filter.predicate == '-Customer' ? '+' : '-') + 'Customer'">
                                    <span ng-show="filter.orderBy() == 'Customer'"><i class="glyphicon" ng-class="filter.orderByDesc() ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></span>Customer
                                </a>
                            </th>
                            <th>
                                Contact Info
                                
                            </th>
                            <th>
                                <a  ng-click="filter.predicate = (filter.predicate == '-CreatedOn' ? '+' : '-') + 'CreatedOn'">
                                    <span ng-show="filter.orderBy() == 'CreatedOn'"><i class="glyphicon" ng-class="filter.orderByDesc() ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></i></span>Created On
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr sly-repeat="invoice in invoices" ng-class="{ngFade: !HFC.Browser.isMobile()}">
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a ng-href="#/invoices/detail/{{invoice.InvoiceId}}/">View detail</a></li>
                                        <li><a ng-click="void(invoice)">Delete</a></li>

                                    </ul>
                                </div>

                            </td>
                            <td><a ng-href="#/invoices/detail/{{invoice.InvoiceId}}/"><i class="glyphicon glyphicon-new-window"></i> {{invoice.InvoiceNumber}}</a></td>
                            <td ng-switch="invoice.StatusEnum">
                                <button type="button" class="btn btn-sm btn-block btn-info" ng-switch-when="2">Partial</button>
                                <button type="button" class="btn btn-sm btn-block btn-success" ng-switch-when="1">Paid</button>
                                <button type="button" class="btn btn-sm btn-block btn-danger" ng-switch-default>Open</button>
                            </td>
                            <td>{{invoice.Balance | currency}}</td>
                            <td>{{invoice.NetTotal | currency}}</td>
                            <td><a ng-href="#/leads/{{invoice.LeadId}}/{{invoice.JobId}}/"><i class="glyphicon glyphicon-new-window"></i> {{invoice.JobNumber}}</a></td>
                            <td>{{invoice.FullName}}</td>
                            <td><a ng-href="mailto:{{invoice.PrimaryEmail}}">{{invoice.PrimaryEmail}}</a> <div><div ng-bind-html="invoice.PreferredTFNHtml | unsafe"></div>  </div></td>
                            <td>{{invoice.CreatedOn.toFriendlyString(true, true)}}</td>
                        </tr>
                        <tr ng-if="invoices.length == 0"><td colspan="10" class="text-center"><p class="bg-warning">No data</p></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer" id="crm-filter-pager">
            <ul class="pager">
                <li><a href="" ng-click="GoToFirstPage()">First</a></li>
                <li><a href="" ng-click="GoToPreviousPage()">Prev</a></li>
                <li><input type="text" ng-model="filter.page_info.page" ng-change="ChangePageSize()" class="form-control form-control-select pager-input" /> of <small ng-bind="filter.pageTotal"></small></li>
                <li><a href="" ng-click="GoToNextPage()">Next</a></li>
                <li><a href="" ng-click="GoToLastPage()">Last</a></li>
                <li>
                    <select class="form-control form-control-select pager-input" ng-model="filter.page_info.size" ng-change="ChangePageSize()">
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>75</option>
                        <option>100</option>
                    </select>
                </li>
                <li><small>{{PageSummary}}</small></li>
            </ul>
        </div>
    </div>
</div>