﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xxs-12 col-xs-6 col-sm-7 col-lg-8 col-xl-9 no-right-padding">
            <div class="h3 h3-sm-margin">
                <span class="label label-default">Jobs</span>

                <a href="#/leads" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> New Lead</a>
                <a href="" class="btn btn-default btn-sm" ng-click="ExportExcel()">Save to Excel</a>
                <!--<a href="" ng-click="countWatchers()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span>Whatchers</a>-->
            
                <!--<div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" id="exportBtn" data-toggle="dropdown"><span class="glyphicon glyphicon-export"></span> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="ExportExcel()">Excel</a></li>
                     </ul>
                </div>-->

            </div>
        </div>
        <div class="col-xxs-12 col-xs-6 col-sm-5 col-lg-4 col-xl-3 crm-count-badge">
            <a title="New leads in last 30 days" href="#/leadsSearch/////1///Last%2030%20Days/{{last30Date}}">New Leads <span class="badge" id="newLeadCount"></span></a> &nbsp;
            <span title="Uncompleted tasks">Tasks <span class="badge" id="tasksCount"></span></span> &nbsp;
        </div>
    </div>
</div>

<div class="panel panel-default" ng-cloak style="margin:0 15px 15px" id="jobs-list">

    <div class="table-responsive">
        <table class="table table-hover table-condensed" id="crm-job-table">
            <thead>
                <tr>
                    <th>Job</th>
                    <!--<th class="hidden-sm hidden-xs"><a href="" ng-click="ChangeSortOrder('jobnumber')"><span class="glyphicon" ng-class="SortIsDesc ==false  ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'" ng-if="SortBy == 'jobnumber'"></span> <span>Number</span></a></th>-->
                    <th><a href="" ng-click="ChangeSortOrder('jobnumber')"><span class="glyphicon" ng-class="SortIsDesc == true ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'" ng-if="SortBy == 'jobnumber'"></span> <span>Number</span></a></th>
                    <th><a href="" ng-click="ChangeSortOrder('customer') "><span class="glyphicon" ng-class="SortIsDesc == true ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'" ng-if="SortBy == 'customer'"></span> <span>Customer</span></a></th>
                    <th><a href="" ng-click="ChangeSortOrder('jobstatus') "><span class="glyphicon" ng-class="SortIsDesc == true ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'" ng-if="SortBy == 'jobstatus'"></span> <span>Job Status</span></a></th>
                    <th><a href="" ng-click="ChangeSortOrder('salespersonid')"><span class="glyphicon" ng-click="ChangeSortOrder('salespersonid')" ng-class="SortIsDesc == true ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'" ng-if="SortBy == 'salespersonid'"></span> <span>Sales Agent</span></a></th>
                    <th><a href="" ng-click="ChangeSortOrder('addresses') "><span class="glyphicon" ng-class="SortIsDesc == true ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'" ng-if="SortBy == 'addresses'"></span> <span>Location</span></a></th>
                    <th class="text-right hidden-sm hidden-xs"><a href="" ng-click="ChangeSortOrder('nettotal')"><span class="glyphicon" ng-class="SortIsDesc == true ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'" ng-if="SortBy == 'nettotal'"></span> <span>Total</span></a></th>
                    <th class="text-right hidden-sm hidden-xs"><a href="" ng-click="ChangeSortOrder('balance')"><span class="glyphicon" ng-class="SortIsDesc == true ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'" ng-if="SortBy == 'balance'"></span> <span>Balance</span></a></th>
                    <th class="hidden-sm hidden-xs"><a href="" ng-click="ChangeSortOrder('createdonutc')"><span class="glyphicon" ng-class="SortIsDesc == true ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'" ng-if="SortBy == 'createdonutc'"></span> <span>Created On</span></a></th>
                </tr>
            </thead>
            <tbody>
                <tr sly-repeat="job in JobSearchService.Jobs" id="row_{{job.JobId}}">
                    <td class="td-first">
                        <div class="inline-relative">
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm" ng-click="ToggleJobItems(job, $event)"><span class="glyphicon glyphicon-plus"></span></button>
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" drop-down="true" click="showNotes(job)">
                                        <span class="glyphicon glyphicon-comment"></span> <span class="badge" ng-bind="job.JobNotes.length"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-static" id="notesDropDown">
                                        <h4 class="popover-title">Job #<span data-bind="text: JobNumber"></span> Notes</h4>

                                        <div class="popover-content popover-scrollable">
                                            <form ng-submit="AddJobNotes(job)">
                                                <div class="form-group">
                                                    <label class="radio-inline"><input type="radio" ng-model="job.NoteType" name="NoteType" value="Internal" /> Internal</label>
                                                    <label class="radio-inline"><input type="radio" ng-model="job.NoteType" name="NoteType" value="Customer" /> Customer</label>
                                                    <label class="radio-inline"><input type="radio" ng-model="job.NoteType" name="NoteType" value="Direction" /> Direction</label>
                                                    <label class="radio-inline"><input type="radio" ng-model="job.NoteType" name="NoteType" value="Primary" /> Primary</label>
                                                </div>
                                                <div class="input-group">
                                                    <input type="text" ng-model="job.NoteMessage" autofocus required class="form-control" placeholder="Enter notes here" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="submit">Add Note</button>
                                                    </span>
                                                </div>
                                            </form>
                                            <hr style="margin-top: 10px; margin-bottom: 10px" />

                                            <div class="popover-content popover-scrollable" style="padding: 9px 11px;" ng-repeat="note in job.JobNotes">

                                                <ul class="media-list">
                                                    <li class="media" ng-class="{'history-item': note.TypeEnum == window.NoteTypeEnum.History, 'my-note': note.CreatedByPersonId == GetCurrentUser().PersonId}">
                                                        <div ng-class="{'pull-left': note.CreatedByPersonId != GetCurrentUser().PersonId, 'pull-right': note.CreatedByPersonId == GetCurrentUser().PersonId}">
                                                            <img style="width: 40px; height: 40px" class="media-object" ng-src="{{ note.AvatarSrc }}" alt="{{ note.CreatorFullName }}" />
                                                        </div>
                                                        <div class="popover note-popover" ng-class="{'pull-right right': note.CreatedByPersonId != GetCurrentUser().PersonId, 'pull-left left': note.CreatedByPersonId == GetCurrentUser().PersonId}">
                                                            <div class="arrow"></div>
                                                            <div class="popover-title">
                                                                <b>{{note.CreatorFullName}}</b>
                                                                <div class="btn-group pull-right">
                                                                    <button class="btn btn-link text-sm text-muted inner-dropdown" data-toggle="dropdown"><span ng-bind="GetKeyByValue(GetNoteTypeEnum(), note.TypeEnum)"></span> <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu text-sm" role="menu">
                                                                        <li ng-class="{active: note.TypeEnum == 0 }">
                                                                            <a href="#" ng-click="UpdateJobNoteType(job, note, 0);$event.preventDefault()">Internal</a>
                                                                        </li>
                                                                        <li ng-class="{active: note.TypeEnum == 1 }">
                                                                            <a href="#" ng-click="UpdateJobNoteType(job, note, 1);$event.preventDefault()">Customer</a>
                                                                        </li>
                                                                        <li ng-class="{active: note.TypeEnum == 2 }">
                                                                            <a href="#" ng-click="UpdateJobNoteType(job, note, 2);$event.preventDefault()">Direction</a>
                                                                        </li>
                                                                        <li ng-class="{active: note.TypeEnum == 4 }">
                                                                            <a href="#" ng-click="UpdateJobNoteType(job, note, 4);$event.preventDefault()">Primary</a>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="popover-content">
                                                                <p>{{::note.Message}}</p>
                                                                <small class="text-muted text-sm">{{:: ToFriendlyString(note.CreatedOn, true) }}</small>
                                                            </div>
                                                        </div>

                                                    </li>
                                                </ul>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-default btn-sm" href="{{ '/calendar/?aptType='+(job.JobStatusParentId == 40 ? '2' : '1')+'&jobId='+job.JobId }}" target="calendar" title="New appointment"><span class="glyphicon glyphicon-calendar"></span></a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a class="text-truncate" href="{{ '#/leads/'+ job.LeadId+'/'+ job.JobId }}">
                            <span class="glyphicon glyphicon-new-window"></span> <span>{{ job.JobNumber }}</span>
                        </a>
                    </td>
                    <td>
                        <a class="text-truncate" href="{{  '#/leads/'+ job.LeadId+'/'+ job.JobId }}">
                            <b>{{job.CompanyName ? job.CompanyName : job.FullName }}</b>
                        </a>
                        <div ng-bind-html="job.PreferredTFNHtml | unsafe"></div>
                    </td>
                    <td>

                        <div ng-if="job.CanUpdateStatus" class="btn-group bootstrap-select" style="width: 180px">
                            <button class="btn dropdown-toggle btn-sm" ng-class="GetJobStatusColor(job)" ng-click="showJobStatus(job)" data-toggle="dropdown">
                                <span class="filter-option pull-left" ng-bind-html="GetJobStatusName(job) | unsafe"></span>&nbsp;<span class="caret"></span>
                            </button>
                            <div class="dropdown-menu open selectpicker-static" ng-if="job.CanUpdateStatus">
                                <ul class="dropdown-menu inner" ng-if="job.isShowJobStatuses">
                                    <li ng-repeat="status in GetJobStatuses()" ng-class="{'active': job.JobStatusId == status.Id}">
                                        <a ng-click="JobStatusOnChanged(job, status.Id)" data-value="status.Id" data-job-status-name="{{status.Name}}" tabindex="0" ng-class="{ 'opt' : status.ParentId }">
                                            <span class="text" ng-bind-html="GetJobStatusNameById(status) | unsafe"></span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <button ng-if="!job.CanUpdateStatus" class="btn btn-sm" ng-class="GetJobStatusColor(job)">
                            <div class="text-left text-truncate" ng-bind-html="::GetJobStatusName(job)"></div>
                        </button>
                    </td>
                    <td>
                        <div ng-if="job.CanDistribute" class="btn-group bootstrap-select" style="width: 160px">
                            <button class="btn dropdown-toggle btn-sm btn-default" data-toggle="dropdown" ng-click="showSales(job)">
                                <span class="filter-option pull-left" ng-bind-html="GetSelectedSalesAgent(job) | unsafe"></span>&nbsp;<span class="caret"></span>
                            </button>
                            <div class="dropdown-menu open selectpicker-static dropdown-menu-right" ng-if="job.isShowSales">

                                <ul class="dropdown-menu inner">
                                    <li ng-repeat="status in GetSelectedSalesAgents()" ng-class="{'active': job.SalesPersonId == status.PersonId}">
                                        <a ng-click="ChangeSalesAgent(job, status.PersonId)" data-sales-agent-name="{{status.Name}}" data-value="status.PersonId" tabindex="0"><span class='color-box color-{{status.ColorId}}'></span> {{status.FullName}}</a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <button ng-if="!job.CanDistribute" class="btn btn-default btn-sm">
                            <div class="text-left" ng-bind-html="::GetSelectedSalesAgent(job)"></div>
                        </button>

                    </td>

                    <td>
                        <address class="text-left inline-relative" hfc-googlemaps="" addr="job">
                            <a target="_blank" ng-href="{{ GetGoogleAddressHref(job) }}">{{addressToString(true,job)}}</a>
                            <div class="mapCanvas"></div>
                        </address>

                    </td>
                    <td class="text-right hidden-sm hidden-xs">{{job.NetTotal | currency}}</td>
                    <td class="text-right hidden-sm hidden-xs" ng-class="{'text-danger': job.Balance > 0}">{{job.Balance | currency}}</td>
                    <td class="td-last hidden-sm hidden-xs">
                        <div>{{job.CreatedOnUtc | date:'EEE, MMM d, y h:mm:ss a'}}</div>
                    </td>
                </tr>
              

            </tbody>
            <tbody ng-if="JobSearchService.Jobs.length == 0">
                <tr><td colspan="10" class="text-center">There are no matches for the current filter(s)</td></tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer" id="crm-filter-pager">
        <ul class="pager">
            <li><a href="" ng-click="GoToFirstPage()">First</a></li>
            <li><a href="" ng-click="GoToPreviousPage()">Prev</a></li>
            <li><input type="text" ng-model="JobSearchService.Pagination.page" ng-change="ChangePageSize()" class="form-control form-control-select pager-input" /> of <small ng-bind="JobSearchService.Pagination.pageTotal"></small></li>
            <li><a href="" ng-click="GoToNextPage()">Next</a></li>
            <li><a href="" ng-click="GoToLastPage()">Last</a></li>
            <li><select class="form-control form-control-select pager-input" ng-model="JobSearchService.Pagination.size" ng-change="ChangePageSize()">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option><option>75</option>
                    <option>100</option>
                </select></li>
            <li><small>{{JobSearchService.PageSummary}}</small></li>
        </ul>
    </div>
</div>

<script type="text/ng-template" id="jobSearchSecondLevel.html">
    <tr name="#jobId#" ng-class="'row_item_' + job.JobId">
        <td colspan="15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-2 col-lg-4 col-lg-offset-2 col-xl-4 col-xl-offset-3 text-center">
                        <div class="text-left">
                            <h4>
                                <small>Billing Address</small>
                            </h4>
                            <address class="text-left inline-relative" hfc-googlemaps="" addr="GetPrimQuoteById(#jobId#).BillingAddress">
                                <a target="_blank" ng-href="{{ GetGoogleAddressHrefById(#jobId#) }}" ng-bind-html="::GetPrimQuoteById(#jobId#).BillingAddress | unsafe"></a>
                                <div class="mapCanvas"></div>
                            </address>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-lg-4 col-xl-4 text-center">
                        <div class="text-left">
                            <h4>
                                <small>Install Address</small>
                            </h4>
                            <address class="text-left inline-relative" hfc-googlemaps="" addr="GetPrimQuoteById(#jobId#).InstallAddress">
                                <a target="_blank" ng-href="{{ GetGoogleAddressHrefById(#jobId#) }}" ng-bind-html="::GetPrimQuoteById(#jobId#).InstallAddress | unsafe"></a>
                                <div class="mapCanvas"></div>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <table class="table text-right">
                            <thead>
                                <tr>
                                    <th class="text-left">Product</th>
                                    <th class="text-center">Qty</th>
                                    <th class="text-right">Sale Price</th>
                                    <th ng-if="job.DisplayCost" class="text-right">Cost</th>
                                    <th class="text-right">Discount</th>
                                    <th class="text-right">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr sly-repeat="jobItem in GetPrimQuoteById(#jobId#).JobItems">

                                    <td class="text-left">
                                        <h4>
                                            <span ng-bind="jobItem.CategoryName"></span> <small ng-bind="jobItem.ProductType"></small>
                                        </h4>
                                    </td>
                                    <td ng-bind="jobItem.Quantity" class="text-center"></td>
                                    <td ng-bind="FormatCurrency(jobItem.SalePrice)"></td>
                                    <td ng-bind="FormatCurrency(jobItem.UnitCost)"></td>
                                    <td class="text-danger"><span ng-bind="FormatCurrency(jobItem.DiscountAmount)"></span> <span ng-if="jobItem.DiscountPercent > 0">({{FormatCurrency(jobItem.DiscountPercent, 2)}})</span></td>
                                    <!--<td>{{FormatCurrency(jobItem.Subtotal)}}</td>-->
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="{{ job.DisplayCost ? '5' : '4' }}">Subtotal:</td>
                                    <td ng-bind="FormatCurrency(GetPrimQuoteById(#jobId#).SubTotal)" ng-class="{'text-danger': GetPrimQuoteById(#jobId#).SubTotal < 0}"></td>
                                </tr>

                                <tr>
                                    <td colspan="{{ job.DisplayCost ? '5' : '4' }}">Discount Total:</td>
                                    <td>{{::GetPrimQuoteById(#jobId#).DiscountTotal | currency}}</td>
                                </tr>

                                <tr>
                                    <td colspan="{{ job.DisplayCost ? '5' : '4' }}">Surcharges:</td>
                                    <td ng-bind="FormatCurrency(GetPrimQuoteById(#jobId#).SurchargeTotal)"></td>
                                </tr>

                                <tr>
                                    <td colspan="{{ job.DisplayCost ? '5' : '4' }}">Tax Total (<span ng-bind="FormatPercent(GetPrimQuoteById(#jobId#).TaxPercent)"></span>):</td>
                                    <td>{{::GetPrimQuoteById(#jobId#).TaxTotal | currency}}</td>
                                </tr>

                                <tr>
                                    <td colspan="{{ job.DisplayCost ? '5' : '4' }}">Total:</td>
                                    <td style="font-size: 1.4em;" ng-bind="FormatCurrency(GetPrimQuoteById(#jobId#).NetTotal, 2)" ng-class="{ 'text-primary': GetPrimQuoteById(#jobId#).TaxTotal >= 0, 'text-danger': GetPrimQuoteById(#jobId#).TaxTotal < 0}"></td>
                                </tr>

                                <tr ng-if="job.DisplayCost">
                                    <td colspan="{{ job.DisplayCost ? '5' : '4' }}">Estimated Gross Profit:</td>
                                    <td style="font-size: 1.4em;" ng-bind="FormatCurrency(GetPrimQuoteById(#jobId#).NetProfit, 2)" ng-class="{ 'text-success': GetPrimQuoteById(#jobId#).NetProfit >= 0, 'text-danger': GetPrimQuoteById(#jobId#).NetProfit < 0}"></td>
                                </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>

</script>