﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }

    .k-grid-content {
        overflow-y: scroll !important;
    }

    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    } 
    form > div.k-animation-container
    {
       padding-right: 15px !important;
    }
    /*.k-grid-header tr th, .k-grid-content tr td {
       font-weight:100 !important;
       white-space: nowrap;
       text-overflow: ellipsis !important;
    }
    .k-grid-content tr td:last-child {
      overflow: visible !important;
    }
    .k-grid-content tr td .tooltip-wrapper .tooltip-content {
        visibility: hidden;
    }*/
    /*.k-grid th, .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content td {
       overflow: hidden !important;
    }
    .k-grid-content td:last-child {
        overflow: visible !important;
    }*/
    /*.tooltip {
       opacity: 9 !important;
       text-align: left;
       display: contents;
    }
    span.tooltip:after {
        width:auto !important;
    }*/
    
</style>
<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>


<!-- Lead search Header template -->
<script type="text/x-kendo-template" id="leadSearchHeaderTemplate">
    <div class="tp_leadsearch row no-margin">
        <div class="leadsearch_topleft col-sm-10 col-md-10 col-xs-10 no-padding row no-margin">
            <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <!--<input ng-keyup="LeadgridSearch()" type="search" id="BoxValue" 
                       placeholder="Search Lead" class="k-textbox leadsearch_tbox">-->
                <input ng-keyup="LeadgridSearch()" type="text" id="BoxValue"
                       placeholder="Search Lead" class="form-control search_field">
            </div>
            <div class="col-xs-2 col-sm-2 no-padding hfc_leadbut">
                <input type="button" id="btnReset" ng-click="LeadgridSearchClear()"
                        class="k-button btn btn-primary cancel_but" value="Clear All Filters">
            </div>
            <div class="col-xs-8 col-sm-8 hfc_leadchkbox">
                <input class="option-input checkbox" name="lostlead_Check" type="checkbox" 
                       ng-click="GetSearchLeads_forcheck()">
                <label class="ldet_label">Display Inactive / Lost Leads</label>
            </div>
        </div>
        <div class="col-sm-2 col-xs-2 col-md-2 no-padding">
            <div class="leadsearch_icon" ng-show="Permission.CanUpdate">
                <ul class="orderlist_box">
                    <li><button type="button" class="tooltip-bottom hfc_bgbut"
                            data-tooltip="Download Lead" ng-click="DownloadLead_Excel()">
                        <i class="far fa-cloud-download"></i>
                    </button></li>
                    <li><button type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="New Lead"
                            ng-click="Newleadpage()">
                        <i class="far fa-plus-square"></i>
                    </button></li>
                </ul>
          </div>
        </div>
    </div>
</script>
<hfc-fileprint-modal modal-id="fileprint" lead-id="{{Leads.LeadId}}"></hfc-fileprint-modal>
<div class="tab_container tpsearch_content">
    <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ListLead">
        You don't have permission to this page.
    </div>
    <div ng-show="Permission.ListLead">
        <div class="table-responsive tooltipgrid_section" ng-controller="leadSearchController">
            <kendo-grid id="gridLeadSearch" class="noscroll-grid ipadspace_grid" options="LeadSearchService.Leads_options"></kendo-grid>
        </div>
    </div>
</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFhUvLsZPRXxFTUGWKIpGSDyd4tGvqhVI"></script>-->

