﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
    form > div.k-animation-container
    {
       padding-right: 15px !important;
    }
</style>
<div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>
<div class="outter-wp">
    <div class="tp_leadsearch row no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-10 col-md-10 col-xs-10 no-padding">
            <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <input ng-keyup="OpportunitygridSearch()" type="text" id="searchBox" placeholder="Search Opportunity" class="k-textbox leadsearch_tbox"></div>
            <div class="col-xs-2 col-sm-2 no-padding hfc_leadbut">
                <input type="button" id="btnReset" ng-click="OpportunitygridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
                </div>
            <div class="col-xs-8 col-sm-8"></div>
        </div>
        <div class="col-sm-2 col-xs-2 col-md-2 no-padding">
            <div class="leadsearch_icon">
                <ul class="orderlist_box">
                    <li><button type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Download Opportunity" ng-click="DownloadOpportunity_Excel()">
                        <i class="far fa-cloud-download"></i>
                    </button></li>
                    <li ng-show="PermissionOpportunity.CanUpdate"><button type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="New Opportunity" ng-click="NewOpportunitypage()"><i class="far fa-plus-square"></i></button></li>
                </ul>
             </div>
          </div>
     </div>
  
        <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Leads.LeadId}}"></hfc-fileprint-modal>
        <div class="tab_container tpsearch_content">
            <div ng-if="Permission.ListOpportunity">
                <!--<div class="table-responsive" ng-controller="opportunitySearchController">  -->
                <div class="table-responsive tooltipgrid_section">
                    <!--<kendo-tooltip options="kendotooltipOptions">-->
                    <kendo-grid id="gridopportunitySearch" class="noscroll-grid ipadspace_grid" options="OpportunitySearchService.Opportunitys_options" style="margin-bottom:40px !important;">
                    </kendo-grid>
                    <!--</kendo-tooltip>-->
                </div>
            </div>
            <div class="error error_msg" style="margin-top:30px;" ng-if="!Permission.ListOpportunity">
                You don't have permission to this page.
            </div>
            <!--<hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
        </div>
</div>
  

    <iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>


