<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
    .statusCanvas {
        height: auto !important;
    }
    .popup_procurement {
        text-align:left; padding:5px;
     }
    .popup_procurement p{
        margin:5px 0;
        font-size:12px;
     }
</style>

<div class="outter-wp">
    <!--<div class="lead_stab">
        <div class="franchisenew_icon" style="margin:9px 0 0 0;">
            <button type="button" class="plus_but tooltip-bottom download_but" data-tooltip="Need Some Help...Enable Tool Tips" ng-click="EnableDisableToolTips()"><i class="far fa-question-circle"></i></button>
            <button type="button" class="plus_but tooltip-bottom" data-tooltip="Download Sales Order" ng-click="DownloadSalesOrder_Excel()"><i class="far fa-cloud-download"></i></button>
        </div>
    </div>-->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab" ng-if="AccountId">
                    <li rel="tab6">
                        <a href="#!/Accounts/{{Account.AccountId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
                    </li>
                    <li rel="tab7" ng-show="BrandId!=3">
                        <a href="#!/measurementDetails/{{AccountId}}">
                            <h3><i class="measurement_icon"></i><br />Measurements</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountopportunitySearch/{{AccountId}}">
                            <h3><i class="far fa-address-card fa_icon"></i><br />Opportunities</h3>
                        </a>
                    </li>
                    <li rel="tab7" class="activelead1">
                        <a href="#!/accountordersSearch/{{AccountId}}">
                            <h3><i class="order_icon"></i><br />Orders</h3>
                        </a>
                    </li>
                    <!--<li rel="tab7">
                        <a href="#!/accountInvoiceSearch/{{AccountId}}">
                            <h3><i class="invoice_icon"></i><br />Invoice</h3>
                        </a>
                    </li>-->
                    <li rel="tab7">
                        <a href="#!/accountPaymentSearch/{{AccountId}}">
                            <h3><i class="payment_icon"></i><br />Payments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountAppointments/{{AccountId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/accountCommunicationLog/{{AccountId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <ul class="orderlist_box">
                        <li>
                            <div ng-if="!AccountId">
                                <button type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Download Sales Order" ng-click="DownloadSalesOrder_Excel()"><i class="far fa-cloud-download"></i></button>
                            </div>
                        </li>
                        <li>
                            <div ng-if="!AccountId" hfc-statuses-overlay>
                                <div class="statusCanvas"></div>
                                <button type="button" class="tooltip-bottom hfc_bgbut" ng-click="EnableDisableToolTips(); bringTooltipPopup()"><i class="far fa-question-circle"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
          </div>    
        <div class="tab_container tpsearch_content" >          
            <div ng-if="Permission.ListOrderList">
                <div class="modal fade" id="_statusModal_" style="height:auto;">
                    <!--<div class="modal-dialog aditional_adrespopup">-->
                    <div class="modal-content">
                        <div class="modal-header popup_head" style="padding:5px;">
                            <h4 class="mx-auto modal-title"> Order Statuses</h4>
                            <button type="button" class="close popup_close" data-dismiss="modal" aria-label="Close" onclick="$('.statusCanvas').hide()" id="ipadtooltipclosebutton"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="popup_procurement">                                             
                            <p><b>Open -</b> Sales Order has passed the Buyer's Remorse Hold.Order has not been converted</p>
                            <p><b>Buyer's Remorse Hold -</b>Sales Order is on hold, based on Buyer's Remorse Settings.</p>
                            <p><b>MPO -</b> Sales Order has been Converted to MPO.</p>
                            <!--<p>Partially Recieved - Ship Products have been received.</p>
                    <p>Recieved In Full - All Items on SO have been received.</p>-->
                            <p><b>Installation Scheduled -</b> Installation Appointment has been made.</p>
                            <p><b>Job Complete -</b> Installation is complete and Final Invoice Payment have been Received.</p>
                            <p><b>Void -</b> Sales Order has been Voided by user.</p>
                            <p><b>Canceled -</b> Sales order has been canceled by user.</p>
                        </div>
                    </div>
                </div>
                <div class="state_field mt-2 mb-2" ng-if="!AccountId">
                        <div class="row mx-0 mb-1">
                            <div class="col-sm-2 col-xs-2 required_label"><label>Dashboard Filter</label></div>
                            <div class="col-sm-9 col-xs-9 pr-0">
                                <div class="tooltip-bottom quote_tooltip" data-tooltip="Filter Dashboard View by Rolling Date Range">
                                    <span class="custom-dropdown custom-dropdown--white quotesearch_dropdown" style="width:300px;">
                                        <select class="custom-dropdown__select custom-dropdown__select--white"
                                                name="date_Range"
                                                ng-model="DateRangeId"
                                                ng-change="OnChangeDateRangeFilter(DateRangeId);"
                                                ng-options="option.Id as option.Name for option in DateRangeValue">
                                            <option value="" selected>All</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col-sm-2 col-xs-2 text_detlabel"><label>Dashboard View</label></div>
                            <div class="col-sm-9 col-xs-9 procurement_tooltip row no-margin pr-0">
                                <div class="col-sm-4 no-padding">
                                    <div class="tooltip-bottom float-left" data-tooltip="Displays only Open SO"><input type="checkbox" id="Check1" class="option-input checkbox" ng-click="FilterBySelectedOrder()"><label class="ldet_label font-weight-bold">Open</label></div>
                                </div>
                                <div class="col-sm-4 no-padding">
                                    <div class="tooltip-bottom float-left" data-tooltip="Displays only BRH"><input type="checkbox" id="Check2" class="option-input checkbox" ng-click="FilterBySelectedOrder()"><label class="ldet_label font-weight-bold">Buyer's Remorse Hold</label></div>
                                </div>
                                <div class="col-sm-4 no-padding">
                                    <div class="tooltip-bottom float-left" data-tooltip="Displays only SO's that have been converted to MPO"><input type="checkbox" id="Check3" class="option-input checkbox" ng-click="FilterBySelectedOrder()"><label class="ldet_label font-weight-bold">MPO</label></div>
                                </div>
                                <!--<div class="col-sm-3 no-padding">
                            <label><input type="checkbox" id="Check4" class="option-input checkbox" ng-click="FilterBySelectedOrder()">&nbsp; Partially Recieved</label>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <label><input type="checkbox" id="Check5" class="option-input checkbox" ng-click="FilterBySelectedOrder()">&nbsp; Recieved In Full</label>
                        </div>-->
                                <div class="col-sm-4 no-padding">
                                    <div class="tooltip-bottom float-left" data-tooltip="Displays only SO with Installation Appointments Scheduled"><input type="checkbox" id="Check6" class="option-input checkbox" ng-click="FilterBySelectedOrder()"><label class="ldet_label font-weight-bold">Installation Scheduled</label></div>
                                </div>
                                <div class="col-sm-4 no-padding">
                                    <div class="tooltip-bottom float-left" data-tooltip="Install and Final Payment Complete"><input type="checkbox" id="Check7" class="option-input checkbox" ng-click="FilterBySelectedOrder()"><label class="ldet_label font-weight-bold">Job Complete</label></div>
                                </div>
                                <div class="col-sm-4 no-padding">
                                    <div class="tooltip-bottom float-left" data-tooltip="Displays only Voided SO's"><input type="checkbox" id="Check8" class="option-input checkbox" ng-click="FilterBySelectedOrder()"><label class="ldet_label font-weight-bold">Void</label></div>
                                </div>
                                <div class="col-sm-4 no-padding">
                                    <div class="tooltip-bottom float-left" data-tooltip="Displays only Canceled SO's"><input type="checkbox" id="Check9" class="option-input checkbox" ng-click="FilterBySelectedOrder()"><label class="ldet_label font-weight-bold">Canceled</label></div>
                                </div>
                                <div class="col-sm-4 no-padding">
                                    <div class="tooltip-bottom float-left" data-tooltip="Displays only Received In Full SO's"><input type="checkbox" id="receiveFullCheck" class="option-input checkbox" ng-click="FilterBySelectedOrder()"><label class="ldet_label font-weight-bold">Received In Full</label></div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                <div class="error error_msg" style="margin-top:30px;" ng-if="!Permission.ListOrderList">
                    You don't have permission to this page.
                </div>
                <div ng-if="Permission.ListOrderList">
                    <div ng-if="AccountId">
                        <div class="mx-2 my-2 addres_link" ng-show="!OrderAccount.Account.IsCommercial">
                            <strong>Account Name:  </strong><a href="#!/Accounts/{{Account.AccountId}}" style="color: rgb(61,125,139);">{{OrderAccount.Account.PrimCustomer.FullName}} <span ng-show="!OrderAccount.Account.PrimCustomer.CompanyName==''">{{" / "}}</span> {{OrderAccount.Account.PrimCustomer.CompanyName}}</a>
                        </div>
                        <div class="mx-2 my-2 addres_link" ng-show="OrderAccount.Account.IsCommercial">
                            <strong>Account Name:  </strong><a href="#!/Accounts/{{Account.AccountId}}" style="color: rgb(61,125,139);">{{OrderAccount.Account.PrimCustomer.CompanyName+" / "+OrderAccount.Account.PrimCustomer.FullName}}</a>
                        </div>
                    </div>
                    
                    <div class="table-responsive tooltipgrid_section">
                        <!--<kendo-tooltip options="kendotooltipOptions">-->
                        <kendo-grid id="gridOrderSearch" class="noscroll-grid ipadspace_grid" options="OrderGridList">
                        </kendo-grid>
                        <!--</kendo-tooltip>-->
                    </div>
                </div>
            </div>
</div>
<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="tp-measurementsearch no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-12 col-md-12 col-xs-12 no-padding">
            <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <input ng-keyup="OrdergridSearch()" type="text" id="searchBox" placeholder="Search Order" class="k-textbox leadsearch_tbox">
            </div>
            <div class="col-xs-2 col-sm-2 measurement_search no-padding">
                <input type="button" id="btnReset" ng-click="OrdergridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
            </div>
            <div class="col-xs-8 col-sm-8"></div>
         </div>
    </div>
</script>

<iframe id="print_frame" style="visibility: hidden; height: 0px; width: 0px"></iframe>

