﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-grid-content {
        overflow-y: scroll !important;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
</style>
<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li rel="tab5">
                <a href="#!/vendors">
                    <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Vendors</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab6">
                <a href="#!/productSearch">
                    <h3><i class="far fa-dolly-flatbed-alt fa_icon vendor_icon"></i><br />Products/Services</h3>
                </a>
            </li>
            <li rel="tab7" style="width: auto !important;">
                <a href="#!/pricingSettings">
                    <h3><i class="far fa-usd-square fa_icon vendor_icon"></i><br />Pricing Management</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/procurement">
                    <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/buyerremorse">
                    <h3><i class="fa fa-cogs fa_icon"></i><br />Sale Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/TaxSettings">
                    <h3><i class="fas fa-landmark fa_icon"></i><br />Tax Settings</h3>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- Access error message div -->

    <div class="tab_container tpsearch_content">
        <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ListProducts">
            You don't have permission to this page.
        </div>
        <div ng-show="Permission.ListProducts">
            <div class="vendors-dropdown row state_field">
                <div class="col-xs-6 col-sm-6 row no-margin">
                    <div class="col-sm-2 col-xs-2 vendor_label"><label>List View</label></div>
                    <div class="col-sm-10 col-xs-10">
                        <span class="custom-dropdown custom-dropdown--white" style="width:300px !important;">
                            <select class="custom-dropdown__select custom-dropdown__select--white" id="ProductDrop" ng-model="Product.ProductType" ng-change="ChangeProduct()">
                                <option value="">My Product</option>
                                <option ng-hide="BrandId==3 || BrandId==2" value="1">Core Product</option>
                                <!--<option value="2">My Product</option>-->
                                <option value="3">Discount</option>
                            </select>
                        </span>
                        <!--value--{{BrandId}}-->
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 no-padding">
                    <button ng-if="Permission.AddProduct" type="button" class="plus_but tooltip-bottom vendoradd_button" data-tooltip="New Product" ng-click="CreateNewProduct()">
                        <i class="far fa-plus-square"></i>
                    </button>
                    <div ng-show="BrandId==3 || BrandId==2"  style="display:none">
                        <div ng-show="Product.ProductType==''">
                            <button ng-if="Permission.AddProduct" type="button" class="plus_but tooltip-bottom" style="margin-right: 20px;float: right;" data-tooltip="Refresh all resurfacing products from HFC master list" ng-click="DisplayPopup()">
                                <i class="fab fa-product-hunt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" ng-controller="productSearchController">
                <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridProductSearch" class="ipadspace_grid" options="ProductSearchService.Products_options"></kendo-grid>
                <!--</kendo-tooltip>-->
            </div>
        </div>
    </div>
    <hfc-resurfacing-product></hfc-resurfacing-product>
    <!--Show popup-->
</div>

<script type="text/x-kendo-template" id="shortcutMenu">
    <ul>
        <li class="dropdown note1 ad_user">
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h dot_icon" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)" class="deactivateLink">Deactivate</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="javascript:void(0)" class="removeSuspended" data-toggle="modal" data-target="#myModalRenew" ng-click="FranchiseListService.RenewFranchise(franchise)">Renew Franchise</a>
        </li>
        <li class="dropdown-submenu">
            <a href="#">PlaceHolder 1</a>
        </li>
    </ul>
</script>

<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFhUvLsZPRXxFTUGWKIpGSDyd4tGvqhVI"></script>-->