﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }

    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }
</style>
<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li rel="tab6"><a href="#!/OpportunityDetail/{{OpportunityId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a></li>
            <li rel="tab7" ng-show="brandid!=3">
                <a href="#!/measurementDetail/{{OpportunityId}}/{{InstallationAddressId}}">
                    <h3><i class="measurement_icon"></i><br />Measurements</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab7">
                <a href="#!/quoteSearch/{{OpportunityId}}">
                    <h3><i class="quotes_icon"></i><br />Quotes</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/opportunityAppointments/{{OpportunityId}}">
                    <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/opportunityCommunicationLog/{{OpportunityId}}/{{AccountId}}">
                    <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns" ng-show="Permission.AddQuotes">
            <button type="button" class="plus_but tooltip-bottom" data-tooltip="New Quote" ng-click="Newquotepage()">
                <i class="far fa-plus-square"></i>
            </button>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tpsearch_content">
        <!-- Access error message div -->
        <div class="error error_msg" style="margin-top:30px;" ng-if="!Permission.ListQuotes">
            You don't have permission to this page.
        </div>

        <div class="appointment" ng-show="Permission.ListQuotes">
            <div class="panel-body" style="padding-bottom:15px;">
                <strong>Opportunity Name : </strong><a href="#!/OpportunityDetail/{{OpportunityId}}" style="color: rgb(61,125,139);">{{opportunityvalue.OpportunityName}}</a>
            </div>
        </div>
        <div class="table-responsive" ng-show="Permission.ListQuotes">
            <!--<kendo-tooltip options="kendotooltipOptions">-->
            <kendo-grid id="gridQuoteSearch" class="noscroll-grid" style="margin-bottom:40px" options="Quotes">

            </kendo-grid>
            <!--</kendo-tooltip>-->
        </div>
    </div>
    <hfc-note-modal></hfc-note-modal>
    <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>
</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

<!--warning popup-->
<div class="modal fade" id="Warninginfo" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Warning !</h4>
                <button type="button" class="close popup_close" ng-click="CancelPopup('Warninginfo')">&times;</button>
            </div>
            <form name="Measurement_addint" role="form">
                <div class="modal-body quote_popup">
                    <div class="form-group row m-2 text-danger text-center">
                        This Quote has Expired. If you wish to proceed, the status will be re-set to Draft. The quote lines may need to be reviewed / revalidate if Product or Pricing changes have taken place.
                    </div>
                    <div class="form-group row m-2 text-center">
                        Would you like to continue?
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelPopup('Warninginfo')">Cancel</button>
                        <button type="button" class="btn btn-cancel" ng-click="changeQuote()">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Tax exemptwarning popup-->
<div class="modal fade" id="TaxExempt_Warninginfo_Copy" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Warning !</h4>
            </div>
            <form name="Measurement_addint" role="form">
                <div class="modal-body quote_popup">
                    <div class="form-group row m-2 text-danger text-center">
                        {{TaxExemptMsg}}
                    </div>
                    <div style="display:none">
                        {{selectedQUoteKeyTaxExempt}}
                        {{SelectedOpportunityTaxExempt}}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="OverwriteQuoteTaxExempt()">Yes</button>
                        <button type="button" class="btn btn-cancel" ng-click="DoNotOverwriteTax()">No</button>
                        <button type="button" class="btn btn-cancel" ng-click="CancelPopup('TaxExempt_Warninginfo_Copy')">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>






