﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
   .k-grid-footer {
        padding-right: 17px !important;
        background: #cacaca;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .statusCanvas {
        height: auto !important;
    }
    .popup_procurement {
        text-align:left; 
        padding:5px;
     }
    .popup_procurement p{
        margin:5px 0;
        font-size:12px;
     }
</style>

<div class="outter-wp">
    <div class="lead_stab">
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li>
                    <button type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Download Quotes" ng-click="DownloadQuote_Excel()"><i class="far fa-cloud-download fa_icon"></i></button>
                </li>
                <li>
                    <div hfc-statuses-overlay>
                        <button type="button" ng-click="bringTooltipPopup()" class="tooltip-bottom hfc_bgbut"><i class="far fa-question-circle fa_icon"></i></button>
                        <div class="statusCanvas"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="lead_stab">
        <div class="franchisenew_icon" style="margin:9px 0 0 0;">
           <button type="button" class="plus_but tooltip-bottom" data-tooltip="Need Some Help...Enable Tool Tips" ng-click="ActiveHelp()"><i class="far fa-question-circle"></i></button>
        </div>    
        <div class="franchisenew_icon" style="margin:7px 0 0 0;" hfc-statuses-overlay>
            <button type="button" ng-click="bringTooltipPopup()" class="plus_but tooltip-bottom"><i class="far fa-question-circle"></i></button>
            <div class="statusCanvas"></div>
        </div>
        <div class="franchisenew_icon" style="margin:7px 0 0 0;">
            <button type="button" class="plus_but tooltip-bottom download_but" data-tooltip="Download Quotes" ng-click="DownloadQuote_Excel()"><i class="far fa-cloud-download"></i></button>
        </div> 
    </div>-->
    <div class="tab_container tpsearch_content">
        <div class="error error_msg" style="margin-top:30px;" ng-if="!Permission.QuoteList">
            You don't have permission to this page.
        </div>
        <div ng-if="Permission.QuoteList">
            <div class="modal fade" id="_statusModal_" style="height:auto;">
                <!--<div class="modal-dialog aditional_adrespopup">-->

                <div class="modal-content">
                    <div class="modal-header popup_head" style="padding:5px;">
                        <h4 class="mx-auto modal-title"> Quote Statuses</h4>
                        <button type="button" class="close popup_close" data-dismiss="modal" aria-label="Close" onclick="$('.statusCanvas').hide()" id="ipadtooltipclosebutton"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="popup_procurement">
                        <p><b>Draft -</b> Quote is in progress and line items have not been finalized.</p>
                        <p><b>Presented -</b> Quote has been present to customer as a possible sales option.</p>
                        <p><b>Accepted -</b> Presented Quote has been approved by customer.</p>
                        <p><b>Declined - </b>Presented Quote has been rejected by customer.</p>                        
                    </div>
                </div>
            </div>
            <!--<div class="row" style="margin:0 !important;">
                <div class="col-sm-7"></div>
                <div class="col-sm-5" ng-show="ActiveToolTips==true">
                    <h3>Quote Statuses</h3>
                    <p>Draft - Quote is in progress and line item have not been finalized.</p>
                    <p>Presented - Quote has been present to customer as a possible sales option.</p>
                    <p>Accepted - Presented Quote has been approved by customer.</p>
                    <p>Declined - Presented Quote has been rejected by customer.</p>
                </div>
            </div>-->
            <div class="row state_field no-margin" style="padding:21px 0;">
                <div class="col-xs-11 col-sm-11 no-padding">
                    <div class="row ml-0 mr-0 mb-2">
                        <div class="col-sm-2 col-xs-2 required_label"><label>Dashboard Filter</label></div>
                        <div class="col-sm-9 col-xs-9 row no-margin">
                            <div class="col-sm-4 no-padding tooltip-bottom quote_tooltip" data-tooltip="Filter Dashboard View by Rolling Date Range">
                                <span class="custom-dropdown custom-dropdown--white quotesearch_dropdown">
                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                            name="Vendor_Name"
                                            ng-model="DateRangeId"
                                            ng-change="OnChangeDateRangeFilter(DateRangeId);"
                                            ng-options="option.Id as option.Name for option in DateRangeValue">
                                        <option value="" selected>All</option>
                                    </select>
                                </span>
                            </div>
                            <div class="col-sm-4 mt-1">
                                <div class="float-left tooltip-bottom" data-tooltip="Primary Quote"><input type="checkbox" id="PrimaryQuoteSelected" class="option-input checkbox" checked="checked" ng-click="FilterBySelectedPrimaryQuote()"><label class="ldet_label font-weight-bold">Primary Quote</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-sm-2 col-xs-2 text_detlabel"><label>Dashboard View</label></div>
                        <div class="col-sm-9 col-xs-9 procurement_tooltip row no-margin">
                            <div class="col-sm-2 col-xs-5-cols no-padding">
                                <div class="float-left tooltip-bottom" data-tooltip="Quote is in progress and line items have not been finalized"><input type="checkbox" id="Check1" class="option-input checkbox" ng-click="FilterBySelectedQuote()"><label class="ldet_label font-weight-bold">Draft</label></div>
                            </div>
                            <div class="col-sm-2 col-xs-5-cols no-padding">
                                <div class="float-left tooltip-bottom" data-tooltip="Quote has been present to customer as a possible sales option"><input type="checkbox" id="Check2" class="option-input checkbox" ng-click="FilterBySelectedQuote()"><label class="ldet_label font-weight-bold">Presented</label></div>
                            </div>
                            <div class="col-sm-2 col-xs-5-cols no-padding">
                                <div class="float-left tooltip-bottom" data-tooltip="Presented quote has been approved by customer"><input type="checkbox" id="Check3" class="option-input checkbox" ng-click="FilterBySelectedQuote()"><label class="ldet_label font-weight-bold">Accepted</label></div>
                            </div>
                            <div class="col-sm-2 col-xs-5-cols no-padding">
                                <div class="float-left tooltip-bottom" data-tooltip="Presented quote has been rejected by customer"><input type="checkbox" id="Check4" class="option-input checkbox" ng-click="FilterBySelectedQuote()"><label class="ldet_label font-weight-bold">Declined</label></div>
                            </div>
                            <div class="col-sm-2 col-xs-5-cols no-padding">
                                <div class="float-left tooltip-bottom" data-tooltip="Presented quote has been voided by customer"><input type="checkbox" id="Check5" class="option-input checkbox" ng-click="FilterBySelectedQuote()"><label class="ldet_label font-weight-bold">Void</label></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1"></div>
            </div>
        </div>
        <div class="table-responsive tooltipgrid_section" ng-if="Permission.QuoteList">
            <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridQuoteSearch" class="noscroll-grid ipadspace_grid" style="margin-bottom:40px" options="QuoteList"></kendo-grid>
            <!--</kendo-tooltip>-->
        </div>
        <div class="plus_but tooltip-bottom"></div>
    </div>
    <hfc-note-modal></hfc-note-modal>
    <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Account.AccountId}}"></hfc-fileprint-modal>
</div>
<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="tp-measurementsearch row no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-12 col-lg-12 col-xs-12 no-padding">
            <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <input ng-keyup="QuotegridSearch()" type="text" id="searchBox" placeholder="Search Quote" class="k-textbox leadsearch_tbox">
            </div>
            <div class="col-xs-2 col-sm-2 measurement_search no-padding">
                <input type="button" id="btnReset" ng-click="QuotegridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
            </div>
            <div class="col-xs-8 col-sm-8"></div>
        </div>
    </div>
</script>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>






