/*--- lead print page style ---*/
ul.q_checkboxs{
	padding:0;
	margin:0;
	list-style:none;
}
ul.q_checkboxs1{
	padding:0;
	margin: 2% 0 0 273px;
	list-style:none;
}
ul.q_checkboxs2{
	padding:0;
	margin:15px 0;
	list-style:none;
}
ul.oportunity_cboxs, ul.leadsheet_list{
	padding:0;
	margin-bottom:10px;
	list-style:none;
}
ul.q_checkboxs li, ul.q_checkboxs1 li, ul.q_checkboxs2 li, ul.oportunity_cboxs li{
	display:inline-block;
	font-size:13px;
	color:#000;
}
ul.leadsheet_list li {
    float:left;
    font-size:13px;
	color:#000;
}
h1.middle_qhead {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin: 0 0 0 25px;
}
span.field input[type="radio"] + label, input[type="checkbox"] + label {
    font-size: 13px;
    font-weight: 100;
	margin: 0 0 10px;
}
.budget_box h2{
	color:#000;
	font-size:15px;
}
.radio-inner{
	margin-left:5%;
}
.row_1{
	margin-bottom: 10px;
}
.row_1label{
	font-size:13px;
	font-weight:100;
	width:4%;
	text-align: right;
}
.q_field{
    border: 1px solid #b2bfca;
    padding: 10px 12px !important;
    height: 35px !important;
    font-size: 13px;
    color: #000 !important;
    text-transform: capitalize;
    background: #edecec;
    border-radius: 4px;
	margin-left: 30px;
}
.budget_box {
    margin: 2% 0;
}
ul.q_checkboxs li.ref_tbox{
	margin-left:30px;
}
.row_1label1 {
    font-size: 13px;
    font-weight: 100;
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top:4px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none !important;
    position: relative;
    border: 1px solid #b2bfca;
	margin: 0 !important;
}
.option-input:checked {
  background:#3d7d8b;
  border: 1px solid #3d7d8b;
}
.option-input:checked::before {
  height: 10px;
  width: 10px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size:13px;
  text-align: center;
  line-height:20px;
  left:3px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
ul.oportunity_cboxs  label, .vendor-item  label, ul.leadsheet_list label {
	font-weight:100;
	color:#000;
	margin-right: 10px;
	font-size:14px;
}
.oportunity-fabric{
    margin: 0 !important;
    text-align: right;
}
.oportunity-fabric h3{
	color:#000;
	font-size:15px;
	margin:0 0 10px;
}
.oportunity-grid {
    margin-bottom: 6%;
}
/*.print-tbox{
	background:#f5f5f5;
	padding:30px;
}*/
.print-tboxleft h1{
	color:#000;
	font-size:20px;
	font-weight:800;
	margin: 0 0 15px;
}
.print-tboxleft p, .print-infoleft p, .print-inforight p{
	color:#555;
	font-size:14px;
}
.print-infoleft h2, .print-inforight h2{
	color:#000;
	font-size:15px;
	margin: 0 0 15px;
	font-weight:800;
}
section.print-informbox {
    border: 1px solid #555;
	padding:20px;
}
h3.middle_qhead {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin: 10px 0 0 0;
}
.oportunity_cboxs label, .print-row label, label.specify_label{
    font-weight: 100;
    color: #000;
    margin-right: 10px;
    font-size: 14px;
	display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
img.print-tboxright {
    float: right;
}
.print-tboxleft {
    padding: 0 !important;
}
.treat-grid{
    margin: 0 !important;
}
.treat-grid_left{
	padding:0 !important;
}
label.date_label {
    margin: 10px 0 0 0;
}
.oportunity_cboxs{
    margin-bottom: 10px;
}
.print_tbox{
	padding-right:0 !important;
}
.print-detailbox {
    margin: 30px 0 0 0;
    border: 1px solid #ddd !important;
}
.rooms_txt h3 {
    color: #000;
    font-size: 15px;
}
.receive_head {
    padding-left: 0 !important;
    margin-top: 5px;
}
.adres_print {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
.required_label{
    font-size: 14px;
    color: #555;
    margin: 3px 0 0 0;
    text-align: right;
}
.referal_ralign {
    margin: 6px 0 0 0;
    text-align: right;
}
.treatment_lalign {
    margin-left: 115px;
}
.receive_aright {
    text-align:right;
}
.print-inforight {
    padding:0 !important
}
.pcontact_field {
    padding-right:0 !important;
}
.treat-grid textarea {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding: 10px;
    font-size: 13px;
    color: #000;
    width: 100%;
    height: 150px;
    resize: none;
}
/*--- lead print page style ---*/