@import reference "../bootstrap.css";
.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index:  - 1;
  overflow: auto;
  min-width: 320px;
  background: white;
}
.aside:focus {
  outline: none;
}
@media (max-width: ) {
  .aside {
    min-width: 240px;
  }
}
.aside.left {
  right: auto;
  left: 0;
}
.aside.right {
  right: 0;
  left: auto;
}
.aside .aside-dialog .aside-header {
  padding: 6px 15px;
  background: ;
  color: white;
}
.aside .aside-dialog .aside-header .close {
  margin-right: -8px;
  padding: 4px 8px;
  color: white;
  font-size: 25px;
  opacity: .8;
}