﻿<!DOCTYPE html>
<html>
<head>
    <title>Touchpanel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Touchpanel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!--<link href="css/bootstrap-select.css" rel='stylesheet' type='text/css' />-->
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/new_style.css" rel='stylesheet' type='text/css' />
    <!--<link href="css/tabsy.css" rel='stylesheet' type='text/css' />-->
    <!-- font-icons CSS -->
    <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <!-- jQuery -->
    <!--<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>-->
</head>
<body>
    <div style="page-break-inside: avoid">
        <div class="container-fluid">
            <div class="print-tbox">
                <header>
                    <div class="col-sm-8 print-tboxleft">
                        <h1>Lead Sheet</h1>
                        <div class="print-row row">
                            <div class="col-xs-6 col-sm-6">
                                <div class="col-sm-5 col-xs-5"><label>Designer : </label></div>
                                <div class="col-sm-7 col-xs-7">{{SalesAgentName}}</div>
                            </div>
                            <div class="col-sm-6 col-xs-6"></div>
                        </div>
                        <div class="print-row row">
                            <div class="col-xs-6 col-sm-6">
                                <div class="col-sm-5 col-xs-5"><label>Booked by : </label></div>
                                <div class="col-sm-7 col-xs-7">{{BookedBy}} </div>
                            </div>
                            <div class="col-xs-6 col-sm-6"></div>
                        </div>
                        <div class="print-row row">
                            <div class="col-xs-6 col-sm-6">
                                <div class="col-sm-5 col-xs-5"><label>Appt Date : </label></div>
                                <div class="col-sm-7 col-xs-7">{{ApptDate}}</div>
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <div class="col-sm-5 col-xs-5"><label>Appt Time : </label></div>
                                <div class="col-sm-7 col-xs-7">{{ApptTime}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 pull-right">
                        <img class="print-tboxright" src="images/budget_logo.jpg" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </header>

                <section class="print-informbox">
                    <div class="row print-info" style="page-break-inside: avoid">
                        <div class="col-sm-6 print-infoleft">
                            <h2>Contact Information</h2>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Primary Contact : </label></div>
                                <div class="col-xs-7">
                                    <label>{{Contactfullname}}</label>
                                </div>
                            </div>

                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Company : </label></div>
                                <div class="col-xs-7">
                                    <label>{{CompanyName}} </label>
                                </div>
                            </div>

                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Billing Address : </label></div>
                                <div class="col-xs-7 adres_print">
                                    <div><label>{{BillingAddress1}}</label></div>
                                    <div><label>{{BillingAddress2}}</label></div>
                                    <div><label>{{BillingAddress_CityStateZip}}</label></div>
                                </div>
                                <!--<div class="col-xs-8 adres_print">
                                    <label>Address 1 : {{BillingAddress1}}</label>
                                    <label>Address 2 : {{BillingAddress2}}</label>
                                    <label>City, St Zip : {{BillingAddress_CityStateZip}}</label>
                                </div>-->
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Cell : </label></div>
                                <div class="col-xs-7">
                                    <label> {{PrimaryCellPhone}} </label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Home : </label></div>
                                <div class="col-xs-7">
                                    <label>{{PrimaryHomePhone}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Work : </label></div>
                                <div class="col-xs-7">
                                    <label>{{PrimaryWorkPhone}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Email : </label></div>
                                <div class="col-xs-7">
                                    <label>{{PrimaryEmail}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Billing Location : </label></div>
                                <div class="col-xs-7">
                                    <label>{{BillingLocation}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Billing Cross Streets : </label></div>
                                <div class="col-xs-7">
                                    <label>{{BillingCrossStreet}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <!--<div class="col-xs-4 pcontact_field"><label>Primary Notes : </label></div>-->
                                <div class="col-xs-5 pcontact_field"><label>Additional Information : </label></div>
                                <div class="col-xs-7">
                                    <!--<label>{{PrimaryNotes}}</label>-->
                                    <label>{{BB_PN_AdditionalInfo}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 print-inforight">
                            <h2>Opportunity Information</h2>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Install Address  : </label></div>
                                <div class="col-xs-7 adres_print">
                                    <div><label>{{InstallAddress1}}</label></div>
                                    <div><label>{{InstallAddress2}}</label></div>
                                    <div><label>{{InstallAddres_CityStateZip}}</label></div>
                                </div>
                                <!--<div class="col-xs-8 adres_print">
                                    <label>Address 1 : {{InstallAddress1}}</label>
                                    <label>Address 2 : {{InstallAddress2}}</label>
                                    <label>City, St Zip : {{InstallAddres_CityStateZip}}</label>
                                </div>-->
                            </div>
                            <!--<div class="print-row row">
                                <div class="col-xs-4" style="padding-right:0 !important;"><label>Type : </label></div>
                                <div class="col-xs-8">
                                    <label>{{leadType}}</label>
                                </div>
                            </div>-->

                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Installation Location : </label></div>
                                <div class="col-xs-7">
                                    <label>{{InstallLocation}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Installation Cross Street : </label></div>
                                <div class="col-xs-7">
                                    <label>{{InstallCrossstreet}}</label>
                                </div>
                            </div>
                           
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Secondary Contact : </label></div>
                                <div class="col-xs-7">
                                    <label>{{Secondarycontact}} </label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Cell : </label></div>
                                <div class="col-xs-7">
                                    <label>{{SecondaryCellPhone}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Source : </label></div>
                                <div class="col-xs-7">
                                    <label>{{LeadSourceName}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Referral Info : </label></div>
                                <div class="col-xs-7">
                                    <label>{{LeadReferralInfo}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Lead Type : </label></div>
                                <div class="col-xs-7">
                                    <label>{{LeadType}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Key Acct : </label></div>
                                <div class="col-xs-7">
                                    <label>{{KeyAccount}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Related/Parent Account : </label></div>
                                <div class="col-xs-7">
                                    <label>{{ParentAccount}}</label>
                                </div>
                            </div>

                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Legacy Account : </label></div>
                                <div class="col-xs-7">
                                    <input type="checkbox" class="option-input checkbox" {{LegacyAccount}}>
                                </div>
                            </div>

                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Commercial : </label></div>
                                <div class="col-xs-7">
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{Commercial}}>
                                    </label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Commercial Type : </label></div>
                                <div class="col-xs-7">
                                    <label>{{Commercial_Type}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Industry : </label></div>
                                <div class="col-xs-7">
                                    <label>{{Industry}}</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <section>
                    <div class="print-detailbox" style="page-break-inside: avoid">
                        <div style="border: 1px solid #555;">
                            <!--<div style="margin-top: 15px;margin-bottom: 15px;height: 1px; background-color: gray; text-align: left">
                                <span style="background-color:#f7f7f7; color:#000; font-weight:bold; font-size:16px; position: relative; top: -10px;">
                                    &nbsp;Qualification Questions&nbsp;
                                </span>
                            </div>-->
                            <div style="padding:15px;">
                                <p style="width:175px; margin-top:-26px; padding-left: 5px; background:#fff; color:#000;">Qualification Questions</p>

                                <div class="oportunity_cboxs row">
                                    <div class="col-sm-2">
                                        <label>
                                            <input type="radio" class="option-input radio" name="optNewHome" {{BB_QQ_NewHome}}>
                                            New Home?
                                        </label>
                                    </div>
                                    <div class="col-sm-2" style="padding:0 !important;">
                                        <label>
                                            <input type="radio" class="option-input radio" name="optExistingHome" {{BB_QQ_ExistingHome}}>
                                            Existing Home?
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="col-sm-6"><label class="date_label">If New Home, Estimated Closing Date?</label></div>
                                        <div class="col-sm-6 print_tbox"><input type="text" class="form-control" value="{{BB_QQ_EstimatedClosingDate}}"></div>
                                    </div>
                                </div>

                                <div class="oportunity_cboxs row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8 print-row">
                                        <div class="col-sm-6"><label class="date_label">Or, Project Lead Time Preference</label></div>
                                        <div class="col-sm-6 print_tbox"><input type="text" class="form-control" value="{{BB_QQ_ProjectLeadTimePreference}}"></div>
                                    </div>
                                </div>

                                <!--<div class="oportunity_cboxs row">
                                    <div class="col-sm-3"><label class="referal_ralign">Referral</label></div>
                                    <div class="col-sm-5"><input type="text" class="form-control" value="{{BB_QQ_Referel}}"></div>
                                    <div class="col-sm-4"></div>
                                </div>-->


                                <div class="row oportunity_cboxs">
                                    <div class="col-sm-3"><label class="referal_ralign">Budget</label></div>
                                    <div class="col-sm-5"><input type="text" class="form-control" value="{{BB_QQ_Budget}}"></div>
                                    <div class="col-sm-4"></div>
                                </div>

                                <!--<div class="row oportunity_cboxs">
                                    <div class="col-sm-3"><label class="date_label">Anyone else needed at Appt?</label></div>
                                    <div class="col-sm-9"><input type="text" class="form-control" value="{{BB_QQ_AnyAppointment}}"></div>
                                </div>-->
                                <div class="row">
                                    <div class="col-sm-3" style="margin-top: 5px;"><label class="specify_label">Received Other Quotes?</label></div>
                                    <div class="col-sm-2 treat-grid_left">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="optReceiveOtherQuotesYes" {{BB_QQ_ReceivedOtherQuotesYes}}>
                                                    Yes
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="optReceiveOtherQuotesNo" {{BB_QQ_ReceivedOtherQuotesNo}}>
                                                    No
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7 print_tbox">
                                        <div class="col-sm-3"><label class="specify_label referal_field">Specifics</label></div>
                                        <!--<div class="col-sm-9 print_tbox"><input type="text" class="form-control" value="{{BB_QQ_ReceivedOtherQuotesSpecific}}"></div>-->
                                        <div class="col-sm-9 specifics_grid"><label>{{BB_QQ_ReceivedOtherQuotesSpecific}}</label></div>
                                    </div>
                                </div>
                                <!--<div class="row oportunity_cboxs">
                                    <div class="col-sm-3"><label class="date_label">Other Comments?</label></div>
                                    <div class="col-sm-9"><input type="text" class="form-control" value=""></div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="print-detailbox" style="page-break-inside: avoid">
                        <div style="border: 1px solid #555;">
                            <!--<div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left">
                                <span style="background-color:#f7f7f7; color:#000; font-weight:bold; font-size:16px; position: relative; top: -10px;">
                                    &nbsp;Project Needs&nbsp;
                                </span>
                            </div>-->
                            <div style="padding:15px;">
                                <p style="width:110px; margin-top:-26px; padding-left: 5px; background:#fff; color:#000;">Project Needs</p>
                                <div class="budget_box">
                                    <div class="row oportunity_cboxs">
                                        <div class="col-sm-3"><label class="referal_ralign">How many windows?</label></div>
                                        <div class="col-sm-9"><input type="text" class="form-control" value="{{BB_PN_HowManyWindows}}"></div>
                                    </div>
                                    <!--<div class="row oportunity_cboxs">
                                        <div class="col-sm-3"><label class="referal_ralign">Colors?</label></div>
                                        <div class="col-sm-9"><input type="text" class="form-control" value="{{BB_PN_Color}}"></div>
                                    </div>-->
                                    <!--<div class="print-row row">
                                        <div class="col-sm-4"><label>How many windows? &nbsp; &nbsp; &nbsp; &nbsp;{{BB_PN_HowManyWindows}}</label></div>
                                        <div class="col-sm-4"><label>Colors? &nbsp; &nbsp; &nbsp; &nbsp;{{BB_PN_Color}}</label></div>
                                        <div class="col-sm-4"></div>
                                    </div>-->
                                    <div class="row">
                                        <div class="col-sm-3 rooms_txt"><h3>Which rooms?</h3></div>
                                        <div class="col-sm-9">
                                            <div class="treat-grid row">
                                                <ul class="leadsheet_list">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="option-input checkbox" {{ChkLiving}}>
                                                            Living
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="option-input checkbox" {{ChkDining}}>
                                                            Dining
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="option-input checkbox" {{ChkFamily}}>
                                                            Family
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="option-input checkbox" {{ChkBed}}>
                                                            Bedrooms
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="treat-grid row">
                                                <ul class="leadsheet_list">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="option-input checkbox" {{ChkKitchen}}>
                                                            Kitchen
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="option-input checkbox" {{ChkBath}}>
                                                            Bathroom
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" class="option-input checkbox" {{ChkOther}}>
                                                            Other
                                                        </label>
                                                    </li>
                                                    <li style="width:65%;">
                                                        <label class="specifics_grid">
                                                            <!--<input type="text" class="form-control" value="{{BB_PN_Room_OtherNote}}">-->
                                                            {{BB_PN_Room_OtherNote}}
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="budget_box">
                                    <h2>What type of treatment are you interested in?</h2>
                                    <div class="treatment_lalign">
                                        <div class="treat-grid row">
                                            <ul class="oportunity_cboxs">
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkWood}}>
                                                        Wood
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkFauxWood}}>
                                                        Faux wood
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkCellular}}>
                                                        Cellular
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkShades}}>
                                                        Shades
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkRollarShades}}>
                                                        Rollar Shades
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkDraperies}}>
                                                        Draperies
                                                    </label>
                                                </li>
                                            </ul>
                                            <ul class="oportunity_cboxs">
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkRomans}}>
                                                        Romans
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkVerticals}}>
                                                        Verticals
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkShutters}}>
                                                        Shutters
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkWovenWoods}}>
                                                        Woven Woods
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkSolarShades}}>
                                                        Solar Shades
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkNeedIdeas}}>
                                                        Need Ideas
                                                    </label>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3" style="margin-top: 5px;"><label class="specify_label">Is a tall ladder needed?</label></div>
                                    <div class="col-sm-2 treat-grid_left">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="opttallladderYes" {{BB_QQ_tallladderYes}}>
                                                    Yes
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="opttallladderNo" {{BB_QQ_tallladderNo}}>
                                                    No
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7 print_tbox">
                                        <div class="col-sm-9 specifics_grid"><input type="text" class="form-control" value="{{BB_QQ_tallladderSpecific}}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5" style="margin-top: 5px;"><label class="specify_label">Would you have a WiFi connection available for us?</label></div>
                                    <div class="col-sm-2 treat-grid_left">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="optWiFiconnectionYes" {{BB_QQ_WiFiconnectionYes}}>
                                                    Yes
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="optWiFiconnectionNo" {{BB_QQ_WiFiconnectionNo}}>
                                                    No
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="margin:30px 0px;height:1px; background-color: gray; text-align:left; line-height: 16px;">
                                    <span style="background-color:#fff; font-weight:bold; position:relative; top: -9px;">
                                        If Drapery&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </div>
                                <div class="treat-grid row">
                                    <div class="col-sm-3 receive_head receive_aright"><label class="specify_label">Operational or Decorative?</label></div>
                                    <div class="col-sm-9">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="Operational" {{OptOpetational}}>
                                                    Operational
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="Decorative" {{OptDecorative}}>
                                                    Decorative
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row oportunity_cboxs">
                                    <div class="col-sm-3 required_label"><label class="date_label">Fabric Preferences</label></div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="{{BB_PN_FrabricPreferences}}">
                                    </div>
                                </div>
                                <div class="row oportunity_cboxs">
                                    <div class="col-sm-3 required_label"><label class="date_label">Solids/Prints</label></div>
                                    <div class="col-sm-9"><input type="text" class="form-control" value="{{BB_PN_SolidSOrPrints}}"></div>
                                </div>
                                <div class="row oportunity_cboxs">
                                    <div class="col-sm-3 required_label"><label class="date_label">Preferred Style</label></div>
                                    <div class="col-sm-9"><input type="text" class="form-control" value="{{BB_PN_PreferredStyle}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Zillow-section-->
                <section style="display:{{displayZillow}};">
                    <div class="print-detailbox" style="page-break-inside: avoid">
                        <div style="border: 1px solid #555;">
                            <div style="padding:15px;">
                                <p style="width:130px; margin-top:-26px; padding-left: 5px; background:#fff; color:#000;">Zillow Information</p>
                                <div class="leadgrid_box" style="padding-top:20px;display:{{displayZillowData}};">
                                    <div class="zillow_address">
                                        See more details for
                                        [<label class="ldet_label">{{InstallAddress1}}</label>
                                        <label class="ldet_label">{{InstallAddress2}}</label>
                                        <label style="text-indent:-6px;">,</label>
                                        <label class="ldet_label">{{InstallAddres_CityStateZip}}</label>]
                                        on Zillow
                                    </div>
                                    <div class="zillow_section">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Year Built</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{yearBuilt}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Lot Size</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{lotSizeSqFt}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Finished Sq Ft</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{finishedSqFt}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Bed Rooms</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{bedrooms}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Bath Rooms</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{bathrooms}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--2nd Column-->
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Last Sold Date</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{lastSoldDate}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Last Sold Price</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{lastSoldPrice}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Zestimate<sup>®</sup></label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{zestimate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="zillow_footer row">
                                        <div class="col-sm-4">
                                            <div class="zillow_logo">
                                                <img class="img-responsive" src="images/zillow_logo.jpg" alt="" />
                                                <!--<span class="zillow_provide">Provided by</span> <br />
                                                <img class="print_zillowlogo" src="images/zillow_logo.png" alt="" />-->
                                            </div>
                                        </div>
                                        <div class="col-sm-8 zillow_logocopyright">
                                            <p>&copy; Zillow, Inc., 2006-2016. Use is subject to Terms of Use<br /> What is Zestimate?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="zillow_desc" style="display:{{displayZillowNoInfo}};">
                                    <p>No Information Available from Zillow</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>














