﻿<!DOCTYPE html>
<html>
<head>
<title>Touchpanel</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Touchpanel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/new_style.css" rel='stylesheet' type='text/css' />
</head> 
<body>
<div class="container-fluid">
 <div class="print-tbox">
     <header>
         <div class="col-sm-8 print-tboxleft">
             <h1>Measurement Form</h1>
             <div class="print-row row">
                 <div class="col-xs-6 col-sm-6">
                     <div class="col-sm-5 col-xs-5"><label>Designer : </label></div>
                     <div class="col-sm-7 col-xs-7">{{SalesAgentName}}</div>
                 </div>
                 <div class="col-sm-6 col-xs-6"></div>
             </div>
             <div class="print-row row">
                 <div class="col-xs-6 col-sm-6">
                     <div class="col-sm-5 col-xs-5"><label>Booked by : </label></div>
                     <div class="col-sm-7 col-xs-7">{{BookedBy}} </div>
                 </div>
                 <div class="col-xs-6 col-sm-6"></div>
             </div>
             <div class="print-row row">
                 <div class="col-xs-6 col-sm-6">
                     <div class="col-sm-5 col-xs-5"><label>Appt Date : </label></div>
                     <div class="col-sm-7 col-xs-7">{{ApptDate}}</div>
                 </div>
                 <div class="col-xs-6 col-sm-6">
                     <div class="col-sm-5 col-xs-5"><label>Appt Time : </label></div>
                     <div class="col-sm-7 col-xs-7">{{ApptTime}}</div>
                 </div>
             </div>
         </div>
         <div class="col-sm-4 col-xs-4 pull-right">
             <img class="print-tboxright" src="images/budget_logo.jpg" alt="" />
         </div>
         <div class="clearfix"> </div>
     </header>
  
  <section class="print-informbox">
     <div class="row print-info">
	    <div class="col-sm-6 print-infoleft">
		   <h2>Contact Information</h2>
		   <div class="print-row row">
	         <div class="col-xs-4"><label>Primary Contact : </label></div>
		     <div class="col-xs-8">
		       <label>{{Contactfullname}}</label>
		     </div>
	        </div>
		  
		    <div class="print-row row">
	         <div class="col-xs-4"><label>Company : </label></div>
		     <div class="col-xs-8">
		       <label>{{CompanyName}} </label>
		     </div>
	        </div>
		   
		   <div class="print-row row">
	         <div class="col-xs-4"><label>Install Address : </label></div>
		     <div class="col-xs-8">
		        <div><label>{{InstallAddress1}}</label></div>
			    <div><label>{{InstallAddress2}}</label></div>
			    <div><label>{{InstallAddres_CityStateZip}}</label></div>
		     </div>
	       </div>
		 </div>
		<div class="col-sm-6 print-inforight">
		   <br>
		 <div class="print-row row">
	         <div class="col-xs-4"><label></label></div>
		     <div class="col-xs-8">
		       <label></label>
		     </div>
	        </div>
		    <div class="print-row row">
	         <div class="col-xs-4"><label>Cell : </label></div>
		     <div class="col-xs-8">
		       <label>{{PrimaryCellPhone}}</label>
		     </div>
	        </div>
			<div class="print-row row">
	         <div class="col-xs-4"><label>Home : </label></div>
		     <div class="col-xs-8">
		       <label>{{PrimaryHomePhone}} </label>
		     </div>
	        </div>
			<div class="print-row row">
	         <div class="col-xs-4"><label>Work : </label></div>
		     <div class="col-xs-8">
		       <label>{{PrimaryWorkPhone}}</label>
		     </div>
	        </div>
			<div class="print-row row">
	         <div class="col-xs-4"><label>Email : </label></div>
		     <div class="col-xs-8">
		       <label>{{PrimaryEmail}}</label>
		     </div>
	        </div>
			<div class="print-row row">
	         <div class="col-xs-4"><label>Secondary Contact : </label></div>
		     <div class="col-xs-8">
		       <label>{{Secondarycontact}}</label>
		     </div>
	        </div>
			<div class="print-row row">
	         <div class="col-xs-4"><label>Secondary Cell : </label></div>
		     <div class="col-xs-8">
		       <label>{{SecondaryCellPhone}}</label>
		     </div>
	        </div>
		</div>
	 </div>
  </section>
  <section>
     <div class="print-detailbox" > 
         <div style="border: 1px solid #555;">
             <!--<div style="margin-top: 15px;margin-bottom: 15px;height: 2px; background-color: gray; text-align: left;">
                 <span style="background-color:#f7f7f7; cursor: pointer; position: relative; top: -9px;">
                     &nbsp;Existing Measurements:&nbsp;
                 </span>
             </div>-->
             <div style="padding:15px;">
                 <p style="width:175px; margin-top:-26px; padding-left: 5px; background:#fff; color:#000;">Existing Measurements:</p>
                     <div class="sub_expand">
                         <div class="table-responsive">
                             <table class="table table-expand">
                                 <thead class="expand_lhead">
                                     <tr>
                                         <th>Room Location</th>
                                         <th>Room Name</th>
                                         <th>Window Location</th>
                                         <th>Mount Type</th>
                                         <th>Width</th>
                                         <th>Height</th>

                                     </tr>
                                 </thead>

                                 <tbody>
                                     {{MeasurmentData}}
                                 </tbody>
                             </table>
                         </div>


                     </div>
             </div>
         </div>

         </div>
		
  </section>
 </div>
</div>
</body>
</html>

























