﻿<style>
    .error {
        color: red;
    }

    .errormob {
        margin-left: 179px;
    }

    .errortext {
        color: red !important;
    }

    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }

    .panel-body span.k-icon.k-i-arrow-60-down.k-panelbar-expand {
        display: none;
    }

    .panel-body .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-active) .k-icon, .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-expanded) .k-icon {
        display: none;
    }

    .k-panelbar > .k-item.k-state-active > .k-link .k-icon, .k-panelbar > .k-item.k-state-expanded > .k-link .k-icon {
        display: none;
    }

    .k-grid-content.k-auto-scrollable {
        height: auto !important;
    }
    span.k-icon.k-panelbar-expand.k-i-arrow-60-down {
        display: none;
    }
</style>

<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <div class="tab_container tp_content">
        <div class="p-3" >
            <div class="lead_stab">
            </div>
            <div class="error error_msg" ng-if="!Permission.ViewHome" style="padding-top:30px;padding-left:20px;">
                You don't have permission to this page.
            </div>
            <form id="crm-lead-detail" name="mpo_form" ng-show="Permission.ViewHome">
                <div class="lead_stab">
                </div>
                <div class="row ml-0 mr-0">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Created Date</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label ng-binding">{{MPO.CreateDate|GlobalTime:'shortDate'}} </label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Submitted Date</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label ng-binding">{{MPO.SubmittedDate|GlobalTime:'shortDate'}} </label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Status</label>
                            <div class="col-sm-9 col-xs-9">
                                <a style="color: red !important; text-decoration: underline;" ng-show="MPO.POStatusId==10&&MPO.Message!=null&&MPO.Message!=''" href="javascript:void(0)" ng-click="ViewMPOError()">{{MPO.Status}}</a>
                                <label style="color: red !important;" ng-show="MPO.POStatusId==10&&(MPO.Message==null||MPO.Message=='' )" class="ldet_label">{{MPO.Status}}</label>
                                <label ng-show="MPO.POStatusId!=10" class="ldet_label">{{MPO.Status}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Total Cost</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{MPO.Total| currency:"$"}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Ship to Account</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{FranchiseName}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Sales Order#</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{MPO.OrderNumber}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Opportunity</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{MPO.OpportunityName}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_2">
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">MPO # </label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{MPO.MasterPONumber}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Sidemark</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label ng-binding">{{MPO.SideMark}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Total Qty</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{MPO.Quantity}}</label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Ship To</label>
                            <div class="col-sm-9 col-xs-9">
                                <!--<div ng-if="Permission.SubmitOrder == false">
                                    <span ng-if="MPO.Address!=null && MPO.Address!='' ">{{MPO.Address}}</span>
                                    <div ng-if="MPO.Address!=null && MPO.Address!='' ">
                                        <label ng-if="MPO.IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="text-align:center;vertical-align: middle;"><i class="fa fa-exclamation-triangle"></i></label>
                                        <label ng-if="MPO.IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="text-align:center;vertical-align: middle;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                                    </div>
                                    <span ng-if="MPO.Address==null || MPO.Address=='' ">Select</span>
                                </div>-->
                                <div class="ldet_label">
                                    <span ng-if="MPO.Address==null || MPO.Address=='' ">Select</span>
                                    <span ng-if="MPO.Address!=null && MPO.Address!='' ">{{MPO.Address}}</span>
                                    <label ng-if="MPO.IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="text-align:center; vertical-align: middle;"><i class="fa fa-exclamation-triangle"></i></label>
                                    <label ng-if="MPO.IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="text-align:center; vertical-align: middle;"><i class="fas fa-check-circle" style="color:green;"></i></label>

                                </div>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Sales Agent</label>
                            <div class="col-sm-9 col-xs-9 ">
                                <label class="ldet_label ng-binding">{{MPO.SalesAgent}} </label>
                            </div>
                        </div>
                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Account Name</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{MPO.AccountName}}</label>
                            </div>
                        </div>

                        <div class="source-group row">
                            <label class="col-sm-3 col-xs-3 text_detlabel">Cancel Reason</label>
                            <div class="col-sm-9 col-xs-9">
                                <label class="ldet_label">{{MPO.CancelReason}}</label>
                            </div>
                        </div>
                        <!--<div class="source-group row">
                            <div ng-show="CancelReasonList && CancelReasonValue == ''">
                                <label class="col-sm-3 col-xs-3 text_detlabel">Cancel Reason{{MPO.CancelReason}}</label>
                                <div class="col-sm-9 col-xs-9">
                                    <span class="custom-dropdown custom-dropdown--white" style="width:50% !important;">
                                        <select class="frm_controllead1 custom-dropdown__select custom-dropdown__select--white"
                                                ng-model="MPO.CancelReason"
                                                name="cancel_Reason"
                                                ng-click="OnCancelUpdateMPOStatus()"
                                                ng-class="{true: 'errorTP'}[formlead.cancel_Reason.$invalid]"
                                                ng-options='opt.Name as (opt.Name) for opt in CancelReasonList'>
                                            <option value="" disabled selected>select</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

                <kendo-tooltip options="kendotooltipOptions">
                    <kendo-grid id="VendorGrid" options="MPODetails" style="margin-bottom:40px !important;"></kendo-grid>
                </kendo-tooltip>
                <div>
                    <button style="font-size:14px;" id="collapsebtn" ng-click="CollapseAll()" class="tooltip-bottom cancel_tpbut">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp; <span></span>Collapse All
                    </button>
                    <button style="font-size:14px;" id="expandbtn" ng-click="ExpandAll()" class="tooltip-bottom cancel_tpbut">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Expand All
                    </button>
                </div>

                <!--VPO Grids-->
                <div class="leadgrid_box" style="margin:20px 0;">
                    <ul kendo-panel-bar id="panelbar">
                        <!--CORE VPO GRIDS-->
                        <li ng-repeat="opt in MPO.CoreProductGroupVpos">
                            <span style="font-weight: bold; width: 100%;">

                                <p style="float: right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin: 4px 0 0px 0; text-align: center; border-radius: 3px;">
                                    {{opt.VPODetails.length}}
                                </p>
                                <p style="float: right; line-height: 20px; margin: 4px 3% 0px 0; text-align: center; ">
                                    Purchase Order# &nbsp; {{opt.PICPO}}
                                </p>
                                <p style=" line-height: 20px; margin: 4px 3% 4px 0; text-align: left; ">
                                    {{ opt.VendorName }}
                                </p>
                            </span>

                            <div style="margin:20px 0;">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label class="text_detlabel">Vendor Order #:</label>
                                        <label class="ldet_label ng-binding">{{opt.VendorOrderNumber}}</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="text_detlabel">Shipment:</label>

                                        <div style="display: inline !important" ng-repeat="item in opt.Shipment">
                                            <label class="ng-binding">
                                                <a style="font-weight: 100;font-size: 12px;">{{item.Value}}</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="text_detlabel">Invoice:</label>

                                        <div style="display: inline !important" ng-repeat="item in opt.VendorInvoice">
                                            <label class="ng-binding">
                                                <a style="font-weight: 100;font-size: 12px;">{{item.Value}}</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div style="text-align: right">

                                            <!--<input ng-if="Permission.SubmitOrder" ng-show="MPO.Status != 'Canceled'" type="button" ng-click="CancelGroupVPOPopup(opt.VPODetails)" style="float: right;" class="k-button btn btn-primary cancel_but" value="Cancel Vendor PO" />-->


                                        </div>
                                    </div>
                                </div>

                                <div style="margin-top: 2% !important;">
                                    <div class="k-grid-header-wrap k-auto-scrollable" data-role="resizable">
                                        <table role="grid" class="table">
                                            <thead style="background-color: rgba(128, 128, 128, 0.18823529411764706);white-space: nowrap;font-size: 12px !important;">
                                                <tr>
                                                    <th scope="col">
                                                        Line Num
                                                    </th>
                                                    <th scope="col">
                                                        Product
                                                    </th>
                                                    <th scope="col">
                                                        Product Number
                                                    </th>
                                                    <th scope="col" style="width: 35% !important;">
                                                        Description
                                                    </th>
                                                    <th>
                                                        QTY
                                                    </th>
                                                    <th scope="col">
                                                        Cost
                                                    </th>
                                                    <th scope="col">
                                                        Promise By Date
                                                    </th>
                                                    <th scope="col">
                                                        Est. Ship Date
                                                    </th>
                                                    <th scope="col">
                                                        Status
                                                    </th>
                                                    <th scope="col">
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="vDetails in opt.VPODetails">
                                                    <td>
                                                        <span class="Grid_Textalign">{{vDetails.LineNumber}}</span>
                                                    </td>
                                                    <td>
                                                        {{vDetails.ProductName}}
                                                    </td>
                                                    <td>
                                                        <span class="Grid_Textalign">{{vDetails.PartNumber}}</span>
</td>
                                                    <td>
                                                        <p ng-bind-html="vDetails.Description"></p>
                                                    </td>
                                                    <td>
                                                        <span class="Grid_Textalign">{{HFCService.NumberFormat(vDetails.Quantity, 'number')}}</span>
</td>
                                                    <td>
                                                        <span class="Grid_Textalign">{{vDetails.Cost| GlobalCurrency }}</span>
</td>
                                                    <td>
                                                        {{vDetails.PromiseByDate |GlobalTime:'shortDate' }}
                                                    </td>
                                                    <td>
                                                        {{vDetails.ShipDate |GlobalTime:'shortDate'}}
                                                    </td>
                                                    <td>
                                                        <span ng-if="vDetails.Warning!=''&&vDetails.Warning!=null&& vDetails.StatusId!=10 " style='color: #3d7d8b;font-weight: 900;'><i style="color: #3d7d8b;" class="fa fa-info-circle" ng-click="showWarningOrInfo(vDetails)" />{{vDetails.Status}}</span>
                                                        <span ng-if="vDetails.StatusId==10" style='color: red;font-weight: 900;'> <i style="color: #3d7d8b;" class="fa fa-info-circle" ng-click="showWarningOrInfo(vDetails)" />{{vDetails.Status}} </span>
                                                        <span ng-if="(vDetails.Warning==''||vDetails.Warning==null)&& vDetails.StatusId!=10"> {{vDetails.Status}}</span>
                                                    </td>
                                                    <!--<td>
                                                            <ul ng-if="MPO.Status != 'Canceled'">
                                                            <li class="dropdown note1 ad_user">
                                                                <div class="btn-group">
                                                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-ellipsis-h dot_icon" aria-hidden="true"></i> </button>
                                                                    <ul class="dropdown-menu pull-right" style="position:relative !important;">
                                                                        <li><a href="javascript:void(0)" ng-click="addEditNotestoVendor(vDetails)">Note to Vendor</a></li>
                                                                        <li ng-show="vDetails.StatusId === 10"><a href="javascript:void(0)" ng-click="ViewVPOError(vDetails)">View Error</a></li>
                                                                        <li ng-show="vDetails.StatusId == 1 || vDetails.StatusId == 2 || vDetails.StatusId == 6 || vDetails.StatusId == 9 || vDetails.StatusId == 11"><a href="javascript:void(0)" ng-click="CancellineVPOPopup(vDetails)">Cancel line</a></li>
                                                                        <li><a ng-show="FranciseLevelCase && vDetails.StatusId != 10 && vDetails.StatusId != 8 && MPOCancelled" href="javascript:void(0)" ng-click="gotoAddCaseEditWithVPO(vDetails.LineNumber)">Create Case</a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </td>-->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--MY PRODUCT VPO GRIDS-->
                        <li ng-repeat="opt in MPO.MyProductGroupVpos">
                            <span style="font-weight: bold; width: 100%;">

                                <p style="float: right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin: 4px 0 0px 0; text-align: center; border-radius: 3px;">
                                    {{opt.VPODetails.length}}
                                </p>
                                <p style="float: right; line-height: 20px; margin: 4px 3% 0px 0; text-align: center; ">
                                    Purchase Order# &nbsp; {{opt.PICPO}}
                                </p>
                                <p style=" line-height: 20px; margin: 4px 3% 4px 0; text-align: left; ">
                                    {{ opt.VendorName }}
                                </p>
                            </span>

                            <div style="margin:20px 0;">
                                <div style="margin-top: 2% !important;">
                                    <div class="k-grid-header-wrap k-auto-scrollable" data-role="resizable">
                                        <table role="grid" class="table">
                                            <thead style="background-color: rgba(128, 128, 128, 0.18823529411764706);white-space: nowrap;font-size: 12px !important;">
                                                <tr>
                                                    <th scope="col">
                                                        Line Num
                                                    </th>
                                                    <th scope="col">
                                                        Vendor Name
                                                    </th>
                                                    <th scope="col">
                                                        PO #
                                                    </th>
                                                    <th scope="col">
                                                        Product
                                                    </th>
                                                    <th scope="col">
                                                        Product Number
                                                    </th>
                                                    <th>
                                                        Description
                                                    </th>
                                                    <th style="width:6%">
                                                        QTY
                                                    </th>
                                                    <th scope="col">
                                                        Cost
                                                    </th>
                                                    <th scope="col">
                                                        Purchased / Picked
                                                    </th>
                                                    <th scope="col">
                                                        By
                                                    </th>
                                                    <th scope="col">
                                                        Date
                                                    </th>
                                                    <th style="width:8%" scope="col">
                                                        Status
                                                    </th>
                                                    <th style="width:8%" scope="col">
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tr ng-repeat="vDetails in opt.VPODetails" data-ng-class="{danger:!vDetails.active}">
                                                <td>
                                                    <span class="Grid_Textalign">{{vDetails.LineNumber}}</span>
</td>
                                                <td>
                                                    {{vDetails.VendorName}}
                                                </td>
                                                <td>
                                                    <span class="Grid_Textalign">{{vDetails.PONumber}}</span>
</td>
                                                <td>
                                                    {{vDetails.ProductName}}
                                                </td>
                                                <td>
                                                    <span class="Grid_Textalign">{{vDetails.PartNumber}}</span>
</td>
                                                <td>
                                                    <p ng-bind-html="vDetails.Description"></p>
                                                </td>
                                                <td>
                                                    <span ng-attr-class="{{'disp'+ vDetails.PurchaseOrdersDetailId}} Grid_Textalign">
                                                        {{HFCService.NumberFormat(vDetails.Quantity, 'number')}}
                                                    </span>
                                                    <input ng-attr-class="{{'edit'+ vDetails.PurchaseOrdersDetailId}}" style="display:none;width:100% !important;" ng-attr-id="{{ vDetails.PurchaseOrdersDetailId + '_Quantity' }}" ng-model="vDetails.Quantity"
                                                           data-bind="value:Quantity" name="Quantity" data-decimals="0" />
                                                </td>
                                                <td>
                                                    <span class="Grid_Textalign">{{vDetails.Cost| GlobalCurrency }}</span>
                                                </td>
                                                <td>
                                                    <span ng-attr-class="{{'disp'+ vDetails.PurchaseOrdersDetailId}}">
                                                        {{vDetails.purchased}}
                                                    </span>
                                                    <input style="display:none;width:100% !important;" ng-attr-class="{{'edit'+ vDetails.PurchaseOrdersDetailId}}" ng-attr-id="{{ vDetails.PurchaseOrdersDetailId + '_Picked' }}" ng-model="vDetails.purchased"
                                                           data-bind="value:purchased" name="purchased" data-decimals="0" />
                                                </td>
                                                <td>
                                                    <span ng-attr-class="{{'disp'+ vDetails.PurchaseOrdersDetailId}}">
                                                        {{vDetails.PickedBy}}
                                                    </span>
                                                    <input style="display:none;" ng-attr-class="{{'edit'+ vDetails.PurchaseOrdersDetailId}}" type="text" ng-model="vDetails.PickedBy" ng-attr-id="{{ vDetails.PurchaseOrdersDetailId + '_PickedBy' }}" maxlength="25" />
                                                    <!--{{vDetails.PickedBy}}-->
                                                </td>

                                                <td>
                                                    <span ng-attr-class="{{'disp'+ vDetails.PurchaseOrdersDetailId}}">
                                                        {{vDetails.ShipDate |GlobalTime:'shortDate'}}
                                                    </span>
                                                    <input ng-attr-class="{{'edit'+ vDetails.PurchaseOrdersDetailId}}" ng-attr-id="{{ vDetails.PurchaseOrdersDetailId + '_shipDate' }}" style="display:none;width:80% !important;" kendo-date-picker
                                                           ng-model="vDetails.ShipDate"
                                                           k-format = "HFCService.StaticKendoDateFormat()" />
                                                    <!--{{vDetails.ShipDate |GlobalTime:'shortDate'}}-->
                                                </td>

                                                <td>
                                                    <span ng-attr-class="{{'disp'+ vDetails.PurchaseOrdersDetailId}}">
                                                        {{vDetails.Status}}
                                                    </span>


                                                    <!--<span style="display:none;" id="{{'edit'+ vDetails.PurchaseOrdersDetailId}}" class="custom-dropdown custom-dropdown--white"  >
                                                        <select class="frm_controllead1 custom-dropdown__select custom-dropdown__select--white"
                                                                ng-model="vDetails.Status"
                                                                name="status_Reason"
                                                                ng-change="MyProductStatusUpdate(vDetails)"
                                                                ng-options='items.text as (items.text) for items in MyprdStatusDDL'>
                                                            <option value="" disabled selected>select</option>
                                                        </select>
                                                    </span>-->




                                                </td>
                                                <!--<td>
                                                    <div style="display: inline-grid;">
                                                        <input style="margin-bottom: 1%;" ng-attr-class="{{'disp'+ vDetails.PurchaseOrdersDetailId}}" data-ng-click="editmyprdVPO(vDetails)" ng-if="Permission.SubmitOrder && vDetails.StatusId!=8" type="button" class="k-button btn btn-primary cancel_but" value="Edit" />
                                                        <input style="display:none;margin-bottom: 1%;" ng-attr-class="{{'edit'+ vDetails.PurchaseOrdersDetailId}}" data-ng-click="UpdatemyprdVPO(vDetails)" ng-if="Permission.SubmitOrder" type="button" class="k-button btn btn-primary cancel_but" value="Update" />
                                                        <input style="display:none;margin-bottom: 1%;" ng-attr-class="{{'edit'+ vDetails.PurchaseOrdersDetailId}}" data-ng-click="CancelmyprdVPO(vDetails)" ng-if="Permission.SubmitOrder" type="button" class="k-button btn btn-primary cancel_but" value="Cancel" />
                                                    </div>
                                                </td>-->
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>

        </div>
    </div>
</div>

<!--Error-->
<div class="modal fade" id="Errormodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">VPO Item Error</h4>
                <button type="button" class="close popup_close" ng-click="CancelError('Errormodal')">&times;</button>
            </div>
            <div class="errorTP" style="text-align: center;"><b>Warning:<br />There is an issue with order/item please review the error below.</b></div>
            <form name="Measurement_addint" role="form">
                <div class="modal-body quote_popup errorTP">
                    <div class="form-group row">
                        <div class="col-12 ldetailtext_field">
                            <!--<textarea ng-disabled="MPO.SubmittedTOPIC" style="width: 100%" rows="4" cols="50" ng-model="vpoDetails.NotesVendor"></textarea>-->
                        </div>
                        <div style="margin: 0% 6%;" ng-bind-html="vpoDetails.Errors">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="EditConfiguration()">Correct Product Configuration</button>
                        <button type="reset" class="btn btn-cancel" ng-click="CancelError('Errormodal')">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--MPO Error-->
<div class="modal fade" id="MPOErrormodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Error</h4>
                <button type="button" class="close popup_close" ng-click="CancelMPOError('MPOErrormodal')">&times;</button>
            </div>
            <form name="Measurement_addint" role="form">
                <div class="modal-body quote_popup">
                    <div class="form-group row">
                        <div class="col-12 ldetailtext_field">
                        </div>
                        <div ng-bind-html="MPO.Message">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelMPOError('MPOErrormodal')">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--MPO Error-->
<div class="modal fade" id="warningOrInfoModel" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Warning / Information</h4>
                <button type="button" class="close popup_close" ng-click="CancelWarningOrInfo('warningOrInfoModel')">&times;</button>
           </div>
            <form name="Measurement_addint" role="form">
                <div class="modal-body quote_popup">
                    <div class="form-group row">
                        <div class="col-12 ldetailtext_field">
                            <div ng-bind-html="warningOrinfoMsg" class="liststyle">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelWarningOrInfo('warningOrInfoModel')">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Note to Vendor-->

<div class="modal fade" id="notetoVendormodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Notes to Vendor</h4>
                <button type="button" class="close popup_close" ng-click="CancelNotetoVendor('notetoVendormodal')">&times;</button>
            </div>
            <div class="text-center"><b>Warning:<br />This note will be sent to the vendor. Please include instructions or comments here.</b></div>
            <form name="Measurement_addint" role="form" ng-submit="SavenoteToVendor(vpoDetails)">
                <div class="modal-body quote_popup">
                    <div class="form-group row">
                        <div class="col-12 ldetailtext_field">
                            <textarea ng-disabled="MPO.SubmittedTOPIC" style="width: 100%" rows="4" cols="50" ng-model="vpoDetails.NotesVendor"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" ng-show="!MPO.SubmittedTOPIC" class="btn btn-cancel" ng-click="CancelNotetoVendor('notetoVendormodal')">Cancel</button>
                        <button type="submit" ng-show="!MPO.SubmittedTOPIC" class="btn btn-cancel">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Cancel VPO-->

<div class="modal fade" id="cancelVPOmodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">WARNING</h4>
                <button type="button" class="close popup_close" ng-click="CancelVPOPopup('cancelVPOmodal')">&times;</button>
            </div>
            <div class="text-center"><b>Warning!<br />This will cancel your order within Touchpoint. You must contact the vendor directly to cancel orders.<br />Would you like to continue?</b></div>
            <div class="m-4">
                <label class="ldet_label">Cancel Reason Code:</label><div>
                    <span class="custom-dropdown custom-dropdown--white">
                        <select class="frm_controllead1 custom-dropdown__select custom-dropdown__select--white" ng-model="VPOCancelReasonValue" name="cancel_Reason" ng-options="opt.Name as (opt.Name) for opt in CancelReasonList">
                            <option value="" disabled selected>select</option>
                        </select>
                    </span>
                </div>
            </div>
            <form name="Measurement_addint" role="form" ng-submit="ContinueCancelVPO(this.vpoId)">
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="submit" ng-show="VPOCancelReasonValue!=''" id="cancelbutton" class="btn btn-cancel">Ok</button>
                        <button type="reset" class="btn btn-cancel" ng-click="CancelVPOPopup('cancelVPOmodal')">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Code for the popup on clickin the Vendor PO Details-->
<div class="modal fade" id="MultipleShippingAddress" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Ship To Address</h4>
                <button type="button" class="close popup_close" ng-click="CancelMPO()" aria-hidden="true">&times;</button>
            </div>
            <form name="Purchase_order" role="form" novalidate ng-submit="UpdatAndConfirmAddress(MPO,Address)">
                <div class="modal-body shipaddres_popup">
                    <div ng-show="MPO.ShipToLocationList.length > 0">
                        <!--<p>Hello New World</p>-->
                        <div>
                            <div class="form-group row ">
                                <label class="col-sm-12 textAllignCenter">CONFIRM SHIP TO ADDRESS</label>
                            </div>
                            <div class="form-group row">
                                <label ng-if="MPO.Address!=null" class="col-sm-12 textAllignCenter">{{MPO.Address}}</label>
                            </div>
                        </div>
                        <div class="leadgrid_box">
                            <div id="promptsOuter" style="padding:20px; border:1px solid rgb(204, 204, 204);">
                                <!--k-rebind="PersonService.Calendar.selectAccountOptions"-->
                                <div class="form-group">
                                    <span ng-if="!MPO.DropShip" class="custom-dropdown custom-dropdown--white">
                                        <select id="ddlShiptoLocation" class="custom-dropdown__select custom-dropdown__select--white frm_controllead1" ng-change="ShiplocationChange()"
                                                ng-model="MPO.ShipToLocation" ng-options="item.Id as item.ShipToName for  item  in MPO.ShipToLocationList ">
                                            <option value="" style="color: red !important">Please Select</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="textAllignCenter">
                                    <div class="radio-group">
                                        <label class="ldet_label">
                                            <input type="checkbox" ng-change="dropShipSelected()" ng-model="MPO.DropShip" class="option-input radio radio_space" name="dropShip" value="true" title="Drop ship" />Drop Ship
                                        </label>
                                    </div>
                                </div>
                                <div id="drpshipdiv">
                                    <div class="form-group row">
                                        <div class="form-group row ml-0 mr-0">
                                            <!--<hfc-addresstp address-model="MPO.DropShipAddress" parent-form-submit-status="submitted"></hfc-addresstp>-->
                                            <hfc-addresstp id="drpshipAddress" disabled address-model="Address" parent-form-submit-status="submitted"></hfc-addresstp>
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-top: -15px;">
                                        <label class="col-sm-3 valid_label">Country</label>
                                        <div class="col-sm-9">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white" style="padding: 5px !important;"
                                                        id="countryBox" ng-model="Address.CountryCode2Digits"
                                                        ngchange1="AdditionalAddressServiceTP.CountryChanged()"
                                                        ng-change="CountryChanged()"
                                                        ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                    <option value="">select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="modal-footer">
                                    <div class="popup_butns">
                                        <div class="row textAllignCenter">
                                            <div class="col-sm-6 col-xs-6"><input type="submit" id="btnReset" class="k-button btn btn-primary cancel_but" value="Update And Confirm"></div>
                                            <div class="col-sm-6 col-xs-6"><input type="button" id="btnReset" class="k-button btn btn-primary cancel_but" value="Cancel" ng-click="CancelMPO()"></div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div ng-show="MPO.ShipToLocationList.length<=  0" style="color:red;margin:10%">
                        <span>
                            No Ship To Addresses found. Please click <a href="#!/procurement">here</a> to add Ship To Addresses.
                        </span>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row no-margin" style="width: 100%;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8 no-padding">
                            <div class="row no-margin">
                                <div class="col-sm-9 col-xs-9 no-padding" style="padding-right:5px !important; width:72%; text-align:right;">
                                    <input type="submit" id="btnReset" class="k-button btn btn-primary cancel_but" value="Update And Confirm">
                                </div>
                                <div class="col-sm-3 col-xs-3 no-padding">
                                    <input type="button" id="btnReset" class="k-button btn btn-primary cancel_but" value="Cancel" ng-click="CancelMPO()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>-->

<script type="text/javascript">
    //elipseMenu();
    $("#panelbar").kendoPanelBar();
    var panelBar = $("#panelbar").data("kendoPanelBar");
    panelBar.expand($("#accountlistPanel"));

    function showorhiderar() {
        $("#rarSection").toggle();
    }
</script>