﻿<style>
    .error {
        color: red;
    }
   span.k-icon.k-i-arrow-60-down.k-panelbar-expand {
        display: none;
    }
    .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-active) .k-icon, .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-expanded) .k-icon {
        display: none;
    }
    .k-panelbar > .k-item.k-state-active > .k-link .k-icon, .k-panelbar > .k-item.k-state-expanded > .k-link .k-icon {
        display: none;
    }
    .table-responsive .k-grid-content.k-auto-scrollable {
        height:100% !important;
    }
</style>
<div class="outter-wp">
    <div class="tab_container tp_content">
        <div class="lead_stab">
        </div>
            <form id="crm-lead-detail" name="Frm_vendoredit">
                <div class="error error_msg" ng-if="!Permission.ViewHome" style="padding-top:30px;padding-left:20px;">
                    You don't have permission to this page.
                </div>
                <div class="p-3" ng-show="Permission.ViewHome">
                    <div class="leadgrid_box">
                        <div class="lead_rtop row">
                            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Vendor Type</label>
                                    <div class="col-9">
                                        <div ng-switch="Vendor.VendorName">
                                            <div class="v_tooltip row">
                                                <label class="ldet_label vendor_tfield col-sm-6">{{Vendor.VendorName}}</label>
                                                <div class="col-sm-6">
                                                    <!--<span class="tooltiptext vendor_view">* This Vendor Type is a locally owned single retail storefront</span>-->
                                                    <div class="vendor_ertext" ng-switch-when="MyVendor">
                                                        <span class="tooltiptext vendor_view">* This Vendor Type is a locally owned single retail storefront</span>
                                                    </div>
                                                    <div class="vendor_ertext" ng-switch-when="Non-Alliance Vendor">
                                                        <span class="tooltiptext vendor_view">   * This Vendor Type is a Retail Chain i.e. Home Depot, Lowe's</span>
                                                    </div>
                                                    <div ng-switch-default>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Vendor ID</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{vendorId}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Vendor Name</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.Name}}</label>
                                        <label style="color:red" class="vendor_ertext" ng-hide="(Vendor.Beta ==false || Vendor.Beta ==null)">&nbsp;(Beta)</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Account Status</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.AcctStatus}}</label>
                                    </div>
                                </div>
                                <div ng-if="Vendor.VendorType ==1">
                                    <div class="source-group row">
                                        <label class="col-3 text_detlabel">PIC Vendor Id</label>
                                        <div class="col-9">
                                            <label class="ldet_label">{{Vendor.PICVendorId}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vendor_streetgrid">
                        <h3>Street Address</h3>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div ng-switch="Vendor.VendorAddress.CountryCode2Digits">
                                    <div ng-switch-when="US">
                                        <div class="source-group row">
                                            <label id="Credit" class="col-3 text_detlabel">Zip code</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Vendor.VendorAddress.ZipCode}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="CA">
                                        <div class="source-group row">
                                            <label id="Credit" class="col-3 text_detlabel">Postal code</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Vendor.VendorAddress.ZipCode}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                    </div>
                                </div>

                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Address 1</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.VendorAddress.Address1}}</label>
                                        <label ng-if="IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="vertical-align:text-bottom;"><i class="fa fa-exclamation-triangle"></i></label>
                                        <label ng-if="IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="vertical-align:text-bottom;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Address 2</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.VendorAddress.Address2}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">City</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.VendorAddress.City}}</label>
                                    </div>
                                </div>
                                <div ng-switch="Vendor.VendorAddress.CountryCode2Digits">
                                    <div ng-switch-when="US">
                                        <div class="source-group row">
                                            <label id="Terms" class="col-3 text_detlabel">State</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Vendor.VendorAddress.State}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="CA">
                                        <div class="source-group row">
                                            <label id="Terms" class="col-3 text_detlabel">Province</label>
                                            <div class="col-9">
                                                <label class="ldet_label">{{Vendor.VendorAddress.State}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                    </div>
                                </div>
                                <!--<div class="form-group row state_field ml-0 mr-0">
                                    <label id="Terms" class="col-3 text_detlabel">State/Province</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.VendorAddress.State}}</label>
                                    </div>
                                </div>-->
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Country</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.VendorAddress.CountryCode2Digits}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>Acct Information</h3>
                        <div class="row vendoracct_grid">
                            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="table-responsive">
                                    <kendo-grid id="gridShipLocation" style="margin-bottom:50px;" options="ShipToLocationVendorview"></kendo-grid>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Account Rep</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.AccountRep}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Account Rep Phone</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.AccountRepPhone|mask: '(999) 999-9999'}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Account Rep e-mail</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.AccountRepEmail}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Retail Basis</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.RetailBasis}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Account No</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.AccountNo}}</label>
                                    </div>
                                </div>

                                <div class="form-group row territory_group">
                                    <div class="col-sm-6 col-6">
                                        <div class="row ml-0 mr-0">
                                            <label id="Terms" class="col-sm-5 col-5 text_detlabel">Terms</label>
                                            <div class="col-sm-7 col-7 pr-0">
                                                <label class="ldet_label">{{Vendor.Terms}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-6">
                                        <div class="row ml-0 mr-0">
                                            <label id="Credit" class="col-sm-5 col-5 text_detlabel">Credit Limit</label>
                                            <div class="col-sm-7 col-7 pr-0">
                                                <label class="ldet_label">{{Vendor.CreditLimit |  currency:"$" }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="source-group row">
                                    <label id="Terms" class="col-3 text_detlabel">Currency</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.Currency}}</label>
                                    </div>
                                </div>

                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Ordering Method</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.OrderingName}}</label>
                                    </div>
                                </div>

                                <div class="source-group row">
                                    <label class="col-3 text_detlabel">Contact Details</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Vendor.ContactDetails}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul kendo-panel-bar id="panelbar" style="margin-bottom:30px;">
                        <li id="accountlistPanel">
                            <span style="font-weight:bold; width:100%;"><p class="no-margin float-left">Products</p><p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{ProductDisplay.length}}</p></span>
                            <div class="kendo_paneltable">
                                <div class="table-responsive" ng-if="Vendor.FranchiseId != null && Vendor.FranchiseId != 0 && Vendor.AcctStatus =='Active'">
                                    <table class="table table-expand">
                                        <thead class="expand_lhead">
                                            <tr>
                                                <th></th>
                                                <th>Product Name</th>
                                                <th>Product Id</th>
                                                <th>Category</th>
                                                <th>Description</th>
                                                <!--<th><button type="button" ng-if="Permission.AddProduct || Vendor.VendorType ==1 && Vendor.IsAlliance ==true" onclick="return false;" ng-click="AddProduct()" class="plus_but tooltip-bottom" data-tooltip="New Product" ng-disabled="IsBusy" style="font-weight:400;"><i class="far fa-plus-square"></i></button></th>-->
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="p in ProductDisplay">
                                            <tr>
                                                <td></td>
                                                <td>{{p.ProductName}}</td>
                                                <td>{{p.ProductID}}</td>
                                                <td>{{p.ProductCategory}}</td>
                                                <td>{{p.Description}}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
          </form>
    </div>
</div>