﻿<style>
   .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
    .k-picker-wrap .k-input
    {
        font-size: 90% !important;
    }
    td.k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    .k-icon{
        position:absolute;
    }
    td.k-state-selected:hover{
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    .k-list > .k-state-focused.k-state-selected {
        border-color: transparent !important;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13);
    }

    #Franchise_NameList-list .k-list-scroller, #Vendor_NameList-list .k-list-scroller {
        max-height: 131px !important;
    }
</style>
<div class="outter-wp">
    <div class="tab_container" ng-controller="HomeOfficeCaseListController">
        <div class="lead_stab">
            <!--ng-show="Permission.ListCaseData && FranchiseLevelCase"-->
            <ul class="tabs1 landing_tab">
                <li class="activelead1" rel="tab7">
                    <a href="#!/VendorCaseList">
                        <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/ChangeRequest">
                        <h3><i class="fal fa-copy fa_icon fa-flip-horizontal"></i><br />Change Requests</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/Feedback">
                        <h3><i class="fas fa-microphone fa_icon"></i><br />Feedback</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/Overview">
                        <h3><i class="fas fa-th-list fa_icon"></i><br />Overview</h3>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>            
        </div>

        <!--Kendo Grid-->
        <div class="tab_container tpsearch_content">
            <div class="error error_msg" ng-if="!Permission.ViewHome" style="padding-top:30px;padding-left:20px;">
                You don't have permission to this page.
            </div>
            <div class="row mx-0 state_field" style="margin:10px 6px 10px 6px !important;">
                <div class="col-sm-3 no-padding" ng-show="Permission.ViewHome">
                    <span class="custom-dropdown custom-dropdown--white">
                        <select class="custom-dropdown__select custom-dropdown__select--white h-100"
                                id="FLCaseTypes"
                                ng-change="checkbox_clickForCaseLise()"
                                ng-model="SelectedCaseType"
                                ng-options="opt.Id as opt.Name for opt in FLCaseTypes"></select>
                    </span>
                </div>
                <div class="col-sm-3 pr-0" ng-show="Permission.ViewHome">
                    <span class="custom-dropdown custom-dropdown--white">
                        <!--<select class="custom-dropdown__select custom-dropdown__select--white" style="height: 33px !important;font-size: 14px;"
                id="FranchiseListName"
                ng-change="FranchiseChanged()"
                ng-model="SelectedFranchise"
                ng-options="opt.FranchiseId as opt.Name for opt in FranchiseListName"><option value="" selected>All</option></select>-->
                        <select id="Franchise_NameList"
                                name="Franchise_NameList"
                                kendo-drop-down-list
                                k-options="Franchise_NameList"
                                k-ng-model="SelectedFranchise"
                                class="form-control custom-dropdown__select custom-dropdown__select--white h-100"></select>
                    </span>
                </div>
                <div class="col-sm-3" ng-show="Permission.ViewHome">
                    <span class="custom-dropdown custom-dropdown--white">
                        <!--<select class="custom-dropdown__select custom-dropdown__select--white" style="height: 33px !important;font-size: 14px;"
                id="VendorListName"
                ng-change="VendorChanged()"
                ng-model="SelectedVendor"
                ng-options="opt.VendorID as opt.Name for opt in VendorListName"><option value="" selected>All</option></select>-->
                        <select id="Vendor_NameList"
                                name="Vendor_NameList"
                                kendo-drop-down-list
                                k-options="Vendor_NameList"
                                k-ng-model="SelectedVendor"
                                class="form-control custom-dropdown__select custom-dropdown__select--white h-100"></select>
                    </span>
                </div>
                <div class="col-sm-3 no-padding">
                    <!--<button type="button" class="plus_but tooltip-bottom pull-right" data-tooltip="Create Case" ng-click="callAddCase()">
                <i class="far fa-plus-square"></i>
            </button>
            <button name="Case_Kanban_View" ng-click="gotokanbanview()" type="button" class="pull-right cancel_but" style="margin-right: 13px;">Case Kanban View</button>-->
                </div>
                <div class="col-sm-7"></div>
            </div>
            <div class="table-responsive" ng-if="Permission.ViewHome"> <!--ng-show="Permission.ListCaseData && FranchiseLevelCase"-->
                 <kendo-grid id="HomeOfficeCaseList" class="noscroll-grid" options="HomeOfficeCaseListGridOptions" ></kendo-grid>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on("shown.bs.dropdown", ".dropdown", function () {
        var $ul = $(this).children(".dropdown-menu");
        var $button = $(this).children(".dropdown-toggle");
        var ulOffset = $ul.offset();
        if (!ulOffset) return;
        var spaceUp = (ulOffset.top - $button.height() - $ul.height()) - $(window).scrollTop();
        var spaceDown = $(window).scrollTop() + $(window).height() - (ulOffset.top + $ul.height());
        if (spaceDown < 100 && (spaceUp >= 0 || spaceUp > spaceDown))
            $(this).addClass("dropup");
    }).on("hidden.bs.dropdown", ".dropdown", function () {
        $(this).removeClass("dropup");
    });
</script>
<!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->