﻿<style>
span.k-widget.k-dropdown.k-header{
   border:1px solid #b2bfca !important;
}
div > form.k-filter-menu{
   width: 200px !important;
} 
/*.k-footer-template td {
    background-color: #cacaca !important;
} 
.k-grid-content {
    position: relative;
    width: 100%;
    overflow: auto !important;
    overflow-x: auto !important;
    overflow-y: scroll !important;
    zoom: 1;
    min-height: 0;
}
.k-grid-header, .k-grid-footer {
     padding-right:17px !important;
}*/
</style>
<div class="outter-wp">
    <div class="lead_stab">
        <h1 class="float-right mt-2 mb-0">Hello, {{HfcService.CurrentUser.FirstName}}!</h1>
    </div>
    <div class="tab_container tpsearch_content">
            <form id="crm-form-detail" name="formquote" unsaved-warning-form>
                <div class="row no-margin" style="border:10px solid #d8d8d8;">
                    <div class="col-xl-4 hfc_dashboard-txtgrid">
                            <!--<p style="width:113px; margin-top:-10px; margin-left:10px; padding-left: 5px; margin-bottom:0 !important; background:#f7f7f7;">News & Updates</p>-->
                            <h2 style="font-size:20px; margin:10px 0 20px 10px;">News & Updates</h2>
                            <div class="hfc-text-block">
                                <table>
                                    <tr ng-repeat="news in CurrentNews">
                                        <td>
                                            <h4>
                                                <a href="#!/news/{{news.NewsUpdatesId}}" target="_blank">{{news.Headline}}</a>
                                            </h4>
                                            <!--<p ng-bind-html="news.Message | htmlToPlaintext:300">-->
                                            <p ng-bind-html="news.ShortMessage">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                    </div>
                    <div class="col-xl-8">
                       <div class="dashboardbtn_grid" style="margin:10px 0 0 0;">
                        <div class="float-left">
                            <h2 style="font-size:20px; margin:0 0 0 10px;">Day at a Glance</h2>
                        </div>
                        <div class="float-right">
                            <button ng-if="Permission.CompanyView" type="button" class="float-right dashboard_btn" ng-click="toggleView()">
                                {{ViewButtonDisplayName}}
                            </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                            
                            <div class="hfc-text-block">
                                <!-- Appointments Section -->
                                <div class="dashboard_taskhead">
                                    {{AppointmentsCaption}}
                                    <a href="#!/Calendar" class="tooltip-bottom text-center" data-tooltip="Go to Calendar">
                                        <i class="fas fa-calendar-alt" style="color:#888; font-size:20px;"></i>
                                    </a>
                                </div>
                                <kendo-grid id="MyAppointmentsGrid"
                                            options="MyAppointmentsGridOptions"
                                            style="margin-bottom:20px !important;">
                                </kendo-grid>
                                <div class="dashboard_taskhead">
                                    {{TasksCaption}}
                                    <ul class="nofitications-dropdown dashboard_eventdropdown">
                                        <li class="dropdown franchise_user">
                                            <a href="" class="tooltip-bottom text-center" data-toggle="dropdown" data-tooltip="Choose a Task View" 
                                               aria-expanded="false">
                                                <i class="far fa-caret-square-down"
                                                   style="color:#888; font-size:20px;"></i>
                                            </a>
                                            <ul class="dropdown-menu impersonate_subddown">
                                                <li><a href="javascript:void(0)" ng-click="updateTaskView('today', 2453871)">Todays Tasks</a></li>
                                                <li><a href="javascript:void(0)" ng-click="updateTaskView('open', 2453871)">Open Tasks</a></li>
                                                <li><a href="javascript:void(0)" ng-click="updateTaskView('pastdue', 2453871)">Past Due Tasks</a></li>
                                                <li><a href="javascript:void(0)" ng-click="updateTaskView('completed', 2453871)">Completed Tasks</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <kendo-grid id="MyTasksGrid"
                                            options="MyTaskGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                </div>
                    <div class="zillow_body">
                        <div class="zillow_border text-center" style="padding:30px 0;">
                            <a href=""><img src="/Content/images/tp-logo.png" alt="LOGO" /></a>
                            <h5 class="m-3">Content Coming Soon...</h5>
                        </div>
                    </div>
        </form>
    </div>
</div>
<!--<script>
    $(document).on("shown.bs.dropdown", ".dropdown", function () {
        var $ul = $(this).children(".dropdown-menu");
        var $button = $(this).children(".dropdown-toggle");
        var ulOffset = $ul.offset();
        if (!ulOffset) return;
        var spaceUp = (ulOffset.top - $button.height() - $ul.height()) - $(window).scrollTop();
        var spaceDown = $(window).scrollTop() + $(window).height() - (ulOffset.top + $ul.height());
        if (spaceDown < 500 && (spaceUp >= 0 || spaceUp > spaceDown))
            $(this).addClass("dropup");
    }).on("hidden.bs.dropdown", ".dropdown", function () {
        $(this).removeClass("dropup");
    });
</script>-->
