﻿<!--<div class="tpadmin-content">
    <h2>Settings</h2>
</div>-->

<div class="outter-wp">

    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/snav_reports.png">Reports</a>
                </div>
                <ul class="nav navbar-nav my-navbar-nav">
                    <li><a href="../Reports/SalesAgentReport">Sales Agent</a></li>
                    <li><a href="../Reports/MarketingReport">Marketing</a></li>
                    <li><a href="../Reports/MonthlyStatisticsReport">Monthly Statistics</a></li>
                    <li><a href="../Reports/RAWReport">RAW</a></li>
                </ul>

            </div>
        </nav>
    </section>-->


    <div class="error error_msg" style="margin-top:30px;" ng-if="!Permission.ListReports">
        You don't have permission to this page.
    </div>
</div>



<script type="text/javascript">

    function customBoolEditor(container, options) {
        var guid = kendo.guid();
        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
        $('<label class="k-checkbox-label" for="' + guid + '">​</label>').appendTo(container);
    };

    function SourceDropDownEditor(container, options) {
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: true,
                dataTextField: "Source",
                dataValueField: "SourcesTPId",
                template: "#=Channel # > #=Source #",
                dataSource: {
                    transport: {
                        read: {
                            url: '/api/lookup/0/GetAllSources',
                        }
                    },
                }

            });
    }
</script>
