﻿<html>
<head>
    <title>Calendar</title>
    <link href="../../../Content/kendo.default-v2.min.css" rel="stylesheet" />
    <script src="https://kendo.cdn.telerik.com/2018.1.117/js/kendo.timezones.min.js"></script>
    <link href="../../../Content/kendo.ui/kendo.silver.min.css" rel="stylesheet" />
    <style>
        .h3-sm-margin {
            margin-bottom: 10px;
        }

        .k-window > div.k-popup-edit-form {
            padding: 1em 0;
            width: 100%;
        }

        .k-scheduler-table td, .k-scheduler-table th {
            padding: 0px;
            height: 1.4285714286em;
            border-style: solid;
            border-width: 0 0 1px 1px;
            vertical-align: top;
        }

        .list-group-item {
            border-radius: 0 !important;
            border: 1px solid #ddd;
            margin-bottom: -1px !important;
        }

            .list-group-item.active, .list-group-item.active:hover, a.list-group-item:hover {
                color: #fff !important;
                background-color: #3e7d8a !important;
                border-color: #3e7d8a !important;
            }

        .k-icon.k-i-close {
            color: #000 !important;
        }

        .k-multiselect-wrap li {
            padding: .1em 1.6em .1em .4em !important;
        }

        /*.k-i-calendar:before {
            content: "" !important;
        }*/

        .k-event {
            /*height: auto !important;*/
        }

        .k-scheduler-monthview .k-scheduler-table td {
            height: 112px;
            text-align: right;
        }
    </style>

</head>
<body>
    <div class="outter-wp">
        <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span></span>
        </div>
        <section class="my_sub_header_1">
            <nav class="navbar navbar-default my-navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse" data-target="#example-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/mini-calendar.png">Calendar</a>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav my-navbar-nav">
                            <li><a href="#!/Calendar/">Main</a></li>
                            <li ng-repeat="cal in SavedCalendarList">
                                <a href="#!/SaveCalendar/{{cal.SaveCalendarId}}">{{cal.ViewTitle}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>



        <div class="tab_container">
            <h3 class="d_active tab_drawer_heading" rel="tab2">Tab 2</h3>
            <div id="tab2" class="tab_content">
                <!---inner tab--->
                <div class="lead_stab">
                    <ul class="tabs1 landing_tab">
                        <li class="activelead1" rel="tab6">
                            <h3>
                                <i class="checklist_icon"></i>
                                <br />Information
                            </h3>
                        </li>
                    </ul>
                    <div class="leaddetail_butns">
                        <button type="button" class="tooltip-bottom save_tpbut" style="margin-right:5px;"
                                data-tooltip="Add Task" ng-click="AddTask()">
                            <i class="ctask_icon"></i>
                        </button>
                        <button type="button" class="tooltip-bottom save_tpbut"
                                data-tooltip="Add Event" ng-click="AddEvent('persongo')">
                            <i class="cevent_icon"></i>
                        </button>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--SavedCalendarList-   {{SavedCalendarList}}-->
    <div class="tab_container tp_content">
        <div class="row" style="margin:0 !important;padding-bottom:50px;">
            <div class="col-sm-3">
                <div class="row center-block">
                    <div id="calendar" ng-click="FilterCalendarByDate()"></div>
                </div>
                <div class="row center-block" id="crm-user-list">
                    <div class="list-group">
                        <a href="" id="a_selectAllSales" class="list-group-item text-bold" ng-click="ChangeColorByAllUsers('a_selectAllSales');FilterCalendarByAllUsers('a_selectAllSales')"> -Sales-</a>
                        <div id="divSales" ng-repeat="sale in Userslist">
                            <a href="" id="sale_{{sale.PersonId}}" class="{{sale.SelectColor}}" ng-show="sale.InSales" data-bind="{{sale.PersonId}}" ng-click="ChangeColor('sale_'+sale.PersonId);FilterCalendar(sale.PersonId)">
                                <span class="color-box" style="{{sale.color}};"></span> {{sale.FullName}}
                            </a>
                        </div>
                    </div>
                    <div class="list-group">
                        <a href="" id="a_selectAllInstallers" class="list-group-item text-bold" ng-click="ChangeColorByAllUsers('a_selectAllInstallers');FilterCalendarByAllUsers('a_selectAllInstallers')"> -Installers-</a>
                        <div id="divInstall" ng-repeat="installer in Userslist">
                            <a href="" id="installer_{{installer.PersonId}}" class="{{installer.SelectColor}}" data-bind="{{installer.PersonId}}" ng-show="installer.InInstall" ng-click="ChangeColor('installer_'+installer.PersonId);FilterCalendar(installer.PersonId)">
                                <span class="color-box" style="{{installer.color}};"></span> {{installer.FullName}}
                            </a>
                        </div>
                    </div>
                    <div class="list-group">
                        <a href="" id="a_selectAllOthers" class="list-group-item text-bold" ng-click="ChangeColorByAllUsers('a_selectAllOthers');FilterCalendarByAllUsers('a_selectAllInstallers')"> -Others-</a>
                        <div id="divOther" ng-repeat="other in Userslist">
                            <a href="" id="other_{{other.PersonId}}"
                               class="{{other.SelectColor}}"
                               data-bind="{{other.PersonId}}" ng-show="!other.InSales&&!other.InInstall" ng-click="ChangeColor('other_'+other.PersonId);FilterCalendar(other.PersonId)">
                                <span class="color-box" style="{{other.color}};"></span> {{other.FullName}}
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div id="example">
                <div id="Savedscheduler" ng-init="KendoSchedulerIntitilize()"></div>
                <ul id="contextMenu"></ul>
            </div>
        </div>
    </div>

    <style>
        #team-schedule {
            background: url('../content/web/scheduler/team-schedule.png') transparent no-repeat;
            height: 115px;
            position: relative;
        }

        .k-event .k-event-template {
            padding: 2px 4px;
            font-size: 10px;
        }
        /*.k-scheduler-table td, .k-scheduler-table th
        {
          height: 5.5em;
          width: 5.5em;
        }

        .k-scheduler-monthview .k-scheduler-table td
        {
          height: 15.5em;
          width: 15.5em;
        }*/
    </style>

    <div>
        <hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>
        <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
        <hfc-calendar-event-Modal></hfc-calendar-event-Modal>
        <hfc-calendar-task-Modal></hfc-calendar-task-Modal>
    </div>
</body>

</html>
