﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
    .errortext, .errorTP {
        color: red !important;
    }
    .has-error .readiocheck, .has-error .radio  {
        border-color: #a94442;
    }
    .tab_container .appointment .addres_link strong {
        font-size: 14px;
    }
</style>

<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>

<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="/#!/leadsSearch/">Leads</a></li>
                        <li><a href="/#!/accountSearch/">Accounts</a></li>
                        <li class="active"><a href="/#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="/#!/orderSearch/">Orders</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right my-navbar-right">
                        <li ng-if="HFCService.GetPermissionTP('Add Notes&Attachments-Opportunity').CanAccess"><button type="button" class="tooltip-bottom sw_icon" data-tooltip="New Note" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddNoteTP()"></button></li>
                        <li ng-if="Permission.AddEvent">
                            <a href="/#!/Calendar/{{HFCService.PathType}}/{{HFCService.PathId}}" type="button" class="tooltip-bottom pad_icon"
                               data-tooltip="Add Appointment">
                            </a>
                        </li>
                        <li ng-if="Permission.AddEvent">
                            <button type="button" class="tooltip-bottom task_tpbut" data-tooltip="Add Task"
                                    ng-click="PersonService.AddOpportunityAppointment('persongo',this.aptmtCtrl.opportunityId,'task')">
                                <i class="far fa-tasks task_icon"></i>
                            </button>
                        </li>
                        <li ng-if="HFCService.GetPermissionTP('Add Notes&Attachments-Opportunity').CanAccess"><button type="button"  class="tooltip-bottom note_icon" data-tooltip="New Attachment" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddAttachment()"></button></li>
                        <li ng-if="HFCService.GetPermissionTP('Print Installation Packet').CanAccess">
                            <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Print" ng-disabled="IsBusy"
                                    ng-click="printSalesPacket()">
                                <i class="far fa-print task_icon"></i>
                            </button>
                        </li>
                        <li><button type="button" class="tooltip-bottom post_icon" data-tooltip="Email"></button></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6"><a href="#!/OpportunityDetail/{{aptmtCtrl.opportunityId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a></li>
                    <li rel="tab7" ng-show="BrandId!=3">
                        <a href="#!/measurementDetail/{{aptmtCtrl.Opportunity.OpportunityId}}/{{aptmtCtrl.Opportunity.Addresses[0].AddressId}}">
                            <h3><i class="measurement_icon"></i><br />Measurements</h3>
                        </a>
                    </li>

                    <li rel="tab7" >
                        <a href="#!/quoteSearch/{{aptmtCtrl.opportunityId}}">
                            <h3><i class="quotes_icon"></i><br />Quotes</h3>
                        </a>
                    </li>

                    <li rel="tab7" class="activelead1">
                        <a href="#!/opportunityAppointments/{{aptmtCtrl.opportunityId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/opportunityCommunicationLog/{{aptmtCtrl.opportunityId}}/{{aptmtCtrl.Opportunity.AccountId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <button ng-if="Permission.AddOpportunity" type="reset"  class="tooltip-bottom cancel_tpbut" data-tooltip="New Opportunity" ng-disabled="IsBusy" ng-click="CreateNewOpportunity(aptmtCtrl.Opportunity.AccountId)"><i class="far fa-plus-square fa_icon"></i></button>
                    <button ng-if="Permission.OpportunityEdit" type="button"  class="tooltip-bottom save_tpbut" data-tooltip="Edit Opportunity" ng-disabled="IsBusy" ng-click="EditOpportunity(aptmtCtrl.opportunityId)"><i class="far fa-pen fa_icon"></i></button>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="tab_container tp_content">
                    <!--<div class="error">
                        You don't have permission to this page.
                    </div>-->
                   
                        <div class="p-3 appointment">
                            <div class="mb-3 addres_link" ng-show="aptmtCtrl.Opportunity.IsCommercial">
                                <strong>Opportunity Name : </strong><a href="#!/OpportunityDetail/{{aptmtCtrl.opportunityId}}" style="color: rgb(61,125,139);">{{aptmtCtrl.Opportunity.PrimCustomer.CompanyName}} <span ng-show="!aptmtCtrl.Opportunity.PrimCustomer.CompanyName==''">{{" / "}}</span> {{ aptmtCtrl.Opportunity.PrimCustomer.FirstName + " " + aptmtCtrl.Opportunity.PrimCustomer.LastName}}</a>
                            </div>
                            <div class="mb-3 addres_link" ng-show="!aptmtCtrl.Opportunity.IsCommercial">
                                <strong>Opportunity Name : </strong><a href="#!/OpportunityDetail/{{aptmtCtrl.opportunityId}}" style="color: rgb(61,125,139);">{{aptmtCtrl.Opportunity.OpportunityName}}</a>
                            </div>
                                <h1 class="mt-3 mb-2">Calendar Events</h1>
                            <hfc-appointment-event-list associated-with="Opportunity" opportunity-id="{{aptmtCtrl.opportunityId}}"  is-edit="{{Permission.OpportunityEdit}}" access-permission="Permission"></hfc-appointment-event-list>
                        
                            <h2>Calendar Tasks</h2>
                            <hfc-appointment-task-list associated-with="Opportunity" opportunity-id="{{aptmtCtrl.opportunityId}}"  is-edit="{{Permission.OpportunityEdit}}" access-permission="Permission"></hfc-appointment-task-list>
                        </div>
                  
        <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
        <hfc-note-modal></hfc-note-modal>
        <hfc-fileprint-modal modal-id="fileprint" lead-id="{{aptmtCtrl.opportunityId}}"></hfc-fileprint-modal>
        </div>
</div>

<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>



