﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }
   
    .errormob {
        margin-left: 179px;
    }

    .errortext,  .errorTP {
        color: red !important;
    }

    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }

</style>
<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>
<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li ><a href="/#!/leadsSearch/">Leads</a></li>
                        <li><a href="/#!/accountSearch/">Accounts</a></li>
                        <li class="active"><a href="/#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="/#!/orderSearch/">Orders</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right my-navbar-right">
                        <li ng-if="HFCService.GetPermissionTP('Add Notes&Attachments-Opportunity').CanAccess">
                            <button type="button" class="tooltip-bottom sw_icon"
                                    data-tooltip="New Note" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddNoteTP()"></button>
                        </li>
                        <li ng-if="Permission.AddEvent">
                            <a href="/#!/Calendar/{{HFCService.PathType}}/{{HFCService.PathId}}" type="button" class="tooltip-bottom pad_icon"
                               data-tooltip="Add Appointment">
                            </a>
                        </li>
                        <li ng-if="Permission.AddEvent">
                            <button type="button" class="tooltip-bottom task_tpbut" data-tooltip="Add Task"
                                    ng-click="PersonService.AddOpportunityAppointment('persongo',this.cmctnCtrl.opportunityId,'task')">
                                <i class="far fa-tasks task_icon"></i>
                            </button>
                        </li>
                        <li ng-if="HFCService.GetPermissionTP('Add Notes&Attachments-Opportunity').CanAccess">
                            <button type="button" class="tooltip-bottom note_icon"
                                    data-tooltip="New Attachment" ng-disabled="IsBusy"
                                    ng-click="NoteServiceTP.AddAttachment()"></button>
                        </li>
                        <li ng-if="HFCService.GetPermissionTP('Print Installation Packet').CanAccess">
                            <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Print" ng-disabled="IsBusy"
                                    ng-click="printSalesPacket()">
                                <i class="far fa-print task_icon"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="tooltip-bottom post_icon"
                                    data-tooltip="Email"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6"><a href="#!/OpportunityDetail/{{cmctnCtrl.opportunityId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a></li>
                    <li rel="tab7" ng-show="BrandId!=3">
                        <a href="#!/measurementDetail/{{cmctnCtrl.Opportunity.OpportunityId}}/{{cmctnCtrl.Opportunity.Addresses[0].AddressId}}">
                            <h3><i class="measurement_icon"></i><br />Measurements</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/quoteSearch/{{cmctnCtrl.opportunityId}}">
                            <h3><i class="quotes_icon"></i><br />Quotes</h3>
                        </a>
                    </li>
                    <li rel="tab7" >
                        <a href="#!/opportunityAppointments/{{cmctnCtrl.opportunityId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7" class="activelead1">
                        <a href="#!/opportunityCommunication/{{cmctnCtrl.opportunityId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/opportunityCommunicationLog/{{cmctnCtrl.opportunityId}}/{{cmctnCtrl.Opportunity.AccountId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <button ng-if="Permission.AddOpportunity" type="reset"  class="tooltip-bottom cancel_tpbut" data-tooltip="New Opportunity" ng-disabled="IsBusy" ng-click="CreateNewOpportunity(cmctnCtrl.Opportunity.AccountId)"><i class="far fa-plus-square fa_icon"></i></button>
                    <button ng-if="Permission.OpportunityEdit" type="button"  class="tooltip-bottom save_tpbut" data-tooltip="Edit Opportunity" ng-disabled="IsBusy" ng-click="EditOpportunity(cmctnCtrl.opportunityId)"><i class="far fa-pen fa_icon"></i></button>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="tab_container tp_content">
                    <!--<div class="error">
                        You don't have permission to this page.
                    </div>-->
                    <!--<div>
                        <button type="button" ng-click="cmctnCtrl.testPublish()" >Test publish</button>
                    </div>-->
                    <div class="error" ng-show="!(Permission.ListCommunicationOpportunity)">
                        You don't have permission to this page.
                    </div>
                    <div class="appointment" ng-if="Permission.ListCommunicationOpportunity">
                        <div class="p-3">
                            <div class="mb-3 addres_link" ng-show="!cmctnCtrl.Opportunity.IsCommercial">
                                <strong>Opportunity Name : </strong><a href="#!/OpportunityDetail/{{cmctnCtrl.opportunityId}}" style="color: rgb(61,125,139);">{{cmctnCtrl.Opportunity.OpportunityName}}</a>
                           
                            </div>
                            <div class="my-2 addres_link" ng-show="cmctnCtrl.Opportunity.IsCommercial">
                                <strong>Opportunity Name : </strong><a href="#!/OpportunityDetail/{{cmctnCtrl.opportunityId}}" style="color: rgb(61,125,139);">{{cmctnCtrl.Opportunity.PrimCustomer.CompanyName}} <span ng-show="!cmctnCtrl.Opportunity.PrimCustomer.CompanyName==''">{{" / "}}</span> {{cmctnCtrl.Opportunity.PrimCustomer.FirstName + " " + cmctnCtrl.Opportunity.PrimCustomer.LastName}}</a>
                            </div>
                        <div>
                            <hfc-communication-list associated-with="Opportunity" read-only="{{Permission.OpportunityEdit}}" opportunity-id="{{cmctnCtrl.opportunityId}}" notify-email="cmctnCtrl.Opportunity.AccountTP.IsNotifyemails" notify-text="cmctnCtrl.Opportunity.AccountTP.IsNotifyText"></hfc-communication-list>
                        </div>
                           
                       </div>
                  </div>
           <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
            <hfc-note-modal></hfc-note-modal>
            <hfc-fileprint-modal modal-id="fileprint" lead-id="{{cmctnCtrl.opportunityId}}"></hfc-fileprint-modal>
         </div>
</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>


