﻿<!--TODO this should be define in Layout page-->
<div class="outter-wp">
    <style>
        .has-error .readiocheck {
            border-color: #a94442;
        }

        .has-error .radio {
            border-color: #a94442;
        }

        .k-multiselect-wrap.k-floatwrap {
            height: 26px !important;
        }

        .k-pager-wrap {
            width: 100%;
            bottom: 50px;
            position: fixed;
            left: 0;
            overflow: hidden !important;
        }

        .modal-footer {
            padding: 45px 15px 15px !important;
        }

        .table > caption + thead > tr:first-child > th, .table > coxlroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > coxlroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td, table.table-expand td {
            border: 1px solid #ceced2 !important;
        }

        .table-responsive.convertlead_table td {
            padding-left: 8px !important;
        }

        .opportunity-text {
            font-weight: bold;
        }

        #move-quote-Opportunity-block {
            padding-bottom: 36px;
        }

        .action-button-section {
            margin: 25px 0;
        }
    </style>
    <!-- header section -->
    <div class="lead_stab">
        <ul class="tabs1 landing_tab" style="width:60%;">
            <li rel="tab6"><a href="#!/OpportunityDetail/{{selectedOpportunityId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a></li>


            <!--<li rel="tab7"><h3><i class="fa fa-thumbs-o-up user_icon" aria-hidden="true"></i>Qualify</h3></li>-->
            <li rel="tab7" ng-show="brandid!=3">
                <a href="#!/measurementDetail/{{selectedOpportunityId}}/{{selectedInstallAddressId}}">
                    <h3><i class="measurement_icon"></i><br />Measurements</h3>
                </a>
            </li>
            <li rel="tab7" class="activelead1">
                <a href="#!/quoteSearch/{{selectedOpportunityId}}">
                    <h3><i class="quotes_icon"></i><br />Quotes</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/opportunityAppointments/{{selectedOpportunityId}}">
                    <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/opportunityCommunication/{{selectedOpportunityId}}">
                    <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                </a>
            </li>
            <!--<li rel="tab8"><h3><i class="appointment_icon"></i><br />Appointment</h3></li>-->
        </ul>
        <div class="clearfix"> </div>
    </div>


    <div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <div class="tab_container">

        <!-- header section -->

        <div class="tab_container tp_content">
            <div class="lead_convert">
                <h4>Existing Opportunities</h4><br />
                <div class="leadconvert_box">
                    <div style="margin-top: 15px;margin-bottom: 15px; height: 1px; background-color: gray; text-align: left; padding-left:35px; line-height: 16px;">
                        <span style="background-color:#f7f7f7; position: relative; top: -9px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:bold;">Account Opportunities</span> &nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </div>

                    <div class="sub_expand">
                        <div class="table-responsive convertlead_table">
                            <table class="table table-expand">
                                <thead class="expand_lhead">
                                    <tr>
                                        <th></th>
                                        <th>Opportunity Name</th>
                                        <th>Status</th>
                                        <th>Sales Agent</th>
                                    </tr>
                                </thead>

                                <tbody ng-repeat="data in AccountService.matchAccountOpportunity">
                                    <tr>
                                        <td>
                                            <input type="radio" class="option-input radio optSelectRadio" id="optSelectAccount" ng-checked="IsExistingOpportunity1" ng-click="selectedOpportunity(data.OpportunityID, $index)" name="optSelectAccount" value="{{a.AccountId}}">
                                        </td>
                                        <td><a href="javascript:void(0);" ng-click="navigateToOpportunityPage(data.OpportunityID)" style="color: rgb(61, 125, 139); bottom: -33px; visibility: visible;">{{data.OpportunityFullName}}</a></td>
                                        <td>{{data.OpportunityStatus}}</td>
                                        <td>{{data.SalesAgentName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" id="move-quote-Opportunity-block">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="custom-mail no-margin" >
                                                <input type="radio" class="option-input radio" id="optNewAccount"
                                                       name="optNewAccount" ng-click="newOpportunity();" ng-model="IsCreateNewAccount" ng-checked="IsCreateNewOpportunity" ng-value="true">
                                                <span class="opportunity-text">Create New Opportunity</span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- create opportunity section -->
                    <form id="crm-lead-detail" name="formopportunity" unsaved-warning-form>
                        <div class="panel-body" ng-show="IsCreateNewOpportunity">
                            <div class="leadgrid_box">
                                <div class="lead_rtop row">
                                    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-4 col-xs-4 required_label">Opportunity Name</label>
                                            <div class="col-sm-8 col-xs-8 textbox-lmargin" ng-class="{true: 'has-error'}[ formopportunity.OpportunityName.$invalid && submitted ]">
                                                <input type="text" name="OpportunityName" ng-model="newQuoteOpportunityName"
                                                       ng-class="{true: 'errorTP'}[formopportunity.OpportunityName.$invalid]"
                                                       class="form-control frm_controllead1 required_field"
                                                       placeholder="Required" required maxlength="50" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-4 col-xs-4 required_label">Sidemark</label>
                                            <div class="col-sm-8 col-xs-8 textbox-lmargin" ng-class="{true: 'has-error'}[ formopportunity.opportunitySideMark.$invalid && submitted ]">
                                                <input type="text" name="opportunitySideMark"
                                                       ng-model="newQuoteSideMark"
                                                       ng-class="{true: 'errorTP'}[formopportunity.opportunitySideMark.$invalid]"
                                                       class="form-control frm_controllead1 required_field" placeholder="Required" required maxlength="50" />
                                                <div ng-if="submitted || formopportunity.newQuoteSideMark.$dirty"
                                                     ng-messages="formopportunity.newQuoteSideMark.$error"
                                                     style="color:red">
                                                    <p ng-message="required">Providing a Side Mark is mandatory.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row state_field ml-0 mr-0"
                                             ng-class="{true: 'has-error'}[ formopportunity.opportunity_Status.$invalid && submitted ]">
                                            <label class="col-sm-4 col-xs-4 required_label">Opportunity Status</label>
                                            <div class="col-sm-8 col-xs-8 textbox-lmargin">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                            name="opportunity_Status"
                                                            ng-class="{true: 'errorTP'}[formopportunity.opportunity_Status.$invalid]"
                                                            ng-change="SetDispositionStatus()"
                                                            required ng-options="item.OpportunityStatusID as (item.Name) for item in opportunityStatusList"
                                                            ng-model="newQuoteOpportunityStatusId">
                                                        <option value="" disabled selected> Select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row state_field ml-0 mr-0" ng-class="{true: 'has-error'}[ formopportunity.salesAgent.$invalid && submitted ]">
                                            <label class="col-sm-4 col-xs-4 required_label">Sales Agent</label>
                                            <div class="col-sm-8 col-xs-8 textbox-lmargin">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            required
                                                            name="salesAgent"
                                                            ng-class="{true: 'errorTP'}[formopportunity.salesAgent.$invalid]"
                                                            ng-options="item.SalesAgentId as (item.Name) for item in SalesAgentlist"
                                                            ng-model="newQuoteSalesAgentId">
                                                        <option value="" disabled selected> Select </option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 col_1">
                                        <div class="form-group row ml-0 mr-0 state_field"
                                             ng-class="{true: 'has-error'}[formopportunity.account_installationAddress.$invalid && submitted]">
                                            <label class="col-sm-4 col-xs-4 required_label">Installation Address</label>
                                            <div class="col-sm-7 col-xs-7" style="padding-right:0 !important;">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            ng-class="{true: 'errorTP'}[formopportunity.account_installationAddress.$invalid]"
                                                            name="account_installationAddress"
                                                            required
                                                            ng-change="selectedAddress(selectedInstallationAddressId,0)"
                                                            ng-options="item.InstallAddressId as (item.Name) for item in InstallationAddresslist"
                                                            ng-model="selectedInstallationAddressId">
                                                        <option value="" disabled selected> Select </option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="col-sm-1 col-xs-1" style="padding:0 5px !important;">
                                                <label ng-show="installationAddressValidFlag==false"
                                                       data-tooltip="Invalid Address"
                                                       class="ng-binding ldet_label error" style="margin-right:5px; vertical-align:bottom;">
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                </label>
                                                <label ng-show="installationAddressValidFlag==true"
                                                       data-tooltip="Address Validated"
                                                       class="ng-binding ldet_label error">
                                                    <i class="fas fa-check-circle" style="color:green; margin-right:5px; vertical-align:bottom;"></i>
                                                </label>
                                                <!-- Additional address popup -->
                                                <button type="button"
                                                        class="plus_but tooltip-bottom" style="font-size:16px;
                                                        vertical-align:sub;" data-tooltip="Add New Address"
                                                        ng-click="AdditionalAddressServiceTP.AddAddressTP(handleInstallationAddressAfterQuickAdd)">
                                                    <i class="far fa-plus-square"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0 state_field"
                                             ng-class="{true: 'has-error'}[ formopportunity.opportunity_BillingAddress.$invalid && submitted ]">
                                            <label class="col-sm-4 col-xs-4 required_label">Billing Address</label>
                                            <div class="col-sm-7 col-xs-7" style="padding-right:0 !important;">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            required
                                                            ng-options="item.InstallAddressId as (item.Name) for item in BillingAddressList"
                                                            name="opportunity_BillingAddress"
                                                            ng-change="selectedAddress(0,selectedBillingAddressId)"
                                                            ng-class="{true: 'errorTP'}[formopportunity.opportunity_BillingAddress.$invalid]"
                                                            ng-model="selectedBillingAddressId">
                                                        <option value="" disabled selected> Select </option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="col-sm-1 col-xs-1" style="padding:0 5px !important;">
                                                <label ng-show="billingAddressValidFlag==false"
                                                       data-tooltip="Invalid Address"
                                                       class="ng-binding ldet_label error"
                                                       style="margin-right:5px; vertical-align:bottom;">
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                </label>
                                                <label ng-show="billingAddressValidFlag==true"
                                                       data-tooltip="Address Validated"
                                                       class="ng-binding ldet_label error">
                                                    <i class="fas fa-check-circle" style="color:green; margin-right:5px; vertical-align:bottom;"></i>
                                                </label>
                                                <button type="button" class="plus_but tooltip-bottom"
                                                        style="font-size:16px; vertical-align:sub;"
                                                        data-tooltip="Add New Address"
                                                        ng-click="AdditionalAddressServiceTP.AddAddressTP(handleBillingAddressAfterQuickAdd)">
                                                    <i class="far fa-plus-square"></i>
                                                </button>
                                                <!--<input type="button" ng-click="AdditionalAddressServiceTP.AddAddressTP(handleBillingAddressAfterQuickAdd)" value="Add" />-->
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-4 col-xs-4 required_label">Description</label>
                                            <div class="col-sm-8 col-xs-8 textbox-lmargin">
                                                <textarea placeholder="" multiple maxlength="550"
                                                          id="txtDesciption" ng-model="newOpportunityDescription"
                                                          class="frm_controllead_textarea" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- button sections -->
                    <div class="action-button-section">
                        <button type="button" class="btn btn-primary cancel_but" ng-click="saveQuoteToopportunity()">Move</button>
                        <button type="button" class="btn btn-primary cancel_but" ng-click="cancelMoveQuote()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Texting popup-->
        <div class="modal fade" id="Textingpopup" data-keyboard="false" data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog quote_popup">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 class="mx-auto modal-title">Confirm</h4>
                    </div>
                    <form name="Measurement_addint" role="form">
                        <div class="modal-body quote_popup">
                            <div class="form-group row text-center m-2" ng-if="NotifyTextStatus == 'Optout'">
                                Ask the Customer: "I would like to confirm your cell phone number for texting appointment notifications. I have {{AccountCellphone | mask: '(999) 999-9999'}}. Would you like to receive text messages?"
                            </div>
                            <div class="form-group row text-center m-2" ng-if="NotifyTextStatus == 'Optin'">
                                Ask the Customer: "I see you have previously received text messages about your appointments from us! I would like to confirm your cell phone number for texting appointment notifications. I have {{AccountCellphone | mask: '(999) 999-9999'}}. Would you like to continue receiving text messages?"
                            </div>
                        </div>
                        <div class="modal-footer" style="padding: 15px 15px 15px !important;">
                            <div class="popup_butns" ng-if="NotifyTextStatus == 'Optout'">
                                <button type="reset" class="btn btn-cancel" ng-click="SendMsg()">Yes</button>
                                <button type="button" class="btn btn-cancel" ng-click="createNewOpportunity()">No</button>
                            </div>
                            <div class="popup_butns" ng-if="NotifyTextStatus == 'Optin'">
                                <button type="reset" class="btn btn-cancel" ng-click="createNewOpportunity()">Yes</button>
                                <button type="button" class="btn btn-cancel" ng-click="UncheckNotifyviaText()">No</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- To display additional address popup -->
    <hfc-additional-address-modal></hfc-additional-address-modal>
</div>
