﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }

    .opportunity_expand span.k-icon.k-i-arrow-60-down.k-panelbar-expand {
        display: none;
    }

    .opportunity_expand .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-active) .k-icon, .k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-expanded) .k-icon {
        display: none;
    }

    .k-panelbar > .k-item.k-state-active > .k-link .k-icon, .k-panelbar > .k-item.k-state-expanded > .k-link .k-icon {
        display: none;
    }

    #gridQuoteSearch .k-grid-content.k-auto-scrollable {
        height: 100% !important;
    }

    ul.additionalcontact_list li {
        float: left;
        margin-right: 8px;
        border-bottom: 0 !important;
    }
    ul.additionalcontact_sublist li {
        display: contents;
    }
    .option-input:checked, input[type="checkbox"]:checked, input[type="radio"]:checked {
        background: #3e7d8a !important;
        border: 1px solid #ffffff !important;
    }
    .kendogrid_box h5 {
        font-size: 18px;
    }
</style>
<div class="outter-wp">
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <form id="crm-lead-detail" name="formopportunity" ng-submit="SaveOpportunity()">
        <!---inner tab--->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li class="activelead1" rel="tab6">
                    <h3><i class="far fa-user fa_icon"></i><br />Information</h3>
                </li>
                <li rel="tab7" ng-show="BrandId!=3">
                    <a href="#!/measurementDetail/{{Opportunity.OpportunityId}}/{{Opportunity.Addresses[0].AddressId}}">
                        <h3><i class="measurement_icon"></i><br />Measurements</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/quoteSearch/{{Opportunity.OpportunityId}}">
                        <h3><i class="quotes_icon"></i><br />Quotes</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/opportunityAppointments/{{Opportunity.OpportunityId}}">
                        <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/opportunityCommunicationLog/{{Opportunity.OpportunityId}}/{{Opportunity.AccountId}}">
                        <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                    </a>
                </li>
                <!--<li rel="tab8">
                   <h3><i class="appointment_icon"></i><br />Appointment</h3>
                   </li>-->
            </ul>
            <div class="leaddetail_butns">
                <ul class="orderlist_box">
                    <li><button type="reset" ng-show="Permission.AddOpportunity" class="tooltip-bottom hfc_bgbut" data-tooltip="New Opportunity" ng-disabled="IsBusy" ng-click="CreateNewOpportunity(Opportunity.AccountId)"><i class="far fa-plus-square"></i></button></li>
                    <li><button type="button" ng-show="Permission.EditOpportunity" class="tooltip-bottom hfc_bgbut" data-tooltip="Edit Opportunity" ng-disabled="IsBusy" ng-click="EditOpportunity(Opportunity.OpportunityId)"><i class="far fa-pen"></i></button></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tab_container tp_content">
            <div class="error" ng-if="!Permission.DisplayOpportunity">
                You don't have permission to this page
            </div>
            <div ng-show="Permission.DisplayOpportunity">
                <div class="p-3">
                    <div class="leadgrid_box">
                        <div class="lead_rtop row">
                            <!--<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_1">-->
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_1">
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Opportunity Name</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Opportunity.OpportunityName}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Sidemark</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Opportunity.SideMark}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Account</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label"><a class="hquote_hover" href="#!/Accounts/{{Opportunity.AccountId}}">{{SelectedAccount1}}</a> </label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Related/Parent Account</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label"><a class="hquote_hover" href="#!/Accounts/{{Opportunity.RelatedAccountId}}">{{RelatedAccountName}}</a> </label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Installation Address</label>
                                    <div class="col-sm-9">
                                        <address class="inline-relative addres_link" hfc-googlemaps="" addr="SelectedInstallationAddress2">
                                            <a style="color: rgb(61,125,139)" target="_blank" href="" ng-cloak ng-href="{{GetGoogleAddressHref(SelectedInstallationAddress2)}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP(0)">
                                                {{SelectedInstallationAddress2.Name}}
                                            </a>
                                            <div class="mapCanvas"></div>
                                        </address>
                                        <label ng-show="SelectedInstallationAddress2.IsValidated==false" data-tooltip="Invalid Address" class="ldet_label error" style="text-align:center;">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </label>
                                        <label ng-show="SelectedInstallationAddress2.IsValidated==true" data-tooltip="Address Validated" class="ldet_label error" style="text-align:center;">
                                            <i class="fas fa-check-circle" style="color:green;"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Contact</label>
                                    <div class="col-sm-9">
                                        <div hfc-contact-overlay="" con="SelectedInstallationAddress2">
                                            <label class="ldet_label">
                                                <a href="" class="hquote_hover">
                                                    {{SelectedInstallationAddress2.ContactName}}
                                                </a>
                                            </label>
                                            <div class="contactCanvas" style="height:auto; width:500px !important;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Billing Address</label>
                                    <div class="col-sm-9">
                                        <address class="inline-relative addres_link" hfc-googlemaps="" addr="SelectedBillingAddress">
                                            <a style="color: rgb(61,125,139)" target="_blank" href="" ng-cloak ng-href="{{GetGoogleAddressHref(SelectedBillingAddress)}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP(0)">
                                                {{SelectedBillingAddress.Name}}
                                            </a>
                                            <div class="mapCanvas"></div>
                                        </address>
                                        <label ng-show="SelectedBillingAddress.IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="text-align:center;"><i class="fa fa-exclamation-triangle"></i></label>
                                        <label ng-show="SelectedBillingAddress.IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="text-align:center;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Contact</label>
                                    <div class="col-sm-9">
                                        <div hfc-contact-overlay="" con="SelectedBillingAddress">
                                            <label class="ldet_label">
                                                <a href="" class="hquote_hover">
                                                    {{SelectedBillingAddress.ContactName}}
                                                </a>
                                            </label>
                                            <div class="contactCanvas" style="height:auto; width:500px !important;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Description</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Opportunity.Description}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_2">
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Opportunity Status</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Opportunity.OpportunityStatus.Name}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0" ng-show="Opportunity.OpportunityStatusId == 6">
                                    <label class="col-sm-3 text_detlabel">Disposition</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{SelectedDisposition}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Sales Agent</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{SelectedAgent}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Installer</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{SelectedInstaller}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Campaign</label>
                                    <div class="col-sm-9">
                                        <label class="ng-binding ldet_label">{{Opportunity.CampaignName}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Channel</label>
                                    <div class="col-sm-9 pr-0">
                                        <label class="ng-binding ldet_label">{{Opportunity.SourcesList[0].ChannelName}}</label>
                                    </div>
                                </div>
                                <div class="source-group row">
                                    <label class="col-sm-3 text_detlabel">Source</label>
                                    <div class="col-sm-9">
                                        <label class="ldet_label">{{Opportunity.SourcesList[0].name}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 text_detlabel">Territory</label>
                                    <div class="col-sm-9">
                                        <label ng-show='Opportunity.TerritoryType=="Contracted to a DIFFERENT Franchisee"' class="ldet_label error">{{Opportunity.TerritoryType}}</label>
                                        <label ng-show='Opportunity.TerritoryType!="Contracted to a DIFFERENT Franchisee"' class="ldet_label">{{Opportunity.TerritoryType}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0" ng-show="((Opportunity.TerritoryType | uppercase) == 'GRAY AREA / UNASSIGNED') || ((Opportunity.TerritoryType | uppercase) == 'GRAY AREA / ASSIGNED & UNASSIGNED') || ((Opportunity.TerritoryType | uppercase) == 'GRAY AREA / ASSIGNED') || ((Opportunity.TerritoryType | uppercase) == 'GRAY AREA')">
                                    <div class="col-md-3 col-sm-3 text_detlabel">
                                        <label class="text_detlabel">
                                            Display Territory
                                        </label>
                                        <label type="reset" class="tooltip-bottom" data-tooltip="Assign Territory for Customer display information. This will not affect/change reporting."><i class="fas fa-info-circle" style="size:2px;"></i></label>
                                    </div>
                                    <div ng-show="Opportunity.TerritoryDisplayId > 0" class="col-sm-9">
                                        <label class="ng-binding ldet_label">{{Opportunity.DisplayTerritoryName}}</label>
                                    </div>
                                </div>
                                <!-- Tax excempt section -->
                                <div class="form-group row ml-0 mr-0">
                                    <div class="col-sm-3 col-xs-3"></div>
                                    <div class="col-sm-9 col-xs-9">
                                        <ul kendo-panel-bar="" id="actpanelbar1" data-role="panelbar" class="k-widget k-reset k-header k-panelbar" tabindex="0" role="menu">
                                            <li id="PanelTaxInfo" class="k-item k-state-default k-last k-state-highlight k-state-active" role="menuitem" aria-expanded="true">
                                                <span class="k-link k-header"><span>Tax Information</span><span class="k-icon  k-i-arrow-60-up k-panelbar-collapse"></span></span>
                                                <div class="kendo_panel row k-content" style="margin: 0px !important; background-color: rgb(237, 237, 237) !important; padding: 15px !important; display: block; height: auto; overflow: visible;" role="region" aria-hidden="false">
                                                      <div class="form-group row ml-0 mr-0">
                                                            <ul class="opportunity_taxlist">
                                                                <li ng-show="HFCService.FranchiseCountryCode == 'US'">
                                                                    <div ng-class="{true: 'has-error'}">
                                                                        <input disabled type="checkbox"
                                                                               class="option-input checkbox"
                                                                               ng-model="Opportunity.IsTaxExempt"
                                                                               ng-click="clearTaxExempt()">
                                                                        <label class="ldet_label">Tax Exempt </label>
                                                                    </div>
                                                                </li>
                                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                    <div ng-class="{true: 'has-error'}">
                                                                        <input disabled type="checkbox"
                                                                               class="option-input checkbox"
                                                                               ng-model="Opportunity.IsPSTExempt"
                                                                               ng-click="clearTaxExempt()">
                                                                        <label class="ldet_label">PST Exempt </label>
                                                                    </div>
                                                                </li>
                                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                    <div ng-class="{true: 'has-error'}">
                                                                        <input disabled type="checkbox" class="option-input checkbox"
                                                                               ng-model="Opportunity.IsGSTExempt"
                                                                               ng-click="clearTaxExempt()">
                                                                        <label class="ldet_label">GST Exempt </label>
                                                                    </div>
                                                                </li>
                                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                    <div ng-class="{true: 'has-error'}">
                                                                        <input disabled type="checkbox" class="option-input checkbox"
                                                                               ng-model="Opportunity.IsHSTExempt"
                                                                               ng-click="clearTaxExempt()">
                                                                        <label class="ldet_label">HST Exempt </label>
                                                                    </div>
                                                                </li>
                                                                <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                    <div ng-class="{true: 'has-error'}">
                                                                        <input disabled type="checkbox" class="option-input checkbox"
                                                                               ng-model="Opportunity.IsVATExempt"
                                                                               ng-click="clearTaxExempt()">
                                                                        <label class="ldet_label">VAT Exempt </label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="form-group row ml-0 mr-0 ng-scope" ng-if="Opportunity.IsTaxExempt ||
                                                 Opportunity.IsPSTExempt || Opportunity.IsGSTExempt ||
                                                 Opportunity.IsHSTExempt || Opportunity.IsVATExempt ">
                                                            <label class="col-sm-2 text_detlabel">Tax ID</label>
                                                            <div class="col-sm-10">
                                                                <label class="ldet_label ng-binding">{{Opportunity.TaxExemptID}}</label>
                                                            </div>
                                                        </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-md-3 col-sm-3 text_detlabel taxlist_field">New Construction</label>
                                    <div class="col-md-9 col-sm-9" ng-class="{true: 'has-error'}">
                                        <input type="checkbox" disabled class="option-input checkbox"
                                               ng-model="Opportunity.IsNewConstruction">
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-md-3 col-sm-3 text_detlabel">Created On</label>
                                    <div class="col-md-9 col-sm-9" ng-class="{true: 'has-error'}">
                                        <label ng-show="(Opportunity.CreatedOnUtc | date:'MM/dd/yyyy') !=  ('12/31/0001' | date:'MM/dd/yyyy')" class="ldet_label">{{Opportunity.CreatedOnUtc|ignoreTimeZone : "short"}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-md-3 col-sm-3 text_detlabel">Opportunity Received Date</label>
                                    <div class="col-md-9 col-sm-9" ng-class="{true: 'has-error'}">
                                        <label ng-show="(Opportunity.ReceivedDate | date:'MM/dd/yyyy') !=  ('12/31/0001' | date:'MM/dd/yyyy')" class="ldet_label">{{Opportunity.ReceivedDate|ignoreTimeZone : "shortDate"}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--- Opportunity Information --->
                <div class="opportunity_expand">
                    <ul kendo-panel-bar id="panelbar">
                        <li ng-show="Permission.ListQuotes">
                            <span style="font-weight:bold; width:100%;">
                                <p style="float:left; margin:0 !important;">Quotes</p>
                                <p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{QuoteCount}}</p>
                            </span>
                            <!--<kendo-tooltip options="kendotooltipOptions">-->
                            <kendo-grid id="gridQuoteSearch" options="Quotes"></kendo-grid>
                            <!--</kendo-tooltip>-->
                        </li>
                        <li ng-show="Permission.DisplayOrderInfo">
                            <span class="font-weight-bold">Order Information</span>
                            <div class="kendo_panel">
                                <div class="row no-margin">
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_1">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Order Name</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label"><a href="#!/Orders/{{Opportunity.Order.OrderID}}">{{Opportunity.Order.OrderName}}</a> </label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Product SubTotal</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.Order.ProductSubtotal| GlobalCurrency}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Additional Charges</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.Order.AdditionalCharges| GlobalCurrency}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Order SubTotal</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.Order.OrderSubtotal| GlobalCurrency}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Tax</label>
                                            <div class="col-sm-9 row">
                                                <div class="col-md-3">
                                                    <label ng-hide="Opportunity.Order.IsTaxExempt" class="ldet_label">{{Opportunity.Order.Tax| GlobalCurrency}}</label>
                                                    <!--<label class="ldet_label" ng-hide="Order.IsTaxExempt">
                                                     <a href="" ng-click="showPopUp('taxDetailsSummary')" class="ng-binding">{{Opportunity.Order.Tax| GlobalCurrency}}</a>
                                                    </label>-->
                                                </div>
                                                <!--<div class="col-md-9">
                                                    <input type="checkbox" class="option-input checkbox" disabled ng-checked='Opportunity.Order.IsTaxExempt'>
                                                    <label class="text_detlabel" style="font-weight:600;">Tax Exempt&nbsp;&nbsp;&nbsp;</label>
                                                    <label ng-hide="!Opportunity.Order.IsTaxExempt" class="text_detlabel">ID:</label>
                                                    <label class="ldet_label" style="vertical-align:middle !important;" ng-bind="Opportunity.Order.TaxExemptID" ng-hide="!Opportunity.Order.IsTaxExempt" />
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="source-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Order Total</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.Order.OrderTotal| GlobalCurrency}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Balance Due</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.Order.BalanceDue| GlobalCurrency}}</label>
                                            </div>
                                        </div>
                                        <!--<div class="form-group row ml-0 mr-0">
                                               <label class="col-sm-3 text_detlabel">Net Amount</label>
                                               <div class="col-sm-9">
                                                   <label class="ldet_label">{{Opportunity.Order.OrderTotal|GlobalCurrency}}</label>
                                               </div>
                                               </div>
                                               <div class="form-group row ml-0 mr-0">
                                               <label class="col-sm-3 text_detlabel">Total Sale Amount</label>
                                               <div class="col-sm-9">
                                                   <label class="ldet_label">{{Opportunity.Order.ProductSubtotal|currency}}</label>
                                               </div>
                                               </div>
                                               <div class="form-group row ml-0 mr-0">
                                               <label class="col-sm-3 text_detlabel">Service Charges</label>
                                               <div class="col-sm-8">
                                                   <label class="ldet_label">{{Opportunity.Order.ServiceCharge|currency}}</label>
                                               </div>
                                               </div>
                                               <div class="form-group row ml-0 mr-0">
                                               <label class="col-sm-3 text_detlabel">Tax Amount</label>
                                               <div class="col-sm-9">
                                                   <label class="ldet_label">{{Opportunity.Order.Tax|currency}}</label>
                                               </div>
                                               </div>
                                               <div class="form-group row ml-0 mr-0">
                                               <label class="col-sm-3 text_detlabel">Payments Applied</label>
                                               <div class="col-sm-9">
                                                   <label class="ldet_label"></label>
                                               </div>
                                               </div>
                                               <div class="form-group row ml-0 mr-0">
                                               <label class="col-sm-3 text_detlabel">Balance Due</label>
                                               <div class="col-sm-9">
                                                   <label class="ldet_label">{{Opportunity.Order.BalanceDue|currency}}</label>
                                               </div>
                                        </div>-->
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_2">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Discount Amount</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label" ng-show="Opportunity.Order.OrderDiscount > 0">({{Opportunity.Order.OrderDiscount|GlobalCurrency}})</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Discount Description</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.Order.DiscountDescription}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Contracted Date</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.Order.ContractedDate|GlobalTime:'shortDate'}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Start Qualify-->
                        <li ng-show="Permission.DisplayOpportunity">
                            <span class="font-weight-bold">Project Needs</span>
                            <div class="kendogrid_box">
                                <div class="qualify-col4" data-id="qanda" ng-repeat="QuestionSelect in UniqueOpportunityQuestions">
                                    <h5 ng-bind="QuestionSelect"></h5>
                                    <div class="row">
                                        <div class="col-sm-6 col-xl-3" ng-repeat="CurrentQuestion in GetOpportunityQuestion(AllOpportunityQuestions, QuestionSelect)">
                                            <div ng-if="CurrentQuestion.SelectionType == 'checkbox'">
                                                <label class="qualify_label">
                                                    <input type="checkbox"
                                                           class="option-input checkbox"
                                                           ng-model="CurrentQuestion.Answer"
                                                           ng-disabled="isDisabled"
                                                           ng-checked="CurrentQuestion.Answer=='true'" />&nbsp;&nbsp;{{CurrentQuestion.SubQuestion}}
                                                </label>
                                            </div>
                                            <div ng-if="CurrentQuestion.SelectionType == 'textbox'">
                                                <label class="qualify_label">
                                                    {{CurrentQuestion.SubQuestion}}
                                                    <input type="text"
                                                           class="form-control qualify_text"
                                                           ng-model="CurrentQuestion.Answer"
                                                           ng-disabled="isDisabled" />
                                                </label>
                                            </div>
                                            <div ng-if="CurrentQuestion.SelectionType == 'textarea'">
                                                <label class="qualify_label">
                                                    {{CurrentQuestion.SubQuestion}}
                                                    <textarea rows="5" cols="88" maxlength="1000" style="height:auto; width:100%;" ng-model="CurrentQuestion.Answer" ng-disabled="isDisabled"></textarea>
                                                </label>
                                            </div>
                                            <div ng-if="CurrentQuestion.SelectionType == 'option'">
                                                <div ng-repeat="optquestion in CurrentQuestion.SubQuestion.split(';')">
                                                    <div>
                                                        <label class="qualify_label">
                                                            <input type="radio"
                                                                   class="option-input radio"
                                                                   ng-model="CurrentQuestion.Answer"
                                                                   value="{{optquestion}}"
                                                                   name="rdo{{QuestionSelect.replace(' ','')}}"
                                                                   ng-disabled="isDisabled" />&nbsp;&nbsp;{{optquestion}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="CurrentQuestion.SelectionType == 'date'">
                                                <label class="qualify_label">
                                                    {{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                    <!--<input type="date"
                                                    class="form-control"
                                                    value="{{CurrentQuestion.Answer | date: CurrentQuestion.Answer}}"
                                                    ng-model="CurrentQuestion.Answer"
                                                    name="dt{{CurrentQuestion.QuestionId}}"
                                                    validatedateformat
                                                    data-date-format="mm/dd/yyyy"
                                                    maxlength="10"
                                                    id="id{{CurrentQuestion.QuestionId}}"
                                                    calendar
                                                    ng-disabled="isDisabled" />-->
                                                    <input kendo-date-picker
                                                           k-format="HFCService.StaticKendoDateFormat()"
                                                           class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched" style="height: 26px !important; width: 160px !important; color:#555 !important;"
                                                           ng-required="true"
                                                           type="text" name="endDate"
                                                           placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                                                           ng-model="CurrentQuestion.Answer"
                                                           ng-disabled="isDisabled"
                                                           data-autoclose="true"
                                                           required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="QuestionSelect=='Would you have a WiFi connection available for us?' && BrandId==1">
                                        <div>&nbsp;</div>
                                        <div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                            <span style="background-color:#f6f6f6; font-weight:bold; cursor: pointer; position: relative; top: -9px;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;If Drapery:&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--End Qualify-->
                        <li ng-show="Permission.DisplayOpportunity">
                            <span class="font-weight-bold">Account Information</span>
                            <div class="kendo_panel">
                                <div class="row no-margin">
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_1">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">First Name</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.PrimCustomer.FirstName}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Last Name</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.PrimCustomer.LastName}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Company</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.PrimCustomer.CompanyName}}</label>
                                            </div>
                                        </div>

                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Billing Address</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">
                                                    {{Opportunity.Addresses[0].Address1}} {{Opportunity.Addresses[0].Address2}}
                                                    &nbsp;{{Opportunity.Addresses[0].City}}&nbsp;{{Opportunity.Addresses[0].State}}&nbsp;{{Opportunity.Addresses[0].ZipCode}}
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Tax begin -->
                                        <div class="form-group row ml-0 mr-0" ng-show="HFCService.FranchiseCountryCode == 'US'">

                                            <div class="col-sm-3 text_detlabel">
                                                <ul class="opportunity_taxlist">
                                                    <li ng-class="{true: 'has-error'}" style="float:none; margin-right:0;">
                                                        <input type="checkbox" disabled class="option-input checkbox"
                                                               ng-model="Opportunity.AccountTP.IsTaxExempt">
                                                        <label class="ldet_label">Tax Exempt? </label>

                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-9">
                                                <label class="ldet_label"> Tax ID&nbsp;{{Opportunity.AccountTP.TaxExemptID}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10">
                                                <ul class="opportunity_taxlist mb-3 clearfix" ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                    <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                        <div ng-class="{true: 'has-error'}">
                                                            <input type="checkbox" disabled class="option-input checkbox"
                                                                   ng-model="Opportunity.AccountTP.IsPSTExempt">
                                                            <label class="ldet_label">PST Exempt </label>
                                                        </div>
                                                    </li>
                                                    <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                        <div ng-class="{true: 'has-error'}">
                                                            <input type="checkbox" disabled class="option-input checkbox"
                                                                   ng-model="Opportunity.AccountTP.IsGSTExempt">
                                                            <label class="ldet_label">GST Exempt </label>
                                                        </div>
                                                    </li>
                                                    <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                        <div ng-class="{true: 'has-error'}">
                                                            <input type="checkbox" disabled class="option-input checkbox"
                                                                   ng-model="Opportunity.AccountTP.IsHSTExempt">
                                                            <label class="ldet_label">HST Exempt </label>
                                                        </div>
                                                    </li>
                                                    <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                        <div ng-class="{true: 'has-error'}">
                                                            <input type="checkbox" disabled class="option-input checkbox"
                                                                   ng-model="Opportunity.AccountTP.IsVATExempt">
                                                            <label class="ldet_label">VAT Exempt </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="source-group row" ng-show="HFCService.FranchiseCountryCode != 'US'">
                                            <label class="col-md-3 text_detlabel" style="font-weight: 400;">Tax Exempt ID</label>
                                            <div class="col-md-9">
                                                <label class="ldet_label">{{Opportunity.AccountTP.TaxExemptID}}</label>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 text_detlabel">Cell Phone</label>
                                            <div class="col-sm-9 row no-margin">
                                                <div class="col-sm-7 no-padding">
                                                    <label class="col-sm-6 ldet_label workph_lable pl-0 ng-binding">
                                                        {{Opportunity.AccountTP.PrimCustomer.CellPhone | mask: '(999) 999-9999'}}
                                                    </label>
                                                    <div class="col-sm-6"></div>
                                                </div>
                                                <div class="col-md-5 no-padding">
                                                    <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="C" ng-model="Opportunity.AccountTP.PrimCustomer.PreferredTFN" title="Preferred contact number" disabled /><label class="ldet_label">Preferred</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="source-group row" ng-if="FranciseLevelTexting">
                                            <label class="col-sm-3 text_detlabel notification_field">
                                                Notifications via Text?
                                                <label style="position:absolute; top:0;" class="tooltip-bottom" data-tooltip='This will send "opt-in" message to customer, and if they opt-in, Touchpoint will send Appointment and Order update texts to the Customer.'><i class="fas fa-info-circle"></i></label>
                                            </label>
                                            <label class="col-sm-2 ldetail_phfield ldet_label">
                                                <input type="checkbox" class="option-input checkbox" disabled ng-model="Opportunity.AccountTP.IsNotifyText">
                                            </label>
                                            <label class="col-sm-3 lradio-prefer ldet_label">
                                                <label style="color:orange; cursor:default;" ng-if="Opportunity.NotifyTextStatus == 'waiting'">Waiting For Response</label>
                                                <label style="color:green; cursor:default;" ng-if="Opportunity.NotifyTextStatus == 'Optin'">Opted In</label>
                                                <label style="color:red; cursor:default;" ng-if="Opportunity.NotifyTextStatus == 'Optout'">Opted Out</label>
                                                <label style="font-weight: bold; cursor:default;" ng-if="Opportunity.NotifyTextStatus == 'error'">Not Reachable</label>
                                            </label>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 text_detlabel">Home Phone</label>
                                            <div class="col-sm-9 row no-margin">
                                                <div class="col-sm-7 no-padding row no-margin">
                                                    <label class="col-sm-6 ldet_label workph_lable pl-0 ng-binding">
                                                        {{Opportunity.AccountTP.PrimCustomer.HomePhone | mask: '(999) 999-9999'}}
                                                    </label>
                                                    <div class="col-sm-6"></div>
                                                </div>
                                                <div class="col-md-5 no-padding">
                                                    <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="H" ng-model="Opportunity.AccountTP.PrimCustomer.PreferredTFN" title="Preferred contact number" disabled /><label class="ldet_label">Preferred</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="source-group row">
                                            <label class="col-sm-3 text_detlabel">Work Phone</label>
                                            <div class="col-sm-9 row no-margin">
                                                <div class="col-sm-7 no-padding row no-margin">
                                                    <label class="col-sm-6 ldet_label workph_lable pl-0 ng-binding">
                                                        {{Opportunity.AccountTP.PrimCustomer.WorkPhone | mask: '(999) 999-9999'}}
                                                    </label>
                                                    <div class="col-sm-6 row no-margin">
                                                        <label class="col-sm-3 text_detlabel">Ext</label>
                                                        <div class="col-sm-9 pr-0">
                                                            <label class="ldet_label">{{Opportunity.AccountTP.PrimCustomer.WorkPhoneExt}} </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 no-padding">
                                                    <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="W" ng-model="Opportunity.AccountTP.PrimCustomer.PreferredTFN" title="Preferred contact number" disabled /><label class="ldet_label">Preferred</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Email</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Opportunity.AccountTP.PrimCustomer.PrimaryEmail}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel notification_field">
                                                Notifications via Email?
                                                <label class="tooltip-bottom" style="position: absolute; top: 0;" data-tooltip='This will send Appointment and Order update emails to the Customer.'><i class="fas fa-info-circle"></i></label>
                                            </label>
                                            <div class="col-sm-9 ldet_label">
                                                <label class="custom-mail no-margin">
                                                    <input type="checkbox" class="option-input checkbox" disabled ng-model="Opportunity.AccountTP.IsNotifyemails">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Commercial</label>
                                            <div class="col-sm-9">
                                                <div class="radio-group">
                                                    <input type="checkbox" class="option-input checkbox" style="margin-right:5px;" disabled ng-model="Opportunity.AccountTP.IsCommercial">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Commercial Type</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label ng-binding">{{Opportunity.AccountTP.CommercialValue}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Industry</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label ng-binding">{{Opportunity.AccountTP.IndustryValue}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_2">
                                        <!--<div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Territory---</label>
                                            <div class="col-sm-9">
                                                <label ng-show='Opportunity.TerritoryType=="Contracted to a DIFFERENT Franchisee"' class="ldet_label error">{{Opportunity.TerritoryType}}</label>
                                                <label ng-show='Opportunity.TerritoryType!="Contracted to a DIFFERENT Franchisee"' class="ldet_label">{{Opportunity.TerritoryType}}</label>
                                            </div>
                                        </div>-->
                                        <div class="form">
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-sm-3 text_detlabel">Campaign</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{Opportunity.CampaignName}}</label>
                                                </div>
                                            </div>
                                            <!--<div class="form-group row territory_group">
                                                <div class="col-md-6 col-sm-6">
                                                    <label class="col-md-5 col-sm-5 text_detlabel">Origination</label>
                                                    <div class="col-md-7 col-sm-7 pr-0">
                                                        <label class="ng-binding ldet_label">{{Opportunity.SourcesList[0].OriginationName}}</label>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-md-3 col-sm-3 text_detlabel">Channel</label>
                                                <div class="col-md-9 col-sm-9 pr-0">
                                                    <label class="ng-binding ldet_label">{{Opportunity.SourcesList[0].ChannelName}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-sm-3 text_detlabel">Source</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{Opportunity.SourcesList[0].name}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-sm-3 text_detlabel">Account Type</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{Opportunity.AccountTP.AccountTypeName}}</label> <!--AccountType-->
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-sm-3 text_detlabel">Key Account</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label ng-binding">{{Opportunity.AccountTP.KeyAcct}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-sm-3 text_detlabel">Legacy Account</label>
                                                <div class="col-sm-9">
                                                    <div class="radio-group">
                                                        <input type="checkbox" class="option-input checkbox"
                                                               style="margin-right:5px;" disabled ng-model="Opportunity.AccountTP.LegacyAccount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="kendo_panel row">
                                <div class="zillow_grid" style="margin:0 15px;">
                                    <div class="zillow_title" ng-if="checkZillowinfo">
                                        <img src="../../../Content/images/zillow_icon.png" />&nbsp;Zillow Information&nbsp;
                                    </div>
                                    <div class="zillow_body" ng-if="checkZillowinfo">
                                        <div class="zillow_border">
                                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_1 lead_topborder" ng-if="zillowdata">
                                                <div class="source-group row">
                                                    <label ng-show="ShowZillowlink==true" class="col-sm-3 text_detlabel"><a href="{{zillowdata.zillowlink}}" target="_blank" style="color:#3d7d8b;">Zillow Link <i class="fa fa-external-link"></i></a></label>
                                                </div>
                                            </div>
                                            <div class="clearfix"> </div>
                                            <div class="zillow_detailbox" ng-if="zillowdata">
                                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_1">
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 text_detlabel">Year Built</label>
                                                        <div class="col-sm-9">
                                                            <label class="ldet_label">{{zillowdata.yearBuilt}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 text_detlabel">Lot Size</label>
                                                        <div class="col-sm-9">
                                                            <label class="ldet_label">{{zillowdata.lotSizeSqFt}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 text_detlabel">Finished Sq Ft</label>
                                                        <div class="col-sm-9">
                                                            <label class="ldet_label">{{zillowdata.finishedSqFt}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 text_detlabel">Bed Rooms</label>
                                                        <div class="col-sm-9">
                                                            <label class="ldet_label">{{zillowdata.bedrooms}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 text_detlabel">Bath Rooms</label>
                                                        <div class="col-sm-9">
                                                            <label class="ldet_label">{{zillowdata.bathrooms}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_2">
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 text_detlabel">Last Sold Date</label>
                                                        <div class="col-sm-9">
                                                            <label class="ldet_label" ng-if="zillowdata.lastSoldDate!=''">{{zillowdata.lastSoldDate | dateFormat1}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 text_detlabel">Last Sold Price</label>
                                                        <div class="col-sm-9">
                                                            <label class="ldet_label">{{zillowdata.lastSoldPrice}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="source-group row">
                                                        <label class="col-sm-3 text_detlabel">ZEstimate</label>
                                                        <div class="col-sm-9">
                                                            <label class="ldet_label">{{zillowdata.zestimate}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="zillow_desc" ng-hide="zillowdata">
                                                <p>No Information Available from Zillow</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>-->
                            </div>
                        </li>
                        <li ng-show="Permission.DisplayOpportunity">
                            <span style="font-weight:bold; width:100%;">
                                <p style="float:left; margin:0 !important;">Notes & Attachments</p>
                                <input type="checkbox" ng-click="refreshNotesGrid()" id="checkBoxInput"
                                       ng-model="External.Notes" style="margin-left:30px;" class="cbSelect" /> Show Deleted Notes & Attachments
                                <p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{NoteServiceTP.NoteList.length}}</p>
                            </span>
                            <div class="kendo_leadpanel">
                                <hfc-note-list is-edit="{{Permission.EditOpportunity}}"></hfc-note-list>
                            </div>
                        </li>
                        <!--<li ng-show="Permission.DisplayOpportunity">
                        <span style="font-weight:bold; width:100%;"><p style="float:left; margin:0 !important;">Notes & Attachments</p>
                            <input type="checkbox" ng-click="refreshNotesGrid()"
                                   ng-model="External.Notes" style="margin-left:30px;" class="cbSelect"/> Show Deleted Notes & Attachments
                        <p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{NoteServiceTP.NoteList.length}}</p></span>
                        <div class="kendo_leadpanel">
                            <hfc-note-list></hfc-note-list>
                        </div>
                        </li>-->
                        <li ng-click="handleKendoPanelBarExpand($event)" ng-show="Permission.DisplayOpportunity">
                            <span style="font-weight:bold; width:100%;">Zillow Information</span>
                            <div class="zillow_grid">
                                <!--<div class="zillow_title" ng-if="checkZillowinfo">
                                <img src="../../../Content/images/zillow_icon.png" />
                                </div>-->
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_1" ng-if="zillowdata">
                                    <div class="zillow_address">
                                        <a href="{{zillowdata.zillowlink}}" target="_blank">
                                            See more details for
                                            [<label ng-cloak ng-href="{{GetGoogleAddressHref(SelectedInstallationAddress2)}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP(0)">
                                                {{SelectedInstallationAddress2.Name}}
                                            </label>]
                                            on Zillow
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                                <div class="zillow_detailbox" ng-if="zillowdata">
                                    <div class="zillow_section row no-margin">
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_1">
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Year Built</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.yearBuilt}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Lot Size</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.lotSizeSqFt}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Finished Sq Ft</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.finishedSqFt}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Bed Rooms</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.bedrooms}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Bath Rooms</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.bathrooms}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col_2">
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Last Sold Date</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label" ng-if="zillowdata.lastSoldDate!=''">{{zillowdata.lastSoldDate | dateFormat1}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Last Sold Price</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.lastSoldPrice}}</label>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Zestimate<sup>Â®</sup></label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{zillowdata.zestimate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="zillow_footer row ml-0 mr-0">
                                        <div class="col-md-4 zillow_logo"><a href="http://www.zillow.com" target="_blank"><img src="../../../Content/images/zillow_logo.jpg" alt="" /></a></div>
                                        <div class="col-md-8 zillow_logocopyright">
                                            <p>&copy; Zillow, Inc., 2006-2016. Use is subject to <a href="https://www.zillow.com/corp/Terms.htm" target="_blank">Terms of Use</a><br /> <a href="https://www.zillow.com/zestimate" target="_blank">What is Zestimate?</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="zillow_desc" ng-hide="zillowdata">
                                    <p>No Information Available from Zillow</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>

        </div>
    </form>
    <!--Tax exemptwarning popup-->
    <div class="modal fade" id="TaxExempt_Warninginfo" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog quote_popup">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Warning !</h4>
                </div>
                <form name="Measurement_addint" role="form">
                    <div class="modal-body quote_popup">
                        <div class="form-group row m-2 text-danger text-center">
                            The Account/Opportunity is marked as Tax Exempt.
                        </div>
                        <div class="form-group row m-2 text-center">
                            Would you like to mark the quote as Tax Exempt?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="reset" class="btn btn-cancel" ng-click="CancelPopup('TaxExempt_Warninginfo')">Yes</button>
                            <button type="button" class="btn btn-cancel" ng-click="RemoveTaxExempt()">No</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Tax exemptwarning popup for COPY-->
    <div class="modal fade" id="TaxExempt_Warninginfo_Copy" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog quote_popup">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Warning !</h4>
                </div>
                <form name="Measurement_addint" role="form">
                    <div class="modal-body quote_popup">
                        <div class="form-group row m-2 text-danger text-center">
                            {{TaxExemptMsg}}
                        </div>
                        <div style="display:none">
                            {{selectedQUoteKeyTaxExempt}}
                            {{SelectedOpportunityTaxExempt}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="reset" class="btn btn-cancel" ng-click="OverwriteQuoteTaxExempt()">Yes</button>
                            <button type="button" class="btn btn-cancel" ng-click="DoNotOverwriteTax()">No</button>
                            <button type="button" class="btn btn-cancel" ng-click="CancelPopup('TaxExempt_Warninginfo_Copy')">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $("#panelbar").on("click", "input.cbSelect", function (evt) {
            evt.stopPropagation();
        });

    </script>

    <!-- Note/Attachment model template -->
    <hfc-note-modal></hfc-note-modal>
    <hfc-lead-source-modal modal-id="leadSourceModal" source-id="LeadSourcesList.Id"></hfc-lead-source-modal>
    <hfc-address-modal modal-id="addressModal" lead-id="{{Lead.LeadId}}"></hfc-address-modal>
    <hfc-person-modal modal-id="personModal"></hfc-person-modal>
    <hfc-person-modal-source modal-id="sourcefile"></hfc-person-modal-source>
    <hfc-fileprint-modal modal-id="fileprint"></hfc-fileprint-modal>
    <hfc-error-modal modal-id="error"></hfc-error-modal>
</div>
<!--this is to display pop up on contact hover-->
<div ng-include="'/Templates/NG/LinkedList/Hfc-additional-contact-display.html'"></div>
<iframe id="print_frame" style="visibility: hidden; height: 0px; width: 0px"></iframe>
<!--warning popup-->
<div class="modal fade" id="Warninginfo" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog quote_popup">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Warning !</h4>
                <button type="button" class="close popup_close" ng-click="CancelPopup('Warninginfo')">&times;</button>
           </div>
            <form name="Measurement_addint" role="form">
                <div class="modal-body quote_popup">
                    <div class="form-group row text-center m-2 text-danger">
                        This Quote has Expired. If you wish to proceed, the status will be re-set to Draft. The quote lines may need to be reviewed / revalidate if Product or Pricing changes have taken place.
                    </div>
                    <div class="form-group row text-center m-2">
                        Would you like to continue?
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" class="btn btn-cancel" ng-click="CancelPopup('Warninginfo')">Cancel</button>
                        <button type="button" class="btn btn-cancel" ng-click="changeQuote()">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>