﻿<!--TODO this should be define in Layout page-->

<style>
    .error {
        color: red;
    }
</style>
<div class="outter-wp">
    <div class="tab_container">
        <!--{{Opportunity}}-->
        <form id="crm-lead-detail" name="formopportunity" ng-submit="SaveOpportunity()" unsaved-warning-form>
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li class="activelead1" rel="tab6"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></li>
                    <li rel="tab7" ng-show="Permission.DisplayMeasurements && BrandId!=3" >
                        <h3 ng-click="MeasurementEdit(Opportunity)">
                            <i class="measurement_icon"></i><br />Measurements
                        </h3>
                    </li>
                    <!--<li rel="tab8"><h3><i class="appointment_icon"></i><br />Appointment</h3></li>-->
                    <li rel="tab7" ng-show="Permission.ListQuotes">
                        <a href="#!/quoteSearch/{{Opportunity.OpportunityId}}">
                            <h3><i class="quotes_icon"></i><br />Quotes</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/opportunityAppointments/{{Opportunity.OpportunityId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/opportunityCommunication/{{Opportunity.OpportunityId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div ng-show="Permission.EditOpportunity" class="leaddetail_butns">
                    <button type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="cancelOpportunity()"><i class="far fa-times-circle fa_icon"></i></button>
                    <button type="button" class="tooltip-bottom cancel_tpbut" data-tooltip="Save" ng-disabled="IsBusy" ng-click="SaveOpportunity(3)"><i class="far fa-check-circle fa_icon"></i></button>
                </div>
                <div class="clearfix"> </div>
            </div>

            <!--<div class="error" ng-if="!Permission.DisplayOpportunity || (Opportunity.SalesAgentId != HFCService.CurrentUser.PersonId && Opportunity.InstallerId != HFCService.CurrentUser.PersonId)">
                You don't have permission to page---.
            </div>-->

            <div class="tab_container tp_content">
                <div class="error" ng-if="!Permission.EditOpportunity">

                    You don't have permission to this page
                </div>
                <div id="tab6" class="tab_content1" ng-show="Permission.EditOpportunity ">
                    <div class="p-3">
                        <fieldset ng-disabled="OpportunityStatusId==6">
                            <div class="leadgrid_box">
                                <div class="lead_rtop row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                        <div class="form-group row ml-0 mr-0" ng-class="{true: 'has-error'}[opportunitysubmitted && formopportunity.OpportunityName.$invalid]">
                                            <label class="col-sm-3 col-xs-3 required_label">Opportunity Name</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <input type="text" name="OpportunityName" ng-model="Opportunity.OpportunityName" class="form-control frm_controllead1 required_field" placeholder="Required" required maxlength="50" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 col-xs-3 required_label">Sidemark</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <input type="text" name="opportunitySideMark" ng-model="Opportunity.SideMark" class="form-control frm_controllead1" placeholder="" maxlength="50" />
                                                <div ng-if="submitted || formopportunity.opportunitySideMark.$dirty" ng-messages="formopportunity.opportunitySideMark.$error" style="color:red">
                                                    <p ng-message="minlength">Last Name should have at least 3 characters.</p>
                                                    <p ng-message="maxlength">Last Name should have at most 12 characters.</p>
                                                    <p ng-message="required">Providing a Side Mark is mandatory.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0 state_field" ng-class="{true: 'has-error'}[ Opportunity.AccountId ==null && opportunitysubmitted  ]">
                                            <label class="col-sm-3 col-xs-3 required_label">Account</label>

                                            <div class="col-sm-9 col-xs-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select ng-model="Opportunity.AccountId"
                                                            class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            ng-class="{true: 'errorTP'}[formopportunity.account_installationAddress.$invalid]"
                                                            name="account_installationAddress"
                                                            ng-options="item.accountId as item.Name for item in accountlist"
                                                            ng-change="ResetInstallationAddressEdit(Opportunity.AccountId, 2)" required>
                                                        <option value="" disabled selected> Select </option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-xs-3 text_detlabel">Related/Parent Account</label>
                                            <div ng-show="!Opportunity.IsCommercial" class="col-xs-9">
                                                <label class="ldet_label"><a href="#!/Accounts/{{Opportunity.RelatedAccountId}}" class="hquote_hover">{{RelatedAccountName}}</a> </label>
                                            </div>
                                            <div ng-show="Opportunity.IsCommercial" class="col-xs-9">
                                                <label class="ldet_label"><a href="#!/Accounts/{{Opportunity.RelatedAccountId}}" class="hquote_hover">{{RelatedAccountName}}</a> </label>
                                            </div>
                                        </div>
                                        <div ng-show="IsValidated" class="form-group row ml-0 mr-0 state_field">
                                            <label class="col-sm-3 col-xs-3 required_label error"><i class="fa fa-exclamation-triangle"></i></label>
                                        </div>
                                        <div ng-show="IsValidatedIns==false" class="form-group row ml-0 mr-0 state_field" ng-class="{true: 'has-error'}[ SelectedInstallationAddress==null && opportunitysubmitted  ]">
                                            <label class="col-sm-3 col-xs-3 required_label">Installation Address </label>
                                            <div class="col-sm-8 col-xs-8" style="padding-right:0 !important;">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            name="opportunity_installationAdd"
                                                            ng-class="{true: 'errorTP'}[formopportunity.opportunity_installationAdd.$invalid]"
                                                            ng-model="Opportunity.InstallationAddressId"
                                                            required
                                                            ng-init="SelectedInstallationAddress = findBySpecField(InstallationAddresslist,'InstallationAddressId',InstallationAddressId,'Name')"
                                                            ng-options="item.InstallAddressId as item.Name for item in InstallationAddresslist">
                                                        <option value="" disabled selected> Select </option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="col-sm-1 col-xs-1">
                                                <label ng-show="IsValidatedIns==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="vertical-align:sub;"><i class="fa fa-exclamation-triangle"></i></label>
                                            </div>
                                            <div>
                                                <input type="button" ng-click="AdditionalAddressServiceTP.AddAddressTP(handleInstallationAddressAfterQuickAdd)" value="Add" />
                                            </div>
                                        </div>
                                        <div ng-show="IsValidatedIns != false" class="form-group row ml-0 mr-0 state_field" ng-class="{true: 'has-error'}[ SelectedInstallationAddress==null && opportunitysubmitted  ]">
                                            <label class="col-sm-3 col-xs-3 required_label">Installation Address </label>
                                            <div class="col-sm-8 col-xs-8" style="padding-right:0 !important;">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            name="opportunity_installationAdd"
                                                            ng-class="{true: 'errorTP'}[formopportunity.opportunity_installationAdd.$invalid]"
                                                            ng-model="Opportunity.InstallationAddressId" required
                                                            ng-init="SelectedInstallationAddress = findBySpecField(InstallationAddresslist,'InstallationAddressId',InstallationAddressId,'Name')"
                                                            ng-options="item.InstallAddressId as item.Name for item in InstallationAddresslist">
                                                        <option value="" disabled selected> Select </option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="col-sm-1 col-xs-1">
                                                <label ng-show="IsValidateBil==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="vertical-align:sub;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                                            </div>
                                            <div>
                                                <input type="button" ng-click="AdditionalAddressServiceTP.AddAddressTP(handleInstallationAddressAfterQuickAdd)" value="Add" />
                                            </div>
                                        </div>
                                        <div ng-show="IsValidateBil==false" class="form-group row ml-0 mr-0 state_field" ng-class="{true: 'has-error'}[ SelectedInstallationAddress==null && opportunitysubmitted  ]">
                                            <label class="col-sm-3 col-xs-3 required_label">Billing Address </label>
                                            <div class="col-sm-8 col-xs-8" style="padding-right:0 !important;">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            name="opportunity_BillingAdd"
                                                            ng-class="{true: 'errorTP'}[formopportunity.opportunity_BillingAdd.$invalid]"
                                                            ng-model="Opportunity.BillingAddressId" required
                                                            ng-options="item.InstallAddressId as item.Name for item in BillingAddressList">
                                                        <option value="" disabled selected> Select </option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="col-sm-1 col-xs-1">
                                                <label ng-show="IsValidateBil==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="vertical-align:sub;"><i class="fa fa-exclamation-triangle"></i></label>
                                            </div>
                                            <div>
                                                <input type="button" ng-click="AdditionalAddressServiceTP.AddAddressTP(handleBillingAddressAfterQuickAdd)" value="Add" />
                                            </div>
                                        </div>
                                        <div ng-show="IsValidateBil != false" class="form-group row ml-0 mr-0 state_field" ng-class="{true: 'has-error'}[ SelectedInstallationAddress==null && opportunitysubmitted  ]">
                                            <label class="col-sm-3 col-xs-3 required_label">Billing Address </label>
                                            <div class="col-sm-8 col-xs-8" style="padding-right:0 !important;">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            name="opportunity_BillingAdd"
                                                            ng-class="{true: 'errorTP'}[formopportunity.opportunity_BillingAdd.$invalid]"
                                                            ng-model="Opportunity.BillingAddressId" required
                                                            ng-options="item.InstallAddressId as item.Name for item in BillingAddressList">
                                                        <option value="" disabled selected> Select </option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div class="col-sm-1 col-xs-1">
                                                <label ng-show="IsValidateBil==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="vertical-align:sub;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                                            </div>
                                            <div>
                                                <input type="button" ng-click="AdditionalAddressServiceTP.AddAddressTP(handleBillingAddressAfterQuickAdd)" value="Add" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 col-xs-3 required_label">Description</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <!--<input type="name" class="form-control frm_lead" placeholder="Local Number" maxlength="20">-->
                                                <textarea placeholder="" multiple maxlength="200" id="txtDesciption" ng-model="Opportunity.Description" class="frm_controllead_textarea" />
                                            </div>
                                        </div>
                                    </div>
                                    <div>mng: {{Opportunity.OpportunityStatusId}}</div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                        <div class="form-group row state_field ml-0 mr-0">
                                            <label class="col-sm-3 col-xs-3 required_label">Opportunity Status </label>
                                            <div class="col-sm-9 col-xs-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            ng-model="Opportunity.OpportunityStatusId"
                                                            required
                                                            ng-change="SetEditDispositionStatus()"
                                                            name="opportunity_status"
                                                            ng-class="{true: 'errorTP'}[formopportunity.opportunity_status.$invalid]">
                                                        <option value="" disabled selected> Select </option>
                                                        <option ng-repeat="status in OpportunityStatuseslist"
                                                                value="{{status.OpportunityStatusID}}"
                                                                ng-disabled="status.OpportunityStatusID != 6">
                                                            {{status.Name}}
                                                        </option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div ng-show="Opportunity.OpportunityStatusId==6" class="form-group row state_field ml-0 mr-0">
                                            <label class="col-sm-3 col-xs-3 required_label">Disposition</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                            name="Pdt_status" id="cboDisposition"
                                                            ng-model="Opportunity.DispositionId"
                                                            ng-options="item.DispositionId as item.Name for item in OpportunityDispositionlist"
                                                            ng-disabled="Dispositiondisabled || (Opportunity.OpportunityStatusId !=6 )">
                                                        <option value="" disabled selected>Select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row state_field ml-0 mr-0" ng-class="{true: 'has-error'}[ Opportunity.SalesAgentId==null && opportunitysubmitted ]">
                                            <label class="col-sm-3 col-xs-3 required_label">Sales Agent </label>
                                            <div class="col-sm-9 col-xs-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            ng-model="Opportunity.SalesAgentId"
                                                            required
                                                            ng-change="SalesAgentChange()"
                                                            name="opportunity_salesAgent"
                                                            ng-class="{true: 'errorTP'}[formopportunity.opportunity_salesAgent.$invalid]"
                                                            ng-options="item.SalesAgentId as (item.Name) for item in SalesAgentlist">
                                                        <option value="" disabled selected> Select </option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row state_field ml-0 mr-0">
                                            <label class="col-sm-3 col-xs-3 required_label">Installer</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="Opportunity.InstallerId" ng-change="InstallerChange()" ng-options="item.InstallerId as item.Name for item in Installerslist">
                                                        <option value=""> Select </option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="source-group row state_field">
                                            <label class="col-sm-3 col-xs-3 required_label">Campaign</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                                            ng-model="Opportunity.CampaignId"
                                                            ng-options="option.CampaignId as (option.Name) for option in Campaignslist "
                                                            ng-change="ChangeCampaign1()">
                                                        <option value="">select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 col-xs-3 required_label">Source</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <div class="Atendes-grid">
                                                    <span ng-disabled="Opportunity.CampaignId" class="custom-dropdown custom-dropdown--white">
                                                        <select id="RelatedSource" required ng-class="required"
                                                                name="RelatedSource"
                                                                kendo-multi-select
                                                                data-max-selected-items="1"
                                                                k-options="RelatedSource"
                                                                k-ng-model="Opportunity.SourcesTPId"
                                                                class="custom-dropdown__select custom-dropdown__select--white required_field"></select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row state_field ml-0 mr-0">
                                            <label class="col-xs-3 text_detlabel">Territory</label>
                                            <div ng-show='Opportunity.TerritoryType=="Contracted to a DIFFERENT Franchisee"' class="col-xs-9 error">
                                                <label class="ldet_label error">{{Opportunity.TerritoryType}}</label>
                                            </div>
                                            <div ng-show='Opportunity.TerritoryType!="Contracted to a DIFFERENT Franchisee"' class="col-xs-9 error">
                                                <label class="ldet_label">{{Opportunity.TerritoryType}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0" ng-show="((Opportunity.TerritoryType | uppercase) == 'GRAY AREA / UNASSIGNED') || ((Opportunity.TerritoryType | uppercase) == 'GRAY AREA / ASSINGED & UNASSIGNED') || ((Opportunity.TerritoryType | uppercase) == 'GRAY AREA / ASSIGNED') || ((Opportunity.TerritoryType | uppercase) == 'GRAY AREA') || ((Opportunity.TerritoryType | uppercase) =='CONTRACTED TO A DIFFERENT FRANCHISEE'">
                                            <div class="col-sm-3 col-xs-3 text_detlabel">
                                                <label class="text_detlabel">
                                                    Display Territory
                                                </label>
                                                <label type="reset" class="tooltip-bottom" data-tooltip="Assign Territory for Customer display information. This will not affect/change reporting."><i class="fas fa-info-circle" style="size:2px;"></i></label>
                                            </div>
                                            <div class="col-sm-9 col-xs-9">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="frm_controllead1 custom-dropdown__select custom-dropdown__select--white required_field"
                                                            name="displayleadterritory"
                                                            ng-change="showterritoryvalue()"
                                                            ng-options="option.Id as (option.Name) for option in DisplayTerritorySource"
                                                            ng-model="TerritoryDisplayId"
                                                            style="width:100%"></select>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- Tax excempt section -->
                                        <div class="form-group row ml-0 mr-0">
                                            <div class="col-sm-3 col-xs-3"></div>
                                            <div class="col-sm-9 col-xs-9">
                                                <ul kendo-panel-bar="" id="actpanelbar1" style="margin-bottom:0 !important; padding:15px 0 !important;" data-role="panelbar" class="k-widget k-reset k-header k-panelbar" tabindex="0" role="menu">
                                                    <li id="PanelTaxInfo" class="k-item k-state-default k-last k-state-highlight k-state-active" role="menuitem" aria-expanded="true">
                                                        <span class="k-link k-header"><span>Tax Information</span><span class="k-icon  k-i-arrow-60-up k-panelbar-collapse"></span></span>
                                                        <div class="kendo_panel row k-content" style="margin: 0px !important; background-color: rgb(237, 237, 237) !important; padding: 15px !important; display: block; height: auto; overflow: visible;" role="region" aria-hidden="false">
                                                            <div style="padding: 10px;">
                                                                <div class="form-group row ml-0 mr-0">
                                                                    <ul class="opportunity_taxlist">
                                                                        <li ng-show="HFCService.FranchiseCountryCode == 'US'">
                                                                            <div ng-class="{true: 'has-error'}">
                                                                                <input disabled type="checkbox"
                                                                                       class="option-input checkbox"
                                                                                       ng-model="Opportunity.IsTaxExempt"
                                                                                       ng-click="clearTaxExempt()">
                                                                                <label class="ldet_label">Tax Exempt </label>
                                                                            </div>
                                                                        </li>
                                                                        <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                            <div ng-class="{true: 'has-error'}">
                                                                                <input disabled type="checkbox"
                                                                                       class="option-input checkbox"
                                                                                       ng-model="Opportunity.IsPSTExempt"
                                                                                       ng-click="clearTaxExempt()">
                                                                                <label class="ldet_label">PST Exempt </label>
                                                                            </div>
                                                                        </li>
                                                                        <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                            <div ng-class="{true: 'has-error'}">
                                                                                <input disabled type="checkbox" class="option-input checkbox"
                                                                                       ng-model="Opportunity.IsGSTExempt"
                                                                                       ng-click="clearTaxExempt()">
                                                                                <label class="ldet_label">GST Exempt </label>
                                                                            </div>
                                                                        </li>
                                                                        <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                            <div ng-class="{true: 'has-error'}">
                                                                                <input disabled type="checkbox" class="option-input checkbox"
                                                                                       ng-model="Opportunity.IsHSTExempt"
                                                                                       ng-click="clearTaxExempt()">
                                                                                <label class="ldet_label">HST Exempt </label>
                                                                            </div>
                                                                        </li>
                                                                        <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                            <div ng-class="{true: 'has-error'}">
                                                                                <input disabled type="checkbox" class="option-input checkbox"
                                                                                       ng-model="Opportunity.IsVATExempt"
                                                                                       ng-click="clearTaxExempt()">
                                                                                <label class="ldet_label">VAT Exempt </label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="form-group row ml-0 mr-0"
                                                                     ng-class="{true: 'has-error'}[Accntsubmit && frm_accnt.taxExemptId.$invalid]"
                                                                     ng-if="Account.IsTaxExempt ||
                                                 Account.IsPSTExempt || Account.IsGSTExempt ||
                                                 Account.IsHSTExempt || Account.IsVATExempt ">
                                                                    <label class="col-sm-2 required_label">Tax ID</label>
                                                                    <div class="col-sm-10">
                                                                        <input disabled maxlength="50" type="text" id="taxExemptId" name="taxExemptId"
                                                                               ng-model="Account.TaxExemptID"
                                                                               class="frm_controllead1 form-control"
                                                                               ng-required="Account.IsTaxExempt || Account.IsPSTExempt
                                                                    || Account.IsGSTExempt || Account.IsHSTExempt
                                                                    || Account.IsVATExempt " />
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </li>
                                                </ul>


                                            </div>
                                        </div>
                                        <div class="form-group row state_field ml-0 mr-0">
                                            <label class="col-sm-3 col-xs-3 required_label">New Construction</label>
                                            <div class="col-sm-9 col-xs-9" ng-class="{true: 'has-error'}">
                                                <input type="checkbox" class="option-input checkbox"
                                                       ng-model="Opportunity.IsNewConstruction">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div>
                            <ul kendo-panel-bar id="panelbar">
                                <li id="quotePanel" style="border-bottom:1px solid #c1c1c1;">
                                    <span style="font-weight:bold;">Quotes</span>
                                    <div class="row panelrow">
                                        <div class="table-responsive">
                                            <!--<kendo-tooltip options="kendotooltipOptions">-->
                                            <kendo-grid id="gridQuoteSearch" options="Quotes" style="margin-bottom:40px !important;"></kendo-grid>
                                            <!--</kendo-tooltip>-->
                                        </div>
                                    </div>
                                </li>
                                <li id="ordersPanel" style="border-bottom:1px solid #c1c1c1;">
                                    <span style="font-weight:bold;">Order Information</span>
                                    <div class="kendogrid_box row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                            <div class="form-group row">
                                                <label class="col-3 text_detlabel">Order Name</label>
                                                <div class="col-9">
                                                    <label class="ldet_label"><a href="#!/Orders/{{Opportunity.Order.OrderID}}">{{Opportunity.Order.OrderName}}</a> </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3 text_detlabel">Net Amount</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.Order.OrderTotal|currency}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3 text_detlabel">Total Sale Amount</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.Order.ProductSubtotal|currency}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3 text_detlabel">Service Charges</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.Order.ServiceCharge|currency}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3 text_detlabel">Tax Amount</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.Order.Tax|currency}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3 text_detlabel">Payments Applied</label>
                                                <div class="col-9">
                                                    <label class="ldet_label"></label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3 text_detlabel">Balance Due</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.Order.BalanceDue|currency}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_2">
                                            <div class="form-group row">
                                                <label class="col-3 text_detlabel">Discount Amount</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">({{Opportunity.Order.OrderDiscount|currency}})</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3 text_detlabel">Discount Description</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.Order.DiscountDescription}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-3 text_detlabel">Contract Date</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.Order.ContractedDate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="QualifyPanel" style="border-bottom:1px solid #c1c1c1;">
                                    <span style="font-weight:bold;">Project Needs</span>
                                    <div class="kendogrid_box">
                                        <div class="qualify-col4" data-id="qanda" ng-repeat="QuestionSelect in UniqueOpportunityQuestions">
                                            <h4 ng-bind="QuestionSelect"></h4>
                                            <div class="row">
                                                <div class="col-md-6 col-xl-3" ng-repeat="CurrentQuestion in GetOpportunityQuestion(AllOpportunityQuestions, QuestionSelect)">
                                                    <div ng-if="CurrentQuestion.SelectionType == 'checkbox'">
                                                        <label class="qualify_label">
                                                            <input type="checkbox"
                                                                   class="option-input checkbox"
                                                                   ng-model="CurrentQuestion.Answer"
                                                                   ng-disabled="isDisabled"
                                                                   ng-checked="CurrentQuestion.Answer=='true'" />&nbsp;&nbsp;{{CurrentQuestion.SubQuestion}}
                                                        </label>
                                                    </div>
                                                    <div ng-if="CurrentQuestion.SelectionType == 'textbox' && CurrentQuestion.SubQuestion != 'Specifics'">
                                                        <label class="qualify_label">
                                                            {{CurrentQuestion.SubQuestion}}
                                                            <input type="text"
                                                                   class="form-control qualify_text"
                                                                   ng-model="CurrentQuestion.Answer"
                                                                   ng-disabled="isDisabled" />
                                                        </label>
                                                    </div>
                                                    <div ng-if="CurrentQuestion.SelectionType == 'textbox' && CurrentQuestion.SubQuestion == 'Specifics'">
                                                        <label class="qualify_label">
                                                            {{CurrentQuestion.SubQuestion}}
                                                            <input type="text"
                                                                   class="form-control qualify_text specifics_field"
                                                                   ng-model="CurrentQuestion.Answer"
                                                                   ng-disabled="isDisabled" />
                                                        </label>
                                                    </div>

                                                    <div ng-if="CurrentQuestion.SelectionType == 'textarea'">
                                                        <label class="qualify_label">
                                                            {{CurrentQuestion.SubQuestion}}
                                                            <textarea rows="5" cols="88" maxlength="1000" style="height:auto; width:100%;" ng-model="CurrentQuestion.Answer" ng-disabled="isDisabled"></textarea>
                                                        </label>
                                                    </div>
                                                    <div ng-if="CurrentQuestion.SelectionType == 'option'">
                                                        <div ng-repeat="optquestion in CurrentQuestion.SubQuestion.split(';')">
                                                            <div>
                                                                <label class="qualify_label">
                                                                    <input type="radio"
                                                                           class="option-input radio"
                                                                           ng-model="CurrentQuestion.Answer"
                                                                           value="{{optquestion}}"
                                                                           name="rdo{{QuestionSelect.replace(' ','')}}"
                                                                           ng-disabled="isDisabled" />&nbsp;&nbsp;{{optquestion}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="CurrentQuestion.SelectionType == 'date'">
                                                        <label class="qualify_label">
                                                            {{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                            <input kendo-date-picker
                                                                   k-format = "HFCService.StaticKendoDateFormat()"
                                                                   class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched" style="height: 26px !important;     width: 160px !important; color:#555 !important;"
                                                                   type="text" name="endDate"
                                                                   placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                                                                   ng-model="CurrentQuestion.Answer"
                                                                   ng-disabled="isDisabled"
                                                                   data-autoclose="true">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="QuestionSelect=='Would you have a WiFi connection available for us?' && BrandId==1">
                                                <div>&nbsp;</div>
                                                <div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                                    <span style="background-color:#f6f6f6; font-weight:bold; cursor: pointer; position: relative; top: -9px;">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;If Drapery:&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="accountPanel" style="border-bottom:1px solid #c1c1c1;">
                                    <span style="font-weight:bold;">Account Information</span>
                                    <div class="kendo_panel row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">First Name</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.PrimCustomer.FirstName}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Last Name</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.PrimCustomer.LastName}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Company</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.PrimCustomer.CompanyName}}</label>
                                                </div>
                                            </div>

                                            <div class="source-group row">
                                                <label class="col-3 required_label">Tax Exempt?</label>
                                                <div class="col-3">
                                                    <input type="checkbox" class="option-input checkbox" disabled ng-model="Opportunity.IsTaxExempt" ng-checked='Opportunity.IsTaxExempt'>
                                                </div>
                                                <div class="col-sm-6 no-padding" ng-show="Opportunity.IsTaxExempt == true">
                                                    <label class="text_detlabel"> Tax ID &nbsp;</label>
                                                    <label class="ldet_label" ng-bind="Opportunity.TaxExemptID" style="vertical-align: middle !important;" />
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Billing Address</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">
                                                        {{Opportunity.Addresses[0].Address1}} {{Opportunity.Addresses[0].Address2}}
                                                        &nbsp;{{Opportunity.Addresses[0].City}}&nbsp;{{Opportunity.Addresses[0].State}}&nbsp;{{Opportunity.Addresses[0].Zip}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Preferred Phone</label>
                                                <div class="col-9">

                                                    <div ng-show="Opportunity.AccountTP.PrimCustomer.PreferredTFN==='C'">
                                                        <label class="ldet_label">  <span ng-show="Opportunity.AccountTP.PrimCustomer.CellPhone">C: </span>{{Opportunity.AccountTP.PrimCustomer.CellPhone | mask: '(999) 999-9999'}}</label>
                                                    </div>
                                                    <div ng-show="Opportunity.AccountTP.PrimCustomer.PreferredTFN==='H'">
                                                        <label class="ldet_label">  <span ng-show="Opportunity.AccountTP.PrimCustomer.HomePhone">H: </span>{{Opportunity.AccountTP.PrimCustomer.HomePhone | mask: '(999) 999-9999'}}</label>
                                                    </div>
                                                    <div ng-show="Opportunity.AccountTP.PrimCustomer.PreferredTFN==='W'">
                                                        <label class="ldet_label">  <span ng-show="Opportunity.AccountTP.PrimCustomer.WorkPhone">W: </span>{{Opportunity.AccountTP.PrimCustomer.WorkPhone | mask: '(999) 999-9999'}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Email</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.AccountTP.PrimCustomer.PrimaryEmail}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Commercial</label>
                                                <div class="col-9">
                                                    <div class="radio-group">
                                                        <input type="checkbox" class="option-input checkbox" style="margin-right:5px;" disabled ng-model="Opportunity.AccountTP.IsCommercial">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Commercial Type</label>
                                                <div class="col-9">
                                                    <label class="ldet_label ng-binding">{{Opportunity.AccountTP.CommercialValue}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Industry</label>
                                                <div class="col-9">
                                                    <label class="ldet_label ng-binding">{{Opportunity.AccountTP.IndustryValue}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_2">
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Territory</label>
                                                <div class="col-9">
                                                    <label ng-show='Opportunity.TerritoryType=="Contracted to a DIFFERENT Franchisee"' class="ldet_label error">{{Opportunity.TerritoryType}}</label>
                                                    <label ng-show='Opportunity.TerritoryType!="Contracted to a DIFFERENT Franchisee"' class="ldet_label">{{Opportunity.TerritoryType}}</label>
                                                </div>
                                                <!--<div ng-show='Opportunity.TerritoryType!="Contracted to a DIFFERENT Franchisee"' class="col-xs-9">
                                                    <label class="ldet_label">{{Opportunity.TerritoryType}}</label>
                                                </div>-->
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Campaign</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.CampaignName}}</label>
                                                </div>
                                            </div>

                                            <div class="form-group row territory_group">
                                                <div class="col-sm-6 col-xs-6">
                                                    <label class="col-sm-5 col-xs-5 text_detlabel">Channel</label>
                                                    <div class="col-sm-7 col-xs-7 pr-0">
                                                        <label class="ng-binding ldet_label">{{Opportunity.SourcesList[0].ChannelName}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Source</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.SourcesList[0].name}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Account Type</label>
                                                <div class="col-9">
                                                    <label class="ldet_label">{{Opportunity.AccountTP.AccountTypeName}}</label> <!--AccountType-->
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Key Account</label>
                                                <div class="col-9">
                                                    <label class="ldet_label ng-binding">{{Opportunity.AccountTP.KeyAcct}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-3 text_detlabel">Legacy Account</label>
                                                <div class="col-9">
                                                    <div class="radio-group">
                                                        <input type="checkbox" class="option-input checkbox" style="margin-right:5px;" disabled ng-model="Opportunity.AccountTP.LegacyAccount">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kendo_panel row">
                                        <div class="zillow_grid" style="margin:0% 2%">
                                            <div class="zillow_title" ng-if="checkZillowinfo">
                                                <img src="../../../Content/images/zillow_icon.png" />&nbsp;Zillow Information&nbsp;
                                            </div>
                                            <div class="zillow_body" ng-if="checkZillowinfo">
                                                <div class="zillow_border">
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1 lead_topborder" ng-if="zillowdata">
                                                        <div class="source-group row">
                                                            <label ng-show="ShowZillowlink==true" class="col-xs-3 text_detlabel"><a href="{{zillowdata.zillowlink}}" target="_blank" style="color:#3d7d8b;">Zillow Link <i class="fa fa-external-link"></i></a></label>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                    <div class="zillow_detailbox" ng-if="zillowdata">
                                                        <div class="row no-margin">
	                                                        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
	                                                            <div class="source-group row">
	                                                                <label class="col-3 text_detlabel">Year Built</label>
	                                                                <div class="col-9">
	                                                                    <label class="ldet_label">{{zillowdata.yearBuilt}}</label>
	                                                                </div>
	                                                            </div>
	                                                            <div class="source-group row">
	                                                                <label class="col-3 text_detlabel">Lot Size</label>
	                                                                <div class="col-9">
	                                                                    <label class="ldet_label">{{zillowdata.lotSizeSqFt}}</label>
	                                                                </div>
	                                                            </div>
	                                                            <div class="source-group row">
	                                                                <label class="col-3 text_detlabel">Finished Sq Ft</label>
	                                                                <div class="col-9">
	                                                                    <label class="ldet_label">{{zillowdata.finishedSqFt}}</label>
	                                                                </div>
	                                                            </div>
	                                                            <div class="source-group row">
	                                                                <label class="col-3 text_detlabel">Bed Rooms</label>
	                                                                <div class="col-9">
	                                                                    <label class="ldet_label">{{zillowdata.bedrooms}}</label>
	                                                                </div>
	                                                            </div>
	                                                            <div class="source-group row">
	                                                                <label class="col-3 text_detlabel">Bath Rooms</label>
	                                                                <div class="col-9">
	                                                                    <label class="ldet_label">{{zillowdata.bathrooms}}</label>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                        <!--2nd Column-->
	                                                        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_2">
	                                                            <div class="source-group row">
	                                                                <label class="col-3 text_detlabel">Last Sold Date</label>
	                                                                <div class="col-9">

	                                                                    <label class="ldet_label" ng-if="zillowdata.lastSoldDate!=''">{{zillowdata.lastSoldDate | dateFormat1}}</label>
	                                                                </div>
	                                                            </div>
	                                                            <div class="source-group row">
	                                                                <label class="col-3 text_detlabel">Last Sold Price</label>
	                                                                <div class="col-9">
	                                                                    <label class="ldet_label">{{zillowdata.lastSoldPrice}}</label>
	                                                                </div>
	                                                            </div>
	                                                            <div class="source-group row">
	                                                                <label class="col-3 text_detlabel">ZEstimate</label>
	                                                                <div class="col-9">
	                                                                    <label class="ldet_label">{{zillowdata.zestimate}}</label>
	                                                                </div>
	                                                            </div>
	                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="zillow_desc" ng-hide="zillowdata">
                                                        <p>No Information Available from Zillow</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- To display additional address popup -->
        <hfc-additional-address-modal></hfc-additional-address-modal>
        <hfc-lead-source-modal modal-id="leadSourceModal" source-id="LeadSourcesList.Id"></hfc-lead-source-modal>
        <hfc-address-modal modal-id="addressModal" lead-id="{{Lead.LeadId}}"></hfc-address-modal>
        <hfc-person-modal modal-id="personModal"></hfc-person-modal>
        <hfc-person-modal-New modal-id="personModalmodified"></hfc-person-modal-New>
        <hfc-person-modal-Source modal-id="sourcefile"></hfc-person-modal-Source>
        <hfc-fileprint-modal modal-id="fileprint"></hfc-fileprint-modal>
        <hfc-error-modal modal-id="error"></hfc-error-modal>
        <hfc-duplicate-modal></hfc-duplicate-modal>
        <hfc-note-modal></hfc-note-modal>
        <!---end inner tab-->
    </div>
</div>
<div class="modal fade" id="paymentModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Reverse Payment</h4>
                <button type="button" class="close popup_close" ng-click="CancelPayment('paymentModal')" aria-hidden="true">&times;</button>

            </div>

            <form name="Payment_addint" role="form" novalidate ng-submit="SavePayment()">
                <div class="modal-body">
                    <div class="leadgrid_box">

                        <div class="lead_rtop row">
                            <div class="col-xs-12 col-sm-12 col_1">
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Opportunity Name</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.order.Opportunity}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Sidemark</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.Sidemark}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Account</label>
                                    <div class="col-9">
                                        <label class="ldet_label">{{Payment.order.AccountName}}</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Installation Address</label>
                                    <div class="col-9">
                                        <label class="ldet_label">
                                            {{Payment.order.InstallationAddress}}
                                        </label>
                                    </div>
                                </div>
                                <div class="row orderpayment_group" style="margin-bottom:0 !important;">
                                    <div class="col-sm-6 col-xs-6">
                                        <label class="col-5 text_detlabel">Total</label>
                                        <div class="col-7">
                                            <label class="ldet_label">{{Payment.order.OrderTotal| currency:"$"}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 payment_groupverified">
                                        <div class="form-group row">
                                            <label class="col-3 text_detlabel checkno_field">Balance Due</label>
                                            <div class="col-7">
                                                <label class="ldet_label">{{Payment.order.BalanceDue| currency:"$"}}</label>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group row">
                                    <label class="col-xs-4 text_detlabel">Total</label>
                                    <div class="col-xs-8">
                                        <label class="ldet_label">{{Payment.order.OrderTotal| currency:"$"}}</label>
                                    </div>
                                </div>-->
                                <div class="form-group row">
                                    <label class="col-3 text_detlabel">Pay Balance?</label>
                                    <div class="col-9">
                                        <label class="ldet_label"><input type="checkbox" class="option-input checkbox ng-pristine ng-valid ng-empty ng-touched" ng-model="Payment.PayBalance" disabled></label>
                                    </div>
                                </div>
                                <div class="row orderpayment_group">
                                    <div class="col-sm-6 col-xs-6"
                                         ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_method.$modelValue== 0 ||
                                     Payment_addint.Pay_method.$modelValue=='')]">
                                        <label class="col-5 required_label">Payment Method</label>
                                        <div class="col-7">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white ng-pristine ng-valid ng-not-empty ng-touched"
                                                        ng-model="Payment.PaymentMethod" style="padding:5px !important;"
                                                        ng-options="item.Id as item.PaymentMethod for item in PaymentMethods"
                                                        name="Pay_method" required>
                                                    <option value="" disabled selected> Select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 payment_groupverified">
                                        <!--{{Payment.PaymentMethod}}-->

                                        <div class="row" ng-show="Payment.PaymentMethod==2">
                                            <label class="col-3 required_label checkno_field">Check Number </label>
                                            <div class="col-7">
                                                <!--<label class="ldet_label">{{Order.CheckNumber}}</label>-->
                                                <!--changing the model from "Payment.CheckNumber" to "Payment.VerificationCheck" as value is not binding properly-->
                                                <input ng-required="Payment.PaymentMethod==2" type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Check Number" ng-model="Payment.VerificationCheck" name="Check" ng-minlength="1" ng-maxlength="100" maxlength="100" required="">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row" ng-show="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9">
                                            <label class="col-3 required_label checkno_field">Verification</label>
                                            <div class="col-7">
                                                <input ng-required="Payment.PaymentMethod==3 || Payment.PaymentMethod==4 || Payment.PaymentMethod==5|| Payment.PaymentMethod==6|| Payment.PaymentMethod==7|| Payment.PaymentMethod==8|| Payment.PaymentMethod==9" type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Verification" ng-model="Payment.VerificationCheck" name="Verification" ng-minlength="1" ng-maxlength="100" required="">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row" ng-show="Payment.PaymentMethod==10">
                                            <label class="col-3 required_label checkno_field">Authorization</label>
                                            <div class="col-7">
                                                <!--<label class="ldet_label">{{Order.Authorization}}</label>-->
                                                <!--changing the mode
                                                l from "Payment.Authorization" to "Payment.VerificationCheck" as value is not binding properly -->

                                                <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" placeholder="Authorization" ng-model="Payment.VerificationCheck" name="Authorization" ng-minlength="1" ng-maxlength="100" maxlength="100" ng-required="Payment.PaymentMethod==10">
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row orderpayment_group">
                                    <div class="col-sm-6 col-xs-6 row no-margin">
                                        <label class="col-5 required_label">Payment Date</label>
                                        <div class="col-7">
                                            <input class="form-control frm_controllead1 ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                                   required="" style="width:50%;margin-right:2%" type="text"
                                                   name="fromDate" ng-model="Payment.PaymentDate"
                                                   placeholder="Start Date" data-date-format="MM/dd/yyyy"
                                                   data-autoclose="true" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 row no-margin"
                                         ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_reverse.$modelValue== 0 ||
                                     Payment_addint.Pay_reverse.$modelValue==''||Payment_addint.Pay_reverse.$modelValue==null)]">

                                        <label class="col-5 required_label">Reason</label>
                                        <div class="col-7">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white ng-pristine ng-valid ng-not-empty ng-touched"
                                                        ng-model="Payment.ReasonCode" style="padding:5px !important;"
                                                        ng-options="item.ReasonCodeId as item.Reason for item in ReversalReason"
                                                        name="Pay_reverse" required>
                                                    <option value="" disabled selected> Select</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row orderpayment_group">
                                    <div class="col-sm-6 col-xs-6 row no-margin" ng-class="{true:'has-error'}[isSubmitted && (Payment_addint.Pay_Amount.$invalid)]">
                                        <label class="col-5 required_label">Amount</label>
                                        <div class="col-7">
                                            <input type="text" class="form-control frm_controllead1 ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched required_field"
                                                   placeholder="Amount" ng-model="Payment.Amount" name="Pay_Amount" ng-minlength="1" ng-maxlength="100" maxlength="100" style="width:50%" required="" ng-change="PayBalanceAmount()" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 payment_groupverified row no-margin">
                                        <label class="col-5 required_label reversal_chkbox" style="text-align:left !important;">
                                            <input type="checkbox" class="option-input checkbox ng-pristine ng-valid ng-empty ng-touched" id="chkReversal" ng-model="Payment.chkReversal" disabled>
                                            Reversal
                                        </label>
                                        <div class="col-7"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 required_label">Memo</label>
                                    <div class="col-9">
                                        <textarea placeholder="" multiple maxlength="500" style="width:450px; height: 85px; margin: 0px;" id="txtDesciption" ng-model="Payment.Memo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<End hello world>-->
                    </div>
                        <div class="modal-footer">
                            <div class="popup_butns">
                                <button type="reset" class="btn btn-cancel" ng-click="CancelPayment('paymentModal')">Cancel</button>
                                <button type="submit" class="btn btn-cancel" ng-click="SaveReversePayment('paymentModal',this)">Save</button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
<hfc-yes-no-dialog></hfc-yes-no-dialog>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs li").removeClass("activelead");
        $(this).addClass("activelead");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("activelead");
        $("ul.tabs li[rel^='" + d_activeTab + "']").addClass("activelead");
    });

    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content1").hide();
    $(".tab_content2").hide();
    $(".tab_content1:first").show();

    /* if in tab mode */
    $("ul.tabs1 li").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs1 li").removeClass("activelead1");
        $(this).addClass("activelead1");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs1 li").removeClass("activelead1");
        $("ul.tabs1 li[rel^='" + d_activeTab + "']").addClass("activelead1");
    });

    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");

    $('#select2').prop('disabled', true);
</script>