﻿<!--TODO this should be define in Layout page-->

<style>
    .error, .errortext {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }
    .k-i-loading {
        display: none;
    }
    #opportunity_account-list .k-list-scroller, #opportunity_saleagent-list .k-list-scroller, #opportunity_installer-list .k-list-scroller, #opportunity_campaign-list .k-list-scroller, #account_installationAddress-list .k-list-scroller
    #opportunity_BillingAddress .k-list-scroller {
        max-height: 131px !important;
    }
    .required-error {
        border: 1px solid #a94442 !important;
    }
</style>

<div class="outter-wp">
    <form id="crm-lead-detail" name="formopportunity" ng-submit="ShowTextingPopup()" unsaved-warning-form>
        <!---inner tab--->
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li class="activelead1" rel="tab6"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></li>
            </ul>
            <!-- toolbar buttons -->
            <div class="leaddetail_butns">
                <ul class="orderlist_box">
                    <li>
                        <button type="reset"
                                class="tooltip-bottom hfc_bgbut"
                                data-tooltip="Cancel" ng-disabled="IsBusy"
                                ng-click="cancelOpportunity()">
                            <i class="far fa-times-circle fa_icon"></i>
                        </button>
                    </li>
                    <li>
                        <button ng-show="Permission.AddOpportunity || Permission.EditOpportunity"
                                type="button" class="tooltip-bottom hfc_bgbut"
                                data-tooltip="Save" ng-disabled="IsBusy"
                                ng-click="ShowTextingPopup()">
                            <i class="far fa-check-circle fa_icon"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="tab_container tp_content">
            <div class="error" ng-show="!(Permission.AddOpportunity || Permission.EditOpportunity)">
                You don't have permission to this page.
            </div>
            <div class="p-3" ng-show="Permission.AddOpportunity || Permission.EditOpportunity">
                <div class="leadgrid_box">
                    <div class="lead_rtop row">
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 col_1">
                            <div class="form-group row mx-0"
                                 ng-class="{true: 'has-error'}[opportunitysubmitted && formopportunity.OpportunityName.$invalid]">
                                <label class="col-md-3 col-3 required_label">Opportunity Name</label>
                                <div class="col-md-9 col-9">
                                    <input type="text" name="OpportunityName" ng-model="Opportunity.OpportunityName"
                                           class="form-control frm_controllead1 required_field"
                                           placeholder="Required" required maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group row mx-0">
                                <label class="col-md-3 col-3 required_label">Sidemark</label>
                                <div class="col-md-9 col-9">
                                    <input type="text" name="opportunitySideMark"
                                           ng-model="Opportunity.SideMark"
                                           class="frm_controllead1" placeholder="" maxlength="50" />
                                    <div ng-if="submitted || formopportunity.opportunitySideMark.$dirty"
                                         ng-messages="formopportunity.opportunitySideMark.$error"
                                         style="color:red">
                                        <p ng-message="required">Providing a Side Mark is mandatory.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mx-0 state_field"
                                 ng-class="{true: 'has-error'}[ Opportunity.AccountId==null && opportunitysubmitted  ]">
                                <label class="col-md-3 col-3 required_label">Account</label>
                                <div class="col-md-9 col-9">
                                    <div class="Atendes-grid">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <!--<select ng-model="Opportunity.AccountId"
                                                class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                ng-options="item.accountId as item.Name for item in accountlist"
                                                name="opportunity_account"
                                                ng-class="{true: 'errorTP'}[formopportunity.opportunity_account.$invalid]"
                                                ng-change="ResetInstallationAddressEdit(Opportunity.AccountId, 2);GetTaxDetails(Opportunity.AccountId)"
                                                required>
                                                <option value="" disabled selected> Select </option>
                                                </select>-->
                                            <select id="opportunity_account"
                                                    required
                                                    name="opportunity_account"
                                                    kendo-drop-down-list
                                                    k-options="opportunity_account"
                                                    k-ng-model="Opportunity.AccountId"
                                                    class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mx-0">
                                <label class="col-3 text_detlabel">Related/Parent Account</label>
                                <div class="col-9">
                                    <label class="ldet_label"><a href="#!/Accounts/{{RelatedAccId}}" class="hquote_hover">{{RelatedAccountName}}</a> </label>
                                </div>
                            </div>
                            <div class="form-group row mx-0 state_field"
                                 ng-class="{true: 'has-error'}[ SelectedInstallationAddress==null && opportunitysubmitted  ]">
                                <label class="col-md-3 col-3 required_label">Installation Address</label>
                                <div class="col-md-8 col-8 pr-0">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                ng-class="{true: 'errorTP'}[formopportunity.account_installationAddress.$invalid]"
                                                name="account_installationAddress"
                                                required
                                                ng-options="item.InstallAddressId as (item.Name) for item in InstallationAddresslist"
                                                ng-model="selectedInstallationAddressId">
                                            <option value="" disabled selected> Select </option>
                                        </select>-->
                                        <select id="account_installationAddress"
                                                name="account_installationAddress"
                                                kendo-drop-down-list
                                                k-options="account_installationAddress_option"
                                                k-ng-model="selectedInstallationAddressId"
                                                class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;">
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-1 col-1" style="padding:0 5px !important;">
                                    <label ng-show="SelectedInstallationAddress.IsValidated==false"
                                           data-tooltip="Invalid Address"
                                           class="ng-binding ldet_label error" style="margin-right:5px; vertical-align:bottom;">
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </label>
                                    <label ng-show="SelectedInstallationAddress.IsValidated==true"
                                           data-tooltip="Address Validated"
                                           class="ng-binding ldet_label error">
                                        <i class="fas fa-check-circle" style="color:green; margin-right:5px; vertical-align:bottom;"></i>
                                    </label>
                                    <!-- Additional address popup -->
                                    <button ng-disabled="!Opportunity.AccountId" type="button"
                                            class="plus_but tooltip-bottom" style="font-size:16px;
                                                        vertical-align:sub;" data-tooltip="Add New Address"
                                            ng-click="AdditionalAddressServiceTP.AddAddressTP(handleInstallationAddressAfterQuickAdd)">
                                        <i class="far fa-plus-square"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group row mx-0 state_field"
                                 ng-class="{true: 'has-error'}[ SelectedInstallationAddress==null && opportunitysubmitted  ]">
                                <label class="col-md-3 col-3 required_label">Billing Address</label>
                                <div class="col-md-8 col-8 pr-0">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                required
                                                ng-options="item.InstallAddressId as (item.Name) for item in BillingAddressList"
                                                name="opportunity_BillingAddress"
                                                ng-class="{true: 'errorTP'}[formopportunity.opportunity_BillingAddress.$invalid]"
                                                ng-model="selectedBillingAddressId">
                                            <option value="" disabled selected> Select </option>
                                        </select>-->
                                        <select id="opportunity_BillingAddress" 
                                                name="opportunity_BillingAddress"
                                                kendo-drop-down-list
                                                k-options="opportunity_BillingAddress_option"
                                                k-ng-model="selectedBillingAddressId"
                                                class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;">
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-1 col-1" style="padding:0 5px !important;">
                                    <label ng-show="BillingAddress.IsValidated==false"
                                           data-tooltip="Invalid Address"
                                           class="ng-binding ldet_label error"
                                           style="margin-right:5px; vertical-align:bottom;">
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </label>
                                    <label ng-show="BillingAddress.IsValidated==true"
                                           data-tooltip="Address Validated"
                                           class="ng-binding ldet_label error">
                                        <i class="fas fa-check-circle" style="color:green; margin-right:5px; vertical-align:bottom;"></i>
                                    </label>
                                    <button type="button" class="plus_but tooltip-bottom"
                                            ng-disabled="!Opportunity.AccountId"
                                            style="font-size:16px; vertical-align:sub;"
                                            data-tooltip="Add New Address"
                                            ng-click="AdditionalAddressServiceTP.AddAddressTP(handleBillingAddressAfterQuickAdd)">
                                        <i class="far fa-plus-square"></i>
                                    </button>
                                    <!--<input type="button" ng-click="AdditionalAddressServiceTP.AddAddressTP(handleBillingAddressAfterQuickAdd)" value="Add" />-->
                                </div>
                            </div>
                            <div class="form-group row mx-0">
                                <label class="col-md-3 col-3 required_label">Description</label>
                                <div class="col-md-9 col-9">
                                    <textarea placeholder="" multiple maxlength="550"
                                              id="txtDesciption" ng-model="Opportunity.Description"
                                              class="frm_controllead_textarea" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 col-xl-6 col_1">
                            <div class="form-group row state_field mx-0"
                                 ng-class="{true: 'has-error'}[ Opportunity.OpportunityStatusId==null && opportunitysubmitted ]">
                                <label class="col-md-3 col-3 required_label">Opportunity Status</label>
                                <div class="col-md-9 col-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select ng-show="mode=='Add'" class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                name="opportunity_Status"
                                                ng-class="{true: 'errorTP'}[formopportunity.opportunity_Status.$invalid]"
                                                ng-change="SetDispositionStatus()"
                                                required ng-options="item.OpportunityStatusID as (item.Name) for item in OpportunityStatuseslist"
                                                ng-model="Opportunity.OpportunityStatusId">
                                            <option value="" disabled selected> Select</option>
                                        </select>
                                        <!-- https://stackoverflow.com/questions/16202254/ng-options-with-disabled-rows -->
                                        <!-- The disable when in angularjs is very handy :) -->
                                        <select ng-show="mode=='Edit'" class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                name="opportunity_Status"
                                                ng-class="{true: 'errorTP'}[formopportunity.opportunity_Status.$invalid]"
                                                ng-change="SetDispositionStatus()"
                                                required ng-options="item.OpportunityStatusID as (item.Name) disable when item.OpportunityStatusID != 6  for item in OpportunityStatuseslist"
                                                ng-model="Opportunity.OpportunityStatusId">
                                            <option value="" disabled selected> Select</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div style="display:none" class="form-group row state_field mx-0 disposition_section">
                                <label class="col-md-3 col-3 required_label">Disposition</label>
                                <div class="col-md-9 col-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="custom-dropdown__select custom-dropdown__select--white" id="cboDisposition"
                                                ng-init="SelectedDisposition = findBySpecField(OpportunityDispositionlist,'DispositionId',DispositionId,'Name')"
                                                disabled
                                                ng-options="value.Name group by Name for value in OpportunityDispositionlist" ng-model="SelectedDisposition">
                                            <option value=""> Select </option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div ng-show="Opportunity.OpportunityStatusId==6" class="form-group row state_field mx-0"
                                 ng-class="{true: 'has-error'}[ Opportunity.DispositionId==null && opportunitysubmitted  ]">
                                <label class="col-md-3 col-3 required_label">Disposition</label>
                                <div class="col-md-9 col-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white required_field"
                                                name="opp_disposition" id="cboDisposition"
                                                ng-class="{true: 'errorTP'}[formopportunity.opp_disposition.$invalid]"
                                                ng-model="Opportunity.DispositionId"
                                                ng-required="Opportunity.OpportunityStatusId == 6"
                                                ng-options="item.DispositionId as item.Name for item in OpportunityDispositionlist"
                                                ng-disabled="Dispositiondisabled || (Opportunity.OpportunityStatusId !=6 )">
                                            <option value="" selected>Select</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row state_field mx-0"
                                 ng-class="{true: 'has-error'}[ Opportunity.SalesAgentId==null && opportunitysubmitted ]">
                                <label class="col-md-3 col-3 required_label">Sales Agent</label>
                                <div class="col-md-9 col-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                required
                                                name="salesAgent"
                                                ng-class="{true: 'errorTP'}[formopportunity.salesAgent.$invalid]"
                                                ng-options="item.SalesAgentId as (item.Name) for item in SalesAgentlist"
                                                ng-change="SalesAgentChange()"
                                                ng-model="Opportunity.SalesAgentId">
                                            <option value="" disabled selected> Select </option>
                                        </select>-->
                                        <select id="opportunity_saleagent"
                                                required
                                                ng-class="required"
                                                name="opportunity_saleagent"
                                                kendo-drop-down-list
                                                k-options="opportunity_saleagent"
                                                k-ng-model="Opportunity.SalesAgentId"
                                                class="form-control custom-dropdown__select custom-dropdown__select--white required_field" style="border:1px solid #b2bfca;"></select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row state_field mx-0">
                                <label class="col-md-3 col-3 required_label">Installer</label>
                                <div class="col-md-9 col-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <!--<select class="custom-dropdown__select custom-dropdown__select--white"
                                                ng-options="item.InstallerId as (item.Name) for item in Installerslist"
                                                ng-change="InstallerChange()"
                                                ng-model="Opportunity.InstallerId">
                                            <option value=""> Select </option>
                                        </select>-->
                                        <select id="opportunity_installer"
                                                name="opportunity_installer"
                                                kendo-drop-down-list
                                                k-options="opportunity_installer"
                                                k-ng-model="Opportunity.InstallerId"
                                                class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                                    </span>
                                </div>
                            </div>
                            <div class="source-group row state_field">
                                <label class="col-md-3 col-3 required_label">Campaign</label>
                                <div class="col-md-9 col-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <!--<select class="custom-dropdown__select custom-dropdown__select--white"
                                                ng-model="Opportunity.CampaignId"
                                                ng-options="option.CampaignId as (option.Name) for option in Campaignslist "
                                                ng-change="ChangeCampaign1()">
                                            <option value="">select</option>
                                        </select>-->
                                        <select id="opportunity_campaign"
                                                name="opportunity_campaign"
                                                kendo-drop-down-list
                                                k-options="opportunity_campaign"
                                                k-ng-model="Opportunity.CampaignId"
                                                class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row mx-0">
                                <label class="col-md-3 col-3 required_label">Source</label>
                                <div class="col-md-9 col-9">
                                    <div class="Atendes-grid">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select id="RelatedSource"
                                                    required
                                                    ng-class="required"
                                                    name="RelatedSource"
                                                    kendo-multi-select
                                                    data-max-selected-items="1"
                                                    k-options="RelatedSource"
                                                    k-ng-model="Opportunity.SourcesTPId"
                                                    class="custom-dropdown__select custom-dropdown__select--white required_field"></select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- No more required --Kumaran -->
                            <!--<div class="form-group row mx-0">
                                <label class="col-3 text_detlabel">Key Account</label>
                                <div class="col-9">
                                    <label class="ldet_label ng-binding">{{Opportunity.AccountTP.KeyAcct}}</label>
                                </div>
                            </div>-->

                            <div class="form-group row mx-0">
                                <label class="col-3 text_detlabel">Legacy Account</label>
                                <div class="col-9">
                                    <div class="radio-group">
                                        <input type="checkbox" class="option-input checkbox"
                                               style="margin-right:5px;" disabled
                                               ng-model="Opportunity.AccountTP.LegacyAccount">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row state_field mx-0">
                                <label class="col-3 text_detlabel">Territory</label>
                                <div ng-show='Opportunity.TerritoryType=="Contracted to a DIFFERENT Franchisee"' class="col-9 error">
                                    <label class="ldet_label error">{{Opportunity.TerritoryType}}</label>
                                </div>
                                <div ng-show='Opportunity.TerritoryType!="Contracted to a DIFFERENT Franchisee"' class="col-9 error">
                                    <label class="ldet_label">{{Opportunity.TerritoryType}}</label>
                                </div>
                            </div>
                            <div class="form-group row mx-0" ng-show="((Opportunity.TerritoryType | uppercase) == 'GRAY AREA / UNASSIGNED') || ((Opportunity.TerritoryType | uppercase) == 'GRAY AREA / ASSINGED & UNASSIGNED') || ((Opportunity.TerritoryType | uppercase) == 'GRAY AREA / ASSIGNED') || ((Opportunity.TerritoryType | uppercase) == 'GRAY AREA')">
                                <!--|| ((Opportunity.TerritoryType | uppercase) =='CONTRACTED TO A DIFFERENT FRANCHISEE'-->
                                <div class="col-md-3 col-3 text_detlabel">
                                    <label class="text_detlabel">
                                        Display Territory
                                    </label>
                                    <label type="reset" class="tooltip-bottom" data-tooltip="Assign Territory for Customer display information. This will not affect/change reporting."><i class="fas fa-info-circle" style="size:2px;"></i></label>
                                </div>
                                <div class="col-md-9 col-9">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="frm_controllead1 custom-dropdown__select custom-dropdown__select--white required_field"
                                                name="displayleadterritory"
                                                ng-change="showterritoryvalue()"
                                                ng-options="option.Id as (option.Name) for option in DisplayTerritorySource"
                                                ng-model="TerritoryDisplayId"
                                                style="width:100%"></select>
                                    </span>
                                </div>
                            </div>

                            <!-- Tax excempt section -->
                            <div class="form-group row mx-0">
                                <div class="col-sm-3 col-xs-3"></div>
                                <div class="col-sm-9 col-xs-9">
                                    <ul kendo-panel-bar="" id="actpanelbar1" data-role="panelbar" class="k-widget k-reset k-header k-panelbar" tabindex="0" role="menu">
                                        <li id="PanelTaxInfo" class="k-item k-state-default k-last k-state-highlight k-state-active" role="menuitem" aria-expanded="true">
                                            <span class="k-link k-header"><span>Tax Information</span><span class="k-icon  k-i-arrow-60-up k-panelbar-collapse"></span></span>
                                            <div class="kendo_panel row k-content" style="margin: 0px !important; background-color: rgb(237, 237, 237) !important; padding: 15px !important; display: block; height: auto; overflow: visible;" role="region" aria-hidden="false">
                                                   <div class="form-group row ml-0 mr-0">
                                                        <ul class="opportunity_taxlist">
                                                            <li ng-show="HFCService.FranchiseCountryCode == 'US'">
                                                                <div ng-class="{true: 'has-error'}">
                                                                    <input type="checkbox"
                                                                           class="option-input checkbox"
                                                                           ng-model="Opportunity.IsTaxExempt"
                                                                           ng-click="clearTaxExempt()">
                                                                    <label class="ldet_label">Tax Exempt </label>
                                                                </div>
                                                            </li>
                                                            <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                <div ng-class="{true: 'has-error'}">
                                                                    <input type="checkbox"
                                                                           class="option-input checkbox"
                                                                           ng-model="Opportunity.IsPSTExempt"
                                                                           ng-click="clearTaxExempt()">
                                                                    <label class="ldet_label">PST Exempt </label>
                                                                </div>
                                                            </li>
                                                            <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                <div ng-class="{true: 'has-error'}">
                                                                    <input type="checkbox" class="option-input checkbox"
                                                                           ng-model="Opportunity.IsGSTExempt"
                                                                           ng-click="clearTaxExempt()">
                                                                    <label class="ldet_label">GST Exempt </label>
                                                                </div>
                                                            </li>
                                                            <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                <div ng-class="{true: 'has-error'}">
                                                                    <input type="checkbox" class="option-input checkbox"
                                                                           ng-model="Opportunity.IsHSTExempt"
                                                                           ng-click="clearTaxExempt()">
                                                                    <label class="ldet_label">HST Exempt </label>
                                                                </div>
                                                            </li>
                                                            <li ng-show="HFCService.FranchiseCountryCode != 'US'">
                                                                <div ng-class="{true: 'has-error'}">
                                                                    <input type="checkbox" class="option-input checkbox"
                                                                           ng-model="Opportunity.IsVATExempt"
                                                                           ng-click="clearTaxExempt()">
                                                                    <label class="ldet_label">VAT Exempt </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="form-group row mx-0" ng-if="Opportunity.IsTaxExempt ||
                                                 Opportunity.IsPSTExempt || Opportunity.IsGSTExempt ||
                                                 Opportunity.IsHSTExempt || Opportunity.IsVATExempt ">
                                                        <label class="col-md-3 required_label">Tax ID</label>
                                                        <div class="col-md-9" ng-class="{true: 'has-error'}[opportunitysubmitted && formopportunity.taxExemptId.$invalid]">
                                                            <input type="text" id="taxExemptId" name="taxExemptId"
                                                                   ng-model="Opportunity.TaxExemptID"
                                                                   class="frm_controllead1 form-control"
                                                                   ng-required="Opportunity.IsTaxExempt || Opportunity.IsPSTExempt
                                                                    || Opportunity.IsGSTExempt || Opportunity.IsHSTExempt
                                                                    || Opportunity.IsVATExempt " />
                                                        </div>
                                                    </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row mx-0">
                                <label class="col-md-3 col-3 text_detlabel">New Construction</label>
                                <div class="col-md-9 col-9" ng-class="{true: 'has-error'}">
                                    <input type="checkbox" class="option-input checkbox"
                                           ng-model="Opportunity.IsNewConstruction">
                                </div>
                            </div>
                            <div class="form-group row mx-0" ng-if="!ShowPopup">
                                <label class="col-md-3 col-3 text_detlabel">Created On</label>
                                <div class="col-md-9 col-9" ng-class="{true: 'has-error'}">
                                    <label ng-show="(Opportunity.CreatedOnUtc | date:'MM/dd/yyyy') !=  ('12/31/0001' | date:'MM/dd/yyyy')" class="ldet_label">{{Opportunity.CreatedOnUtc|ignoreTimeZone: 'short' }}</label>
                                </div>
                            </div>
                            <div class="form-group row mx-0" ng-if="!ShowPopup">
                                <label class="col-md-3 col-3 required_label">Opportunity Received Date</label>
                                <div class="col-md-4 col-4" ng-class="{true: 'has-error'}">
                                    <input kendo-date-picker="" k-format="HFCService.StaticKendoDateFormat()" class="form-control frm_controllead1 ng-pristine ng-valid-required ng-touched ng-untouched k-input ng-not-empty ng-valid kendo-date-picker-date" ng-required="false" style="padding: 0px !important; height: 28px; width: 100%;" type="text" name="Start" id="ReceivedDate" placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy" ng-model="Opportunity.ReceivedDate" data-autoclose="true" data-role="datepicker" role="combobox" aria-expanded="false" aria-disabled="false" required="required"
                                           ng-change="ValidateDate(Opportunity.ReceivedDate,'ReceivedDate')" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--- Account Information --->
                <div class="opportunity_expand">
                    <ul kendo-panel-bar id="panelbar">
                        <li id="opportunitylistPanel">
                        <li id="QualifyPanel">
                            <span class="font-weight-bold">Project Needs</span>
                            <div class="leadgrid_box" style="padding:15px 30px !important;">
                                <div class="qualify-col4" data-id="qanda" ng-repeat="QuestionSelect in UniqueOpportunityQuestions">
                                    <h4 ng-bind="QuestionSelect"></h4>
                                    <div class="row">
                                        <div class="col-6 col-xl-3" ng-repeat="CurrentQuestion in GetOpportunityQuestion(AllOpportunityQuestions, QuestionSelect)">
                                            <div ng-if="CurrentQuestion.SelectionType == 'checkbox'">
                                                <label class="qualify_label">
                                                    <input type="checkbox"
                                                           class="option-input checkbox"
                                                           ng-model="CurrentQuestion.Answer"
                                                           ng-disabled="isDisabled"
                                                           ng-checked="CurrentQuestion.Answer=='true'" />&nbsp;&nbsp;{{CurrentQuestion.SubQuestion}}
                                                </label>
                                            </div>
                                            <div ng-if="CurrentQuestion.SelectionType == 'textbox'">
                                                <label class="qualify_label">
                                                    {{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                    <input type="text"
                                                           class="form-control qualify_text"
                                                           ng-model="CurrentQuestion.Answer"
                                                           ng-disabled="isDisabled" />
                                                </label>
                                            </div>

                                            <div ng-if="CurrentQuestion.SelectionType == 'textarea'">
                                                <label class="qualify_label">
                                                    {{CurrentQuestion.SubQuestion}}
                                                    <textarea rows="5" cols="88" maxlength="1000" style="height:auto" ng-model="CurrentQuestion.Answer" ng-disabled="isDisabled"></textarea>
                                                </label>
                                            </div>

                                            <div ng-if="CurrentQuestion.SelectionType == 'option'">
                                                <div ng-repeat="optquestion in CurrentQuestion.SubQuestion.split(';')">
                                                    <div>
                                                        <label class="qualify_label">
                                                            <input type="radio"
                                                                   class="option-input radio"
                                                                   ng-model="CurrentQuestion.Answer"
                                                                   value="{{optquestion}}"
                                                                   name="rdo{{QuestionSelect.replace(' ','')}}"
                                                                   ng-disabled="isDisabled" />&nbsp;&nbsp;{{optquestion}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="CurrentQuestion.SelectionType == 'date'">
                                                <label class="qualify_label">
                                                    {{CurrentQuestion.SubQuestion}}&nbsp;&nbsp;
                                                    <input kendo-date-picker
                                                           k-format="HFCService.StaticKendoDateFormat()"
                                                           class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date" style="height: 26px !important;     width: 160px !important; color:#555 !important;"
                                                           type="text" name="endDate"
                                                           id="OpportunityQualify{{$index}}"
                                                           placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                                                           ng-model="CurrentQuestion.Answer"
                                                           ng-disabled="isDisabled"
                                                           data-autoclose="true"
                                                           ng-change="ValidateDate(CurrentQuestion.Answer,'OpportunityQualify{{$index}}')">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="QuestionSelect=='Would you have a WiFi connection available for us?' && BrandId==1">
                                        <div>&nbsp;</div>
                                        <div style="margin-top: 15px;margin-bottom: 15px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                            <span style="background-color:#f6f6f6; font-weight:bold; cursor: pointer; position: relative; top: -9px;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;If Drapery:&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>

    <!-- To display additional address popup -->
    <hfc-additional-address-modal></hfc-additional-address-modal>

    <hfc-fileprint-modal modal-id="fileprint"></hfc-fileprint-modal>

    <!-- The following are no need anymore... -->
    <!--<hfc-lead-source-modal modal-id="leadSourceModal" source-id="LeadSourcesList.Id"></hfc-lead-source-modal>
    <hfc-address-modal modal-id="addressModal" lead-id="{{Lead.LeadId}}"></hfc-address-modal>
    <hfc-person-modal modal-id="personModal"></hfc-person-modal>
    <hfc-person-modal-New modal-id="personModalmodified"></hfc-person-modal-New>
    <hfc-person-modal-Source modal-id="sourcefile"></hfc-person-modal-Source>
    <hfc-error-modal modal-id="error"></hfc-error-modal>
    <hfc-duplicate-modal></hfc-duplicate-modal>-->
    <!---end inner tab-->
    <!--Texting popup-->
    <div class="modal fade" id="Textingpopup" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog quote_popup">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Confirm</h4>
                </div>
                <form name="Measurement_addint" role="form">
                    <div class="modal-body quote_popup">
                        <div class="form-group row text-center m-2" ng-if="Opportunity.NotifyTextStatus == 'Optout'">
                            Ask the Customer: "I would like to confirm your cell phone number for texting appointment notifications. I have {{AccountCellphone | mask: '(999) 999-9999'}}. Would you like to receive text messages?"
                        </div>
                        <div class="form-group row text-center m-2" ng-if="Opportunity.NotifyTextStatus == 'Optin'">
                            Ask the Customer: "I see you have previously received text messages about your appointments from us! I would like to confirm your cell phone number for texting appointment notifications. I have {{AccountCellphone | mask: '(999) 999-9999'}}. Would you like to continue receiving text messages?"
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns" ng-if="Opportunity.NotifyTextStatus == 'Optout'">
                            <button type="reset" class="btn btn-cancel" ng-click="SendMsg()">Yes</button>
                            <button type="button" class="btn btn-cancel" ng-click="SaveOpportunity(3)">No</button>
                        </div>
                        <div class="popup_butns" ng-if="Opportunity.NotifyTextStatus == 'Optin'">
                            <button type="reset" class="btn btn-cancel" ng-click="SaveOpportunity(3)">Yes</button>
                            <button type="button" class="btn btn-cancel" ng-click="UncheckNotifyviaText()">No</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs li").removeClass("activelead");
        $(this).addClass("activelead");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("activelead");
        $("ul.tabs li[rel^='" + d_activeTab + "']").addClass("activelead");
    });

    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>

<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content1").hide();
    $(".tab_content2").hide();
    $(".tab_content1:first").show();

    /* if in tab mode */
    $("ul.tabs1 li").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.tabs1 li").removeClass("activelead1");
        $(this).addClass("activelead1");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content1").hide();
        $(".tab_content2").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs1 li").removeClass("activelead1");
        $("ul.tabs1 li[rel^='" + d_activeTab + "']").addClass("activelead1");
    });

    /* Extra class "tab_last"
        to add border to right side
        of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>