﻿
    <!--<div class="table-responsive">
        <table class="table table-expand">
            <thead class="expand_lhead">
                <tr>
                    <th>Room Location</th>
                    <th>Room Name</th>
                    <th>Window Location</th>
                    <th>Mount Type</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th><button type="button" class="plus_but tooltip-bottom" data-tooltip="New Address" ng-disabled="IsBusy" ng-click="PersonService.AddOrEdit('personModal')" aria-hidden="true"><i class="fa fa-plus-square-o"></i></button></th>
                  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-pencil-square-o edit_icon" ng-disabled="IsBusy" ng-click="PersonService.AddOrEdit('personModal',$index)" aria-hidden="true"></i></td>
                    <td>{{p.FirstName}}</td>
                    <td>{{p.WorkTitle}}</td>
                    <td>{{p.CellPhone}}</td>
                    <td>{{p.HomePhone}}</td>
                    <td>{{p.PrimaryEmail}}</td>
                    <td>{{p.SecondaryEmail}}</td>
                </tr>
            </tbody>
        </table>
    </div>-->

<div class="tab_container" style="margin-top: -10px;">
    <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
    <div id="tab1" class="tab_content">
        <div class="table-responsive" ng-controller="measurementSearchController">
            <p id="titleHeading">123 OAK CA-92805</p>
            <kendo-grid id="gridLeadSearch" style="margin-bottom:50px" options="MeasurementSearchService.Measurement_options">
            </kendo-grid>
        </div>
    </div>



    <div class="clearfix"> </div>
</div>


<!--<div class="tab_container" style="margin-top: -10px;">
    <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
    <div id="tab1" class="tab_content">
        <div class="table-responsive" ng-controller="leadSearchController">
            <h4 id="titleHeading"></h4>
            <kendo-grid id="gridLeadSearch" style="margin-bottom:50px" options="LeadSearchService.Leads_options">
            </kendo-grid>
        </div>
    </div>



    <div class="clearfix"> </div>
</div>-->