﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                
                <button type="button" class="close popup_close" ng-disabled="MeasurementService.IsBusy" ng-click="MeasurementService.Cancel(modalId)" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Measurement</h4>
            </div>
            <form>
                <hfc-measurement-form></hfc-measurement-form>
            </form>
            <!--<form ng-submit="PersonService.Save(modalId,$index)" name="Person_addcnt" role="form" novalidate>
                <div class="modal-body">
                    <hfc-person-form></hfc-person-form>
                </div>
                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="reset" ng-disabled="PersonService.IsBusy" ng-click="PersonService.Cancel(modalId)" class="btn btn-cancel">Cancel</button>
                        <button type="submit" ng-disabled="PersonService.IsBusy" class="btn btn-cancel">Save</button>
                    </div>
                </div>
            </form>-->
        </div>
    </div>
</div>