﻿<style>
    .error {
        color: red;
    }

    .errormob {
        margin-left: 179px;
    }

    .errortext {
        color: red !important;
    }

    .has-error {
        border-color: #a94442;
    }

    .required_lable {
        color: red;
    }

    .k-combobox.required {
        border: 1px solid #a94442 !important;
    }

    .k-multiselect-clearable .k-multiselect-wrap {
        padding-right: 2.42142857em;
    }

    .k-grid .k-button {
        margin: 0 .16em;
    }

    .k-grid-content {
        overflow-y: scroll !important;
    }

    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }
</style>
<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab" style="width:95% !important;">
            <li rel="tab7">
                <a href="#!/listDocuments">
                    <h3><i class="fas fa-inbox fa_icon"></i><br />Manage Documents</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/ViewEmail">
                    <h3><i class="fas fa-envelope-square fa_icon"></i><br />Email Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/disclaimerView">
                    <h3><i class="fa fa-shield fa_icon"></i><br />Legal Disclaimer</h3>
                </a>
            </li>
            <li rel="tab7" ng-show="IsQBEnabled!=false">
                <a href="#!/QuickbookSetup">
                    <h3><i class="fas fa-upload fa_icon"></i><br />QuickBooks Setup</h3>
                </a>
            </li>
        
            <li rel="tab7">
                <a href="#!/appointmentTypes">
                    <h3><i class="far fa-calendar-edit fa_icon"></i><br />Appointment Type Settings</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab7">
                <a href="#!/MsrReporting">
                    <h3><i class="far fa-calendar-edit fal fa-file-chart-line fa_icon"></i><br />MSR Reporting</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns">
            <div hfc-statuses-overlay1="" style="float:left;margin-right:10px" class="ng-isolate-scope">
                <!--<button type="button" ng-click="bringTooltipPopup()" class="plus_but tooltip-bottom"><i class="far fa-question-circle"></i></button>-->
                <div class="statusCanvas" style="margin-right: 30px; height: auto; width: 700px !important; right: 0px; display: none;">
                    <!--<div class="modal-content">
                        <div class="modal-header popup_head" style="padding:5px 10px 25px 0;">
                            <button type="button" class="close popup_close" onclick="$('.statusCanvas').hide()"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="popup_procurement">
                            <div class="modal-body_pricing" style="padding:10px 10px 0;">
                                <p>Have questions about your Sales Tax rates? We've partnered with Avalara.</p>
                                <a href="https://www.avalara.com/taxrates/en/download-tax-tables.html" target="_blank" style="color: rgb(61,125,139);"><span>https://www.avalara.com/taxrates/en/download-tax-tables.html</span></a>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align:center; border-top:0 !important;">
                            <button type="submit" class="btn btn-primary tery_sm1">OK</button>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!-- Grid Section  -->
<!--<div class="tab_container tpsearch_content">
   
    <div>
        <div style="margin: 2% 2%;">
            <b>
                Below please select the month and year you wish to start reporting your Gross Sales numbers</br>
                from Touchpoint. You must make a selection for each territory if you own more than one.</br>
                </br>
                Once you save your selection you will not be able to undo this action.
            </b>
        </div>
        <div class="table-responsive">
            <kendo-grid id="gridtaxSettings" options="TaxsettingsGrid" style="margin-bottom:40px !important;margin-top:40px !important;"></kendo-grid>
        </div>
    </div>
</div>-->

<div class="tab_container tp_content">
    <div class="p-3">
            <div class="mb-3">
                <strong>
                    Below please select the month and year you wish to start reporting your Gross Sales numbers</br>
                    from Touchpoint. You must make a selection for each territory if you own more than one.</br>
                    <br/>
                    Once you Save your selection you will not be able to undo this action.
                </strong>
            </div>
            <!--Table 2 START-->
            <div>
                <div class="col-lg-8 no-padding">
                <table class="table setting_table state_field">
                    <thead>
                        <tr>
                            <th style="width:300px;">Territory</th>
                            <th style="width:250px;">Month</th>
                            <th style="width:250px;">Year</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="Territory in TerritoryValues">
                        <tr>
                            <td class="email_list">{{Territory.Name}}</td>
                            <td>
                                    <span class="custom-dropdown custom-dropdown--white email_dropdown">
                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                ng-model="Territory.MonthId"
                                                name="Email_Dropdown"
                                                ng-disabled="Territory.Disable || !MSRSettingsPermission.CanUpdate"
                                                ng-options='opt.Id as (opt.MonthName) for opt in MonthValue'>
                                            <option value="" selected disabled>Select</option>
                                        </select>
                                    </span>
                            </td>
                            <td>
                                    <span class="custom-dropdown custom-dropdown--white email_dropdown">
                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                ng-model="Territory.YearId"
                                                name="Location_Dropdown"
                                                ng-disabled="Territory.Disable  || !MSRSettingsPermission.CanUpdate"
                                                ng-options='opt as (opt) for opt in years'>
                                            <option value="" selected disabled>select</option>
                                        </select>
                                    </span>
                            </td>
                            <td>
                                <input type="button" class="k-button btn btn-primary cancel_but" style="width:85px;" ng-disabled="Territory.Disable  || !MSRSettingsPermission.CanUpdate" ng-click="SaveMsrTerritory(this.Territory,Territory.ButtonValue)" value="{{Territory.ButtonValue}}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="col-lg-4"></div>
                    <!--Table2 END-->
                </div>
    </div>
</div>

