﻿@using HFC.CRM.Core
@using HFC.CRM.Core.Common
@using HFC.CRM.Core.Membership
@using HFC.CRM.Data
@using HFC.CRM.Managers
@using StackExchange.Profiling
@{
    Layout = null;
}

@{

    string RoleName = "";
    var color1 = "rbg(0,0,255)";

    if (SessionManager.CurrentUser != null && SessionManager.CurrentUser.Roles != null && SessionManager.CurrentUser.Roles.Count > 0)
    {
        RoleName = SessionManager.CurrentUser.Roles.First().RoleName;
    }

    var CurrentFranchise = SessionManager.CurrentFranchise;

    if (CurrentFranchise != null)
    {
        var UserCollection = SessionManager.CurrentFranchise.UserCollection();

        if (UserCollection != null)
        {
            var users = UserCollection.Select(s => new
            {
                s.UserId,
                s.Person.FullName,
                s.PersonId,
                s.ColorId,
                s.Email,
                color1 = (CacheManager.ColorPalettes != null && CacheManager.ColorPalettes.Where(f => f.ColorId == s.ColorId).FirstOrDefault() != null) ? CacheManager.ColorPalettes.Where(f => f.ColorId == s.ColorId).FirstOrDefault().BGColorToRGB() : "rbg(0,0,255)",
            }).ToList();

            var user = users.Where(u => u.PersonId == SessionManager.CurrentUser.PersonId).FirstOrDefault();
            if (user != null)
            {
                color1 = user.color1;
            }
        }
    }


}

@helper IsActive(string controlName, string actionName = null, string additionalClass = null)
{
var controller = controlName.Split('|');
if ((string.IsNullOrEmpty(actionName) || actionName.Equals(ViewContext.RouteData.Values["action"].ToString(), StringComparison.InvariantCultureIgnoreCase)) &&
    controller.Any(c => c.Equals(ViewContext.RouteData.Values["controller"].ToString(), StringComparison.InvariantCultureIgnoreCase)))
{
        <text>class="active @additionalClass"</text>
}
else if (!string.IsNullOrEmpty(additionalClass))
{
        <text>class="@additionalClass"</text>
}
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <title>@AppConfigManager.ApplicationTitle</title>

    @if (Request.IsAuthenticated)
    {
        <style>
        #selectedSalesSearch + div, #selectedLeadStatusSearch + div,#selectedJobsStatusSearch + div, #invoiceStatusesSearch + div, #selectedSourcesSearch + div {
      display: none !important;
     }

    @foreach (var color in CacheManager.ColorPalettes.Join(CacheManager.UserCollection.Where(w => w.FranchiseId == SessionManager.CurrentFranchise.FranchiseId),
        color => color.ColorId, user => user.ColorId, (color, user) => color).Distinct())
    {
        @Html.Raw(color.ToString(true))
    }
        </style>
    }
    <link href="~/Content/bootstrap.css?@ViewContext.Controller.GetType().Assembly.GetName().Version" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/bootstrapbundle")
    @*@Styles.Render("~/Content/bootstrapbundle")*@
    @*@Styles.Render("~/Content/themes/base")*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/base")
    @*@Styles.Render("~/Content/base")*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/themes/base/jqueryui")
    @*@Styles.Render("~/Content/themes/base/jqueryui")*@
    <link href="~/Content/kendo.ui/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.ui/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.ui/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.ui/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.ui/kendo.dataviz.min.css" rel="stylesheet" />

    <link href="../../../Content/kendo.default-v2.min.css" rel="stylesheet" />

    @*<link href="../../../Content/kendo.ui/kendo.silver.min.css" rel="stylesheet" />*@

    <link href="~/Content/onetofour.css" rel="stylesheet" />
    <link href="~/Scripts/dropzone/css/basic.css" rel="stylesheet" />
    <link href="../../../Content/style.css?@ViewContext.Controller.GetType().Assembly.GetName().Version" rel="stylesheet" />
    @*<link href="~/Content/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
        <link href="~/Content/web-fonts-with-css/css/fontawesome.css" rel="stylesheet" />*@
    @*<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

    <link href="~/Content/fontawesome-pro-5.6.3/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-pro-5.6.3/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-pro-5.6.3/css/all.min.css" rel="stylesheet" />

    @*Get PIC Config from WEb based on the envirment*@
    <script src='@System.Configuration.ConfigurationManager.AppSettings["PICConfigJS"].ToString()'></script>

    @*This is supposed to fix the issue of template caching in angular JS*@
    @*@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "//cdn.sstatic.net/Js/stub.en.js")*@
    @*< script src="//cdn.sstatic.net/Js/stub.en.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>*@
    @**@

    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/dashboard")
    @*@Styles.Render("~/Content/dashboard")*@
    @*<link href="~/Content/ng-lead-detail.css" rel="stylesheet" />*@   @*removed this line, we have this file in the ng-lead-detail bundle*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/leads_jobs_list")
    @*@Styles.Render("~/Content/leads_jobs_list")*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/css/email")
    @*@Styles.Render("~/Content/css/email")*@
    @Styles.RenderFormat("<link rel=\"stylesheet\" href=\"{0}?v=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\" />", "~/Content/ng-lead-detail")
    @*@Styles.Render("~/Content/ng-lead-detail")*@

    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/base")
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui/ui-tinymce.js"></script>

    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/angular")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/ngReminder")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/ngPushListener")
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@AppConfigManager.googleapikey"></script>
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/api/jsbundle/enums_calendar")
    <script src="~/Scripts/angular-strap.min.js"></script>
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/Scripts/spa")

    @*<script src="~/Scripts/scalyr/core.js"></script>
        <script src="~/Scripts/scalyr/scalyr.js"></script>
        <script src="~/Scripts/scalyr/slyEvaluate.js"></script>
        <script src="~/Scripts/scalyr/slyRepeat.js"></script>*@
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/CRM/KO.CustomBindings/datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    @*<script src="~/app/controllers/lead/leadController.js"></script>*@
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.4.js"></script>
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", string.Format("~/api/jsbundle/lk_statuses|enums_saleadjtypeenum|enums_notetype?f={0}", (SessionManager.CurrentFranchise == null) ? 0 : SessionManager.CurrentFranchise.FranchiseId))
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "~/api/jsbundle/lk_statuses|lk_leadsources|enums_notetype?" + SessionManager.CurrentFranchise.FranchiseId)
    @*This is supposed to fix the issue of template caching in angular JS*@
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + @ViewContext.Controller.GetType().Assembly.GetName().Version + "\"></script>", "//cdn.sstatic.net/Js/stub.en.js")

    <script src="//cdn.sstatic.net/Js/stub.en.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>

    <script src="~/Scripts/ios-orientationchange-fix.min.js"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>
    <script src="~/Scripts/flexmenu.min.js"></script>
    <style>
        #loaderDiv {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1100;
            background-color: white;
            opacity: .6;
            display: none;
            width: 100%;
            height: 100%;
        }

        .ajax-loader {
            position: absolute;
            top: 45%;
            left: 45%;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        .accordion-toggle:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
            content: "\e114"; /* adjust as needed, taken from bootstrap.css */
            float: right; /* adjust as needed */
            color: grey; /* adjust as needed */
        }

        .accordion-toggle.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e080"; /* adjust as needed, taken from bootstrap.css */
        }

        .snav_tooltip {
            position: absolute;
            color: white;
            top: 19px;
            left: 65px;
            padding: 5px 8px;
            background: #365760;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .my-navbar-default .navbar-nav > li > a.tooltip-bottom {
            padding: 0 !important;
        }

        .sidebar-menu {
            z-index: 5 !important;
        }

        .loader-text {
            color: white;
            font-size: 23px;
            position: absolute;
            top: 70%;
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>

    <div class="page-container">

        <!-- Preloader-starts -->
        <div id="preloader">
            <img src="/images/preloader.gif" />
        </div>
        <div id="loading" style="display: none;">
            <div class="loader" style="position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; background-color: white; opacity: .6;" width="100" alt="Loading"></div>
            <div class="loader-text" id="ConfigSaveStatuss"></div>
        </div>

        @*<div id="errorLoading" style="display: none;">
                    <h1  style="color: #fff; position:absolute;
            margin: 165px 0 0 100px;
            font-size: 15px;
            text-align: left;">Error occurred please contact admin</h1>
                </div>*@
        <!-- Preloader-end-->
        <!-- Header - starts -->
        <style>
            .disableddiv {
                pointer-events: none;
            }
        </style>
        <section class="header-section" style="background:{{NavbarService.headercolor}};" ng-controller="NavbarControllerTP">
            <div class="row mr-0">
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <div class="text-left">
                        <div class="logo {{newslogo}}">
                            <a href="/"><img src="~/Content/images/tp-logo.png" alt="LOGO" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <div class="row no-margin" style="padding-top:7px;">
                        <div class="col-sm-5 col-xs-5">
                            <span class="custom-dropdown custom-dropdown--white">
                                <select class="frm_controllead1 custom-dropdown__select custom-dropdown__select--white" ng-model="$root.globaltype" ng-change="OnChange()">
                                    <option value="All">All</option>
                                    <option value="Phone">Phone</option>
                                    <option value="Email">Email</option>
                                    <option value="Name">Name</option>
                                    <option value="Address">Address</option>
                                    <option value="City">City</option>
                                    <option value="ID">ID</option>
                                </select>
                            </span>
                        </div>
                        <div class="col-sm-5 col-xs-5 no-padding">
                            <input type="text" id="globalsearchinput" class="form-control frm_controllead1" name="Search" placeholder="Global Search" ng-model="$root.globalvalue" ng-keypress="myFunct($event)" />
                        </div>
                        <div class="col-sm-1 col-xs-1 pl-2">
                            <div class="search_icon"><span ng-click="Search()"><i class="fa fa-search fa-lg"></i></span></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-xs-4" id="showUserProfile" name="showUserProfile" style="display:none;">
                    <div class="float-right row no-margin">
                        <div class="col-sm-8 col-xs-8">
                            <label id="errorLoadingg" style="display:none; margin-top:10px;color:red;font-size: 18px;">ERROR &nbsp;  :(</label>
                        </div>
                        <div class="col-sm-4 col-xs-4 pr-0">
                            <ul class="nofitications-dropdown">
                                <li class="dropdown note ad_user">

                                    @if (SessionManager.CurrentFranchise != null && SessionManager.CurrentFranchise.EnableReminders)
                                    {
                                        @*<li style="float: left">*@
                                        <a id="crm-reminder-bell" href="" class="icon-md" ng-class="{'active': ReminderService.Reminders.length > 0}" data-toggle="modal" data-target="#reminderModal"><span class="glyphicon glyphicon-bell"></span></a>
                                        @*</li>*@
                                    }
                                    <a href="" class="dropdown-toggle" style="background-color: @color1" data-toggle="dropdown" aria-expanded="false">
                                        @*<i class="user_icon1"> </i>*@
                                        <i class="user_tpicon"> </i>
                                    </a>

                                    @*This is no more needed, because franchise details replaced by first and last name*@
                                    @{
                                        string flname = SessionManager.firstlastname;
                                        string menuOne = SessionManager.CurrentFranchise.Name;
                                        var tempcity = SessionManager.CurrentFranchise.Address.City;
                                        var tempstate = SessionManager.CurrentFranchise.Address.State;
                                        if (!string.IsNullOrEmpty(tempcity))
                                        {
                                            menuOne += " - " + tempcity;
                                        }
                                        if (!string.IsNullOrEmpty(tempcity) && !string.IsNullOrEmpty(tempstate))
                                        {
                                            menuOne += ", " + tempstate;
                                        }
                                        else if (!string.IsNullOrEmpty(tempstate))
                                        {
                                            menuOne += " - " + tempstate;
                                        }
                                    }
                                    <ul class="dropdown-menu user_ddown header_dropdown">
                                        <li class="dropdown-header"> @menuOne </li>
                                        @*<li class="dropdown-header">@SessionManager.SecurityUser.Person.FullName</li>*@
                                        <li class="divider"></li>
                                        <li>
                                            @if (SessionManager.ControlPanelPermission.CanRead)
                                            {
                                                <a href="">@SessionManager.SecurityUser.Person.FullName as @SessionManager.CurrentUser.Person.FullName</a>
                                            }
                                            else
                                            {
                                                <a href="">@SessionManager.CurrentUser.Person.FullName</a>
                                            }
                                            @*<a href="">@RoleName</a>*@
                                        </li>
                                        <li class="divider"></li>
                                        @if (SessionManager.ControlPanelPermission.CanRead)
                                        {
                                            <li>
                                                @* Earlier, it was an asp.net mvc controller page.
                                                    Now it is a angularjs view only.
                                                *@
                                                <a href="/controlpanel">Log out of @SessionManager.CurrentUser.Person.FullName</a>
                                                @*<a href="/controlpanel">Control Panel</a>*@
                                            </li>
                                        }
                                        <li>
                                            <a href="#!/manageprofile/@SessionManager.CurrentUser.UserId">Manage Profile</a>
                                        </li>
                                        <li>
                                            <a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                @Html.AntiForgeryToken()
                                            }
                                        </li>
                                    </ul>
                                    @*</li>*@
                                </li>
                            </ul>
                            @*</li>*@
                        </div>
                        @*<div class="col-sm-6"></div>*@
                    </div>
                </div>
            </div>
        </section>
        <!-- Header - End -->
        <!-- Sub Header - Start -->
        <section class="sub_header_1">
            <div class="wrapper_body" @Html.Raw(string.IsNullOrEmpty(ViewBag.NGController) ? "" : string.Format("ng-controller=\"{0}\"", ViewBag.NGController))>
                <div ng-view="">
                </div>
            </div>
        </section>

        <!-- Sub Header - End -->

        <section class="my_sub_header_1" ng-controller="NavbarControllerTP">

            <hfc-print-modal control="NavbarService.printControl"
                             lead-id="NavbarService.leadIdPrint"
                             order-id="NavbarService.orderIdPrint"
                             opportunity-id="NavbarService.opportunityIdPrint" quote-id="NavbarService.quoteIdPrint"
                             associated-with="NavbarService.AssociatedWith"
                             print-existing-measurements="NavbarService.pem">
                @* Removed because print not needed for account : account-id="NavbarService.accountIdPrint"*@     @*packet-type="NavbarService.packettype"*@
            </hfc-print-modal>
            <hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>
            <email-quote-modal control="NavbarService.printControl"
                               lead-id="NavbarService.leadIdPrint"
                               order-id="NavbarService.orderIdPrint"
                               opportunity-id="NavbarService.opportunityIdPrint" quote-id="NavbarService.quoteIdPrint"
                               associated-with="NavbarService.AssociatedWith"
                               print-existing-measurements="NavbarService.pem"></email-quote-modal>
            <div id="navv" name="navv" style="display:none;">
                <nav class="navbar navbar-expand-md navbar-light bg-light my-navbar-default" ng-hide="NavbarService.hidemenus || NavbarService.CalendarSelected == 'selected'">
                    <div class="container-fluid">
                        @*For Icons*@
                        <div class="navbar-header" ng-show="NavbarService.HomeSelected == 'selected'">
                            <a class="navbar-brand float-left"><img class="sale_icon" src="../../../Content/images/home_tp.png">Home</a>
                            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            @*<h2 class="home_icon"><img src="../../../Content/images/home_tp.png" />Home</h2>*@
                        </div>

                        <div class="navbar-header" ng-show="NavbarService.SalesSelected == 'selected'">
                            <a class="navbar-brand custom_navbrand float-left"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>

                        <div class="navbar-header" ng-show="NavbarService.CalendarSelected == 'selected'">
                            <a class="navbar-brand float-left"><img class="sale_icon" src="../../../Content/images/mini-calendar.png">Calendar</a>
                            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="navbar-header" ng-show="NavbarService.OperationSelected == 'selected'">
                            <a class="navbar-brand float-left"><img class="sale_icon" src="../../../Content/images/gear-multiple.png">Operations</a>
                            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>

                        <div class="navbar-header" ng-show="NavbarService.ReportsSelected == 'selected'">
                            <a class="navbar-brand float-left"><img class="sale_icon" src="../../../Content/images/snav_reports.png">Reports</a>
                            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>

                        <div class="navbar-header" ng-show="NavbarService.MarketingSelected == 'selected'">
                            <a class="navbar-brand float-left"><img class="sale_icon" src="../../../Content/images/setting.png">Marketing</a>
                            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>

                        <div class="navbar-header" ng-show="NavbarService.SettingsSelected == 'selected'">
                            <a class="navbar-brand float-left"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            @*// For Top Menus*@
                            <ul class="navbar-nav mr-auto mt-1 custom_nav" ng-show="NavbarService.HomeSelected == 'selected'">
                            </ul>
                            <ul class="navbar-nav mr-auto mt-1 custom_nav" ng-show="NavbarService.SalesSelected == 'selected'">
                                <li class="{{NavbarService.SalesLeads}}"><a href="#!/leadsSearch/">Leads</a></li>
                                <li class="{{NavbarService.SalesAccounts}}"><a href="#!/accountSearch/">Accounts</a></li>
                                <li class="{{NavbarService.SalesOpportunities}}"><a href="#!/opportunitySearch/">Opportunities</a></li>
                                <li class="{{NavbarService.SalesQuotes}}"><a href="#!/quotesSearch/">All-Quotes</a></li>
                                <li class="{{NavbarService.SalesOrders}}"><a href="#!/orderSearch/">All-Orders </a></li>
                            </ul>

                            @*<ul class="nav navbar-nav my-navbar-nav" ng-show="NavbarService.CalendarSelected == 'selected'">
                                    <li class="{{MainTabActive}}" id="Mainview" ng-click="SetMainTabActive('true')"><a href="javascript:void(0);">Main</a></li>
                                    <li ng-class="{'active': (cal.SaveCalendarId == activeTab && MainTabActive == '')}" ng-click="loadTab(cal.SaveCalendarId)" ng-repeat="cal in SavedCalendarList">
                                        <a href="javascript:void(0);">{{cal.ViewTitle}}</a>
                                    </li>
                                </ul>*@

                        <ul class="navbar-nav mr-auto mt-1 custom_nav" ng-show="NavbarService.OperationSelected == 'selected'">

                            <li class="{{NavbarService.OperationsProcurementDashboard}}"><a href="#!/procurementboard">Procurement</a></li>
                            <li class="{{NavbarService.OperartionsBatchProcessing}}"><a href="#!/bulkPurchasing">Bulk Purchasing</a></li>
                            <li class="{{NavbarService.OperartionsShippingNoticeDashboard}}"><a href="#!/ShippingNoticeDashboard">Shipments</a></li>
                            <li class="{{NavbarService.OperartionsVendorPPVList}}"><a href="#!/vendorinvoicePPVlist">Vendor Invoice / PPV List</a></li>
                            @*<li class="{{NavbarService.OperartionsPurchaseOrders}}"><a href="#!/purchase">Purchase Orders</a></li>*@
                            <li ng-if="NavbarService.HFCService.FranciseLevelCase && NavbarService.HFCService.CurrentBrand != 1" class="{{NavbarService.OperartionsCaseManagement}}"><a href="#!/franchiseCase">Case Management</a></li>


                            @*<li class="{{NavbarService.OperartionsVendorCaseManagement}}"><a href="#!/VendorCaseList">Vendor-Case Management</a></li>*@
                            <li ng-if="!NavbarService.HFCService.FranciseLevelCase && NavbarService.HFCService.FranciseLevelVendorMng && NavbarService.HFCService.CurrentBrand == 1" class="{{NavbarService.OperartionsVendorManagement}}"><a href="#!/Feedback">Vendor Management</a></li>
                            <li ng-if="NavbarService.HFCService.FranciseLevelCase && NavbarService.HFCService.CurrentBrand == 1" class="{{NavbarService.OperartionsVendorManagement}}"><a href="#!/franchiseCase">Vendor Management</a></li>
                        </ul>
                            <ul class="navbar-nav mr-auto mt-1 custom_nav" ng-show="NavbarService.ReportsSelected == 'selected'">
                                @*<li class="{{NavbarService.ReportsSalesAgent}}"><a href="#!/SalesandPurchasingDetailReport">Sales and PurchasingDetail</a></li>*@
                                @*<li class="{{NavbarService.ReportsFranchisePerformance}}"><a href="#!/FranchisePerformanceReport">Franchise Performance Reports</a></li>
                                    <li class="{{NavbarService.ReportsMarketing}}"><a href="../Reports/MarketingReport">Marketing</a></li>
                                    <li class="{{NavbarService.ReportsMonthlyStatistics}}"><a href="../Reports/MonthlyStatisticsReport">Monthly Statistics</a></li>
                                    <li class="{{NavbarService.ReportsRAW}}"><a href="../Reports/RAWReport">RAW</a></li>*@
                            </ul>
                            <ul class="navbar-nav mr-auto mt-1 custom_nav" ng-show="NavbarService.MarketingSelected == 'selected'">
                                <li class="{{NavbarService.MarketingGeneral}}"><a href="#!/sources">General</a></li>
                            </ul>

                            <ul class="navbar-nav mr-auto mt-1 custom_nav" ng-show="NavbarService.SettingsSelected == 'selected'">
                                <li class="{{NavbarService.SettingsGeneral}}"><a href="#!/listDocuments">General</a></li>
                                <li class="{{NavbarService.SettingsOperations}}"><a href="#!/vendors">Operations</a></li>
                                <li class="{{NavbarService.SettingsSecurity}}"><a href="#!/users">Security</a></li>
                                <li class="{{NavbarService.SettingsMigration}}"><a href="#!/migrateMyCrmSource">MyCRM Data Conversion</a></li>
                            </ul>

                            @*// For quick Operations*@
                            <ul class="form-inline mr-2 custom-nav_icons" ng-hide="NavbarService.CalendarSelected == 'selected'">
                                <li ng-show="NavbarService.HeaderPermission.addLead">
                                    <a href="#!/leads" class="tooltip-bottom"
                                       data-tooltip="New Lead" target="_blank">
                                        <i class="far fa-user-plus task_icon"></i>
                                    </a>
                                </li>
                                <li style="display:none">
                                    <!--ng-if="NavbarService.Permission.AddNotes" style="display:none"-->
                                    <button type="button" class="tooltip-bottom sw_icon"
                                            data-tooltip="New Note" ng-disabled="IsBusy" ng-click="NavbarService.NoteServiceTP.AddNoteTP()"></button>
                                </li>
                                <li ng-show="NavbarService.HeaderPermission.addCalender">
                                    <!--ng-if="NavbarService.Permission.AddEvent"-->
                                    <div class="navbar_clockicons" ng-switch="NavbarService.HFCService.PathId2">
                                        <div ng-switch-when=null>
                                            <a href="#!/Calendar/{{NavbarService.HFCService.PathType}}/{{NavbarService.HFCService.PathId}}"
                                                class="tooltip-bottom"
                                               data-tooltip="Add Appointment">
                                                <i class="fal fa-clock task_icon"></i>
                                            </a>
                                        </div>
                                        <div ng-switch-default>
                                            <a href="#!/Calendar/{{NavbarService.HFCService.PathType}}/{{NavbarService.HFCService.PathId}}/{{NavbarService.HFCService.PathId2}}"
                                              class="tooltip-bottom"
                                               data-tooltip="Add Appointment">
                                                <i class="fal fa-clock task_icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li ng-show="NavbarService.HeaderPermission.addCalender">
                                    <!--ng-if="NavbarService.Permission.AddEvent"-->

                                    <button type="button" class="tooltip-bottom task_tpbut"
                                            data-tooltip="Add Task"
                                            ng-click="calendarModalService.setPopUpDetails(true, 'Task', null,null,null,null,null,null,null,true)">
                                        <!-- NavbarService.addTask() -->
                                        <i class="far fa-tasks task_icon"></i>
                                    </button>
                                </li>
                                <li style="display:none">
                                    <!--ng-if="NavbarService.Permission.AddEvent"-->
                                    <button type="button" class="tooltip-bottom note_icon"
                                            data-tooltip="New Attachment" ng-disabled="IsBusy"
                                            ng-click="NavbarService.NoteServiceTP.AddAttachment()"></button>
                                </li>
                                <li>
                                    <button type="button" class="tooltip-bottom task_tpbut"
                                            data-tooltip="Print" ng-disabled="IsBusy"
                                            ng-click="NavbarService.printSalesPacket()">
                                        <i class="far fa-print task_icon"></i>
                                    </button>
                                </li>
                                <li ng-show="NavbarService.HeaderPermission.addEmail">
                                    @*<button type="button" class="tooltip-bottom task_tpbut"
                                                data-tooltip="Email" ng-disabled="IsBusy" ng-click="NavbarService.emailQuote()">
                                            <i class="fal fa-envelope-open-text task_icon"></i>
                                        </button>*@
                                    <button type="button" class="tooltip-bottom task_tpbut" data-tooltip="Email" ng-disabled="IsBusy" ng-click="NavbarService.emailQuote()"><i class="fal fa-envelope task_icon"></i></button>
                                </li>
                                <li ng-if="!NavbarService.showicon">
                                    <button type="button" class="tooltip-bottom task_tpbut"
                                            data-tooltip="Search" ng-disabled="IsBusy"
                                            ng-click="NewSearch()">
                                        <i class="fa fa-search fa-lg"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <!-- Side menu - Start -->
        <section id="navv_side" name="navv_side" style="display:none;">
            <div class="sidebar-menu" ng-controller="NavbarControllerTP">
                <div class="menu">
                    <ul id="menu">
                        <li ng-class="NavbarService.HomeSelected">
                            <a href="#!/dashboard" data-title="Home"><img src="~/Content/images/home-mini.png" /></a>
                        </li>
                        <li ng-class="NavbarService.SalesSelected">
                            <a href="#!/leadsSearch" data-title="Sales"><img src="~/Content/images/hand-shake.png" /></a>
                        </li>
                        <li ng-class="NavbarService.CalendarSelected">
                            <a href="#!/Calendar" data-title="Calendar"><img src="~/Content/images/Calendar.png" /></a>
                        </li>
                        <li ng-class="NavbarService.OperationSelected">
                            <a href="#!/procurementboard" data-title="Operations"><img src="~/Content/images/cart.png" /></a>
                        </li>
                        <li ng-class="NavbarService.ReportsSelected">
                            @**@
                            <a href="#!/Reports" data-title="Reports"><img src="~/Content/images/chart.png" /></a>
                        </li>
                        <li ng-class="NavbarService.MarketingSelected ">
                            <a href="#!/sources" data-title="Marketing"><img src="~/Content/images/speaker.png" /></a>
                        </li>
                        <li ng-class="NavbarService.SettingsSelected">
                            <a href="#!/listDocuments" data-title="Settings"><img src="~/Content/images/server-network-setting.png" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Side menu - End -->
    </div>

    @*<footer>
                <div class="pull-left foot_lt">
                <p><span class="copyrt">Touchpoint Version @AppConfigManager.AppVersion </span></p>
                </div>
                <div class="pull-right">
                <span class="copyrt">&copy; @DateTime.Now.Year - @(AppConfigManager.GetConfig<string>("CopyrightText", "User Interface"))</span>
                </div>
        </footer>*@

    <hfc-push></hfc-push>
    <hfc-save-search-modal></hfc-save-search-modal>
    @if (Request.IsAuthenticated && SessionManager.CurrentFranchise != null && SessionManager.CurrentFranchise.EnableReminders)
    {
        <hfc-reminder excludecounter="@Html.Raw(ViewBag.ExcludeReminderCounter ?? true)"></hfc-reminder>
    }
    @*@Scripts.Render("~/Scripts/base")*@
    @Html.Partial("_Localization")

    <script>

        $(document).on('click',
            'div.datepicker-days, td.old.day, td.day, td.new.day, td.today.day, div.datepicker-years, div.datepicker-months, th.next, th.prev, th.switch, span.month, span.year',
            function(e) {
                e.stopPropagation();
            });

        $(document).on('click',
            '.k-link',
            function(e) {
                e.stopPropagation();
            });
        $(document).on('click',
            '.k-select',
            function(e) {
                e.stopPropagation();
            });

        $('#collapseSearch').click(function() {
            $(this).text(function(i, old) {
                return old == 'Hide  Advanced Search' ? 'Show  Advanced Search' : 'Hide  Advanced Search';
            });
        });

        HFC.Version = "@AppConfigManager.AppVersion";

        HFC.Search = function(form) {
            var search = form.elements["searchTerm"].value;
            var location = window.location;
            location = '?searchTerm=' + encodeURIComponent(search);
            var ddlElements = $(form).find('[name=searchFilter]');
            for (var i = 0; i < ddlElements.length; i++) {
                if ($(ddlElements[i]).prop('checked') === true) {
                    location = location + '&searchFilter=' + encodeURIComponent($(ddlElements[i]).attr("value"));
                }
            }

            window.location = location;
            return false;
        }

        HFC.ToggleSearchFilter = function(anchor) {
            $(anchor).parent().siblings().removeClass('active');
            $(anchor).find('input').prop('checked', true);
            $(anchor).parent().addClass('active');
            return false;
        }

        //$('#menu a').click(function(){
        //    $('.selected').removeClass('selected');
        //    $(this).addClass('selected');
        //});
    </script>

    <style>
        .selected {
            background-color: #3f7b85;
        }
    </style>

    <script>
        var toggle = true;

        $(".sidebar-icon").click(function() {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            } else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function() {
                    $("#menu span").css({ "position": "relative" });
                },
                    400);
            }

            toggle = !toggle;
        });
    </script>

    <script>

        HFC.QS = {};
        HFC.CurrentUser = { ColorId: @SessionManager.CurrentUser.ColorId,
            AvatarSrc: "@(SessionManager.CurrentUser.AvatarSrc ?? AppConfigManager.DefaultAvatarSrc)",
            FullName:
                "@(SessionManager.CurrentUser != null && SessionManager.CurrentUser.Person != null ? SessionManager.CurrentUser.Person.FullName : null)",
            PersonId: @(SessionManager.CurrentUser != null ? SessionManager.CurrentUser.PersonId : 0),
            CalendarFirstHour: @(SessionManager.CurrentUser != null ? SessionManager.CurrentUser.CalendarFirstHour : 0)
            };
        HFC.Util.BrandedPath = @Html.Raw(Json.Encode(AppConfigManager.BrandedPath));
        HFC.AttendeeWarning = @Html.Raw(Json.Encode(HFC.CRM.Web.Properties.Resources.AttendeeNotExistsWarning));
        HFC.FranchiseCode = @Html.Raw(Json.Encode(SessionManager.CurrentFranchise.Code));
        HFC.EmployeesJS =
            @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(SessionManager.CurrentFranchise.UserCollection().Where(u => u.IsDisabled != true).Select(s => new
        {
            UserId = s.UserId,
            FullName = s.Person != null ? s.Person.FullName : null,
            PersonId = s.PersonId,
            ColorId = s.ColorId,
            Email = s.Email,
            InSales = s.IsInRole(AppConfigManager.DefaultSalesRole.RoleId),
            InInstall = s.IsInRole(AppConfigManager.DefaultInstallRole.RoleId)
        })));

        HFC.DisabledEmployeesJS =
            @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(SessionManager.CurrentFranchise.UserCollection().Where(u => u.IsDisabled == true).Select(s => new
        {
            UserId = s.UserId,
            FullName = s.Person != null ? s.Person.FullName : null,
            PersonId = s.PersonId,
            ColorId = s.ColorId,
            Email = s.Email,
            InSales = s.IsInRole(AppConfigManager.DefaultSalesRole.RoleId),
            InInstall = s.IsInRole(AppConfigManager.DefaultInstallRole.RoleId)
        })));

        HFC.AllEmployeesJS =
            @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(SessionManager.CurrentFranchise.UserCollection().Select(s => new
        {
            UserId = s.UserId,
            FullName = s.Person != null ? s.Person.FullName : null,
            PersonId = s.PersonId,
            ColorId = s.ColorId,
            Email = s.Email,
            InSales = s.IsInRole(AppConfigManager.DefaultSalesRole.RoleId),
            InInstall = s.IsInRole(AppConfigManager.DefaultInstallRole.RoleId)
        })));

        var sales =
            @Html.Raw(Json.Encode(SessionManager.CurrentFranchise.UserCollection(AppConfigManager.DefaultSalesRole).Select(v => new
        {
            v.ColorId,
            v.PersonId,
            v.Person.FullName
        }).ToList()));

        var jobsStatuses = @Html.Raw(Json.Encode(SessionManager.CurrentFranchise.JobStatusTypeCollectionDTO()));

        var sourceStatuses = @Html.Raw(Json.Encode(SessionManager.CurrentFranchise.SourceStatusTypeCollectionDTO()));

        var leadStatuses = @Html.Raw(Json.Encode(SessionManager.CurrentFranchise.LeadStatusTypeCollectionDTO()));

        var enableSaveSearch =
            @Html.Raw(Json.Encode(SessionManager.CurrentFranchise.EnableSaveSearch.HasValue ? SessionManager.CurrentFranchise.EnableSaveSearch : false));

        @*var chartsPermissionCanRead = @Html.Raw(Json.Encode(ViewBag.ChartsPermission.CanRead));*@

        HFC.FranchiseAddress =
            "@(SessionManager.CurrentFranchise != null ? SessionManager.CurrentFranchise.Address.ToString() : null)";

        HFC.CurrentUserAddress = @if (@SessionManager.CurrentUser.Address != null)
                             {<text>"@SessionManager.CurrentUser.Address.ToString()";</text>}
                             else
                             {<text>"@(SessionManager.CurrentFranchise != null ? SessionManager.CurrentFranchise.Address.ToString() : null)";</text>}

        var applicationTitle = '@AppConfigManager.ApplicationTitle';
    </script>

    @MiniProfiler.RenderIncludes()
    <!--Footer-->
    <section class="clearfix">
        <div style="padding-top: 50px;"></div>
    </section>
    <footer class="panel-footer">
        <!--Copyright-->
        <div class="footer-copyright row no-margin">
            <div class="col-lg-6 footer-copyright_left">
                    <span class="copyrt">
                        Touchpoint Version @AppConfigManager.AppVersion  @if (!@AppConfigManager.SName.ToLower().Contains("prd") && !@AppConfigManager.SName.ToLower().Contains("pqa"))
                        {
                            @: @AppConfigManager.SName.ToUpper()
                            }
                    </span>
            </div>
            <div class="col-lg-6 footer-copyright_right">
                    <span class="copyrt">© @DateTime.Now.Year - Home Franchise Concepts, LLC., All Rights Reserved. | <a class="hquote_hover" href="https://tpt.gohfc.com/Legal/Terms%20Of%20Use.pdf"> Terms Of Use</a></span>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <calendar-modal-directive modal-id="calendarModal"></calendar-modal-directive>
    <alert-modal-directive modal-id="alertModal"></alert-modal-directive>

    <script src="https://kendo.cdn.telerik.com/2018.1.117/js/kendo.timezones.min.js"></script>
    <!-- sidebar menu tooltip -->
    <script>
        $( "#menu a" ).hover(
   function() {
       var title = $(this).attr("data-title");
       $('<div />', {
           text: title,
           class: 'snav_tooltip'
       }).appendTo(this);
   }, function() {
       $(document).find(".snav_tooltip").remove();
   }
  );
        //Disappear tooltip
        $(".sidebar-menu li").mouseenter(function() {
            setTimeout(function(){
                $('.snav_tooltip').remove();
            }, 3000);
        });
    </script>
    <script>
        //In ipad tooltip single click
        $(document).ready(function() {
            $(".sidebar-menu li a").on("click touchend", function(e) {
                var el = $(this);
                var link = el.attr("href");
                window.location = link;
            });
        });
    </script>

    @*<script>
            $('#modal').on('show.bs.modal', function () {
                $(this).find('.modal-body').css({
                    width:'auto', //probably not needed
                    height:'auto', //probably not needed
                    'max-height':'100%'
                });
            });
        </script>
        <script>
        $('#modal').on('show', function () {
        $(this).find('.modal-body').css({
        width:'auto', //probably not needed
        height:'auto', //probably not needed
        'max-height':'100%'
        });
        });
        </script>*@

    <script>
        function setModalMaxHeight(element) {
            this.$element     = $(element);
            this.$content     = this.$element.find('.modal-content');
            var borderWidth   = this.$content.outerHeight() - this.$content.innerHeight();
            var dialogMargin  = $(window).width() < 768 ? 20 : 60;
            var contentHeight = $(window).height() - (dialogMargin + borderWidth);
            var headerHeight  = this.$element.find('.modal-header').outerHeight() || 0;
            var footerHeight  = this.$element.find('.modal-footer').outerHeight() || 0;
            var maxHeight     = contentHeight - (headerHeight + footerHeight);

            this.$content.css({
                'overflow': 'hidden'
            });

            this.$element
              .find('.modal-body').css({
                  'max-height': maxHeight,
                  'overflow-y': 'auto'
              });
        }

        $('.modal').on('show.bs.modal', function() {
            $(this).show();
            setModalMaxHeight(this);
        });

        $(window).resize(function() {
            if ($('.modal.in').length != 0) {
                setModalMaxHeight($('.modal.in'));
            }
        });
    </script>
    @*<script src="~/Scripts/algolia/algoliasearch.min.js"></script>
        <script src="~/Scripts/algolia/jquery.textcomplete.min.js"></script>*@
    <script src="~/Scripts/atwho/jquery.caret.min.js"></script>
    <script src="~/Scripts/atwho/jquery.atwho.min.js"></script>
</body>
</html>