﻿<div class="inline-relative">
    <h3 class="media-heading">
        <small ng-bind="heading"></small>     
        <button ng-if="canCreate" class="btn btn-link btn-sm" ng-click="LeadCampaignService.Add(leadId)"><i class="glyphicon glyphicon-plus"></i> Add</button>      
    </h3>
    
    <ul class="list-unstyled">                
        <li ng-repeat="src in LeadCampaignService.LeadCampaigns" style="height: 40px;">
           <button class="btn btn-sm btn-default" ng-disabled="LeadCampaignService.IsBusy" ng-if="canDelete" ng-click="LeadCampaignService.Delete(src)"><i class="glyphicon glyphicon-trash"></i></button>
            <input type="hidden" ui-select2="GetSourceSelectOption(src)" ng-disabled="LeadCampaignService.IsBusy" ng-change="LeadCampaignService.ChangeSource(src)" ng-if="canUpdate" ng-model="src.SourceId" />
            <input type="hidden" ui-select2="GetCampaignSelectOption(src)" ng-change="LeadCampaignService.Update(src)" ng-disabled="LeadCampaignService.IsBusy" ng-if="canUpdate && src.SourceId" ng-model="src.CampaignId" />
        </li>
    </ul>
</div>