﻿<div class="inline-relative">
    <h3 class="media-heading">
        <small ng-bind="heading"></small>     
        <button class="btn btn-link btn-sm" ng-disabled="LeadSourceService.IsBusy" ng-click="LeadSourceService.ShowEditor('leadSourceModal',leadId,this,$event)"> Add Source</button>      
    </h3>
    
    <ul class="list-unstyled lead_poupdel">                
        <li ng-repeat="src in LeadSourceService.LeadSources">
            <button class="remove_icon" ng-disabled="LeadSourceService.IsBusy" ng-if="canDelete" ng-click="LeadSourceService.Delete(src)"><i class="glyphicon glyphicon-trash"></i></button>
            <span class="text-muted text-sm" ng-bind="LeadSourceService.GetLabel(src.SourceId).path">test</span><span  ng-bind="LeadSourceService.GetLabel(src.SourceId).name"></span>
        </li>
    </ul>
</div>