﻿<div class="modal fade" id="{{modalId}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Select Additional Sources</h4>
                <button type="button" class="close popup_close" ng-disabled="LeadSourceService.IsBusy" ng-click="LeadSourceService.CancelEditor(modalId)" aria-hidden="true">&times;</button>
           </div>
            <form role="form" ng-submit="LeadSourceService.SaveEditor(leadId, modalId)">
                <div class="form-group" style="padding: 10px;margin-bottom: 0px;">
                    <input type="text" class="form-control" ng-model="predicate" />
                </div>
                <div class="modal-body">
                    <treecontrol class="tree-classic"  filter-expression="predicate" tree-model="LeadSourceService.EditorData" expanded-nodes="LeadSourceService.EditorDataExpandedNodes">
                        <span ng-class="{ 'campaign' : node.isCampaign }"><input type="checkbox" class="option-input checkbox" ng-disabled="LeadSourceService.CheckIfSourceUsed(node.SourceId)" ng-model="node.Selected" ng-change="LeadSourceService.SelectSource(node)" />  {{node.name}}</span>
                    </treecontrol>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default btn-sm pull-left" ng-disabled="LeadSourceService.IsBusy" ng-click="LeadSourceService.CancelEditor(modalId)"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                    <button type="submit" class="btn btn-success btn-sm" ng-click="LeadSourceService.SaveEditor(modalId)" ng-disabled="LeadSourceService.IsBusy"><i class="glyphicon glyphicon-save"></i> Save</button>-->
                    <button type="reset"  class="btn btn-cancel" ng-disabled="LeadSourceService.IsBusy" ng-click="LeadSourceService.CancelEditor(modalId)">Cancel</button>
                    <button type="submit" ng-click="LeadSourceService.SaveEditor(modalId)" ng-disabled="LeadSourceService.IsBusy" class="btn btn-cancel">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>