﻿<div class="modal fade" id="lead-duplicates" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mx-auto modal-title" style="text-align:center">Lead may already exist.</h4>
                <button type="button" class="close" aria-hidden="true" ng-click="DuplicatesModalClose()">&times;</button>
                <span>See possible matches below:</span>
            </div>
            <div style="margin: 20px;">
            <div ng-repeat="lead in lstDuplicates">
                <div class="row">
                    <div class="col-md-12">
                        <b>Lead {{lead.LeadNumber}}</b> - {{lead.FullName}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Address: {{lead.Address}}
                    </div>
                    <div class="col-md-6">
                        <a href="/leads/{{lead.LeadId}}" target="_blank">Preview(new tab)</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Home Phone: {{lead.HomePhone}}
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Cell Phone: {{lead.CellPhone}}
                    </div>
                     <div class="col-md-6">
                        <a href="/leads/{{lead.LeadId}}">Go to lead</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Fax Phone: {{lead.FaxPhone}}
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        Work Phone: {{lead.WorkPhone}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Primary Email: {{lead.PrimaryEmail}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Secondary Email: {{lead.SecondaryEmail}}
                    </div>
                </div>
                
                <hr ng-if="$index + 1 !=  lstDuplicates.length" />
            </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm pull-left" ng-click="DuplicatesModalClose()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>