﻿<div class="modal fade" id="search-save" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content" style="width: 400px;">
            <div class="modal-header">
                <h4 class="mx-auto modal-title" style="text-align:center">Name This Search</h4>
                <button type="button" class="close" aria-hidden="true" ng-click="saveSearchService.close()">&times;</button>
            </div>
            <div>
                <a style="padding-right: 6px; padding-left: 6px;">Did you run the search(by clicking the magnifying class icon)  </a>
                <a style="padding-right: 6px; padding-left: 6px;">before saving this search</a>
            </div>
            <div style="margin: 20px;">
                <div class="row">
                    <div class="col-md-12" ng-if="saveSearchService.isDublicate">
                        <div>
                            <span class="">Saved search exists, Overwrite?</span>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="saveSearchService.isMaxSavesCount">
                        <div>
                            <span class="">You can not save more then 10 searches.</span>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="saveSearchService.isDublicate == false && saveSearchService.isMaxSavesCount == false">
                        <input type="text" name="name" class="form-control" ng-model="saveSearchService.nameValue" maxlength="30" autofocus />
                        <div>
                            <span ng-show="saveSearchService.nameValue.length <= 2" class="label label-danger">Search Name needs to be more then 2 characters</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" ng-if="saveSearchService.isDublicate == false && saveSearchService.isMaxSavesCount == false">
                <button type="button" class="btn btn-primary btn-sm" ng-click="saveSearchService.saveClick()" id="saveSearchBtn" ng-disabled="saveSearchService.nameValue.length <= 2"><i class="glyphicon glyphicon-save"></i> Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="saveSearchService.close()" id="cancelSearchBtn"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
            </div>
            <div class="modal-footer" ng-if="saveSearchService.isDublicate">
                <button type="button" class="btn btn-primary btn-sm" ng-click="saveSearchService.yesClick()">Yes</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="saveSearchService.noClick()">No</button>
            </div>

            <div class="modal-footer" ng-if="saveSearchService.isMaxSavesCount">
                <button type="button" class="btn btn-primary btn-sm" ng-click="saveSearchService.close()">Ok</button>
            </div>

        </div>
    </div>
</div>