﻿<div class="margin-bottom">
    <div class="panel panel-primary" id="{{job.JobId}}">
        <!-- summary tab that doesn't need collapsing -->
        <div class="panel-body job-panel">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group text-xl">
                    <a href="" target="_self" ng-click="LoadJobDetails(job); $event.stopPropagation();" class="job-title {{job.IsCollapsed ? 'collapsed' : ''}}">
                        <span ng-bind="job.JobNumber"></span>
                    </a>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i> <i class="caret"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="JobService.Delete(job); $event.preventDefault()"><i class="glyphicon glyphicon-trash"></i> Delete Job</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <hfc-address ng-model="job.InstallAddressId" job-id="{{job.JobId}}" changeable="false"></hfc-address>
            </div>
            <div class="col-xs-12 col-sm-3">
                <i ng-class="CalendarService.GetAptTypeGlyph(CalendarService.GetNextAppointment(job.JobId))"></i><small ng-bind="CalendarService.GetDateRange(CalendarService.GetNextAppointment(job.JobId))"></small>
                <!--<div ng-bind="GetNextTask(job.JobId).Message"></div>-->
            </div>

            <div class="col-xs-12 col-sm-3">
                <span class="text-md text-muted">Total: <span ng-bind="job.NetTotal | currency"></span></span>
                <span ng-show="job.SaleMade" class="text-md text-muted text-danger">Due: <span class="text-danger" ng-bind="job.Balance | currency "></span></span>
            </div>
        </div>


            <div class="row">
                <div class="col-xs-12 col-sm-1 text-muted text-right">
                    <div class="hidden-xs" style="padding:9px 0">Hint:</div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group" style="margin-top:4px">
                        <input type="text" class="form-control" id="hint" ng-model="job.Hint" maxlength="1500" char-limit="" placeholder="Job Hint" ng-model="job.Hint" ng-model-options="{ updateOn: 'blur'}" ng-change="JobService.SaveHint(job.JobId, job.Hint)" />
                        <span class="text-muted"></span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-2 text-muted text-right">
                    <div class="hidden-xs" style="padding: 9px 0">Job Status:</div>
                    </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group" style="margin-top:4px">
                        <button class="btn btn-sm btn-ng-select" data-placement="bottom-right" ng-class="JobService.JobStatusCss(job.JobStatusId)" ng-model="job.JobStatusId" ng-change="JobService.SaveStatus(job.JobId, job.JobStatusId, job)" bs-select data-html="1" ng-options="status.Id as JobService.GetStatusLabel(status) for status in JobService.GetJobStatuses(job)"></button>
                    </div>
                </div>
            </div>

            <div class="panel-collapse collapse" id="job_{{job.JobId}}" ng-class="{'collapse' : job.IsCollapsed }">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12">
                        <div style="margin-top: 15px;margin-bottom: 15px; height: 2px; background-color: gray; text-align: left">
                            <span style="background-color: white; cursor: pointer; position: relative; top: -9px;" ng-click="job.DisplayCalendar = !job.DisplayCalendar">
                                &nbsp;{{ !job.DisplayCalendar ? "- Hide Calendar/Tasks & Job Description" : "+ Show Calendar/Tasks & Job Description" }}&nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6" ng-show="!job.DisplayCalendar">
                        <h3><small>Calendar Events <a href="" class="text-md" ng-href="/calendar/?aptType=1&jobId={{job.JobId}}"><i class="glyphicon glyphicon-plus"></i> New Appointment</a></small></h3>
                        <table class="table table-hover">
                            <tr ng-repeat="apt in CalendarService.CalendarEvents | filter:{JobId: job.JobId}">
                                <td style="width:2px;padding: 4px;background-color: red;" ng-class="CalendarService.GetClassName(apt)"></td>
                                <td style="vertical-align:top">
                                    <h4 class="media-heading">
                                        <i ng-class="CalendarService.GetAptTypeGlyph(apt)"></i><span ng-class="{'strikethrough': apt.IsCancelled}" ng-bind="apt.title"></span>
                                        <small ng-class="{'strikethrough': apt.IsCancelled}" ng-bind="CalendarService.GetDateRange(apt)"></small>
                                        <small>
                                            <a ng-if="apt.editable" href="" ng-click="CalendarService.Edit(apt, $index); $event.preventDefault()"><i class="glyphicon glyphicon-pencil"></i></a> &nbsp;
                                            <a ng-if="apt.IsDeletable" href="" ng-click="CalendarService.DeleteApt(apt); $event.preventDefault()"><i class="glyphicon glyphicon-trash"></i></a>
                                        </small>
                                        <small class="dropdown">
                                            <a href="" data-toggle="dropdown" class="dropdown-toggle">
                                                <button class="btn btn-default btn-sm" title="Email Lead Sheet"><span class=" glyphicon glyphicon-envelope"></span><span class="caret" style="margin-left: 5px;margin-right: -5px;margin-top: -2px;"></span></button>
                                                <!--<span><i class="glyphicon glyphicon-envelope"></i><i class="caret"></i></span>-->
                                                <!--ng-click="JobService.EmailService.EmailLeadSheet(job)-->
                                            </a>
                                            <ul class="dropdown-menu pull-right dropdown-menu-group">
                                                <li ng-repeat="item in AdvancedEmailService.EmailTemplates | filter:{EmailTemplateTypeId:9}">
                                                    <div class="btn-group">
                                                        <a href="" ng-click="AdvancedEmailService.Edit(item.EmailTemplateId, job, apt)" class="btn btn-sm"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;{{item.TemplateSubject}}</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </small>
                                    </h4>
                                    <div><span ng-class="{'strikethrough': apt.IsCancelled}">Attendees: <span ng-bind-html="CalendarService.GetTaskAttendees(apt)"></span></span></div>
                                    <div ng-class="{'strikethrough': apt.IsCancelled}" ng-bind="apt.Message"></div>
                                    <div ng-if="apt.IsCancelled" style="color:red; font-weight: bold"> Appointment Cancelled</div>
                                </td>
                            </tr>
                            <tfoot ng-hide="(CalendarService.CalendarEvents | filter:{JobId: job.JobId}).length">
                                <tr><td colspan="5" class="text-center">No Appointments</td></tr>
                            </tfoot>
                        </table>


                        <h3><small>Tasks <a href="" class="text-md" ng-href="/calendar/?jobId={{job.JobId}}"><i class="glyphicon glyphicon-plus"></i> New Task</a></small></h3>
                        <table class="table table-hover">
                            <tr ng-repeat="task in CalendarService.Tasks | filter:{JobId: job.JobId}">
                                <td style="width:2px;padding: 4px;background-color: red;" ng-class="CalendarService.GetClassName(task)"></td>
                                <td style="vertical-align:top">
                                    <h4 class="media-heading">
                                        <span ng-bind="task.title"></span> <small ng-show="task.start" ng-bind="'Due: '+ CalendarService.GetDateRange(task)"></small>
                                        <small>
                                            <a ng-if="task.editable" href="" ng-click="CalendarService.Edit(task, $index); $event.preventDefault()"><i class="glyphicon glyphicon-pencil"></i></a> &nbsp;
                                            <a ng-if="task.IsDeletable" href="" ng-click="CalendarService.DeleteTask(task); $event.preventDefault()"><i class="glyphicon glyphicon-trash"></i></a>
                                        </small>
                                    </h4>

                                    <div>Attendees: <span ng-bind-html="CalendarService.GetTaskAttendees(task)"></span></div>
                                    <div ng-bind="task.Message"></div>
                                </td>
                            </tr>
                            <tfoot ng-hide="(CalendarService.Tasks | filter:{JobId: job.JobId}).length">
                                <tr><td colspan="5" class="text-center">No Tasks</td></tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="col-xs-12 col-sm-6" ng-show="!job.DisplayCalendar">
                        <textarea class="form-control" style="resize: none;" ng-model="job.Description" placeholder="Job Description" ng-model-options="{ updateOn: 'blur'}" ng-model="job.Description" ng-change="JobService.SaveDescription(job.JobId, job.Description)" rows="10"></textarea>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <div class="form-group">
                                <label class="text-sm">Source:</label><br />
                                <button class="btn btn-sm btn-default btn-ng-select ng-select-exception" ng-model="job.SourceId" ng-change="JobService.SaveSource(job.JobId, job.SourceId, job.LeadId)" ng-options="opt.SourceId as LeadSourceService.GetLabel(opt.SourceId, true).Name for opt in LeadSourceService.GetLeadSources(JobService.GetJobIndex(job) + 1) track by opt.SourceId" bs-select data-html="1" ng-disabled="!job.Permission.CanUpdate"></button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <div class="form-group">
                                <label class="text-sm">Sales Agent:</label><br />
                                <button class="btn btn-sm btn-default btn-ng-select" ng-model="job.SalesPersonId" ng-change="JobService.SaveSalesAgent(job.JobId, job.SalesPersonId)" data-placeholder="Assign a sales agent" ng-options="opt.PersonId as HFCService.GetUserLabel(opt) for opt in HFCService.SalesUsers(job.SalesPersonId)" bs-select data-html="1" ng-disabled="!job.CanDistribute"></button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <div class="form-group">
                                <label class="text-sm">Installer:</label><br />
                                <button class="btn btn-sm btn-default btn-ng-select" ng-model="job.InstallerPersonId" ng-change="JobService.SaveInstaller(job.JobId, job.InstallerPersonId)" data-placeholder="{{HFCService.InstallerUsers().length ? 'Assign an installer' : 'There is no available installer'}}" ng-options="opt.PersonId as HFCService.GetUserLabel(opt) for opt in HFCService.InstallerUsers(job.InstallerPersonId)" bs-select data-html="1" ng-disabled="!job.CanDistribute"></button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2" style="width: 13%">
                            <div class="form-group">
                                <label class="text-sm">Territory:</label>
                                <select class="form-control input-sm" ng-model="job.TerritoryId" ng-change="JobService.SaveTerritory(job.JobId, job.TerritoryId)" ng-options="opt.TerritoryId as JobService.GetTerritoryLabel(opt) for opt in JobService.Territories" ng-disabled="!job.Permission.CanUpdate">
                                    <option value="">Unassigned</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2" style="width: 15%">
                            <div class="form-group">
                                <label class="text-sm">Concept:</label>
                                <select class="form-control input-sm" ng-model="job.JobConceptId" ng-change="JobService.SaveConcept(job.JobId, job.JobConceptId)" ng-options="opt.Id as opt.Concept for opt in JobService.Concepts" ng-disabled="!job.Permission.CanUpdate"></select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2" style="width: 11%">
                            <div class="form-group">

                                <label class="text-sm">Contract Date:</label>

                                <input type="text" class="form-control input-sm" id="contractDate" ng-model="job.ContractedOnUtc" ng-change="JobService.SaveContractDate(job.JobId, job.ContractedOnUtc)" bs-datepicker data-autoclose="true" />

                                <p ng-show="job.ContractedOnUtcRequired" class="help-block">Contract date is required.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2" style="width: 11%">
                            <div class="form-group">
                                <label class="text-sm">Quote Date:</label>
                                <input type="text" class="form-control input-sm" id="quoteDate" ng-model="job.QuoteDateUTC" ng-change="JobService.SaveQuoteDate(job.JobId, job.QuoteDateUTC)" bs-datepicker data-autoclose="true" />
                            </div>
                        </div>
                    </div>
                </div>    <!-- /end summary div -->

                <ul class="nav nav-tabs nav-justified job-tabs">
                    <li ng-class="{ 'active' : !job.QuoteGiven}">
                        <a ng-href="#qanda{{job.JobId}}" data-toggle="tab" target="_self" title="Questions and Answers">
                            <i class="visible-sm glyphicon glyphicon-edit"></i><span class="hidden-sm">Lead Sheet</span>
                        </a>
                    </li>
                    <li ng-class="{ 'active' : job.QuoteGiven}">
                        <a ng-href="#detail{{job.JobId}}" target="_self" data-toggle="tab" title="Job Detail">
                            <i class="visible-sm glyphicon glyphicon-bookmark"></i><span class="hidden-sm">Quote/Sale</span>
                        </a>
                    </li>

                    <li style="min-width: 100px;">
                        <a ng-href="#taskNapt{{job.JobId}}" target="_self" data-toggle="tab" title="Tasks and Appointments" ng-click="CalendarService.Get(job.JobId)">

                            <span class="inline-relative"><i class="visible-sm glyphicon glyphicon-calendar"></i><span class="hidden-sm">Tasks</span></span>
                            <span class="badge" ng-bind="(CalendarService.Tasks | filter:{JobId: job.JobId}).length"></span>

                            <span class="inline-relative"><i class="visible-sm glyphicon glyphicon-calendar"></i><span class="hidden-sm">Appts</span></span>
                            <span class="badge in" ng-bind="(CalendarService.CalendarEvents | filter:{JobId: job.JobId}).length"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-href="#files{{job.JobId}}" target="_self" data-toggle="tab" title="Job Files">
                            <span class="inline-relative"><i class="visible-sm glyphicon glyphicon-file"></i></span><span class="hidden-sm">Files</span>
                            <span class="badge" ng-bind="job.FilesCount"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_self" data-template="/templates/NG/notes-aside.html" ng-click="$event.preventDefault(); JobNoteService.Load(job)" data-placement="left" data-animation="am-slide-left" bs-aside="{title: 'Job #{{job.JobNumber}} Notes', service: JobNoteService, PrimId: job.JobId, Notes: (JobNoteService.JobNotes | filter: {JobId: job.JobId}), Message: '', NoteType: 0}" data-container="body">
                            <span class="inline-relative"><i class="visible-sm glyphicon glyphicon-comment"></i><span class="hidden-sm">Notes</span></span>
                            <span class="badge" ng-bind="job.NotesCount"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-toggle="dropdown" target="_self" class="dropdown-toggle">
                            <!-- NOT PROD READY, REMOVE DISPLAY:NONE FOR DEVELOPMENT; PROD ONLY-->
                            <span class="visible-sm"><i class="glyphicon glyphicon-print"></i> <i class="glyphicon glyphicon-envelope"></i><i class="caret"></i></span><span class="hidden-sm">Print/Email <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu pull-right dropdown-menu-group">
                            <li ng-repeat="item in AdvancedEmailService.EmailTemplates | filter:{EmailTemplateTypeId:7}">
                                <div class="btn-group">
                                    <a href="" ng-click="AdvancedEmailService.Edit(item.EmailTemplateId, job)" class="btn btn-sm"><i class="glyphicon glyphicon-envelope"></i>{{item.TemplateSubject}}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane qanda-pane" ng-class="{ 'active' : !job.QuoteGiven}" id="qanda{{job.JobId}}">
                        <h3>
                            <small style="padding-right: 5px;">Lead Sheet</small>
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm" title="Print Lead Sheet" ng-click="JobService.PrintService.PrintLeadSheet(job.JobId)"><span class=" glyphicon glyphicon-print"></span></button>
                                <button class="btn btn-default btn-sm" title="Email Lead Sheet" ng-click="JobService.EmailService.EmailLeadSheet(job)"><span class=" glyphicon glyphicon-envelope"></span></button>
                            </div>
                        </h3>

                        <div class="container-fluid">
                            <div class="row" ng-repeat="uniqueQ in JobService.UniqueQuestions">
                                <h4><small ng-bind="uniqueQ"></small></h4>
                                <div class="col-xs-6 col-lg-3" ng-class="question.SelectionType == 'checkbox' ? 'col-sm-4 col-md-3' : 'col-sm-6 col-md-4'" ng-repeat="question in JobService.GetQuestion(job.JobQuestionAnswers, uniqueQ)">
                                    <div ng-if="question.SelectionType == 'checkbox'">
                                        <button ng-click="JobService.SaveQA(job.JobId, question)" ng-disabled="!job.Permission.CanUpdate || JobService.IsBusy" ng-class="question.IsChecked ? 'btn-warning active' : ''" ng-bind="question.SubQuestion" class="btn btn-default btn-block"></button>
                                    </div>
                                    <div ng-if="question.SelectionType != 'checkbox'">
                                        <label><span ng-bind="question.SubQuestion"></span>:</label>
                                        <input class="form-control" type="text" ng-disabled="!job.Permission.CanUpdate || JobService.IsBusy" maxlength="256" char-limit="" ng-model="question.Answer" ng-model-options="{updateOn: 'blur'}" ng-change="JobService.SaveQA(job.JobId, question)" />
                                        <span class="text-muted"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" ng-class="{ 'active' : job.QuoteGiven}" id="detail{{job.JobId}}">
                        <div class="container-fluid margin-top">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 no-padding">
                                    <hfc-person ng-model="job.CustomerPersonId" heading="Customer" job-id="{{job.JobId}}" changeable="true"></hfc-person>
                                </div>

                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label>Sidemark</label>
                                        <input type="text" class="form-control" ng-model="job.SideMark" ng-model-options="{updateOn: 'blur'}" ng-change="JobService.SaveSidemark(job.JobId, job.SideMark)" />
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-3">
                                    <hfc-address ng-model="job.BillingAddressId" job-id="{{job.JobId}}" changeable="true" heading="Billing Address"></hfc-address>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <hfc-address ng-model="job.InstallAddressId" job-id="{{job.JobId}}" changeable="true" heading="Install Address"></hfc-address>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-tabs" ng-class="{'nav-justified': HFCService.isMobile()}">
                            <li ng-repeat="quote in Quotes" ng-class="{'active': quote.IsPrimary }">
                                <a data-target="#quote{{job.JobId}}_{{quote.QuoteId}}" style="cursor: pointer" ng-href="" data-toggle="tab"><span ng-if="quote.IsPrimary && job.SaleMade">Sale </span><span ng-if="job.SaleMade && !quote.IsPrimary || !job.SaleMade">Quote </span> <span ng-hide="job.SaleMade && quote.IsPrimary" ng-bind="quote.QuoteNumber"></span> <span class="badge" ng-show="(Quotes.length > 1 && quote.IsPrimary) || (Quotes.length < 2)">Primary</span></a>
                            </li>
                            <li ng-if="job.Permission.CanUpdate"><a href="" ng-if="!job.SaleMade" ng-click="QuoteService.AddQuote(job, Quotes); $event.preventDefault()"><span class="glyphicon glyphicon-plus"></span> New Quote</a></li>
                        </ul>
                        <div class="tab-content">
                            <hfc-quote-panel ng-repeat="quote in Quotes"></hfc-quote-panel>
                        </div>
                    </div>
                    <div class="tab-pane" id="arap{{job.JobId}}">

                    </div>

                    <div class="tab-pane" id="taskNapt{{job.JobId}}">
                        <h3><small>Calendar Events <a href="" class="text-md" ng-href="/calendar/?aptType=1&jobId={{job.JobId}}"><i class="glyphicon glyphicon-plus"></i> New Appointment</a></small></h3>
                        <table class="table table-hover">
                            <tr ng-repeat="apt in CalendarService.CalendarEvents | filter:{JobId: job.JobId}">
                                <td style="width:70px">
                                    <img class="img-thumbnail" style="width:50px;height:50px" ng-src="{{HFCService.GetUserAvatar(apt.OrganizerPersonId)}}" title="{{HFCService.GetUser(apt.OrganizerPersonId).FullName}}" />
                                    <div>
                                        <a ng-if="apt.editable" href="" ng-click="CalendarService.Edit(apt, $index); $event.preventDefault()"><i class="glyphicon glyphicon-pencil"></i></a> &nbsp;
                                        <a ng-if="apt.IsDeletable" href="" ng-click="CalendarService.DeleteApt(apt); $event.preventDefault()"><i class="glyphicon glyphicon-trash"></i></a>
                                    </div>
                                </td>
                                <td style="vertical-align:top">
                                    <h4 class="media-heading"><i ng-class="CalendarService.GetAptTypeGlyph(apt)"></i><span ng-class="{'strikethrough': apt.IsCancelled}" ng-bind="apt.title"></span> <small ng-class="{'strikethrough': apt.IsCancelled}" ng-bind="CalendarService.GetDateRange(apt)"></small></h4>
                                    <div ng-class="{'strikethrough': apt.IsCancelled}" ng-bind="apt.Message"></div>
                                    <div ng-if="apt.IsCancelled" style="color:red; font-weight: bold">Appointment Cancelled</div>
                                </td>
                            </tr>
                            <tfoot ng-hide="(CalendarService.CalendarEvents | filter:{JobId: job.JobId}).length">
                                <tr><td colspan="5" class="text-center">No Appointments</td></tr>
                            </tfoot>
                        </table>
                        <h3><small>Tasks <a href="" class="text-md" ng-href="/calendar/?jobId={{job.JobId}}"><i class="glyphicon glyphicon-plus"></i> New Task</a></small></h3>
                        <table class="table table-hover">
                            <tr ng-repeat="task in CalendarService.Tasks | filter:{JobId: job.JobId}">
                                <td style="width:70px">
                                    <img class="img-thumbnail" style="width:50px;height:50px" ng-src="{{HFCService.GetUserAvatar(task.OrganizerPersonId)}}" title="{{HFCService.GetUser(task.OrganizerPersonId).FullName}}" />
                                    <div>
                                        <a ng-if="task.editable" href="" ng-click="CalendarService.Edit(task, $index); $event.preventDefault()"><i class="glyphicon glyphicon-pencil"></i></a> &nbsp;
                                        <a ng-if="task.IsDeletable" href="" ng-click="CalendarService.DeleteTask(task); $event.preventDefault()"><i class="glyphicon glyphicon-trash"></i></a>
                                    </div>
                                </td>
                                <td style="vertical-align:top">
                                    <h4 class="media-heading"><span ng-bind="task.title"></span> <small ng-show="task.start" ng-bind="'Due: '+ CalendarService.GetDateRange(task)"></small></h4>
                                    <div ng-bind="task.Message"></div>
                                </td>
                            </tr>
                            <tfoot ng-hide="(CalendarService.Tasks | filter:{JobId: job.JobId}).length">
                                <tr><td colspan="5" class="text-center">No Tasks</td></tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="tab-pane" id="files{{job.JobId}}">
                        <form class="dropzone" dropzone="DropzoneOption" id="dz{{job.JobId}}">

                            <div class="dz-message" data-dz-message>
                                <span style="top: 33%;left: 32%;;display: block;font-family:humanist521;">
                                    <span style="font-size: 40px;font-style: italic;font-weight: bold; display: block; text-align: center;">
                                        Drag and Drop
                                    </span>
                                    <span style="font-size: 40px;font-style: italic; display: block; text-align: center;">
                                        to upload.
                                    </span>
                                    <span style="font-size: 25px;font-style: italic; display:block;text-align: center;">(or click)</span>
                                    <span style="font-size: 25px;font-style: italic; display:block;text-align: center;">One file at a time.</span>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>