﻿<div class="row">
    <div class="col-xs-12 col-sm-12" ng-if="!InEditMode">
        <div class="row row-condensed row-body">
            <div class="hfc-col col-xs-12 col-sm-1" ng-if="canUpdate">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="visible-xs">Options <i class="caret"></i></span>
                        <span class="hidden-xs"><i class="glyphicon glyphicon-cog"></i> <i class="caret"></i></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="Edit($event)">Edit</a></li>
                        <li><a href="#" ng-click="Clone($event)">Make a copy</a></li>
                        <li><a href="#" ng-click="Delete($event)">Delete</a></li>
                    </ul>
                </div>
            </div>
            <div class="hfc-col col-xs-2 col-sm-2">&nbsp;</div>
            <div class="hfc-col col-xs-3 col-sm-3" ng-bind="item.Category"></div>
            <div class="hfc-col hidden-xs col-sm-4">
                <div class="col-sm-2 col-md-1" ng-show="item.Memo"><strong>Memo:</strong></div>
                <div class="col-sm-10 col-md-11" style="padding-left: 20px;" ng-bind="item.Memo"></div>
            </div>            
            <div class="hfc-col col-xs-6 col-sm-2 text-right">                
                <div ng-show="item.TypeEnum != QuoteSaleAdjService.SaleAdjTypeEnum.Tax && item.Amount > 0" ng-bind="item.Amount | currency"></div>
                <div ng-show="item.TypeEnum != QuoteSaleAdjService.SaleAdjTypeEnum.Tax && item.Percent > 0" ng-bind='"$0 %" | format: item.Percent'></div>
                <!--<span ng-hide="item.TypeEnum == QuoteSaleAdjService.SaleAdjTypeEnum.Tax" ng-bind="item.Amount | currency"></span>-->
                <span ng-show="item.TypeEnum == QuoteSaleAdjService.SaleAdjTypeEnum.Tax" ng-bind='"$0 %" | format: item.Percent'></span>                
            </div>
            <div class="hfc-col visible-xs col-xs-12">
                <div class="col-xs-4"><strong>Memo:</strong></div>
                <div class="col-xs-8" ng-bind="item.Memo"></div>
            </div>            
        </div>
    </div>
    <div class="col-xs-12 col-sm-12" ng-if="InEditMode">        
        <form role="form" name="quoteSaleAdjForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Category:</label>
                            <select class="form-control" ng-model="item.Category" ng-change="CategoryChanged()" ng-options="opt.Category as opt.Category group by opt.Label for opt in QuoteSaleAdjService.GetSaleAdjByType(item)"></select>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-class="item.TypeEnum == QuoteSaleAdjService.SaleAdjTypeEnum.Tax ? 'col-sm-5' : 'col-sm-8'">
                        <div class="form-group">
                            <label>Memo:</label>
                            <input type="text" maxlength="256" class="form-control" ng-model="item.Memo" placeholder="Memo" />
                        </div>
                    </div>
                    <div class="col-sm-3" ng-show="item.TypeEnum == QuoteSaleAdjService.SaleAdjTypeEnum.Tax">
                        <div class="form-group">
                            <label>Percent:</label>
                            <div class="input-group">
                                <input type="number" step="0.01" min="0" ng-model="item.Percent" class="form-control" placeholder="Percent" />
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="item.TypeEnum != QuoteSaleAdjService.SaleAdjTypeEnum.Tax">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Percent:</label>
                            <div class="input-group">
                                <input type="number" step="0.01" min="0" ng-disabled="item.Amount" name="percent" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" ng-model="item.Percent" class="form-control" placeholder="Percent" />
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Amount:</label> &nbsp; <label class="checkbox-inline"><input type="checkbox" ng-model="item.IsTaxable" /> Taxable</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                <input type="number" min="0" step="0.01" ng-disabled="item.Percent" name="amount" placeholder="Amount" ng-model="item.Amount" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="reset" class="btn btn-default btn-sm" ng-disabled="QuoteSaleAdjService.IsBusy" ng-click="Cancel()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="QuoteSaleAdjService.IsBusy" ng-click="Save(quoteSaleAdjForm)"><i class="glyphicon glyphicon-save"></i> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
