﻿<style>
    .LightGray {
        background-color: lightgray;
    }
    .snav_tooltip {
        position: absolute;
        color: white;
        top: 19px;
        left: 65px;
        padding: 5px 8px;
        background: #365760;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .k-button {
        float: right !important;
        margin: 2px;
    }
</style>

<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>

    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>

    <div class="tpadmin-content">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li rel="tab7" ng-if="ShowIcon">
                    <a href="#!/edittpsources">
                        <h3><i class="far fa-chart-network fa_icon"></i><br />TPT Source</h3>
                    </a>
                </li>
                <li rel="tab7" ng-if="!ShowIcon">
                    <a href="#!/edithfcsources">
                        <h3><i class="far fa-chart-network fa_icon"></i><br />HFC Source</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7">
                    <h3><i class="far fa-list-alt fa_icon"></i><br />Channels</h3>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="tpadmin-inactive" ng-show="Permission.Viewsource">
            <div class="float-left">
                   <span class="field hd_cbox">
                        <input type="checkbox" value="" id="chkSuspend" ng-model="ShowInActive" ng-click="IsSuspendSelect()">
                         <label class="checkbox" for="chkSuspend">Show Inactive</label>
                   </span>
            </div>
            <div class="leadsearch_icon" ng-show="Permission.Addsource || Permission.Editsource">
                <button type="submit" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-click="CancelGrid()">
                    <i class="far fa-times-circle fa_icon"></i>
                </button>
                <button type="submit" class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="saveGrid()">
                    <i class="far fa-check-circle fa_icon"></i>
                </button>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="leadgrid_box">
            <div class="error error_msg" ng-if="!Permission.Viewsource" style="padding-top:30px;padding-left:20px;">
                You don't have permission to this page.
            </div>
            <form name="Channelmap_form" unsaved-warning-form ng-show="Permission.Viewsource">
                <kendo-tooltip options="tooltipOptions">
                    <kendo-grid id="gridChannel" options="EditChannelList" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                </kendo-tooltip>
            </form>
        </div>
    </div>
</div>