﻿<style>
    .LightGray {
        background-color: lightgray;
    }
    .snav_tooltip {
        position: absolute;
        color: white;
        top: 19px;
        left: 65px;
        padding: 5px 8px;
        background: #365760;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .k-button {
        float: right !important;
        margin: 2px;
    }
    /*.ng-scope, .k-alt{
        height: 57px;
    }*/
     .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
    div > form.k-filter-menu > div > label
    {
        padding-left: 5px;
    }
    .k-list-container.k-popup.k-group.k-reset.k-state-border-up> .k-list-scroller, #Sourcedropdown-list .k-list-scroller{
        max-height: 131px !important;
    }
</style>
<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <div class="tpadmin-content">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li rel="tab7">
                    <a ng-click="RedirecttoTPTSource()">
                        <h3><i class="far fa-chart-network fa_icon"></i><br />TPT Source</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7">
                    <h3><i class="far fa-chart-network fa_icon"></i><br />HFC Source</h3>
                </li>
                <li rel="tab7">
                    <a ng-click="RedirecttoUTMCampaign()">
                        <h3><i class="far fa-bullseye-arrow fa_icon"></i><br />UTM-Campaign</h3>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="table-responsive">
            <div class="error error_msg" ng-if="!Permission.Viewsource" style="padding-top:30px;padding-left:20px;">
                You don't have permission to this page.
            </div>
            <form name="HFCSourcemap_form" unsaved-warning-form ng-show="Permission.Viewsource">
                <kendo-tooltip options="tooltipOptions">
                    <kendo-grid id="gridSources" options="EditSourcesList" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                </kendo-tooltip>
            </form>
        </div>
        <script id="headToolbarTemplate" type="text/x-kendo-template">
            <div class="tp-measurementsearch row no-margin">
                <div class="leadsearch_topleft row no-margin col-sm-10 col-md-10 col-xs-10 no-padding">
                    <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                        <input ng-keyup="HfcSource()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
                    </div>
                    <div class="col-xs-2 col-sm-2 measurement_search" style="max-width:160px !important;">
                        <input type="button" id="btnReset" ng-click="HfcSourceSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
                    </div>
                    <div class="col-xs-4 col-sm-4 mt-2">
                        <input class="option-input" name="SourceCheck" style="margin-right:5px;" type="checkbox" ng-click="IsSuspendSelect()"><label class="ldet_label">Show Inactive</label>
                    </div>
                    <div class="col-xs-4 col-sm-4"></div>
                  </div>
                  <div class="col-xs-2 col-sm-2 pr-0" ng-show="Permission.Addsource">
                        <input type="button" class="k-button btn cancel_but" id="btnAddrow" ng-click="AddRow()" onclick="return false;" value="Add New Row" />
                  </div>
                </div>  
        </script>
    </div>
</div>