﻿<style>
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
    td.k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    td.k-state-selected:hover{
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }
    .k-list>.k-state-focused.k-state-selected
    {
        border-color: transparent !important;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13);
    }
    div > form.k-filter-menu > div > label
    {
        padding-left: 5px;
    }
    .k-list-container.k-popup.k-group.k-reset.k-state-border-up > .k-list-scroller {
        max-height: 131px !important;
    }

    /*/ for hide the validation text in grid row edit /*/
    #gridleadsourcemap .k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg {
        display: none !important;
    }

    #gridleadsourcemap .campaign-input {
        font-size: 13px !important;
        font-weight: 400;
        color: #000 !important;
        background: #fff !important;
        border: 1px solid #ceced2;
        vertical-align: middle;
        width: 100%;
        padding: 4px 8px;
        border-radius: 5px;
        outline: none;
    }

    #gridleadsourcemap .campaign-input::placeholder {
        color: red !important;
    }

    #gridleadsourcemap span.k-widget.k-dropdown.k-header.required-field {
        border: 1px solid red !important;
    }

    #gridleadsourcemap .required-text {
        color: red !important;
    }

    #HFCSourceName-list .k-list-optionlabel.k-state-selected.k-state-focused {
        cursor: default !important;
        background-color: #fff !important;
        color: gray !important;
        border: none;
    }

    #HFCSourceName-list .k-list-optionlabel {
        color: gray !important;
    }

    #HFCSourceName-list .k-list-optionlabel:hover {
        color: gray !important;
    }

    #HFCSourceName-list .k-list-scroller {
        max-height: 131px !important;
    }
</style>
<div class="outter-wp">
    <div class="tab_container">
         <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab7">
                        <a href="#!/edittpsources">
                            <h3><i class="far fa-chart-network fa_icon"></i><br />TPT Source</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/edithfcsources">
                            <h3><i class="far fa-chart-network fa_icon"></i><br />HFC Source</h3>
                        </a>
                    </li>
                    <li class="activelead1" rel="tab7">
                        <a href="#!/hfcleadsourcemap">
                            <h3><i class="far fa-bullseye-arrow fa_icon"></i><br />UTM-Campaign</h3>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
          </div>
          <div class="tab_container tpsearch_content">
              <div class="error error_msg" ng-if="!Permission.ViewCampaign" style="padding-top:30px;padding-left:20px;">
                  You don't have permission to this page.
              </div>
             <div class="table-responsive" ng-show="Permission.ViewCampaign">
                    <!--<kendo grid code-->
                    <form name="LeadSourcemap_form" unsaved-warning-form>
                        <kendo-tooltip options="tooltipOptions">
                            <kendo-grid id="gridleadsourcemap" options="LeadSourcemap" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                        </kendo-tooltip>
                    </form>
             </div>
         </div>
    </div>
</div>
<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="tp-measurementsearch row no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-10 col-md-10 col-xs-10 no-padding">
            <div class="col-xs-2 col-sm-2 no-padding hfc_txtbox">
                <input ng-keyup="UTMgridSearch()" type="search" id="searchBox" placeholder="Search" class="k-textbox leadsearch_tbox">
            </div>
            <div class="col-xs-2 col-sm-2 measurement_search" style="max-width:160px !important;">
                <input type="button" id="btnReset" ng-click="UTMgridSearchClear()" class="k-button btn btn-primary cancel_but" value="Clear All Filters">
            </div>
            <div class="col-xs-4 col-sm-4 mt-2">
                <input class="option-input" name="SourceCheck" style="margin-right:5px;" type="checkbox" ng-click="GetallSource()"><label class="ldet_label">Show Inactive</label>
            </div>
            <div class="col-xs-4 col-sm-4"></div>
        </div>
        <div class="col-xs-2 col-sm-2 pr-0">
           <div class="float-right" ng-show="Permission.AddCampaign">
               <input type="button" class="k-button btn cancel_but tpm_but" id="btnAddrow" ng-click="AddRow()" onclick="return false;" value="Add New Row" />
           </div>
        </div>
    </div>
</script>


