﻿<style>
   .LightGray {
        background-color: lightgray;
    }
   .snav_tooltip {
        position: absolute;
        color: white;
        top: 19px;
        left: 65px;
        padding: 5px 8px;
        background: #365760;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
</style>

<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <div class="tpadmin-content">
           <div class="lead_stab">
                    <ul class="tabs1 landing_tab">
                        <li class="activelead1" rel="tab7">
                            <a href="#!/sourcelist">
                                <h3><i class="far fa-list-alt fa_icon"></i><br />Sourcelist</h3>
                            </a>
                        </li>
                        <li rel="tab7">
                            <a href="#!/channellist">
                                <h3><i class="far fa-list-alt fa_icon"></i><br />Channellist</h3>
                            </a>
                        </li>
                        <li rel="tab7">
                            <a href="#!/ownerlist">
                                <h3><i class="far fa-users-class fa_icon"></i><br />Ownerlist</h3>
                            </a>
                        </li>
                        <li rel="tab7">
                            <a href="#!/edittpsources">
                                <h3><i class="far fa-chart-network fa_icon"></i><br />TP-Sources</h3>
                            </a>
                        </li>
                        <li rel="tab7">
                            <a href="#!/edithfcsources">
                                <h3><i class="far fa-chart-network fa_icon"></i><br />HFC-Sources</h3>
                            </a>
                        </li>
                        <li rel="tab7">
                            <a href="#!/hfcleadsourcemap">
                                <h3><i class="far fa-bullseye-arrow fa_icon"></i><br />UTM-Campaign</h3>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
            </div>
          
            <!--<div class="tpadmin-wrap">
                <ul class="breadcrumbs">
                    <li>Source List</li>
                </ul>
            </div>-->

            <div class="setting_sourcechkbox">
                <div class="fran_brcrms pull-left">
                      <span class="field" style="margin-left:0 !important;"> 
                           <input type="checkbox" value="" id="chkSuspend" ng-model="ShowInActive" ng-click="IsSuspendSelect()">
                           <label class="checkbox" for="chkSuspend">Show Inactive</label>
                      </span>
                </div>
                <div class="source_editicon">
                    <a class="plus_but tooltip-bottom" href="/controlpanel#!/editsourcelist" data-tooltip="Edit Source">
                        <i class="far fa-pen"></i>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="table-responsive">
                <kendo-tooltip options="tooltipOptions">
                    <kendo-grid id="gridSources" options="SourceList" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                 </kendo-tooltip>
            </div>
    </div>
</div>