﻿<div class="outter-wp">
    <section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/sources">General</a></li>
                        <li><a href="#!/vendors">Operations</a></li>
                        <li class="active"><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>


    <div id="tab2" class="tab_content">
        <!---inner tab--->
        <div id="tab2" class="tab_content">
            <!---inner tab--->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab" style="width:100% !important">
                    <li rel="tab7">
                        <a href="#!/users">
                            <h3><i class="far fa-users fa_icon"></i><br />Users</h3>
                        </a>
                    </li>
                    <li class="activelead1" rel="tab7">
                        <a href="#!/roles/">
                            <h3><i class="checklist_icon"></i><br />Roles</h3>
                        </a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="tab_container tp_content">
        <h3 class="d_active tab_drawer_heading" rel="tab6">Tab 6</h3>
        <div id="tab6" class="tab_content1">
            <div class="p-3">
                <div class="leadgrid_box">
                    <div class="lead_rtop row">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead><tr><th style="width:30px"></th><th>Role</th><th>Description</th></tr></thead>

                                <tbody ng-repeat="role in RolesList">

                                    <tr>
                                        <td class="text-center"><a href="#" onclick="return ToggleUsers(this)"><span class="glyphicon glyphicon-plus"></span></a></td>
                                        <td>{{role.RoleName}}</td>
                                        <td>{{role.Description}}</td>
                                    </tr>
                                    <tr style="display:none">
                                        <td></td>
                                        <td colspan="2">
                                            <text ng-show="role.User == ''">There are no users assigned to this role</text>
                                            <ul class="list-unstyled" ng-repeat="user in role.User">
                                                <li><span class="color-box color-{{user.ColorId}}"></span> {{user.Person.FullName}}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        function ToggleUsers(link) {
            $(link).parent().parent().next().toggle();
            var $span = $(link).find("span");
            if ($span.hasClass("glyphicon-plus"))
                $span.removeClass("glyphicon-plus").addClass("glyphicon-minus");
            else
                $span.removeClass("glyphicon-minus").addClass("glyphicon-plus");
            return false;
        }
    </script>
