﻿<style>
   
</style>
<form class="attachment_grid row" ng-if="FileUploadService.showattachment">
    <div class="caseuploadfile_grid w-100 row no-margin">
      
            <div ng-class="FileUploadService.css1">
                <div ng-class="FileUploadService.css2" class="uploadfile_grid" style="margin-bottom:5px;" ng-repeat="ress in FileUploadService.AttachmentList">
                    <div class="row no-margin">
                        <div class="col-sm-6 p-0">
                            <input type="hidden" ng-bind="ress.Id" />
                            <div class="row no-margin">
                                <!--<ul class="uploadfile_list">
                                    <li>
                                        <div>
                                            <i ng-if="!ress.streamId1" ng-class="ress.fileIconType" style="font-size:25px;color:{{ress.color}}"> </i>
                                            <a visible="{{ress.streamId1}}" ng-if="ress.streamId1" target="_blank" href="/api/Download?streamid={{ress.streamId}}">
                                                <img visible="{{ress.streamId1}}" ng-if="ress.streamId1" style="width: 37px;height: 24px;" src="/api/Download?streamid={{ress.streamId1}}">

                                                <img style="width: 37px;height: 24px;" ng-src="/api/Download?streamid={{ress.streamId1}}">
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div ng-if="ress.streamId" style="line-height:11px;">
                                            <a href="/api/Download?streamid={{ress.streamId}}" target="_blank">
                                                <label class="attachment_name" style="font-weight:100;width: 100px;  font-size:11px;  margin-bottom :0 !important; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" ng-bind="ress.fileName">
                                                </label>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div ng-if="!ress.streamId" style="line-height:11px;">
                                            <label class="attachment_name" style="font-weight:100;width: 100px;  font-size:11px;  margin-bottom :0 !important; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" ng-bind="ress.fileName"> </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div style="line-height:10px;">
                                            <label style="font-weight:100; font-size:11px; margin-bottom:0 !important;" ng-bind="ress.fileSize"> </label>
                                        </div>
                                    </li>
                                </ul>-->
                               <div class="col-sm-3" style="padding-left:5px !important;">
                                    <i ng-if="!ress.streamId1" ng-class="ress.fileIconType" style="font-size:25px;color:{{ress.color}}"> </i>
                                    <a visible="{{ress.streamId1}}" ng-if="ress.streamId1" target="_blank" href="/api/Download?streamid={{ress.streamId}}">
                                        <img style="width: 37px;height: 24px;" ng-src="/api/Download?streamid={{ress.streamId1}}">
                                    </a>
                                </div>
                                <div class="col-sm-9 no-padding">
                                    <div ng-if="ress.streamId" style="line-height:11px;">
                                        <a href="/api/Download?streamid={{ress.streamId}}" target="_blank">
                                            <label class="attachment_name" style="font-weight:100;width: 100px;  font-size:11px;  margin-bottom :0 !important; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" ng-bind="ress.fileName">
                                            </label>
                                        </a>
                                    </div>
                                    <div ng-if="!ress.streamId" style="line-height:11px;">
                                        <label class="attachment_name" style="font-weight:100;width: 100px;  font-size:11px;  margin-bottom :0 !important; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" ng-bind="ress.fileName"> </label>
                                    </div>
                                    <div style="line-height:10px;">
                                        <label style="font-weight:100; font-size:11px; margin-bottom:0 !important;" ng-bind="ress.fileSize"> </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 no-padding">
                            <div class="row no-margin">
                                <label class="col-sm-3" style="font-weight:100;"> Line</label>
                                <div class="col-sm-9 state_field">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select class="custom-dropdown__select custom-dropdown__select--white" ng-disabled="FileUploadService.disableLineDropDown"
                                                id="lineddl"
                                                ng-change="FileUploadService.lineChanged(ress.Id,ress.LineId)"
                                                ng-options="opt.lineId as opt.lineText for opt in FileUploadService.lineIdList"
                                                ng-model="ress.LineId">

                                            <option value="" disabled>
                                                select

                                            </option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 no-padding float-left" ng-class="FileUploadService.css4">
                            <a ng-click="FileUploadService.removeFranchiseCaseDetail(ress.Id, $index)" style="color:#3e7d8a;"> <i class="far fa-trash-alt"> </i> </a>
                        </div>
                        <!-- <div class="col-sm-1" > </div >-->
                    </div>
                </div>
        </div>
        <div ng-class="FileUploadService.css3" class="caseedit_fileupload">
            <div class="upload-field" style="text-align:center;width:70%;">
                Drop or select file <input type="file" id="uploadFileInput" multiple />
                <!-- <button class="icon-folder" > Select or Drop FIles here</button >-->
            </div>
            <span style="font-style:italic;font-size: 12px;">Note: Upload size must be less than 5 MB</span>
            <!-- <div style="text-align:center;" > Drop or select file <input type="file" file-model="myFile" / > </div >-->
            <!-- <input type="file" id="file" name='file' onchange="angular.element(this).scope().fileNameChanged(this)"/ >-->
            <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.-->
        </div>
        <div class="clearfix"> </div>
    </div>
</form>


<style>
    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .upload-field {
        /*position: relative;
        cursor: pointer;
        width: 100%;
        height: 111px;
        line-height: 28px;
        padding: 5px 10px;
        border: 1px solid #203F53;
        border-radius: 5px;
        font-size: 22px;
        padding-top: 37px;*/
        position: relative;
    cursor: pointer;
    width: 100%;
    /* height: 111px; */
    line-height: 24px;
    padding:20px 10px;
    border: 1px solid #203F53;
    border-radius: 5px;
    font-size: 22px;
    /* padding-top: 37px; */
    /* display: flex; */
    }

    .icon-folder {
        background-image: url("../images/icon-folder.png");
        height: 30px;
        width: 30px;
        background-size: cover;
        background-color: transparent;
        border: none;
        float: right;
    }

    .upload-file-button {
        height: 40px;
        width: 120px;
        text-align: center;
        margin: 20px 0;
        border: none;
        border-radius: 5px;
        box-shadow: 0 1px 3px #203F53;
        background-color: #203F53;
        color: white;
        font-size: 15px;
    }
</style>


