﻿<style>
    .customer_info {
        background: #fff;
    }

    .k-widget.k-tooltip-validation {
        display: none !important;
    }
    /*---kendo table style---*/
    .k-grid-content {
        overflow-y: scroll !important;
    }

    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .tooltiphover p {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        box-sizing: border-box;
        font-weight: 100;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    span.k-widget.k-datepicker.k-header.form-control.curency_dategrid.ng-pristine.ng-valid-required.ng-touched.ng-not-empty.ng-valid {
        border: 1px solid #b2bfca;
    }

    .k-grid-content.k-auto-scrollable {
        height: 100% !important;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-menu {
        position: absolute;
        top: 34px;
        z-index: 999999999;
    }

    .sub-grid {
        float: right;
        width: 44%;
    }

        .sub-grid .k-grid-header {
            padding-right: 0px !important;
        }

        .sub-grid .k-grid-content {
            overflow-y: hidden !important;
        }

    #caseGrid0123 .k-checkbox:checked + .k-checkbox-label:before {
        border-color: #3d7d8b !important;
        background-color: #3d7d8b !important;
    }

    #caseGrid0123 .k-checkbox:hover + .k-checkbox-label:after {
        color: #fff !important;
    }

    #caseGrid0123 .k-grid-content.k-auto-scrollable {
        overflow-y: visible !important;
    }

    #caseGrid0123 .k-grid-header {
        padding-right: 0px !important;
    }

    #exampleModal .modal-content {
        padding: 0px !important;
    }

    #exampleModal .field-wrapper {
        margin: 5px 0;
        padding: 0px 15px !important;
    }

        #exampleModal .field-wrapper textarea {
            min-height: 50px;
        }

    #exampleModal .detail-wrapper {
        padding: 20px;
        margin: 10px 0;
    }

    .requireddropfield {
        font-size: 13px !important;
        font-weight: 400;
        color: red !important;
        background: #fff !important;
        background-clip: padding-box;
        width: 100%;
        padding: 4px 8px;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1365px) {
        .responsive-modal {
            width: 81% !important;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .responsive-modal {
            width: 60.3% !important;
        }
    }

    #caseGrid0123 tr.k-state-selected {
        color: #656565 !important;
    }

    #caseGrid0123 tr.k-alt.k-state-selected {
        background-color: rgba(0, 0, 0, .04) !important;
    }

    #caseGrid0123 .k-grid-header .k-checkbox {
        margin-right: 5px !important;
    }

    /*.k-widget > span.k-invalid, input.k-invalid {
        border: 1px solid #e0e0e0;
    }*/

    /*---end kendo table style---*/
</style>
<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <!---inner tab--->
    <div class="lead_stab" ng-show="FranciseLevelCase && (Permission.CreateCaseData || Permission.EditCaseData)">
        <ul class="tabs1 landing_tab">
            <li class="activelead1" rel="tab6"><h3><i class="far fa-user fa_icon"></i><br />Franchise Info</h3></li>
        </ul>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li>
                    <button type="reset" class="tooltip-bottom save_tpbut"
                            data-tooltip="Cancel" ng-click="CancelChanges()">
                        <i class="far fa-times-circle fa_icon"></i>
                    </button>
                </li>
                <li>
                    <button type="submit" class="tooltip-bottom save_tpbut"
                            ng-disabled="IsBusy" data-tooltip="Save" ng-click="SaveCase()">
                        <i class="far fa-check-circle fa_icon"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="tab_container tp_content">
        <div class="error" ng-if="!FranciseLevelCase || (!Permission.CreateCaseData || !Permission.EditCaseData)" style="padding-top:30px;padding-left:20px;">
            You don't have permission to this page.
        </div>
        <form id="formCaseManage" name="formCaseManage" ng-submit="SaveCase()" unsaved-warning-form>
            <div class="p-3" ng-show="FranciseLevelCase && (Permission.CreateCaseData || Permission.EditCaseData)">
                <div class="caseedit_box">
                    <h1 style="margin-left:15px;">Case Information</h1>
                    <div class="row source-group">
                        <!--<div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            <div class="col-sm-6 pl-0">
                                <label class="ldet_label" style="display:block;">Case Owner</label>
                                <label ng-bind="CaseAddEdit.Name"></label>
                                <label class="ldet_label" style="display:block;">Status</label>
                                <label ng-bind="CaseAddEdit.StatusValue"></label>
                            </div>
                            <div class="col-sm-6 no-padding">
                                <label class="ldet_label" style="display:block;">Incident Date</label>
                                    <div>
                                        <input kendo-date-picker
                                               ng-class="{true: 'k-combobox required'}[submitted && formCaseManage.startDate.$invalid]"
                                               class="form-control curency_dategrid ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched"
                                               style="width:160px !important;"
                                               ng-required="true"
                                               ng-change="ChangeDate(CaseAddEdit.DateTimeStart)"
                                               id="dateValue"
                                               type="text" name="startDate"
                                               placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy"
                                               ng-model="CaseAddEdit.DateTimeStart" data-autoclose="true" />
                                    </div>
                            </div>
                        </div>-->
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            <div class="row no-margin">
                                <div class="col-sm-6 pl-0">
                                    <label ng-show="CaseAddEdit.CaseNumber" class="text_detlabel case_field">Case Number</label>
                                    <label ng-bind="CaseAddEdit.CaseNumber" class="ldet_label"></label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="text_detlabel case_field">Incident Date</label>
                                    <input kendo-date-picker k-format="HFCService.StaticKendoDateFormat()" onkeydown="return false;" ng-class="{true: 'k-combobox required'}[submitted && formCaseManage.startDate.$invalid]" class="form-control curency_dategrid ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched kendo-date-picker-date" style="width:160px !important;" ng-required="true" ng-change="ChangeDate(CaseAddEdit.DateTimeStart)" id="dateValue" type="text" name="startDate" placeholder="MM/DD/YYYY" data-date-format="MM/dd/yyyy" ng-model="CaseAddEdit.DateTimeStart" data-autoclose="true" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                        </div>
                    </div>
                    <div class="row source-group">
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            <div class="row no-margin">
                                <div class="col-sm-6 pl-0">
                                    <label class="text_detlabel case_field">Case Owner</label>
                                    <label class="ldet_label" ng-bind="CaseAddEdit.Name"></label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="text_detlabel case_field">Status</label>
                                    <label class="ldet_label" ng-bind="CaseAddEdit.StatusValue"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                        </div>
                    </div>
                    <div class="row source-group" ng-show="CaseId">
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            <div class="row no-margin">
                                <div class="col-sm-6 pl-0">
                                    <label class="text_detlabel case_field">Date/Time Opened</label>
                                    <label class="ldet_label" ng-bind="CaseAddEdit.CreatedOn|GlobalTime: 'short' "></label>
                                </div>
                                <div class="col-sm-6" ng-show="CaseId">
                                    <label class="text_detlabel case_field">Date/Time Closed</label>
                                    <label class="ldet_label" ng-bind="CaseAddEdit.DateTimeClosed|GlobalTime: 'short' "></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                        </div>
                    </div>
                    <div class="row source-group">
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            <div class="row no-margin">
                                <div class="col-sm-6 pl-0">
                                    <label class="text_detlabel case_field">Description</label>
                                    <input type="text" maxlength="1000" class="form-control frm_controllead1 required_field" name="Description" ng-model="CaseAddEdit.Description" placeholder="Required" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                        </div>
                    </div>
                    <div class="casecustomer_info" style="margin: 20px 0;">
                        <h3 style="margin-left:15px;">Customer Information</h3>
                        <div class="row ml-0 mr-0 form-group">
                            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                                <div class="row no-margin">
                                    <div class="col-sm-6 state_field pl-0">
                                        <label class="text_detlabel case_field">VPO</label>
                                        <div class="state_field">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select id="VPODrop" ng-class="{true: 'k-combobox required'}[submitted && (CaseAddEdit.PurchaseOrdersDetailId.length == 0)]"
                                                        name="VPODrop"
                                                        k-on-change="ChangeVPO()"
                                                        kendo-multi-select
                                                        data-max-selected-items="1"
                                                        k-options="VPODrop"
                                                        k-ng-model="CaseAddEdit.PurchaseOrdersDetailId"
                                                        class="custom-dropdown__select custom-dropdown__select--white "></select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" ng-show="CaseAddEdit.OrderId.length === 1">
                                        <label class="text_detlabel case_field"> Customer Preferred Phone</label>
                                        <!--<label ng-bind="CaseAddEdit.CellPhone"  ui-mask="(999) 999-9999"></label>-->
                                        <input type="text" ng-show="CaseAddEdit.CellPhone" ng-model="CaseAddEdit.CellPhone" ui-mask="(999) 999-9999" readonly style="border:none;background-color:none;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            </div>
                        </div>
                        <div class="row ml-0 mr-0 form-group">
                            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                                <div class="row no-margin">
                                    <div class="col-sm-6 pl-0">
                                        <label class="text_detlabel case_field">MPO</label>
                                        <div class="state_field">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select id="RelatedSource" ng-class="{true: 'k-combobox required'}[submitted && (CaseAddEdit.PurchaseOrderId.length == 0)]"
                                                        name="RelatedSource"
                                                        k-on-change="ChangeMPO()"
                                                        kendo-multi-select
                                                        data-max-selected-items="1"
                                                        k-options="MPODrop"
                                                        k-ng-model="CaseAddEdit.PurchaseOrderId"
                                                        class="custom-dropdown__select custom-dropdown__select--white required"></select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" ng-show="CaseAddEdit.OrderId.length === 1">
                                        <label class="text_detlabel case_field"> Customer Primary Email </label>
                                        <label class="ldet_label" ng-bind="CaseAddEdit.Email"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            </div>
                        </div>
                        <div class="row ml-0 mr-0 form-group">
                            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                                <div class="row no-margin">
                                    <div class="col-sm-6 pl-0">
                                        <div class="state_field">
                                            <label class="text_detlabel case_field">Sales Order Number</label>
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select id="RelatedSource1"
                                                        name="RelatedSource1"
                                                        k-on-change="ChangeSalesord()"
                                                        kendo-multi-select
                                                        k-options="SalesOrderDrop"
                                                        k-ng-model="CaseAddEdit.OrderId"
                                                        class="custom-dropdown__select custom-dropdown__select--white"></select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            </div>
                        </div>
                        <div class="row ml-0 mr-0" ng-show="CaseAddEdit.OrderId.length === 1">
                            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                                <div class="row no-margin">
                                    <div class="col-sm-6 pl-0">
                                        <label class="text_detlabel case_field">Account Name</label>
                                        <label class="ldet_label" ng-bind="CaseAddEdit.AccountName"></label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text_detlabel case_field">Side Mark</label>
                                        <label class="ldet_label" ng-bind="CaseAddEdit.SideMark"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            </div>
                        </div>
                    </div>
                    <div ng-show="CaseAddEdit.PurchaseOrdersDetailId > 0 || CaseAddEdit.PurchaseOrderId > 0 || CaseAddEdit.OrderId > 0" class="caseview_tooltiphover casecustomer_info tooltiphover" style="margin:20px 0;">
                        <div style="margin:0 15px;">
                            <kendo-grid id="caseGrid01" options="CaseinfoGridOptions" style="border:0 !important;"></kendo-grid>
                            <ul id="dropforGrid" class="dropdown-menu float-right" style="right:33px; position:absolute;">
                                <li><a href="javascript: void (0) " ng-click="EditRowDetails() ">Edit</a></li>
                                <li><a href="javascript: void (0) " ng-click="DeleteRowDetails() ">Delete</a></li>
                                <li><a href="javascript: void (0) " ng-hide="noOfLines1 >= noOfLines" ng-click="CloneWithSameold() ">Copy</a></li>
                            </ul>
                        </div>
                        <!--<kendo-tooltip options="tooltipOptions">
                            <kendo-grid id="caseGrid01" options="CaseinfoGridOptions" style="margin-bottom:40px !important;" tooltip-options="tooltipOptions"></kendo-grid>
                        </kendo-tooltip>-->
                    </div>
                    <div ng-show="CaseId" class="casecustomer_info" style="margin:20px 15px;">
                        <h3>Attachment </h3>
                        <div file-upload></div>
                        <!--<div ng-include src="'app/views/CaseManagement/attachment.html'"></div>-->
                    </div>
                    <div ng-show="CaseId" class="casecustomer_info" style="margin: 20px 0 50px;">
                        <h3 style="margin-left:15px;">System Information </h3>
                        <div class="row ml-0 mr-0">
                            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                                <div class="row no-margin">
                                    <div class="col-sm-6 pl-0">
                                        <label class="text_detlabel case_field">Created By</label>
                                        <label class="ldet_label" ng-bind="CaseAddEdit.Name" style="display:block !important;"></label>
                                        <label class="ldet_label" ng-bind="CaseAddEdit.CaseCreatedDate|GlobalTime: 'short' "></label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text_detlabel case_field">Last Modified By</label>
                                        <label class="ldet_label" ng-bind="CaseAddEdit.LastUPdatedName" style="display:block !important;"></label>
                                        <label class="ldet_label" ng-bind="CaseAddEdit.LastUpdatedOn|GlobalTime: 'short' "></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--VPO Change popup-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog reverse_popup" role="document">
        <div class="modal-content responsive-modal col-sm-7 col-md-9 col-lg-12">
            <div class="modal-header popup_head col-sm-12 col-md-12">
                <h4 class="mx-auto modal-title">Select Lines</h4>
                <button type="button" class="close popup_close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body col-sm-12 col-md-12">
                <div class="table-responsive">
                    <!-- style="margin-bottom:20px;" -->
                    <kendo-grid id="caseGrid0123" options="CaseinfoGridOptions_popup"></kendo-grid>
                </div>
                <div class="detail-wrapper">
                    <div class="row">
                        <div class="col-sm-6 field-wrapper">
                            <div class="state_field">
                                <label class="text_detlabel case_field">Issue Type</label>
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="IssueTypeOptionSelected" ng-options="IssueType.Typevalue for IssueType in IssueTypeOptions">
                                        <option value=""> choose Issue Type </option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 field-wrapper">
                            <div class="state_field">
                                <label class="text_detlabel case_field">Case Reason</label>
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select class="custom-dropdown__select custom-dropdown__select--white" ng-model="CaseReasonOptionSelected" ng-options="CaseReason.Reasonvalue for CaseReason in CaseReasonOptions">
                                        <option value=""> choose Case Reason </option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 field-wrapper">
                            <div class="state_field">
                                <label class="text_detlabel case_field">Issue Description</label>
                                <textarea class="form-control frm_controllead1 required_field" ng-model="IssueDescriptionText"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6 field-wrapper">

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer col-sm-12 col-md-12">
                <button type="reset" class="btn btn-primary cancel_but" ng-click="CancelVPoChangePopup()"> Cancel</button>
                <button type="reset" class="btn btn-primary cancel_but" ng-click="PushRowsToAdditionalInformation()"> Continue with selected line(s)</button>
                <!--<button type="reset" class="btn btn-primary cancel_but" ng-click="Account_view(true)"> Go to Account</button>-->
            </div>
        </div>
    </div>
</div>
<!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="row ml-0 mr-0" ng-show="CaseAddEdit.PurchaseOrdersDetailId > 0 || CaseAddEdit.PurchaseOrderId > 0 || CaseAddEdit.OrderId > 0">
        <div class="col-sm-6 pl-0">
            <h3>Additional Information by Line</h3>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2 no-padding">
            <div class="tp-measurementsearch" ng-hide="noOfLines1 >= noOfLines">
                <!--<input type="button" class="k-button btn cancel_but tpm_but" id="btnAddrow" ng-click="AddRow()" onclick="return false;" value="Add New Row" />-->
                <button type="button" class="plus_but vendoradd_button tooltip-bottom" data-tooltip="Add New Row" id="btnAddrow" ng-click="AddRow()" onclick="return false;" style="margin-right:0"><i class="far fa-plus-square"></i></button>
            </div>   <!--ng-show="!(CaseAddEdit.PurchaseOrdersDetailId > 0)"-->
        </div>
    </div>
</script>

<script>
    document.onclick = function () {
        if ($('#dropforGrid').hasClass("openDrop")) {
            $('#dropforGrid').removeClass("openDrop");
            $('#dropforGrid').css({
                'display': 'none'
            });
        }
    };
</script>