﻿<style>
    #MyHistoryGrid .k-grid-content {
        height: 100% !important;
    }

    .k-pager-wrap {
        width: 100%;
        /*bottom: 30px;*/
        /*position: fixed;*/
        /*overflow: hidden !important;*/
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    .k-grid-content.k-auto-scrollable {
        height: 100% !important;
    }

    #gridMultipartSurface > .k-grid-content.k-auto-scrollable {
        height: 200px !important;
    }
</style>

<div class="outter-wp">
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li rel="tab5">
                <a href="#!/vendors">
                    <h3><i class="far fa-warehouse-alt fa_icon vendor_icon"></i><br />Vendors</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab6">
                <a href="#!/productSearch">
                    <h3><i class="far fa-dolly-flatbed-alt fa_icon vendor_icon"></i><br />Products/Services</h3>
                </a>
            </li>
            <li rel="tab7" style="width: auto !important;">

                <a href="#!/pricingSettings">
                    <h3><i class="far fa-usd-square fa_icon vendor_icon"></i><br />Pricing Management</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/procurement">
                    <h3><i class="fa fa-cogs fa_icon"></i><br />Procurement Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/buyerremorse">
                    <h3><i class="fa fa-cogs fa_icon"></i><br />Sales Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/TaxSettings">
                    <h3><i class="fas fa-landmark fa_icon"></i><br />Tax Settings</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button ng-show="Permission.AddProduct" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="New Product" ng-click="CreateNewProduct()">
                    <i class="far fa-plus-square"></i>
                </button></li>
                <li><button ng-show="Permission.EditProduct" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Edit Product" ng-click="EditProduct1()">
                    <i class="far fa-pen"></i>
                </button></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tp_content my-product">
        <form id="crm-lead-detail" name="productadd">
            <!-- Access error message div -->
            <div class="error" ng-show="!Permission.DisplayProduct">
                You don't have permission to this page.
            </div>
            <div class="p-3" ng-show="Permission.DisplayProduct">
                <div class="leadgrid_box row no-margin">
                        <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                            <!--{{ProductView}}-->
                            <div class="source-group row">
                                <label class="col-sm-3 col-3 text_detlabel">Product Type</label>
                                <div class="col-sm-9 col-9">
                                    <label class="ldet_label">{{ProductView.ProductType}}</label>
                                </div>
                            </div>
                            <div class="source-group row">
                                <label class="col-sm-3 col-3 text_detlabel">Primary Information</label>
                            </div>
                            <div ng-switch="ProductView.ProductType">
                                <div ng-switch-when="Core Product">
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">PIC Product ID</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.PICProductID}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Product ID</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.ProductID}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="ProductView.ProductType == 'Core Product'">
                                <div class="source-group row">
                                    <label class="col-sm-3 col-3 text_detlabel">Product Group</label>
                                    <div class="col-sm-9 col-9">
                                        <label class="ldet_label">{{ProductView.ProductGroupDesc}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="source-group row">
                                <div class="col-sm-3 col-3 text_detlabel" ng-switch="ProductView.ProductType">
                                    <div ng-switch-when="Discount">
                                        <label>Discount Name</label>
                                    </div>
                                    <div ng-switch-when="Core Product">
                                        <label>Product</label>
                                    </div>
                                    <div ng-switch-default>
                                        <label>Product Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-9">
                                    <label class="ldet_label">{{ProductView.ProductName}}</label>
                                </div>
                            </div>
                            <div class="source-group row">
                                <label class="col-sm-3 col-3 text_detlabel">Description</label>
                                <div class="col-sm-9 col-9">
                                    <label class="ldet_label">{{ProductView.Description}}</label>
                                </div>
                            </div>
                            <div class="source-group row">
                                <label class="col-sm-3 col-3 text_detlabel">Product Status</label>
                                <div class="col-sm-9 col-9">
                                    <label class="ldet_label">{{ProductView.ProductStatus}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                            <div ng-if="ProductView.ProductType == 'Service'" style="color: red;">
                                <div class="row11">
                                    <input type="checkbox" disabled class="option-input checkbox" ng-model="ProductView.Taxable" ng-checked='!ProductView.Taxable'>
                                    Mark Service as non-taxable

                                </div>
                                <p>Marking a service as non-taxable may not be in compliance with your local,<br />county or state tax laws. Please consult your accountant/bookkeeper for guidance on tax settings.<br /></p>
                                <p>Please refer to <a href="https://www.avalara.com/taxrates/en/download-tax-tables.html?referrer=&lastReferrer=www.avalara.com&sessionId=1541636968893" target="_blank">[Avalara Tax Table]</a> for current tax rates.</p>
                            </div>
                            <div ng-if="ProductView.ProductType == 'My Product' && BrandId !=1">
                                <div class="row11" style="display:none;">
                                    <input type="checkbox" disabled name="MultipartSurfacing" class="option-input checkbox" ng-model="ProductView.MultipartSurfacing" ng-checked='ProductView.MultipartSurfacing'>
                                    Multi-Part Surfacing Product
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                            <div ng-if="ProductView.ProductType == 'Service'" style="color: red;">
                                <div class="row11">
                                    <input type="checkbox" disabled class="option-input checkbox" ng-model="ProductView.Taxable" ng-checked='!ProductView.Taxable'>
                                    Mark Service as non-taxable
                                </div>
                                <p>Marking a service as non-taxable may not be in compliance with your local,<br />county or state tax laws. Please consult your accountant/bookkeeper for guidance on tax settings.<br /></p>
                                <p>Please refer to <a href="https://www.avalara.com/taxrates/en/download-tax-tables.html?referrer=&lastReferrer=www.avalara.com&sessionId=1541636968893" target="_blank">[Avalara Tax Table]</a> for current tax rates.</p>
                            </div>
                        </div>-->
                </div>

                <!--for core product-->
                <div class="vendor_streetgrid">
                    <div ng-if="ProductView.ProductType != 'Service' && ProductView.ProductType != 'Discount' && ProductView.ProductType != 'My Product'">
                        <h3 ng-if="ProductView.ProductType != 'Service' && ProductView.ProductType != 'Discount'">Vendor Information</h3>
                       
                            <div ng-if="ProductView.ProductType != 'Service' && ProductView.ProductType != 'Discount'">
                                <div class="row" ng-show="Permission.DisplayVendor">
                                    <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Vendor Name</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{ProductView.VendorName}}</label>
                                            </div>
                                        </div>

                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Vendor ID</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{ProductView.VendorID}}</label>
                                            </div>
                                        </div>

                                        <div ng-if="ProductView.ProductType=='Core Product'">
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-3 text_detlabel">Phase Out Date</label>
                                                <div class="col-sm-9 col-9">
                                                    <label class="ldet_label">{{ProductView.PhasedoutDate}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="ProductView.ProductType=='Core Product'">
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-3 text_detlabel">Discontinue Date</label>
                                                <div class="col-sm-9 col-9">
                                                    <label class="ldet_label">{{ProductView.DiscontinuedDate}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="ProductView.ProductType != 'Core Product'">
                                            <div class="source-group row">
                                                <label class="col-sm-3 col-3 text_detlabel">Vendor SKU</label>
                                                <div class="col-sm-9 col-9">
                                                    <label class="ldet_label">{{ProductView.VendorProductSKU}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- need to do -->
                <!--for service-->
                <!--<div ng-if="ProductView.ProductType == 'Service' && ProductView.ProductType !='Core Product' && ProductView.ProductType != 'Discount' ">
                    <h3 ng-if="(ProductView.ProductType != 'Discount') && (ProductView.ProductType !='Core Product')">Classification</h3>
                    <div class="row vendor_topmargin">
                        <div ng-if="(ProductView.ProductType != 'Discount') && (ProductView.ProductType !='Core Product')">
                            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="source-group row">
                                    <label class="col-sm-3 col-3 text_detlabel">Product Category</label>
                                    <div class="col-sm-9 col-9">
                                        <label class="ldet_label">{{ProductView.ProductCategory}}</label>
                                    </div>
                                </div>

                                <div class="source-group row">
                                    <label class="col-sm-3 col-3 text_detlabel">Product Sub Category</label>
                                    <div class="col-sm-9 col-9">
                                        <label class="ldet_label">{{ProductView.ProductSubCategory}}</label>
                                    </div>
                                </div>

                                <div class="source-group row" ng-if="ProductView.FranchiseId==0">
                                    <label class="col-sm-3 col-3 text_detlabel">PIC Product ID</label>
                                    <div class="col-sm-9 col-9">
                                        <label class="ldet_label">{{ProductView.PICProductID}}</label>
                </div>-->
                <!--for service-->
                <div ng-show="ProductView.ProductType == 'Service' && ProductView.ProductType !='Core Product' && ProductView.ProductType != 'Discount' ">
                    <h3 ng-show="(ProductView.ProductType != 'Discount') && (ProductView.ProductType !='Core Product')">Classification</h3>
                  
                        <div class="row" ng-if="(ProductView.ProductType != 'Discount') && (ProductView.ProductType !='Core Product')">
                            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="source-group row">
                                    <label class="col-sm-3 col-3 text_detlabel">Product Category</label>
                                    <div class="col-sm-9 col-9">
                                        <label class="ldet_label">{{ProductView.ProductCategory}}</label>
                                    </div>
                                </div>
                                <div ng-if="ProductView.VendorType==1">
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Model</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.Model}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Collection</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.Collection}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Color</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.Color}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <h3 ng-if="ProductView.ProductType != 'Discount' && ProductView.ProductType !='Core Product'">Sales Information</h3>
                    <div ng-if="ProductView.ProductType != 'Discount' && ProductView.ProductType !='Core Product'">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="row form-group territory_group">
                                    <div class="col-sm-6 col-6">
                                        <label id="Cost" class="col-5 col-5 text_detlabel">Cost</label>
                                        <div class="col-7 col-7 pr-0">
                                            <label class="ldet_label">{{ProductView.Cost |  GlobalCurrency}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-6">
                                        <label id="Cost" class="col-sm-6 col-6 text_detlabel">Unit Price</label>
                                        <div class="col-sm-6 col-6 pr-0">
                                            <label class="ldet_label">{{ProductView.SalePrice |  GlobalCurrency}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="isSurfacingLabour">
                        <div ng-if="BrandId == 3">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                    <div class="row form-group territory_group">
                                        <div class="col-sm-6 col-6">
                                            <label id="MinJobSize" class="col-5 col-5 text_detlabel">Minimum Job Size</label>
                                            <div class="col-7 col-7 pr-0">
                                                <label class="ldet_label">{{ProductView.ProductSurfaceSetup.MinimumJobSize}}</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-6">
                                            <label id="MaxJobSize" class="col-sm-6 col-6 text_detlabel">Maximum Job Size</label>
                                            <div class="col-sm-6 col-6 pr-0">
                                                <label class="ldet_label">{{ProductView.ProductSurfaceSetup.MaximumJobSize}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--</div>-->
                        </div>

                        <div class="kendo_panelproduct row">
                            <div ng-if="Permission.ListLaborSetup">
                                <div class="table-responsive" style="padding:0 15px;">
                                    <!--<kendo-tooltip options="kendotooltipOptions">-->
                                    <kendo-grid id="gridSurfaceLaborSetup" options="EditLaborSetup"></kendo-grid>
                                    <!--</kendo-tooltip>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--for others-->
                <div ng-if="ProductView.ProductType != 'Service' && ProductView.ProductType != 'Discount' && ProductView.ProductType != 'Core Product'">
                    <h3 ng-if="(ProductView.ProductType != 'Discount') && (ProductView.ProductType !='Core Product')">Classification</h3>
                   
                        <div class="row mx-0 mt-3" ng-if="(ProductView.ProductType != 'Discount') && (ProductView.ProductType !='Core Product')">
                            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="source-group row">
                                    <label class="col-sm-3 col-3 text_detlabel">Product Category</label>
                                    <div class="col-sm-9 col-9">
                                        <label class="ldet_label">{{ProductView.ProductCategory}}</label>
                                    </div>
                                </div>
                                <div ng-if="ProductView.ProductType != 'Service'">
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Product Sub Category</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.ProductSubCategory}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="source-group row" ng-if="ProductView.FranchiseId==0">
                                    <label class="col-sm-3 col-3 text_detlabel">PIC Product ID</label>
                                    <div class="col-sm-9 col-9">
                                        <label class="ldet_label">{{ProductView.PICProductID}}</label>
                                    </div>
                                </div>
                                <div ng-if="ProductView.VendorType==1">
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Model</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.Model}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Collection</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.Collection}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Color</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.Color}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <h3 ng-if="ProductView.ProductType != 'Service' && ProductView.ProductType != 'Discount'">Vendor Information</h3>
                        <div ng-if="ProductView.ProductType != 'Service' && ProductView.ProductType != 'Discount'">
                            <div class="row mx-0 mt-3" ng-show="Permission.DisplayVendor">
                                <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Vendor Name</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.VendorName}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 col-3 text_detlabel">Vendor ID</label>
                                        <div class="col-sm-9 col-9">
                                            <label class="ldet_label">{{ProductView.VendorID}}</label>
                                        </div>
                                    </div>
                                    <div ng-if="ProductView.ProductType=='Core Product'">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Phase Out Date</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{ProductView.PhasedoutDate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="ProductView.ProductType=='Core Product'">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Discontinue Date</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{ProductView.DiscontinuedDate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="ProductView.ProductType != 'Core Product'">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-3 text_detlabel">Vendor SKU</label>
                                            <div class="col-sm-9 col-9">
                                                <label class="ldet_label">{{ProductView.VendorProductSKU}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <h3 ng-if="ProductView.ProductType != 'Discount' && ProductView.ProductType !='Core Product'">Sales Information</h3>
                 
                        <div class="row mx-0 mt-3" ng-if="ProductView.ProductType != 'Discount' && ProductView.ProductType !='Core Product'">
                            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="row form-group territory_group">
                                    <div class="col-sm-6 col-6 row no-margin">
                                        <label id="Cost" class="col-5 col-5 text_detlabel">Cost</label>
                                        <div class="col-7 col-7 pr-0">
                                            <label class="ldet_label">{{ProductView.Cost |  GlobalCurrency}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-6 row no-margin">
                                        <label id="Cost" class="col-sm-6 col-6 text_detlabel">Unit Price</label>
                                        <div class="col-sm-6 col-6 pr-0">
                                            <label class="ldet_label">{{ProductView.SalePrice |  GlobalCurrency}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    <h3 ng-if="ProductView.ProductType != 4 && ProductView.ProductType !=1 && ProductView.MultipartSurfacing == true" style="font-weight:bold;display:none;">Attributes</h3>
                    <div ng-show="ProductView.MultipartSurfacing" style="display:none;">
                            <div class="row source-group ">
                                <div class="col-1 col-sm-1 required_label">
                                    <label class="required_label">Colors</label>
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c1" ng-model="ProductView.Attributes.color1" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c2" ng-model="ProductView.Attributes.color2" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c3" ng-model="ProductView.Attributes.color3" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c4" ng-model="ProductView.Attributes.color4" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c5" ng-model="ProductView.Attributes.color5" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c6" ng-model="ProductView.Attributes.color6" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c7" ng-model="ProductView.Attributes.color7" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c8" ng-model="ProductView.Attributes.color8" />
                                </div>
                            </div>
                            <div class="row source-group ">
                                <div class="col-1 col-sm-1 required_label">
                                    <input type="checkbox" name="ColorEnable" disabled class="option-input checkbox" ng-model="ProductView.Attributes.colorEnabled"><label class="required_label">Enabled</label>
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c9" ng-model="ProductView.Attributes.color9" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c10" ng-model="ProductView.Attributes.color10" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c11" ng-model="ProductView.Attributes.color11" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c12" ng-model="ProductView.Attributes.color12" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c13" ng-model="ProductView.Attributes.color13" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c14" ng-model="ProductView.Attributes.color14" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c15" ng-model="ProductView.Attributes.color15" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="c16" ng-model="ProductView.Attributes.color16" />
                                </div>
                            </div>
                            <div class="row source-group ">
                                <div class="col-1 col-sm-1 required_label">
                                    <label class="required_label">Finishes</label>
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f1" ng-model="ProductView.Attributes.finishes1" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f2" ng-model="ProductView.Attributes.finishes2" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f3" ng-model="ProductView.Attributes.finishes3" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f4" ng-model="ProductView.Attributes.finishes4" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f5" ng-model="ProductView.Attributes.finishes5" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f6" ng-model="ProductView.Attributes.finishes6" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f7" ng-model="ProductView.Attributes.finishes7" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f8" ng-model="ProductView.Attributes.finishes8" />
                                </div>
                            </div>
                            <div class="row source-group ">
                                <div class="col-1 col-sm-1 required_label">
                                    <input type="checkbox" name="ColorEnable" disabled class="option-input checkbox" ng-model="ProductView.Attributes.finishesEnabled"><label class="required_label">Enabled</label>
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f9" ng-model="ProductView.Attributes.finishes9" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f10" ng-model="ProductView.Attributes.finishes10" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f11" ng-model="ProductView.Attributes.finishes11" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f12" ng-model="ProductView.Attributes.finishes12" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f13" ng-model="ProductView.Attributes.finishes13" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f14" ng-model="ProductView.Attributes.finishes14" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f15" ng-model="ProductView.Attributes.finishes15" />
                                </div>
                                <div class="col-1 col-sm-1">
                                    <input type="text" class="frm_controllead1" readonly name="f16" ng-model="ProductView.Attributes.finishes16" />
                                </div>
                            </div>
                        <div class="row" style="display:none;">
                            <div class="col-12 col-sm-12 col_1" style="padding: 0 15px !important;">
                                <kendo-grid id="gridMultipartSurface" options="EditMultipartSurface"></kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="ProductView.ProductType == 'Discount' && ProductView.ProductType != 'Service' && ProductView.ProductType != 'Core Product'">
                    <h3 ng-if="ProductView.ProductType == 'Discount' && ProductView.ProductType !='Core Product'">Sales Information</h3>
                   
                        <div ng-if="ProductView.ProductType == 'Discount' && ProductView.ProductType !='Core Product'">
                            <div class="row mt-3">
                                <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                    <div class="row form-group territory_group">
                                        <div class="col-sm-6 col-6 row no-margin">
                                            <label id="Cost" class="col-5 col-5 text_detlabel">Discount Value</label>
                                            <div class="col-7 col-7 pr-0">
                                                <label class="ldet_label">{{ProductView.Discount}}</label>
                                                &nbsp;&nbsp;&nbsp;
                                                <label class="ldet_label">{{ProductView.DiscountType}}</label>
                                            </div>
                                        </div>
                                        <!--<div class="col-sm-6">
                    <label id="Cost" class="col-sm-6 text_detlabel">Unit Price</label>
                    <div class="col-sm-6 pr-0">
                        <label class="ldet_label">{{ProductView.DiscountType}}</label>
                    </div>
                </div>-->
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="mx-3 pb-5" ng-if="ProductView.ProductType === 'My Product' ">
               <h3 class="mb-3">Price Change Log</h3>
                    <kendo-grid id="MyHistoryGrid"
                               options="MyTaskGridOptions">
                    </kendo-grid>
            </div>

            <!--empty for discount-->
            <!--<div ng-if="(Product.ProductType != 'Discount') && (Product.ProductType !='Core Product')">
                <div class="vendor_streetgrid">
                    <div style="margin-top: 15px;margin-bottom:30px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                        <span style="background-color:#f7f7f7; font-weight:bold; cursor: pointer; position: relative; top: -9px;" ng-click="DisplayMore = !DisplayMore">
                            &nbsp;&nbsp;&nbsp;&nbsp;Classification&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </div>
                </div>
            </div>
            <!--empty for discount-->
            <!--<div ng-if="(Product.ProductType != 'Discount') && (Product.ProductType !='Core Product')">
                <div class="vendor_streetgrid">
                    <div style="margin-top: 15px;margin-bottom:30px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                        <span style="background-color:#f7f7f7; font-weight:bold; cursor: pointer; position: relative; top: -9px;" ng-click="DisplayMore = !DisplayMore">
                            &nbsp;&nbsp;&nbsp;&nbsp;Classification&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </div>
                    <div class="expand_info" ng-show="DisplayMore">
                        <div class="leadgrid_box">
                            <div class="lead_rtop row">
                                <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">

                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 text_detlabel">Product Category</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{Product.ProductCategory}}</label>
                                        </div>
                                    </div>

                                    <div ng-if="Product.ProductType != 'Service'">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Product Sub Category</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Product.ProductSubCategory}}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row ml-0 mr-0" ng-if="Product.FranchiseId==0">
                                        <label class="col-sm-3 text_detlabel">PIC Product ID</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{Product.PICProductID}}</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div ng-if="Product.ProductType != 'Service' && Product.ProductType != 'Discount'">
                <div class="vendor_streetgrid" ng-show="Permission.DisplayVendor">
                    <div style="margin-top: 15px;margin-bottom:30px;height: 1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                        <span style="background-color:#f7f7f7; cursor: pointer; font-weight:bold; position: relative; top: -9px;" ng-click="DisplayMore1 = !DisplayMore1">
                            &nbsp;&nbsp;&nbsp;&nbsp;Vendor Information&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </div>
                    <div class="expand_info" ng-show="DisplayMore1">
                        <div class="leadgrid_box">
                            <div class="lead_rtop row">
                                <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">

                                    <div class="form-group row ml-0 mr-0">

                                        <label class="col-sm-3 text_detlabel">Vendor Name</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{Product.VendorName}}</label>
                                        </div>
                                    </div>

                                    <div class="form-group row ml-0 mr-0">
                                        <label class="col-sm-3 text_detlabel">Vendor ID</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{Product.VendorID}}</label>
                                        </div>
                                    </div>

                                    <div ng-if="Product.ProductType=='Core Product'">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Product Collection</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Product.ProductCollection}}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="Product.ProductType=='Core Product'">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Product Category</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Product.ProductCategory}}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="Product.ProductType=='Core Product'">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Product Model ID</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Product.ProductModelID}}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="Product.ProductType != 'Core Product'">
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 text_detlabel">Vendor SKU</label>
                                            <div class="col-sm-9">
                                                <label class="ldet_label">{{Product.VendorProductSKU}}</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div ng-if="Product.ProductType != 'Discount' && Product.ProductType !='Core Product'">
                <div class="vendor_streetgrid" ng-show="Permission.DisplaySalesInfo">
                    <div style="margin-top: 15px;margin-bottom:30px;height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                        <span style="background-color:#f7f7f7; cursor: pointer; font-weight:bold; position: relative; top: -9px;" ng-click="DisplayMore2 = !DisplayMore2">
                            &nbsp;&nbsp;&nbsp;&nbsp;Sales Information&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </div>
                    <div class="expand_info" ng-show="DisplayMore2">
                        <div class="leadgrid_box">
                            <div class="lead_rtop row">
                                <div class="col-12 col-sm-12 col-md-6 col-xl-6 col_1">

                                    <div class="row form-group">
                                        <div class="col-sm-6 ldetslt_field">
                                            <div class="row ml-0 mr-0">
                                                <label id="Cost" class="col-5 text_detlabel">Cost</label>
                                                <div class="col-7 lstatus_right">
                                        <label class="ldet_label">&nbsp;{{Product.Cost |  GlobalCurrency}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 ldetsrt_field">
                                            <div class="row ml-0 mr-0">
                                                <label id="Cost" class="col-sm-6 text_detlabel">Unit Price</label>
                                                <div class="col-sm-6">

                                        <label class="ldet_label">&nbsp;{{Product.SalePrice |  GlobalCurrency}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

        </form>
    </div>
</div>
<script id="headToolbarTemplate" type="text/x-kendo-template">
    <div class="tp-measurementsearch row no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-12 col-lg-12 col-12 no-padding">
            <div class="col-4 col-sm-4 newrow_search float-right" style="margin-right:15px;">
                
            </div>
        </div>
    </div>
</script>
<script id="MultipartToolbar" type="text/x-kendo-template">
    <div class="tp-measurementsearch row no-margin">
        <div class="leadsearch_topleft row no-margin col-sm-12 col-md-12 col-12">
            <div class="col-4 col-sm-4 newrow_search float-left pl-0" style="padding-top:8px;">
                <label>Components</label>
            </div>
        </div>
    </div>
</script> 