﻿<div>
    <div class="modal fade" id="resurfacingProductforFlooring" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog" style="width:45%">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Update Flooring System Products From Master List</h4>
                </div>
                <form name="FlooringSystem_form" role="form">
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="source-group row">
                                <div>
                                    <label class="ldet_label"><input id="flooring1" type="radio" class="option-input radio radio_space" value="1" ng-model="ResurfacingProduct.Type" name="Type" />Refresh ALL products in Flooring Systems Category</label>
                                </div>
                                <div>
                                    <label class="ldet_label"><input id="flooring2" type="radio" class="option-input radio radio_space" value="2" ng-model="ResurfacingProduct.Type" name="Type" />Add new products ONLY</label>
                                </div>
                                <div>
                                    <label class="ldet_label"><input id="flooring3" type="radio" class="option-input radio radio_space" value="3" ng-model="ResurfacingProduct.Type" name="Type" />Update vendor prices ONLY</label>
                                </div>
                            </div>
                            <label class="text-danger" ng-if="ResurfacingProduct.req_validation">Please select any one option.</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="reset" class="btn btn-cancel" ng-click="ResurfacingProduct.CancelPopup('resurfacingProductforFlooring')">Cancel</button>
                            <button type="button" class="btn btn-cancel" ng-click="ResurfacingProduct.LoadTLPopup(ResurfacingProduct.Type,'resurfacingProductforFlooring')">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="resurfacingProductforConcrete" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog" style="width:45%">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Update Concrete System Products From Master List</h4>
                </div>
                <form name="ConcreteSystem_form" role="form">
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div id="radio" class="source-group row">
                                <div>
                                    <label class="ldet_label"><input id="Concrete1" type="radio" class="option-input radio radio_space" value="1" ng-model="ResurfacingProduct.Type" name="Type" />Refresh ALL products in Concrete Systems Category</label>
                                </div>
                                <div>
                                    <label class="ldet_label"><input id="Concrete2" type="radio" class="option-input radio radio_space" value="2" ng-model="ResurfacingProduct.Type" name="Type" />Add new products ONLY</label>
                                </div>
                                <div>
                                    <label class="ldet_label"><input id="Concrete3" type="radio" class="option-input radio radio_space" value="3" ng-model="ResurfacingProduct.Type" name="Type" />Update vendor prices ONLY</label>
                                </div>
                            </div>
                            <label style="color:red" ng-if="ResurfacingProduct.req_validation">Please select any one option.</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="reset" class="btn btn-cancel" ng-click="ResurfacingProduct.CancelPopup('resurfacingProductforConcrete')">Cancel</button>
                            <button type="button" class="btn btn-cancel" ng-click="ResurfacingProduct.LoadCCPopup(ResurfacingProduct.Type,'resurfacingProductforConcrete')">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LoadCCAllProduct" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog" style="width:45%">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Update Concrete System Products From Master List</h4>
                </div>
                <form name="LoadCCAllProduct_form" role="form">
                    <div class="modal-body">
                        <div class="form-group row m-2 text-center font-weight-bold">
                            Are you sure?
                        </div>
                        <div class="form-group row m-2 text-center">
                            If you continue, ALL products in the Master List will be REPLACED in your setup for Concrete Systems. All previous personalization will be lost.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="reset" class="tooltip-bottom cancel_tpbut" ng-click="ResurfacingProduct.CancelPopup('LoadCCAllProduct')"><i class="far fa-times-circle fa_icon"></i></button>
                            <button type="submit" class="tooltip-bottom save_tpbut" ng-click="ResurfacingProduct.ImportProducts('AllProduct')"><i class="far fa-check-circle fa_icon"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LoadTLAllProduct" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog" style="width:45%">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Update Flooring System Products From Master List</h4>
                </div>
                <form name="LoadTLAllProduct_form" role="form">
                    <div class="modal-body">
                        <div class="form-group row m-2 text-center font-weight-bold">
                            Are you sure?
                        </div>
                        <div class="form-group row m-2 text-center">
                            If you continue, ALL products in the Master List will be REPLACED in your setup for Flooring Systems. All previous personalization will be lost.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="reset" class="tooltip-bottom cancel_tpbut" ng-click="ResurfacingProduct.CancelPopup('LoadTLAllProduct')"><i class="far fa-times-circle fa_icon"></i></button>
                            <button type="submit" class="tooltip-bottom save_tpbut" ng-click="ResurfacingProduct.ImportProducts('AllProduct')"><i class="far fa-check-circle fa_icon"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LoadCCNewProduct" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog" style="width:45%">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Update Concrete System Products From Master List</h4>
                </div>
                <form name="LoadCCNewProduct_form" role="form">
                    <div class="modal-body">
                        <div class="form-group row m-2 text-center font-weight-bold">
                            Are you sure?
                        </div>
                        <div class="form-group row m-2 text-center">
                            If you continue, new products in the Master List will be added to your setup for Concrete Systems. No other Concrete Systems products will be changed.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="reset" class="tooltip-bottom cancel_tpbut" ng-click="ResurfacingProduct.CancelPopup('LoadCCNewProduct')"><i class="far fa-times-circle fa_icon"></i></button>
                            <button type="submit" class="tooltip-bottom save_tpbut" ng-click="ResurfacingProduct.ImportProducts('NewProducts')"><i class="far fa-check-circle fa_icon"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LoadTLNewProduct" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog" style="width:45%">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Update Flooring System Products From Master List</h4>
                </div>
                <form name="LoadTLNewProduct_form" role="form">
                    <div class="modal-body">
                        <div class="form-group row m-2 text-center font-weight-bold">
                            Are you sure?
                        </div>
                        <div class="form-group row m-2 text-center">
                            If you continue, new products in the Master List will be added to your setup for Flooring Systems. No other Flooring Systems products will be changed.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="reset" class="tooltip-bottom cancel_tpbut" ng-click="ResurfacingProduct.CancelPopup('LoadTLNewProduct')"><i class="far fa-times-circle fa_icon"></i></button>
                            <button type="submit" class="tooltip-bottom save_tpbut" ng-click="ResurfacingProduct.ImportProducts('NewProducts')"><i class="far fa-check-circle fa_icon"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LoadCCUpdateProduct" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog" style="width:45%">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Update Concrete System Products From Master List</h4>
                </div>
                <form name="LoadCCUpdateProduct_form" role="form">
                    <div class="modal-body">
                        <div class="form-group row m-2 text-center font-weight-bold">
                            Are you sure?
                        </div>
                        <div class="form-group row m-2 text-center">
                            If you continue, the Vendor Costs for Concrete Systems will be updated from the HFC Master List. No other changes will occur.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="reset" class="tooltip-bottom cancel_tpbut" ng-click="ResurfacingProduct.CancelPopup('LoadCCUpdateProduct')"><i class="far fa-times-circle fa_icon"></i></button>
                            <button type="submit" class="tooltip-bottom save_tpbut" ng-click="ResurfacingProduct.ImportProducts('UpdateVendorCost')"><i class="far fa-check-circle fa_icon"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LoadTLUpdateProduct" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog" style="width:45%">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Update Flooring System Products From Master List</h4>
                </div>
                <form name="LoadTLUpdateProduct_form" role="form">
                    <div class="modal-body">
                        <div class="form-group row m-2 text-center font-weight-bold">
                            Are you sure?
                        </div>
                        <div class="form-group row m-2 text-center">
                            If you continue, the Vendor Costs for Flooring Systems will be updated from the HFC Master List. No other changes will occur.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="reset" class="tooltip-bottom cancel_tpbut" ng-click="ResurfacingProduct.CancelPopup('LoadTLUpdateProduct')"><i class="far fa-times-circle fa_icon"></i></button>
                            <button type="submit" class="tooltip-bottom save_tpbut" ng-click="ResurfacingProduct.ImportProducts('UpdateVendorCost')"><i class="far fa-check-circle fa_icon"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <style>

        .leaddetail_butns1 {
            float: right;
            margin: 7px 20px 0 0;
        }

        .row-group {
            margin: 0;
        }

        .config-response {
            margin: 0 auto;
            text-align: center;
        }

        .pErrorDetails {
            width: 100%;
            height: 200px;
            overflow-y: auto;
        }

        .modal-body {
            max-height: 600px !important;
        }

        .spanLabelTop {
            padding-top: 8px;
        }

        .modal-dialog {
            width: 70%;
        }

        .modal-body {
            max-height: unset !important;
        }

            .modal-body.adres_popup {
                overflow-x: hidden;
            }

        .text-center {
            text-align: center !important;
        }

        .text-right {
            text-align: right !important;
        }
    </style>
</div>
