﻿<style>
    span.k-state-selected, span.k-state-selected:hover {
        height: auto;
        width: auto;
    }

    .k-state-selected {
        width : auto;
    }


    .categoryTree ul {
        margin: 0 auto;
        padding: 0;
    }

    label {
        display: block;
      }

    /*ul:nth-child(2) {
        margin-left: 30px !important;
    }

    ul:nth-child(3) {
        margin-left: 60px !important;
    }*/

    .width30 {
        width: 30px !important;
    }

    .width40 {
        width: 40px !important;
    }

    /* The wider this li is, the fewer columns there will be */
    ul.multiple_columns li {
        text-align: left;
    float: left;
    list-style: none;
    height: 25px;
    width: 250px;
    margin-bottom: 0px !important;
    margin-top: 5px;
    }
    ul.multiple_columns li:last-child {
        width: auto;
    }
    /*ul.multiple_columns {
        margin-left: -30px;
    }*/

    .width160 {
        width: 160px !important;
    }

    .disabled {
        /*pointer-events:none;*/
        opacity: 0.6;
    }

    .ng-scope.k-top, .k-mid.ng-scope {
        background: none;
        color: black;
    }

    // commented after highlighter width issue
    /*.k-state-selected .plus_but {
        color: purple;
     }*/
    
            .k-treeview .k-in {
            border-style: none;
            border-width: 0px;
        }

 k-treeview .k-in.k-state-hover, .k-treeview .k-in.k-state-selected {
  border-style: none;
  border-width: 0;
  padding: 2px 4px 2px 3px;
}

 /* after highlighter width issue | Auto width Child items, removed after below code was introduced */
    .k-treeview .k-item {
        float: left;
        clear: both;
    }
    .k-in.k-state-selected .plus_but {
        color:white;
    }
.k-state-hover, .k-state-hover:hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-list > .k-state-hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-pager-wrap .k-link:hover, .k-dropdown .k-state-focused, .k-filebrowser-dropzone, .k-mobile-list .k-item > .k-link:active, .k-mobile-list .k-item > .k-label:active, .k-mobile-list .k-edit-label.k-check:active, .k-mobile-list .k-recur-view .k-check:active {
    background:transparent !important;
}
.required-error {
        border: 1px solid red !important;
        color: red !important;
    }
.tooltip .procurement_tooltip:after, [data-tooltip]:after {
    width: 120px !important;
    white-space: pre-wrap;
    text-align: center;
}
.k-treeview {
    overflow: visible !important;
}
</style>
<div class="outter-wp">
    <div class="tab_container tp_content">
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li class="activelead1" rel="tab8">
                        <a href="#!/productCategory">
                            <h3><i class="fal fa-clipboard-list fa_icon"></i><br />Category Management</h3>
                        </a>
                    </li>
                    <li  rel="tab8">
                        <a href="#!/CoreProductModel">
                            <h3><i class="fas fa-dolly fa_icon"></i><br />Core Product Management</h3>
                        </a>
                    </li>
                    <li style="display:none">
                        <a href="#!/productSearch">
                            <h3><i class="far fa-dolly-flatbed-alt fa_icon"></i><br />Product Management</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <button ng-if="!allowEdit && Permission.EditProductService" type="button" class="plus_but tooltip-bottom" data-tooltip="Edit Categories" ng-click="editCategory()">
                        <i class="far fa-pen fa_icon"></i>
                    </button>
                    <button ng-if="allowEdit && (Permission.AddProductService || Permission.EditProductService)" type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="editCategory()">
                        <i class="far fa-times-circle fa_icon"></i>
                    </button>
                    <button ng-if="allowEdit && (Permission.AddProductService || Permission.EditProductService)" ng-disabled="!isSave" type="submit" class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="saveAll()">
                        <i class="far fa-check-circle fa_icon"></i>
                    </button>
                </div>
                <div class="clearfix"> </div>
            </div>


            <div class="tpadmin-inactive" ng-show="Permission.ViewProductService">
                <div class="fran_brcrms row no-margin">
                    <div class="col-sm-4">
                            <select class="custom-select" ng-model="selectedBrand" ng-change="BrandSelect(selectedBrand)"
                                    data-ng-options="brandList as brandList.name for brandList in brandList" ng-init="selectedBrand = brandList[0]"></select>
                        </div>
                        <div class="col-sm-3 mt-2">
                            <!--<span class="field hd_cbox">-->

                                <!--<input class="option-input" name="SourceCheck" style="margin-right:5px;" type="checkbox" ng-click="IsSuspendSelect()"><label>Show Inactive</label>-->

                                <input class="option-input checkbox" type="checkbox" value="" ng-click="IsSuspendSelect()">
                                <label class="ldet_label" style="display: inline-block;">Show Inactive</label>
                            <!--</span>-->
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
            </div>

            <div ng-if="allowEdit">
                <div class="error error_msg" ng-if="!Permission.ViewProductService" style="padding-top:30px;padding-left:20px;">
                    You don't have permission to this page.
                </div>
                <div class="p-3" ng-show="Permission.ViewProductService">
                        <div class="lead_rtop row">
                            <div class="col-xs-12 col-sm-12 col-md-11 col-xl-11 col_1">
                                <div kendo-tree-view="tree" k-data-source="treeData" class="hasMenu" k-on-change="selectedItem = dataItem" id="categoryTree">
                                    <div k-template ng-class="{disabled: !dataItem.isCatActive}">
                                        <ul class="editcategory_list">
                                            <li ng-show="!dataItem.editorEnabled " ng-click="editNode(dataItem, 'cat-'+dataItem.id+dataItem.temp_id)" ng-class="{width45: !dataItem.allowEdit, width120: !dataItem.allowAdd}">
                                                <span ng-if="dataItem.allowEdit" ng-click="editNode(dataItem, 'cat-'+dataItem.id+dataItem.temp_id)" >
                                                    {{dataItem.text}}
                                                </span>
                                                <span ng-if="!dataItem.allowEdit" >
                                                    {{dataItem.text}}
                                                    <span style="margin-left:450px;">{{dataItem.text1}}</span>
                                                    <span style="margin-left:114px;">{{dataItem.text2}}</span>
                                                </span>
                                            </li>
                                            <li ng-if="dataItem.editorEnabled">
                                                <input ng-model="dataItem.editableData" placeholder="Required" id="cat-{{dataItem.id + dataItem.temp_id}}" class="form-control width160 required_field " ng-blur='updateNode(dataItem)' ng-keyup="removevalidateclass(dataItem)">
                                            </li>
                                            <li ng-if="dataItem.isCatActive && !dataItem.isParent">
                                                <input type="checkbox" ng-model = "dataItem.IsActive" ng-click="onInactive(dataItem)" checked  >
                                            </li>
                                            <li ng-if="!dataItem.isCatActive && !dataItem.isParent">
                                                <input type="checkbox" ng-model = "dataItem.IsActive"  ng-click="changeToActive(dataItem)"  >
                                            </li>
                                            <li ng-if="dataItem.allowTextbox" style="margin-right:10px;">
                                                <input type="text" id="PICGroupId" placeholder="Required" name="tax_code" ng-model="dataItem.PICGroupId" class="form-control frm_controllead1 ng-touched tooltip-bottom required_field " maxlength="9" ng-blur='updateTaxCode(dataItem)' ng-keyup="removevalidateclass(dataItem)">
                                             </li>
                                            <li ng-if="dataItem.allowTextbox">
                                                <input type="text" id="PICProductId" placeholder="Required" name="tax_code" ng-model="dataItem.PICProductId" class="form-control frm_controllead1 ng-touched tooltip-bottom required_field " maxlength="9" ng-blur='updateTaxCode(dataItem)' ng-keyup="removevalidateclass(dataItem)">
                                            </li>

                                            <li ng-if="dataItem.allowAdd && (Permission.AddProductService || Permission.EditProductService)">
                                                <button type="button" ng-disabled="!isSave" class="plus_but middle_pbut tooltip-bottom" ng-click="addNew(dataItem)">
                                                    <i class="far fa-plus-square vendor_icon " ></i>
                                                </button>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-1 col-xl-1 col_1"></div>
                            </div>
                   
                </div>
            </div>


            <div ng-if="!allowEdit">
                <div class="error error_msg" ng-if="!Permission.ViewProductService" style="padding-top:30px;padding-left:20px;">
                    You don't have permission to this page.
                </div>
                <div class="p-3" ng-show="Permission.ViewProductService">
                        <div class="lead_rtop row">
                            <div class="col-xs-12 col-sm-12 col_1">
                                <div kendo-tree-view="tree" k-data-source="treeData" class="hasMenu" k-on-change="selectedItem = dataItem" id="categoryTree">
                                    <div k-template ng-class="{disabled: !dataItem.isCatActive}">
                                        <ul class="multiple_columns">
                                            <li>
                                                <div style="float:left; margin-right:20px; text-align:left;" class="tooltip-bottom" ng-class="{width160: !dataItem.allowAdd}" data-tooltip="{{dataItem.text}}">
                                                {{dataItem.text}} </div>
                                                <div style="float:right; margin-right:20px;"><input type="checkbox" ng-if="dataItem.isCatActive && !dataItem.isParent" checked disabled></div>
                                                <div style="float:right; margin-right:20px;"><input type="checkbox" ng-if="!dataItem.isCatActive && !dataItem.isParent" disabled></div>
                                            </li>
                                            <li>
                                                <div class="tooltip-bottom" data-tooltip="{{dataItem.text1}}">{{dataItem.text1}}</div>
                                                <div ng-if="dataItem.PICGroupId" class="tooltip-bottom" data-tooltip="{{dataItem.PICGroupId}}">{{dataItem.PICGroupId}}</div>
                                            </li>
                                            <li>
                                                <div class="tooltip-bottom" data-tooltip="{{dataItem.text2}}">{{dataItem.text2}}</div>
                                                <div ng-if="dataItem.PICProductId" class="tooltip-bottom" data-tooltip="{{dataItem.PICProductId}}">{{dataItem.PICProductId}}</div>
                                            </li>
                                        </ul>




                                            <!--<ul class="multiple_columns">
                                                <li ng-class="{width160: !dataItem.allowAdd}" data-tooltip="{{dataItem.text}}">
                                                    {{dataItem.text}}
                                                    <span style="margin-left:179px;" data-tooltip="{{dataItem.text1}}">{{dataItem.text1}}</span>
                                                    <span style="margin-left:102px;" data-tooltip="{{dataItem.text2}}">{{dataItem.text2}}</span>
                                                </li>
                                                <li class="width40">
                                                    <input type="checkbox" ng-if="dataItem.isCatActive && !dataItem.isParent" checked disabled>
                                                    <input type="checkbox" ng-if="!dataItem.isCatActive && !dataItem.isParent" disabled>
                                                </li>
                                                <li>
                                                    <label ng-if="dataItem.PICGroupId" data-tooltip="{{dataItem.PICGroupId}}">{{dataItem.PICGroupId}}</label>
                                                </li>
                                                <li>
                                                    <label ng-if="dataItem.PICProductId" data-tooltip="{{dataItem.PICProductId}}">{{dataItem.PICProductId}}</label>
                                                </li>
                                            </ul>-->
                          </div>
                                </div>
                                <div>
                                </div>
                                <div>
                                </div>
                            </div>
                           </div> 
                </div>
            </div>
        </div>
    </div>

