﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }
    
    .errormob {
        margin-left: 179px;
    }

    .errortext, .errorTP {
        color: red !important;
    }

    .has-error .readiocheck,  .has-error .radio {
        border-color: #a94442;
    }

    .tab_container .appointment .addres_link strong {
        font-size: 14px;
    }

</style>

<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>

<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li class="active"><a href="/#!/leadsSearch/">Leads</a></li>
                        <li><a href="/#!/accountSearch/">Accounts</a></li>
                        <li><a href="/#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="/#!/orderSearch/">Orders</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right my-navbar-right">
                        <li ng-if="HFCService.GetPermissionTP('Add Notes').CanAccess">
                            <button type="button" class="tooltip-bottom sw_icon"
                                    data-tooltip="New Note" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddNoteTP()"></button>
                        </li>
                        <li ng-if="Permission.AddEvent">

                            <a href="/#!/Calendar/{{HFCService.PathType}}/{{HFCService.PathId}}" type="button" class="tooltip-bottom pad_icon"
                               data-tooltip="Add Appointment">
                            </a>
                        </li>
                        <li ng-if="Permission.AddEvent">
                            <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Add Task"
                                    ng-click="PersonService.AddLeadAppointment('persongo',this.aptmtCtrl.Lead.LeadId,'task')">
                                <i class="far fa-tasks task_icon"></i>
                            </button>
                        </li>
                        <li ng-if="HFCService.GetPermissionTP('Add Notes').CanAccess">
                            <button type="button" class="tooltip-bottom note_icon"
                                    data-tooltip="New Attachment" ng-disabled="IsBusy"
                                    ng-click="NoteServiceTP.AddAttachment()"></button>
                        </li>
                        <li>
                            <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Print" ng-disabled="IsBusy"
                                    ng-click="printSalesPacket()">
                                <i class="far fa-print task_icon"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="tooltip-bottom post_icon"
                            data-tooltip="Email"></button>
                        </li>
                    </ul>
                </div>
            </div>
           </div>
        </nav>
    </section>-->
            <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li rel="tab6">
                        <a href="#!/leads/{{aptmtCtrl.leadId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
                    </li>

                    <li rel="tab7" ng-show="this.aptmtCtrl.Lead.LeadStatusId!=2">
                        <a href="#!/leadsQualify/{{aptmtCtrl.leadId}}">
                            <h3><i class="far fa-clipboard-list fa_icon"></i><br />Qualify</h3>
                        </a>
                    </li>
                    <li rel="tab7" class="activelead1">
                        <a href="#!/leadAppointments/{{aptmtCtrl.leadId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/leadCommunicationLog/{{aptmtCtrl.leadId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>
                </ul>
                <div class="leaddetail_butns">
                    <button ng-if="Permission.AddLead" type="button" class="plus_but tooltip-bottom"
                            data-tooltip="New Lead" ng-click="Newleadpage()">
                        <i class="far fa-plus-square"></i>
                    </button>
                    <button ng-if="Permission.EditLead" type="button" class="plus_but middle_pbut tooltip-bottom"
                            data-tooltip="Edit Lead" ng-click="ClickMeToRedirectEditLead()">
                        <i class="far fa-pen"></i>
                    </button>
                    <button ng-show="Permission.ConvertLead && this.aptmtCtrl.Lead.LeadStatusId!=2" class="plus_but middle_pbut  tooltip-bottom" type="button" data-tooltip="Convert Lead" ng-click="ConvertLead()">
                        <i class="fa fa-exchange"></i>
                    </button>
                    <button ng-if="EmailSent == false || EmailSent == null"
                            class="plus_but tooltip-bottom" type="button"
                            data-tooltip="Send Lead Acknowledgement Email" ng-click="SendLeadEmail()"
                            ng-disabled="IsBusy">
                        <i class="fal fa-envelope-open-text"></i>
                    </button>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="tab_container tp_content">
                    <!--<div class="error">
                        You don't have permission to this page.
                    </div>-->
                    <!--<div>
                        <button type="button" ng-click="aptmtCtrl.testPublish()" >Test publish</button>
                    </div>-->
                    <div class="p-3 appointment">
                            <div class="addres_link" ng-show="!aptmtCtrl.Lead.IsCommercial">
                          <strong>Lead Name :</strong>  <a href="#!/leads/{{aptmtCtrl.leadId}}" style="color: rgb(61,125,139);">{{aptmtCtrl.Lead.PrimCustomer.FirstName}}&nbsp;{{aptmtCtrl.Lead.PrimCustomer.LastName}} <span ng-show="aptmtCtrl.Lead.PrimCustomer.CompanyName !=''">{{" / "}}</span> {{aptmtCtrl.Lead.PrimCustomer.CompanyName}}</a>
                            </div>
                            <div class="addres_link" ng-show="aptmtCtrl.Lead.IsCommercial">
                                <strong>Lead Name :</strong>  <a href="#!/leads/{{aptmtCtrl.leadId}}" style="color: rgb(61,125,139);">{{aptmtCtrl.Lead.PrimCustomer.CompanyName +" / "}}{{aptmtCtrl.Lead.PrimCustomer.FirstName}}&nbsp;{{aptmtCtrl.Lead.PrimCustomer.LastName}}</a>
                            </div>
                            <h1 class="mt-3 mb-2">Calendar Events</h1>
                            <hfc-appointment-event-list lead-id="{{aptmtCtrl.leadId}}"  is-edit="{{Permission.EditLead}}" access-permission="Permission"></hfc-appointment-event-list>
                      
                            <h2 class="mt-3">Calendar Tasks</h2>
                            <hfc-appointment-task-list lead-id="{{aptmtCtrl.leadId}}" is-edit="{{Permission.EditLead}}" access-permission="Permission"></hfc-appointment-task-list>
                   </div>
            </div>
            <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
            <hfc-note-modal></hfc-note-modal>
            <hfc-fileprint-modal modal-id="fileprint" lead-id="{{aptmtCtrl.leadId}}"></hfc-fileprint-modal>

            <!--Moved to cshtml-->
            <!--<hfc-print-modal control="printControl"
                             lead-id="leadIdPrint" print-existing-measurements="false"></hfc-print-modal>
            <hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
    </div>
    <div class="modal fade" id="AfetrThanks_EmailSend" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Email Acknowledgement</h4>
                    <button type="button" class="close popup_close" ng-click="EmailMailClose()" aria-hidden="true">&times;</button>
                </div>
                <form role="form">
                    <div class="modal-body text-center">
                            <label ng-if="!MailSent && !EmailNotify">Email address required to be able to send this email.</label>
                            <label ng-if="MailSent">Lead Acknowledgement email successfully sent to {{Mailid}}</label>
                            <label ng-if="EmailNotify">Email option is not enabled.</label>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" ng-click="EmailMailClose()" class="btn btn-cancel">Ok</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>


