<!--TODO this should be define in Layout page-->
<div class="outter-wp">
    <style>
    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }
   .k-multiselect-wrap.k-floatwrap {
       height: 26px !important;
    }
   .k-pager-wrap {
        width: 100%;
        bottom:50px;
        position: fixed;
        left:0;
        overflow: hidden !important;
    }
   .modal-footer {
       padding: 45px 15px 15px !important;
    }
   .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td , table.table-expand td {
       border: 1px solid #ceced2 !important;
    }
    .table-responsive.convertlead_table td {
      padding-left: 8px !important;
    }
   /*#gridAccountSearch {
    overflow: scroll !important;
}
        .modal {
            overflow: scroll !important;
        }*/

   /* modal styles */
        #gridAccountSearch .k-grid-content.k-auto-scrollable {
            margin-bottom: 50px;
            height: 180px;
            overflow-y: scroll !important;
        }
        #gridAccountSearch .k-pager-wrap {
            position: absolute !important;
        }
        .required-error {
            border: 1px solid #a94442 !important;
        }
        #salesAgent-list .k-list-scroller {
            max-height: 131px !important;
        }
    </style>
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li class="active"><a href="/#!/leadsSearch/">Leads</a></li>
                        <li><a href="/#!/accountSearch/">Accounts</a></li>
                        <li><a href="/#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="/#!/orderSearch/">Orders</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right my-navbar-right">
                        <li><button type="button" class="tooltip-bottom sw_icon" data-tooltip="New Note" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddNoteTP()"></button></li>
                        <li ng-if="HFCService.GetPermissionTP('Set Disposition').CanAccess">
                            <a href="/#!/Calendar/{{HFCService.PathType}}/{{HFCService.PathId}}" type="button" class="tooltip-bottom pad_icon"
                               data-tooltip="Add Appointment">
                            </a>
                        </li>
                        <li ng-if="HFCService.GetPermissionTP('Set Disposition').CanAccess">
                            <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Add Task"
                                    ng-click="PersonService.AddLeadAppointment('persongo', this.Lead.LeadId,'task')">
                                <i class="far fa-tasks task_icon"></i>
                            </button>
                        </li>
                        
                        <li><button type="button" class="tooltip-bottom note_icon" data-tooltip="New Attachment" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddAttachment()"></button></li>
                        <li>
                            <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Print" ng-disabled="IsBusy"
                                    ng-click="printSalesPacket()">
                                <i class="far fa-print task_icon"></i>
                            </button>
                        </li>
                        <li><button type="button" class="tooltip-bottom post_icon" data-tooltip="Email"></button></li>
                     </ul>
                   
                </div>
            </div>
        </nav>
    </section>-->
    
    
    <div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <div class="tab_container">
       <form id="crm-convertlead" name="formConvertLead" novalidate="novalidate">
                <div class="lead_stab">
                    <ul class="tabs1 landing_tab">
                        <li rel="tab6"><a href="#!/leads/{{Lead.LeadId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a> </li>
                        <li class="activelead1" rel="tab6"><h3><i class="fa fa-exchange user_icon"></i><br />Convert Lead</h3></li>
                        <li rel="tab7">
                            <a href="#!/leadsQualify/{{Lead.LeadId}}">
                                <h3><i class="far fa-clipboard-list fa_icon"></i><br />Qualify</h3>
                            </a>
                        </li>
                      
                        <li rel="tab7">
                            <a href="#!/leadAppointments/{{Lead.LeadId}}">
                                <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                            </a>
                        </li>

                        <li rel="tab7">
                            <a href="#!/leadCommunicationLog/{{Lead.LeadId}}">
                                <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                            </a>
                        </li>
                    </ul>
                   
                    <div class="leaddetail_butns">
                        <button type="button" class="plus_but middle_pbut tooltip-bottom"
                                data-tooltip="New Lead" ng-click="Newleadpage()">
                            <i class="far fa-plus-square"></i>
                        </button>
                        <button type="button" class="plus_but tooltip-bottom"
                                data-tooltip="Edit Lead" ng-click="ClickMeToRedirectEditLead()">
                            <i class="far fa-pen"></i>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="tab_container tp_content">
                    <div class="p-3">
                        <h5 class="pb-3"> Match Lead to Account / Create New Account</h5>
                        <div class="leadconvert_box">
                            <div style="margin-top: 15px;margin-bottom: 15px; height: 1px; background-color: gray; text-align: left; padding-left:35px; line-height: 16px;">
                                <span style="background-color:#f7f7f7; position: relative; top: -9px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:bold;">Possible Matching Accounts</span> &nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </div>
                            <!--{{MatchLeadAccount}}-->
                            <div class="sub_expand">
                                <div class="table-responsive">
                                    <table class="table table-expand">
                                        <thead class="expand_lhead">
                                            <tr>
                                                <th></th>
                                                <th>Company</th>
                                                <th>Name</th>
                                                <th>Account Type</th>
                                                <th>Account Status</th>
                                                <th>Address</th>
                                                <th>City</th>
                                                <th>State</th>
                                                <th>Postal Code</th>
                                                <th>Created On</th>
                                            </tr>
                                        </thead>

                                        <tbody ng-repeat="a in MatchLeadAccount">
                                            <tr>
                                                <td>
                                                    <input type="radio" class="option-input radio" id="optSelectAccount" ng-model="a.AccountId" ng-checked="SelectMatchingAccount" ng-click="SelectedAccount(a.AccountId)" name="optSelectAccount" value="{{a.AccountId}}">
                                                </td>
                                                <td>{{a.CompanyName}}</td>
                                                <!--<td>{{a.FirstName}}</td>-->
                                                <td>{{a.AccountFullName}}</td>
                                                <td>{{a.AccountType}}</td>
                                                <td>{{a.Status}}</td>
                                                <td>{{a.Address1}}</td>
                                                <td>{{a.City}}</td>
                                                <td>{{a.State}}</td>
                                                <td>{{a.ZipCode}}</td>
                                                <td>{{a.CreatedOnUtc |GlobalTime:"shortDate"}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mb-2">
                                    <button type="button" class="btn btn-primary cancel_but" ng-click="SearchAccounts('convertleadmodal')">Search for Account</button><br />
                                </div>
                                <div class="mb-4">
                                    <label class="custom-mail">
                                        <input type="radio" class="option-input radio" id="optNewAccount" ng-click="CheckForMatchingAccounts()"
                                               name="optNewAccount" ng-model="IsCreateNewAccount" ng-checked="IsCreateNewAccount" ng-value="true">
                                        <span>Create New Account</span>
                                    </label>
                                </div>
                                <!--<div class="table-responsive">
                                    <table>
                                        <thead class="expand_lhead">
                                            <tr>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label class="custom-mail no-margin">
                                                        <input type="radio" class="option-input radio" id="optNewAccount" ng-click="CheckForMatchingAccounts()"
                                                               name="optNewAccount" ng-model="IsCreateNewAccount" ng-checked="IsCreateNewAccount" ng-value="true">
                                                        <span>Create New Account</span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>-->
                            </div>
                         
                            <div class="convertlead_expand">
                                 <div style="margin-top: 15px;margin-bottom: 15px; height:1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                    <span style="background-color:#f7f7f7; font-weight:bold; line-height:22px; position: relative; top: -11px;">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Create Opportunity on Account&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                 </div>
                                <div class="row no-margin">
                                 <div class="col-sm-8 no-padding">
                                      <label class="custom-mail" style="margin:0 0 20px !important;">
                                        <input type="checkbox" class="option-input checkbox" ng-model="IsAddOpportunity">
                                        <span>Create Opportunity on Account</span>
                                      </label>
                                   
                                    <div class="form-group row ml-0 mr-0"
                                          ng-class="{true: 'has-error'}[submitted && formConvertLead.opportunityName.$invalid]">
                                         <label class="col-sm-3 col-xs-3 required_label">Opportunity Name</label>
                                         <div class="col-sm-9 col-xs-9">
                                             <input type="text" name="opportunityName" ng-model="OpportunityName" required placeholder="Required" maxlength="50" class="form-control frm_controllead1 required_field" />
                                         </div>
                                     </div>
                                    
                                   
                                     <div class="form-group row state_field ml-0 mr-0" ng-class="{true: 'has-error'}[ formConvertLead.salesAgent.$invalid && submitted ]">
                                         <label class="col-sm-3 col-xs-3 required_label">Sales Agent</label>
                                         <div class="col-sm-9 col-xs-9">
                                             <span class="custom-dropdown custom-dropdown--white">
                                                 <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white" required
                                                         name="salesAgent"
                                                         ng-class="{true: 'errorTP'}[formConvertLead.salesAgent.$invalid]"
                                                         ng-options="value.SalesAgentId as (value.Name) for value in SalesAgentlist"
                                                         ng-model="SelectedAgent">
                                                     <option value="" disabled selected> Select </option>
                                                 </select>-->
                                                 <select id="salesAgent"
                                                         name="salesAgent"
                                                         kendo-drop-down-list
                                                         k-options="salesAgent_option"
                                                         k-ng-model="SelectedAgent"
                                                         class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                                             </span>
                                         </div>
                                     </div>
                                    </div> 
                                    <div class="col-sm-4"></div>
                               </div>
                                
                                    <div class="convertlead_butns">
                                        <button type="button" class="btn btn-primary cancel_but"
                                                 ng-click="ConvertLeadFromSelectedAccount()"
                                                 ng-disabled="IsBusy" >Convert</button>
                                        &nbsp;&nbsp;
                                        <button type="button" class="btn btn-primary cancel_but" ng-click="ClickMeToRedirectLeadDetails()">Cancel</button>
                                    </div>
                            </div>
                       </div>
                    </div>
                </div>
        </form>
    </div>
    <div class="modal fade" id="convertleadmodal" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog convertlead_popup">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Account Search</h4>
                    <button type="button" class="close popup_close" ng-click="CancelConvertLead('convertleadmodal')">&times;</button>
                </div>
                <form name="frmConvertLead" role="form" novalidate>
                    <div class="modal-body convert_popup">
                        <!--<div class="convertlead-popup">-->
                        <div class="table-responsive" ng-controller="leadConvertController"> <!--ng-controller="leadController"-->
                          
                            <kendo-tooltip options="tooltipOptions">
                                <kendo-grid id="gridAccountSearch"  options="AccountSearchService.ConvertLeadAccount_options"></kendo-grid>
                            </kendo-tooltip>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" class="btn btn-cancel" ng-click="SaveSelectedAccounts('convertleadmodal')">Select</button>
                            <button type="reset" class="btn btn-cancel" ng-click="CancelConvertLead('convertleadmodal')">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
    <!--<hfc-fileprint-modal modal-id="fileprint" lead-id="{{Lead.LeadId}}"></hfc-fileprint-modal>-->
    <hfc-error-modal modal-id="error"></hfc-error-modal>
    <hfc-note-modal></hfc-note-modal>
   
</div>
<div class="modal fade" id="convertleadmessagepopup" data-keyboard="false" data-backdrop="static">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Missing Fields</h4>
                <button type="button" class="close popup_close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form role="form" novalidate>
                <div class="modal-body">
                    <div>
                        <p>{{convertErrorMessage}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-cancel" data-dismiss="modal">Return</button>
                </div>
            </form>
        </div>
    </div>
</div>

<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

<!--<script type="text/x-kendo-template" id="accountSearchHeaderTemplate">
    <div class="tp_leadsearch">
        
    </div>
</script>-->










