﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }
   
    .errormob {
        margin-left: 179px;
    }

    .errortext, .errorTP {
        color: red !important;
    }

    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }
    /*added form wrap thead text*/
    #gridCommunicationLog.noscroll-grid .k-grid-content tr td {
        white-space: normal !important;
        text-overflow: unset !important;
        overflow: hidden !important;
    }
    .devicewidth {
        background-color: #f0f1f1;
    }
        /*.devicewidth tbody > tr > td > :nth-child(2) {
                background-color:#414141;
            }*/
        .devicewidth tbody > tr > td > :nth-child(2) table > tbody > tr:only-child {
            background-color: #414141;
        }
</style>

<div id="crm-alertbox" class="alert alert-dismissable" style="width:100%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span></span>
</div>

<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li class="active"><a href="/#!/leadsSearch/">Leads</a></li>
                        <li><a href="/#!/accountSearch/">Accounts</a></li>
                        <li><a href="/#!/opportunitySearch/">Opportunities</a></li>
                        <li><a href="/#!/orderSearch/">Orders</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right my-navbar-right">
                        <li ng-if="HFCService.GetPermissionTP('Add Notes').CanAccess">
                            <button type="button" class="tooltip-bottom sw_icon"
                                    data-tooltip="New Note" ng-disabled="IsBusy" ng-click="NoteServiceTP.AddNoteTP()"></button>
                        </li>
                        <li ng-if="Permission.AddEvent">

                            <a href="/#!/Calendar/{{HFCService.PathType}}/{{HFCService.PathId}}" type="button" class="tooltip-bottom pad_icon"
                               data-tooltip="Add Appointment">
                            </a>
                        </li>
                        <li  ng-if="Permission.AddEvent">
                             <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Add Task"
                                    ng-click="PersonService.AddLeadAppointment('persongo',this.cmctnCtrl.Lead.LeadId,'task')">
                                <i class="far fa-tasks task_icon"></i>
                            </button>
                        </li>
                        <li ng-if="HFCService.GetPermissionTP('Add Notes').CanAccess">
                            <button type="button" class="tooltip-bottom note_icon"
                                    data-tooltip="New Attachment" ng-disabled="IsBusy"
                                    ng-click="NoteServiceTP.AddAttachment()"></button>
                        </li>

                        <li>
                            <button type="button" class="tooltip-bottom task_tpbut"
                                    data-tooltip="Print" ng-disabled="IsBusy"
                                    ng-click="printSalesPacket()">
                                <i class="far fa-print task_icon"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="tooltip-bottom post_icon"
                                    data-tooltip="Email"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img class="sale_icon" src="../../../Content/images/Sales-Icon.png">Sales</a>
                </div>
                <ul class="nav navbar-nav my-navbar-nav">
                    <li class="active"><a href="/#!/leadsSearch/">Leads</a></li>
                    <li ><a href="/#!/accountSearch/">Accounts</a></li>
                    <li><a href="/#!/opportunitySearch/">Opportunities</a></li>
                    <li><a href="/#!/orderSearch/">Orders</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right my-navbar-right">
                    <li><button type="button" class="tooltip-bottom blub_icon" data-tooltip="Sales Assistant"></button></li>
                </ul>
            </div>
        </nav>
    </section>-->
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li rel="tab6">
                <a href="#!/leads/{{cmctnCtrl.leadId}}"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></a>
            </li>
            <li rel="tab7" ng-show="cmctnCtrl.Lead.LeadStatusId!=2">
                <a href="#!/leadsQualify/{{cmctnCtrl.leadId}}">
                    <h3><i class="far fa-clipboard-list fa_icon"></i><br />Qualify</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/leadAppointments/{{cmctnCtrl.leadId}}">
                    <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                </a>
            </li>
            <li rel="tab7" class="activelead1">
                <a href="#!/leadCommunicationLog/{{cmctnCtrl.leadId}}">
                    <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns">
            <button ng-if="Permission.AddLead" type="button" class="plus_but tooltip-bottom"
                    data-tooltip="New Lead" ng-click="Newleadpage()">
                <i class="far fa-plus-square"></i>
            </button>
            <button ng-if="Permission.EditLead" type="button" class="plus_but middle_pbut tooltip-bottom"
                    data-tooltip="Edit Lead" ng-click="ClickMeToRedirectEditLead()">
                <i class="far fa-pen "></i>
            </button>
            <button ng-show="Permission.ConvertLead && cmctnCtrl.Lead.LeadStatusId!=2" class="plus_but middle_pbut tooltip-bottom" type="button" data-tooltip="Convert Lead" ng-click="ConvertLead()">
                <i class="fa fa-exchange"></i>
            </button>
            <button ng-if="EmailSent == false || EmailSent == null"
                    class="plus_but tooltip-bottom" type="button"
                    data-tooltip="Send Lead Acknowledgement Email" ng-click="SendLeadEmail()"
                    ng-disabled="IsBusy">
                <i class="fal fa-envelope-open-text"></i>
            </button>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="tab_container tp_content">
        <!--<div class="error">
            You don't have permission to this page.
        </div>-->
        <!--<div>
            <button type="button" ng-click="cmctnCtrl.testPublish()" >Test publish</button>
        </div>-->
        <!--Permission.ListCommunication-->
        <div class="error" ng-show="!(Permission.ListCommunication)">
            You don't have permission to this page.
        </div>
        <div class="appointment" ng-if="Permission.ListCommunication">
            <div class="p-3">
                <div class="mb-2">
                  <div ng-show="!cmctnCtrl.Lead.IsCommercial">
                    <label class="ldet_label"><strong>Lead Name :</strong>  <a href="#!/leads/{{cmctnCtrl.leadId}}" style="color: rgb(61,125,139);">{{cmctnCtrl.Lead.PrimCustomer.FirstName}}&nbsp;{{cmctnCtrl.Lead.PrimCustomer.LastName}} <span ng-show="cmctnCtrl.Lead.PrimCustomer.CompanyName !=''">{{" / "}}</span> {{cmctnCtrl.Lead.PrimCustomer.CompanyName}}</a></label>
                  </div>
                  <div ng-show="cmctnCtrl.Lead.IsCommercial">
                    <label class="ldet_label"><strong>Lead Name :</strong>  <a href="#!/leads/{{cmctnCtrl.leadId}}" style="color: rgb(61,125,139);">{{cmctnCtrl.Lead.PrimCustomer.CompanyName +" / "}}{{cmctnCtrl.Lead.PrimCustomer.FirstName}}&nbsp;{{cmctnCtrl.Lead.PrimCustomer.LastName}}</a></label>
                  </div>
                </div>
                <div class="row no-margin">
                    <div class="col-sm-11 col-xs-11 procurement_tooltip row no-margin p-0">
                        <div class="col-sm-2 col-xs-5-cols no-padding">
                            <div class="float-left tooltip-bottom">
                                <input type="checkbox" id="Check1" class="option-input checkbox mr-0" ng-click="FilterBySelectedLog()">
                                <label class="ldet_label font-weight-bold">Email</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-5-cols no-padding">
                            <div class="float-left tooltip-bottom">
                                <input type="checkbox" id="Check2" class="option-input checkbox mr-0" ng-click="FilterBySelectedLog()">
                                <label class="ldet_label font-weight-bold">Text</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-5-cols no-padding">
                            <div class="float-left tooltip-bottom">
                                <input type="checkbox" id="Check3" class="option-input checkbox mr-0" ng-click="FilterBySelectedLog()">
                                <label class="ldet_label font-weight-bold">Phone</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-5-cols no-padding">
                            <div class="float-left tooltip-bottom">
                                <input type="checkbox" id="Check4" class="option-input checkbox mr-0" ng-click="FilterBySelectedLog()">
                                <label class="ldet_label font-weight-bold">Virtual Meeting</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-5-cols no-padding">
                            <div class="float-left tooltip-bottom">
                                <input type="checkbox" id="Check5" class="option-input checkbox mr-0" ng-click="FilterBySelectedLog()">
                                <label class="ldet_label font-weight-bold">Mail</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        <button class="tooltip-bottom cancel_tpbut float-right" data-tooltip="Add Communication Record" ng-click="AddCommunicationLog()"><i class="far fa-plus-square fa_icon"></i></button>
                    </div>
                    </div>
                    <div class="mt-3">
                        <!--<hfc-communication-list lead-id="{{cmctnCtrl.leadId}}" read-only="{{Permission.EditLead}}" notify-email="cmctnCtrl.Lead.IsNotifyemails" notify-text="cmctnCtrl.Lead.IsNotifyText"></hfc-communication-list>-->
                        <kendo-grid id="gridCommunicationLog" class="noscroll-grid" options="LeadCommunication_log" style="margin-bottom:40px !important;"></kendo-grid>
                    </div>
                </div>
        </div>
    </div>

    <!--<hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>-->
    <hfc-note-modal></hfc-note-modal>
    <hfc-fileprint-modal modal-id="fileprint" lead-id="{{cmctnCtrl.leadId}}"></hfc-fileprint-modal>
    <!--Moved to cshtml-->
    <!--<hfc-print-modal control="printControl"
                     lead-id="leadIdPrint" print-existing-measurements="false"></hfc-print-modal>
    <hfc-person-modal-go modal-id="persongo"></hfc-person-modal-go>-->
    <!---end inner tab-->
    <div class="modal fade" id="AfetrThanks_EmailSend" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Email Acknowledgement</h4>
                    <button type="button" class="close popup_close" ng-click="EmailMailClose()" aria-hidden="true">&times;</button>
                </div>
                <form role="form">
                    <div class="modal-body">
                        <div class="text-center">
                            <label ng-if="!MailSent && !EmailNotify">Email address required to be able to send this email.</label>
                            <label ng-if="MailSent">Lead Acknowledgement email successfully sent to {{Mailid}}</label>
                            <label ng-if="EmailNotify">Email option is not enabled.</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" ng-click="EmailMailClose()" class="btn btn-cancel">Ok</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Code for Add Communicationlog-->
    <hfc-communication-list lead-id="{{cmctnCtrl.leadId}}" read-only="{{Permission.EditLead}}" notify-email="cmctnCtrl.Lead.IsNotifyemails" notify-text="cmctnCtrl.Lead.IsNotifyText"></hfc-communication-list>
    <!-- End -->
    <!--Tpt E-mail pop-up-->
    <div class="modal fade" id="Show_EmailSentData" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">View Email Details</h4>
                    <button type="button" class="close popup_close" ng-click="ClosePop_up()" aria-hidden="true">&times;</button>
                </div>

                <form role="form">
                    <div class="modal-body">
                        <div class="row email_navbg mx-3">
                            <div class="col-md-3">Subject:</div>
                            <div class="col-md-9">{{showdata.Subject}}</div>

                            <div class="col-md-3">Status:</div>
                            <div class="col-md-9">Sent</div>

                            <div class="col-md-3">Date Sent:</div>
                            <div class="col-md-9">{{showdata.SentAt|GlobalTime: 'shortDate' }}</div>

                            <div class="col-md-3">To:</div>
                            <div class="col-md-9">{{showdata.Recipients}}</div>

                            <div class="col-md-3">Bcc:</div>
                            <div class="col-md-9">{{showdata.BCCAddress}}</div>

                            <div class="col-md-3">Cc:</div>
                            <div class="col-md-9">{{showdata.CCAddress}}</div>

                            <div class="col-md-3" style="margin-left:1px">Body:</div>
                            <div class="col-md-3"></div>

                            <div class="col-md-12" ng-bind-html="trustAsHtml(showdata.Body)"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" ng-click="ClosePop_up()" class="btn btn-cancel">Cancel</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end-->
    <!--tpt message pop-up-->
    <div class="modal fade" id="Show_TextingData" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">View Message Details</h4>
                    <button type="button" class="close popup_close" ng-click="ClosePop_up_Texting()" aria-hidden="true">&times;</button>
                </div>
                <form role="form">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">Subject:</div>
                            <div class="col-md-9">{{showdata.Subject}}</div>

                            <div class="col-md-3">Status:</div>
                            <div class="col-md-9">{{showdata.StatusText}}</div>

                            <div class="col-md-3">Date Sent:</div>
                            <div class="col-md-9">{{showdata.SentAt |GlobalTime: 'shortDate' }}</div>

                            <div class="col-md-3">To:</div>
                            <div class="col-md-9">{{showdata.CellPhone  | mask: '(999) 999-9999'}}</div>

                            <div class="col-md-3">Body:</div>
                            <div class="col-md-9">{{showdata.Body}}</div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" ng-click="ClosePop_up_Texting()" class="btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end-->
    <!--tpt added data pop-up-->
    <div class="modal fade" id="Show_AddedData" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">View Message Details</h4>
                    <button type="button" class="close popup_close" ng-click="ClosePop_up_Added()" aria-hidden="true">&times;</button>
                </div>
                <form role="form">
                    <div class="modal-body">
                        <div class="row">
                            <!--<div class="col-md-3">Subject:</div>
                            <div class="col-md-9">{{showdata.Subject}}</div>-->

                            <!--<div class="col-md-3">Status:</div>
                            <div class="col-md-9">{{showdata.StatusText}}</div>-->

                            <div class="col-md-3">Date Sent:</div>
                            <div class="col-md-9">{{showdata.SentDate |GlobalTime: 'shortDate' }}</div>

                            <div class="col-md-3">UserName:</div>
                            <div class="col-md-9">{{showdata.UserName}}</div>

                            <div class="col-md-3">Description:</div>
                            <div class="col-md-9">{{showdata.Description}}</div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" ng-click="ClosePop_up_Added()" class="btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end-->
</div>
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>


