﻿<!--TODO this should be define in Layout page-->
<style>
    .error {
        color: red;
    }
    .expand_grid span.k-icon.k-i-arrow-60-down.k-panelbar-expand {
       display: none;
    }
    .expand_grid .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-active) .k-icon, .k-panelbar>.k-item>.k-link.k-state-selected:not(.k-state-expanded) .k-icon {
       display: none;
    }
    .k-panelbar>.k-item.k-state-active>.k-link .k-icon, .k-panelbar>.k-item.k-state-expanded>.k-link .k-icon {
       display: none;
    }
    .popup_ticon.tooltip-bottom.tooltip_cs:after {
       left: 45px;
    }
    ul.additionalcontact_list li{
        float: left;
        margin-right: 8px;
        border-bottom: 0 !important;
    }
    ul.additionalcontact_sublist li{
        display:contents;
    }
    .option-input:checked, input[type="checkbox"]:checked, input[type="radio"]:checked {
       background: #3e7d8a !important;
       border: 1px solid #ffffff !important;
    }
</style>
<div class="outter-wp">
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
           <div class="lead_stab">
                <ul class="tabs1 landing_tab">
                    <li class="activelead1" rel="tab6">
                        <h3><i class="far fa-user fa_icon"></i><br />Information</h3>
                    </li>
                    <li rel="tab7" ng-show="Lead.LeadStatusId !=2 && Permission.QualifyLead">
                        <a href="#!/leadsQualify/{{Lead.LeadId}}">
                            <h3><i class="far fa-clipboard-list fa_icon"></i><br />Qualify</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/leadAppointments/{{Lead.LeadId}}">
                            <h3><i class="far fa-calendar-alt fa_icon"></i><br />Appointments</h3>
                        </a>
                    </li>
                    <li rel="tab7">
                        <a href="#!/leadCommunicationLog/{{Lead.LeadId}}">
                            <h3><i class="checklist_icon"></i><br />Communication Log</h3>
                        </a>
                    </li>

                    <!--<li rel="tab8">
                        <h3><i class="appointment_icon"></i><br />Appointment</h3>
                    </li>-->
                </ul>
                <div class="leaddetail_butns">
                    <ul class="orderlist_box">
                        <li><button ng-if="Permission.AddLead" type="button" class="tooltip-bottom hfc_bgbut"
                                data-tooltip="New Lead" ng-click="Newleadpage()">
                            <i class="far fa-plus-square"></i>
                        </button></li>
                        <li><button ng-if="Permission.EditLead" type="button" class="tooltip-bottom hfc_bgbut"
                                data-tooltip="Edit Lead" ng-click="ClickMeToRedirectEditLead()">
                            <i class="far fa-pen"></i>
                        </button></li>
                        <li><button ng-if="Permission.ConvertLead &&  Lead.LeadStatusId != 31422 &&  Lead.LeadStatusId !=2"
                                class="tooltip-bottom hfc_bgbut" type="button"
                                data-tooltip="Convert Lead" ng-click="ConvertLead()"
                                ng-disabled="IsBusy">
                            <i class="fa fa-exchange"></i>
                        </button></li>
                        <li><button ng-if="(Lead.EmailSent == false || Lead.EmailSent == null)&&Lead.LMDBSourceID==null"
                                class="tooltip-bottom hfc_bgbut" type="button"
                                data-tooltip="Send Lead Acknowledgement Email" ng-click="SendLeadEmail()"
                                ng-disabled="IsBusy">
                            <i class="fal fa-envelope-open-text"></i>
                        </button></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tab_container tp_content">
                <!-- Access error message div -->
                <div class="error" ng-if="!Permission.DisplayLead">
                    You don't have permission to page---.
                </div>
                <div ng-hide="modalState.loaded">
                    Loading
                </div>
                <div ng-show="modalState.loaded && Permission.DisplayLead">
                    <div class="p-3">
                        <form id="crm-lead-detail" ng-submit="SaveLead()" novalidate="novalidate">
                            <h1 class="mt-2 mb-3 font-weight-bold" style="font-size:1.3em;">Primary Information</h1>
                            <div class="leadgrid_box row no-margin">
                                <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1">
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Name</label>
                                        <div class="col-sm-9" ng-show="!Lead.IsCommercial">
                                            <label class="ldet_label">{{Lead.PrimCustomer.FirstName}} {{Lead.PrimCustomer.LastName}}<span ng-show="!Lead.PrimCustomer.CompanyName==''">{{" / "}}</span>{{Lead.PrimCustomer.CompanyName}}</label>
                                        </div>
                                        <div class="col-sm-9" ng-show="Lead.IsCommercial">
                                            <label class="ldet_label">{{Lead.PrimCustomer.CompanyName}}<span ng-show="!Lead.PrimCustomer.CompanyName==''">{{" / "}}</span>{{Lead.PrimCustomer.FirstName}} {{Lead.PrimCustomer.LastName}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-md-3 text_detlabel"></label>
                                        <div class="col-md-9" ng-class="{true: 'has-error'}">
                                            <div class="radio-group">
                                                <input type="checkbox" class="option-input checkbox" style="margin-right:5px;" disabled ng-model="Lead.IsBusinessAddress" required><label>Business Address</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Address</label>
                                        <div class="col-sm-9">
                                            <address class="inline-relative" ng-show="leadAddresses[0].Address1 != '' ? true:false;" hfc-googlemaps="" addr="leadAddresses[0]">
                                                <a class="map_link" style="color: rgb(61,125,139)" target="_blank" href="#" ng-cloak ng-href="{{GetGoogleAddressHref(leadAddresses[0])}}" ng-click="AdditionalAddressServiceTP.DisplayAddressTP(0)">
                                                    {{leadAddresses[0].Address1}}
                                                </a>
                                                <div class="mapCanvas"></div>
                                            </address>
                                            <div><label class="ldet_label" ng-show="leadAddresses[0].Address2 != '' ? true:false;">{{leadAddresses[0].Address2}}</label></div>
                                            <div>
                                                <label class="ldet_label" ng-show="leadAddresses[0].City != '' ? true:false;">{{leadAddresses[0].City}},</label>
                                                <label class="ldet_label" ng-show="leadAddresses[0].State != '' ? true:false;">{{leadAddresses[0].State}}</label>
                                                <label class="ldet_label" ng-show="leadAddresses[0].ZipCode != '' ? true:false;">{{leadAddresses[0].ZipCode}}</label>
                                                <label ng-if="Address.IsValidated==false" data-tooltip="Invalid Address" class="ng-binding ldet_label error" style="text-align:center;"><i class="fa fa-exclamation-triangle"></i></label>
                                                <label ng-if="Address.IsValidated==true" data-tooltip="Address Validated" class="ng-binding ldet_label error" style="text-align:center;"><i class="fas fa-check-circle" style="color:green;"></i></label>
                                            </div>
                                            <!--<div><label class="ldet_label" ng-show="leadAddresses[0].State != '' ? true:false;">{{leadAddresses[0].State}}</label></div>
                                            <div><label class="ldet_label" ng-show="leadAddresses[0].ZipCode != '' ? true:false;">{{leadAddresses[0].ZipCode}}</label></div>-->
                                        </div>
                                    </div>
                                    <!--removing as we are using ! symbol-->
                                    <!--<div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Address Validated?</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label" style="text-transform:capitalize;">{{Address.IsValidated}}</label>
                                        </div>
                                    </div>-->

                                    <!--<div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Location Info</label>
                                        <div class="col-sm-9">
                                            <label class="ng-binding ldet_label">{{Address.Location}}</label>
                                        </div>
                                    </div>-->

                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Cell Phone</label>
                                        <label class="col-sm-2 ldetail_phfield ldet_label">
                                            {{Lead.PrimCustomer.CellPhone | mask: '(999) 999-9999'}}
                                        </label>
                                        <label class="col-sm-3 lradio-prefer ldet_label">
                                            <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="C" ng-model="Lead.PrimCustomer.PreferredTFN" title="Preferred contact number" disabled />Preferred
                                        </label>
                                    </div>
                                    <div class="source-group row" ng-if="FranciseLevelTexting">
                                        <label class="col-sm-3 text_detlabel notification_field">Notifications via Text?
                                            <label style="position:absolute; top:0;" class="tooltip-bottom" data-tooltip='This will send "opt-in" message to customer, and if they opt-in, Touchpoint will send Appointment and Order update texts to the Customer.'><i class="fas fa-info-circle"></i></label>
                                        </label>
                                        <label class="col-sm-2 ldetail_phfield ldet_label">
                                            <input type="checkbox" class="option-input checkbox" disabled ng-model="Lead.IsNotifyText">
                                        </label>
                                        <label class="col-sm-3 lradio-prefer ldet_label">
                                            <label style="color:orange; cursor:default;" ng-if="Lead.NotifyTextStatus == 'waiting'">Waiting For Response</label>
                                            <label style="color:green; cursor:default;" ng-if="Lead.NotifyTextStatus == 'Optin'">Opted In</label>
                                            <label style="color:red; cursor:default;" ng-if="Lead.NotifyTextStatus == 'Optout'">Opted Out</label>
                                            <label style="font-weight: bold; cursor:default;" ng-if="Lead.NotifyTextStatus == 'error'">Not Reachable</label>
                                        </label>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Home Phone</label>
                                        <label class="col-sm-2 ldetail_phfield ldet_label">{{Lead.PrimCustomer.HomePhone | mask: '(999) 999-9999'}}</label>
                                        <label class="col-sm-3 lradio-prefer ldet_label">
                                            <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="H" ng-model="Lead.PrimCustomer.PreferredTFN" title="Preferred contact number" disabled />Preferred
                                        </label>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Email</label>
                                        <div class="col-sm-9">
                                            <label style="text-transform: initial;" class="ldet_label">{{Lead.PrimCustomer.PrimaryEmail}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel notification_field">Notifications via Email?
                                            <label style="position:absolute; top: 0;" class="tooltip-bottom" data-tooltip='This will send Appointment and Order update emails to the Customer.'><i class="fas fa-info-circle"></i></label>
                                        </label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label mb-0">
                                                <input type="checkbox" class="option-input checkbox" disabled ng-model="Lead.IsNotifyemails"> 
                                            </label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Receive Promotion Emails</label>
                                        <div class="col-sm-9 ldet_label">
                                            <label class="custom-mail no-margin">
                                                <input type="checkbox" class="option-input checkbox" disabled ng-model="Lead.PrimCustomer.RecieveCorporateEmailBlast" required>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Fax</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">
                                                {{Lead.PrimCustomer.FaxPhone | mask: '(999) 999-9999'}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="source-group row" style="margin-bottom:10px !important;">
                                        <label class="col-sm-3 text_detlabel">Work Phone</label>
                                        <div class="col-sm-9 row no-margin">
                                            <div class="col-sm-7 no-padding row no-margin">
                                                <label class="col-sm-7 ldet_label workph_lable pl-0 ng-binding">
                                                    {{Lead.PrimCustomer.WorkPhone | mask: '(999) 999-9999' }}
                                                </label>
                                                <label class="col-sm-5 lradio-prefer ml-0">
                                                    <input type="radio" class="option-input radio radio_space" name="preferredTFN" value="W" ng-model="Lead.PrimCustomer.PreferredTFN" title="Preferred contact number" disabled />Preferred
                                                </label>
                                            </div>
                                            <div class="col-md-5 no-padding row no-margin">
                                                <label class="col-sm-3 text_detlabel">Ext</label>
                                                <div class="col-sm-9 pr-0">
                                                    <label class="ldet_label">{{Lead.PrimCustomer.WorkPhoneExt}} </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Secondary Email</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{Lead.PrimCustomer.SecondaryEmail}} </label>
                                            <!--<input type="text" data-bind="value: CompanyName" ng-model="Lead.PrimCustomer.CompanyName" class="form-control frm_controllead" placeholder="" required maxlength="256" />-->
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Location Info</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{leadAddresses[0].Location}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Cross Streets</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{leadAddresses[0].CrossStreet}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Country</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{leadAddresses[0].CountryCode2Digits}} </label>
                                        </div>
                                    </div>
                                </div>
                                <!--2nd Column-->
                                <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_detail">
                                    <div class="row state_field territory_group">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="row no-margin">
                                                <label class="col-sm-5 text_detlabel">Lead Status</label>
                                                <div class="col-sm-7">
                                                    <label class="ng-binding ldet_label">{{SelectedLeadStatus}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row state_field leaddis_dfield mb-0">
                                        <div class="col-md-5 col-sm-5 disposition_detfield">
                                            <div class="row no-margin" ng-show="Lead.Disposition.Name != null" style="margin-bottom:15px;">
                                                <label class="col-sm-4 text_detlabel">Disposition</label>
                                                <div class="col-sm-8 pr-0">
                                                    <label class="ng-binding ldet_label">{{Lead.Disposition.Name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 help_icon" ng-show="Lead.Disposition.Name != null">
                                            <button type="button" class="plus_but tooltip-bottom" style="font-size:20px; margin-top: -4px;" data-tooltip="Help" ng-click="ShowHelpPopup()">
                                                <i class="far fa-exclamation-triangle"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-6 disposition_dettfield" ng-show="Lead.Disposition.Name != null">
                                            <label class="ng-binding ldet_label disposition_flabel">{{Lead.Disposition.Description}}</label>
                                        </div>
                                    </div>
                                    <!--start session-->
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Campaign</label>
                                        <div class="col-sm-9">
                                            <label class="ng-binding ldet_label">{{selectedCampaign}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <!--<div class="col-md-6 col-sm-6">
                                            <div class="row no-margin">
                                                <label class="col-md-5 col-sm-5 text_detlabel">Origination</label>
                                                <div class="col-md-7 col-sm-7">
                                                    <label class="ng-binding ldet_label">{{Lead.SourcesList[0].OriginationName}}</label>
                                                </div>
                                            </div>
                                        </div>-->
                                        <label class="col-md-3 col-sm-3 text_detlabel">Channel</label>
                                        <div class="col-md-9 col-sm-9">
                                            <label class="ng-binding ldet_label">{{Lead.SourcesList[0].ChannelName}}</label>
                                            <!--<label class="ng-binding ldet_label c_details">{{PrimarySource.ChannelName}}</label>-->
                                        </div>
                                    </div>
                                    <!--end session-->
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Source</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{Lead.SourcesList[0].name}}</label>
                                            <!--<label class="ldet_label">{{Lead.SourceNameFromCampaign}}</label>-->
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Referral Info</label>
                                        <div class="col-sm-9">
                                            <label class="ng-binding ldet_label">{{Lead.AccountName}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Lead Type</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{Lead.LeadType}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Key Acct</label>
                                        <div class="col-sm-9">
                                            <label class="ldet_label">{{Lead.KeyAcct}}</label>
                                        </div>
                                    </div>
                                    <!--<div style="margin:30px 20px;height:1px; background-color: gray; text-align:left; line-height: 16px;">
                                        <span style="background-color:#f7f7f7; font-weight:bold; position:relative; top: -9px;" ng-click="DisplayMore = !DisplayMore">
                                            &nbsp;&nbsp;&nbsp;&nbsp;Referral / Relationship Information:&nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
                                    </div>-->
                                    <!--<div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Referral Type</label>
                                        <div class="col-sm-9">
                                            <label class="ng-binding ldet_label">{{Lead.ReferralTypeName}}</label>
                                        </div>
                                    </div>-->
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Related/Parent Account</label>
                                        <div class="col-sm-9">
                                            <label class="ng-binding ldet_label">{{Lead.RelatedAccountName}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row">
                                        <label class="col-sm-3 text_detlabel">Territory</label>
                                        <div ng-show='Lead.TerritoryType=="Contracted to a DIFFERENT Franchisee"' class="col-sm-9 ">
                                            <label class="ng-binding ldet_label error">{{Lead.TerritoryType}}</label>
                                        </div>
                                        <div ng-show='Lead.TerritoryType!="Contracted to a DIFFERENT Franchisee"' class="col-sm-9">
                                            <label class="ng-binding ldet_label">{{Lead.TerritoryType}}</label>
                                        </div>
                                    </div>
                                    <div class="source-group row" ng-show="((Lead.TerritoryType | uppercase) == 'GRAY AREA / UNASSIGNED') || ((Lead.TerritoryType | uppercase) == 'GRAY AREA / ASSIGNED') || ((Lead.TerritoryType | uppercase) == 'GRAY AREA')">
                                        <label class="col-sm-3 text_detlabel">
                                            Display Territory
                                            <label class="tooltip-bottom" data-tooltip="Assign Territory for Customer display information. This will not affect/change reporting."><i class="fas fa-info-circle"></i></label>
                                        </label>
                                        <div ng-show="Lead.TerritoryDisplayId && Lead.TerritoryDisplayId > 0" class="col-sm-9">
                                            <label class="ng-binding ldet_label">{{Lead.DisplayTerritoryName}}</label>
                                        </div>
                                    </div>
                                    <!--<div class="source-group row" ng-if="Lead.TerritoryDisplayId > 0" >
                                        <label class="col-sm-3 text_detlabel">Display Territory</label>

                                        <div>
                                            <label class="ng-binding ldet_label error">{{Lead.DisplayTerritoryName}}</label>
                                        </div>
                                       
                                    </div>-->

                                    <div class="source-group row">
                                        <label class="col-md-3 text_detlabel">Legacy Account</label>
                                        <div class="col-md-9">
                                            <div class="radio-group">
                                                <input type="checkbox" class="option-input checkbox" 
                                                       style="margin-right:5px;" 
                                                       disabled ng-model="Lead.LegacyAccount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--show more-->
                            <div class="information_grid">
                                <div class="zillow_title">
                                    &nbsp;Lead Details&nbsp;
                                </div>
                                <div class="zillow_body">
                                    <div class="zillow_border lead_topborder">
                                        <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1">
                                            <div class="source-group row">
                                                <label class="col-md-3 text_detlabel">Commercial</label>
                                                <div class="col-md-9">
                                                    <div class="radio-group">
                                                        <input type="checkbox" class="option-input checkbox" style="margin-right:5px;" disabled ng-model="Lead.IsCommercial" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="Lead.IsCommercial==true" class="form-group row no-margin state_field"
                                                 ng-class="{true: 'has-error'}[Accntsubmit && (frm_accnt.acct_type.$modelValue ==0 || frm_accnt.acct_type.$modelValue ==null)]">
                                                <!--<span class="pull-right req_desc" ng-class="{true: 'errortext'}[ (Account.AccountTypeId ==0 || Account.AccountTypeId ==null)&&  frm_accnt ]">Required</span>-->
                                                <label class="col-md-3 col-sm-3 text_detlabel">Commercial Type</label>
                                                <div class="col-md-3 col-sm-3">
                                                    <label class="ldet_label ng-binding">{{Lead.CommercialValue}}</label>
                                                </div>
                                                <div class="col-md-6 col-sm-6 no-padding">
                                                    <div class="account-rgroup accountadd-rgroup row no-margin">
                                                        <label class="col-md-4 col-sm-4 text_detlabel">Relationship Type</label>
                                                        <div class="col-md-8 col-sm-8">
                                                            <label class="ldet_label ng-binding">{{Lead.RelationShipTypeValue}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row ml-0 mr-0 state_field">
                                                <label class="col-md-3 col-sm-3 text_detlabel">Industry</label>
                                                <div class="col-md-3 col-sm-3">
                                                    <label class="ldet_label ng-binding">{{Lead.IndustryValue}}</label>
                                                </div>
                                                <div class="col-md-6 col-sm-6 no-padding">
                                                    <div class="account-rgroup accountadd-rgroup">
                                                        <!--<label class="col-md-4 col-sm-4 text_detlabel"></label>-->
                                                        <div class="col-md-8 col-sm-8">
                                                            <label class="ldet_label ng-binding">{{Lead.OtherIndustry}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row territory_group">
                                                <div class="col-md-6 col-sm-6 row no-margin">
                                                    <label class="col-md-5 col-sm-5 text_detlabel">Company Name</label>
                                                    <div class="col-md-7 col-sm-7 pr-0">
                                                        <label class="ng-binding ldet_label">{{Lead.PrimCustomer.CompanyName}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Attention</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{leadAddresses[0].AttentionText}} </label>
                                                    <!--<input type="text" data-bind="value: CompanyName" ng-model="Lead.PrimCustomer.CompanyName" class="form-control frm_controllead" placeholder="" required maxlength="256" />-->

                                                </div>
                                            </div>
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel">Title</label>
                                                <div class="col-sm-9">
                                                    <label class="ldet_label">{{Lead.PrimCustomer.WorkTitle}}</label>
                                                    <!--<input type="text" data-bind="value: WorkTitle" ng-model="Lead.PrimCustomer.WorkTitle" class="form-control frm_controllead" placeholder="" required maxlength="50" />-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="expand_grid" style="padding:10px;">
                                        <!-- Additional Contacts Starts..... k-on-expand -->
                                        <ul kendo-panel-bar  id="panelbar" style="margin-bottom:0 !important;">
                                            <li>
                                                <span class="font-weight-bold w-100"><p class="float-left no-margin">Click to See Additional Contacts</p>
                                                    <input type="checkbox" ng-click="refreshAdditionalContactsGrid()"
                                                           ng-model="External.AdditionalContacts" style="margin-left:30px;" class="cbSelect" /> Show Deleted Additional Contacts<p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{AdditionalContactServiceTP.ContactList.length}}</p></span>                                                
                                                
                                                <div class="kendo_leadpanel">
                                                    <hfc-additional-contact is-edit="{{Permission.EditLead}}"></hfc-additional-contact>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="font-weight-bold w-100"><p class="float-left no-margin">Click to See Additional Addresses</p>
                                                    <input type="checkbox" ng-click="refreshAdditionalAddressGrid()"
                                                           ng-model="External.AdditionalAddress" style="margin-left:30px;" class="cbSelect" /> Show Deleted Additional Addresses<p style="float:right; border: 2px solid #fff; padding: 0px 6px; line-height: 20px; margin:4px 0 0px 0; text-align: center; border-radius: 3px;">{{AdditionalAddressServiceTP.AddressList.length}}</p></span>                                               
                                                <div class="kendo_leadpanel">
                                                     <hfc-additional-address is-edit="{{Permission.EditLead}}"></hfc-additional-address>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="font-weight-bold w-100">
                                                    <p class="float-left no-margin">Notes & Attachments</p>
                                                    <input type="checkbox" ng-click="refreshNotesGrid()"
                                                           ng-model="External.Notes" style="margin-left:30px;" class="cbSelect" /> Show Deleted Notes & Attachments 
                                                    <p style="float:right; border: 2px solid #fff; padding: 0px 6px; 
                                                            line-height: 20px; margin:4px 0 0px 0; text-align: center; 
                                                            border-radius: 3px;">{{NoteServiceTP.NoteList.length}}</p>
                                                </span>                                                                                               
                                                <div class="kendo_leadpanel">
                                                     <hfc-note-list is-edit="{{Permission.EditLead}}"></hfc-note-list>
                                                </div>
                                            </li>
                                            <li id="zillowPanelBarLi" ng-click="handleKendoPanelBarExpand($event)">
                                                <span class="w-100 font-weight-bold">Zillow Information</span>
                                                   <div class="zillow_grid row no-margin">
                                                        <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1" ng-if="zillowdata">
                                                            <div class="zillow_address">
                                                                <a href="{{zillowdata.zillowlink}}" target="_blank">See more details for
                                                                    [<label ng-show="leadAddresses[0].Address1 != '' ? true:false;">{{leadAddresses[0].Address1}}</label>
                                                                     <label ng-show="leadAddresses[0].Address2 != '' ? true:false;">{{leadAddresses[0].Address2}}</label> 
                                                                     <label style="text-indent:-4px;">,</label>
                                                                     <label ng-show="leadAddresses[0].City != '' ? true:false;">{{leadAddresses[0].City}},</label>
                                                                     <label ng-show="leadAddresses[0].State != '' ? true:false;">{{leadAddresses[0].State}}</label>
                                                                     <label ng-show="leadAddresses[0].ZipCode != '' ? true:false;">{{leadAddresses[0].ZipCode}}</label>]
                                                                      on Zillow
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="zillow_detailbox" ng-if="zillowdata">
                                                            <div class="zillow_section row no-margin">
                                                                <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1">
                                                                    <div class="source-group row">
                                                                        <label class="col-sm-3 text_detlabel">Year Built</label>
                                                                        <div class="col-sm-9">
                                                                            <label class="ldet_label">{{zillowdata.yearBuilt}}</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="source-group row">
                                                                        <label class="col-sm-3 text_detlabel">Lot Size</label>
                                                                        <div class="col-sm-9">
                                                                            <label class="ldet_label">{{zillowdata.lotSizeSqFt}}</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="source-group row">
                                                                        <label class="col-sm-3 text_detlabel">Finished Sq Ft</label>
                                                                        <div class="col-sm-9">
                                                                            <label class="ldet_label">{{zillowdata.finishedSqFt}}</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="source-group row">
                                                                        <label class="col-sm-3 text_detlabel">Bed Rooms</label>
                                                                        <div class="col-sm-9">
                                                                            <label class="ldet_label">{{zillowdata.bedrooms}}</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="source-group row">
                                                                        <label class="col-sm-3 text_detlabel">Bath Rooms</label>
                                                                        <div class="col-sm-9">
                                                                            <label class="ldet_label">{{zillowdata.bathrooms}}</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1">
                                                                    <div class="source-group row">
                                                                        <label class="col-sm-3 text_detlabel">Last Sold Date</label>
                                                                        <div class="col-sm-9">
                                                                            <label class="ldet_label" ng-if="zillowdata.lastSoldDate!=''">{{zillowdata.lastSoldDate | dateFormat1}}</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="source-group row">
                                                                        <label class="col-sm-3 text_detlabel">Last Sold Price</label>
                                                                        <div class="col-sm-9">
                                                                            <label class="ldet_label">{{zillowdata.lastSoldPrice}}</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="source-group row">
                                                                        <label class="col-sm-3 text_detlabel">Zestimate<sup>®</sup></label>
                                                                        <div class="col-sm-9">
                                                                            <label class="ldet_label">{{zillowdata.zestimate}}</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="zillow_footer row">
                                                                <div class="col-md-4 zillow_logo"><a href="http://www.zillow.com" target="_blank"><img src="../../../Content/images/zillow_logo.jpg" alt="" /></a></div>
                                                                <div class="col-md-8 zillow_logocopyright">
                                                                    <p>&copy; Zillow, Inc., 2006-2016. Use is subject to <a href="https://www.zillow.com/corp/Terms.htm" target="_blank">Terms of Use</a><br /> <a href="https://www.zillow.com/zestimate" target="_blank">What is Zestimate?</a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="zillow_desc" ng-hide="zillowdata">
                                                            <p>No Information Available from Zillow</p>
                                                        </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- Additional Contacts Ends.....-->
                                        <!-- Additional Address Starts.....-->
                                        <!--<div class="expand_info3" ng-if="HFCService.GetPermissionTP('List Additional Address').CanAccess">
                                            <div style="margin-top: 15px; margin-bottom: 15px; height: 1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                                <span style="background-color: #f7f7f7; font-weight:bold; cursor: pointer; position: relative; top: -9px;"
                                                      ng-click="DisplayMore2 = !DisplayMore2">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;Click to See Additional Addresses&nbsp;&nbsp;&nbsp;&nbsp;
                                                </span>
                                            </div>
                                            <div class="sub_expand" ng-show="DisplayMore2">
                                                <hfc-additional-address></hfc-additional-address>
                                            </div>
                                        </div>-->
                                        <!-- Additional Address Ends.....-->
                                        <!-- Notes & Attachments Starts.....-->
                                        <!--<div class="expand_info3" ng-if="HFCService.GetPermissionTP('List Notes').CanAccess">
                                            <div style="margin-top: 15px; margin-bottom: 15px; height: 1px; background-color: gray; text-align: left; padding-left:35px; line-height:16px;">
                                                <span style="background-color: #f7f7f7; font-weight:bold; cursor: pointer; position: relative; top: -9px;"
                                                      ng-click="DisplayMore3 = !DisplayMore3">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;Notes & Attachments&nbsp;&nbsp;&nbsp;&nbsp;
                                                </span>
                                            </div>

                                            <div class="sub_expandlead" ng-show="DisplayMore3">
                                                <hfc-note-list></hfc-note-list>
                                            </div>
                                        </div>-->
                                        <!-- Notes & Attachments Ends.....-->
                                    </div>
                                </div>
                            </div>
                            <!--/show more-->


                            <!--<div class="zillow_grid" ng-if="checkZillowinfo">
                                <div class="zillow_title">
                                    <img src="../../../Content/images/zillow_icon.png" />&nbsp;Zillow Information&nbsp;
                                </div>
                                <div class="zillow_body">
                                    <div class="zillow_border">
                                        <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1 lead_topborder" ng-if="zillowdata">
                                            <div class="source-group row">
                                                <label class="col-sm-3 text_detlabel"><a href="{{zillowdata.zillowlink}}" target="_blank" style="color:#3d7d8b;">Zillow Link <i class="fa fa-external-link"></i></a></label>
                                            </div>
                                        </div>
                                        <div class="clearfix"> </div>
                                        <div class="zillow_detailbox" ng-if="zillowdata">
                                            <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_1">
                                                <div class="source-group row">
                                                    <label class="col-sm-3 text_detlabel">Year Built</label>
                                                    <div class="col-sm-9">
                                                        <label class="ldet_label">{{zillowdata.yearBuilt}}</label>
                                                    </div>
                                                </div>
                                                <div class="source-group row">
                                                    <label class="col-sm-3 text_detlabel">Lot Size</label>
                                                    <div class="col-sm-9">
                                                        <label class="ldet_label">{{zillowdata.lotSizeSqFt}}</label>
                                                    </div>
                                                </div>
                                                <div class="source-group row">
                                                    <label class="col-sm-3 text_detlabel">Finished Sq Ft</label>
                                                    <div class="col-sm-9">
                                                        <label class="ldet_label">{{zillowdata.finishedSqFt}}</label>
                                                    </div>
                                                </div>
                                                <div class="source-group row">
                                                    <label class="col-sm-3 text_detlabel">Bed Rooms</label>
                                                    <div class="col-sm-9">
                                                        <label class="ldet_label">{{zillowdata.bedrooms}}</label>
                                                    </div>
                                                </div>
                                                <div class="source-group row">
                                                    <label class="col-sm-3 text_detlabel">Bath Rooms</label>
                                                    <div class="col-sm-9">
                                                        <label class="ldet_label">{{zillowdata.bathrooms}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-xl-6 col-xl-6 col_detail">
                                                <div class="source-group row">
                                                    <label class="col-sm-3 text_detlabel">Last Sold Date</label>
                                                    <div class="col-sm-9">
                                                        <label class="ldet_label" ng-if="zillowdata.lastSoldDate!=''">{{zillowdata.lastSoldDate | dateFormat1}}</label>
                                                    </div>
                                                </div>
                                                <div class="source-group row">
                                                    <label class="col-sm-3 text_detlabel">Last Sold Price</label>
                                                    <div class="col-sm-9">
                                                        <label class="ldet_label">{{zillowdata.lastSoldPrice}}</label>
                                                    </div>
                                                </div>
                                                <div class="source-group row">
                                                    <label class="col-sm-3 text_detlabel">ZEstimate</label>
                                                    <div class="col-sm-9">
                                                        <label class="ldet_label">{{zillowdata.zestimate}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="zillow_desc" ng-hide="zillowdata">
                                            <p>No Information Available from Zillow</p>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </form>
                        <div class="modal fade" id="helppopup" data-keyboard="false" data-backdrop="static">
                            <div class="modal-wrapper-container"></div>
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header popup_head">
                                        <h4 id="helppopuph4" class="mx-auto modal-title">Help</h4>
                                    </div>
                                    <form role="form" novalidate>
                                        <div class="modal-body">
                                            <h4>{{StatusNameByLeadStatus(Lead.LeadStatusId)}} Dispositions</h4>
                                            <div class="row leadpopup" ng-repeat="ac in LeadDispositionByLeadStatus(Lead.LeadStatusId)">
                                                <div class="col-md-4 leadpopup_left">
                                                    <p>{{ac.Name}}</p>
                                                </div>
                                                <div class="col-md-8 leadpopup_right">
                                                    <p>{{ac.Description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-cancel" id="helppopupAnc" style="background: #3d7d8b !important; color: #fff;" data-dismiss="modal" aria-hidden="true">OK</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- To display additional address popup -->
                        <hfc-additional-address-modal></hfc-additional-address-modal>
                        <!-- Note/Attachment model template -->
                        <hfc-note-modal></hfc-note-modal>
                        <!-- What is the purpose??? -->
                        <hfc-lead-source-modal modal-id="attendees"></hfc-lead-source-modal>
                        <!-- What is the purpose??? -->
                        <hfc-account-modal modal-id="account"></hfc-account-modal>
                        <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Lead.LeadId}}"></hfc-fileprint-modal>
                        <!--<div>
                            <hfc-newtask-modal modal-id="newtask"></hfc-newtask-modal>
                        </div>-->
                        <!-- What is the purpose??? -->
                        <hfc-duplicate-modal></hfc-duplicate-modal>
                      </div>
                </div>
            </div>
    <div class="modal fade" id="AfetrThanks_EmailSend" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Email Acknowledgement</h4>
                    <button type="button" class="close popup_close" ng-click="EmailMailClose()" aria-hidden="true">&times;</button>
                </div>
                <form role="form">
                    <div class="modal-body text-center">
                            <label ng-if="!MailSent && !EmailNotify">Email address required to be able to send this email.</label>
                            <label ng-if="MailSent">Lead Acknowledgement email successfully sent to {{Mailid}}</label>
                            <label ng-if="EmailNotify" >Email option is not enabled.</label>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="submit" ng-click="EmailMailClose()" class="btn btn-cancel">Ok</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Kendo panelbar checkbox -->
<script>
    $("#panelbar").on("click", "input.cbSelect", function (evt) {
        evt.stopPropagation();
    })
</script>
<!-- End Kendo panelbar checkbox -->
<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

