﻿<!--TODO this should be define in Layout page-->
<style>
    /*input.ng-invalid {
           border-color: pink;
        }*/
    .errormob {
        margin-left: 179px;
    }

    .errortext, .error, .required_lable {
        color: red !important;
    }

    .has-error .readiocheck, .has-error .radio {
        border-color: #a94442;
    }
    /*.k-multiselect-wrap.k-floatwrap {
            border-right:1px solid #b2bfca !important;
            border-left:1px solid #b2bfca !important;
        }*/
    .k-dateinput-wrap, .k-dropdown-wrap, .k-multiselect-wrap, .k-numeric-wrap, .k-picker-wrap {
        border-width: 0 !important;
    }
    /*.k-combobox{
        border: 1px solid #a94442 !important;
    }*/
    /*.k-autocomplete, .k-combobox .k-dropdown-wrap, .k-dateinput .k-dateinput-wrap, .k-datepicker .k-picker-wrap, .k-datetimepicker .k-picker-wrap, .k-input.k-textbox, .k-multiselect, .k-multiselect-wrap, .k-numerictextbox .k-numeric-wrap, .k-textarea, .k-textbox, .k-timepicker .k-picker-wrap {

        border: 1px solid red !important;
    }*/
    .k-multiselect {
        border: 1px solid #b2bfca;
        border-radius: 4px;
        height: 26px;
    }

    .k-multiselect-wrap .k-button {
        margin: 0 !important;
    }

    table.table.table-expand > tbody > tr.selected:nth-child(odd) > td, table.table.table-expand > tbody > tr.selected:nth-child(odd) > th, table.table.table-expand > thead > tr.selected > th, table.table.table-expand > tbody > tr.selected > th, table.table.table-expand > tfoot > tr.selected > th, table.table.table-expand > thead > tr.selected > td, table.table.table-expand > tbody > tr.selected > td, table.table.table-expand > tfoot > tr.selected > td {
        color: #fff !important;
    }
    .k-i-loading {
        display: none;
    }
    #lead_campaign-list .k-list-scroller{
        max-height: 131px !important;
    }

    .email-error-text {
        line-height: 20px;
        font-size: 14px;
    }
</style>

<div class="outter-wp">
    <div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>
    <div id="crm-alertbox" class="alert alert-dismissable" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span></span>
    </div>
    <div class="lead_stab">
        <ul class="tabs1 landing_tab">
            <li class="activelead1" rel="tab6"><h3><i class="far fa-user fa_icon"></i><br />Information</h3></li>
        </ul>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button ng-if="Permission.AddLead" type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-disabled="IsBusy" ng-click="cancel()"><i class="far fa-times-circle fa_icon"></i></button></li>
                <li><button ng-if="Permission.AddLead" type="submit" class="tooltip-bottom hfc_bgbut" ng-disabled="IsBusy" data-tooltip="Save" ng-click="NotifyText()"><i class="far fa-check-circle fa_icon"></i></button></li>
                <li>
                    <button ng-if="Permission.AddLead" type="button" class="tooltip-bottom hfc_bgbut" ng-hide="Lead.LeadStatusId==2"
                            data-tooltip="Qualify" ng-click="setAction(4)">
                        <i class="far fa-clipboard-list fa_icon"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <form id="crm-lead-detail" name="formlead" ng-submit="SaveLead()">
        <div class="tab_container tp_content">
            <!-- Access error message div -->
            <div class="error" ng-show="!(Permission.AddLead || Permission.EditLead)">
                You don't have permission to this page.
            </div>

            <div id="tab6" class="tab_content1" ng-show="modalState.loaded && (Permission.AddLead || Permission.EditLead)">
                <div class="p-3">
                    <div class="leadgrid_box">
                        <div class="lead_rtop row no-margin">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                <div class="form-group row ml-0 mr-0"
                                     ng-class="{true: 'has-error'}[submitted && formlead.firstName.$invalid]">
                                    <label class="col-sm-3 col-xs-3 required_label">First Name</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="text" class="form-control frm_controllead1 required_field" name="firstName"
                                               ng-model="Lead.PrimCustomer.FirstName" required placeholder="Required"
                                               maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0"
                                     ng-class="{true: 'has-error'}[submitted && formlead.lastName.$invalid]">
                                    <label class="col-sm-3 col-xs-3 required_label">Last Name</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="text" name="lastName" ng-model="Lead.PrimCustomer.LastName"
                                               class="form-control frm_controllead1 required_field" required
                                               placeholder="Required" maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-radio_group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3"></label>
                                    <div class="col-sm-9 col-xs-9" ng-class="{true: 'has-error'}">
                                            <input type="checkbox" class="option-input checkbox"
                                                   ng-model="Lead.IsBusinessAddress"> <label class="ldet_label">Business Address</label>
                                       
                                    </div>
                                </div>
                                <!-- address component -->
                                <div class="form-group row ml-0 mr-0">
                                    <hfc-addresstp address-model="Address" notify="true" parent-form-submit-status="submitted"></hfc-addresstp>
                                </div>
                                <!--Remove as we are using ! symbol-->
                                <!--<div class="form-group row ml-0 mr-0">
                                    <label class="col-xs-3 text_detlabel">Address Validated?</label>
                                    <div class="col-xs-9">
                                        <label class="ldet_label" style="text-transform:capitalize;">{{Address.IsValidated}}</label>
                                    </div>
                                </div>-->
                                <div class="form-phone_group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Cell Phone</label>
                                    <div class="col-sm-9 col-xs-9 row no-margin">
                                        <div class="col-sm-7 col-xs-7 row no-margin no-padding">
                                            <input type="text"
                                                   name="cellPhone"
                                                   class="pno_textbox col-sm-7 col-xs-7"
                                                   ng-model="Lead.PrimCustomer.CellPhone"
                                                   ui-mask="(999) 999-9999"
                                                   ng-blur="Check_AcctNum(Lead.PrimCustomer.CellPhone)"
                                                   ui-options="{clearOnBlur:false}"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_"
                                                   ng-change="EnableNotifyText(Lead.PrimCustomer.CellPhone)" />
                                            <label class="radio-prefer col-sm-5 col-xs-5 ml-0">
                                                <input type="radio" class="option-input radio radio_space"
                                                       name="preferredTFN" ng-disabled="!Lead.PrimCustomer.CellPhone"
                                                       ng-model="Lead.PrimCustomer.PreferredTFN" value="C"
                                                       title="Preferred contact number" />Preferred
                                            </label>
                                            <div ng-if="formlead.cellPhone.$dirty" ng-messages="formlead.cellPhone.$error" style="color:red">
                                                <p ng-message="mask" style="margin:0 !important; font-size: 13px;">Cell Phone number should be 10 digits.</p>
                                                <p ng-message="required" style="margin:5px 0 0 0 !important; font-size: 13px;">Required.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-xs-5"> </div>
                                    </div>
                                </div>
                                <div class="form-phone_group row ml-0 mr-0" ng-if="FranciseLevelTexting">
                                    <label class="col-sm-3 col-xs-3 required_label notification_field">
                                        Notifications via Text?
                                        <label style="position:absolute; top:0;" class="tooltip-bottom" data-tooltip='This will send "opt-in" message to customer, and if they opt-in, Touchpoint will send Appointment and Order update texts to the Customer.'><i class="fas fa-info-circle"></i></label>
                                    </label>
                                    <div class="col-sm-9 col-xs-9 row no-margin">
                                        <div class="col-sm-4 col-xs-4" style="padding:0 !important;">
                                            <input type="checkbox" class="option-input checkbox" ng-model="Lead.IsNotifyText" ng-disabled="disablenotifytext">
                                        </div>
                                        <div class="col-sm-8 col-xs-8" style="padding-left:20px !important;" ng-if="Lead.NotifyTextStatus == 'new'">
                                        </div>
                                        <div class="col-sm-8 col-xs-8" style="padding-left:20px !important;" ng-if="Lead.NotifyTextStatus == 'waiting'">
                                            <label style="color:orange; cursor:default;">Waiting For Response</label>
                                        </div>
                                        <div class="col-sm-8 col-xs-8" style="padding-left:20px !important;" ng-if="Lead.NotifyTextStatus == 'Optin'">
                                            <label style="color:green; cursor:default;">Opted In</label>
                                        </div>
                                        <div class="col-sm-8 col-xs-8" style="padding-left:20px !important;" ng-if="Lead.NotifyTextStatus == 'Optout'">
                                            <label style="color:red; cursor:default;">Opted Out</label>
                                        </div>
                                        <div class="col-sm-8 col-xs-8" style="padding-left:20px !important;" ng-if="Lead.NotifyTextStatus == 'error'">
                                            <label style="font-weight: bold; cursor:default;">Not Reachable</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-phone_group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Home Phone</label>
                                    <div class="col-sm-9 col-xs-9 row no-margin">
                                        <div class="col-sm-7 col-xs-7 row no-margin no-padding">
                                            <input class="col-sm-7 col-xs-7 pno_textbox"
                                                   type="text"
                                                   name="homePhone"
                                                   ng-model="Lead.PrimCustomer.HomePhone"
                                                   ng-required="false"
                                                   ui-options="{clearOnBlur:false}"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_"
                                                   ui-mask="(999) 999-9999"
                                                   ng-blur="Check_AcctNum(Lead.PrimCustomer.HomePhone)" />
                                            <!--ng-blur="CheckDuplicates('homePhone', $event)"-->
                                            <label class="radio-prefer ml-0 col-sm-5 col-xs-5">
                                                <input type="radio" class="option-input radio radio_space" name="preferredTFN"
                                                       ng-disabled="!Lead.PrimCustomer.HomePhone" value="H"
                                                       ng-model="Lead.PrimCustomer.PreferredTFN" title="Preferred contact number" />Preferred
                                            </label>

                                            <div ng-if="formlead.homePhone.$dirty" ng-messages="formlead.homePhone.$error" style="color:red">
                                                <p ng-message="mask" style="margin:5px 0 0 0 !important; font-size: 13px;">Home Phone number should be 10 digits.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-xs-5"> </div>
                                    </div>
                                </div>
                                <div class="form-phone_group row ml-0 mr-0" ng-class="{true: 'has-error'}[submitted && formlead.user_email.$invalid && Required]">
                                    <label class="col-sm-3 col-xs-3 required_label">Email</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="email" name="user_email"
                                               class="form-control frm_controllead1 required_field" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/"
                                               id="LeadPrimCustomerPrimaryEmail" ng-model="Lead.PrimCustomer.PrimaryEmail"
                                               placeholder="Required" maxlength="256" ng-blur="Acct_EmailData(Lead.PrimCustomer.PrimaryEmail)" ng-required=Required />
                                        <div ng-messages="formlead.user_email.$error" class="email-error-text" style="color:red">
                                            <div ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</div>
                                        </div>
                                        </div>
                                                                        
                                </div>
                                <div class="form-phone_group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 text_detlabel notification_field">
                                        Notifications via Email?
                                        <label style="position:absolute; top:0;" class="tooltip-bottom" data-tooltip='This will send Appointment and Order update emails to the Customer.'><i class="fas fa-info-circle"></i></label>
                                    </label>
                                    <div class="col-sm-9 col-xs-9 row no-margin">
                                        <div class="col-sm-4 col-xs-4 no-padding">
                                            <input type="checkbox" class="option-input checkbox" ng-model="Lead.IsNotifyemails" ng-change="EmailCheck(Lead.IsNotifyemails)">
                                        </div>
                                        <div class="col-sm-4 col-xs-4"> </div>
                                    </div>
                                </div>
                                <div class="form-phone_group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Receive Promotion Emails</label>
                                    <div class="col-sm-9 col-xs-9 row phone_field">
                                        <div class="col-sm-4 col-xs-4 no-padding">
                                            <input type="checkbox" class="option-input checkbox" ng-model="Lead.PrimCustomer.RecieveCorporateEmailBlast">
                                        </div>
                                        <div class="col-sm-4 col-xs-4 no-padding"> </div>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Fax</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input class="frm_controllead1"
                                               type="text"
                                               id="user_fax_phne"
                                               name="user_fax_phne"
                                               ng-model="Lead.PrimCustomer.FaxPhone"
                                               ng-required="false"
                                               ui-options="{clearOnBlur:false}"
                                               ui-mask-placeholder
                                               ui-mask-placeholder-char="_"
                                               ui-mask="(999) 999-9999"
                                               ng-blur="Check_AcctNum(Lead.PrimCustomer.FaxPhone)" />
                                        <div ng-if="formlead.user_fax_phne.$dirty" ng-messages="formlead.user_fax_phne.$error" style="color:red">
                                            <!--<p ng-message="mask">Fax phone number should be 10 digits.</p>-->
                                            <p ng-message="mask" style="margin:5px 0 0 0 !important; font-size: 13px;">Fax Phone number should be 10 digits.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0" style="margin-bottom:12px !important;">
                                    <label class="col-sm-3 col-xs-3 required_label">Work Phone</label>
                                    <div class="col-sm-9 col-xs-9 row no-margin">
                                        <div class="col-sm-7 col-xs-7 row no-margin no-padding">
                                            <input class="pno_textbox col-sm-7 col-xs-7"
                                                   type="text"
                                                   id="WorkPhone"
                                                   name="WorkPhone"
                                                   ng-model="Lead.PrimCustomer.WorkPhone"
                                                   ng-required="false"
                                                   ui-options="{clearOnBlur:false}"
                                                   ui-mask-placeholder
                                                   ui-mask-placeholder-char="_"
                                                   ui-mask="(999) 999-9999"
                                                   ng-blur="Check_AcctNum(Lead.PrimCustomer.WorkPhone)" />
                                            <!--ng-blur="getDuplicateLead(Lead.PrimCustomer.WorkPhone)"-->
                                            <label class="radio-prefer ml-0 col-sm-5 col-xs-5"><input type="radio" class="option-input radio radio_space" ng-disabled="!Lead.PrimCustomer.WorkPhone" name="preferredTFN" ng-model="Lead.PrimCustomer.PreferredTFN" value="W" title="Preferred contact number" />Preferred</label>
                                        </div>
                                        <div class="col-sm-5 col-xs-5 row no-margin no-padding">
                                            <label class="col-sm-3 col-xs-3 required_label">Ext</label>
                                            <div class="col-sm-9 col-xs-9 pr-0">
                                                <input type="text" ng-model="Lead.PrimCustomer.WorkPhoneExt" class="frm_controllead1" placeholder="" maxlength="5" />
                                            </div>
                                        </div>
                                        <div class="clearfix"> </div>
                                        <div ng-if="formlead.WorkPhone.$dirty" ng-messages="formlead.WorkPhone.$error" style="color:red">
                                            <!--  <p ng-message="mask"><label class="radio-prefer col-sm-3">&nbsp;</label>&nbsp;Phone number should be 10 digits.</p>-->
                                            <p ng-message="mask" style="margin:0 !important; font-size: 13px;">Work Phone number should be 10 digits.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Secondary Email</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input name="user_email_secondary"
                                               ng-pattern="/^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@[a-zA-Z0-9-\.]+\.(?:[a-zA-Z0-9-]+){2,}$/"
                                               type="email" id="LeadPrimCustomerSecondaryEmail"
                                               ng-model="Lead.PrimCustomer.SecondaryEmail"
                                               class="frm_controllead1" placeholder="" maxlength="256"
                                               ng-blur="getDuplicateLead(Lead.PrimCustomer.SecondaryEmail)" />
                                        <!--<input name="user_email_secondary"                                              
                                               type="email" id="LeadPrimCustomerSecondaryEmail" 
                                               ng-model="Lead.PrimCustomer.SecondaryEmail" valid-domain-name valid-email-regx
                                               class="frm_controllead1" placeholder="" maxlength="256"
                                               ng-blur="getDuplicateLead(Lead.PrimCustomer.SecondaryEmail)" />-->
                                        <div ng-messages="formlead.user_email_secondary.$error" style="color:red">
                                            <div ng-message="pattern">Please enter a valid email. No special character allowed other than '-' after the @ sign</div>
                                            <!--<span ng-show="formlead.user_email_secondary.$error.validEmailRegx">
                                                Please enter a valid email address!
                                            </span>
                                            <span ng-show="formlead.user_email_secondary.$error.validDomainName">
                                                Please enter a valid email address. An invalid character appears after the @ sign.
                                            </span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Location Info</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="text" ng-model="Address.Location" class="frm_controllead1" placeholder="" maxlength="256" />
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Cross Streets</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="text" ng-model="Address.CrossStreet" class="frm_controllead1" placeholder="" maxlength="75" />
                                    </div>
                                </div>
                                <div class="form-group row state_field ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Country</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select class="custom-dropdown__select custom-dropdown__select--white"
                                                    id="countryBox" ng-model="Address.CountryCode2Digits"
                                                    ngchange1="AdditionalAddressServiceTP.CountryChanged()"
                                                    ng-change="CountryChanged()"
                                                    ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                                <option disabled value="">select</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_2">
                                <div class="source-group row state_field">
                                    <label class="col-sm-3 col-xs-3 required_label">Lead Status</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                    ng-model="Lead.LeadStatusId"
                                                    ng-options='opt.Id as (opt.Name) for opt in LeadStatuseslist'>
                                                <option ng-value="0">select</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>

                                <!-- LeadStatusId 2 = Lost lead;
                                     LeadStatusId 5 = Nurture;
                                     We need to show Disposition only in those two condition.
                                    ng-show="Lead.LeadStatusId == 2 || Lead.LeadStatusId == 5"
                                     -->

                                <div class="row state_field leaddis_field" ng-show="Lead.LeadStatusId == 2 ||
                                             Lead.LeadStatusId == 5 || Lead.LeadStatusId == 13">
                                    <div class="col-sm-7 col-xs-7">
                                        <div class="row ml-0 mr-0" ng-class="{true: 'has-error'}[submitted && formlead.dispostion_tp.$invalid]">
                                            <label class="col-sm-4 col-xs-4 required_label">Disposition</label>
                                            <div class="col-sm-8 col-xs-8 pr-0">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            ng-class="{true: 'errorTP'}[formlead.dispostion_tp.$invalid]"
                                                            ng-model="Lead.DispositionId"
                                                            name="dispostion_tp"
                                                            ng-required="Lead.LeadStatusId == 2 || Lead.LeadStatusId == 5"
                                                            ng-options="option.DispositionId as (option.Name) for option in LeadDispositionByLeadStatus(Lead.LeadStatusId)"
                                                            ng-change="ChangeDispositionDesc(Lead.DispositionId)">

                                                        <option value="" disabled selected>select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 help_icon">
                                        <button type="button" class="plus_but tooltip-bottom" style="font-size:20px;" data-tooltip="Help" ng-click="ShowHelpPopup()">
                                            <i class="far fa-exclamation-triangle"></i>
                                        </button>
                                    </div>

                                    <div class="col-sm-4 disposition_desc">
                                        <!--<label class="ng-binding ldet_label">{{DescriptionByDisposition(Lead.DispositionId)}}</label>-->
                                        <label class="ng-binding ldet_label" ng-bind="DispositionDesc"></label>
                                    </div>
                                </div>
                                <div class="source-group row state_field no-margin" >
                                    <label class="col-sm-3 col-xs-3 required_label">Campaign</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                    ng-model="Lead.CampaignId" ng-change="ChangeCampaign()"
                                                    ng-options="option.CampaignId as (option.Name) for option in leadCampaignslist ">
                                                <option value="">Select</option>
                                                </select>-->
                                            <select id="lead_campaign"
                                                    name="lead_campaign"
                                                    kendo-drop-down-list
                                                    k-options="lead_campaign"
                                                    k-ng-model="Lead.CampaignId"
                                                    class="form-control custom-dropdown__select custom-dropdown__select--white" style="border:1px solid #b2bfca;"></select>
                                        </span>
                                    </div>
                                </div>

                                <div class="row state_field drop_group origination_grid">
                                    <!--<div class="col-sm-6 col-xs-6">
                                        <div class="row ml-0 mr-0 origination_field" ng-show="Lead.SelectedSource">
                                            <label class="col-sm-4 col-xs-4 text_detlabel">Origination</label>
                                            <div class="col-sm-8 col-xs-8">
                                                <label class="ng-binding ldet_label orgination_lalign">{{LeadChannelList[0].OriginationName}}</label>
                                            </div>
                                        </div>
                                    </div>-->

                                    <div class="col-sm-6">
                                        <div class="row ml-0 mr-0 origination_field" ng-show="SelectedSourceIds[0]">
                                            <label class="col-sm-4 col-xs-4 text_detlabel">Channel</label>
                                            <div class="col-sm-8 col-xs-8">
                                                <label class="ng-binding ldet_label">{{LeadChannelList[0].ChannelName}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Source</label>
                                    <div class="col-sm-9 col-xs-9" ng-hide="Lead.CampaignId>0">
                                        <div class="Atendes-grid">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <select id="RelatedSource" ng-class="{true: 'k-combobox required'}[submitted && (SelectedSourceIds.length == 0)]"
                                                        name="RelatedSource"
                                                        k-on-change="ChangeSource()"
                                                        kendo-multi-select
                                                        data-max-selected-items="1"
                                                        k-options="RelatedSource"
                                                        k-ng-model="SelectedSourceIds"
                                                        class="form-control custom-dropdown__select custom-dropdown__select--white required_field"></select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-xs-9" ng-show="Lead.CampaignId>0">
                                        <label class="ng-binding ldet_label">{{selectedSourceName}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Referral Info</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="text" placeholder="" maxlength="50" ng-model="Lead.AccountName"
                                               class="frm_controllead1" />
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Lead Type</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <label class="ng-binding ldet_label">{{Lead.LeadType}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Key Acct</label>
                                    <div class="col-sm-8 col-xs-8">
                                        <label class="ng-binding ldet_label">{{Lead.KeyAcct}}</label>
                                    </div>
                                </div>
                                <!--<div style="margin:30px 20px;height:1px; background-color: gray; text-align:left; line-height: 16px;">
                                    <span style="background-color:#f7f7f7; font-weight:bold; position:relative; top: -9px;" ng-click="DisplayMore = !DisplayMore">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Referral / Relationship Information:&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </div>-->
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 required_label">Related/Parent Account</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select class="form-control custom-dropdown__select custom-dropdown__select--white" id="RelatedAccounts"
                                                    name="RelatedAccounts"
                                                    kendo-multi-select
                                                    data-max-selected-items="1"
                                                    k-options="RelatedAccounts"
                                                    k-ng-model="SelectedRelatedAccountIds"></select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Territory</label>
                                    <div class="col-sm-8 col-xs-8" ng-show='Lead.TerritoryType =="Contracted to a DIFFERENT Franchisee"'>
                                        <label class="ng-binding ldet_label error">{{Lead.TerritoryType}}</label>
                                    </div>
                                    <div ng-show='Lead.TerritoryType !="Contracted to a DIFFERENT Franchisee"' class="col-sm-8 col-xs-8">
                                        <label class="ng-binding ldet_label">{{Lead.TerritoryType}}</label>
                                    </div>
                                </div>
                                <div class="form-group row ml-0 mr-0" ng-show="((Lead.TerritoryType | uppercase) == 'GRAY AREA / UNASSIGNED') || ((Lead.TerritoryType | uppercase) == 'GRAY AREA / ASSINGED & UNASSIGNED') || ((Lead.TerritoryType | uppercase) == 'GRAY AREA / ASSIGNED') || ((Lead.TerritoryType | uppercase) == 'GRAY AREA') ">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">
                                        Display Territory
                                        <label type="reset" class="tooltip-bottom" data-tooltip="Assign Territory for Customer display information. This will not affect/change reporting."><i class="fas fa-info-circle"></i></label>
                                    </label>
                                    <div class="col-sm-9 col-xs-9">
                                        <span class="custom-dropdown custom-dropdown--white">
                                            <select class="frm_controllead1 custom-dropdown__select custom-dropdown__select--white required_field"
                                                    name="displayleadterritory"
                                                    ng-change="showterritoryvalue()"
                                                    ng-options="option.Id as (option.Name) for option in DisplayTerritorySource"
                                                    ng-model="TerritoryDisplayId"
                                                    style="width:100%"></select>
                                        </span>
                                    </div>
                                </div>
                                <div class="row state_field ml-0 mr-0">
                                    <label class="col-sm-3 col-xs-3 text_detlabel">Legacy Account</label>
                                    <div class="col-sm-9 col-xs-9">
                                        <input type="checkbox" class="option-input checkbox"
                                               ng-model="Lead.LegacyAccount">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--show more-->
                        <ul kendo-panel-bar id="panelbar">
                            <li id="leadlistPanel">
                                <span style="font-weight:bold;">Lead Details</span>
                                <div class="kendo_panel row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 col_1">
                                        <div class="source-group row">
                                            <label class="col-sm-3 col-xs-3 text_detlabel">Commercial</label>
                                            <div class="col-sm-1 col-xs-1">
                                                <input type="checkbox" class="option-input checkbox" ng-model="Lead.IsCommercial" ng-checked='Lead.IsCommercial' ng-click="UpdateCommercialDependField()">
                                            </div>
                                        </div>
                                        <div ng-show="Lead.IsCommercial==true" class="state_field">
                                            <div class="form-group row ml-0 mr-0">
                                                <label class="col-sm-3 col-xs-3 required_label">Commercial Type</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                id="countryBox"
                                                                ng-model="Lead.CommercialTypeId"
                                                                ng-change="UpdateRelationShipType()"
                                                                ng-options="option.Id as (option.Name) for option in LeadCommercialType">
                                                            <option value="">Select</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                            <div ng-show="Lead.CommercialTypeId!='2000'" class="form-group row ml-0 mr-0">
                                                <label class="col-sm-3 col-xs-3 required_label">Relationship Type</label>
                                                <div class="col-sm-9 col-xs-9">
                                                    <span class="custom-dropdown custom-dropdown--white">
                                                        <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                id="countryBox"
                                                                name="relationship_type"
                                                                ng-class="{true: 'errorTP'}[formlead.relationship_type.$invalid || !Lead.RelationshipTypeId]"
                                                                ng-model="Lead.RelationshipTypeId"
                                                                ng-required="Lead.CommercialTypeId && Lead.CommercialTypeId!='2000'"
                                                                ng-options="option.Id as (option.Name) for option in LeadRelationshipType">
                                                            <option value="" disabled selected>Select</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div ng-show="Lead.IsCommercial==true" class="form-group row ml-0 mr-0 state_field">
                                            <label class="col-sm-3 col-xs-3 required_label acount_label">Commercial Type</label>
                                            <div class="col-sm-4 col-xs-4">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            id="countryBox"
                                                            ng-model="Lead.CommercialTypeId"
                                                            ng-change="UpdateRelationShipType()"
                                                            ng-options="option.Id as (option.Name) for option in LeadCommercialType">
                                                        <option value="">Select</option>
                                                    </select>
                                                </span>
                                            </div>
                                            <div ng-show="Lead.CommercialTypeId!='2000'" class="col-sm-5 col-xs-5 no-padding">
                                                <div class="account-rgroup accountadd-rgroup">
                                                    <label class="col-sm-5 col-xs-5 required_label" style="font-weight:bold;">Relationship Type</label>
                                                    <div class="col-sm-7 col-xs-7">
                                                        <span class="custom-dropdown custom-dropdown--white">
                                                            <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                    id="countryBox"
                                                                    name="relationship_type"
                                                                    ng-class="{true: 'errorTP'}[formlead.relationship_type.$invalid || !Lead.RelationshipTypeId]"
                                                                    ng-model="Lead.RelationshipTypeId"
                                                                    ng-required="Lead.CommercialTypeId && Lead.CommercialTypeId!='2000'"
                                                                    ng-options="option.Id as (option.Name) for option in LeadRelationshipType">
                                                                <option value="" disabled selected>Select</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div ng-show="Lead.IsCommercial==true" class="row state_field leadterritory_group" style="margin: 0 0 15px 6% !important;">
                                            <div class="col-sm-7 col-xs-7">
                                                <div class="row ml-0 mr-0">
                                                    <label class="col-sm-4 col-xs-4 required_label">Industry</label>
                                                    <div class="col-sm-8 col-xs-8">
                                                        <span class="custom-dropdown custom-dropdown--white">
                                                            <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                                    ng-model="Lead.IndustryId"
                                                                    ng-change="UpdateOtherIndustries()"
                                                                    ng-options="option.Id as (option.Name) for option in LeadIndustries">
                                                                <option value="">select</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="Lead.IsCommercial==true &&Lead.IndustryId=='1009'" class="col-sm-5 disposition_desc">
                                                <input type="text" ng-model="Lead.OtherIndustry" class="frm_controllead1" placeholder="" maxlength="256" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 col-xs-3 required_label">Company Name</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <input name="user_companyname" type="text" data-bind="value: CompanyName" ng-required="Lead.IsCommercial" ng-model="Lead.PrimCustomer.CompanyName" class="frm_controllead1" placeholder="" maxlength="256" />
                                                <div ng-if="formlead.user_companyname.$error.required" ng-messages="formlead.user_companyname.$error" style="color:red">
                                                    <p ng-message="required" style="margin:5px 0 0 0 !important; font-size: 13px;">Company Name Required !</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 col-xs-3 required_label">Attention</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <input type="text" ng-model="Address.AttentionText" class="frm_controllead1" placeholder="" maxlength="256" />
                                            </div>
                                        </div>
                                        <div class="form-group row ml-0 mr-0">
                                            <label class="col-sm-3 col-xs-3 required_label">Title</label>
                                            <div class="col-sm-9 col-xs-9">
                                                <input type="text" data-bind="value: WorkTitle" ng-model="Lead.PrimCustomer.WorkTitle" class="frm_controllead1" placeholder="" maxlength="50" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hfc-dialog></hfc-dialog>
    <hfc-note-modal></hfc-note-modal>

    <hfc-fileprint-modal modal-id="fileprint" lead-id="{{Lead.LeadId}}"></hfc-fileprint-modal>

    <div class="modal fade" id="helppopup" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 id="helppopuph4" class="mx-auto modal-title">Help</h4>
                </div>
                <form role="form" novalidate>
                    <div class="modal-body">
                        <h4>{{StatusNameByLeadStatus(Lead.LeadStatusId)}} Dispositions</h4>
                        <div class="row leadpopup" ng-repeat="ac in LeadDispositionByLeadStatus(Lead.LeadStatusId)">
                            <div class="col-sm-4 leadpopup_left">
                                <p>{{ac.Name}}</p>
                            </div>
                            <div class="col-sm-8 leadpopup_right">
                                <p>{{ac.Description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-cancel" id="helppopupAnc" style="background: #3d7d8b !important; color: #fff;" data-dismiss="modal">OK</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Notifications via Text popup-->
    <div class="modal fade" id="Textnotification" data-keyboard="false" data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog quote_popup">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">Confirm</h4>
                </div>
                <form name="Measurement_addint" role="form">
                    <div class="modal-body quote_popup">
                        <div class="form-group row m-2 text-center">
                            Please inform the Customer: "You will receive a text message from us requesting your approval. If you do not reply, you will not receive texts. You must agree to receive these texts. This is to verify you are the owner of the mobile number, and are in fact opting in to receive these messages."
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="popup_butns">
                            <button type="button" class="btn btn-cancel" ng-click="setAction(3)">Ok</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<iframe id="print_frame" style="visibility:hidden;height:0px;width:0px"></iframe>

<div class="modal fade" id="lead_AccntDetails" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <div class="modal-wrapper-container"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content lead_popup">
            <div class="modal-header popup_head">
                <h4 class="mx-auto modal-title">Possible Matches</h4>
                <button type="button" id="cancelheader" class="close popup_close" ng-click="cancel_Pop()" aria-hidden="true">&times;</button>
            </div>
            <form name="Purchase_order" role="form" novalidate>
                <div class="modal-body">
                    <!--<p>Hello New World</p>-->
                    <div class="table-responsive">
                        <table class="table table-expand leadmatch_popup" id="Acct_tabVal">
                            <thead class="expand_lhead">
                                <tr>
                                    <th>Name</th>
                                    <th>Account Type</th>
                                    <th>Address</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Created On</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ac in Acct_details" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,ac.AccountId)">
                                    <td style="display:none;">{{ac.AccountId}}</td>
                                    <td><div style="width:150px;">{{ac.FullName}}</div></td>
                                    <td><div style="width:100px;">{{ac.AccountType}}</div></td>
                                    <td><div style="width:180px;">{{ac.FullAddress}}</div></td>
                                    <td><div style="width:150px;">{{ac.PrimaryEmail}}</div></td>
                                    <td><div style="width:120px;">{{ac.PreferedNumber | mask:'(999) 999-9999'}}</div></td>
                                    <td><div style="width:80px;">{{ac.CreatedOn|GlobalTime:'shortDate'}}</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-primary cancel_but" ng-click="cancel_Pop()"> Cancel</button>
                    <button type="reset" class="btn btn-primary cancel_but" ng-click="View_newtab(true)"> View (new tab)</button>
                    <button type="reset" class="btn btn-primary cancel_but" ng-click="Account_view(true)"> Go to Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
