﻿<style>
    .error, .required_lable {
        color: red;
    }
    .errormob {
        margin-left: 179px;
    }
    .errortext {
        color: red !important;
    }
    .has-error {
        border-color: #a94442;
    }
    .k-combobox.required {
        border: 1px solid #a94442 !important;
    }
    .k-multiselect-clearable .k-multiselect-wrap {
        padding-right: 2.42142857em;
    }
    .k-grid .k-button {
        margin: 0 .16em;
    }
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }
    .k-footer-template td {
        background-color: #cacaca !important;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }
    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }
    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }
    .k-grid-header {
        background: #e2e2e2;
    }
    .k-grid-footer {
        background: #cacaca;
    }
</style>
<div class="outter-wp">
    <!--<section class="my_sub_header_1">
        <nav class="navbar navbar-default my-navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img class="sale_icon" src="../../../Content/images/setting.png">Settings</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav my-navbar-nav">
                        <li><a href="#!/listDocuments">General</a></li>
                        <li class="active"><a href="#!/vendors">Operations</a></li>
                        <li><a href="#!/users">Security</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>-->

    <div class="lead_stab">
        <ul class="tabs1 landing_tab" style="width:95% !important;">
            <li rel="tab5">
                <a href="#!/vendors">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Vendors</h3>
                </a>
            </li>
            <li rel="tab6">
                <a href="#!/productSearch">
                    <h3><i class="far fa-dolly-flatbed-alt fa_icon"></i><br />Products/Services</h3>
                </a>
            </li>
            <li rel="tab7" style="width: auto !important;">
                <a href="#!/pricingSettings">
                    <h3><i class="far fa-usd-square fa_icon"></i><br />Pricing Management</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab7">
                <a href="#!/procurement">
                    <h3><i class="fa fa-cogs fa_icon"></i><br>Procurement Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/buyerremorse">
                    <h3><i class="fa fa-cogs fa_icon"></i><br />Sales Settings</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/TaxSettings">
                    <h3><i class="fas fa-landmark fa_icon"></i><br />Tax Settings</h3>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- Grid Section  -->
    <div class="tab_container tpsearch_content">
        <div class="error error_msg" style="margin-top:30px;" ng-show="!Permission.ListProcurement">
            You don't have permission to this page.
        </div>
        <div ng-if="Permission.ListProcurement">
            <div class="table-responsive">
                <!--<kendo-tooltip options="kendotooltipOptions">-->
                <kendo-grid id="gridShipLocation" options="ShipToLocation" style="margin-bottom:40px !important;"></kendo-grid>
                <!--</kendo-tooltip>-->
            </div>
        </div>
    </div>
    <!-- Popup Secontion -->
    <!--Ship to Address Pop Up-->
    <form id="crm-ship-detail" name="form_ship">
        <div class="modal fade" id="shiplocation" data-keyboard="false"
             data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 class="mx-auto modal-title">Shipping Address</h4>
                        <button type="button"
                                class="close popup_close"
                                ng-click="Cancel('shiplocation')"
                                aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row state_field ml-0 mr-0"
                             ng-class="{true: 'has-error'}[submitted && ( form_ship.Ship_location.$modelValue==null
                                             || form_ship.Ship_location.$modelValue.Id=='' )]">
                            <label class="col-sm-3 col-xs-3 required_label">Ship To Location</label>
                            <div class="col-sm-9 col-xs-9">
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                            ng-model="Ship.ShipToLocation"
                                            ng-class="{true: 'errorTP'}[form_ship.Ship_location.$invalid]"
                                            name="Ship_location"
                                            ng-required="true"
                                            ng-options="opt.Id as (opt.ShipToLocation) for opt in shipTolocationList">
                                        <option value="" disabled selected>Select</option>
                                    </select>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row ml-0 mr-0"
                             ng-class="{true: 'has-error'}[submitted && form_ship.shipName.$invalid]">
                            <label class="col-sm-3 col-xs-3 required_label">Ship To Name</label>
                            <div class="col-sm-9 col-xs-9">
                                <input type="text"
                                       name="shipName"
                                       ng-model="Ship.ShipToName"
                                       maxlength="256"
                                       required
                                       class="frm_controllead1 required_field"
                                       placeholder="Required" />
                            </div>
                        </div>

                        <div class="form-group row ml-0 mr-0">
                            <label class="col-sm-3 col-xs-3 required_label">Phone Number</label>
                            <div class="col-sm-9 col-xs-9">
                                <input type="text"
                                       name="cellPhone"
                                       class="frm_controllead1"
                                       ng-model="Ship.PhoneNumber"
                                       ui-mask="(999) 999-9999"
                                       ng-blur=""
                                       ui-options="{clearOnBlur:false}"
                                       ui-mask-placeholder
                                       ui-mask-placeholder-char="_" />
                                <div class="text-danger" ng-if="form_ship.cellPhone.$dirty" ng-messages="form_ship.cellPhone.$error">
                                    <p class="no-margin" ng-message="mask"><label class="ldet_label">Cell Phone number should be 10 digits.</label></p>
                                </div>
                            </div>
                        </div>

                        <hfc-addresstp address-model="Address" parent-form-submit-status="submitted"></hfc-addresstp>

                        <div class="form-group row ml-0 mr-0" style="margin-top: 15px;">
                            <label class="col-sm-3 valid_label">Country</label>
                            <div class="col-sm-9 col-xs-9">
                                <span class="custom-dropdown custom-dropdown--white">
                                    <select class="form-control frm_controllead1 custom-dropdown__select custom-dropdown__select--white" style="padding:5px !important;"
                                            id="countryBox" ng-model="Address.CountryCode2Digits"
                                            ngchange1="AdditionalAddressServiceTP.CountryChanged()"
                                            ng-change="CountryChanged()"
                                            ng-options='opt.ISOCode2Digits as (opt.ISOCode2Digits + " - " + opt.Country) for opt in AddressService.Countries'>
                                        <option value="">select</option>
                                    </select>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row ml-0 mr-0">
                            <label class="col-sm-3 valid_label">Territories</label>
                            <div class="col-sm-9 col-xs-9">
                                <div class="form-group row ml-0 mr-0 w-100">
                                    <span class="custom-dropdown custom-dropdown--white">
                                        <select kendo-multi-select
                                                class="custom-dropdown__select custom-dropdown__select--white form-control h-100" 
                                                required
                                                id="RelatedTerritory"
                                                name="RelatedTerritory"
                                                k-options="RelatedTerritory"
                                                k-ng-model="Ship.SelectedRelatedTerritoriesId"></select>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="popup_butns" ng-if="Permission.EditProcurement">
                            <button type="button" ng-disabled="AdditionalAddressServiceTP.IsBusy"
                                    ng-click="Cancel('shiplocation')"
                                    class="btn btn-cancel">
                                Cancel
                            </button>
                            <button ng-click="SaveShippingLocation('shiplocation')" type="submit" class="btn btn-cancel">
                                Save
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
    <!-- Activate Ship Address Pop Up -->

    <div class="modal fade" id="Activeshiplocation" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">WARNING</h4>
                    <button type="button"
                            class="close popup_close"
                            ng-click="Cancel('Activeshiplocation')"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>

                <div class="modal-body">
                    <!-- Display this div, when the mode is not Disply(otherwise add or edit) -->
                    <div class="text-center font-weight-bold">Make This Ship To Location as ACTIVE</div>
                </div>

                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="button"
                                ng-click="Cancel('Activeshiplocation')"
                                class="btn btn-cancel">
                            Cancel
                        </button>
                        <button ng-click="SaveShippingLocation('Activeshiplocation')" type="submit" class="btn btn-cancel">
                            OK
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Deactivate Ship Address Pop Up -->

    <div class="modal fade" id="DeActiveshiplocation" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-wrapper-container"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header popup_head">
                    <h4 class="mx-auto modal-title">WARNING</h4>
                    <button type="button"
                            class="close popup_close"
                            ng-click="Cancel('DeActiveshiplocation')"
                            aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Display this div, when the mode is not Disply(otherwise add or edit) -->
                    <div class="text-center font-weight-bold">Make This Ship To Location as DEACTIVE</div>
                </div>

                <div class="modal-footer">
                    <div class="popup_butns">
                        <button type="button"
                                ng-click="Cancel('DeActiveshiplocation')"
                                class="btn btn-cancel">
                            Cancel
                        </button>
                        <button ng-click="SaveShippingLocation('DeActiveshiplocation')" type="submit" class="btn btn-cancel">
                            OK
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function ShipLocationDropDownEditor(container, options) {
        $('<input required=true name="' + options.field + '" data-bind="value:ShipToLocation" />')
            .appendTo(container)
            .kendoDropDownList({
                valuePrimitive: true,
                autoBind: true,
                optionLabel: "Select",
                dataTextField: "ShipToLocation",
                dataValueField: "Id",
                template: "#=Id #",
                dataSource: {
                    transport: {
                        read: {
                            url: '/api/Lookup/0/Type_ShipToLocation',
                        }
                    },
                    sort: { field: "Id", dir: "asc" }
                }
            });
    }
</script>