﻿<!DOCTYPE html>
<html>
<head>
    <title>Touchpanel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Touchpanel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/new_style.css" rel='stylesheet' type='text/css' />
</head>
<body>
    <div style="page-break-inside: avoid">
        <div class="container-fluid">
            <div class="print-tbox">
                <header>
                    <div class="col-sm-8 print-tboxleft">
                        <h1>Lead Sheet</h1>
                        <div class="print-row row">
                            <div class="col-xs-6 col-sm-6">
                                <div class="col-sm-5 col-xs-5"><label>Designer : </label></div>
                                <div class="col-sm-7 col-xs-7">{{SalesAgentName}}</div>
                            </div>
                            <div class="col-sm-6 col-xs-6"></div>
                        </div>
                        <div class="print-row row">
                            <div class="col-xs-6 col-sm-6">
                                <div class="col-sm-5 col-xs-5"><label>Booked by : </label></div>
                                <div class="col-sm-7 col-xs-7">{{BookedBy}} </div>
                            </div>
                            <div class="col-xs-6 col-sm-6"></div>
                        </div>
                        <div class="print-row row">
                            <div class="col-xs-6 col-sm-6">
                                <div class="col-sm-5 col-xs-5"><label>Appt Date : </label></div>
                                <div class="col-sm-7 col-xs-7">{{ApptDate}}</div>
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <div class="col-sm-5 col-xs-5"><label>Appt Time : </label></div>
                                <div class="col-sm-7 col-xs-7">{{ApptTime}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 pull-right">
                        <img class="print-tboxright" src="images/TailoredLiving.png" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                </header>
                <section class="print-informbox">
                    <div class="row print-info" style="page-break-inside: avoid">
                        <div class="col-sm-6 print-infoleft">
                            <h2>Contact Information</h2>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Primary Contact : </label></div>
                                <div class="col-xs-7">
                                    <label>{{Contactfullname}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Company : </label></div>
                                <div class="col-xs-7">
                                    <label>{{CompanyName}} </label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Billing Address : </label></div>
                                <div class="col-xs-7 adres_print">
                                    <div><label>{{BillingAddress1}}</label></div>
                                    <div><label>{{BillingAddress2}}</label></div>
                                    <div><label>{{BillingAddress_CityStateZip}}</label></div>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Cell : </label></div>
                                <div class="col-xs-7">
                                    <label> {{PrimaryCellPhone}} </label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Home : </label></div>
                                <div class="col-xs-7">
                                    <label>{{PrimaryHomePhone}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Work : </label></div>
                                <div class="col-xs-7">
                                    <label>{{PrimaryWorkPhone}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Email : </label></div>
                                <div class="col-xs-7">
                                    <label>{{PrimaryEmail}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Additional Info : </label></div>
                                <div class="col-xs-7">
                                    <label>{{Additional_Info}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 print-inforight">
                            <h2>Opportunity Information</h2>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Install Address : </label></div>
                                <div class="col-xs-7 adres_print">
                                    <div><label>{{InstallAddress1}}</label></div>
                                    <div><label>{{InstallAddress2}}</label></div>
                                    <div><label>{{InstallAddres_CityStateZip}}</label></div>
                                </div>
                            </div>
                            <!--<div class="print-row row">
                                <div class="col-xs-4" style="padding-right:0 !important;"><label>Type : </label></div>
                                <div class="col-xs-8">
                                    <label>{{leadType}}</label>
                                </div>
                            </div>-->
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Secondary Contact : </label></div>
                                <div class="col-xs-7">
                                    <label>{{Secondarycontact}} </label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Cell : </label></div>
                                <div class="col-xs-7">
                                    <label>{{SecondaryCellPhone}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Source : </label></div>
                                <div class="col-xs-7">
                                    <!--<label>{{LeadSourceName}}</label>-->
                                    <label>{{OpportunitySourceName}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Referral Info : </label></div>
                                <div class="col-xs-7">
                                    <label>{{LeadReferralInfo}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Lead Type : </label></div>
                                <div class="col-xs-7">
                                    <label>{{LeadType}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Key Account : </label></div>
                                <div class="col-xs-7">
                                    <label>{{KeyAccount}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Related/Parent Account : </label></div>
                                <div class="col-xs-7">
                                    <label>{{ParentAccount}}</label>
                                </div>
                            </div>

                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Legacy Account : </label></div>
                                <div class="col-xs-7">
                                    <label>
                                        <input type="checkbox" class="option-input checkbox " {{LegacyAccount}}>
                                    </label>
                                </div>
                            </div>
                            
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Commercial : </label></div>
                                <div class="col-xs-7">
                                    <label>
                                        <input type="checkbox" class="option-input checkbox" {{Commercial}}>
                                    </label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Commercial Type : </label></div>
                                <div class="col-xs-7">
                                    <label>{{Commercial_Type}}</label>
                                </div>
                            </div>
                            <div class="print-row row">
                                <div class="col-xs-5 pcontact_field"><label>Industry : </label></div>
                                <div class="col-xs-7">
                                    <label>{{Industry}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="print-detailbox" style="page-break-inside: avoid">
                        <div style="border: 1px solid #555;">
                            <div style="padding:20px;">
                                <p style="width:175px; margin-top:-32px; padding-left: 5px; background:#fff; color:#000;">Qualification Questions</p>

                                <div class="oportunity_cboxs row">
                                    <div class="col-sm-2">
                                        <label>
                                            <input type="radio" class="option-input radio" name="optNewHome" {{TL_QQ_NewHome}}>
                                            New Home?
                                        </label>
                                    </div>
                                    <div class="col-sm-2" style="padding:0 !important;">
                                        <label>
                                            <input type="radio" class="option-input radio" name="optExistingHome" {{TL_QQ_ExistingHome}}>
                                            Existing Home?
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="col-sm-6"><label class="date_label">If New Home, Estimated Closing Dat?</label></div>
                                        <div class="col-sm-6 print_tbox"><input type="text" class="form-control" value="{{TL_QQ_EstimatedClosingDate}}"> </div>
                                    </div>
                                </div>
                                <div class="oportunity_cboxs row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8 print-row">
                                        <div class="col-sm-6"><label class="date_label">Or, Project Lead Time Preference</label></div>
                                        <div class="col-sm-6 print_tbox"><input type="text" class="form-control" value="{{TL_QQ_ProjectLeadTimePreference}}"></div>
                                    </div>
                                </div>
                                <div class="budget_box">
                                    <h2>How did you hear about Tailored Living?</h2>
                                    <div class="treatment_lalign">
                                        <div class="treat-grid row">
                                            <ul class="leadsheet_list">
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkValpak}}>
                                                        Referral
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkValpak}}>
                                                        Print
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkYellowPages}}>
                                                        Social Media
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkRSVP}}>
                                                        Website
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkVan}}>
                                                        Internet Search
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkInternet}}>
                                                        Home Show
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="treat-grid row">
                                            <ul class="leadsheet_list">
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkSources1}}>
                                                        Yard Sign
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkSources2}}>
                                                        Van
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkSources3}}>
                                                        Builder
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input" {{ChkFacebookPaid}}>
                                                        Billboard
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="text" style="width:500px;" class="form-control" value="{{TL_Other_text}}">
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="oportunity_cboxs row">
                                    <div class="col-sm-3"><label class="referal_ralign">Referral</label></div>
                                    <div class="col-sm-5"><input type="text" class="form-control" value="{{TL_QQ_Referel}}"></div>
                                    <div class="col-sm-4"></div>
                                </div>-->
                                <div class="row oportunity_cboxs">
                                    <div class="col-sm-3"><label class="referal_ralign">Budget</label></div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" value="{{TL_QQ_Budget}}">
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <!--<div class="row oportunity_cboxs">
                                    <div class="col-sm-3"><label class="date_label">Anyone else needed at Appt?</label></div>
                                    <div class="col-sm-9"><input type="text" class="form-control" value="{{TL_QQ_AnyAppointment}}"></div>
                                </div>-->
                                <div class="treat-grid row">
                                    <div class="col-sm-3 receive_head"><label class="specify_label">Received Other Quotes?</label></div>
                                    <div class="col-sm-2 treat-grid_left">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="optReceiveOtherQuotesYes" {{TL_QQ_ReceivedOtherQuotesYes}}>
                                                    Yes
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="optReceiveOtherQuotesNo" {{TL_QQ_ReceivedOtherQuotesNo}}>
                                                    No
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-7 print_tbox">
                                        <div class="col-sm-3"><label class="specify_label" style="margin-top:6px;">Specifics</label></div>
                                        <!--<div class="col-sm-9 print_tbox"><input type="text" class="form-control" value="{{TL_QQ_ReceivedOtherQuotesSpecific}}"></div>-->
                                        <div class="col-sm-9 specifics_grid" style="padding-right:0 !important;">
                                            <label>{{TL_QQ_ReceivedOtherQuotesSpecific}}</label>
                                        </div>
                                    </div>
                                    <!--<div class="row oportunity_cboxs">
                                        <div class="col-sm-3"><label class="date_label">Other Comments?</label></div>
                                        <div class="col-sm-9"><input type="text" class="form-control" value=""></div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="print-detailbox" style="page-break-inside: avoid">
                        <div style="border: 1px solid #555;">
                            <div style="padding:20px;">
                                <p style="width:130px; margin-top:-32px; padding-left: 5px; background:#fff; color:#000;">Detail Information</p>
                                <div class="budget_box">
                                    <h2>What are you interested in?</h2>
                                    <div class="treatment_lalign">
                                        <div class="treat-grid row">
                                            <ul class="oportunity_cboxs">
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkGarageCabinetry}}>
                                                        Garage Cabinetry
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkGarageFlooring}}>
                                                        Garage Flooring
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkHomeOffice}}>
                                                        Home Office
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkCloset}}>
                                                        Closet
                                                    </label>
                                                </li>
                                            </ul>
                                            <ul class="oportunity_cboxs">
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkLaundry}}>
                                                        Laundry
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkPantry}}>
                                                        Pantry
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" class="option-input checkbox" {{ChkOther}}>
                                                        Other
                                                    </label>
                                                </li>
                                                <!--<li>
                                                    <label>
                                                        <input type="text" class="form-control" value="">
                                                    </label>
                                                </li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="treat-grid row">
                                    <div class="col-sm-3 receive_head"><label class="specify_label">Project Details</label></div>
                                    <div class="col-sm-9" style="padding-right:0 !important;">
                                        <textarea>{{TL_ProjectDetails}}</textarea>
                                    </div>
                                </div>
                                <div class="treat-grid row">
                                    <div class="col-sm-3 receive_head"><label class="specify_label">Additional Information</label></div>
                                    <div class="col-sm-9" style="padding-right:0 !important;">
                                        <textarea>{{Additional_Info}}</textarea>
                                    </div>
                                </div>
                                <div class="treat-grid row">
                                    <div class="col-sm-3 referal_ralign"><label class="specify_label">System Installed In the past?</label></div>
                                    <div class="col-sm-9">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkPastGarageCabinetry}}>
                                                    Garage Cabinetry
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkPastHomeOffice}}>
                                                    Home Office
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkPastCloset}}>
                                                    Closet
                                                </label>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px !important;">
                                    <div class="col-sm-3 referal_ralign">
                                        <label class="specify_label">
                                            Specifics
                                        </label>
                                    </div>
                                    <div class="col-sm-9 specifics_grid">
                                        <!--<input type="text" class="form-control" value="{{PastSpecifics}}">-->
                                        <label>{{PastSpecifics}}</label>
                                    </div>
                                </div>
                                <div class="treat-grid row">
                                    <div class="col-sm-3 referal_ralign"><label class="specify_label">Needs</label></div>
                                    <div class="col-sm-6">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkWorkStations}}>
                                                    Work Stations
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkDrawers}}>
                                                    Drawers
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkWorkbench}}>
                                                    Work Bench
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    Qty
                                                </label>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<input type="text" class="form-control" value="{{NeedsQuantity}}">-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 referal_ralign"><label class="specify_label">Other Needs</label></div>
                                    <div class="col-sm-4">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkOtherNeedsFlooring}}>
                                                    Flooring
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkOtherNeedsLaundry}}>
                                                    Laundry
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    Specifics
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-5 specifics_grid">
                                        <!--<input type="text" class="form-control" value="{{OtherNeedsSpecifics}}">-->
                                        <label>{{OtherNeedsSpecifics}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 referal_ralign"><label class="specify_label">Task Lighting</label></div>
                                    <div class="col-sm-4">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>

                                                    <input type="radio" class="option-input radio" name="optTaskLightingYes" {{ChkTaskLightingYes}}>
                                                    Yes
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" class="option-input radio" name="optTaskLightingNo" {{ChkTaskLightingNo}}>
                                                    No
                                                </label>
                                            </li>
                                            <li>
                                                <label>

                                                    Specifics
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-5 specifics_grid">
                                        <!--<input type="text" class="form-control" value="{{TaskLightingSpecifics}}">-->
                                        <label>{{TaskLightingSpecifics}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 referal_ralign"><label class="specify_label">Other Drawers?</label></div>
                                    <div class="col-sm-4">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkJewellery}}>
                                                    Jewelry
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" class="option-input checkbox" {{ChkFiling}}>
                                                    Filing
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    Specifics
                                                </label>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-5 specifics_grid">
                                        <!--<input type="text" class="form-control" value="{{OtherDrawerSpecifics}}">-->
                                        <label>{{OtherDrawerSpecifics}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 receive_aright"><label class="specify_label">Finish Preference?</label></div>
                                    <div class="col-sm-3">
                                        <ul class="oportunity_cboxs">
                                            <li>
                                                <label>
                                                    Specifics
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 specifics_grid">
                                        <!--<input type="text" class="form-control" value="{{FinishPreferenceSpecifics}}">-->
                                        <label>{{FinishPreferenceSpecifics}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Zillow-section-->
                <section style="display:{{displayZillow}};">
                    <div class="print-detailbox" style="page-break-inside: avoid">
                        <div style="border: 1px solid #555;">
                            <div style="padding:15px;">
                                <p style="width:130px; margin-top:-26px; padding-left: 5px; background:#fff; color:#000;">Zillow Information</p>
                                <div class="leadgrid_box" style="padding-top:20px;display:{{displayZillowData}};">
                                    <div class="zillow_address">
                                        See more details for
                                         [<label class="ldet_label">{{InstallAddress1}}</label>
                                          <label class="ldet_label">{{InstallAddress2}}</label>
                                        <label style="text-indent:-6px;">,</label>
                                          <label class="ldet_label">{{InstallAddres_CityStateZip}}</label>]
                                          on Zillow
                                    </div>
                                    <div class="zillow_section">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Year Built</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{yearBuilt}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Lot Size</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{lotSizeSqFt}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Finished Sq Ft</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{finishedSqFt}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Bed Rooms</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{bedrooms}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Bath Rooms</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{bathrooms}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--2nd Column-->
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col_1">
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Last Sold Date</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{lastSoldDate}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Last Sold Price</label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{lastSoldPrice}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xs-5 text_detlabel">Zestimate<sup>®</sup></label>
                                                <div class="col-xs-7">
                                                    <label class="ldet_label">{{zestimate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="zillow_footer row">
                                        <div class="col-sm-4">
                                            <div class="zillow_logo">
                                                <img class="img-responsive" src="images/zillow_logo.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8 zillow_logocopyright">
                                            <p>&copy; Zillow, Inc., 2006-2016. Use is subject to Terms of Use<br /> What is Zestimate?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="zillow_desc" style="display:{{displayZillowNoInfo}};">
                                    <p>No Information Available from Zillow</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>

























