
<style type="text/css">
    .tftable {
        font-size: 12px;
        color: #333333;
        width: 100%;
        border-width: 1px;
        border-color: #a9a9a9;
        border-collapse: collapse;
    }

        .tftable th {
            font-size: 12px;
            background-color: #b8b8b8;
            border-width: 1px;
            border-style: solid;
            border-color: #a9a9a9;
            text-align: left;
        }

        .tftable tr {
            background-color: #ffffff;
        }

        .tftable td {
            font-size: 12px;
            border-width: 1px;
            padding: 4px;
            border-style: solid;
            border-color: #a9a9a9;
        }

    .tftablelogo {
        font-size: 12px;
        color: #333333;
        width: 100%;
        border-collapse: collapse;
    }
    .tftablelogo 

        .tftablelogo tr {
            background-color: #ffffff;
        }

        .tftablelogo td {
            font-size: 12px;
            padding: 4px;
            border-color: #a9a9a9;
        }
</style>

<table class="tftablelogo">
    <tbody>
        <tr>
            <td style="width:10%">
                <img class="print-tboxright" src="images/TailoredLiving.png" alt="" />
            </td>
            <td style="width:60%;font-size:250%;text-align:left;vertical-align:bottom">{{BrandName}}</td>
            <td style="font-size:250%;text-align:right;vertical-align:bottom">{{InvoiceNumber}}</td>
        </tr>
    </tbody>
</table>
<hr />
<table class="tftablelogo">
    <tbody>
        <tr>
            <td style="width:20%;vertical-align:top">
                <table>
                    <tr>
                        <td style="font-size:large">
                            ADDRESS:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{InstallationAddress1}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{InstallationAddress2}}
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width:20%;vertical-align:top">
                <table>
                    <tr>
                        <td style="font-size:large">
                            CONTACT:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{CustomerContactEmail}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{CustomerContactCellphone}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{CustomerContactHomephone}}
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width:40%;vertical-align:top;text-align:center;font-size:x-large">{{CustomerName}}</td>
            <td style="width:20%;text-align:right">
                <table style="text-align:right">
                    <tr>
                        <td>
                            Invoice Date : {{InvoiceDate}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Consult Date : {{InvoiceConsultDate}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Source: {{InvoiceSource}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<hr />
<table class="tftable" border="1">
    <thead>
        <tr>
            <th>ROOM</th>
            <th style="width: 60%;">DESCRIPTION</th>
            <th>UNIT PRICE</th>
            <th>TOTAL</th>
            <th>TAX</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>{{QuoteLineItems}}</td></tr>
    </tbody>
</table>
<hr>

<table class="tftable" border="1">
    <thead>
        <tr>
            <th>ADDITIONAL ITEMS</th>
            <th>TYPE</th>
            <th style="width: 50%;">MEMO</th>
            <th>AMOUNT</th>
            <th>TAX</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{AdditionalItems}}</td>
        </tr>
    </tbody>
</table>

<hr>

<div>
    <div style="width:59%;float:left;">
        <table class="tftable" border="1">
            <thead>
                <tr>
                    <th>PAYMENT MEMO</th>
                    <th>PAYMENT METHOD</th>
                    <th>DATE</th>
                    <th>AMOUNT</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>{{Payments}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <div style="width:100%; float:left;">
            <table class="tftablelogo">
                <tr>
                    <td>
                        {{legalDisclaimer}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div style="width:40%;margin-left: 60%;">

        <table class="tftable" border="1">
            <thead>
                <tr>
                    <th>TAX</th>
                    <th>AMOUNT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>LA County(5%)</td>
                    <td>{{CountyTaxes}}</td>
                </tr>
                <tr>
                    <td>City of Orange(2.5%)</td>
                    <td>{{CityTaxes}}</td>
                </tr>
        </table>
        <br />
        <table class="tftable" border="1">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td>Product Subtotal</td>
                    <td>{{ProductSubTotal}}</td>
                </tr>
                <tr>
                    <td>Additional Charges</td>
                    <td>{{AdditionalCharges}}</td>
                </tr>
                <tr>
                    <td>Additional Discounts</td>
                    <td>{{AdditionalDiscounts}}</td>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td>{{Subtotal}}</td>
                </tr>
                <tr>
                    <td>Tax Total (7.50%)</td>
                    <td>{{TaxTotal}}</td>
                </tr>
                <tr>
                    <td>Grand Total</td>
                    <td>{{GrandTotal}}</td>
                </tr>
                <tr>
                    <td>Total Payments</td>
                    <td>{{TotalPayments}}</td>
                </tr>
                <tr>
                    <td>Balance Due</td>
                    <td>{{BalanceDue}}</td>
                </tr>
                <tr>
                    <td>Total Savings</td>
                    <td>{{TotalSavings}}</td>
                </tr>

        </table>
    </div>
</div>
<div style="width:100%; float:left;">
    <table class="tftablelogo">
        <tr>
            <td>THE UNDERSIGNED AGREE OF THE ABOVE,</td>

        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>SIGN HERE AND RETURN:</td>
                        <td>____________________________________________________________________________________________________________</td>
                        <td>DATE:</td>
                        <td>_____________________________________</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>________________________________________________________________________________</td>
                        <td>An independently owned and operated franchice:</td>
                        <td>________________________________________________________________________________</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>