﻿<style>
.k-grid-content{
        height: 120px !important;
    }
    .k-grid-content k-auto-scrollable{
        height: 120px !important;
    }
    .k-virtual-scrollable-wrap{
        height: 120px !important;
    }
</style>
<form class="attachment_grid" ng-if="FileUploadServiceVg.showattachment">
    <div class="clearfix caseuploadfile_grid">        
        <div ng-class="FileUploadServiceVg.css3" class="caseedit_fileupload">
            <div class="upload-field" style="text-align:center;width:100%;">
               Drag and Drop attachments here(optional, max per file:5MB) <input type="file" id="uploadFileInput" multiple />
                <button type="button" class="plus_but tooltip-bottom" data-tooltip="Create" ><i class="far fa-plus-circle fa-lg"></i></button>
                <!-- <button class="icon-folder" > Select or Drop FIles here</button >-->
            </div>
            <label class="text_detlabel">
                Attachments
            </label>
            <kendo-grid id="VendorAttachmentGrid1"
                        options="FileUploadServiceVg.VendorAttachment">
            </kendo-grid>
        </div>
        <div class="clearfix"> </div>
    </div>
</form>


<style>
    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .upload-field {
        /*position: relative;
        cursor: pointer;
        width: 100%;
        height: 111px;
        line-height: 28px;
        padding: 5px 10px;
        border: 1px solid #203F53;
        border-radius: 5px;
        font-size: 22px;
        padding-top: 37px;*/
        position: relative;
        cursor: pointer;
        width: 100%;
        /* height: 111px; */
        line-height: 24px;
        padding: 20px 10px;
        border: 1px solid #203F53;
        border-radius: 5px;
        font-size: 16px;
        /* padding-top: 37px; */
        /* display: flex; */
    }

    .icon-folder {
        background-image: url("../images/icon-folder.png");
        height: 30px;
        width: 30px;
        background-size: cover;
        background-color: transparent;
        border: none;
        float: right;
    }

    .upload-file-button {
        height: 40px;
        width: 120px;
        text-align: center;
        margin: 20px 0;
        border: none;
        border-radius: 5px;
        box-shadow: 0 1px 3px #203F53;
        background-color: #203F53;
        color: white;
        font-size: 15px;
    }
</style>
