﻿<style>
    .k-widget.k-tooltip-validation {
        display: none !important;
    }

    .required-error {
        border: 1px solid red !important;
        color: red !important;
    }

    ul.hfc_tabs {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #d8d8d8;
    }

        ul.hfc_tabs li {
            margin: 0;
            cursor: pointer;
            padding: 5px 21px;
            color: #000;
            overflow: inherit;
            position: relative;
            width: 50%;
            float: left;
            font-size: 14px;
            text-transform: uppercase;
        }

            ul.hfc_tabs li.active {
                border-bottom: 1px solid #3e7d8a;
            }

    .name_desc {
        display: block;
        font-size: 14px;
        font-weight: 100;
    }

    .post-comments {
        padding-bottom: 9px;
        margin: 5px 0 5px;
    }

    .comments-nav {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .comment-meta {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .media {
        border-left: 1px dotted #000;
        border-bottom: 1px dotted #000;
        margin-bottom: 5px;
        padding-left: 10px;
    }

    .post-comments .media-heading {
        font-size: 12px;
        color: grey;
    }

    .post-comments .comment-meta a {
        font-size: 12px;
        color: grey;
        font-weight: bolder;
        margin-right: 5px;
    }

    .k-grid td, .k-grid th {
        padding: 4px;
        font-size: 13px;
    }

    .caseview_tooltiphover p {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        box-sizing: border-box;
        font-weight: 100;
    }

    #VendorAttachmentGrid1 {
        margin: 0 !important;
        height: 150px;
    }

    #ReportHistoryGrid1 .k-grid-content.k-auto-scrollable {
        height: 250px !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    .k-filter-row th, .k-grid-header th.k-header {
        padding: 4px !important;
    }

    hr {
        margin-left: -15px;
        margin-top: 10px !important;
        /*border-top: 1px solid !important;*/
    }

    .panel-body {
        padding-bottom: 0px !important;
    }

    .detail_butns {
        float: right;
        margin: 0px 35px 0 0;
    }

    /*.row-group {
        margin: 0;
    }*/

    .pErrorDetails {
        width: 100%;
        height: 100px;
        overflow-y: auto;
    }

    .divider {
        width: 100%;
        border-bottom: 1px solid #343333;
        margin-bottom: 15px;
    }

    .col-xs-12, .col-xs-3, .col-sm-3 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .k-multiselect-wrap.k-floatwrap {
        padding: 3px 0 !important;
    }

    .k-pager-wrap .k-label {
        margin: 0 !important;
    }
    /*---end kendo table style---*/
</style>
<div class="outter-wp">
    <div class="lead_stab" ng-show="!FranchiseLogin">
        <ul class="tabs1 landing_tab">
            <li rel="tab7" ng-if="AdminLogin">
                <a href="#!/homeofficeCase">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>
            <!--<li rel="tab7" ng-if="VendorLogin">
                <a href="#!/VendorCaseList">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>-->
            <li class="activelead1" rel="tab7">
                <a href="#!/ChangeRequest">
                    <h3><i class="fal fa-copy fa_icon fa-flip-horizontal"></i><br />Change Requests</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/Feedback">
                    <h3><i class="fas fa-microphone fa_icon"></i><br />Feedback</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/Overview">
                    <h3><i class="fas fa-th-list fa_icon"></i><br />Overview</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns">
            <ul class="orderlist_box" ng-show="!IsClosed">
                <li><button type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-click="CancelChangeRequest()"><i class="far fa-times-circle fa_icon"></i></button></li>
                <li><button type="submit" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="UpdateChangeRequest()"><i class="far fa-check-circle fa_icon"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="tab_container tp_content" style="margin-top:107px;">
        <div class="error" ng-if="FranchiseLogin || IsClosed" style="padding-top:30px;padding-left:20px;color:red;">
            You don't have permission to this page.
        </div>
        <div class="p-3" ng-show="!FranchiseLogin && !IsClosed">
            <div class="row">
                <div class="col-xl-4" style="border-right: 1px solid #d8d8d8; right:-1px;">
                    <ul class="hfc_tabs row">
                        <li class="active" rel="tab1">Updates</li>
                        <li rel="tab2">Related</li>
                    </ul>
                    <div id="tab1" class="tab_content" style="margin-top: 25px;">
                        <label>Post</label>
                        <case-comments-component info="forComments"></case-comments-component>
                    </div>
                    <div id="tab2" class="tab_content" rel="tab2" style="margin-top: 25px;">
                        <div style="margin:0 15px;display:none">
                            <h4 style="font-size:16px; margin-left:-15px;">Attachments </h4>
                            <!--<div file-upload></div>-->
                        </div>
                        <div class="table-responsive;" style="margin-top: 20px;">
                            <h4 style="font-size:16px;">Report History</h4>
                            <kendo-grid id="ReportHistoryGrid1" class="feedback_tabgrid"
                                        options="ReportDetailHistory" style="margin-bottom:20px !important;">
                            </kendo-grid>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 pr-0" style="border-left: 1px solid #d8d8d8;padding-bottom:30px">
                    <form id="crm-PEreport-detail" name="formCaseManage" unsaved-warning-form>
                        <div class="p-3">
                            <div class="leadgrid_box">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <!--<div class="row form-group">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Current Status</label>
                                            <div class="col-sm-6 col-xs-6">
                                                <label class="ldet_label">{{RequestDetails.CurrentStatus}}</label>
                                            </div>
                                        </div>-->
                                        <div class="row form-group state_field" ng-show="CanChangeStatus">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Status</label>
                                            <div class="col-sm-6 col-xs-6">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                                            name="NewStatus"
                                                            ng-options="option.Id  as option.Name for option in statuslist"
                                                            ng-model="RequestDetails.StatusId"
                                                            ng-change="StatusChange(RequestDetails.StatusId)">
                                                        <option value="" disabled selected>Select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row form-group state_field" ng-show="RequestDetails.NewStatus == 'Approved'||IsPublished">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Publish Method</label>
                                            <div class="col-sm-6 col-xs-6">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            name="Publishmethod"
                                                            ng-model="RequestDetails.PublishMethod" ng-disabled="IsPublished" ng-change="PublishMethodChange(RequestDetails.PublishMethod)">
                                                        <option value="" disabled selected>Select</option>
                                                        <option value="PIC">PIC</option>
                                                        <option value="E-PIC">E-PIC</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row form-group state_field" ng-show="RequestDetails.NewStatus == 'Declined'||RequestDetails.CurrentStatus == 'Declined'">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Reason</label>
                                            <div class="col-sm-6 col-xs-6">
                                                <span class="custom-dropdown custom-dropdown--white">
                                                    <select class="form-control custom-dropdown__select custom-dropdown__select--white"
                                                            name="DeclinedReason"
                                                            ng-options="option.Id  as option.Name for option in DeclinedReasons"
                                                            ng-model="RequestDetails.DeclinedReasonId" ng-disabled="RequestDetails.CurrentStatus == 'Declined'"
                                                            ng-change="ReasonChange(RequestDetails.DeclinedReasonId)">
                                                        <option value="" disabled selected>Select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <div class="row form-group">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Current User</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{RequestDetails.Currentuser}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Current Time</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{RequestDetails.Currenttime}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Report ID </label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="text_detlabel case_field">{{RequestDetails.ReportID}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="leadgrid_box" ng-hide="VendorCanEdit">
                                <div class="row">
                                    <div class="col-sm-5 pl-0">
                                        <div class="form-group">
                                           <label class="text_detlabel case_field">Request Type</label>
                                           <label class="ldet_label">{{RequestDetails.RequestType}}</label>
                                        </div>
                                        <div>
                                            <div class="row form-group mx-0 mb-0">
                                                <label class="col-sm-6 col-xs-6 text_detlabel case_field">Request Date</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="text_detlabel case_field">Requested Effective Date </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-xs-6 ldet_label case_field">{{RequestDate}}</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label case_field">{{RequestDetails.EffectiveDate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5 pl-0">
                                        <label class="text_detlabel case_field">Vendor</label>
                                        <div class="form-group">
                                            <label class="ldet_label">{{RequestDetails.Vendor}}</label>
                                        </div>

                                        <label class="text_detlabel case_field">Product Category</label>

                                        <div class="form-group">
                                            <label class="ldet_label">{{RequestDetails.ProductCategory}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                            <div class="leadgrid_box" ng-show="VendorCanEdit">
                                <div class="row">
                                    <div class="col-sm-5 pl-0">

                                        <label class="text_detlabel">Request Type</label>

                                        <div class="source-group">
                                            <div ng-repeat="requestType in RequestTypes">
                                                <label for="rbRequest_{{requestType.Id}}" class="ldet_label">
                                                    <input id="rbError_{{requestType.Id}}" type="radio" class="option-input radio radio_space"
                                                           ng-value="{{requestType.Id}}" ng-model="RequestDetails.RecordTypeId" name="RequestType" />
                                                    {{requestType.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">

                                        <label class="text_detlabel case_field">Requested Effective Date</label>

                                        <div class="form-group">
                                            <!--<input type="date"
                                            class="form-control frm_controllead1"
                                            ng-model="RequestDetails.EffectiveDate"
                                            format-Date
                                            name="Qdt"
                                            calendar
                                            cs-date-to-iso
                                            min="{{Qdt != undefined ? Qdt : minDate |GlobalTime:'shortDate'}}"
                                            max="{{Qdt != undefined ? Qdt : maxDate |GlobalTime:'shortDate'}}" />-->
                                            <input kendo-date-picker
                                                   k-format="HFCService.StaticKendoDateFormat()"
                                                   ng-required="true" name="EffectiveDate" k-min="minDate"
                                                   type="text"
                                                   id="PerformanceStartDate"
                                                   placeholder="MM/DD/YYYY" data-date-format="MM/DD/YYYY"
                                                   ng-model="RequestDetails.EffectiveDate" ng-change="CheckDateValidate(RequestDetails.EffectiveDate)"
                                                   class="form-control frm_controllead1 kendo-date-picker-date" style="padding:0 !important; height: 28px !important;"
                                                   data-autoclose="true">
                                        </div>
                                        <!--<div class="row form-group" ng-show="EffectiveWarning">
                                            <span style="color: red !important;">Request Effective Date should not be less than 30 days.</span>
                                        </div>-->

                                        <label class="col-sm-6 col-xs-6 text_detlabel case_field">Product Category</label>

                                        <div class="form-group">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white" name="ProductCategory" ng-model="RequestDetails.ProductGroupId"
                                                        ng-options="option.PICProductGroupId  as option.PICProductGroupName for option in ProductCategory"
                                                        ng-change="ProductCategoryChange(RequestDetails.ProductGroupId)">
                                                    <option value="" disabled selected>Select</option>
                                                </select>-->
                                                <select kendo-multi-select
                                                        required
                                                        k-options="ProductCategoryOptions"
                                                        k-rebind="ProductCategoryOptions"
                                                        k-ng-model="RequestDetails.ProductGroupId"
                                                        id="ProductCategoryDropdown"
                                                        name="ProductCategory"
                                                        class="custom-dropdown__select custom-dropdown__select--white required_field" style="height:100%; min-height:28px; width:100% !important;"></select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                            <hr />
                            <div class="leadgrid_box" ng-show="RequestDetails.NewStatus == 'Declined'||RequestDetails.CurrentStatus == 'Declined'">
                                <div class="row">
                                    <label class="text_detlabel case_field">
                                        Comments
                                    </label>
                                    <textarea ng-model="RequestDetails.Comments"
                                              name="Comments" rows="10"
                                              required ng-disabled="!PMCanEdit" ng-keyup="RemoveRequiredClass($event)"></textarea>
                                </div>
                                <hr />
                            </div>

                            <div class="leadgrid_box">
                                <div class="row">
                                    <label class="text_detlabel case_field">
                                        Request Details
                                    </label>
                                    <textarea class="form-control" ng-model="RequestDetails.Details"
                                              name="Details" rows="10"
                                              required ng-disabled="!VendorCanEdit" ng-keyup="RemoveRequiredClass($event)"></textarea>
                                </div>
                            </div>

                            <hr />
                            <div class="leadgrid_box" style="margin-left: -15px;">
                                <div class="form-group">
                                    <div file-upload-vg></div>
                                </div>
                                <!--<div class="divider"></div>-->
                                <!--<div class="row form-group">
                                    <label class="text_detlabel case_field">
                                        Attachments
                                    </label>
                                    <kendo-grid id="VendorAttachmentGrid1"
                                                options="VendorAttachment">
                                    </kendo-grid>
                                </div>-->
                            </div>
                            <hr />
                            <div class="row pt-3" ng-show="VendorCanEdit">
                                <label class="text_detlabel case_field w-100">Link to additional attachments(optional)</label>
                                <div class="form-group w-75">
                                    <input class="form-control frm_controllead1" type="text" ng-model="RequestDetails.AttachmentURL" ng-disabled="!VendorCanEdit" />
                                </div>
                            </div>
                            <div class="leadgrid_box" ng-hide="VendorCanEdit">
                                <div class="row">
                                    <label class="col-sm-8 col-xs-8 text_detlabel case_field">Link to additional attachments(optional)</label>
                                </div>
                                <div class="row form-group">
                                    <a href="RequestDetails.AttachmentURL">{{RequestDetails.AttachmentURL}}</a>
                                </div>
                            </div>
                            <div class="leadgrid_box">
                                <div class="row">
                                    <h3>System Information </h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 row no-margin">
                                        <label class="col-sm-4
                                               col-xs-4 text_detlabel case_field">Created by</label>
                                        <div class="col-sm-4 col-xs-4 pr-0">
                                            <label class="ldet_label">{{RequestDetails.CreatedByName}}</label><br />
                                            <label class="ldet_label">{{RequestDetails.CreatedOn}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 row no-margin">
                                        <label class="col-sm-4 col-xs-4 text_detlabel case_field">Last Modified by</label>
                                        <div class=" col-sm-4 col-xs-4 pr-0">
                                            <label class="ldet_label">{{RequestDetails.LastUpdateByName}}</label><br />
                                            <label class="ldet_label">{{RequestDetails.LastUpdatedOn}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.hfc_tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.hfc_tabs li").removeClass("active");
        $(this).addClass("active");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.hfc_tabs li").removeClass("active");
        $("ul.hfc_tabs li[rel^='" + d_activeTab + "']").addClass("active");
    });


    /* Extra class "tab_last"
       to add border to right side
       of last tab */
    $('ul.hfc_tabs li').last().addClass("tab_last");
</script>


<script>
    $('[data-toggle="collapse"]').on('click', function () {
        var $this = $(this),
            $parent = typeof $this.data('parent') !== 'undefined' ? $($this.data('parent')) : undefined;
        if ($parent === undefined) { /* Just toggle my  */
            $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
            return true;
        }

        /* Open element will be close if parent !== undefined */
        var currentIcon = $this.find('.glyphicon');
        currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
        $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

    });
</script>

