﻿<style>
    .k-widget.k-tooltip-validation {
        display: none !important;
    }

    ul.hfc_tabs {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #d8d8d8;
    }

        ul.hfc_tabs li {
            margin: 0;
            cursor: pointer;
            padding: 5px 21px;
            color: #000;
            overflow: inherit;
            position: relative;
            width: 50%;
            float: left;
            font-size: 14px;
            text-transform: uppercase;
        }

            ul.hfc_tabs li.active {
                border-bottom: 1px solid #3e7d8a;
            }

    .name_desc {
        display: block;
        font-size: 14px;
        font-weight: 100;
    }

    .post-comments {
        padding-bottom: 9px;
        margin: 5px 0 5px;
    }

    .comments-nav {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .comment-meta {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .media {
        border-left: 1px dotted #000;
        border-bottom: 1px dotted #000;
        margin-bottom: 5px;
        padding-left: 10px;
    }

    .post-comments .media-heading {
        font-size: 12px;
        color: grey;
    }

    .post-comments .comment-meta a {
        font-size: 12px;
        color: grey;
        font-weight: bolder;
        margin-right: 5px;
    }

    .k-grid td, .k-grid th {
        padding: 4px;
        font-size: 13px;
    }

    .caseview_tooltiphover p {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        box-sizing: border-box;
        font-weight: 100;
    }

    #VendorAttachmentGrid1 {
        margin: 0 !important;
        height: 150px;
    }

    #ReportHistoryGrid1 .k-grid-content.k-auto-scrollable {
        height: 250px !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    .k-filter-row th, .k-grid-header th.k-header {
        padding: 4px !important;
    }

    hr {
        margin-left: -15px;
        margin-top: 10px !important;
        /*border-top: 1px solid !important;*/
    }

    .panel-body {
        padding-bottom: 0px !important;
    }

    .detail_butns {
        float: right;
        margin: 0px 35px 0 0;
    }

    .row-group {
        margin: 0;
    }

    .pErrorDetails {
        width: 100%;
        height: 100px;
        overflow-y: auto;
    }

    .divider {
        width: 100%;
        border-bottom: 1px solid #343333;
        margin-bottom: 15px;
    }

    .col-xs-12, .col-xs-3, .col-sm-3 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .upload-field
    {
        display:none !important;
    }
    /*---end kendo table style---*/
    .k-pager-wrap .k-label {
        margin: 0 !important;
    }

</style>
<div class="outter-wp">
    <div class="lead_stab" ng-show="!FranchiseLogin">
        <ul class="tabs1 landing_tab" ng-show="!FranchiseLogin">
            <li rel="tab7" ng-if="AdminLogin">
                <a href="#!/homeofficeCase">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>
            <!--<li rel="tab7" ng-if="VendorLogin">
                <a href="#!/VendorCaseList">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>-->
            <li class="activelead1" rel="tab7">
                <a href="#!/ChangeRequest">
                    <h3><i class="fal fa-copy fa_icon fa-flip-horizontal"></i><br />Change Requests</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/Feedback">
                    <h3><i class="fas fa-microphone fa_icon"></i><br />Feedback</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/Overview">
                    <h3><i class="fas fa-th-list fa_icon"></i><br />Overview</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns">
            <ul class="orderlist_box">
                <li><button ng-show="!IsClosed" type="button" class="tooltip-bottom hfc_bgbut" data-tooltip="Edit Change Request" ng-click="EditProduct1()">
                    <i class="far fa-pen"></i>
                </button></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="tab_container tp_content" style="margin-top:107px;">
        <div class="error" ng-if="FranchiseLogin" style="padding-top:30px;padding-left:20px;">
            You don't have permission to this page.
        </div>
        <div class="p-3" ng-show="!FranchiseLogin">
            <div class="row">
                <div class="col-xl-4" style="border-right: 1px solid #d8d8d8; right:-1px;">
                    <ul class="hfc_tabs row">
                        <li class="active" rel="tab1">Updates</li>
                        <li rel="tab2">Related</li>
                    </ul>
                    <div id="tab1" class="tab_content" style="margin-top: 25px;">
                        <label>Post</label>
                        <case-comments-component info="forComments"></case-comments-component>
                    </div>
                    <div id="tab2" class="tab_content" rel="tab2" style="margin-top: 25px;">
                        <div style="margin:0 15px;display:none">
                            <h4 style="font-size:16px; margin-left:-15px;">Attachments </h4>
                            <!--<div file-upload></div>-->
                        </div>
                        <div class="table-responsive;" style="margin-top: 20px;">
                            <h4 style="font-size:16px;">Report History</h4>
                            <kendo-grid id="ReportHistoryGrid1" class="feedback_tabgrid"
                                        options="ReportDetailHistory" style="margin-bottom:20px !important;">
                            </kendo-grid>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8" style="border-left: 1px solid #d8d8d8; padding-right:0;padding-bottom:30px">
                    <form id="crm-PEreport-detail" name="formCaseManage">
                        <div class="p-3">
                            <div class="leadgrid_box">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="row form-group">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Status</label>
                                            <div class="col-sm-6 col-xs-6">
                                                <label class="ldet_label">{{RequestDetails.CurrentStatus}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group state_field" ng-show="RequestDetails.NewStatus == 'Approved'||IsPublished">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Publish Method</label>
                                            <div class="col-sm-6 col-xs-6">
                                                <label class="ldet_label">{{RequestDetails.PublishMethod}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group state_field" ng-show="RequestDetails.NewStatus == 'Declined'||RequestDetails.CurrentStatus == 'Declined'">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Reason</label>
                                            <div class="col-sm-6 col-xs-6">
                                                <label class="ldet_label">{{RequestDetails.DeclinedReason}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <div class="row form-group">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Current User</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{RequestDetails.Currentuser}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Current Time</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{RequestDetails.Currenttime}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Report ID </label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="text_detlabel case_field">{{RequestDetails.ReportID}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="leadgrid_box">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <label class="text_detlabel case_field">Request Type</label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="ldet_label">{{RequestDetails.RequestType}}</label>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 pr-0 text_detlabel case_field">Request Date</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="text_detlabel case_field">Requested Effective Date </label>
                                            </div>
                                        </div>
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-xs-6 pl-0 ldet_label case_field">{{RequestDate}}</label>
                                                <div class="col-sm-6 col-xs-6 pr-0">
                                                    <label class="ldet_label case_field">{{RequestDetails.EffectiveDate}}</label>
                                                </div>
                                            </div>
                                    </div>
                                    <!--<div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <div class="row">

                                        </div>
                                        <div class="form-group row">

                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Request Date</label>
                                        </div>
                                        <div class="row form-group">
                                            <label class="ldet_label">{{RequestDetails.CreatedOn}}</label>
                                        </div>
                                    </div>-->
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Vendor</label>
                                        </div>
                                        <div class="row form-group">
                                            <label class="ldet_label">{{RequestDetails.Vendor}}</label>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Product Category</label>
                                        </div>
                                        <div class="row form-group">
                                            <label class="ldet_label">{{RequestDetails.ProductCategory}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                            <hr />
                            <div class="leadgrid_box" ng-show="RequestDetails.NewStatus == 'Declined'||RequestDetails.CurrentStatus == 'Declined'">
                                <div class="row">
                                    <label class="text_detlabel case_field">
                                        Comments
                                    </label>
                                    <textarea class="form-control"
                                              name="Comments" rows="10" cols="50"
                                              readonly>{{RequestDetails.Comments}}</textarea>
                                </div>
                                <hr/>
                            </div>
                            <div class="leadgrid_box">
                                <div class="row">
                                    <label class="text_detlabel case_field">
                                        Request Details
                                    </label>
                                    <textarea class="form-control"
                                              name="Details" rows="10" cols="50"
                                              readonly>{{RequestDetails.Details}}</textarea>
                                </div>
                            </div>
                            <hr />
                            <div class="leadgrid_box" style="margin-left: -15px;">
                                <div class="form-group">
                                    <div file-upload-vg></div>
                                </div>
                                <!--<div class="divider"></div>-->
                                <!--<div class="row">
                                    <label class="text_detlabel case_field">
                                        Attachments
                                    </label>
                                    <kendo-grid id="VendorAttachmentGrid1"
                                                options="VendorAttachment">
                                    </kendo-grid>
                                </div>-->
                            </div>
                            <hr />
                            <div class="row pt-3">
                                <label class="text_detlabel case_field">Link to additional attachments(optional)</label>
                                <div class="form-group w-100">
                                    <!--<input class="col-sm-8 col-xs-8" type="text" ng-model="RequestDetails.AttachmentURL" ng-disabled/>-->
                                    <a href="{{RequestDetails.AttachmentURL}}" target="_blank" style="font-size:14px; color:#3e7d8a;">{{RequestDetails.AttachmentURL}}</a>
                                </div>
                            </div>
                            <div class="leadgrid_box">
                                <div class="row">
                                    <h3>System Information </h3>
                                </div>
                                <div class="row">
                                        <div class="col-sm-6 col-xs-6 row no-margin">
                                            <label class="col-sm-4 col-xs-4 text_detlabel case_field">Created by</label>
                                            <div class="col-sm-4 col-xs-4 pr-0">
                                                <label class="ldet_label">{{RequestDetails.CreatedByName}}</label><br />
                                                <label class="ldet_label">{{RequestDetails.CreatedOn}}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-6 row no-margin">
                                            <label class="col-sm-4 col-xs-4 text_detlabel case_field">Last Modified by</label>
                                            <div class=" col-sm-4 col-xs-4 pr-0">
                                                <label class="ldet_label">{{RequestDetails.LastUpdateByName}}</label><br />
                                                <label class="ldet_label">{{RequestDetails.LastUpdatedOn}}</label>
                                            </div>
                                        </div>
                                   </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.hfc_tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.hfc_tabs li").removeClass("active");
        $(this).addClass("active");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.hfc_tabs li").removeClass("active");
        $("ul.hfc_tabs li[rel^='" + d_activeTab + "']").addClass("active");
    });


    /* Extra class "tab_last"
       to add border to right side
       of last tab */
    $('ul.hfc_tabs li').last().addClass("tab_last");
</script>


<script>
    $('[data-toggle="collapse"]').on('click', function () {
        var $this = $(this),
                $parent = typeof $this.data('parent') !== 'undefined' ? $($this.data('parent')) : undefined;
        if ($parent === undefined) { /* Just toggle my  */
            $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
            return true;
        }

        /* Open element will be close if parent !== undefined */
        var currentIcon = $this.find('.glyphicon');
        currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
        $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

    });
</script>

