﻿<style>
    .k-widget.k-tooltip-validation {
        display: none !important;
    }

    ul.hfc_tabs {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #d8d8d8;
    }

        ul.hfc_tabs li {
            margin: 0;
            cursor: pointer;
            padding: 5px 21px;
            color: #000;
            overflow: inherit;
            position: relative;
            width: 50%;
            float: left;
            font-size: 14px;
            text-transform: uppercase;
        }

            ul.hfc_tabs li.active {
                border-bottom: 1px solid #3e7d8a;
            }

    .name_desc {
        display: block;
        font-size: 14px;
        font-weight: 100;
    }

    .post-comments {
        padding-bottom: 9px;
        margin: 5px 0 5px;
    }

    .comments-nav {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .comment-meta {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .media {
        border-left: 1px dotted #000;
        border-bottom: 1px dotted #000;
        margin-bottom: 5px;
        padding-left: 10px;
    }

    .post-comments .media-heading {
        font-size: 12px;
        color: grey;
    }

    .post-comments .comment-meta a {
        font-size: 12px;
        color: grey;
        font-weight: bolder;
        margin-right: 5px;
    }

    .k-grid td, .k-grid th {
        padding: 4px;
        font-size: 13px;
    }

    .caseview_tooltiphover p {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        box-sizing: border-box;
        font-weight: 100;
    }

    #VendorAttachmentGrid1 {
        margin: 0 !important;
        height: 150px;
    }

    #ReportHistoryGrid1 .k-grid-content.k-auto-scrollable {
        height: 250px !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    .k-filter-row th, .k-grid-header th.k-header {
        padding: 4px !important;
    }

    hr {
        margin-left: -15px;
        margin-top: 10px !important;
        /*border-top: 1px solid !important;*/
    }

    .panel-body {
        padding-bottom: 0px !important;
    }

    .row-group {
        margin: 0;
    }

    .divider {
        width: 100%;
        border-bottom: 1px solid #343333;
        margin-bottom: 15px;
    }

    .config-response {
        margin: 0 auto;
        text-align: center;
    }
    /*.row
     {
         margin-right: 0px;
         margin-left: 0px;
     }*/
    .col-12, .col-3, .col-sm-3 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .required-error {
        border: 1px solid red !important;
        color: red !important;
    }

    .k-multiselect-wrap.k-floatwrap {
        padding: 3px 0 !important;
    }

    /*---end kendo table style---*/
</style>
<div class="outter-wp">
    <div class="lead_stab" ng-show="VendorLogin">
        <ul class="tabs1 landing_tab">
            <!--<li rel="tab7" ng-if="VendorLogin">
                <a href="#!/VendorCaseList">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>-->
            <li class="activelead1" rel="tab7">
                <a href="#!/ChangeRequest">
                    <h3><i class="fal fa-copy fa_icon fa-flip-horizontal"></i><br />Change Requests</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/Feedback">
                    <h3><i class="fas fa-microphone fa_icon"></i><br />Feedback</h3>
                </a>
            </li>
            <li rel="tab7">
                <a href="#!/Overview">
                    <h3><i class="fas fa-th-list fa_icon"></i><br />Overview</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns"">
            <ul class="orderlist_box">
                <li><button type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-click="BackToChangeRequestList()"><i class="far fa-times-circle fa_icon"></i></button></li>
                <li><button type="submit" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="SaveChangeRequest()"><i class="far fa-check-circle fa_icon"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="tab_container tp_content" style="margin-top:107px;">
        <div class="error" ng-if="!VendorLogin" style="padding-top:30px;padding-left:20px;color:red;">
            You don't have permission to this page.
        </div>
        <div class="p-3" ng-show="VendorLogin">
                    <form id="crm-PEreport-detail" name="formCaseManage" unsaved-warning-form>
                            <div class="leadgrid_box">
                                <h1> Request Information</h1>
                                <div class="row-group row">
                                        <div class="col-3">
                                            <label class="text_detlabel">Requested by</label>
                                        </div>
                                        <div class="col-3">

                                        </div>
                                        <div class="col-3">
                                            <label class="text_detlabel">Request Number</label>
                                        </div>
                                        <div class="col-3">
                                            <label class="text_detlabel">Request Date</label>
                                        </div>
                                </div>
                                <div class="row-group row">
                                        <div class="col-3">
                                            <label class="ldet_label">{{RequestDetails.Vendor}}</label>
                                        </div>
                                        <div class="col-3">
                                            <label class="ldet_label">Budget Blind</label>
                                        </div>
                                        <div class="col-3">
                                            <label class="ldet_label">{{RequestDetails.ReportID}}</label>
                                        </div>
                                        <div class="col-3">
                                            <label class="ldet_label">{{RequestDate}}</label>
                                        </div>
                                </div>
                                <div class="row-group row">
                                        <div class="col-3">
                                            <label class="ldet_label">{{RequestDetails.RequestedBy}}</label>
                                        </div>
                                        <div class="col-3">

                                        </div>
                                        <div class="col-3">
                                            <label class="text_detlabel">Status</label>
                                        </div>
                                        <div class="col-3">

                                        </div>
                                </div>
                                <div class="row-group row">
                                        <div class="col-3">

                                        </div>
                                        <div class="col-3">

                                        </div>
                                        <div class="col-3">
                                            <!--<label class="ldet_label">{{RequestDetails.Status}}</label>-->                                           
                                            <label class="ldet_label">Submitted</label>

                                        </div>
                                        <div class="col-3">

                                        </div>
                                </div>
                            </div>
                           
                            <hr />
                            <div class="leadgrid_box">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h2>Request Type</h2>
                                        <div class="source-group row">
                                            <div ng-repeat="requestType in RequestTypes" class="w-100">
                                                <div for="rbRequest_{{requestType.Id}}">
                                                    <input id="rbError_{{requestType.Id}}" type="radio" class="option-input radio radio_space"
                                                           value="{{requestType.Id}}" ng-model="RequestDetails.RecordTypeId" name="RequestType" />
                                                    <label class="ldet_label">{{requestType.Name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <label class="text_detlabel case_field">Requested Effective Date</label>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-3 col-3">
                                                <input kendo-date-picker
                                                       k-format="HFCService.StaticKendoDateFormat()"
                                                       k-min="minDate"
                                                       ng-required="true" name="EffectiveDate"
                                                       type="text"
                                                       id="PerformanceStartDate"
                                                       placeholder="MM/DD/YYYY"
                                                       data-date-format="MM/DD/YYYY"
                                                       ng-model="RequestDetails.EffectiveDate"
                                                       ng-change="CheckDateValidate(RequestDetails.EffectiveDate)"
                                                       class="form-control frm_controllead1 ng-pristine ng-valid-required ng-touched ng-untouched k-input ng-not-empty ng-valid kendo-date-picker-date"
                                                       style="padding: 0px !important; height: 28px; width: 100%;"
                                                       data-autoclose="true"
                                                       data-role="datepicker"
                                                       role="combobox"
                                                       aria-expanded="false"
                                                       aria-disabled="false"
                                                       required="required">
                                            </div>
                                            <div class="col-sm-9 col-9 vendorgrid_desc">
                                                <!--ng-show="EffectiveWarning">
                                                <span style="color: red !important;">Request Effective Date should not be less than 30 days.</span>-->
                                                <p>Any changes with pricing requires a 90-days notice. Anything else requires a 60-days notice.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-6 text_detlabel case_field">Product Category</label>
                                        </div>
                                        <div class="row form-group textbox-lmargin">
                                            <span class="custom-dropdown custom-dropdown--white">
                                                <!--<select class="form-control custom-dropdown__select custom-dropdown__select--white" name="ProductCategory" ng-model="RequestDetails.ProductGroupId"
                                                        ng-options="option.PICProductGroupId  as option.PICProductGroupName for option in ProductCategory" ng-required="true"
                                                        ng-change="ProductCategoryChange(RequestDetails.ProductGroupId)">>
                                                    <option value="" disabled selected>Select</option>
                                                </select>-->
                                                <select kendo-multi-select
                                                        required
                                                        k-options="ProductCategoryOptions"
                                                        k-rebind="ProductCategoryOptions"
                                                        k-ng-model="RequestDetails.ProductGroupId"                                                                                                               
                                                        id="ProductCategoryDropdown"
                                                        name="ProductCategory"
                                                        class="custom-dropdown__select custom-dropdown__select--white required_field" style="height:100%; min-height:28px; width:100% !important;"></select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                            <hr />
                            <div class="leadgrid_box caseview_tooltiphover">
                                <label class="text_detlabel">
                                    Request Details
                                </label>
                                <textarea class="form-control required_field" rows="8" cols="50" ng-model="RequestDetails.Details" ng-required="true" name="Details" ng-keyup="RemoveRequiredClass($event)"></textarea>
                            </div>
                            <hr />
                            <div class="leadgrid_box">
                                <div class="form-group">
                                    <div file-upload-vg></div>
                                </div>
                                <!--<div class="divider"></div>-->
                            </div>
                          
                            <div class="pt-5">
                                <div class="form-group">
                                    <label class="text_detlabel case_field">Link to additional attachments(optional)</label>
                                    <div class="form-group">
                                        <input class="form-control frm_controllead1" style="max-width:50%;" type="text" ng-model="RequestDetails.AttachmentURL" />
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group"></div>
                            <div class="leadgrid_box">
                                <div class="form-group">
                                    <h3>System Information </h3>
                                    <div class="form-group">
                                        <div class="row no-margin">
                                            <div class="col-6 row no-margin">
                                                <label class="col-sm-3 col-3 text_detlabel case_field">Created by</label>
                                                <div class="col-sm-8 col-8 pr-0">
                                                    <label class="ldet_label">{{RequestDetails.RequestedBy}}</label><br />
                                                    <label class="ldet_label">{{RequestDetails.CreatedOn}}</label>
                                                </div>
                                            </div>
                                            <div class="col-6 row no-margin">
                                                <label class="col-sm-3 col-3 text_detlabel case_field">Last Modified by</label>
                                                <div class="col-sm-8 col-8 pr-0">
                                                    <label class="ldet_label">{{RequestDetails.LastUpdateByName}}</label><br />
                                                    <label class="ldet_label">{{RequestDetails.LastUpdatedOn}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
        </div>
        <div class="modal fade" id="changeRequestConfirmModal" data-keyboard="false" data-backdrop="static">
            <div class="modal-wrapper-container"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header popup_head">
                        <h4 class="mx-auto modal-title">Product Change Request</h4>
                    </div>
                    <form name="Configurator_addint" role="form">
                        <div class="modal-body">
                            <div class="config-response">
                                <label class="text_detlabel">Report ID {{RequestDetails.CaseNumber}} successfully submitted.</label><label class="ldet_label"></label>
                                <!--<button type="submit" class="tooltip-bottom save_tpbut" data-tooltip="Close"><i class="far fa-check-circle fa_icon" ng-click="CancelPopup('changeRequestConfirmModal')"></i></button>-->
                            </div>
                            <div class="divider"></div>

                            <div class="row no-margin">
                                <div class="col-md-6">
                                    <div class="row-group">
                                        <label class="text_detlabel">Request Type</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="ldet_label">{{RequestDetails.RequestType}}</label>
                                    </div>
                                    <div class="row-group">
                                        <label class="text_detlabel">Request Date</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="ldet_label">{{RequestDate}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row-group">
                                        <label class="text_detlabel">Vendor</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="ldet_label">{{RequestDetails.Vendor}}</label>
                                    </div>
                                    <div class="row-group">
                                        <label class="text_detlabel">Requested Effective Date</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="ldet_label">{{RequestDetails.EffectiveDate}}</label>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row-group">
                                    <label class="text_detlabel">Request Details</label>
                                    <p class="pErrorDetails">{{RequestDetails.Details}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div style="text-align:center">
                                <button type="button" class="btn btn-cancel" data-dismiss="changeRequestConfirmModal" aria-hidden="true" ng-click="CancelPopup('changeRequestConfirmModal')">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.hfc_tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.hfc_tabs li").removeClass("active");
        $(this).addClass("active");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.hfc_tabs li").removeClass("active");
        $("ul.hfc_tabs li[rel^='" + d_activeTab + "']").addClass("active");
    });


    /* Extra class "tab_last"
       to add border to right side
       of last tab */
    $('ul.hfc_tabs li').last().addClass("tab_last");
</script>


<script>
    $('[data-toggle="collapse"]').on('click', function () {
        var $this = $(this),
                $parent = typeof $this.data('parent') !== 'undefined' ? $($this.data('parent')) : undefined;
        if ($parent === undefined) { /* Just toggle my  */
            $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
            return true;
        }

        /* Open element will be close if parent !== undefined */
        var currentIcon = $this.find('.glyphicon');
        currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
        $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

    });
</script>

