﻿<style>
    .required-error {
        border: 1px solid red !important;
        color: red !important;
    }

    .k-widget.k-tooltip-validation {
        display: none !important;
    }

    ul.hfc_tabs {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #d8d8d8;
    }

        ul.hfc_tabs li {
            margin: 0;
            cursor: pointer;
            padding: 5px 21px;
            color: #000;
            overflow: inherit;
            position: relative;
            width: 50%;
            float: left;
            font-size: 14px;
            text-transform: uppercase;
        }

            ul.hfc_tabs li.active {
                border-bottom: 1px solid #3e7d8a;
            }

    .name_desc {
        display: block;
        font-size: 14px;
        font-weight: 100;
    }

    .post-comments {
        padding-bottom: 9px;
        margin: 5px 0 5px;
    }

    .comments-nav {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .comment-meta {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .media {
        border-left: 1px dotted #000;
        border-bottom: 1px dotted #000;
        margin-bottom: 5px;
        padding-left: 10px;
    }

    .post-comments .media-heading {
        font-size: 12px;
        color: grey;
    }

    .post-comments .comment-meta a {
        font-size: 12px;
        color: grey;
        font-weight: bolder;
        margin-right: 5px;
    }

    .k-grid td, .k-grid th {
        padding: 4px;
        font-size: 13px;
    }

    .caseview_tooltiphover p {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        box-sizing: border-box;
        font-weight: 100;
    }

    #VendorAttachmentGrid1 {
        margin: 0 !important;
        height: 150px;
    }

    #ReportHistoryGrid1 .k-grid-content.k-auto-scrollable {
        height: 250px !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    .k-filter-row th, .k-grid-header th.k-header {
        padding: 4px !important;
    }

    hr {
        margin-left: -15px;
        margin-top: 10px !important;
        /*border-top: 1px solid !important;*/
    }

    .panel-body {
        padding-bottom: 0px !important;
    }

    .detail_butns {
        float: right;
        margin: 0px 35px 0 0;
    }
    /*---end kendo table style---*/
</style>
<div class="outter-wp">
    <!--<div id="loading" style="display: none;">
        <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
    </div>-->
    <div class="lead_stab" ng-show="FranciseLevelVendorMng">
        <ul class="tabs1 landing_tab">
            <li rel="tab7" ng-if="AdminLogin">
                <a href="#!/homeofficeCase">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>
            <li rel="tab7" ng-if="FranchiseLogin && FranciseLevelCase">
                <a href="#!/franchiseCase">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>
            <!--<li rel="tab7" ng-if="VendorLogin">
        <a href="#!/VendorCaseList">
            <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
        </a>
    </li>-->
            <li rel="tab7" ng-if="!FranchiseLogin">
                <a href="#!/ChangeRequest">
                    <h3><i class="fal fa-copy fa_icon fa-flip-horizontal"></i><br />Change Requests</h3>
                </a>
            </li>
            <li rel="tab7" class="activelead1" ng-if="FranciseLevelVendorMng">
                <a href="#!/Feedback">
                    <h3><i class="fas fa-microphone fa_icon"></i><br />Feedback</h3>
                </a>
            </li>
            <li rel="tab7" ng-if="FranciseLevelCase && FranciseLevelVendorMng">
                <a href="#!/Overview">
                    <h3><i class="fas fa-th-list fa_icon"></i><br />Overview</h3>
                </a>
            </li>
        </ul>
        <div class="leaddetail_butns" ng-show="Permission.EditVendorData && FranciseLevelVendorMng && !IsFeedbackClosed">
            <ul class="orderlist_box">
                <li><button type="reset" class="tooltip-bottom hfc_bgbut" data-tooltip="Cancel" ng-click="gotoFeedbackView()"><i class="far fa-times-circle fa_icon"></i></button></li>
                <li><button type="submit" class="tooltip-bottom hfc_bgbut" data-tooltip="Save" ng-click="UpdateFeedback()"><i class="far fa-check-circle fa_icon"></i></button></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="tab_container tp_content" style="margin-top:107px;">
        <div class="error" ng-if="!FranciseLevelVendorMng || !Permission.EditVendorData || IsFeedbackClosed" style="padding-top:30px;padding-left:20px;color: red;">
            You don't have permission to this page.
        </div>
        <div ng-hide="modalState.loaded">
            Loading
        </div>
        <div class="p-3" ng-show="Permission.EditVendorData && FranciseLevelVendorMng && !IsFeedbackClosed">
            <div class="row">
                <div class="col-xl-4" style="border-right: 1px solid #d8d8d8; right:-1px;">
                    <ul class="hfc_tabs row">
                        <li class="active" rel="tab1">Updates</li>
                        <li rel="tab2">Related</li>
                    </ul>
                    <div id="tab1" class="tab_content" style="margin-top: 25px;">
                        <label>Post</label>
                        <case-comments-component info="forComments"></case-comments-component>
                    </div>
                    <div id="tab2" class="tab_content" rel="tab2" style="margin-top: 25px;">
                        <div style="margin:0 15px;display:none;">
                            <h4 style="font-size:16px; margin-left:-15px;">Attachments </h4>
                            <!--<div file-upload></div>-->
                        </div>
                        <div class="table-responsive;" style="margin-top: 20px;">
                            <h4 style="font-size:16px;">Report History</h4>
                            <kendo-grid id="ReportHistoryGrid1" class="feedback_tabgrid"
                                        options="ReportDetailHistory" style="margin-bottom:20px !important;">
                            </kendo-grid>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 pr-0" style="border-left: 1px solid #d8d8d8;">
                    <form id="crm-PEreport-detail" name="formFeedback" unsaved-warning-form>
                        <div class="p-3">
                            <!--<div class="row">
                                <div class="detail_butns">
                                    <button type="reset" class="tooltip-bottom cancel_tpbut" data-tooltip="Cancel" ng-click="CancelFeedback()"><i class="far fa-times-circle fa_icon"></i></button>
                                    <button type="submit" class="tooltip-bottom save_tpbut" data-tooltip="Save" ng-click="UpdateFeedback()"><i class="far fa-check-circle fa_icon"></i></button>
                                </div>
                            </div>-->
                            <div class="leadgrid_box">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <!--<div class="row form-group">
                                            <label class="col-sm-5 col-xs-5 text_detlabel case_field">Current Status</label>
                                            <div class="col-sm-7 col-xs-7 pr-0">
                                                <label class="ldet_label">{{ReportDetails.CurrentStatus}}</label>
                                            </div>
                                        </div>-->
                                        <div class="row form-group state_field">
                                            <label class="col-sm-5 col-xs-5 text_detlabel case_field">Status</label>
                                            <div class="col-sm-7 col-xs-7">
                                                <span class="custom-dropdown custom-dropdown--white" style="width:200px;">
                                                    <select class="custom-dropdown__select custom-dropdown__select--white"
                                                            name="New_Status" id="New_Status"
                                                            ng-options="option.Id  as option.Name for option in statuslist"
                                                            ng-model="ReportDetails.Newstatus" required
                                                            ng-change="StatusChange(ReportDetails.Newstatus)">
                                                        <option value="" selected disabled>Select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row form-group state_field" ng-show="IsCloseReason">
                                            <label class="col-sm-5 col-xs-5 text_detlabel case_field">Close Reason</label>
                                            <div class="col-sm-7 col-xs-7">
                                                <span class="custom-dropdown custom-dropdown--white" style="width:200px;">
                                                    <select class="custom-dropdown__select custom-dropdown__select--white" name="Close_Reason" ng-model="ReportDetails.CloseReason" id="Close_Reason"
                                                            ng-options="option.Id  as option.Name for option in closedlist"
                                                            ng-change="CloseReasonChange(ReportDetails.CloseReason)">
                                                        <option value="" selected>Select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row form-group state_field" ng-show="IsChangeRequestSubmitted">
                                            <label class="col-sm-5 col-xs-5 text_detlabel case_field">Change Request</label>
                                            <div class="col-sm-7 col-xs-7 ">
                                                <span class="custom-dropdown custom-dropdown--white" style="width:200px;">
                                                    <select class="custom-dropdown__select custom-dropdown__select--white" name="Change_Request" id="Change_Request"
                                                            ng-model="ReportDetails.ChangeCaseId"
                                                            ng-change="ChangeRequestChange(ReportDetails.ChangeCaseId)"
                                                            ng-options="option.CaseId  as option.CaseNumber for option in ChangeRequestList">
                                                        <option value="" selected>Select</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <div class="row form-group">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Report ID </label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="text_detlabel case_field">{{ReportDetails.ReportID}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Reported By</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{ReportDetails.CreatedByName}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Owner</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{ReportDetails.OwnerId}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Franchise</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{ReportDetails.FranchiseName}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Vendor Account #</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{ReportDetails.VendorAccountNo}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Phone</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{ReportDetails.PhoneNumber | mask: '(999) 999-9999'}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Current User</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{ReportDetails.Currentuser}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Current Time</label>
                                            <div class="col-sm-6 col-xs-6 pr-0">
                                                <label class="ldet_label">{{ReportDetails.Currenttime}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="leadgrid_box">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Problem Type</label>
                                        </div>
                                        <div class="row form-group">
                                            <label class="ldet_label">{{ReportDetails.ProblemType}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Vendor</label>
                                        </div>
                                        <div class="row form-group">
                                            <label class="ldet_label">{{ReportDetails.Vendor}}</label>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-xs-6 text_detlabel case_field">Product Category</label>
                                        </div>
                                        <div class="row form-group">
                                            <label class="ldet_label">{{ReportDetails.ProductCategory}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                            <hr />
                            <div class="leadgrid_box caseview_tooltiphover">
                                <h2 style="margin-left:-15px;">Problem Details</h2>
                                <textarea class="form-control" readonly rows="8" cols="50">{{ReportDetails.ProblemDetails}}</textarea>
                            </div>
                            <div class="clearfix"></div>
                            <hr />
                            <div class="leadgrid_box">
                                <h3 style="margin-left:-15px;">Attachments</h3>
                                <kendo-grid id="VendorAttachmentGrid1"
                                            options="VendorAttachment">
                                </kendo-grid>
                            </div>
                            <hr />
                            <div class="leadgrid_box">
                                <div class="row">
                                    <h3>Report Information</h3>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <div class="row form-group">
                                            <label class="col-sm-3 col-xs-3 text_detlabel case_field">JSON</label>
                                            <div class="col-sm-5 col-xs-5 pr-0">
                                                <label class="ldet_label">{{ReportDetails.ReportID}}.json</label>
                                            </div>
                                            <label class="col-sm-2 col-xs-2 ldet_label">{{ReportDetails.UploadedDate}}</label>
                                            <label class="col-sm-2 col-xs-2 ldet_label">{{ReportDetails.FileSize}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="javascript:void();" id="PICData" style="color:#3d7d8b;" data-value={{ReportDetails.PICJson}}><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="form-group row" ng-show="ReportDetails.FieldErrorsFileSize!='0 KB'">
                                    <div class="col-sm-10">
                                        <div class="row form-group">
                                            <label class="col-sm-3 col-xs-3 text_detlabel case_field">Field Errors</label>
                                            <div class="col-sm-5 col-xs-5 pr-0">
                                                <label class="ldet_label">{{ReportDetails.ReportID}}_FieldErrors.txt</label>
                                            </div>
                                            <label class="col-sm-2 col-xs-2 ldet_label">{{ReportDetails.UploadedDate}}</label>
                                            <label class="col-sm-2 col-xs-2 ldet_label">{{ReportDetails.FieldErrorsFileSize}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="javascript:void();" id="FieldErrorsData" style="color:#3d7d8b;" data-value={{ReportDetails.FieldErrors}}><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <div class="row form-group">
                                            <label class="col-sm-3 col-xs-3 text_detlabel case_field">Created by</label>
                                            <div class="col-sm-9 col-xs-9 pr-0">
                                                <label class="ldet_label">{{ReportDetails.CreatedByName}}</label><br />
                                                <label class="ldet_label">{{ReportDetails.CreatedOn}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-3 col-xs-3 text_detlabel case_field">URL</label>
                                            <div class="col-sm-9 col-xs-9 pr-0">
                                                <label class="ldet_label">{{ReportDetails.TouchpointURL}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-3 col-xs-3 text_detlabel case_field">Version</label>
                                            <div class="col-sm-9 col-xs-9 pr-0">
                                                <label class="ldet_label">{{ReportDetails.TouchpointVersion}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-3 col-xs-3 text_detlabel case_field">Browser</label>
                                            <div class="col-sm-9 col-xs-9 pr-0">
                                                <label class="ldet_label">{{ReportDetails.BrowserDetails}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-3 col-xs-3 text_detlabel case_field">Last Modified by</label>
                                            <div class="col-sm-9 col-xs-9 pr-0">
                                                <label class="ldet_label">{{ReportDetails.UpdatedBy}}</label><br />
                                                <label class="ldet_label">{{ReportDetails.LastUpdatedOn}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.hfc_tabs li").click(function () {

        $(".tab_content").hide();
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn();

        $("ul.hfc_tabs li").removeClass("active");
        $(this).addClass("active");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");

    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function () {

        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel");
        $("#" + d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.hfc_tabs li").removeClass("active");
        $("ul.hfc_tabs li[rel^='" + d_activeTab + "']").addClass("active");
    });


    /* Extra class "tab_last"
       to add border to right side
       of last tab */
    $('ul.hfc_tabs li').last().addClass("tab_last");
</script>


<script>
    $('[data-toggle="collapse"]').on('click', function () {
        var $this = $(this),
                $parent = typeof $this.data('parent') !== 'undefined' ? $($this.data('parent')) : undefined;
        if ($parent === undefined) { /* Just toggle my  */
            $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
            return true;
        }

        /* Open element will be close if parent !== undefined */
        var currentIcon = $this.find('.glyphicon');
        currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
        $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

    });
</script>

