﻿<style>
    html,
    body {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
        overflow: hidden;
    }

    .header {
        border-width: 1px;
        border-style: solid;
        margin: 1px;
        white-space: nowrap;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        -webkit-background-clip: padding-box;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        border-color: #c5c5c5;
        background: #e8e8e8;
        text-align: center;
    }

    .card {
        margin: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: inherit;
        position: relative;
        box-shadow: #ddd 2px 2px 3px;
        touch-action: none;
        -webkit-background-clip: padding-box;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-family: Verdana,Arial,sans-serif;
        font-style: normal;
        font-size: 13px;
        border-color: #c7c7c7;
        background: #f7f7f7;
       
    }

    .status {
        background-color: #3e7d8a !important;
        width: 3px;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }
</style>
<div id="loading" style="display: none;">
    <div class="loader" style="position:absolute; margin:auto; top:0; left:0; right:0; bottom:0;background-color: white;opacity: .6; z-index: 1100;" width="100" alt="Loading"></div>
</div>
<div class="outter-wp">
    <div class="tab_container">
        <div class="lead_stab">
            <ul class="tabs1 landing_tab">
                <li rel="tab7" ng-if="AdminLogin">
                    <a href="#!/homeofficeCase">
                        <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                    </a>
                </li>
                <li rel="tab7" ng-if="FranchiseLogin && FranciseLevelCase">
                    <a href="#!/franchiseCase">
                        <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                    </a>
                </li>
                <!--<li rel="tab7" ng-if="VendorLogin">
                    <a href="#!/VendorCaseList">
                        <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                    </a>
                </li>-->
                <li rel="tab7" ng-if="!FranchiseLogin">
                    <a href="#!/ChangeRequest">
                        <h3><i class="fal fa-copy fa_icon fa-flip-horizontal"></i><br />Change Requests</h3>
                    </a>
                </li>
                <li class="activelead1" rel="tab7" ng-if="FranciseLevelVendorMng">
                    <a href="#!/Feedback">
                        <h3><i class="fas fa-microphone fa_icon"></i><br />Feedback</h3>
                    </a>
                </li>
                <li rel="tab7">
                    <a href="#!/Overview" ng-if="FranciseLevelCase && FranciseLevelVendorMng">
                        <h3><i class="fas fa-th-list fa_icon"></i><br />Overview</h3>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="tab_container tpsearch_content">
            <div class="row state_field m-2" id="MenuDiv" ng-show="FranciseLevelVendorMng && Permission.ListVendorData">
                <div class="col-sm-6 row no-margin no-padding">
                    <div class="col-sm-4 no-padding">
                        <input type="text" placeholder="Search" class="k-textbox leadsearch_tbox" id="searchBox1" ng-model="searchvalue" ng-change="KanbanSearch(searchvalue)" ng-model-options="{ debounce: 1000 }" />
                    </div>
                    <div class="col-xs-4 col-sm-4 no-padding ">
                        <input type="button" id="btnReset" ng-click="ClearKanbanSearch()" ng-model="Closed"
                               class="k-button btn btn-primary cancel_but" value="Clear All Filters">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6 row no-margin no-padding">
                    <div class="col-xs-8 col-sm-8 text-right no-padding " style="margin-top:6px;">
                        <input type="checkbox" ng-model="Closed" ng-click="Change_List(Closed)" class="option-input checkbox" style="margin-left:10px;">
                        <label class="ldet_label">Include Done / Closed</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 row m-0 p-0 text-right">
                        <div class="col-xs-10 col-sm-10 text-center no-padding">
                            <input type="button" ng-click="gotoListview()" class="k-button btn btn-primary cancel_but" value="List View">
                        </div>
                        <div class="col-xs-2 col-sm-2 text-left no-padding">
                            <button type="button" class="plus_but tooltip-bottom" style="display:none"><i class="far fa-plus-square"></i></button>
                        </div>
                        </div>
                    </div>
                </div>
            <!--kanban view-->
            <div class="row state_field" id="KanbanDiv" style="margin: 2px 0 5px 5px; overflow-y:scroll;" ng-show="FranciseLevelVendorMng && Permission.ListVendorData">
                <div class="col-sm-4" style="padding-right: 0px;padding-left: 0px;">
                    <div class="header" style="height: 30px; line-height: 30px;">
                        To do
                    </div>
                    <div class="card" ng-repeat="e in TodoKanbanDataList">
                        <div class="status"></div>
                        <ul style="line-height:20px; font-size:12px; color:#555;text-align:center">
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>Feedback</li>
                            <li style="font-weight: bold;"><a style="color:#3e7d8a; font-weight:600;" href="#!/FeedbackView/{{e.CaseId}}">{{e.ID}}</a></li>
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>{{e.Status}}</li>
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>{{e.Vendor}}</li>
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>{{e.Originator}}</li>
                            <li><span style="color:#555; font-weight:600;"></span>{{e.Created| GlobalTime}}</li>
                            <li><span style="color:#555; font-weight:600;"></span> {{e.LastModified| GlobalTime}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-right: 0px;padding-left: 0px;">
                    <div class="header" style="height: 30px; line-height: 30px;">
                        In Progress
                    </div>
                    <div class="card" ng-repeat="e in InprocessKanbanDataList">
                        <div class="status"></div>
                        <ul style="line-height:20px; font-size:12px; color:#555;text-align:center">
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>Feedback</li>
                            <li style="font-weight: bold;"><a style="color:#3e7d8a; font-weight:600;" href="#!/FeedbackView/{{e.CaseId}}">{{e.ID}}</a></li>
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>{{e.Status}}</li>
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>{{e.Vendor}}</li>
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>{{e.Originator}}</li>
                            <li><span style="color:#555; font-weight:600;"></span>{{e.Created| GlobalTime}}</li>
                            <li><span style="color:#555; font-weight:600;"></span> {{e.LastModified| GlobalTime}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-right: 0px;padding-left: 0px;">
                    <div class="header" style="height: 30px; line-height: 30px;">
                        Complete
                    </div>
                    <div class="card" ng-repeat="e in CompleteKanbanDataList">
                        <div class="status"></div>
                        <ul style="line-height:20px; font-size:12px; color:#555;text-align:center">
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>Feedback</li>
                            <li style="font-weight: bold;"><a style="color:#3e7d8a; font-weight:600;" href="#!/FeedbackView/{{e.CaseId}}">{{e.ID}}</a></li>
                            <li ng-if="e.CloseReason != null" style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>{{e.Status}} - {{e.CloseReason}}</li>
                            <li ng-if="e.CloseReason == null" style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>{{e.Status}}</li>
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>{{e.Vendor}}</li>
                            <li style="font-weight: bold;"><span style="color:#555; font-weight:600;"></span>{{e.Originator}}</li>
                            <li><span style="color:#555; font-weight:600;"></span>{{e.Created| GlobalTime}}</li>
                            <li><span style="color:#555; font-weight:600;"></span> {{e.LastModified| GlobalTime}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="error" ng-if="!FranciseLevelVendorMng || !Permission.ListVendorData" style="padding-top:30px;padding-left:20px;">
                You don't have permission to this page.
            </div>
        </div>
    </div>
</div>
