﻿<style>
    .k-pager-wrap {
        width: 100%;
        bottom: 30px;
        position: fixed;
        overflow: hidden !important;
    }

    .k-footer-template td {
        background-color: #cacaca !important;
    }

    html,
    body {
        /*margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%;  DO NOT USE !important for setting the Grid height!*/ 
        overflow: hidden;
    }

    .k-grid-content {
        position: relative;
        width: 100%;
        overflow: auto !important;
        overflow-x: auto !important;
        overflow-y: scroll !important;
        zoom: 1;
        min-height: 0;
    }

    .k-grid-header, .k-grid-footer {
        padding-right: 17px !important;
    }

    .k-grid-header {
        background: #e2e2e2;
    }

    .k-grid-footer {
        background: #cacaca;
    }

    .k-pager-info {
        padding: 0 2.333em !important;
    }

    td.k-state-selected {
        color: #fff !important;
        background-color: #3d7d8b !important;
        border-color: #3d7d8b !important;
    }

        td.k-state-selected:hover {
            color: #fff !important;
            background-color: #3d7d8b !important;
            border-color: #3d7d8b !important;
        }

    .k-list > .k-state-focused.k-state-selected {
        border-color: transparent !important;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13);
    }
</style>
<div class="outter-wp">
    <div class="lead_stab" ng-if="FranciseLevelCase && FranciseLevelVendorMng">
        <ul class="tabs1 landing_tab">
            <li rel="tab7" ng-if="AdminLogin">
                <a href="#!/homeofficeCase">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>
            <li rel="tab7" ng-if="FranchiseLogin && FranciseLevelCase">
                <a href="#!/franchiseCase">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>
            <!--<li rel="tab7" ng-if="VendorLogin">
                <a href="#!/VendorCaseList">
                    <h3><i class="far fa-warehouse-alt fa_icon"></i><br />Case Management</h3>
                </a>
            </li>-->
            <li rel="tab7" ng-if="!FranchiseLogin">
                <a href="#!/ChangeRequest">
                    <h3><i class="fal fa-copy fa_icon fa-flip-horizontal"></i><br />Change Requests</h3>
                </a>
            </li>
            <li rel="tab7" ng-if="FranciseLevelVendorMng">
                <a href="#!/Feedback">
                    <h3><i class="fas fa-microphone fa_icon"></i><br />Feedback</h3>
                </a>
            </li>
            <li class="activelead1" rel="tab7" ng-if="FranciseLevelCase || FranciseLevelVendorMng">
                <a href="#!/Overview">
                    <h3><i class="fas fa-th-list fa_icon"></i><br />Overview</h3>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="tab_container tpsearch_content">
            <div class="row state_field m-2" id="MenuDiv" ng-show="(FranciseLevelVendorMng && Permission.ListVendorData) && (FranciseLevelCase && Permission.ListCaseData)">
                <div class="col-sm-6 row m-0 p-0">
                    <div class="col-xs-4 col-sm-4 no-padding">
                        <input type="text" ng-keyup="OverviewgridSearch()" placeholder="Search" class="k-textbox leadsearch_tbox" id="BoxValue" />
                    </div>
                    <div class="col-xs-4 col-sm-4 no-padding ">
                        <input type="button" id="btnReset" ng-click="OverviewgridSearchClear()"
                               class="k-button btn btn-primary cancel_but" value="Clear All Filters">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6 row m-0 p-0">
                    <div class="col-xs-8 col-sm-8 no-padding text-right" style="margin-top:6px;">
                        <input class="option-input checkbox" name="CaselistClosedCancelled" type="checkbox" ng-model="Closed" ng-click="Change_List(Closed)">
                        <label class="ldet_label">Include Done / Closed</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 row m-0 p-0 text-right">
                        <div class="col-xs-10 col-sm-10 no-padding text-center">
                            <input type="button" ng-click="gotooverviewkanbanview()" class="k-button btn btn-primary cancel_but" style="font-size:13px !important;" value="Kanban View">

                        </div>
                        <div class="col-xs-1 col-sm-1 no-padding text-left">
                            <button type="button" style="display:none" class="plus_but tooltip-bottom"><i class="far fa-plus-square"></i></button>

                        </div>
                    </div>
                    </div>                
            </div>
            <!--Kendo Grid-->
            <div class="table-responsive" ng-show="(FranciseLevelVendorMng && Permission.ListVendorData) && (FranciseLevelCase && Permission.ListCaseData)">
                <kendo-grid id="gridOverviewSearch"  options="OverviewgridList" style="margin-bottom:36px;"></kendo-grid>
            </div>
            <div class="error" ng-if="(!FranciseLevelVendorMng || !Permission.ListVendorData) || (!FranciseLevelCase || !Permission.ListCaseData)" style="padding-top:30px;padding-left:20px;">
                You don't have permission to this page.
            </div>
        </div>
    </div>
